Repository kubernetes/kubernetes, pull requests merged in 2018-12, with the labels that each got.

#71607 Revert "Check for hostError and automaticRestart when test finishes."
  cluster/log-dump/log-dump.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/testing, size/S

#71625 Volume exec file test: added NodeSelector to pod
  test/e2e/storage/testsuites/volumes.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/S

#71538 Don't use hermetic go environment for installing godep
  hack/lib/util.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#71547 compile check to ensure cloud providers implement cloud interfaces
  pkg/cloudprovider/providers/aws/aws.go
  pkg/cloudprovider/providers/azure/azure.go
  pkg/cloudprovider/providers/cloudstack/cloudstack.go
  pkg/cloudprovider/providers/cloudstack/metadata.go
  pkg/cloudprovider/providers/fake/fake.go
  pkg/cloudprovider/providers/gce/gce.go
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/cloudprovider/providers/openstack/openstack_instances.go
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  pkg/cloudprovider/providers/openstack/openstack_routes.go
  pkg/cloudprovider/providers/ovirt/ovirt.go
  pkg/cloudprovider/providers/photon/photon.go
  pkg/cloudprovider/providers/vsphere/vsphere.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/M

#71488 Change sort function of the scheduling queue to avoid starvation
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/scheduling, size/M

#71273 only update the apiservice status if the status has changed
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#70722 Part of #68464: Enchance unit test regression for unstructured in versioning codec
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning_unstructured_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#71553 fix a bug in 'kubectl describe'
  pkg/kubectl/describe/versioned/describe.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cli, size/XS

#71278 don't use 'Fixes' for failing-tests and flakes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, priority/important-longterm, release-note-none, sig/release, size/S, tide/squash

#71174 Restore bootstrap in the background with fix to preserve kubeadm behavior
  cmd/kubelet/app/BUILD
  cmd/kubelet/app/server.go
  cmd/kubelet/app/server_bootstrap_test.go
  pkg/kubelet/certificate/bootstrap/bootstrap.go
  pkg/kubelet/certificate/kubelet.go
  pkg/kubelet/certificate/transport_test.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager_test.go
Labels: approved, area/kubeadm, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/auth, sig/cluster-lifecycle, sig/node, size/XL

#70400 Automated cherry pick of #70353: Improve Azure instance metadata handling
  pkg/cloudprovider/providers/azure/azure.go
  pkg/cloudprovider/providers/azure/azure_client.go
  pkg/cloudprovider/providers/azure/azure_fakes.go
  pkg/cloudprovider/providers/azure/azure_instance_metadata.go
  pkg/cloudprovider/providers/azure/azure_instances.go
  pkg/cloudprovider/providers/azure/azure_loadbalancer.go
  pkg/cloudprovider/providers/azure/azure_standard.go
  pkg/cloudprovider/providers/azure/azure_test.go
  pkg/cloudprovider/providers/azure/azure_vmss.go
  pkg/cloudprovider/providers/azure/azure_vmss_cache.go
  pkg/cloudprovider/providers/azure/azure_zones.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, sig/azure, size/L

#71604 Automated cherry pick of #68575: Allow nodeName updates when endPoint is updated.
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/M

#69383 Cherrypick: Update defaultbackend to v1.5
  cluster/addons/cluster-loadbalancing/glbc/default-svc-controller.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, lgtm, release-note, sig/gcp, sig/network, size/XS

#70154 Automated cherry pick of #65226: Put all the node address cloud provider retrival complex
  pkg/cloudprovider/providers/fake/fake.go
  pkg/kubelet/BUILD
  pkg/kubelet/cloud_request_manager.go
  pkg/kubelet/cloud_request_manager_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/feature, lgtm, release-note-none, sig/node, size/L

#70396 Automated cherry pick of #66304: Add error check and ignore unused variable (SA4006)
  pkg/cloudprovider/providers/vsphere/vclib/diskmanagers/vmdm.go
  pkg/cloudprovider/providers/vsphere/vsphere_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/vmware, size/XS

#70486 Automated cherry pick of #70459: fix openstack provider to handle only Cinder volumes
  pkg/cloudprovider/providers/openstack/openstack_volumes.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, sig/cloud-provider, sig/openstack, size/XS

#70497 Cherry-pick metadata-agent psp binding
  cluster/addons/metadata-agent/stackdriver/podsecuritypolicies/metadata-agent-psp-binding.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, release-note-none, sig/gcp, size/S

#71664 Update changelogs for CVE-2018-1002105
  CHANGELOG-1.10.md
  CHANGELOG-1.11.md
  CHANGELOG-1.12.md
  CHANGELOG-1.13.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, size/XS

#70638 Automated cherry pick of #70568: remove retry operation on attach/detach disk
  pkg/cloudprovider/providers/azure/azure_controller_standard.go
  pkg/cloudprovider/providers/azure/azure_controller_vmss.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/azure, size/M

#70701 Automated cherry pick of #70699: Include read access to controllerrevisions for
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/apps, sig/auth, sig/cli, size/XS

#70759 Automated cherry pick of #70678: fix slice sharing bug in cgroup manager
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/cgroup_manager_linux_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/M

#70765 Automated cherry pick of #70663: update godeps for golang.org/x/net/... to
  Godeps/Godeps.json
  staging/src/k8s.io/api/Godeps/Godeps.json
  staging/src/k8s.io/apiextensions-apiserver/Godeps/Godeps.json
  staging/src/k8s.io/apimachinery/Godeps/Godeps.json
  staging/src/k8s.io/apiserver/Godeps/Godeps.json
  staging/src/k8s.io/client-go/Godeps/Godeps.json
  staging/src/k8s.io/code-generator/Godeps/Godeps.json
  staging/src/k8s.io/kube-aggregator/Godeps/Godeps.json
  staging/src/k8s.io/metrics/Godeps/Godeps.json
  staging/src/k8s.io/sample-apiserver/Godeps/Godeps.json
  staging/src/k8s.io/sample-controller/Godeps/Godeps.json
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/html/atom/gen.go
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/const.go
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/ciphers.go
  vendor/golang.org/x/net/http2/configure_transport.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/idna/BUILD
  vendor/golang.org/x/net/idna/idna.go
  vendor/golang.org/x/net/idna/tables.go
  vendor/golang.org/x/net/idna/trieval.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/proxy/socks5.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, sig/api-machinery, size/L

#70894 Automated cherry pick of #68757: e2e/framework: update kubernetes-anywhere path
  test/e2e/framework/test_context.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/XS

#71161 Automated cherry pick of #71067: apiserver: in timeout_test separate out handler #71076: apiserver: propagate panics from REST handlers correctly
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, size/L

#71196 Automated cherry pick of #71063: fix a scheduler panic due to internal cache inconsistency
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/scheduling, size/XS

#71345 Automated cherry pick of #70696: Filter out spammy audit logs from cluster autoscaler.
  cluster/gce/gci/configure-helper.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/autoscaling, size/XS

#71443 Automated cherry pick of #70954: Upgrade Stackdriver Logging Agent addon image to 0.6-1.6.0-1
  cluster/addons/fluentd-gcp/fluentd-gcp-configmap-old.yaml
  cluster/addons/fluentd-gcp/fluentd-gcp-configmap.yaml
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, sig/cluster-lifecycle, sig/gcp, size/M

#71617 Issue 71614: Protect log message maps
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/remote/remote_runtime.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/node, size/S

#70518 Automated cherry pick of #70463: Ensure orphan public IPs deleted
  pkg/cloudprovider/providers/azure/azure_loadbalancer.go
  pkg/cloudprovider/providers/azure/azure_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/azure, size/L

#71461 Automated cherry pick of #71419: Set deadline for returning backend error
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/M

#71503 Cherry pick of #71488 upstream release 1.11
  pkg/scheduler/core/BUILD
  pkg/scheduler/core/scheduling_queue.go
  pkg/scheduler/core/scheduling_queue_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/scheduling, size/M

#71522 Use Node-Problem-Detector v0.6.0 on GCI
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/gcp, sig/node, size/S

#70928 Cherry pick of #70830: Don't compare interface values in dynamic config controller
  pkg/kubelet/kubeletconfig/BUILD
  pkg/kubelet/kubeletconfig/checkpoint/store/fakestore.go
  pkg/kubelet/kubeletconfig/controller.go
  pkg/kubelet/kubeletconfig/controller_test.go
  test/e2e_node/dynamic_kubelet_config_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/node, size/L

#71629 Bump the version of kubernetes-cni to 0.6.0
  build/BUILD
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note, sig/cluster-lifecycle, size/XS

#71325 Automated cherry pick of #71285 upstream release 1.11
  cluster/gce/manifests/kube-apiserver.manifest
  cmd/cloud-controller-manager/app/BUILD
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/controller-manager/app/serve.go
  cmd/kube-controller-manager/app/BUILD
  cmd/kube-controller-manager/app/controllermanager.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/BUILD
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/BUILD
  staging/src/k8s.io/client-go/tools/leaderelection/healthzadaptor.go
  staging/src/k8s.io/client-go/tools/leaderelection/healthzadaptor_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L

#71675 support bazel 0.20.0+ by using starlark http rules and updating rules_go
  build/root/WORKSPACE
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, sig/testing, size/S

#71499 Automated cherry pick of #71488 upstream release 1.12
  pkg/scheduler/core/BUILD
  pkg/scheduler/core/scheduling_queue.go
  pkg/scheduler/core/scheduling_queue_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/scheduling, size/M

#70608 Add new reviewers for conformance
  test/conformance/testdata/OWNERS
Labels: approved, area/conformance, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/architecture, size/XS

#71484 Collapse not shared NSG rules with multiple source ranges
  pkg/cloudprovider/providers/azure/azure_loadbalancer.go
  pkg/cloudprovider/providers/azure/azure_standard.go
  pkg/cloudprovider/providers/azure/azure_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/azure, sig/cloud-provider, size/L

#71615 Update default etcd server to 3.3.10 for kubernetes 1.14
  build/root/WORKSPACE
  cluster/gce/config-test.sh
  cluster/gce/manifests/etcd-empty-dir-cleanup.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cluster/images/etcd-empty-dir-cleanup/Makefile
  cluster/images/etcd/Makefile
  cluster/images/etcd/README.md
  cluster/images/etcd/migrate-if-needed.sh
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/constants/constants_test.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/rc.yaml
  test/e2e/apimachinery/aggregator.go
  test/e2e/framework/nodes_util.go
  test/kubemark/start-kubemark.sh
Labels: approved, area/etcd, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/testing, size/M

#71663 kubeadm: properly umount dirs in /var/lib/kubelet
  cmd/kubeadm/app/cmd/reset.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XS

#71636 remove duplicate word
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#71691 make GetStorageAccesskey func public
  pkg/cloudprovider/providers/azure/azure_blobDiskController.go
  pkg/cloudprovider/providers/azure/azure_storageaccount.go
  pkg/cloudprovider/providers/azure/azure_storageaccount_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/azure, sig/cloud-provider, size/S

#71467 kubeadm: remove kubeadm config print-defaults
  cmd/kubeadm/app/cmd/config.go
  docs/.generated_docs
  docs/man/man1/kubeadm-config-print-default.1
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/L

#71713 Plumb token and token file through rest.Config
  staging/src/k8s.io/apiserver/pkg/util/webhook/authentication.go
  staging/src/k8s.io/client-go/rest/BUILD
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/rest/config_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
  staging/src/k8s.io/client-go/transport/BUILD
  staging/src/k8s.io/client-go/transport/config.go
  staging/src/k8s.io/client-go/transport/round_trippers.go
  staging/src/k8s.io/client-go/transport/token_source.go
  staging/src/k8s.io/client-go/transport/token_source_test.go
Labels: approved, area/apiserver, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/auth, sig/node, size/L

#71680 Automated cherry pick of #71574: Check for subpath error in container status instead of pod
  test/e2e/storage/testsuites/BUILD
  test/e2e/storage/testsuites/subpath.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/testing, size/M, status/approved-for-milestone

#71686 add CNI_VERSION to build/workspace.bzl, use it to dedupe version
  build/BUILD
  build/debs/BUILD
  build/root/WORKSPACE
  build/rpms/BUILD
  build/workspace.bzl
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#71709 fix WaitForAllNodesSchedulable so it outputs logs when cluster size is small
  test/e2e/framework/util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/testing, size/XS

#71702 kubeadm: move test utilites out of /test
  cmd/kubeadm/app/cmd/alpha/BUILD
  cmd/kubeadm/app/cmd/alpha/certs_test.go
  cmd/kubeadm/app/cmd/phases/BUILD
  cmd/kubeadm/app/cmd/phases/certs_test.go
  cmd/kubeadm/app/phases/certs/BUILD
  cmd/kubeadm/app/phases/certs/certs_test.go
  cmd/kubeadm/app/phases/certs/renewal/BUILD
  cmd/kubeadm/app/phases/certs/renewal/renewal_test.go
  cmd/kubeadm/app/phases/kubeconfig/BUILD
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
  cmd/kubeadm/app/phases/upgrade/BUILD
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/BUILD
  cmd/kubeadm/app/util/certs/BUILD
  cmd/kubeadm/app/util/certs/util.go
  cmd/kubeadm/test/BUILD
  cmd/kubeadm/test/kubeconfig/BUILD
  cmd/kubeadm/test/kubeconfig/util.go
  cmd/kubeadm/test/util.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/cluster-lifecycle, size/S

#70940 cleanup pkg/ssh
  pkg/master/tunneler/BUILD
  pkg/master/tunneler/ssh.go
  pkg/master/tunneler/ssh_test.go
  pkg/ssh/ssh.go
  pkg/ssh/ssh_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/M

#71285 Automated cherry pick of #70753 #70676 #70971 upstream release 1.12
  cluster/gce/manifests/kube-apiserver.manifest
  cmd/cloud-controller-manager/app/BUILD
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/controller-manager/app/serve.go
  cmd/kube-controller-manager/app/BUILD
  cmd/kube-controller-manager/app/controllermanager.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/BUILD
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/BUILD
  staging/src/k8s.io/client-go/tools/leaderelection/healthzadaptor.go
  staging/src/k8s.io/client-go/tools/leaderelection/healthzadaptor_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cloud-provider, sig/cluster-lifecycle, size/L

#68753 Make SSH path handling consistent across providers during e2e
  test/e2e/framework/util.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note-action-required, sig/testing, size/M

#71724 Automated cherry pick of #70898: ensure scheduler preemptor behaves in an efficient/correct #71281: add an e2e test to verify preemption running path
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/scheduling_queue.go
  pkg/scheduler/core/scheduling_queue_test.go
  pkg/scheduler/factory/factory.go
  pkg/scheduler/scheduler.go
  test/e2e/scheduling/BUILD
  test/e2e/scheduling/preemption.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/scheduling, sig/testing, size/L

#71634 Allow to build docker images offline (do not always use `docker build --pull`)
  build/lib/release.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note-none, sig/release, size/S

#71736 Fix Azure node's internal IP address
  pkg/cloudprovider/providers/azure/azure_instances.go
  pkg/cloudprovider/providers/azure/azure_instances_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/azure, sig/cloud-provider, size/L

#71744 Fixes nil pointer panic on autoscaling types conversion
  pkg/apis/autoscaling/v2beta1/BUILD
  pkg/apis/autoscaling/v2beta1/conversion.go
  pkg/apis/autoscaling/v2beta1/conversion_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/autoscaling, size/M

#71676 Minor copy edits to the 1.13 changelog
  CHANGELOG-1.13.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/release, size/S

#59525 Use start times kubelet startup
  pkg/kubelet/server/stats/BUILD
  pkg/kubelet/server/stats/summary.go
  pkg/kubelet/server/stats/summary_sys_containers.go
  pkg/kubelet/server/stats/summary_test.go
  pkg/kubelet/util/BUILD
  pkg/kubelet/util/boottime_util_darwin.go
  pkg/kubelet/util/boottime_util_linux.go
  pkg/kubelet/util/util_unsupported.go
  pkg/kubelet/util/util_windows.go
  test/e2e_node/node_problem_detector_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/node, sig/testing, sig/windows, size/L

#71687 Update a comment in cadvisor boot function
  pkg/kubelet/cadvisor/cadvisor_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#71722 Avoid copying PriorityConfig and SchedulerExtender structs for every node while running priority functions
  pkg/scheduler/core/generic_scheduler.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/M

#71726 Create managed instance groups for nodes in parallel
  cluster/gce/util.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/gcp, size/XS

#71740 kubeadm: cleanup upgrade from no-TLS etcd to TLS etcd
  cmd/kubeadm/app/phases/upgrade/compute_test.go
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/etcd/etcd.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/cluster-lifecycle, size/M

#71762 Add oomichi to test/OWNERS
  test/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#71123 add myself to reviewers for psp
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/auth, size/XS

#71771 Automated cherry pick of #71744: fixes autoscaling types conversion
  pkg/apis/autoscaling/v2beta1/BUILD
  pkg/apis/autoscaling/v2beta1/conversion.go
  pkg/apis/autoscaling/v2beta1/conversion_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/autoscaling, size/M

#71670 Automated cherry pick of #71488 upstream release 1.13
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/scheduling, size/M

#71243 We do not pass device path to unmount device
  test/e2e/storage/detach_mounted.go
  test/e2e/testing-manifests/flexvolume/attachable-with-long-mount
  test/e2e/testing-manifests/flexvolume/dummy-attachable
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, sig/storage, sig/testing, size/XS

#71380 aggregator: add APIService unavailability metrics
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/metrics.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, size/L

#71759 Add Jordan Liggitt as a top-level owner
  OWNERS
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/architecture, size/XS

#71657 make informer-gen respect the resourceName tag
  staging/src/BUILD
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/BUILD
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/client_generator.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/BUILD
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/generic.go
  staging/src/k8s.io/code-generator/pkg/namer/BUILD
  staging/src/k8s.io/code-generator/pkg/namer/tag-override.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/M

#71770 Automated cherry pick of #71744: fixes autoscaling types conversion
  pkg/apis/autoscaling/v2beta1/BUILD
  pkg/apis/autoscaling/v2beta1/conversion.go
  pkg/apis/autoscaling/v2beta1/conversion_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/autoscaling, size/M

#67511 Add debugging info in pv/pvc protection e2e tests
  test/e2e/storage/pv_protection.go
  test/e2e/storage/pvc_protection.go
Labels: approved, cncf-cla: yes, lgtm, release-note-none, sig/storage, sig/testing, size/XS

#71755 Allow kube-scheduler to tolerate cluster auth config lookup failure
  cmd/kube-scheduler/app/options/options.go
  staging/src/k8s.io/apiserver/pkg/server/options/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
  staging/src/k8s.io/apiserver/pkg/server/options/authentication_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/scheduling, size/L

#71803 Use kubeconfig flag instead of kubeconfig-dir in kubeadm init phase bootstrap-token
  cmd/kubeadm/app/cmd/phases/bootstraptoken.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cluster-lifecycle, size/XS

#71778 Automated cherry pick of #71736: Fix Azure node's internal IP address
  pkg/cloudprovider/providers/azure/azure_instances.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/azure, size/S

#68275 nits in e2e test
  test/e2e/storage/vsphere/config.go
  test/e2e/storage/vsphere/pvc_label_selector.go
Labels: approved, cncf-cla: yes, lgtm, release-note-none, sig/testing, size/S

#70983 Delete some redundant code
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/XS

#71734 fix link in CHANGELOG-1.13.md
  CHANGELOG-1.13.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/release, size/XS

#70092 Removes unnecessary SELinuxOptions from test case
  test/e2e/common/runtime.go
Labels: approved, area/conformance, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, sig/testing, size/XS

#69803 Add OpenAPI scheme methods for metav1.Duration
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/duration.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, release-note-none, sig/api-machinery, size/S

#71841 kubeadm: remove unused func runCmdPhase
  cmd/kubeadm/app/cmd/phases/BUILD
  cmd/kubeadm/app/cmd/phases/util.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/M

#71684 Fix typos like limitting
  pkg/controller/podautoscaler/BUILD
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/rate_limiters.go
  pkg/kubectl/cmd/config/config.go
  staging/src/k8s.io/client-go/util/workqueue/BUILD
  staging/src/k8s.io/client-go/util/workqueue/default_rate_limiters.go
  staging/src/k8s.io/client-go/util/workqueue/rate_limiting_queue.go
  staging/src/k8s.io/client-go/util/workqueue/rate_limiting_queue_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/apps, sig/autoscaling, sig/cli, size/XS

#71785 aggregator: fix available condition transition time
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#71824 Automated cherry pick of #71722 upstream release 1.13
  pkg/scheduler/core/generic_scheduler.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/scheduling, size/M

#71601 Surface help for insecure ports to explain how to disable
  staging/src/k8s.io/apiserver/pkg/server/options/deprecated_insecure_serving.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/XS

#71603 Automated cherry pick of #71601: Surface help for insecure ports to explain how to disable
  staging/src/k8s.io/apiserver/pkg/server/options/deprecated_insecure_serving.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/XS

#71844 Add failed and successful history limits to cronjob describe
  pkg/kubectl/describe/versioned/describe.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/cli, size/S

#71820 Automated cherry pick of #71805: Fix sort-by regression
  pkg/kubectl/cmd/get/get.go
  pkg/kubectl/cmd/get/sorter.go
  pkg/kubectl/cmd/get/sorter_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cli, size/L

#71573 Correctly Clear conntrack entry on endpoint changes when using nodeport
  pkg/proxy/iptables/proxier.go
  pkg/proxy/service.go
  pkg/proxy/types.go
  pkg/util/conntrack/conntrack.go
  pkg/util/conntrack/conntrack_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/network, size/M

#71842 Update Cluster Autoscaler version in gce manifests to 1.13.1
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/autoscaling, sig/cluster-lifecycle, size/XS

#71854 apply: fix detection of non-dry-run enabled servers
  pkg/kubectl/cmd/apply/apply.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cli, size/S

#71777 Automated cherry pick of #71736: Fix Azure node's internal IP address
  pkg/cloudprovider/providers/azure/azure_instances.go
  pkg/cloudprovider/providers/azure/azure_instances_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/azure, sig/cloud-provider, size/L

#71543 [e2e] Bump firewall test timeout to something more reasonable
  test/e2e/network/firewall.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#71792 Ensure all new API versions of resources default to DeleteDependents
  pkg/registry/apps/daemonset/strategy.go
  pkg/registry/apps/daemonset/strategy_test.go
  pkg/registry/apps/deployment/strategy.go
  pkg/registry/apps/deployment/strategy_test.go
  pkg/registry/apps/replicaset/strategy.go
  pkg/registry/apps/replicaset/strategy_test.go
  pkg/registry/apps/statefulset/strategy.go
  pkg/registry/apps/statefulset/strategy_test.go
  pkg/registry/batch/cronjob/BUILD
  pkg/registry/batch/cronjob/strategy.go
  pkg/registry/batch/cronjob/strategy_test.go
  pkg/registry/batch/job/BUILD
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
  pkg/registry/core/replicationcontroller/BUILD
  pkg/registry/core/replicationcontroller/strategy.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/L

#57057 Reschedule with backoff
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory/factory.go
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/util/BUILD
  pkg/scheduler/util/backoff_utils.go
  pkg/scheduler/util/backoff_utils_test.go
  pkg/scheduler/util/clock.go
  pkg/scheduler/util/heap.go
  pkg/scheduler/util/heap_test.go
Labels: approved, cncf-cla: yes, lgtm, release-note, sig/scheduling, size/XXL

#71828 kubeadm: fixed cleanup upgrade from no-TLS etcd to TLS etcd
  cmd/kubeadm/app/phases/upgrade/compute_test.go
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/etcd/etcd.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M

#71868 Include BGPConfiguration
  cluster/addons/calico-policy-controller/bgpconfigurations-crd.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, priority/important-soon, release-note, sig/cluster-lifecycle, size/S

#71774 Fix labelname in nodelocaldns yaml
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS

#71718 Automated cherry pick of #71522: Use Node-Problem-Detector v0.6.0
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/node, size/S

#71882 Include BGPConfiguration
  cluster/addons/calico-policy-controller/bgpconfigurations-crd.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cluster-lifecycle, size/S

#70172 Support more volume types in stats/summary endpoint including configm…
  pkg/volume/configmap/configmap.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/projected/projected.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note-none, sig/storage, size/M

#70836 Add WanLinghao as a review of serviceaccount
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/auth, size/XS

#71895 Support IPVS graceful termination when deleting a service
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/network, size/L

#71258 kubeadm: improve hostport parsing error messages
  cmd/kubeadm/app/util/endpoint.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XS

#71834 [kubeproxy/ipvs] New sysctls to improve pod termination
  pkg/proxy/ipvs/proxier.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/network, size/S

#71602 [1.13.1] Automated cherry pick of #71601: Surface help for insecure ports to explain how to disable
  staging/src/k8s.io/apiserver/pkg/server/options/deprecated_insecure_serving.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/XS

#71776 Automated cherry pick of #71736: Fix Azure node's internal IP address
  pkg/cloudprovider/providers/azure/azure_instances.go
  pkg/cloudprovider/providers/azure/azure_instances_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/azure, sig/cloud-provider, size/L

#71890 replace proxy with kubelet at kubeadm v1beta1 docs
  cmd/kubeadm/app/apis/kubeadm/v1beta1/doc.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#71586 Automated cherry pick of #70392: Lookup PX api port from k8s service
  pkg/volume/portworx/portworx.go
  pkg/volume/portworx/portworx_util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/storage, size/L

#71717 Automated cherry pick of #71522: Use Node-Problem-Detector v0.6.0
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/node, size/S

#68652 Automated cherry pick of #68642: remove submit-queue from readme
  README.md
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/testing, size/XS

#71286 Default pv controller and scheduler to immediate mode if volume binding mode is nil
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/predicates/predicates_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/storage, size/M

#71496 Automated cherry pick of #71495: fix detch azure disk issue by clean vm cache
  pkg/cloudprovider/providers/azure/azure_controller_standard.go
  pkg/cloudprovider/providers/azure/azure_controller_vmss.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/azure, size/S

#71779 Automated cherry pick of #71736: Fix Azure node's internal IP address
  pkg/cloudprovider/providers/azure/azure_instances.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/azure, size/S

#71035 Fixes NodePort in ipv6 with proxy-mode=ipvs
  pkg/proxy/ipvs/netlink_linux.go
  pkg/proxy/ipvs/netlink_unsupported.go
  pkg/proxy/ipvs/proxier.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/network, size/S

#71681 Automated cherry pick of #70756: Add e2e test for file exec #71625: Volume exec file test: added NodeSelector to pod
  test/e2e/storage/drivers/base.go
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/L

#71817 Automated cherry pick of #71803: Use kubeconfig flag instead of kubeconfig-dir in kubeadm init
  cmd/kubeadm/app/cmd/phases/bootstraptoken.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#71857 plumb bearer token and token file for e2e
  test/e2e/framework/test_context.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/auth, size/XS

#71899 Revert "Collapse not shared NSG rules with multiple source ranges"
  pkg/cloudprovider/providers/azure/azure_loadbalancer.go
  pkg/cloudprovider/providers/azure/azure_standard.go
  pkg/cloudprovider/providers/azure/azure_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/azure, sig/cloud-provider, size/L

#71881 Automated cherry pick of #71515 upstream release 1.13
  pkg/proxy/ipvs/graceful_termination.go
  pkg/proxy/ipvs/proxier.go
Labels: approved, area/ipvs, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/network, size/S

#71849 Adding 5000 nodes test to scheduler benchmark
  test/integration/scheduler_perf/scheduler_bench_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/XS

#71883 Include BGPConfiguration
  cluster/addons/calico-policy-controller/bgpconfigurations-crd.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cluster-lifecycle, size/S

#71884 Automated cherry pick of #70898: ensure scheduler preemptor behaves in an efficient/correct #71281: add an e2e test to verify preemption running path
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/scheduling_queue.go
  pkg/scheduler/core/scheduling_queue_test.go
  pkg/scheduler/factory/factory.go
  pkg/scheduler/scheduler.go
  test/e2e/scheduling/BUILD
  test/e2e/scheduling/preemption.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/scheduling, size/L

#71885 Create /var/lib/etcd with 0700
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/etcd/local_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/S

#71902 fix PR-template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/contributor-experience, size/XS

#71848 Automated cherry pick of #71515 upstream release 1.11
  pkg/proxy/ipvs/graceful_termination.go
  pkg/proxy/ipvs/proxier.go
Labels: approved, area/ipvs, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/network, size/S

#71542 Ensure all response object modification happens in one place
  staging/src/k8s.io/apimachinery/pkg/api/meta/help.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L

#71720 Automated cherry pick of #71522: Use Node-Problem-Detector v0.6.0
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/node, size/S

#71620 Automated cherry pick of #71145: Fix bug with volume getting marked as not in-use with pending #71429: Fix flake with e2e test that checks detach while mount in
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/volume_manager.go
  test/e2e/storage/BUILD
  test/e2e/storage/detach_mounted.go
  test/e2e/testing-manifests/flexvolume/attachable-with-long-format
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/storage, size/L

#71911 Only handle addresses of the own ip family
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, size/L

#71944 Automated cherry pick of #71941: add VMSize info in attach/detach azure disk
  pkg/cloudprovider/providers/azure/azure_controller_standard.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/azure, sig/cloud-provider, size/XS

#71941 fix issue: vm sku restriction policy does not work in azure disk attach/detach
  pkg/cloudprovider/providers/azure/azure_controller_standard.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/azure, sig/cloud-provider, size/XS

#69207 Typo in changelog 1.12
  CHANGELOG-1.12.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/release, size/XS

#71802 Set delete propagation policy to background when removing jobs and its dependents
  pkg/controller/cronjob/injection.go
  test/e2e/apps/cronjob.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/apps, sig/testing, size/S

#71931 Automated cherry pick of #71551: activate unschedulable pods only if the node became more
  pkg/scheduler/factory/BUILD
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/scheduling, size/L

#71923 diff: Fix overlapping filenames
  hack/testdata/diff/configmap.yaml
  hack/testdata/diff/deployment.yaml
  hack/testdata/diff/pod.yaml
  hack/testdata/diff/secret.yaml
  pkg/kubectl/cmd/diff/diff.go
  test/cmd/diff.sh
  test/cmd/legacy-script.sh
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cli, sig/testing, size/M

#71916 Automated cherry pick of #71854: apply: fix detection of non-dry-run enabled servers
  pkg/kubectl/cmd/apply/apply.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cli, size/S

#71918 Automated cherry pick of #71868: Include BGPConfiguration
  cluster/addons/calico-policy-controller/bgpconfigurations-crd.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, sig/network, size/S

#71723 Automated cherry pick of #71713, #71857: Plumb token and token file through rest.Config
  staging/src/k8s.io/apiserver/pkg/util/webhook/authentication.go
  staging/src/k8s.io/client-go/rest/BUILD
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/rest/config_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
  staging/src/k8s.io/client-go/transport/BUILD
  staging/src/k8s.io/client-go/transport/config.go
  staging/src/k8s.io/client-go/transport/round_trippers.go
  staging/src/k8s.io/client-go/transport/token_source.go
  staging/src/k8s.io/client-go/transport/token_source_test.go
  test/e2e/framework/test_context.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/L

#71974 diff: Make filename cross-platform compatible
  pkg/kubectl/cmd/diff/diff.go
  test/cmd/diff.sh
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cli, sig/testing, size/S

#71932 Automated cherry pick of #71551: activate unschedulable pods only if the node became more
  pkg/scheduler/core/scheduling_queue.go
  pkg/scheduler/factory/BUILD
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/factory_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/scheduling, size/L

#71806 Automated cherry pick of #71755: Allow kube-scheduler to tolerate cluster auth config lookup
  cmd/kube-scheduler/app/options/options.go
  staging/src/k8s.io/apiserver/pkg/server/options/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
  staging/src/k8s.io/apiserver/pkg/server/options/authentication_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, sig/scheduling, size/L

#71942 Automated cherry pick of #71941: add VMSize info in attach/detach azure disk
  pkg/cloudprovider/providers/azure/azure_controller_standard.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/azure, size/XS

#71943 Automated cherry pick of #71941: add VMSize info in attach/detach azure disk
  pkg/cloudprovider/providers/azure/azure_controller_standard.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/azure, sig/cloud-provider, size/XS

#71954 added monotek to fluentd-elasticsearch OWNERS file
  cluster/addons/fluentd-elasticsearch/OWNERS
Labels: approved, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/instrumentation, size/XS

#71933 Automated cherry pick of #71551: activate unschedulable pods only if the node became more
  pkg/scheduler/core/scheduling_queue.go
  pkg/scheduler/factory/BUILD
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/factory_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, sig/scheduling, size/L

#71981 Automated cherry pick of #71980: Disable proxy to loopback and linklocal
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
  pkg/registry/core/node/BUILD
  pkg/registry/core/node/strategy.go
  pkg/registry/core/pod/BUILD
  pkg/registry/core/pod/strategy.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/network, size/L

#71955 Automated cherry pick of #71923: diff: Fix overlapping filenames
  hack/testdata/diff/configmap.yaml
  hack/testdata/diff/deployment.yaml
  hack/testdata/diff/pod.yaml
  hack/testdata/diff/secret.yaml
  pkg/kubectl/cmd/diff/diff.go
  test/cmd/diff.sh
  test/cmd/legacy-script.sh
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cli, sig/testing, size/M

#71976 Update README.md
  cluster/addons/dns/nodelocaldns/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS

#71982 Automated cherry pick of #71980: Disable proxy to loopback and linklocal
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
  pkg/registry/core/node/BUILD
  pkg/registry/core/node/strategy.go
  pkg/registry/core/pod/BUILD
  pkg/registry/core/pod/strategy.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/network, size/L
