Repository kubernetes/kubernetes, pull requests merged in 2019-12, with the labels that each got.

#85543 Make elasticsearch discovery supports IPv6
  cluster/addons/fluentd-elasticsearch/es-image/BUILD
  cluster/addons/fluentd-elasticsearch/es-image/elasticsearch_logging_discovery.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cluster-lifecycle, sig/instrumentation, size/XS

#85675 Fix AWS eventual consistency of AttachDisk
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cloud-provider, sig/storage, size/M

#85772 Automated cherry pick of #85610: Bump Cluster Autoscaler version to 1.17.0
  cluster/addons/rbac/cluster-autoscaler/cluster-autoscaler-rbac.yaml
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/autoscaling, sig/cluster-lifecycle, size/S

#85629 fix broken link:https://kubernetes.io/docs/concepts/overview/object-m…
  CHANGELOG-1.13.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, sig/release, size/XS

#85717 Setting kubemark node labels
  test/kubemark/gce/util.sh
  test/kubemark/resources/hollow-node_template.yaml
  test/kubemark/skeleton/util.sh
  test/kubemark/start-kubemark.sh
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scalability, sig/testing, size/S

#85705 Fix iscsi refcounter in the case of no Block iscsi volumes
  pkg/volume/iscsi/BUILD
  pkg/volume/iscsi/iscsi_util.go
  pkg/volume/iscsi/iscsi_util_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/storage, size/L

#85350 Enable mutation detection in test-cmd/test-integration/test-e2e-node, improve memory impact
  hack/make-rules/test-cmd.sh
  hack/make-rules/test-e2e-node.sh
  hack/make-rules/test-integration.sh
  staging/src/k8s.io/client-go/tools/cache/mutation_detector.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/auth, sig/network, sig/testing, size/M

#85801 Automated cherry pick of #85350: Enable mutation detection
  hack/make-rules/test-cmd.sh
  hack/make-rules/test-e2e-node.sh
  hack/make-rules/test-integration.sh
  staging/src/k8s.io/client-go/tools/cache/mutation_detector.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#85760 Log error when writing checkpoint fails
  pkg/kubelet/cm/devicemanager/manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/node, size/XS

#85732 1.17: apiextensions: filter required nullable to workaround kubectl validation
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/v2/conversion.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/v2/conversion_test.go
Labels: approved, area/custom-resources, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/L

#85396 Add containerd windows support on GCE for test.
  build/dependencies.yaml
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/util.sh
  cluster/gce/windows/common.psm1
  cluster/gce/windows/configure.ps1
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/node, sig/windows, size/L

#85574 kubectl/drain: Add context support
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/drain/drain_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/cli, size/M

#85177 Automated cherry pick of #85158: fix vmss dirty cache issue
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/S

#85189 Automated cherry pick of #84802: Ensure health probes are created for local traffic policy UDP
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/M

#85808 Update number of scheduler perf benchmarks to be more representative
  test/integration/scheduler_perf/scheduler_bench_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/testing, size/M

#85817 kubeadm: set cluster name on the controller manager
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cluster-lifecycle, size/M

#85110 Automated cherry pick of #84917: fix race condition when attach/delete disk
  pkg/cloudprovider/providers/azure/azure_controller_common.go
  pkg/cloudprovider/providers/azure/azure_managedDiskController.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/S

#85327 cherry pick of #84802: Ensure health probes are created for local traffic policy UDP
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/XS

#85745 kubeadm: default etcd address based on the IP family
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
  cmd/kubeadm/app/phases/etcd/BUILD
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/etcd/local_test.go
  cmd/kubeadm/app/util/staticpod/utils.go
  cmd/kubeadm/app/util/staticpod/utils_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/cluster-lifecycle, size/L

#85810 Ensure webhook backend requests are not artificially rate-limited
  staging/src/k8s.io/apiserver/pkg/util/webhook/client.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go
  test/integration/apiserver/admissionwebhook/admission_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/testing, size/S

#85096 Automated cherry pick of #84523: retain corefile when migration fails
  cmd/kubeadm/app/phases/addons/dns/dns.go
  cmd/kubeadm/app/phases/upgrade/preflight.go
  cmd/kubeadm/app/util/apiclient/idempotency.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M

#85292 Automated cherry pick of #85156: Remove an infinite poll
  cmd/kubeadm/app/discovery/token/BUILD
  cmd/kubeadm/app/discovery/token/token.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M

#85733 1.16: apiextensions: filter required nullable to workaround kubectl validation
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/v2/conversion.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/v2/conversion_test.go
Labels: approved, area/custom-resources, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/L

#85104 Automated cherry pick of #75792: Updated regional PD minimum size; changed regional PD
  test/e2e/storage/regional_pd.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/M

#85178 Automated cherry pick of #85158: fix vmss dirty cache issue
  pkg/cloudprovider/providers/azure/azure_controller_vmss.go
  pkg/cloudprovider/providers/azure/azure_vmss.go
  pkg/cloudprovider/providers/azure/azure_vmss_cache.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/S

#85811 Automated cherry pick of #85810: Ensure webhook backend requests are not artificially
  staging/src/k8s.io/apiserver/pkg/util/webhook/client.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go
  test/integration/apiserver/admissionwebhook/admission_test.go
Labels: approved, area/apiserver, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, sig/testing, size/S

#85363 Add defaulting and validation logic for EncryptionConfiguration type.
  hack/.golint_failures
  staging/src/k8s.io/apiserver/pkg/apis/config/BUILD
  staging/src/k8s.io/apiserver/pkg/apis/config/types.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/BUILD
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/defaults_test.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/register.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/config/validation/BUILD
  staging/src/k8s.io/apiserver/pkg/apis/config/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/config/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/aes/invalid-key.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/aes/no-key.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/kms/negative-timeout.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/kms/no-endpoint.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/kms/zero-timeout.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/kms/valid-timeout.yaml
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/envelope.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/envelope_test.go
  vendor/modules.txt
Labels: approved, area/apiserver, cncf-cla: yes, kind/api-change, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/auth, sig/instrumentation, size/XXL

#85475 upgrade api-version to fix azure file AuthorizationFailure
  pkg/volume/azure_dd/BUILD
  pkg/volume/azure_dd/azure_dd.go
  pkg/volume/azure_dd/azure_provision.go
  pkg/volume/azure_file/BUILD
  pkg/volume/azure_file/azure_provision.go
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_blobDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_client.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storage.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storage_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storageaccount.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storageaccount_test.go
  vendor/BUILD
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/BUILD
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/blobcontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/blobservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/fileservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/fileshares.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/managementpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/version.go
  vendor/modules.txt
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/S

#85688 Reduce unnecessary Set in updateAllocatedDevices
  pkg/kubelet/cm/devicemanager/manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/XS

#85680 Refactor custom collector unit test
  staging/src/k8s.io/component-base/metrics/BUILD
  staging/src/k8s.io/component-base/metrics/collector_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/L

#85714 Add API for clear descriptor status
  staging/src/k8s.io/component-base/metrics/BUILD
  staging/src/k8s.io/component-base/metrics/collector.go
  staging/src/k8s.io/component-base/metrics/desc.go
  staging/src/k8s.io/component-base/metrics/desc_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/L

#85412 Kubeadm: upgrade apply & upgrade node always overwrite Kubeadm-env file
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cluster-lifecycle, size/S

#85825 Use GCS bucket for crictl on windows.
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/platform/gce, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/windows, size/S

#83289 fix unit test in hostport_manager_test.go
  pkg/kubelet/dockershim/network/hostport/hostport_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, ok-to-test, priority/backlog, release-note-none, sig/network, sig/node, size/M

#82720 add err handling in gce/gci
  cluster/gce/gci/configure_helper_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, size/XS

#85781 Use expect equal test e2e upgrades
  test/e2e/upgrades/cassandra.go
  test/e2e/upgrades/etcd.go
  test/e2e/upgrades/mysql.go
  test/e2e/upgrades/nvidia-gpu.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/auth, sig/cloud-provider, sig/testing, size/S

#85697 Automated cherry pick of #85115: remove disk locks per vm
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/L

#85749 Fix golint failures of test/e2e_node/remote
  hack/.golint_failures
  test/e2e_node/remote/node_conformance.go
  test/e2e_node/remote/node_e2e.go
  test/e2e_node/remote/remote.go
  test/e2e_node/remote/ssh.go
  test/e2e_node/runner/remote/run_remote.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/M

#84614 kubelet: add certificate rotation error metric
  pkg/kubelet/certificate/kubelet.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, area/kubelet, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/auth, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/node, sig/release, size/M

#85820 Start and stop the scheduling queue consistently
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/L

#84788 Replace nginx image with agnhost in sig-node pods tests
  test/e2e/node/pods.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/S

#85729 Cleanup metav1 conversions
  staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/register.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/BUILD
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/conversion.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/conversion_test.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/register.go
  staging/src/k8s.io/apimachinery/pkg/conversion/converter.go
  staging/src/k8s.io/apimachinery/pkg/runtime/conversion.go
  staging/src/k8s.io/apimachinery/pkg/runtime/embedded.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L

#85847 Deflake pod readiness e2e
  test/e2e/common/pods.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/testing, size/S

#85849 Deflake delete grace period e2e
  test/e2e/node/pods.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/node, sig/testing, size/M

#85858 Revert "Fix shellcheck failure in log-dump/log-dump.sh"
  cluster/log-dump/log-dump.sh
  hack/.shellcheck_failures
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/scalability, size/M

#85293 Included FSType in CSI volumes
  staging/src/k8s.io/kubectl/pkg/describe/versioned/describe.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cli, sig/storage, size/XS

#85793 Switch addon resizer to 1.8.7
  cluster/addons/cluster-monitoring/google/heapster-controller.yaml
  cluster/addons/cluster-monitoring/googleinfluxdb/heapster-controller-combined.yaml
  cluster/addons/cluster-monitoring/heapster-rbac.yaml
  cluster/addons/cluster-monitoring/influxdb/heapster-controller.yaml
  cluster/addons/cluster-monitoring/stackdriver/heapster-controller.yaml
  cluster/addons/cluster-monitoring/standalone/heapster-controller.yaml
  cluster/addons/metrics-server/metrics-server-deployment.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/instrumentation, size/S

#85046 Fix golint issues in pkg/registry/.../storage
  hack/.golint_failures
  pkg/registry/certificates/certificates/storage/storage.go
  pkg/registry/core/endpoint/storage/storage.go
  pkg/registry/core/event/storage/storage.go
  pkg/registry/core/limitrange/storage/storage.go
  pkg/registry/core/node/storage/storage.go
  pkg/registry/core/persistentvolume/storage/storage.go
  pkg/registry/core/persistentvolumeclaim/storage/storage.go
  pkg/registry/core/podtemplate/storage/storage.go
  pkg/registry/core/resourcequota/storage/storage.go
  pkg/registry/networking/networkpolicy/storage/storage.go
  pkg/registry/policy/poddisruptionbudget/storage/storage.go
  pkg/registry/settings/podpreset/storage/storage.go
  pkg/registry/storage/storageclass/storage/storage.go
Labels: approved, area/code-organization, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/auth, sig/testing, size/M

#85800 fix: replace TrimLeft with TrimPrefix and TrimRight with TrimSuffix
  staging/src/k8s.io/apiserver/pkg/audit/policy/checker.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, size/XS

#85071 Fix golint issues in pkg/apis/batch/validation
  hack/.golint_failures
  pkg/apis/batch/validation/validation.go
Labels: approved, area/code-organization, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, sig/testing, size/S

#85581 Utilize Context with timeout in GCE operations
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_routes.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/cloud-provider, size/S

#85639 kubeadm: Group centric component configs
  cmd/kubeadm/app/apis/kubeadm/BUILD
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/validation/BUILD
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/BUILD
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/config_test.go
  cmd/kubeadm/app/cmd/phases/init/BUILD
  cmd/kubeadm/app/cmd/phases/init/kubelet.go
  cmd/kubeadm/app/cmd/phases/init/uploadconfig.go
  cmd/kubeadm/app/componentconfigs/BUILD
  cmd/kubeadm/app/componentconfigs/config.go
  cmd/kubeadm/app/componentconfigs/config_test.go
  cmd/kubeadm/app/componentconfigs/configset.go
  cmd/kubeadm/app/componentconfigs/configset_test.go
  cmd/kubeadm/app/componentconfigs/defaults.go
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/componentconfigs/kubelet_test.go
  cmd/kubeadm/app/componentconfigs/kubeproxy.go
  cmd/kubeadm/app/componentconfigs/kubeproxy_test.go
  cmd/kubeadm/app/componentconfigs/registrations.go
  cmd/kubeadm/app/componentconfigs/scheme.go
  cmd/kubeadm/app/componentconfigs/utils.go
  cmd/kubeadm/app/phases/addons/proxy/BUILD
  cmd/kubeadm/app/phases/addons/proxy/proxy.go
  cmd/kubeadm/app/phases/addons/proxy/proxy_test.go
  cmd/kubeadm/app/phases/kubelet/BUILD
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/phases/kubelet/config_test.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig_test.go
  cmd/kubeadm/app/util/config/BUILD
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/config/cluster_test.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubeadm/app/util/config/joinconfiguration.go
  cmd/kubeadm/app/util/config/strict/BUILD
  cmd/kubeadm/app/util/config/strict/strict_test.go
  cmd/kubeadm/app/util/marshal.go
  cmd/kubeadm/app/util/marshal_test.go
  cmd/kubeadm/test/cmd/init_test.go
  cmd/kubeadm/test/cmd/testdata/init/current-component-config.yaml
  cmd/kubeadm/test/cmd/testdata/init/old-component-config.yaml
Labels: approved, area/kubeadm, cncf-cla: yes, kind/design, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/XXL

#83614 update CRI(LinuxContainerResources ) to support hugepages
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/XXL

#85470 add pod info when failing to add pod to unschedulableQ
  pkg/scheduler/internal/queue/scheduling_queue.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/scheduling, size/S

#85862 Partially avoid LabelSelectorAsSelector overhead in anti-pod affinity calculation
  pkg/scheduler/algorithm/predicates/metadata.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, size/S

#85744 Fix golint issues in test/e2e/lifecycle/
  hack/.golint_failures
  test/e2e/lifecycle/bootstrap/bootstrap_signer.go
  test/e2e/lifecycle/bootstrap/bootstrap_token_cleaner.go
  test/e2e/lifecycle/bootstrap/util.go
  test/integration/auth/bootstraptoken_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/testing, size/M

#85844 add PredicateFunc for configmap
  pkg/registry/core/configmap/storage/storage.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#85770 use ExpectEqual of framework in test/e2e/storage
  test/e2e/storage/external/BUILD
  test/e2e/storage/external/external.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/pd.go
  test/e2e/storage/persistent_volumes-gce.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/utils/utils.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/vsphere/persistent_volumes-vsphere.go
  test/e2e/storage/vsphere/pv_reclaimpolicy.go
  test/e2e/storage/vsphere/vsphere_scale.go
  test/e2e/storage/vsphere/vsphere_statefulsets.go
  test/e2e/storage/vsphere/vsphere_stress.go
  test/e2e/storage/vsphere/vsphere_utils.go
  test/e2e/storage/vsphere/vsphere_volume_diskformat.go
  test/e2e/storage/vsphere/vsphere_volume_placement.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/storage, sig/testing, size/M

#85787 Use ExpectEqual test/e2e_node
  test/e2e_node/apparmor_test.go
  test/e2e_node/container_manager_test.go
  test/e2e_node/critical_pod_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/eviction_test.go
  test/e2e_node/node_problem_detector_linux.go
  test/e2e_node/startup_probe_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#85853 Fix staticcheck failures of test/e2e/upgrade
  hack/.staticcheck_failures
  test/e2e/upgrades/services.go
  test/e2e/upgrades/storage/volume_mode.go
  test/e2e/upgrades/sysctl.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/S

#84624 cmd/kube-controller-manager: fix staticcheck warning
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/core.go
  hack/.staticcheck_failures
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/S

#85843 Enhance error message for failed controlplane init
  cmd/kubeadm/app/cmd/phases/init/waitcontrolplane.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#85634 pkg/master: Fix static check failures
  hack/.staticcheck_failures
  pkg/master/master.go
  pkg/master/master_test.go
  pkg/master/services.go
  pkg/master/tunneler/ssh.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/S

#85590 handle registry merge error
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/flake, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, size/M

#85905 Create kubemark cluster as private
  test/kubemark/gce/util.sh
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/scalability, sig/testing, size/XS

#85571 kubectl/drain: add disable-eviction option
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/drain/drain_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cli, size/L

#85875 Utilize Context with timeout in gce_instances.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instances.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cloud-provider, size/XS

#85290 Clean up cluster-service label from calico-policy-controller
  cluster/addons/calico-policy-controller/bgpconfigurations-crd.yaml
  cluster/addons/calico-policy-controller/bgppeers-crd.yaml
  cluster/addons/calico-policy-controller/blockaffinity-crd.yaml
  cluster/addons/calico-policy-controller/calico-clusterrole.yaml
  cluster/addons/calico-policy-controller/calico-clusterrolebinding.yaml
  cluster/addons/calico-policy-controller/calico-cpva-clusterrole.yaml
  cluster/addons/calico-policy-controller/calico-cpva-clusterrolebinding.yaml
  cluster/addons/calico-policy-controller/calico-cpva-serviceaccount.yaml
  cluster/addons/calico-policy-controller/calico-node-daemonset.yaml
  cluster/addons/calico-policy-controller/calico-node-vertical-autoscaler-configmap.yaml
  cluster/addons/calico-policy-controller/calico-node-vertical-autoscaler-deployment.yaml
  cluster/addons/calico-policy-controller/calico-serviceaccount.yaml
  cluster/addons/calico-policy-controller/clusterinformations-crd.yaml
  cluster/addons/calico-policy-controller/felixconfigurations-crd.yaml
  cluster/addons/calico-policy-controller/globalbgpconfig-crd.yaml
  cluster/addons/calico-policy-controller/globalfelixconfig-crd.yaml
  cluster/addons/calico-policy-controller/globalnetworkpolicy-crd.yaml
  cluster/addons/calico-policy-controller/globalnetworksets-crd.yaml
  cluster/addons/calico-policy-controller/hostendpoints-crd.yaml
  cluster/addons/calico-policy-controller/ipamblock-crd.yaml
  cluster/addons/calico-policy-controller/ipamconfig-crd.yaml
  cluster/addons/calico-policy-controller/ipamhandle-crd.yaml
  cluster/addons/calico-policy-controller/ippool-crd.yaml
  cluster/addons/calico-policy-controller/networkpolicies-crd.yaml
  cluster/addons/calico-policy-controller/networkset-crd.yaml
  cluster/addons/calico-policy-controller/podsecuritypolicies/calico-node-psp-binding.yaml
  cluster/addons/calico-policy-controller/typha-deployment.yaml
  cluster/addons/calico-policy-controller/typha-horizontal-autoscaler-clusterrole.yaml
  cluster/addons/calico-policy-controller/typha-horizontal-autoscaler-clusterrolebinding.yaml
  cluster/addons/calico-policy-controller/typha-horizontal-autoscaler-configmap.yaml
  cluster/addons/calico-policy-controller/typha-horizontal-autoscaler-deployment.yaml
  cluster/addons/calico-policy-controller/typha-horizontal-autoscaler-role.yaml
  cluster/addons/calico-policy-controller/typha-horizontal-autoscaler-rolebinding.yaml
  cluster/addons/calico-policy-controller/typha-horizontal-autoscaler-serviceaccount.yaml
  cluster/addons/calico-policy-controller/typha-vertical-autoscaler-clusterrole.yaml
  cluster/addons/calico-policy-controller/typha-vertical-autoscaler-clusterrolebinding.yaml
  cluster/addons/calico-policy-controller/typha-vertical-autoscaler-configmap.yaml
  cluster/addons/calico-policy-controller/typha-vertical-autoscaler-deployment.yaml
  cluster/addons/calico-policy-controller/typha-vertical-autoscaler-serviceaccount.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M

#85907 Deleted extra 'phase' in command example
  cmd/kubeadm/app/cmd/alpha/kubelet.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#85915 scheduler benchmark: allow to override bench prefix
  hack/jenkins/benchmark-dockerized.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note-none, sig/scalability, size/XS

#85916 remove max pods from e2e test
  test/e2e/scheduling/predicates.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/M

#85466 Update GCE Windows startup scripts for plugin-based authentication
  cluster/gce/config-common.sh
  cluster/gce/util.sh
  cluster/gce/windows/common.psm1
  cluster/gce/windows/configure.ps1
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/cluster-lifecycle, size/L

#85931 Revert "Use ExpectEqual test/e2e_node"
  test/e2e_node/apparmor_test.go
  test/e2e_node/container_manager_test.go
  test/e2e_node/critical_pod_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/eviction_test.go
  test/e2e_node/node_problem_detector_linux.go
  test/e2e_node/startup_probe_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/node, sig/testing, size/M

#85935 fix: typo Snapshoting to Snapshotting
  pkg/scheduler/core/generic_scheduler.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, size/XS

#85830 Automated cherry pick of #85115: remove disk locks per vm
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils_test.go
Labels: approved, area/cloudprovider, area/dependency, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/L

#85832 Automated cherry pick of #85115: remove disk locks per vm
  pkg/cloudprovider/providers/azure/BUILD
  pkg/cloudprovider/providers/azure/azure.go
  pkg/cloudprovider/providers/azure/azure_controller_common.go
  pkg/cloudprovider/providers/azure/azure_utils.go
  pkg/cloudprovider/providers/azure/azure_utils_test.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/L

#85890 fix golint check in test/e2e_node/runner/remote
  hack/.golint_failures
  test/e2e_node/runner/remote/run_remote.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S

#85462 Cherrypick to 1.16 - Update sigs.k8s.io/structured-merge-diff to v1.0.1
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/value/value.go
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cloud-provider, sig/scalability, size/XS

#85913 Fix waiting for logexporter log fetching processes
  cluster/log-dump/log-dump.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/scalability, size/S

#85943 Fix build when `providerless` tags is provided
  pkg/cloudprovider/providers/azure/azure_utils.go
  pkg/cloudprovider/providers/azure/azure_utils_test.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#85756 Nominate liu-cong to be sig-scheduling reviewer.
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/scheduling, size/XS

#85946 Fix build when `providerless` tags is provided
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#82315 fix staticcheck errors in legacy-cloud-providers/azure
  hack/.staticcheck_failures
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cloud-provider, size/L

#85872 Perf benchmarks for preferred (anti)pod affinity
  test/integration/scheduler_perf/scheduler_bench_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/testing, size/M

#85864 Automated cherry pick of #85793: Switch addon resizer to 1.8.7
  cluster/addons/cluster-monitoring/google/heapster-controller.yaml
  cluster/addons/cluster-monitoring/googleinfluxdb/heapster-controller-combined.yaml
  cluster/addons/cluster-monitoring/heapster-rbac.yaml
  cluster/addons/cluster-monitoring/influxdb/heapster-controller.yaml
  cluster/addons/cluster-monitoring/stackdriver/heapster-controller.yaml
  cluster/addons/cluster-monitoring/standalone/heapster-controller.yaml
  cluster/addons/metrics-server/metrics-server-deployment.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/instrumentation, size/S

#85947 Run all csi-hostpath containers as privileged
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-attacher.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-provisioner.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-resizer.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-snapshotter.yaml
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/testing, size/S

#85860 Automated cherry pick of #85847: Deflake pod readiness e2e
  test/e2e/common/pods.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/S

#85457 Typecheck support for verifying providerless build
  hack/make-rules/verify.sh
  hack/verify-typecheck-providerless.sh
  test/typecheck/main.go
  test/typecheck/main_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/L

#85706 Remove nodes slice in loop of takeByTopology
  pkg/kubelet/cm/devicemanager/manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/S

#85780 test/e2e/auth: Fix static check failures
  hack/.staticcheck_failures
  test/e2e/auth/audit_dynamic.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/auth, sig/testing, size/XS

#85790 fix staticcheck in pkg/printers
  hack/.staticcheck_failures
  pkg/printers/tablegenerator.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/XS

#85945 Refactor kubelet component config lenient path decoding
  pkg/kubelet/kubeletconfig/util/codec/BUILD
  pkg/kubelet/kubeletconfig/util/codec/codec.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, size/S, wg/component-standard

#85957 increase LRU cache size 8x for authorization webhook
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, size/XS

#85934 Convert ExpectEqual(err, nil) to ExpectNoError(err)
  test/e2e/cloud/gcp/node_lease.go
  test/e2e/cloud/nodes.go
  test/e2e_node/container_manager_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/node_problem_detector_linux.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/cloud-provider, sig/testing, size/S

#85965 Revert "kubeadm: don't check if image exists before pulling"
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/preflight/checks_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, size/S

#85967 Deflake kubectl custom printing test
  test/e2e/kubectl/BUILD
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/cli, sig/testing, size/S

#85968 Fix bug in apiserver service cidr split
  cmd/kube-apiserver/app/BUILD
  cmd/kube-apiserver/app/server.go
  cmd/kube-apiserver/app/server_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, sig/network, size/L

#82660 When running `kubectl drain` in dry-run, list warnings and pods that would be deleted.
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cli, size/S

#85540 e2e storage: public API for testsuites, support CSIInlineVolume type for generic resource
  test/e2e/storage/testpatterns/testpattern.go
  test/e2e/storage/testsuites/BUILD
  test/e2e/storage/testsuites/api_test.go
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/disruptive.go
  test/e2e/storage/testsuites/driveroperations.go
  test/e2e/storage/testsuites/ephemeral.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/snapshottable.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/topology.go
  test/e2e/storage/testsuites/volume_expand.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volumelimits.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XL

#85827 Replace the hostname in the fluentd config file even if the file exists
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS

#85813 Automated cherry pick of #85705: Fix iscsi refcounter in the case of no Block iscsi volumes
  pkg/volume/iscsi/BUILD
  pkg/volume/iscsi/iscsi_util.go
  pkg/volume/iscsi/iscsi_util_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/storage, size/L

#85969 Automated cherry pick of #85968: Fix bug in apiserver service cluster cidr split
  cmd/kube-apiserver/app/BUILD
  cmd/kube-apiserver/app/server.go
  cmd/kube-apiserver/app/server_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, sig/network, size/L

#85973 Disable broken pd e2e test
  test/e2e/storage/pd.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/S

#85990 Fix LoadBalancer rule checking so that no unexpected LoadBalancer updates are made
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cloud-provider, size/M

#85845 Provide a mechanism to enable hidden metrics in stable collector
  staging/src/k8s.io/component-base/metrics/collector.go
  staging/src/k8s.io/component-base/metrics/collector_test.go
  staging/src/k8s.io/component-base/metrics/registry.go
  staging/src/k8s.io/component-base/metrics/registry_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/L

#85953 kubeadm: Throw an error if the currentContext does not exists
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#85797 Add an option to specify kubelet flags for heapster node.
  cluster/gce/gci/node-helper.sh
  cluster/gce/util.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/scalability, size/M

#85739 Update go-winio module version from 0.4.11 to 0.4.14
  go.mod
  go.sum
  vendor/github.com/Microsoft/go-winio/BUILD
  vendor/github.com/Microsoft/go-winio/file.go
  vendor/github.com/Microsoft/go-winio/go.mod
  vendor/github.com/Microsoft/go-winio/go.sum
  vendor/github.com/Microsoft/go-winio/hvsock.go
  vendor/github.com/Microsoft/go-winio/pipe.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/BUILD
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid.go
  vendor/github.com/Microsoft/go-winio/syscall.go
  vendor/github.com/Microsoft/go-winio/zsyscall_windows.go
  vendor/modules.txt
Labels: approved, area/dependency, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note, sig/windows, size/XS

#85751 fix staticcheck in test/e2e/cloud/
  test/e2e/cloud/gcp/node_lease.go
  test/e2e/cloud/gcp/resize_nodes.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/auth, sig/cloud-provider, sig/testing, size/XS

#85971 Add current chairs to component base approvers
  staging/src/k8s.io/component-base/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, size/XS, wg/component-standard

#85865 Automated cherry pick of #85793: Switch addon resizer to 1.8.7
  cluster/addons/cluster-monitoring/google/heapster-controller.yaml
  cluster/addons/cluster-monitoring/googleinfluxdb/heapster-controller-combined.yaml
  cluster/addons/cluster-monitoring/heapster-rbac.yaml
  cluster/addons/cluster-monitoring/influxdb/heapster-controller.yaml
  cluster/addons/cluster-monitoring/stackdriver/heapster-controller.yaml
  cluster/addons/cluster-monitoring/standalone/heapster-controller.yaml
  cluster/addons/fluentd-gcp/scaler-rbac.yaml
  cluster/addons/metrics-server/metrics-server-deployment.yaml
  cluster/addons/metrics-server/resource-reader.yaml
  cluster/addons/prometheus/kube-state-metrics-deployment.yaml
  cluster/addons/prometheus/kube-state-metrics-rbac.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M

#85709 correct invalid urls
  CHANGELOG-1.6.md
  cluster/addons/fluentd-elasticsearch/README.md
  staging/README.md
  staging/src/k8s.io/kubectl/docs/book/pages/examples/kustomize.md
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/backlog, release-note-none, sig/cli, sig/cluster-lifecycle, sig/instrumentation, sig/release, size/S

#86008 staging/publishing: temporarily disable publishing tags
  staging/publishing/rules.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/release, size/XS

#85567 Automated cherry pick of #81856: Convert tbe e2e to integration test #84036: Ensure TaintBasedEviction int test not rely on #84766: Fix a TaintBasedEviction integration test flake #84883: Update test logic to simulate NodeReady/False and
  test/e2e/scheduling/BUILD
  test/e2e/scheduling/taint_based_evictions.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/taint_test.go
  test/integration/scheduler/util.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/cleanup, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/testing, size/XL

#85566 Automated cherry pick of #81856: Convert tbe e2e to integration test #84036: Ensure TaintBasedEviction int test not rely on #84766: Fix a TaintBasedEviction integration test flake #84883: Update test logic to simulate NodeReady/False and
  test/e2e/scheduling/BUILD
  test/e2e/scheduling/taint_based_evictions.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/taint_test.go
  test/integration/scheduler/util.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/cleanup, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/testing, size/XL

#85525 Automated cherry pick of #81856: Convert tbe e2e to integration test #84036: Ensure TaintBasedEviction int test not rely on #84766: Fix a TaintBasedEviction integration test flake #84883: Update test logic to simulate NodeReady/False and
  test/e2e/scheduling/BUILD
  test/e2e/scheduling/taint_based_evictions.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/taint_test.go
  test/integration/scheduler/util.go
Labels: approved, area/dependency, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/cleanup, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/instrumentation, sig/testing, size/XL

#85245 Automated cherry pick of #84622: Create ILB firewall name with prefix "k8s-fw".
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_utils_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/network, size/L

#85812 Automated cherry pick of #85705: Fix iscsi refcounter in the case of no Block iscsi volumes
  pkg/volume/iscsi/BUILD
  pkg/volume/iscsi/iscsi_util.go
  pkg/volume/iscsi/iscsi_util_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, size/L

#76741 Two bugfixes in installTunneler
  pkg/master/BUILD
  pkg/master/master.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/instrumentation, size/S

#85170 modify dockerID to containerID
  pkg/kubelet/kuberuntime/legacy.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/flake, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/XS

#85833 Automated cherry pick of #82678: skip e2e tests that run on multi node cluster and require
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/testdriver.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, size/M

#85829 Automated cherry pick of #82678: skip e2e tests that run on multi node cluster and require
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/testdriver.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, size/M

#84613 move KubectlCmd out of utils into its own package
  test/e2e/apimachinery/crd_publish_openapi.go
  test/e2e/apimachinery/webhook.go
  test/e2e/apps/statefulset.go
  test/e2e/auth/BUILD
  test/e2e/auth/service_accounts.go
  test/e2e/autoscaling/cluster_size_autoscaling.go
  test/e2e/autoscaling/custom_metrics_stackdriver_autoscaling.go
  test/e2e/cloud/gcp/cluster_upgrade.go
  test/e2e/examples.go
  test/e2e/framework/BUILD
  test/e2e/framework/framework.go
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/framework/kubectl/BUILD
  test/e2e/framework/kubectl/kubectl_utils.go
  test/e2e/framework/network/utils.go
  test/e2e/framework/nodes_util.go
  test/e2e/framework/service/resource.go
  test/e2e/framework/util.go
  test/e2e/framework/volume/fixtures.go
  test/e2e/instrumentation/monitoring/custom_metrics_deployments.go
  test/e2e/instrumentation/monitoring/custom_metrics_stackdriver.go
  test/e2e/kubectl/BUILD
  test/e2e/kubectl/kubectl.go
  test/e2e/kubectl/portforward.go
  test/e2e/network/example_cluster_dns.go
  test/e2e/network/service.go
  test/e2e/node/kubelet.go
  test/e2e/node/security_context.go
  test/e2e/storage/BUILD
  test/e2e/storage/pd.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/vsphere/vsphere_utils.go
  test/e2e/upgrades/cassandra.go
  test/e2e/upgrades/etcd.go
  test/e2e/upgrades/mysql.go
  test/e2e/windows/BUILD
  test/e2e/windows/gmsa_full.go
  test/e2e/windows/gmsa_kubelet.go
  test/e2e/windows/memory_limits.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/apps, sig/auth, sig/autoscaling, sig/cli, sig/cloud-provider, sig/instrumentation, sig/network, sig/node, sig/storage, sig/testing, sig/windows, size/XL

#85241 Automated cherry pick of #84211: vsphere: check if volume exists before create
  pkg/cloudprovider/providers/vsphere/vclib/diskmanagers/vdm.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/S

#85001 kubelet: rename HTTPGetter interface
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/lifecycle/handlers.go
  pkg/kubelet/types/types.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/S

#85893 fix staticcheck in test/e2e/network/
  hack/.staticcheck_failures
  test/e2e/network/dns.go
  test/e2e/network/dns_common.go
  test/e2e/network/ingress.go
  test/e2e/network/kube_proxy.go
  test/e2e/network/network_tiers.go
  test/e2e/network/no_snat.go
  test/e2e/network/scale/ingress.go
  test/e2e/network/service.go
  test/e2e/network/service_latency.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/network, sig/testing, size/M

#86009 kubelet: guarantee at most only one cinfo per containerID
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/S

#85239 Automated cherry pick of #84211: vsphere: check if volume exists before create
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/diskmanagers/vdm.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/S

#85828 ping kmsplugin gentely when in good state
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/auth, sig/testing, size/M

#85240 Automated cherry pick of #84211: vsphere: check if volume exists before create
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/diskmanagers/vdm.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/S

#85676 fix staticcheck in test/integration/apiserver
  hack/.staticcheck_failures
  test/integration/apiserver/admissionwebhook/admission_test.go
  test/integration/apiserver/admissionwebhook/client_auth_test.go
  test/integration/apiserver/admissionwebhook/timeout_test.go
  test/integration/apiserver/apiserver_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#85959 Refactor and optimize preferred (anti) pod affinity
  pkg/scheduler/algorithm/priorities/BUILD
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, size/L

#85885 Provider/Azure: Add cache for VMSS.
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/M

#85461 Automated cherry pick of #82152: Fix retry logic in DisruptionController
  pkg/controller/disruption/BUILD
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/apps, size/L

#85460 Automated cherry pick of #82152: Fix retry logic in DisruptionController
  pkg/controller/disruption/BUILD
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/apps, size/L

#85906 Fix staticcheck failures of test/e2e/storage
  hack/.staticcheck_failures
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/empty_dir_wrapper.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/pd.go
  test/e2e/storage/subpath.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/volume_provisioning.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/M

#86027 Fix broken SELinux detection
  build/root/.bazelrc
  build/root/BUILD.root
  vendor/github.com/opencontainers/selinux/go-selinux/BUILD
  vendor/github.com/opencontainers/selinux/go-selinux/label/BUILD
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/node, sig/storage, size/XS

#85857 Update checks.go
  cmd/kubeadm/app/preflight/checks.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note, sig/cluster-lifecycle, size/XS

#86001 Fix IPv6 addresses lost issue in pure ipv6 vsphere environment
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#83362 Bind metrics-server containers to linux nodes to avoid Windows scheduling on kubernetes cluster includes linux nodes and windows nodes
  cluster/addons/metrics-server/metrics-server-deployment.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note, sig/cluster-lifecycle, sig/instrumentation, sig/windows, size/XS

#83363 Bind metadata-agent containers to linux nodes to avoid Windows scheduling on kubernetes cluster includes linux nodes and windows nodes
  cluster/addons/metadata-agent/stackdriver/metadata-agent.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note, sig/cluster-lifecycle, sig/instrumentation, sig/windows, size/XS

#86065 Add serathius to metrics-server OWNERS file
  cluster/addons/metrics-server/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/instrumentation, size/XS

#85874 Kubelet cert TTL via GaugeFunc
  pkg/kubelet/certificate/kubelet.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/BUILD
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/metrics.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/metrics_test.go
  staging/src/k8s.io/client-go/tools/metrics/metrics.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager_test.go
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/api-machinery, sig/auth, sig/cluster-lifecycle, sig/instrumentation, sig/node, size/L

#85899 slim down some lister expansions
  pkg/controller/deployment/deployment_controller.go
  pkg/controller/deployment/util/BUILD
  pkg/controller/deployment/util/deployment_util.go
  pkg/controller/deployment/util/deployment_util_test.go
  pkg/controller/service/BUILD
  pkg/controller/service/controller.go
  pkg/controller/service/controller_test.go
  pkg/kubelet/BUILD
  pkg/kubelet/kubelet_test.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/priorities/metadata.go
  pkg/scheduler/listers/BUILD
  pkg/scheduler/listers/fake/listers.go
  pkg/scheduler/listers/listers.go
  pkg/scheduler/listers/listers_test.go
  staging/src/k8s.io/client-go/listers/apps/v1/BUILD
  staging/src/k8s.io/client-go/listers/apps/v1/deployment_expansion.go
  staging/src/k8s.io/client-go/listers/apps/v1/expansion_generated.go
  staging/src/k8s.io/client-go/listers/apps/v1beta2/BUILD
  staging/src/k8s.io/client-go/listers/apps/v1beta2/deployment_expansion.go
  staging/src/k8s.io/client-go/listers/apps/v1beta2/expansion_generated.go
  staging/src/k8s.io/client-go/listers/core/v1/BUILD
  staging/src/k8s.io/client-go/listers/core/v1/expansion_generated.go
  staging/src/k8s.io/client-go/listers/core/v1/node_expansion.go
  staging/src/k8s.io/client-go/listers/core/v1/service_expansion.go
  staging/src/k8s.io/client-go/listers/extensions/v1beta1/BUILD
  staging/src/k8s.io/client-go/listers/extensions/v1beta1/deployment_expansion.go
  staging/src/k8s.io/client-go/listers/extensions/v1beta1/expansion_generated.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/apps, sig/network, sig/node, sig/scheduling, size/XL

#85032 refactor: move unwanted console output out of versiongetter API
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/phases/upgrade/compute.go
  cmd/kubeadm/app/phases/upgrade/policy.go
  cmd/kubeadm/app/phases/upgrade/versiongetter.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/M

#83841 Turn off kubelet deprecated metrics
  pkg/kubelet/dockershim/metrics/metrics.go
  pkg/kubelet/dockershim/network/metrics/metrics.go
  pkg/kubelet/metrics/metrics.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/network, sig/node, size/L

#85577 kubectl/drain: add option skip-wait-for-delete-timeout
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/drain/BUILD
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/drain/drain_test.go
  staging/src/k8s.io/kubectl/pkg/drain/filter_test.go
  staging/src/k8s.io/kubectl/pkg/drain/filters.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cli, size/L

#85962 Include cloud/gcp tests in e2e.test
  test/e2e/cloud/BUILD
  test/e2e/cloud/imports.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/testing, size/S

#86022 Return all scheduler predicate failures instead of the first one
  pkg/scheduler/algorithm/predicates/error.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/framework/plugins/interpodaffinity/interpod_affinity_test.go
  pkg/scheduler/framework/plugins/migration/utils.go
  pkg/scheduler/framework/plugins/migration/utils_test.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/scheduling, size/L

#86050 e2e: move funs of framework/deployment to e2e/apps
  test/e2e/apps/deployment.go
  test/e2e/framework/deployment/BUILD
  test/e2e/framework/deployment/fixtures.go
  test/e2e/framework/deployment/logging.go
  test/e2e/framework/deployment/wait.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/apps, sig/testing, size/L
