Repository kubernetes/kubernetes, pull requests merged in 2019-10, with the labels that each got.

#82374 Fixed issue with duplicate containerPorts in different address families
  pkg/kubelet/container/BUILD
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/helpers_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/network, sig/node, size/M

#83148 use log functions of core framework
  test/e2e/common/BUILD
  test/e2e/common/autoscaling_utils.go
  test/e2e/common/configmap.go
  test/e2e/common/configmap_volume.go
  test/e2e/common/container_probe.go
  test/e2e/common/expansion.go
  test/e2e/common/init_container.go
  test/e2e/common/kubelet_etc_hosts.go
  test/e2e/common/node_lease.go
  test/e2e/common/pods.go
  test/e2e/common/projected_combined.go
  test/e2e/common/projected_configmap.go
  test/e2e/common/projected_secret.go
  test/e2e/common/runtime.go
  test/e2e/common/secrets.go
  test/e2e/common/secrets_volume.go
  test/e2e/common/security_context.go
  test/e2e/common/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/L

#83301 e2e: on aws, tag volumes we want the cluster to mount
  test/e2e/framework/providers/aws/aws.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/S

#82687 Automated cherry pick of #82514: Exec probes should not be unbounded
  pkg/kubelet/dockershim/docker_streaming.go
  pkg/kubelet/prober/BUILD
  pkg/kubelet/prober/prober.go
  pkg/kubelet/prober/prober_test.go
  pkg/kubelet/util/ioutils/BUILD
  pkg/kubelet/util/ioutils/ioutils.go
  pkg/kubelet/util/ioutils/ioutils_test.go
  pkg/probe/exec/BUILD
  pkg/probe/exec/exec.go
  pkg/probe/exec/exec_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/node, size/L

#78466 Revert "Revert "[Re-Apply][Distroless] Convert the GCE manifests for master containers.""
  cluster/gce/gci/apiserver_manifest_test.go
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/M

#81419 Update e2e testing nodePort service listening on same port but different protocols
  test/e2e/framework/service/jig.go
  test/e2e/network/service.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/node, sig/testing, size/L

#81093 Use imageutils instead of hardcoded image paths
  test/e2e/framework/ingress/BUILD
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/network/kube_proxy.go
  test/e2e/storage/utils/utils.go
  test/e2e/storage/volume_provisioning.go
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/S

#83192 Improve error message for projected tokens when API is not enabled
  pkg/kubelet/token/BUILD
  pkg/kubelet/token/token_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/auth, sig/node, size/S

#83350 Update symlink warning
  pkg/kubectl/cmd/cp/cp.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cli, size/XS

#81914 Cache serializations across watchers
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/BUILD
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/helpers.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/helpers_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/codec.go
  staging/src/k8s.io/apimachinery/pkg/runtime/codec_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/interfaces.go
  staging/src/k8s.io/apimachinery/pkg/runtime/schema/group_version.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/protobuf.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/protobuf_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/testing/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/testing/cacheable_object.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/util.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/caching_object.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/caching_object_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
  staging/src/k8s.io/cli-runtime/pkg/resource/scheme.go
  staging/src/k8s.io/client-go/rest/config_test.go
Labels: approved, area/apiserver, area/kubectl, cncf-cla: yes, kind/api-change, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cli, size/XXL

#82105 Explicitly handle returned error values in admission metrics_test
  staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/S

#81904 Fix staticcheck failures in `test/utils/...`
  hack/.staticcheck_failures
  test/utils/audit.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#83262 Refactor scheduler extender-related API fields
  pkg/scheduler/BUILD
  pkg/scheduler/algorithm/BUILD
  pkg/scheduler/algorithm/priorities/BUILD
  pkg/scheduler/algorithm/priorities/balanced_resource_allocation_test.go
  pkg/scheduler/algorithm/priorities/even_pods_spread.go
  pkg/scheduler/algorithm/priorities/even_pods_spread_test.go
  pkg/scheduler/algorithm/priorities/image_locality.go
  pkg/scheduler/algorithm/priorities/image_locality_test.go
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
  pkg/scheduler/algorithm/priorities/interpod_affinity_test.go
  pkg/scheduler/algorithm/priorities/least_requested_test.go
  pkg/scheduler/algorithm/priorities/most_requested_test.go
  pkg/scheduler/algorithm/priorities/node_affinity.go
  pkg/scheduler/algorithm/priorities/node_affinity_test.go
  pkg/scheduler/algorithm/priorities/node_label.go
  pkg/scheduler/algorithm/priorities/node_label_test.go
  pkg/scheduler/algorithm/priorities/node_prefer_avoid_pods.go
  pkg/scheduler/algorithm/priorities/node_prefer_avoid_pods_test.go
  pkg/scheduler/algorithm/priorities/reduce.go
  pkg/scheduler/algorithm/priorities/requested_to_capacity_ratio_test.go
  pkg/scheduler/algorithm/priorities/resource_allocation.go
  pkg/scheduler/algorithm/priorities/resource_limits.go
  pkg/scheduler/algorithm/priorities/resource_limits_test.go
  pkg/scheduler/algorithm/priorities/selector_spreading.go
  pkg/scheduler/algorithm/priorities/selector_spreading_test.go
  pkg/scheduler/algorithm/priorities/taint_toleration.go
  pkg/scheduler/algorithm/priorities/taint_toleration_test.go
  pkg/scheduler/algorithm/priorities/test_util.go
  pkg/scheduler/algorithm/priorities/types.go
  pkg/scheduler/algorithm/scheduler_interface.go
  pkg/scheduler/api/BUILD
  pkg/scheduler/api/types.go
  pkg/scheduler/api/v1/BUILD
  pkg/scheduler/api/v1/types.go
  pkg/scheduler/api/v1/zz_generated.deepcopy.go
  pkg/scheduler/api/zz_generated.deepcopy.go
  pkg/scheduler/apis/extender/v1/BUILD
  pkg/scheduler/apis/extender/v1/doc.go
  pkg/scheduler/apis/extender/v1/types.go
  pkg/scheduler/apis/extender/v1/zz_generated.deepcopy.go
  pkg/scheduler/core/BUILD
  pkg/scheduler/core/extender.go
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory/BUILD
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/util/BUILD
  pkg/scheduler/util/utils.go
  pkg/scheduler/util/utils_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/extender_test.go
  test/integration/scheduler/scheduler_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/scheduling, sig/testing, size/XXL

#83333 Don't leak a go routine on panic
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/S

#83365 A consistent interface for plugin extended functionality
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/preemption_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, sig/testing, size/L

#82424 Use pod + nsenter instead of SSH in mount propagation tests
  test/e2e/node/BUILD
  test/e2e/node/mount_propagation.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/node, sig/storage, sig/testing, size/S

#83370 .github: add guineveresaenger and mrbobbytables as reviewers
  .github/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/contributor-experience, size/XS

#83109 reuse Equal
  pkg/controller/resourcequota/resource_quota_controller.go
  pkg/quota/v1/resources.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/apps, size/S

#83369 kubeadm: add test to detect panics when given certain feature gates
  cmd/kubeadm/test/cmd/completion_test.go
  cmd/kubeadm/test/cmd/init_test.go
  cmd/kubeadm/test/cmd/join_test.go
  cmd/kubeadm/test/cmd/token_test.go
  cmd/kubeadm/test/cmd/util.go
  cmd/kubeadm/test/cmd/version_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, size/L

#83049 Add link to release notes documentation to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/contributor-experience, sig/release, size/XS

#83379 Revert "Bugfix: remove PV dir when umount raw block device"
  pkg/volume/csi/csi_block.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/storage, size/S

#83381 Run block tests for gce-pd csi driver. Improve skip block test function name
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#83355 fix wrong test in generic-resources.sh
  test/cmd/generic-resources.sh
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS

#83390 Revert "Revert "Revert "[Re-Apply][Distroless] Convert the GCE manifests for master containers."""
  cluster/gce/gci/apiserver_manifest_test.go
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/M

#83383 Bump nfs provisioner version to v2.2.2
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#83386 feat(scheduler): remove MaxPriority in the scheduler api
  pkg/scheduler/algorithm/priorities/BUILD
  pkg/scheduler/algorithm/priorities/balanced_resource_allocation.go
  pkg/scheduler/algorithm/priorities/balanced_resource_allocation_test.go
  pkg/scheduler/algorithm/priorities/even_pods_spread.go
  pkg/scheduler/algorithm/priorities/image_locality.go
  pkg/scheduler/algorithm/priorities/image_locality_test.go
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
  pkg/scheduler/algorithm/priorities/interpod_affinity_test.go
  pkg/scheduler/algorithm/priorities/least_requested.go
  pkg/scheduler/algorithm/priorities/least_requested_test.go
  pkg/scheduler/algorithm/priorities/most_requested.go
  pkg/scheduler/algorithm/priorities/node_affinity.go
  pkg/scheduler/algorithm/priorities/node_affinity_test.go
  pkg/scheduler/algorithm/priorities/node_label.go
  pkg/scheduler/algorithm/priorities/node_label_test.go
  pkg/scheduler/algorithm/priorities/node_prefer_avoid_pods.go
  pkg/scheduler/algorithm/priorities/node_prefer_avoid_pods_test.go
  pkg/scheduler/algorithm/priorities/requested_to_capacity_ratio.go
  pkg/scheduler/algorithm/priorities/selector_spreading.go
  pkg/scheduler/algorithm/priorities/selector_spreading_test.go
  pkg/scheduler/algorithm/priorities/taint_toleration.go
  pkg/scheduler/algorithm/priorities/taint_toleration_test.go
  pkg/scheduler/api/types.go
  pkg/scheduler/api/validation/BUILD
  pkg/scheduler/api/validation/validation.go
  pkg/scheduler/api/validation/validation_test.go
  pkg/scheduler/apis/extender/v1/types.go
  pkg/scheduler/factory/plugins.go
  pkg/scheduler/factory/plugins_test.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/interface.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/scheduling, sig/testing, size/L

#83320 Adding pods to DeletePods and MarkPodsReady methods parameters
  pkg/controller/nodelifecycle/BUILD
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
  pkg/controller/util/node/BUILD
  pkg/controller/util/node/controller_utils.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, size/M

#82473 Kubeadm DualStack Support for List of Service IPs
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/componentconfigs/defaults.go
  cmd/kubeadm/app/constants/BUILD
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/constants/constants_test.go
  cmd/kubeadm/app/phases/addons/dns/BUILD
  cmd/kubeadm/app/phases/addons/dns/dns.go
  cmd/kubeadm/app/phases/addons/dns/dns_test.go
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/util/pkiutil/BUILD
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cluster-lifecycle, size/L

#83396 Bump version of event-exporter and prometheus-to-sd.
  cluster/addons/fluentd-gcp/event-exporter.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/instrumentation, sig/scalability, size/S

#83409 Remove block volume capability from GCE PD CSI Driver because not supported in v0.5.2
  test/e2e/storage/drivers/csi.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#83338 Automated cherry pick of #72008: Fix CSI volume unmount and cleanup logic
  pkg/volume/csi/csi_mounter.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, size/M

#83258 Upgrade Calico to 3.8.2
  cluster/addons/calico-policy-controller/calico-node-daemonset.yaml
  cluster/addons/calico-policy-controller/typha-deployment.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#83376 Fix sig-node test by adding back the numNodes
  test/e2e/node/kubelet.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/testing, size/XS

#83261 limit yaml/json decode size
  cmd/kube-apiserver/app/options/options_test.go
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/limit_test.go
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json_limit_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/yaml_test.go
  staging/src/k8s.io/apimachinery/pkg/util/json/json.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  test/integration/apiserver/max_request_body_bytes_test.go
  test/integration/master/synthetic_master_test.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/testing, size/XXL

#72170 Make resourceVersion parameter semantics consistent across all storage.Interface implementations
  staging/src/k8s.io/apiserver/pkg/storage/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/storage/errors.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, priority/important-soon, release-note, sig/api-machinery, size/L

#83208 Only detecting stale connections for UDP ports in kube-proxy
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/endpointslicecache_test.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
  pkg/proxy/types.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/network, size/XXL

#83342 Move PodConditionUpdater to Scheduler
  pkg/scheduler/BUILD
  pkg/scheduler/factory/BUILD
  pkg/scheduler/factory/factory.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/L

#83405 fix metrics-server rbac
  cluster/addons/metrics-server/resource-reader.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#70734 Remove runtime.VersionedObject from universal apimachinery
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/helpers.go
  staging/src/k8s.io/apimachinery/pkg/runtime/register.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/protobuf.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/types.go
  staging/src/k8s.io/apimachinery/pkg/runtime/zz_generated.deepcopy.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, lifecycle/frozen, priority/backlog, release-note-none, sig/api-machinery, size/L

#83432 Reset default namespace deletion timeout to 5 minutes
  test/e2e/framework/framework.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#83352 Ability to set up additional, bigger nodes during tests
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/node-helper.sh
  cluster/gce/util.sh
  cluster/gce/windows/node-helper.sh
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, sig/scalability, sig/testing, size/M

#82077 add ability to pre-configure poststarthooks for apiservers
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/apiextensions.go
  cmd/kube-apiserver/app/server.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/hooks.go
  test/integration/examples/apiserver_test.go
  test/integration/framework/test_server.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/L

#83418 Refactor scheduler.New so that all framework-related parameters are options
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/BUILD
  pkg/scheduler/api/compatibility/BUILD
  pkg/scheduler/api/compatibility/compatibility_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/daemonset/BUILD
  test/integration/daemonset/daemonset_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/preemption_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
  test/integration/util/BUILD
  test/integration/util/util.go
  test/integration/volumescheduling/BUILD
  test/integration/volumescheduling/util.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/apps, sig/scheduling, sig/testing, size/L

#79844 removed extra hyphen in kubectl book
  staging/src/k8s.io/kubectl/docs/book/pages/resource_printing/queries_and_options.md
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS

#83243 feat(scheduler): use reflect to reduce the similar pattern
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/L

#79852 removed duplicated kubectl get
  staging/src/k8s.io/kubectl/docs/book/pages/resource_printing/queries_and_options.md
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS

#81420 fixed a typo in kubectl book
  staging/src/k8s.io/kubectl/docs/book/pages/resource_printing/cluster_information.md
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/cli, size/XS

#83436 [1.13] Automated cherry pick of #83261: bump gopkg.in/yaml.v2 v2.2.4
  Godeps/Godeps.json
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/api/Godeps/Godeps.json
  staging/src/k8s.io/apiextensions-apiserver/Godeps/Godeps.json
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/limit_test.go
  staging/src/k8s.io/apimachinery/Godeps/Godeps.json
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json_limit_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/yaml_test.go
  staging/src/k8s.io/apimachinery/pkg/util/json/json.go
  staging/src/k8s.io/apiserver/Godeps/Godeps.json
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/cli-runtime/Godeps/Godeps.json
  staging/src/k8s.io/client-go/Godeps/Godeps.json
  staging/src/k8s.io/cloud-provider/Godeps/Godeps.json
  staging/src/k8s.io/csi-api/Godeps/Godeps.json
  staging/src/k8s.io/kube-aggregator/Godeps/Godeps.json
  staging/src/k8s.io/metrics/Godeps/Godeps.json
  staging/src/k8s.io/sample-apiserver/Godeps/Godeps.json
  staging/src/k8s.io/sample-cli-plugin/Godeps/Godeps.json
  staging/src/k8s.io/sample-controller/Godeps/Godeps.json
  test/integration/apiserver/max_request_body_bytes_test.go
  test/integration/master/synthetic_master_test.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, sig/architecture, sig/cli, sig/cloud-provider, sig/testing, size/XXL

#83433 [1.16] Automated cherry pick of #83261: bump gopkg.in/yaml.v2 v2.2.4
  cmd/kube-apiserver/app/options/options_test.go
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/limit_test.go
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json_limit_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/yaml_test.go
  staging/src/k8s.io/apimachinery/pkg/util/json/json.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  test/integration/apiserver/max_request_body_bytes_test.go
  test/integration/master/synthetic_master_test.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/testing, size/XXL

#83434 [1.15] Automated cherry pick of #83261: bump gopkg.in/yaml.v2 v2.2.4
  cmd/kube-apiserver/app/options/options_test.go
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/limit_test.go
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json_limit_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/yaml_test.go
  staging/src/k8s.io/apimachinery/pkg/util/json/json.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  test/integration/apiserver/max_request_body_bytes_test.go
  test/integration/master/synthetic_master_test.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/testing, size/XXL

#83435 [1.14] Automated cherry pick of #83261: bump gopkg.in/yaml.v2 v2.2.4
  Godeps/Godeps.json
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/api/Godeps/Godeps.json
  staging/src/k8s.io/apiextensions-apiserver/Godeps/Godeps.json
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/limit_test.go
  staging/src/k8s.io/apimachinery/Godeps/Godeps.json
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json_limit_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/yaml_test.go
  staging/src/k8s.io/apimachinery/pkg/util/json/json.go
  staging/src/k8s.io/apiserver/Godeps/Godeps.json
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/cli-runtime/Godeps/Godeps.json
  staging/src/k8s.io/client-go/Godeps/Godeps.json
  staging/src/k8s.io/cloud-provider/Godeps/Godeps.json
  staging/src/k8s.io/csi-api/Godeps/Godeps.json
  staging/src/k8s.io/kube-aggregator/Godeps/Godeps.json
  staging/src/k8s.io/metrics/Godeps/Godeps.json
  staging/src/k8s.io/node-api/Godeps/Godeps.json
  staging/src/k8s.io/sample-apiserver/Godeps/Godeps.json
  staging/src/k8s.io/sample-cli-plugin/Godeps/Godeps.json
  staging/src/k8s.io/sample-controller/Godeps/Godeps.json
  test/integration/apiserver/max_request_body_bytes_test.go
  test/integration/master/synthetic_master_test.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
Labels: approved, area/apiserver, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, sig/cli, sig/cloud-provider, sig/testing, size/XXL

#82237 Fix shellcheck failures of cluster/addons/addon-manager/kube-addons.sh
  cluster/addons/addon-manager/kube-addons.sh
  hack/.shellcheck_failures
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, size/M

#83084 Prune should respect namespace option
  hack/testdata/prune/b.yaml
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  test/cmd/apply.sh
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/cli, sig/testing, size/S

#83108 Use pod + nsenter instead of SSH in block volume tests
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/utils/host_exec.go
  test/e2e/storage/utils/utils.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/L

#81457 fixed typos in kubectl book
  staging/src/k8s.io/kubectl/docs/book/pages/kubectl_book/resources_and_controllers.md
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/cli, size/XS

#82371 add ability to authenticators for dynamic update of certs for delegated authn
  cmd/kube-apiserver/app/server.go
  cmd/kubelet/app/BUILD
  cmd/kubelet/app/auth.go
  pkg/kubeapiserver/authenticator/BUILD
  pkg/kubeapiserver/authenticator/config.go
  pkg/kubeapiserver/options/BUILD
  pkg/kubeapiserver/options/authentication.go
  pkg/kubeapiserver/options/authentication_test.go
  pkg/kubeapiserver/options/testdata/client-expired.pem
  pkg/kubeapiserver/options/testdata/client-valid.pem
  pkg/kubeapiserver/options/testdata/client.config.json
  pkg/kubeapiserver/options/testdata/client.csr.json
  pkg/kubeapiserver/options/testdata/generate.sh
  pkg/kubeapiserver/options/testdata/intermediate.config.json
  pkg/kubeapiserver/options/testdata/intermediate.csr.json
  pkg/kubeapiserver/options/testdata/intermediate.pem
  pkg/kubeapiserver/options/testdata/root.csr.json
  pkg/kubeapiserver/options/testdata/root.pem
  staging/src/k8s.io/apiserver/pkg/authentication/authenticatorfactory/BUILD
  staging/src/k8s.io/apiserver/pkg/authentication/authenticatorfactory/delegating.go
  staging/src/k8s.io/apiserver/pkg/authentication/authenticatorfactory/requestheader.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/requestheader.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/BUILD
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/verify_options.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
  staging/src/k8s.io/apiserver/pkg/server/options/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/client-expired.pem
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/client-valid.pem
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/client.config.json
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/client.csr.json
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/generate.sh
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/intermediate.config.json
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/intermediate.csr.json
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/intermediate.pem
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/root.csr.json
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/root.pem
  staging/src/k8s.io/client-go/util/cert/io.go
Labels: approved, area/apiserver, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, sig/node, size/XL

#83314 kubeadm: add 1.18 entry in the etcd map
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/images/images_test.go
  cmd/kubeadm/app/phases/upgrade/compute_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XL

#83343 Return proper error message when BindPodVolumes fails
  pkg/controller/volume/scheduling/scheduler_binder.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, size/S

#83030 Enable strict serializer in kube-scheduler
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/options_test.go
  pkg/scheduler/apis/config/scheme/scheme.go
Labels: api-review, approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/scheduling, size/M, wg/component-standard

#83420 Check the return value from store.Update
  pkg/controller/volume/scheduling/scheduler_assume_cache.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/apps, size/XS

#83430 feat(scheduler): rename PluginContext to CycleState
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/framework/plugins/examples/multipoint/multipoint.go
  pkg/scheduler/framework/plugins/examples/prebind/prebind.go
  pkg/scheduler/framework/plugins/examples/stateful/stateful.go
  pkg/scheduler/framework/plugins/noop/noop.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/context.go
  pkg/scheduler/framework/v1alpha1/cycle_state.go
  pkg/scheduler/framework/v1alpha1/cycle_state_test.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/preemption_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/scheduling, sig/testing, size/XL

#83468 Add klueska as reviewer for CPUManager and devicemanager
  pkg/kubelet/cm/cpumanager/OWNERS
  pkg/kubelet/cm/devicemanager/OWNERS
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#83490 feat(scheduler): scale the extender output in generic scheduler
  pkg/scheduler/apis/extender/v1/types.go
  pkg/scheduler/core/generic_scheduler.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/XS

#83452 Avoid unnecessary identifier computations
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/audit/log/backend.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, size/M

#83475 Kubeadm: allow users to use 127.0.0.1 as advertise address
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  staging/src/k8s.io/apimachinery/pkg/util/net/interface.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/cluster-lifecycle, size/M

#82845 Update nodelocaldns yaml to use image with custom Stubdomains support
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
  cluster/gce/gci/configure-helper.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/network, size/M

#83501 remove Get/Set node condition dependency for the ccm controllers
  pkg/controller/cloud/BUILD
  pkg/controller/cloud/node_controller.go
  pkg/controller/cloud/node_controller_test.go
  pkg/controller/cloud/node_lifecycle_controller.go
  pkg/controller/route/BUILD
  pkg/controller/route/route_controller.go
  pkg/controller/route/route_controller_test.go
  staging/src/k8s.io/cloud-provider/node/helpers/BUILD
  staging/src/k8s.io/cloud-provider/node/helpers/conditions.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/apps, sig/cloud-provider, size/L

#83502 Modified the name of the Extensions method in the scheduler's framework.
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/preemption_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/M

#83506 Cleanup reflection usage in framework creation
  pkg/scheduler/framework/v1alpha1/framework.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/S

#82662 Add jpbetz as reviewer of api-machinery code
  staging/src/k8s.io/apiextensions-apiserver/OWNERS
  staging/src/k8s.io/apiserver/OWNERS
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/XS

#83247 Fix help text in kubectl top -h
  staging/src/k8s.io/kubectl/pkg/cmd/top/top.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS

#83402 iptables.Monitor: don't be fooled by "could not get lock" errors
  pkg/util/iptables/iptables.go
  pkg/util/iptables/monitor_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, size/L

#83426 Dedupe logging for PD SetUpAt and added a slow SetVolumeOwnership warning
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/volume_linux.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/storage, size/M

#83456 check that N job pods succeeded instead of exactly N pods existing a…
  test/e2e/apps/job.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/apps, sig/testing, size/XS

#83500 refactor tlsConfig creation for secure serving
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/M

#81885 Fix `test/integration/kubelet` staticcheck failures
  hack/.staticcheck_failures
  test/integration/kubelet/watch_manager_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/testing, size/S

#83043 Delegate topology hint gen to CPU manager policy
  pkg/kubelet/cm/cpumanager/BUILD
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/policy.go
  pkg/kubelet/cm/cpumanager/policy_none.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/topology_hints.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/L

#83518 add mtaufen to cluster/gce owners
  cluster/gce/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, sig/node, size/XS

#81816 [server-side apply] Cap the number of managedFields entries for updates at 10
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/buildmanagerinfo.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/capmanagers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/capmanagers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/skipnonapplied.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/stripmeta.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/structuredmerge.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  test/integration/apiserver/apply/apply_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/XXL, wg/apply

#83233 Move heap into its own internal package
  pkg/scheduler/BUILD
  pkg/scheduler/internal/heap/BUILD
  pkg/scheduler/internal/heap/heap.go
  pkg/scheduler/internal/heap/heap_test.go
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/util/BUILD
  pkg/scheduler/util/utils.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, size/M

#83366 Switch from admission-control flag to enable-admission-plugins
  cluster/gce/gci/configure-helper.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#78357 Fix golint issues in pkg/util/env
  hack/.golint_failures
  pkg/util/env/env.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, size/XS

#83454 Remove hyperkube from release artifacts
  build/BUILD
  build/lib/release.sh
  build/release-images.sh
  build/root/BUILD.root
  build/root/Makefile
  build/visible_to/BUILD
  cluster/get-kube-local.sh
  hack/dev-push-hyperkube.sh
  hack/lib/golang.sh
  hack/verify-symbols.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/release, size/L

#83460 [migration phase 1] Implement PodToleratesNodeTaint as a filter plugin
  pkg/scheduler/algorithm/predicates/error.go
  pkg/scheduler/api/compatibility/compatibility_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/plugins/default_registry_test.go
  pkg/scheduler/framework/plugins/migration/BUILD
  pkg/scheduler/framework/plugins/migration/utils.go
  pkg/scheduler/framework/plugins/migration/utils_test.go
  pkg/scheduler/framework/plugins/tainttoleration/BUILD
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/scheduler_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/apps, sig/scheduling, sig/testing, size/XL

#83516 Requesting Review/Approve privileges for cluster/OWNERS
  cluster/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/testing, size/XS

#83297 fix golint errors for pkg/master
  hack/.golint_failures
  pkg/master/client_ca_hook.go
  pkg/master/controller.go
  pkg/master/controller_test.go
  pkg/master/import_known_versions.go
  pkg/master/master.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/api-machinery, size/M

#78411 spelling error 'doen't'
  pkg/volume/quobyte/quobyte_util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/storage, size/XS

#83547 Overriding CA file should override skip TLS and CA data
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/cli, size/M

#83495 remove the repeat word in documents
  CHANGELOG-1.13.md
  cmd/kubeadm/app/cmd/alpha/certs.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/podautoscaler/horizontal.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/registry/core/pod/storage/storage_test.go
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_cronjob.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_test.go
  test/cmd/kubeadm.sh
  test/e2e/apimachinery/webhook.go
  test/e2e_kubeadm/kubeadm_config_test.go
  test/images/agnhost/README.md
  test/images/agnhost/porter/porter.go
  test/images/node-perf/npb-ep/README.md
  test/images/node-perf/npb-is/README.md
  test/images/node-perf/tf-wide-deep/README.md
  test/images/regression-issue-74839/README.md
Labels: approved, area/cloudprovider, area/kubeadm, area/kubectl, area/kubelet, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/apps, sig/autoscaling, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/network, sig/node, sig/storage, sig/testing, size/M

#83548 Show the complete docker info command
  cmd/kubeadm/app/util/cgroupdriver.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#83540 Fix volume scheduling error handling
  pkg/controller/volume/scheduling/scheduler_binder.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/apps, sig/storage, size/S

#83104 IP validates if a string is a valid IP address
  pkg/volume/glusterfs/glusterfs.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/storage, size/XS

#82968 Fix golint failures of pkg/kubelet/status/...
  hack/.golint_failures
  pkg/kubelet/status/generate.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/testing/fake_pod_deletion_safety.go
  pkg/kubelet/status/testing/mock_pod_status_provider.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/S

#83106 refactor: v1 event expansion.
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/event_expansion.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/S

#83528 kubeadm: fix wrong default value for the "upgrade node --certificate-renewal" flag
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/cmd/upgrade/node.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XS

#83069 remove trailing dots from the parsed searches from host resolv.conf
  pkg/kubelet/network/dns/dns.go
  pkg/kubelet/network/dns/dns_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, sig/node, size/XS

#83121 Fix typo in API server help for shutdown-delay-duration
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/docs, size/XS

#83597 Log error from AddIndexers in NewAttachDetachController
  pkg/controller/volume/attachdetach/attach_detach_controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/apps, size/XS

#83276 Initial deprecation of kubeadm v1beta1 apis
  cmd/kubeadm/app/apis/kubeadm/v1beta1/bootstraptokenstring.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/types.go
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
  cmd/kubeadm/app/util/config/joinconfiguration_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-action-required, sig/cluster-lifecycle, size/S

#83299 Introduce testutil package to support metrics testing
  staging/src/k8s.io/component-base/metrics/BUILD
  staging/src/k8s.io/component-base/metrics/legacyregistry/registry.go
  staging/src/k8s.io/component-base/metrics/testutil/BUILD
  staging/src/k8s.io/component-base/metrics/testutil/testutil.go
  staging/src/k8s.io/component-base/metrics/wrappers.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/M

#83325 Check whether mirror pod is ciritical in managerImpl#evictPod
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/pod/mirror_client.go
  pkg/kubelet/pod/pod_manager.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  pkg/kubelet/types/pod_update.go
  test/e2e/framework/pod/BUILD
  test/e2e/framework/pod/resource.go
Labels: approved, area/e2e-test-framework, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/M

#82432 feat(scheduler): expose kubernetes client in the framework handle
  pkg/scheduler/factory/factory.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/scheduling, size/M

#83090 Removal of kubernetes error dependencies
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/util/system/BUILD
  cmd/kubeadm/app/util/system/cgroup_validator.go
  cmd/kubeadm/app/util/system/docker_validator.go
  cmd/kubeadm/app/util/system/kernel_validator.go
  cmd/kubeadm/app/util/system/os_validator.go
  cmd/kubeadm/app/util/system/package_validator.go
  cmd/kubeadm/app/util/system/package_validator_test.go
  cmd/kubeadm/app/util/system/validators.go
  test/e2e_node/e2e_node_suite_test.go
Labels: approved, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/testing, size/L

#83414 Add known issue to release notes for 1.14.7
  CHANGELOG-1.14.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/cloud-provider, size/XS

#83510 Refactored e2e-test-framework util.go
  test/e2e/framework/BUILD
  test/e2e/framework/expect.go
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/L

#83552 Verify metadata schema when decoding unstructured objects in resource builder
  staging/src/k8s.io/cli-runtime/pkg/resource/BUILD
  staging/src/k8s.io/cli-runtime/pkg/resource/builder.go
  staging/src/k8s.io/cli-runtime/pkg/resource/builder_test.go
  staging/src/k8s.io/cli-runtime/pkg/resource/metadata_decoder.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cli, size/L

#83570 Mark startupProbe test as NodeAlphaFeature and fix podClient
  test/e2e_node/startup_probe_test.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#83339 kubeadm: enable kubelet certificate rotation on primary CP nodes
  cmd/kubeadm/app/cmd/phases/init/kubeconfig.go
  cmd/kubeadm/app/cmd/phases/init/waitcontrolplane.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
  cmd/kubeadm/app/phases/markcontrolplane/BUILD
  cmd/kubeadm/app/phases/markcontrolplane/markcontrolplane.go
  cmd/kubeadm/app/phases/markcontrolplane/markcontrolplane_test.go
  cmd/kubeadm/app/phases/patchnode/patchnode.go
  cmd/kubeadm/app/util/apiclient/idempotency.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-action-required, sig/cluster-lifecycle, size/M

#83451 Fix block volume reconstruction
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/awsebs/aws_ebs_block.go
  pkg/volume/awsebs/aws_ebs_block_test.go
  pkg/volume/cinder/cinder_block.go
  pkg/volume/cinder/cinder_block_test.go
  pkg/volume/gcepd/gce_pd_block.go
  pkg/volume/gcepd/gce_pd_block_test.go
  pkg/volume/vsphere_volume/vsphere_volume_block.go
  pkg/volume/vsphere_volume/vsphere_volume_block_test.go
  test/e2e/storage/testsuites/disruptive.go
  test/e2e/storage/utils/utils.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/node, sig/storage, sig/testing, size/L

#83489 Expose Shutdown func for EventBroadcaster
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
  staging/src/k8s.io/client-go/tools/events/interfaces.go
  staging/src/k8s.io/client-go/tools/record/event.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#83499 Eliminate direct references to prometheus from kubelet
  pkg/kubelet/dockershim/metrics/BUILD
  pkg/kubelet/dockershim/metrics/metrics.go
  pkg/kubelet/dockershim/network/metrics/BUILD
  pkg/kubelet/dockershim/network/metrics/metrics.go
  pkg/kubelet/metrics/BUILD
  pkg/kubelet/metrics/metrics.go
  pkg/kubelet/server/metrics/BUILD
  pkg/kubelet/server/metrics/metrics.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, needs-priority, release-note-none, sig/network, sig/node, size/M

#78461 correct the return information in scheduler.go
  pkg/scheduler/scheduler.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, lifecycle/stale, ok-to-test, priority/backlog, release-note-none, sig/scheduling, size/XS

#83211 Move privilege e2e test to common
  test/e2e/common/privileged.go
  test/e2e/common/security_context.go
  test/e2e_node/security_context_test.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/node, sig/testing, size/M

#83616 Added alejandrox1 as test/* reviewer
  test/OWNERS
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#81280 Fix Container exit message lost due to FallbackToLogsOnError is not compatible with ContainerCannotRun
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/node, size/S

#82423 kubectl: remove usage info from bad flag msg, only print help tip
  staging/src/k8s.io/kubectl/pkg/util/templates/templater.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cli, size/S

#82865 Fix wrong comments and inaccurate logs in endpointslice_controller
  pkg/controller/endpointslice/endpointslice_controller.go
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, size/S

#82996 Fix EndpointSliceController service deletion processing
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/apps, size/XS

#83286 feat(scheduler): refactor predicateMetadata into a collection of sub types
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/predicates/metadata_test.go
  pkg/scheduler/algorithm/predicates/predicates.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/XL

#83599 Making iptables probability more granular in kube-proxy.
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/network, size/M

#83626 Remove unused method reciever for CSITranslator
  staging/src/k8s.io/csi-translation-lib/translate.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/storage, size/S

#78306 feat(e2e): refactor hard-coded provision size
  test/e2e/framework/volume/fixtures.go
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/external/BUILD
  test/e2e/storage/external/external.go
  test/e2e/storage/external/external_test.go
  test/e2e/storage/testsuites/BUILD
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/base_test.go
  test/e2e/storage/testsuites/disruptive.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/snapshottable.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/testdriver.go
  test/e2e/storage/testsuites/topology.go
  test/e2e/storage/testsuites/volume_expand.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volumelimits.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XL

#81797 move util/metrics to component-base
  cmd/kube-controller-manager/app/BUILD
  cmd/kube-controller-manager/app/core.go
  cmd/kubeadm/.import-restrictions
  pkg/controller/.import-restrictions
  pkg/controller/bootstrap/BUILD
  pkg/controller/bootstrap/bootstrapsigner.go
  pkg/controller/bootstrap/tokencleaner.go
  pkg/controller/certificates/rootcacertpublisher/BUILD
  pkg/controller/certificates/rootcacertpublisher/publisher.go
  pkg/controller/cronjob/BUILD
  pkg/controller/cronjob/cronjob_controller.go
  pkg/controller/daemon/BUILD
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/deployment/BUILD
  pkg/controller/deployment/deployment_controller.go
  pkg/controller/endpoint/BUILD
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpointslice/BUILD
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/job/BUILD
  pkg/controller/job/job_controller.go
  pkg/controller/namespace/BUILD
  pkg/controller/namespace/namespace_controller.go
  pkg/controller/nodeipam/BUILD
  pkg/controller/nodeipam/node_ipam_controller.go
  pkg/controller/nodelifecycle/BUILD
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/podgc/BUILD
  pkg/controller/podgc/gc_controller.go
  pkg/controller/replicaset/BUILD
  pkg/controller/replicaset/replica_set.go
  pkg/controller/route/BUILD
  pkg/controller/route/route_controller.go
  pkg/controller/service/BUILD
  pkg/controller/service/service_controller.go
  pkg/controller/serviceaccount/BUILD
  pkg/controller/serviceaccount/serviceaccounts_controller.go
  pkg/controller/serviceaccount/tokens_controller.go
  pkg/controller/ttlafterfinished/BUILD
  pkg/controller/ttlafterfinished/ttlafterfinished_controller.go
  pkg/controller/volume/pvcprotection/BUILD
  pkg/controller/volume/pvcprotection/pvc_protection_controller.go
  pkg/controller/volume/pvprotection/BUILD
  pkg/controller/volume/pvprotection/pv_protection_controller.go
  pkg/util/BUILD
  staging/src/k8s.io/component-base/metrics/BUILD
  staging/src/k8s.io/component-base/metrics/prometheus/ratelimiter/BUILD
  staging/src/k8s.io/component-base/metrics/prometheus/ratelimiter/OWNERS
  staging/src/k8s.io/component-base/metrics/prometheus/ratelimiter/rate_limiter.go
  staging/src/k8s.io/component-base/metrics/prometheus/ratelimiter/rate_limiter_test.go
  test/e2e/framework/.import-restrictions
  vendor/modules.txt
Labels: approved, area/dependency, area/e2e-test-framework, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/auth, sig/cluster-lifecycle, sig/instrumentation, sig/network, sig/testing, size/M

#83641 CHANGELOG-1.16.md: add note about etcd client bug with IPv6 addresses
  CHANGELOG-1.16.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, sig/release, size/XS

#83537 Added PredicateMetadata and PriorityMetadata to framework's CycleState
  pkg/scheduler/core/BUILD
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/framework/plugins/migration/utils.go
  pkg/scheduler/framework/v1alpha1/framework.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, size/L

#83596 Up minimum go version to 1.12.4
  hack/lib/golang.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note, sig/release, size/XS

#83536 Log the error return from store.Delete
  pkg/controller/volume/persistentvolume/pv_controller_base.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/apps, size/S

#83556 Complete output of docker info
  cmd/kubeadm/app/util/system/docker_validator.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/flake, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#83611 Refactor scheduler metric test with testutils
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/metrics/metrics.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, size/M

#82630 Migrate prometheus bucket functionality to metrics stability framework for apiserver
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/value/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/value/metrics.go
Labels: approved, area/apiserver, area/dependency, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#83625 Add podCgroup to process kill events to allow for correlation
  pkg/kubelet/cm/pod_container_manager_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/S

#82123 replace iteration with hashmap in *state_of_world
  pkg/controller/volume/attachdetach/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/desired_state_of_world.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, sig/node, sig/storage, size/M

#83643 increase auth cache size
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/auth, size/XS

#83655 Cherry pick of #83102: Fix aggressive VM calls for Azure VMSS.
  pkg/cloudprovider/providers/azure/azure_controller_vmss.go
  pkg/cloudprovider/providers/azure/azure_vmss.go
  pkg/cloudprovider/providers/azure/azure_vmss_cache.go
  pkg/cloudprovider/providers/azure/azure_vmss_cache_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/L

#83654 Cherry pick of #83102: Fix aggressive VM calls for Azure VMSS.
  pkg/cloudprovider/providers/azure/azure_controller_vmss.go
  pkg/cloudprovider/providers/azure/azure_vmss.go
  pkg/cloudprovider/providers/azure/azure_vmss_cache.go
  pkg/cloudprovider/providers/azure/azure_vmss_cache_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, sig/cloud-provider, size/L

#83656 Cherry pick of #83102: Fix aggressive VM calls for Azure VMSS.
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/L

#83657 Cherry pick of #83102: Fix aggressive VM calls for Azure VMSS.
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/L

#83447 Clean up TODOs
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/security/podsecuritypolicy/admission.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/auth, size/XS

#82638 [1.15] Encryption config: correctly handle overlapping providers
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer.go
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, size/L

#83372 Automated cherry pick of #83333: Don't leak a go routine on timeout
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/S

#83373 Automated cherry pick of #83333: Don't leak a go routine on timeout
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/S

#83371 Automated cherry pick of #83333: Don't leak a go routine on timeout
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/S

#81263 feat: update scheduling queue with options
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/zz_generated.deepcopy.go
Labels: api-review, approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, priority/important-soon, release-note, sig/apps, sig/scheduling, size/L

#82927 Enable strict serializer in kube-proxy
  cmd/kube-proxy/app/BUILD
  cmd/kube-proxy/app/server_test.go
  pkg/proxy/apis/config/scheme/scheme.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/network, size/M, wg/component-standard

#83480 Update test/e2e/storage for new GetReadySchedulableNodes stuff
  test/e2e/storage/detach_mounted.go
  test/e2e/storage/drivers/BUILD
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/empty_dir_wrapper.go
  test/e2e/storage/flexvolume.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
  test/e2e/storage/pd.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/testsuites/BUILD
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/topology.go
  test/e2e/storage/testsuites/volumelimits.go
  test/e2e/storage/volume_limits.go
  test/e2e/storage/vsphere/persistent_volumes-vsphere.go
  test/e2e/storage/vsphere/vsphere_scale.go
  test/e2e/storage/vsphere/vsphere_stress.go
  test/e2e/storage/vsphere/vsphere_utils.go
  test/e2e/storage/vsphere/vsphere_volume_datastore.go
  test/e2e/storage/vsphere/vsphere_volume_master_restart.go
  test/e2e/storage/vsphere/vsphere_volume_node_delete.go
  test/e2e/storage/vsphere/vsphere_volume_node_poweroff.go
  test/e2e/storage/vsphere/vsphere_volume_perf.go
  test/e2e/storage/vsphere/vsphere_volume_placement.go
  test/e2e/storage/vsphere/vsphere_volume_vpxd_restart.go
  test/e2e/storage/vsphere/vsphere_volume_vsan_policy.go
  test/e2e/storage/vsphere/vsphere_zone_support.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/L

#83620 Automated cherry pick of #82890: Azure: account for Public IPs when reconciling LoadBalancers
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cloud-provider, size/L

#83543 Remove stale comment about resyncPeriod
  pkg/controller/volume/attachdetach/attach_detach_controller.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, size/S

#83615 Use consistent short name for receivers
  staging/src/k8s.io/client-go/tools/record/event.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/S

#82639 [1.14] Automated cherry pick of #82638: Encryption config: correctly handle overlapping providers
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer.go
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, size/L

#78764 Structured output for 'kubeadm token list'
  cmd/kubeadm/app/BUILD
  cmd/kubeadm/app/apis/output/BUILD
  cmd/kubeadm/app/apis/output/doc.go
  cmd/kubeadm/app/apis/output/fuzzer/BUILD
  cmd/kubeadm/app/apis/output/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/output/fuzzer/fuzzer_test.go
  cmd/kubeadm/app/apis/output/register.go
  cmd/kubeadm/app/apis/output/scheme/BUILD
  cmd/kubeadm/app/apis/output/scheme/scheme.go
  cmd/kubeadm/app/apis/output/types.go
  cmd/kubeadm/app/apis/output/v1alpha1/BUILD
  cmd/kubeadm/app/apis/output/v1alpha1/defaults.go
  cmd/kubeadm/app/apis/output/v1alpha1/doc.go
  cmd/kubeadm/app/apis/output/v1alpha1/register.go
  cmd/kubeadm/app/apis/output/v1alpha1/types.go
  cmd/kubeadm/app/apis/output/v1alpha1/zz_generated.conversion.go
  cmd/kubeadm/app/apis/output/v1alpha1/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/output/v1alpha1/zz_generated.defaults.go
  cmd/kubeadm/app/apis/output/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/BUILD
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/token_test.go
  cmd/kubeadm/app/util/BUILD
  cmd/kubeadm/app/util/output/BUILD
  cmd/kubeadm/app/util/output/output.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XL
