Repository kubernetes/kubernetes, pull requests merged in 2019-08, with the labels that each got.

#80144 scheduler: make ApplyFeatureGates() stateless
  pkg/scheduler/algorithmprovider/defaults/defaults.go
  pkg/scheduler/algorithmprovider/plugins.go
  pkg/scheduler/algorithmprovider/plugins_test.go
  pkg/scheduler/factory/plugins.go
  test/integration/daemonset/daemonset_test.go
  test/integration/scheduler/taint_test.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/apps, sig/scheduling, sig/testing, size/M

#80383 Add NormalizeScore extension point for scheduler framework.
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/conformance, area/dependency, area/e2e-test-framework, area/kubeadm, area/kubectl, area/kubelet, area/release-eng, area/test, cncf-cla: yes, kind/api-change, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/autoscaling, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/gcp, sig/instrumentation, sig/network, sig/node, sig/release, sig/scheduling, sig/storage, sig/testing, size/XL

#80708 Move pod related functions in file test/e2e/framework/util.go to its sub directory
  test/e2e/common/BUILD
  test/e2e/common/pods.go
  test/e2e/framework/kubelet/BUILD
  test/e2e/framework/kubelet/kubelet_pods.go
  test/e2e/framework/kubelet_stats.go
  test/e2e/framework/util.go
  test/e2e/node/kubelet.go
  test/e2e/node/kubelet_perf.go
  test/e2e/node/pods.go
  test/e2e_node/resource_usage_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#80761 Refactor pkg/kubectl/conditions.go to remove file
  pkg/kubectl/BUILD
  pkg/kubectl/cmd/run/BUILD
  pkg/kubectl/cmd/run/run.go
  pkg/kubectl/conditions.go
Labels: approved, area/code-organization, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, size/L

#80796 e2e: Run ginkgo in foreground, elminiate wait & pgrep
  cluster/images/conformance/run_e2e.sh
Labels: approved, area/conformance, cncf-cla: yes, kind/flake, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/release, size/XS

#79169 add flag concurrent-statefulset-syncs to kube-controller-manager
  api/api-rules/violation_exceptions.list
  cmd/kube-controller-manager/app/apps.go
  cmd/kube-controller-manager/app/options/BUILD
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/options/options_test.go
  cmd/kube-controller-manager/app/options/statefulsetcontroller.go
  hack/.golint_failures
  pkg/controller/apis/config/BUILD
  pkg/controller/apis/config/types.go
  pkg/controller/apis/config/v1alpha1/BUILD
  pkg/controller/apis/config/v1alpha1/defaults.go
  pkg/controller/apis/config/v1alpha1/doc.go
  pkg/controller/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/apis/config/zz_generated.deepcopy.go
  pkg/controller/statefulset/BUILD
  pkg/controller/statefulset/config/BUILD
  pkg/controller/statefulset/config/OWNERS
  pkg/controller/statefulset/config/doc.go
  pkg/controller/statefulset/config/types.go
  pkg/controller/statefulset/config/v1alpha1/BUILD
  pkg/controller/statefulset/config/v1alpha1/conversion.go
  pkg/controller/statefulset/config/v1alpha1/defaults.go
  pkg/controller/statefulset/config/v1alpha1/doc.go
  pkg/controller/statefulset/config/v1alpha1/register.go
  pkg/controller/statefulset/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/statefulset/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/statefulset/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/types.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/zz_generated.deepcopy.go
Labels: api-review, approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/apps, size/L, tide/merge-method-squash

#80360 Don't count unrelated volumes in scheduler predicate
  pkg/scheduler/algorithm/predicates/max_attachable_volume_predicate_test.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithmprovider/defaults/register_predicates.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scheduling, sig/storage, size/L

#80522 cleanup: remove duplicated logging error message in csi_mounter.go, also some typos.
  pkg/volume/csi/csi_mounter.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/storage, size/M

#80591 hostport: Don't masquerade localhost-to-localhost traffic
  pkg/kubelet/dockershim/network/hostport/hostport.go
  pkg/kubelet/dockershim/network/hostport/hostport_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/network, sig/node, size/S

#80798 do not return error, when the ds is not found
  cmd/kubeadm/app/phases/upgrade/prepull.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XS

#78009 Use reservoir sampling to select one host from priority list
  pkg/scheduler/core/generic_scheduler.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/scheduling, size/M

#80427 fix kubemark e2e test script
  test/kubemark/run-e2e-tests.sh
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#80816 fix snapshotter rbac rules
  test/e2e/testing-manifests/storage-csi/external-snapshotter/rbac.yaml
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/XS

#80848 Fix some unreasonable places int csi ut
  pkg/volume/csi/csi_mounter_test.go
  pkg/volume/csi/csi_plugin_test.go
  pkg/volume/csi/expander_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, size/M

#79195 Fix shellcheck failures in test/cmd/{d,l}.*.sh
  hack/.shellcheck_failures
  test/cmd/apps.sh
  test/cmd/diff.sh
  test/cmd/discovery.sh
  test/cmd/legacy-script.sh
  test/cmd/proxy.sh
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/testing, size/L

#80850 1.15: apiextensions: check request scope against CRD scope correctly
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/scope_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#80852 1.13: apiextensions: check request scope against CRD scope correctly
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/scope_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#80851 1.14: apiextensions: check request scope against CRD scope correctly
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/scope_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#75229 kubelet: lookup node address for external provider if none is set
  pkg/kubelet/nodestatus/BUILD
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Labels: approved, area/cloudprovider, area/kubelet, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/node, size/M

#79827 Fix wrong indentation in shell
  hack/update-codegen.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS

#80378 Add a field 'RequiredAccessModes' to the driver info object that is propagated to pvc creation
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/testdriver.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/M

#80603 OWNERS: api-approvers should be approvers on cri-api
  staging/src/k8s.io/cri-api/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#80841 feat: enhance Azure cloud provider code to support both AAD and ADFS authentication.
  staging/src/k8s.io/legacy-cloud-providers/azure/auth/azure_auth.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note, sig/cloud-provider, size/S

#77534 Refactor and clean up e2e framework utils, this patch handles test/e2e/framework/psp_util.go file
  test/e2e/auth/BUILD
  test/e2e/auth/pod_security_policy.go
  test/e2e/framework/BUILD
  test/e2e/framework/framework.go
  test/e2e/framework/psp/BUILD
  test/e2e/framework/psp/psp.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#77713 add secret back to the workqueue with delay time, avoid expired bootstrap tokens not being deleted
  pkg/controller/bootstrap/BUILD
  pkg/controller/bootstrap/tokencleaner.go
  pkg/controller/bootstrap/tokencleaner_test.go
  staging/src/k8s.io/cluster-bootstrap/util/secrets/secrets.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/apps, sig/auth, sig/cluster-lifecycle, size/M

#80835 Nominate Abdullah Gharaibeh to scheduler maintainers.
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/scheduling, size/XS

#80844 cleanup: log message typo fix
  pkg/volume/azure_dd/azure_common_windows.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, sig/windows, size/XS

#74357 Updates to container manager and internal container lifecycle to accommodate TopologyManager
  cmd/kubelet/app/server.go
  pkg/kubelet/cm/BUILD
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/internal_container_lifecycle.go
  pkg/kubelet/kubelet.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, size/M

#74423 Device Plugin API change to include Topology Info in Devices
  pkg/kubelet/apis/deviceplugin/v1beta1/api.pb.go
  pkg/kubelet/apis/deviceplugin/v1beta1/api.proto
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/XL

#80833 kubeadm: update the version constants for 1.16
  cmd/kubeadm/app/cmd/upgrade/BUILD
  cmd/kubeadm/app/cmd/upgrade/common_test.go
  cmd/kubeadm/app/cmd/upgrade/diff_test.go
  cmd/kubeadm/app/cmd/upgrade/testdata/diff_controlplane_config.yaml
  cmd/kubeadm/app/cmd/upgrade/testdata/diff_dummy_manifest.yaml
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/upgrade/policy_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/M

#80858 Fix selflinks in events tests
  staging/src/k8s.io/client-go/tools/events/eventseries_test.go
  staging/src/k8s.io/client-go/tools/record/event_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/scalability, size/M

#80533 Query nodes in Schedule only when there are no predicates
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/scheduling, size/S

#80804 Make kubeadm join discovery wait for a finite time
  cmd/kubeadm/app/discovery/BUILD
  cmd/kubeadm/app/discovery/discovery.go
  cmd/kubeadm/app/discovery/discovery_test.go
  cmd/kubeadm/app/discovery/file/file.go
  cmd/kubeadm/app/discovery/https/https.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cluster-lifecycle, size/S

#80846 Return early in ApplyScoreWeights if there are no scores
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
  pkg/scheduler/framework/v1alpha1/framework.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/XS

#80860 Typo fix: DaemonsSet->DaemonSet
  test/utils/runners.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#80856 Add v9.0.2 to CHANGELOG.md
  cluster/addons/addon-manager/CHANGELOG.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/gcp, size/XS

#80859 Fix selflinks in tests
  pkg/controller/cronjob/injection.go
  staging/src/k8s.io/kubectl/pkg/describe/versioned/describe_test.go
  test/integration/events/events_test.go
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/apps, sig/cli, sig/testing, size/S

#80863 Only output json format from tests when building junit reports
  hack/make-rules/test.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#80869 Automated cherry pick of #80436: refactors to kubernetes CP command
  pkg/kubectl/cmd/cp/BUILD
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cli, size/L

#80870 Automated cherry pick of #80436: refactors to kubernetes CP command
  pkg/kubectl/cmd/cp/BUILD
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cli, size/L

#80871 Automated cherry pick of #80436: refactors to kubernetes CP command
  pkg/kubectl/cmd/cp/BUILD
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cli, size/L

#80011 Even Pods Spread - 6. Integration Test
  pkg/scheduler/testing/wrappers.go
  pkg/scheduler/util/utils.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/predicates_test.go
  test/integration/scheduler/preemption_test.go
  test/integration/scheduler/priorities_test.go
  test/integration/scheduler/util.go
Labels: approved, area/test, cncf-cla: yes, kind/api-change, kind/feature, lgtm, priority/important-soon, release-note-none, sig/apps, sig/scheduling, sig/testing, size/L

#80764 Determine system model to get credentials for windows nodes
  pkg/credentialprovider/gcp/metadata.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/gcp, size/S

#80778 Removed unsed return values of createResourceQuota
  test/e2e/apimachinery/resource_quota.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S

#80084 Add separate cache for CSINode
  pkg/scheduler/algorithm/predicates/csi_volume_predicate.go
  pkg/scheduler/algorithm/predicates/csi_volume_predicate_test.go
  pkg/scheduler/algorithm/predicates/max_attachable_volume_predicate_test.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/predicates/testing_helper.go
  pkg/scheduler/algorithmprovider/defaults/register_predicates.go
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/plugins.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/internal/cache/interface.go
  pkg/scheduler/nodeinfo/BUILD
  pkg/scheduler/nodeinfo/node_info.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/scheduling, size/L

#80861 Update kube-addon-manager to v9.0.2
  cluster/gce/manifests/kube-addon-manager.yaml
  test/kubemark/resources/manifests/kube-addon-manager.yaml
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cluster-lifecycle, sig/gcp, sig/testing, size/XS

#80862 kubeadm reset: replace Errorf with Warningf
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note, sig/cluster-lifecycle, size/S

#80595 Add IPv6 support to preserve source pod IP test
  test/e2e/framework/service/resource.go
  test/e2e/network/service.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-longterm, release-note-none, sig/network, sig/testing, size/S

#80805 Fix failing service e2e due to execPod unavailability
  test/e2e/network/service.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note, sig/testing, size/M

#80891 handle joinControPlaneDoneTemp.Execute errors
  cmd/kubeadm/app/cmd/join.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#80788 Rename cacheWatcher#stop
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/S

#80505 Fix shellcheck failures in hack/verify-test-featuregates.sh
  hack/.shellcheck_failures
  hack/verify-test-featuregates.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#80882 Don't supress the node update error while logging
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#80894 kubeadm: simplified returns
  cmd/kubeadm/app/util/initsystem/initsystem_unix.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#80902 Fix registry for prometheus-to-sd
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/autoscaling, sig/testing, size/XS

#80920 Unexport kubectl cmd profiling functions
  hack/.golint_failures
  pkg/kubectl/cmd/BUILD
  pkg/kubectl/cmd/cmd.go
  pkg/kubectl/cmd/profiling.go
  staging/src/k8s.io/kubectl/pkg/cmd/BUILD
Labels: approved, area/code-organization, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, size/S

#78793 Fix reserved cgroup systemd
  pkg/kubelet/cm/cgroup_manager_linux_test.go
  pkg/kubelet/cm/node_container_manager_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/node, size/S

#78736 csi: Fix socket extension comment
  pkg/volume/csi/csi_plugin.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/storage, size/XS

#80867 kubeadm: fix-certs-generation-for-external-etcd
  cmd/kubeadm/app/cmd/phases/init/certs.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/S

#80873 Omit namespace when kubectl get is for the cluster
  pkg/kubectl/cmd/get/get.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cli, size/XS

#80884 Fix admissionreview doc typos
  staging/src/k8s.io/api/admission/v1/generated.proto
  staging/src/k8s.io/api/admission/v1/types.go
  staging/src/k8s.io/api/admission/v1/types_swagger_doc_generated.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, size/S

#80922 Toleration priority function score computation
  test/e2e/scheduling/priorities.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/M

#80660 Handle NotImplemented error in service_controller.
  pkg/controller/service/service_controller.go
  staging/src/k8s.io/cloud-provider/cloud.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_alpha.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Labels: approved, area/cloudprovider, area/kubectl, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/apps, sig/cli, sig/cloud-provider, sig/network, size/L

#80628 [FEATURE BRANCH] Splits filter and request-management system implementation and plumbs start-hook
  staging/src/k8s.io/apiserver/BUILD
  staging/src/k8s.io/apiserver/pkg/server/BUILD
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/BUILD
  staging/src/k8s.io/apiserver/pkg/server/filters/reqmgmt.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/BUILD
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/reqmgmt.go
  vendor/modules.txt
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XL

#79144 Remove recursion in csiAttacher#waitForVolumeAttachmentInternal
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/storage, size/S

#80923 Reduce GCE PD Attach Limits by 1 because Node Boot Disk counts as 1 attached disk
  pkg/volume/gcepd/gce_pd.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/S

#80928 increase timeout for maximum-startup-sequence-duration as a stopgap
  test/integration/master/kube_apiserver_test.go
Labels: approved, area/deflake, area/test, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#80932 update generated files
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/apis/example/v1/zz_generated.defaults.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, size/XS

#80933 Preserve existing ephemeral containers on update, validate ephemeral containers and overhead unconditionally
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/node/validation/BUILD
  pkg/apis/node/validation/validation.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/apps, size/L

#80936 Fix verify-generated-files to error on untracked files
  hack/verify-generated-files.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/XS

#78097 feat: implement "post-filter" extension point for scheduling framework
  pkg/scheduler/core/BUILD
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/scheduling, sig/testing, size/L

#80446 Test verify attach
  pkg/volume/gcepd/BUILD
  pkg/volume/gcepd/attacher_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, sig/storage, size/L

#80946 Fix comment on dropPodStatusDisabledFields method
  pkg/api/pod/util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#80218 kube-proxy: change buckets used by NetworkProgrammingLatency
  pkg/proxy/metrics/metrics.go
Labels: approved, area/kube-proxy, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/network, sig/scalability, size/S

#80827 `kubectl get` does not count binaryData keys on ConfigMap
  pkg/printers/internalversion/printers.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, size/XS

#80893 publishing: remove redundant rules for kubectl
  staging/publishing/rules.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cli, sig/release, size/S

#80956 Continue refactoring started in PR 80628
  cmd/kube-apiserver/app/BUILD
  cmd/kube-apiserver/app/server.go
  staging/src/k8s.io/apiserver/pkg/server/filters/reqmgmt.go
  staging/src/k8s.io/apiserver/pkg/server/options/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/recommended.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/BUILD
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/BUILD
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/reqmgmt.go
  vendor/modules.txt
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L

#80820 kubeadm: add a defer to kubelet bootstrap token deletion
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#80919 Disable gzip compression in core control plane components
  cmd/cloud-controller-manager/app/options/options.go
  cmd/kube-apiserver/app/server.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-scheduler/app/options/options.go
  pkg/cloudprovider/providers/openstack/openstack.go
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/rest/config_test.go
  staging/src/k8s.io/client-go/rest/transport.go
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/config.go
Labels: approved, area/apiserver, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/cloud-provider, sig/scalability, sig/scheduling, size/M

#80961 Move docker specific const to dockershim.
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/dockershim/cm/container_manager_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/S

#80536 Upgrade Calico to 3.7.4
  cluster/addons/calico-policy-controller/bgppeers-crd.yaml
  cluster/addons/calico-policy-controller/blockaffinity-crd.yaml
  cluster/addons/calico-policy-controller/calico-clusterrole.yaml
  cluster/addons/calico-policy-controller/calico-node-daemonset.yaml
  cluster/addons/calico-policy-controller/ipamblock-crd.yaml
  cluster/addons/calico-policy-controller/ipamconfig-crd.yaml
  cluster/addons/calico-policy-controller/ipamhandle-crd.yaml
  cluster/addons/calico-policy-controller/networkset-crd.yaml
  cluster/addons/calico-policy-controller/typha-deployment.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, sig/network, size/L

#80610 Add ipv6 support to the e2e kubectl tests
  test/e2e/common/util.go
  test/e2e/kubectl/kubectl.go
  test/e2e/testing-manifests/kubectl/httpd-deployment1.yaml.in
  test/e2e/testing-manifests/kubectl/httpd-deployment2.yaml.in
  test/e2e/testing-manifests/kubectl/httpd-deployment3.yaml.in
  test/e2e/testing-manifests/kubectl/pod-with-readiness-probe.yaml.in
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/L

#80706 Refactor and clean up e2e framework utils, this patch handles test/e2e/framework/kubelet_stats.go file
  test/e2e/framework/BUILD
  test/e2e/framework/kubelet/BUILD
  test/e2e/framework/kubelet/kubelet_pods.go
  test/e2e/framework/kubelet/stats.go
  test/e2e/framework/kubelet_stats.go
  test/e2e/framework/metrics/kubelet_metrics.go
  test/e2e/framework/resource_usage_gatherer.go
  test/e2e/framework/util.go
  test/e2e/node/kubelet.go
  test/e2e/node/kubelet_perf.go
  test/e2e/node/node_problem_detector.go
  test/e2e/scheduling/BUILD
  test/e2e/scheduling/equivalence_cache_predicates.go
  test/e2e/scheduling/predicates.go
  test/e2e_node/density_test.go
  test/e2e_node/resource_collector.go
  test/e2e_node/resource_usage_test.go
  test/e2e_node/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/testing, size/XXL

#80951 kubeadm: enable secure serving for the kube-scheduler
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
  cmd/kubeadm/app/phases/selfhosting/podspec_mutation.go
  cmd/kubeadm/app/phases/selfhosting/podspec_mutation_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/M

#75303 Fix golint failures in some pkg/kubelet packages
  hack/.golint_failures
  pkg/kubelet/config/apiserver.go
  pkg/kubelet/config/common.go
  pkg/kubelet/config/defaults.go
  pkg/kubelet/config/file.go
  pkg/kubelet/config/file_linux.go
  pkg/kubelet/config/file_unsupported.go
  pkg/kubelet/config/flags.go
  pkg/kubelet/config/http.go
  pkg/kubelet/configmap/configmap_manager.go
  pkg/kubelet/configmap/fake_manager.go
  pkg/kubelet/metrics/metrics.go
  pkg/kubelet/pod/mirror_client.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/L

#79443 Simplify checking in getMinTolerationTime
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controller/nodelifecycle/scheduler/taint_manager_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/apps, size/M

#80369 Propagate errors from DSW to pod events
  pkg/kubelet/kubelet.go
  pkg/kubelet/volumemanager/BUILD
  pkg/kubelet/volumemanager/cache/BUILD
  pkg/kubelet/volumemanager/cache/desired_state_of_world.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/kubelet/volumemanager/volume_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/node, sig/storage, size/L

#80460 Use v1helper.GetPersistentVolumeClaimClass for compatibility
  pkg/controller/volume/scheduling/scheduler_binder.go
  pkg/scheduler/algorithm/predicates/csi_volume_predicate.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/apps, sig/scheduling, size/S

#80496 Added import restrictions file to e2e framework
  test/e2e/framework/.import-restrictions
Labels: approved, area/e2e-test-framework, area/release-eng, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/release, sig/testing, size/L

#80273 Don't delete service endpoints when a generic error occurs
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, sig/network, size/S

#80821 Remove duplicate scheduler anti-affinity preemption e2e
  test/e2e/scheduling/preemption.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/L

#80866 cleanup: remove package csi duplicated error log
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_block.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csi/csi_util.go
  pkg/volume/csi/expander.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/storage, size/L

#80966 kubeadm: use EnsureCertificateAuthorityIsEmbedded() for file discovery
  cmd/kubeadm/app/discovery/file/file.go
  cmd/kubeadm/app/util/kubeconfig/kubeconfig.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/backlog, release-note, sig/cluster-lifecycle, size/M

#80990 Bump GCE PD CSI Driver testing manifests to v0.5.2-gke.0 for volume limits fix
  test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  test/e2e/testing-manifests/storage-csi/gce-pd/node_ds.yaml
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#80516 Refactor kubectl retrieve logs test to use agnhost
  test/e2e/kubectl/kubectl.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, size/M

#80879 Wait for pods to be running before eviction starts
  test/e2e/scheduling/taints.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#80991 Add davidz627 to testing manfiests csi owners
  test/e2e/testing-manifests/storage-csi/OWNERS
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/storage, sig/testing, size/XS

#80992 cleanup: fix typo "contstruct" -> "construct"
  cmd/kubeadm/app/util/apiclient/dryrunclient.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#80995 cleanup: fix log message error in test case
  cmd/kubeadm/app/phases/addons/proxy/proxy_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#80837 Use default skuname shared Azure Disk
  pkg/volume/azure_dd/azure_provision.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/storage, size/XS

#75071 Fix volume reconstruction and add e2e tests
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/operationexecutor/operation_executor.go
  test/e2e/framework/pv_util.go
  test/e2e/framework/util.go
  test/e2e/storage/csi_volumes.go
  test/e2e/storage/external/external.go
  test/e2e/storage/generic_persistent_volume-disruptive.go
  test/e2e/storage/in_tree_volumes.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/testsuites/BUILD
  test/e2e/storage/testsuites/disruptive.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/volume_expand.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/utils/utils.go
  test/e2e/upgrades/storage/volume_mode.go
Labels: approved, area/e2e-test-framework, area/kubelet, area/test, cncf-cla: yes, kind/bug, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, sig/storage, sig/testing, size/L

#80994 Bump log level of CSI driver de-registration to match registration handler
  pkg/volume/csi/csi_plugin.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/storage, size/XS

#80885 fix: Use %q instead of %v in the scheduling framework
  pkg/scheduler/framework/v1alpha1/framework.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/scheduling, sig/testing, size/M

#80945 Validate CSI Inline Migration unconditionally
  pkg/apis/storage/validation/validation.go
  pkg/apis/storage/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/storage, size/S

#78345 Fix golint pkg/kubelet/stats/client.go
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  hack/.golint_failures
  pkg/kubelet/client/kubelet_client.go
  pkg/kubelet/client/kubelet_client_test.go
  pkg/kubelet/stats/log_metrics_provider.go
Labels: approved, area/apiserver, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/node, size/M

#76805 Implement CodecFactoryOptions allowing clients to opt-in to Pretty encoders and Strict Decoders
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/codec_factory.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/codec_test.go
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/L, tide/merge-method-squash, wg/component-standard

#79761 Automated cherry pick of #79529: fix: change timeout value in csi plugin
  pkg/volume/csi/csi_plugin.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, size/XS

#80268 Automated cherry pick of #71276: WIP: Handle failed attach operation leave uncertain
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
  pkg/controller/volume/attachdetach/cache/BUILD
  pkg/controller/volume/attachdetach/cache/actual_state_of_world.go
  pkg/controller/volume/attachdetach/cache/actual_state_of_world_test.go
  pkg/controller/volume/attachdetach/metrics/metrics_test.go
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, sig/storage, size/XL

#80326 Automated cherry pick of #80191: Add passthrough for MountOptions for NodeStageVolume for
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_block.go
  pkg/volume/csi/csi_client.go
  pkg/volume/csi/csi_client_test.go
  pkg/volume/csi/csi_plugin_test.go
  pkg/volume/csi/fake/fake_client.go
  test/e2e/storage/drivers/csi.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, sig/testing, size/M

#79138 Automated cherry pick of #76061: test/e2e/network: Honor --dns-domain in more places
  test/e2e/network/dns.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/testing, size/XS

#80926 Automated cherry pick of #80923: Reduce GCE PD Attach Limits by 1 because Node Boot Disk
  pkg/volume/gcepd/gce_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/S

#80055 Automated cherry pick of #78874: Fix the creation of load balancer policy for the NodeIp when
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/network, size/XS

#80925 Automated cherry pick of #80923: Reduce GCE PD Attach Limits by 1 because Node Boot Disk
  pkg/volume/gcepd/gce_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/S

#80105 Add ImageFSInfo, ContainerStats, and ListContainerStats impl for linux to dockershim
  pkg/kubelet/dockershim/BUILD
  pkg/kubelet/dockershim/docker_image_linux.go
  pkg/kubelet/dockershim/docker_stats.go
  pkg/kubelet/dockershim/docker_stats_linux.go
  pkg/kubelet/dockershim/docker_stats_test.go
  pkg/kubelet/dockershim/docker_stats_unsupported.go
  pkg/kubelet/dockershim/docker_stats_windows.go
  pkg/kubelet/dockershim/libdocker/fake_client.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, size/L

#79694 Automated cherry pick of #75585: Updated client-go expiration cache to take in expiration #75587: Remove aws cred provider dep on cloud provider
  pkg/cloudprovider/providers/aws/BUILD
  pkg/cloudprovider/providers/aws/regions.go
  pkg/credentialprovider/aws/BUILD
  pkg/credentialprovider/aws/aws_credentials.go
  pkg/credentialprovider/aws/aws_credentials_test.go
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/azure/azure_credentials_test.go
  pkg/credentialprovider/gcp/metadata.go
  pkg/credentialprovider/gcp/metadata_test.go
  pkg/credentialprovider/keyring.go
  pkg/credentialprovider/keyring_test.go
  pkg/credentialprovider/provider.go
  pkg/credentialprovider/provider_test.go
  pkg/credentialprovider/rancher/rancher_registry_credentials.go
  pkg/credentialprovider/rancher/rancher_registry_credentials_test.go
  pkg/kubelet/dockershim/helpers.go
  pkg/kubelet/kuberuntime/kuberuntime_image.go
  staging/src/k8s.io/client-go/tools/cache/expiration_cache.go
  staging/src/k8s.io/client-go/tools/cache/expiration_cache_fakes.go
  staging/src/k8s.io/client-go/tools/cache/expiration_cache_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/cloud-provider, sig/node, size/XL

#79760 Automated cherry pick of #79529: fix: change timeout value in csi plugin
  pkg/volume/csi/csi_plugin.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, size/XS

#80056 Automated cherry pick of #78874: Fix the creation of load balancer policy for the NodeIp when
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/network, size/XS

#80196 Automated cherry pick of #79920: Bugfix: csi raw block that does not need attach mounted failed
  pkg/volume/csi/csi_block.go
  pkg/volume/csi/csi_block_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, size/L

#80325 Automated cherry pick of #80191: Add passthrough for MountOptions for NodeStageVolume for
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_block.go
  pkg/volume/csi/csi_client.go
  pkg/volume/csi/csi_client_test.go
  pkg/volume/csi/csi_plugin_test.go
  pkg/volume/csi/fake/fake_client.go
  test/e2e/storage/drivers/csi.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, sig/testing, size/M

#80195 Automated cherry pick of #79920: Bugfix: csi raw block that does not need attach mounted failed
  pkg/volume/csi/csi_block.go
  pkg/volume/csi/csi_block_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, size/L

#78610 Add trace to webhook invocations
  go.mod
  go.sum
  pkg/scheduler/core/generic_scheduler.go
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/admission/configuration/mutating_webhook_manager.go
  staging/src/k8s.io/apiserver/pkg/admission/configuration/validating_webhook_manager.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/accessors.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/accessors_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/BUILD
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/namespace/matcher_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/object/matcher_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/request/admissionreview_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/BUILD
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/plugin/pkg/audit/webhook/BUILD
  staging/src/k8s.io/apiserver/plugin/pkg/audit/webhook/webhook.go
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/trace/trace.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/node, sig/scheduling, size/L

#80321 vender upgrade codedellemc/goscaleio to release v0.1.0
  Godeps/LICENSES
  go.mod
  go.sum
  pkg/volume/scaleio/BUILD
  pkg/volume/scaleio/sio_client.go
  pkg/volume/scaleio/sio_mgr.go
  pkg/volume/scaleio/sio_mgr_test.go
  vendor/BUILD
  vendor/github.com/codedellemc/goscaleio/.gitignore
  vendor/github.com/codedellemc/goscaleio/.travis.yml
  vendor/github.com/thecodeteam/goscaleio/.gitignore
  vendor/github.com/thecodeteam/goscaleio/.travis.yml
  vendor/github.com/thecodeteam/goscaleio/BUILD
  vendor/github.com/thecodeteam/goscaleio/Gopkg.lock
  vendor/github.com/thecodeteam/goscaleio/Gopkg.toml
  vendor/github.com/thecodeteam/goscaleio/LICENSE
  vendor/github.com/thecodeteam/goscaleio/README.md
  vendor/github.com/thecodeteam/goscaleio/VERSION
  vendor/github.com/thecodeteam/goscaleio/api.go
  vendor/github.com/thecodeteam/goscaleio/certs.go
  vendor/github.com/thecodeteam/goscaleio/device.go
  vendor/github.com/thecodeteam/goscaleio/instance.go
  vendor/github.com/thecodeteam/goscaleio/protectiondomain.go
  vendor/github.com/thecodeteam/goscaleio/scsiinitiator.go
  vendor/github.com/thecodeteam/goscaleio/sdc.go
  vendor/github.com/thecodeteam/goscaleio/sds.go
  vendor/github.com/thecodeteam/goscaleio/storagepool.go
  vendor/github.com/thecodeteam/goscaleio/system.go
  vendor/github.com/thecodeteam/goscaleio/types/v1/BUILD
  vendor/github.com/thecodeteam/goscaleio/types/v1/types.go
  vendor/github.com/thecodeteam/goscaleio/user.go
  vendor/github.com/thecodeteam/goscaleio/volume.go
  vendor/modules.txt
Labels: approved, area/code-organization, area/dependency, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, size/S

#80412 Add doc that plugins in bind cycle should not use scheduler NodeInfoSnapshot
  pkg/scheduler/framework/v1alpha1/interface.go
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/scheduling, size/XS

#80590 Remove Configurator interface
  pkg/scheduler/BUILD
  pkg/scheduler/api/compatibility/compatibility_test.go
  pkg/scheduler/factory/BUILD
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/testutil.go
  test/integration/scheduler/util.go
  test/integration/scheduler_perf/BUILD
  test/integration/scheduler_perf/scheduler_bench_test.go
  test/integration/scheduler_perf/scheduler_test.go
  test/integration/scheduler_perf/util.go
  test/integration/util/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, sig/scheduling, sig/testing, size/L

#80654 Promote taint-based eviction e2e tests to Conformance
  test/conformance/testdata/conformance.txt
  test/e2e/scheduling/taints.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/testing, size/M

#80344 Automated cherry pick of #80173: make node lease renew interval more heuristic
  pkg/kubelet/kubelet.go
  pkg/kubelet/nodelease/controller.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/node, size/S

#79495 fix multi-version CRD + admission webhook
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/BUILD
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/conversion.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/conversion_test.go
  test/e2e/apimachinery/webhook.go
  test/e2e/framework/crd_util.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/L

#80345 Automated cherry pick of #80173: make node lease renew interval more heuristic
  pkg/kubelet/kubelet.go
  pkg/kubelet/nodelease/controller.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/node, size/S

#80642 Automated cherry pick of #78222: Fix nil pointer dereference in metrics value calculator.
  pkg/kubelet/server/stats/volume_stat_calculator.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/S

#80729 Automated cherry pick of #80675: fix-file-discovery
  cmd/kubeadm/app/discovery/BUILD
  cmd/kubeadm/app/discovery/discovery.go
  cmd/kubeadm/app/discovery/file/BUILD
  cmd/kubeadm/app/discovery/file/file.go
  cmd/kubeadm/app/util/kubeconfig/BUILD
  cmd/kubeadm/app/util/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/util/kubeconfig/kubeconfig_test.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/L

#80989 Automated cherry pick of #80276: Don't expect pod to stay up during node upgrade
  test/e2e/upgrades/apparmor.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#80728 Automated cherry pick of #80675: fix-file-discovery
  cmd/kubeadm/app/discovery/BUILD
  cmd/kubeadm/app/discovery/discovery.go
  cmd/kubeadm/app/discovery/file/BUILD
  cmd/kubeadm/app/discovery/file/file.go
  cmd/kubeadm/app/util/kubeconfig/BUILD
  cmd/kubeadm/app/util/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/util/kubeconfig/kubeconfig_test.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/L

#80257 [FEATURE BRANCH] Flow-control models implementation (storage, validation, defaulting..)
  hack/.golint_failures
  pkg/apis/flowcontrol/BUILD
  pkg/apis/flowcontrol/bootstrap/BUILD
  pkg/apis/flowcontrol/bootstrap/flowschemas.go
  pkg/apis/flowcontrol/bootstrap/prioritylevelconfigurations.go
  pkg/apis/flowcontrol/install/BUILD
  pkg/apis/flowcontrol/install/install.go
  pkg/apis/flowcontrol/types.go
  pkg/apis/flowcontrol/v1alpha1/BUILD
  pkg/apis/flowcontrol/v1alpha1/defaults.go
  pkg/apis/flowcontrol/v1alpha1/zz_generated.defaults.go
  pkg/apis/flowcontrol/validation/BUILD
  pkg/apis/flowcontrol/validation/validation.go
  pkg/apis/flowcontrol/validation/validation_test.go
  pkg/master/BUILD
  pkg/master/master.go
  pkg/registry/BUILD
  pkg/registry/flowcontrol/flowschema/BUILD
  pkg/registry/flowcontrol/flowschema/doc.go
  pkg/registry/flowcontrol/flowschema/storage/BUILD
  pkg/registry/flowcontrol/flowschema/storage/storage.go
  pkg/registry/flowcontrol/flowschema/strategy.go
  pkg/registry/flowcontrol/prioritylevelconfiguration/BUILD
  pkg/registry/flowcontrol/prioritylevelconfiguration/doc.go
  pkg/registry/flowcontrol/prioritylevelconfiguration/storage/BUILD
  pkg/registry/flowcontrol/prioritylevelconfiguration/storage/storage.go
  pkg/registry/flowcontrol/prioritylevelconfiguration/strategy.go
  pkg/registry/flowcontrol/rest/BUILD
  pkg/registry/flowcontrol/rest/storage_flowcontrol.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XXL

#80655 Promote NodePort service creation e2e test to conformance
  test/conformance/testdata/conformance.txt
  test/e2e/network/service.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/network, sig/testing, size/S

#80790 Use framework.ExpectEqual() in test/e2e_node/[a-d]
  test/e2e_node/apparmor_test.go
  test/e2e_node/container_log_rotation_test.go
  test/e2e_node/container_manager_test.go
  test/e2e_node/critical_pod_test.go
  test/e2e_node/device_plugin_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#80843 feat: update multiple files in e2e node with framework helpers
  test/e2e_node/eviction_test.go
  test/e2e_node/gpu_device_plugin_test.go
  test/e2e_node/mirror_pod_test.go
  test/e2e_node/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, sig/testing, size/M

#80935 Return error returned by CSINode Get if initialization failed
  pkg/volume/csi/nodeinfomanager/nodeinfomanager.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/storage, size/XS

#80953 Fix error collides with imported package name
  test/e2e/framework/framework.go
  test/e2e/framework/lifecycle/upgrade.go
  test/e2e/framework/providers/gce/gce.go
  test/e2e/framework/test_context.go
  test/e2e/framework/util.go
  test/e2e/framework/viperconfig/viperconfig_test.go
  test/e2e_node/resource_collector.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/M

#80328 Automated cherry pick of #80191: Add passthrough for MountOptions for NodeStageVolume for
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_block.go
  pkg/volume/csi/csi_client.go
  pkg/volume/csi/csi_client_test.go
  pkg/volume/csi/csi_util_test.go
  pkg/volume/csi/fake/fake_client.go
  test/e2e/storage/drivers/csi.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, sig/testing, size/M

#80974 [FEATURE BRANCH] Plumbing request-management filter into insecure handler
  pkg/kubeapiserver/server/BUILD
  pkg/kubeapiserver/server/insecure_handler.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#80681 add options for name and namespace of leaderelection object
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/cloud-controller-manager/app/options/options.go
  cmd/cloud-controller-manager/app/options/options_test.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/options/options_test.go
  cmd/kube-scheduler/app/options/deprecated.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  pkg/client/leaderelectionconfig/config.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/BUILD
  pkg/scheduler/apis/config/v1alpha1/conversion.go
  pkg/scheduler/apis/config/v1alpha1/conversion_test.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  staging/src/k8s.io/component-base/config/types.go
  staging/src/k8s.io/component-base/config/v1alpha1/types.go
  staging/src/k8s.io/component-base/config/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/component-base/config/validation/validation.go
  staging/src/k8s.io/component-base/config/validation/validation_test.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/types.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/cloud-provider, sig/scheduling, size/L

#80241 Automated cherry pick of #80157 #80236 upstream release 1.15
  cmd/kubelet/app/server_bootstrap_test.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/BUILD
  staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/conversion.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/register.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/zz_generated.conversion.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/api-change, lgtm, priority/important-soon, release-note, sig/node, size/M

#80598 Conformance should not skip tests in 1.14
  test/e2e/apimachinery/crd_watch.go
  test/e2e/apimachinery/custom_resource_definition.go
  test/e2e/common/BUILD
  test/e2e/common/downward_api.go
  test/e2e/kubectl/kubectl.go
Labels: approved, area/conformance, area/test, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/testing, size/S

#81002 kubeadm: fix name of CA spell error
  cmd/kubeadm/app/cmd/alpha/kubeconfig_test.go
  cmd/kubeadm/app/phases/certs/certlist.go
  cmd/kubeadm/app/phases/certs/certs.go
  cmd/kubeadm/app/phases/certs/certs_test.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/certs/util.go
  cmd/kubeadm/test/util.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/M

#79909 Moving e2e boilerplate to separate functions
  test/e2e/BUILD
  test/e2e/e2e.go
  test/e2e/framework/BUILD
  test/e2e/framework/nodes_util.go
  test/e2e/framework/suites.go
  test/e2e/framework/test_context.go
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/testing, size/L

#79659 Test webhooks with and without watch cache enabled
  test/integration/apiserver/admissionwebhook/admission_test.go
  test/integration/apiserver/admissionwebhook/reinvocation_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/testing, size/M

#80947 kubeadm e2e networking test for dual-stack podSubnet check.
  test/e2e_kubeadm/networking_test.go
Labels: approved, area/kubeadm, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/cluster-lifecycle, sig/testing, size/M

#80986 Add CHANGELOG-1.16.md to CHANGELOG.md
  CHANGELOG.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/release, size/XS

#81018 fix wrong spells in create_namespace.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_namespace.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cli, size/XS

#81053 Reduce indents of resource_usage_gatherer
  test/e2e/framework/resource_usage_gatherer.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/L
