Repository kubernetes/kubernetes, pull requests merged in 2019-07, with the labels that each got.

#74943 Fix #74900 - kubectl logs --selector supports --tail=-1
  pkg/kubectl/cmd/logs/logs.go
  pkg/kubectl/cmd/logs/logs_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note, sig/apps, sig/cli, size/S

#79591 Simplify the check of presence of labels in createPods
  pkg/controller/controller_utils.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, size/XS

#79498 kubeadm: fix bug for --cri-socket flag processing logic
  cmd/kubeadm/app/cmd/reset.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XS

#79584 Drop unnecessary claim parameter from PersistentVolumeController#updateBindVolumeToClaim
  pkg/controller/volume/persistentvolume/pv_controller.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, size/S

#77795 Remove selected IP from backup-volfile-servers list to avoid warning in mount logs.
  pkg/volume/glusterfs/glusterfs.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, needs-priority, ok-to-test, release-note-none, sig/storage, size/S

#78728 Modify firewall rules names to make them shorter.
  cluster/gce/util.sh
  test/e2e/framework/providers/gce/firewall.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/testing, size/S

#79218 kubeadm: update OWNERS for 1.16
  cmd/kubeadm/OWNERS
  test/e2e_kubeadm/OWNERS
Labels: approved, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/testing, size/S

#79588 Deprecate scalability tests (we use ClusterLoader already)
  test/e2e/scalability/density.go
  test/e2e/scalability/framework.go
  test/e2e/scalability/load.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scalability, sig/testing, size/S

#79439 Automated cherry pick of #79114: crd-handler: level-trigger storage recreation and fix a race
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/M

#79575 Allow unit test to pass on machines without ipv6
  staging/src/k8s.io/apiserver/pkg/server/config_selfclient_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, size/XS

#78727 Modify kube-up to support cluster without nodes.
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/util.sh
  cluster/validate-cluster.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/S

#79592 Move population of expectedUIDs outside lock
  pkg/controller/controller_utils.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, size/S

#79599 Clear valueWatchers instead of removing every entry using a loop
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#74847 refactor: use controller.FilterActivePods in test/e2e/framework/util.go
  test/e2e/framework/pod/wait.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS

#79449 kubeadm: don't use the Docker SDK in util/system/docker_validator*
  cmd/kubeadm/.import-restrictions
  cmd/kubeadm/app/util/system/BUILD
  cmd/kubeadm/app/util/system/docker_validator.go
  cmd/kubeadm/app/util/system/docker_validator_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/node, size/L

#76315 New E2E proposal: Validate that all the pods are removed when the job is deleted
  test/e2e/apps/job.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/conformance, area/e2e-test-framework, area/kubeadm, area/kubectl, area/kubelet, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/node, sig/testing, size/S

#79524 Add missing CSINodeInformer when creating ConfigFactoryArgs
  pkg/scheduler/api/compatibility/compatibility_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/scheduler/util.go
  test/integration/util/util.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/apps, sig/scheduling, sig/testing, size/XS

#77150 Only create one pod per node with gpus in E2E test
  test/e2e/scheduling/nvidia-gpus.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/S

#78820 Fix typos.
  cluster/images/etcd/migrate/data_dir.go
  cluster/log-dump/log-dump.sh
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/cmd/init_test.go
  cmd/kubeadm/app/phases/certs/renewal/expiration_test.go
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/util/runtime/runtime_test.go
  cmd/kubeadm/app/util/system/types.go
  pkg/proxy/config/config.go
  pkg/proxy/iptables/proxier.go
  staging/src/k8s.io/client-go/tools/cache/fake_custom_store.go
  test/e2e/framework/test_context.go
Labels: approved, area/e2e-test-framework, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/network, sig/testing, size/S

#79076 fix: predicates read nodes from scheduler cache
  pkg/kubelet/kubelet.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/factory/factory.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/internal/cache/interface.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, sig/scheduling, size/M

#79387 Restore early return for podSpecHasContainer
  pkg/apis/core/pods/helpers.go
  pkg/apis/core/pods/helpers_test.go
  pkg/apis/core/validation/validation.go
  pkg/security/podsecuritypolicy/provider.go
  plugin/pkg/admission/alwayspullimages/admission.go
  plugin/pkg/admission/podpreset/admission.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/apps, sig/auth, sig/release, size/M

#79534 Fix possible fd leak and closing of dirs in doSafeMakeDir
  pkg/volume/util/subpath/subpath_linux.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note, sig/storage, size/XS

#79112 Obtain readyzLock once in installReadyz to prevent double addition of readyz check
  staging/src/k8s.io/apiserver/pkg/server/healthz.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#79560 Fix ordering settings in update bazel
  hack/update-bazel.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS

#79562 Add mattjmcnaughton as sig-node-reviewer
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/node, size/XS

#72168 Allow version field in the title to be changeable
  test/conformance/cf_header.md
  test/conformance/walk.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/architecture, sig/testing, size/S

#71170 Cleanup math/rand package usage
  cmd/kubelet/app/server.go
  pkg/kubelet/dockershim/libdocker/fake_client.go
  staging/src/k8s.io/client-go/tools/cache/BUILD
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
  staging/src/k8s.io/client-go/tools/cache/main_test.go
  staging/src/k8s.io/client-go/tools/record/BUILD
  staging/src/k8s.io/client-go/tools/record/event.go
  staging/src/k8s.io/client-go/tools/record/event_test.go
  staging/src/k8s.io/client-go/tools/record/main_test.go
  staging/src/k8s.io/client-go/util/workqueue/BUILD
  staging/src/k8s.io/client-go/util/workqueue/delaying_queue_test.go
  staging/src/k8s.io/client-go/util/workqueue/main_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/main_test.go
  test/e2e/e2e_test.go
  test/e2e/framework/util.go
  test/e2e/network/service.go
  test/e2e/storage/pd.go
Labels: approved, area/cloudprovider, area/dependency, area/e2e-test-framework, area/kubelet, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cloud-provider, sig/node, sig/testing, size/L

#78908 vendor: bump CNI to v0.7.1 snapshot
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
  cmd/kubelet/app/options/container_runtime.go
  cmd/kubelet/app/server.go
  go.mod
  go.sum
  pkg/kubelet/config/flags.go
  pkg/kubelet/dockershim/docker_service.go
  pkg/kubelet/dockershim/network/cni/cni.go
  pkg/kubelet/dockershim/network/cni/cni_test.go
  pkg/kubelet/dockershim/network/cni/testing/mock_cni.go
  pkg/kubelet/dockershim/network/kubenet/kubenet_linux.go
  pkg/kubelet/dockershim/network/kubenet/kubenet_linux_test.go
  pkg/kubelet/dockershim/network/kubenet/kubenet_unsupported.go
  pkg/kubelet/kubelet.go
  test/e2e_node/services/kubelet.go
  vendor/github.com/containernetworking/cni/libcni/api.go
  vendor/github.com/containernetworking/cni/libcni/conf.go
  vendor/github.com/containernetworking/cni/pkg/invoke/args.go
  vendor/github.com/containernetworking/cni/pkg/invoke/delegate.go
  vendor/github.com/containernetworking/cni/pkg/invoke/exec.go
  vendor/github.com/containernetworking/cni/pkg/invoke/os_unix.go
  vendor/github.com/containernetworking/cni/pkg/invoke/raw_exec.go
  vendor/github.com/containernetworking/cni/pkg/types/020/types.go
  vendor/github.com/containernetworking/cni/pkg/types/current/types.go
  vendor/github.com/containernetworking/cni/pkg/types/types.go
  vendor/github.com/containernetworking/cni/pkg/version/plugin.go
  vendor/github.com/containernetworking/cni/pkg/version/version.go
  vendor/modules.txt
Labels: approved, area/dependency, area/kubeadm, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/network, sig/node, sig/testing, size/L

#79322 e2e test: change from milli bytes to bytes in ephemeral-storage resource limits
  test/e2e/scheduling/predicates.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scheduling, sig/testing, size/S

#79471 🔗 fix the KEP-kube-scheduler link
  staging/src/k8s.io/kube-scheduler/README.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/scheduling, size/XS

#79153 Make AuthorizeClientBearerToken actually return if authn or authz is nil
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/auth, size/M

#77792 kubeadm: prevent PSP blocking of upgrade image prepull
  cmd/kubeadm/app/phases/upgrade/BUILD
  cmd/kubeadm/app/phases/upgrade/prepull.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XS

#77271 Creating instance groups in parallel
  cluster/gce/util.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/gcp, size/S

#79647 Add public functions to define CSI external tests
  test/e2e/storage/external/external.go
  test/e2e/storage/external/external_test.go
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cli, sig/testing, size/S

#79035 Fix HPA feedback from writing status.replicas to spec.replicas.
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/apps, sig/autoscaling, size/M

#78627 Check the correct value of Quantity for non-v1.ResourceCPU resource in GetResourceRequest
  pkg/api/v1/resource/helpers.go
  pkg/api/v1/resource/helpers_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/node, size/M

#79642 Omit obtaining the lock when adding Nodes in newNodeTree
  pkg/scheduler/internal/cache/node_tree.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/XS

#79650 correct the CHANGELOG-1.15.md
  CHANGELOG-1.15.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/M

#78177 Increase Network Policy tests coverage
  test/e2e/network/BUILD
  test/e2e/network/network_policy.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/network, sig/testing, size/L

#79497 Save docker tag for releases in tarfile archive
  build/lib/release.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/release, size/S

#79646 Utilize RWMutex for efficient backoff operations
  staging/src/k8s.io/client-go/util/flowcontrol/backoff.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/S

#79182 Automated cherry pick of #78313: Avoid the default server mux
  cmd/kubelet/app/server.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/doc.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
Labels: approved, area/apiserver, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/node, size/S

#79480 Fix client-go request benchmark
  staging/src/k8s.io/client-go/rest/request_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#72974 kubelet: add allowed sysctl to KubeletConfiguration
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/internal.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/v1beta1.yaml
  cmd/kubelet/app/options/options.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
Labels: approved, area/kubeadm, area/kubelet, cncf-cla: yes, kind/api-change, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/node, size/S

#79675 Create a service account Getter when TokenRequest is enabled
  cmd/kube-apiserver/app/BUILD
  cmd/kube-apiserver/app/server.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, size/XS

#79420 [FEATURE BRANCH] Add developers to api-approver to unblock people
  OWNERS
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#73982 fix cp time stamp is in the future error
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cli, size/XS

#79701 correct flag order in make-help
  hack/make-rules/make-help.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/release, size/XS

#79713 Fix HA setup logic
  cluster/gce/gci/master-helper.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/S

#78789 Remove experimental note for ipvs in kube-proxy arguments
  cmd/kube-proxy/app/server.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/network, size/XS

#79703 Add MASTER_NODE_LABELS
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/util.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/XS

#79707 Cherry pick #79035 to 1.13 (Fix HPA feedback from writing status.replicas to spec.replicas)
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/autoscaling, size/M

#79708 Cherry pick #79035 to 1.14 (Fix HPA feedback from writing status.replicas to spec.replicas)
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/apps, sig/autoscaling, size/M

#79270 kubeadm: add --control-plane-endpoint flag
  cmd/kubeadm/app/cmd/alpha/kubeconfig.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/options/constant.go
  cmd/kubeadm/app/cmd/phases/init/addons.go
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/phases/init/controlplane.go
  cmd/kubeadm/app/cmd/phases/init/kubeconfig.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/S

#79705 correct the CHANGELOG-1.12.md
  CHANGELOG-1.12.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/M

#72420 clean up redundant conditiontype ‘OutOfDisk’
  pkg/apis/core/types.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
  pkg/scheduler/eventhandlers_test.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/testapigroup/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/testapigroup/v1/generated.proto
  staging/src/k8s.io/apimachinery/pkg/apis/testapigroup/v1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/example/types.go
  staging/src/k8s.io/apiserver/pkg/apis/example/v1/generated.proto
  staging/src/k8s.io/apiserver/pkg/apis/example/v1/types.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/apps, sig/architecture, sig/node, sig/scheduling, size/M

#79045 Fix file permissions for non executable files
  hack/conformance/check_conformance_test_requirements.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/status.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/tools/cache/store.go
  test/e2e/windows/memory_limits.go
  test/fixtures/doc-yaml/admin/resourcequota/limits.yaml
  test/images/sample-device-plugin/sampledeviceplugin.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/testing, size/XS

#79529 fix: change default timeout value in csi plugin
  pkg/volume/csi/csi_plugin.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/XS

#79572 Automated cherry pick of #79094: fix kubelet can not delete orphaned pod directory when "/var/lib/kubelet/pods" directory symbolically links to another device's directory
  pkg/util/mount/mount_linux.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/XS

#79618 Automated cherry pick of #79446: Fix AWS DHCP option set domain names causing garbled
  pkg/cloudprovider/providers/aws/aws.go
  pkg/cloudprovider/providers/aws/aws_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cloud-provider, size/M

#79664 Automated cherry pick of #79534: Fix closing of dirs in doSafeMakeDir
  pkg/volume/util/subpath/subpath_linux.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/storage, size/XS

#79521 Automated cherry pick of #79514: Default resourceGroup should be used when value of annotation
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/azure, sig/cloud-provider, size/M

#77819 Add a metadata client to client-go that can read PartialObjectMetadata
  staging/src/k8s.io/client-go/BUILD
  staging/src/k8s.io/client-go/metadata/BUILD
  staging/src/k8s.io/client-go/metadata/interface.go
  staging/src/k8s.io/client-go/metadata/metadata.go
  staging/src/k8s.io/client-go/metadata/metadata_test.go
  test/integration/apiserver/BUILD
  test/integration/apiserver/apiserver_test.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/api-change, lgtm, needs-priority, release-note, sig/api-machinery, sig/testing, size/XL

#79728 consolidate coreDNS version to ease dependency bump
  cmd/kubeadm/app/phases/upgrade/compute_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/release, size/S

#79619 Automated cherry pick of #79446: Fix AWS DHCP option set domain names causing garbled
  pkg/cloudprovider/providers/aws/aws.go
  pkg/cloudprovider/providers/aws/aws_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cloud-provider, size/M

#79369 kubeadm: improve kubeadm command output
  cmd/kubeadm/app/cmd/alpha/certs.go
  cmd/kubeadm/app/cmd/phases/join/controlplaneprepare.go
  cmd/kubeadm/app/cmd/util/join.go
  cmd/kubeadm/app/phases/copycerts/copycerts.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#79636 Fix publishing x-kubernetes-preserve-unknown-fields working with kubectl
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/conversion.go
  test/e2e/apimachinery/crd_publish_openapi.go
Labels: approved, area/custom-resources, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/M

#79665 Automated cherry pick of #79534: Fix closing of dirs in doSafeMakeDir
  pkg/util/mount/mount_linux.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/storage, size/XS

#79571 Automated cherry pick of #79094: fix kubelet can not delete orphaned pod directory when "/var/lib/kubelet/pods" directory symbolically links to another device's directory
  pkg/util/mount/mount_linux.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/XS

#78540 Add healthz check for KMS Providers on kube-apiserver.
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/types.go
  staging/src/k8s.io/apiserver/pkg/server/options/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/encryption-configs/multiple-kms-providers.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/encryption-configs/single-kms-provider.yaml
  test/integration/master/BUILD
  test/integration/master/kms_plugin_mock.go
  test/integration/master/kms_transformation_test.go
  test/integration/master/secrets_transformation_test.go
  test/integration/master/transformation_testcase.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, area/test, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, sig/auth, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/node, sig/testing, size/XL

#79321 Fix golint failure in pkg/kubelet/dockershim/network/cni
  hack/.golint_failures
  pkg/kubelet/dockershim/network/cni/cni.go
  pkg/kubelet/dockershim/network/cni/cni_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/network, sig/node, size/M

#79639 call unreserve plugin before record event
  pkg/scheduler/scheduler.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/XS

#79674 Remove lazy provide from credential provider and kubelet
  pkg/credentialprovider/aws/aws_credentials.go
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/gcp/metadata.go
  pkg/credentialprovider/keyring.go
  pkg/credentialprovider/keyring_test.go
  pkg/credentialprovider/plugins.go
  pkg/credentialprovider/provider.go
  pkg/kubelet/dockershim/helpers.go
  pkg/kubelet/kuberuntime/kuberuntime_image.go
Labels: approved, area/cloudprovider, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/aws, sig/cloud-provider, sig/node, size/L, tide/merge-method-squash

#79731 Edit google DNS hostname
  test/e2e/network/dns_configmap.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/network, sig/testing, size/XS

#74411 Add feature gate and kubelet flags for Topology Manager
  cmd/kubeadm/app/componentconfigs/validation_test.go
  cmd/kubelet/app/options/options.go
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: approved, area/kubeadm, area/kubelet, cncf-cla: yes, kind/api-change, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, sig/node, size/M

#79700 kubelet: fix ip reporting for downward api
  pkg/kubelet/kubelet.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/network, sig/node, size/XS

#79637 Update gophercloud vendor dependency to v0.1.0
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/gophercloud/gophercloud/.travis.yml
  vendor/github.com/gophercloud/gophercloud/.zuul.yaml
  vendor/github.com/gophercloud/gophercloud/BUILD
  vendor/github.com/gophercloud/gophercloud/auth_result.go
  vendor/github.com/gophercloud/gophercloud/doc.go
  vendor/github.com/gophercloud/gophercloud/errors.go
  vendor/github.com/gophercloud/gophercloud/go.mod
  vendor/github.com/gophercloud/gophercloud/go.sum
  vendor/github.com/gophercloud/gophercloud/openstack/auth_env.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/flavors/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/BUILD
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/microversions.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v2/tokens/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/tokens/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/tokens/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/routers/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/requests.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/github.com/gophercloud/gophercloud/service_client.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, size/S

#79752 cleanup bespoke ipv6 checking in kubeadm
  cmd/kubeadm/app/phases/addons/dns/BUILD
  cmd/kubeadm/app/phases/addons/dns/dns.go
  cmd/kubeadm/app/phases/controlplane/BUILD
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/preflight/BUILD
  cmd/kubeadm/app/preflight/checks.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#79748 Automated cherry pick of #79731: edit google dns hostname
  test/e2e/network/dns_configmap.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/XS

#79749 Automated cherry pick of #79731: edit google dns hostname
  test/e2e/network/dns_configmap.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/XS

#79617 Automated cherry pick of #79446: Fix AWS DHCP option set domain names causing garbled
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cloud-provider, size/M

#79663 Automated cherry pick of #79534: Fix closing of dirs in doSafeMakeDir
  pkg/volume/util/subpath/subpath_linux.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/storage, size/XS

#78732 Add 'apiserver_watch_events_total' metric.
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, size/XS

#79677 kubeadm: run MemberAdd/Remove for etcd clients with exp-backoff retry
  cmd/kubeadm/app/util/etcd/BUILD
  cmd/kubeadm/app/util/etcd/etcd.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cluster-lifecycle, size/M

#79542 Automated cherry pick of #79302: Update CHANGELOG-1.15.md
  CHANGELOG-1.15.md
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/release, size/XS

#79570 Automated cherry pick of #79094: fix kubelet can not delete orphaned pod directory when "/var/lib/kubelet/pods" directory symbolically links to another device's directory
  pkg/util/mount/mount_linux.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/XS

#79605 Automated cherry pick of #79498: kubeadm: fix bug for --cri-socket flag processing logic
  cmd/kubeadm/app/cmd/reset.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/XS

#79745 Automated cherry pick of #79731: edit google dns hostname
  test/e2e/network/dns_configmap.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/XS

#79759 Automated cherry pick of #79529: fix: change timeout value in csi plugin
  pkg/volume/csi/csi_plugin.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, size/XS

#79736 Get the pdb of current version when conflict instead of relisting
  pkg/registry/core/pod/storage/eviction.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/apps, sig/scalability, size/M

#79727 Automated cherry pick of #79035: There are various reasons that the HPA will decide not the
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/apps, sig/autoscaling, size/M

#79098 Update the comments on how to check disk conflict
  pkg/scheduler/algorithm/predicates/predicates.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, size/XS

#79787 Closing stopCh when pod_store is not created
  test/utils/pod_store.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#79648 Fix descriptions of kubeadm
  cmd/kubeadm/app/cmd/phases/init/bootstraptoken.go
  cmd/kubeadm/app/cmd/reset.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#79811 Add go-runner to the list of e2e test image targets
  hack/lib/golang.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/XS

#79733 consolidate etcd version per file
  test/e2e/framework/nodes_util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/release, sig/testing, size/XS

#79747 [Failing Tests - GH-79533] use apps/v1 instead apps/v1beta1 since that is deprecated
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/XS

#79778 [Failing tests] skip test if the server does not serve extensions/v1beta1 since this is deprecated
  test/e2e/apps/deployment.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/apps, sig/testing, size/XS

#79845 correct kubectl cp argument order
  staging/src/k8s.io/kubectl/docs/book/pages/container_debugging/copying_container_files.md
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/cli, size/XS

#79754 feat: use framework.ExpectEqual in servicecatalog e2e test
  test/e2e/servicecatalog/BUILD
  test/e2e/servicecatalog/podpreset.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#79755 feat: use framework.ExpectEqual in storage e2e test
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/external/external.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/generic_persistent_volume-disruptive.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/pd.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/regional_pd.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/snapshottable.go
  test/e2e/storage/utils/utils.go
  test/e2e/storage/volume_expand.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/volume_provisioning.go
  test/e2e/storage/vsphere/vsphere_volume_disksize.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/L

#79781 Use framework.ExpectEqual() under e2e/scheduling
  test/e2e/scheduling/equivalence_cache_predicates.go
  test/e2e/scheduling/limit_range.go
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/preemption.go
  test/e2e/scheduling/priorities.go
  test/e2e/scheduling/ubernetes_lite.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#79791 e2e: use framework.ExpectEqual() for test/e2e/network
  test/e2e/network/dns_common.go
  test/e2e/network/ingress.go
  test/e2e/network/network_tiers.go
  test/e2e/network/proxy.go
  test/e2e/network/service.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S

#79792 e2e: use framework.ExpectEqual() for test/e2e/node
  test/e2e/node/events.go
  test/e2e/node/mount_propagation.go
  test/e2e/node/node_problem_detector.go
  test/e2e/node/pods.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S

#79837 add fakes for events package, add startEventWatcher to event interface
  staging/src/k8s.io/client-go/kubernetes/typed/events/v1beta1/fake/fake_event_expansion.go
  staging/src/k8s.io/client-go/tools/events/BUILD
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
  staging/src/k8s.io/client-go/tools/events/fake.go
  staging/src/k8s.io/client-go/tools/events/interfaces.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/scalability, size/M

#79699 Use ExpectEqual in e2e/kubectl
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S

#79762 Use ExpectEqual in e2e/auth
  test/e2e/auth/pod_security_policy.go
  test/e2e/auth/service_accounts.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/S

#79821 Use framework.ExpectEqual() for e2e/cloud tests
  test/e2e/cloud/nodes.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, sig/testing, size/XS

#72206 Audit profile test
  cluster/gce/gci/BUILD
  cluster/gce/gci/audit_policy_test.go
  cluster/gce/gci/configure_helper_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/auth, sig/cluster-lifecycle, size/L

#79695 Use ExpectEqual under apps
  test/e2e/apps/cronjob.go
  test/e2e/apps/daemon_set.go
  test/e2e/apps/job.go
  test/e2e/apps/network_partition.go
  test/e2e/apps/statefulset.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/testing, size/L

#79769 Use ExpectEqual in e2e/common
  test/e2e/common/apparmor.go
  test/e2e/common/events.go
  test/e2e/common/init_container.go
  test/e2e/common/node_lease.go
  test/e2e/common/pods.go
  test/e2e/common/runtime.go
  test/e2e/common/security_context.go
  test/e2e/common/sysctl.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/M

#79842 Use ExpectEqual in e2e/scalability
  test/e2e/scalability/density.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/S

#79756 feat: use framework.ExpectEqual in upgrades and windows e2e test
  test/e2e/upgrades/apparmor.go
  test/e2e/upgrades/apps/BUILD
  test/e2e/upgrades/apps/deployments.go
  test/e2e/upgrades/cassandra.go
  test/e2e/upgrades/etcd.go
  test/e2e/upgrades/mysql.go
  test/e2e/upgrades/sysctl.go
  test/e2e/windows/density.go
  test/e2e/windows/memory_limits.go
  test/e2e/windows/volumes.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#79812 Populate DisruptedPods field for non-dry run
  pkg/registry/core/pod/storage/eviction.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#79847 Remove panic in storage and add log
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/S

#79848 Provide resource version in error if available
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#79765 use ExpectEqual under e2e/autoscaling
  test/e2e/autoscaling/autoscaling_timer.go
  test/e2e/autoscaling/cluster_autoscaler_scalability.go
  test/e2e/autoscaling/cluster_size_autoscaling.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/S

#79729 client-go: update installation instructions to reflect v12.0.0 release
  staging/src/k8s.io/client-go/INSTALL.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#79815 update CHANGELOG
  CHANGELOG-1.12.md
  CHANGELOG-1.13.md
  CHANGELOG-1.14.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/M

#79882 Add node status report frequency to kubemark config
  pkg/kubemark/hollow_kubelet.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/scalability, size/XS

#77772 apiextensions: remove nullable roundtrip hacks after go-openapi gained support
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/convert_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/goopenapi.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/goopenapi_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation_test.go
Labels: approved, area/apiserver, area/dependency, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cli, size/M

#76227 Replace syscall.Execve with exec.Command.
  pkg/kubectl/cmd/cmd.go
  pkg/kubectl/cmd/cmd_test.go
  test/cmd/plugins.sh
  test/fixtures/pkg/kubectl/plugins/bar/kubectl-bar
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/cli, sig/testing, size/M

#79014 updated fluentd to 1.5.1, es & kibana to 7.1.1
  cluster/addons/fluentd-elasticsearch/README.md
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  cluster/addons/fluentd-elasticsearch/es-image/Makefile
  cluster/addons/fluentd-elasticsearch/es-statefulset.yaml
  cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Gemfile
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Makefile
  cluster/addons/fluentd-elasticsearch/kibana-deployment.yaml
Labels: approved, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note, sig/cluster-lifecycle, sig/instrumentation, size/M

#79017 apiserver: don't log stack trace on /healthz error
  pkg/kubelet/server/portforward/websocket.go
  pkg/kubelet/server/remotecommand/websocket.go
  pkg/kubelet/server/server.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/BUILD
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog_test.go
Labels: approved, area/apiserver, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/node, size/L

#79531 Remove unnecessary variable declaration
  pkg/kubelet/cm/container_manager_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS

#79626 Remove unnecessary ETCD_CA_KEY check
  cluster/gce/gci/configure-helper.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/XS

#79654 Removed diplicated info row in v1.12.7
  CHANGELOG-1.12.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/release, size/XS

#79673 Making sure we handle error on http.NewRequest() in streamer
  staging/src/k8s.io/apiserver/pkg/registry/generic/rest/streamer.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#79714 correct the CHANGELOG-1.11.md
  CHANGELOG-1.11.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/S

#79790 Remove duplicate error messages
  hack/conformance/check_conformance_test_requirements.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS

#79813 Remove the TODO for container name matching
  pkg/registry/core/pod/strategy.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#79817 fix: golint error of clientgo
  staging/src/k8s.io/client-go/util/testing/tmpdir.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#75895 enable multipod e2es for intree volumes
  test/e2e/storage/drivers/in_tree.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/S

#79840 apiserver: chain delegated PrepareRun
  cmd/kube-apiserver/app/server.go
  cmd/kube-apiserver/app/testing/testserver.go
  hack/.golint_failures
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  test/integration/etcd/server.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/L

#79860 e2e: use framework.ExpectEqual() for test/e2e/lifecycle
  test/e2e/lifecycle/addon_update.go
  test/e2e/lifecycle/node_lease.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#79869 Remove use of HugePages feature flag in test
  test/e2e_node/hugepages_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, sig/testing, size/M

#79895 apiaggregation available controller should only hit required endpoint
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/XS

#79918 Automated cherry pick of #79895: apiaggregation available controller should only hit required
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, priority/important-soon, sig/api-machinery, size/XS

#77449 Replace HTTP compression with a more scoped impl, only use on responses > 128KB
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/endpoints/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/groupversion.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/BUILD
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/BUILD
  staging/src/k8s.io/apiserver/pkg/server/filters/compression.go
  staging/src/k8s.io/apiserver/pkg/server/filters/compression_test.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/scalability, size/XL

#79902 Revert Provide resource version in error if available
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#75593 e2e: avoid mandatory command line flags
  test/e2e/e2e_test.go
  test/e2e/framework/BUILD
  test/e2e/framework/config/config.go
  test/e2e/framework/config/config_test.go
  test/e2e/framework/test_context.go
  test/e2e/framework/viperconfig/BUILD
  test/e2e/framework/viperconfig/viperconfig.go
  test/e2e/framework/viperconfig/viperconfig_test.go
  test/e2e/lifecycle/BUILD
  test/e2e/lifecycle/cluster_upgrade.go
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/external/BUILD
  test/e2e/storage/external/external.go
  test/e2e/storage/utils/deployment.go
  test/e2e_kubeadm/BUILD
  test/e2e_kubeadm/e2e_kubeadm_suite_test.go
  test/e2e_node/BUILD
  test/e2e_node/e2e_node_suite_test.go
Labels: approved, area/e2e-test-framework, area/kubeadm, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cli, sig/cluster-lifecycle, sig/testing, size/L

#78697 e2e: Skip multi-node PV test when pods scheduled on the same node
  test/e2e/framework/pv_util.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/testing, size/M

#79819 staging file fix lint error: receiver name should not be an underscor…
  staging/src/k8s.io/apimachinery/pkg/util/intstr/intstr.go
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/S

#79906 Handle error return from http.NewRequest()
  pkg/credentialprovider/azure/azure_acr_helper.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/azure, size/S

#79911 kube-cross makefile add REGISTRY
  build/build-image/cross/Makefile
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#78473 delete TODO: remove when we stop supporting the legacy group version
  cmd/kube-apiserver/app/server.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/XS

#78601 change aws encryptedCheck to exponential backoff
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, size/S

#79724 make kubectl --raw consistent for create, update, get, delete
  pkg/kubectl/cmd/create/BUILD
  pkg/kubectl/cmd/create/create.go
  pkg/kubectl/cmd/delete/BUILD
  pkg/kubectl/cmd/delete/delete.go
  pkg/kubectl/cmd/delete/delete_flags.go
  pkg/kubectl/cmd/delete/delete_test.go
  pkg/kubectl/cmd/get/BUILD
  pkg/kubectl/cmd/get/get.go
  pkg/kubectl/cmd/replace/BUILD
  pkg/kubectl/cmd/replace/replace.go
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/kubectl/BUILD
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubectl/pkg/rawhttp/BUILD
  staging/src/k8s.io/kubectl/pkg/rawhttp/raw.go
  test/cmd/core.sh
  vendor/modules.txt
Labels: approved, area/dependency, area/kubectl, area/release-eng, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/cli, sig/release, sig/testing, size/L

#76321 remove SSHTunnelList TODO
  pkg/ssh/ssh.go
Labels: approved, cncf-cla: yes, kind/cleanup, kind/design, lgtm, priority/important-longterm, release-note-none, sig/gcp, size/XS

#77467 add warning logs for csr controllers
  cmd/kube-controller-manager/app/certificates.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/auth, size/XS
