Repository kubernetes/kubernetes, pull requests merged in 2019-04, with the labels that each got.

#75662 fix shellcheck failures in hack/local-up-cluster.sh
  hack/.shellcheck_failures
  hack/local-up-cluster.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/L

#74996 [1.11] Automated cherry pick of #75144: kubelet: updated logic of verifying a static critical pod
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/eviction/types.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/runonce_test.go
  test/e2e_node/BUILD
  test/e2e_node/system_node_critical_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/L

#75174 Update Cluster Autoscaler version to 1.3.8
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/autoscaling, size/XS

#75454 Automated cherry pick of #75451: Restore username and password kubectl flags
  pkg/kubectl/cmd/cmd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cli, size/XS

#75518 Automated cherry pick of #73288 to release-1.11: Decouple node-problem-detector release from kubernetes
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
  cluster/gce/util.sh
  hack/make-rules/test-e2e-node.sh
  test/e2e/framework/kubelet_stats.go
  test/e2e/framework/test_context.go
  test/e2e/node/BUILD
  test/e2e/node/node_problem_detector.go
  test/e2e_node/conformance/build/Dockerfile
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/image_list.go
  test/e2e_node/jenkins/conformance/conformance-jenkins.sh
  test/e2e_node/jenkins/e2e-node-jenkins.sh
  test/e2e_node/node_problem_detector_linux.go
  test/e2e_node/remote/cadvisor_e2e.go
  test/e2e_node/remote/node_conformance.go
  test/e2e_node/remote/node_e2e.go
  test/e2e_node/remote/remote.go
  test/e2e_node/remote/types.go
  test/e2e_node/runner/local/run_local.go
  test/e2e_node/runner/remote/run_remote.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/L

#75612 Automated cherry pick of #74764: bump repd min size in e2es
  test/e2e/storage/regional_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, size/S

#75671 Automated cherry pick of #75375: stop vsphere cloud provider from spamming logs with `failed
  pkg/cloudprovider/providers/vsphere/vsphere.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, sig/vmware, size/XS

#75684 Automated cherry pick of #68786 on release 1.11
  pkg/proxy/ipvs/proxier.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/network, size/XS

#75595 Add preliminary go module instructions to client-go
  staging/src/k8s.io/client-go/INSTALL.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#75483 Skip smart label in kubectl describe if field has special chars
  pkg/kubectl/describe/versioned/describe.go
  pkg/kubectl/describe/versioned/describe_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cli, size/S

#75933 Update kubeadm/kubeconfig to use constant instead of hard coding
  cmd/kubeadm/app/cmd/alpha/kubeconfig.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#75835 add timeout support for Watch()
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/M

#75940 Fix golint failures of e2e/framework/pods.go, provider.go, upgrade_util.go
  test/e2e/framework/pods.go
  test/e2e/framework/provider.go
  test/e2e/framework/upgrade_util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#75950 spelling error 'Certifcate'
  cmd/kubeadm/app/phases/controlplane/volumes_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#73041 kubelet: fix some race conditions with logs -f
  pkg/kubelet/kuberuntime/logs/logs.go
  test/e2e/kubectl/kubectl.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, sig/testing, size/M

#75759 Fix a test build failed error
  staging/src/k8s.io/apimachinery/pkg/api/meta/help.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/XS

#75772 Avoid panic in cronjob sorting
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/apps, size/M

#75781 kube-aggregator: bump openapi aggregation log level for delegation targets
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/XS

#75939 Define common sentences as constants
  cmd/kubeadm/app/phases/addons/dns/dns.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#73863 Fix code to handle delayed binding volumes
  pkg/scheduler/algorithm/predicates/csi_volume_predicate.go
  pkg/scheduler/algorithm/predicates/csi_volume_predicate_test.go
  pkg/scheduler/algorithm/predicates/max_attachable_volume_predicate_test.go
  pkg/scheduler/algorithmprovider/defaults/register_predicates.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/scheduling, sig/storage, size/L

#74757 Add custom runtime handler e2e test
  test/e2e/common/BUILD
  test/e2e/common/runtimeclass.go
  test/e2e/node/BUILD
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/S

#75703 Simplify the loop for latest start time in pickOneNodeForPreemption
  pkg/scheduler/core/generic_scheduler.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, size/S

#75807 Fix ineffective links in CHANGELOG-1.14.md
  CHANGELOG-1.14.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/release, size/XS

#75845 Bump debian-iptables for security fixes
  build/debian-iptables/Makefile
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/network, sig/release, size/XS

#75616 remove usages of internal clientset in e2e framework
  test/e2e/apps/BUILD
  test/e2e/apps/cronjob.go
  test/e2e/apps/daemon_restart.go
  test/e2e/autoscaling/autoscaling_timer.go
  test/e2e/autoscaling/cluster_autoscaler_scalability.go
  test/e2e/autoscaling/cluster_size_autoscaling.go
  test/e2e/autoscaling/horizontal_pod_autoscaling.go
  test/e2e/common/BUILD
  test/e2e/common/autoscaling_utils.go
  test/e2e/framework/BUILD
  test/e2e/framework/framework.go
  test/e2e/framework/service_util.go
  test/e2e/framework/util.go
  test/e2e/instrumentation/monitoring/prometheus.go
  test/e2e/instrumentation/monitoring/stackdriver.go
  test/e2e/network/BUILD
  test/e2e/network/proxy.go
  test/e2e/network/service.go
  test/e2e/network/service_latency.go
  test/e2e/node/kubelet.go
  test/e2e/node/kubelet_perf.go
  test/e2e/scalability/BUILD
  test/e2e/scalability/density.go
  test/e2e/scalability/load.go
  test/e2e/scheduling/equivalence_cache_predicates.go
  test/e2e/scheduling/predicates.go
  test/e2e/upgrades/horizontal_pod_autoscalers.go
  test/utils/BUILD
  test/utils/runners.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, sig/testing, size/L

#75856 Bebase etcd image to k8s.gcr.io/debian-base
  cluster/images/etcd/Makefile
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/cluster-lifecycle, size/S

#75873 add listx to OWNERS for test/images and test/utils/image
  test/images/OWNERS
  test/utils/image/OWNERS
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#75888 Remove Ingress-GCE test which checks that sync error on one Ingress does not block other syncs
  test/e2e/network/ingress.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/M

#75931 Simplify two if (remove redundant code)
  cmd/kubeadm/app/cmd/completion.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#75944 1.12: Fix AWS driver fails to provision specified fsType
  pkg/volume/aws_ebs/aws_util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/aws, sig/storage, size/XS

#75823 Automated cherry pick of #69430: Populate ClientCA in delegating auth setup
  staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/XS

#75959 staging/publishing: split rules for godeps and go.mod bot
  staging/publishing/rules-godeps.yaml
  staging/publishing/rules.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/release, size/XXL

#75793 Automated cherry pick of #75746: Updated regional PD minimum size; changed regional PD
  test/e2e/storage/regional_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/M

#75962 Update sample aggregated server yaml to work with e2e test image
  staging/src/k8s.io/sample-apiserver/artifacts/example/rc.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/XS

#75969 Fix translation from kube-dns to CoreDNS Config to skip invalid values
  cmd/kubeadm/app/phases/addons/dns/BUILD
  cmd/kubeadm/app/phases/addons/dns/dns.go
  cmd/kubeadm/app/phases/addons/dns/dns_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/L

#75971 Correctly send list metadata with v1beta1 PartialObjectMetadataList
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1beta1/generated.pb.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1beta1/generated.proto
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1beta1/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1beta1/types_swagger_doc_generated.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, size/S

#75972 Garbage collector should use a merge patch instead of Update
  pkg/controller/garbagecollector/operations.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/apps, size/S

#75975 Fix golint failures of e2e/framework/pv_util.go
  test/e2e/framework/pv_util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#75977 enable external sources in verify-shellcheck
  hack/verify-shellcheck.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/testing, size/S

#71900 remove unused function
  pkg/credentialprovider/azure/BUILD
  pkg/credentialprovider/azure/azure_acr_helper.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/azure, size/S

#74159 Update v1.Taint parser to accept the form `key:effect` and `key=:effect-`
  pkg/kubectl/cmd/taint/taint.go
  pkg/kubectl/cmd/taint/utils.go
  pkg/kubectl/cmd/taint/utils_test.go
  pkg/util/taints/taints.go
  pkg/util/taints/taints_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cli, sig/scheduling, size/L

#74406 clean nonexistent metrics in e2e test
  test/e2e/framework/metrics_util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/instrumentation, sig/testing, size/XS

#75580 Add azure_route support routeTableResourceGroup
  pkg/cloudprovider/providers/azure/azure.go
  pkg/cloudprovider/providers/azure/azure_backoff.go
  pkg/cloudprovider/providers/azure/azure_routes_test.go
  pkg/cloudprovider/providers/azure/azure_test.go
  pkg/cloudprovider/providers/azure/azure_wrap.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note, sig/cloud-provider, size/M

#75953 Expose etcd client latency metrics
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  test/integration/metrics/metrics_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/M

#75979 Fixed storage class nilpointer in RePD failover test
  test/e2e/storage/regional_pd.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/storage, sig/testing, size/XS

#74119 remove the redundant "the"
  test/images/net/README.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#76002 Revert "add timeout suuport for watch"
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/M

#76004 Fixes reversed owner relation in error msg from garbage collector
  pkg/controller/garbagecollector/garbagecollector.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/apps, size/XS

#66635 Move cloud-specific roles out of RBAC bootstrap
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Labels: approved, cncf-cla: yes, lgtm, priority/important-longterm, release-note, sig/auth, sig/aws, sig/cloud-provider, size/M

#75080 fix: list nodes in sync daemonset
  pkg/controller/daemon/BUILD
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/update.go
  pkg/controller/daemon/update_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/apps, size/M

#75994 Fix older bash failing on unbound array variables
  hack/local-up-cluster.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/S

#76025 test/e2e/apps: fix panic in DaemonSet tests due to legacy scheme
  test/e2e/apps/BUILD
  test/e2e/apps/daemon_set.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/apps, sig/testing, size/XS

#75346 kubectl: removes pkg/version dependency
  cmd/kubectl/BUILD
  hack/lib/version.sh
  pkg/kubectl/BUILD
  pkg/kubectl/cmd/util/BUILD
  pkg/kubectl/cmd/util/kubectl_match_version.go
  pkg/kubectl/cmd/version/BUILD
  pkg/kubectl/cmd/version/version.go
  pkg/kubectl/version/BUILD
  pkg/kubectl/version/base.go
  pkg/kubectl/version/def.bzl
  pkg/kubectl/version/version.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cli, size/L

#75887 Explicitly flush headers when proxying
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, size/M

#75903 allow for non-fatal errors when requesting and following multiple log streams
  pkg/kubectl/cmd/logs/logs.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cli, size/S

#75932 Use better variable names in validation.go
  pkg/apis/core/validation/validation.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/apps, size/S

#76021 Fix create secret generic paths examples
  pkg/kubectl/cmd/create/create_secret.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cli, size/XS

#75740 Automated cherry pick of #73322: Updated Regional PD failover test to use node taints instead
  test/e2e/storage/BUILD
  test/e2e/storage/regional_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/storage, size/L

#75984 Add RUNTIME_REQUEST_TIMEOUT to local-up-cluster.sh
  hack/local-up-cluster.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/testing, size/XS

#76016 Extract Method for kubeadm
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/M

#76050 Fix kubelet start in local-up-cluster.sh
  hack/local-up-cluster.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS

#76030 test/e2e: replace legacy scheme with client-go scheme
  test/e2e/framework/BUILD
  test/e2e/framework/create.go
  test/e2e/framework/exec_util.go
  test/e2e/framework/framework.go
  test/e2e/framework/pods.go
  test/e2e/framework/util.go
  test/e2e/manifest/BUILD
  test/e2e/manifest/manifest.go
  test/e2e/scalability/BUILD
  test/e2e/scalability/load.go
  test/e2e/storage/external/BUILD
  test/e2e/storage/external/external.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-longterm, release-note-none, sig/testing, size/M

#74941 Do not replace labels of pvc with those of StastefulSet
  pkg/controller/statefulset/stateful_set_utils.go
  pkg/controller/statefulset/stateful_set_utils_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/apps, size/M

#75547 delivery event non blocking firstly
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/api-machinery, size/M

#75948 Replace variables 10251 and 10252 with constants
  cmd/kubeadm/app/phases/controlplane/BUILD
  cmd/kubeadm/app/phases/controlplane/manifests.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#76038 patch-reset
  cmd/kubeadm/app/cmd/reset.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#76063 give users option to suppress detailed output in integration test
  hack/make-rules/test-integration.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/testing, size/XS

#76029 Code improve: use constants instead of hard coding
  cmd/kubeadm/app/cmd/alpha/kubelet.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/cmd/upgrade/node.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#76071 fix some spelling error
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/util/config/cluster.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#74274 Use framework.ExpectNoError() for e2e/storage
  test/e2e/storage/csi_volumes.go
  test/e2e/storage/detach_mounted.go
  test/e2e/storage/empty_dir_wrapper.go
  test/e2e/storage/ephemeral_volume.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/generic_persistent_volume-disruptive.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
  test/e2e/storage/pd.go
  test/e2e/storage/persistent_volumes-gce.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/persistent_volumes.go
  test/e2e/storage/pv_protection.go
  test/e2e/storage/pvc_protection.go
  test/e2e/storage/regional_pd.go
  test/e2e/storage/subpath.go
  test/e2e/storage/volume_expand.go
  test/e2e/storage/volume_metrics.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/L

#75389 Paginate watch cache->etcd List calls & reflector init/resync List calls not served by watch cache
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/framework/master_utils.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/apps, sig/testing, size/L

#75866 Provide imageRepository override for 'kubeadm config images' commands.
  cmd/kubeadm/app/cmd/config.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note, sig/cluster-lifecycle, size/XS

#76039 Finish saving test results on failure
  cluster/images/conformance/run_e2e.sh
Labels: approved, area/conformance, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/release, sig/testing, size/XS

#76049 Remove apimachinery dep from mount library
  pkg/util/mount/BUILD
  pkg/util/mount/mount_linux.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, size/S

#75092 Added config to EventCorrelator in client-go
  staging/src/k8s.io/client-go/tools/record/event.go
  staging/src/k8s.io/client-go/tools/record/events_cache.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/L

#75909 Fix nodeSelector hostname
  test/e2e/scheduling/taints.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/XS

#75988 Add mcrute to cloudprovider related owners files
  cmd/cloud-controller-manager/OWNERS
  pkg/cloudprovider/OWNERS
  pkg/cloudprovider/providers/aws/OWNERS
  staging/src/k8s.io/cloud-provider/OWNERS
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cloud-provider, size/XS

#76028 Fix golint failures of e2e/framework/rc_util.go
  test/e2e/framework/rc_util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S

#76043 test-cmd: Fixes erroneous integration test that usually passes accidentally
  test/cmd/version.sh
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#75444 Update branding guidelines
  logo/usage_guidelines.md
Labels: approved, cncf-cla: yes, committee/steering, kind/documentation, lgtm, needs-priority, release-note-none, size/M

#75532 Automated cherry pick of #72143: Fix aad support in kubectl for sovereign cloud
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, sig/auth, sig/azure, size/S

#75609 Automated cherry pick of #74764: bump repd min size in e2es
  test/e2e/storage/regional_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/S

#75771 Exclude custom transports when constructing AnonymousClientConfig()
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/rest/config_test.go
Labels: approved, area/client-libraries, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-action-required, sig/api-machinery, sig/auth, size/S

#76045 Image for Regression test for #74839
  test/images/BUILD
  test/images/regression-issue-74839/.gitignore
  test/images/regression-issue-74839/BUILD
  test/images/regression-issue-74839/Dockerfile
  test/images/regression-issue-74839/Makefile
  test/images/regression-issue-74839/README.md
  test/images/regression-issue-74839/VERSION
  test/images/regression-issue-74839/main.go
  test/images/regression-issue-74839/tcp.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/testing, size/L

#76072 Delete unused struct
  pkg/scheduler/algorithm/predicates/metadata.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/scheduling, size/XS

#76087 Handle feature gate errors
  pkg/features/BUILD
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/features/BUILD
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/e2e_node/services/kubelet.go
  test/e2e_node/services/services.go
Labels: approved, area/apiserver, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/node, sig/testing, size/S

#76091 external-resizer in e2e tests should have access to leases
  test/e2e/testing-manifests/storage-csi/external-resizer/rbac.yaml
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/storage, sig/testing, size/XS

#75721 Automated cherry pick of #75283 upstream release 1.14
  pkg/proxy/ipvs/graceful_termination.go
Labels: approved, area/ipvs, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/network, size/S

#75720 Automated cherry pick of #75295 upstream release 1.13
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kubeadm/app/util/config/testdata/conversion/master/internal.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/master/v1alpha3.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/master/v1beta1.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/master/defaulted.yaml
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
Labels: approved, area/ipvs, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/cluster-lifecycle, sig/network, size/M

#75722 Automated cherry pick of #75283 upstream release 1.13
  pkg/proxy/ipvs/graceful_termination.go
Labels: approved, area/ipvs, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/network, size/S

#75734 Automated cherry pick of #74919: Fix Windows to read VM UUIDs from serial numbers
  pkg/cloudprovider/providers/vsphere/vsphere_util.go
  pkg/cloudprovider/providers/vsphere/vsphere_util_linux.go
  pkg/cloudprovider/providers/vsphere/vsphere_util_unsupported.go
  pkg/cloudprovider/providers/vsphere/vsphere_util_windows.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/cloud-provider, sig/vmware, size/M

#75841 Automated cherry pick of #75269: gce: configure: validate SA has storage scope
  cluster/gce/gci/configure.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/XS

#75851 Automated cherry pick of #75847: fix-external-etcd
  cmd/kubeadm/app/cmd/phases/init/preflight.go
  cmd/kubeadm/app/cmd/phases/join/preflight.go
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/preflight/checks_test.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/M

#75901 Automated cherry pick of #75900: kubeadm: fix "upgrade plan" not working without k8s version
  cmd/kubeadm/app/cmd/upgrade/common.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#75908 Automated cherry pick of #75855: Disable GCE agent address management on Windows nodes.
  cluster/gce/windows/node-helper.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS

#75514 Use go idiomatic to replace loop
  cluster/images/etcd/migrate/rollback_v2.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/cluster-lifecycle, size/XS

#75622 Remove resync period for sset controller
  pkg/controller/statefulset/stateful_set.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note, sig/apps, size/S

#76099 GCE/Windows: disable stackdriver logging agent
  cluster/gce/windows/configure.ps1
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/gcp, size/XS

#76108 Rename createLoadBalancerIfNeeded() to syncLoadBalancerIfNeeded()
  pkg/controller/service/service_controller.go
  pkg/controller/service/service_controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/network, size/XS

#76101 Automated cherry pick of #76039: Finish saving test results on failure
  cluster/images/conformance/run_e2e.sh
Labels: approved, area/conformance, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/release, sig/testing, size/XS

#75733 Automated cherry pick of #75480: Update Cluster Autscaler version to 1.14.0
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#75520 Automated cherry pick of #73288 to release-1.13: Decouple node-problem-detector release from kubernetes
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
  cluster/gce/util.sh
  hack/make-rules/test-e2e-node.sh
  test/e2e/framework/kubelet_stats.go
  test/e2e/framework/test_context.go
  test/e2e/node/BUILD
  test/e2e/node/node_problem_detector.go
  test/e2e_node/conformance/build/Dockerfile
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/image_list.go
  test/e2e_node/jenkins/conformance/conformance-jenkins.sh
  test/e2e_node/jenkins/e2e-node-jenkins.sh
  test/e2e_node/node_problem_detector_linux.go
  test/e2e_node/remote/cadvisor_e2e.go
  test/e2e_node/remote/node_conformance.go
  test/e2e_node/remote/node_e2e.go
  test/e2e_node/remote/remote.go
  test/e2e_node/remote/types.go
  test/e2e_node/runner/local/run_local.go
  test/e2e_node/runner/remote/run_remote.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/node, sig/testing, size/L

#76117 Fix some golint failures of e2e_kubeadm/bootstrap_signer.go e2e_kubeadm/framework.go
  test/e2e_kubeadm/bootstrap_signer.go
  test/e2e_kubeadm/framework.go
Labels: approved, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/testing, size/XS

#75996 Automated cherry pick of #75781: kube-aggregator: bump openapi aggregation log level
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/XS

#75673 Automated cherry pick of #75375: stop vsphere cloud provider from spamming logs with `failed
  pkg/cloudprovider/providers/vsphere/vsphere.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, sig/vmware, size/XS

#71049 Expose object tracker for fake clientsets
  pkg/client/clientset_generated/internalclientset/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/internalclientset/fake/clientset_generated.go
  staging/src/k8s.io/client-go/kubernetes/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/_examples/MixedCase/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/_examples/apiserver/clientset/internalversion/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/_examples/apiserver/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/_examples/crd/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_clientset.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/fake/clientset_generated.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/internalclientset/fake/clientset_generated.go
  staging/src/k8s.io/metrics/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/node-api/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-controller/pkg/generated/clientset/versioned/fake/clientset_generated.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/L

#76118 delete some unused consts in kubeadm/app/constants/constants.go
  cmd/kubeadm/app/constants/constants.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#76046 Automated cherry pick of #75887: Explicitly flush headers when proxying
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, size/M

#76149 Make pin-dependency.sh work with things other than docker
  hack/pin-dependency.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#75956 kubeadm : fix-kubeadm-upgrade-12-13-14
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/phases/certs/renewal/renewal.go
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/util/etcd/BUILD
  cmd/kubeadm/app/util/etcd/etcd.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cluster-lifecycle, size/L

#75624 [Distroless] Convert the GCE manifests for master containers.
  cluster/gce/gci/apiserver_manifest_test.go
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M

#74220 Aggregate errors for kube runtime GC
  pkg/kubelet/kuberuntime/kuberuntime_gc.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/S

#74649 fix: typo in stateful_set_control
  pkg/controller/statefulset/stateful_set_control.go
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, size/XS

#75750 Improve volume operation metrics
  pkg/volume/util/metrics.go
  test/e2e/storage/volume_metrics.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/instrumentation, sig/storage, sig/testing, size/L

#76032 tests: Adds agnhost image
  test/images/BUILD
  test/images/agnhost/BUILD
  test/images/agnhost/Dockerfile
  test/images/agnhost/Makefile
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
  test/images/agnhost/common.go
  test/images/agnhost/utils.go
  test/images/agnhost/utils_windows.go
  test/utils/image/manifest.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/failing-test, kind/feature, lgtm, needs-priority, release-note-none, sig/testing, sig/windows, size/L

#76034 Restore volume tests using statefulset
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/external/external.go
  test/e2e/storage/persistent_volumes.go
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/snapshottable.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
  test/e2e/storage/utils/local.go
  test/e2e/storage/utils/utils.go
  test/e2e/storage/volume_provisioning.go
  test/e2e/storage/vsphere/persistent_volumes-vsphere.go
  test/e2e/storage/vsphere/pv_reclaimpolicy.go
  test/e2e/storage/vsphere/pvc_label_selector.go
  test/e2e/storage/vsphere/vsphere_common.go
  test/e2e/storage/vsphere/vsphere_scale.go
  test/e2e/storage/vsphere/vsphere_statefulsets.go
  test/e2e/storage/vsphere/vsphere_stress.go
  test/e2e/storage/vsphere/vsphere_utils.go
  test/e2e/storage/vsphere/vsphere_volume_cluster_ds.go
  test/e2e/storage/vsphere/vsphere_volume_datastore.go
  test/e2e/storage/vsphere/vsphere_volume_diskformat.go
  test/e2e/storage/vsphere/vsphere_volume_disksize.go
  test/e2e/storage/vsphere/vsphere_volume_fstype.go
  test/e2e/storage/vsphere/vsphere_volume_master_restart.go
  test/e2e/storage/vsphere/vsphere_volume_node_delete.go
  test/e2e/storage/vsphere/vsphere_volume_node_poweroff.go
  test/e2e/storage/vsphere/vsphere_volume_ops_storm.go
  test/e2e/storage/vsphere/vsphere_volume_perf.go
  test/e2e/storage/vsphere/vsphere_volume_placement.go
  test/e2e/storage/vsphere/vsphere_volume_vpxd_restart.go
  test/e2e/storage/vsphere/vsphere_volume_vsan_policy.go
  test/e2e/storage/vsphere/vsphere_zone_support.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XL

#76174 Mark slow storage e2es
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/detach_mounted.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/volumemode.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/S

#76057 Fix golint failures of e2e/framework/r*.go
  test/e2e/framework/resource_usage_gatherer.go
  test/e2e/framework/rs_util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/M

#76065 add timeout support for watch
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/decorated_watcher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/M

#76116 Fix comments and function names are different
  cmd/kubeadm/app/phases/certs/certs.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#75915 fix shellcheck failures in ./hack/jenkins/...
  hack/.shellcheck_failures
  hack/jenkins/benchmark-dockerized.sh
  hack/jenkins/build.sh
  hack/jenkins/verify-dockerized.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/S

#76109 Remove kube-proxy autocleanup for inactive modes
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/network, size/M

#76119 Code refactor: replace repeated values with a constant
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/upgrade/prepull_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#76136 Use multi-arch etcd image
  test/e2e/apimachinery/aggregator.go
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#76142 Fix TestCreateDisk by sorting tags
  pkg/cloudprovider/providers/aws/aws_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/cloud-provider, size/S

#75523 reconcile pod ready condition when message is not expected
  pkg/kubelet/status/status_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/node, size/XS

#76111 Fix emptry array expansion error in cluster/gce/util.sh
  cluster/gce/util.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cluster-lifecycle, size/XS

#76153 Update vendor cleanup
  go.mod
  hack/update-vendor.sh
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/node-api/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/node, size/M

#76169 add bentheelder to hack/ approvers
  hack/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#76175 Refactor loops over `SupportedMediaTypes()` where mediaType is used to match a single SerializerInfo{}
  cmd/kube-proxy/app/BUILD
  cmd/kube-proxy/app/server.go
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/configfile.go
  cmd/kubeadm/app/util/marshal.go
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/negotiation/negotiate.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/cli-runtime/pkg/resource/scheme.go
  staging/src/k8s.io/client-go/deprecated-dynamic/bad_debt.go
Labels: approved, area/apiserver, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/auth, sig/cli, sig/cluster-lifecycle, sig/scheduling, size/L

#76163 Use official images in pd driver e2es
  test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  test/e2e/testing-manifests/storage-csi/gce-pd/node_ds.yaml
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#75546 Implement make test-e2e-kubeadm
  build/root/Makefile
  hack/make-rules/test-e2e-kubeadm.sh
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/M

#76180 Show all missing deps when publishing-bot rules has no listed dependencies
  hack/verify-publishing-bot.py
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/S

#76190 Revert "[Distroless] Convert the GCE manifests for master containers."
  cluster/gce/gci/apiserver_manifest_test.go
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/M

#75985 Fix besteffort pods for conflicting tolerations
  plugin/pkg/admission/podtolerationrestriction/admission.go
  plugin/pkg/admission/podtolerationrestriction/admission_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/scheduling, size/S

#76162 Bump gengo to avoid large errors in verify logs
  go.mod
  go.sum
  pkg/apis/rbac/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.mod
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/gengo/examples/deepcopy-gen/generators/deepcopy.go
  vendor/k8s.io/gengo/parser/parse.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/node, size/M

#76168 Follow up of https://github.com/kubernetes/kubernetes/pull/76050#discussion_r271540758
  hack/local-up-cluster.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#75883 Automated cherry pick of #75362: Update gcp images with security patches
  cluster/addons/cluster-monitoring/stackdriver/heapster-controller.yaml
  cluster/addons/fluentd-gcp/event-exporter.yaml
  cluster/addons/fluentd-gcp/fluentd-gcp-ds.yaml
  cluster/addons/fluentd-gcp/scaler-deployment.yaml
  cluster/addons/metadata-proxy/gce/metadata-proxy.yaml
  test/e2e/instrumentation/monitoring/custom_metrics_deployments.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/gcp, sig/testing, size/S

#76179 Automated cherry pick of #76109: Removed cleanup for non-current kube-proxy modes in
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/network, size/M

#76191 Don't run topology tests with GCE CSI driver on non-GCE cloud
  test/e2e/storage/BUILD
  test/e2e/storage/csi_volumes.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#76193 Use metadata.name instead of hostname label when setting affinity
  test/e2e/framework/pv_util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/S

#75885 Automated cherry pick of #75362: Update gcp images with security patches
  cluster/addons/cluster-monitoring/stackdriver/heapster-controller.yaml
  cluster/addons/fluentd-gcp/event-exporter.yaml
  cluster/addons/fluentd-gcp/fluentd-gcp-ds.yaml
  cluster/addons/fluentd-gcp/scaler-deployment.yaml
  cluster/addons/metadata-proxy/gce/metadata-proxy.yaml
  test/e2e/instrumentation/monitoring/custom_metrics_deployments.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, sig/cluster-lifecycle, sig/gcp, sig/testing, size/S

#75705 Fix golint failures of e2e/framework/f*.go
  test/e2e/framework/flake_reporting_util.go
  test/e2e/framework/framework.go
  test/e2e/network/networking_perf.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/network, sig/testing, size/L

#76171 Add better logging when iptables-restore fails
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/network, size/S

#76196 Revert "delivery event non blocking firstly"
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#75783 Fix golint failures of e2e/framework/metrics_util.go
  test/e2e/framework/metrics_util.go
  test/e2e/scalability/density.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/L

#75797 Fix golint failures of e2e/framework/v*.go
  test/e2e/framework/volume_util.go
  test/e2e/storage/testsuites/volumes.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/M

#75936 fix a mistake
  test/e2e_node/e2e_node_suite_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, kind/design, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS

#75967 Update fluentd 1.4.1
  cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Gemfile
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Makefile
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/README.md
Labels: approved, cncf-cla: yes, kind/flake, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, sig/instrumentation, size/S

#76006 Fix golint failures of e2e/framework/statefulset_utils.go
  test/e2e/apps/statefulset.go
  test/e2e/framework/statefulset_utils.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, sig/testing, size/M
