Repository kubernetes/kubernetes, pull requests merged in 2019-09, with the labels that each got.

#82198 promote crd discovery e2e to conformance
  test/conformance/testdata/conformance.txt
  test/e2e/apimachinery/custom_resource_definition.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/architecture, sig/testing, size/XS

#81915 [RuntimeClassScheduling] test(runtimeclass): add e2e tests for runtimeclass scheduling - Part3
  test/e2e/common/runtimeclass.go
  test/e2e/framework/framework.go
  test/e2e/node/BUILD
  test/e2e/node/runtimeclass.go
Labels: approved, area/apiserver, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/node, sig/testing, size/L

#82238 Allow typha-chpa to get apps/deployments
  cluster/addons/calico-policy-controller/typha-horizontal-autoscaler-role.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/XS

#82202 Remove usage of kubectl log in tests
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, priority/important-soon, release-note-none, sig/testing, size/S

#82259 Register all volume plugins in kubemark
  pkg/kubemark/BUILD
  pkg/kubemark/hollow_kubelet.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scalability, size/M

#82267 kubeadm: Form correct URL for IPv6 in HTTPProxy check
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/preflight/checks_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/S

#78547 Make iptables and ipvs modes of kube-proxy MASQUERADE --random-fully if possible
  pkg/kubelet/dockershim/network/hostport/fake_iptables.go
  pkg/kubelet/kubelet_network_linux.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/util/iptables/iptables.go
  pkg/util/iptables/testing/fake.go
Labels: approved, area/ipvs, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, sig/node, size/L

#82239 persistentvolume-controller: fix data race of non-deepcopied objects in fake client
  pkg/controller/volume/persistentvolume/pv_controller_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/apps, sig/storage, size/XS

#82275 Update NodeSSHHosts to support clusters with some public nodes
  test/e2e/framework/ssh/ssh.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/testing, size/S

#81825 fix ci-kubernetes-node-kubelet-serial which set PodPriority
  test/e2e_node/critical_pod_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, size/S

#82142 Write the Stackdriver config separately from the installation.
  cluster/gce/windows/configure.ps1
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/M

#82143 Remove symlink support from kubectl cp
  hack/.staticcheck_failures
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, area/security, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/cli, size/L

#82214 Ensure the KUBE-MARK-DROP chain in kube-proxy mode=ipvs
  pkg/proxy/ipvs/proxier.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/network, size/XS

#82252 Match webhook client auth with ports consistently
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/testing/authentication_info_resolver.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/authentication.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/client.go
  test/integration/apiserver/admissionwebhook/BUILD
  test/integration/apiserver/admissionwebhook/client_auth_test.go
Labels: approved, area/admission-control, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/L

#82274 Add ready plugin to dns tests
  test/e2e/network/dns_configmap.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/network, sig/testing, size/XS

#82229 e2e log: fix time stamp normalization in unit test
  test/e2e/framework/log/logger_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/XS

#82303 In GuaranteedUpdate, retry on a precondition check failure if we are working with cached data
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, size/M

#82301 Make sure loadbalancer service is deleted before exiting the test
  test/e2e/network/service.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/network, sig/testing, size/S

#82047 Remove myself from reviewers across the repo
  OWNERS_ALIASES
  cluster/OWNERS
  cmd/kube-controller-manager/OWNERS
  pkg/api/testing/OWNERS
  pkg/api/v1/OWNERS
  pkg/apis/core/OWNERS
  pkg/apis/core/v1/OWNERS
  pkg/apis/core/validation/OWNERS
  pkg/client/OWNERS
  pkg/cloudprovider/OWNERS
  pkg/master/OWNERS
  pkg/registry/OWNERS
  staging/src/k8s.io/apiserver/pkg/registry/generic/OWNERS
  staging/src/k8s.io/apiserver/pkg/registry/rest/OWNERS
  staging/src/k8s.io/cloud-provider/OWNERS
Labels: approved, area/apiserver, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/apps, sig/cloud-provider, sig/cluster-lifecycle, size/S

#82199 Update default etcd server to 3.3.15 for kubernetes 1.16
  build/dependencies.yaml
  build/workspace.bzl
  cluster/gce/config-test.sh
  cluster/gce/manifests/etcd-empty-dir-cleanup.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cluster/images/etcd-empty-dir-cleanup/Makefile
  cluster/images/etcd/Makefile
  cluster/images/etcd/README.md
  cluster/images/etcd/migrate-if-needed.sh
  cluster/images/etcd/migrate/integration_test.go
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/rc.yaml
  test/e2e/framework/nodes_util.go
  test/utils/image/manifest.go
Labels: approved, area/e2e-test-framework, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/testing, size/M

#82289 Fixing bugs related to Endpoint Slices
  cmd/kube-controller-manager/app/BUILD
  cmd/kube-controller-manager/app/discovery.go
  pkg/apis/discovery/validation/validation.go
  pkg/controller/.import-restrictions
  pkg/controller/endpointslice/BUILD
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
  pkg/master/reconcilers/endpointsadapter.go
  pkg/master/reconcilers/endpointsadapter_test.go
  pkg/proxy/endpoints.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/endpointslicecache_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/BUILD
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  staging/src/k8s.io/api/discovery/v1alpha1/BUILD
  staging/src/k8s.io/api/discovery/v1alpha1/well_known_labels.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/api-change, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/api-machinery, sig/apps, sig/network, size/L

#82322 bump metrics-server version to v0.3.4
  cluster/addons/metrics-server/metrics-server-deployment.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/instrumentation, size/S

#82337 fix sporadic failures in cni tests
  pkg/kubelet/dockershim/network/cni/cni_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, kind/failing-test, kind/flake, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/network, sig/node, size/S

#82248 kubeadm: Fetching kube-proxy's config map is now optional
  cmd/kubeadm/app/componentconfigs/BUILD
  cmd/kubeadm/app/componentconfigs/config.go
  cmd/kubeadm/app/componentconfigs/config_test.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/config/cluster_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/design, lgtm, priority/important-longterm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M

#82335 kubelet e2e: defer the close to after the error check
  test/e2e/common/kubelet.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/XS

#81300 Install and start logging agent based on kube env
  cluster/gce/windows/configure.ps1
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note, sig/cluster-lifecycle, sig/windows, size/S

#82288 fix namespace termination conditions to be consistent and correct
  pkg/controller/namespace/deletion/BUILD
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter_test.go
  pkg/controller/namespace/deletion/status_condition_utils.go
  pkg/controller/namespace/deletion/status_condition_utils_test.go
  test/integration/BUILD
  test/integration/namespace/BUILD
  test/integration/namespace/main_test.go
  test/integration/namespace/ns_conditions_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/scheduling, sig/testing, size/L

#82348 Use etcd image version suffixes in kubeadm
  cmd/kubeadm/app/constants/constants.go
Labels: approved, area/etcd, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/cluster-lifecycle, size/XS

#82314 Add dns capability to GCE window cluster
  cluster/gce/util.sh
  cluster/gce/windows/configure.ps1
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cluster-lifecycle, sig/windows, size/M

#82380 Starting EndpointSlice Controller when all Alpha gates are enabled in cluster up
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/util.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#79235 kubectl attach test: wait for input before proceeding
  test/e2e/kubectl/kubectl.go
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/cli, size/S

#82393 Adding a nil check in endpointslicecache
  pkg/proxy/endpointslicecache.go
  pkg/proxy/endpointslicecache_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/network, size/S

#81876 Fix filter plugins are not been called during preemption
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/scheduling, size/L

#82425 Update dev setup and client-go install instructions
  README.md
  staging/src/k8s.io/client-go/INSTALL.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#82397 Improving GCE cluster up logic for EndpointSlice Controller
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/XS

#82018 Add pre pull of e2e images after DiskPressure test
  test/e2e_node/eviction_test.go
  test/e2e_node/system_node_critical_test.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/node, sig/testing, size/S

#82438 Fallback to schemaless apply behavior for custom resources with unhandled schemas
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  test/integration/apiserver/apply/apply_crd_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/testing, size/L

#82420 Fix wrong command in e2e agnhost utility function
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/XS

#82430 Update cluster autoscaler image to 1.16.0-beta.1
  cluster/addons/rbac/cluster-autoscaler/cluster-autoscaler-rbac.yaml
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/autoscaling, sig/cluster-lifecycle, size/S

#82262 Prevent resultPod.Status.ContainerStatuses from being empty.
  test/e2e/network/kube_proxy.go
Labels: approved, area/provider/azure, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#82501 Update Cluster Autoscaler version to 1.16.0
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/autoscaling, sig/cluster-lifecycle, size/XS

#82384 Cp 1.15
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cli, size/L

#82520 test: fix liveness pod
  test/fixtures/doc-yaml/user-guide/liveness/http-liveness.yaml.in
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/XS

#74881 fix syntactic error in kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, lifecycle/stale, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS

#79005 Remove recursion in waitForVolumeDetachmentInternal
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/storage, size/M

#80337 feat: remove deprecated include uninitialized flag
  pkg/kubectl/cmd/get/get.go
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_edit_last_applied.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/cmd/edit/edit.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_image.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_resources.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_serviceaccount.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_subject.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-action-required, sig/cli, size/S

#80697 feat: use scheduler.New instead in createSchedulerConfigurator
  test/integration/scheduler_perf/BUILD
  test/integration/scheduler_perf/scheduler_bench_test.go
  test/integration/scheduler_perf/scheduler_test.go
  test/integration/scheduler_perf/util.go
  test/integration/util/BUILD
  test/integration/util/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, sig/testing, size/L

#80742 Fix shellcheck failure in test/image/image-util.sh
  hack/.shellcheck_failures
  test/images/image-util.sh
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/testing, size/S

#80780 e2e test: Label all nodes in pod anti-affinity test.
  test/e2e/scheduling/priorities.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/testing, size/M

#81384 Apply zero TerminationGracePeriodSeconds to preemption victims
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/flake, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/XS

#81432 delete shared metrics (post metrics-stability migration)
  cmd/kubelet/BUILD
  cmd/kubelet/kubelet.go
  cmd/kubemark/BUILD
  cmd/kubemark/hollow-node.go
  pkg/BUILD
  pkg/client/metrics/OWNERS
  pkg/client/metrics/prometheus/BUILD
  pkg/client/metrics/prometheus/prometheus.go
  pkg/util/BUILD
  pkg/util/prometheusclientgo/BUILD
  pkg/util/prometheusclientgo/adapters.go
  pkg/util/prometheusclientgo/leaderelection/BUILD
  pkg/util/prometheusclientgo/leaderelection/adapter.go
  pkg/util/workqueue/prometheus/BUILD
  pkg/util/workqueue/prometheus/prometheus.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/L

#81453 Apply will fail with managed fields + tests
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/api-machinery, size/M

#81479 more e2eservice.TestJig cleanups
  test/e2e/framework/service/BUILD
  test/e2e/framework/service/affinity_checker.go
  test/e2e/framework/service/jig.go
  test/e2e/framework/service/util.go
  test/e2e/network/network_tiers.go
  test/e2e/network/service.go
  test/e2e/upgrades/services.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/network, sig/testing, size/XL

#81613 Continue with remaining volumeAttached's in VerifyVolumesAreAttached
  pkg/volume/util/operationexecutor/operation_executor.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/storage, size/XS

#81668 Deprecate default service IP CIDR
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  cmd/kube-apiserver/app/server.go
  pkg/master/master.go
  pkg/master/services.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-action-required, sig/api-machinery, sig/network, size/S

#81681 override stackdriver endpoint in event-exporter in test cluster
  cluster/addons/fluentd-gcp/event-exporter.yaml
  cluster/gce/gci/configure-helper.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/S

#81777 Remove unnecessary factory layer
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/predicates/metadata_test.go
  pkg/scheduler/algorithm/predicates/predicates_test.go
  pkg/scheduler/algorithmprovider/defaults/register_predicates.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/plugins.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/scheduling, size/M

#81867 Fix typo in "EnableInfightQuotaHandler" apiserver option
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/S

#82502 Automated cherry pick of #82384: Reorder symlinks to prevent path escapes
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cli, size/L

#82503 Automated cherry pick of #82384: Reorder symlinks to prevent path escapes
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cli, size/L

#81908 Remove Client#ClusterAvailable from interface
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/upgrade/BUILD
  cmd/kubeadm/app/phases/upgrade/compute_test.go
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/etcd/etcd.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/M

#80757 Automated cherry pick of #79623: quote container name in container already use error matching
  pkg/kubelet/dockershim/docker_container_test.go
  pkg/kubelet/dockershim/helpers.go
  pkg/kubelet/dockershim/helpers_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, size/S

#81553 Automated cherry pick of #81515: Only advertise supported patch types
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/S

#82311 Automated cherry pick of #82303: in GuaranteedUpdate, retry on precondition check failure if we are working with cached data
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/M

#81926 Typo fix: EptyDir -> EmptyDir in pkg/api/pod/util.go
  pkg/api/pod/util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/architecture, size/XS

#80758 Automated cherry pick of #79623: quote container name in container already use error matching
  pkg/kubelet/dockershim/docker_container_test.go
  pkg/kubelet/dockershim/helpers.go
  pkg/kubelet/dockershim/helpers_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, size/S

#82310 Automated cherry pick of #82303: in GuaranteedUpdate, retry on precondition check failure if we are working with cached data
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/M

#80756 Automated cherry pick of #79623: quote container name in container already use error matching
  pkg/kubelet/dockershim/docker_container_test.go
  pkg/kubelet/dockershim/helpers.go
  pkg/kubelet/dockershim/helpers_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, size/S

#81043 Add new flag for whitelisting node taints
  test/e2e/framework/BUILD
  test/e2e/framework/node/BUILD
  test/e2e/framework/node/resource.go
  test/e2e/framework/node/wait.go
  test/e2e/framework/node/wait_test.go
  test/e2e/framework/test_context.go
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/testing, size/XL

#81530 Fixing contradictory log messages when AddPodToVolume encounters error
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/node, size/S

#81974 clean up test code
  test/e2e/examples.go
  test/e2e/gke_local_ssd.go
  test/e2e/node/BUILD
  test/e2e/node/apparmor.go
  test/e2e/node/crictl.go
  test/e2e/node/events.go
  test/e2e/node/kubelet.go
  test/e2e/node/kubelet_perf.go
  test/e2e/node/mount_propagation.go
  test/e2e/node/node_problem_detector.go
  test/e2e/node/pod_gc.go
  test/e2e/node/pods.go
  test/e2e/node/pre_stop.go
  test/e2e/node/ssh.go
  test/e2e/node/ttlafterfinished.go
  test/e2e_node/BUILD
  test/e2e_node/apparmor_test.go
  test/e2e_node/benchmark_util.go
  test/e2e_node/container_manager_test.go
  test/e2e_node/density_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/dockershim_checkpoint_test.go
  test/e2e_node/eviction_test.go
  test/e2e_node/gpu_device_plugin_test.go
  test/e2e_node/hugepages_test.go
  test/e2e_node/image_id_test.go
  test/e2e_node/node_perf_test.go
  test/e2e_node/node_problem_detector_linux.go
  test/e2e_node/pids_test.go
  test/e2e_node/resource_collector.go
  test/e2e_node/resource_metrics_test.go
  test/e2e_node/resource_usage_test.go
  test/e2e_node/restart_test.go
  test/e2e_node/runtime_conformance_test.go
  test/e2e_node/security_context_test.go
  test/e2e_node/startup_probe_test.go
  test/e2e_node/summary_test.go
  test/e2e_node/system_node_critical_test.go
  test/e2e_node/util.go
  test/utils/crd/BUILD
  test/utils/crd/crd_util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/autoscaling, sig/cluster-lifecycle, sig/scheduling, sig/testing, size/L

#82309 Automated cherry pick of #82303: in GuaranteedUpdate, retry on precondition check failure if we are working with cached data
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/M

#81980 cleanup test code in lifecycle, servicecatalog and ui package
  test/e2e/lifecycle/BUILD
  test/e2e/lifecycle/addon_update.go
  test/e2e/lifecycle/bootstrap/BUILD
  test/e2e/lifecycle/bootstrap/util.go
  test/e2e/lifecycle/ha_master.go
  test/e2e/lifecycle/kubelet_security.go
  test/e2e/lifecycle/node_lease.go
  test/e2e/lifecycle/reboot.go
  test/e2e/lifecycle/resize_nodes.go
  test/e2e/lifecycle/restart.go
  test/e2e/servicecatalog/BUILD
  test/e2e/servicecatalog/podpreset.go
  test/e2e/ui/BUILD
  test/e2e/ui/dashboard.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/L

#81982 Use log functions of core framework on test/e2e/scheduling
  test/e2e/scheduling/BUILD
  test/e2e/scheduling/limit_range.go
  test/e2e/scheduling/nvidia-gpus.go
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/preemption.go
  test/e2e/scheduling/priorities.go
  test/e2e/scheduling/taint_based_evictions.go
  test/e2e/scheduling/taints.go
  test/e2e/scheduling/ubernetes_lite.go
  test/e2e/scheduling/ubernetes_lite_volumes.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/L

#81983 use log functions of core framework in the 'test/e2e/storage/*'
  test/e2e/storage/BUILD
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/drivers/BUILD
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/csi_objects.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/empty_dir_wrapper.go
  test/e2e/storage/ephemeral_volume.go
  test/e2e/storage/flexvolume.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/generic_persistent_volume-disruptive.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
  test/e2e/storage/pd.go
  test/e2e/storage/persistent_volumes-gce.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/persistent_volumes.go
  test/e2e/storage/pv_protection.go
  test/e2e/storage/regional_pd.go
  test/e2e/storage/testsuites/BUILD
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/driveroperations.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/snapshottable.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/volume_expand.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/utils/BUILD
  test/e2e/storage/utils/local.go
  test/e2e/storage/utils/utils.go
  test/e2e/storage/volume_limits.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/volume_provisioning.go
  test/e2e/storage/volumes.go
  test/e2e/storage/vsphere/BUILD
  test/e2e/storage/vsphere/bootstrap.go
  test/e2e/storage/vsphere/config.go
  test/e2e/storage/vsphere/nodemapper.go
  test/e2e/storage/vsphere/persistent_volumes-vsphere.go
  test/e2e/storage/vsphere/pv_reclaimpolicy.go
  test/e2e/storage/vsphere/vsphere.go
  test/e2e/storage/vsphere/vsphere_statefulsets.go
  test/e2e/storage/vsphere/vsphere_utils.go
  test/e2e/storage/vsphere/vsphere_volume_datastore.go
  test/e2e/storage/vsphere/vsphere_volume_diskformat.go
  test/e2e/storage/vsphere/vsphere_volume_fstype.go
  test/e2e/storage/vsphere/vsphere_volume_node_poweroff.go
  test/e2e/storage/vsphere/vsphere_volume_perf.go
  test/e2e/storage/vsphere/vsphere_volume_vpxd_restart.go
  test/e2e/storage/vsphere/vsphere_volume_vsan_policy.go
  test/e2e/storage/vsphere/vsphere_zone_support.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XL

#82040 Use scheduler.New() Instead of factory.NewConfigFactory() in volumescheduling Integration Test
  test/integration/volumescheduling/BUILD
  test/integration/volumescheduling/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/scheduling, sig/testing, size/L

#82054 Rewrite tests for tableprinter.go
  pkg/printers/BUILD
  pkg/printers/tableprinter_test.go
Labels: approved, area/code-organization, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, size/XL

#82060 Add a method to TestContext to check if is IPv6
  test/e2e/framework/test_context.go
  test/e2e/framework/util.go
  test/e2e/network/dns.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/M

#82064 Cleanup cluster/images/conformance/go-runner test data after test done
  cluster/images/conformance/go-runner/tar_test.go
Labels: approved, area/conformance, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/release, size/XS

#82113 Fix sync pod log format
  pkg/kubelet/status/status_manager.go
  pkg/util/pod/pod.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/XS

#82121 Typo fix: binded -> bound
  test/e2e/storage/testsuites/provisioning.go
  test/e2e_kubeadm/proxy_addon_test.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/testing, size/XS

#82161 Fix broken link.
  staging/src/k8s.io/sample-controller/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/XS

#82170 Adding termination grace period to Deployment, RC, RCSet, and Job
  test/utils/runners.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/testing, size/M

#82175 Move Update Apply conflict test to field manager test
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
  test/integration/apiserver/apply/apply_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/testing, size/L

#82193 Early return after sending to errCh in Options#eventHandler
  cmd/kube-proxy/app/server.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/network, size/XS

#82210 Use Key() in Path composition
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/XS

#82233 Fix golint failures of pkg/kubelet
  hack/.golint_failures
  pkg/kubelet/reason_cache.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/S

#82240 hack/boilerplate/bolierplate.py: format python file according to PEP8…
  hack/boilerplate/boilerplate.py
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/M

#82241 Mark Ceph tests as serial
  test/e2e/storage/drivers/in_tree.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/XS

#82245 Don't require any resources in race test
  test/e2e/storage/empty_dir_wrapper.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, sig/storage, sig/testing, size/S

#82032 add myself to util metrics owners
  pkg/util/metrics/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/instrumentation, size/XS

#79178 Automated cherry pick of #77475: fix the metainternalversion.List change error
  pkg/controller/cronjob/BUILD
  pkg/controller/cronjob/cronjob_controller.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, priority/important-soon, sig/apps, size/M

#82209 Handle pod addition / removal errors
  pkg/scheduler/core/generic_scheduler.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/M

#82261 Update security contacts for kubectl
  staging/src/k8s.io/kubectl/SECURITY_CONTACTS
Labels: approved, area/kubectl, area/security, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, release-note-none, sig/cli, size/XS

#82279 add identification for particular certificate controllers
  cmd/kube-controller-manager/app/certificates.go
  pkg/controller/certificates/approver/sarapprove.go
  pkg/controller/certificates/certificate_controller.go
  pkg/controller/certificates/certificate_controller_test.go
  pkg/controller/certificates/signer/cfssl_signer.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/auth, size/S

#82307 Remove unused func IsProxyLocked
  pkg/proxy/userspace/proxier.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/network, size/XS

#82317 Repaire incorrect ip version event
  pkg/proxy/endpoints.go
  pkg/proxy/endpointslicecache.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/network, size/XS

#82324 test: fix azure disk e2e test failure
  test/e2e/framework/providers/azure/BUILD
  test/e2e/framework/providers/azure/azure.go
  test/e2e/storage/drivers/in_tree.go
Labels: approved, area/e2e-test-framework, area/provider/azure, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/testing, size/M

#82329 don't start the cloud node controller if cloudprovider.Instances is not supported
  cmd/cloud-controller-manager/app/core.go
  pkg/controller/cloud/node_controller.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/api-machinery, sig/apps, sig/cloud-provider, size/S

#82330 fix(scheduler): remove the defer function cost
  test/integration/scheduler_perf/scheduler_bench_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/scheduling, sig/testing, size/XS

#82342 Bump gonvml module and remove CGO dependency.
  go.mod
  go.sum
  pkg/kubelet/cadvisor/cadvisor_linux.go
  pkg/kubelet/cadvisor/cadvisor_unsupported.go
  pkg/kubelet/cadvisor/helpers_linux.go
  pkg/kubelet/cadvisor/helpers_unsupported.go
  vendor/github.com/mindprince/gonvml/.travis.gofmt.sh
  vendor/github.com/mindprince/gonvml/.travis.yml
  vendor/github.com/mindprince/gonvml/BUILD
  vendor/github.com/mindprince/gonvml/Makefile
  vendor/github.com/mindprince/gonvml/bindings.go
  vendor/github.com/mindprince/gonvml/bindings_nocgo.go
  vendor/modules.txt
Labels: approved, area/dependency, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, size/S

#82360 Remove dead code used only in tests
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cli, size/M

#82367 Enable block tests for Cinder
  test/e2e/storage/drivers/in_tree.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/XS

#82391 Fix a typo in cmd/kube-apiserver.
  cmd/kube-apiserver/app/server.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/XS

#82411 Fix reviewer typo.
  pkg/controller/podautoscaler/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/autoscaling, size/XS

#82414 kubeadm: code clean up about kustomize
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/kustomize/kustomize.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#82416 Create LoadBalancer in nginx ingress tests
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/testing-manifests/ingress/nginx/rc.yaml
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/M

#81667 Fix a static check failure in controller-manager
  cmd/controller-manager/app/serve.go
  hack/.staticcheck_failures
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#81793 Added OWNERS file for Topology Manager
  pkg/kubelet/cm/topologymanager/OWNERS
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/S

#82053 Break out of loop when finalizer is found
  test/e2e/framework/service/wait.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#82095 Break out of the loop when active endpoint is found
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#82187 Error out when Scheduler PreBind plugins return Unschedulable
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/scheduler.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/M

#82284 Clarify retry.RetryOnConflict docs
  staging/src/k8s.io/client-go/util/retry/util.go
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#82370 kubelet: refactor server containerLogs test to table driven test
  pkg/kubelet/server/BUILD
  pkg/kubelet/server/server_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/L

#82433 Added alejandrox1 as test/e2e/framework reviewer
  test/e2e/framework/OWNERS
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#82434 Encryption config: correctly handle overlapping providers
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer.go
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, size/L

#82442 fix indentation with 'kubectl describe node'
  staging/src/k8s.io/kubectl/pkg/describe/versioned/describe.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/cli, size/S

#82446 Check cache is synced first before sleeping
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/XS

#82461 Return proper Kind in error for Cacher
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/S

#82464 Add apigroup to the data source of pvc description
  staging/src/k8s.io/kubectl/pkg/describe/versioned/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/versioned/describe_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, kind/feature, lgtm, priority/important-longterm, release-note-none, sig/cli, size/XS

#82474 Add -x to du commands to not traverse other file systems
  pkg/volume/testing/testing.go
  pkg/volume/util/fs/fs.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/storage, size/XS

#82477 fix some missing errors return statements
  hack/.staticcheck_failures
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/dryrun.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label.go
Labels: approved, area/apiserver, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/cli, size/S

#82582 Automated cherry pick of #81453: Apply will fail with managed fields + tests
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, size/M, wg/apply

#81647 test: add cases to test that no images present in node status.
  pkg/scheduler/algorithm/priorities/image_locality_test.go
  pkg/scheduler/nodeinfo/util_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/scheduling, size/M

#82478 endpoints: fix admission test types
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/network, size/XS

#82481 e2e_kubeadm: fix command flags description
  test/e2e_kubeadm/runner/local/run_local.go
Labels: approved, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/testing, size/XS

#82483 The correct PluginConfig.Args is not passed to the corresponding PluginFactory in kube-scheduler when multiple PluginConfig items are defined
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/scheduling, size/L

#82485 log-dump: make logging clearer
  cluster/log-dump/log-dump.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/scalability, size/XS

#82486 Fix ineffassign
  hack/.staticcheck_failures
  pkg/volume/csi/csi_plugin_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/patchhandler_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/context_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/rest/streamer_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/aes/aes_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/secretbox/secretbox_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/auth, sig/storage, size/M

#82490 Userinfo conversion
  pkg/apis/admission/v1/BUILD
  pkg/apis/admission/v1/zz_generated.conversion.go
  pkg/apis/admission/v1beta1/BUILD
  pkg/apis/admission/v1beta1/zz_generated.conversion.go
  pkg/apis/authentication/v1/conversion.go
  pkg/apis/authentication/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/BUILD
  staging/src/k8s.io/apiserver/pkg/apis/audit/types.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/audit/BUILD
  staging/src/k8s.io/apiserver/pkg/audit/event/BUILD
  staging/src/k8s.io/apiserver/pkg/audit/event/attributes.go
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/plugin/pkg/audit/dynamic/enforced/BUILD
  staging/src/k8s.io/apiserver/plugin/pkg/audit/dynamic/enforced/enforced_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/audit/log/BUILD
  staging/src/k8s.io/apiserver/plugin/pkg/audit/log/backend_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, size/M

#82498 Avoid encoding from competing goroutines
  test/integration/apiserver/admissionwebhook/load_balance_test.go
Labels: approved, area/deflake, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/S

#82499 Remove me from OWNERS for GCI
  cluster/gce/gci/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/XS

#82513 add line break in kubeadm upgrade logging message
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#82514 Exec probes should not be unbounded
  pkg/kubelet/dockershim/docker_streaming.go
  pkg/kubelet/prober/BUILD
  pkg/kubelet/prober/prober.go
  pkg/kubelet/prober/prober_test.go
  pkg/kubelet/util/ioutils/BUILD
  pkg/kubelet/util/ioutils/ioutils.go
  pkg/kubelet/util/ioutils/ioutils_test.go
  pkg/probe/exec/BUILD
  pkg/probe/exec/exec.go
  pkg/probe/exec/exec_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/node, size/L

#82528 Log all executed iscsiadm commands
  pkg/volume/iscsi/iscsi_util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, size/M

#82535 'imagetag' -> 'image' in edit set command examples
  staging/src/k8s.io/kubectl/docs/book/pages/app_management/container_images.md
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note, sig/cli, size/XS

#82541 adding yastij as a reviewer for the runtimeclass admission controller
  plugin/pkg/admission/runtimeclass/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#82543 keep the status error from envelope service
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/envelope.go
  staging/src/k8s.io/apiserver/pkg/storage/value/metrics_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, size/M

#79758 Remove duplicate logging
  cmd/kube-scheduler/app/server.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/scheduling, size/XS

#82156 Fix EvaluatedNodes in ScheduleResult
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/L

#82554 Refactor FieldManager tests to make them simpler
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L, ¯\_(ツ)_/¯

#82569 MOD:fix spelling errors
  test/cmd/apps.sh
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/vsphere/vsphere_volume_node_poweroff.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS

#82579 Expose etcd metric port in tests
  cluster/gce/gci/configure-helper.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/XS

#82583 Add wrapper for prometheus buckets functionality
  staging/src/k8s.io/component-base/metrics/histogram.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/S

#82588 Propagate and honor http.ErrAbortHandler
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/api-machinery, size/L

#82593 Automated cherry pick of #82588: Propagate and honor http.ErrAbortHandler
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/api-machinery, size/L

#82266 replace time.Now().Sub with time.Since
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/auth, size/XS

#82669 fix kubelet status http calls with truncation
  pkg/probe/http/http.go
  pkg/probe/http/http_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/node, size/M

#82688 Automated cherry pick of #82669: fix kubelet status http calls with truncation
  pkg/probe/http/http.go
  pkg/probe/http/http_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/node, size/M

#82697 Fix TestBlockMapperMapDeviceNotSupportAttach informer sync race
  pkg/volume/csi/csi_block_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/storage, size/S
