Repository kubernetes/kubernetes, pull requests merged in 2019-06, with the labels that each got.

#75202 Fix linting kubectl apply
  pkg/kubectl/cmd/apply/apply.go
  pkg/kubectl/cmd/apply/apply_edit_last_applied.go
  pkg/kubectl/cmd/apply/apply_set_last_applied.go
  pkg/kubectl/cmd/apply/apply_view_last_applied.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, priority/important-soon, release-note-none, sig/cli, size/S

#75479 Implement port forwarding for windows
  pkg/kubelet/dockershim/BUILD
  pkg/kubelet/dockershim/docker_streaming.go
  pkg/kubelet/dockershim/docker_streaming_others.go
  pkg/kubelet/dockershim/docker_streaming_windows.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/node, sig/windows, size/L

#77762 Adds staging directory for kubectl code
  go.mod
  staging/README.md
  staging/publishing/rules.yaml
  staging/repos_generated.bzl
  staging/src/BUILD
  staging/src/k8s.io/kubectl/.github/PULL_REQUEST_TEMPLATE.md
  staging/src/k8s.io/kubectl/BUILD
  staging/src/k8s.io/kubectl/CONTRIBUTING.md
  staging/src/k8s.io/kubectl/LICENSE
  staging/src/k8s.io/kubectl/OWNERS
  staging/src/k8s.io/kubectl/README.md
  staging/src/k8s.io/kubectl/SECURITY_CONTACTS
  staging/src/k8s.io/kubectl/code-of-conduct.md
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  vendor/k8s.io/kubectl
Labels: approved, area/dependency, area/kubectl, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, sig/release, sig/storage, size/L

#77817 CRDs should support watch of protobuf PartialObjectMetadata
  cmd/kube-apiserver/app/testing/BUILD
  cmd/kube-apiserver/app/testing/testserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/protobuf.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/negotiation/negotiate.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  test/integration/apiserver/apiserver_test.go
  test/integration/kubelet/watch_manager_test.go
  test/integration/master/crd_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/L

#77887 Doc changes for nodelocaldns graduating to beta
  cluster/addons/dns/nodelocaldns/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/network, size/XS

#77975 add process start time metric to metric probes since they use counters
  pkg/kubelet/server/BUILD
  pkg/kubelet/server/server.go
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/metrics/BUILD
  staging/src/k8s.io/component-base/metrics/processstarttime.go
  vendor/modules.txt
Labels: approved, area/dependency, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, sig/node, size/M

#78061 Enhance to record more accurate e2e provision/deletion latency metric
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/metrics/BUILD
  pkg/controller/volume/persistentvolume/metrics/metrics.go
  pkg/controller/volume/persistentvolume/provision_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/volume/util/metrics.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/apps, sig/storage, size/XL

#78567 Automated cherry pick of #77802 upstream release 1.14
  pkg/proxy/ipvs/graceful_termination.go
Labels: approved, area/ipvs, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/network, size/S

#78103 updating the API reviewers for sig-windows
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/windows, size/XS

#78242 Allow setting Azure cloud provider from Kubernetes secrets instread of local configure file
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/auth/azure_auth.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_config.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_config_test.go
Labels: approved, area/cloudprovider, area/dependency, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-action-required, sig/azure, sig/cloud-provider, size/L

#78262 Add Service Load Balancer finalizer support
  pkg/controller/service/BUILD
  pkg/controller/service/service_controller.go
  pkg/controller/service/service_controller_test.go
  pkg/features/kube_features.go
  staging/src/k8s.io/cloud-provider/service/helpers/BUILD
  staging/src/k8s.io/cloud-provider/service/helpers/helper.go
  staging/src/k8s.io/cloud-provider/service/helpers/helper_test.go
Labels: approved, area/cloudprovider, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/apps, sig/cloud-provider, sig/network, sig/testing, size/XL

#78276 Use zone from node for topology aware aws-ebs volume creation
  pkg/volume/awsebs/BUILD
  pkg/volume/awsebs/aws_ebs_test.go
  pkg/volume/awsebs/aws_util.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/aws, sig/scalability, sig/storage, size/M

#78305 Add ready plugin in CoreDNS corefile for DNS tests
  test/e2e/network/dns_configmap.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/XS

#78325 Graduate storageVersionHash field in the discovery doc to beta
  pkg/master/BUILD
  pkg/master/master_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/cmd/discovery.sh
  test/e2e/apimachinery/discovery.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, sig/testing, size/S

#78344 Remove deprecated flag --cleanup-iptables from kube-proxy
  cmd/kube-proxy/app/server.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note, sig/network, size/XS

#78428 Fix panic in kube-proxy when iptables-save prints to stderr
  pkg/util/iptables/iptables.go
  pkg/util/iptables/iptables_test.go
  pkg/util/iptables/save_restore.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/network, size/M

#78453 apiextensions: add invalid validation schema regex test
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/validation_test.go
Labels: approved, area/custom-resources, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note, sig/api-machinery, size/M

#76713 Remove kubectl exec deprecated -p/--pod flag
  pkg/kubectl/cmd/exec/exec.go
  pkg/kubectl/cmd/exec/exec_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cli, size/S

#78460 update Feature:NodeLease in kube_features.go
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS

#78475 Increase device discovery timeout to 30seconds/equal to checker_timeout
  pkg/volume/iscsi/iscsi_util.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/storage, size/S

#78485 Check e2e test code to use ExpectError()
  hack/verify-test-code.sh
  test/e2e/node/mount_propagation.go
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/utils/utils.go
  test/e2e/storage/volume_expand.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/M

#78486 add integration test for core/v1beta1 event compatibility
  test/integration/BUILD
  test/integration/client/client_test.go
  test/integration/events/BUILD
  test/integration/events/events_test.go
  test/integration/events/main_test.go
  vendor/modules.txt
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/scalability, sig/testing, size/L

#78497 add accessLogs support for aws nlb
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/cloud-provider, size/L

#78498 fix bug that awsSDKGO expect nil instead empty slice for ec2.Describe…
  staging/src/k8s.io/legacy-cloud-providers/aws/instances.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cloud-provider, size/XS

#78501 apiextensions: remove ratcheting logic to allow conversion with preserveUnknownField
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
Labels: approved, area/custom-resources, area/test, cncf-cla: yes, kind/api-change, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/M

#78504 Add kubelet flag to disable cadvisor json apis, and mark it deprecrated
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  pkg/kubelet/server/stats/handler.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/node, size/M

#78507 GCE Windows nodes: leave firewall enabled.
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/gcp, sig/windows, size/XS

#78516 Update the TopologyManager interfaces
  pkg/kubelet/cm/topologymanager/topology_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/XS

#78518 Bail out on missing pyyaml dependency
  hack/verify-publishing-bot.py
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/testing, size/S

#78520 set deprecatedEventSource to be backward compatible
  staging/src/k8s.io/client-go/tools/events/event_recorder.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/scalability, size/XS

#78521 apiextensions: fix array-without-items structural error
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/validation.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/validation_test.go
Labels: approved, area/custom-resources, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, size/M

#78523 Fix CRD defaulting of crd conversion webhook port
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/defaults.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/defaults_test.go
Labels: approved, area/custom-resources, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#78515 Updates to the SocketMask abstraction for the TopologyManager
  pkg/kubelet/cm/topologymanager/socketmask/socketmask.go
  pkg/kubelet/cm/topologymanager/socketmask/socketmask_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/M

#78526 Deflake TestChangeCRD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/change_test.go
Labels: approved, area/deflake, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/XS

#78528 credentialprovider: Sets homeDirPath to os.UserHomeDir()
  pkg/credentialprovider/config.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/windows, size/XS

#78536 apiextensions: unify webhook conversion error messages
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/conversion/conversion_test.go
Labels: approved, area/custom-resources, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#78542 kubeadm: disallow the mixture of --config and --certificate-key
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-action-required, sig/cluster-lifecycle, size/XS

#78410 [e2e] Add tests for service load balancer finalizer
  test/e2e/network/service.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/testing, size/L

#78548 Move e2e node perf test to flaky suite
  test/e2e_node/node_perf_test.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/XS

#78552 Windows startup scripts should use Authorization header for GCS requests
  cluster/gce/windows/common.psm1
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/node, sig/windows, size/M

#78557 Remove unnecessary comment
  staging/src/k8s.io/legacy-cloud-providers/aws/tags.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/aws, sig/cloud-provider, size/XS

#78581 route controller: respect rate limit for delete
  pkg/controller/route/route_controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, sig/network, size/XS

#78611 Fix error handling for loading initCfg in kubeadm
  cmd/kubeadm/app/cmd/upgrade/common.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note, sig/cluster-lifecycle, size/M

#78399 Remove deprecated flag --conntrack-max from kube-proxy
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_test.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/componentconfigs/validation_test.go
  cmd/kubeadm/app/phases/addons/proxy/proxy_test.go
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/internal.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/internal_non_linux.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/v1beta1.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/v1beta1_non_linux.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/controlplane/defaulted.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/controlplane/defaulted_non_linux.yaml
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/defaults.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/apis/config/validation/validation.go
  pkg/proxy/apis/config/validation/validation_test.go
  pkg/proxy/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/zz_generated.deepcopy.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-action-required, sig/cluster-lifecycle, sig/network, size/M

#78546 Use node-cache image 1.15.3 in the yaml
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/network, size/XS

#78585 kubeadm: fix conditional control-plane upgrade
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, needs-priority, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/XS

#78586 kubeadm: Fix deprecation message for a flag
  cmd/kubeadm/app/cmd/join.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/XS

#78612 Kube-Proxy wait when HNS network not found
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
  pkg/proxy/winkernel/proxier.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/network, sig/windows, size/L

#78594 Fix memory leak from not closing hcs containers
  pkg/kubelet/stats/cri_stats_provider_windows.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, priority/important-soon, release-note, sig/node, sig/windows, size/M

#77755 Move online volume expansion to Beta
  pkg/features/kube_features.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/operationexecutor/fakegenerator.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
  test/e2e/storage/volume_expand.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/node, sig/storage, sig/testing, size/M

#78545 kubeadm: revert CoreDNS to 1.3.1
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/addons/dns/manifests.go
  cmd/kubeadm/app/phases/upgrade/compute_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/cluster-lifecycle, size/M

#78450 Create tars locally
  build/root/.bazelrc
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#78592 Use read lock for reconciler#getHandlers and clean up for the pluginmanager
  pkg/kubelet/pluginmanager/cache/actual_state_of_world.go
  pkg/kubelet/pluginmanager/cache/desired_state_of_world.go
  pkg/kubelet/pluginmanager/reconciler/reconciler.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, size/S

#78661 Update README for GCE/Windows
  cluster/gce/windows/README-GCE-Windows-kube-up.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, sig/gcp, size/S

#78503 Multiple metrics hpa
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/horizontal_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note, sig/apps, sig/autoscaling, size/L

#78530 Wait for pods to be garbage collected in integration test
  test/cmd/core.sh
Labels: approved, area/deflake, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, kind/flake, lgtm, priority/important-longterm, release-note-none, sig/cli, sig/testing, size/XS

#78692 fix-kubeadm-upgrade-node
  cmd/kubeadm/app/cmd/options/constant.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
  cmd/kubeadm/app/cmd/upgrade/node.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/S

#78667 Ensure kubernetes-src.tgz has kubernetes/ prefix
  build/lib/release.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#78180 Backport of #78137: godeps: update vmware/govmomi to v0.20.1
  Godeps/Godeps.json
  vendor/github.com/vmware/govmomi/sts/signer.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cloud-provider, sig/vmware, size/XS

#78681 fix label mismatching which broke e2e serial test
  pkg/volume/util/metrics.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, priority/important-soon, release-note-none, sig/storage, size/XS

#78568 Automated cherry pick of #77802 upstream release 1.13
  pkg/proxy/ipvs/graceful_termination.go
Labels: approved, area/ipvs, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/network, size/S

#78658 Fix volume mount tests issue for windows
  test/e2e/framework/volume/fixtures.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/XS

#78522 StorageOS volume driver: Remove call to clear mount info if already set
  pkg/volume/storageos/storageos_util.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/storage, size/M

#78668 Disable KubeletPodResources on Windows
  cluster/gce/util.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note, sig/cluster-lifecycle, sig/node, sig/windows, size/XS

#78704 Disable kubelet local endpoints on windows
  pkg/kubelet/kubelet.go
  pkg/kubelet/util/util_unix.go
  pkg/kubelet/util/util_unsupported.go
  pkg/kubelet/util/util_windows.go
  test/e2e_node/util.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/node, sig/testing, sig/windows, size/M

#78708 Flake fix: poll for webhook registration to complete in reinvocation integration tests
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/BUILD
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/accessors.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/accessors_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/plugin_test.go
  test/integration/apiserver/admissionwebhook/reinvocation_test.go
Labels: approved, area/admission-control, area/apiserver, area/deflake, area/test, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/L

#78537 Fix GC integration test
  pkg/controller/garbagecollector/garbagecollector.go
  test/integration/garbagecollector/garbage_collector_test.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, sig/apps, sig/testing, size/M

#78711 Don't mask k8s error returned from patch
  pkg/controller/service/BUILD
  pkg/controller/service/patch.go
  pkg/controller/service/service_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/apps, sig/network, size/M

#78696 Revert "Promote resourcequota scope selectors to GA"
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/node, sig/scheduling, size/XS

#78710 Error on tests ineligible for promotion to conformance
  test/conformance/walk.go
  test/conformance/walk_test.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/testing, size/M

#77312 Clean up kube-controller-manager.
  cmd/kube-controller-manager/app/cloudproviders.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#78608 Fix admission metrics bucket sizes
  staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/XS

#78713 Set expected in-memory version when decoding unstructured objects from etcd
  pkg/printers/internalversion/printers_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/conversion/conversion_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/defaulting_test.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/unstructured.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/unstructured_list.go
  staging/src/k8s.io/apimachinery/pkg/runtime/interfaces.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning.go
  staging/src/k8s.io/apimachinery/pkg/runtime/testing/types.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/api-change, kind/bug, kind/flake, lgtm, priority/critical-urgent, release-note, sig/api-machinery, size/L

#78725 fix bug of replica_calculator to initialize replicaCount with currentReplicas
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/apps, sig/autoscaling, size/S

#78765 Fix conflicting duplicate webhook test
  test/e2e/apimachinery/webhook.go
Labels: approved, area/deflake, area/test, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/S

#78770 Fix kubectl apply skew test with extra properties
  test/e2e/kubectl/BUILD
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, sig/cli, sig/testing, size/M

#78595 Add dangling volume as uncertain
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/S

#78700 fix: retry detach azure disk issue
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, priority/important-soon, release-note, sig/azure, sig/cloud-provider, size/XS

#78782 Revert "Faster scheduler"
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/node_tree.go
  pkg/scheduler/internal/cache/node_tree_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/scheduling, size/L

#78794 Update Cluster Autoscaler version to 1.15.0-beta.1
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/autoscaling, sig/cluster-lifecycle, sig/gcp, size/XS

#78815 apiextensions: validate x-kubernetes-int-or-string in CRs
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/fuzzer/fuzzer.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation_test.go
Labels: approved, area/custom-resources, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, size/L

#68108 add lun info when construct iscsi volumeSpec from mountPath
  pkg/volume/iscsi/iscsi.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note, sig/storage, size/XS

#77623 [1.13] Bump addon-manager to v8.9.1
  cluster/gce/manifests/kube-addon-manager.yaml
  test/kubemark/resources/manifests/kube-addon-manager.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/testing, size/XS

#78788 apiextensions: validate x-kubernetes-embedded-resource in CRs
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/objectmeta/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/objectmeta/algorithm.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/objectmeta/algorithm_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/objectmeta/coerce.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/objectmeta/coerce_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/objectmeta/jsonpath_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/objectmeta/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/objectmeta/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/pruning/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/pruning/algorithm.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/pruning/algorithm_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/strategy.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/objectmeta_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/pruning_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/validation_test.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, size/XXL

#78691 Revert CoreDNS to 1.3.1 in kube-up
  cluster/addons/dns/coredns/coredns.yaml.base
  cluster/addons/dns/coredns/coredns.yaml.in
  cluster/addons/dns/coredns/coredns.yaml.sed
  test/e2e/network/dns_configmap.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/cluster-lifecycle, sig/testing, size/S

#78866 Update Cluster Autoscaler version to 1.15.0
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/autoscaling, sig/cluster-lifecycle, sig/gcp, size/XS

#78876 vSphere: allow SAML token delegation
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/connection.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cloud-provider, sig/vmware, size/XS

#78881 1.12: Fix incorrect procMount defaulting
  pkg/api/pod/util.go
  test/e2e/framework/deployment_util.go
  test/e2e/framework/jobs_util.go
  test/e2e/framework/rs_util.go
  test/e2e/framework/statefulset_utils.go
  test/e2e/upgrades/apps/daemonsets.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/apps, sig/testing, size/M

#78885 1.15: Fix incorrect procMount defaulting
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/apps/v1/zz_generated.defaults.go
  pkg/apis/apps/v1beta1/zz_generated.defaults.go
  pkg/apis/apps/v1beta2/zz_generated.defaults.go
  pkg/apis/batch/v1/zz_generated.defaults.go
  pkg/apis/batch/v1beta1/zz_generated.defaults.go
  pkg/apis/batch/v2alpha1/zz_generated.defaults.go
  pkg/apis/core/fuzzer/fuzzer.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/zz_generated.defaults.go
  pkg/apis/extensions/v1beta1/zz_generated.defaults.go
  test/e2e/framework/deployment/fixtures.go
  test/e2e/framework/job/fixtures.go
  test/e2e/framework/replicaset/fixtures.go
  test/e2e/framework/statefulset_utils.go
  test/e2e/upgrades/apps/daemonsets.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/apps, sig/testing, size/M

#78920 Add `upstream` option to CoreDNS ConfigMap
  cluster/addons/dns/coredns/coredns.yaml.base
  cluster/addons/dns/coredns/coredns.yaml.in
  cluster/addons/dns/coredns/coredns.yaml.sed
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/XS

#78931 Revert "Bump klog to v0.3.2"
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apimachinery/pkg/util/runtime/BUILD
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/klog/klog.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, size/M

#78772 Automated cherry pick of #78770: Fix kubectl apply skew test with extra properties
  test/e2e/kubectl/BUILD
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/M

#78923 [kubeadm] Add the upstream option in CoreDNS configmap
  cmd/kubeadm/app/phases/addons/dns/manifests.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/XS

#78915 kubeadm: Add ability to retry ConfigMap get if certain errors happen
  cmd/kubeadm/app/componentconfigs/BUILD
  cmd/kubeadm/app/componentconfigs/config.go
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/phases/kubelet/dynamic.go
  cmd/kubeadm/app/util/apiclient/idempotency.go
  cmd/kubeadm/app/util/config/BUILD
  cmd/kubeadm/app/util/config/cluster.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cluster-lifecycle, size/M

#77375 Automated cherry pick of #76299: Short-circuit quota admission rejection on zero-delta
  plugin/pkg/admission/resourcequota/admission_test.go
  plugin/pkg/admission/resourcequota/controller.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, priority/important-soon, release-note-none, sig/api-machinery, sig/release, size/L

#78984 Fix failure in ciphersuites_flag_test
  staging/src/k8s.io/component-base/cli/flag/ciphersuites_flag.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, size/XS

#70639 Promote security context NodeConformance tests to Conformance suite
  test/conformance/testdata/conformance.txt
  test/e2e/common/security_context.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/architecture, sig/node, sig/testing, size/M

#74635 Fix shellchecks follow the `${var:?}` pattern
  hack/.shellcheck_failures
  test/cmd/storage.sh
  test/cmd/template-output.sh
  test/cmd/version.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/L

#74833 get-kube-binaries: use GCE token to fetch artifacts from GCS
  cluster/get-kube-binaries.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/S

#74982 Promote DNS e2e verifying DNS resolution for hostname and subdomain
  test/conformance/testdata/conformance.txt
  test/e2e/network/dns.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/network, sig/testing, size/S

#75128 tests: creates HostPath pods as unprivileged
  test/e2e/common/host_path.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, sig/windows, size/XS

#75234 fix pod stuck issue due to corrupt mnt point in flexvol plugin
  pkg/volume/flexvolume/unmounter.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/node, sig/storage, size/S

#75859 fix shellcheck failures in /hack/make-rules/test.sh
  hack/.shellcheck_failures
  hack/make-rules/test-integration.sh
  hack/make-rules/test.sh
  test/cmd/kubeadm.sh
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/testing, size/M

#75928 hack: refactored code in update_owners.py
  hack/update_owners.py
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/M

#76160 enforce the interface relationship between ServicePort and BaseServiceInfo
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
  pkg/proxy/types.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/network, sig/scheduling, size/L

#77540 Mark deprecated kubelet-read-only-port
  cmd/kube-apiserver/app/options/options.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#77673 Clean up pkg/cloudprovider/providers/openstack.
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, needs-ok-to-test, needs-priority, release-note-none, sig/cloud-provider, size/S

#77840 Add references of registry and image from imageutils
  test/e2e/common/runtime.go
  test/e2e/instrumentation/monitoring/custom_metrics_deployments.go
  test/e2e/network/kube_proxy.go
  test/e2e/network/scale/BUILD
  test/e2e/network/scale/ingress.go
  test/e2e/scheduling/taints.go
  test/utils/image/manifest.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/testing, size/L

#77915 Fix golint failures of pkg/util/parsers pkg/util/sysctl pkg/util/system
  hack/.golint_failures
  pkg/kubelet/cm/container_manager_linux.go
  pkg/util/parsers/parsers.go
  pkg/util/sysctl/sysctl.go
  pkg/util/system/system_utils.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/M

#78005 prefilter extension point implementation for the scheduler
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/scheduling, sig/testing, size/L

#76513 Create-update-delete-deployment example using dynamic package
  staging/src/k8s.io/client-go/BUILD
  staging/src/k8s.io/client-go/examples/dynamic-create-update-delete-deployment/BUILD
  staging/src/k8s.io/client-go/examples/dynamic-create-update-delete-deployment/README.md
  staging/src/k8s.io/client-go/examples/dynamic-create-update-delete-deployment/main.go
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#78144 Bug fix: remove etcd related issues in bazel-test-integration
  test/integration/framework/etcd.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/testing, size/S

#78148 fix golint errors in test/e2e/storage/utils
  hack/.golint_failures
  test/e2e/storage/utils/framework.go
  test/e2e/storage/utils/local.go
  test/e2e/storage/utils/utils.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/M

#78413 fix a mistake in CHANGELOG-1.14.md
  CHANGELOG-1.14.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/release, size/XS

#78105 Narrow down the lock
  pkg/controller/volume/attachdetach/cache/actual_state_of_world.go
  pkg/controller/volume/attachdetach/cache/desired_state_of_world.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note-none, sig/apps, size/XS

#78459 Skip GCE PD in-tree plugin tests if fstype is xfs and node distro is not ubuntu or custom
  test/e2e/storage/testsuites/base.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#78476 fix typo in /test/integration
  test/integration/scheduler_perf/scheduler_bench_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#78493 Continue admitting the pod regardless of return value from killPodFunc
  pkg/kubelet/preemption/preemption.go
  pkg/kubelet/preemption/preemption_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/M

#78529 Remove dead codes
  pkg/volume/csi/csi_plugin.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, size/XS

#78556 kubeadm: apply deterministic order to certificate phases
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/phases/certs/certlist_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/M

#78559 fix typo in /pkg/kubelet/container/cache.go
  pkg/kubelet/container/cache.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS

#78571 Fix golint failures of pkg/kubelet/prober pkg/kubelet/secret
  hack/.golint_failures
  pkg/kubelet/prober/prober.go
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/secret/fake_manager.go
  pkg/kubelet/secret/secret_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/S

#78575 kubeadm: improve kubelet-config-x.y ConfigMap logic
  cmd/kubeadm/app/cmd/phases/join/BUILD
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS

#78593 Ephemeral storage quota cleanup
  pkg/volume/emptydir/BUILD
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/util/BUILD
  pkg/volume/util/fs/BUILD
  pkg/volume/util/fs/fs.go
  pkg/volume/util/fsquota/BUILD
  pkg/volume/util/fsquota/common/BUILD
  pkg/volume/util/fsquota/common/quota_linux_common.go
  pkg/volume/util/fsquota/common/quota_linux_common_impl.go
  pkg/volume/util/fsquota/project.go
  pkg/volume/util/fsquota/quota.go
  pkg/volume/util/fsquota/quota_linux.go
  pkg/volume/util/fsquota/quota_linux_test.go
  pkg/volume/util/fsquota/quota_unsupported.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/volume.go
  test/e2e_node/BUILD
  test/e2e_node/quota_lsci_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, sig/storage, sig/testing, size/M

#78614 Move test/e2e use to v1 APIs
  cluster/addons/kube-proxy/kube-proxy-rbac.yaml
  cluster/addons/metrics-server/metrics-apiservice.yaml
  cluster/addons/prometheus/prometheus-rbac.yaml
  staging/src/k8s.io/kube-aggregator/hack/apiservice-template.yaml
  staging/src/k8s.io/sample-apiserver/artifacts/example/apiservice.yaml
  test/e2e/BUILD
  test/e2e/apimachinery/BUILD
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/webhook.go
  test/e2e/auth/BUILD
  test/e2e/auth/audit.go
  test/e2e/auth/audit_dynamic.go
  test/e2e/auth/pod_security_policy.go
  test/e2e/examples.go
  test/e2e/framework/BUILD
  test/e2e/framework/auth/BUILD
  test/e2e/framework/auth/helpers.go
  test/e2e/framework/psp_util.go
  test/e2e/kubectl/BUILD
  test/e2e/kubectl/kubectl.go
  test/e2e/network/BUILD
  test/e2e/network/ingress.go
  test/e2e/storage/BUILD
  test/e2e/storage/drivers/BUILD
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/volume_provisioning.go
Labels: approved, area/conformance, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/testing, size/L

#78615 kubeadm:fix typo in controlplane.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#78624 Iterate through thresholds in managerImpl#synchronize
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/helpers.go
  pkg/kubelet/eviction/helpers_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/node, size/M

#78626 Use Mutex for synchronization in imageCache
  pkg/kubelet/images/image_gc_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/XS

#78606 Add E2E_VERBOSITY for getting API operation logs on conformance job
  cluster/images/conformance/Dockerfile
  cluster/images/conformance/conformance-e2e.yaml
  cluster/images/conformance/run_e2e.sh
Labels: approved, area/conformance, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, sig/release, size/XS

#78625 Fix kubeadm service-cidr mapping to service-cluster-ip-rage for kube-controller-manager.
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cluster-lifecycle, sig/network, size/M

#78647 Fixed some minor errors in openapi
  pkg/kubectl/apply/parse/openapi.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/XS

#78650 Merge similar funcs
  pkg/controller/garbagecollector/graph_builder.go
Labels: approved, cncf-cla: yes, kind/cleanup, kind/design, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/apps, size/S

#78656 Add helper script to regenerate API compatibility data, testdata README
  hack/make-rules/update.sh
  hack/update-generated-api-compatibility-data.sh
  staging/src/k8s.io/api/testdata/README.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/architecture, size/L

#79039 Automated cherry pick of #78997: Fix nil pointer
  pkg/api/persistentvolumeclaim/util.go
  pkg/api/persistentvolumeclaim/util_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/storage, size/M

#78603 Fix image status
  pkg/kubelet/dockershim/docker_image.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/node, size/S

#78666 Fix verify-shellcheck comments
  hack/verify-shellcheck.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS

#78672 Enable resize in default gce storageclass
  cluster/addons/storage-class/gce/default.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/XS

#78673 Remove inner loop for finding MinReclaim in ParseThresholdConfig
  pkg/kubelet/eviction/helpers.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/XS

#78705 Add more approvers/reviewers to cluster/gce/windows
  cluster/gce/windows/OWNERS
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, sig/gcp, size/S

#78716 Add integration test for propagationPolicy=Orphan GC
  test/integration/garbagecollector/garbage_collector_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/testing, size/S

#78746 Fix spelling of test name
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/scheduling, size/S

#78753 fix typo in probe.go
  pkg/probe/probe.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS

#78768 Remove unwanted newlines in glusterfs driver
  pkg/volume/glusterfs/glusterfs.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, size/M

#78771 Allow master nodes to be accessed from private ips
  test/e2e/scheduling/taint_based_evictions.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/XS

#77518 tests: Combine Linux / Windows image pulling tests
  test/e2e/common/runtime.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, sig/windows, size/M

#78394 tests: Replaces images used with agnhost (part 1)
  test/e2e/auth/node_authn.go
  test/e2e/common/container_probe.go
  test/e2e/common/lifecycle_hook.go
  test/e2e/common/util.go
  test/e2e/framework/pod/resource.go
  test/e2e/instrumentation/logging/utils/logging_pod.go
  test/e2e/kubectl/portforward.go
  test/e2e/network/no_snat.go
  test/e2e/storage/empty_dir_wrapper.go
  test/utils/image/manifest.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/testing, size/M

#78743 Calling PatchAction on typed objects should work correctly
  staging/src/k8s.io/client-go/testing/fixture.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#78773 preload metrics for legacyregistry for backwards compatibility
  staging/src/k8s.io/component-base/metrics/legacyregistry/BUILD
  staging/src/k8s.io/component-base/metrics/legacyregistry/registry.go
  staging/src/k8s.io/component-base/metrics/legacyregistry/registry_test.go
  staging/src/k8s.io/component-base/metrics/registry.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/M

#78777 Use no-priority best-effort pod as the preemptor in BenchmarkGetPodsToPreempt
  pkg/kubelet/preemption/preemption_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/node, size/XS

#79044 Automated cherry pick of #78999: ipvs: fix string check for IPVS protocol during graceful
  pkg/proxy/ipvs/graceful_termination.go
Labels: approved, area/ipvs, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/network, size/XS
