Repository kubernetes/kubernetes, pull requests merged in 2019-05, with the labels that each got.

#76753 Automated cherry pick of #76691: Fix Azure SLB support for multiple backend pools
  pkg/cloudprovider/providers/azure/azure_standard.go
  pkg/cloudprovider/providers/azure/azure_vmss.go
  pkg/cloudprovider/providers/azure/azure_wrap.go
  pkg/cloudprovider/providers/azure/azure_wrap_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/azure, sig/cloud-provider, size/L

#76886 Automated cherry pick of #76573: refactor detach azure disk retry operation
  pkg/cloudprovider/providers/.import-restrictions
  pkg/cloudprovider/providers/azure/BUILD
  pkg/cloudprovider/providers/azure/azure_controller_common.go
  pkg/cloudprovider/providers/azure/azure_controller_common_test.go
  pkg/cloudprovider/providers/azure/azure_controller_standard.go
  pkg/cloudprovider/providers/azure/azure_controller_vmss.go
  pkg/cloudprovider/providers/azure/azure_fakes.go
  pkg/cloudprovider/providers/azure/azure_vmsets.go
  pkg/volume/azure_dd/BUILD
  pkg/volume/azure_dd/attacher.go
  pkg/volume/azure_dd/azure_dd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/azure, sig/cloud-provider, sig/storage, size/L

#74910 add TLS support for NLB / fix several NLB bugs
  pkg/cloudprovider/providers/aws/aws.go
  pkg/cloudprovider/providers/aws/aws_loadbalancer.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/cloud-provider, size/L

#76944 Fix golint failures of pkg/volume/nfs
  hack/.golint_failures
  pkg/volume/nfs/nfs.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, size/S

#77229 Return early when node expansion is determined
  pkg/volume/csi/csi_client.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/storage, size/XS

#76510 Automated cherry pick of #76505: kubeadm: Don't error out on join with --cri-socket override
  cmd/kubeadm/app/util/config/cluster.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#77165 Increase maxMsgSize for dockershim
  pkg/kubelet/dockershim/remote/docker_server.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/node, size/XS

#76503 Set CPU metrics for init containers under containerd
  pkg/kubelet/stats/cri_stats_provider.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/node, size/XS

#77270 Automated cherry pick of #75997: Bump debian-iptables versions to v11.0.2.
  build/common.sh
  build/debian-base/Makefile
  build/debian-iptables/Makefile
  build/workspace.bzl
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/network, sig/release, size/S

#77297 Correct errors and remove unwanted code blocks .
  pkg/controller/garbagecollector/graph_builder.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csi/csi_plugin_test.go
  pkg/volume/plugins.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/apps, sig/storage, size/S

#77159 refactor: use framework.ExpectNoError instead in e2e tests
  test/e2e/apimachinery/resource_quota.go
  test/e2e/instrumentation/logging/elasticsearch/BUILD
  test/e2e/instrumentation/logging/elasticsearch/kibana.go
  test/e2e/kubectl/kubectl.go
  test/e2e/servicecatalog/podpreset.go
  test/e2e/ui/BUILD
  test/e2e/ui/dashboard.go
  test/e2e/upgrades/cassandra.go
  test/e2e/upgrades/etcd.go
  test/e2e/upgrades/mysql.go
  test/e2e/upgrades/nvidia-gpu.go
  test/e2e/upgrades/sysctl.go
  test/e2e/windows/density.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/L

#76771 Fix lint errors pkg/printer
  hack/.golint_failures
  pkg/printers/interface.go
  pkg/printers/internalversion/import_known_versions.go
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
  pkg/printers/storage/storage.go
  pkg/printers/tablegenerator.go
  pkg/printers/tableprinter.go
  test/integration/auth/auth_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/design, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, sig/testing, size/M

#77214 Automated cherry pick of #76974: Restrict builds to officially supported platforms
  hack/lib/golang.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/windows, size/L

#76299 Accept admission request if resource is being deleted
  plugin/pkg/admission/resourcequota/admission_test.go
  plugin/pkg/admission/resourcequota/controller.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/testing, size/L

#76750 remove some unused const in test/e2e
  test/e2e/apps/daemon_restart.go
  test/e2e/autoscaling/cluster_autoscaler_scalability.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, sig/testing, size/XS

#77275 Remove unused var.
  cmd/clicheck/check_cli_conventions.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS

#77289 typo in `kubectl/cmd/logs/logs_test.go` comments
  pkg/kubectl/cmd/logs/logs_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS

#77298 combine two logics avoid for range the same thing
  pkg/proxy/iptables/proxier.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/network, size/S

#76647 Add some tests for printing pv
  pkg/printers/internalversion/printers_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, ok-to-test, priority/backlog, release-note-none, sig/storage, sig/testing, size/L

#77101 Add testing infra for checking whether an in-tree plugin is using backend that is shimmed to CSI
  pkg/volume/util/operationexecutor/operation_generator.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/testsuites/BUILD
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/testdriver.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/L

#77157 Utilize read lock for getLastObservedNodeAddresses
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#77303 Update iptables.IsNotFoundError for iptables-nft error messages
  pkg/util/iptables/iptables.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/network, size/M

#77315 add multivolume suite to external storage test suite
  test/e2e/storage/external/external.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#76439 Link to CNCF artwork repo
  logo/usage_guidelines.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/docs, size/S

#77137 Fixed a `make clean` regression
  hack/make-rules/clean.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#77292 Automated cherry pick of #69631: use k8s.gcr.io/pause instead of kubernetes/pause
  test/e2e/scheduling/taints_test.go
  test/utils/runners.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/testing, size/S

#76525 Rebase etcd-empty-dir-cleanup to debian-base
  cluster/images/etcd-empty-dir-cleanup/Dockerfile
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/XS

#77162 Add ability to find init Container IDs in cpumanager reconcileState()
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/L

#77325 Clean up kubeadm.
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/phases/addons/proxy/proxy_test.go
  cmd/kubeadm/app/phases/certs/certs_test.go
  cmd/kubeadm/app/phases/controlplane/volumes_test.go
  cmd/kubeadm/app/phases/markcontrolplane/markcontrolplane.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/util/cgroupdriver.go
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/runtime/runtime.go
  cmd/kubeadm/app/util/system/report.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/M

#76784 Use read lock in ServeHTTP
  pkg/proxy/healthcheck/healthcheck.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, size/XS

#76868 Use read lock for QuotaMonitor#IsSynced
  pkg/controller/resourcequota/resource_quota_monitor.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, size/XS

#77112 Fix some golint failures of pkg/kubectl/cmd/attach pkg/kubectl/cmd/autoscale
  pkg/kubectl/cmd/attach/attach.go
  pkg/kubectl/cmd/autoscale/autoscale.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/S

#77317 Fix block volume expansion
  pkg/volume/util/operationexecutor/operation_generator.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/volume_expand.go
  test/e2e/storage/volume_provisioning.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, sig/testing, size/L

#77035 Fix a bug in the gpu device plugin
  cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#74859 kubelet/cm: code optimization for the static policy
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/S

#76712 Use read lock for ServiceHasEndpoints
  pkg/proxy/userspace/roundrobin.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/network, size/XS

#77136 Add meta/v1 Table and PartialObjectMetadata objects
  staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/register.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/BUILD
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/conversion.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/deepcopy.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/register.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/zz_generated.deepcopy.go
Labels: approved, area/dependency, cncf-cla: yes, kind/api-change, lgtm, priority/important-soon, release-note, sig/api-machinery, size/L

#77291 Query pod status outside loop over containers
  pkg/kubelet/cm/cpumanager/cpu_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#77307 Clean up genswaggertypedocs.
  cmd/genswaggertypedocs/swagger_type_docs.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#77053 Fix golint failures of test/e2e/lifecycle
  hack/.golint_failures
  test/e2e/lifecycle/addon_update.go
  test/e2e/lifecycle/cluster_upgrade.go
  test/e2e/lifecycle/framework.go
  test/e2e/lifecycle/ha_master.go
  test/e2e/lifecycle/kubelet_security.go
  test/e2e/lifecycle/node_lease.go
  test/e2e/lifecycle/reboot.go
  test/e2e/lifecycle/resize_nodes.go
  test/e2e/lifecycle/restart.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/L

#76882 Fix golint failures of pkg/controller/certificates/approver, etc
  hack/.golint_failures
  pkg/controller/certificates/approver/sarapprove.go
  pkg/registry/rbac/clusterrole/doc.go
  pkg/registry/rbac/clusterrole/registry.go
  pkg/registry/rbac/clusterrole/strategy.go
  pkg/registry/rbac/role/doc.go
  pkg/registry/rbac/role/registry.go
  pkg/registry/rbac/role/strategy.go
  pkg/volume/util/recyclerclient/recycler_client.go
  pkg/volume/util/recyclerclient/recycler_client_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/apps, sig/auth, sig/storage, size/S

#77252 kubeadm: do unit testing of actual public function
  cmd/kubeadm/app/phases/certs/BUILD
  cmd/kubeadm/app/phases/certs/certs.go
  cmd/kubeadm/app/phases/certs/certs_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/L

#76961 Automated cherry pick of #76341: Fix concurrent map access in Portworx create volume call
  pkg/volume/portworx/portworx_util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/storage, size/XS

#76762 Pick up security patches for fluentd-gcp-scaler by upgrading to version 0.5.2
  cluster/addons/fluentd-gcp/scaler-deployment.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/cluster-lifecycle, sig/gcp, size/XS

#77330 Collapse integration test storage setup onto actual storage config
  test/integration/framework/BUILD
  test/integration/framework/master_utils.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#76222 Automated cherry pick of #75750: Improve volume operation metrics
  pkg/volume/util/metrics.go
  test/e2e/storage/volume_metrics.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/storage, sig/testing, size/L

#77346 Remove unnecessary custom conversion functions
  pkg/apis/core/v1/conversion.go
  pkg/apis/core/v1/zz_generated.conversion.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/apps, size/M

#77260 Automated cherry pick of #76788: Test kubectl cp escape
  pkg/kubectl/cmd/cp/BUILD
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, sig/cli, size/L

#77118 Automated cherry pick of #76773: Create the "internal" firewall rule for kubemark master.
  test/kubemark/gce/util.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/S

#77011 Automated cherry pick of #76923: fix validation message: apiServerEndpoints ->apiServerEndpoint
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS

#77117 Automated cherry pick of #76773: Create the "internal" firewall rule for kubemark master.
  test/kubemark/gce/util.sh
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/S

#77276 Automated cherry pick of #76732: os exit when option is true
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_test.go
  cmd/kube-proxy/app/server_windows.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/network, size/M

#77285 Automated cherry pick of #76722: Pin GCE Windows node image to 1809 v20190312.
  cluster/gce/util.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#75591 tests: Splits hostname from DNS test
  test/e2e/network/dns.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, sig/windows, size/M

#77042 Automated cherry pick of #76988: add shareName param in azure file storage class
  pkg/cloudprovider/providers/azure/azure_file.go
  pkg/volume/azure_file/azure_provision.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/azure, sig/cloud-provider, sig/storage, size/S

#77139 ingress: use networking api group for default storage of ingress
  cluster/update-storage-objects.sh
  pkg/kubeapiserver/default_storage_factory_builder.go
  pkg/master/BUILD
  pkg/master/master_test.go
  pkg/master/storageversionhashdata/data.go
  pkg/registry/networking/ingress/storage/BUILD
  pkg/registry/networking/ingress/storage/storage.go
  pkg/registry/networking/ingress/storage/storage_test.go
  pkg/registry/registrytest/BUILD
  pkg/registry/registrytest/etcd.go
  test/integration/etcd/data.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/network, sig/testing, size/S

#77140 use static token to authenticate glbc
  cluster/addons/rbac/cluster-loadbalancing/glbc/roles.yaml
  cluster/addons/rbac/cluster-loadbalancing/glbc/user-rolebindings.yaml
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/glbc.manifest
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/gcp, size/L

#77281 Remove unused quorum field
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#77287 Use map to check for long-running request
  pkg/kubelet/server/server.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/S

#77261 Automated cherry pick of #76788: Test kubectl cp escape
  pkg/kubectl/cmd/cp/BUILD
  pkg/kubectl/cmd/cp/cp.go
  pkg/kubectl/cmd/cp/cp_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, sig/cli, size/L

#77378 GCE/Windows: force kill the stackdriver processes when necessary
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cluster-lifecycle, sig/gcp, size/S

#77043 Automated cherry pick of #76988: add shareName param in azure file storage class
  pkg/cloudprovider/providers/azure/azure_file.go
  pkg/volume/azure_file/azure_provision.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/azure, sig/cloud-provider, sig/storage, size/S

#77278 Enable API resource paging by default, by feature gate in sample-apiserver
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/sample-apiserver/pkg/cmd/server/BUILD
  staging/src/k8s.io/sample-apiserver/pkg/cmd/server/start.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/XS

#76983 Shuffle addresslist for random mount server and cleanup error messages.
  pkg/volume/glusterfs/glusterfs.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/storage, size/S

#77342 Add quota admission test for decreasing usage without covering quota
  plugin/pkg/admission/resourcequota/admission_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/M

#77210 Add etag for NSG updates so as to fix nsg race condition
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_client.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/azure, sig/cloud-provider, size/L

#77369 Remove the option of encrypting secrets in etcd via a locally stored key.
  cluster/gce/config-default.sh
  cluster/gce/util.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, sig/gcp, size/S

#76327 kubeadm: disable the kube-proxy DaemonSet on non-Linux nodes
  cmd/kubeadm/app/phases/addons/proxy/manifests.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, sig/windows, size/XS

#76359 correcting some spelling errors
  pkg/util/mount/mount_linux.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/storage, size/XS

#77366 Move auth and network tests to use framework/log
  test/e2e/auth/BUILD
  test/e2e/auth/audit.go
  test/e2e/auth/audit_dynamic.go
  test/e2e/auth/certificates.go
  test/e2e/auth/node_authz.go
  test/e2e/auth/service_accounts.go
  test/e2e/network/BUILD
  test/e2e/network/dns.go
  test/e2e/network/dns_common.go
  test/e2e/network/dns_scale_records.go
  test/e2e/network/example_cluster_dns.go
  test/e2e/network/firewall.go
  test/e2e/network/ingress.go
  test/e2e/network/kube_proxy.go
  test/e2e/network/network_policy.go
  test/e2e/network/network_tiers.go
  test/e2e/network/networking_perf.go
  test/e2e/network/proxy.go
  test/e2e/network/service.go
  test/e2e/network/service_latency.go
  test/e2e/network/util_iperf.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/L

#77123 use framework.ExpectNoError() for e2e/apps
  test/e2e/apps/cronjob.go
  test/e2e/apps/daemon_restart.go
  test/e2e/apps/disruption.go
  test/e2e/apps/job.go
  test/e2e/apps/network_partition.go
  test/e2e/apps/rc.go
  test/e2e/apps/replica_set.go
  test/e2e/apps/statefulset.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, sig/testing, size/L

#77368 Require version match to special-case status objects
  staging/src/k8s.io/cli-runtime/pkg/resource/BUILD
  staging/src/k8s.io/cli-runtime/pkg/resource/scheme.go
  staging/src/k8s.io/cli-runtime/pkg/resource/scheme_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cli, size/L

#77012 kubeadm: Add certificateKey field to v1beta2 config
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/BUILD
  cmd/kubeadm/app/apis/kubeadm/v1beta1/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/conversion_test.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/util/config/testdata/conversion/node/internal.yaml
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/L

#77357 Bump metadata-proxy image to v0.1.12
  cluster/addons/metadata-proxy/gce/metadata-proxy.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/gcp, size/XS, ¯\_(ツ)_/¯

#77403 Generate and verify apimachinery protobuf
  hack/verify-generated-protobuf.sh
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.pb.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, size/XS

#77406 Self nominate cmluciano as a sig-network reviewer
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/network, size/XS

#77411 Expect the correct object type to be removed
  test/cmd/generic-resources.sh
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/cli, sig/testing, size/XS

#76061 test/e2e/network: Honor --dns-domain in more places
  test/e2e/network/dns.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#75246 Add IPv6 support to the nettest image
  test/images/nettest/Dockerfile
  test/images/nettest/VERSION
  test/images/nettest/nettest.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, sig/testing, size/XS

#77022 Ensure 4xx+ response codes from webhook rejections
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/errors/statuserror.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/errors/statuserror_test.go
Labels: approved, area/admission-control, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/M

#77054 Fix golint failures of test/e2e/common/pods.go
  test/e2e/common/pods.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/L

#77148 tableprinter: simplifies default printer handler
  pkg/printers/BUILD
  pkg/printers/internalversion/BUILD
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
  pkg/printers/tablegenerator.go
  pkg/printers/tableprinter.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cli, size/L

#77328 Bump the version of the ip-masq-agent addon to pick up CVE fixes
  cluster/addons/ip-masq-agent/ip-masq-agent.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, sig/network, sig/release, size/XS

#77390 fix scheduler plugin example
  pkg/scheduler/framework/plugins/examples/multipoint/multipoint.go
  pkg/scheduler/framework/plugins/examples/prebind/prebind.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/scheduling, size/XS

#77412 Lock GCERegionalPersistentDisk feature on
  pkg/cloudprovider/providers/gce/BUILD
  pkg/cloudprovider/providers/gce/gce_disks.go
  pkg/features/kube_features.go
  pkg/volume/gcepd/BUILD
  pkg/volume/gcepd/gce_util.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/M

#77414 GCE/Windows: send container logs to the proper resource
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/gcp, size/M

#76627 Suppress registering GCE LB provider flag if missing on CommandLine.
  cmd/cloud-controller-manager/app/controllermanager.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, sig/cloud-provider, size/S

#77208 Fix rolling update daemonset bug in clock-skew scenario
  pkg/controller/daemon/daemon_controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/apps, size/XS

#75434 Refactor PV scheduling library into a separate package
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/options.go
  hack/.golint_failures
  pkg/controller/BUILD
  pkg/controller/volume/persistentvolume/BUILD
  pkg/controller/volume/persistentvolume/delete_test.go
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/index.go
  pkg/controller/volume/persistentvolume/index_test.go
  pkg/controller/volume/persistentvolume/provision_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/controller/volume/persistentvolume/recycle_test.go
  pkg/controller/volume/persistentvolume/testing/BUILD
  pkg/controller/volume/persistentvolume/testing/testing.go
  pkg/controller/volume/persistentvolume/util.go
  pkg/controller/volume/persistentvolume/util/BUILD
  pkg/controller/volume/persistentvolume/util/util.go
  pkg/controller/volume/scheduling/BUILD
  pkg/controller/volume/scheduling/scheduler_assume_cache.go
  pkg/controller/volume/scheduling/scheduler_assume_cache_test.go
  pkg/controller/volume/scheduling/scheduler_bind_cache_metrics.go
  pkg/controller/volume/scheduling/scheduler_binder.go
  pkg/controller/volume/scheduling/scheduler_binder_cache.go
  pkg/controller/volume/scheduling/scheduler_binder_cache_test.go
  pkg/controller/volume/scheduling/scheduler_binder_fake.go
  pkg/controller/volume/scheduling/scheduler_binder_test.go
  pkg/scheduler/BUILD
  pkg/scheduler/metrics/BUILD
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/volumebinder/BUILD
  pkg/scheduler/volumebinder/volume_binder.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/apps, sig/scheduling, size/XXL

#75675 Added function to create kubeconfig for addon-manager
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/kube-addon-manager.yaml
  test/kubemark/resources/manifests/kube-addon-manager.yaml
  test/kubemark/resources/start-kubemark-master.sh
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/gcp, sig/testing, size/L

#75952 tests: Solve backoff tests flakiness
  test/e2e/common/pods.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/M

#74856 fix(daemon): create more expections when skipping pods
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/apps, sig/testing, size/L

#77395 Automated cherry pick of #76675: Error when etcd3 watch finds delete event with nil prevKV
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/event.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/event_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, size/L

#77345 kubeadm: Fix omitempty in v1beta2
  cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  cmd/kubeadm/app/cmd/upgrade/common_test.go
  cmd/kubeadm/app/util/config/BUILD
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/config/testdata/defaulting/node/defaulted.yaml
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/L

#77093 Use framework.ExpectNoError() for e2e/auth
  test/e2e/auth/metadata_concealment.go
  test/e2e/auth/node_authn.go
  test/e2e/auth/node_authz.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S

#76723 pkg,test: Fix DaemonSet typos
  pkg/controller/daemon/util/daemonset_util.go
  test/e2e_kubeadm/proxy_addon_test.go
Labels: approved, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, sig/cluster-lifecycle, sig/testing, size/XS

#77347 Fix describe error of Successful Job History Limit
  pkg/kubectl/describe/versioned/describe.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note, sig/cli, size/XS

#77459 Cleanup the workarounds for augmented NSGs since it has been GA
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/azure, sig/cloud-provider, size/XS

#77453 refer to constant to guarantee constant behavior
  pkg/volume/iscsi/iscsi_util.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/storage, size/XS

#77401 Move storage tests to use the framework/log package
  test/e2e/storage/BUILD
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/drivers/BUILD
  test/e2e/storage/drivers/csi_objects.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/ephemeral_volume.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/generic_persistent_volume-disruptive.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
  test/e2e/storage/pd.go
  test/e2e/storage/persistent_volumes-gce.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/persistent_volumes.go
  test/e2e/storage/pv_protection.go
  test/e2e/storage/regional_pd.go
  test/e2e/storage/testsuites/BUILD
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/snapshottable.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/utils/BUILD
  test/e2e/storage/utils/utils.go
  test/e2e/storage/volume_expand.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/volume_provisioning.go
  test/e2e/storage/vsphere/BUILD
  test/e2e/storage/vsphere/config.go
  test/e2e/storage/vsphere/nodemapper.go
  test/e2e/storage/vsphere/persistent_volumes-vsphere.go
  test/e2e/storage/vsphere/pv_reclaimpolicy.go
  test/e2e/storage/vsphere/vsphere.go
  test/e2e/storage/vsphere/vsphere_statefulsets.go
  test/e2e/storage/vsphere/vsphere_utils.go
  test/e2e/storage/vsphere/vsphere_volume_diskformat.go
  test/e2e/storage/vsphere/vsphere_volume_fstype.go
  test/e2e/storage/vsphere/vsphere_volume_node_poweroff.go
  test/e2e/storage/vsphere/vsphere_volume_perf.go
  test/e2e/storage/vsphere/vsphere_volume_vpxd_restart.go
  test/e2e/storage/vsphere/vsphere_volume_vsan_policy.go
  test/e2e/storage/vsphere/vsphere_zone_support.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/XL

#77356 Add johnbelamaric to sig-network-{reviewers,approvers}
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/network, size/XS

#76698 Remove duplicate package import
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/XS

#77337 Automated cherry pick of #76762: Pick up security patches for fluentd-gcp-scaler by upgrading
  cluster/addons/fluentd-gcp/scaler-deployment.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, sig/cluster-lifecycle, sig/gcp, size/XS

#77338 Automated cherry pick of #76762: Pick up security patches for fluentd-gcp-scaler by upgrading
  cluster/addons/fluentd-gcp/scaler-deployment.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, sig/cluster-lifecycle, sig/gcp, size/XS

#77471 Fix golint failures of pkg/kubectl/cmd/help pkg/kubectl/cmd/proxy pkg/kubectl/cmd/util/openapi
  hack/.golint_failures
  pkg/kubectl/cmd/help/help.go
  pkg/kubectl/cmd/proxy/proxy.go
  pkg/kubectl/cmd/util/openapi/extensions.go
  pkg/kubectl/cmd/util/openapi/openapi.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/S

#77481 remove redundant else block
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#77339 Automated cherry pick of #76762: Pick up security patches for fluentd-gcp-scaler by upgrading
  cluster/addons/fluentd-gcp/scaler-deployment.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/cluster-lifecycle, sig/gcp, size/XS

#77510 Revert "github.com/beorn7/perks v0.0.0-20180321164747-3a771d992973"
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/beorn7/perks/quantile/stream.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cloud-provider, sig/scalability, size/XS

#73230 Allow to define exec credential plugin config options from kubectl
  pkg/kubectl/cmd/config/create_authinfo.go
  pkg/kubectl/cmd/config/create_authinfo_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note-none, sig/auth, sig/cli, size/L

#77464 replace errors.New(fmt.Sprintf()) with fmt.Errorf()
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cloud-provider, size/XS

#76980 Fix race condition between actual and desired state in kublet volume manager
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/L

#77311 Update the dynamic volume limit in GCE PD
  pkg/volume/gcepd/gce_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/S

#76785 typo - extra space - in Fatalf format string
  pkg/volume/csi/csi_plugin_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, size/XS

#77282 Bump addon-manager to v9.0.1
  cluster/gce/manifests/kube-addon-manager.yaml
  test/kubemark/resources/manifests/kube-addon-manager.yaml
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/testing, size/XS

#77422 Union all CPUSets in one round
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpuset/cpuset.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/S

#77320 Automated cherry pick of #76665 upstream release 1.14
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/XS

#77393 Automated cherry pick of #76675: Error when etcd3 watch finds delete event with nil prevKV
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/event.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/event_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, size/L

#75115 Uses the resource-consumer/controller image instead of resource-consumer-controller
  test/images/BUILD
  test/images/resource-consumer-controller/BASEIMAGE
  test/images/resource-consumer-controller/BUILD
  test/images/resource-consumer-controller/Dockerfile
  test/images/resource-consumer-controller/Makefile
  test/images/resource-consumer-controller/VERSION
  test/images/resource-consumer-controller/controller.go
  test/images/resource-consumer/BUILD
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#76221 Graduate SupportNodePidsLimit to beta
  pkg/features/kube_features.go
  test/e2e_node/node_container_manager_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/testing, size/XS

#77180 kubeadm: renew certificates embedded in kubeconfig files
  cmd/kubeadm/app/cmd/alpha/BUILD
  cmd/kubeadm/app/cmd/alpha/certs.go
  cmd/kubeadm/app/cmd/alpha/certs_test.go
  cmd/kubeadm/app/phases/certs/renewal/BUILD
  cmd/kubeadm/app/phases/certs/renewal/renewal.go
  cmd/kubeadm/app/phases/certs/renewal/renewal_test.go
  cmd/kubeadm/app/phases/upgrade/BUILD
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/XL

#77352 Staging legacy AWS cloud provider
  pkg/cloudprovider/providers/BUILD
  pkg/cloudprovider/providers/providers.go
  pkg/volume/awsebs/BUILD
  pkg/volume/awsebs/attacher.go
  pkg/volume/awsebs/attacher_test.go
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/awsebs/aws_ebs_block.go
  pkg/volume/awsebs/aws_ebs_test.go
  pkg/volume/awsebs/aws_util.go
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/legacy-cloud-providers/BUILD
  staging/src/k8s.io/legacy-cloud-providers/aws/BUILD
  staging/src/k8s.io/legacy-cloud-providers/aws/OWNERS
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_instancegroups.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_metrics.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_routes.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_utils.go
  staging/src/k8s.io/legacy-cloud-providers/aws/device_allocator.go
  staging/src/k8s.io/legacy-cloud-providers/aws/device_allocator_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/instances.go
  staging/src/k8s.io/legacy-cloud-providers/aws/instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/log_handler.go
  staging/src/k8s.io/legacy-cloud-providers/aws/regions.go
  staging/src/k8s.io/legacy-cloud-providers/aws/regions_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/retry_handler.go
  staging/src/k8s.io/legacy-cloud-providers/aws/retry_handler_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/sets_ippermissions.go
  staging/src/k8s.io/legacy-cloud-providers/aws/tags.go
  staging/src/k8s.io/legacy-cloud-providers/aws/tags_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/volumes.go
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  test/e2e/framework/providers/aws/BUILD
  test/e2e/framework/providers/aws/aws.go
  vendor/modules.txt
Labels: approved, area/cloudprovider, area/code-organization, area/dependency, area/e2e-test-framework, area/release-eng, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/aws, sig/cloud-provider, sig/release, sig/storage, sig/testing, size/M

#77380 Fix golint failures of pkg/apis/scheduling, pkg/apis/storage/util, etc
  hack/.golint_failures
  pkg/apis/scheduling/register.go
  pkg/apis/scheduling/types.go
  pkg/apis/storage/util/helpers.go
  pkg/apis/storage/v1/util/helpers.go
  pkg/apis/storage/v1beta1/util/helpers.go
  pkg/kubectl/util/storage/storage.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/S

#77064 Update Cluster Autoscaler to 1.14.2
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/autoscaling, sig/cluster-lifecycle, size/XS

#77016 [e2e] Move framework/upgrade_util.go to framework/lifecycle/upgrade.go
  test/e2e/framework/BUILD
  test/e2e/framework/lifecycle/BUILD
  test/e2e/framework/lifecycle/upgrade.go
  test/e2e/lifecycle/BUILD
  test/e2e/lifecycle/cluster_upgrade.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/M

#77413 Move node, windows, and autoscaling tests to framework/log
  test/e2e/autoscaling/BUILD
  test/e2e/autoscaling/cluster_size_autoscaling.go
  test/e2e/autoscaling/custom_metrics_stackdriver_autoscaling.go
  test/e2e/autoscaling/dns_autoscaling.go
  test/e2e/node/BUILD
  test/e2e/node/apparmor.go
  test/e2e/node/crictl.go
  test/e2e/node/events.go
  test/e2e/node/kubelet.go
  test/e2e/node/kubelet_perf.go
  test/e2e/node/mount_propagation.go
  test/e2e/node/node_problem_detector.go
  test/e2e/node/pod_gc.go
  test/e2e/node/pods.go
  test/e2e/node/pre_stop.go
  test/e2e/node/ssh.go
  test/e2e/node/ttlafterfinished.go
  test/e2e/windows/BUILD
  test/e2e/windows/memory_limits.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/L

#75818 Automated cherry pick of #71471: Fix nil pointer dereference panic in attachDetachController
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, sig/storage, size/XS

#77248 Automated cherry pick of #77224: Upgrade Stackdriver Logging Agent addon image from 1.6.0 to
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, sig/cluster-lifecycle, size/XS

#77314 Update the dynamic volume limit in GCE PD
  pkg/volume/gcepd/gce_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/S

#75358 Automated cherry pick of #75087: fix smb unmount issue on Windows
  pkg/util/mount/BUILD
  pkg/util/mount/mount_helper_common.go
  pkg/util/mount/mount_helper_unix.go
  pkg/util/mount/mount_helper_windows.go
  pkg/util/mount/mount_windows.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/windows, size/L

#75819 Automated cherry pick of #70645: if ephemeral-storage not exist in initialCapacity, don't
  pkg/kubelet/nodestatus/setters.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/node, size/XS

#76200 Automated cherry pick of #75072: Check for required name parameter in dynamic client
  staging/src/k8s.io/client-go/dynamic/simple.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, sig/api-machinery, size/S

#77065 Update Cluster Autoscaler to 1.13.4
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/autoscaling, sig/cluster-lifecycle, size/XS

#77322 Automated cherry pick of #76665 upstream release 1.13
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/XS

#77034 Fix golint failures of e2e/framework/providers/gce/recreate_node.go
  hack/.golint_failures
  test/e2e/framework/providers/gce/BUILD
  test/e2e/framework/providers/gce/recreate_node.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/S

#77506 style: update several golint errors in winkernel
  pkg/proxy/winkernel/hnsV2.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/network, size/M

#77514 organize sig-net-api-{reviewers,approvers} in OWNERS_ALIASES
  OWNERS_ALIASES
  pkg/apis/networking/OWNERS
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/network, size/S

#77351 Fix race condition between actual and desired state in kublet volume …
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/L

#76396 [Re-Apply][Distroless] Convert the GCE manifests for master containers.
  cluster/gce/gci/apiserver_manifest_test.go
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M

#76927 Do not generate unnecessary goroutines
  cmd/kube-proxy/app/server.go
  pkg/controller/resourcequota/resource_quota_controller_test.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_test.go
  pkg/volume/plugins.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/apps, sig/storage, size/S

#76966 Split TestLoopbackHostPort into 2 tests
  staging/src/k8s.io/apiserver/pkg/server/config_selfclient_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/failing-test, lgtm, priority/important-longterm, release-note, sig/api-machinery, size/M

#77335 remove soak test cauldron
  test/BUILD
  test/soak/cauldron/BUILD
  test/soak/cauldron/Dockerfile
  test/soak/cauldron/Makefile
  test/soak/cauldron/cauldron-rc.yaml
  test/soak/cauldron/cauldron.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note, sig/testing, size/L

#77362 Don't use mapfile as it isn't bash 3 compatible
  hack/lib/golang.sh
  hack/lib/util.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/release, size/M

#77394 Automated cherry pick of #76675: Error when etcd3 watch finds delete event with nil prevKV
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/event.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/event_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, size/L

#77443 Remove private copies and update the code to use shared annotations
  pkg/controller/volume/persistentvolume/binder_test.go
  pkg/controller/volume/persistentvolume/delete_test.go
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/provision_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/controller/volume/persistentvolume/recycle_test.go
  pkg/controller/volume/persistentvolume/util/util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, size/L

#77495 Enhance the local-up-cluster.sh script to start kubelet using correct cgroup driver.
  hack/local-up-cluster.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#74705 Remove unused code from CSI e2e tests
  test/e2e/storage/drivers/csi_objects.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/testing, size/S

#77381 Fix golint
  cmd/kube-proxy/app/server.go
  pkg/proxy/endpoints.go
  pkg/proxy/service.go
  pkg/proxy/util/network.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, size/S

#77442 Fix go lint failures in volume scheduling packages
  hack/.golint_failures
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/testing/testing.go
  pkg/controller/volume/scheduling/scheduler_assume_cache.go
  pkg/controller/volume/scheduling/scheduler_assume_cache_test.go
  pkg/controller/volume/scheduling/scheduler_bind_cache_metrics.go
  pkg/controller/volume/scheduling/scheduler_binder.go
  pkg/controller/volume/scheduling/scheduler_binder_cache.go
  pkg/controller/volume/scheduling/scheduler_binder_fake.go
  pkg/controller/volume/scheduling/scheduler_binder_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, size/L

#77478 feat: remove klog in AddUnschedulableIfNotPresent
  pkg/scheduler/factory/factory.go
  pkg/scheduler/internal/queue/scheduling_queue.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/scheduling, size/XS

#77541 Revert "Add better logging when iptables-restore fails"
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/network, sig/scalability, size/S
