Repository kubernetes/kubernetes, pull requests merged in 2019-11, with the labels that each got.

#84253 Move CheckLimitsForResolvConf to Kubelet#syncLoop
  pkg/kubelet/kubelet.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, size/S

#83387 If an iptables proxier sync fails, retry after iptablesSyncPeriod
  pkg/proxy/iptables/proxier.go
  pkg/util/async/bounded_frequency_runner.go
  pkg/util/async/bounded_frequency_runner_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, size/L

#84218 Support local filesystem volume with block source reconstruction and add related e2e tests
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/local/local.go
  pkg/volume/local/local_test.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/utils/BUILD
  test/e2e/storage/utils/utils.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/node, sig/storage, sig/testing, size/L

#84384 Cleaned up and reorder skip functions from e2e framework
  test/e2e/framework/skip.go
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/L

#84631 publishing: fix typo in rules
  staging/publishing/rules.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#83777 Fixed bug in TopologyManager with SingleNUMANode Policy
  pkg/kubelet/cm/topologymanager/policy_single_numa_node.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node_test.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/node, size/M

#84500 Remove prom from metrics validation
  test/instrumentation/BUILD
  test/instrumentation/decode_metric.go
  test/instrumentation/main_test.go
  test/instrumentation/metric.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/instrumentation, sig/testing, size/S

#84503 Cleanup clientcmd api conversions
  staging/src/k8s.io/client-go/tools/clientcmd/api/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/BUILD
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/conversion.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/doc.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/register.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/zz_generated.conversion.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/api-change, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/L

#84619 Move small test back to printers_test.go
  pkg/printers/internalversion/additional_printers_test.go
  pkg/printers/internalversion/printers_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, size/M

#82983 Optimizing some format problems
  pkg/security/apparmor/validate.go
  pkg/security/podsecuritypolicy/provider_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/auth, size/S, tide/merge-method-squash

#84626 cmd/kubeadm/app: fix staticcheck warning
  cmd/kubeadm/app/cmd/alpha/certs.go
  cmd/kubeadm/app/cmd/alpha/certs_test.go
  cmd/kubeadm/app/cmd/upgrade/diff.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/initsystem/initsystem_unix.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/M

#84604 Update k8s.io/utils dependency to latest
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/exec/testing/fake_exec.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/S

#84618 Move json/yaml printer tests to correct location
  pkg/printers/internalversion/BUILD
  pkg/printers/internalversion/additional_printers_test.go
  staging/src/k8s.io/cli-runtime/pkg/printers/BUILD
  staging/src/k8s.io/cli-runtime/pkg/printers/json_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, size/L

#84579 Refactor tests for configure-helper.sh by moving environment config to testdata.
  cluster/gce/gci/BUILD
  cluster/gce/gci/apiserver_etcd_test.go
  cluster/gce/gci/apiserver_kms_test.go
  cluster/gce/gci/audit_policy_test.go
  cluster/gce/gci/configure_helper_test.go
  cluster/gce/gci/testdata/kube-apiserver/base.template
  cluster/gce/gci/testdata/kube-apiserver/etcd.template
  cluster/gce/gci/testdata/kube-apiserver/kms.template
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/L

#84060 Traverse OwnerReference maps more efficiently
  pkg/controller/garbagecollector/garbagecollector_test.go
  pkg/controller/garbagecollector/graph_builder.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/apps, size/M

#84408 delete unused cache
  hack/.golint_failures
  staging/src/k8s.io/apimachinery/pkg/util/cache/BUILD
  staging/src/k8s.io/apimachinery/pkg/util/cache/cache.go
  staging/src/k8s.io/apimachinery/pkg/util/cache/cache_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/L

#84440 refactor(*): fix comparison to bool constant, return redundant
  pkg/proxy/endpointslicecache.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/service.go
  pkg/proxy/winuserspace/proxier.go
  pkg/proxy/winuserspace/proxysocket.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, size/S

#84463 Move funcs of create.go to e2e/storage
  test/e2e/framework/BUILD
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/external/BUILD
  test/e2e/storage/external/external.go
  test/e2e/storage/utils/BUILD
  test/e2e/storage/utils/create.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, sig/testing, size/L

#84621 Moves test to new print_flags_test.go
  pkg/printers/internalversion/BUILD
  pkg/printers/internalversion/additional_printers_test.go
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/BUILD
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/print_flags_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, size/L

#84656 Make writing file via container in tests sync for real this time by enclosing multiple commands in quotes
  test/e2e/framework/framework.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#84664 Fixes error in go_pkg()
  build/code_generation.bzl
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#84666 Add linux selector to kube-proxy yaml.
  cluster/addons/kube-proxy/kube-proxy-ds.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/XS

#84513 test/e2e: AddOrUpdateAvoidPodOnNode/RemoveAvoidPodsOffNode: retry when conflict hit during annotation update
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/flake, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#83832 deprecate cleanup-ipvs flag
  cmd/kube-proxy/app/server.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note, sig/network, size/XS

#84483 Fix a double lock bug in staging/.../apiserver
  staging/src/k8s.io/apiserver/plugin/pkg/audit/dynamic/dynamic.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/auth, size/S

#84558 Make k8s.io/kubernetes dependency policy explicit
  README.md
Labels: approved, area/code-organization, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/architecture, size/XS

#84323 feat: remove suspendedDaemonPods from daemon controller
  pkg/controller/daemon/BUILD
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/apps, sig/scheduling, size/L

#84487 Fix a data race in registrytest
  pkg/registry/registrytest/node.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/XS

#84422 kube-proxy: ensure KUBE-MARK-DROP exists
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/network, size/XS

#84637 fix log and note :cidr mask size must be <= node mask
  pkg/controller/nodeipam/node_ipam_controller.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note, sig/apps, sig/network, size/XS

#84445 NodeLifecycleController - MarkPodsNotReady retry fix
  pkg/controller/nodelifecycle/BUILD
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/apps, size/L

#84365 Remove Alpha feature MountContainers
  pkg/features/kube_features.go
  pkg/kubelet/BUILD
  pkg/kubelet/mountpod/BUILD
  pkg/kubelet/mountpod/mount_pod.go
  pkg/kubelet/mountpod/mount_pod_test.go
  pkg/kubelet/volume_host.go
  pkg/volume/util/BUILD
  pkg/volume/util/exec/BUILD
  pkg/volume/util/exec/exec_mount.go
  pkg/volume/util/exec/exec_mount_test.go
  pkg/volume/util/exec/exec_mount_unsupported.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/node, sig/storage, size/XL

#84249 Bump shellcheck to v0.7.0
  build/common.sh
  cluster/gce/gci/mounter/stage-upload.sh
  hack/lib/golang.sh
  hack/lib/test.sh
  hack/verify-shellcheck.sh
  test/cmd/apply.sh
  test/cmd/apps.sh
  test/cmd/core.sh
  test/cmd/crd.sh
  test/cmd/create.sh
  test/cmd/generic-resources.sh
  test/cmd/save-config.sh
  test/images/pets/redis-installer/on-start.sh
  test/images/pets/zookeeper-installer/on-start.sh
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, sig/testing, size/L

#84123 Handle namespace deletion more gracefully in built-in controllers
  pkg/controller/controller_utils.go
  pkg/controller/cronjob/BUILD
  pkg/controller/cronjob/cronjob_controller.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/deployment/deployment_controller.go
  pkg/controller/deployment/sync.go
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/job/job_controller.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/serviceaccount/serviceaccounts_controller.go
  pkg/controller/serviceaccount/tokens_controller.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/namespace/lifecycle/BUILD
  staging/src/k8s.io/apiserver/pkg/admission/plugin/namespace/lifecycle/admission.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/namespace/lifecycle/admission_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/apps, sig/auth, sig/network, size/L

#84534 Add a kubelet serving cert age metric
  pkg/kubelet/certificate/kubelet.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, sig/auth, sig/node, size/L

#84712 Refactor the process to get ip address of loopback interface
  staging/src/k8s.io/apiserver/pkg/server/BUILD
  staging/src/k8s.io/apiserver/pkg/server/config_selfclient.go
  staging/src/k8s.io/apiserver/pkg/server/config_selfclient_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/S

#84215 Automated cherry pick of #83427: Fix double counting issue for request metrics on timeout.
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/M

#84465 Automated cherry pick of #83692: add a fallback for kube-scheduler when events.k8s.io is
  cmd/kube-scheduler/app/BUILD
  cmd/kube-scheduler/app/config/config.go
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/server.go
  staging/src/k8s.io/client-go/tools/record/event.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/scheduling, size/M

#84175 Automated cherry pick of #84049: Do not bind block PV/PVCs when block feature gate is off
  pkg/controller/volume/persistentvolume/binder_test.go
  pkg/controller/volume/persistentvolume/index_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/util/util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, size/M

#83897 Enabling fluentd on kubemark
  test/kubemark/gce/util.sh
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scalability, sig/testing, size/XS

#84415 reject pods when under disk pressure
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/eviction_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/M

#84646 Validate custom priority policy config.
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/scheduling, size/M

#84582 Automated cherry pick of #79020: fix: make azure disk URI case insensitive
  pkg/cloudprovider/providers/azure/azure_managedDiskController.go
  pkg/cloudprovider/providers/azure/azure_test.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS

#84581 Automated cherry pick of #79020: fix: make azure disk URI case insensitive
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS

#83055 tests: Adds guestbook app subcommand in agnhost
  test/images/agnhost/BUILD
  test/images/agnhost/README.md
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
  test/images/agnhost/guestbook/BUILD
  test/images/agnhost/guestbook/guestbook.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/cli, sig/testing, sig/windows, size/L

#84007 Reduce node update frequency
  cluster/addons/node-problem-detector/npd.yaml
  cluster/gce/gci/configure.sh
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubemark/hollow_kubelet.go
  test/kubemark/resources/hollow-node_template.yaml
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/node, sig/scalability, sig/testing, size/S

#84739 Switch debugger configuration fields to pointers
  staging/src/k8s.io/component-base/config/v1alpha1/types.go
  staging/src/k8s.io/component-base/config/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/component-base/config/v1alpha1/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/zz_generated.deepcopy.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/XS, wg/component-standard

#84640 Use log functions of core framework on test/e2e/framework/kubelet
  test/e2e/framework/BUILD
  test/e2e/framework/kubelet/BUILD
  test/e2e/framework/kubelet/kubelet_pods.go
  test/e2e/framework/kubelet/stats.go
  test/e2e/framework/resource_usage_gatherer.go
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, sig/testing, size/L

#84721 Base Infrastructure for adding Merge() API to TopologyManager Policies
  pkg/kubelet/cm/cpumanager/topology_hints_test.go
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
  pkg/kubelet/cm/topologymanager/BUILD
  pkg/kubelet/cm/topologymanager/policy.go
  pkg/kubelet/cm/topologymanager/policy_best_effort.go
  pkg/kubelet/cm/topologymanager/policy_best_effort_test.go
  pkg/kubelet/cm/topologymanager/policy_none.go
  pkg/kubelet/cm/topologymanager/policy_none_test.go
  pkg/kubelet/cm/topologymanager/policy_restricted.go
  pkg/kubelet/cm/topologymanager/policy_restricted_test.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node_test.go
  pkg/kubelet/cm/topologymanager/policy_test.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XXL

#84412 Move funcs of node_util to cloud/gcp.
  test/e2e/cloud/BUILD
  test/e2e/cloud/nodes.go
  test/e2e/framework/nodes_util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, sig/testing, size/M

#84605 add azure disk encryption(SSE+CMK) support
  pkg/volume/azure_dd/azure_provision.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, kind/feature, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/M

#84129 Add lenient decoding path for v1alpha1 kube-scheduler config
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/configfile.go
  cmd/kube-scheduler/app/options/options_test.go
  staging/src/k8s.io/component-base/BUILD
  staging/src/k8s.io/component-base/codec/BUILD
  staging/src/k8s.io/component-base/codec/codec.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/scheduling, size/L, wg/component-standard

#84766 Fix a TaintBasedEviction integration test flake
  test/integration/scheduler/taint_test.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/scheduling, sig/testing, size/M

#84527 Adding owners file for Endpoint controller utils
  pkg/controller/util/endpoint/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, sig/network, size/S

#84785 expose PredicateMetadataProducer in generic scheduler
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, size/S

#84111 fix golint failures of kubernetes/pkg/security/apparmor
  hack/.golint_failures
  pkg/security/apparmor/helpers.go
  pkg/security/apparmor/validate.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/apps, sig/autoscaling, size/S

#84670 Autogenerate missing conversions for corev1 options types
  pkg/apis/core/v1/zz_generated.conversion.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/BUILD
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/conversion.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/conversion_test.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/zz_generated.conversion.go
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, priority/important-soon, release-note-none, sig/apps, size/M

#84725 Set user agent for e2e consistently
  test/e2e/framework/framework.go
  test/e2e/framework/util.go
Labels: approved, area/conformance, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/testing, size/S

#84761 Build: Use a better filter on find
  hack/make-rules/helpers/cache_go_dirs.sh
Labels: approved, area/conformance, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/architecture, size/XS

#84795 Convert multiple node label predicates to be a single filter plugin
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/predicates/predicates_test.go
  pkg/scheduler/algorithm_factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
  pkg/scheduler/framework/plugins/nodelabel/node_label_test.go
  test/integration/scheduler_perf/scheduler_bench_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/L

#83257 Adding initial EndpointSlice metrics.
  pkg/controller/endpointslice/BUILD
  pkg/controller/endpointslice/endpointset.go
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/metrics/BUILD
  pkg/controller/endpointslice/metrics/cache.go
  pkg/controller/endpointslice/metrics/cache_test.go
  pkg/controller/endpointslice/metrics/metrics.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
  pkg/controller/util/endpoint/BUILD
  pkg/controller/util/endpoint/controller_utils.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/apps, sig/network, size/XL

#84489 Fix a double lock in test/utils
  test/utils/audit_dynamic.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#84499 Move funcs of suites.go to e2e.go
  test/e2e/BUILD
  test/e2e/e2e.go
  test/e2e/framework/BUILD
  test/e2e/framework/suites.go
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/L

#84578 Update the event handler for deleting pods to reject the waiting pod
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/M

#84744 Isolate configuration of etcd related parameters into a separate function.
  cluster/gce/gci/apiserver_etcd_test.go
  cluster/gce/gci/configure-kubeapiserver.sh
  cluster/gce/gci/testdata/kube-apiserver/etcd.template
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/L

#84745 Revert "Make writing file via container in tests sync for real this time by enclosing multiple commands in quotes"
  test/e2e/framework/framework.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#84475 Automated cherry pick of #83591: Flush data cache during unmount device for GCE-PD in Windows
  pkg/volume/gcepd/attacher.go
  pkg/volume/util/util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, sig/windows, size/S

#84474 Automated cherry pick of #83591: Flush data cache during unmount device for GCE-PD in Windows
  pkg/volume/gcepd/attacher.go
  pkg/volume/util/util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, sig/windows, size/S

#76407 change directory permissions from 0755 to 0750
  pkg/kubelet/cm/devicemanager/manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS

#80136 very minor grammar fix in 10-kubeadm.conf ('generate' instead of 'generates')
  build/debs/10-kubeadm.conf
  build/rpms/10-kubeadm.conf
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, lifecycle/frozen, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#83619 Change Scheduler ComponentConfig fields to nilable pointers
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/BUILD
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/defaults_test.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/scheduler_test.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/zz_generated.deepcopy.go
Labels: api-review, approved, area/test, cncf-cla: yes, kind/api-change, lgtm, needs-priority, release-note, sig/scheduling, sig/testing, size/L

#83748 Adding e2e test to ensure kubectl get output is using custom columns when desired
  test/e2e/kubectl/BUILD
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, sig/testing, size/L

#84139 Fix typo in k8s.io/client-go/tools/cache/index.go
  staging/src/k8s.io/client-go/tools/cache/index.go
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#84471 Move functions from e2e/framework/util.go
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/framework/util.go
  test/e2e/network/ingress.go
  test/e2e/network/service.go
  test/e2e_node/BUILD
  test/e2e_node/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/L

#84606 Add benchmark test to compare EvenPodsSpreadPriority and SelectorSpreadingPriority
  pkg/scheduler/algorithm/predicates/metadata_test.go
  pkg/scheduler/algorithm/priorities/BUILD
  pkg/scheduler/algorithm/priorities/even_pods_spread_test.go
  pkg/scheduler/algorithm/priorities/spreading_perf_test.go
  pkg/scheduler/testing/workload_prep.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, size/L

#84723 Fix golint issues in pkg/kubeapiserver
  cmd/kube-apiserver/app/server.go
  pkg/kubeapiserver/default_storage_factory_builder.go
  pkg/kubeapiserver/doc.go
  pkg/registry/registrytest/etcd.go
  test/integration/framework/master_utils.go
Labels: approved, area/apiserver, area/code-organization, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/testing, size/S

#84781 Use time.Until instead of t.Sub(time.Now())
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/phases/certs/renewal/expiration.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#84801 Fix panic on configmap and lease lock implementations
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/endpointslock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#84809 Make GCE PD Access Mode reflect readonly status when translating an inline read only volume
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note, sig/storage, size/M

#84815 Validate scheduler configuration from config file
  cmd/kube-scheduler/app/options/options.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/XS

#84816 Aggregate mulitple NodePreference custom priorities to a single score plugin.
  pkg/scheduler/algorithm/priorities/BUILD
  pkg/scheduler/algorithm/priorities/node_label.go
  pkg/scheduler/algorithm/priorities/node_label_test.go
  pkg/scheduler/algorithm_factory.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/plugins/nodelabel/BUILD
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
  pkg/scheduler/framework/plugins/nodelabel/node_label_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/L

#84824 Tracking nodes with pods with affinity
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/listers/fake/listers.go
  pkg/scheduler/listers/listers.go
  pkg/scheduler/nodeinfo/snapshot/snapshot.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/M

#84835 Enable profiling by default in the scheduler
  cmd/kube-scheduler/app/options/options_test.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/defaults_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/scheduling, size/M

#83062 Provide a mechanism for custom collectors to use the metrics stability framework
  staging/src/k8s.io/component-base/metrics/BUILD
  staging/src/k8s.io/component-base/metrics/collector.go
  staging/src/k8s.io/component-base/metrics/collector_test.go
  staging/src/k8s.io/component-base/metrics/desc.go
  staging/src/k8s.io/component-base/metrics/legacyregistry/registry.go
  staging/src/k8s.io/component-base/metrics/registry.go
  staging/src/k8s.io/component-base/metrics/value.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/instrumentation, size/XL

#84838 e2e: Provide more helpful error output for failing test
  test/e2e/apps/cronjob.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, needs-priority, release-note-none, sig/apps, sig/testing, size/XS

#84845 feat: convert selector spread priority to score plugin
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/BUILD
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread.go
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread_test.go
  test/integration/scheduler/scheduler_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/scheduling, sig/testing, size/XL

#84713 Promote CRD defaulting to GA
  pkg/features/kube_features.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/features/kube_features.go
  test/e2e/apimachinery/custom_resource_definition.go
Labels: approved, area/custom-resources, area/test, cncf-cla: yes, kind/api-change, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/XL

#84746 Move out const strings in pkg/scheduler/api/well_known_labels.go
  pkg/controller/daemon/BUILD
  pkg/controller/daemon/daemon_controller_test.go
  pkg/controller/daemon/util/BUILD
  pkg/controller/daemon/util/daemonset_util.go
  pkg/controller/daemon/util/daemonset_util_test.go
  pkg/controller/nodeipam/ipam/BUILD
  pkg/controller/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/controller/nodelifecycle/BUILD
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
  pkg/kubelet/BUILD
  pkg/kubelet/eviction/BUILD
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/scheduler/algorithm/BUILD
  pkg/scheduler/algorithm/predicates/BUILD
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/predicates/predicates_test.go
  pkg/scheduler/algorithm/types.go
  pkg/scheduler/api/BUILD
  pkg/scheduler/api/well_known_labels.go
  pkg/scheduler/framework/plugins/nodeaffinity/BUILD
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
  pkg/scheduler/framework/plugins/nodeunschedulable/BUILD
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable_test.go
  plugin/pkg/admission/defaulttolerationseconds/BUILD
  plugin/pkg/admission/defaulttolerationseconds/admission.go
  plugin/pkg/admission/defaulttolerationseconds/admission_test.go
  plugin/pkg/admission/nodetaint/BUILD
  plugin/pkg/admission/nodetaint/admission.go
  plugin/pkg/admission/nodetaint/admission_test.go
  plugin/pkg/admission/podtolerationrestriction/BUILD
  plugin/pkg/admission/podtolerationrestriction/admission.go
  plugin/pkg/admission/podtolerationrestriction/admission_test.go
  staging/src/k8s.io/api/core/v1/BUILD
  staging/src/k8s.io/api/core/v1/well_known_taints.go
  test/integration/daemonset/BUILD
  test/integration/daemonset/daemonset_test.go
  test/integration/defaulttolerationseconds/BUILD
  test/integration/defaulttolerationseconds/defaulttolerationseconds_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/taint_test.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, sig/network, sig/node, sig/scheduling, sig/testing, size/L

#84774 Add sig-scalability-approvers/reviewers as kubemark approvers/reviewers
  OWNERS_ALIASES
  cluster/kubemark/OWNERS
  cmd/kubemark/OWNERS
  pkg/kubemark/OWNERS
  test/kubemark/OWNERS
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/scalability, sig/testing, size/S

#84802 Ensure health probes are created for local traffic policy UDP services on Azure
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/M

#84807 Modify the status code number to HTTP status semantics
  pkg/kubelet/config/http_test.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/gcp_test.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/scale/client_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/attach/attach_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrolebinding_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_configmap_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_namespace_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_rolebinding_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_service_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_serviceaccount_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/edit/edit_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/patch/patch_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollingupdate/rolling_updater_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/taint/taint_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/testing/util.go
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_node_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instance_metadata.go
Labels: approved, area/cloudprovider, area/kubectl, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/auth, sig/cli, sig/cloud-provider, sig/node, size/XL

#84812 Write scheduler configuration from config file
  cmd/kube-scheduler/app/server.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/S

#84858 Revert "enabling fluentd on kubemark"
  test/kubemark/gce/util.sh
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/scalability, sig/testing, size/XS

#84836 Correct spelling mistakes
  build/common.sh
  pkg/api/testing/unstructured_test.go
  pkg/controller/certificates/authority/policies.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/nodeipam/ipam/range_allocator.go
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controller/nodelifecycle/scheduler/taint_manager_test.go
  pkg/controller/podautoscaler/horizontal_test.go
  pkg/controller/replicaset/replica_set_test.go
  pkg/controller/service/controller.go
  pkg/controller/statefulset/stateful_set_utils_test.go
  pkg/controller/util/node/controller_utils.go
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/index_test.go
  pkg/controller/volume/persistentvolume/metrics/metrics.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/kubelet/certificate/bootstrap/bootstrap.go
  pkg/kubelet/cloudresource/cloud_request_manager_test.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/state/state.go
  pkg/kubelet/cm/cpumanager/state/state_file_test.go
  pkg/kubelet/dockershim/helpers_unsupported.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/eviction/helpers.go
  pkg/kubelet/eviction/threshold_notifier_linux.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  pkg/kubelet/logs/container_log_manager.go
  pkg/kubelet/pluginmanager/operationexecutor/operation_executor.go
  pkg/kubelet/pod/pod_manager.go
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/status/status_manager_test.go
  pkg/kubelet/util/manager/cache_based_manager_test.go
  pkg/master/master_test.go
  pkg/proxy/apis/config/types.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/rbac/rest/storage_rbac.go
  pkg/registry/rbac/validation/rule.go
  pkg/registry/storage/volumeattachment/strategy_test.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/predicates/predicates_test.go
  pkg/scheduler/algorithm/priorities/interpod_affinity_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/interpod_affinity_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/pod_topology_spread_test.go
  pkg/scheduler/internal/cache/cache_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/apps, sig/auth, sig/autoscaling, sig/network, sig/node, sig/scheduling, size/L

#84525 Fix bug in TopologyManager hint generation after kubelet restart
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
  pkg/kubelet/cm/cpumanager/topology_hints_test.go
  pkg/kubelet/cm/devicemanager/BUILD
  pkg/kubelet/cm/devicemanager/topology_hints.go
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/node, size/L

#84600 Grab init containers logs in e2e tests
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S

#84706 Feature: Validates partial path for flow-schema's non-resource-url rules
  pkg/apis/flowcontrol/validation/validation.go
  pkg/apis/flowcontrol/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L

#84825 tests: Fixes minor agnhost error
  test/images/agnhost/guestbook/guestbook.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#84780 Manually cherry pick of #83427: Fix double counting issue for request metrics on timeout
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/M

#84536 Automated cherry pick of #83685: add allowunsafe read
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instance_metadata.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_wrap.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/L

#83520 Avoid going back in time in Reflector relist (revived)
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
  staging/src/k8s.io/client-go/tools/cache/BUILD
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
  staging/src/k8s.io/client-go/tools/pager/pager.go
Labels: approved, area/apiserver, area/dependency, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/node, size/L

#84280 add service selector cache in endpoint and endpointSlice controller
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/util/endpoint/BUILD
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/apps, sig/network, size/L

#84567 Automated cherry pick of #83685: add allowunsafe read
  pkg/cloudprovider/providers/azure/azure_backoff.go
  pkg/cloudprovider/providers/azure/azure_cache.go
  pkg/cloudprovider/providers/azure/azure_cache_test.go
  pkg/cloudprovider/providers/azure/azure_controller_common.go
  pkg/cloudprovider/providers/azure/azure_controller_standard.go
  pkg/cloudprovider/providers/azure/azure_controller_vmss.go
  pkg/cloudprovider/providers/azure/azure_fakes.go
  pkg/cloudprovider/providers/azure/azure_instance_metadata.go
  pkg/cloudprovider/providers/azure/azure_instances.go
  pkg/cloudprovider/providers/azure/azure_loadbalancer.go
  pkg/cloudprovider/providers/azure/azure_routes.go
  pkg/cloudprovider/providers/azure/azure_standard.go
  pkg/cloudprovider/providers/azure/azure_vmsets.go
  pkg/cloudprovider/providers/azure/azure_vmss.go
  pkg/cloudprovider/providers/azure/azure_vmss_cache.go
  pkg/cloudprovider/providers/azure/azure_vmss_cache_test.go
  pkg/cloudprovider/providers/azure/azure_wrap.go
  pkg/cloudprovider/providers/azure/azure_zones.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/L

#84777 Manually cherry pick of #83427: Fix double counting issue for request metrics on timeout
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/M

#83517 Dump GKE windows test logs via diagnostics tool
  cluster/log-dump/log-dump.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note, sig/cluster-lifecycle, size/M

#84566 Automated cherry pick of #83685: add allowunsafe read
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instance_metadata.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_wrap.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/L

#83592 added --reserved-cpus kubelet command option
  cmd/kubeadm/.import-restrictions
  cmd/kubelet/app/BUILD
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/BUILD
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/cm/BUILD
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: approved, area/code-generation, area/kubeadm, area/kubelet, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/node, size/L

#84811 Remove HostPathV0 tests in preparation for removal in 1.17. This is so that upgrade tests dont fail when support for v0 drivers are removed in k8s 1.17
  test/e2e/storage/csi_volumes.go
  test/e2e/storage/drivers/csi.go
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath-v0/csi-hostpath-attacher.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath-v0/csi-hostpath-provisioner.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath-v0/csi-hostpathplugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath-v0/e2e-test-rbac.yaml
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/L

#81670 Change wardle.k8s.io to wardle.example.com
  staging/src/k8s.io/apimachinery/pkg/api/meta/testrestmapper/test_restmapper.go
  staging/src/k8s.io/sample-apiserver/README.md
  staging/src/k8s.io/sample-apiserver/artifacts/example/apiservice.yaml
  staging/src/k8s.io/sample-apiserver/artifacts/flunders/01-flunder.yaml
  staging/src/k8s.io/sample-apiserver/docs/minikube-walkthrough.md
  staging/src/k8s.io/sample-apiserver/pkg/apis/wardle/doc.go
  staging/src/k8s.io/sample-apiserver/pkg/apis/wardle/register.go
  staging/src/k8s.io/sample-apiserver/pkg/apis/wardle/v1alpha1/doc.go
  staging/src/k8s.io/sample-apiserver/pkg/apis/wardle/v1alpha1/register.go
  staging/src/k8s.io/sample-apiserver/pkg/apis/wardle/v1beta1/doc.go
  staging/src/k8s.io/sample-apiserver/pkg/apis/wardle/v1beta1/register.go
  staging/src/k8s.io/sample-apiserver/pkg/cmd/server/start.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1alpha1/fake/fake_fischer.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1alpha1/fake/fake_flunder.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1alpha1/wardle_client.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1beta1/fake/fake_flunder.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1beta1/wardle_client.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/informers/externalversions/generic.go
  test/integration/examples/apiserver_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/M

#84370 Building peer-finder Image on s390x
  test/images/pets/peer-finder/BASEIMAGE
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#84378 Handle bazel >= 0.25 in stable metric static analysis
  test/instrumentation/update-stable-metrics.sh
  test/instrumentation/verify-stable-metrics.sh
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/instrumentation, sig/testing, size/S

#84573 Updating EndpointSlices to use PublishNotReadyAddresses from Services.
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/apps, sig/network, size/L

#84622 Rename ILB FirewallRules to be consistent with other resource names.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_utils_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/L

#84669 feat: update interpod affinity priority with map reduce pattern
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
  pkg/scheduler/algorithm/priorities/interpod_affinity_test.go
  pkg/scheduler/algorithm/priorities/metadata.go
  pkg/scheduler/algorithm/priorities/metadata_test.go
  pkg/scheduler/algorithm/priorities/selector_spreading_test.go
  pkg/scheduler/algorithm/priorities/types.go
  pkg/scheduler/algorithmprovider/defaults/register_priorities.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread_test.go
  pkg/scheduler/framework/plugins/imagelocality/image_locality_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/L

#84748 Fix golint issues in pkg/controller/volume/persistentvolume/options
  hack/.golint_failures
  pkg/controller/volume/persistentvolume/options/options.go
Labels: approved, area/code-organization, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, sig/storage, size/XS

#84750 Fix golint issues in test/e2e_kubeadm
  hack/.golint_failures
  test/e2e_kubeadm/bootstrap_signer.go
  test/e2e_kubeadm/bootstrap_token_test.go
  test/e2e_kubeadm/cluster_info_test.go
  test/e2e_kubeadm/const.go
  test/e2e_kubeadm/controlplane_nodes_test.go
  test/e2e_kubeadm/dns_addon_test.go
  test/e2e_kubeadm/e2e_kubeadm_suite_test.go
  test/e2e_kubeadm/framework.go
  test/e2e_kubeadm/kubeadm_certs_test.go
  test/e2e_kubeadm/kubeadm_config_test.go
  test/e2e_kubeadm/kubelet_config_test.go
  test/e2e_kubeadm/networking_test.go
  test/e2e_kubeadm/nodes_test.go
  test/e2e_kubeadm/proxy_addon_test.go
  test/e2e_kubeadm/util.go
Labels: approved, area/code-organization, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/testing, size/M

#84772 Support comments in hack/.golint_failures
  hack/.golint_failures
  hack/verify-golint.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS

#84834 Remove Framework dependency on nodeinfo snapshot
  pkg/scheduler/BUILD
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread_test.go
  pkg/scheduler/framework/plugins/imagelocality/image_locality_test.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
  pkg/scheduler/framework/plugins/nodelabel/node_label_test.go
  pkg/scheduler/framework/plugins/nodepreferavoidpods/node_prefer_avoid_pods_test.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation_test.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated_test.go
  pkg/scheduler/framework/plugins/requestedtocapacityratio/requested_to_capacity_ratio_test.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration_test.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/M

#84844 Fix migration tranlation library for ebs
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs.go
Labels: approved, area/provider/aws, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/storage, size/XS

#84873 delete EqualPriority priority function, and make registering it a no op
  pkg/scheduler/algorithmprovider/defaults/BUILD
  pkg/scheduler/algorithmprovider/defaults/register_priorities.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/L

#84888 kubeadm: fix an issue with the kube-proxy container env. variables
  cmd/kubeadm/app/phases/addons/proxy/proxy.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cluster-lifecycle, size/XS

#81167 Avoid listing pods in NodeLifecycleController
  pkg/controller/nodelifecycle/BUILD
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
  pkg/controller/util/node/controller_utils.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/apps, size/L

#82705 use controller to publish cluster authentication info
  cmd/kube-apiserver/app/server.go
  pkg/master/BUILD
  pkg/master/client_ca_hook.go
  pkg/master/client_ca_hook_test.go
  pkg/master/controller/clusterauthenticationtrust/BUILD
  pkg/master/controller/clusterauthenticationtrust/cluster_authentication_trust_controller.go
  pkg/master/controller/clusterauthenticationtrust/cluster_authentication_trust_controller_test.go
  pkg/master/master.go
  staging/src/k8s.io/client-go/util/cert/pem.go
  test/integration/apiserver/certreload/BUILD
  test/integration/apiserver/certreload/certreload_test.go
  test/integration/framework/master_utils.go
  test/integration/serviceaccount/service_account_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/auth, sig/testing, size/XXL

#83118 Add deprecation warning for alpha.service-controller.kubernetes.io/exclude-balancer in v1.16 CHANGELOG
  CHANGELOG-1.16.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/network, size/S

#83952 fix account key getting logic in azure
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_blobDiskController.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#83953 fix string trim func isBackendPoolOnSameLB in azure
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_wrap.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_wrap_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/S

#84337 Cancel context when RunPermitPlugins finishes
  pkg/scheduler/scheduler.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/L

#84560 Fixes crd per-version validation field path
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/nonstructuralschema/nonstructuralschema_controller.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/validation_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#84635 Migrate CheckServiceAffinity custom predicate to Filter plugin
  pkg/scheduler/BUILD
  pkg/scheduler/algorithm_factory.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/plugins/serviceaffinity/BUILD
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/L

#84662 Script based hyperkube to avoid dependencies
  build/lib/release.sh
  cluster/images/hyperkube/BUILD
  cluster/images/hyperkube/Dockerfile
  cluster/images/hyperkube/Makefile
  cluster/images/hyperkube/hyperkube
  cmd/BUILD
  cmd/hyperkube/BUILD
  cmd/hyperkube/OWNERS
  cmd/hyperkube/main.go
Labels: approved, area/hyperkube, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/release, size/L

#84696 Remove hack/e2e.go
  build/BUILD
  build/root/Makefile
  cluster/addons/dns/nodelocaldns/README.md
  cluster/gce/util.sh
  cluster/gce/windows/README-GCE-Windows-kube-up.md
  hack/BUILD
  hack/e2e.go
  hack/e2e_test.go
  hack/lib/golang.sh
  test/e2e/common/volumes.go
  test/kubemark/run-e2e-tests.sh
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/scalability, sig/testing, size/XL

#84763 pkg/controller: fix staticcheck warning
  pkg/controller/deployment/sync_test.go
  pkg/controller/disruption/disruption.go
  pkg/controller/endpointslice/endpointset.go
  pkg/controller/garbagecollector/garbagecollector.go
  pkg/controller/garbagecollector/graph.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/apps, sig/network, size/S

#84860 Eliminate couple default conversions
  pkg/controller/cronjob/BUILD
  pkg/controller/cronjob/utils.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response.go
  test/e2e_node/BUILD
  test/e2e_node/util.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/apps, sig/testing, size/S

#84881 Remove unused skip functions
  test/e2e/framework/skip.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/S

#84393 remove reference to promhttp in kubelet
  pkg/kubelet/server/BUILD
  pkg/kubelet/server/server.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, size/XS

#84630 e2e: move KubectlVersion out of e2e test framework util.go
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/S

#84806 Update WaitForStableCluster to wait for only system pods to exist
  test/e2e/framework/util.go
  test/e2e/scheduling/framework.go
  test/e2e/scheduling/predicates.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/L

#84871 Make test-cmd effective again
  hack/lib/test.sh
  test/cmd/core.sh
  test/cmd/get.sh
  test/cmd/legacy-script.sh
  test/e2e/testing-manifests/kubectl/agnhost-master-pod.yaml
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/M

#84905 feat(scheduler): remove deprecated pattern in scheduler priority
  pkg/scheduler/BUILD
  pkg/scheduler/algorithm/priorities/types.go
  pkg/scheduler/algorithm_factory.go
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/scheduler_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, sig/testing, size/L

#84510 refactor autoscaling utils in e2e
  test/e2e/autoscaling/BUILD
  test/e2e/autoscaling/autoscaling_timer.go
  test/e2e/autoscaling/horizontal_pod_autoscaling.go
  test/e2e/common/BUILD
  test/e2e/framework/BUILD
  test/e2e/framework/autoscaling/BUILD
  test/e2e/framework/autoscaling/autoscaling_utils.go
  test/e2e/instrumentation/monitoring/BUILD
  test/e2e/instrumentation/monitoring/stackdriver.go
  test/e2e/upgrades/BUILD
  test/e2e/upgrades/horizontal_pod_autoscalers.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/autoscaling, sig/instrumentation, sig/testing, size/M

#84865 panic in featuregate if a requested feature is unknown
  pkg/volume/azure_file/azure_file_test.go
  staging/src/k8s.io/component-base/featuregate/BUILD
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cloud-provider, sig/cluster-lifecycle, sig/storage, size/L

#84919 provide functionality for custom collector testing
  staging/src/k8s.io/component-base/metrics/desc.go
  staging/src/k8s.io/component-base/metrics/testutil/testutil.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/S

#84937 e2e_kubeadm: fix missing suite --test* flags
  test/e2e_kubeadm/e2e_kubeadm_suite_test.go
Labels: approved, area/kubeadm, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, sig/testing, size/XS

#84941 Limiting the scope of new kubectl get e2e tests to decrease flakiness
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/cli, sig/testing, size/S

#84207 Setting Hostname from Pods on EndpointSlice to match Endpoints behavior.
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/apps, sig/network, size/L

#84693 Stop Watching when there is encoding error
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#84711 Refactor: use existing function to simplify check for IPv6 in kubelet
  pkg/kubelet/BUILD
  pkg/kubelet/kubelet.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS

#84843 Use framework.ExpectEqual() in unit test
  test/e2e/framework/log_test.go
  test/e2e/framework/timer/BUILD
  test/e2e/framework/timer/timer_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/testing, size/S

#84864 allow a verifyoptionsfunc to indicate that no certpool is available
  staging/src/k8s.io/apiserver/pkg/authentication/authenticatorfactory/requestheader.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/verify_options.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/client_ca.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_cafile_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/static_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/union_content.go
  test/integration/scheduler/extender_test.go
  test/integration/scheduler/taint_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, sig/testing, size/M

#84868 Move functions from e2e/framework/util.go Part-2
  test/e2e/apps/daemon_set.go
  test/e2e/framework/util.go
  test/e2e/network/networking.go
  test/e2e/network/service.go
  test/e2e/scheduling/priorities.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/apps, sig/network, sig/scheduling, sig/storage, sig/testing, size/L
