Repository kubernetes/kubernetes, pull requests merged in 2020-04, with the labels that each got.

#89584 Remove VolumeSubpathEnvExpansion Feature Gate
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/kubelet/kubelet_pods.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/apps, sig/node, sig/storage, size/S

#89664 Allow list-resources.sh to continue if a resource fails to list
  cluster/gce/list-resources.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/release, sig/scalability, sig/testing, size/XS

#86858 Create Event lifecycle test - +5 endpoint coverage
  test/e2e/framework/events/BUILD
  test/e2e/framework/events/events.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/M

#88631 move well-known kubelet cloud provider annotations to k8s.io/cloud-provider
  pkg/controller/cloud/BUILD
  pkg/controller/cloud/node_controller.go
  pkg/controller/cloud/node_controller_test.go
  pkg/kubelet/apis/BUILD
  pkg/kubelet/nodestatus/BUILD
  pkg/kubelet/nodestatus/setters.go
  staging/src/k8s.io/cloud-provider/api/BUILD
  staging/src/k8s.io/cloud-provider/api/well_known_annotations.go
Labels: approved, area/cloudprovider, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, sig/cloud-provider, sig/node, size/S, tide/merge-method-squash

#88990 Replace raw usages of tar in build/lib/release.sh
  build/lib/release.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, sig/testing, size/XS

#89708 Update conformance docs to reference correct bazel location of testdata
  test/conformance/README.md
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/release, sig/testing, size/XS

#89722 Ensure Azure availability zone is always in lower cases
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/M

#89736 Force sgid bit to be off before checking volume permission
  pkg/volume/volume_linux_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/storage, size/S

#89504 test/e2e/framework: remove direct imports to k8s.io/kubernetes/pkg
  test/e2e/framework/pod/BUILD
  test/e2e/framework/pod/resource.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/testing, size/XS

#89563 Separate RestartControllerManager() as e2ekubesystem
  test/e2e/framework/BUILD
  test/e2e/framework/kubesystem/BUILD
  test/e2e/framework/kubesystem/kubesystem.go
  test/e2e/framework/util.go
  test/e2e/network/BUILD
  test/e2e/network/service.go
  test/e2e/storage/BUILD
  test/e2e/storage/nfs_persistent_volume-disruptive.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/network, sig/storage, sig/testing, size/L

#87080 fix flakes on e2e test TCP CLOSE_WAIT timeout
  test/e2e/network/BUILD
  test/e2e/network/kube_proxy.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/L

#89741 Fix permissions for endpointslice controller
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/auth, sig/network, size/XS

#89696 Fix service account names with a dot
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note, sig/auth, size/M

#89706 v1.18.1: fix a bug where spn: prefix is unexpectedly added to kubeconfig apiserver-id
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note, sig/api-machinery, sig/auth, size/L

#80973 fix orphaned pod flexvolume can not be cleaned up
  pkg/volume/flexvolume/flexvolume_test.go
  pkg/volume/flexvolume/plugin.go
  pkg/volume/flexvolume/probe.go
  pkg/volume/plugins.go
  test/e2e/storage/detach_mounted.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, sig/storage, sig/testing, size/S

#89691 quantile: if the last upper bound is +Inf, return the previous upper bound
  staging/src/k8s.io/component-base/metrics/testutil/metrics.go
  staging/src/k8s.io/component-base/metrics/testutil/metrics_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/M

#74073 Issue #70020; Flush Conntrack entities for SCTP
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/graceful_termination.go
  pkg/proxy/ipvs/proxier.go
  pkg/util/conntrack/conntrack.go
  pkg/util/conntrack/conntrack_test.go
  pkg/util/ipvs/ipvs.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, size/L

#86752 Add error handler for rlimit.RlimitNumFiles
  cmd/kubelet/app/server.go
  pkg/util/rlimit/rlimit_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/node, size/XS

#87836 not walking directory if KUBE_BUILD_PLATFORMS is given
  build/lib/release.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, sig/testing, size/XS

#89198 e2e/framework: security/ and /service remove direct import /k8s.io/kubernetes/pkg/
  test/e2e/framework/security/BUILD
  test/e2e/framework/security/apparmor.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/testing, size/S

#89300 Expand the PVC validation messages
  pkg/apis/core/validation/validation.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, sig/storage, size/XS

#89743 Stop reling on default conversions in apiserver test
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/testing/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/testing/conversion.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/M

#87926 Preliminary SCTP connectivity tests
  Godeps/LICENSES
  go.mod
  go.sum
  pkg/.import-restrictions
  test/e2e/framework/network/utils.go
  test/e2e/network/networking.go
  test/images/agnhost/README.md
  test/images/agnhost/netexec/BUILD
  test/images/agnhost/netexec/netexec.go
  vendor/BUILD
  vendor/github.com/ishidawataru/sctp/.gitignore
  vendor/github.com/ishidawataru/sctp/.travis.yml
  vendor/github.com/ishidawataru/sctp/BUILD
  vendor/github.com/ishidawataru/sctp/GO_LICENSE
  vendor/github.com/ishidawataru/sctp/LICENSE
  vendor/github.com/ishidawataru/sctp/README.md
  vendor/github.com/ishidawataru/sctp/ipsock_linux.go
  vendor/github.com/ishidawataru/sctp/sctp.go
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/github.com/ishidawataru/sctp/sctp_unsupported.go
  vendor/modules.txt
Labels: approved, area/dependency, area/e2e-test-framework, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, sig/testing, size/L

#89766 Propagate CONCURRENT_SERVICE_SYNCS to node env
  cluster/gce/util.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/XS

#89676 test/e2e/framework move func logClusterImageSources to test/e2e/e2e.go
  test/e2e/e2e.go
  test/e2e/framework/BUILD
  test/e2e/framework/google_compute.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/L

#89678 test/e2e/manifest:remove unused function
  test/e2e/manifest/BUILD
  test/e2e/manifest/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/M

#89296 Don't log whether we're using iptables --random-fully
  pkg/kubelet/kubelet_network_linux.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
Labels: approved, area/ipvs, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/network, sig/node, size/XS

#89566 Opt-out/Override client-side max-retry
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, size/M

#89567 kubelet: add tests for cgroup v2 conversions
  pkg/kubelet/cm/BUILD
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/container_manager_linux_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/M

#89585 add `kernelspace` to flag description of kube-proxy
  cmd/kube-proxy/app/server.go
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/network, size/XS

#89777 Fix networking tests timeouts for large clusters
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/framework/service/const.go
  test/e2e/framework/service/jig.go
  test/e2e/framework/service/resource.go
  test/e2e/network/firewall.go
  test/e2e/network/ingress.go
  test/e2e/network/service.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, sig/scalability, sig/testing, size/L

#89612 Dual-stack: fix the bug that Service clusterIP does not respect specified ipFamily
  pkg/registry/core/service/storage/rest.go
  pkg/registry/core/service/storage/rest_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/network, size/L

#89785 ipvs: log err from CanUseIPVSProxier
  cmd/kube-proxy/app/server_others.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/network, size/XS

#85923 Migrate OWNERS file to apply the area/provider/gcp label
  cluster/addons/addon-manager/OWNERS
  cluster/addons/fluentd-gcp/OWNERS
  cluster/gce/manifests/OWNERS
  cluster/gce/windows/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/instrumentation, size/XS

#89286 Handle nil pod in pod format
  pkg/kubelet/util/format/pod.go
  pkg/kubelet/util/format/pod_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/S

#89794 Clean up event messages for errors.
  pkg/volume/glusterfs/glusterfs.go
  pkg/volume/quobyte/quobyte.go
  pkg/volume/scaleio/sio_client.go
  pkg/volume/storageos/storageos_util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/storage, size/L

#87448 Fix static check failures in test/integration/deployment
  hack/.staticcheck_failures
  test/integration/deployment/BUILD
  test/integration/deployment/util.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, sig/testing, size/M

#89298 Remove kubescheduler.config.k8s.io/v1alpha1
  build/kazel_generated.bzl
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/configfile.go
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server_test.go
  hack/.golint_failures
  pkg/scheduler/apis/config/BUILD
  pkg/scheduler/apis/config/scheme/BUILD
  pkg/scheduler/apis/config/scheme/scheme.go
  pkg/scheduler/apis/config/v1alpha1/BUILD
  pkg/scheduler/apis/config/v1alpha1/conversion.go
  pkg/scheduler/apis/config/v1alpha1/conversion_test.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/defaults_test.go
  pkg/scheduler/apis/config/v1alpha1/doc.go
  pkg/scheduler/apis/config/v1alpha1/register.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.defaults.go
  staging/src/k8s.io/kube-scheduler/BUILD
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/BUILD
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/doc.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/register.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: api-review, approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/scheduling, size/XXL

#89530 Use OnesCount8 from math/bits to implement countBits
  pkg/registry/core/service/allocator/utils.go
  pkg/registry/core/service/allocator/utils_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/network, size/M

#89587 Remove apelisse from dep-approvers
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/architecture, size/S

#89619 Delete unused `Builder` type from `kubelet.go`
  pkg/kubelet/kubelet.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/M

#89784 Add common SSHPort on e2essh
  test/e2e/framework/kubesystem/kubesystem.go
  test/e2e/framework/ssh/ssh.go
  test/e2e/network/service.go
  test/e2e/storage/flexvolume.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/network, sig/storage, sig/testing, size/M

#89581 simplify code in topologymanager
  pkg/kubelet/cm/topologymanager/policy_restricted.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/S

#89207 clean up the awkward pattern in service_controller_test
  pkg/controller/service/controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, sig/network, size/M

#89596 kubeadm: remove misleading warning on kubeadm join
  cmd/kubeadm/app/cmd/BUILD
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/join_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note, sig/cluster-lifecycle, size/M

#89795 Ensure diff doesn't persist patches
  staging/src/k8s.io/kubectl/pkg/cmd/apply/patcher.go
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  test/cmd/diff.sh
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cli, sig/testing, size/M

#89760 Enable env defined services to dump in logexporter
  cluster/log-dump/log-dump.sh
  cluster/log-dump/logexporter-daemonset.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/scalability, size/XS

#89768 fix: get attach disk error due to missing item in max count table
  pkg/volume/azure_dd/azure_dd_max_disk_count.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/S

#89747 apimachinery/pkg/labels: add SelectorFromSet
  staging/src/k8s.io/apimachinery/pkg/labels/labels.go
  staging/src/k8s.io/apimachinery/pkg/labels/selector.go
  staging/src/k8s.io/apimachinery/pkg/labels/selector_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/M

#89830 Bump agnhost version to 2.13, and bump up depending images.
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
  test/images/kitten/BASEIMAGE
  test/images/kitten/VERSION
  test/images/nautilus/BASEIMAGE
  test/images/nautilus/VERSION
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/S

#89117 Automated cherry pick of #86092: Ensuring kube-proxy does not mutate shared EndpointSlices #86016: Ensuring EndpointSlices are not used for Windows kube-proxy
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
  pkg/proxy/BUILD
  pkg/proxy/endpointslicecache.go
  pkg/proxy/endpointslicecache_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/network, size/M

#89118 Automated cherry pick of #87980: EndpointSliceTracker should track updated resource version #89056: EndpointSlice and Endpoints should treat terminating pods the
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils_test.go
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, sig/network, size/L

#89201 Automated cherry pick of #88360: fix: check disk status before delete azure disk
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS

#89279 Automated cherry pick of #89055: Remove wait.Until for running Kubelet Bootstrap
  cmd/kubelet/app/server.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/XS

#89203 Automated cherry pick of #88360: fix: check disk status before delete azure disk
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS

#89354 Automated cherry pick of #89337: Fix the VMSS name and resource group name when updating VMSS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS

#89516 Automated cherry pick of #85027: Fix bug about unintentional scale out during updating
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/apps, sig/autoscaling, size/S

#89280 Automated cherry pick of #89055: Remove wait.Until for running Kubelet Bootstrap
  cmd/kubelet/app/server.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/XS

#89352 Automated cherry pick of #89337: Fix the VMSS name and resource group name when updating VMSS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS

#89353 Automated cherry pick of #89337: Fix the VMSS name and resource group name when updating VMSS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS

#89841 Fix first contribution link in pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/contributor-experience, size/XS

#89200 Automated cherry pick of #88360: fix: check disk status before delete azure disk
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS

#87821 Check Annotations map against nil for ConfigMapLock#Update()
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#89725 Fixes a flaky test, by adding kubectl wait for delete deployment in apply.sh
  test/cmd/apply.sh
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/testing, size/XS, tide/merge-method-squash

#89515 Automated cherry pick of #85027: Fix bug about unintentional scale out during updating
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/apps, sig/autoscaling, size/S

#89759 Switch COS image to m81.
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/XS

#89603 Automated cherry pick of #89602: Kubeadm: fix Ready condition check
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS

#89605 Automated cherry pick of #89604: fix concurreny issue in lb creation
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS

#89606 Automated cherry pick of #89540: fix cpu resource metric type by changing to counter
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/instrumentation, sig/node, size/S

#89843 Bumped debian-base from 2.0.0 to 2.0.1
  build/debian-base/Makefile
  build/debian-iptables/Makefile
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#89827 Automated cherry pick of #89795: Ensure diff doesn't persist patches
  staging/src/k8s.io/kubectl/pkg/cmd/apply/patcher.go
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  test/cmd/diff.sh
Labels: approved, area/kubectl, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cli, sig/testing, size/M

#89517 Automated cherry pick of #85027: Fix bug about unintentional scale out during updating
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/apps, sig/autoscaling, size/S

#89796 Automated cherry pick of #89794: Clean up event messages for errors.
  pkg/volume/glusterfs/glusterfs.go
  pkg/volume/quobyte/quobyte.go
  pkg/volume/scaleio/sio_client.go
  pkg/volume/storageos/storageos_util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/storage, size/L

#87329 cache: add error handling to informers
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer_test.go
  staging/src/k8s.io/client-go/tools/cache/testing/fake_controller_source.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/L

#89460 [Trival] beta.kubernetes.io/os deprecated since v1.14, are targeted for removal in v1.18
  test/e2e/windows/cpu_limits.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/testing, sig/windows, size/XS

#89783 Automated cherry pick of #89706: fix a bug where spn: prefix is unexpectedly added to
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, sig/api-machinery, sig/auth, size/M

#89834 Update k8s.io/gengo to e0e292d8aa12
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/gengo/namer/plural_namer.go
  vendor/k8s.io/gengo/parser/parse.go
  vendor/modules.txt
Labels: approved, area/code-generation, area/dependency, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cli, sig/instrumentation, size/S

#89823 Do not forget recording loaded modules
  pkg/proxy/ipvs/proxier.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/network, size/XS

#89863 e2e TCP CLOSE test wait until pod is ready
  test/e2e/network/kube_proxy.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/XS

#89822 Update etcd client to v3.4.7 in k8s v1.19
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/go.etcd.io/etcd/clientv3/BUILD
  vendor/go.etcd.io/etcd/clientv3/client.go
  vendor/go.etcd.io/etcd/clientv3/ctx.go
  vendor/go.etcd.io/etcd/clientv3/retry_interceptor.go
  vendor/go.etcd.io/etcd/etcdserver/api/etcdhttp/metrics.go
  vendor/go.etcd.io/etcd/etcdserver/api/v3rpc/interceptor.go
  vendor/go.etcd.io/etcd/etcdserver/api/v3rpc/metrics.go
  vendor/go.etcd.io/etcd/etcdserver/api/v3rpc/rpctypes/md.go
  vendor/go.etcd.io/etcd/lease/lessor.go
  vendor/go.etcd.io/etcd/mvcc/kvstore.go
  vendor/go.etcd.io/etcd/pkg/ioutil/pagewriter.go
  vendor/go.etcd.io/etcd/proxy/grpcproxy/metrics.go
  vendor/go.etcd.io/etcd/version/version.go
  vendor/go.etcd.io/etcd/wal/encoder.go
  vendor/go.etcd.io/etcd/wal/metrics.go
  vendor/go.etcd.io/etcd/wal/repair.go
  vendor/go.etcd.io/etcd/wal/wal.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, sig/cloud-provider, size/S

#89857 Correctly parse X-Stream-Protocol-Version header
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/S

#89848 Even with build error, kubectl apply should apply all valid resources
  hack/testdata/multi-resource-1.yaml
  hack/testdata/multi-resource-2.yaml
  hack/testdata/multi-resource-3.yaml
  hack/testdata/multi-resource-4.yaml
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  test/cmd/apply.sh
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cli, sig/testing, size/L

#89825 Enable timeout for SSH-ing to non-logexported nodes
  cluster/log-dump/log-dump.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, sig/scalability, size/S

#89864 Automated cherry pick of #89848: Fixes problem where kubectl apply stops after first error
  hack/testdata/multi-resource-1.yaml
  hack/testdata/multi-resource-2.yaml
  hack/testdata/multi-resource-3.yaml
  hack/testdata/multi-resource-4.yaml
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  test/cmd/apply.sh
Labels: approved, area/kubectl, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cli, sig/testing, size/L

#89735 kubeadm join: Properly wait for TLS bootstrapping
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
  cmd/kubeadm/app/constants/constants.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/XS

#89787 Move NodeUpgrade() into GCP e2e tests
  test/e2e/cloud/gcp/cluster_upgrade.go
  test/e2e/framework/nodes_util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cloud-provider, sig/testing, size/L

#89858 kube-apiserver should exit with error if not able to connect to etcd
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/etcd.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/S

#85994 Tiny typo in a comment.
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/documentation, lgtm, lifecycle/rotten, needs-priority, release-note-none, sig/node, size/XS

#86409 Fix go-lint issues in package pkg/kubelet/checkpointmanager/testing/example_checkpoint_formats/v1
  hack/.golint_failures
  pkg/kubelet/checkpointmanager/testing/example_checkpoint_formats/v1/types.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, lifecycle/stale, ok-to-test, priority/important-longterm, release-note-none, sig/node, size/XS

#89687 Update docker dependency and remove deprecated method use
  go.mod
  go.sum
  pkg/kubelet/dockershim/libdocker/client.go
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/NOTICE
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/client.go
  vendor/github.com/docker/docker/api/types/container/container_changes.go
  vendor/github.com/docker/docker/api/types/container/container_create.go
  vendor/github.com/docker/docker/api/types/container/container_top.go
  vendor/github.com/docker/docker/api/types/container/container_update.go
  vendor/github.com/docker/docker/api/types/container/container_wait.go
  vendor/github.com/docker/docker/api/types/container/host_config.go
  vendor/github.com/docker/docker/api/types/filters/parse.go
  vendor/github.com/docker/docker/api/types/image/image_history.go
  vendor/github.com/docker/docker/api/types/volume/volume_create.go
  vendor/github.com/docker/docker/api/types/volume/volume_list.go
  vendor/github.com/docker/docker/client/BUILD
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/client/options.go
  vendor/github.com/docker/docker/client/ping.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/client/session.go
  vendor/github.com/docker/docker/errdefs/BUILD
  vendor/github.com/docker/docker/errdefs/http_helpers.go
  vendor/modules.txt
Labels: approved, area/dependency, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, size/S

#89713 Internal channels for scheduler
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/framework/plugins/interpodaffinity/BUILD
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/internal/parallelize/BUILD
  pkg/scheduler/internal/parallelize/error_channel.go
  pkg/scheduler/internal/parallelize/error_channel_test.go
  pkg/scheduler/util/BUILD
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/S

#89890 Use agnhost version 2.13
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#89790 Automated cherry pick of #89664: Allow list-resources.sh to continue if a resource fails to
  cluster/gce/list-resources.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS

#89789 Automated cherry pick of #89664: Allow list-resources.sh to continue if a resource fails to
  cluster/gce/list-resources.sh
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS

#89791 Automated cherry pick of #89664: Allow list-resources.sh to continue if a resource fails to
  cluster/gce/list-resources.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS

#89350 kube-proxy: treat failure to bind to a port as fatal
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_test.go
  cmd/kube-proxy/app/server_windows.go
  cmd/kubeadm/app/componentconfigs/kubeproxy_test.go
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/internal.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/internal_non_linux.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/v1beta1.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/v1beta1_non_linux.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/controlplane/defaulted.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/controlplane/defaulted_non_linux.yaml
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/after/v1alpha1.yaml
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/roundtrip/default/v1alpha1.yaml
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/api-change, kind/feature, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/network, size/M

#89556 test: Remove final user of startup-script image
  test/e2e/network/kube_proxy.go
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/S

#89656 specify in the flag help text that --enable-cadvisor-json-endpoints d…
  cmd/kubelet/app/options/options.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/XS

#89902 Fix setting up internal load balancer for GCE
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/network, sig/scalability, size/M

#89879 Automated cherry pick of #89722: Ensure Azure availability zone is always in lower cases
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M

#83378 Promote pod PreemptionExecutionPath verification - +3 conformance endpoint coverage
  test/conformance/testdata/conformance.yaml
  test/e2e/scheduling/preemption.go
Labels: approved, area/cloudprovider, area/conformance, area/e2e-test-framework, area/kubectl, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/cli, sig/cloud-provider, sig/instrumentation, sig/scheduling, sig/storage, sig/testing, sig/windows, size/S

#84904 Fix shell check
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/upgrade.sh
  cluster/gce/util.sh
  third_party/multiarch/qemu-user-static/register/register.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, lifecycle/rotten, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/S

#89905 Move DescribeIng() into e2eingress
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/framework/util.go
  test/e2e/network/ingress.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cloud-provider, sig/network, sig/testing, size/S

#89652 Fix client watch reestablishment handling of client-side timeouts
  staging/src/k8s.io/apimachinery/pkg/util/net/http.go
  staging/src/k8s.io/apimachinery/pkg/watch/streamwatcher.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
  staging/src/k8s.io/client-go/tools/watch/retrywatcher.go
  test/cmd/request-timeout.sh
  test/integration/apimachinery/BUILD
  test/integration/apimachinery/watch_timeout_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/testing, size/L

#88270 Add unit tests for human readable duration functions
  staging/src/k8s.io/apimachinery/pkg/util/duration/duration_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note, sig/api-machinery, size/M

#89041 Add NodeStage error tests
  test/e2e/storage/BUILD
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/drivers/BUILD
  test/e2e/storage/drivers/csi.go
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/L

#89421 Remove the 'DisabledForLargeClusters' tags from LB network tests.
  test/e2e/network/service.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/S

#89771 Avoid panic when reporting error in conformance test
  test/utils/deployment.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/S

#89804 Automated cherry pick of #89741: Fix permissions for endpointslice controller
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/auth, sig/network, size/XS

#88492 Automated cherry pick of #87730 upstream release 1.15
  pkg/kubelet/dockershim/BUILD
  pkg/kubelet/dockershim/docker_stats_windows.go
  test/e2e/windows/BUILD
  test/e2e/windows/kubelet_stats.go
Labels: approved, area/kubelet, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/node, sig/testing, sig/windows, size/L

#88490 Automated cherry pick of #87730 upstream release 1.17
  pkg/kubelet/dockershim/BUILD
  pkg/kubelet/dockershim/docker_stats_windows.go
  test/e2e/windows/BUILD
  test/e2e/windows/kubelet_stats.go
Labels: approved, area/kubelet, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/node, sig/testing, sig/windows, size/L

#88491 Automated cherry pick of #87730 upstream release 1.16
  pkg/kubelet/dockershim/BUILD
  pkg/kubelet/dockershim/docker_stats_windows.go
  test/e2e/windows/BUILD
  test/e2e/windows/kubelet_stats.go
Labels: approved, area/kubelet, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/node, sig/testing, sig/windows, size/L

#89853 Automated cherry pick of #89768: fix: update max azure disk max count
  pkg/volume/azure_dd/azure_dd_max_disk_count.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/S

#89745 Various cleanup for the kubeconform command
  test/conformance/kubeconform/README.md
  test/conformance/kubeconform/gen.go
  test/conformance/kubeconform/kubeconform.go
  test/conformance/kubeconform/link.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/architecture, sig/testing, size/L

#88036 Promote: PodTemplate Lifecycle test - +3 conformance endpoint coverage
  test/conformance/testdata/conformance.yaml
  test/e2e/common/podtemplates.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/architecture, sig/testing, size/S

#89715 Avoid kubelet API in Conformance tests
  test/e2e/common/BUILD
  test/e2e/common/pods.go
  test/e2e/scheduling/BUILD
  test/e2e/scheduling/predicates.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/scheduling, sig/testing, size/M

#89867 remove duplicate ipvs check
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_others_test.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/network, size/S

#89908 Skip updating scheduler cache on pod update if the node was deleted
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/scheduling, size/M

#89919 Remove double `kubectl` from deprecation warning
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/cli, size/XS

#89926 Stop relying on default conversions for metav1beta1 and e2e-node tests
  staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/register.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/BUILD
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/unstructured_conversion_test.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1beta1/conversion.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1beta1/register.go
  staging/src/k8s.io/apimachinery/pkg/conversion/BUILD
  staging/src/k8s.io/apimachinery/pkg/conversion/unstructured/BUILD
  test/e2e/framework/kubelet/BUILD
  test/e2e/framework/kubelet/config.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/api-change, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/testing, size/M

#76443 Promote e2e "verifying service's sessionAffinity for ClusterIP and NodePort services" to Conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/network/service.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/architecture, sig/network, sig/node, sig/testing, sig/windows, size/L

#88464 Fixed bug where jsonpath expression with nested range produces wrong output
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath.go
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note, sig/api-machinery, size/L

#89805 Automated cherry pick of #89741: Fix permissions for endpointslice controller
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/auth, sig/network, size/XS

#88521 Add error path testing to image handling by `kubeGenericRuntimeManager`
  pkg/kubelet/kuberuntime/kuberuntime_image_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/M

#89131 Expose scheduler metric to make it possible for plugins to use it
  pkg/scheduler/metrics/metrics.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, size/S

#89881 Add etcd WithRequireLeader option to API watches
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#89608 Reflect DecisionNoOpinion in RBAC authorizer logs
  plugin/pkg/auth/authorizer/rbac/rbac.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/auth, size/XS, tide/merge-method-squash

#89921 cpumanager: drop old custom file backend
  pkg/kubelet/cm/cpumanager/state/BUILD
  pkg/kubelet/cm/cpumanager/state/state_checkpoint_test.go
  pkg/kubelet/cm/cpumanager/state/state_compatibility_test.go
  pkg/kubelet/cm/cpumanager/state/state_file.go
  pkg/kubelet/cm/cpumanager/state/state_file_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/XL

#89901 update system-validators to v1.1.2
  go.mod
  go.sum
  vendor/k8s.io/system-validators/validators/BUILD
  vendor/k8s.io/system-validators/validators/cgroup_validator.go
  vendor/k8s.io/system-validators/validators/cgroup_validator_linux.go
  vendor/k8s.io/system-validators/validators/cgroup_validator_other.go
  vendor/k8s.io/system-validators/validators/package_validator_linux.go
  vendor/k8s.io/system-validators/validators/package_validator_other.go
  vendor/k8s.io/system-validators/validators/types.go
  vendor/k8s.io/system-validators/validators/types_unix.go
  vendor/k8s.io/system-validators/validators/types_windows.go
  vendor/k8s.io/system-validators/validators/validators.go
  vendor/modules.txt
Labels: approved, area/dependency, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, sig/node, size/XS

#89942 Updating dependency github.com/fsnotify/fsnotify to version v1.4.9
  Godeps/LICENSES
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/fsnotify/fsnotify/.editorconfig
  vendor/github.com/fsnotify/fsnotify/.gitattributes
  vendor/github.com/fsnotify/fsnotify/.travis.yml
  vendor/github.com/fsnotify/fsnotify/LICENSE
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/go.mod
  vendor/github.com/fsnotify/fsnotify/go.sum
  vendor/github.com/fsnotify/fsnotify/inotify_poller.go
  vendor/github.com/fsnotify/fsnotify/open_mode_bsd.go
  vendor/github.com/fsnotify/fsnotify/open_mode_darwin.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/XS

#89950 /test/e2e/apimachinery/:fix bug
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/crd_conversion_webhook.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/api-machinery, sig/testing, size/S

#89113 test images: Adds various fixes and cleanups to the image building process
  test/images/image-util.sh
  test/images/kitten/Dockerfile
  test/images/nautilus/Dockerfile
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, sig/windows, size/L

#89724 Add missing kube build version info metrics
  cmd/kube-apiserver/BUILD
  cmd/kube-apiserver/apiserver.go
  cmd/kube-scheduler/BUILD
  cmd/kube-scheduler/scheduler.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/scheduling, size/XS

#89929 add flag check to ensure that flowcontrol API is present
  cmd/kube-apiserver/app/options/BUILD
  cmd/kube-apiserver/app/options/validation.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#89979 Remove double import of k8s.io/apimachinery/pkg/util/net
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/XS

#89982 cleanup the kubeadm integration tests and related scripts
  cluster/kubeadm.sh
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/test/cmd/BUILD
  cmd/kubeadm/test/cmd/completion_test.go
  cmd/kubeadm/test/cmd/init_test.go
  cmd/kubeadm/test/cmd/join_test.go
  cmd/kubeadm/test/cmd/token_test.go
  cmd/kubeadm/test/cmd/util.go
  cmd/kubeadm/test/cmd/version_test.go
  hack/make-rules/test-cmd.sh
  test/cmd/kubeadm.sh
  test/cmd/legacy-script.sh
Labels: approved, area/kubeadm, area/release-eng, area/test, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/testing, size/L

#89551 Restore the ability to `kubectl apply --prune` without -n flag
  staging/src/k8s.io/kubectl/pkg/cmd/apply/prune.go
  test/cmd/apply.sh
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cli, sig/testing, size/S

#89970 Fix priorityClassName typo, add numeric priority to static pods
  cluster/gce/manifests/etcd-empty-dir-cleanup.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/manifests/glbc.manifest
  cluster/gce/manifests/konnectivity-server.yaml
  cluster/gce/manifests/kube-addon-manager.yaml
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/manifests/kube-proxy.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Labels: approved, area/provider/gcp, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/node, size/S

#88585 Add types for Scheduler plugin args to kube-scheduler.config.k8s.io
  api/api-rules/violation_exceptions.list
  cmd/kube-scheduler/app/options/deprecated.go
  pkg/scheduler/BUILD
  pkg/scheduler/apis/config/BUILD
  pkg/scheduler/apis/config/legacy_types.go
  pkg/scheduler/apis/config/register.go
  pkg/scheduler/apis/config/types_pluginargs.go
  pkg/scheduler/apis/config/v1alpha2/zz_generated.conversion.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/factory.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/interpodaffinity/BUILD
  pkg/scheduler/framework/plugins/interpodaffinity/plugin.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring_test.go
  pkg/scheduler/framework/plugins/legacy_registry.go
  pkg/scheduler/framework/plugins/nodelabel/BUILD
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
  pkg/scheduler/framework/plugins/noderesources/BUILD
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio_test.go
  pkg/scheduler/framework/plugins/serviceaffinity/BUILD
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity_test.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/BUILD
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/register.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/types_pluginargs.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/zz_generated.deepcopy.go
Labels: api-review, approved, area/release-eng, cncf-cla: yes, kind/api-change, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/release, sig/scheduling, size/L

#89974 scheduler's NodeInfo tracks PodInfos instead of Pods
  pkg/scheduler/core/extender.go
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation_test.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/non_csi.go
  pkg/scheduler/framework/plugins/podtopologyspread/common.go
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/framework/plugins/volumerestrictions/volume_restrictions.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/framework/v1alpha1/types.go
  pkg/scheduler/framework/v1alpha1/types_test.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/debugger/comparer.go
  pkg/scheduler/internal/cache/debugger/dumper.go
  pkg/scheduler/internal/cache/fake/BUILD
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/internal/cache/interface.go
  pkg/scheduler/internal/cache/snapshot.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/XL

#89833 preserve integers decoding raw JSON values
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/goopenapi_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/defaulting_test.go
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apimachinery/pkg/util/json/json.go
  staging/src/k8s.io/apimachinery/pkg/util/json/json_test.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/kube-openapi/pkg/util/proto/validation/types.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/L

#89971 Automated cherry pick of #89970: Fix priorityClass typo, add numeric priority to static pods
  cluster/gce/manifests/etcd-empty-dir-cleanup.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/manifests/glbc.manifest
  cluster/gce/manifests/konnectivity-server.yaml
  cluster/gce/manifests/kube-addon-manager.yaml
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/manifests/kube-proxy.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cluster-lifecycle, size/S

#89972 Automated cherry pick of #89970: Fix priorityClass typo, add numeric priority to static pods
  cluster/gce/manifests/etcd-empty-dir-cleanup.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/manifests/glbc.manifest
  cluster/gce/manifests/konnectivity-server.yaml
  cluster/gce/manifests/kube-addon-manager.yaml
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/manifests/kube-proxy.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cluster-lifecycle, size/S

#89973 Automated cherry pick of #89970: Fix priorityClass typo, add numeric priority to static pods
  cluster/gce/manifests/etcd-empty-dir-cleanup.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/manifests/glbc.manifest
  cluster/gce/manifests/konnectivity-server.yaml
  cluster/gce/manifests/kube-addon-manager.yaml
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/manifests/kube-proxy.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cluster-lifecycle, size/S

#89978 Manual cherry pick of #89652: Fix client watch reestablishment handling of client-side timeouts
  staging/src/k8s.io/apimachinery/pkg/util/net/http.go
  staging/src/k8s.io/apimachinery/pkg/watch/streamwatcher.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
  staging/src/k8s.io/client-go/tools/watch/retrywatcher.go
  test/cmd/request-timeout.sh
  test/integration/apimachinery/BUILD
  test/integration/apimachinery/watch_timeout_test.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/L

#89963 Fix HPA conversion handling of annotations
  pkg/apis/autoscaling/BUILD
  pkg/apis/autoscaling/helpers.go
  pkg/apis/autoscaling/v1/BUILD
  pkg/apis/autoscaling/v1/conversion.go
  pkg/apis/autoscaling/v1/defaults_test.go
  pkg/apis/autoscaling/v2beta1/BUILD
  pkg/apis/autoscaling/v2beta1/conversion.go
  pkg/apis/autoscaling/v2beta1/defaults_test.go
  pkg/apis/autoscaling/v2beta2/BUILD
  pkg/apis/autoscaling/v2beta2/conversion.go
  pkg/apis/autoscaling/v2beta2/defaults_test.go
  pkg/apis/autoscaling/v2beta2/zz_generated.conversion.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/autoscaling, size/L

#89975 Manual cherry pick of #89652: Fix client watch reestablishment handling of client-side timeouts
  staging/src/k8s.io/apimachinery/pkg/util/net/http.go
  staging/src/k8s.io/apimachinery/pkg/watch/streamwatcher.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
  staging/src/k8s.io/client-go/tools/watch/retrywatcher.go
  test/cmd/request-timeout.sh
  test/integration/apimachinery/BUILD
  test/integration/apimachinery/watch_timeout_test.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/L

#89239 Automated cherry pick of #88678: Parallelize attach operations across different nodes for
  pkg/controller/volume/attachdetach/reconciler/BUILD
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/nestedpendingoperations/BUILD
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
  pkg/volume/util/util.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/apps, sig/node, sig/storage, size/XXL

#89837 Automated cherry pick of #89794: Clean up event messages for errors.
  pkg/volume/glusterfs/glusterfs.go
  pkg/volume/quobyte/quobyte.go
  pkg/volume/scaleio/sio_client.go
  pkg/volume/storageos/storageos_util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/storage, size/L

#89240 Automated cherry pick of #88678: Parallelize attach operations across different nodes for
  pkg/controller/volume/attachdetach/reconciler/BUILD
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/nestedpendingoperations/BUILD
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
  pkg/volume/util/util.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/apps, sig/node, sig/storage, size/XXL
