Repository kubernetes/kubernetes, pull requests merged in 2020-05, with the labels that each got.

#90628 Fix podIP validation
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/kubelet/config/common.go
  pkg/kubelet/config/common_test.go
  pkg/kubelet/config/file_linux_test.go
  pkg/kubelet/config/http_test.go
  pkg/registry/core/pod/strategy.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, sig/node, size/L

#88576 Fix shellcheck warnings/errors in cluster/gce/upgrade.sh
  cluster/gce/upgrade.sh
  hack/.shellcheck_failures
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, priority/important-longterm, release-note-none, sig/cluster-lifecycle, size/M, tide/merge-method-squash

#90475 Topology spreading scoring with automatically weighted topologies
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/scheduling, size/L

#90509 fix flaky conformance test
  test/e2e/apimachinery/crd_publish_openapi.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/M

#90513 kubeadm: do not set deprecated '--cgroup-driver' flag in kubeadm-flags.env, it will be set in config.yaml
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/componentconfigs/BUILD
  cmd/kubeadm/app/componentconfigs/configset.go
  cmd/kubeadm/app/componentconfigs/configset_test.go
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/componentconfigs/kubelet_test.go
  cmd/kubeadm/app/componentconfigs/kubeproxy.go
  cmd/kubeadm/app/componentconfigs/kubeproxy_test.go
  cmd/kubeadm/app/phases/kubelet/BUILD
  cmd/kubeadm/app/phases/kubelet/flags.go
  cmd/kubeadm/app/phases/kubelet/flags_test.go
  cmd/kubeadm/app/phases/kubelet/flags_unix.go
  cmd/kubeadm/app/phases/kubelet/flags_windows.go
  cmd/kubeadm/app/util/config/initconfiguration.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/design, lgtm, priority/important-longterm, release-note-action-required, sig/cluster-lifecycle, size/L

#90548 provides DynamicRequestHeaderController for dynamically filling RequestHeaderConfig struct
  staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/BUILD
  staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/requestheader_controller.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/requestheader_controller_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
  staging/src/k8s.io/apiserver/pkg/server/options/authentication_dynamic_request_header.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/auth, sig/scheduling, size/XL

#90555 update github.com/moby/ipvs to v1.0.1 to fix IPVS compatiblity issue with older kernels
  go.mod
  go.sum
  vendor/github.com/moby/ipvs/netlink.go
  vendor/modules.txt
Labels: approved, area/dependency, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/network, size/XS

#90559 add prerelease lifecycle tags to coordination
  staging/src/k8s.io/api/coordination/v1beta1/BUILD
  staging/src/k8s.io/api/coordination/v1beta1/doc.go
  staging/src/k8s.io/api/coordination/v1beta1/types.go
  staging/src/k8s.io/api/coordination/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, kind/deprecation, lgtm, priority/important-soon, release-note, sig/scalability, size/XS

#90560 Send watch bookmarks every minute
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, size/L

#90566 add prerelease lifecycle tags to certificates
  staging/src/k8s.io/api/certificates/v1beta1/BUILD
  staging/src/k8s.io/api/certificates/v1beta1/doc.go
  staging/src/k8s.io/api/certificates/v1beta1/types.go
  staging/src/k8s.io/api/certificates/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/auth, size/XS

#90578 use subtests in gc_controller_test.go
  pkg/controller/podgc/gc_controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, size/L

#90596 add prerelease lifecycle tags to events
  staging/src/k8s.io/api/events/v1beta1/BUILD
  staging/src/k8s.io/api/events/v1beta1/doc.go
  staging/src/k8s.io/api/events/v1beta1/types.go
  staging/src/k8s.io/api/events/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scalability, size/XS

#90601 Remove approvers from events API
  staging/src/k8s.io/api/events/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/instrumentation, size/S

#90605 switched to default non-masquerade destination ranges
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/M

#90613 cleanup: remove stale comments
  pkg/scheduler/factory.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/XS

#90615 Drop conformance tag for tests that rely directly on kubelet /logs API
  test/conformance/testdata/conformance.yaml
  test/e2e/network/proxy.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/architecture, sig/network, sig/release, sig/testing, size/S

#90640 clean some dead constants
  pkg/master/ports/ports.go
  test/e2e/framework/ports.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/testing, size/XS

#90472 add prerelease lifecycle tags to batch
  staging/src/k8s.io/api/batch/v1beta1/BUILD
  staging/src/k8s.io/api/batch/v1beta1/doc.go
  staging/src/k8s.io/api/batch/v1beta1/types.go
  staging/src/k8s.io/api/batch/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/apps, size/XS

#90400 fix cross build conformance image error
  cluster/images/conformance/Makefile
Labels: approved, area/conformance, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/release, size/S

#90599 add prerelease lifecycle tags to networking
  staging/src/k8s.io/api/networking/v1beta1/BUILD
  staging/src/k8s.io/api/networking/v1beta1/doc.go
  staging/src/k8s.io/api/networking/v1beta1/types.go
  staging/src/k8s.io/api/networking/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/network, size/S

#89508 Add test case to improve the test coverage.
  pkg/scheduler/framework/plugins/helper/normalize_score_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, size/XS

#90602 add prerelease lifecycle tags to node.k8s.io
  staging/src/k8s.io/api/node/v1beta1/BUILD
  staging/src/k8s.io/api/node/v1beta1/doc.go
  staging/src/k8s.io/api/node/v1beta1/types.go
  staging/src/k8s.io/api/node/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, size/XS

#90437 bugfix: staiccheck copylock (holding sync.Once)
  staging/src/k8s.io/component-base/metrics/opts.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/XS

#90673 add prerelease lifecycle tags to apiextensions.k8s.io
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/doc.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, kind/deprecation, lgtm, priority/important-soon, release-note, sig/api-machinery, size/S

#90347 Update to repo-infra v0.0.4
  build/root/WORKSPACE
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, sig/testing, size/M

#90672 add prerelease lifecycle tags to apiregistration.k8s.io
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/doc.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/types.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, kind/deprecation, lgtm, priority/important-soon, release-note, sig/api-machinery, size/XS

#90665 cleanup: Base image workflow improvements
  build/cloudbuild.yaml
  build/debian-base/Makefile
  build/debian-base/OWNERS
  build/debian-base/cloudbuild.yaml
  build/debian-iptables/Makefile
  build/debian-iptables/OWNERS
  build/debian-iptables/cloudbuild.yaml
  build/dependencies.yaml
  build/pause/Makefile
  build/pause/OWNERS
  build/pause/cloudbuild.yaml
  cluster/images/etcd-empty-dir-cleanup/Dockerfile
Labels: approved, area/dependency, area/release-eng, area/security, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/release, size/L

#90135 tests: Retries exec after container restart due to liveness
  test/e2e/common/expansion.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/bug, kind/flake, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XL

#90567 add prerelease lifecycle tags to discovery
  staging/src/k8s.io/api/discovery/v1beta1/BUILD
  staging/src/k8s.io/api/discovery/v1beta1/doc.go
  staging/src/k8s.io/api/discovery/v1beta1/types.go
  staging/src/k8s.io/api/discovery/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/network, size/XS

#90702 Use bionic repo for docker as focal is not yet available
  cluster/gce/gci/configure.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/cloud-provider, size/S

#90486 Fix e2e network performance test
  test/e2e/network/networking_perf.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/S

#90670 add prerelease lifecycle tags to scheduling.k8s.io
  staging/src/k8s.io/api/scheduling/v1beta1/BUILD
  staging/src/k8s.io/api/scheduling/v1beta1/doc.go
  staging/src/k8s.io/api/scheduling/v1beta1/types.go
  staging/src/k8s.io/api/scheduling/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/XS

#90671 add prerelease lifecycle tags to storage.k8s.io
  staging/src/k8s.io/api/storage/v1beta1/BUILD
  staging/src/k8s.io/api/storage/v1beta1/doc.go
  staging/src/k8s.io/api/storage/v1beta1/types.go
  staging/src/k8s.io/api/storage/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, kind/deprecation, lgtm, priority/important-soon, release-note, sig/storage, size/S

#90617 Update find-binary-for-platform to work with non-GNU versions of find
  hack/lib/util.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, sig/testing, size/XS

#90730 Fixed bug that caused TestKubeletDefault unit test to fail when run on systems that have systemd-resolved active
  cmd/kubeadm/app/componentconfigs/kubelet_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/S

#90375 move pkg/util/configz to k8s.io/component-base
  cmd/cloud-controller-manager/app/BUILD
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/controller-manager/app/BUILD
  cmd/controller-manager/app/serve.go
  cmd/kube-controller-manager/app/BUILD
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-proxy/app/BUILD
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_test.go
  cmd/kube-proxy/app/server_windows.go
  cmd/kube-scheduler/app/BUILD
  cmd/kube-scheduler/app/server.go
  cmd/kube-scheduler/app/testing/BUILD
  cmd/kube-scheduler/app/testing/testserver.go
  cmd/kubelet/app/BUILD
  cmd/kubelet/app/server.go
  pkg/kubelet/server/BUILD
  pkg/kubelet/server/server.go
  pkg/util/BUILD
  staging/src/k8s.io/component-base/BUILD
  staging/src/k8s.io/component-base/configz/BUILD
  staging/src/k8s.io/component-base/configz/configz.go
  staging/src/k8s.io/component-base/configz/configz_test.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/api-machinery, sig/cloud-provider, sig/cluster-lifecycle, sig/network, sig/node, sig/scheduling, size/S

#90535 Azure - fix create azure disk PV in regions that don't have zones
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  test/e2e/framework/providers/azure/azure.go
Labels: approved, area/cloudprovider, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/storage, sig/testing, size/S

#90561 Copy patchNodeStatus logic to cloud-provider
  pkg/controller/cloud/BUILD
  pkg/controller/cloud/node_controller.go
  staging/src/k8s.io/cloud-provider/node/helpers/BUILD
  staging/src/k8s.io/cloud-provider/node/helpers/status.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/apps, sig/cloud-provider, size/L

#90335 e2e storage: wait for PV deletion also for late binding
  test/e2e/storage/testsuites/base.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/S

#89193 set proper file permission for projected service account volume
  pkg/securitycontext/BUILD
  pkg/securitycontext/util.go
  pkg/securitycontext/util_test.go
  pkg/volume/projected/BUILD
  pkg/volume/projected/projected.go
  pkg/volume/projected/projected_test.go
  pkg/volume/util/BUILD
  pkg/volume/util/atomic_writer.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/util.go
  pkg/volume/util/util_test.go
  pkg/volume/volume.go
  test/e2e/auth/service_accounts.go
Labels: approved, area/e2e-test-framework, area/kubelet, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/auth, sig/node, sig/storage, sig/testing, size/XL

#85564 create a file to hold documentation of import-boss in one place
  staging/src/k8s.io/code-generator/cmd/import-boss/README.md
  staging/src/k8s.io/code-generator/cmd/import-boss/main.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/L

#90603 add prerelease lifecycle tags to policy
  staging/src/k8s.io/api/policy/v1beta1/BUILD
  staging/src/k8s.io/api/policy/v1beta1/doc.go
  staging/src/k8s.io/api/policy/v1beta1/types.go
  staging/src/k8s.io/api/policy/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/apps, sig/auth, sig/node, sig/scheduling, size/S

#90729 Update duration to be kept in watchcache
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/scalability, size/S

#90742 remove obsolete TODO item of NodeAddresses
  staging/src/k8s.io/cloud-provider/cloud.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#90744 Bump up the kube-dns version to 1.15.10
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cloud-provider, size/S

#90760 build: Bump kube-cross to v1.12.17-2
  build/build-image/cross/VERSION
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/release, size/XS

#90737 CloudNodeLifecycleController: check node existence before shutdown status
  pkg/controller/cloud/node_lifecycle_controller.go
  pkg/controller/cloud/node_lifecycle_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/apps, sig/cloud-provider, size/L

#90215 Adds HTTPS logic to agnhost netexec
  test/images/agnhost/README.md
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
  test/images/agnhost/netexec/netexec.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/M

#90697 base-images: Use new debian-base:v2.1.0 and build new debian-iptables:v12.1.0
  build/common.sh
  build/debian-base/Makefile
  build/debian-base/cloudbuild.yaml
  build/debian-iptables/Makefile
  build/debian-iptables/cloudbuild.yaml
  build/dependencies.yaml
  build/workspace.bzl
  cluster/images/etcd-empty-dir-cleanup/Dockerfile
  cluster/images/etcd-empty-dir-cleanup/Makefile
  cluster/images/etcd/Makefile
Labels: approved, area/dependency, area/release-eng, area/security, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/release, size/M

#90751 Removed leftover comments for the deleted function Get_MgmtSubnet
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#90755 Refine schedulerQueue test to avoid unneeded locks
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/M

#90749 fix: azure disk dangling attach issue on VMSS which would cause API throttling
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/M

#90148 enforce prerelease-lifecycle generation for beta APIs
  hack/verify-prerelease-lifecycle-tags.sh
  staging/src/k8s.io/api/authentication/v1beta1/types.go
  staging/src/k8s.io/api/authorization/v1beta1/types.go
  staging/src/k8s.io/api/autoscaling/v2beta1/types.go
  staging/src/k8s.io/api/autoscaling/v2beta2/types.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/doc.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/types.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/doc.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/types.go
  staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/api-change, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, sig/node, size/M

#90715 Ignore NotFound error when cleaning up Gluster tests
  test/e2e/common/volumes.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/XS

#90644 test/e2e/framework:remove the direct dependency for k8s.io/kubernetes/pkg
  test/e2e/framework/node/BUILD
  test/e2e/framework/node/resource.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/L

#90778 Update sidecars for csi mock driver
  test/e2e/testing-manifests/storage-csi/external-attacher/rbac.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#90781 Increase timeout waiting for driver to start on nodes
  test/e2e/storage/drivers/csi.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/storage, sig/testing, size/XS

#90782 base-images: Use new debian-iptables:v12.1.0
  build/common.sh
  build/dependencies.yaml
  build/workspace.bzl
Labels: approved, area/dependency, area/release-eng, area/security, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/release, size/M

#90804 New go-runner image for distroless scenarios
  build/BUILD
  build/go-runner/BUILD
  build/go-runner/Dockerfile
  build/go-runner/Makefile
  build/go-runner/OWNERS
  build/go-runner/README.md
  build/go-runner/cloudbuild.yaml
  build/go-runner/go-runner.go
  build/go-runner/go.mod
  build/go-runner/go.sum
Labels: approved, area/dependency, area/release-eng, area/security, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/release, sig/testing, size/L

#90707 Make flexvolume e2e tests runnable again.
  test/e2e/framework/skipper/skipper.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/M

#90818 Request for bookmarks in RetryWatcher
  staging/src/k8s.io/client-go/tools/watch/retrywatcher.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#90563 Copy RemoveTaintOffNode logic to k8s.io/cloud-provider
  pkg/controller/cloud/BUILD
  pkg/controller/cloud/node_lifecycle_controller.go
  staging/src/k8s.io/cloud-provider/node/helpers/BUILD
  staging/src/k8s.io/cloud-provider/node/helpers/taints.go
  staging/src/k8s.io/cloud-provider/node/helpers/taints_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/apps, sig/cloud-provider, size/L

#90779 Set umask 0022 when building
  hack/lib/golang.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/release, size/XS

#90630 Add .import-restrictions file to cmd/cloud-controller-manager
  cmd/cloud-controller-manager/.import-restrictions
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/cloud-provider, size/M

#90834 Azure: Fix a flaky test for azure vmss.
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/M

#90657 Move Plugin Args defaults to versioned packages
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/deprecated.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/v1alpha2/BUILD
  pkg/scheduler/apis/config/v1alpha2/defaults.go
  pkg/scheduler/apis/config/v1alpha2/defaults_test.go
  pkg/scheduler/apis/config/v1alpha2/zz_generated.defaults.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/plugin.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring_test.go
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
  pkg/scheduler/framework/plugins/nodelabel/node_label_test.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/L

#90826 Add admin account on master for kube-up
  cluster/gce/gci/configure-helper.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/cloud-provider, size/XS

#90827 Fix date race in Apimachinery test
  test/e2e/apimachinery/namespace.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/testing, size/XS

#90840 kubeadm: Move IPv6DualStack feature gate to component config
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/componentconfigs/kubelet_test.go
  cmd/kubeadm/app/phases/kubelet/BUILD
  cmd/kubeadm/app/phases/kubelet/flags.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/M

#90845 Provide more verbose empty config error for all config load actions
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/BUILD
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/client_config.go
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/M

#90852 base-images: Build go-runner:v0.1.1
  build/go-runner/Makefile
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#90543 test, e2e_node: drop superfluous systemd properties
  test/e2e_node/services/kubelet.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#90878 Pickup Snapshot Provisioner from the snapshot class "driver" info.
  test/e2e/storage/external/external.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/storage, sig/testing, size/XS

#90774 Mark the server-side dry-run feature as GA
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS, wg/api-expression

#90820 Use maxSkew in score calculation
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/scheduling, size/M

#90898 Fix stateful set test flakiness
  test/e2e/apps/statefulset.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/apps, sig/testing, size/M

#90033 Automated cherry pick of #89232: Use discovery to test apply all status
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/status_strategy.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/helpers.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/helpers_test.go
  test/integration/apiserver/apply/BUILD
  test/integration/apiserver/apply/status_test.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/L

#90032 Automated cherry pick of #89232: Use discovery to test apply all status
  pkg/registry/flowcontrol/flowschema/strategy.go
  pkg/registry/flowcontrol/prioritylevelconfiguration/strategy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/status_strategy.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/helpers.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/helpers_test.go
  test/integration/apiserver/apply/BUILD
  test/integration/apiserver/apply/status_test.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/L

#90915 Remove `enableNonPreempting` field from scheduler codebase
  pkg/scheduler/BUILD
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/M

#90678 [v1.18] Move ipvs lib to third_party/forked and fix address family bug present in old kernels
  Godeps/LICENSES
  cluster/gce/gci/configure-helper.sh
  go.mod
  go.sum
  pkg/util/ipvs/BUILD
  pkg/util/ipvs/ipvs_linux.go
  pkg/util/ipvs/ipvs_linux_test.go
  test/e2e/framework/.import-restrictions
  test/e2e/network/service.go
  third_party/BUILD
  third_party/forked/ipvs/BUILD
  third_party/forked/ipvs/LICENSE
  third_party/forked/ipvs/constants.go
  third_party/forked/ipvs/ipvs.go
  third_party/forked/ipvs/netlink.go
  third_party/forked/ipvs/netlink_test.go
  vendor/BUILD
  vendor/modules.txt
Labels: approved, area/dependency, area/e2e-test-framework, area/ipvs, area/release-eng, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/network, sig/testing, size/L

#90325 Automated cherry pick of #90162: Fix flaws in Azure CSI translation
  staging/src/k8s.io/csi-translation-lib/CONTRIBUTING.md
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/plugins/BUILD
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
Labels: approved, area/dependency, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/XL

#90324 Automated cherry pick of #90162: Fix flaws in Azure CSI translation
  staging/src/k8s.io/csi-translation-lib/CONTRIBUTING.md
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/plugins/BUILD
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
Labels: approved, area/dependency, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/XL

#90248 Add back anti-affinity to kube-dns pods.
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
Labels: approved, area/provider/gcp, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/cloud-provider, sig/cluster-lifecycle, sig/network, sig/scalability, size/M

#90731 refactor the CSR controller into distinct controllers to allow easy
  cmd/kube-controller-manager/app/BUILD
  cmd/kube-controller-manager/app/certificates.go
  pkg/controller/certificates/signer/signer.go
  pkg/controller/certificates/signer/signer_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/apps, sig/auth, size/L

#90733 Remove //pkg/api/legacyscheme from CCM and CM
  cmd/cloud-controller-manager/app/options/BUILD
  cmd/cloud-controller-manager/app/options/options.go
  cmd/controller-manager/app/BUILD
  cmd/controller-manager/app/serve.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/cloud-provider, size/S

#90740 Balance node usage before creating victim pods in preemption e2e
  test/e2e/scheduling/preemption.go
  test/e2e/scheduling/priorities.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/L

#90791 Automated cherry pick of #90749: fix: azure disk dangling attach issue
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M

#90799 Automated cherry pick of #90749: fix: azure disk dangling attach issue
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M

#90662 Remove the deps to testutils in pkg/controller/cloud.
  pkg/controller/cloud/BUILD
  pkg/controller/cloud/node_lifecycle_controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, sig/cloud-provider, size/XL

#90786 Automated cherry pick of #90749: fix: azure disk dangling attach issue
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M

#90534 Changes to ManagedFields is not mutation for GC
  pkg/registry/rbac/BUILD
  pkg/registry/rbac/helpers.go
  pkg/registry/rbac/helpers_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, release-note, sig/auth, size/M

#90680 move inactive SIG Cloud Provider approvers to emeritus_approvers
  cmd/cloud-controller-manager/OWNERS
  staging/src/k8s.io/legacy-cloud-providers/OWNERS
  staging/src/k8s.io/legacy-cloud-providers/aws/OWNERS
  staging/src/k8s.io/legacy-cloud-providers/vsphere/OWNERS
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/cloud-provider, size/S

#90674 Switch core master base images from debian to distroless
  build/BUILD
  build/common.sh
  build/dependencies.yaml
  build/workspace.bzl
  cluster/gce/gci/apiserver_etcd_test.go
  cluster/gce/gci/apiserver_kms_test.go
  cluster/gce/gci/audit_policy_test.go
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure-kubeapiserver.sh
  cluster/gce/gci/configure_helper_test.go
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Labels: approved, area/dependency, area/provider/gcp, area/release-eng, area/security, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/release, sig/scalability, size/L

#90882 Switch deprecated RegisterOpenAPIVersionedService function
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/XS

#89547 netexec: Allow graceful shutdown testing from netexec
  test/images/agnhost/README.md
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
  test/images/agnhost/netexec/netexec.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, sig/testing, size/M

#90086 Handling error returned by request.Request.ParseForm()
  pkg/kubelet/server/server_test.go
  pkg/kubelet/server/stats/BUILD
  pkg/kubelet/server/stats/handler.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/S

#81443 rest.Config: support configuring an explict proxy URL
  pkg/kubelet/server/server_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper_test.go
  staging/src/k8s.io/client-go/rest/BUILD
  staging/src/k8s.io/client-go/rest/client_test.go
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/rest/config_test.go
  staging/src/k8s.io/client-go/rest/transport.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/zz_generated.conversion.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/helpers.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation.go
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cache_test.go
  staging/src/k8s.io/client-go/transport/config.go
  staging/src/k8s.io/client-go/transport/spdy/spdy.go
Labels: approved, area/dependency, area/kubelet, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/node, size/L

#88532 Drop the alpha gating for Network Service Tier configuration support
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_addresses.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_alpha.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_forwardingrule.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_interfaces.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_util.go
  test/e2e/network/BUILD
  test/e2e/network/network_tiers.go
Labels: approved, area/cloudprovider, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/cloud-provider, sig/network, sig/testing, size/L

#90687 use conntrack instead of the /proc file for the e2e test TCP CLOSE_WAIT
  build/dependencies.yaml
  test/e2e/network/kube_proxy.go
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/flake, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/M

#90480 Automated cherry pick of #90425: fix: ACR auth fails in private azure clouds
  pkg/credentialprovider/azure/BUILD
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/azure/azure_credentials_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M

#90479 Automated cherry pick of #90425: fix: ACR auth fails in private azure clouds
  pkg/credentialprovider/azure/BUILD
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/azure/azure_credentials_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M

#80700 Add missing error check
  pkg/controller/podautoscaler/horizontal.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, sig/autoscaling, size/XS

#90478 Automated cherry pick of #90425: fix: ACR auth fails in private azure clouds
  pkg/credentialprovider/azure/BUILD
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/azure/azure_credentials_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M

#90897 Append suffix 'i' only if needed
  pkg/volume/emptydir/empty_dir_linux.go
  pkg/volume/emptydir/empty_dir_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/storage, size/S

#90659 Simplify GroupVersion.String()
  staging/src/k8s.io/apimachinery/pkg/runtime/schema/group_version.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#90806 Add option to resize kubemark node objects size
  test/kubemark/start-kubemark.sh
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/scalability, sig/testing, size/S

#90855 Remove ListWatchUntil
  pkg/client/tests/BUILD
  pkg/client/tests/listwatch_test.go
  staging/src/k8s.io/client-go/tools/watch/BUILD
  staging/src/k8s.io/client-go/tools/watch/until.go
  test/e2e/apps/statefulset.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/apps, sig/testing, size/L

#90886 Fix public IP not shown issues after assigning public IP to Azure VMs
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/S

#90925 Fix data race in namespace error handling
  test/e2e/apimachinery/namespace.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/XS

#90979 Add missing resource limits for e2e preemption
  test/e2e/scheduling/preemption.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/scheduling, sig/testing, size/XS

#90871 Explicitly state the CLA requirement for contributing
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/contributor-experience, sig/docs, size/XS

#90927 remove oom TestStartingWatcher ""unit"" test
  pkg/kubelet/oom/oom_watcher_linux_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, sig/testing, size/S

#90951 Clarify `kubelet_dockershim_nodocker` error message
  pkg/kubelet/kubelet_dockershim_nodocker.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#90998 Force LICENSES refresh on GCE images
  cluster/gce/gci/configure.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/cloud-provider, size/XS

#90769 service controller: only sync LB node pools when relevant fields change
  pkg/controller/service/controller.go
  pkg/controller/service/controller_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/apps, sig/network, size/L

#87969 CHANGELOG/CHANGELOG-1.18.md: Fix spelling
  CHANGELOG/CHANGELOG-1.18.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/release, size/XS

#89023 Remove unnecessary return value in e2e/apps/disruption
  test/e2e/apps/disruption.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/testing, size/S

#90843 Add support for TLS 1.3 ciphers.
  staging/src/k8s.io/component-base/cli/flag/ciphersuites_flag.go
  staging/src/k8s.io/component-base/cli/flag/ciphersuites_flag_test.go
Labels: approved, area/security, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note, sig/api-machinery, sig/auth, sig/cluster-lifecycle, size/XS, tide/merge-method-squash

#90865 test: Use dedicated informerFactory for node lifecycle controller
  test/integration/node/lifecycle_test.go
  test/integration/scheduler/taint_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/node, sig/scheduling, sig/testing, size/S

#90989 Count NoNodesAvailable scheduling failure as unschedulable instead of error
  pkg/scheduler/scheduler.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/scheduling, size/XS

#90994 Fix umask better
  build/common.sh
  hack/lib/golang.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/cloud-provider, size/S

#90995 Use the latest node-cache image.
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#90788 kubeadm: delete pre-pull ds and add pull images check in upgrade apply and upgrade node
  cmd/kubeadm/app/cmd/phases/upgrade/node/BUILD
  cmd/kubeadm/app/cmd/phases/upgrade/node/data.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/preflight.go
  cmd/kubeadm/app/cmd/upgrade/BUILD
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/upgrade/BUILD
  cmd/kubeadm/app/phases/upgrade/prepull.go
  cmd/kubeadm/app/phases/upgrade/prepull_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XL

#91019 improve error logging on e2e pod create function
  test/e2e/framework/pod/resource.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#90155 Improving EndpointSlice tests
  test/e2e/network/endpointslice.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/network, sig/testing, size/L

#90796 Ensure the server FQIN is stored and searched in lowercase (vsphere)
  staging/src/k8s.io/legacy-cloud-providers/vsphere/credentialmanager.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/credentialmanager_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, size/M

#90875 Improves unittest codecoverage for azure_securitygroupclient
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/securitygroupclient/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/securitygroupclient/azure_securitygroupclient_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/L

#90972 proxy: followup to last-queued-change metric
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/winkernel/proxier.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/network, size/S

#91034 Ingress validation
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
  pkg/registry/networking/ingress/storage/storage_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/network, size/L

#86034 Add tests for KubeletConfig
  pkg/kubelet/apis/config/BUILD
  pkg/kubelet/apis/config/register_test.go
  pkg/kubelet/apis/config/scheme/BUILD
  pkg/kubelet/apis/config/scheme/scheme_test.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/before/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/SerializedNodeConfigSource/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/SerializedNodeConfigSource/before/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/SerializedNodeConfigSource/roundtrip/default/v1beta1.yaml
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/component-base/config/testing/defaulting.go
  staging/src/k8s.io/component-base/config/testing/helpers.go
  staging/src/k8s.io/component-base/config/testing/roundtrip.go
  staging/src/k8s.io/kubelet/config/v1beta1/BUILD
  staging/src/k8s.io/kubelet/config/v1beta1/register_test.go
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
Labels: approved, area/dependency, area/kubelet, area/release-eng, cncf-cla: yes, kind/api-change, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/network, sig/node, sig/release, size/L, wg/component-standard

#90828 Fix date race in storage tests
  test/e2e/storage/testsuites/stress.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#90872 fix some fixture path calculations
  cmd/kube-apiserver/app/testing/testserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/testing/testserver.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/testing, size/M

#90963 base-images: Update to kube-cross:v1.13.9-5
  build/build-image/cross/VERSION
  build/dependencies.yaml
  test/images/sample-apiserver/Dockerfile
Labels: approved, area/dependency, area/release-eng, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/release, sig/testing, size/S

#90987 service controller: clean up unit tests
  cmd/cloud-controller-manager/app/core.go
  cmd/kube-controller-manager/app/core.go
  pkg/controller/service/BUILD
  pkg/controller/service/controller.go
  pkg/controller/service/controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/cloud-provider, sig/cluster-lifecycle, sig/network, size/L

#91030 Indicate node authorizer does not support rule resolution
  pkg/kubeapiserver/authorizer/config.go
  plugin/pkg/auth/authorizer/node/BUILD
  plugin/pkg/auth/authorizer/node/graph_test.go
  plugin/pkg/auth/authorizer/node/node_authorizer.go
  plugin/pkg/auth/authorizer/node/node_authorizer_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/auth, size/S

#90645 kubeadm: fix flakes when performing etcd MemberAdd on slower setups
  cmd/kubeadm/app/util/etcd/etcd.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M

#90350 Switch to use AzureFile management SDK
  pkg/volume/azure_file/azure_file.go
  pkg/volume/azure_file/azure_provision.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_file.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storage.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storage_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/fileclient/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/fileclient/azure_fileclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/fileclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/fileclient/mockfileclient/interface.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/storage, size/L

#90499 Deprecating Kubelet not used testing flags
  cmd/kubelet/app/options/options.go
  pkg/kubelet/apis/config/types.go
Labels: approved, area/kubelet, area/kubelet-api, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note, sig/node, size/S

#90554 kubelet: fix `/stats/summary` endpoint on Windows when init-containers are present on the node
  pkg/kubelet/dockershim/docker_stats.go
  pkg/kubelet/dockershim/docker_stats_windows.go
  test/e2e/windows/kubelet_stats.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, sig/testing, sig/windows, size/S

#90565 Remove wrapper around base LeaderElectionConfiguration
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha2/defaults.go
  pkg/scheduler/apis/config/v1alpha2/defaults_test.go
  pkg/scheduler/apis/config/v1alpha2/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/types.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/zz_generated.deepcopy.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-longterm, priority/important-soon, release-note-none, sig/scheduling, size/L

#90990 Retry resolving TCP address in agnhost/guestbook
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
  test/images/agnhost/guestbook/guestbook.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/testing, size/M

#91004 Use klog to replace log to keep them in consistence
  pkg/kubelet/cm/devicemanager/device_plugin_stub.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/S

#91010 Improve unit test coverage for azure publicipclient
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/publicipclient/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/publicipclient/azure_publicipclient_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/XL

#91013 Fix create cronjob help message
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_cronjob.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/XS

#91053 Set appropriate owner references when creating a job from cronjob
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/cli, size/S

#90773 Fix CSI e2e leaving pods in terminating state
  test/e2e/framework/cleanup.go
  test/e2e/framework/util.go
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/external/external.go
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/testdriver.go
  test/e2e/storage/utils/create.go
  test/e2e/storage/utils/utils.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/L

#91066 kubelet: tweak exec-probe log statement to be more concise
  pkg/kubelet/prober/prober.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#90477 kubelet: add remote_runtime tracing at log level 10
  pkg/kubelet/remote/remote_runtime.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/M

#91005 Clarify how to build for or with Windows using Docker
  build/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/windows, size/XS

#91040 Improves unittest CC for azure_routeclient
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/routeclient/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/routeclient/azure_routeclient_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/L
