Repository kubernetes/kubernetes, pull requests merged in 2020-10, with the labels that each got.

#95167 Updated symbol 'framework.GetAllMasterAddresses' to not use word 'mas…
  test/e2e/apps/network_partition.go
  test/e2e/framework/network/utils.go
  test/e2e/framework/util.go
  test/e2e/network/firewall.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, sig/network, sig/testing, size/M, wg/naming

#92897 Fix description of conversion generator
  staging/src/k8s.io/code-generator/cmd/conversion-gen/main.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/M

#95229 e2e can't use both pod.Name and pod.GenerateName
  test/e2e/framework/pod/resource.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, kind/design, kind/failing-test, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#95160 Delete federation tests from sig-network because they are disruptive and no longer relevant
  test/e2e/network/dns_common.go
  test/e2e/network/dns_configmap.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/L

#94721 Automated cherry pick of #93583: support ipv6 in e2e policy tests
  test/e2e/network/network_policy.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/network, sig/testing, size/M

#95166 Updated symbol 'framework.GetMasterHost' to not use word 'master'
  test/e2e/apimachinery/etcd_failure.go
  test/e2e/apps/daemon_restart.go
  test/e2e/cloud/gcp/addon_update.go
  test/e2e/cloud/gcp/cluster_upgrade.go
  test/e2e/framework/kubesystem/kubesystem.go
  test/e2e/framework/log_size_monitoring.go
  test/e2e/framework/resource_usage_gatherer.go
  test/e2e/framework/util.go
  test/e2e/network/service.go
  test/e2e/storage/flexvolume.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
  test/e2e/storage/vsphere/vsphere_volume_master_restart.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/apps, sig/cloud-provider, sig/network, sig/storage, sig/testing, size/M, wg/naming

#95200 Update Makefile to point to the new addon manager gcr repo
  cluster/addons/addon-manager/Makefile
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cloud-provider, size/XS

#95236 vsphere: improve logging message on node cache refresh event
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/XS

#95014 Remove unmaintained stackdriver logging e2e test
  test/e2e/instrumentation/logging/BUILD
  test/e2e/instrumentation/logging/imports.go
  test/e2e/instrumentation/logging/stackdriver/BUILD
  test/e2e/instrumentation/logging/stackdriver/basic.go
  test/e2e/instrumentation/logging/stackdriver/soak.go
  test/e2e/instrumentation/logging/stackdriver/utils.go
  vendor/BUILD
  vendor/google.golang.org/api/logging/v2beta1/BUILD
  vendor/google.golang.org/api/logging/v2beta1/logging-api.json
  vendor/google.golang.org/api/logging/v2beta1/logging-gen.go
  vendor/google.golang.org/api/pubsub/v1/BUILD
  vendor/google.golang.org/api/pubsub/v1/pubsub-api.json
  vendor/google.golang.org/api/pubsub/v1/pubsub-gen.go
  vendor/modules.txt
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/instrumentation, sig/testing, size/XL

#94457 Fix some shellcheck warnings/errors in cluster/gce/util.sh
  cluster/gce/util.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, size/M

#94922 Verify pod termination with E2E PreStop hook
  test/e2e/node/pre_stop.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/flake, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, sig/testing, size/XS

#95012 Make the creation of namespace using POST and PATCH consistent
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/BUILD
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/admission.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/admission_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  test/integration/apiserver/admissionwebhook/admission_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note, sig/api-machinery, sig/testing, size/M

#94542 Remove unused FailfWithOffset()
  test/e2e/framework/log.go
  test/e2e/framework/log_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/S

#95177 fix detach azure disk issue when vm not exist
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/M

#95244 Update triage/support label references to kind/support
  .github/ISSUE_TEMPLATE/support.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/contributor-experience, size/XS, triage/accepted

#95240 Do not update managedFields timestamp when they don't change
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/managedfieldsupdater.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/managedfieldsupdater_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-soon, release-note-none, sig/api-machinery, size/M, wg/api-expression

#95202 Change kubectl clusterinfo to non offensive words
  staging/src/k8s.io/kubectl/pkg/cmd/clusterinfo/clusterinfo.go
  test/conformance/testdata/conformance.yaml
  test/e2e/kubectl/kubectl.go
Labels: approved, area/conformance, area/kubectl, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note, sig/architecture, sig/cli, sig/testing, size/S, wg/naming

#94443 endpointslice controller should mirror parent service labels
  pkg/controller/endpointslice/BUILD
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/apps, sig/network, size/XL

#95261 test: e2e: fix race in pods test
  test/e2e/node/pods.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/flake, lgtm, priority/important-longterm, release-note-none, sig/node, sig/testing, size/XS, triage/accepted

#94991 Azure: Support multiple services sharing one IP address
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/XXL

#95180 fix staticcheck for kubectl pkg files
  hack/.staticcheck_failures
  staging/src/k8s.io/kubectl/pkg/cmd/get/customcolumn.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/testing/fake.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cli, size/S

#94896 Support kubectl alpha debug default image imagePullPolicy set by the image tag
  pkg/apis/apps/v1/zz_generated.defaults.go
  pkg/apis/apps/v1beta1/zz_generated.defaults.go
  pkg/apis/apps/v1beta2/zz_generated.defaults.go
  pkg/apis/batch/v1/zz_generated.defaults.go
  pkg/apis/batch/v1beta1/zz_generated.defaults.go
  pkg/apis/batch/v2alpha1/zz_generated.defaults.go
  pkg/apis/core/fuzzer/fuzzer.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/v1/zz_generated.defaults.go
  pkg/apis/extensions/v1beta1/zz_generated.defaults.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, kind/feature, lgtm, needs-priority, release-note, sig/apps, sig/cli, size/S

#94835 upgrade test for BoundServiceAccountTokenVolume
  test/e2e/auth/service_accounts.go
  test/e2e/cloud/gcp/cluster_upgrade.go
  test/e2e/framework/pod/resource.go
  test/e2e/upgrades/BUILD
  test/e2e/upgrades/serviceaccount_admission_controller_migration.go
Labels: approved, area/e2e-test-framework, area/provider/gcp, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/auth, sig/cloud-provider, sig/testing, size/L

#91934 kubectl: improve the warning message when doing kubectl apply to the resource without expected annotation
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, size/XS

#95285 get kibana up to speed with es
  cluster/addons/fluentd-elasticsearch/kibana-deployment.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cloud-provider, sig/instrumentation, size/M, triage/accepted

#95284 v1.18 support changes
  cluster/addons/fluentd-elasticsearch/es-service.yaml
  cluster/addons/fluentd-elasticsearch/es-statefulset.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cloud-provider, sig/instrumentation, size/L, triage/accepted

#95275 Fix golint failures in pkg/registry/core/replicationcontroller
  hack/.golint_failures
  pkg/registry/core/replicationcontroller/doc.go
  pkg/registry/core/replicationcontroller/strategy.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, ok-to-test, priority/important-longterm, release-note-none, sig/apps, size/XS

#95098 Fix vendor/k8s.io/client-go/discovery/cached/memory staticcheck
  hack/.staticcheck_failures
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#95289 Azure: fix node removal race condition on VMSS deletion
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_error.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, needs-triage, ok-to-test, priority/important-soon, release-note, sig/cloud-provider, size/M

#95254 proxy: Add tests for kube-proxy config defaulting
  pkg/proxy/apis/config/v1alpha1/BUILD
  pkg/proxy/apis/config/v1alpha1/defaults_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, needs-priority, release-note-none, sig/network, size/L, triage/accepted

#95271 updates fluentd docker image and all plugins
  cluster/addons/fluentd-elasticsearch/README.md
  cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Gemfile
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/Makefile
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, sig/instrumentation, size/M

#95179 Replace AreLabelsInWhiteList with IsSubset
  plugin/pkg/admission/podnodeselector/admission.go
  staging/src/k8s.io/apimachinery/pkg/labels/labels.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-ok-to-test, needs-priority, release-note-none, sig/api-machinery, size/M

#95233 Add error text to kube-system wait error
  test/e2e/framework/pod/wait.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/S

#95015 Remove dependency on behaviors for conformance walk.go
  test/conformance/BUILD
  test/conformance/testdata/conformance.yaml
  test/conformance/walk.go
  test/conformance/walk_test.go
  test/e2e/common/pods.go
  test/e2e/node/pods.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/architecture, sig/node, sig/testing, size/M

#95243 Update addon-manager makefile to use the new staging repo - take two
  cluster/addons/addon-manager/Makefile
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, size/XS

#93066 kubelet: add operations count and error count metrics to network plugin manager
  pkg/kubelet/dockershim/network/BUILD
  pkg/kubelet/dockershim/network/metrics/metrics.go
  pkg/kubelet/dockershim/network/plugins.go
  pkg/kubelet/dockershim/network/plugins_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note, sig/instrumentation, sig/network, sig/node, size/L

#95168 Update Windows image patch version
  cluster/gce/util.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#95242 Add gate to install CSI proxy
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/util.sh
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-soon, release-note-none, sig/cloud-provider, size/M

#95157 scheduler framework: document how to make plugins configurable
  pkg/scheduler/framework/plugins/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/scheduling, size/L

#95191 Move predicates and priorities configuration creation to Policy mapping
  pkg/scheduler/factory.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/legacy_registry.go
  pkg/scheduler/framework/plugins/legacy_registry_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/L

#95311 Send gce node startup scripts logs to console and journal
  cluster/gce/gci/node.yaml
Labels: approved, area/platform/gce, area/provider/gcp, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/node, size/XS, triage/accepted

#89482 fixed percentage behaviour in instr
  pkg/apis/apps/v1/defaults_test.go
  pkg/apis/apps/v1beta1/defaults_test.go
  pkg/apis/apps/v1beta2/defaults_test.go
  pkg/controller/daemon/update.go
  pkg/controller/deployment/util/deployment_util.go
  pkg/controller/disruption/disruption.go
  staging/src/k8s.io/apimachinery/pkg/util/intstr/intstr.go
  staging/src/k8s.io/apimachinery/pkg/util/intstr/intstr_test.go
  staging/src/k8s.io/kubectl/pkg/util/deployment/deployment.go
  test/e2e/apps/deployment.go
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/cli, sig/testing, size/L

#95245 Mask Ceph RBD adminSecrets in logs when logLevel >= 4
  pkg/volume/rbd/rbd_util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/storage, size/S

#95272 Automated cherry pick of #95177: fix detach azure disk issue when vm not exist
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M, triage/accepted

#94817 Automated cherry pick of #94773: count of etcd object should be limited to the specified
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, size/M

#94923 Automated cherry pick of #90227: kubectl: fix the Scheduled eventTime is <unknown> when use
  staging/src/k8s.io/kubectl/pkg/describe/versioned/describe.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, sig/cli, size/S

#94714 Automated cherry pick of #93962: Allow 404 error on lb deletion in azure
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_error.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_error_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M

#94818 Automated cherry pick of #94773: count of etcd object should be limited to the specified
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, size/M

#94713 Automated cherry pick of #93962: Allow 404 error on lb deletion in azure
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_error.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_error_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M

#94819 Automated cherry pick of #94773: count of etcd object should be limited to the specified
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, size/M

#95253 include APIVersion in output of 'kubectl api-resources'
  staging/src/k8s.io/kubectl/pkg/cmd/apiresources/apiresources.go
  staging/src/k8s.io/kubectl/pkg/cmd/explain/explain.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/cli, size/S, triage/accepted

#95274 Automated cherry pick of #95177: fix detach azure disk issue when vm not exist
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M, triage/accepted

#95273 Automated cherry pick of #95177: fix detach azure disk issue when vm not exist
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M, triage/accepted

#94512 Automated cherry pick of #90173: Fix doc for leader-elect-resource-lock flag
  pkg/client/leaderelectionconfig/config.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/XS

#94511 Automated cherry pick of #90173: Fix doc for leader-elect-resource-lock flag
  pkg/client/leaderelectionconfig/config.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/XS

#94904 Automated cherry pick of #94853: fix azure file migration panic
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/cloud-provider, size/L

#95184 Graduates the DisableAcceleratorUsageMetrics feature to beta
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, release-note, sig/node, size/XS

#94802 Cherry pick of #94355: Ensure getPrimaryInterfaceID not panic when network interfaces for Azure VMSS are null
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/XS

#94801 Cherry pick of #94355: Ensure getPrimaryInterfaceID not panic when network interfaces for Azure VMSS are null
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/XS

#93779 Fix job backoff limit for restart policy Never
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  test/e2e/apps/job.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, sig/testing, size/L

#94973 Automated cherry pick of #94936: Return the Kubernetes version which stopped serving
  staging/src/k8s.io/api/apps/v1beta1/types.go
  staging/src/k8s.io/api/apps/v1beta1/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/api/apps/v1beta2/types.go
  staging/src/k8s.io/api/apps/v1beta2/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/api/extensions/v1beta1/types.go
  staging/src/k8s.io/api/extensions/v1beta1/zz_generated.prerelease-lifecycle.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, size/M

#95335 Adding marosset to test/e2e/windows/OWNERS approver
  test/e2e/windows/OWNERS
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/testing, sig/windows, size/XS

#94975 replace sha1 with sha512
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
  cluster/gce/gci/mounter/stage-upload.sh
  cluster/gce/util.sh
  cluster/gce/windows/common.psm1
  cluster/gce/windows/k8s-node-setup.psm1
  cluster/get-kube-binaries.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, size/L

#95318 e2e hostexec commands does not need sudo
  test/e2e/network/service.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, needs-triage, release-note-none, sig/network, sig/testing, size/XS

#95150 Fix test "[sig-windows] DNS should support configurable pod DNS servers"
  test/e2e/windows/dns.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/testing, sig/windows, size/XS

#95336 Fix documentation on EndpointSliceCache map
  pkg/proxy/endpointslicecache.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/network, size/XS

#95016 Remove kubeconform
  go.mod
  test/conformance/BUILD
  test/conformance/kubeconform/.gitignore
  test/conformance/kubeconform/BUILD
  test/conformance/kubeconform/README.md
  test/conformance/kubeconform/gen.go
  test/conformance/kubeconform/kubeconform.go
  test/conformance/kubeconform/link.go
  vendor/modules.txt
Labels: approved, area/conformance, area/dependency, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/architecture, sig/testing, size/L

#95341 make download-or-bust compatible with both sha512/sha1
  cluster/gce/gci/configure.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/S

#94474 DualStack: kubelet: do dual-stack iptables rules
  pkg/kubelet/BUILD
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_network_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/network, sig/node, size/M

#95101 fixes test/integration/ttlcontroller staticcheck
  hack/.staticcheck_failures
  test/integration/ttlcontroller/ttlcontroller_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/M

#95316 Mask bearer token in logs when logLevel >= 9
  staging/src/k8s.io/client-go/transport/round_trippers.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, size/XS, triage/accepted

#94642 Automated cherry pick of #93011: fix: azure disk resize error if source does not exist
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/azure_diskclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/azure_diskclient_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/mockdiskclient/interface.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XL

#94847 Automated cherry pick of #94728: portforward: Fix UDP-only ports calculation
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/critical-urgent, sig/cli, size/M

#95154 Automated cherry pick of #95130: Fix UpdateSnapshot when Node is partially removed
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/interface.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/scheduling, size/M

#94774 Fix misusage of RLock in timeCache lru.Cache.Get() for release-1.19
  pkg/kubelet/time_cache.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/node, size/XS

#94948 Automated cherry pick of #94730: Ensuring EndpointSlices are recreated after Service
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/apps, sig/network, size/L

#95153 Automated cherry pick of #95130: Fix UpdateSnapshot when Node is partially removed
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/interface.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/scheduling, size/M

#94644 Automated cherry pick of #93011: fix: azure disk resize error if source does not exist
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/azure_diskclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/azure_diskclient_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/mockdiskclient/interface.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/L

#95364 set lastterminationstate for container status even when CRI fails to return termination (or any) data
  pkg/kubelet/kubelet_pods.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/M, triage/accepted

#95276 Have udp tests return idiomatic ginkgo errors, update reporting of mutating parts
  test/e2e/common/networking.go
  test/e2e/framework/network/utils.go
  test/e2e/network/networking.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/network, sig/testing, size/L

#95059 Clean up nits in delete cascade flag parsing
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_flags.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/S

#95363 Fix reporting network_programming_latency metrics in kube-proxy
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/network, sig/scalability, size/S, triage/accepted

#95346 Automated cherry pick of #94712: avoid potential secret leaking while reading .dockercfg
  pkg/credentialprovider/config.go
  pkg/credentialprovider/config_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/design, lgtm, needs-priority, ok-to-test, priority/important-soon, release-note, sig/auth, sig/node, size/L, triage/accepted

#95348 Automated cherry pick of #94712: avoid potential secret leaking while reading .dockercfg
  pkg/credentialprovider/config.go
  pkg/credentialprovider/config_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, priority/important-soon, release-note, sig/auth, sig/node, size/L, triage/accepted

#95347 Automated cherry pick of #94712: avoid potential secret leaking while reading .dockercfg
  pkg/credentialprovider/config.go
  pkg/credentialprovider/config_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/design, lgtm, ok-to-test, priority/important-soon, release-note, sig/auth, sig/node, size/L, triage/accepted

#95330 Automated cherry pick of #95245: Mask Ceph RBD adminSecrets in logs when logLevel >= 4
  pkg/volume/rbd/rbd_util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, sig/storage, size/S, triage/accepted

#95327 Automated cherry pick of #95245: Mask Ceph RBD adminSecrets in logs when logLevel >= 4
  pkg/volume/rbd/rbd_util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, sig/storage, size/S, triage/accepted

#95329 Automated cherry pick of #95245: Mask Ceph RBD adminSecrets in logs when logLevel >= 4
  pkg/volume/rbd/rbd_util.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, sig/storage, size/S, triage/accepted

#95383 Update the example for kubectl port-forward
  staging/src/k8s.io/kubectl/docs/book/pages/container_debugging/port_forward_to_pods.md
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/S, triage/accepted

#94762 log-dump.sh: Fix shellcheck issues
  cluster/log-dump/log-dump.sh
  hack/.shellcheck_failures
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/scalability, sig/testing, size/L

#95239 DualStack: basic dual-stack node IP handling
  cmd/kubelet/app/BUILD
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_getters.go
  pkg/kubelet/kubelet_network_linux.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/network/dns/BUILD
  pkg/kubelet/network/dns/dns.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
  pkg/kubelet/volume_host.go
  pkg/util/node/BUILD
  pkg/util/node/node.go
  pkg/util/node/node_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, needs-triage, priority/important-soon, release-note, sig/network, sig/node, size/XL

#95342 cloud node controller: handle empty providerID from getProviderID
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/cloud-provider, size/L

#95053 test/e2e/framework/:use the term 'Control Plane' in comment
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/framework/node/resource.go
  test/e2e/framework/node/wait.go
  test/e2e/framework/ssh/ssh.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/S, wg/naming

#95291 upgrade test for BoundServiceAccountTokenVolume
  test/e2e/auth/service_accounts.go
  test/e2e/cloud/gcp/cluster_upgrade.go
  test/e2e/framework/nodes_util.go
  test/e2e/framework/pod/resource.go
  test/e2e/upgrades/BUILD
  test/e2e/upgrades/serviceaccount_admission_controller_migration.go
Labels: approved, area/e2e-test-framework, area/test, cherry-pick-approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/auth, sig/cloud-provider, sig/testing, size/L, triage/accepted

#95437 Automated cherry pick of #95363 upstream release 1.18
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-soon, sig/network, sig/scalability, size/S

#95413 Automated cherry pick of #95363 upstream release 1.19
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/network, sig/scalability, size/S, triage/accepted

#95417 API server: fix default_konnectivity_socket_path typo.
  cluster/gce/gci/configure-kubeapiserver.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/XS, triage/accepted

#95388 Enable Logging of event requests to audit log in cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure-helper.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, size/XS

#95397 test-integration: Fix using deprecated default cluster IPs
  test/integration/framework/master_utils.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/testing, size/XS, triage/accepted

#95418 Update write-pki-data to give read permissions to KUBE_PKI_READERS_GR…
  cluster/gce/gci/configure-helper.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#95424 Update to Calico v3.16.2
  cluster/addons/calico-policy-controller/calico-node-daemonset.yaml
  cluster/addons/calico-policy-controller/typha-deployment.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, size/S

#95444 Update addons volumesnapshots owners file
  cluster/addons/volumesnapshots/OWNERS
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#95048 Add DefaultingType to PodTopologySpreadArgs
  pkg/scheduler/apis/config/scheme/BUILD
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/apis/config/types_pluginargs.go
  pkg/scheduler/apis/config/v1beta1/defaults.go
  pkg/scheduler/apis/config/v1beta1/defaults_test.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
  pkg/scheduler/apis/config/validation/validation_pluginargs_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/BUILD
  pkg/scheduler/framework/plugins/podtopologyspread/common.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
  pkg/scheduler/framework/runtime/framework_test.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types_pluginargs.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, release-note, sig/scheduling, size/L

#95378 fix kubelet iptables monitoring on dual-stack
  pkg/kubelet/kubelet_network_linux.go
  test/e2e/network/networking.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, needs-triage, priority/important-soon, release-note-none, sig/network, sig/node, sig/testing, size/M

#95419 Update Windows Pause version to 1.4.0
  cmd/kubeadm/app/constants/constants_windows.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, sig/windows, size/XS, triage/accepted

#93534 scheduler: expose Run[Pre]ScorePlugins functions to PreemptionHandle(through PluginRunner)
  pkg/scheduler/framework/v1alpha1/interface.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/scheduling, sig/testing, size/M

#94465 Fix some shellcheck warnings/errors in cluster/gce/util.sh
  cluster/gce/util.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, size/M

#95456 fix azure disk data loss issue on Windows when unmount disk
  pkg/volume/azuredd/attacher.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#95461 kubeadm: make new command functions to keep private when they are not required to be public
  cmd/kubeadm/app/cmd/alpha/alpha.go
  cmd/kubeadm/app/cmd/alpha/certs.go
  cmd/kubeadm/app/cmd/alpha/selfhosting.go
  cmd/kubeadm/app/cmd/cmd.go
  cmd/kubeadm/app/cmd/completion.go
  cmd/kubeadm/app/cmd/completion_test.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/config_test.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/init_test.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/join_test.go
  cmd/kubeadm/app/cmd/reset.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/token_test.go
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/cmd/upgrade/diff.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/cmd/upgrade/plan.go
  cmd/kubeadm/app/cmd/upgrade/upgrade.go
  cmd/kubeadm/app/cmd/version.go
  cmd/kubeadm/app/cmd/version_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/L, triage/accepted

#95376 Cherry pick of #94873: Fix the cloudprovider_azure_api_request_duration_seconds metric buckets to correctly capture the latency metrics
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_metrics.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/instrumentation, size/XS, triage/accepted

#94943 Cherry pick of #94873: Fix the cloudprovider_azure_api_request_duration_seconds metric buckets to correctly capture the latency metrics
  staging/src/k8s.io/legacy-cloud-providers/azure/metrics/azure_metrics.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/instrumentation, size/XS

#95398 Automated cherry pick of #95289: Azure: fix node removal race condition on VMSS deletion
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_error.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/S, triage/accepted

#95404 Automated cherry pick of #94975 #95341 upstream release 1.18
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
  cluster/gce/gci/mounter/stage-upload.sh
  cluster/gce/util.sh
  cluster/gce/windows/common.psm1
  cluster/gce/windows/k8s-node-setup.psm1
  cluster/get-kube-binaries.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/testing, size/L, triage/accepted

#95405 Automated cherry pick of #94975 #95341 upstream release 1.19
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
  cluster/gce/gci/mounter/stage-upload.sh
  cluster/gce/util.sh
  cluster/gce/windows/common.psm1
  cluster/gce/windows/k8s-node-setup.psm1
  cluster/get-kube-binaries.sh
Labels: approved, area/provider/gcp, cherry-pick-approved, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, sig/testing, size/L, triage/accepted

#95375 Cherry pick of #94873: Fix the cloudprovider_azure_api_request_duration_seconds metric buckets to correctly capture the latency metrics
  staging/src/k8s.io/legacy-cloud-providers/azure/metrics/azure_metrics.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/instrumentation, size/XS, triage/accepted

#93836 remove __pillar__ refs
  cluster/addons/dns/coredns/coredns.yaml.base
  cluster/addons/dns/coredns/coredns.yaml.in
  cluster/addons/dns/coredns/transforms2salt.sed
  cluster/addons/dns/coredns/transforms2sed.sed
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/transforms2salt.sed
  cluster/addons/dns/kube-dns/transforms2sed.sed
  cluster/gce/gci/configure-helper.sh
  hack/local-up-cluster.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cloud-provider, sig/scheduling, size/L

#95478 OWNERS_ALIASES: Add xmudrii to release-engineering-reviewers
  OWNERS_ALIASES
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, needs-triage, release-note-none, sig/release, size/S

#95321 add CAP_NET_RAW capability to CRI stats summery test
  test/e2e_node/summary_test.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note, sig/node, sig/testing, size/S, triage/accepted

#92507 Initialize k8s.io/component-helpers staging repository
  go.mod
  pkg/api/v1/pod/util.go
  pkg/api/v1/pod/util_test.go
  pkg/kubelet/eviction/BUILD
  pkg/kubelet/eviction/helpers.go
  pkg/scheduler/core/BUILD
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/framework/plugins/defaultpreemption/BUILD
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/plugins/queuesort/BUILD
  pkg/scheduler/framework/plugins/queuesort/priority_sort.go
  pkg/scheduler/testing/BUILD
  pkg/scheduler/testing/fake_extender.go
  pkg/scheduler/util/BUILD
  pkg/scheduler/util/utils.go
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/repos_generated.bzl
  staging/src/BUILD
  staging/src/k8s.io/component-helpers/.github/PULL_REQUEST_TEMPLATE.md
  staging/src/k8s.io/component-helpers/BUILD
  staging/src/k8s.io/component-helpers/CONTRIBUTING.md
  staging/src/k8s.io/component-helpers/LICENSE
  staging/src/k8s.io/component-helpers/OWNERS
  staging/src/k8s.io/component-helpers/README.md
  staging/src/k8s.io/component-helpers/SECURITY_CONTACTS
  staging/src/k8s.io/component-helpers/code-of-conduct.md
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/component-helpers/scheduling/OWNERS
  staging/src/k8s.io/component-helpers/scheduling/corev1/BUILD
  staging/src/k8s.io/component-helpers/scheduling/corev1/doc.go
  staging/src/k8s.io/component-helpers/scheduling/corev1/helpers.go
  staging/src/k8s.io/component-helpers/scheduling/corev1/helpers_test.go
  vendor/k8s.io/component-helpers
  vendor/modules.txt
Labels: approved, area/code-organization, area/dependency, area/kubelet, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/apps, sig/node, sig/release, sig/scheduling, size/XL

#95412 Upgrade snapshot controller to 3.0.0
  cluster/addons/volumesnapshots/volume-snapshot-controller/volume-snapshot-controller-deployment.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-soon, release-note, sig/cloud-provider, size/XS

#95494 Fix the busybox image tag in kubemark hollow nodes
  test/kubemark/resources/hollow-node_template.yaml
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/scalability, sig/testing, size/XS

#95426 kubeadm: add some output to the generate-csr command
  cmd/kubeadm/app/cmd/alpha/certs.go
  cmd/kubeadm/app/cmd/alpha/certs_test.go
  cmd/kubeadm/app/phases/certs/certlist.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/M, triage/accepted

#95463 fix azure disk attach failure for disk size bigger than 4TB
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/M, triage/accepted

#92663 cleanup: fix golint errors in /pkg/kubelet/stats
  hack/.golint_failures
  pkg/kubelet/BUILD
  pkg/kubelet/kubelet.go
  pkg/kubelet/runonce_test.go
  pkg/kubelet/stats/BUILD
  pkg/kubelet/stats/provider.go
  pkg/kubelet/stats/provider_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/M

#94916 split systemd mount from mount
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/azure_file/azure_file.go
  pkg/volume/azuredd/azure_mounter.go
  pkg/volume/cinder/cinder.go
  pkg/volume/cinder/cinder_test.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/disk_manager.go
  pkg/volume/flexvolume/util.go
  pkg/volume/flocker/flocker.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/iscsi/disk_manager.go
  pkg/volume/iscsi/iscsi_test.go
  pkg/volume/local/local.go
  pkg/volume/nfs/nfs.go
  pkg/volume/quobyte/quobyte.go
  pkg/volume/storageos/storageos.go
  pkg/volume/util/subpath/subpath_linux.go
  pkg/volume/util/volumepathhandler/volume_path_handler.go
  pkg/volume/vsphere_volume/vsphere_volume.go
  staging/src/k8s.io/mount-utils/fake_mounter.go
  staging/src/k8s.io/mount-utils/mount.go
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_unsupported.go
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: approved, area/cloudprovider, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/apps, sig/cloud-provider, sig/network, sig/node, sig/storage, sig/testing, size/M

#95305 Automated cherry pick of #95289 upstream release 1.19
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_error.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/cloud-provider, size/M, triage/accepted

#95265 Remove the dependency between create quota command and generators
  staging/src/k8s.io/kubectl/pkg/cmd/create/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_quota.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_quota_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/cli, size/L, triage/accepted

#95447 Fix vsphere disk detach failure
  pkg/volume/vsphere_volume/attacher.go
  pkg/volume/vsphere_volume/attacher_test.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/virtualmachine.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/cloud-provider, sig/storage, size/M

#95066 Wrap errors for NodeLabel, NodePorts, NodePreferAvoidPods and NodeResourcesBalancedAllocation plugins
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
  pkg/scheduler/framework/plugins/nodeports/node_ports_test.go
  pkg/scheduler/framework/plugins/nodepreferavoidpods/node_prefer_avoid_pods.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/scheduling, size/S

#78153 Feature: kubectl create ingress
  staging/src/k8s.io/kubectl/pkg/cmd/create/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/create/create.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress_test.go
Labels: approved, area/dependency, area/kubectl, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note, sig/cli, sig/network, size/L

#95224 Fix lint errors in pkg/contoller/endpoint
  hack/.golint_failures
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, sig/network, size/M

#95340 PriorityClass lifecycle tests
  test/e2e/scheduling/preemption.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, sig/testing, size/L, triage/accepted

#95525 Fix log dumping for GKE
  cluster/log-dump/log-dump.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/scalability, sig/testing, size/XS

#94987 fix upgrade test
  cluster/gce/upgrade.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/S

#95333 Node port udp fast test
  test/e2e/framework/network/utils.go
  test/e2e/network/networking.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/network, sig/testing, size/S

#95113 Lint ttl_controller
  hack/.golint_failures
  pkg/controller/ttl/ttl_controller.go
  pkg/controller/ttl/ttl_controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, size/M

#92459 Add storageversion manager interface
  staging/src/k8s.io/apiserver/BUILD
  staging/src/k8s.io/apiserver/pkg/storageversion/BUILD
  staging/src/k8s.io/apiserver/pkg/storageversion/OWNERS
  staging/src/k8s.io/apiserver/pkg/storageversion/manager.go
  staging/src/k8s.io/apiserver/pkg/storageversion/updater.go
  staging/src/k8s.io/apiserver/pkg/storageversion/updater_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#95539 Reorder default Filter plugins to have UnschedulableAndUnresolvable f…
  cmd/kube-scheduler/app/server_test.go
  pkg/scheduler/algorithmprovider/registry.go
  pkg/scheduler/algorithmprovider/registry_test.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/scheduling, size/M

#94588 Fix typo in comment of hack/verify-shellcheck.sh
  hack/verify-shellcheck.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#94985 Fix `kubectl describe ingress` format
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cli, sig/network, size/S

#93912 Use fluentbit as logging agent. Replace stackdriver
  cluster/gce/windows/configure.ps1
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/XL

#94992 fix pkg/volume/util static checks
  pkg/volume/util/device_util_linux_test.go
  pkg/volume/util/fsquota/common/quota_linux_common_impl.go
  pkg/volume/util/fsquota/project.go
  pkg/volume/util/fsquota/quota_linux.go
  pkg/volume/util/hostutil/hostutil_linux_test.go
  pkg/volume/util/nested_volumes.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/recyclerclient/recycler_client.go
  pkg/volume/util/recyclerclient/recycler_client_test.go
  pkg/volume/util/subpath/subpath_linux.go
  pkg/volume/util/util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/storage, size/L

#95542 Support the node label `node.kubernetes.io/exclude-from-external-load-balancers`
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/azure_mock_vmsets.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-soon, release-note, sig/cloud-provider, size/L

#95560 Ignore deleted pods.
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/autoscaling, size/L

#94939 kubectl: add a space between effect and operator when printing tolerations
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/cli, size/XS

#95230 Fix staticchecks in vendor/k8s.io/client-go
  hack/.staticcheck_failures
  staging/src/k8s.io/client-go/dynamic/fake/simple.go
  staging/src/k8s.io/client-go/metadata/fake/simple.go
  staging/src/k8s.io/client-go/restmapper/category_expansion.go
  staging/src/k8s.io/client-go/restmapper/shortcut.go
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/S

#95278 kubectl: Update triage/support label references to kind/support
  staging/src/k8s.io/kubectl/.github/ISSUE_TEMPLATE/support.md
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/XS, triage/accepted

#95427 TLS transport cache: don't cache transports for incomparable configs
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cache_test.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/api-machinery, size/L

#95451 Fix fcpath
  pkg/volume/fc/fc_util.go
  pkg/volume/fc/fc_util_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/storage, size/M, triage/accepted

#94327 kubectl create ingress
  staging/src/k8s.io/kubectl/pkg/cmd/create/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/cli, sig/network, size/XL
