Repository kubernetes/kubernetes, pull requests merged in 2020-08, with the labels that each got.

#93448 Add dependencycheck tool to address long running no-vendor-cycles test
  cmd/BUILD
  cmd/dependencycheck/BUILD
  cmd/dependencycheck/OWNERS
  cmd/dependencycheck/dependencycheck.go
  hack/verify-no-vendor-cycles.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/L

#93313 Automated cherry pick of #92330: fix: don't use docker config cache if it's empty
  pkg/credentialprovider/azure/BUILD
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/azure/azure_credentials_test.go
  pkg/credentialprovider/provider.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/M

#92935 Fix range copy issue
  test/e2e/framework/pod/resource.go
Labels: approved, area/e2e-test-framework, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#93167 Automated cherry pick of #93052: fix: initial delay in mounting azure disk/file
  pkg/volume/azure_dd/attacher.go
  pkg/volume/azure_file/azure_file.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/XS

#93557 fix(e2e::network): refactor NoSNAT test
  test/e2e/network/no_snat.go
  test/e2e/network/service.go
  test/e2e/network/util.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/L

#93589 Update e2e storage tests for Windows cluster
  test/e2e/framework/pod/create.go
  test/e2e/storage/testpatterns/testpattern.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/S

#93603 Remove golang.org exception for preferring latest minimal version
  hack/lint-dependencies.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/release, size/S

#93607 Fix providerless kubelet startup
  cmd/kubelet/app/options/BUILD
  cmd/kubelet/app/options/globalflags.go
  cmd/kubelet/app/options/globalflags_providerless.go
  cmd/kubelet/app/options/globalflags_providers.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/node, size/M

#93610 Make toKubeContainerImageSpec deterministic
  pkg/kubelet/kuberuntime/convert.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/node, size/S

#93619 Deflake node controller unit tests
  staging/src/k8s.io/cloud-provider/controllers/node/BUILD
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller_test.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/node, size/S

#93516 Create new slice to avoid modify original fake data
  pkg/scheduler/internal/cache/node_tree_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, size/XS

#93273 Automated cherry pick of #93272: fix 68211: modified subpath configmap mount fails when
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/subpath/BUILD
  pkg/volume/util/subpath/subpath_linux.go
  test/e2e/common/expansion.go
  test/e2e/storage/subpath.go
  test/e2e/storage/testsuites/subpath.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/storage, sig/testing, size/L

#93314 Automated cherry pick of #92330: fix: don't use docker config cache if it's empty
  pkg/credentialprovider/azure/BUILD
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/azure/azure_credentials_test.go
  pkg/credentialprovider/provider.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, priority/important-soon, sig/cloud-provider, size/M

#93460 Automated cherry pick of #93316: Fix instance not found issues when an Azure Node is recreated
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/S

#92936 Fix range copy issue
  test/e2e/framework/pod/resource.go
Labels: approved, area/e2e-test-framework, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#93272 Automated cherry pick of #89629: fix 68211: modified subpath configmap mount fails when
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/subpath/BUILD
  pkg/volume/util/subpath/subpath_linux.go
  test/e2e/common/expansion.go
  test/e2e/storage/subpath.go
  test/e2e/storage/testsuites/subpath.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, sig/storage, sig/testing, size/L

#93168 Automated cherry pick of #93052: fix: initial delay in mounting azure disk/file
  pkg/volume/azure_dd/attacher.go
  pkg/volume/azure_file/azure_file.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/XS

#93408 jsonpath: disallow multiple immediate recursive descent
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath_test.go
  staging/src/k8s.io/client-go/util/jsonpath/parser.go
  staging/src/k8s.io/client-go/util/jsonpath/parser_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/XS

#93461 Automated cherry pick of #93316: Fix instance not found issues when an Azure Node is recreated
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/S

#93274 Automated cherry pick of #93273: fix 68211: modified subpath configmap mount fails when
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/subpath/BUILD
  pkg/volume/util/subpath/subpath_linux.go
  test/e2e/common/expansion.go
  test/e2e/storage/subpath.go
  test/e2e/storage/testsuites/subpath.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/storage, sig/testing, size/L

#93463 Automated cherry pick of #93316: Fix instance not found issues when an Azure Node is recreated
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/S

#93478 kubelet: eviction: remove unexpected output from TestGetReclaimableThreshold
  pkg/kubelet/eviction/helpers_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/failing-test, lgtm, priority/important-longterm, release-note-none, sig/node, size/XS

#93633 Improve speed of dockerized verify/update scripts
  hack/lib/logging.sh
  hack/lib/protoc.sh
  hack/lib/swagger.sh
  hack/lib/util.sh
  hack/make-rules/vet.sh
  hack/update-codegen.sh
  hack/update-generated-kms-dockerized.sh
  hack/update-generated-protobuf-dockerized.sh
  hack/update-generated-runtime-dockerized.sh
  hack/update-generated-swagger-docs.sh
  hack/verify-import-boss.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/M

#93169 Automated cherry pick of #93052: fix: initial delay in mounting azure disk/file
  pkg/volume/azure_dd/attacher.go
  pkg/volume/azure_file/azure_file.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/XS

#93468 Cherry pick of #93107: Azure: use per-vmss vmssvm incremental cache
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/L

#93600 Fix panic on /readyz
  staging/src/k8s.io/apiserver/pkg/server/healthz/BUILD
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, kind/regression, lgtm, ok-to-test, priority/critical-urgent, release-note, sig/api-machinery, size/M

#93614 Update CSR fuzzing to match defaulting
  pkg/apis/certificates/fuzzer/BUILD
  pkg/apis/certificates/fuzzer/fuzzer.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/auth, size/XS

#88603 base-images: Migrate Debian base images to k/release
  build/debian-base/Dockerfile
  build/debian-base/Dockerfile.build
  build/debian-base/Makefile
  build/debian-base/OWNERS
  build/debian-base/README.md
  build/debian-base/clean-install
  build/debian-base/cloudbuild.yaml
  build/debian-base/excludes
  build/debian-iptables/Dockerfile
  build/debian-iptables/Makefile
  build/debian-iptables/OWNERS
  build/debian-iptables/README.md
  build/debian-iptables/cloudbuild.yaml
  build/debian-iptables/iptables-wrapper
  build/dependencies.yaml
Labels: approved, area/release-eng, area/security, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/critical-urgent, release-note-none, sig/release, size/XL

#93535 Create service for gluster endpoint
  test/e2e/framework/volume/fixtures.go
  test/e2e/storage/drivers/in_tree.go
Labels: approved, area/dependency, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/M

#93271 Promote: Discovery PreferredVersion test+16 Endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/discovery.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/architecture, sig/testing, size/S

#93655 Deflake TestControllerSync
  pkg/controller/volume/persistentvolume/pv_controller_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/apps, sig/storage, size/S

#93442 Updating EndpointSliceMirroring controller to copy labels from Endpoints
  pkg/controller/endpointslicemirroring/utils.go
  pkg/controller/endpointslicemirroring/utils_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, sig/network, size/S

#93667 build: Update to debian-base@v2.1.2 and debian-iptables@v12.1.1
  build/common.sh
  build/dependencies.yaml
  build/workspace.bzl
  cluster/images/etcd/Makefile
  test/utils/image/manifest.go
Labels: approved, area/dependency, area/release-eng, area/security, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/api-machinery, sig/release, sig/testing, size/M

#93642 Automated cherry pick of #93600: Fix panic on /readyz
  staging/src/k8s.io/apiserver/pkg/server/healthz/BUILD
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/regression, lgtm, ok-to-test, priority/critical-urgent, release-note, sig/api-machinery, size/M

#93643 Automated cherry pick of #93600: Fix panic on /readyz
  staging/src/k8s.io/apiserver/pkg/server/healthz/BUILD
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/regression, lgtm, ok-to-test, priority/critical-urgent, release-note, sig/api-machinery, size/M

#93645 Automated cherry pick of #93600: Fix panic on /readyz
  staging/src/k8s.io/apiserver/pkg/server/healthz/BUILD
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/regression, lgtm, ok-to-test, priority/critical-urgent, release-note, sig/api-machinery, size/M

#93026 defaultpodtopologyspread: access listers in plugin instantiation
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/BUILD
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread.go
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread_perf_test.go
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/scheduling, size/M

#93149 Automated cherry pick of #93034: Skip ensuring VMSS in pool for nodes which should be excluded
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, sig/cloud-provider, size/XS

#93251 [1.18] Fix ListZonesInRegion() after client BasePath change
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_zones.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/cloud-provider, size/XS

#93289 Automated cherry pick of #93189: Add AnySet() to topologymanager bitmask API
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/devicemanager/topology_hints.go
  pkg/kubelet/cm/topologymanager/bitmask/bitmask.go
  pkg/kubelet/cm/topologymanager/bitmask/bitmask_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, sig/node, size/L

#93661 Deflake scheduler PostBind integration test
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-longterm, release-note-none, sig/scheduling, sig/testing, size/M

#93470 Cherry pick of #93107: Azure: use per-vmss vmssvm incremental cache
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/L

#93403 Remove unuseful error message about updating pod conditions not owned…
  pkg/kubelet/status/status_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/XS

#93150 Automated cherry pick of #93034: Skip ensuring VMSS in pool for nodes which should be excluded
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, priority/important-soon, sig/cloud-provider, size/XS

#93041 Automated cherry pick of #88440: Ensure Kubelet always reports terminating pod container status
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/helpers_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/status/BUILD
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e/node/BUILD
  test/e2e/node/pods.go
Labels: approved, area/kubelet, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, sig/testing, size/L

#93193 Automated cherry pick of #93034: Skip ensuring VMSS in pool for nodes which should be excluded
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, sig/cloud-provider, size/XS

#89946 Add kind/regression label to the pull request template and group them in an HTML comment
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, release-note-none, sig/contributor-experience, size/S

#93658 test/e2e: fail test rather than flooding logs if PVC watch is closed prematurely
  test/e2e/storage/csi_mock_volume.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#93670 Fix /readyz to contain informer-sync
  staging/src/k8s.io/apiserver/pkg/server/config.go
  test/e2e/apimachinery/BUILD
  test/e2e/apimachinery/health_handlers.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/testing, size/L

#93387 Fix scheduler issue with nodetree additions
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/scheduling, size/L

#93582 Mark cloud provider InstanceV2 as experimental and remove provider ID references
  staging/src/k8s.io/cloud-provider/cloud.go
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller_test.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instances.go
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_instances.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/XL

#93345 Automated cherry pick of #91678: tests: Fixes Windows kubelet-stats test
  test/e2e/windows/kubelet_stats.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#93344 Automated cherry pick of #91678: tests: Fixes Windows kubelet-stats test
  test/e2e/windows/kubelet_stats.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/testing, sig/windows, size/XS

#93577 Update Cluster Autoscaler version to 1.19.0
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/autoscaling, sig/cloud-provider, size/XS

#93657 fix: deflake run_kubectl_apply_tests
  test/cmd/apply.sh
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/testing, size/S

#93441 Fixing memory leak in EndpointSliceMirroring EndpointSlice tracker
  pkg/controller/endpointslicemirroring/BUILD
  pkg/controller/endpointslicemirroring/endpointslice_tracker.go
  pkg/controller/endpointslicemirroring/endpointslice_tracker_test.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  pkg/controller/endpointslicemirroring/reconciler.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, sig/network, size/L

#93343 Automated cherry pick of #91678: tests: Fixes Windows kubelet-stats test
  test/e2e/windows/kubelet_stats.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, sig/windows, size/XS

#93617 Deflake TestExpectationsOnRecreate
  pkg/controller/daemon/daemon_controller_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/apps, size/M

#93717 Deflake TestUpdateNodeStatusWithLease - guard cached machineInfo
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_getters.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/node, size/M

#93469 Cherry pick of #93107: Azure: use per-vmss vmssvm incremental cache
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/L

#93519 Automated cherry pick of #86223: add dashpole as kubelet approver
  pkg/kubelet/OWNERS
  pkg/kubelet/apis/podresources/OWNERS
  pkg/kubelet/apis/resourcemetrics/OWNERS
  pkg/kubelet/apis/stats/OWNERS
  pkg/kubelet/cadvisor/OWNERS
  pkg/kubelet/eviction/OWNERS
  pkg/kubelet/images/OWNERS
  pkg/kubelet/metrics/OWNERS
  pkg/kubelet/oom/OWNERS
  pkg/kubelet/preemption/OWNERS
  pkg/kubelet/stats/OWNERS
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/node, size/S

#93768 Add missing ppc64le architecture in the get-kube* scripts
  cluster/get-kube-binaries.sh
  cluster/get-kube.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/testing, size/S

#93769 e2e delete namespaces after finish
  test/e2e/network/dns_scale_records.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/cleanup, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/XS

#93517 Automated cherry pick of #86223: add dashpole as kubelet approver
  pkg/kubelet/OWNERS
  pkg/kubelet/apis/podresources/OWNERS
  pkg/kubelet/apis/resourcemetrics/OWNERS
  pkg/kubelet/apis/stats/OWNERS
  pkg/kubelet/cadvisor/OWNERS
  pkg/kubelet/eviction/OWNERS
  pkg/kubelet/images/OWNERS
  pkg/kubelet/metrics/OWNERS
  pkg/kubelet/oom/OWNERS
  pkg/kubelet/preemption/OWNERS
  pkg/kubelet/stats/OWNERS
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/node, size/S

#93567 Make AttachDisk for EBS idempotent again
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  test/e2e/storage/pd.go
  test/e2e/storage/utils/BUILD
  test/e2e/storage/utils/ebs.go
Labels: approved, area/cloudprovider, area/dependency, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, sig/testing, size/L

#93797 [go1.15] Use errors.As to unwrap net errors
  staging/src/k8s.io/apimachinery/pkg/util/net/http.go
  staging/src/k8s.io/apimachinery/pkg/util/net/util.go
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#93803 Deflake LimitRange e2e test
  test/e2e/scheduling/limit_range.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/scheduling, sig/testing, size/S

#93660 Add LabelSelector validation in Pod Affinity/AntiAffinity Filter and Score plugins
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring_test.go
  pkg/scheduler/framework/v1alpha1/types.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/scheduling, size/L

#93790 Fix namespace controller cleanup orphaning
  pkg/controller/namespace/deletion/BUILD
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter_test.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/apps, size/M

#93810 Update to json-patch 4.8.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/S

#93308 Makefile: update test-e2e-node help
  build/root/Makefile
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/node, size/S

#93827 [go1.15] Update to go1.15rc2
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  hack/tools/go.mod
  hack/tools/go.sum
  test/images/Makefile
  test/images/sample-apiserver/Dockerfile
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, area/release-eng, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/node, sig/release, sig/testing, size/M

#93722 Do not evict pods which tolerate all NoExecute taints
  pkg/controller/nodelifecycle/scheduler/BUILD
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controller/nodelifecycle/scheduler/taint_manager_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, sig/node, size/M

#93555 integration: Wait for PV to be available in TestVolumeProvision
  test/integration/volumescheduling/volume_binding_test.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/storage, sig/testing, size/S

#93772 Add missing termination metrics to priority-and-fairness handler
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/regression, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#93618 Fix flaky test: wait for mock CSI Driver bringup to perform e2e test
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/drivers/csi.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, sig/testing, size/S

#93030 Requeue Service after Endpoint Deletion
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/apps, sig/network, size/L

#93846 fix(azure): set default value of VmssVirtualMachinesCacheTTLInSeconds when initializing scaleSet
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#93831 scheduler: forget the pod when the reserve plugins fail
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/testing/fake_plugins.go
  pkg/scheduler/testing/framework_helpers.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/scheduling, size/L

#93893 Sync cache before starting scheduler test
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/XS

#93895 test(endpoints): deflake TestWatchHTTPTimeout
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/api-machinery, size/S

#93521 Update e2e csi images to k8s.gcr.io
  test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  test/e2e/testing-manifests/storage-csi/gce-pd/node_ds.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-attacher.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-provisioner.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-resizer.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/utils/image/manifest.go
  test/utils/image/manifest_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/M

#93813 [1.16] Update to json-patch 4.8.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/BUILD
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, size/S

#93811 [1.18] Update to json-patch 4.8.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/BUILD
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/S

#93907 Updating EndpointSlice e2e tests to accept duplicate EndpointSlices
  test/e2e/network/endpointslice.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/network, sig/testing, size/S

#93812 [1.17] Update to json-patch 4.8.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/BUILD
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/S

#93696 Revert "Automated cherry pick of #93272: fix 68211: modified subpath configmap mount fails when"
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/subpath/BUILD
  pkg/volume/util/subpath/subpath_linux.go
  test/e2e/common/expansion.go
  test/e2e/storage/subpath.go
  test/e2e/storage/testsuites/subpath.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/L

#93695 Revert "Automated cherry pick of #89629: fix 68211: modified subpath configmap mount fails when"
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/subpath/BUILD
  pkg/volume/util/subpath/subpath_linux.go
  test/e2e/common/expansion.go
  test/e2e/storage/subpath.go
  test/e2e/storage/testsuites/subpath.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/L

#93829 e2e services wait for endpoint and endpoint slices
  test/e2e/framework/service/BUILD
  test/e2e/framework/service/jig.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/testing, size/M

#93929 Validate ingress TLS secretName in v1
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
  pkg/registry/networking/ingress/storage/storage_test.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/critical-urgent, release-note, sig/network, size/L

#93924 [1.17] build: Update Debian base images
  build/common.sh
  build/debian-base/Dockerfile
  build/debian-base/Dockerfile.build
  build/debian-base/Makefile
  build/debian-base/OWNERS
  build/debian-base/README.md
  build/debian-base/clean-install
  build/debian-base/excludes
  build/debian-iptables/Dockerfile
  build/debian-iptables/Makefile
  build/debian-iptables/OWNERS
  build/debian-iptables/README.md
  build/debian-iptables/iptables-wrapper
  build/dependencies.yaml
  build/workspace.bzl
  cluster/images/etcd-empty-dir-cleanup/Dockerfile
  cluster/images/etcd-empty-dir-cleanup/Makefile
  cluster/images/etcd/Makefile
  cluster/images/hyperkube/Makefile
Labels: approved, area/dependency, area/security, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/release, size/XL

#93927 [1.16] build: Update Debian base images
  build/common.sh
  build/debian-base/Dockerfile
  build/debian-base/Dockerfile.build
  build/debian-base/Makefile
  build/debian-base/OWNERS
  build/debian-base/README.md
  build/debian-base/clean-install
  build/debian-base/excludes
  build/debian-iptables/Dockerfile
  build/debian-iptables/Makefile
  build/debian-iptables/OWNERS
  build/debian-iptables/README.md
  build/dependencies.yaml
  build/workspace.bzl
  cluster/images/etcd-empty-dir-cleanup/Dockerfile
  cluster/images/etcd-empty-dir-cleanup/Makefile
  cluster/images/etcd/Makefile
  cluster/images/hyperkube/Makefile
Labels: approved, area/dependency, area/security, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/release, size/XL

#93754 [1.18] build: Update Debian base images
  build/common.sh
  build/debian-base/Dockerfile
  build/debian-base/Dockerfile.build
  build/debian-base/Makefile
  build/debian-base/OWNERS
  build/debian-base/README.md
  build/debian-base/clean-install
  build/debian-base/excludes
  build/debian-hyperkube-base/.gitignore
  build/debian-hyperkube-base/Dockerfile
  build/debian-hyperkube-base/Makefile
  build/debian-hyperkube-base/OWNERS
  build/debian-hyperkube-base/README.md
  build/debian-hyperkube-base/cloudbuild.yaml
  build/debian-iptables/Dockerfile
  build/debian-iptables/Makefile
  build/debian-iptables/OWNERS
  build/debian-iptables/README.md
  build/debian-iptables/iptables-wrapper
  build/dependencies.yaml
  build/workspace.bzl
  cluster/images/etcd-empty-dir-cleanup/Dockerfile
  cluster/images/etcd-empty-dir-cleanup/Makefile
  cluster/images/etcd/Makefile
  cluster/images/hyperkube/Makefile
Labels: approved, area/apiserver, area/dependency, area/release-eng, area/security, area/test, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/release, sig/testing, size/XL

#93935 Promote spiffxp to build/ approver
  build/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, sig/testing, size/XS

#93916 build: Update to debian-base@v2.1.3 and debian-iptables@v12.1.2
  build/common.sh
  build/dependencies.yaml
  build/workspace.bzl
  cluster/images/etcd/Makefile
  test/utils/image/manifest.go
Labels: approved, area/dependency, area/release-eng, area/security, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/api-machinery, sig/release, sig/testing, size/M

#93939 [go1.15] Update to go1.15
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  hack/tools/go.mod
  hack/tools/go.sum
  test/images/Makefile
  test/images/sample-apiserver/Dockerfile
Labels: approved, area/dependency, area/release-eng, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/release, sig/testing, size/M

#93869 [e2e]Bind csi driver namespace to test namespace to avoid namespace collision
  test/e2e/storage/utils/utils.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, ok-to-test, release-note-none, sig/storage, sig/testing, size/XS

#93697 Revert "Automated cherry pick of #93273: fix 68211: modified subpath configmap mount fails when"
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/subpath/BUILD
  pkg/volume/util/subpath/subpath_linux.go
  test/e2e/common/expansion.go
  test/e2e/storage/subpath.go
  test/e2e/storage/testsuites/subpath.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/L

#93942 Refresh root, build, cluster OWNERS files from main branch
  OWNERS
  OWNERS_ALIASES
  build/OWNERS
  cluster/OWNERS
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/release, sig/testing, size/L

#93730 scheduler_perf/MixedSchedulingBasePod: label nodes for pod affinity
  test/integration/scheduler_perf/config/performance-config.yaml
Labels: approved, area/cloudprovider, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, needs-priority, ok-to-test, sig/cloud-provider, sig/scheduling, sig/testing, size/XS

#93943 Refresh root, build, cluster OWNERS files from main branch
  OWNERS
  OWNERS_ALIASES
  build/OWNERS
  cluster/OWNERS
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/release, sig/testing, size/L

#93956 [1.16][go1.13] Update to go1.13.15
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  test/images/Makefile
Labels: approved, area/dependency, area/release-eng, area/security, area/test, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/release, sig/testing, size/S

#93908 Updating EndpointSlice controllers to return if error encountered
  pkg/controller/endpointslice/BUILD
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslicemirroring/BUILD
  pkg/controller/endpointslicemirroring/reconciler.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/apps, sig/network, size/M

#93955 [1.17][go1.13] Update to go1.13.15
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  test/images/Makefile
Labels: approved, area/dependency, area/release-eng, area/security, area/test, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/release, sig/testing, size/S

#93953 [1.18][go1.13] Update to go1.13.15
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  test/images/Makefile
  test/images/sample-apiserver/Dockerfile
Labels: approved, area/dependency, area/release-eng, area/security, area/test, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, sig/testing, size/S

#93954 Fix validation of ingress rules with wildcard host
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/network, sig/storage, sig/testing, size/L

#93969 [go115] Require go1.15 in build helper scripts
  hack/lib/golang.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, priority/critical-urgent, release-note-none, sig/release, size/XS

#93938 Keep track of remaining pods when a node is deleted
  pkg/scheduler/BUILD
  pkg/scheduler/framework/v1alpha1/types.go
  pkg/scheduler/internal/cache/BUILD
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/debugger/dumper.go
  pkg/scheduler/internal/cache/fake/BUILD
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/internal/cache/interface.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/util.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-rebase, priority/critical-urgent, release-note, sig/scalability, sig/scheduling, sig/testing, size/L, ¯\_(ツ)_/¯

#93974 Add missing changelog entries for v1.18.7
  CHANGELOG/CHANGELOG-1.18.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/release, size/M

#93981 upgrade rules_docker
  build/root/WORKSPACE
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, sig/testing, size/S

#93821 Sign up dims for additional review roles
  OWNERS_ALIASES
  build/OWNERS
  cmd/OWNERS
  pkg/OWNERS
  plugin/OWNERS
  staging/OWNERS
  third_party/OWNERS
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/architecture, size/XS

#93665 Move bgrant0607 to emeritus status.
  OWNERS
  OWNERS_ALIASES
  build/visible_to/OWNERS
  pkg/apis/OWNERS
  pkg/apis/core/OWNERS
  test/conformance/behaviors/OWNERS
  test/conformance/testdata/OWNERS
Labels: approved, area/conformance, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/apps, sig/architecture, sig/contributor-experience, size/S

#93990 test(kubectl): deflake run_kubectl_apply_tests(round 2)
  test/cmd/apply.sh
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/testing, size/S

#93921 [Flaky test]kubectl log test never restart pod
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/backlog, release-note-none, sig/cli, sig/testing, size/XS

#93972 Add missing changelog entries for v1.17.10
  CHANGELOG/CHANGELOG-1.17.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/release, size/M

#93998 publishing-bot: Use go1.15.0 as default version and go1.13.15 for previous releases
  staging/publishing/rules.yaml
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/release, size/L

#94002 Fix bug for inconsistent lists served from etcd
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, size/L

#93888 Add sigs for root folders
  .github/OWNERS
  OWNERS_ALIASES
  docs/OWNERS
  logo/OWNERS
  staging/src/k8s.io/kubectl/pkg/generated/bindata.go
  third_party/OWNERS
  translations/OWNERS
Labels: approved, area/code-organization, area/kubectl, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cli, sig/cloud-provider, sig/contributor-experience, size/M

#93789 Add test cluster check when starting csi proxy
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cloud-provider, size/XS

#94023 Fix building with GOFLAGS=-v
  hack/lib/golang.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/release, sig/testing, size/XS

#93707 Fix issue in evaluating symlink path for subpath
  pkg/volume/util/subpath/subpath_windows.go
  pkg/volume/util/subpath/subpath_windows_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/L

#93721 Speed up master reconciler tests
  test/integration/master/kube_apiserver_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/flake, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/M

#93980 Emeritus some inactive sig testing approvers
  OWNERS_ALIASES
  test/e2e_node/jenkins/OWNERS
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/S

#94055 Deflake TestSubresourcePatch
  staging/src/k8s.io/apiextensions-apiserver/test/integration/subresources_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#93941 Refresh root, build, cluster OWNERS files from main branch
  OWNERS
  OWNERS_ALIASES
  build/OWNERS
  cluster/OWNERS
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/release, sig/testing, size/L

#93622 Fix race condition in pluginWatcher
  pkg/kubelet/pluginmanager/plugin_manager_test.go
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/node, size/M

#94050 Remove flaky audit e2e test
  test/e2e/auth/BUILD
  test/e2e/auth/audit.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, needs-priority, release-note-none, sig/auth, sig/testing, size/XL

#94086 Updating EndpointSlice controller to wait for all caches to be synced
  pkg/controller/endpointslice/endpointslice_controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/apps, sig/network, size/XS

#93906 Deflake TestServiceRegistryUpdateDryRun test
  pkg/registry/core/service/storage/rest_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/network, size/XS

#94089 Fixing a flaky EndpointSliceMirroring integration test
  test/integration/endpointslice/endpointslicemirroring_test.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/network, sig/testing, size/S

#93777 e2e storage: avoid flaky test failure when watch dies
  test/e2e/storage/BUILD
  test/e2e/storage/csi_mock_volume.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/flake, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/M

#94105 Update to etcd client version 3.4.12
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/go.etcd.io/etcd/clientv3/watch.go
  vendor/go.etcd.io/etcd/embed/config.go
  vendor/go.etcd.io/etcd/embed/etcd.go
  vendor/go.etcd.io/etcd/etcdserver/api/v3rpc/watch.go
  vendor/go.etcd.io/etcd/etcdserver/apply_v2.go
  vendor/go.etcd.io/etcd/etcdserver/config.go
  vendor/go.etcd.io/etcd/etcdserver/metrics.go
  vendor/go.etcd.io/etcd/etcdserver/util.go
  vendor/go.etcd.io/etcd/pkg/runtime/fds_linux.go
  vendor/go.etcd.io/etcd/version/version.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/etcd, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cloud-provider, sig/instrumentation, size/S

#94110 fix e2e test "should resolve connection reset"
  test/e2e/network/kube_proxy.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/XS

#93333 Fix an issue when rotated logs of dead containers are not removed.
  pkg/kubelet/container/os.go
  pkg/kubelet/container/testing/os.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/BUILD
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/logs/BUILD
  pkg/kubelet/logs/container_log_manager.go
  pkg/kubelet/logs/container_log_manager_stub.go
  pkg/kubelet/logs/container_log_manager_test.go
Labels: approved, area/dependency, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/node, size/L

#93971 Refactor locks logic on registeredNodesLock to be non-blocking
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, kind/regression, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, size/S

#94152 Agnhost version sync
  build/dependencies.yaml
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S

#94147 Update json-patch to v4.9.0 tagged release
  LICENSES/vendor/github.com/evanphx/json-patch/LICENSE
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/S

#94153 [Failing Test] Add rbac patch permissions for system:controller:glbc
  cluster/addons/rbac/cluster-loadbalancing/glbc/roles.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#94166 [Failing Test] Reserve Static IP in Ingress test
  test/e2e/network/ingress.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, sig/testing, size/XS

#93892 "unbound immediate PersistentVolumeClaims" should be UnschedulableAnd…
  pkg/controller/volume/scheduling/scheduler_binder.go
  pkg/controller/volume/scheduling/scheduler_binder_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, sig/storage, size/M

#94185 test(kuberuntime): deflake TestRemoveContainer
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/node, size/XS

#93964 Keep track of remaining pods when a node is deleted
  pkg/scheduler/BUILD
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/debugger/dumper.go
  pkg/scheduler/internal/cache/fake/BUILD
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/internal/cache/interface.go
  pkg/scheduler/nodeinfo/node_info.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/util.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/scheduling, sig/testing, size/L

#94171 Updating EndpointSliceMirroring controller to listen for Service changes
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller_test.go
  pkg/controller/endpointslicemirroring/utils.go
  test/integration/endpointslice/endpointslicemirroring_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/flake, lgtm, priority/critical-urgent, release-note, sig/apps, sig/network, sig/testing, size/L

#94261 Add PR #89069 Action Required to 1.19 release notes
  CHANGELOG/CHANGELOG-1.19.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, kind/documentation, lgtm, priority/critical-urgent, release-note-none, sig/release, size/XS

#94049 Read ssh username from env variable
  test/e2e_node/remote/ssh.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, sig/testing, size/XS

#93588 Mark gmsa test serial due to race conditions
  test/e2e/windows/gmsa_full.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, sig/windows, size/XS

#93896 Improve running time of TestSchedulerWithVolumeBinding
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/scheduling, size/M

#92920 [test/kubelet]: Fix deadlock in watch manager test
  test/integration/kubelet/watch_manager_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/node, sig/testing, size/XS

#93328 e2e node: fix kubelet service restart failure
  test/e2e_node/util.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, sig/testing, size/XS

#94214 test(endpointslice): deflake TestSyncEndpoints
  pkg/controller/endpointslicemirroring/BUILD
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/apps, sig/network, size/S
