Repository kubernetes/kubernetes, pull requests merged in 2020-02, with the labels that each got.

#87534 Automated cherry pick of #87504: Fix issue with GCE scripts assuming Python2.
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/S

#87593 Automated cherry pick of #87531: set nil cache entry based on old cache
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/L

#87729 Reduce default CPU requirement for konnectivity server
  cluster/gce/manifests/konnectivity-server.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/XS

#87635 Set cache to nil data when Azure node provisioning state is deleting
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_wrap.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cloud-provider, size/M

#87685 Add disableAvailabilitySetNodes to avoid VM list for VMSS clusters
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/M

#87686 Fix backoff retries for AzureFile client
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_file.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/M

#87689 fix: missing variadic dots
  staging/src/k8s.io/client-go/tools/record/fake.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#87705 Fix comment whitespace
  test/e2e/storage/vsphere/vsphere_zone_support.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/storage, sig/testing, size/M

#87706 Fix statefulset conversion
  hack/local-up-cluster.sh
  pkg/apis/apps/v1/conversion.go
  pkg/apis/apps/v1/zz_generated.conversion.go
  pkg/apis/apps/v1beta1/conversion.go
  pkg/apis/apps/v1beta1/zz_generated.conversion.go
  pkg/apis/apps/v1beta2/conversion.go
  pkg/apis/apps/v1beta2/zz_generated.conversion.go
  test/integration/statefulset/BUILD
  test/integration/statefulset/statefulset_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/apps, sig/testing, size/L

#87732 Update OWNERS
  test/e2e/windows/OWNERS
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, sig/windows, size/XS

#87315 Automated cherry pick of #87106: Update to golang@1.13.6
  build/build-image/cross/Dockerfile
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  test/images/Makefile
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/S

#87681 Automated cherry pick of #87673: blank out value for unbounded client label
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/XS

#87286 Automated cherry pick of #85993: kubenet: replace gateway with cni result
  pkg/kubelet/dockershim/network/kubenet/kubenet_linux.go
  pkg/kubelet/dockershim/network/kubenet/kubenet_linux_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/network, sig/node, size/L

#87565 More unit tests for scheduler
  pkg/scheduler/framework/v1alpha1/framework_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, size/L

#81056 kubeadm: prevent bootstrap of nodes with known names
  cmd/kubeadm/app/cmd/phases/init/bootstraptoken.go
  cmd/kubeadm/app/cmd/phases/join/BUILD
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
  cmd/kubeadm/app/phases/bootstraptoken/node/tlsbootstrap.go
  cmd/kubeadm/app/phases/kubelet/flags.go
  cmd/kubeadm/app/phases/kubelet/flags_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/L

#87658 Enable selinux tags in make targets
  hack/lib/golang.sh
  test/typecheck/main.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/release, sig/testing, size/S

#87682 Automated cherry pick of #87673: blank out value for unbounded client label
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/XS

#87680 Fix non-ascii characters in test/e2e/common/runtime.go
  test/e2e/common/runtime.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#85472 kubelet/network: add sig-network-approvers to OWNERS
  pkg/kubelet/network/OWNERS
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/network, sig/node, size/XS

#87663 add to api repo documentation
  staging/src/k8s.io/api/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/api-machinery, size/S

#87437 kubectl-diff: Return non-1 errors on kubectl failures
  hack/testdata/invalid-pod.yaml
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  test/cmd/diff.sh
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cli, sig/testing, size/M

#87629 Update GCP Windows node image versions
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/util.sh
  cluster/gce/windows/README-GCE-Windows-kube-up.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/M

#87740 Log when client rate limiter latency is very high at a lower log level
  staging/src/k8s.io/client-go/rest/request.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, size/M

#82454 fix shell checks errors in cluster/common.sh
  cluster/common.sh
  hack/.shellcheck_failures
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/L

#85960 Initial behavior examples for conformance
  test/conformance/behaviors/sig-network/service-spec.yaml
  test/conformance/behaviors/sig-node/pod-readiness-gates.yaml
  test/conformance/behaviors/sig-node/pod-spec.yaml
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/testing, size/M

#87710 Ineffassign fixes for pkg/proxy
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, sig/windows, size/XS

#87515 Use network proxy for aggregator api
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/BUILD
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, size/M

#87451 Fix CreateVolume signature in comment
  pkg/volume/awsebs/aws_util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/storage, size/XS

#87713 Move 'path' package usage to 'path/filepath'.
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_plugin.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/storage, sig/windows, size/XS

#87721 Automated cherry pick of #87706: Fix statefulset conversion #87706
  hack/local-up-cluster.sh
  pkg/apis/apps/v1/conversion.go
  pkg/apis/apps/v1/zz_generated.conversion.go
  pkg/apis/apps/v1beta1/conversion.go
  pkg/apis/apps/v1beta1/zz_generated.conversion.go
  pkg/apis/apps/v1beta2/conversion.go
  pkg/apis/apps/v1beta2/zz_generated.conversion.go
  test/integration/statefulset/BUILD
  test/integration/statefulset/statefulset_test.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/apps, sig/testing, size/L

#87745 Automated cherry pick of #87692: Fix pending_pods, schedule_attempts_total was not recorded
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/scheduler.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/scheduling, size/S

#86430 Avoid thundering herd of relists on etcd
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
  staging/src/k8s.io/client-go/tools/pager/pager.go
  staging/src/k8s.io/client-go/tools/pager/pager_test.go
  test/integration/apiserver/apiserver_test.go
Labels: approved, area/apiserver, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/node, sig/testing, size/L

#87742 Automated cherry pick of #87692: Fix pending_pods, schedule_attempts_total was not recorded
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/scheduler.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/scheduling, size/XS

#87728 Automated cherry pick of #87694: Fix back off when scheduling cycle is delayed
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/pod_backoff.go
  pkg/scheduler/internal/queue/pod_backoff_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/L

#87598 grammar(noun to pod adjective phases) change for pods status in tests
  test/e2e/common/security_context.go
  test/e2e/framework/pod/wait.go
  test/e2e/framework/pods.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/S

#87825 Change HostPath to EmptyDir for VolumeSubpathEnvExpansion e2e tests
  test/e2e/common/expansion.go
Labels: approved, area/test, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, sig/storage, sig/testing, size/M

#87760 update network-y stuff for supporting ubuntu/bionic
  cluster/gce/util.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/testing, size/S

#87761 Ensure specified container runtimes are present
  cluster/gce/gci/configure.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/testing, size/M

#87781 Only set admission review reponse patch type if the patch is not empty
  test/images/agnhost/webhook/configmap.go
  test/images/agnhost/webhook/customresource.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/testing, size/S

#87786 Save log files for network proxy
  cluster/log-dump/log-dump.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/XS

#87791 remove authn/z expansions
  staging/src/k8s.io/api/authentication/v1/types.go
  staging/src/k8s.io/api/authentication/v1beta1/types.go
  staging/src/k8s.io/api/authorization/v1/types.go
  staging/src/k8s.io/api/authorization/v1beta1/types.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/fake/fake_tokenreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/fake/fake_tokenreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/tokenreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/tokenreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/fake/fake_tokenreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/fake/fake_tokenreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/tokenreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/tokenreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_localsubjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_localsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_selfsubjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_selfsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_selfsubjectrulesreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_selfsubjectrulesreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_subjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_subjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/localsubjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/localsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/selfsubjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/selfsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/selfsubjectrulesreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/selfsubjectrulesreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/subjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/subjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_localsubjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_localsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_selfsubjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_selfsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_selfsubjectrulesreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_selfsubjectrulesreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_subjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_subjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/localsubjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/localsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/selfsubjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/selfsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/selfsubjectrulesreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/selfsubjectrulesreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/subjectaccessreview.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/subjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_serviceaccount.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_serviceaccount_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/generated_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/serviceaccount.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/serviceaccount_expansion.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, size/XL

#87793 Add an option to external storage e2es to use a copy of a pre-installed StorageClass
  test/e2e/storage/external/BUILD
  test/e2e/storage/external/external.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/M

#87809 kubectl: allow to preselect interesting container in logs
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note-none, sig/cli, size/L

#87817 Automated cherry pick of #87728: Fix back off when scheduling cycle is delayed
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/pod_backoff.go
  pkg/scheduler/internal/queue/pod_backoff_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/L

#87731 Automated cherry pick of #85703: Fixing Potential Race Condition in EndpointSlice Controller. #85368: Deep copying EndpointSlices in reconciler before modifying
  pkg/controller/endpointslice/BUILD
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_tracker.go
  pkg/controller/endpointslice/endpointslice_tracker_test.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/apps, sig/network, size/L

#82111 remove stateCheckPeriod
  pkg/kubelet/kuberuntime/logs/logs.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS

#87492 fix static check errors in vendor/k8s.io/apimachinery/pkg/api/resource
  hack/.staticcheck_failures
  staging/src/k8s.io/apimachinery/pkg/api/resource/math.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/S

#87358 test/e2e/framework: remove skip.go and use e2eskipper subpackage
  test/e2e/framework/BUILD
  test/e2e/framework/skip.go
  test/e2e/framework/skipper/BUILD
  test/e2e/framework/skipper/skipper.go
  test/e2e/framework/util.go
  test/e2e/scheduling/preemption.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/testdriver.go
  test/e2e/upgrades/BUILD
  test/e2e/upgrades/apparmor.go
  test/e2e_node/BUILD
  test/e2e_node/container_log_rotation_test.go
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/critical_pod_test.go
  test/e2e_node/docker_test.go
  test/e2e_node/dockershim_checkpoint_test.go
  test/e2e_node/eviction_test.go
  test/e2e_node/gke_environment_test.go
  test/e2e_node/hugepages_test.go
  test/e2e_node/log_path_test.go
  test/e2e_node/quota_lsci_test.go
  test/e2e_node/security_context_test.go
  test/e2e_node/topology_manager_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/scheduling, sig/storage, sig/testing, size/L

#87007 Cleanup manual conversions
  pkg/apis/apps/v1/conversion.go
  pkg/apis/apps/v1/zz_generated.conversion.go
  pkg/apis/apps/v1beta2/conversion.go
  pkg/apis/apps/v1beta2/zz_generated.conversion.go
  pkg/apis/core/v1/conversion.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/extensions/v1beta1/conversion.go
  pkg/apis/extensions/v1beta1/zz_generated.conversion.go
  pkg/apis/networking/v1beta1/BUILD
  pkg/apis/networking/v1beta1/zz_generated.conversion.go
  pkg/apis/settings/v1alpha1/zz_generated.conversion.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, sig/network, size/XL

#85861 Collect some of scheduling metrics and scheduling throughput
  test/integration/scheduler_perf/BUILD
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/integration/scheduler_perf/util.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/L

#87730 Windows kubelet stats timeout updates
  pkg/kubelet/dockershim/BUILD
  pkg/kubelet/dockershim/docker_stats_windows.go
  test/e2e/windows/BUILD
  test/e2e/windows/kubelet_stats.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/node, sig/testing, sig/windows, size/L

#87098 Add annotation updating for migration for PVs and PVCs
  pkg/controller/volume/persistentvolume/BUILD
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/provision_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/controller/volume/persistentvolume/util/util.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/apps, sig/storage, size/L

#87513 Move IngressFromManifest/IngressToManifest to ingress e2e fw
  test/e2e/framework/ingress/BUILD
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/framework/ingress/ingress_utils_test.go
  test/e2e/manifest/BUILD
  test/e2e/manifest/manifest.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/L

#87695 update github.com/docker/libnetwork to c8a5fca4a652
  go.mod
  go.sum
  vendor/github.com/docker/libnetwork/ipvs/constants.go
  vendor/github.com/docker/libnetwork/ipvs/netlink.go
  vendor/modules.txt
Labels: approved, area/dependency, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/network, size/S

#87741 python snippets should work on both old and new python versions
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/testing, size/M

#87758 Cleanup TopologyManager and update policy.Merge()
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/fake_cpu_manager.go
  pkg/kubelet/cm/cpumanager/policy.go
  pkg/kubelet/cm/cpumanager/policy_none.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/topology_hints_test.go
  pkg/kubelet/cm/devicemanager/manager_stub.go
  pkg/kubelet/cm/devicemanager/topology_hints.go
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
  pkg/kubelet/cm/devicemanager/types.go
  pkg/kubelet/cm/topologymanager/policy.go
  pkg/kubelet/cm/topologymanager/policy_best_effort.go
  pkg/kubelet/cm/topologymanager/policy_best_effort_test.go
  pkg/kubelet/cm/topologymanager/policy_none.go
  pkg/kubelet/cm/topologymanager/policy_none_test.go
  pkg/kubelet/cm/topologymanager/policy_restricted.go
  pkg/kubelet/cm/topologymanager/policy_restricted_test.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node_test.go
  pkg/kubelet/cm/topologymanager/policy_test.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/L

#87778 makes unavailableGauge metric to always reflect the current state of a service
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/M

#87788 Reduce overhead of error message formatting and allocation for NodeResource filter
  pkg/kubelet/lifecycle/BUILD
  pkg/kubelet/lifecycle/predicate.go
  pkg/kubelet/lifecycle/predicate_test.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, sig/scheduling, size/L

#87813 kube-aggregator: increase log level of AggregationController API group logging
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#87818 Check getNodeInfoError against nil
  pkg/volume/csi/csi_client.go
  pkg/volume/csi/csi_client_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/storage, size/S

#87823 Ensure testing credentials are labeled as such
  cmd/kube-apiserver/app/testing/testdata/README.md
  hack/testdata/README.md
  pkg/client/testdata/README.md
  pkg/controller/certificates/signer/testdata/README.md
  pkg/credentialprovider/aws/aws_credentials_test.go
  pkg/credentialprovider/config_test.go
  pkg/credentialprovider/gcp/metadata_test.go
  pkg/credentialprovider/keyring_test.go
  pkg/serviceaccount/jwt_test.go
  plugin/pkg/auth/authenticator/token/bootstrap/bootstrap_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/testing/testdata/README.md
  staging/src/k8s.io/apiextensions-apiserver/test/integration/apiserver.local.config/certificates/README.md
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/aes/README.md
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/README.md
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook_v1_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook_v1beta1_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
  staging/src/k8s.io/client-go/util/cert/testdata/README.md
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
  staging/src/k8s.io/kubectl/pkg/generate/versioned/secret_for_docker_registry_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_test.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/fixtures/README.md
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_test.go
  test/images/agnhost/porter/README.md
  test/images/volume/rbd/README.md
  test/integration/auth/node_test.go
  test/integration/master/synthetic_master_test.go
  test/integration/master/transformation_testcase.go
  test/integration/serviceaccount/service_account_test.go
  test/integration/serving/serving_test.go
Labels: approved, area/apiserver, area/cloudprovider, area/kubectl, area/test, cncf-cla: yes, committee/product-security, kind/cleanup, lgtm, release-note-none, sig/api-machinery, sig/apps, sig/auth, sig/cli, sig/cloud-provider, sig/testing, size/M

#87826 add myself to hack/OWNERS
  hack/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/contributor-experience, size/XS

#87829 implement backoff manager
  staging/src/k8s.io/apimachinery/pkg/util/wait/BUILD
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, size/L

#87830 Updating dependency sigs.k8s.io/yaml to version v1.2.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/yaml/.travis.yml
  vendor/sigs.k8s.io/yaml/OWNERS
  vendor/sigs.k8s.io/yaml/README.md
  vendor/sigs.k8s.io/yaml/go.mod
  vendor/sigs.k8s.io/yaml/go.sum
  vendor/sigs.k8s.io/yaml/yaml.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/S

#87838 Move 'path' package usage to 'path/filepath' (repeat the #87713)
  pkg/volume/csi/csi_plugin_test.go
  pkg/volume/csi/csi_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, size/S

#87866 Explicitly shutdown bazel after the target finishes
  build/root/Makefile
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#87585 build: Remove deb and rpm build definitions/specs
  build/BUILD
  build/debs/10-kubeadm.conf
  build/debs/50-kubeadm.conf
  build/debs/BUILD
  build/debs/OWNERS
  build/debs/kubeadm.conf
  build/debs/kubelet.service
  build/debs/postinst
  build/dependencies.yaml
  build/root/BUILD.root
  build/rpms/10-kubeadm.conf
  build/rpms/50-kubeadm.conf
  build/rpms/BUILD
  build/rpms/OWNERS
  build/rpms/cri-tools.spec
  build/rpms/kubeadm.conf
  build/rpms/kubeadm.spec
  build/rpms/kubectl.spec
  build/rpms/kubelet.env
  build/rpms/kubelet.service
  build/rpms/kubelet.spec
  build/rpms/kubernetes-cni.spec
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/release, size/L, ¯\_(ツ)_/¯

#87612 Make oidc authenticator audience agnostic
  pkg/kubeapiserver/authenticator/config.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/BUILD
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, size/L

#87845 PodTopologySpread plugin now excludes terminatingPods
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
  pkg/scheduler/testing/wrappers.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/scheduling, size/M

#87902 gce-addons: Make sure default/limit-range doesn't get overridden
  cluster/gce/addons/limit-range/limit-range.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/cluster-lifecycle, size/XS

#87201 fix e2e dual-stack test flakiness
  test/e2e/network/dual_stack.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/M

#87499 FC mount options
  pkg/volume/fc/attacher.go
  pkg/volume/fc/fc.go
  pkg/volume/fc/fc_util.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note, sig/storage, size/M

#87630 add a flag in azure auth module to omit spn: prefix in audience claim
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/BUILD
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/README.md
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, sig/auth, sig/cli, sig/cloud-provider, size/L

#87642 volume binder testing
  pkg/controller/volume/scheduling/scheduler_binder_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/storage, size/L

#87653 fix command variable exited with status 1
  hack/lib/util.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#87688 Add a fast path for adding new node in node_authorizer
  plugin/pkg/auth/authorizer/node/graph.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note-none, sig/auth, size/M

#87798 Fix non-ascii characters in test/e2e/common/projected_configmap.go
  test/e2e/common/projected_configmap.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S

#87874 fix staticcheck errors in vendor/k8s.io/legacy-cloud-providers/aws.
  hack/.staticcheck_failures
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_fakes.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cloud-provider, size/XS

#87879 CHANGELOG: Move changelogs into a subdir to delegate releng approvals
  CHANGELOG.md
  CHANGELOG/CHANGELOG-1.10.md
  CHANGELOG/CHANGELOG-1.11.md
  CHANGELOG/CHANGELOG-1.12.md
  CHANGELOG/CHANGELOG-1.13.md
  CHANGELOG/CHANGELOG-1.14.md
  CHANGELOG/CHANGELOG-1.15.md
  CHANGELOG/CHANGELOG-1.16.md
  CHANGELOG/CHANGELOG-1.17.md
  CHANGELOG/CHANGELOG-1.18.md
  CHANGELOG/CHANGELOG-1.2.md
  CHANGELOG/CHANGELOG-1.3.md
  CHANGELOG/CHANGELOG-1.4.md
  CHANGELOG/CHANGELOG-1.5.md
  CHANGELOG/CHANGELOG-1.6.md
  CHANGELOG/CHANGELOG-1.7.md
  CHANGELOG/CHANGELOG-1.8.md
  CHANGELOG/CHANGELOG-1.9.md
  CHANGELOG/OWNERS
  CHANGELOG/README.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/M

#87896 Add UpdateTwice and UpdateApply benchmarks for fieldmanager
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#87897 Revert "Collect some of scheduling metrics and scheduling throughput"
  test/integration/scheduler_perf/BUILD
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/integration/scheduler_perf/util.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/scheduling, sig/testing, size/L

#87900 Remove Error log for nil StartTime in preemption candidates
  pkg/scheduler/util/utils.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/scheduling, size/S

#87910 Use longer pod start timeouts for specific tests
  test/e2e/common/kubelet.go
  test/e2e/network/dns_common.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/XS

#87841 Fix non-ascii characters in test/e2e/node/pods.go
  test/e2e/node/pods.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, sig/testing, size/XS

#87892 Register conversions for kubectl testing types
  staging/src/k8s.io/kubectl/pkg/cmd/testing/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/testing/fake.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cli, size/L

#87390 Refactor docker specific oom const out of qos pkg
  pkg/kubelet/dockershim/BUILD
  pkg/kubelet/dockershim/cm/BUILD
  pkg/kubelet/dockershim/cm/container_manager_linux.go
  pkg/kubelet/dockershim/docker_sandbox.go
  pkg/kubelet/qos/policy.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/node, size/S

#87609 Fixed a failing test on a RBD mount scenario
  pkg/volume/rbd/rbd_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/storage, size/XS

#87725 Add defaults to pod affinity args
  pkg/scheduler/BUILD
  pkg/scheduler/algorithmprovider/BUILD
  pkg/scheduler/algorithmprovider/registry.go
  pkg/scheduler/algorithmprovider/registry_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/plugin.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring_test.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/XL

#87772 Ensure kubectl is available in default PATH
  cluster/gce/gci/configure-helper.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/testing, size/XS

#87885 Fix Golint errors in pkg/registry/core/pod
  hack/.golint_failures
  pkg/registry/core/pod/rest/log.go
  pkg/registry/core/pod/rest/subresources.go
  pkg/registry/core/pod/storage/storage.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/M

#85445 add indexer for storage cacher
  staging/src/k8s.io/apiserver/pkg/registry/generic/BUILD
  staging/src/k8s.io/apiserver/pkg/registry/generic/options.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/BUILD
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/storage_decorator.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/storage/interfaces.go
  staging/src/k8s.io/apiserver/pkg/storage/selection_predicate.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, size/L

#85856 Fix Cpu Requests priority Windows.
  pkg/kubelet/kuberuntime/kuberuntime_container_windows.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/node, size/S

#87881 Limit number of instances in single update to GCE target pool
  staging/src/k8s.io/legacy-cloud-providers/gce/gce.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_util.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/network, sig/scalability, size/L

#87904 Remove deprecated fields from kubescheduler.config.k8s.io/v1alpha2
  pkg/scheduler/apis/config/v1alpha2/BUILD
  pkg/scheduler/apis/config/v1alpha2/conversion.go
  pkg/scheduler/apis/config/v1alpha2/conversion_test.go
  pkg/scheduler/apis/config/v1alpha2/defaults.go
  pkg/scheduler/apis/config/v1alpha2/defaults_test.go
  pkg/scheduler/apis/config/v1alpha2/zz_generated.conversion.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/types.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note, sig/scheduling, size/L

#84620 Adds initial unit tests for tablegenerator.go
  pkg/printers/BUILD
  pkg/printers/tablegenerator_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, size/M

#85321 Added server-side printers for API priority and fairness
  pkg/printers/internalversion/BUILD
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
  test/integration/apiserver/print_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/L

#85889 `kubectl create clusterrolebinding` creates rbac.authorization.k8s.io/v1 object
  staging/src/k8s.io/kubectl/pkg/generate/versioned/BUILD
  staging/src/k8s.io/kubectl/pkg/generate/versioned/clusterrolebinding.go
  staging/src/k8s.io/kubectl/pkg/generate/versioned/clusterrolebinding_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cli, size/M

#86921 token cache: make fetch_total a counter
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/stats.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, size/S

#87242 SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run - set resource requests as well
  test/e2e/scheduling/predicates.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/scheduling, sig/testing, size/S

#87381 staticcheck: pkg/volume/fc, pkg/volume/portworx and pkg/volume/vspher…
  hack/.staticcheck_failures
  pkg/volume/fc/fc.go
  pkg/volume/portworx/portworx.go
  pkg/volume/vsphere_volume/vsphere_volume.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/storage, size/S

#87633 Prevent error message from being displayed during plugin list when path includes empty string
  staging/src/k8s.io/kubectl/pkg/cmd/plugin/plugin.go
  staging/src/k8s.io/kubectl/pkg/cmd/plugin/plugin_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cli, size/M

#87877 cluster: Add justaugustus as reviewer
  cluster/OWNERS
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS

#87928 LogResult if there is an error
  test/e2e/storage/utils/host_exec.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#87930 Fix non-ascii characters in test/e2e/storage
  test/e2e/storage/empty_dir_wrapper.go
  test/e2e/storage/testsuites/base_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/storage, sig/testing, size/XS

#87913 Add code to fix kubelet/metrics memory issue.
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/node, size/L

#87886 remove bash examples/comments from the v1beta1 and v1beta2 APIs
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  cmd/kubeadm/app/util/pubkeypin/pubkeypin_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/S

#87701 added env var WINDOWS_CNI_STORAGE_PATH and WINDOWS_CNI_VERSION
  build/dependencies.yaml
  cluster/gce/config-common.sh
  cluster/gce/util.sh
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/S

#87929 Ensure bazel is really brought down (ONLY on bazel-release target)
  build/root/Makefile
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#87858 kubelet: Debug pod status output diff is wrong
  pkg/kubelet/status/status_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/node, size/XS

#87924 [1.16] CHANGELOG: Move changelogs into a subdir to delegate releng approvals
  CHANGELOG.md
  CHANGELOG/CHANGELOG-1.16.md
  CHANGELOG/OWNERS
  CHANGELOG/README.md
  OWNERS
  OWNERS_ALIASES
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/L

#87925 [1.15] CHANGELOG: Move changelogs into a subdir to delegate releng approvals
  CHANGELOG.md
  CHANGELOG/CHANGELOG-1.15.md
  CHANGELOG/OWNERS
  CHANGELOG/README.md
  OWNERS
  OWNERS_ALIASES
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/L

#87922 [1.17] CHANGELOG: Move changelogs into a subdir to delegate releng approvals
  CHANGELOG.md
  CHANGELOG/CHANGELOG-1.17.md
  CHANGELOG/OWNERS
  CHANGELOG/README.md
  OWNERS_ALIASES
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/M

#87020 Automated cherry pick of #83362: Bind metrics-server containers to linux nodes to avoid
  cluster/addons/metrics-server/metrics-server-deployment.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note, sig/cluster-lifecycle, sig/instrumentation, size/XS

#83546 Fix golint in staging/src/k8s.io/apiserver/plugin/pkg/authenticator/password/passwordfile
  hack/.golint_failures
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/password/passwordfile/passwordfile.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, lifecycle/stale, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/auth, size/XS

#87927 Automated cherry pick of #87900: Remove Error log for nil StartTime
  pkg/scheduler/util/utils.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/scheduling, size/S

#83737 Automated cherry pick of #82264: openstack: do not delete LB in case of security group
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_loadbalancer.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, sig/cloud-provider, size/XS

#87022 Automated cherry pick of #83362: Bind metrics-server containers to linux nodes to avoid
  cluster/addons/metrics-server/metrics-server-deployment.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note, sig/cluster-lifecycle, size/XS

#87045 bump smd to version with backported bugfixes
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/typed/helpers.go
  vendor/sigs.k8s.io/structured-merge-diff/typed/validate.go
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cloud-provider, size/XS, wg/apply

#83738 Automated cherry pick of #82264: openstack: do not delete LB in case of security group
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/cloud-provider, size/XS

#86578 Validate Except of IPBlock for NetworkPolicy spec
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/network, size/S

#87453 kubeadm: dual-stack validation allow single stack
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
Labels: approved, area/apiserver, area/kubeadm, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/network, size/M

#87853 Do lenient decoding only for kubescheduler.config.k8s.io/v1alpha1
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/configfile.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  pkg/scheduler/apis/config/scheme/scheme.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/scheduling, size/L

#87941 fix: add non-retriable errors in azure clients
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_retry.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_retry_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/M

#87942 kubeadm: deprecate --kubelet-version command line option
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
  cmd/kubeadm/app/cmd/upgrade/node.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/deprecation, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XS

#87944 kubeadm: remove 'kubeadm alpha kubelet config download'
  cmd/kubeadm/app/cmd/alpha/BUILD
  cmd/kubeadm/app/cmd/alpha/kubelet.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/M

#79409 Modify Kubelet Pod Resources API to get only active pods
  pkg/kubelet/apis/podresources/server.go
  pkg/kubelet/apis/podresources/server_test.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_stub.go
  pkg/kubelet/cm/devicemanager/topology_hints.go
  pkg/kubelet/cm/devicemanager/types.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/api-change, lgtm, lifecycle/stale, needs-priority, ok-to-test, release-note, sig/node, size/M

#87908 Bump to latest SMD to pick up performance optimizations
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/duration.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/time.go
  staging/src/k8s.io/apimachinery/pkg/runtime/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/converter.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/typeconverter.go
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v3/fieldpath/fromvalue.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/fieldpath/serialize.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/typed/helpers.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/typed/merge.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/typed/remove.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/typed/tofieldset.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/typed/typed.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/typed/validate.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/BUILD
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/allocator.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/fields.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/list.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/listreflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/listunstructured.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/map.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/mapreflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/mapunstructured.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/reflectcache.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/structreflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/value.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/valuereflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/valueunstructured.go
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/L

#85637 Flip CSIMigrationOpenStack flag to be beta and off by default
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/XS

#87947 remove TODO and unused code
  test/e2e/framework/pod/wait.go
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#85029 Remove references to prometheus is test/e2e
  staging/src/k8s.io/component-base/metrics/BUILD
  staging/src/k8s.io/component-base/metrics/testutil/metrics.go
  test/e2e/storage/BUILD
  test/e2e/storage/volume_metrics.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, sig/storage, sig/testing, size/M

#87914 Support config kubelet provider id for local cluster
  hack/local-up-cluster.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note-none, sig/cloud-provider, size/XS

#83507 Prevent returning invalid usageNanoCores value when cpuacct is reset in a live container
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, size/S

#87931 Ability to use containerd as runtime in kube-up (on Ubuntu)
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
  cluster/gce/util.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/L

#80651 Add error check in kubectl proxy on server setup
  hack/.staticcheck_failures
  staging/src/k8s.io/kubectl/pkg/cmd/proxy/proxy.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/cli, size/S

#87959 add StatusConflict(409) as non-retriable error for disksClient
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#87957 Treat replaced events that didn't change resourceVersion as resync events
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, size/S

#87936 Refine WaitingPod interface for scheduler Permit plugin
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/framework/v1alpha1/waiting_pods_map.go
Labels: approved, cncf-cla: yes, kind/bug, kind/design, lgtm, needs-priority, release-note, sig/scheduling, size/S

#87958 tolerate when bazel shutdown errors out
  build/root/Makefile
Labels: approved, area/deflake, cncf-cla: yes, kind/cleanup, kind/flake, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#87696 Switch node authorizer indexes to reference counts, add fastpath edge removal
  plugin/pkg/auth/authorizer/node/graph.go
  plugin/pkg/auth/authorizer/node/graph_test.go
  plugin/pkg/auth/authorizer/node/intset.go
  plugin/pkg/auth/authorizer/node/intset_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/auth, size/L

#87937 Automated cherry pick of #87913: Add code to fix kubelet/metrics memory issue.
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/L

#87940 Automated cherry pick of #87913: Add code to fix kubelet/metrics memory issue.
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/L

#87938 Automated cherry pick of #87913: Add code to fix kubelet/metrics memory issue.
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/L

#87991 remove authn/z.CreateContext expansions
  hack/.golint_failures
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/BUILD
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/BUILD
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/fake/fake_tokenreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/generated_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1/tokenreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/fake/fake_tokenreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/generated_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authentication/v1beta1/tokenreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_localsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_selfsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_selfsubjectrulesreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/fake/fake_subjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/generated_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/localsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/selfsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/selfsubjectrulesreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1/subjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_generated_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_localsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_selfsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_selfsubjectrulesreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/fake/fake_subjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/generated_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/localsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/selfsubjectaccessreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/selfsubjectrulesreview_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/authorization/v1beta1/subjectaccessreview_expansion.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, size/XL

#87949 Fix non-ascii characters in test/e2e_node and test/network.
  test/e2e/network/service.go
  test/e2e_node/startup_probe_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/network, sig/testing, size/XS

#87950 test/ : fix non-ascii characters
  test/e2e/common/configmap_volume.go
  test/e2e/common/container_probe.go
  test/e2e/common/lifecycle_hook.go
  test/e2e/common/projected_downwardapi.go
  test/e2e/common/projected_secret.go
  test/e2e/common/secrets.go
  test/e2e/common/secrets_volume.go
  test/e2e/framework/config/config_test.go
  test/e2e/kubectl/kubectl.go
Labels: approved, area/e2e-test-framework, area/kubectl, area/kubelet, area/release-eng, area/test, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/apps, sig/cli, sig/node, sig/release, sig/testing, size/M

#87982 Add damemi to sig-scheduling owners
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, size/XS

#87984 Enable field management for all new objects
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#87871 Use NodeSelector instead of NodeName in hostexec Pod
  test/e2e/framework/pod/node_selection.go
  test/e2e/storage/utils/host_exec.go
Labels: approved, area/deflake, area/e2e-test-framework, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/S

#87527 Added 'No resources found' message to describe <type> and top pod commands
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod.go
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cli, size/L

#87847 Cleanup "slow-path" logic in scheduler Filters
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering_test.go
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
  pkg/scheduler/framework/plugins/nodeports/node_ports_test.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/BUILD
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/plugins/serviceaffinity/BUILD
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity_test.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/scheduling, size/XL
