Repository kubernetes/kubernetes, pull requests merged in 2020-09, with the labels that each got.

#93710 Detect volume attach-ability in the middle of attaching
  pkg/controller/volume/attachdetach/populator/desired_state_of_world_populator.go
  pkg/controller/volume/attachdetach/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/cache/desired_state_of_world.go
  pkg/kubelet/volumemanager/populator/BUILD
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/util.go
  test/e2e/storage/csi_mock_volume.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/apps, sig/node, sig/storage, sig/testing, size/L

#94353 Improve the prompt message when kubeadm init is successful
  cmd/kubeadm/app/cmd/init.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#92796 code clean for podgc
  pkg/controller/podgc/gc_controller.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/apps, size/XS

#94287 Update default etcd server to 3.4.13
  build/dependencies.yaml
  build/workspace.bzl
  cluster/gce/config-test.sh
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/nodes_util.go
  test/utils/image/manifest.go
Labels: approved, area/e2e-test-framework, area/etcd, area/kubeadm, area/provider/gcp, area/test, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, release-note, sig/api-machinery, sig/cloud-provider, sig/cluster-lifecycle, sig/testing, size/M

#93638 Avoid dereferencing same endpoint twice on the deletion or update of a service
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, sig/windows, size/L

#94126 fix: use sensitiveOptions on Windows mount
  pkg/volume/azure_file/azure_file.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/XS

#94272 remove deprecated kubelet endpoint /metrics/resource/v1alpha1
  pkg/kubelet/apis/BUILD
  pkg/kubelet/apis/resourcemetrics/v1alpha1/BUILD
  pkg/kubelet/apis/resourcemetrics/v1alpha1/config.go
  pkg/kubelet/server/BUILD
  pkg/kubelet/server/auth_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  pkg/kubelet/server/stats/BUILD
  pkg/kubelet/server/stats/prometheus_resource_metrics.go
  pkg/kubelet/server/stats/prometheus_resource_metrics_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/api-change, kind/cleanup, kind/deprecation, lgtm, priority/backlog, release-note, sig/instrumentation, sig/node, size/L

#93548 kubectl: Allow --patch-file to be passed to `kubectl patch`
  staging/src/k8s.io/kubectl/pkg/cmd/patch/patch.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cli, size/M

#93646 let panics propagate up when processLoop in informer controller panic in client-go
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/M

#93773 fix(kubelet): protect `containerCleanupInfos` from concurrent map writes
  pkg/kubelet/dockershim/docker_container.go
  pkg/kubelet/dockershim/docker_container_test.go
  pkg/kubelet/dockershim/docker_service.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/node, size/M

#93876 Fix waiting for PVC to get bound
  test/e2e/framework/pv/pv.go
  test/e2e/storage/csi_mock_volume.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, kind/flake, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/S

#94107 Updating kube-proxy to trim space from loadBalancerSourceRanges
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/network, size/M

#94204 Impersonated user with a specified group should not fail flow schema match in Priority & Fairness
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation_test.go
  test/cmd/authorization.sh
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/api-machinery, sig/auth, sig/testing, size/L

#94309 Deprioritize extensions/v1beta1 in discovery
  cmd/kube-apiserver/app/aggregator.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/cli, size/XS

#94372 autoscaling: Omit optional field `StabilizationWindowSeconds` when empty
  staging/src/k8s.io/api/autoscaling/v2beta2/types.go
Labels: api-review, approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#94373 relax matcher for ResourceMetricsAPI test
  test/e2e_node/resource_metrics_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/node, sig/testing, size/XS

#94395 kubeadm: Ensure etcd manifests are regenerated upon upgrade
  cmd/kubeadm/app/phases/upgrade/staticpods.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XS

#93946 Refactor pkg/controllers/resourcequota to fix golint errors
  cmd/kube-controller-manager/app/core.go
  hack/.golint_failures
  pkg/controller/resourcequota/doc.go
  pkg/controller/resourcequota/resource_quota_controller.go
  pkg/controller/resourcequota/resource_quota_controller_test.go
  pkg/controller/resourcequota/resource_quota_monitor.go
  test/integration/quota/quota_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/api-machinery, sig/apps, sig/testing, size/M

#93962 Fix deleting loadbalancer after resource group in azure
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_error.go
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_error_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cloud-provider, size/M

#94111 kubelet, cgroupv2: do not create /sys/fs/cgroup/sys with cgroupfs
  pkg/kubelet/cm/cgroup_manager_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/S

#94355 Ensure getPrimaryInterfaceID not panic when network interfaces for Azure VMSS are null
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cloud-provider, size/S

#94376 Skip TestLoopbackHostPortIPv6 run on non-IPv6 env
  staging/src/k8s.io/apiserver/pkg/server/config_selfclient_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#93702 kubeadm: reset don't unmount /var/lib/kubelet if it is mounted
  cmd/kubeadm/app/cmd/phases/reset/unmount_linux.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, kind/regression, lgtm, ok-to-test, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XS

#94317 Fix FakeClock::Reset to always succeed
  staging/src/k8s.io/apimachinery/pkg/util/clock/clock.go
  staging/src/k8s.io/apimachinery/pkg/util/clock/clock_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/S

#89582 Add SCTP Network Policy tests
  build/dependencies.yaml
  test/e2e/network/network_policy.go
  test/e2e/network/networking.go
  test/utils/image/manifest.go
Labels: approved, area/dependency, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, sig/testing, size/L

#90014 AWS: remove volume IOPS limit
  pkg/volume/awsebs/aws_util.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/XS

#93492 bind metadata proxy to 0.0.0.0
  cluster/addons/metadata-proxy/gce/metadata-proxy.yaml
  cluster/gce/gci/configure-helper.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/XS

#93108 fix HandleCrash() order
  staging/src/k8s.io/apimachinery/pkg/watch/streamwatcher.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, size/XS

#93423 Fix GCE ILB code to support protocol change
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cloud-provider, sig/network, size/M

#94180 Ensure backoff step is set to 1 for Azure armclient
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/azure_armclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/azure_armclient_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/S

#94316 Fix bug in reflector not detecting "Too large resource version" error
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, size/M

#94340 Update max data disk count with new instance types
  pkg/volume/azure_dd/azure_dd_max_disk_count.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/M

#90980 Avoid using socket for hints in generateCPUTopologyHints
  pkg/kubelet/cm/BUILD
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/topology/BUILD
  pkg/kubelet/cm/cpumanager/topology/topology.go
  pkg/kubelet/cm/cpumanager/topology/topology_test.go
  pkg/kubelet/cm/cpumanager/topology_hints_test.go
  pkg/kubelet/cm/devicemanager/BUILD
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/topologymanager/BUILD
  pkg/kubelet/cm/topologymanager/topology_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, size/L

#93865 Automated cherry pick of #93567: Make AttachDisk idempotent again
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  test/e2e/storage/pd.go
  test/e2e/storage/utils/BUILD
  test/e2e/storage/utils/ebs.go
Labels: approved, area/cloudprovider, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, sig/testing, size/L

#93976 Automated cherry pick of #92203: add sjenning as kubelet approver
  pkg/kubelet/OWNERS
  pkg/kubelet/cadvisor/OWNERS
  pkg/kubelet/cm/OWNERS
  pkg/kubelet/cm/cpumanager/OWNERS
  pkg/kubelet/cm/cpuset/OWNERS
  pkg/kubelet/eviction/OWNERS
  pkg/kubelet/images/OWNERS
  pkg/kubelet/metrics/OWNERS
  pkg/kubelet/preemption/OWNERS
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/S

#94116 Automated cherry pick of #94086: Updating EndpointSlice controller to wait for all caches to
  pkg/controller/endpointslice/endpointslice_controller.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/apps, sig/network, size/XS

#93866 Automated cherry pick of #93567: Make AttachDisk idempotent again
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  test/e2e/storage/pd.go
  test/e2e/storage/utils/BUILD
  test/e2e/storage/utils/ebs.go
Labels: approved, area/cloudprovider, area/dependency, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, sig/testing, size/L

#93977 Automated cherry pick of #92203: add sjenning as kubelet approver
  pkg/kubelet/OWNERS
  pkg/kubelet/cadvisor/OWNERS
  pkg/kubelet/cm/OWNERS
  pkg/kubelet/cm/cpumanager/OWNERS
  pkg/kubelet/cm/cpuset/OWNERS
  pkg/kubelet/eviction/OWNERS
  pkg/kubelet/images/OWNERS
  pkg/kubelet/metrics/OWNERS
  pkg/kubelet/preemption/OWNERS
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/S

#94118 Automated cherry pick of #94086: Updating EndpointSlice controller to wait for all caches to
  pkg/controller/endpointslice/endpointslice_controller.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/apps, sig/network, size/XS

#93798 Automated cherry pick of #93790: Fix namespace controller cleanup orphaning
  pkg/controller/namespace/deletion/BUILD
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter_test.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, sig/apps, size/M

#93799 Automated cherry pick of #93790: Fix namespace controller cleanup orphaning
  pkg/controller/namespace/deletion/BUILD
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter_test.go
  vendor/modules.txt
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/api-machinery, sig/apps, size/M

#94387 fix vendor/k8s.io/apimachinery/pkg/conversion staticcheck
  hack/.staticcheck_failures
  staging/src/k8s.io/apimachinery/pkg/conversion/BUILD
  staging/src/k8s.io/apimachinery/pkg/conversion/converter.go
  staging/src/k8s.io/apimachinery/pkg/conversion/converter_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/M

#88349 fix cluster/log-dump/log-dump.sh shellcheck failures
  cluster/log-dump/log-dump.sh
  hack/.shellcheck_failures
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cluster-lifecycle, sig/scalability, sig/testing, size/M

#93985 update test to match validation filter of pods
  pkg/kubelet/config/config_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/node, size/XS

#93406 Remove phantoms from dump_requests output
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller_debug.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, size/S

#94338 fixed golint error in pkg/apis/admissionregistration/validation
  hack/.golint_failures
  pkg/apis/admissionregistration/v1/defaults.go
  pkg/apis/admissionregistration/v1/register.go
  pkg/apis/admissionregistration/v1beta1/defaults.go
  pkg/apis/admissionregistration/v1beta1/register.go
  pkg/apis/admissionregistration/validation/validation.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/auth, size/S

#93394 Shorten watch restart test, run in parallel
  test/integration/apimachinery/watch_restart_test.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, priority/important-longterm, release-note-none, sig/api-machinery, sig/testing, size/L

#94398 kubeadm: make the scheduler and KCM connect to the local API endpoint
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
  cmd/kubeadm/app/util/endpoint.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cluster-lifecycle, size/L

#93164 Use canonical import path in client-gen input-base
  hack/update-codegen.sh
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/BUILD
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/client_generator.go
  staging/src/k8s.io/code-generator/cmd/conversion-gen/generators/BUILD
  staging/src/k8s.io/code-generator/cmd/conversion-gen/generators/conversion.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/packages.go
  staging/src/k8s.io/code-generator/pkg/util/build.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#94134 Make similar buckets for api and etcd request duration histogram
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/instrumentation, size/XS

#91596 Mount utils
  go.mod
  hack/.golint_failures
  staging/publishing/rules.yaml
  staging/repos_generated.bzl
  staging/src/BUILD
  staging/src/k8s.io/mount-utils/.github/PULL_REQUEST_TEMPLATE.md
  staging/src/k8s.io/mount-utils/BUILD
  staging/src/k8s.io/mount-utils/LICENSE
  staging/src/k8s.io/mount-utils/OWNERS
  staging/src/k8s.io/mount-utils/README.md
  staging/src/k8s.io/mount-utils/SECURITY_CONTACTS
  staging/src/k8s.io/mount-utils/code-of-conduct.md
  staging/src/k8s.io/mount-utils/doc.go
  staging/src/k8s.io/mount-utils/fake_mounter.go
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/mount-utils/mount.go
  staging/src/k8s.io/mount-utils/mount_helper_common.go
  staging/src/k8s.io/mount-utils/mount_helper_test.go
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/mount-utils/mount_helper_unix_test.go
  staging/src/k8s.io/mount-utils/mount_helper_windows.go
  staging/src/k8s.io/mount-utils/mount_helper_windows_test.go
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
  staging/src/k8s.io/mount-utils/mount_test.go
  staging/src/k8s.io/mount-utils/mount_unsupported.go
  staging/src/k8s.io/mount-utils/mount_windows.go
  staging/src/k8s.io/mount-utils/mount_windows_test.go
  staging/src/k8s.io/mount-utils/safe_format_and_mount_test.go
  vendor/k8s.io/mount-utils
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/conformance, area/dependency, area/kubectl, area/kubelet, area/release-eng, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/architecture, sig/cli, sig/cloud-provider, sig/instrumentation, sig/network, sig/node, sig/release, sig/scheduling, sig/testing, size/XXL

#94447 remove --verbose_failures from .bazelrc
  build/root/.bazelrc
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/testing, size/XS

#93979 proxy/userspace: use waitgroups instead of sketchy atomic ops in testcases
  pkg/proxy/userspace/proxier.go
  pkg/proxy/userspace/proxier_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/network, size/XL

#94235 Add exponential backoff for connection refused errors
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
Labels: approved, area/apiserver, area/code-generation, area/release-eng, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/instrumentation, sig/release, size/M

#94374 Start CSI proxy as service
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cloud-provider, sig/windows, size/XS

#94421 kubeadm: Fix `upgrade plan` for air-gapped setups
  cmd/kubeadm/app/cmd/upgrade/common.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/S

#94442 Automated cherry pick of #94398: kubeadm: make the scheduler and KCM connect to local endpoint
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
  cmd/kubeadm/app/util/endpoint.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/L

#94264 Add PR #89069 Action Required to 1.19 release notes
  CHANGELOG/CHANGELOG-1.19.md
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/documentation, lgtm, priority/critical-urgent, release-note-none, sig/release, size/XS

#93176 Fix for host path test case
  pkg/volume/hostpath/host_path.go
  pkg/volume/hostpath/host_path_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/storage, size/S

#94042 Automated cherry pick of #93773: fix(kubelet): protect `containerCleanupInfos` from concurrent map writes
  pkg/kubelet/dockershim/docker_container.go
  pkg/kubelet/dockershim/docker_container_test.go
  pkg/kubelet/dockershim/docker_service.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/M

#92351 Automated cherry pick of #92331: fix: update max azure disk max count
  pkg/volume/azure_dd/azure_dd_max_disk_count.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/M

#94148 [1.18] Update to json-patch 4.9.0
  Godeps/LICENSES
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/S

#94371 fix staticcheck errors in resourcequota
  hack/.staticcheck_failures
  pkg/controller/resourcequota/resource_quota_controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/apps, size/XS

#94385 fix typos in cmd/kubeadm
  cmd/kubeadm/app/util/initsystem/initsystem_unix.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS

#93864 Automated cherry pick of #88251: fix incorrect configuration of kubepods.slice unit by kubelet
  pkg/kubelet/cm/node_container_manager_linux.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, size/XS

#94041 Automated cherry pick of #83507: correctly handle resetting cpuacct in a live container
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/node, sig/windows, size/S

#94149 [1.17] Update to json-patch 4.9.0
  Godeps/LICENSES
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/S

#93947 Fix drain forbidden
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/cli, size/M

#94043 Automated cherry pick of #93773: fix(kubelet): protect `containerCleanupInfos` from concurrent map writes
  pkg/kubelet/dockershim/docker_container.go
  pkg/kubelet/dockershim/docker_container_test.go
  pkg/kubelet/dockershim/docker_service.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/M

#93919 Modify the warning message format from "%d" to "%v" in shared_informer.go.
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/XS

#93975 Removed broken link to Analytics
  CHANGELOG/CHANGELOG-1.2.md
  CHANGELOG/CHANGELOG-1.3.md
  CHANGELOG/CHANGELOG-1.4.md
  CHANGELOG/CHANGELOG-1.5.md
  CHANGELOG/CHANGELOG-1.6.md
  CHANGELOG/CHANGELOG-1.9.md
  CHANGELOG/README.md
  README.md
  build/README.md
  cluster/README.md
  cluster/addons/README.md
  cluster/addons/addon-manager/README.md
  cluster/addons/calico-policy-controller/README.md
  cluster/addons/dashboard/README.md
  cluster/addons/dns-horizontal-autoscaler/MAINTAINERS.md
  cluster/addons/dns-horizontal-autoscaler/README.md
  cluster/addons/dns/kube-dns/README.md
  cluster/addons/fluentd-elasticsearch/README.md
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/README.md
  cluster/addons/fluentd-gcp/README.md
  cluster/addons/node-problem-detector/MAINTAINERS.md
  cluster/addons/node-problem-detector/README.md
  logo/usage_guidelines.md
  test/e2e/README.md
  test/e2e_node/README.md
  test/fixtures/doc-yaml/README.md
  test/soak/serve_hostnames/README.md
  translations/README.md
Labels: approved, area/provider/gcp, area/release-eng, area/test, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, sig/instrumentation, sig/node, sig/release, sig/testing, size/M

#93275 kubeadm: Add a preflight check that the control-plane node has at least 1700MB of RAM
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/preflight/checks_darwin.go
  cmd/kubeadm/app/preflight/checks_linux.go
  cmd/kubeadm/app/preflight/checks_test.go
  cmd/kubeadm/app/preflight/checks_windows.go
Labels: approved, area/dependency, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/cluster-lifecycle, size/M

#94299 fix kubeadm update coredns with skip pending pod
  cmd/kubeadm/app/phases/addons/dns/BUILD
  cmd/kubeadm/app/phases/addons/dns/dns.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M

#94451 kubectl: Fix vendored dependency
  LICENSES/vendor/github.com/fvbommel/sortorder/LICENSE
  go.mod
  go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubectl/pkg/cmd/get/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/get/sorter.go
  vendor/BUILD
  vendor/github.com/fvbommel/sortorder/.gitignore
  vendor/github.com/fvbommel/sortorder/BUILD
  vendor/github.com/fvbommel/sortorder/LICENSE
  vendor/github.com/fvbommel/sortorder/README.md
  vendor/github.com/fvbommel/sortorder/doc.go
  vendor/github.com/fvbommel/sortorder/go.mod
  vendor/github.com/fvbommel/sortorder/go.sum
  vendor/github.com/fvbommel/sortorder/natsort.go
  vendor/modules.txt
  vendor/vbom.ml/util/sortorder/README.md
Labels: approved, area/dependency, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cli, size/S

#94460 Remove default conversions
  staging/src/k8s.io/apimachinery/pkg/conversion/converter.go
  staging/src/k8s.io/apimachinery/pkg/conversion/converter_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme_test.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/conversion_test.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/conversion_test.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, size/L

#93992 Make clustername configurable in generation of kubeconfig using kubeadm command
  cmd/kubeadm/app/cmd/alpha/kubeconfig.go
  cmd/kubeadm/app/cmd/alpha/kubeconfig_test.go
  cmd/kubeadm/test/kubeconfig/util.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note, sig/cluster-lifecycle, size/M

#94031 test(csi): deflake TestAttacherWithCSIDriver
  pkg/volume/csi/csi_attacher_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/storage, size/M

#87054 Made the flag which defined in cadvisor can be used when kubelet config start cmd
  cmd/kubelet/app/options/globalflags_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/node, size/XS

#94397 Stop setting SelfLink in kube-apiserver.
  staging/src/k8s.io/apiextensions-apiserver/test/integration/basic_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/subresources_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/patchhandler_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/e2e/apimachinery/table_conversion.go
  test/integration/apiserver/apply/apply_test.go
  test/integration/client/BUILD
  test/integration/client/client_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/L

#94466 Update security contacts for sig-cli
  staging/src/k8s.io/cli-runtime/SECURITY_CONTACTS
  staging/src/k8s.io/kubectl/SECURITY_CONTACTS
  staging/src/k8s.io/sample-cli-plugin/SECURITY_CONTACTS
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cli, size/S

#92614 Don't create a new sandbox for pod with RestartPolicyOnFailure if all containers succeeded
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  test/e2e/node/BUILD
  test/e2e/node/pods.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/node, sig/testing, size/L

#94485 prefer double quotes and consistent usage in .proto files.
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/node, size/XS

#94427 Automated cherry pick of #93646: let panics propagate up when processLoop panic
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/M

#94425 Automated cherry pick of #93646: let panics propagate up when processLoop panic
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/M

#94345 Automated cherry pick of #94306: fix(azure): check error returned by scaleSet.getVMSS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, sig/cloud-provider, size/XS

#94409 Automated cherry pick of #94204: Add impersonated user to system:authenticated group
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation_test.go
  test/cmd/authorization.sh
Labels: approved, area/apiserver, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/testing, size/L

#94283 Automated cherry pick of #94246: Fix issue on skipTest in storage suits
  test/e2e/storage/testsuites/base.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/storage, sig/testing, size/M

#94431 Automated cherry pick of #94316: Fixed reflector not recovering from "Too large resource
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/api-machinery, size/M

#94488 Deflake TestServiceRegistryExternalTrafficHealthCheckNodePortUserAllocation
  pkg/registry/core/service/storage/BUILD
  pkg/registry/core/service/storage/rest_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, needs-priority, release-note-none, sig/network, size/S

#94492 Updating winkernel kube-proxy OWNERS file
  pkg/proxy/winkernel/OWNERS
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/network, size/XS

#93184 Automated cherry pick of #92957: Make nested /volume/ repo images overridable
  test/utils/image/manifest.go
  test/utils/image/manifest_test.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/S

#93814 Automated cherry pick of #93722: Do not evict pods which tolerate all NoExecute taints
  pkg/controller/nodelifecycle/scheduler/BUILD
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controller/nodelifecycle/scheduler/taint_manager_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/apps, size/M

#94119 Automated cherry pick of #91399: Fix Endpoint/EndpointSlice pod change detection
  pkg/controller/endpoint/BUILD
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
  pkg/controller/util/endpoint/BUILD
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/apps, sig/network, size/XL

#94226 Automated cherry pick of #90227: kubectl: fix the Scheduled eventTime is <unknown> when use kubectl describe pod xxx
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cli, size/S

#94252 Automated cherry pick of #89999: If firstTimestamp is not set use eventTime when printing event
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note, sig/cli, size/M, ¯\_(ツ)_/¯

#94343 Automated cherry pick of #94294: Remove duplicate nodeSelector
  cluster/addons/dns-horizontal-autoscaler/dns-horizontal-autoscaler.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#94430 Automated cherry pick of #94316: Fixed reflector not recovering from "Too large resource
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/api-machinery, size/M

#94441 Automated cherry pick of #90897: Append suffix 'i' only if needed
  pkg/volume/emptydir/empty_dir_linux.go
  pkg/volume/emptydir/empty_dir_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/storage, size/S

#94475 Automated cherry pick of #93687: kubectl describe pod: use ReportingController as an event source
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cli, size/S

#93185 Automated cherry pick of #92957: Make nested /volume/ repo images overridable
  test/utils/image/manifest.go
  test/utils/image/manifest_test.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/S

#94348 Automated cherry pick of #94306: fix(azure): check error returned by scaleSet.getVMSS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, sig/cloud-provider, size/XS

#94410 Automated cherry pick of #94204: Add impersonated user to system:authenticated group
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation_test.go
  test/cmd/authorization.sh
Labels: approved, area/apiserver, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/testing, size/L

#94342 Automated cherry pick of #94294: Remove duplicate nodeSelector
  cluster/addons/dns-horizontal-autoscaler/dns-horizontal-autoscaler.yaml
Labels: approved, area/provider/gcp, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#94344 Automated cherry pick of #94306: fix(azure): check error returned by scaleSet.getVMSS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, sig/cloud-provider, size/XS

#94352 Automated cherry pick of #93773: fix(kubelet): protect `containerCleanupInfos` from concurrent map writes
  pkg/kubelet/dockershim/docker_container.go
  pkg/kubelet/dockershim/docker_container_test.go
  pkg/kubelet/dockershim/docker_service.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, size/M

#94422 Automated cherry pick of #94421: kubeadm: Fix `upgrade plan` for air-gapped setups
  cmd/kubeadm/app/cmd/upgrade/common.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, sig/cluster-lifecycle, size/S

#94253 Automated cherry pick of #91311: Ensuring EndpointSlice controller does not create
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/apps, sig/network, size/L

#94408 Automated cherry pick of #94204: Add impersonated user to system:authenticated group
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation_test.go
  test/cmd/authorization.sh
Labels: approved, area/apiserver, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/testing, size/L

#94476 fix vendor/k8s.io/apimachinery/pkg/runtime/serializer/versioning staticcheck
  hack/.staticcheck_failures
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/S

#94426 Automated cherry pick of #93646: let panics propagate up when processLoop panic
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/M

#93815 Automated cherry pick of #93722: Do not evict pods which tolerate all NoExecute taints
  pkg/controller/nodelifecycle/scheduler/BUILD
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controller/nodelifecycle/scheduler/taint_manager_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/apps, size/M

#93605 Stop ignoring unit test flakes
  build/root/.bazelrc
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/XS

#94326 Manual cherry pick of #90927: remove oom TestStartingWatcher ""unit"" test
  pkg/kubelet/oom/BUILD
  pkg/kubelet/oom/oom_watcher_linux_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/node, size/M

#92940 Fix naming inconsistency in scheduler plugin interface comments
  pkg/scheduler/framework/v1alpha1/interface.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/scheduling, size/M

#93843 Fast return when no any matched anti-affinity terms
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/scheduling, size/S

#94084 Add logging when fail to kill container or pod
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/node, size/XS

#94483 Improve ability to debug Events e2e failure
  staging/src/k8s.io/client-go/tools/record/event.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS

#94390 More testcases for GOAWAY
  staging/src/k8s.io/apiserver/pkg/server/filters/goaway_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/instrumentation, size/L

#94479 kubeadm: apply resource requests in the etcd pod spec
  cmd/kubeadm/app/phases/etcd/BUILD
  cmd/kubeadm/app/phases/etcd/local.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/cluster-lifecycle, size/S

#94506 kubeadm: remove the CoreDNS check for supported image digests
  cmd/kubeadm/app/phases/addons/dns/BUILD
  cmd/kubeadm/app/phases/addons/dns/dns.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M

#94507 Automated cherry pick of #94506: kubeadm: remove the CoreDNS check for supported image digests
  cmd/kubeadm/app/phases/addons/dns/dns.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-soon, sig/cluster-lifecycle, size/M

#94529 Deflake unit tests
  cmd/kube-scheduler/app/server_test.go
  pkg/probe/http/http_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/goaway_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, sig/scheduling, size/M

#94534 test(iptables): deflake TestRestoreAllGrabOldLock
  pkg/util/iptables/iptables_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/network, size/S

#94544 Deflake serving options, avoid hard-coding ports
  staging/src/k8s.io/apiserver/pkg/server/options/serving_unix_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#94325 Automated cherry pick of #86232: Clean up conformance tar test data
  cluster/images/conformance/go-runner/BUILD
  cluster/images/conformance/go-runner/tar_test.go
  cluster/images/conformance/go-runner/testdata/tartest/file1
  cluster/images/conformance/go-runner/testdata/tartest/file2
  cluster/images/conformance/go-runner/testdata/tartest/subdir/file4
Labels: approved, area/conformance, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/release, size/M

#94405 Automated cherry pick of #92878: cleanup: print warning message only if the function does not finish within 30 seconds
  pkg/volume/volume_linux.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/instrumentation, sig/storage, size/XS

#94502 Automated cherry pick of #93909: Update snapshot controller to use k8s.gcr.io
  cluster/addons/volumesnapshots/volume-snapshot-controller/volume-snapshot-controller-deployment.yaml
Labels: approved, area/provider/gcp, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/storage, size/XS

#93910 Automated cherry pick of #93521: Update e2e csi images to k8s.gcr.io
  test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  test/e2e/testing-manifests/storage-csi/gce-pd/node_ds.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-attacher.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-provisioner.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-resizer.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/utils/image/manifest.go
  test/utils/image/manifest_test.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/M

#94322 Automated cherry pick of #90927: remove oom TestStartingWatcher ""unit"" test
  pkg/kubelet/oom/oom_watcher_linux_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/node, size/S

#94503 Automated cherry pick of #93909: Update snapshot controller to use k8s.gcr.io
  cluster/addons/volumesnapshots/volume-snapshot-controller/volume-snapshot-controller-deployment.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/storage, size/XS

#94543 Deflake port forward tests to avoid hard-coded local ports
  pkg/client/tests/portfoward_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#94536 Automated cherry pick of #94287: Update default etcd server to 3.4.13
  build/dependencies.yaml
  build/workspace.bzl
  cluster/gce/config-test.sh
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/nodes_util.go
  test/utils/image/manifest.go
Labels: approved, area/e2e-test-framework, area/etcd, area/kubeadm, area/provider/gcp, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cloud-provider, sig/cluster-lifecycle, sig/testing, size/M

#94537 test(azure): Deflake TestCacheNoConcurrentGet
  staging/src/k8s.io/legacy-cloud-providers/azure/cache/azure_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/cache/azure_cache_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/cloud-provider, size/S

#94406 Automated cherry pick of #92878: cleanup: print warning message only if the function does not finish within 30 seconds
  pkg/volume/volume_linux.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/instrumentation, sig/storage, size/XS

#94541 Deflake cpumanager checkpoint unit tests
  pkg/kubelet/cm/cpumanager/state/state_checkpoint_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/node, size/M

#94535 Speed up slow Kubeadm unit tests, avoid mutating global variables
  cmd/kubeadm/app/cmd/alpha/certs_test.go
  cmd/kubeadm/app/cmd/phases/init/certs_test.go
  cmd/kubeadm/app/phases/certs/certlist.go
  cmd/kubeadm/app/phases/certs/certs_test.go
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/test/cmd/init_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/L

#94112 Remove canonicalization of endpoints by endpoints controller for better comparison
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/registry/core/endpoint/BUILD
  pkg/registry/core/endpoint/strategy.go
  test/integration/BUILD
  test/integration/endpoints/BUILD
  test/integration/endpoints/endpoints_test.go
  test/integration/endpoints/main_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/apps, sig/network, sig/testing, size/L

#94549 test(kuberuntime): deflake TestRecordOperation
  pkg/kubelet/kuberuntime/instrumented_services_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/node, size/XS

#94554 test(watch-tool): deflake TestRetryWatcherToFinishWithUnreadEvents
  staging/src/k8s.io/client-go/tools/watch/retrywatcher_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#94556 test(workqueue): deflake TestMetrics
  staging/src/k8s.io/client-go/util/workqueue/metrics_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS

#91423 kubectl: Use Fprintf
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS

#94124 Add metrics for azure service operations (route and loadbalancer).
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/metrics/azure_metrics.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/instrumentation, size/L

#94078 ARM client: survive empty response and error
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/azure_armclient.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/cloud-provider, size/XS

#94265 only update Azure data disks when attach/detach
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/S

#94297 Remove azure-load-balancer-disable-tcp-reset annotation
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note, sig/cloud-provider, size/S

#94386 clean up testutil/metrics.go
  staging/src/k8s.io/component-base/metrics/testutil/metrics.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/S

#94471 Added support for register-with-taints setting #93608
  cmd/kubemark/BUILD
  cmd/kubemark/hollow-node.go
  pkg/kubemark/BUILD
  pkg/kubemark/hollow_kubelet.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/scalability, size/XS

#92643 conntrack e2e test debug connections
  test/e2e/network/conntrack.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/M

#94570 test(tools::events): deflake TestEventSeriesf
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
  staging/src/k8s.io/client-go/tools/events/eventseries_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/api-machinery, size/S

#94596 Revert "fix cluster/log-dump/log-dump.sh shellcheck failures"
  cluster/log-dump/log-dump.sh
  hack/.shellcheck_failures
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/scalability, sig/testing, size/M
