Repository kubernetes/kubernetes, pull requests merged in 2020-03, with the labels that each got.

#88697 Use only v1 CRD resources in e2e tests
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fixtures/resources.go
  test/e2e/auth/BUILD
  test/e2e/auth/audit.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, sig/testing, size/M

#88699 Improve performance for VMSS LoadBalancerBackendAddressPools updates
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/azure_armclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/mockarmclient/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/mockarmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssvmclient/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssvmclient/azure_vmssvmclient.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssvmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssvmclient/mockvmssvmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/azure_mock_vmsets.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/XL

#88569 fix: corrupted mount point in csi driver node stage/publish
  pkg/volume/csi/BUILD
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_mounter_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/M

#88663 update kube-controller-manager and kube-scheduler to match kube-apiserver defaults
  cmd/cloud-controller-manager/app/options/options_test.go
  cmd/controller-manager/app/options/debugging.go
  cmd/controller-manager/app/options/generic.go
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/options.go
  staging/src/k8s.io/component-base/config/v1alpha1/defaults.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, kind/cleanup, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cloud-provider, sig/scheduling, size/M

#88401 refactor volume binder
  pkg/controller/volume/scheduling/scheduler_binder.go
  pkg/controller/volume/scheduling/scheduler_binder_fake.go
  pkg/scheduler/BUILD
  pkg/scheduler/factory.go
  pkg/scheduler/framework/plugins/volumebinding/BUILD
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/volumebinder/BUILD
  pkg/scheduler/volumebinder/volume_binder.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/scheduling, size/L

#88660 Implement uncertain mount for block volumes
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/csi/BUILD
  pkg/volume/csi/csi_block.go
  pkg/volume/csi/csi_block_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/volumepathhandler/volume_path_handler.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/node, sig/storage, size/XL

#88685 Refactor: move generic functions of integration test to util directory
  test/integration/scheduler/BUILD
  test/integration/scheduler/extender_test.go
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/plugins_test.go
  test/integration/scheduler/predicates_test.go
  test/integration/scheduler/preemption_test.go
  test/integration/scheduler/priorities_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/taint_test.go
  test/integration/scheduler/util.go
  test/integration/util/BUILD
  test/integration/util/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XXL

#88727 Fix block snapshot tests
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/M

#86837 Update po file for kubectl Japanese translation
  staging/src/k8s.io/kubectl/pkg/generated/bindata.go
  translations/kubectl/ja_JP/LC_MESSAGES/k8s.mo
  translations/kubectl/ja_JP/LC_MESSAGES/k8s.po
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note, sig/cli, sig/docs, size/XXL

#88512 kube-proxy: fix confusing default value for healthz and metrics bind address, deprecate healthz-port and metrics-port flag
  cmd/kube-proxy/app/server.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, kind/deprecation, lgtm, needs-priority, release-note, sig/network, size/XS

#88609 Preserve legacy inflight metrics and fixes registration
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  staging/src/k8s.io/apiserver/pkg/server/routes/BUILD
  staging/src/k8s.io/apiserver/pkg/server/routes/metrics.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/BUILD
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
Labels: approved, area/apiserver, area/dependency, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M

#88657 validate configuration of kube-proxy IPVS tcp,tcpfin,udp timeout
  pkg/proxy/apis/config/validation/validation.go
  pkg/proxy/apis/config/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/network, size/M

#88671 Add default constraints to PodTopologySpread plugin
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/BUILD
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread.go
  pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread_perf_test.go
  pkg/scheduler/framework/plugins/helper/BUILD
  pkg/scheduler/framework/plugins/helper/spread.go
  pkg/scheduler/framework/plugins/helper/spread_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/BUILD
  pkg/scheduler/framework/plugins/podtopologyspread/common.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
  pkg/scheduler/framework/plugins/serviceaffinity/BUILD
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/listers/BUILD
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/scheduling, size/XXL

#88702 Move conformance image to debian:stretch-slim
  cluster/images/conformance/Makefile
  cluster/images/conformance/conformance-e2e.sh
Labels: approved, area/conformance, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, sig/release, sig/testing, size/XS

#88703 test/e2e/framework/service/:simplify function CreateTCPService and remove repeat const
  test/e2e/framework/service/const.go
  test/e2e/framework/service/jig.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/S

#88735 Improve plugin args JSON tags
  pkg/scheduler/apis/config/legacy_types.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/scheduling, size/S

#79083 Add ability to reload client certificates from disk
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/transport/BUILD
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cert_rotation.go
  staging/src/k8s.io/client-go/transport/config.go
  staging/src/k8s.io/client-go/transport/transport.go
  test/integration/client/BUILD
  test/integration/client/cert_rotation_test.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, sig/auth, sig/node, sig/testing, size/L

#87508 Don't save managedFields if object is too large
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go
  test/integration/apiserver/apply/BUILD
  test/integration/apiserver/apply/apply_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/L, wg/apply

#87631 Factor-out metrics related logic from authentication logic.
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/metrics_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#88496 test: don't use hardcoded pod count for memory limit test
  test/e2e/windows/memory_limits.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, sig/windows, size/XS

#88505 Honor status.podIP over status.podIPs and node.spec.podCIDR over node.spec.PodCIDRs when mismatched
  pkg/apis/core/v1/conversion.go
  pkg/apis/core/v1/conversion_test.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/critical-urgent, release-note, sig/apps, sig/network, size/L

#88624 tests: Create pod for Windows test
  test/e2e/windows/service.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/testing, sig/windows, size/XS

#88744 Support intermediate certificate in certificate store
  staging/src/k8s.io/client-go/util/certificate/certificate_manager_test.go
  staging/src/k8s.io/client-go/util/certificate/certificate_store.go
  staging/src/k8s.io/client-go/util/certificate/certificate_store_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/auth, size/L

#88419 Add support for token authentication with network proxy
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-rbac.yaml
  cluster/gce/addons/konnectivity-agent/konnectivity-rbac.yaml
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cloud-provider, sig/cluster-lifecycle, size/M

#88746 test/e2e/framework: remove dependencies to internal APIs
  test/e2e/framework/autoscaling/BUILD
  test/e2e/framework/autoscaling/autoscaling_utils.go
  test/e2e/framework/metrics/BUILD
  test/e2e/framework/metrics/metrics_grabber.go
  test/e2e/framework/rc/BUILD
  test/e2e/framework/rc/rc_utils.go
  test/e2e/framework/resource/BUILD
  test/e2e/framework/resource/runtimeobj.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/testing, size/M

#88681 Fix an e2e flake for preemption with hard PodTopologySpread
  test/e2e/scheduling/preemption.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/scheduling, sig/testing, size/S

#88747 update cluster/ approvers
  cluster/OWNERS
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/testing, size/XS

#85056 Fix golint issues for pkg/volume/rbd
  hack/.golint_failures
  pkg/volume/rbd/attacher.go
  pkg/volume/rbd/rbd.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/rbd/rbd_util.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/storage, size/L

#88745 Implement simple endpoint slice batching
  api/api-rules/violation_exceptions.list
  cmd/kube-controller-manager/app/discovery.go
  cmd/kube-controller-manager/app/options/endpointslicecontroller.go
  pkg/controller/endpointslice/config/BUILD
  pkg/controller/endpointslice/config/types.go
  pkg/controller/endpointslice/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/endpointslice/config/zz_generated.deepcopy.go
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/types.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/zz_generated.deepcopy.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, sig/apps, sig/network, size/L

#88760 signerName: extend client-go ensureCompatibility and additional unit tests
  pkg/apis/certificates/v1beta1/defaults_test.go
  staging/src/k8s.io/client-go/util/certificate/csr/BUILD
  staging/src/k8s.io/client-go/util/certificate/csr/csr.go
  staging/src/k8s.io/client-go/util/certificate/csr/csr_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, size/L

#88591 kubelet: Avoid sending no-op patches
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  pkg/util/pod/pod.go
  pkg/util/pod/pod_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/node, sig/scalability, size/M

#87167 Always include remoteAddr in source IP list for audit
  staging/src/k8s.io/apimachinery/pkg/util/net/http.go
  staging/src/k8s.io/apimachinery/pkg/util/net/http_test.go
Labels: approved, area/audit, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/auth, size/L, tide/merge-method-squash

#87368 fix staticcheck errors in pkg/controller/daemon.
  hack/.staticcheck_failures
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, size/S

#88240 Present more concrete information about pod readiness
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/cli, size/M

#88487 Use compute v1 api to specify network tier
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/cloud-provider, size/L

#88655 Deprecate --generator flag from kubectl create commands
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note, sig/cli, size/XS

#88710 kube-proxy: small cleanup for ipvs readme
  pkg/proxy/ipvs/README.md
Labels: approved, area/ipvs, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/network, size/XS

#88761 Update Cluster Autoscaler version to 1.18.0-gke.0
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/autoscaling, sig/cluster-lifecycle, size/XS

#85642 test images: Updates agnhost guestbook subcommand
  test/images/agnhost/guestbook/guestbook.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, sig/windows, size/S

#88684 Update AzureFile and CephFS to use MountSensitive
  go.mod
  go.sum
  pkg/volume/azure_file/azure_file.go
  pkg/volume/cephfs/cephfs.go
  pkg/volume/util/types/types.go
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/mount/fake_mounter.go
  vendor/k8s.io/utils/mount/mount.go
  vendor/k8s.io/utils/mount/mount_helper_unix.go
  vendor/k8s.io/utils/mount/mount_linux.go
  vendor/k8s.io/utils/mount/mount_unsupported.go
  vendor/k8s.io/utils/mount/mount_windows.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/storage, size/M

#88758 Hide kubectl.kubernetes.io/last-applied-configuration in describe
  hack/.golint_failures
  pkg/kubectl/cmd/auth/BUILD
  pkg/kubectl/cmd/auth/cani.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe_test.go
  staging/src/k8s.io/kubectl/pkg/describe/BUILD
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
  staging/src/k8s.io/kubectl/pkg/describe/interface.go
  staging/src/k8s.io/kubectl/pkg/describe/versioned/BUILD
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/BUILD
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/history.go
  vendor/modules.txt
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note, sig/auth, sig/cli, size/L

#88783 client-go: use klog.V(3) for the cert-rotation controller start/stop
  staging/src/k8s.io/client-go/transport/cert_rotation.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/XS

#88598 Update etcd debian base image to v2.0.0
  cluster/images/etcd/Makefile
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/release, size/S

#88769 Support TLS Server Name overrides in kubeconfig file
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/zz_generated.conversion.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/overrides.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/create_cluster.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/create_cluster_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note, sig/api-machinery, sig/auth, sig/cli, size/L

#88460 Wire --filename flag to exec
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec.go
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec_test.go
  test/cmd/exec.sh
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/cli, sig/testing, size/M

#88669 Add FromFile and FromExistingClassName support for SnapshotClass in external storage e2e test
  test/e2e/storage/external/external.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/snapshottable.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/M

#87537 Fixes #87506 Add apiVersion to involvedObject
  pkg/controller/util/node/controller_utils.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/apps, sig/node, size/S

#88049 Update agnhost to test OIDC validation of JWT tokens
  go.mod
  test/images/agnhost/BUILD
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
  test/images/agnhost/openidmetadata/BUILD
  test/images/agnhost/openidmetadata/openidmetadata.go
Labels: approved, area/dependency, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/testing, size/L

#86173 stop defaulting kubeconfig to http://localhost:8080
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation.go
  test/cmd/legacy-script.sh
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-action-required, sig/api-machinery, sig/cli, sig/testing, size/M

#88567 add a new filter goaway which could send GOAWAY probabilistically to help balance HTTP2 requests
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/BUILD
  staging/src/k8s.io/apiserver/pkg/server/filters/goaway.go
  staging/src/k8s.io/apiserver/pkg/server/filters/goaway_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, size/L

#88765 Change kubectl cluster-info dump to not display output location message when output is stdout
  staging/src/k8s.io/kubectl/pkg/cmd/clusterinfo/clusterinfo_dump.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note, sig/cli, size/XS

#83572 bandwidth: use regexp to handle tc output and add IPv6 support
  pkg/util/bandwidth/linux.go
  pkg/util/bandwidth/linux_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/network, size/M

#88563 fix TestCoSchedulinngWithPermitPlugin and test PermitPlugin
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/flake, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/scheduling, sig/testing, size/M

#87759 Guarantee aligned resources across containers
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/fake_cpu_manager.go
  pkg/kubelet/cm/cpumanager/policy.go
  pkg/kubelet/cm/cpumanager/policy_none.go
  pkg/kubelet/cm/cpumanager/policy_none_test.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_stub.go
  pkg/kubelet/cm/devicemanager/manager_test.go
  pkg/kubelet/cm/devicemanager/types.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
  pkg/kubelet/kubelet.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/node, size/L

#88414 test/e2e/:resolve pending TODO: write a wrapper for ExpectNoErrorWithOffset()
  test/e2e/apps/daemon_restart.go
  test/e2e/autoscaling/cluster_size_autoscaling.go
  test/e2e/cloud/nodes.go
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/preemption.go
  test/e2e/scheduling/priorities.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/apps, sig/autoscaling, sig/cloud-provider, sig/scheduling, sig/testing, size/M

#88440 Ensure Kubelet always reports terminating pod container status
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/helpers_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/status/BUILD
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e/node/BUILD
  test/e2e/node/pods.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/node, sig/testing, size/L

#88600 SHOULD NOT HAPPEN: logging "SHOULD NOT HAPPEN" errors more than once per second
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/atmostevery.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/atmostevery_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/structuredmerge.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L, wg/apply

#88815 Use the same default namespace across event recorders
  staging/src/k8s.io/client-go/tools/events/event_recorder.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/api-machinery, size/XS

#88818 test images: Temporarely exclude Windows test images
  test/images/cloudbuild.yaml
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#88828 Fix log formatting for skipper.
  test/e2e/framework/skipper/skipper.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/XS

#85289 Remove prometheus references from pkg/controller/endpointslice
  pkg/controller/endpointslice/BUILD
  pkg/controller/endpointslice/reconciler_test.go
  staging/src/k8s.io/component-base/metrics/BUILD
  staging/src/k8s.io/component-base/metrics/testutil/metrics.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/apps, sig/cluster-lifecycle, sig/instrumentation, sig/network, size/M

#88721 FIX SRIOV detection logic not to error out if device not present on the system
  test/e2e_node/topology_manager_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS

#88566 Enable running cpu-mgr-multiNUMA e2e tests with Topology manager
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/topology_manager_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XL

#88004 Add kubectl debug alpha command
  hack/.golint_failures
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/pkg/cmd/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/alpha.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  vendor/modules.txt
Labels: approved, area/dependency, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/cli, size/XL

#88716 Show kubectl describe ingress error
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/M

#88763 cleans up dynamiccertificates package
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/configmap_cafile_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_cafile_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_serving_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/static_content.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/auth, size/M

#88827 kubeadm: deprecate the flag --use-api for cert renewal
  cmd/kubeadm/app/cmd/alpha/certs.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/deprecation, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/XS

#88249 tests: Replaces dnsutils image used with agnhost (part 4)
  test/e2e/network/dns.go
  test/e2e/network/dns_common.go
  test/e2e/network/dns_configmap.go
  test/e2e/windows/dns.go
  test/utils/image/manifest.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, sig/windows, size/L

#88801 Fix GCE PD snapshot flakiness
  test/e2e/framework/volume/fixtures.go
  test/e2e/storage/testsuites/provisioning.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/M

#88789 Bump debian-iptables for debian-base 1.0.1
  build/debian-iptables/Makefile
Labels: approved, area/security, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#88790 Bump debian-base to v1.0.1 and debian-iptables to v11.0.3
  build/common.sh
  build/workspace.bzl
  cluster/addons/addon-manager/Makefile
  cluster/images/etcd-empty-dir-cleanup/Dockerfile
  cluster/images/etcd/Makefile
  test/images/nonroot/Dockerfile
  test/images/pets/peer-finder/BASEIMAGE
  test/images/pets/redis-installer/BASEIMAGE
  test/images/pets/zookeeper-installer/BASEIMAGE
  test/images/resource-consumer/BASEIMAGE
  test/utils/image/manifest.go
Labels: approved, area/security, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/release, sig/testing, size/M

#87553 More refinement of comments and parameter names for informers
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/M

#87650 Update TopologyManager Feature Gate
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
Labels: approved, area/kubeadm, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/node, size/S

#87865 Allow container visitor to operate on selected container types
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/registry/core/pod/strategy.go
  pkg/security/podsecuritypolicy/provider.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/auth, size/L

#88022 Dump docker image list
  cluster/log-dump/log-dump.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/S

#88152 cleanup: move the test of TaintBasedEvictions features to sig-node
  test/conformance/testdata/conformance.yaml
  test/e2e/node/BUILD
  test/e2e/node/taints.go
  test/e2e/scheduling/BUILD
  test/integration/BUILD
  test/integration/node/BUILD
  test/integration/node/OWNERS
  test/integration/node/lifecycle_test.go
  test/integration/node/main_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/taint_test.go
Labels: approved, area/apiserver, area/conformance, area/e2e-test-framework, area/ipvs, area/kubectl, area/kubelet, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/apps, sig/architecture, sig/autoscaling, sig/cli, sig/cluster-lifecycle, sig/network, sig/node, sig/scheduling, sig/storage, sig/testing, size/XL

#88465 Utilerrors.Aggregate: Allow using with errors.Is()
  staging/src/k8s.io/apimachinery/pkg/util/errors/errors.go
  staging/src/k8s.io/apimachinery/pkg/util/errors/errors_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, size/L

#88558 e2e node pod overhead
  test/e2e_node/BUILD
  test/e2e_node/runtimeclass_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/network, sig/scheduling, sig/testing, size/L

#88644 Added non-randomized tests of matching FlowSchema rules
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/match_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L

#88768 Add Extenders to v1alpha2 Component Config
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha2/BUILD
  pkg/scheduler/apis/config/v1alpha2/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/factory.go
  pkg/scheduler/scheduler.go
  staging/publishing/import-restrictions.yaml
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/BUILD
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/types.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/zz_generated.deepcopy.go
Labels: approved, area/release-eng, area/test, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/critical-urgent, release-note, sig/release, sig/scheduling, sig/testing, size/L

#88773 e2e-topology-manager: Wait for SR-IOV device plugin
  test/e2e_node/topology_manager_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/S

#88794 Generalized NonResourcePolicyRule.NonResourceURLs impl
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/gen_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/rule.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#88847 Image Promoter fixes
  test/images/Makefile
  test/images/cloudbuild.yaml
  test/images/image-util.sh
  test/images/kitten/BASEIMAGE
  test/images/nautilus/BASEIMAGE
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/M

#88850 Fix dynamic certificates issues
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/named_certificates.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/server_test.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/tlsconfig.go
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S

#88857 Check for nil cpuManager in container manager
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/internal_container_lifecycle.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/node, size/S

#88141 Don't try to create VolumeSpec immediately after underlying PVC is being deleted
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/node, sig/storage, size/L

#88862 Use versioned autoscaling API in code-generator examples
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/apis/example/v1/types.go
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/clientset/versioned/typed/example/v1/BUILD
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/clientset/versioned/typed/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/clientset/versioned/typed/example/v1/fake/BUILD
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/clientset/versioned/typed/example/v1/fake/fake_clustertesttype.go
  staging/src/k8s.io/code-generator/_examples/MixedCase/apis/example/v1/types.go
  staging/src/k8s.io/code-generator/_examples/MixedCase/clientset/versioned/typed/example/v1/BUILD
  staging/src/k8s.io/code-generator/_examples/MixedCase/clientset/versioned/typed/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/_examples/MixedCase/clientset/versioned/typed/example/v1/fake/BUILD
  staging/src/k8s.io/code-generator/_examples/MixedCase/clientset/versioned/typed/example/v1/fake/fake_clustertesttype.go
  staging/src/k8s.io/code-generator/_examples/crd/apis/example/v1/types.go
  staging/src/k8s.io/code-generator/_examples/crd/clientset/versioned/typed/example/v1/BUILD
  staging/src/k8s.io/code-generator/_examples/crd/clientset/versioned/typed/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/_examples/crd/clientset/versioned/typed/example/v1/fake/BUILD
  staging/src/k8s.io/code-generator/_examples/crd/clientset/versioned/typed/example/v1/fake/fake_clustertesttype.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L

#88863 Use the v0.0.8 network proxy images
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cluster-lifecycle, size/XS

#88864 Disallow use of Plugin or PluginConfig when using Policy
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/scheduling, size/L

#88869 [Network Proxy] Allow both grpc and http-connect mode to be toggled in kube-up
  cluster/gce/config-default.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/util.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/M

#88870 Disallow duplicate PluginConfig in framework creation
  pkg/scheduler/BUILD
  pkg/scheduler/factory.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/scheduling, size/M

#88872 test: Properly detect container runtime flake in e2e test
  test/e2e/node/pods.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/XS

#88876 Topology Manager none policy bug fix
  pkg/kubelet/cm/topologymanager/topology_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/node, size/S

#88892 test images: Skip building manifest list if no image was pushed
  test/images/image-util.sh
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/S

#88781 Disable HTTP2 while proxying a "Connection: upgrade" request
  staging/src/k8s.io/apimachinery/pkg/util/proxy/dial.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/dial_test.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/M

#88549 Add metrics for egress dials
  staging/src/k8s.io/apiserver/pkg/server/egressselector/BUILD
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector_test.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/metrics/BUILD
  staging/src/k8s.io/apiserver/pkg/server/egressselector/metrics/metrics.go
  vendor/modules.txt
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/instrumentation, size/L

#88882 Automated cherry pick of #88790: Bump debian-base to v1.0.1 and debian-iptables to v11.0.3
  build/common.sh
  build/workspace.bzl
  cluster/addons/addon-manager/Makefile
  cluster/images/etcd-empty-dir-cleanup/Dockerfile
  cluster/images/etcd/Makefile
  test/e2e/common/runtime.go
  test/images/nonroot/Dockerfile
  test/images/pets/peer-finder/BASEIMAGE
  test/images/pets/redis-installer/BASEIMAGE
  test/images/pets/zookeeper-installer/BASEIMAGE
  test/images/resource-consumer/BASEIMAGE
Labels: approved, area/security, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/release, sig/testing, size/M

#88599 Add context and options to scale client
  pkg/controller/disruption/disruption.go
  pkg/controller/podautoscaler/horizontal.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/subresources_test.go
  staging/src/k8s.io/client-go/scale/BUILD
  staging/src/k8s.io/client-go/scale/client.go
  staging/src/k8s.io/client-go/scale/client_test.go
  staging/src/k8s.io/client-go/scale/fake/BUILD
  staging/src/k8s.io/client-go/scale/fake/client.go
  staging/src/k8s.io/client-go/scale/interfaces.go
  staging/src/k8s.io/kubectl/pkg/scale/BUILD
  staging/src/k8s.io/kubectl/pkg/scale/scale.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/apps, sig/autoscaling, sig/cli, size/M

#88678 Parallelize attach operations across different nodes for volumes that allow multi-attach
  pkg/controller/volume/attachdetach/reconciler/BUILD
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/nestedpendingoperations/BUILD
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
  pkg/volume/util/util.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/apps, sig/node, sig/storage, size/XXL

#88714 Extend API Priority and Fairness metrics
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/BUILD
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/types.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/testing/no-restraint.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/BUILD
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
Labels: approved, area/apiserver, area/dependency, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/instrumentation, size/L

#88877 Update to latest node-cache image
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, sig/network, size/XS

#88906 Dynamic client: plumb context
  cmd/kubeadm/app/util/apiclient/clientbacked_dryrun.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/basic_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/change_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/conversion/conversion_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/defaulting_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/finalization_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fixtures/resources.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/helpers.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/listtype_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/objectmeta_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/pruning_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/registration_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/scope_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/subresources_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/table_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/versioning_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
  staging/src/k8s.io/cli-runtime/pkg/resource/crd_finder.go
  staging/src/k8s.io/client-go/dynamic/client_test.go
  staging/src/k8s.io/client-go/dynamic/dynamicinformer/informer.go
  staging/src/k8s.io/client-go/dynamic/dynamicinformer/informer_test.go
  staging/src/k8s.io/client-go/dynamic/fake/simple.go
  staging/src/k8s.io/client-go/dynamic/fake/simple_test.go
  staging/src/k8s.io/client-go/dynamic/interface.go
  staging/src/k8s.io/client-go/dynamic/simple.go
  staging/src/k8s.io/client-go/examples/dynamic-create-update-delete-deployment/main.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/prune.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_status.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/crd_conversion_webhook.go
  test/e2e/apimachinery/crd_watch.go
  test/e2e/apimachinery/custom_resource_definition.go
  test/e2e/apimachinery/garbage_collector.go
  test/e2e/apimachinery/webhook.go
  test/e2e/apps/disruption.go
  test/e2e/framework/skipper/skipper.go
  test/e2e/kubectl/kubectl.go
  test/e2e/storage/external/external.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/snapshottable.go
  test/integration/apiserver/admissionwebhook/admission_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/client/dynamic_client_test.go
  test/integration/disruption/disruption_test.go
  test/integration/dryrun/dryrun_test.go
  test/integration/etcd/crd_overlap_storage_test.go
  test/integration/etcd/etcd_cross_group_test.go
  test/integration/etcd/etcd_storage_path_test.go
  test/integration/garbagecollector/garbage_collector_test.go
  test/integration/master/crd_test.go
  test/integration/namespace/ns_conditions_test.go
  test/integration/statefulset/statefulset_test.go
Labels: approved, area/apiserver, area/e2e-test-framework, area/kubeadm, area/kubectl, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/apps, sig/cli, sig/cluster-lifecycle, sig/storage, sig/testing, size/XL

#88910 Metadata client: plumb context
  pkg/controller/garbagecollector/garbagecollector.go
  pkg/controller/garbagecollector/operations.go
  pkg/controller/garbagecollector/patch.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  staging/src/k8s.io/client-go/metadata/fake/simple.go
  staging/src/k8s.io/client-go/metadata/fake/simple_test.go
  staging/src/k8s.io/client-go/metadata/interface.go
  staging/src/k8s.io/client-go/metadata/metadata.go
  staging/src/k8s.io/client-go/metadata/metadata_test.go
  staging/src/k8s.io/client-go/metadata/metadatainformer/informer.go
  staging/src/k8s.io/client-go/metadata/metadatainformer/informer_test.go
  test/integration/apiserver/apiserver_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/apps, sig/testing, size/L

#88911 /readyz should start returning failure on shutdown initiation
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, priority/important-soon, release-note, sig/api-machinery, size/XS

#88048 Add e2e test for validating JWTs as OIDC tokens
  cluster/gce/config-test.sh
  test/e2e/auth/service_accounts.go
  test/utils/image/manifest.go
Labels: approved, area/release-eng, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/auth, sig/cluster-lifecycle, sig/testing, size/L

#88929 client-go: plumb context to expansions methods
  pkg/controller/certificates/approver/sarapprove.go
  pkg/controller/certificates/certificate_controller_test.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/scheduler/framework/plugins/defaultbinder/default_binder.go
  staging/src/k8s.io/client-go/kubernetes/typed/certificates/v1beta1/certificatesigningrequest_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/certificates/v1beta1/fake/fake_certificatesigningrequest_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_namespace_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_pod_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/namespace_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/pod_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/extensions/v1beta1/deployment_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/extensions/v1beta1/fake/fake_deployment_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/policy/v1beta1/eviction_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/policy/v1beta1/fake/fake_eviction_expansion.go
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/certificates.go
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
  test/e2e/apps/disruption.go
  test/e2e/auth/certificates.go
  test/e2e/storage/pd.go
  test/integration/auth/node_test.go
  test/integration/certificates/admission_approval_test.go
  test/integration/evictions/evictions_test.go
  test/integration/scheduler/extender_test.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/auth, sig/cli, sig/scheduling, sig/storage, sig/testing, size/L

#88875 SSA: Applying same object twice should be a no-op the second time
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/managedfieldsupdater.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/structuredmerge.go
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v3/fieldpath/managers.go
  vendor/sigs.k8s.io/structured-merge-diff/v3/merge/update.go
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/L

#88916 Use go-bindata built from vendor/
  hack/generate-bindata.sh
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/S

#87777 fix range copy issue
  test/e2e/storage/utils/create.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#88952 test: Detect flakes caused by container teardown races on CRI
  test/e2e/node/pods.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/XS

#88879 Checks error for loading audit webhook config to prevent panic
  staging/src/k8s.io/apiserver/plugin/pkg/audit/webhook/webhook.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, sig/auth, size/XS

#87487 Move TaintBasedEvictions feature gates to GA
  cmd/kube-controller-manager/app/core.go
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
  pkg/features/kube_features.go
  staging/src/k8s.io/api/core/v1/well_known_taints.go
  test/integration/node/BUILD
  test/integration/node/lifecycle_test.go
  test/integration/scheduler/taint_test.go
Labels: approved, area/test, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/apps, sig/node, sig/scheduling, sig/testing, size/M

#88507 Automated cherry pick of #88505: Honor status.podIP over status.podIPs and node.spec.podCIDR over node.spec.PodCIDRs when mismatched
  pkg/apis/core/v1/conversion.go
  pkg/apis/core/v1/conversion_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/critical-urgent, sig/apps, size/L

#88619 Automated cherry pick of #88444: fix: add remediation in azure disk attach/detach
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/L

#88715 Automated cherry pick of #88610: fix: azure file mount timeout issue
  pkg/volume/azure_file/BUILD
  pkg/volume/azure_file/azure_file.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/S

#88732 Automated cherry pick of #88569: fix: corrupted mount point in csi driver
  pkg/volume/csi/BUILD
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_mounter_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, size/M

#88713 Automated cherry pick of #88610: fix: azure file mount timeout issue
  pkg/volume/azure_file/BUILD
  pkg/volume/azure_file/azure_file.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/S

#88730 Automated cherry pick of #88569: fix: corrupted mount point in csi driver
  pkg/volume/csi/BUILD
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_mounter_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, size/M

#88935 Add NodeCIDR for detect-local-mode
  cmd/kube-proxy/app/BUILD
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_others_test.go
  pkg/proxy/apis/config/types.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note, sig/network, size/L

#88658 Automated cherry pick of #88444: fix: add remediation in azure disk attach/detach
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/L

#88751 Automated cherry pick of #88602: Fixed in the GCE/PD in-tree volume logic to expose the max
  pkg/volume/gcepd/gce_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/storage, size/S

#88792 Automated cherry pick of #88496: test: don't use hardcoded pod count for memory limit test
  test/e2e/windows/memory_limits.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, sig/windows, size/XS

#88691 fix behaviour of aws-load-balancer-security-groups annotation
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/cloud-provider, size/M

#88739 Set field manager for kubectl diff --server-side
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  test/cmd/diff.sh
Labels: approved, area/apiserver, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, priority/important-soon, release-note-none, sig/api-machinery, sig/cli, sig/testing, size/S, wg/apply

#88506 Automated cherry pick of #88505: Honor status.podIP over status.podIPs and node.spec.podCIDR over node.spec.PodCIDRs when mismatched
  pkg/apis/core/v1/conversion.go
  pkg/apis/core/v1/conversion_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/critical-urgent, sig/apps, size/L

#88689 fix behaviour of aws-load-balancer-security-groups annotation
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/cloud-provider, size/M

#88787 Automated cherry pick of #88496: test: don't use hardcoded pod count for memory limit test
  test/e2e/windows/memory_limits.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, sig/windows, size/XS

#88953 Automated cherry pick of #88911: /readyz should start returning failure on shutdown initiation
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note, sig/api-machinery, size/XS

#88977 Adding a temporary fix for kubectl get output e2e test
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/cli, sig/testing, size/XS

#88788 Automated cherry pick of #88496: test: don't use hardcoded pod count for memory limit test
  test/e2e/windows/memory_limits.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, sig/windows, size/XS

#88954 Automated cherry pick of #88911: /readyz should start returning failure on shutdown initiation
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note, sig/api-machinery, size/XS

#88729 Automated cherry pick of #88569: fix: corrupted mount point in csi driver
  pkg/volume/csi/BUILD
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_mounter_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/storage, size/M

#88750 Automated cherry pick of #88602: Fixed in the GCE/PD in-tree volume logic to expose the max
  pkg/volume/gcepd/gce_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/storage, size/S

#88641 Fix default regular expressions in conformance tests runner
  cluster/images/conformance/go-runner/cmd_test.go
  cluster/images/conformance/go-runner/const.go
Labels: approved, area/conformance, area/release-eng, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/release, size/XS

#88712 Automated cherry pick of #88610: fix: azure file mount timeout issue
  pkg/volume/azure_file/BUILD
  pkg/volume/azure_file/azure_file.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/S

#88650 Automated cherry pick of #88444: fix: add remediation in azure disk attach/detach
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/L

#88749 Automated cherry pick of #88602: Fixed in the GCE/PD in-tree volume logic to expose the max
  pkg/volume/gcepd/gce_pd.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/storage, size/S

#88982 e2e: wait for controller manager pod to be ready
  test/e2e/framework/metrics/BUILD
  test/e2e/framework/metrics/metrics_grabber.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/testing, size/S

#88690 fix behaviour of aws-load-balancer-security-groups annotation
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/cloud-provider, size/M

#88988 kubelet: Also set PodIPs when assign a host network PodIP
  pkg/kubelet/kubelet_pods.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/XS

#88995 Preserve target apiVersion when decoding into unstructured lists
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: approved, area/apiserver, area/custom-resources, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, size/L

#88903 test images: ARG instructions should be first
  test/images/node-perf/npb-ep/Dockerfile
  test/images/node-perf/npb-is/Dockerfile
  test/images/sample-apiserver/Dockerfile
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS

#88934 Stop flooding the kube-proxy logs on dual-stack because of IPFamily
  pkg/proxy/metaproxier/BUILD
  pkg/proxy/metaproxier/meta_proxier.go
  pkg/proxy/metaproxier/meta_proxier_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-soon, release-note, sig/network, size/M

#88959 Automated cherry pick of fix for #77733 (NodeLifecycleController is overloading kube-apiserver) into release-1.16
  pkg/controller/nodelifecycle/BUILD
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controller/nodelifecycle/scheduler/taint_manager_test.go
  pkg/controller/util/node/BUILD
  pkg/controller/util/node/controller_utils.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, size/XL

#88734 Work-around for missing memory metrics on CRI-O exited containers
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/helper.go
  pkg/kubelet/stats/stats_provider_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/M

#89002 Fix VMSS cache content
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, priority/important-soon, release-note, sig/cloud-provider, size/XS

#88917 Implement noopWindowsResourceAllocator
  pkg/kubelet/cm/container_manager_windows.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/node, size/S

#88819 Fix Bazel build
  build/BUILD
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/testing, size/XS

#88962 Automated cherry pick of fix for #77733 (NodeLifecycleController is overloading kube-apiserver) into release-1.15
  pkg/controller/nodelifecycle/BUILD
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controller/nodelifecycle/scheduler/taint_manager_test.go
  pkg/controller/util/node/BUILD
  pkg/controller/util/node/controller_utils.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, size/XXL

#88915 Fix a data race in kubelet image manager
  pkg/kubelet/images/image_gc_manager.go
  pkg/kubelet/images/image_gc_manager_test.go
  pkg/kubelet/nodestatus/setters.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/node, size/M
