Repository kubernetes/kubernetes, pull requests merged in 2021-10, with the labels that each got.

#103391 [e2e] Add description of use case “storage version with non-existing id should be GC'ed” execution conditions
  test/e2e/apimachinery/storage_version.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#105116 Add tests kubelet default config
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/apis/config/v1beta1/defaults_test.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/XL, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, api-review, triage/accepted

#104933 conversion of tests from mockery to mockgen
  pkg/kubelet/apis/podresources/server_v1_test.go
  pkg/kubelet/apis/podresources/server_v1alpha1_test.go
  pkg/kubelet/apis/podresources/testing/provider_mock.go
  pkg/kubelet/apis/podresources/types.go
  pkg/kubelet/cadvisor/testing/cadvisor_mock.go
  pkg/kubelet/cadvisor/types.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/container/runtime_cache.go
  pkg/kubelet/container/testing/mock_runtime_cache.go
  pkg/kubelet/container/testing/runtime_mock.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/eviction/memory_threshold_notifier_test.go
  pkg/kubelet/eviction/mock_threshold_notifier_test.go
  pkg/kubelet/eviction/types.go
  pkg/kubelet/images/image_gc_manager_test.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
  pkg/kubelet/metrics/collectors/volume_stats_test.go
  pkg/kubelet/pleg/generic_test.go
  pkg/kubelet/pod/pod_manager.go
  pkg/kubelet/pod/testing/mock_manager.go
  pkg/kubelet/runonce_test.go
  pkg/kubelet/server/stats/handler.go
  pkg/kubelet/server/stats/summary.go
  pkg/kubelet/server/stats/summary_test.go
  pkg/kubelet/server/stats/summary_windows_test.go
  pkg/kubelet/server/stats/testing/mock_stats_provider.go
  pkg/kubelet/server/stats/testing/mock_summary_provider.go
  pkg/kubelet/server/stats/volume_stat_calculator_test.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  pkg/kubelet/stats/provider_test.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/testing/mock_pod_status_provider.go
  pkg/volume/testing/mock_volume.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/architecture, ok-to-test, area/code-organization, triage/accepted

#105352 Revert "Build non-static binaries with PIE buildmode"
  hack/lib/golang.sh
Labels: priority/important-soon, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, sig/release, kind/regression, sig/security, triage/accepted

#105379 pkg/volume/util: remove out-dated OWNERS
  pkg/volume/util/OWNERS
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#105383 make lifecycle signal thread safe
  staging/src/k8s.io/apiserver/pkg/server/lifecycle_signals.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#105385 Removing elweb9858 from winkernel kube-proxy approver+reviewer lists
  pkg/proxy/winkernel/OWNERS
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#105374 Bubble up to pkg/volume/OWNERS file
  pkg/volume/csi/OWNERS
  pkg/volume/testing/OWNERS
Labels: kind/documentation, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#105185 Ignore VMs in vmss delete backend pools
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, release-note, size/S, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, ok-to-test, triage/accepted

#103359 Remove Redundant type conversion
  test/utils/admission_webhook.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#104788 Fix initContainersReusableMemory delete bug in MemoryManager
  pkg/kubelet/cm/memorymanager/policy_static.go
  pkg/kubelet/cm/memorymanager/policy_static_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#104653 Fix word most `comment` to `common` and typo
  staging/src/k8s.io/client-go/tools/cache/index.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#105293 Validate PodSpec in EphemeralContainersUpdate
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#104499 Propagate source to list items when flattening
  staging/src/k8s.io/cli-runtime/pkg/resource/visitor.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#105396 Fix CSR test to accept certs shorter than the requested duration
  test/e2e/auth/certificates.go
Labels: kind/bug, area/test, lgtm, release-note, size/XS, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#100482 generic ephemeral volume checks
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
  pkg/scheduler/framework/plugins/nodevolumelimits/non_csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/non_csi_test.go
  pkg/scheduler/framework/plugins/registry.go
  test/e2e/storage/csi_mock_volume.go
Labels: kind/bug, area/test, area/kubelet, sig/scheduling, lgtm, sig/storage, sig/node, release-note, size/XL, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#104227 Fix typo `registry`
  staging/src/k8s.io/apiserver/pkg/server/options/api_enablement.go
  staging/src/k8s.io/apiserver/pkg/server/options/api_enablement_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#104744 Excluding Control Plane Nodes from Topology Hints calculations
  pkg/controller/endpointslice/topologycache/topologycache.go
  pkg/controller/endpointslice/topologycache/topologycache_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, triage/accepted

#105384 Fixes kubectl command headers which hangs on kubectl run
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#104968 Speed up counting of bits in allocator
  pkg/registry/core/service/allocator/utils.go
  pkg/registry/core/service/allocator/utils_test.go
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#104058 Remove `kind/design` from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, sig/contributor-experience, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-triage

#104894 add windows arm support on client-side since go 1.17 supports
  hack/lib/golang.sh
  test/typecheck/main.go
Labels: area/test, lgtm, release-note, size/XS, kind/feature, approved, sig/windows, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#105042 deprecate klog flags
  staging/src/k8s.io/component-base/logs/logs.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, triage/accepted, wg/structured-logging

#105375 node: test file use k8s.io/utils/clock instead
  pkg/controller/nodelifecycle/scheduler/timed_workers.go
  pkg/controller/nodelifecycle/scheduler/timed_workers_test.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/cluster-lifecycle, size/S, release-note-none, sig/auth, sig/apps, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, needs-triage

#105414 component-base: verbosity in example command
  staging/src/k8s.io/component-base/logs/example/README.md
  staging/src/k8s.io/component-base/logs/example/cmd/logger.go
Labels: kind/cleanup, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage, wg/structured-logging

#104328 release 1.21: metrics grabbing
  test/e2e/apimachinery/garbage_collector.go
  test/e2e/framework/framework.go
  test/e2e/framework/metrics/kubelet_metrics.go
  test/e2e/framework/metrics/metrics_grabber.go
  test/e2e/framework/pod/dial.go
  test/e2e/instrumentation/monitoring/metrics_grabber.go
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/topology.go
  test/e2e/storage/testsuites/volume_expand.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volume_stress.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
  test/e2e/storage/volume_metrics.go
  test/e2e/suites.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, sig/api-machinery, release-note, size/XL, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, kind/failing-test, area/e2e-test-framework, triage/accepted

#104782 remove scheduler component config v1beta1
  cmd/kube-scheduler/app/options/configfile.go
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server_test.go
  hack/local-up-cluster.sh
  pkg/scheduler/apis/config/scheme/scheme.go
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/testing/config.go
  pkg/scheduler/apis/config/v1beta1/conversion.go
  pkg/scheduler/apis/config/v1beta1/default_plugins.go
  pkg/scheduler/apis/config/v1beta1/default_plugins_test.go
  pkg/scheduler/apis/config/v1beta1/defaults.go
  pkg/scheduler/apis/config/v1beta1/defaults_test.go
  pkg/scheduler/apis/config/v1beta1/doc.go
  pkg/scheduler/apis/config/v1beta1/register.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.defaults.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/doc.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/register.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types_pluginargs.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/zz_generated.deepcopy.go
  test/integration/scheduler/queue_test.go
  test/integration/scheduler_perf/util.go
  vendor/modules.txt
Labels: area/test, priority/important-soon, kind/cleanup, sig/scheduling, area/apiserver, lgtm, release-note, size/XXL, kind/api-change, approved, cncf-cla: yes, sig/testing, ok-to-test, api-review, triage/accepted

#105457 PodSecurity: add namespace update verify benchmark
  plugin/pkg/admission/security/podsecurity/admission_test.go
  plugin/pkg/admission/security/podsecurity/testdata/pod_baseline.yaml
  plugin/pkg/admission/security/podsecurity/testdata/pod_restricted.yaml
Labels: kind/cleanup, lgtm, size/XL, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#105103 apiserver: refactor PolicyRuleEvaluator interface
  cluster/gce/gci/audit_policy_test.go
  staging/src/k8s.io/apiserver/pkg/audit/context.go
  staging/src/k8s.io/apiserver/pkg/audit/evaluator.go
  staging/src/k8s.io/apiserver/pkg/audit/policy/checker.go
  staging/src/k8s.io/apiserver/pkg/audit/policy/checker_test.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authn_audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authorization.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/request_deadline.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/request_deadline_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/context.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  test/integration/examples/webhook_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, area/provider/gcp, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, triage/accepted

#105144 remove format specifiers from structured logs
  pkg/proxy/winkernel/proxier.go
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, area/logging, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-triage, wg/structured-logging

#105312 Fix for TestWithMaxWaitRateLimiter test case failure
  staging/src/k8s.io/client-go/util/workqueue/default_rate_limiters_test.go
Labels: priority/important-soon, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, kind/failing-test, ok-to-test, triage/accepted

#104304 [Failing Test] Fix Kubelet Storage Eviction Tests
  test/e2e_node/eviction_test.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#105417 scheduler: delete docs related to equivalence cache from scheduler
  pkg/scheduler/eventhandlers.go
Labels: kind/documentation, kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, needs-priority, needs-triage

#105197 Roll-forward: Beta requirements for JobTrackingWithFinalizers
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/job/metrics/metrics.go
  pkg/controller/job/tracking_utils.go
  pkg/controller/job/tracking_utils_test.go
  test/integration/job/job_test.go
Labels: area/test, priority/backlog, lgtm, release-note, size/XL, kind/feature, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, triage/accepted

#104920 apiserver: decorate http.ResponseWriter correctly
  pkg/kubelet/cri/streaming/portforward/websocket.go
  pkg/kubelet/cri/streaming/remotecommand/websocket.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/responsewriter/fake.go
  staging/src/k8s.io/apiserver/pkg/endpoints/responsewriter/wrapper.go
  staging/src/k8s.io/apiserver/pkg/endpoints/responsewriter/wrapper_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog_test.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/kubelet, area/apiserver, lgtm, sig/node, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, sig/instrumentation, triage/accepted

#105239 Revert 102925: Fix Node Resources plugins score when there are pods with no requests
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation_test.go
Labels: kind/bug, priority/critical-urgent, priority/important-soon, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, kind/regression, triage/accepted

#105412 Define datatype for seat-seconds and prevent overflow
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/seatsecs_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/types.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#105238 Revert 102925: Fix Node Resources plugins score when there are pods with no requests
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation_test.go
Labels: kind/bug, priority/critical-urgent, priority/important-soon, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, kind/regression, triage/accepted

#103372 Create node_e2e test for ephemeral containers
  test/e2e/framework/pod/resource.go
  test/e2e/framework/pod/wait.go
  test/e2e/framework/pods.go
  test/e2e_node/ephemeral_containers_test.go
Labels: area/test, priority/important-soon, priority/backlog, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#105222 remove nodeLease feature GA
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/features/kube_features.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  test/e2e/common/node/node_lease.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/M, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, ok-to-test, api-review, triage/accepted

#104689 kubelet: memory manager: fix preferred topology hints calculation
  pkg/kubelet/cm/memorymanager/policy_static.go
  pkg/kubelet/cm/memorymanager/policy_static_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#105245 Scheduler volumebinding plugin - handle Lost PVC as UnschedulableAndUnresolvable
  pkg/scheduler/framework/plugins/volumebinding/test_utils.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
Labels: sig/scheduling, lgtm, sig/storage, release-note, size/S, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#105466 Use json stdlib for pretty-printer encoding
  staging/src/k8s.io/api/testdata/HEAD/admission.k8s.io.v1.AdmissionReview.json
  staging/src/k8s.io/api/testdata/HEAD/admission.k8s.io.v1beta1.AdmissionReview.json
  staging/src/k8s.io/api/testdata/HEAD/apps.v1.ControllerRevision.json
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta1.ControllerRevision.json
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta2.ControllerRevision.json
  staging/src/k8s.io/api/testdata/HEAD/authentication.k8s.io.v1.TokenReview.json
  staging/src/k8s.io/api/testdata/HEAD/authentication.k8s.io.v1beta1.TokenReview.json
  staging/src/k8s.io/api/testdata/HEAD/authorization.k8s.io.v1.LocalSubjectAccessReview.json
  staging/src/k8s.io/api/testdata/HEAD/authorization.k8s.io.v1.SubjectAccessReview.json
  staging/src/k8s.io/api/testdata/HEAD/authorization.k8s.io.v1beta1.LocalSubjectAccessReview.json
  staging/src/k8s.io/api/testdata/HEAD/authorization.k8s.io.v1beta1.SubjectAccessReview.json
  staging/src/k8s.io/api/testdata/HEAD/certificates.k8s.io.v1.CertificateSigningRequest.json
  staging/src/k8s.io/api/testdata/HEAD/certificates.k8s.io.v1beta1.CertificateSigningRequest.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.WatchEvent.json
  staging/src/k8s.io/api/testdata/v1.21.0/admission.k8s.io.v1.AdmissionReview.json
  staging/src/k8s.io/api/testdata/v1.21.0/admission.k8s.io.v1beta1.AdmissionReview.json
  staging/src/k8s.io/api/testdata/v1.21.0/apps.v1.ControllerRevision.json
  staging/src/k8s.io/api/testdata/v1.21.0/apps.v1beta1.ControllerRevision.json
  staging/src/k8s.io/api/testdata/v1.21.0/apps.v1beta2.ControllerRevision.json
  staging/src/k8s.io/api/testdata/v1.21.0/authentication.k8s.io.v1.TokenReview.json
  staging/src/k8s.io/api/testdata/v1.21.0/authentication.k8s.io.v1beta1.TokenReview.json
  staging/src/k8s.io/api/testdata/v1.21.0/authorization.k8s.io.v1.LocalSubjectAccessReview.json
  staging/src/k8s.io/api/testdata/v1.21.0/authorization.k8s.io.v1.SubjectAccessReview.json
  staging/src/k8s.io/api/testdata/v1.21.0/authorization.k8s.io.v1beta1.LocalSubjectAccessReview.json
  staging/src/k8s.io/api/testdata/v1.21.0/authorization.k8s.io.v1beta1.SubjectAccessReview.json
  staging/src/k8s.io/api/testdata/v1.21.0/certificates.k8s.io.v1.CertificateSigningRequest.json
  staging/src/k8s.io/api/testdata/v1.21.0/certificates.k8s.io.v1beta1.CertificateSigningRequest.json
  staging/src/k8s.io/api/testdata/v1.21.0/core.v1.WatchEvent.json
  staging/src/k8s.io/api/testdata/v1.22.0/admission.k8s.io.v1.AdmissionReview.json
  staging/src/k8s.io/api/testdata/v1.22.0/admission.k8s.io.v1beta1.AdmissionReview.json
  staging/src/k8s.io/api/testdata/v1.22.0/apps.v1.ControllerRevision.json
  staging/src/k8s.io/api/testdata/v1.22.0/apps.v1beta1.ControllerRevision.json
  staging/src/k8s.io/api/testdata/v1.22.0/apps.v1beta2.ControllerRevision.json
  staging/src/k8s.io/api/testdata/v1.22.0/authentication.k8s.io.v1.TokenReview.json
  staging/src/k8s.io/api/testdata/v1.22.0/authentication.k8s.io.v1beta1.TokenReview.json
  staging/src/k8s.io/api/testdata/v1.22.0/authorization.k8s.io.v1.LocalSubjectAccessReview.json
  staging/src/k8s.io/api/testdata/v1.22.0/authorization.k8s.io.v1.SubjectAccessReview.json
  staging/src/k8s.io/api/testdata/v1.22.0/authorization.k8s.io.v1beta1.LocalSubjectAccessReview.json
  staging/src/k8s.io/api/testdata/v1.22.0/authorization.k8s.io.v1beta1.SubjectAccessReview.json
  staging/src/k8s.io/api/testdata/v1.22.0/certificates.k8s.io.v1.CertificateSigningRequest.json
  staging/src/k8s.io/api/testdata/v1.22.0/certificates.k8s.io.v1beta1.CertificateSigningRequest.json
  staging/src/k8s.io/api/testdata/v1.22.0/core.v1.WatchEvent.json
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/compatibility.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#105156 Enhance client-go url timing logging with http statistics
  staging/src/k8s.io/client-go/transport/round_trippers.go
Labels: lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#105388 Copy VolumeSnapshotContent annotations in snapshottable.go test
  test/e2e/storage/framework/snapshot_resource.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#105468 Add missing format values to test logline
  test/e2e/node/pods.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#102333 Add Log statement in exec_util.go for ClientSet Creation
  test/e2e/framework/exec_util.go
Labels: area/test, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, triage/accepted

#105484 Use docker buildx for etcd image
  cluster/images/etcd/Makefile
  cluster/images/etcd/cloudbuild.yaml
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/S, area/release-eng, approved, cncf-cla: yes, needs-priority, needs-triage

#105462 Ensure terminal pods maintain terminal status
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e/node/pods.go
Labels: kind/bug, area/test, priority/critical-urgent, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, sig/testing, triage/accepted

#105217 Refactoring TestConcurrentAccessToRelatedVolumes for enabling Block Volume tests
  test/e2e/framework/volume/fixtures.go
  test/e2e/storage/testsuites/multivolume.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#104186 nominate pacoxu as sig node reviewer
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#104526 Fix issue in node status updating VolumeAttached list
  pkg/controller/volume/attachdetach/cache/actual_state_of_world.go
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, lgtm, sig/storage, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#105333 Update windows base images - GCE provider
  cluster/gce/util.sh
Labels: priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/cloud-provider, triage/accepted

#104557 apiserver: construct logger for httplog only when log level is 3
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#105497 Automated cherry pick of #105388: Copy VolumeSnapshotContent annotations in snapshottable.go
  test/e2e/storage/framework/snapshot_resource.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#104262 remove listx from OWNERS_ALIASES
  OWNERS_ALIASES
  test/images/OWNERS
  test/utils/image/OWNERS
Labels: area/test, kind/cleanup, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#105277 Automated cherry pick of #105205: e2e scheduling priorities: do not reference control loop
  test/e2e/scheduling/priorities.go
Labels: kind/bug, area/test, priority/important-soon, sig/scheduling, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#104898 Automated cherry pick of #104572: fix detach disk issue on deleting node
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/XS, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#104973 Automated cherry pick of #104467: fix 104329: check for headless before trying to release
  pkg/registry/core/service/storage/rest.go
  test/integration/dualstack/dualstack_test.go
Labels: kind/bug, area/test, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104910 Backport dangling volume fixes
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_util.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_volume_map.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_volume_map_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, sig/storage, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#105038 Automated cherry pick of #104913: kube-controller-manager: properly check generic ephemeral
  cmd/kube-controller-manager/app/core.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#104912 Fix dangling volume vsphere detaches
  pkg/volume/vsphere_volume/attacher.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/BUILD
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/utils.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_util.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_volume_map.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_volume_map_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, sig/storage, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#103349 Automated cherry pick of #102292: Local PV e2e: fix leaked local volumes
  test/e2e/storage/persistent_volumes-local.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#105354 Automated cherry pick of #105048: Remove a duplicate StorageClass creation call
  test/e2e/storage/testsuites/provisioning.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#105407 Bump klog to v2.9.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/klog/v2/klog.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/cluster-lifecycle, release-note, size/M, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, needs-triage

#103164 Automated cherry pick of #102665: Add explicit capability for online volume expansion
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/external/external.go
  test/e2e/storage/testsuites/testdriver.go
  test/e2e/storage/testsuites/volume_expand.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104477 backported PR#97721 from v1.21 ("fix slice controller logging for services ipfamily")
  pkg/controller/endpointslice/utils.go
Labels: kind/bug, priority/important-soon, sig/network, kind/cleanup, lgtm, size/XS, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#105141 Do not try to load plugins for cobra commands
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
  staging/src/k8s.io/kubectl/pkg/cmd/cmd_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#105515 [master] Fix quota controller hotloop in integration tests
  pkg/controller/resourcequota/resource_quota_controller.go
Labels: kind/bug, lgtm, size/XS, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, kind/failing-test, needs-priority, needs-triage

#105931 Migrate scheduler files `interpodaffinity/filtering.go`,`podtopologyspread/filtering.go`, `volume_zone.go` to structured logging
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
Labels: priority/important-soon, kind/cleanup, sig/scheduling, lgtm, area/logging, release-note, size/S, approved, cncf-cla: yes, sig/instrumentation, triage/accepted, wg/structured-logging

#105979 De-share the Handler struct in core API
  cmd/kubeadm/app/util/staticpod/utils.go
  pkg/apis/apps/v1/zz_generated.defaults.go
  pkg/apis/apps/v1beta1/zz_generated.defaults.go
  pkg/apis/apps/v1beta2/zz_generated.defaults.go
  pkg/apis/batch/v1/zz_generated.defaults.go
  pkg/apis/batch/v1beta1/zz_generated.defaults.go
  pkg/apis/core/types.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/v1/zz_generated.defaults.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/extensions/v1beta1/zz_generated.defaults.go
  pkg/kubelet/container/helpers.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/labels.go
  pkg/kubelet/kuberuntime/labels_test.go
  pkg/kubelet/lifecycle/handlers.go
  pkg/kubelet/lifecycle/handlers_test.go
  pkg/kubelet/prober/common_test.go
  pkg/kubelet/prober/prober_manager_test.go
  pkg/kubelet/prober/prober_test.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/handler.go
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/lifecycle.go
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/lifecyclehandler.go
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/probe.go
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/probehandler.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/client-go/applyconfigurations/utils.go
  test/e2e/apimachinery/crd_conversion_webhook.go
  test/e2e/apimachinery/generated_clientset.go
  test/e2e/apimachinery/webhook.go
  test/e2e/apps/daemon_set.go
  test/e2e/apps/statefulset.go
  test/e2e/common/node/container_probe.go
  test/e2e/common/node/lifecycle_hook.go
  test/e2e/framework/network/utils.go
  test/e2e/framework/service/jig.go
  test/e2e/framework/statefulset/fixtures.go
  test/e2e/kubectl/portforward.go
  test/e2e/network/hostport.go
  test/e2e/network/netpol/network_legacy.go
  test/e2e/network/proxy.go
  test/e2e/network/scale/ingress.go
  test/e2e/network/service.go
  test/e2e/node/pre_stop.go
  test/e2e/scheduling/predicates.go
  test/e2e/storage/persistent_volumes.go
  test/e2e/storage/testsuites/subpath.go
Labels: area/test, sig/network, area/kubelet, kind/cleanup, sig/scheduling, lgtm, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/XL, kind/api-change, release-note-none, sig/apps, approved, sig/cli, area/kubeadm, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, area/e2e-test-framework, needs-triage, area/network-policy

#105980 Make job pod template annotations and labels mutable for suspended jobs that never started
  pkg/apis/batch/validation/validation.go
  pkg/apis/batch/validation/validation_test.go
Labels: lgtm, release-note, size/M, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, api-review, needs-triage

#106013 enabling `IMAGE_CONFIG_DIR` in make file for testing purposes
  build/root/Makefile
  hack/make-rules/test-e2e-node.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#105999 KubeEnv var to enable Hyper-V in GCE Windows nodes created with kube-up
  cluster/gce/config-default.sh
  cluster/gce/util.sh
  cluster/gce/windows/configure.ps1
  cluster/gce/windows/k8s-node-setup.psm1
Labels: priority/important-soon, lgtm, area/provider/gcp, release-note, size/M, kind/feature, approved, sig/windows, cncf-cla: yes, sig/cloud-provider, triage/accepted

#105845 Use original requests in `NodeResourcesBalancedAllocation` instead of `NonZeroRequested`
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation_test.go
  pkg/scheduler/framework/plugins/noderesources/resource_allocation.go
  pkg/scheduler/util/pod_resources.go
  pkg/scheduler/util/pod_resources_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, tide/merge-method-squash, needs-priority, needs-triage

#106014 client-go exec: make sure round tripper can be unwrapped
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#105989 Fix COS GPU driver installation
  test/e2e_node/jenkins/gci-init-gpu.yaml
Labels: area/test, priority/important-soon, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#101909 Additional cases for reconcileState testing
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
Labels: area/test, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted
