Repository kubernetes/kubernetes, pull requests merged in 2021-07, with the labels that each got.

#103380 Fix incorrect user and group for kube-scheduler when it is running as non-root.
  cmd/kubeadm/app/util/staticpod/utils_linux.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS, triage/accepted

#103219 Renamed variable within wait_test containing master to control plane
  test/e2e/framework/node/wait_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/testing, size/XS, wg/naming

#103327 kube-scheduler: ensure the default config output of --write-to-config is usable
  cmd/kube-scheduler/app/options/configfile.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/S

#103176 Update golang.org/x/net
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http/httpguts/httplex.go
  vendor/golang.org/x/net/http2/Dockerfile
  vendor/golang.org/x/net/http2/ascii.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/go115.go
  vendor/golang.org/x/net/http2/headermap.go
  vendor/golang.org/x/net/http2/not_go115.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note, sig/api-machinery, sig/auth, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/node, sig/storage, size/S

#103365 PodSecurity: make failure integration tests feature-aware
  staging/publishing/import-restrictions.yaml
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/test/fixtures.go
  staging/src/k8s.io/pod-security-admission/test/run.go
  test/integration/auth/podsecurity_test.go
Labels: approved, area/dependency, area/release-eng, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/auth, sig/cluster-lifecycle, sig/release, sig/testing, size/M, triage/accepted

#103385 [storage] [test] Ensure proper resource creation
  test/e2e/framework/node/resource.go
  test/e2e/storage/ubernetes_lite_volumes.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, sig/testing, size/S

#103063 kubeadm: add support for patches in v1beta3; deprecate --experimental-patches
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/options/constant.go
  cmd/kubeadm/app/cmd/options/generic.go
  cmd/kubeadm/app/cmd/phases/init/controlplane.go
  cmd/kubeadm/app/cmd/phases/join/controlplanejoin.go
  cmd/kubeadm/app/cmd/phases/join/controlplaneprepare.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-action-required, sig/cluster-lifecycle, size/L, triage/accepted

#103396 k8s.io master to main cleanup
  test/images/README.md
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS, triage/accepted

#103118 use native error instead of github.com/pkg/errors
  hack/conformance/check_conformance_test_requirements.go
Labels: approved, area/code-organization, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S, triage/accepted

#103326 Mark net.ipv4.ip_unprivileged_port_start as a safe sysctl
  pkg/security/podsecuritypolicy/sysctl/mustmatchpatterns.go
  staging/src/k8s.io/pod-security-admission/policy/check_sysctls.go
  staging/src/k8s.io/pod-security-admission/test/fixtures_sysctls.go
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.0/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.1/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.10/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.11/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.12/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.13/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.14/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.15/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.16/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.17/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.18/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.19/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.2/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.20/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.21/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.22/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.3/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.4/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.5/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.6/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.7/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.8/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/baseline/v1.9/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.0/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.1/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.10/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.11/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.12/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.13/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.14/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.15/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.16/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.17/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.18/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.19/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.2/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.20/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.21/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.22/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.3/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.4/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.5/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.6/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.7/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.8/pass/sysctls1.yaml
  staging/src/k8s.io/pod-security-admission/test/testdata/restricted/v1.9/pass/sysctls1.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/auth, sig/network, sig/node, sig/security, size/M, triage/accepted

#103282 Update dns-horizontal-autoscaler to use the multi-arch image
  cluster/addons/dns-horizontal-autoscaler/dns-horizontal-autoscaler.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, size/XS

#103241 Promote to Conformance StatefulSet List, Patch & DeleteCollection Test +3
  test/conformance/testdata/conformance.yaml
  test/e2e/apps/statefulset.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/architecture, sig/testing, size/S, triage/accepted

#103242 Promote to Conformance Patch, Read and Replace DeploymentStatus test +1
  test/conformance/testdata/conformance.yaml
  test/e2e/apps/deployment.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/architecture, sig/testing, size/S, triage/accepted

#102444 Expose container start time in kubelet /metrics/resource endpoint
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
  test/e2e_node/resource_metrics_test.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note, sig/instrumentation, sig/node, sig/testing, size/M, triage/accepted

#103243 Promote to Conformance StatefulSet Patch, Read and Replace Status test +3
  test/conformance/testdata/conformance.yaml
  test/e2e/apps/statefulset.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/architecture, sig/testing, size/S, triage/accepted

#103306 Kubeproxy uses V1 EndpointSlice
  cmd/kube-proxy/app/server.go
  pkg/proxy/config/config.go
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/endpointslicecache_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/metaproxier/meta_proxier.go
  pkg/proxy/types.go
  pkg/proxy/userspace/proxier_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
  pkg/proxy/winuserspace/proxier_test.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-soon, release-note, sig/network, size/L, triage/accepted

#99594 Prioritizing nodes based on volume capacity: API changes
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/types_pluginargs.go
  pkg/scheduler/apis/config/v1beta1/defaults.go
  pkg/scheduler/apis/config/v1beta1/defaults_test.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1beta2/defaults.go
  pkg/scheduler/apis/config/v1beta2/defaults_test.go
  pkg/scheduler/apis/config/v1beta2/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
  pkg/scheduler/apis/config/validation/validation_pluginargs_test.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types_pluginargs.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/types_pluginargs.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/zz_generated.deepcopy.go
Labels: api-review, approved, area/test, cncf-cla: yes, kind/api-change, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/scheduling, sig/storage, sig/testing, size/L

#103360 Error should be checked first, then go to other steps.
  cmd/kube-apiserver/app/testing/testserver.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS, triage/accepted

#103413 Refactored files containing whitelist/blacklist to allowlist/denylist…
  test/e2e/common/node/sysctl.go
  test/e2e/framework/pods.go
  test/e2e/network/firewall.go
  test/e2e_node/gcp/gke_environment_test.go
  test/integration/apiserver/print_test.go
  test/integration/dryrun/dryrun_test.go
  test/integration/etcd/etcd_storage_path_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/documentation, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, sig/cloud-provider, sig/docs, sig/network, sig/node, sig/testing, size/M, wg/naming

#103218 Add tracing to apiserver client-go requests
  staging/src/k8s.io/apiserver/pkg/server/options/coreapi.go
  staging/src/k8s.io/apiserver/pkg/server/options/recommended.go
  staging/src/k8s.io/apiserver/pkg/server/options/tracing.go
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-base/traces/utils.go
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, size/M, triage/accepted

#102168 Improve concurrency and cache for kubelet credential provider
  go.mod
  pkg/credentialprovider/plugin/plugin.go
  pkg/credentialprovider/plugin/plugin_test.go
  vendor/modules.txt
Labels: approved, area/dependency, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/auth, sig/cloud-provider, size/L, triage/accepted

#103432 simply renames terminationSignals to lifecycleSignals
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go
  staging/src/k8s.io/apiserver/pkg/server/lifecycle_signals.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, size/L

#102964 kubeadm: decouple the bootstraptoken API from the kubeadm API
  cmd/kubeadm/app/apis/bootstraptoken/doc.go
  cmd/kubeadm/app/apis/bootstraptoken/v1/types.go
  cmd/kubeadm/app/apis/bootstraptoken/v1/utils.go
  cmd/kubeadm/app/apis/bootstraptoken/v1/utils_test.go
  cmd/kubeadm/app/apis/bootstraptoken/v1/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/bootstraptokenstring.go
  cmd/kubeadm/app/apis/kubeadm/bootstraptokenstring_test.go
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/bootstraptokenstring.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/bootstraptokenstring_test.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/defaults.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/options/token.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/token_test.go
  cmd/kubeadm/app/discovery/token/token.go
  cmd/kubeadm/app/phases/bootstraptoken/node/token.go
  cmd/kubeadm/app/phases/copycerts/copycerts.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubeadm/app/util/marshal_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/XXL, triage/accepted

#103187 Kubeadm init --dry-run should work when using an external ca
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/phases/init/kubeconfig.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/M, triage/accepted

#103379 A collection of Service REST cleanups
  pkg/api/endpoints/testing/make.go
  pkg/api/service/testing/make.go
  pkg/registry/core/service/ipallocator/allocator.go
  pkg/registry/core/service/ipallocator/allocator_test.go
  pkg/registry/core/service/portallocator/allocator.go
  pkg/registry/core/service/storage/rest.go
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/storage/storage.go
Labels: approved, area/admin, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/network, size/XXL

#102050 remove metrics proxy
  cluster/gce/config-test.sh
  cluster/gce/util.sh
  test/e2e/apimachinery/garbage_collector.go
  test/e2e/e2e.go
  test/e2e/framework/framework.go
  test/e2e/framework/metrics/kubelet_metrics.go
  test/e2e/framework/metrics/metrics_grabber.go
  test/e2e/framework/metrics/metrics_proxy.go
  test/e2e/framework/pod/dial.go
  test/e2e/instrumentation/monitoring/metrics_grabber.go
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/testsuites/topology.go
  test/e2e/storage/testsuites/volume_expand.go
  test/e2e/storage/testsuites/volume_io.go
  test/e2e/storage/testsuites/volume_stress.go
  test/e2e/storage/testsuites/volumemode.go
  test/e2e/storage/testsuites/volumes.go
  test/e2e/storage/volume_metrics.go
  test/e2e/suites.go
Labels: approved, area/e2e-test-framework, area/provider/gcp, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cloud-provider, sig/instrumentation, sig/storage, sig/testing, size/XL, triage/accepted

#103371 windows tests: Wait for the network connectivity first
  test/e2e/windows/hybrid_network.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/testing, sig/windows, size/XS

#101074 Warn user for runtime support of debug targeting
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, needs-triage, priority/important-soon, release-note, sig/cli, size/S

#103083 Update github.com/pkg/errors with go native errors pkg
  test/e2e/windows/gmsa_full.go
  test/e2e/windows/utils.go
Labels: approved, area/code-organization, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, sig/windows, size/S, triage/accepted

#103387 make sure to split NPD hashes by architecture when upgrading to 0.8.9
  cluster/gce/gci/configure.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/cloud-provider, size/S, triage/accepted

#100412 Lb node ports beta
  pkg/api/service/testing/make.go
  pkg/apis/core/fuzzer/fuzzer.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/registry/core/service/storage/rest_test.go
  test/e2e/apimachinery/resource_quota.go
  test/integration/quota/quota_test.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/apps, sig/architecture, sig/network, sig/testing, size/L, triage/accepted

#101988 Remove users and groups created as part of rootless control-plane in kubeadm.
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS, triage/accepted

#103461 cluster,hack: Use community infra GCS bucket for retrieving CI builds
  cluster/common.sh
  cluster/gce/upgrade.sh
  cluster/gce/util.sh
  hack/get-build.sh
Labels: approved, area/provider/gcp, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, sig/release, size/XS

#101624 go-to-protobuf: small fixes to improve debuggability
  staging/src/k8s.io/code-generator/cmd/go-to-protobuf/main.go
  staging/src/k8s.io/code-generator/cmd/go-to-protobuf/protobuf/cmd.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS, triage/accepted

#103471 kubeadm: fix nil pointer in Cfg() feature gate checking
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS, triage/accepted

#103039 apf: calculation of dR/dt should use seats in use
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS, triage/accepted

#101834 CHANGELOG/OWNERS: Add simcard0000 as reviewer
  CHANGELOG/OWNERS
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XS, triage/accepted

#92372 ignore "vmdk not found" vsphere errors during unmount (assume success)
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/diskmanagers/vdm.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#98306 Support dynamically set log level for kube-proxy
  cmd/kube-proxy/app/server.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, lifecycle/stale, needs-priority, needs-triage, ok-to-test, release-note, sig/network, size/XS

#101433 Make the service account error more apparent
  cluster/gce/gci/configure.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cloud-provider, sig/node, size/S, triage/accepted

#103437 genericapiserver: adds HasBeenReady lifecycle signal
  staging/src/k8s.io/apiserver/pkg/server/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
  staging/src/k8s.io/apiserver/pkg/server/lifecycle_signals.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, size/L

#103475 merge packages of scheduler/core and scheduler
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/extender.go
  pkg/scheduler/extender_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/generic_scheduler.go
  pkg/scheduler/generic_scheduler_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/M

#100003 implement EnqueueExtensions interface in volumebinding
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/events.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/scheduling, sig/storage, size/M, triage/accepted

#99997 Extracting same code of endpointslice and endpointslicemirror into a new shared EndpointSlice package
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/endpointslice_tracker_test.go
  pkg/controller/endpointslice/errors.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslicemirroring/endpointset.go
  pkg/controller/endpointslicemirroring/endpointslice_tracker.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  pkg/controller/endpointslicemirroring/reconciler.go
  pkg/controller/endpointslicemirroring/reconciler_helpers.go
  pkg/controller/endpointslicemirroring/reconciler_test.go
  pkg/controller/endpointslicemirroring/utils.go
  pkg/controller/util/endpointslice/OWNERS
  pkg/controller/util/endpointslice/endpointset.go
  pkg/controller/util/endpointslice/endpointslice_tracker.go
  pkg/controller/util/endpointslice/endpointslice_tracker_test.go
  pkg/controller/util/endpointslice/errors.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/network, size/XL

#103116 reduce cpu usage of kube-proxy with iptables mode
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/util/network.go
  pkg/proxy/util/testing/fake.go
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/network, size/L

#102832 Migrate kube-proxy event to use v1 Event API
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
  cmd/kubemark/hollow-node.go
  pkg/kubemark/hollow_proxy.go
  pkg/proxy/endpoints.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/healthcheck/proxier_health.go
  pkg/proxy/healthcheck/service_health.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/service.go
  pkg/proxy/util/utils.go
  pkg/proxy/winkernel/proxier.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/feature, lgtm, needs-triage, ok-to-test, priority/backlog, release-note-none, sig/network, sig/scalability, size/L

#99640 memory manager: handling init containers
  pkg/kubelet/cm/memorymanager/memory_manager.go
  pkg/kubelet/cm/memorymanager/memory_manager_test.go
  pkg/kubelet/cm/memorymanager/policy.go
  pkg/kubelet/cm/memorymanager/policy_none.go
  pkg/kubelet/cm/memorymanager/policy_static.go
  pkg/kubelet/cm/memorymanager/policy_static_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/node, size/XXL, triage/accepted

#103495 kubeadm: fix godoc formatting for v1beta3
  cmd/kubeadm/app/apis/kubeadm/v1beta3/doc.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/M, triage/accepted

#102072 cleanup translations and fix update-translations.sh
  hack/update-translations.sh
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_serviceaccount.go
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/de_DE/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/de_DE/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/default/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/default/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/en_US/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/en_US/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/fr_FR/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/fr_FR/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/it_IT/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/it_IT/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ja_JP/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ja_JP/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ko_KR/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ko_KR/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/pt_BR/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/pt_BR/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/template.pot
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_CN/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_CN/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_TW/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_TW/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/test/default/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/test/en_US/LC_MESSAGES/k8s.mo
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XXL, triage/accepted

#102998 apiserver: add callback to get notified of object count
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd_object_count_tracker.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/object_count_tracker.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L, triage/accepted

#103462 Promote the ServiceInternalTrafficPolicy field to Beta and on by default
  pkg/api/service/testing/make.go
  pkg/apis/core/fuzzer/fuzzer.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/core/service/strategy_test.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/apps, sig/network, size/L, tide/merge-method-squash, triage/accepted

#103474 Bump `distroless/base` image to latest version
  cluster/images/kubemark/Dockerfile
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/scalability, size/XS

#102155 Added field-selector option for kubectl top pod
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod.go
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/cli, size/M, triage/accepted

#102520 nit: Update comment to match headers change.
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/command_headers.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/XS, triage/accepted

#103294 test/integration: rename package and files name from master to controlplane
  test/integration/controlplane/apiserver_identity_test.go
  test/integration/controlplane/audit_test.go
  test/integration/controlplane/crd_test.go
  test/integration/controlplane/graceful_shutdown_test.go
  test/integration/controlplane/kms_transformation_test.go
  test/integration/controlplane/kube_apiserver_test.go
  test/integration/controlplane/main_test.go
  test/integration/controlplane/secrets_transformation_test.go
  test/integration/controlplane/synthetic_controlplane_test.go
  test/integration/controlplane/transformation_testcase.go
  test/integration/framework/controlplane_utils.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S, triage/accepted, wg/naming

#103435 Change tracing service from kube-apiserver to apiserver
  staging/src/k8s.io/apiserver/pkg/server/options/tracing.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/instrumentation, size/XS, triage/accepted

#103504 apf: refactor width into its own struct
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/types.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/testing/no-restraint.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/match_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M, triage/accepted

#103509 Fix(test/integration/util): fix typo on logging message
  test/integration/util/util.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-ok-to-test, needs-priority, release-note-none, sig/testing, size/XS, triage/accepted

#103514 Hide long and multiline strings when printing
  staging/src/k8s.io/cli-runtime/pkg/printers/tableprinter.go
  staging/src/k8s.io/cli-runtime/pkg/printers/tableprinter_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/backlog, release-note, sig/cli, size/M, triage/accepted

#101946 Support extended resource in NodeResourcesBalancedAllocation plugin
  cmd/kube-scheduler/app/options/options_test.go
  pkg/scheduler/apis/config/register.go
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/testing/defaults/defaults.go
  pkg/scheduler/apis/config/types_pluginargs.go
  pkg/scheduler/apis/config/v1beta1/defaults.go
  pkg/scheduler/apis/config/v1beta1/defaults_test.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1beta1/zz_generated.defaults.go
  pkg/scheduler/apis/config/v1beta2/defaults.go
  pkg/scheduler/apis/config/v1beta2/defaults_test.go
  pkg/scheduler/apis/config/v1beta2/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1beta2/zz_generated.defaults.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
  pkg/scheduler/apis/config/validation/validation_pluginargs_test.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation_test.go
  pkg/scheduler/framework/plugins/noderesources/resource_allocation.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/register.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types_pluginargs.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/register.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/types_pluginargs.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/zz_generated.deepcopy.go
Labels: api-review, approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/scheduling, size/XL

#102890 exec credential provider: add v1 struct
  api/api-rules/violation_exceptions.list
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/install/install.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1/conversion.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1/doc.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1/register.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1/types.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1/zz_generated.conversion.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1/zz_generated.defaults.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec_test.go
  staging/src/k8s.io/client-go/tools/auth/exec/exec.go
  staging/src/k8s.io/client-go/tools/auth/exec/exec_test.go
  staging/src/k8s.io/client-go/tools/auth/exec/types_test.go
  test/cmd/authentication.sh
  test/integration/client/exec_test.go
  vendor/modules.txt
Labels: api-review, approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/auth, sig/testing, size/XL, triage/accepted

#103292 Add backwards compatibility for ephemeral containers in kubectl debug
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cli, size/M, triage/accepted

#103480 Readable error message on the plugin configs of the removed plugins
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/M

#103472 test/integration/quota: deflake TestQuotaLimitService
  test/integration/quota/quota_test.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/L, triage/accepted

#101767 Promote LogarithmicScaleDown to Beta
  pkg/controller/replicaset/metrics/metrics.go
  pkg/controller/replicaset/replica_set.go
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/apps, sig/instrumentation, size/M, triage/accepted

#103244 Delegate applying FSGroup to CSI driver through NodeStageVolume and NodePublishVolume
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
  pkg/features/kube_features.go
  pkg/volume/awsebs/attacher.go
  pkg/volume/azuredd/attacher.go
  pkg/volume/cinder/attacher.go
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_block.go
  pkg/volume/csi/csi_client.go
  pkg/volume/csi/csi_client_test.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_mounter_test.go
  pkg/volume/csi/csi_test.go
  pkg/volume/csi/fake/fake_client.go
  pkg/volume/fc/attacher.go
  pkg/volume/flexvolume/attacher.go
  pkg/volume/flexvolume/attacher_test.go
  pkg/volume/gcepd/attacher.go
  pkg/volume/iscsi/attacher.go
  pkg/volume/local/local.go
  pkg/volume/local/local_test.go
  pkg/volume/rbd/attacher.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/volume.go
  pkg/volume/vsphere_volume/attacher.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/apps, sig/storage, size/XL, triage/accepted

#103484 Update the logic to pick the best queue in P&F
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/fifo_list.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/fifo_list_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L, triage/accepted

#99961 Introduce Impersonate-UID header
  staging/src/k8s.io/api/authentication/v1/types.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation_test.go
  test/integration/auth/auth_test.go
  test/integration/authutil/authutil.go
  test/integration/certificates/admission_approval_test.go
  test/integration/certificates/admission_sign_test.go
  test/integration/certificates/admission_test.go
  test/integration/certificates/controller_approval_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/api-change, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note, sig/api-machinery, sig/auth, sig/testing, size/L, triage/accepted

#98431 fix kubectl alpha debug node does not work on tainted(NoExecute) nodes
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note, sig/cli, size/M, triage/accepted

#99582 custom plugin config should take precedence over default plugin config
  pkg/scheduler/apis/config/v1beta2/default_plugins.go
  pkg/scheduler/apis/config/v1beta2/default_plugins_test.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/types.go
Labels: api-review, approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/scheduling, size/M

#102181 Deprecate azure and gcp in-tree auth plugins
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/gcp.go
Labels: approved, cncf-cla: yes, kind/cleanup, kind/deprecation, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/auth, size/S, triage/accepted

#102677 Deprecated message for ignore-errors flag
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/cli, size/XS, triage/accepted

#102823 Alpha node swap support
  hack/local-up-cluster.sh
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/types/constants.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
Labels: api-review, approved, area/kubelet, cncf-cla: yes, kind/api-change, kind/feature, lgtm, priority/important-soon, release-note, sig/node, size/XXL, triage/accepted

#103307 podIPs order match node IP family preference (Downward API)
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-soon, release-note, sig/network, sig/node, size/L

#103445 Move pod-security-admission to an external Attributes interface
  plugin/pkg/admission/security/podsecurity/admission.go
  staging/publishing/rules.yaml
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  staging/src/k8s.io/pod-security-admission/admission/admission_test.go
  staging/src/k8s.io/pod-security-admission/admission/attributes.go
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/auth, sig/release, size/L, triage/accepted

#103496 kubeadm: statically default ImagePullPolicy in v1beta3
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/defaults.go
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/preflight/checks_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/M, triage/accepted

#103468 instantiates scheduler ComponentConfig after parsing feature gates
  cmd/kube-scheduler/app/options/deprecated.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/server.go
  cmd/kube-scheduler/app/server_test.go
  cmd/kube-scheduler/app/testing/testserver.go
  pkg/scheduler/apis/config/latest/latest.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-triage, priority/critical-urgent, release-note-none, sig/scheduling, size/L

#103409 test/e2e/network: add test for Service internalTrafficPolicy
  test/e2e/network/service.go
  test/e2e/network/util.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/L, triage/accepted

#103390 Use system-validators v1.5.0
  go.mod
  go.sum
  vendor/k8s.io/system-validators/validators/docker_validator.go
  vendor/k8s.io/system-validators/validators/types_unix.go
  vendor/modules.txt
Labels: approved, area/dependency, cncf-cla: yes, kind/bug, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/cluster-lifecycle, size/XS, triage/accepted

#103407 Added unit tests for ExpandPathsToFileVisitors
  staging/src/k8s.io/cli-runtime/pkg/resource/visitor_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cli, size/L

#102548 Cherry pick of #102516: serviceOwnsFrontendIP shouldn't report error when the public IP doesn't match
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/XS, triage/accepted

#103232 Fix delete nil pointer panic
  staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, size/XS

#103420 Fix pkg/api/pod/util tests to ensure feature gate is set
  pkg/api/pod/util_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/node, size/L, triage/accepted

#103481 Add watch tracker to APF for request cost estimation
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/watch_tracker.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/watch_tracker_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L, triage/accepted

#103142 Upgrade etcd to 3.5.0
  build/dependencies.yaml
  cluster/gce/config-test.sh
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/nodes_util.go
Labels: approved, area/e2e-test-framework, area/kubeadm, area/provider/gcp, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, sig/cloud-provider, sig/cluster-lifecycle, sig/testing, size/S, triage/accepted

#103414 [disruptioncontroller] Don't error for unmanaged pods
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
  test/e2e/apps/disruption.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note, sig/apps, sig/testing, size/L, triage/accepted

#103550 apf: fix bootstrap ensurer log message
  pkg/registry/flowcontrol/rest/storage_flowcontrol.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS, triage/accepted

#101604 use PermitWithoutStream=true for etcd: send pings even without active stream
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS, triage/accepted

#102188 Improve slice allocation in LabelSelectorAsSelector
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/helpers.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/helpers_test.go
  staging/src/k8s.io/apimachinery/pkg/labels/selector.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, size/M, triage/accepted

#103383 sched: provide an option for plugin developers to move pods to activeQ
  pkg/scheduler/framework/interface.go
  pkg/scheduler/internal/queue/events.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/scheduler.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/scheduling, sig/testing, size/L

#103487 client-go: fix fixture data race
  staging/src/k8s.io/client-go/testing/fixture.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, size/XS

#103552 PodSecurity: use code/reason/details from admission library
  plugin/pkg/admission/security/podsecurity/admission.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-none, sig/auth, size/S

#92863 kubelet & kube-proxy: ignore sysctl errors and rlimit errors when running in UserNS (for rootless)
  pkg/features/kube_features.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/kubelet.go
  pkg/proxy/userspace/proxier.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/network, sig/node, sig/testing, size/M

#99144 promote huge page storage medium size to GA
  pkg/api/pod/util.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/kubelet/config/common.go
  pkg/volume/emptydir/empty_dir_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/apps, sig/node, sig/storage, size/L, triage/accepted

#103451 Graduate EndpointSliceProxying and WindowsEndpointSliceProxying Gates
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
  pkg/features/kube_features.go
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/topology.go
  pkg/proxy/topology_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-soon, release-note, sig/network, size/XXL, triage/accepted

#103520 Truncate endpoints over a 1000 addresses
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/apps, sig/network, size/L, triage/accepted

#103541 Bump version of Addon Resizer used by Metrics Server
  cluster/addons/metrics-server/metrics-server-deployment.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cloud-provider, sig/instrumentation, size/XS, triage/accepted

#103562 kubeadm: statically default the "from cluster" InitConfiguration
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/config/cluster_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/regression, lgtm, priority/critical-urgent, release-note-none, sig/cluster-lifecycle, size/S, triage/accepted

#103534 Refinements to pick queue logic in P&F
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/fifo_list.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/fifo_list_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-soon, release-note-none, sig/api-machinery, size/M

#103536 Clean up the remaining master names in test/integration
  test/integration/controlplane/kube_apiserver_test.go
  test/integration/etcd/server.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S, triage/accepted, wg/naming

#103560 [PodSecurity] Add ValidatePodSecurityConfiguration
  staging/src/k8s.io/pod-security-admission/admission/api/validation/validation.go
  staging/src/k8s.io/pod-security-admission/admission/api/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/auth, size/L

#103522 fix translations location in update-translations.sh
  hack/update-translations.sh
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/de_DE/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/de_DE/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/default/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/default/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/en_US/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/en_US/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/fr_FR/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/fr_FR/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/it_IT/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/it_IT/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ja_JP/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ja_JP/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ko_KR/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ko_KR/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/pt_BR/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/pt_BR/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/template.pot
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_CN/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_CN/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_TW/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_TW/LC_MESSAGES/k8s.po
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XXL, triage/accepted

#103532 Service: Fix semantics for Update wrt allocations
  pkg/api/service/testing/make.go
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/strategy.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-triage, priority/important-soon, release-note, sig/apps, sig/network, size/L

#103565 fix CleanScope so we can resolve correct verb for apiserver_request_terminations_total
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/instrumentation, size/M, triage/accepted

#102503 kubectl: update set command description to include cronjob resource
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_image.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_image_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/M, tide/merge-method-squash, triage/accepted

#103556 Update license gathering script for forked code
  LICENSES/third_party/forked/golang/LICENSE
  LICENSES/third_party/forked/gonum/graph/LICENSE
  LICENSES/third_party/forked/shell2junit/LICENSE
  LICENSES/third_party/multiarch/qemu-user-static/LICENSE
  LICENSES/vendor/google.golang.org/api/internal/third_party/uritemplates/LICENSE
  LICENSES/vendor/k8s.io/utils/internal/third_party/forked/golang/LICENSE
  LICENSES/vendor/sigs.k8s.io/kustomize/kyaml/internal/forked/github.com/go-yaml/yaml/LICENSE
  LICENSES/vendor/sigs.k8s.io/kustomize/kyaml/internal/forked/github.com/go-yaml/yaml/NOTICE
  LICENSES/vendor/sigs.k8s.io/kustomize/kyaml/internal/forked/github.com/qri-io/starlib/util/LICENSE
  hack/update-vendor-licenses.sh
Labels: approved, area/code-organization, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/architecture, size/L, triage/accepted

#99000 Add kubelet metrics for ephemeral containers
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/metrics/metrics.go
  pkg/kubelet/pod/pod_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/instrumentation, sig/node, size/L, triage/accepted

#102049 Kubectl:remove Factory that not used
  staging/src/k8s.io/kubectl/pkg/cmd/alpha.go
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/config.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/view.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/view_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/plugin/plugin.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/S, triage/accepted

#102122 Don't set sysctl net.ipv4.vs.conn_reuse_mode for kernels >=5.9
  pkg/proxy/ipvs/proxier.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, size/XS, triage/accepted

#102928 Simplify construction of the fake dynamic client
  staging/src/k8s.io/client-go/dynamic/fake/simple.go
  staging/src/k8s.io/client-go/dynamic/fake/simple_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L, triage/accepted

#102970 Feature: Support memory qos with cgroups v2
  cmd/kubelet/app/server.go
  cmd/kubelet/app/server_linux.go
  cmd/kubelet/app/server_unsupported.go
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/fake_container_manager.go
  pkg/kubelet/cm/helpers_linux.go
  pkg/kubelet/cm/helpers_linux_test.go
  pkg/kubelet/cm/helpers_unsupported.go
  pkg/kubelet/cm/node_container_manager_linux.go
  pkg/kubelet/cm/node_container_manager_linux_test.go
  pkg/kubelet/cm/pod_container_manager_linux.go
  pkg/kubelet/cm/qos_container_manager_linux.go
  pkg/kubelet/cm/qos_container_manager_linux_test.go
  pkg/kubelet/cm/types.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  pkg/volume/emptydir/empty_dir.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
Labels: api-review, approved, area/kubelet, cncf-cla: yes, kind/api-change, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/node, sig/storage, size/XL, triage/accepted

#103057 GCE Windows: Set TCP/IP parameters to align with GCE optimal settings.
  cluster/gce/windows/configure.ps1
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/windows, size/S, triage/accepted

#103216 Add distributed tracing to the etcd client
  cmd/kube-apiserver/app/server.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cloud-provider, sig/instrumentation, size/S, triage/accepted

#103470 fix: return empty VMAS name if using standalone VM
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cloud-provider, size/S, triage/accepted

#103574 Restore ability to print long strings
  staging/src/k8s.io/cli-runtime/pkg/printers/tableprinter.go
  staging/src/k8s.io/cli-runtime/pkg/printers/tableprinter_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, release-note-none, sig/cli, size/S, triage/accepted

#103580 fix kubelet panic when DynamicKubeletConfig enabled
  pkg/kubelet/metrics/metrics.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note-none, sig/instrumentation, sig/node, size/XS, triage/accepted

#103434 Explicitly skip host file mounting for Windows when HostProcess pod
  pkg/kubelet/kubelet_pods.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/node, sig/windows, size/S, triage/accepted

#103429 Fix resource metrics e2e test
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
  test/e2e_node/resource_metrics_test.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, release-note-none, sig/instrumentation, sig/node, sig/testing, size/S, triage/accepted

#101432 node: cpumanager: add options to reject non SMT-aligned workload
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  pkg/kubelet/cm/admission/errors.go
  pkg/kubelet/cm/admission/errors_test.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/fake_cpu_manager.go
  pkg/kubelet/cm/cpumanager/policy_none.go
  pkg/kubelet/cm/cpumanager/policy_none_test.go
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
  pkg/kubelet/cm/topologymanager/fake_topology_manager.go
  pkg/kubelet/cm/topologymanager/scope.go
  pkg/kubelet/cm/topologymanager/scope_container.go
  pkg/kubelet/cm/topologymanager/scope_pod.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/topology_manager_test.go
Labels: api-review, approved, area/kubelet, area/test, cncf-cla: yes, kind/api-change, kind/feature, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/XXL, triage/accepted

#103427 Fix test "Pods should run through the lifecycle of Pods and PodStatus"
  test/e2e/common/node/pods.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/M, triage/accepted

#103457 Add YAML separator validation and avoid silent ignoration
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, size/M, triage/accepted

#103508 Use cmp.Diff() replace reflect and diagnosis
  pkg/scheduler/generic_scheduler_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/S

#103589 update the help text of KubeletConfig following the DynamicKubletConf…
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/node, size/L, triage/accepted

#103590 Revert "apiserver: add callback to get notified of object count"
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd_object_count_tracker.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/object_count_tracker.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/L, triage/accepted

#103596 Promote EndpointSliceTerminatingCondition to Beta
  pkg/features/kube_features.go
  test/integration/endpointslice/endpointsliceterminating_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/network, sig/testing, size/L, triage/accepted

#100101 prevent mutation of deletion options during delete collection
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  test/integration/scheduler/util.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/node, sig/testing, size/M, triage/accepted

#101866 e2e: test SSH port on NodeSSHHosts
  test/e2e/framework/ssh/ssh.go
  test/e2e/node/crictl.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/backlog, release-note-none, sig/node, sig/testing, size/M, triage/accepted

#98238 Track Job completion through Pod finalizers and status
  pkg/controller/controller_ref_manager.go
  pkg/controller/controller_ref_manager_test.go
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/indexed_job_utils_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/testutil/test_utils.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
  test/integration/job/job_test.go
Labels: approved, area/test, cncf-cla: yes, kind/api-change, kind/feature, lgtm, priority/backlog, release-note, sig/api-machinery, sig/apps, sig/auth, sig/testing, size/XXL, triage/accepted

#102202 [docs] Add build instruction for buildx CLI plugin
  build/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, release-note-none, sig/release, size/XS, triage/accepted

#103291 Fix Data Race in nodeshutdown restart
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/flake, lgtm, priority/important-longterm, release-note-none, sig/node, size/S, triage/accepted

#103573 Fix index out of range if multiple default plugins are overridden
  cmd/kube-scheduler/app/options/configfile.go
  pkg/scheduler/apis/config/v1beta2/default_plugins.go
  pkg/scheduler/apis/config/v1beta2/default_plugins_test.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-triage, priority/critical-urgent, release-note-none, sig/scheduling, size/M

#103527 apf: include seats from queued requests when advancing virtual clock
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS, triage/accepted

#103533 KEP-2436 Leader Migration: to beta
  pkg/features/kube_features.go
  staging/src/k8s.io/controller-manager/config/v1beta1/doc.go
  staging/src/k8s.io/controller-manager/config/v1beta1/register.go
  staging/src/k8s.io/controller-manager/config/v1beta1/types.go
  staging/src/k8s.io/controller-manager/config/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/controller-manager/config/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/controller-manager/pkg/features/kube_features.go
  staging/src/k8s.io/controller-manager/pkg/leadermigration/config/config.go
  staging/src/k8s.io/controller-manager/pkg/leadermigration/options/options_test.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, sig/cloud-provider, size/L, triage/accepted

#103321 Manual cherry pick of #103318: Bump SMD to v4.1.2 to pick up #102749 fix
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/fieldpath/set.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/reconcile_schema.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/remove.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/typed.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/node, size/S, triage/accepted

#103320 Manual cherry pick of #103318: Bump SMD to v4.1.2 to pick up #102749 fix
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/fieldpath/set.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/reconcile_schema.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/remove.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/typed.go
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, size/S, triage/accepted

#102395 Skip node container manager test on systemd
  test/e2e_node/node_container_manager_test.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/S, triage/accepted

#103319 Manual cherry pick of #103318: Bump SMD to v4.1.2 to pick up #102749 fix
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/reconcile_schema.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/remove.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, needs-triage, priority/important-soon, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/storage, size/S, triage/accepted

#103617 [test-only]PodSecurity: make integration tests run sparsely
  staging/src/k8s.io/pod-security-admission/test/run.go
Labels: approved, area/deflake, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/auth, size/M, triage/accepted

#102177 kubectl: show consistent unit format in quota describe
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, release-note, sig/cli, size/S, triage/accepted

#103553 Rename NodeSwapEnabled flag to NodeSwap
  hack/local-up-cluster.sh
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-action-required, sig/node, size/S, triage/accepted

#103465 Podsecurity webhook
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  staging/src/k8s.io/pod-security-admission/cmd/webhook/server/options/options.go
  staging/src/k8s.io/pod-security-admission/cmd/webhook/server/scheme.go
  staging/src/k8s.io/pod-security-admission/cmd/webhook/server/server.go
  staging/src/k8s.io/pod-security-admission/cmd/webhook/webhook.go
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  test/integration/auth/podsecurity_test.go
  vendor/modules.txt
Labels: approved, area/dependency, area/release-eng, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/auth, sig/release, sig/testing, size/XL, triage/accepted

#102390 Automated cherry pick of #99680: fix error of setting negative value for containerLogMaxSize
  pkg/kubelet/logs/container_log_manager.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/XS, triage/accepted

#102389 Automated cherry pick of #99680: fix error of setting negative value for containerLogMaxSize
  pkg/kubelet/logs/container_log_manager.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/XS, triage/accepted

#103277 Automated cherry pick of #103133 on 1.19: switch scheduler to generate the merge patch on pod status instead of the full pod
  pkg/scheduler/scheduler.go
  pkg/scheduler/util/BUILD
  pkg/scheduler/util/utils.go
  pkg/scheduler/util/utils_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/critical-urgent, sig/scheduling, size/L

#103278 Automated cherry pick of #103133 on 1.20: switch scheduler to generate the merge patch on pod status instead of the full pod
  pkg/scheduler/scheduler.go
  pkg/scheduler/util/BUILD
  pkg/scheduler/util/utils.go
  pkg/scheduler/util/utils_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/critical-urgent, sig/scheduling, size/L

#103452 [test-only][PodSecurity] Add test coverage for pod-template-containing objects
  staging/src/k8s.io/pod-security-admission/admission/admission_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/auth, sig/security, size/L

#103279 Automated cherry pick of #103133 on 1.21: switch scheduler to generate the merge patch on pod status instead of the full pod
  pkg/scheduler/scheduler.go
  pkg/scheduler/util/utils.go
  pkg/scheduler/util/utils_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/critical-urgent, sig/scheduling, size/L

#103139 Automated cherry pick of #103138: Loadbalancer IngressIP policy should be configured as non-DSR
  pkg/proxy/winkernel/proxier.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, size/XS, triage/accepted

#103140 Automated cherry pick of #103138: Loadbalancer IngressIP policy should be configured as non-DSR
  pkg/proxy/winkernel/proxier.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, size/XS, triage/accepted

#103171 Automated cherry pick of #96966: p&f e2e test: log response header for better troubleshooting
  test/e2e/apimachinery/flowcontrol.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/testing, size/M, triage/accepted
