Repository kubernetes/kubernetes, pull requests merged in 2021-06, with the labels that each got.

#102462 Add tests to logs
  staging/src/k8s.io/component-base/logs/options_test.go
Labels: approved, cncf-cla: yes, kind/design, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/L, wg/structured-logging

#102470 Refactor logs options
  staging/src/k8s.io/component-base/logs/config.go
  staging/src/k8s.io/component-base/logs/options.go
  staging/src/k8s.io/component-base/logs/options_test.go
  staging/src/k8s.io/component-base/logs/registry.go
  staging/src/k8s.io/component-base/logs/validate.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/L, triage/accepted, wg/structured-logging

#102359 Log spelling formatting and a redundant conversion
  pkg/proxy/iptables/proxier.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, size/S, triage/accepted

#102107 client-go: add retry logic for Watch and Stream
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/client-go/rest/with_retry_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, size/XL, triage/accepted

#102279 Part5: master to controlplane in test/integration(1.22)
  test/integration/defaulttolerationseconds/defaulttolerationseconds_test.go
  test/integration/framework/master_utils.go
  test/integration/master/synthetic_master_test.go
  test/integration/metrics/metrics_test.go
  test/integration/objectmeta/objectmeta_test.go
  test/integration/serviceaccount/service_account_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/instrumentation, sig/testing, size/M, triage/accepted, wg/naming

#102409 Bump golang.org/x/text to v0.3.6
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/golang.org/x/text/encoding/simplifiedchinese/hzgb2312.go
  vendor/golang.org/x/text/internal/language/language.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/language/go1_1.go
  vendor/golang.org/x/text/language/go1_2.go
  vendor/golang.org/x/text/language/language.go
  vendor/golang.org/x/text/language/tables.go
  vendor/golang.org/x/text/secure/bidirule/bidirule10.0.0.go
  vendor/golang.org/x/text/secure/bidirule/bidirule9.0.0.go
  vendor/golang.org/x/text/unicode/bidi/bidi.go
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/bidi/tables10.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables11.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables12.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables13.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables9.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables10.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables11.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables12.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables9.0.0.go
  vendor/golang.org/x/text/width/tables10.0.0.go
  vendor/golang.org/x/text/width/tables11.0.0.go
  vendor/golang.org/x/text/width/tables12.0.0.go
  vendor/golang.org/x/text/width/tables13.0.0.go
  vendor/golang.org/x/text/width/tables9.0.0.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/node, sig/storage, size/S

#102465 Return UnschedulableAndUnresolvable when looking up volume-related resource returns NotFound error
  pkg/scheduler/framework/fake/listers.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/M

#102232 Change log line to print actual pod uid and not address of the pod uid
  pkg/kubelet/pod/mirror_client.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/S, triage/accepted

#102218 pkg/kubelet/cm: cgroup-related cleanups
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/cgroup_manager_unsupported.go
  pkg/kubelet/cm/qos_container_manager_linux.go
  pkg/kubelet/cm/types.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/L, triage/accepted

#101559 Clean up tempDir after fsstore_test.go is executed
  pkg/kubelet/kubeletconfig/checkpoint/store/fsstore_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/M, triage/accepted

#102381 Add a test for verifying compute basepath.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cloud-provider, size/S, triage/accepted

#102494 Add user and group name constants for kubeadm rootless control-plane.
  cmd/kubeadm/app/constants/constants.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/S, triage/accepted

#102497 remove LinuxOnly tags for subset of dual-stack tests
  test/e2e/network/dual_stack.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-none, sig/network, sig/testing, size/XS

#102502 kubeadm: use subpath for coredns only for default repository
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/images/images.go
  cmd/kubeadm/app/images/images_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, release-note-action-required, sig/cluster-lifecycle, size/M, triage/accepted

#102510 Default GCE testing to using konnectivity
  cluster/gce/config-test.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cloud-provider, size/XS, triage/accepted

#101605 cleanup: delete tempDir correctly after flexvloume_test is executed
  pkg/volume/flexvolume/flexvolume_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/storage, size/S

#102063 Azure auth forwarding adal refresh error to azureTokenSource
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/auth, size/S, triage/accepted

#100558 Optimize the structured Logging migration.
  pkg/proxy/userspace/proxier.go
  pkg/proxy/winkernel/proxier.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/network, size/M, wg/structured-logging

#102201 Graduate prefer nominated node to beta
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/scheduling, size/XS

#102483 vendor: upgrade cadvisor to 0.39.2
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/container/common/helpers.go
  vendor/modules.txt
Labels: approved, area/dependency, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/node, size/XS

#102504 Add KEP links to sig-net feature gates
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, sig/architecture, size/S

#102485 Cleanup Framework interface
  pkg/scheduler/framework/interface.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/M

#102221 Add hint to fake topology manager.
  pkg/kubelet/cm/devicemanager/manager_test.go
  pkg/kubelet/cm/memorymanager/policy_static_test.go
  pkg/kubelet/cm/topologymanager/fake_topology_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/L, triage/accepted

#102358 Automated cherry pick of #102157: kubeadm: remove e2e test for ClusterStatus
  test/e2e_kubeadm/kubeadm_config_test.go
Labels: approved, area/kubeadm, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, sig/testing, size/S, triage/accepted

#102273 Automated cherry pick of #102213: Upgrade konnectivity-client for GRPC connection fixes
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/provider/gcp, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cloud-provider, size/S, triage/accepted

#102338 Promote cronjob to batch/v1: kubectl sparse_test file
  staging/src/k8s.io/kubectl/pkg/scheme/sparse_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note-none, sig/cli, sig/testing, size/XS, triage/accepted

#102484 fix watch_cache_capacity metrics
  staging/src/k8s.io/apiserver/pkg/storage/cacher/metrics.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/instrumentation, size/XS, triage/accepted

#102171 Implement support for watch initialization in P&F
  staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_context.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note, sig/api-machinery, size/L, triage/accepted

#102528 Clean apply's prune and kube addons with batch/v1 CronJob
  cluster/addons/addon-manager/kube-addons.sh
  staging/src/k8s.io/kubectl/pkg/cmd/apply/prune.go
Labels: approved, area/kubectl, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, size/XS, triage/accepted

#102509 Clarify and split up the "not actually SCTP" SCTP NetworkPolicy test
  test/e2e/network/netpol/network_legacy.go
  test/e2e/network/netpol/network_policy.go
Labels: approved, area/network-policy, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/network, sig/testing, size/M, triage/accepted

#102518 Cleanup redundant failure reason in InterPodAffinity plugin
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/M

#100142 Add `LAST RESTART` column to `kubectl get pods`
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
  pkg/registry/core/pod/storage/storage_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note, sig/cli, size/L, triage/accepted

#100679 doc: remove description that `socat` is required
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS, triage/accepted

#102506 Automated cherry pick of #102502: use subpath for coredns only for default repository
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/images/images.go
  cmd/kubeadm/app/images/images_test.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/regression, lgtm, priority/important-soon, sig/cluster-lifecycle, size/M, triage/accepted

#101633 kubelet_pods.go: clean makeEnvironmentVariables
  pkg/kubelet/kubelet_pods.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS, triage/accepted

#101959 Add test cases to the LoadClientConfig function
  pkg/kubelet/certificate/bootstrap/bootstrap_test.go
  pkg/kubelet/certificate/bootstrap/testdata/README.md
  pkg/kubelet/certificate/bootstrap/testdata/mycertinvalid.crt
  pkg/kubelet/certificate/bootstrap/testdata/mycertinvalid.key
  pkg/kubelet/certificate/bootstrap/testdata/mycertvalid.crt
  pkg/kubelet/certificate/bootstrap/testdata/mycertvalid.key
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/auth, sig/node, size/L, triage/accepted

#101982 handle Unmarshal error
  pkg/controller/statefulset/stateful_set_utils.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, size/XS, triage/accepted

#102516 serviceOwnsFrontendIP shouldn't report error when the public IP doesn't match
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cloud-provider, size/XS, triage/accepted

#102526 storage e2e: capture driver pod events
  test/e2e/storage/podlogs/podlogs.go
  test/e2e/storage/utils/pod.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, sig/testing, size/M

#102539 Fix closing of decorated watcher channel on timeout
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/decorated_watcher.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/decorated_watcher_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  test/integration/apimachinery/watch_timeout_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/L

#102544 GCE Windows: Only create NPD kubeconfig when the file path is defined.
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/windows, size/S, triage/accepted

#102529 Promote CronJobControllerV2 flag to GA
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/apps, size/XS, triage/accepted

#102276 Part3: master to controlplane in test/integration(1.22)
  test/integration/apimachinery/watch_restart_test.go
  test/integration/apimachinery/watch_timeout_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/apiserver/apply/apply_test.go
  test/integration/apiserver/flowcontrol/concurrency_test.go
  test/integration/apiserver/watchcache_test.go
  test/integration/auth/accessreview_test.go
  test/integration/auth/auth_test.go
  test/integration/auth/bootstraptoken_test.go
  test/integration/auth/rbac_test.go
  test/integration/auth/svcaccttoken_test.go
  test/integration/certificates/field_selector_test.go
  test/integration/configmap/configmap_test.go
  test/integration/cronjob/cronjob_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/defaulttolerationseconds/defaulttolerationseconds_test.go
  test/integration/deployment/util.go
  test/integration/dualstack/dualstack_endpoints_test.go
  test/integration/dualstack/dualstack_test.go
  test/integration/endpoints/endpoints_test.go
  test/integration/endpointslice/endpointslicemirroring_test.go
  test/integration/evictions/evictions_test.go
  test/integration/framework/master_utils.go
  test/integration/job/job_test.go
  test/integration/master/synthetic_master_test.go
  test/integration/metrics/metrics_test.go
  test/integration/namespace/ns_conditions_test.go
  test/integration/objectmeta/objectmeta_test.go
  test/integration/pods/pods_test.go
  test/integration/quota/quota_test.go
  test/integration/replicaset/replicaset_test.go
  test/integration/replicationcontroller/replicationcontroller_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/secrets/secrets_test.go
  test/integration/service/loadbalancer_test.go
  test/integration/serviceaccount/service_account_test.go
  test/integration/statefulset/util.go
  test/integration/storageclasses/storage_classes_test.go
  test/integration/ttlcontroller/ttlcontroller_test.go
  test/integration/util/util.go
  test/integration/volume/attach_detach_test.go
  test/integration/volume/persistent_volumes_test.go
  test/integration/volumescheduling/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/instrumentation, sig/testing, size/L, triage/accepted, wg/naming

#102561 Updating to prometheus/common v0.26.0
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/fnv.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/time.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, size/M

#102270 Part1: master to controlplane in test/integration(1.22)
  test/integration/framework/master_utils.go
  test/integration/job/job_test.go
  test/integration/master/kube_apiserver_test.go
  test/integration/quota/quota_test.go
  test/integration/serviceaccount/service_account_test.go
  test/integration/util/util.go
  test/integration/volumescheduling/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/M, triage/accepted, wg/naming

#102278 part4: master to controlplane in test/integration(1.22)
  test/integration/framework/master_utils.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/S, triage/accepted, wg/naming

#101860 Delete AvailableResources judgment for GA features
  cmd/kube-controller-manager/app/apps.go
  cmd/kube-controller-manager/app/batch.go
  cmd/kube-controller-manager/app/certificates.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/M, triage/accepted

#101738 fix manual trigger of readinessProbe on startupProbe success
  pkg/kubelet/prober/prober_manager.go
  test/e2e/common/node/container_probe.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/S, triage/accepted

#102572 Remove -k from toCurl output
  staging/src/k8s.io/client-go/transport/round_trippers.go
  staging/src/k8s.io/client-go/transport/round_trippers_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS, triage/accepted

#102421 Fix a grammar error in doc
  test/cmd/README.md
Labels: approved, area/test, cncf-cla: yes, kind/documentation, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/testing, size/XS

#102420 Error message should not be capitalized.
  test/utils/runners.go
  test/utils/update_resources.go
Labels: approved, area/test, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/M, triage/accepted

#102477 FIx failing tests: [sig-storage] Test_ADC_VolumeAttachmentRecovery/Deleted_Pod_with_migrated_PV
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/apps, size/XS, triage/accepted

#102533 Lb flakes
  test/e2e/framework/network/utils.go
  test/e2e/network/loadbalancer.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/e2e-test-framework, area/kubeadm, area/kubectl, area/kubelet, area/provider/gcp, area/release-eng, area/test, cncf-cla: yes, kind/api-change, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/auth, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/network, sig/node, sig/release, sig/scheduling, sig/storage, sig/testing, size/S

#101082 Add allowAutoIOPSPerGBIncrease to translated AWS EBS StorageClasses
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs.go
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-action-required, sig/storage, size/S

#102059 Retry reading /proc/mounts when unable to get a consistent read
  go.mod
  go.sum
  pkg/volume/fc/fc.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/util/util.go
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/io/read.go
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/storage, size/M, triage/accepted

#102489 Fix regression for timed-out stream cleanups
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/critical-urgent, release-note, sig/api-machinery, sig/node, size/XS, triage/accepted

#99575 Simply modify the Kubectl logs information
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS, triage/accepted

#102467 upgrade json-patch to v4.11.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apimachinery/pkg/util/jsonmergepatch/patch_test.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/modules.txt
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubeadm, area/kubectl, area/provider/gcp, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/apps, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/storage, sig/testing, size/M, triage/accepted

#102581 Revert "client-go: add retry logic for Watch and Stream"
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/client-go/rest/with_retry_test.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XL, triage/accepted

#100939 Feature support FakeClientset match subresource
  staging/src/k8s.io/client-go/testing/fixture.go
  staging/src/k8s.io/client-go/testing/fixture_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, sig/testing, size/L, triage/accepted

#102584 Fix race in attachdetach tests
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
Labels: approved, cncf-cla: yes, kind/bug, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/storage, size/S, triage/accepted

#102590 update debian-iptables to v1.6.2
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/network, sig/testing, size/XS

#102591 storage e2e: disable health check containers
  test/e2e/storage/drivers/csi.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, sig/testing, size/S

#102463 kubeadm: add utilities to manage users and groups
  cmd/kubeadm/app/util/users/users_linux.go
  cmd/kubeadm/app/util/users/users_linux_test.go
  cmd/kubeadm/app/util/users/users_other.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XXL, triage/accepted

#102593 remove redundant code
  cmd/kubeadm/app/phases/upgrade/compute.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/cluster-lifecycle, size/XS, triage/accepted

#102587 Revert "Cleanup portforward streams after their usage" [1.21]
  pkg/kubelet/cri/streaming/portforward/httpstream.go
  pkg/kubelet/cri/streaming/portforward/httpstream_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection_test.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, needs-priority, needs-triage, release-note, sig/api-machinery, sig/node, size/M

#102586 Revert "Cleanup portforward streams after their usage" [1.20]
  pkg/kubelet/cri/streaming/portforward/httpstream.go
  pkg/kubelet/cri/streaming/portforward/httpstream_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection_test.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, needs-priority, needs-triage, release-note, sig/api-machinery, sig/node, size/M

#102588 Revert "Cleanup portforward streams after their usage" [1.19]
  pkg/kubelet/cri/streaming/portforward/httpstream.go
  pkg/kubelet/cri/streaming/portforward/httpstream_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection_test.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, needs-priority, needs-triage, release-note, sig/api-machinery, sig/node, size/M

#102608 Remove block device metrics unit test
  pkg/volume/metrics_block_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/storage, size/M, triage/accepted

#90368 Remove legacy metrics client from podautoscaler
  LICENSES/vendor/k8s.io/heapster/LICENSE
  api/api-rules/violation_exceptions.list
  cluster/gce/gci/configure-helper.sh
  cmd/kube-controller-manager/app/autoscaling.go
  cmd/kube-controller-manager/app/options/hpacontroller.go
  cmd/kube-controller-manager/app/options/options_test.go
  go.mod
  go.sum
  pkg/controller/podautoscaler/config/types.go
  pkg/controller/podautoscaler/config/v1alpha1/defaults.go
  pkg/controller/podautoscaler/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/podautoscaler/legacy_horizontal_test.go
  pkg/controller/podautoscaler/legacy_replica_calculator_test.go
  pkg/controller/podautoscaler/metrics/client.go
  pkg/controller/podautoscaler/metrics/client_test.go
  pkg/controller/podautoscaler/metrics/legacy_metrics_client.go
  pkg/controller/podautoscaler/metrics/legacy_metrics_client_test.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/types.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/zz_generated.deepcopy.go
  vendor/k8s.io/heapster/LICENSE
  vendor/k8s.io/heapster/metrics/api/v1/types/historical_types.go
  vendor/k8s.io/heapster/metrics/api/v1/types/model_types.go
  vendor/k8s.io/heapster/metrics/api/v1/types/types.go
  vendor/modules.txt
Labels: approved, area/dependency, area/provider/gcp, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/apps, sig/autoscaling, sig/cloud-provider, sig/instrumentation, size/XXL

#101272 Remove CSIMigrationvSphereComplete flag
  cmd/kube-controller-manager/app/plugins_providers.go
  cmd/kubelet/app/plugins_providers.go
  pkg/features/kube_features.go
  pkg/volume/csimigration/plugin_manager.go
  pkg/volume/csimigration/plugin_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-action-required, sig/api-machinery, sig/node, sig/storage, size/L, triage/accepted

#102297 remove --ssh- options, deprecated 13 releases, that only work on GCE
  cluster/gce/gci/configure-kubeapiserver.sh
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/server.go
  pkg/controlplane/instance.go
  pkg/controlplane/tunneler/ssh.go
  pkg/controlplane/tunneler/ssh_test.go
  pkg/ssh/ssh.go
  pkg/ssh/ssh_test.go
  test/integration/framework/test_server.go
Labels: approved, area/apiserver, area/provider/gcp, area/test, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cloud-provider, sig/testing, size/XXL, triage/accepted

#102513 only delete forwardingrule and address when net tier annotation is specified
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/cloud-provider, size/M, triage/accepted

#102597 test/integration: Rename masterConfig to controlPlaneConfig
  test/integration/apimachinery/watch_restart_test.go
  test/integration/apimachinery/watch_timeout_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/apiserver/apply/apply_test.go
  test/integration/apiserver/flowcontrol/concurrency_test.go
  test/integration/apiserver/watchcache_test.go
  test/integration/auth/accessreview_test.go
  test/integration/auth/auth_test.go
  test/integration/auth/bootstraptoken_test.go
  test/integration/auth/rbac_test.go
  test/integration/auth/svcaccttoken_test.go
  test/integration/cronjob/cronjob_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/defaulttolerationseconds/defaulttolerationseconds_test.go
  test/integration/deployment/util.go
  test/integration/endpoints/endpoints_test.go
  test/integration/endpointslice/endpointslicemirroring_test.go
  test/integration/evictions/evictions_test.go
  test/integration/framework/master_utils.go
  test/integration/job/job_test.go
  test/integration/master/synthetic_master_test.go
  test/integration/namespace/ns_conditions_test.go
  test/integration/quota/quota_test.go
  test/integration/replicaset/replicaset_test.go
  test/integration/replicationcontroller/replicationcontroller_test.go
  test/integration/service/loadbalancer_test.go
  test/integration/serviceaccount/service_account_test.go
  test/integration/statefulset/util.go
  test/integration/util/util.go
  test/integration/volumescheduling/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, sig/testing, size/L, triage/accepted, wg/naming

#102610 Fix audit unit test file location
  staging/src/k8s.io/apiserver/pkg/server/options/audit_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, size/S, triage/accepted

#102625 Add klog integration tests
  staging/src/k8s.io/component-base/logs/json/json_test.go
  staging/src/k8s.io/component-base/logs/json/klog_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/L, triage/accepted, wg/structured-logging

#99080 Use docker buildx for the build-image.
  build/common.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/release, size/XS, triage/accepted

#102617 Cleanup json logging benchmarks
  staging/src/k8s.io/component-base/logs/json/json_benchmark_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/M, wg/structured-logging

#102040 Fix auditing failed of request: encoding failed
  cluster/gce/gci/configure-helper.sh
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go
  test/integration/master/audit_test.go
  test/kubemark/resources/start-kubemark-master.sh
Labels: approved, area/apiserver, area/provider/gcp, area/test, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, sig/apps, sig/auth, sig/cloud-provider, sig/scalability, sig/testing, size/L

#96374 Create example component for integrating with component-base
  staging/src/k8s.io/component-base/logs/example/README.md
  staging/src/k8s.io/component-base/logs/example/cmd/logger.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/L, wg/component-standard, wg/structured-logging

#102491 Avoid warning on seccomp field usage
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/M, triage/accepted

#102511 apf: fix data race in test
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L, triage/accepted

#102620 Disable zap sampling and cleanup config
  staging/src/k8s.io/component-base/logs/json/json.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/M, wg/structured-logging

#102435 hotfix(staging_apiserver_pkg_httplog): restore depth to log calls
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/M, triage/accepted, wg/structured-logging

#102570 Add scalability label to kubemark OWNERS
  pkg/kubemark/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/backlog, release-note-none, sig/scalability, size/XS

#102370 Remove set errexit from etcd manifest
  cluster/gce/manifests/etcd.manifest
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#102652 fix flake integration rotation via informer
  test/integration/client/exec_test.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/auth, sig/testing, size/S, triage/accepted

#102568 Add unit test coverage for init container phases
  pkg/kubelet/kubelet_pods_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, size/L, triage/accepted

#102498 sched: fix a bug that a preemptor pod exists as a phantom
  pkg/scheduler/factory.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, needs-priority, needs-triage, release-note, sig/scheduling, size/L

#102661 Default GCE testing to using konnectivity
  cluster/gce/config-test.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, size/XS

#102604 Add utils to set file/directory owners and permissions.
  cmd/kubeadm/app/util/users/users_linux.go
  cmd/kubeadm/app/util/users/users_other.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/S, triage/accepted

#102627 e2e storage: enable health-check controller in hostpath deployment
  test/e2e/storage/drivers/csi.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, sig/testing, size/S

#102606 Bring back "client-go: add retry logic for Watch and Stream" and fix test flake
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/client-go/rest/with_retry_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, kind/flake, kind/regression, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XL, triage/accepted

#102538 Add e2e test for a volume + its clone used on the same node
  test/e2e/storage/framework/testpattern.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/provisioning.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/L, triage/accepted

#102471 Pre-allocated memory
  pkg/kubelet/config/file.go
  pkg/kubelet/config/http.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/XS, triage/accepted

#102615 Fix test order in /pkg/probe/http/http_test.go
  pkg/probe/http/http_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS, triage/accepted

#102457 Automated cherry pick of #102176: Fix VolumeAttachment garbage collection for migrated PVs
  pkg/controller/volume/attachdetach/BUILD
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/apps, sig/storage, size/L, triage/accepted

#102458 Automated cherry pick of #102176: Fix VolumeAttachment garbage collection for migrated PVs
  pkg/controller/volume/attachdetach/BUILD
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/apps, sig/storage, size/L, triage/accepted

#102456 Automated cherry pick of #102176: Fix VolumeAttachment garbage collection for migrated PVs
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/apps, sig/storage, size/L, triage/accepted

#102611 kubelet: Fix test order in verifyContainerStatuses
  pkg/kubelet/kubelet_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/XS, triage/accepted

#101795 Automated cherry pick of #100326: Fix watchForLockfileContention memory leak
  cmd/kubelet/app/server_linux.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/XS, triage/accepted

#102117 Automated cherry pick of #102005: Azure: avoid setting cached Sku when updating VMSS and VMSS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS, triage/accepted

#102165 Automated cherry pick of #102083: fix: delete non existing disk issue
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS, triage/accepted

#102644 Create a new modele component-base/logs/json/register for optional json register
  staging/src/k8s.io/component-base/logs/json/register/register.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/S, triage/accepted, wg/structured-logging

#101826 Automated cherry pick of #100948: Avoid caching the VMSS instances whose network profile is nil
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/M, triage/accepted

#101863 Automated cherry pick of #101652: Add jitter to lease controller
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/XS, triage/accepted

#101890 Cherry pick of #101595: Update cos-gpu-installer image
  test/e2e/testing-manifests/scheduling/nvidia-driver-installer.yaml
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, needs-triage, release-note-none, sig/testing, size/XS

#101892 Automated cherry pick of #101615: fix removing pods from podTopologyHints mapping
  pkg/kubelet/cm/internal_container_lifecycle.go
  pkg/kubelet/cm/memorymanager/policy_static_test.go
  pkg/kubelet/cm/topologymanager/fake_topology_manager.go
  pkg/kubelet/cm/topologymanager/fake_topology_manager_test.go
  pkg/kubelet/cm/topologymanager/scope.go
  pkg/kubelet/cm/topologymanager/scope_container.go
  pkg/kubelet/cm/topologymanager/scope_pod.go
  pkg/kubelet/cm/topologymanager/scope_test.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/node, size/L, triage/accepted

#101939 Automated cherry pick of #101857: fixed wrong warning in kube-proxy regarding topology aware
  pkg/proxy/topology.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, sig/network, size/XS, triage/accepted

#101956 Automated cherry pick of #101443: Add missing clientset to EBS storage e2e test
  test/e2e/storage/volume_provisioning.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, sig/testing, size/XS

#102119 Automated cherry pick of #102005: Azure: avoid setting cached Sku when updating VMSS and VMSS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS, triage/accepted

#102487 (scheduler e2e) Create balanced pods in parallel
  test/e2e/scheduling/priorities.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, sig/testing, size/S

#102514 Automated cherry pick of #102306: Return UnschedulableAndUnresolvable instead of Error when #102465: Return UnschedulableAndUnresolvable when looking up
  pkg/scheduler/framework/fake/listers.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/M, triage/accepted

#102667 Automated cherry pick of #102498: sched: fix a bug that a preemptor pod exists as a phantom
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, sig/scheduling, size/L

#101819 Cherry pick of #101752: fix: not tagging static public IP
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/XS, triage/accepted

#101825 Automated cherry pick of #100948: Avoid caching the VMSS instances whose network profile is nil
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/M, triage/accepted

#102351 Speed up PV provisioning for vsphere driver
  staging/src/k8s.io/legacy-cloud-providers/vsphere/BUILD
  staging/src/k8s.io/legacy-cloud-providers/vsphere/shared_datastore.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/virtualmachine.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/L, triage/accepted

#101796 Automated cherry pick of #100326: Fix watchForLockfileContention memory leak
  cmd/kubelet/app/server_linux.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/XS, triage/accepted

#101861 Automated cherry pick of #101652: Add jitter to lease controller
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/api-machinery, size/XS, triage/accepted

#101896 Automated cherry pick of #101615: fix removing pods from podTopologyHints mapping
  pkg/kubelet/cm/internal_container_lifecycle.go
  pkg/kubelet/cm/topologymanager/BUILD
  pkg/kubelet/cm/topologymanager/fake_topology_manager.go
  pkg/kubelet/cm/topologymanager/fake_topology_manager_test.go
  pkg/kubelet/cm/topologymanager/scope.go
  pkg/kubelet/cm/topologymanager/scope_container.go
  pkg/kubelet/cm/topologymanager/scope_pod.go
  pkg/kubelet/cm/topologymanager/scope_test.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/node, size/L, triage/accepted

#102118 Automated cherry pick of #102005: Azure: avoid setting cached Sku when updating VMSS and VMSS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS, triage/accepted

#102164 Automated cherry pick of #102083: fix: delete non existing disk issue
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS, triage/accepted

#102350 Speed up PV provisioning for vsphere driver
  staging/src/k8s.io/legacy-cloud-providers/vsphere/BUILD
  staging/src/k8s.io/legacy-cloud-providers/vsphere/shared_datastore.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/virtualmachine.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/L, triage/accepted

#102499 Automated cherry pick of #98510: Ignore transient errors when gather stats
  pkg/kubelet/dockershim/docker_stats_windows.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, sig/windows, size/S, triage/accepted

#102515 Automated cherry pick of #102306: Return UnschedulableAndUnresolvable instead of Error when #102465: Return UnschedulableAndUnresolvable when looking up
  pkg/scheduler/framework/fake/BUILD
  pkg/scheduler/framework/fake/listers.go
  pkg/scheduler/framework/plugins/volumezone/BUILD
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/M, triage/accepted

#102674 Automated cherry pick of #102498: sched: fix a bug that a preemptor pod exists as a phantom
  pkg/scheduler/factory.go
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/critical-urgent, sig/scheduling, size/L

#100937 Fix csi_client_test.go metrics nil pointer dereference
  pkg/volume/csi/csi_client_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, priority/backlog, release-note-none, sig/storage, size/S, triage/accepted

#100741 Fix incorrect test code in pkg/volume/csi/csi_attacher_test.go file
  pkg/volume/csi/csi_attacher_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/storage, size/XS, triage/accepted

#102665 Add explicit capability for online volume expansion
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/external/external.go
  test/e2e/storage/framework/testdriver.go
  test/e2e/storage/testsuites/volume_expand.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/storage, sig/testing, size/S, triage/accepted

#102675 Automated cherry pick of #102498: sched: fix a bug that a preemptor pod exists as a phantom
  pkg/scheduler/factory.go
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, sig/scheduling, size/L

#101827 Automated cherry pick of #100948: Avoid caching the VMSS instances whose network profile is nil
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/M, triage/accepted

#102671 apiserver: close handler chain right after shutdown delay duration
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, size/S

#102683 endpointslicemirroring controller mirror address status
  pkg/controller/endpointslicemirroring/reconciler.go
  pkg/controller/endpointslicemirroring/reconciler_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/apps, sig/network, size/M

#102547 Cherry pick of #102516: serviceOwnsFrontendIP shouldn't report error when the public IP doesn't match
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/XS, triage/accepted

#102500 Automated cherry pick of #98510: Ignore transient errors when gather stats
  pkg/kubelet/dockershim/docker_stats_windows.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/node, sig/windows, size/S, triage/accepted

#101993 Remove etcd connection apiserver preflight check
  cmd/kube-apiserver/app/server.go
  vendor/modules.txt
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/S, triage/accepted

#102585 Update etcd makefile to build v3.5.0-rc.0 image
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-triage, priority/important-soon, release-note-none, sig/api-machinery, sig/scalability, size/S

#102673 kubeadm: remove ephemeral-storage etcd requirement
  cmd/kubeadm/app/phases/etcd/local.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/XS, triage/accepted

#102454 Remove Godeps
  staging/src/k8s.io/api/Godeps/OWNERS
  staging/src/k8s.io/api/Godeps/Readme
  staging/src/k8s.io/apiextensions-apiserver/Godeps/OWNERS
  staging/src/k8s.io/apiextensions-apiserver/Godeps/Readme
  staging/src/k8s.io/apimachinery/Godeps/OWNERS
  staging/src/k8s.io/apimachinery/Godeps/Readme
  staging/src/k8s.io/apiserver/Godeps/OWNERS
  staging/src/k8s.io/apiserver/Godeps/Readme
  staging/src/k8s.io/cli-runtime/Godeps/OWNERS
  staging/src/k8s.io/cli-runtime/Godeps/Readme
  staging/src/k8s.io/client-go/Godeps/OWNERS
  staging/src/k8s.io/client-go/Godeps/Readme
  staging/src/k8s.io/cloud-provider/Godeps/OWNERS
  staging/src/k8s.io/cluster-bootstrap/Godeps/OWNERS
  staging/src/k8s.io/cluster-bootstrap/Godeps/Readme
  staging/src/k8s.io/code-generator/Godeps/OWNERS
  staging/src/k8s.io/code-generator/Godeps/Readme
  staging/src/k8s.io/component-base/Godeps/OWNERS
  staging/src/k8s.io/component-base/Godeps/Readme
  staging/src/k8s.io/cri-api/Godeps/OWNERS
  staging/src/k8s.io/csi-translation-lib/Godeps/OWNERS
  staging/src/k8s.io/kube-aggregator/Godeps/OWNERS
  staging/src/k8s.io/kube-aggregator/Godeps/Readme
  staging/src/k8s.io/kube-controller-manager/Godeps/OWNERS
  staging/src/k8s.io/kube-controller-manager/Godeps/Readme
  staging/src/k8s.io/kube-proxy/Godeps/OWNERS
  staging/src/k8s.io/kube-proxy/Godeps/Readme
  staging/src/k8s.io/kube-scheduler/Godeps/OWNERS
  staging/src/k8s.io/kube-scheduler/Godeps/Readme
  staging/src/k8s.io/kubelet/Godeps/OWNERS
  staging/src/k8s.io/kubelet/Godeps/Readme
  staging/src/k8s.io/metrics/Godeps/OWNERS
  staging/src/k8s.io/metrics/Godeps/Readme
  staging/src/k8s.io/sample-apiserver/Godeps/OWNERS
  staging/src/k8s.io/sample-apiserver/Godeps/Readme
  staging/src/k8s.io/sample-cli-plugin/Godeps/OWNERS
  staging/src/k8s.io/sample-cli-plugin/Godeps/Readme
  staging/src/k8s.io/sample-controller/Godeps/OWNERS
  staging/src/k8s.io/sample-controller/Godeps/Readme
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/node, sig/storage, size/L

#102700 e2e storage: disable health-monitor controller in hostpath deployment
  test/e2e/storage/drivers/csi.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, needs-priority, release-note-none, sig/storage, sig/testing, size/S, triage/accepted

#102697 Update version of go-flow-levee for verify-govet-levee check.
  cmd/kubeadm/app/apis/kubeadm/v1beta3/bootstraptokenstring.go
  hack/testdata/levee/levee-config.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Labels: approved, area/dependency, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, sig/security, size/S, triage/accepted

#102580 Automated cherry pick of #96843: Remove unnecessary snapshot ability check
  test/e2e/storage/external/external.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, lgtm, needs-priority, needs-triage, sig/storage, sig/testing, size/S

#101543 Automated cherry pick of #101495: Fix cleanupMountpoint issue for Windows
  staging/src/k8s.io/mount-utils/mount_helper_common.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, size/XS

#101886 Cherry pick of #101739: fix: avoid nil-pointer panic when checking the frontend IP configuration
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/S, triage/accepted

#102560 kubeadm:Run preflight checks for diff to check that the manifests already exist
  cmd/kubeadm/app/cmd/upgrade/diff.go
  cmd/kubeadm/app/cmd/upgrade/diff_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/cluster-lifecycle, size/M, triage/accepted

#101814 Automated cherry pick of #101592: chunk target operatation for aws targetGroup
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, sig/cloud-provider, size/XL

#102702 Automated cherry pick of #102683: endpointslicemirroring controller mirror address status
  pkg/controller/endpointslicemirroring/reconciler.go
  pkg/controller/endpointslicemirroring/reconciler_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/apps, sig/network, size/M, triage/accepted

#102594 Upgrade debian-base to buster v1.7.1
  build/dependencies.yaml
  cluster/images/etcd/Makefile
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, sig/release, size/S, triage/accepted

#102703 Automated cherry pick of #102683: endpointslicemirroring controller mirror address status
  pkg/controller/endpointslicemirroring/reconciler.go
  pkg/controller/endpointslicemirroring/reconciler_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/apps, sig/network, size/M, triage/accepted

#102690 CSI e2e: stop leaking pvs in CSI mock snapshot test
  test/e2e/storage/csi_mock_volume.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, sig/testing, size/XS
