Repository kubernetes/kubernetes, pull requests merged in 2021-01, with the labels that each got.

#97006 Fix missing cadvisor machine metrics
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/server.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note, sig/node, size/XS, triage/accepted

#97570 [pkg/cluster/ports/ports]: fix minor syntax
  pkg/cluster/ports/ports.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, size/XS

#97590 Fix typo in staging/src/.../wait_test.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, size/XS

#97469 Adding casey (sig-net chair) to approvers list for test/e2e/network
  test/OWNERS
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/testing, size/XS

#97631 Fix Spelling error about [workflow] for kubeadm
  cmd/kubeadm/app/cmd/upgrade/node.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS, triage/accepted

#97336 remove --cleanup-ipvs flag of kube-proxy
  cmd/kube-proxy/app/server.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/network, size/S, triage/accepted

#96276 Update nvidia-gpu-device-plugin addon image path
  cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, sig/node, size/XS

#97307 fix: Fix ListByResourceGroup in azure diskClient mock
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/mockdiskclient/interface.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/XS, triage/accepted

#97496 Add a hyperlink to issue 95156
  pkg/scheduler/framework/plugins/README.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/XS

#96539 Remove AttachVolumeLimit feature gate
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/storage, size/S

#97332 Automated cherry pick of #97259 upstream release 1.19
  pkg/kubelet/kubelet_pods.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/node, size/XS

#97333 Automated cherry pick of #97259 upstream release 1.18
  pkg/kubelet/kubelet_pods.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/node, size/XS

#97521 add node selector info in ErrReasonPod
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/XS

#97666 Remove duplicate nodeSelector for kube-dns in kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#97297 Automated cherry pick of #97259 upstream release 1.20
  pkg/kubelet/kubelet_pods.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/node, size/XS

#97677 fix incorrect dev name in log when finding link by name returns error
  pkg/proxy/ipvs/netlink_linux.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, needs-ok-to-test, needs-priority, needs-triage, release-note-none, sig/network, size/XS

#97306 Cleanup several GA feature flags which should be removed in 1.21
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/node, sig/scheduling, sig/storage, size/M, triage/accepted

#97699 Ensure reproducible builds when build through docker
  build/common.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/XS, triage/accepted

#97290 kubeadm: improve the error messages when validating discovery CA hash
  cmd/kubeadm/app/discovery/token/token.go
  cmd/kubeadm/app/util/pubkeypin/pubkeypin.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note, sig/cluster-lifecycle, size/S, triage/accepted

#97656 Fix staticcheck in staging/src/k8s.io/apiserver/pkg/admission/initializer
  hack/.staticcheck_failures
  staging/src/k8s.io/apiserver/pkg/admission/initializer/initializer_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/S

#97620 [kubeadm]: CoreDNS preflight: Parse correct version syntax
  cmd/kubeadm/app/phases/upgrade/preflight.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/XS, triage/accepted

#97706 refactor(kubeadm): remove the "alpha certs" command
  cmd/kubeadm/app/cmd/BUILD
  cmd/kubeadm/app/cmd/alpha/BUILD
  cmd/kubeadm/app/cmd/alpha/alpha.go
  cmd/kubeadm/app/cmd/certs.go
  cmd/kubeadm/app/cmd/certs_test.go
  cmd/kubeadm/app/cmd/cmd.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, kind/deprecation, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/S, triage/accepted

#97440 fix kubectl label error when local=true is set.
  staging/src/k8s.io/kubectl/pkg/cmd/label/label.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note, sig/cli, size/S, triage/accepted

#97466 Fix golint issues in api/admission and api/admissionregistration
  hack/.golint_failures
  staging/src/k8s.io/api/admission/v1/register.go
  staging/src/k8s.io/api/admission/v1beta1/register.go
  staging/src/k8s.io/api/admissionregistration/v1/register.go
  staging/src/k8s.io/api/admissionregistration/v1/types.go
  staging/src/k8s.io/api/admissionregistration/v1beta1/register.go
  staging/src/k8s.io/api/admissionregistration/v1beta1/types.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/M, triage/accepted

#97509 Migrate scheduler.go, factory.go to structured logging
  pkg/scheduler/factory.go
  pkg/scheduler/scheduler.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/scheduling, size/M

#97691 Automated cherry pick of #97006: Fix cadvisor machine metrics
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/server.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/instrumentation, sig/node, size/XS, triage/accepted

#97692 Automated cherry pick of #97006: Fix cadvisor machine metrics
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/server.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/instrumentation, sig/node, size/XS, triage/accepted

#96854 Optimize some irregular variable names
  cmd/cloud-controller-manager/main.go
  cmd/cloud-controller-manager/nodeipamcontroller.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/cloud-provider, size/M, triage/accepted

#97671 Automated cherry pick of #97254: Create OWNERS for most of the API Priority and Fairness impl
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/OWNERS
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, size/S

#97672 Automated cherry pick of #97254: Create OWNERS for most of the API Priority and Fairness impl
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/OWNERS
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, size/S

#96561 Remove CSINodeInfo feature gate
  cmd/kube-controller-manager/app/BUILD
  cmd/kube-controller-manager/app/core.go
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/util/util.go
  pkg/features/kube_features.go
  pkg/registry/storage/rest/storage_storage.go
  pkg/scheduler/BUILD
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/non_csi.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csi/nodeinfomanager/BUILD
  pkg/volume/csi/nodeinfomanager/nodeinfomanager.go
  pkg/volume/csi/nodeinfomanager/nodeinfomanager_test.go
  plugin/pkg/admission/noderestriction/BUILD
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
  plugin/pkg/auth/authorizer/node/BUILD
  plugin/pkg/auth/authorizer/node/node_authorizer.go
  plugin/pkg/auth/authorizer/node/node_authorizer_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  test/integration/auth/node_test.go
  test/integration/etcd/BUILD
  test/integration/etcd/data.go
  test/integration/volume/attach_detach_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, ok-to-test, priority/backlog, release-note, sig/apps, sig/auth, sig/scheduling, sig/storage, sig/testing, size/L

#96929 Scheduler: Move PodPassesFiltersOnNode out of core to avoid plugin dependency
  pkg/scheduler/core/BUILD
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/factory.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/defaultpreemption/BUILD
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/runtime/BUILD
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  test/e2e/framework/.import-restrictions
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/scheduling, sig/testing, size/L, triage/accepted

#97193 [flaky test] fix devicemanager TestDevicePluginReRegistrationProbeMode failed
  pkg/kubelet/cm/devicemanager/manager_test.go
  pkg/kubelet/pluginmanager/reconciler/reconciler.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/node, size/XS

#97427 Fix bug in CPUManager with race on container map access
  pkg/kubelet/cm/cpumanager/cpu_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/node, size/XS, triage/accepted

#97536 Remove duplicate nodeSelector for kube-dns
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#97543 remove LegacyNodeRoleBehavior and mv ServiceNodeExclusion to GA
  pkg/controller/nodelifecycle/BUILD
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
  pkg/features/kube_features.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
  staging/src/k8s.io/controller-manager/pkg/features/kube_features.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note, sig/api-machinery, sig/apps, sig/cloud-provider, sig/network, size/L, triage/accepted

#97587 Fix typo in pkg/volume/rbd/rbd_test.go
  pkg/volume/rbd/rbd_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/storage, size/XS

#97617 Use autogenerated Job conversion functions
  pkg/apis/batch/v1/conversion.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, size/M

#97625 kubeadm: avoid detection of the container runtime for commands that do not need it
  cmd/kubeadm/app/cmd/alpha/kubeconfig.go
  cmd/kubeadm/app/cmd/certs.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/util/BUILD
  cmd/kubeadm/app/cmd/util/cmdutil.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/config/cluster.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/M, triage/accepted

#97348 Up and down scale stabilize with envelope.
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/horizontal_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/autoscaling, size/L

#97528 Automated cherry pick of #97427: Fix bug in CPUManager with race on map acccess
  pkg/kubelet/cm/cpumanager/cpu_manager.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/node, size/XS, triage/accepted

#97529 Automated cherry pick of #97427: Fix bug in CPUManager with race on map acccess
  pkg/kubelet/cm/cpumanager/cpu_manager.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/node, size/XS, triage/accepted

#97731 Automated cherry pick of #97699: Ensure reproducible builds when build through docker
  build/common.sh
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/XS, triage/accepted

#96806 remove input parameter that is invalid before
  pkg/volume/fc/disk_manager.go
  pkg/volume/fc/fc.go
  pkg/volume/iscsi/disk_manager.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/rbd/disk_manager.go
  pkg/volume/rbd/rbd.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/node, sig/storage, size/S, triage/accepted

#97730 Automated cherry pick of #97699: Ensure reproducible builds when build through docker
  build/common.sh
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/XS, triage/accepted

#97732 Automated cherry pick of #97699: Ensure reproducible builds when build through docker
  build/common.sh
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/XS, triage/accepted

#97673 Automated cherry pick of #97254: Create OWNERS for most of the API Priority and Fairness impl
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/OWNERS
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/S, triage/accepted

#97572 Cleanup: fix typos in garbagecollector_test.go
  pkg/controller/garbagecollector/garbagecollector_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/apps, size/XS, triage/accepted

#97591 Cleanup: fix typos in scheduler interpodaffinity package
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/scheduling, size/S, triage/accepted

#97737 Automated cherry pick of #97699: Ensure reproducible builds when build through docker
  build/common.sh
Labels: approved, area/release-eng, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/XS, triage/accepted

#96906 Fixes the unit tests to be more tolerant with error messages
  pkg/kubelet/cm/cpumanager/state/state_checkpoint_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
  staging/src/k8s.io/client-go/tools/remotecommand/v4_test.go
Labels: approved, area/apiserver, area/kubelet, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/api-machinery, sig/node, size/S, triage/accepted

#97374 Fix golint issues in pkg/kubelet/types
  hack/.golint_failures
  pkg/kubelet/types/constants.go
  pkg/kubelet/types/doc.go
  pkg/kubelet/types/labels.go
  pkg/kubelet/types/pod_update.go
  pkg/kubelet/types/types.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, ok-to-test, priority/backlog, release-note-none, sig/node, sig/scheduling, sig/testing, size/M

#97540 Fix on comments
  staging/src/k8s.io/apimachinery/pkg/labels/labels.go
  staging/src/k8s.io/apimachinery/pkg/labels/selector.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS, triage/accepted

#97621 Bug fix
  cluster/addons/cluster-loadbalancing/glbc/default-svc-controller.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/cloud-provider, size/XS

#97629 Fix Spelling error about [formatted] for statefulset.go
  test/e2e/apps/statefulset.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/apps, sig/testing, size/XS

#97527 Automated cherry pick of #97427: Fix bug in CPUManager with race on map acccess
  pkg/kubelet/cm/cpumanager/cpu_manager.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/node, size/XS, triage/accepted

#96866 Fix test failures
  test/e2e/node/taints.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/node, sig/testing, sig/windows, size/XS

#96889 Fix loopback device lookup
  pkg/volume/util/volumepathhandler/volume_path_handler_linux.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/S, triage/accepted

#97441 Automated cherry pick of #97082: fix: azure file latency issue for metadata-heavy workload
  pkg/volume/azure_file/azure_file_test.go
  pkg/volume/azure_file/azure_util.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/M, triage/accepted

#97453 Automated cherry pick of #97417: fix azure file secret not found issue
  pkg/volume/azure_file/azure_file.go
  pkg/volume/azure_file/azure_provision.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#97449 Automated cherry pick of #97417: fix azure file secret not found issue
  pkg/volume/azure_file/azure_file.go
  pkg/volume/azure_file/azure_provision.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#97464 Automated cherry pick of #97323: fix the deadlock in priority and fairness config controller
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/BUILD
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L, triage/accepted

#97639 Cherry pick 443 and 448 from cloud provider azure to 1.20
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cloud-provider, size/M, triage/accepted

#97450 Automated cherry pick of #97417: fix azure file secret not found issue
  pkg/volume/azure_file/azure_file.go
  pkg/volume/azure_file/azure_provision.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#97439 Automated cherry pick of #97082: fix: azure file latency issue for metadata-heavy workload
  pkg/volume/azure_file/azure_file_test.go
  pkg/volume/azure_file/azure_util.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/M, triage/accepted

#96550 chore(gce): pass auth flags to KCM and KS
  cluster/gce/gci/configure-helper.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/scheduling, size/XS, triage/accepted

#97379 Fix BoundObjectRef APIVersion proto name
  staging/src/k8s.io/api/authentication/v1/generated.pb.go
  staging/src/k8s.io/api/authentication/v1/generated.proto
  staging/src/k8s.io/api/authentication/v1/types.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, ok-to-test, priority/backlog, release-note, sig/auth, size/XS, triage/accepted

#94396 fix vendor/k8s.io/apimachinery/pkg/runtime staticcheck
  hack/.staticcheck_failures
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, lifecycle/rotten, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#97532 code cleanup for kubectl port-forward
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cli, size/S

#97740 Release reserved GCE IP address after ensure completes, irrespective of outcome.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_utils_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/cloud-provider, sig/network, size/S, triage/accepted

#97448 Automated cherry pick of #97082: fix: azure file latency issue for metadata-heavy workload
  pkg/volume/azure_file/azure_file_test.go
  pkg/volume/azure_file/azure_util.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/M, triage/accepted

#97618 Remove docker remote / docker-machine from build scripts
  build/common.sh
  hack/lib/util.sh
  hack/verify-vendor-licenses.sh
  hack/verify-vendor.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note, sig/release, sig/testing, size/M

#97526 add OWNERS file to kubernetes/test/e2e/network/netpol
  test/e2e/network/netpol/OWNERS
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/network, sig/testing, size/XS

#97749 The code in TestNonePolicyName does not need to wrap, so fix it.
  pkg/kubelet/cm/cpumanager/policy_none_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/node, size/XS

#97571 97425: improve netpol comments
  test/e2e/network/netpol/BUILD
  test/e2e/network/netpol/kubemanager.go
  test/e2e/network/netpol/network_policy.go
  test/e2e/network/netpol/probe.go
  test/e2e/network/netpol/test_helper.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/network, sig/testing, size/L

#97645 cleanup: change klog.Fatalf to fmt.Errorf for `kubectl auth reconcile`
  staging/src/k8s.io/kubectl/pkg/cmd/auth/reconcile.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/auth, sig/cli, size/S

#97314 fix typo in dns.go
  pkg/kubelet/network/dns/dns.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, ok-to-test, priority/backlog, release-note-none, sig/network, sig/node, size/XS

#97736 Default deny egress with pod label selector
  test/e2e/network/netpol/network_policy.go
  test/e2e/network/netpol/policies.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-none, sig/network, sig/testing, size/S

#97524 Add e2e networkPolicy test to validate egress deny precedence over ingress allow
  test/e2e/network/netpol/network_policy.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/network, sig/testing, size/M

#97499 CSI attacher test cleanup
  pkg/volume/csi/BUILD
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csi/csi_plugin_test.go
  pkg/volume/csi/csi_test.go
  pkg/volume/csi/testing/testing.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, size/L

#97327 Update: Write Read Status, Patch & List APIService test +3 endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/aggregator.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/architecture, sig/testing, size/M, triage/accepted

#97787 fix typo of [expect] in pkg/kubelet/../policy_static_test.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/node, size/XS

#97451 bugfix: nodeport quota check failure result into failing to create a clusterip service
  pkg/quota/v1/evaluator/core/BUILD
  pkg/quota/v1/evaluator/core/services.go
  pkg/quota/v1/evaluator/core/services_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/controller.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/resources.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/resources_test.go
  test/e2e/apimachinery/resource_quota.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/network, sig/testing, size/L, triage/accepted

#97370 Relax apf_controller's reaction to certain errors
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/BUILD
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/S, triage/accepted

#97721 fix slice controller logging for services ipfamily
  pkg/controller/endpointslice/utils.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/network, size/XS

#97446 CHANGELOG: fix typo
  CHANGELOG/CHANGELOG-1.3.md
  CHANGELOG/CHANGELOG-1.4.md
  CHANGELOG/CHANGELOG-1.5.md
  CHANGELOG/CHANGELOG-1.6.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/release, size/L

#97652 ApiServer: Add benchmark for ensureRBACPolicy
  pkg/registry/rbac/rest/BUILD
  pkg/registry/rbac/rest/storage_rbac.go
  pkg/registry/rbac/rest/storage_rbac_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-none, sig/auth, size/L

#97675 Add NewProxyHandler func
  staging/src/k8s.io/kubectl/pkg/proxy/proxy_server.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cli, size/S

#97678 migrate proxy/iptables/proxier.go logs to structured logging
  pkg/proxy/iptables/proxier.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note, sig/network, size/L

#97804 adding windows os selector to the dnsPolicy tests
  test/e2e/windows/dns.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, sig/windows, size/XS, triage/accepted

#97716 proxy/ipvs: return non-nil error when there is no matched IPVS servic…
  pkg/proxy/ipvs/proxier.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/network, size/XS

#97702 set numberOfWorkers for netpol suite to the ideal value (3) that is n…
  test/e2e/network/netpol/probe.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/XS, triage/accepted

#97693 oidc authenticator: attempt to immediately initialize verifier
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note, sig/api-machinery, sig/auth, size/XS, triage/accepted

#97770 Automated cherry pick of #97740: Release reserved GCE IP address after ensure completes.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_utils_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/network, size/S, triage/accepted

#97771 Automated cherry pick of #97740: Release reserved GCE IP address after ensure completes.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_utils_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/network, size/S, triage/accepted

#97773 Automated cherry pick of #97740: Release reserved GCE IP address after ensure completes.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_utils_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/network, size/S, triage/accepted

#97839 Revert "dump conntrack table on e2e conntrack failures"
  test/e2e/network/conntrack.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/network, sig/testing, size/S

#97772 Automated cherry pick of #97740: Release reserved GCE IP address after ensure completes.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_utils_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/network, size/S, triage/accepted

#97844 don´t panic on e2e ESIPP tests
  test/e2e/network/service.go
  test/e2e/network/util.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/network, sig/testing, size/S

#97847 automated-cherry-pick-of-#97625: use default unkown sock for kubeadm cmd if cri detect is not needed
  cmd/kubeadm/app/cmd/alpha/certs.go
  cmd/kubeadm/app/cmd/alpha/kubeconfig.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/util/BUILD
  cmd/kubeadm/app/cmd/util/cmdutil.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/config/cluster.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M, triage/accepted

#97849 automated-cherry-pick-of-#97625: use default unkown sock for kubeadm cmd if cri detect is not needed
  cmd/kubeadm/app/cmd/alpha/certs.go
  cmd/kubeadm/app/cmd/alpha/kubeconfig.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/util/BUILD
  cmd/kubeadm/app/cmd/util/cmdutil.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/config/cluster.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M, triage/accepted

#97848 automated-cherry-pick-of-#97625: use default unkown sock for kubeadm cmd if cri detect is not needed
  cmd/kubeadm/app/cmd/alpha/certs.go
  cmd/kubeadm/app/cmd/alpha/kubeconfig.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/util/BUILD
  cmd/kubeadm/app/cmd/util/cmdutil.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/config/cluster.go
Labels: approved, area/kubeadm, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M, triage/accepted

#97845 Add 'apiserver_terminated_watchers_total'
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/metrics.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/instrumentation, size/S, triage/accepted

#96966 p&f e2e: the test should log expected and actual response header in case it fails.
  test/e2e/apimachinery/flowcontrol.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/M, triage/accepted

#97828 cherry-pick part of #97451: fix counting error in service/nodeport/loadbalancer quota check
  pkg/quota/v1/resources.go
  pkg/quota/v1/resources_test.go
  plugin/pkg/admission/resourcequota/controller.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/network, size/M, triage/accepted

#97829 cherry-pick part of #97451: fix counting error in service/nodeport/loadbalancer quota check
  pkg/quota/v1/resources.go
  pkg/quota/v1/resources_test.go
  plugin/pkg/admission/resourcequota/controller.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/network, size/M, triage/accepted

#97830 cherry-pick part of #97451: fix nodeport quota check failure during c…
  pkg/quota/v1/resources.go
  pkg/quota/v1/resources_test.go
  plugin/pkg/admission/resourcequota/controller.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/network, size/M, triage/accepted

#97826 cherry-pick part of #97451: fix counting error in service/nodeport/loadbalancer quota check
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/controller.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/resources.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/resources_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/network, size/M, triage/accepted

#96011 build: Update bazel to 3.4.1 and k/repo-infra to v0.2.0
  build/dependencies.yaml
  build/root/.bazelversion
  build/root/WORKSPACE
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/fixtures/fixtures.go
Labels: approved, area/cloudprovider, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/cloud-provider, sig/release, size/M, triage/accepted

#97809 Fix node port tests windows nodeSelector metadata
  test/e2e/windows/service.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/testing, sig/windows, size/S

#97820 prevent panic on webhook authenticator and authorizer timeout before response
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, sig/auth, size/M

#96754 Reduce number of buckets for etcd_request_duration_seconds metric
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/instrumentation, size/XS, triage/accepted

#97742 Configure --tls-cipher-suites on kube-apiserver
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-kubeapiserver.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/S

#96792 e2e test regression image multiarch
  test/images/regression-issue-74839/BASEIMAGE
  test/images/regression-issue-74839/Dockerfile
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, needs-priority, release-note-none, sig/testing, size/S, triage/accepted

#97494 CHANGELOG-1.20: fix anchor point err
  CHANGELOG/CHANGELOG-1.20.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/release, size/XS

#97860 move all variables in sampleAndWaterMarkHistograms::innerSet
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/sample_and_watermark.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, kind/regression, lgtm, needs-priority, needs-triage, release-note, sig/api-machinery, size/S

#97866 Automated cherry pick of #97860: move all variables in sampleAndWaterMarkHistograms::innerSet
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/sample_and_watermark.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/regression, lgtm, priority/important-soon, sig/api-machinery, size/S, triage/accepted

#97816 Fix node selector hostmaps
  test/e2e/windows/volumes.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/testing, sig/windows, size/S

#97463 Automated cherry pick of #97206: clean up executing request on panic
  staging/src/k8s.io/apiserver/pkg/server/filters/BUILD
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L, triage/accepted

#97177 cleanup: legacy 'ENV name value' syntax deprecated(Docker 20.10)
  build/build-image/Dockerfile
  test/images/node-perf/tf-wide-deep/Dockerfile
Labels: approved, area/release-eng, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, sig/testing, size/XS, triage/accepted

#96393 Add BeginCreate and BeginUpdate REST hooks
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/BUILD
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/decorated_watcher.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/decorated_watcher_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/rest.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XL, triage/accepted

#97879 e2e: recognize multi-node control planes
  test/e2e/framework/util.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, needs-priority, release-note-none, sig/testing, size/M, triage/accepted

#97873 Fix typo of BoostrapToken in kubeadmin-type.go]
  cmd/kubeadm/app/apis/output/types.go
  cmd/kubeadm/app/apis/output/v1alpha1/types.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS, triage/accepted

#96887 apiserver: print unknown responsewriter error strings, not only %#+v
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/status.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/XS, triage/accepted

#96492 remove generator dependency in create service account
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_serviceaccount.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_serviceaccount_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/L, triage/accepted

#97518 CHANGELOG: add a hyperlink to issue 86282
  CHANGELOG/CHANGELOG-1.19.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/release, size/XS, triage/accepted

#97711 Change log:Fix Spelling error about [occuring]
  CHANGELOG/CHANGELOG-1.17.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/release, size/XS, triage/accepted

#97416 CHANGELOG: Fix typo for release-note in 1.20
  CHANGELOG/CHANGELOG-1.20.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, ok-to-test, priority/important-soon, release-note-none, sig/release, size/S

#97008 CHANGELOG: fix symbols lost, formatter error
  CHANGELOG/CHANGELOG-1.18.md
  CHANGELOG/CHANGELOG-1.19.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/release, size/XS

#97405 Update github.com/miekg/dns to pick up fix for CVE-2019-19794.
  LICENSES/vendor/github.com/miekg/dns/LICENSE
  go.mod
  go.sum
  vendor/github.com/miekg/dns/.travis.yml
  vendor/github.com/miekg/dns/BUILD
  vendor/github.com/miekg/dns/CODEOWNERS
  vendor/github.com/miekg/dns/Gopkg.lock
  vendor/github.com/miekg/dns/Gopkg.toml
  vendor/github.com/miekg/dns/LICENSE
  vendor/github.com/miekg/dns/README.md
  vendor/github.com/miekg/dns/acceptfunc.go
  vendor/github.com/miekg/dns/client.go
  vendor/github.com/miekg/dns/clientconfig.go
  vendor/github.com/miekg/dns/defaults.go
  vendor/github.com/miekg/dns/dns.go
  vendor/github.com/miekg/dns/dnssec.go
  vendor/github.com/miekg/dns/dnssec_keygen.go
  vendor/github.com/miekg/dns/dnssec_keyscan.go
  vendor/github.com/miekg/dns/dnssec_privkey.go
  vendor/github.com/miekg/dns/doc.go
  vendor/github.com/miekg/dns/duplicate.go
  vendor/github.com/miekg/dns/edns.go
  vendor/github.com/miekg/dns/format.go
  vendor/github.com/miekg/dns/fuzz.go
  vendor/github.com/miekg/dns/generate.go
  vendor/github.com/miekg/dns/go.mod
  vendor/github.com/miekg/dns/go.sum
  vendor/github.com/miekg/dns/labels.go
  vendor/github.com/miekg/dns/msg.go
  vendor/github.com/miekg/dns/msg_helpers.go
  vendor/github.com/miekg/dns/msg_truncate.go
  vendor/github.com/miekg/dns/nsecx.go
  vendor/github.com/miekg/dns/privaterr.go
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/scan_rr.go
  vendor/github.com/miekg/dns/serve_mux.go
  vendor/github.com/miekg/dns/server.go
  vendor/github.com/miekg/dns/sig0.go
  vendor/github.com/miekg/dns/svcb.go
  vendor/github.com/miekg/dns/tsig.go
  vendor/github.com/miekg/dns/types.go
  vendor/github.com/miekg/dns/version.go
  vendor/github.com/miekg/dns/xfr.go
  vendor/github.com/miekg/dns/zduplicate.go
  vendor/github.com/miekg/dns/zmsg.go
  vendor/github.com/miekg/dns/ztypes.go
  vendor/modules.txt
Labels: approved, area/dependency, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/network, sig/windows, size/S

#90299 Set a static Retry-After when evicting a pod is not allowed.
  pkg/registry/core/pod/storage/eviction.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS

#97293 add rbac rule for storage version garbage collector
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/BUILD
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  test/e2e/apimachinery/BUILD
  test/e2e/apimachinery/storage_version.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, sig/testing, size/L, triage/accepted

#97480 apiserver add lease object count metric
  cmd/kube-apiserver/app/options/BUILD
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/lease_manager.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/lease_manager_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/instrumentation, sig/scalability, size/L, triage/accepted

#97564 add more usage info for kubectl wait option --for
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cli, size/XS

#97626 cleanup: add -q as shorthand for --quiet
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS, triage/accepted

#97843 Improve logging in cacheWatcher
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, size/S

#97857 Track opened connections with a single tracker per authenticator
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/util/connrotation/connrotation.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/auth, size/L, triage/accepted

#96984 APF e2e test: wait for steady state before proceeding
  test/e2e/apimachinery/BUILD
  test/e2e/apimachinery/flowcontrol.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/conformance, area/dependency, area/ipvs, area/kubeadm, area/kubectl, area/kubelet, area/provider/gcp, area/release-eng, area/test, cncf-cla: yes, kind/api-change, kind/failing-test, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/apps, sig/auth, sig/autoscaling, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/contributor-experience, sig/instrumentation, sig/network, sig/node, sig/release, sig/scalability, sig/scheduling, sig/storage, sig/testing, size/M, triage/accepted

#97255 Fix stale object causing a panic on DELETE event
  staging/src/k8s.io/client-go/tools/watch/informerwatcher.go
  staging/src/k8s.io/client-go/tools/watch/informerwatcher_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, size/M, triage/accepted

#97477 Optimized some non-standard variable names
  staging/src/k8s.io/cloud-provider/app/testing/testserver.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#96941 CHANGELOG: fix punctuation error
  CHANGELOG/CHANGELOG-1.18.md
  CHANGELOG/CHANGELOG-1.19.md
  CHANGELOG/CHANGELOG-1.20.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/release, size/XS

#97899 migrate proxy.UpdateServiceMap to be a method of ServiceMap
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
  pkg/proxy/winkernel/proxier.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/network, size/M

#97922 Update gluster client, configure with filtered dialer
  go.mod
  go.sum
  pkg/volume/glusterfs/BUILD
  pkg/volume/glusterfs/glusterfs.go
  vendor/github.com/heketi/heketi/client/api/go-client/BUILD
  vendor/github.com/heketi/heketi/client/api/go-client/block_volume.go
  vendor/github.com/heketi/heketi/client/api/go-client/brick.go
  vendor/github.com/heketi/heketi/client/api/go-client/client.go
  vendor/github.com/heketi/heketi/pkg/glusterfs/api/types.go
  vendor/github.com/heketi/heketi/pkg/utils/bodystring.go
  vendor/modules.txt
Labels: approved, area/dependency, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/storage, size/M

#92938 Do not set sysctlRouteLocalnet (CVE-2020-8558)
  pkg/proxy/ipvs/proxier.go
Labels: approved, area/ipvs, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-action-required, sig/network, sig/release, size/XS

#96371 kube-proxy: track serving/terminating conditions in endpoints cache
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/endpointslicecache_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/types.go
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/proxier.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/network, size/XXL, triage/accepted

#96722 APF: make command-line args validation error more descriptive
  cmd/kube-apiserver/app/options/validation.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS, triage/accepted

#97095 fix: Azure/OIDC auth panics when no AuthProviderConfigPersister is nil
  staging/src/k8s.io/client-go/rest/plugin.go
  staging/src/k8s.io/client-go/rest/plugin_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, sig/auth, sig/cloud-provider, size/M

#96821 Use volumeHandle as PV name when translating EBS inline volume
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs.go
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/storage, size/L, triage/accepted

#97113 Optimize log output for job controller
  pkg/controller/job/job_controller.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/apps, size/XS

#97909 fix unit test "TestSPDYExecutorStream" flaking problem
  staging/src/k8s.io/client-go/tools/remotecommand/remotecommand_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/failing-test, kind/flake, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, size/XS
