Repository kubernetes/kubernetes, pull requests merged in 2021-04, with the labels that each got.

#100227 Automated cherry pick of #99958: For LoadBalancer Service type don't create a HNS policy for empty or …
  pkg/proxy/winkernel/proxier.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, sig/windows, size/XS, triage/accepted

#100229 Automated cherry pick of #99958: For LoadBalancer Service type don't create a HNS policy for empty or …
  pkg/proxy/winkernel/proxier.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, sig/windows, size/XS, triage/accepted

#100228 Automated cherry pick of #99958: For LoadBalancer Service type don't create a HNS policy for empty or …
  pkg/proxy/winkernel/proxier.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/network, sig/windows, size/XS, triage/accepted

#100759 Fix for Flaky test ReplicaSet Replace and Patch tests [Conformance]
  test/e2e/apps/replica_set.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/testing, size/XS

#100785 Align lifecylce related test pod start up times
  test/e2e/apps/deployment.go
  test/e2e/apps/rc.go
  test/e2e/apps/replica_set.go
  test/e2e/common/node/pods.go
  test/e2e/framework/replicaset/wait.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/apps, sig/node, sig/testing, size/S, triage/accepted

#100780 Automated cherry pick of #100759: increase timeout for pods to start
  test/e2e/apps/replica_set.go
Labels: approved, area/conformance, area/test, cherry-pick-approved, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/apps, sig/testing, size/XS, triage/accepted

#100813 Automated cherry pick of #100544: Set some kube-proxy parameters for local-up-cluster.sh
  hack/local-up-cluster.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/critical-urgent, release-note-none, sig/testing, size/XS

#100810 Automated cherry pick of #100785: align some of the pod start up times
  test/e2e/apps/deployment.go
  test/e2e/apps/rc.go
  test/e2e/apps/replica_set.go
  test/e2e/common/node/pods.go
  test/e2e/framework/replicaset/wait.go
Labels: approved, area/apiserver, area/conformance, area/e2e-test-framework, area/release-eng, area/test, cherry-pick-approved, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/api-machinery, sig/apps, sig/architecture, sig/auth, sig/instrumentation, sig/node, sig/release, sig/testing, size/S, triage/accepted

#100815 Windows tests: Adds [Feature:GPUDevicePlugin] tag to Device Plugin test
  test/e2e/windows/device_plugin.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, sig/windows, size/XS, triage/accepted

#100811 Automated cherry pick of #99734: adds sysctls conformance tests
  test/conformance/testdata/conformance.yaml
  test/e2e/common/node/sysctl.go
Labels: approved, area/conformance, area/test, cherry-pick-approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-none, sig/architecture, sig/node, sig/testing, size/M

#100812 Automated cherry pick of #100569: Set jwks uri in local-up-cluster.sh
  hack/local-up-cluster.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/critical-urgent, release-note-none, sig/testing, size/XS

#100814 Automated cherry pick of #100550: Add new iptables rule for local-up-cluster.sh
  hack/local-up-cluster.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/critical-urgent, release-note-none, sig/testing, size/S

#100157 Automated cherry pick of #95655: Moving docker options to daemon.json
  cluster/gce/gci/configure-helper.sh
Labels: approved, area/provider/gcp, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/cloud-provider, size/L, triage/accepted

#100257 Add `service/status` glbc rbac permissions
  cluster/addons/rbac/cluster-loadbalancing/glbc/roles.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, needs-priority, release-note-none, sig/cloud-provider, sig/network, size/XS, triage/accepted

#100893 e2e test with hostNetwork pods can't run in parallel
  test/e2e/network/networking.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, release-note-none, sig/network, sig/testing, size/S, triage/accepted

#100713 cherry pick #100341 #98576 #95836 on 1.19 to enable SSA with APIService
  cmd/kube-apiserver/app/aggregator.go
  staging/src/k8s.io/apimachinery/pkg/util/json/json.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/BUILD
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/cmd/server/start.go
  test/integration/apiserver/apply/status_test.go
  test/integration/etcd/data.go
Labels: approved, area/apiserver, area/test, cherry-pick-approved, cncf-cla: yes, kind/api-change, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/apps, sig/scheduling, sig/testing, size/L, triage/accepted

#96391 Ignore GCS public-read ACL set on Windows kube-up.
  cluster/gce/util.sh
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/windows, size/XS, triage/accepted

#98732 do not create StatefulSet pods when PVC is being deleted
  pkg/controller/statefulset/stateful_pod_control.go
  pkg/controller/statefulset/stateful_pod_control_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/apps, size/M, triage/accepted

#100416 Automated cherry pick of #97431: additional subnet configuration for AWS ELB
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/tags.go
  staging/src/k8s.io/legacy-cloud-providers/aws/tags_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, sig/cloud-provider, size/XL

#100450 [1.19] Automated cherry pick of fixes for "large leases overload event etcd" issue (96836)
  cmd/kube-apiserver/app/options/BUILD
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/lease_manager.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/lease_manager_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/instrumentation, size/L, triage/accepted

#100084 [1.20] Automated cherry pick of fixes for "large leases overload event etcd" issue (96836)
  cmd/kube-apiserver/app/options/BUILD
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/lease_manager.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/lease_manager_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/instrumentation, sig/scalability, size/L, triage/accepted

#100312 Automated cherry pick of #99858: fix a bug where only service with less than 100 ports can
  staging/src/k8s.io/legacy-cloud-providers/gce/BUILD
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, size/L

#100379 Automated cherry pick of #99595: Support > 5 ports in L4 ILB.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, sig/cloud-provider, size/L, triage/accepted

#100414 Automated cherry pick of #97431: additional subnet configuration for AWS ELB
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/tags.go
  staging/src/k8s.io/legacy-cloud-providers/aws/tags_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, sig/cloud-provider, size/XL

#100691 Cherry pick of #100694: Cherry pick #574 from Cloud Provider Azure: do not tag user created public IPs
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/L, triage/accepted

#100722 Automated cherry pick of #98210 upstream release 1.20
  cmd/cloud-controller-manager/.import-restrictions
  cmd/cloud-controller-manager/BUILD
  cmd/cloud-controller-manager/README.md
  cmd/cloud-controller-manager/main.go
  cmd/cloud-controller-manager/nodeipamcontroller.go
  hack/.staticcheck_failures
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
  staging/src/k8s.io/cloud-provider/app/testing/BUILD
  staging/src/k8s.io/cloud-provider/app/testing/testserver.go
  staging/src/k8s.io/cloud-provider/sample/BUILD
  staging/src/k8s.io/cloud-provider/sample/README.md
  staging/src/k8s.io/cloud-provider/sample/advanced_main.go
  staging/src/k8s.io/cloud-provider/sample/basic_main.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: no, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cloud-provider, size/XL, triage/accepted

#100077 Automated cherry pick of #99169: Use the correct volum handle format for GCE regional PD.
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/storage, size/M, triage/accepted

#100076 Automated cherry pick of #99169: Use the correct volum handle format for GCE regional PD.
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/storage, size/M, triage/accepted

#100452 [1.18] Automated cherry pick of fixes for "large leases overload event etcd" issue (96836)
  cmd/kube-apiserver/app/options/BUILD
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/lease_manager.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/lease_manager_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: approved, area/apiserver, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/instrumentation, size/L, triage/accepted

#100714 cherry pick #100341 #98576 on 1.20 to enable SSA with APIService
  cmd/kube-apiserver/app/aggregator.go
  pkg/apis/core/v1/zz_generated.defaults.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/cmd/server/start.go
  test/integration/apiserver/apply/status_test.go
Labels: approved, area/apiserver, area/test, cherry-pick-approved, cncf-cla: yes, kind/api-change, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/apps, sig/testing, size/M, triage/accepted

#97975 Automated cherry pick of #92839: AWS cloudprovider allow nlb-ip and external type lbs to be managed externally
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer_test.go
Labels: approved, area/cloudprovider, cherry-pick-approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/cloud-provider, size/M

#100075 Automated cherry pick of #99169: Use the correct volum handle format for GCE regional PD.
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/storage, size/M, triage/accepted

#93260 Fix ECR provider startup latency
  pkg/credentialprovider/aws/aws_credentials.go
  pkg/credentialprovider/aws/aws_credentials_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/L

#95897 Fake client example: document how to handle a race with informer
  staging/src/k8s.io/client-go/examples/fake-client/main_test.go
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/S, triage/accepted

#97419 Fix the data race in the leaderelection package
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/M, triage/accepted

#99165 TestValidateNetworkPolicy refactor
  pkg/apis/networking/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/network, size/XXL, triage/accepted

#99278 Fix incorrect use of klog.ErrorS
  pkg/proxy/util/utils.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/network, size/XS

#99358 KCM: specifies the upper-bound timeout limit for outgoing requests
  cmd/kube-controller-manager/app/options/options.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, size/XS, triage/accepted

#99528 fix log message and optimize log format check logic
  cmd/kube-apiserver/app/options/validation.go
  pkg/kubeapiserver/options/admission.go
  pkg/kubeapiserver/options/authentication.go
  pkg/kubeapiserver/options/authorization.go
  staging/src/k8s.io/apiserver/pkg/server/options/audit.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/M, triage/accepted

#99566 migrate log in pkg/volume/volume_linux.go
  pkg/volume/volume_linux.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note, sig/instrumentation, sig/storage, size/S, triage/accepted

#99596 Fix the bug that hack/update-vendor.sh exits with error but no indication of failure
  hack/update-vendor.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test

#99664 delete leaked volume if driver don't know the volume status -- aws
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
Labels: approved, area/cloudprovider, area/provider/aws, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/M

#99702 Fix HTTPProbe initialize header
  pkg/probe/http/http.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/node, size/XS, triage/accepted

#99713 Exec plugin integration test
  test/integration/client/exec_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/auth, sig/testing, size/L, triage/accepted

#99740 Add docs for KUBE_BASE_IMAGE_REGISTRY, update code comment
  build/README.md
  build/root/Makefile
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note-none, sig/release, size/XS, triage/accepted

#99775 DelegatingAuthOptions: custom RoundTripper
  staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/api-machinery, size/S, triage/accepted

#99776 DynamicControllerClientBuilder: allows for plugging HTTP wrappers for custom behaviour
  staging/src/k8s.io/controller-manager/pkg/clientbuilder/client_builder_dynamic.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cloud-provider, size/S, triage/accepted

#99839 Cleanup portforward streams after their usage
  pkg/kubelet/cri/streaming/portforward/httpstream.go
  pkg/kubelet/cri/streaming/portforward/httpstream_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection_test.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/backlog, release-note, sig/api-machinery, sig/node, size/M, triage/accepted

#99849 Add subresource apply support to client-go
  pkg/controller/replication/conversion.go
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1beta2/types.go
  staging/src/k8s.io/api/extensions/v1beta1/types.go
  staging/src/k8s.io/client-go/applyconfigurations/apps/v1beta2/scale.go
  staging/src/k8s.io/client-go/applyconfigurations/autoscaling/v1/scale.go
  staging/src/k8s.io/client-go/applyconfigurations/autoscaling/v1/scalespec.go
  staging/src/k8s.io/client-go/applyconfigurations/autoscaling/v1/scalestatus.go
  staging/src/k8s.io/client-go/applyconfigurations/extensions/v1beta1/scale.go
  staging/src/k8s.io/client-go/applyconfigurations/utils.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/deployment.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/fake/fake_deployment.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/fake/fake_replicaset.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/fake/fake_statefulset.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/replicaset.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/statefulset.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1beta2/fake/fake_statefulset.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1beta2/statefulset.go
  staging/src/k8s.io/client-go/kubernetes/typed/extensions/v1beta1/deployment.go
  staging/src/k8s.io/client-go/kubernetes/typed/extensions/v1beta1/fake/fake_deployment.go
  staging/src/k8s.io/client-go/kubernetes/typed/extensions/v1beta1/fake/fake_replicaset.go
  staging/src/k8s.io/client-go/kubernetes/typed/extensions/v1beta1/replicaset.go
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/packages.go
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/refgraph.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/fake_client_generator.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_type.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/generator_for_type.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/util/tags.go
Labels: approved, area/code-generation, area/test, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/auth, sig/testing, size/XXL, triage/accepted, wg/api-expression

#99868 Use the 'request received timestamp' value inside httplog
  cmd/kube-scheduler/app/server.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/scheduling, size/S, triage/accepted

#99892 code cleanup for kubectl apply_edit_last_applied.go ,completion.go,cp.go,wait.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_edit_last_applied.go
  staging/src/k8s.io/kubectl/pkg/cmd/completion/completion.go
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/S, triage/accepted

#99921 Use os.CreateTemp in kubectl editor
  staging/src/k8s.io/kubectl/pkg/cmd/util/editor/editor.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/S, tide/merge-method-squash, triage/accepted

#99929 Remove unused/dead code
  pkg/volume/glusterfs/glusterfs.go
  pkg/volume/util/volumepathhandler/volume_path_handler.go
  pkg/volume/vsphere_volume/vsphere_volume_util.go
  test/e2e/storage/csi_mock_volume.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/storage, sig/testing, size/XS

#99936 implement EnqueueExtensions interface in taint toleration scheduling
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note-none, sig/scheduling, size/XS, triage/accepted

#99937 Implement EnqueueExtensions interface in nodelabel
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/XS

#99963 Remove active pods past completions
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/apps, size/M, triage/accepted

#99983 show output param "name" in kubectl get --help usage
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_flags.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS, tide/merge-method-squash, triage/accepted

#100004 Implemented EnqueueExtensions interface for NodePorts
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/S

#100020 implement EnqueueExtensions in interPodAffinity
  pkg/scheduler/framework/plugins/interpodaffinity/plugin.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/scheduling, size/S, triage/accepted

#100032 fieldmanager: Strip managedfields BEFORE we update the timestamp
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS, triage/accepted, wg/api-expression

#100041 bump npd version to latest v0.8.7
  cluster/addons/node-problem-detector/npd.yaml
  cluster/gce/gci/configure.sh
  test/kubemark/resources/hollow-node_template.yaml
Labels: approved, area/provider/gcp, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, sig/scalability, sig/testing, size/S, triage/accepted

#100049 sched: support PreEnqueueChecks prior to moving Pods
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/internal/cache/interface.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/testing/wrappers.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-triage, priority/important-soon, release-note-none, sig/scheduling, size/L

#100051 implement EnqueueExtensions interface in nodeaffinity
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, release-note-none, sig/scheduling, size/XS, triage/accepted

#100067 Add test case for state.go
  pkg/kubelet/cm/cpumanager/state/state_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/M, triage/accepted

#100068 Update comments for the resource weight of `RequestedToCapacityRatio` plugin
  pkg/scheduler/apis/config/types_pluginargs.go
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/XS

#100078 Move tnozicka to SIG-Apps emeritus
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/apps, size/XS, triage/accepted

#100085 Add Tracker() function to fake dynamic client
  staging/src/k8s.io/client-go/dynamic/fake/simple.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, size/XS, triage/accepted

#100088 Fix TestGetNodeAddresses function error.
  pkg/proxy/util/utils_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/network, size/XS

#100100 fix rounding of volume storage requests
  pkg/volume/portworx/portworx_util.go
  staging/src/k8s.io/cloud-provider/volume/helpers/rounding.go
  staging/src/k8s.io/cloud-provider/volume/helpers/rounding_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/cloud-provider, sig/storage, size/L

#100110 Cherry pick #537 from cloud provider azure: Refresh VM cache when node is not found
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/M, triage/accepted

#100175 test case for pkg/kubelet/cri/remote/utils.go
  pkg/kubelet/cri/remote/utils_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/node, size/L, triage/accepted

#100186 test: fix the error case of TestAuthenticationValidate
  pkg/kubeapiserver/options/authentication_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/M, triage/accepted

#100206 Error in kubectl drain --dry-run=server
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
  test/cmd/node-management.sh
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, needs-priority, ok-to-test, release-note, sig/cli, sig/testing, size/M, triage/accepted

#100217 Remove non-existent log option in workqueue example
  staging/src/k8s.io/client-go/examples/workqueue/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS, triage/accepted

#100267 Expose resources overrides and maxPods conf in kubemark
  cmd/kubemark/hollow-node.go
  pkg/kubelet/cm/container_manager_stub.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/node, sig/scalability, size/M, triage/accepted

#100279 added eventsToRegister for nodeName & nodeUnschedulable plugins
  pkg/scheduler/framework/plugins/nodename/node_name.go
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/S

#100286 Scheduler: skip updates of assumed pods
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/scheduler.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/L

#100311 Fix rest_client_rate_limiter_duration_seconds not registered
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/XS, triage/accepted

#100325 Preempting: do not delete the victim if it just exits in WaitingPods
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, sig/testing, size/M

#100353 strip prefix 'v' in coredns version if exists
  cluster/gce/upgrade.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/XS, triage/accepted

#100355 Replace deprecated NewDeltaFIFO with NewDeltaFIFOWithOptions
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/M, triage/accepted

#100356 Disable intree storage multivolume e2e test in windows nodes
  test/e2e/storage/persistent_volumes.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/storage, sig/testing, size/XS

#100357 implement EnqueueExtensions interface in serviceaffinity
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  test/integration/scheduler/queue_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, sig/testing, size/L

#100378 Tag Multi-AZ scheduling tests as serial
  test/e2e/scheduling/ubernetes_lite.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, sig/testing, size/XS

#100402 Cleanup: use cmp.Diff instead of diff.ObjectRefectDiff in pkg/api
  pkg/api/persistentvolume/util_test.go
  pkg/api/persistentvolumeclaim/util_test.go
  pkg/api/pod/util_test.go
  pkg/api/podsecuritypolicy/util_test.go
  pkg/api/testing/conversion_test.go
  pkg/api/testing/copy_test.go
  pkg/api/testing/defaulting_test.go
  pkg/api/testing/serialization_proto_test.go
  pkg/api/testing/serialization_test.go
  pkg/api/testing/unstructured_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/L, triage/accepted

#100404 reduce volume length for vsphere volumes
  pkg/volume/vsphere_volume/vsphere_volume_util.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/storage, size/S, triage/accepted

#100422 kubeadm: fix typo in help text; ca.cert should be ca.crt
  cmd/kubeadm/app/cmd/phases/init/certs.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS, triage/accepted

#100425 test: fix typo in chaosmonkey.go
  test/e2e/chaosmonkey/chaosmonkey.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS, triage/accepted

#100433 Unify some methods in e2e common
  test/e2e/common/node/configmap.go
  test/e2e/common/node/secrets.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/node, sig/testing, size/M

#100444 Change go file mode from 755 to 644
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio.go
  pkg/scheduler/scheduler.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/XS

#100446 test: Use bytes.Buffer.String
  pkg/util/iptables/iptables_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/network, size/XS

#100457 Make integration tests not depend on e2e tests
  test/integration/.import-restrictions
  test/integration/auth/bootstraptoken_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/auth, sig/testing, size/M, triage/accepted

#100458 added yliaog as approver
  staging/src/k8s.io/client-go/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS, triage/accepted

#100477 Move NodeResourcesFit plugin args validation to apis/config/validation
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
  pkg/scheduler/apis/config/validation/validation_pluginargs_test.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/L

#100479 Missing return when error
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/XS

#100491 add aojea as sig-network approver
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, needs-triage, release-note-none, sig/network, size/XS

#100500 Fix mounting partitions on NVMe devices
  pkg/volume/awsebs/aws_util.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/storage, size/XS

#100510 sched: dedupe logic of building kubeConfig
  cmd/kube-scheduler/app/options/options.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/S

#100523 Refactor rest.FinishRequest function
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/finisher/finisher.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/finisher/finisher_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go
  vendor/modules.txt
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L, triage/accepted

#100527 Automated cherry pick of #98571: Stop probing a pod during graceful shutdown
  pkg/kubelet/prober/worker.go
  pkg/kubelet/prober/worker_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/M, triage/accepted

#100715 cherry pick #100341 #98576 #95836 on 1.18 to enable SSA with APIService
  cmd/kube-apiserver/app/aggregator.go
  staging/src/k8s.io/apimachinery/pkg/util/json/json.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/BUILD
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  test/integration/apiserver/apply/status_test.go
  test/integration/etcd/data.go
Labels: approved, area/apiserver, area/code-generation, area/kubectl, area/test, cherry-pick-approved, cncf-cla: yes, kind/api-change, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/apps, sig/cli, sig/testing, size/L, triage/accepted

#100910 Cherry pick of #100690: azure: fix node public IP not able to fetch issues from IMDS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instance_metadata.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/L, triage/accepted

#100911 Cherry pick of #100690: azure: fix node public IP not able to fetch issues from IMDS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instance_metadata.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/L, triage/accepted

#100912 Cherry pick of #100690: azure: fix node public IP not able to fetch issues from IMDS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instance_metadata.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/L, triage/accepted

#100905 "Add AcceleratorStats to cri_stats_provider for 1.18"
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  pkg/kubelet/stats/helper.go
  pkg/kubelet/stats/stats_provider_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/M, triage/accepted

#99578 remove duplicated validation for service-cluster-ip-range
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/server.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/network, size/S, triage/accepted

#100526 Automated cherry pick of #98571: Stop probing a pod during graceful shutdown
  pkg/kubelet/prober/worker.go
  pkg/kubelet/prober/worker_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/M, triage/accepted

#100562 use a non-deprecated API to check kube-proxy
  test/cmd/proxy.sh
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/testing, size/XS

#100570 Fix staticcheck in k8s.io/client-go/discovery
  hack/.staticcheck_failures
  staging/src/k8s.io/client-go/discovery/discovery_client.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-ok-to-test, needs-priority, release-note-none, sig/api-machinery, size/XS, triage/accepted

#100575 Add unit tests and fix scenarios not covered in unit tests
  pkg/apis/core/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/apps, sig/testing, size/XS, triage/accepted

#100599 Fire an event when failing to open NodePort
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/network, size/M

#100635 Run the etcd as non-root
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/etcd.manifest
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/cloud-provider, size/S, triage/accepted

#100671 Fixed several spelling mistakes
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/stats/provider.go
  pkg/quota/v1/evaluator/core/persistent_volume_claims.go
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/services.go
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/scheduler_test.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/scaleio/sio_client.go
  pkg/volume/vsphere_volume/vsphere_volume_block_test.go
  plugin/pkg/admission/storage/persistentvolume/label/admission.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/status_strategy.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/generic/evaluator.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/interfaces.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/client_generator.go
  staging/src/k8s.io/code-generator/cmd/lister-gen/generators/lister.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  test/e2e/common/network/networking.go
  test/e2e/framework/network/utils.go
  test/e2e/network/netpol/network_policy.go
  test/e2e/storage/drivers/proxy/portproxy.go
  test/e2e/windows/dns.go
  test/e2e_node/eviction_test.go
  test/integration/apiserver/apiserver_test.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/e2e-test-framework, area/kubelet, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, sig/apps, sig/cloud-provider, sig/network, sig/node, sig/scheduling, sig/storage, sig/testing, sig/windows, size/M, triage/accepted

#100676 test/e2e: handle ipv6 addresses in netpol tests
  test/e2e/network/netpol/kubemanager.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/network, sig/testing, size/XS

#100678 apf: exempt probes /healthz /livez /readyz
  staging/src/k8s.io/apiserver/pkg/apis/flowcontrol/bootstrap/default.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/S, triage/accepted

#100694 Cherry pick #574 from Cloud Provider Azure: do not tag user created public IPs
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/L, triage/accepted

#100706 Move from kube-dns to core-dns for local-up-cluster.sh
  hack/local-up-cluster.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/testing, size/S, triage/accepted

#100728 Updating Topology Aware Hints to support "Auto" value for annotation
  pkg/apis/core/annotation_key_constants.go
  pkg/controller/endpointslice/metrics/metrics.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
  pkg/proxy/topology.go
  pkg/proxy/topology_test.go
  staging/src/k8s.io/api/core/v1/annotation_key_constants.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, sig/instrumentation, sig/network, size/M, triage/accepted

#100731 Normalize share name to not include capital letters
  pkg/volume/azure_file/azure_provision.go
Labels: approved, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#97012 [1.20.1] Bump Cluster Autoscaler to v1.20.0
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: approved, area/provider/gcp, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/cloud-provider, size/XS

#100525 Automated cherry pick of #98571: Stop probing a pod during graceful shutdown
  pkg/kubelet/prober/worker.go
  pkg/kubelet/prober/worker_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/M, triage/accepted

#100992 gce configure containerd default_runtime_name
  cluster/gce/gci/configure-helper.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/cloud-provider, size/S, triage/accepted

#100440 log format optimization
  test/e2e/framework/ingress/ingress_utils.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/testing, size/XS

#100784 Update structured-merge-diff to v4.1.1
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/reconcile_schema.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/remove.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/storage, size/S, triage/accepted

#100808 test/integration/scheduler_perf: make sure each testCase and workload has a unique name
  test/integration/scheduler_perf/scheduler_perf_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/testing, size/S

#100836 Fix file mode condition for host_path storage test
  test/e2e/common/storage/host_path.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS

#100839 add network-policy label automatically
  test/e2e/network/netpol/OWNERS
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/network, sig/testing, size/XS, triage/accepted

#100861 fix kube-proxy latency metrics
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/service_test.go
Labels: approved, area/ipvs, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/instrumentation, sig/network, size/M, triage/accepted

#100865 kubeadm: Add RA489 as reviewer
  cmd/kubeadm/OWNERS
  test/e2e_kubeadm/OWNERS
Labels: approved, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, sig/testing, size/XS, triage/accepted

#100866 Update IP address validation message to include IPv6
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/network, size/M

#100868 oidc authenticator: make library usage easier
  pkg/kubeapiserver/authenticator/config.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, size/M, triage/accepted

#100873 fix typo in comment for EventAggregatorByReasonFunc
  staging/src/k8s.io/client-go/tools/record/events_cache.go
  staging/src/k8s.io/client-go/tools/record/events_cache_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS, triage/accepted

#100874 improve the readability of log
  pkg/proxy/iptables/proxier.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/network, size/XS, triage/accepted

#100877 Structured Logging migration: modify logs of kube-scheduler
  cmd/kube-scheduler/app/options/configfile.go
  cmd/kube-scheduler/app/server.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cli, sig/scheduling, size/XS

#100878 Handle 429 errors from watch requests in reflector library.
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M, triage/accepted

#100915 Replace time.Now().Sub(x) with time.Since(x)
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, sig/network, size/XS

#100922 code cleanup for validation.go
  pkg/apis/core/validation/validation.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, sig/apps, size/S

#100429 Fix staticcheck failures for vendor/k8s.io/client-go/transport
  hack/.staticcheck_failures
  staging/src/k8s.io/client-go/transport/token_source_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/S, tide/merge-method-squash, triage/accepted

#100430 Fix staticcheck failures for vendor/k8s.io/apimachinery/pkg/runtime
  hack/.staticcheck_failures
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/meta_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/api-machinery, size/XS, triage/accepted

#100436 Fix kube-apiserver manifest.
  cluster/gce/gci/configure-kubeapiserver.sh
  cluster/gce/manifests/kube-apiserver.manifest
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#100762 List pod list once to avoid timeout in Multi-AZ Clusters
  test/e2e/scheduling/priorities.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, sig/testing, size/M

#100763 Fix a unit test failure in non English languages
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/failing-test, lgtm, priority/backlog, release-note-none, sig/cli, size/XS, triage/accepted

#100926 include description of what kube-root-ca.crt can be used to verify
  pkg/controller/certificates/rootcacertpublisher/publisher.go
  pkg/controller/certificates/rootcacertpublisher/publisher_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/documentation, lgtm, needs-triage, priority/important-soon, release-note-none, sig/apps, sig/auth, size/L

#100200 respect ExecProbeTimeout=false for dockershim
  pkg/kubelet/dockershim/exec.go
  pkg/kubelet/dockershim/exec_test.go
  test/e2e/common/node/container_probe.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/node, sig/testing, size/M, triage/accepted

#100208 spelling mistake
  cmd/kube-apiserver/app/apiextensions.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS, triage/accepted

#100181 part1: master to controlplane in test/integration(1.22)
  test/integration/framework/master_utils.go
  test/integration/ipamperf/ipam_test.go
  test/integration/master/synthetic_master_test.go
  test/integration/openshift/openshift_test.go
  test/integration/quota/quota_test.go
  test/integration/serviceaccount/service_account_test.go
  test/integration/util/util.go
  test/integration/volumescheduling/util.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/testing, size/M, wg/naming

#100980 Update the containerd runtime binary path - gce
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cloud-provider, size/M, triage/accepted

#99928 fix Spelling error for Unmounter
  pkg/volume/nfs/nfs.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/storage, size/XS

#99729 Only system-node-critical pods should be OOM Killed last
  pkg/kubelet/qos/policy.go
  pkg/kubelet/qos/policy_test.go
  pkg/kubelet/types/pod_update.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/design, kind/feature, lgtm, priority/important-soon, release-note-action-required, sig/node, size/M, triage/accepted

#100942 kubeadm:the node.kubernetes.io/exclude-from-external-load-balancers label removed on upgrade
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/M, triage/accepted
