Repository kubernetes/kubernetes, pull requests merged in 2021-09, with the labels that each got.

#104391 Add the metric data for different extension points
  staging/src/k8s.io/component-base/metrics/testutil/metrics.go
  staging/src/k8s.io/component-base/metrics/testutil/metrics_test.go
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/integration/scheduler_perf/util.go
Labels: area/test, sig/scheduling, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, needs-priority, triage/accepted

#104573 Explain the reason why metaclient special processing metav1.DeleteOptions encoding
  staging/src/k8s.io/client-go/metadata/metadata.go
  staging/src/k8s.io/client-go/metadata/metadata_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#104690 Automated cherry pick of #104172: revert "fix wrong output when using jsonpath"
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath.go
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, kind/regression, triage/accepted

#104129 job controller: don't mutate shared cache object
  pkg/controller/job/job_controller.go
Labels: kind/bug, priority/important-soon, lgtm, size/XS, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#104130 Automated cherry pick of #104129: job controller: don't mutate shared cache object
  pkg/controller/job/job_controller.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/XS, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#104703 Fix the key missing issue for structured log
  pkg/scheduler/scheduler.go
Labels: kind/bug, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#104715 admission: run PodSecurity before PodSecurityPolicy
  pkg/kubeapiserver/options/plugins.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#104314 legacy-cloud-providers: aws: Add support for consuming web identity credentials
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/M, release-note-none, approved, cncf-cla: yes, area/provider/aws, sig/cloud-provider, triage/accepted

#104718 Automated cherry pick of #104703: Fix the key missing issue for structured log
  pkg/scheduler/scheduler.go
Labels: kind/bug, priority/important-soon, sig/scheduling, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#104719 Automated cherry pick of #104703: Fix the key missing issue for structured log
  pkg/scheduler/scheduler.go
Labels: kind/bug, priority/important-soon, sig/scheduling, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#104652 Introduce storagebackend.ConfigForResource
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/rest/storage_core_test.go
  pkg/registry/core/service/allocator/storage/storage.go
  pkg/registry/core/service/allocator/storage/storage_test.go
  pkg/registry/core/service/ipallocator/storage/storage_test.go
  pkg/registry/core/service/portallocator/storage/storage_test.go
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/registrytest/etcd.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/options.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/dryrun_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/storage_decorator.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/tls_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#104570 integration test for cronjob with controllerv2
  test/integration/cronjob/cronjob_test.go
Labels: area/test, priority/backlog, lgtm, size/XS, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#104621 Fix typo in kubectl describe pods example
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go
Labels: kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#103941 Remove deprecated `--seccomp-profile-root`/`seccompProfileRoot` config
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/helpers_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  staging/src/k8s.io/api/core/v1/types.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, kind/api-change, approved, cncf-cla: yes, triage/accepted

#104467 fix 104329: check for headless before trying to release the ClusterIPs
  pkg/registry/core/service/storage/rest.go
  test/integration/dualstack/dualstack_test.go
Labels: kind/bug, area/test, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104708 Scheduler version should be printed out by default（--v=0）
  cmd/kube-scheduler/app/server.go
Labels: priority/important-soon, kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#104608 Reduce the number of parallel typechecks to `2`
  test/typecheck/main.go
Labels: area/test, priority/important-soon, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#104664 fix e2e test apiserver endpoint and endpointslices
  test/conformance/testdata/conformance.yaml
  test/e2e/network/endpointslice.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, kind/documentation, kind/cleanup, lgtm, release-note, size/M, approved, cncf-cla: yes, sig/testing, kind/failing-test, sig/architecture, area/conformance, triage/accepted

#103896 Remove wrong comment
  pkg/proxy/ipvs/proxier.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, area/ipvs, ok-to-test, needs-priority, needs-triage

#104705 fix: ignore the case when comparing azure tags in service annotation
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
Labels: kind/bug, priority/critical-urgent, lgtm, area/cloudprovider, release-note, size/XS, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#104734 Fix flake test TestEnsurePIPTagged
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils.go
Labels: kind/bug, lgtm, area/cloudprovider, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#101318 Fix typo in gci/README.md
  cluster/gce/gci/README.md
Labels: kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#104590 Add GA AnnStorageProvisioner annotation to PVC
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/provision_test.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/controller/volume/persistentvolume/util/util.go
Labels: kind/cleanup, lgtm, sig/storage, release-note, size/L, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#104599 Adjust LIST work estimator to match current code
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#104697 X race condition from TestApfExecuteWatchRequestsWithInitializationSignal
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#101303 cleanup: fix errors in wrapped format and log capitalization in proxy
  pkg/proxy/endpointslicecache.go
  pkg/proxy/ipvs/graceful_termination.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/testing/fake.go
  pkg/proxy/userspace/proxier.go
  pkg/proxy/util/utils.go
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
  pkg/proxy/winkernel/proxier.go
Labels: sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, area/ipvs, ok-to-test, needs-priority, triage/accepted

#104667 Health checks for controller managers.
  cmd/kube-controller-manager/app/controllermanager.go
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
  staging/src/k8s.io/controller-manager/app/serve.go
  staging/src/k8s.io/controller-manager/controller/interfaces.go
  staging/src/k8s.io/controller-manager/pkg/healthz/handler.go
  staging/src/k8s.io/controller-manager/pkg/healthz/handler_test.go
  staging/src/k8s.io/controller-manager/pkg/healthz/healthz.go
  staging/src/k8s.io/controller-manager/pkg/healthz/healthz_test.go
  vendor/modules.txt
Labels: lgtm, area/cloudprovider, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#104759 Update CHANGELOG OWNERS
  CHANGELOG/OWNERS
Labels: priority/important-soon, kind/documentation, kind/cleanup, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#104605 scheduler: more informative generic ephemeral volume events
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#103631 Automate code generated by using mockgen and go:generate
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  hack/update-mocks.sh
  hack/verify-mocks.sh
  pkg/kubelet/dockershim/docker_sandbox_test.go
  pkg/kubelet/dockershim/docker_service_test.go
  pkg/kubelet/dockershim/libdocker/client.go
  pkg/kubelet/dockershim/libdocker/testing/mock_client.go
  pkg/kubelet/dockershim/network/plugins.go
  pkg/kubelet/dockershim/network/testing/mock_network_plugin.go
  pkg/kubelet/dockershim/network/testing/plugins_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/mockarmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/containerserviceclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/containerserviceclient/mockcontainerserviceclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/deploymentclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/deploymentclient/mockdeploymentclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/diskclient/mockdiskclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/interfaceclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/interfaceclient/mockinterfaceclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/loadbalancerclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/loadbalancerclient/mockloadbalancerclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/publicipclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/publicipclient/mockpublicipclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/routeclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/routeclient/mockrouteclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/routetableclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/routetableclient/mockroutetableclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/securitygroupclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/securitygroupclient/mocksecuritygroupclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/snapshotclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/snapshotclient/mocksnapshotclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/storageaccountclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/storageaccountclient/mockstorageaccountclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/subnetclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/subnetclient/mocksubnetclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmclient/mockvmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmsizeclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmsizeclient/mockvmsizeclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssclient/mockvmssclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssvmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/clients/vmssvmclient/mockvmssvmclient/interface.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/azure_mock_vmsets.go
  test/e2e/storage/drivers/csi-test/driver/driver.go
  test/e2e/storage/drivers/csi-test/driver/driver.mock.go
Labels: area/test, sig/network, area/kubelet, kind/cleanup, lgtm, area/cloudprovider, sig/storage, sig/node, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/cloud-provider, ok-to-test, area/dependency, area/code-organization, triage/accepted

#100185 Remove EXTRA from log messages
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#104290 Update obsolete link in the Conformance Test doc
  test/conformance/cf_header.md
Labels: area/test, kind/documentation, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, ok-to-test, needs-priority, needs-triage

#104740 Fix err of GrabFromAPIServer()
  test/e2e/framework/metrics/metrics_grabber.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, triage/accepted

#104458 tests: Bumps image versions (Adds Windows Server 2022)
  test/utils/image/manifest.go
Labels: area/test, priority/important-soon, lgtm, size/S, kind/feature, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-triage

#99682 Fix misspelling and misgrammar
  pkg/apis/apps/types.go
  pkg/apis/authentication/types.go
  pkg/apis/core/types.go
  pkg/apis/discovery/types.go
  pkg/apis/flowcontrol/types.go
  test/e2e/kubectl/portforward.go
Labels: area/test, kind/cleanup, lgtm, size/S, kind/api-change, release-note-none, sig/auth, sig/apps, approved, sig/cli, cncf-cla: yes, sig/testing, lifecycle/stale, needs-priority, needs-triage

#104672 Automated cherry pick of #103532: Service: Fix semantics for Update wrt allocations #104601: Fix a small regression in Service updates
  pkg/api/service/testing/make.go
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/strategy.go
Labels: kind/bug, priority/critical-urgent, sig/network, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-triage

#104240 fix Log attempts to output resp.Body #104184
  pkg/credentialprovider/config.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gcpcredential/credentialutil.go
Labels: kind/bug, lgtm, area/cloudprovider, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/cloud-provider, ok-to-test, sig/security, triage/accepted

#104444 Enable http2 health checking with go 1.16.5 on KAS egress.
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/proto/client/client.pb.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/proto/client/client.proto
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, sig/api-machinery, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, area/dependency, triage/accepted

#104741 Adding more detailed logging for Topology Hints
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/topologycache/topologycache.go
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, release-note, size/XS, sig/apps, approved, cncf-cla: yes, needs-triage

#104790 server-side-apply: print object name in SHOULD NOT HAPPEN message
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#104699 Object creation with generateName should return AlreadyExists instead of a Timeout
  pkg/registry/core/service/storage/rest.go
  pkg/registry/core/service/strategy_test.go
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/create.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, kind/api-change, approved, cncf-cla: yes, needs-priority, triage/accepted

#104816 Update the valid string from rand.go
  staging/src/k8s.io/apimachinery/pkg/util/rand/rand_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#104829 rbac: remove AttributeRestriction documentation
  api/openapi-spec/swagger.json
  pkg/apis/rbac/types.go
  staging/src/k8s.io/api/rbac/v1/generated.proto
  staging/src/k8s.io/api/rbac/v1/types.go
  staging/src/k8s.io/api/rbac/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/rbac/v1alpha1/generated.proto
  staging/src/k8s.io/api/rbac/v1alpha1/types.go
  staging/src/k8s.io/api/rbac/v1alpha1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/rbac/v1beta1/generated.proto
  staging/src/k8s.io/api/rbac/v1beta1/types.go
  staging/src/k8s.io/api/rbac/v1beta1/types_swagger_doc_generated.go
Labels: priority/backlog, kind/documentation, lgtm, size/XS, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#103515 Add verbose logs for node/plugin scores even ranged in low levels
  pkg/scheduler/generic_scheduler.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#104833 Refine locking in API Priority and Fairness config controller
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, needs-triage

#104704 Change TTLAfterFinished state to beta in comment
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#104805 Fix couple of incorrect description
  pkg/scheduler/framework/plugins/selectorspread/selector_spread.go
  pkg/scheduler/testing/fake_extender.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#104806 Change execution duration guess from 1 minute to 3 milliseconds
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/fifo_list.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/types.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#104845 e2e iperf2 change threshold to 10MBps = 80 Mbps
  test/e2e/network/networking_perf.go
Labels: area/test, sig/network, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104828 increasing sleep timer to 5 sec in attempt to deflake token test
  test/e2e/storage/csi_mock_volume.go
Labels: area/test, lgtm, sig/storage, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#104848 Request: Add ehashman as a sig-node API review shadow
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#104849 Revert PR 103515
  pkg/scheduler/generic_scheduler.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#103023 Fix staticcheck in k8s.io/{apiserver/pkg/storage,client-go/rest/watch}
  hack/.staticcheck_failures
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/caching_object_test.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/grpc_service_unix_test.go
  staging/src/k8s.io/client-go/rest/watch/decoder_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#104812 Fix comment of `processorListener.requestedResyncPeriod`
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#104449 Automated cherry pick of #104384: fix: skip case sensitivity when checking Azure NSG rules #104382: fix: ensure InstanceShutdownByProviderID return false for
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/azure_mock_vmsets.go
Labels: kind/bug, priority/critical-urgent, lgtm, area/cloudprovider, release-note, size/XL, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#104446 Automated cherry pick of #104384: fix: skip case sensitivity when checking Azure NSG rules #104382: fix: ensure InstanceShutdownByProviderID return false for
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/azure_mock_vmsets.go
Labels: kind/bug, priority/critical-urgent, lgtm, area/cloudprovider, release-note, size/XL, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#104448 Automated cherry pick of #104384: fix: skip case sensitivity when checking Azure NSG rules #104382: fix: ensure InstanceShutdownByProviderID return false for
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/azure_mock_vmsets.go
Labels: kind/bug, priority/critical-urgent, lgtm, area/cloudprovider, release-note, size/XL, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#104447 Automated cherry pick of #104384: fix: skip case sensitivity when checking Azure NSG rules #104382: fix: ensure InstanceShutdownByProviderID return false for
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/azure_mock_vmsets.go
Labels: kind/bug, priority/critical-urgent, lgtm, area/cloudprovider, release-note, size/XL, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#103751 fix AsApproximateFloat64() for BinarySI
  pkg/scheduler/metrics/resources/resources_test.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity_test.go
Labels: kind/bug, priority/important-soon, sig/scheduling, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, ok-to-test, triage/accepted

#104666 Fix Job tracking with finalizers for more than 500 pods
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/instrumentation, priority/important-longterm, triage/accepted

#104826 Update CHANGELOG OWNERS
  CHANGELOG/OWNERS
Labels: kind/documentation, kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#104756 Fix client IP preservation for NodePort service with protocol SCTP
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#104747 Fix typos in files which are used for generating OpenAPI
  api/openapi-spec/swagger.json
  pkg/apis/core/types.go
  pkg/volume/emptydir/empty_dir.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/group_version.go
  staging/src/k8s.io/code-generator/examples/apiserver/openapi/zz_generated.openapi.go
  staging/src/k8s.io/kube-aggregator/pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/openapi/zz_generated.openapi.go
Labels: kind/cleanup, lgtm, sig/storage, sig/api-machinery, size/S, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#104881 Widen margins of TestDifferentWidths and TestTooWide
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, needs-triage

#104069 fix data race in kubelet volume test: add lock for ut
  pkg/kubelet/kubelet_volumes_test.go
  pkg/kubelet/pod_workers_test.go
Labels: area/kubelet, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#104817 kubelet: Rejected pods should be filtered from admission
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#104841 client-go: para 'resourceVersion' in DeltaFIFO.Replace is not used, so remove it
  staging/src/k8s.io/client-go/tools/cache/delta_fifo.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#104674 Automated cherry pick of #103532: Service: Fix semantics for Update wrt allocations #104601: Fix a small regression in Service updates
  pkg/api/service/BUILD
  pkg/api/service/testing/BUILD
  pkg/api/service/testing/make.go
  pkg/registry/core/service/storage/BUILD
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/strategy.go
Labels: kind/bug, priority/critical-urgent, sig/network, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-triage

#104572 fix detach disk issue on deleting vmss node
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, release-note, size/XS, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#104513 Automated cherry pick of #100720: Fix buckets initialization
  pkg/controller/volume/scheduling/metrics/metrics.go
Labels: kind/bug, lgtm, size/XS, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted

#104859 Automated cherry pick of #104845: e2e iperf2 change threshold to 10MBps = 80 Mbps
  test/e2e/network/networking_perf.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#104514 Automated cherry pick of #100720: Fix buckets initialization
  pkg/controller/volume/scheduling/metrics/metrics.go
Labels: kind/bug, lgtm, size/XS, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted

#104840 Automated cherry pick of #103050: Fix NodeAuthenticator tests in dual stack
  test/e2e/auth/node_authn.go
Labels: kind/bug, area/test, priority/backlog, lgtm, release-note, size/S, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#104606 [Failing Test] Fix GPU Device Driver test in kubelet-serial
  test/e2e_node/gpu_device_plugin_test.go
  test/e2e_node/jenkins/gci-init-gpu.yaml
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#104485 Automated cherry pick of #95447: Fix vsphere disk detach failing
  pkg/volume/vsphere_volume/attacher.go
  pkg/volume/vsphere_volume/attacher_test.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/virtualmachine.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#104673 Automated cherry pick of #103532: Service: Fix semantics for Update wrt allocations #104601: Fix a small regression in Service updates
  pkg/api/service/testing/make.go
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/strategy.go
Labels: kind/bug, priority/critical-urgent, sig/network, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-triage

#104866 fix typo in framework interface
  pkg/scheduler/framework/interface.go
Labels: kind/documentation, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, needs-triage

#104865 Automated cherry pick of #104845: e2e iperf2 change threshold to 10MBps = 80 Mbps
  test/e2e/network/networking_perf.go
Labels: area/test, priority/important-soon, sig/network, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#104884 Remove functionality from deprecated kubectl run flags
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Labels: kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#104870 Automated cherry pick of #104314: legacy-cloud-providers: aws: Add support for consuming web
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#104564 Backport 104410 to release-1.22
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_util.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, triage/accepted

#104850 Automated cherry pick of #104314: legacy-cloud-providers: aws: Add support for consuming web
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#104512 Automated cherry pick of #100720: Fix buckets initialization
  pkg/controller/volume/scheduling/metrics/metrics.go
Labels: kind/bug, lgtm, size/XS, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted

#104538 Automated cherry pick of #104369: Fix storage class setup in regional_pd.go
  test/e2e/storage/regional_pd.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104537 Automated cherry pick of #104369: Fix storage class setup in regional_pd.go
  test/e2e/storage/regional_pd.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104876 Automated cherry pick of #104666: Fix Job tracking with finalizers for more than 500 pods
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#104858 e2e: enable generic ephemeral inline volume also for in-tree drivers
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/ephemeral.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#101928 client-go/workqueue: Drain work queue on shutdown
  pkg/controller/garbagecollector/garbagecollector_test.go
  staging/src/k8s.io/client-go/util/workqueue/queue.go
  staging/src/k8s.io/client-go/util/workqueue/queue_test.go
Labels: lgtm, sig/api-machinery, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#104917 Skip externalips service tests if admission controller to deny externalip services is enabled.
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#104725 Improve DeltaFIFO function 'ListKeys'
  staging/src/k8s.io/client-go/tools/cache/delta_fifo.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo_test.go
Labels: kind/cleanup, sig/scalability, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#104853 avoid sharedIndexInformer run more than once, avoid more cache and me…
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Labels: lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#100373 e2e: TM: add option to fail instead of skip
  test/e2e/framework/test_context.go
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/podresources_test.go
  test/e2e_node/topology_manager_test.go
  test/e2e_node/util_sriov.go
  test/e2e_node/util_sriov_linux.go
  test/e2e_node/util_sriov_unsupported.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#104931 Migrated pkg/proxy/userspace to structured logging
  pkg/proxy/userspace/proxysocket.go
  pkg/proxy/userspace/roundrobin.go
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, area/logging, release-note, size/M, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-triage, wg/structured-logging

#104796 remove the --csr* flags from "kubeadm certs renew"
  cmd/kubeadm/app/cmd/certs.go
  cmd/kubeadm/app/cmd/certs_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#104801 Drop broken/no-op proxyconfig.EndpointsHandler implementations
  cmd/kube-proxy/app/server.go
  pkg/proxy/config/config.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/metaproxier/meta_proxier.go
  pkg/proxy/metaproxier/meta_proxier_test.go
  pkg/proxy/types.go
  pkg/proxy/winkernel/proxier.go
Labels: sig/network, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/ipvs, needs-triage

#103493 scheduler/volumebinding: migrate to use pkg/scheduler/framework/plugins/feature
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
  pkg/scheduler/framework/plugins/feature/feature.go
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
  pkg/scheduler/generic_scheduler_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#104696 Update conformance image to use debian-base:buster-v1.9.0
  build/dependencies.yaml
  test/conformance/image/Makefile
Labels: area/test, priority/important-soon, area/security, kind/cleanup, lgtm, release-note, size/S, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, area/dependency, sig/security, triage/accepted

#104482 kubectl: Use fields from event series when computing describe events for a object
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#104970 Update debian-iptables to pick CVE fixes
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: area/test, priority/important-soon, sig/network, area/security, lgtm, sig/api-machinery, release-note, size/XS, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, sig/security, triage/accepted

#104742 change health-check port to listen to node port addresses
  pkg/proxy/healthcheck/healthcheck_test.go
  pkg/proxy/healthcheck/service_health.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#104794 pkg/kubelet/cm/memorymanager: Fix ErrorS key/value pair
  pkg/kubelet/cm/memorymanager/policy_static.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#104978 Update ineligible_endpoint.yaml to include RBAC
  test/conformance/testdata/ineligible_endpoints.yaml
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, needs-priority, triage/accepted

#104883 Add integration test for Services Finalizes Racing with the Repair Loop
  pkg/controlplane/controller.go
  pkg/controlplane/instance.go
  test/integration/network/main_test.go
  test/integration/network/services_test.go
Labels: kind/bug, area/test, sig/network, lgtm, sig/api-machinery, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104969 Fix conversion of literal null JSON values
  pkg/apis/extensions/v1beta1/conversion.go
  pkg/apis/networking/v1beta1/conversion.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/conversion.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/conversion_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/marshal.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/conversion.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/conversion_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/marshal.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/conversion.go
Labels: kind/bug, sig/network, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#104711 update pause image references to use 3.6
  build/dependencies.yaml
  build/pause/CHANGELOG.md
  cluster/gce/config-common.sh
  cluster/gce/windows/smoke-test.sh
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/kubelet/flags_test.go
  cmd/kubeadm/app/util/template_test.go
  cmd/kubelet/app/options/container_runtime.go
  hack/testdata/filter/pod-apply-selector.yaml
  hack/testdata/filter/pod-dont-apply.yaml
  hack/testdata/multi-resource-1.yaml
  hack/testdata/multi-resource-3.yaml
  hack/testdata/multi-resource-json-modify.json
  hack/testdata/multi-resource-json.json
  hack/testdata/multi-resource-list-modify.json
  hack/testdata/multi-resource-list.json
  hack/testdata/multi-resource-rclist-modify.json
  hack/testdata/multi-resource-rclist.json
  hack/testdata/multi-resource-yaml-modify.yaml
  hack/testdata/multi-resource-yaml.yaml
  hack/testdata/pod-apply.yaml
  hack/testdata/pod-with-precision.json
  hack/testdata/pod.yaml
  hack/testdata/prune/a.yaml
  hack/testdata/prune/b.yaml
  hack/testdata/sorted-pods/sorted-pod1.yaml
  hack/testdata/sorted-pods/sorted-pod2.yaml
  hack/testdata/sorted-pods/sorted-pod3.yaml
  pkg/kubelet/dockershim/docker_sandbox.go
  staging/src/k8s.io/kubectl/testdata/set/multi-resource-yaml.yaml
  staging/src/k8s.io/kubectl/testdata/set/namespaced-resource.yaml
  test/cmd/core.sh
  test/e2e/testing-manifests/scheduling/nvidia-driver-installer.yaml
  test/fixtures/pkg/kubectl/cmd/set/multi-resource-yaml.yaml
  test/fixtures/pkg/kubectl/cmd/set/namespaced-resource.yaml
  test/integration/benchmark-controller.json
  test/integration/scheduler_perf/config/churn/pod-default.yaml
  test/integration/scheduler_perf/config/pod-affinity-ns-selector.yaml
  test/integration/scheduler_perf/config/pod-anti-affinity-ns-selector.yaml
  test/integration/scheduler_perf/config/pod-default.yaml
  test/integration/scheduler_perf/config/pod-high-priority-large-cpu.yaml
  test/integration/scheduler_perf/config/pod-high-priority.yaml
  test/integration/scheduler_perf/config/pod-large-cpu.yaml
  test/integration/scheduler_perf/config/pod-low-priority.yaml
  test/integration/scheduler_perf/config/pod-preferred-affinity-ns-selector.yaml
  test/integration/scheduler_perf/config/pod-preferred-anti-affinity-ns-selector.yaml
  test/integration/scheduler_perf/config/pod-with-node-affinity.yaml
  test/integration/scheduler_perf/config/pod-with-pod-affinity.yaml
  test/integration/scheduler_perf/config/pod-with-pod-anti-affinity.yaml
  test/integration/scheduler_perf/config/pod-with-preferred-pod-affinity.yaml
  test/integration/scheduler_perf/config/pod-with-preferred-pod-anti-affinity.yaml
  test/integration/scheduler_perf/config/pod-with-preferred-topology-spreading.yaml
  test/integration/scheduler_perf/config/pod-with-secret-volume.yaml
  test/integration/scheduler_perf/config/pod-with-topology-spreading.yaml
  test/utils/image/manifest.go
  test/utils/runners.go
Labels: area/test, priority/important-soon, area/kubelet, kind/cleanup, area/kubectl, lgtm, area/provider/gcp, sig/node, sig/cluster-lifecycle, release-note, size/L, approved, sig/cli, area/kubeadm, cncf-cla: yes, sig/testing, sig/release, sig/cloud-provider, triage/accepted

#104874 Unify towards k8s.io/utils/clock - part 1
  pkg/controller/certificates/signer/signer_test.go
  pkg/controller/controller_utils.go
  pkg/controller/daemon/daemon_controller_test.go
  pkg/controller/daemon/update_test.go
  pkg/controller/nodelifecycle/scheduler/timed_workers.go
  pkg/controller/podgc/gc_controller_test.go
  pkg/controller/resourcequota/resource_quota_monitor.go
  pkg/controller/testutil/test_utils.go
  pkg/controller/ttlafterfinished/ttlafterfinished_controller.go
  pkg/controlplane/instance.go
  pkg/kubelet/active_deadline.go
  pkg/kubelet/active_deadline_test.go
  pkg/kubelet/configmap/configmap_manager.go
  pkg/kubelet/configmap/configmap_manager_test.go
  pkg/kubelet/cri/streaming/request_cache.go
  pkg/kubelet/cri/streaming/request_cache_test.go
  pkg/kubelet/dockershim/docker_service_test.go
  pkg/kubelet/dockershim/libdocker/fake_client.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/images/image_gc_manager_test.go
  pkg/kubelet/images/image_manager_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/logs/container_log_manager.go
  pkg/kubelet/logs/container_log_manager_test.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
  pkg/kubelet/pleg/generic.go
  pkg/kubelet/pleg/generic_test.go
  pkg/kubelet/pod_workers_test.go
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/runonce_test.go
  pkg/kubelet/secret/secret_manager.go
  pkg/kubelet/secret/secret_manager_test.go
  pkg/kubelet/token/token_manager.go
  pkg/kubelet/token/token_manager_test.go
  pkg/kubelet/util/manager/cache_based_manager.go
  pkg/kubelet/util/manager/cache_based_manager_test.go
  pkg/kubelet/util/manager/watch_based_manager.go
  pkg/kubelet/util/manager/watch_based_manager_test.go
  pkg/kubelet/util/queue/work_queue.go
  pkg/kubelet/util/queue/work_queue_test.go
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/pods_test.go
  pkg/quota/v1/evaluator/core/registry.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/util/flowcontrol/backoff.go
  staging/src/k8s.io/client-go/util/flowcontrol/backoff_test.go
  staging/src/k8s.io/client-go/util/workqueue/delaying_queue.go
  staging/src/k8s.io/client-go/util/workqueue/delaying_queue_test.go
  staging/src/k8s.io/client-go/util/workqueue/metrics.go
  staging/src/k8s.io/client-go/util/workqueue/metrics_test.go
  staging/src/k8s.io/client-go/util/workqueue/queue.go
  staging/src/k8s.io/client-go/util/workqueue/rate_limiting_queue_test.go
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller.go
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller_test.go
  test/integration/kubelet/watch_manager_test.go
Labels: area/test, area/kubelet, kind/cleanup, lgtm, sig/node, sig/api-machinery, size/L, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, priority/important-longterm, triage/accepted

#104981 Plumb the schema.GroupResource into etcd3 Store struct
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#99529 Structured log migration for pkg/util/netsh
  pkg/util/netsh/netsh.go
Labels: priority/backlog, sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted, wg/structured-logging

#104979 Track recent reorg in testing clockery
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/testing/eventclock/fake.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#96345 refactor: disable insecure serving in kube-scheduler
  cmd/kube-scheduler/app/config/config.go
  cmd/kube-scheduler/app/config/config_test.go
  cmd/kube-scheduler/app/options/deprecated.go
  cmd/kube-scheduler/app/options/insecure_serving.go
  cmd/kube-scheduler/app/options/insecure_serving_test.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server.go
  cmd/kube-scheduler/app/server_test.go
  cmd/kube-scheduler/app/testing/testserver.go
  pkg/registry/core/rest/storage_core.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1beta1/defaults.go
  pkg/scheduler/apis/config/v1beta1/defaults_test.go
  pkg/scheduler/apis/config/v1beta2/defaults.go
  pkg/scheduler/apis/config/v1beta2/defaults_test.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/types.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, area/provider/gcp, size/XXL, kind/api-change, release-note-action-required, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, api-review, area/e2e-test-framework, kind/deprecation, needs-triage

#104904 [go1.17] Update to go1.17.1
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  cluster/images/etcd/Makefile
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, area/security, lgtm, area/provider/gcp, sig/api-machinery, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, area/dependency, triage/accepted

#104749 build/common: check if docker buildx is available
  build/common.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104948 update github.com/pkg/errors in test/conformance/image/go-runner/ with native go pkg
  test/conformance/image/go-runner/main.go
  test/conformance/image/go-runner/tar.go
  test/conformance/image/go-runner/tar_test.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, ok-to-test, needs-priority, needs-triage

#104966 Increase QPS in garbage collector controller
  cmd/kube-controller-manager/app/core.go
Labels: lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#105005 component-base: enable JSON in example
  staging/src/k8s.io/component-base/logs/example/cmd/logger.go
Labels: kind/bug, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage, wg/structured-logging

#105006 update ineligible_endpoints removing upper case `Endpoint` to `endpoint`
  test/conformance/testdata/ineligible_endpoints.yaml
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, needs-priority, triage/accepted

#104624 When resolvConf is "" in kubelet configuration, pod will be created with wrong dns policy
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/componentconfigs/kubelet_test.go
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, sig/cluster-lifecycle, size/S, kind/api-change, release-note-action-required, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, api-review, triage/accepted

#104905 [go1.16] Update to go1.16.8
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, area/security, lgtm, area/provider/gcp, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, area/dependency, triage/accepted

#104913 kube-controller-manager: properly check generic ephemeral volume feature
  cmd/kube-controller-manager/app/core.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, triage/accepted

#105015 Automated cherry pick of #93044: Initialize scheduler's podInformer in sharedInformerFactory
  cmd/kube-scheduler/app/config/BUILD
  cmd/kube-scheduler/app/config/config.go
  cmd/kube-scheduler/app/options/BUILD
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/BUILD
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/node/lifecycle_test.go
  test/integration/scheduler/extender_test.go
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/preemption_test.go
  test/integration/scheduler/priorities_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/taint_test.go
  test/integration/scheduler/util.go
  test/integration/util/util.go
  test/integration/volumescheduling/util.go
Labels: kind/bug, area/test, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, needs-triage

#104906 [go1.16] Update to go1.16.8
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
  test/images/sample-apiserver/Makefile
Labels: area/test, priority/important-soon, area/security, lgtm, area/provider/gcp, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, area/dependency, triage/accepted

#104793 Add unit tests for scheduler's dynamic event handlers registration
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/scheduler.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#104928 Migrate `cmd/proxy/app` and `pkg/proxy/meta_proxier` to structured logging
  cmd/kube-proxy/app/server_others.go
  pkg/proxy/metaproxier/meta_proxier.go
Labels: area/test, sig/network, kind/cleanup, lgtm, area/logging, sig/node, sig/cluster-lifecycle, release-note, size/S, sig/apps, approved, area/kubeadm, cncf-cla: yes, sig/testing, priority/important-longterm, area/ipvs, tide/merge-method-squash, ok-to-test, area/e2e-test-framework, needs-triage, wg/structured-logging

#104991 Fix workqueue memory leak
  staging/src/k8s.io/client-go/util/workqueue/queue.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#102592 add NoExecute toleration for konnectivity agent
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
Labels: kind/bug, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#105034 kubeadm: remove the flag --port from scheduler manifest
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#104078 add StatefulSet MinReadySeconds e2e test
  test/e2e/apps/statefulset.go
  test/e2e/framework/statefulset/wait.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, ok-to-test, area/e2e-test-framework, triage/accepted

#104995 pin-dependency.sh: enhance forking of a dependency
  hack/pin-dependency.sh
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#105040 staging/publishing: Set go1.16 version to go1.16.8
  staging/publishing/rules.yaml
Labels: area/security, kind/cleanup, lgtm, size/M, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, needs-triage

#104942 kubeadm: do not check if the /etc/kubernetes/manifests folder is empty on joining worker nodes during preflight
  cmd/kubeadm/app/preflight/checks.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#105058 Add CVE 2021-25741 info to 1.19 Release Notes
  CHANGELOG/CHANGELOG-1.19.md
Labels: priority/critical-urgent, area/security, kind/documentation, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#105060 Automated cherry pick of #105058: Add CVE 2021-25741 info to 1.19 release notes
  CHANGELOG/CHANGELOG-1.19.md
Labels: priority/critical-urgent, area/security, kind/documentation, lgtm, size/S, area/release-eng, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/release, needs-triage

#105054 add feature gate for OpenAPIEnums.
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#102937 remove windows service not used global variable
  pkg/windows/service/service.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, lifecycle/stale, ok-to-test, needs-priority, needs-triage

#105055 Rename httplog entry from "apf_d" to "apf_fd"
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#105033 Structured log migration for pkg/util/netsh
  pkg/util/netsh/netsh.go
Labels: sig/network, kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted

#100125 'new' Event namespace validate failed
  pkg/apis/core/validation/events.go
  test/integration/client/client_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, ok-to-test, api-review, triage/accepted

#104670 turn on CSIMigrationAzureDisk by default on 1.23
  pkg/features/kube_features.go
Labels: priority/important-soon, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#102242 remove deprecated validEgressSelectorNames 'master'
  cluster/gce/gci/configure-helper.sh
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/config.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector_test.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, area/provider/gcp, sig/api-machinery, release-note, size/L, kind/api-change, approved, cncf-cla: yes, sig/cloud-provider, tide/merge-method-squash, kind/deprecation, triage/accepted

#104949 Updated json-iterator version to 1.1.12 from 1.1.11
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/json-iterator/go/README.md
  vendor/github.com/json-iterator/go/go.mod
  vendor/github.com/json-iterator/go/go.sum
  vendor/github.com/modern-go/reflect2/.travis.yml
  vendor/github.com/modern-go/reflect2/Gopkg.lock
  vendor/github.com/modern-go/reflect2/Gopkg.toml
  vendor/github.com/modern-go/reflect2/go.mod
  vendor/github.com/modern-go/reflect2/go_above_118.go
  vendor/github.com/modern-go/reflect2/go_above_17.go
  vendor/github.com/modern-go/reflect2/go_above_19.go
  vendor/github.com/modern-go/reflect2/go_below_118.go
  vendor/github.com/modern-go/reflect2/go_below_17.go
  vendor/github.com/modern-go/reflect2/go_below_19.go
  vendor/github.com/modern-go/reflect2/reflect2.go
  vendor/github.com/modern-go/reflect2/test.sh
  vendor/github.com/modern-go/reflect2/type_map.go
  vendor/github.com/modern-go/reflect2/unsafe_link.go
  vendor/github.com/modern-go/reflect2/unsafe_map.go
  vendor/modules.txt
Labels: area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/cluster-lifecycle, size/S, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, kind/failing-test, sig/architecture, area/code-generation, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, needs-triage

#104627 NodeMetrics, PodMetrics: Add doc for metav1.ObjectMeta
  staging/src/k8s.io/metrics/pkg/apis/metrics/types.go
  staging/src/k8s.io/metrics/pkg/apis/metrics/v1alpha1/generated.proto
  staging/src/k8s.io/metrics/pkg/apis/metrics/v1alpha1/types.go
  staging/src/k8s.io/metrics/pkg/apis/metrics/v1beta1/generated.proto
  staging/src/k8s.io/metrics/pkg/apis/metrics/v1beta1/types.go
Labels: kind/documentation, lgtm, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, api-review, triage/accepted

#104847 kubelet: Handle UID reuse in pod worker
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/pod_workers.go
  pkg/kubelet/pod_workers_test.go
  test/e2e_node/mirror_pod_test.go
Labels: kind/bug, area/test, priority/critical-urgent, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, sig/testing, triage/accepted

#104998 scheduler: avoid repeated boilerplate code when registering plugins
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/framework/runtime/registry.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#105035 Migrated pkg/proxy/winuserspace to structured logging
  pkg/proxy/winuserspace/proxysocket.go
  pkg/proxy/winuserspace/roundrobin.go
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, area/logging, release-note, size/M, approved, cncf-cla: yes, needs-ok-to-test, tide/merge-method-squash, needs-triage, wg/structured-logging

#105046 Skip check for all topology labels when using system default spreading
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#105067 Add supported 'alg' header values.
  pkg/kubeapiserver/options/authentication.go
Labels: kind/documentation, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#105069 etcd client starts retrying transient errors from the etcd cluster
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#104986 Svc REST: clean up defaultOnRead to be consistent
  pkg/api/service/testing/make.go
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, approved, cncf-cla: yes, needs-triage

#103174 Do not attempt to overwrite higher system (sysctl) values
  cmd/kube-proxy/app/conntrack.go
Labels: kind/bug, sig/network, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, needs-triage

#104761 Improve create configmap test
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_configmap_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, needs-triage
