Repository kubernetes/kubernetes, pull requests merged in 2021-03, with the labels that each got.

#99564 fix e2e test kube-proxy tcp_wait
  test/e2e/network/kube_proxy.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/network, sig/testing, size/XS, triage/accepted

#98867 .github: update enhancement issue template to point to KEPs
  .github/ISSUE_TEMPLATE/enhancement.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/contributor-experience, size/S, triage/accepted

#99421 Fix PipeWriter#CloseWithError race on go1.13
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/flake, lgtm, priority/important-longterm, release-note-none, sig/cli, size/XS, triage/accepted

#99538 Skip visiting empty secret and configmap names
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/api/v1/persistentvolume/util.go
  pkg/api/v1/persistentvolume/util_test.go
  pkg/api/v1/pod/util.go
  pkg/api/v1/pod/util_test.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/auth, sig/node, size/L, triage/accepted

#97086 Only CSI plugin can have a DataSource
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/provision_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/apps, sig/storage, size/M

#99590 Avoid kubelet warnings for imagePullSecret entries with empty names
  pkg/kubelet/kubelet_pods.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/node, size/XS

#98762 Speed up pkg/volume/csi unit tests
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_plugin_test.go
  pkg/volume/csi/csi_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, size/L

#99569 kubectl logs: don't check default container annotation if --all-containers is specified
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cli, size/M

#98912 Speed up pkg/controller/volume/scheduling unit tests
  pkg/controller/volume/scheduling/scheduler_binder_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, size/S

#99498 Scheduler: unroll PreemptHandle to Handle
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/runtime/framework.go
  test/integration/scheduler/framework_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, sig/testing, size/M

#99491 Fix typo in comment for purgeInitContainers.
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/node, size/XS, triage/accepted

#99609 test images: Generates new SHAs for mirrored images
  test/images/README.md
  test/images/busybox/Dockerfile
  test/images/busybox/Dockerfile_windows
  test/images/glusterdynamic-provisioner/Dockerfile
  test/images/httpd-new/Dockerfile_windows
  test/images/httpd/Dockerfile
  test/images/httpd/Dockerfile_windows
  test/images/nginx-new/Dockerfile
  test/images/nginx-new/Dockerfile_windows
  test/images/nginx/Dockerfile
  test/images/nginx/Dockerfile_windows
  test/images/perl/Dockerfile
Labels: approved, cncf-cla: yes, lgtm

#99163 Implements pod deletion cost
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/api/testing/backward_compatibility_test.go
  pkg/apis/apps/validation/validation.go
  pkg/apis/apps/validation/validation_test.go
  pkg/apis/core/annotation_key_constants.go
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/controller/controller_utils.go
  pkg/controller/controller_utils_test.go
  pkg/features/kube_features.go
  pkg/registry/apps/statefulset/strategy.go
  pkg/registry/core/pod/strategy.go
  staging/src/k8s.io/api/core/v1/annotation_key_constants.go
Labels: api-review, approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, priority/important-soon, release-note, sig/apps, size/L, triage/accepted

#99507 Leader Migration (KEP-2477): options parsing
  api/api-rules/violation_exceptions.list
  staging/src/k8s.io/controller-manager/config/types.go
  staging/src/k8s.io/controller-manager/config/v1alpha1/types.go
  staging/src/k8s.io/controller-manager/config/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/controller-manager/config/v1alpha1/zz_generated.deepcopy.go
  staging/src/k8s.io/controller-manager/config/zz_generated.deepcopy.go
  staging/src/k8s.io/controller-manager/options/generic.go
  staging/src/k8s.io/controller-manager/pkg/features/kube_features.go
  staging/src/k8s.io/controller-manager/pkg/leadermigration/feature.go
  staging/src/k8s.io/controller-manager/pkg/leadermigration/options/options.go
  staging/src/k8s.io/controller-manager/pkg/leadermigration/options/options_test.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-triage, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/cloud-provider, size/L

#99586 update kubeadm upgrade description
  cmd/kubeadm/app/phases/upgrade/compute.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS, triage/accepted

#99346 Avoid creation of the same storageclass in e2e tests
  test/e2e/storage/regional_pd.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/volume_provisioning.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/storage, sig/testing, size/L

#99447 typo fixed for terminatation
  test/e2e_node/volume_manager_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/node, sig/testing, size/XS, triage/accepted

#97139 Update networking ingress types for Ingress Backend Service Port name
  pkg/apis/networking/types.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/documentation, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/network, size/XS

#99247 Deleted a redundant line from #91275
  cmd/kubelet/app/options/options.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/S, triage/accepted

#98347 Cleanup dependencies in changelog
  CHANGELOG/CHANGELOG-1.19.md
  CHANGELOG/CHANGELOG-1.20.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/release, size/L, triage/accepted

#99084 kubelet: Imporve cmd comment for how kubelet works
  cmd/kubelet/kubelet.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS, triage/accepted

#99361 Add btrfs support to the automatic volume resizer
  staging/src/k8s.io/mount-utils/resizefs_linux.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/storage, size/S, triage/accepted

#99521 Prevent CGO and STATIC_OVERRIDES from trampling themselves if evaluated multiple times
  hack/lib/golang.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/release, size/S

#99171 Bump konnectivity-client to v0.0.15 in release-1.20
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/node, size/S, triage/accepted

#99172 Bump konnectivity-client to v0.0.15 in release-1.19
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/node, size/XS, triage/accepted

#99341 cronjob_controller: add metrics for job creation skew duration
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/metrics/metrics.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/apps, sig/instrumentation, size/M, triage/accepted

#99553 cronjob: fix flaky unit test TestController2_updateCronJob
  pkg/controller/cronjob/cronjob_controllerv2_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/apps, size/XS, triage/accepted

#99574 kubeadm: a warning to user as ipv6 site-local is deprecated
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/cluster-lifecycle, sig/network, size/XS

#99017 Automated cherry pick of #98305: kube-proxy: clear conntrack entries after rules are in place
  pkg/proxy/iptables/BUILD
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, sig/network, size/L

#97775 exec credential provider: first integration test (static auth interaction)
  test/integration/client/cert_rotation_test.go
  test/integration/client/exec_test.go
  test/integration/client/testdata/exec-plugin.sh
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, priority/important-soon, release-note-none, sig/auth, sig/testing, size/L, triage/accepted

#98614 Remove dependency of generators from create secret
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_docker.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_docker_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_serviceaccount.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XXL, triage/accepted

#98983 test/e2e: Move tests into test/e2e/node package
  test/e2e/node/examples.go
Labels: approved, area/conformance, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/architecture, sig/node, sig/testing, size/S, triage/accepted

#99103 Prefer v1 storage versions
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/apiextensions.go
  pkg/apis/admissionregistration/install/install.go
  pkg/apis/certificates/install/install.go
  pkg/apis/coordination/install/install.go
  pkg/apis/node/install/install.go
  pkg/controlplane/storageversionhashdata/data.go
  pkg/kubeapiserver/default_storage_factory_builder.go
  test/integration/etcd/data.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, sig/testing, size/M, triage/accepted

#99115 generic ephemeral volume: add metrics
  pkg/controller/volume/ephemeral/controller.go
  pkg/controller/volume/ephemeral/controller_test.go
  pkg/controller/volume/ephemeral/metrics/metrics.go
  staging/src/k8s.io/component-base/metrics/counter.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/api-machinery, sig/apps, sig/cluster-lifecycle, sig/instrumentation, sig/storage, size/L, triage/accepted

#99236 Deprecate cAdvisor json metrics collected by Kubelet
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/auth.go
  pkg/kubelet/server/auth_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  pkg/kubelet/server/stats/handler.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-soon, release-note, sig/node, size/L, triage/accepted

#99615 kubectl: print info for default container annotation usage
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, size/XS, triage/accepted

#99621 hack/verify-description.sh: correctly look for versioned API types
  hack/.descriptions_failures
  hack/verify-description.sh
Labels: approved, area/code-organization, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/architecture, size/M, triage/accepted

#99345 Updating EndpointSlice controller to wait for cache to be updated
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/endpointslice_tracker.go
  pkg/controller/endpointslice/endpointslice_tracker_test.go
  pkg/controller/endpointslice/errors.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-soon, release-note, sig/apps, sig/network, size/XL, triage/accepted

#99631 test images: Adds label to httpd-new image
  test/images/httpd-new/Dockerfile
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-soon, release-note-none, sig/testing, sig/windows, size/XS

#99463 Use Lstat in plugin watcher to avoid Windows problem
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/critical-urgent, release-note-none, sig/node, sig/windows, size/XS

#99526 Fix staticcheck failures for vendor/k8s.io/apiserver/pkg/registry/generic
  hack/.staticcheck_failures
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/decorated_watcher.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/rest/streamer_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, size/M

#98589 pkg/kubelet/cri/remote: migrate to structured logs
  pkg/kubelet/cri/remote/remote_image.go
  pkg/kubelet/cri/remote/remote_runtime.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/node, size/L, triage/accepted

#98627 Migrate pkg/kubelet/metrics logs to structured logging.
  pkg/kubelet/metrics/collectors/log_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/metrics.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note, sig/instrumentation, sig/node, size/S, triage/accepted

#99610 Promote DownwardAPIHugePages to beta
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, priority/important-soon, sig/node, triage/accepted

#99473 Automated cherry pick of #95150: DNS should support configurable pod
  test/e2e/windows/dns.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/testing, sig/windows, size/XS, triage/accepted

#96882 Make parallel build memory threshold configurable
  hack/lib/golang.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XS, triage/accepted

#99492 Assign remaining test/e2e/common test to SIGs
  test/conformance/testdata/conformance.yaml
  test/e2e/common/container_probe.go
  test/e2e/common/docker_containers.go
  test/e2e/common/downwardapi.go
  test/e2e/common/expansion.go
  test/e2e/common/framework.go
  test/e2e/common/init_container.go
  test/e2e/common/kubelet.go
  test/e2e/common/kubelet_etc_hosts.go
  test/e2e/common/lease.go
  test/e2e/common/lifecycle_hook.go
  test/e2e/common/node_lease.go
  test/e2e/common/pods.go
  test/e2e/common/privileged.go
  test/e2e/common/runtime.go
  test/e2e/common/security_context.go
  test/e2e/common/sysctl.go
Labels: approved, area/conformance, area/kubeadm, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-soon, release-note-none, sig/architecture, sig/cloud-provider, sig/cluster-lifecycle, sig/network, sig/node, sig/storage, sig/testing, size/XL

#98977 update system-validators to v1.4.0
  build/dependencies.yaml
  go.mod
  go.sum
  vendor/k8s.io/system-validators/validators/docker_validator.go
  vendor/k8s.io/system-validators/validators/types_unix.go
  vendor/k8s.io/system-validators/validators/types_windows.go
  vendor/modules.txt
Labels: approved, area/dependency, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cli, sig/cluster-lifecycle, sig/node, size/S, triage/accepted

#99581 update kubectl cp flag description
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/backlog, release-note, sig/cli, size/XS, triage/accepted

#99625 Remove unused code in e2e/framework/framework.go
  test/e2e/framework/framework.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS, triage/accepted

#99674 staging/publishing: add -mod=mod for smoke tests for go1.16
  staging/publishing/rules.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/release, size/XS, triage/accepted

#99385 Metric cardinality enforcement
  staging/src/k8s.io/component-base/metrics/counter.go
  staging/src/k8s.io/component-base/metrics/counter_test.go
  staging/src/k8s.io/component-base/metrics/options.go
  staging/src/k8s.io/component-base/metrics/options_test.go
  staging/src/k8s.io/component-base/metrics/opts.go
  staging/src/k8s.io/component-base/metrics/opts_test.go
Labels: approved, area/apiserver, area/cloudprovider, area/dependency, area/kubectl, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/release, size/L, triage/accepted

#99550 fix smb mount PermissionDenied issue on Windows
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, sig/windows, size/XS, triage/accepted

#98984 kubeadm: skip validating pod subnet against node-cidr-mask when allocate-node-cidrs is set to be false
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note, sig/cluster-lifecycle, size/M, triage/accepted

#98985 delete the extra word
  pkg/proxy/topology.go
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/docs, sig/network, size/XS, triage/accepted

#98924 memory manager: specify the container cpuset.memory during the creation
  pkg/kubelet/cm/internal_container_lifecycle.go
  pkg/kubelet/cm/internal_container_lifecycle_linux.go
  pkg/kubelet/cm/memorymanager/fake_memory_manager.go
  pkg/kubelet/cm/memorymanager/memory_manager.go
  pkg/kubelet/cm/memorymanager/memory_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/node, size/L, triage/accepted

#98939 Structured Logging migration: modify dockershim and network part logs of kubelet.
  pkg/kubelet/dockershim/cm/container_manager_linux.go
  pkg/kubelet/dockershim/docker_container.go
  pkg/kubelet/dockershim/docker_image.go
  pkg/kubelet/dockershim/docker_image_linux.go
  pkg/kubelet/dockershim/docker_image_windows.go
  pkg/kubelet/dockershim/docker_legacy_service.go
  pkg/kubelet/dockershim/docker_sandbox.go
  pkg/kubelet/dockershim/docker_service.go
  pkg/kubelet/dockershim/docker_stats_windows.go
  pkg/kubelet/dockershim/docker_streaming_others.go
  pkg/kubelet/dockershim/exec.go
  pkg/kubelet/dockershim/helpers.go
  pkg/kubelet/dockershim/helpers_unsupported.go
  pkg/kubelet/dockershim/helpers_windows.go
  pkg/kubelet/dockershim/libdocker/client.go
  pkg/kubelet/dockershim/libdocker/helpers.go
  pkg/kubelet/dockershim/libdocker/kube_docker_client.go
  pkg/kubelet/dockershim/network/cni/cni.go
  pkg/kubelet/dockershim/network/hairpin/hairpin.go
  pkg/kubelet/dockershim/network/hostport/hostport.go
  pkg/kubelet/dockershim/network/hostport/hostport_manager.go
  pkg/kubelet/dockershim/network/kubenet/kubenet_linux.go
  pkg/kubelet/dockershim/network/plugins.go
  pkg/kubelet/dockershim/remote/docker_server.go
  pkg/kubelet/kubelet_dockershim.go
  pkg/kubelet/kubelet_network.go
  pkg/kubelet/kubelet_network_linux.go
  pkg/kubelet/network/dns/dns.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-action-required, sig/network, sig/node, size/L, triage/accepted

#99679 hack/tools: Update zeitgeist to v0.2.0 to drop import cycle
  build/dependencies.yaml
  hack/tools/go.mod
  hack/tools/go.sum
Labels: approved, area/code-generation, area/code-organization, area/dependency, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/release, sig/testing, size/XL, triage/accepted

#99101 stop using CRD v1beta1 in tests
  staging/src/k8s.io/apiextensions-apiserver/test/integration/apiapproval_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/apply_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/basic_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/change_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/conversion/conversion_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/conversion/webhook.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/finalization_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fixtures/resources.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fixtures/server.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/helpers.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/limit_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/listtype_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/objectmeta_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/pruning_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/registration_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/scope_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/subresources_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/table_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/versioning_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/yaml_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/apiserver/apply/apply_crd_beta_test.go
  test/integration/apiserver/apply/apply_crd_test.go
  test/integration/garbagecollector/garbage_collector_test.go
  test/utils/crd/crd_util.go
Labels: approved, area/code-generation, area/dependency, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/XXL, triage/accepted

#97881 Nit: Remove unnecessary type conversion
  pkg/controller/statefulset/stateful_set_utils.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/apps, size/XS, triage/accepted

#98210 Fix flag passing in CCM
  cmd/cloud-controller-manager/.import-restrictions
  cmd/cloud-controller-manager/README.md
  cmd/cloud-controller-manager/main.go
  cmd/cloud-controller-manager/nodeipamcontroller.go
  hack/.staticcheck_failures
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
  staging/src/k8s.io/cloud-provider/app/testing/testserver.go
  staging/src/k8s.io/cloud-provider/sample/README.md
  staging/src/k8s.io/cloud-provider/sample/advanced_main.go
  staging/src/k8s.io/cloud-provider/sample/basic_main.go
Labels: approved, area/cloudprovider, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/cloud-provider, sig/testing, size/XL, triage/accepted

#98595 sped up scheduler tests by using fake clock
  pkg/controller/nodelifecycle/scheduler/timed_workers.go
  pkg/controller/nodelifecycle/scheduler/timed_workers_test.go
  staging/src/k8s.io/apimachinery/pkg/util/clock/clock.go
  staging/src/k8s.io/apimachinery/pkg/util/clock/clock_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/apps, sig/node, size/L, triage/accepted

#98756 networking nodeipam UT: set node poll interval to 1s in UT
  pkg/controller/nodeipam/ipam/cidr_allocator.go
  pkg/controller/nodeipam/ipam/range_allocator_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/flake, lgtm, needs-priority, release-note-none, sig/network, sig/testing, size/S, triage/accepted

#98952 Kubectl command headers in requests: KEP 859
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/command_headers.go
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/command_headers_test.go
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
  staging/src/k8s.io/sample-cli-plugin/go.sum
Labels: approved, area/code-generation, area/dependency, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/cli, size/L, triage/accepted

#99288 Adds ineffassign to GO linter script.
  hack/verify-golangci-lint.sh
  pkg/apis/autoscaling/v1/conversion.go
  pkg/apis/autoscaling/v2beta1/conversion.go
  pkg/controller/replicaset/replica_set_test.go
  pkg/registry/core/service/storage/storage.go
  pkg/util/taints/taints.go
  pkg/volume/azuredd/azure_mounter.go
  test/images/agnhost/netexec/netexec.go
  test/integration/apiserver/apiserver_test.go
  test/integration/deployment/deployment_test.go
Labels: approved, area/code-organization, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/apps, sig/node, sig/scheduling, sig/storage, sig/testing, size/S, triage/accepted

#99367 cinder: Translate CSI topology affinity into in-tree labels
  staging/src/k8s.io/csi-translation-lib/plugins/in_tree_volume_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/openstack_cinder.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/storage, size/M, triage/accepted

#99444 Clarify external CSR signerName field description
  pkg/apis/certificates/types.go
Labels: api-review, approved, cncf-cla: yes, kind/api-change, kind/documentation, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/auth, size/S

#99464 Number of sockets is assumed to be same as NUMA nodes in kubelet
  pkg/kubelet/cm/cpumanager/topology/topology.go
  pkg/kubelet/cm/cpumanager/topology/topology_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/node, size/S, triage/accepted

#99555 Two small bugs in dual-stack init
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/registry/core/service/storage/rest.go
  pkg/registry/core/service/storage/rest_test.go
Labels: approved, area/apiserver, area/ipv6, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-soon, release-note, sig/apps, sig/network, size/L

#99649 Improve warnings for default-container
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/cli, size/S, triage/accepted

#99654 exec credential provider: use stdin to detect user interaction
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, sig/auth, size/XS, triage/accepted

#99659 Log detailed service information during GCE Windows node startup
  cluster/gce/windows/common.psm1
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/S, triage/accepted

#98812 Indexed job implementation
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/indexed_job_utils_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: approved, area/batch, area/kubectl, area/workload-api/job, cncf-cla: yes, kind/api-change, kind/feature, lgtm, priority/backlog, release-note, sig/apps, sig/cli, size/XL, triage/accepted

#99723 Fix issue in checking domain socket for plugin watcher
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/node, sig/storage, sig/windows, size/XS

#99655 Update go version check to 1.16+
  build/dependencies.yaml
  hack/lib/golang.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/testing, size/XS, triage/accepted

#99684 Cleanup test/e2e/common directory - part2
  test/conformance/testdata/conformance.yaml
  test/e2e/common/framework.go
  test/e2e/common/node/container.go
  test/e2e/common/node/container_probe.go
  test/e2e/common/node/docker_containers.go
  test/e2e/common/node/downwardapi.go
  test/e2e/common/node/expansion.go
  test/e2e/common/node/init_container.go
  test/e2e/common/node/kubelet.go
  test/e2e/common/node/kubelet_etc_hosts.go
  test/e2e/common/node/lease.go
  test/e2e/common/node/lifecycle_hook.go
  test/e2e/common/node/node_lease.go
  test/e2e/common/node/pods.go
  test/e2e/common/node/privileged.go
  test/e2e/common/node/runtime.go
  test/e2e/common/node/security_context.go
  test/e2e/common/node/sysctl.go
  test/e2e/common/storage/downwardapi.go
  test/e2e/common/util.go
  test/e2e_node/runtime_conformance_test.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-soon, release-note-none, sig/architecture, sig/cloud-provider, sig/node, sig/storage, sig/testing, size/L

#97507 Migrate deployment controller log messages to structured logging
  pkg/controller/deployment/deployment_controller.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note, sig/apps, size/M, triage/accepted

#98269 kubeadm: exclude control plane nodes from external LBs
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/markcontrolplane/markcontrolplane.go
  cmd/kubeadm/app/phases/markcontrolplane/markcontrolplane_test.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/M, triage/accepted

#98858 deprecate audit.k8s.io/v1[alpha|beta]1 versions
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/doc.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/generated.proto
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/doc.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/generated.proto
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/apiserver/pkg/audit/policy/reader.go
  staging/src/k8s.io/apiserver/pkg/server/options/audit.go
Labels: api-review, approved, area/apiserver, cncf-cla: yes, kind/api-change, kind/cleanup, kind/deprecation, kind/feature, lgtm, priority/backlog, release-note, sig/auth, size/M, triage/accepted

#98892 exec credential provider: add rest_client_exec_plugin_call_total metric
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/metrics.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/metrics_test.go
  staging/src/k8s.io/client-go/tools/metrics/metrics.go
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/api-machinery, sig/auth, sig/cluster-lifecycle, sig/instrumentation, size/L, triage/accepted

#99607 Migrate pkg/kubelet/stats to structured logging
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider_windows.go
  pkg/kubelet/stats/helper.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, priority/important-soon, sig/node, triage/accepted

#99657 remove csr v1beta1 usage in integration tests
  test/integration/certificates/admission_approval_test.go
  test/integration/certificates/admission_sign_test.go
  test/integration/certificates/admission_subjectrestriction_test.go
  test/integration/certificates/controller_approval_test.go
  test/integration/certificates/defaulting_test.go
  test/integration/certificates/deprecated_api_test.go
  test/integration/certificates/field_selector_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/auth, sig/testing, size/L, triage/accepted

#99660 increase discovery burst for kube-controller-manager
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/core.go
  cmd/kube-controller-manager/app/core_test.go
  staging/src/k8s.io/controller-manager/pkg/clientbuilder/client_builder.go
  staging/src/k8s.io/controller-manager/pkg/clientbuilder/client_builder_dynamic.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/cloud-provider, size/M, triage/accepted

#99666 Add dougsland and rikatz as sig-cli reviewers
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, needs-triage, release-note-none, sig/cli, size/XS

#99676 Remove useless pluginConfigs in scheduling framework testing helpers
  pkg/scheduler/testing/framework_helpers.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/S

#99687 cleanup: disable dual stack for some manifest UT
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cluster-lifecycle, size/XS, triage/accepted

#99691 [cluster/gce] Target the correct project while adding kubeconfig metadata to the master
  cluster/gce/util.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, size/XS

#99709 Make sig-storage be the owner of ubernetes_lite_volumes test
  test/e2e/storage/ubernetes_lite_volumes.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-soon, release-note-none, sig/storage, sig/testing, size/S

#99710 Remove nested SIGDescribe calls
  test/e2e/autoscaling/autoscaling_timer.go
  test/e2e/autoscaling/horizontal_pod_autoscaling.go
  test/e2e/node/kubelet.go
  test/e2e/node/kubelet_perf.go
  test/e2e/storage/vsphere/pv_reclaimpolicy.go
  test/e2e/storage/vsphere/pvc_label_selector.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-soon, release-note-none, sig/autoscaling, sig/node, sig/storage, sig/testing, size/S

#99719 Promote Cinder topology labels to GA
  pkg/volume/cinder/cinder_test.go
  pkg/volume/cinder/cinder_util.go
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_volumes.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-action-required, sig/cloud-provider, sig/storage, size/S

#99738 Enforce metric cardinality check to Gauge, Histogram and Summary metric
  staging/src/k8s.io/component-base/metrics/counter_test.go
  staging/src/k8s.io/component-base/metrics/gauge.go
  staging/src/k8s.io/component-base/metrics/gauge_test.go
  staging/src/k8s.io/component-base/metrics/histogram.go
  staging/src/k8s.io/component-base/metrics/histogram_test.go
  staging/src/k8s.io/component-base/metrics/opts.go
  staging/src/k8s.io/component-base/metrics/summary.go
  staging/src/k8s.io/component-base/metrics/summary_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/L

#99514 hpa: Don't scale down if at least one metric was invalid
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/horizontal_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/regression, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/apps, sig/autoscaling, size/M

#99632 volume binder: storage capacity enablement
  pkg/controller/volume/scheduling/scheduler_binder_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/storage, size/M

#99700 Remove KubeDescribe
  test/conformance/walk_test.go
  test/e2e/framework/framework.go
  test/list/main.go
  test/list/main_test.go
Labels: approved, area/conformance, area/e2e-test-framework, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-longterm, release-note-none, sig/architecture, sig/node, sig/storage, sig/testing, size/M

#99724 Fix hack/update-vendor.sh to not warn on xargs
  hack/update-vendor.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/architecture, sig/testing, size/M, triage/accepted

#99741 Update client-go install instructions
  staging/src/k8s.io/client-go/INSTALL.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/api-machinery, size/L, triage/accepted

#99746 Graduate EndpointSliceNodeName feature gate to GA
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils_test.go
  pkg/controller/endpointslicemirroring/utils_test.go
  pkg/features/kube_features.go
  pkg/registry/discovery/endpointslice/strategy_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/apps, sig/network, size/L, triage/accepted

#97743 Support M1 MacBooks darwin/arm64 on the client-side
  hack/lib/golang.sh
  test/typecheck/main.go
Labels: approved, area/release-eng, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/release, sig/testing, size/M, triage/accepted

#98241 Store a cluster event to plugin map in SchedulerQueue
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/factory.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/events.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, sig/testing, size/XL

#99617 Fix MakeRegexpArray handling empty strings
  staging/src/k8s.io/kubectl/pkg/proxy/proxy_server.go
  staging/src/k8s.io/kubectl/pkg/proxy/proxy_server_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/cli, size/S, triage/accepted

#99736 clean usage of admissionregistration/v1beta1 from integration tests
  cmd/kube-apiserver/app/testing/testserver.go
  test/integration/apiserver/admissionwebhook/admission_test.go
  test/integration/apiserver/admissionwebhook/broken_webhook_test.go
  test/integration/apiserver/admissionwebhook/client_auth_test.go
  test/integration/apiserver/admissionwebhook/load_balance_test.go
  test/integration/apiserver/admissionwebhook/reinvocation_test.go
  test/integration/apiserver/admissionwebhook/timeout_test.go
  test/integration/apiserver/print_test.go
  test/integration/examples/apiserver_test.go
  test/integration/examples/webhook_test.go
  test/integration/master/audit_test.go
  test/integration/storageversion/storage_version_filter_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/testing, size/L

#99614 modify the TestController2_updateCronJob test method description
  pkg/controller/cronjob/cronjob_controllerv2_test.go
Labels: approved, area/workload-api/cronjob, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/apps, size/XS

#98194 Cache the OpenAPI schema for kubectl server-side dry run
  staging/src/k8s.io/cli-runtime/pkg/resource/dry_run_verifier.go
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_set_last_applied.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/autoscale/autoscale.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrolebinding.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_cronjob.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_deployment.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_priorityclass.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_quota.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_role.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_rolebinding.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_service.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_serviceaccount.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label.go
  staging/src/k8s.io/kubectl/pkg/cmd/patch/patch.go
  staging/src/k8s.io/kubectl/pkg/cmd/replace/replace.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_undo.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
  staging/src/k8s.io/kubectl/pkg/cmd/scale/scale.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_image.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_resources.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_selector.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_serviceaccount.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_subject.go
  staging/src/k8s.io/kubectl/pkg/cmd/taint/taint.go
  staging/src/k8s.io/kubectl/pkg/cmd/testing/fake.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/factory.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/factory_client_access.go
  staging/src/k8s.io/kubectl/pkg/util/openapi/openapi_getter.go
  staging/src/k8s.io/kubectl/pkg/util/openapi/openapi_getter_test.go
Labels: approved, area/apiserver, area/cloudprovider, area/code-generation, area/dependency, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/node, sig/testing, size/L, triage/accepted, wg/api-expression

#98250 Add warning if client/server version difference exceeds the supported skew
  staging/src/k8s.io/kubectl/pkg/cmd/version/skew_warning.go
  staging/src/k8s.io/kubectl/pkg/cmd/version/skew_warning_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/version/version.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/cli, size/L, triage/accepted

#98446 Implements NamespaceSelector for pod affinity
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/plugins/feature/feature.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/plugin.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring_test.go
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/framework/plugins/testing/testing.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/internal/queue/testing.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/util/topologies.go
  pkg/scheduler/util/topologies_test.go
  pkg/scheduler/util/utils.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/scheduling, size/XXL, triage/accepted

#99633 remove duplicate kubectl logs
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/cli, size/XS, triage/accepted

#99755 fix RemoveStatusCondition() cap out of range
  staging/src/k8s.io/apimachinery/pkg/api/meta/conditions.go
  staging/src/k8s.io/apimachinery/pkg/api/meta/conditions_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, size/XS

#99344 Fix staging/src/k8s.io/apiserver/pkg/server/filters flake test timeout
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, release-note-none, sig/api-machinery, size/M, triage/accepted

#99439 Fix typo in util.go
  test/integration/scheduler_perf/util.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS, triage/accepted

#99446 Generic ephemeral volume enablement
  pkg/api/pod/util.go
  pkg/controller/volume/scheduling/scheduler_binder.go
  pkg/controller/volume/scheduling/scheduler_binder_test.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/registry/core/pod/strategy_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, priority/important-soon, release-note, sig/apps, sig/node, sig/storage, size/L, triage/accepted

#99471 kubeadm: set the kubelet cgroup driver to "systemd" during "init"
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/upgrade/plan.go
  cmd/kubeadm/app/componentconfigs/fakeconfig_test.go
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/componentconfigs/kubeproxy.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-action-required, sig/cluster-lifecycle, size/M, triage/accepted

#99584 e2e node: fix hugepages test flakiness
  test/e2e_node/hugepages_test.go
  test/e2e_node/util.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/M, triage/accepted

#99626 PVC protection controller: clarify pod shutdown
  pkg/controller/volume/pvcprotection/pvc_protection_controller.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/storage, size/S

#99750 Incrementing EndpointSlice generation when labels change
  pkg/registry/discovery/endpointslice/strategy.go
  pkg/registry/discovery/endpointslice/strategy_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/network, size/M, triage/accepted

#98774 Optimize and parallelize LoadBalancer Host update
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, sig/network, size/L

#95661 Add unit tests for kubelet cadvisor_linux
  pkg/kubelet/cadvisor/cadvisor_linux_test.go
Labels: approved, area/kubelet, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/M, triage/accepted

#97000 Avoid logging headers from kubelet configuration
  cmd/kubelet/app/server.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/node, sig/security, size/XS, triage/accepted

#98128 Avoid sending events for every non-conformant pod in disruption controller
  pkg/controller/disruption/disruption.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note, sig/apps, size/XS, triage/accepted

#98968 Switch add-on manager to use lease for leader election
  cluster/addons/addon-manager/CHANGELOG.md
  cluster/addons/addon-manager/Makefile
  cluster/addons/addon-manager/kube-addons.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-soon, release-note, sig/cloud-provider, size/M

#98993 kubelet: migrate pkg/kubelet/certificate to structured logging
  pkg/kubelet/certificate/bootstrap/bootstrap.go
  pkg/kubelet/certificate/transport.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-action-required, sig/auth, sig/node, size/M, triage/accepted

#99032 Structured Logging migration: modify eviction part logs of kubelet.
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/helpers.go
  pkg/kubelet/eviction/memory_threshold_notifier.go
  pkg/kubelet/eviction/threshold_notifier_linux.go
  pkg/kubelet/eviction/threshold_notifier_unsupported.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note, sig/node, size/M, triage/accepted

#99411 Surface more information about plugin scores in scheduler
  pkg/scheduler/core/generic_scheduler.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/scheduling, size/M

#99665 Clean up OWNERS for pkg/probe
  pkg/probe/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, size/S, triage/accepted

#99756 Updating EndpointSliceMirroring controller to wait for cache to be updated
  pkg/controller/endpointslicemirroring/endpointslice_tracker.go
  pkg/controller/endpointslicemirroring/endpointslice_tracker_test.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  pkg/controller/endpointslicemirroring/errors.go
  pkg/controller/endpointslicemirroring/reconciler.go
  pkg/controller/endpointslicemirroring/utils_test.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-soon, release-note, sig/apps, sig/network, size/XL, triage/accepted

#99792 add myself to owners for etcd metrics
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/OWNERS
  test/integration/metrics/OWNERS
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/api-machinery, sig/testing, size/S, triage/accepted

#99793 Repair quotes for some Windows log messages
  cluster/gce/windows/k8s-node-setup.psm1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cloud-provider, size/XS, triage/accepted

#99794 Graduating WindowsEndpointSliceProxying feature gate to beta
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/network, size/XS, triage/accepted

#99795 Increasing maximum number of ports allowed in EndpointSlice
  pkg/apis/discovery/validation/validation.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/important-soon, release-note, sig/network, size/XS, triage/accepted

#99796 Remove EndpointSliceNodeName feature gate logic
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslicemirroring/utils.go
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/proxy/endpointslicecache.go
  pkg/registry/discovery/endpointslice/strategy.go
Labels: approved, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/api-machinery, sig/apps, sig/network, size/M, triage/accepted

#99798 Mark ingress neg test as flaky
  test/e2e/network/ingress.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/network, sig/testing, size/XS

#99166 Automated cherry pick of #98555: Storage e2e: Remove pd csi driver installation in GKE
  test/e2e/storage/drivers/csi.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/storage, sig/testing, size/S, triage/accepted

#98018 Write Service Status Life Cycle test - +4 endpoint coverage
  test/e2e/network/service.go
Labels: approved, area/conformance, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/architecture, sig/network, sig/testing, size/L, triage/accepted

#98365 Fix cgroup handling for systemd with cgroup v2
  pkg/kubelet/cm/cgroup_manager_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/node, size/XS, triage/accepted

#98806 Remove extensions v1beta1 from addon manager and kubectl prune
  cluster/addons/addon-manager/kube-addons.sh
  staging/src/k8s.io/kubectl/pkg/cmd/apply/prune.go
Labels: approved, area/kubectl, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-soon, release-note-none, sig/cli, sig/cloud-provider, sig/network, size/XS

#99523 Scheduler: remove outdated TODO in node_affinity.go
  pkg/scheduler/framework/plugins/helper/node_affinity.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/backlog, release-note-none, sig/scheduling, size/XS

#99646 [kubeadm]: Remove the deprecated kube-dns as an option in kubeadm
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/cmd/config_test.go
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/cmd/upgrade/plan.go
  cmd/kubeadm/app/cmd/upgrade/plan_test.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/constants/constants_test.go
  cmd/kubeadm/app/images/images.go
  cmd/kubeadm/app/images/images_test.go
  cmd/kubeadm/app/phases/addons/dns/dns.go
  cmd/kubeadm/app/phases/addons/dns/dns_test.go
  cmd/kubeadm/app/phases/addons/dns/manifests.go
  cmd/kubeadm/app/phases/upgrade/compute_test.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/upgrade/preflight.go
  cmd/kubeadm/app/util/apiclient/init_dryrun.go
  go.mod
  vendor/modules.txt
Labels: approved, area/dependency, area/kubeadm, cncf-cla: yes, kind/cleanup, kind/deprecation, lgtm, priority/important-soon, release-note, sig/cluster-lifecycle, size/XXL, triage/accepted

#99737 Integration and e2e tests for Indexed job
  test/e2e/apps/job.go
  test/integration/job/job_test.go
Labels: approved, area/test, cncf-cla: yes, kind/feature, lgtm, priority/backlog, release-note-none, sig/apps, sig/testing, size/L, triage/accepted

#99789 Test for removal of invalid and repeated indexes
  pkg/controller/job/job_controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/apps, size/S, triage/accepted

#97979 Make podIPs order match node IP family preference
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/network, sig/node, size/L, triage/accepted

#99805 Fixes to node shutdown e2e test
  test/e2e_node/node_shutdown_linux_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note-none, sig/node, sig/testing, size/M, triage/accepted

#99168 Automated cherry pick of #98555: Storage e2e: Remove pd csi driver installation in GKE
  test/e2e/storage/drivers/csi.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note-none, sig/storage, sig/testing, size/S, triage/accepted

#97037 Calico: set IP=autodetect so preempted nodes learn new IP
  cluster/addons/calico-policy-controller/calico-node-daemonset.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#98986 kubelet: Make the test fail if (*FakeRuntime).Assert fails
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/images/image_manager_test.go
  pkg/kubelet/kubelet_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, kind/failing-test, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/node, size/L, triage/accepted

#99293 Remove unused field in test/e2e/kubectl/kubectl.go
  test/e2e/kubectl/kubectl.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/cli, sig/testing, size/XS, triage/accepted

#99797 Fix the image path of resource-consumer in README.
  test/images/resource-consumer/README.md
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/testing, size/XS, triage/accepted

#99810 disable colors in zeitgeist so as not to break shell2junit
  hack/verify-external-dependencies-version.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-soon, release-note-none, sig/testing, size/XS

#99816 banish .shellcheck_failures
  hack/.shellcheck_failures
  hack/verify-shellcheck.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/testing, size/L, triage/accepted

#98749 fix kubectl patch command error message
  staging/src/k8s.io/cli-runtime/pkg/resource/builder.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/cli, size/S, triage/accepted

#99456 Update Staging's README.md
  staging/README.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/docs, size/XS

#99703 tests: Uses newly promoted httpd and nginx images
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, priority/important-soon, release-note-none, sig/testing, sig/windows, size/S
