Repository kubernetes/kubernetes, pull requests merged in 2021-11, with the labels that each got.

#105253 fix: leave the probe path empty for TCP probes
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, area/cloudprovider, release-note, size/S, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#105777 fix: do not delete the lb that does not exist
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, area/cloudprovider, release-note, size/S, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#105839 fix: remove VMSS and VMSS instances from SLB backend pool only when necessary
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/mockvmsets/azure_mock_vmsets.go
Labels: kind/bug, priority/critical-urgent, lgtm, area/cloudprovider, release-note, size/L, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#105920 return value is taken from if statement instead of the function call
  cluster/gce/gci/configure.sh
Labels: kind/bug, priority/important-soon, lgtm, area/provider/gcp, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#102637 fix potential deadlock
  cluster/images/etcd/migrate/migrate_server.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, needs-ok-to-test, lifecycle/stale, needs-priority, triage/accepted

#105930 P&F: Update and cleanup mutating work estimator
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/fifo_list_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/types.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/mutating_work_estimator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/seat_seconds.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/seat_seconds_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width_test.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, triage/accepted

#105908 [PodSecurity] Add annotations denoting the exemption reason and the enforcement policy used
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  staging/src/k8s.io/pod-security-admission/admission/admission_test.go
  staging/src/k8s.io/pod-security-admission/api/constants.go
Labels: lgtm, release-note, size/M, kind/feature, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#105946 Remove nodes with Cluster Autoscaler taint from LB backends in service controller
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, area/cloudprovider, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, kind/regression, triage/accepted

#105974 P&F: Enable support for indexes in watch tracker
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/watch_tracker.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/watch_tracker_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#105898 [PodSecurity] Metrics improvements
  plugin/pkg/admission/security/podsecurity/admission.go
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  staging/src/k8s.io/pod-security-admission/admission/admission_test.go
  staging/src/k8s.io/pod-security-admission/api/attributes.go
  staging/src/k8s.io/pod-security-admission/api/helpers.go
  staging/src/k8s.io/pod-security-admission/api/interfaces.go
  staging/src/k8s.io/pod-security-admission/cmd/webhook/server/server.go
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/metrics/metrics.go
  staging/src/k8s.io/pod-security-admission/metrics/metrics_test.go
  test/integration/auth/podsecurity_test.go
Labels: kind/bug, area/test, lgtm, release-note, size/XL, sig/auth, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, area/dependency, needs-triage

#104909 kubectl: include init containers when determining pod QoS
  pkg/apis/core/helper/qos/qos.go
  staging/src/k8s.io/kubectl/pkg/util/qos/qos.go
Labels: kind/bug, area/kubectl, lgtm, size/S, release-note-none, sig/apps, approved, sig/cli, cncf-cla: yes, needs-priority, triage/accepted

#105653 apiextentionserver: refactor returning 503 for custom resource requests during server start
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#106087 PodSecurity: benchmark large numbers of owned pods
  plugin/pkg/admission/security/podsecurity/admission_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, size/M, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#106001 Changed code to improve output for files under test/e2e/kubectl
  test/e2e/kubectl/kubectl.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#106002 refactor scheudler's node resource plugins
  pkg/scheduler/apis/config/register.go
  pkg/scheduler/apis/config/types_pluginargs.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
  pkg/scheduler/apis/config/validation/validation_pluginargs_test.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/framework/plugins/names/names.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio_test.go
  pkg/scheduler/framework/plugins/noderesources/test_util.go
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/testing/wrappers.go
  test/e2e/framework/.import-restrictions
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/XXL, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, triage/accepted

#106095 reuse previous evaluation
  staging/src/k8s.io/pod-security-admission/admission/admission.go
Labels: priority/important-soon, kind/cleanup, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#105510 Wire contexts to Bootstrap controllers
  cmd/kube-controller-manager/app/bootstrap.go
  pkg/controller/bootstrap/bootstrapsigner.go
  pkg/controller/bootstrap/bootstrapsigner_test.go
  pkg/controller/bootstrap/tokencleaner.go
  pkg/controller/bootstrap/tokencleaner_test.go
Labels: priority/backlog, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, triage/accepted

#105913 add condition pre-check for pod uid and pod resource version in bind api
  pkg/registry/core/pod/storage/storage.go
  pkg/registry/core/pod/storage/storage_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#105915 sched: ensure feature gate is honored when instantiating scheduler
  cmd/kube-scheduler/app/options/deprecated.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server.go
  cmd/kube-scheduler/app/server_test.go
  cmd/kube-scheduler/app/testing/testserver.go
Labels: priority/critical-urgent, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, kind/regression, needs-triage

#106097 Update pods validation based on uniqueness of controller
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  staging/src/k8s.io/pod-security-admission/admission/admission_test.go
Labels: priority/important-soon, lgtm, size/L, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#106100 removed unused test/e2e_kubeadm/runner/local/run_local.go
  build/root/Makefile
  hack/make-rules/test-e2e-kubeadm.sh
  test/e2e_kubeadm/runner/local/run_local.go
Labels: area/test, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#102882 devicemanager: checkpoint: support pre-1.20 data
  pkg/kubelet/cm/devicemanager/checkpoint/checkpoint.go
  pkg/kubelet/cm/devicemanager/checkpoint/checkpointv1.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_test.go
  test/e2e_node/device_manager_test.go
  test/e2e_node/topology_manager_test.go
  test/e2e_node/util.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/XL, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#101004 code cleanup for kubectl
  staging/src/k8s.io/kubectl/pkg/cmd/autoscale/autoscale.go
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/certificates.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_test.go
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#105575 Allow the e2e_node runner to receive a KubeletConfiguration rather than requiring flags
  hack/make-rules/test-e2e-node.sh
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/jenkins/default-kubelet-config.yaml
  test/e2e_node/remote/remote.go
  test/e2e_node/runner/local/run_local.go
  test/e2e_node/runner/remote/run_remote.go
  test/e2e_node/services/kubelet.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#106017 [PodSecurity] Expand unit test coverage and fix error cases
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  staging/src/k8s.io/pod-security-admission/admission/admission_test.go
  staging/src/k8s.io/pod-security-admission/admission/main_test.go
  staging/src/k8s.io/pod-security-admission/admission/response.go
  staging/src/k8s.io/pod-security-admission/api/helpers.go
  staging/src/k8s.io/pod-security-admission/test/fixtures.go
  staging/src/k8s.io/pod-security-admission/test/fixtures_test.go
  staging/src/k8s.io/pod-security-admission/test/run.go
Labels: kind/bug, lgtm, release-note, size/XL, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#106099 cleanup lingering bazel related scripts/references
  hack/make-rules/clean.sh
  hack/make-rules/test.sh
  hack/make-rules/update.sh
  hack/update-bazel.sh
  hack/verify-bazel.sh
Labels: kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/release, triage/accepted

#105508 tests: Use E2E framework deployments
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/crd_conversion_webhook.go
  test/e2e/apimachinery/garbage_collector.go
  test/e2e/apimachinery/webhook.go
  test/e2e/apps/deployment.go
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/instrumentation/monitoring/custom_metrics_deployments.go
  test/e2e/network/networking_perf.go
  test/e2e/network/scale/ingress.go
Labels: area/test, sig/network, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, area/e2e-test-framework, triage/accepted

#105858 Migrated scheduler files binder.go binder_test.go to structured logging
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  pkg/scheduler/framework/plugins/volumebinding/binder_test.go
Labels: priority/important-soon, kind/cleanup, sig/scheduling, lgtm, area/logging, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-triage, wg/structured-logging

#106065 update etcd makefile to using 3.5.1 for building
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#104903 Remove StorageObjectInUseProtection feature gate logic
  cmd/kube-controller-manager/app/core.go
  pkg/controller/volume/persistentvolume/index_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/util/util.go
  pkg/controller/volume/pvcprotection/pvc_protection_controller.go
  pkg/controller/volume/pvcprotection/pvc_protection_controller_test.go
  pkg/controller/volume/pvprotection/pv_protection_controller.go
  pkg/controller/volume/pvprotection/pv_protection_controller_test.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  plugin/pkg/admission/storage/storageobjectinuseprotection/admission.go
  plugin/pkg/admission/storage/storageobjectinuseprotection/admission_test.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, sig/api-machinery, size/L, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#106089 PodSecurity: promote config and feature gate to beta
  pkg/features/kube_features.go
  staging/src/k8s.io/pod-security-admission/admission/api/load/load.go
  staging/src/k8s.io/pod-security-admission/admission/api/load/load_test.go
  staging/src/k8s.io/pod-security-admission/admission/api/scheme/scheme.go
  staging/src/k8s.io/pod-security-admission/admission/api/v1beta1/defaults.go
  staging/src/k8s.io/pod-security-admission/admission/api/v1beta1/defaults_test.go
  staging/src/k8s.io/pod-security-admission/admission/api/v1beta1/doc.go
  staging/src/k8s.io/pod-security-admission/admission/api/v1beta1/register.go
  staging/src/k8s.io/pod-security-admission/admission/api/v1beta1/types.go
  staging/src/k8s.io/pod-security-admission/admission/api/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/pod-security-admission/admission/api/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/pod-security-admission/admission/api/v1beta1/zz_generated.defaults.go
  test/integration/auth/podsecurity_test.go
  vendor/modules.txt
Labels: area/test, priority/important-soon, lgtm, release-note, size/L, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#105302 fix multiple typos in go files
  pkg/registry/apps/deployment/strategy_test.go
  pkg/registry/core/pod/strategy_test.go
  pkg/util/bandwidth/utils.go
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#104470 Remove GAed feature gate CronJobControllerV2
  cmd/kube-controller-manager/app/batch.go
  pkg/features/kube_features.go
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#105939 Changed code to improve output for files under test/e2e/framework
  test/e2e/framework/providers/kubemark/kubemark.go
  test/e2e/framework/util.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, triage/accepted

#106120 Fix ephemeral test description
  test/e2e/storage/testsuites/ephemeral.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#106118 PodSecurity: trim path when building webhook binary
  staging/src/k8s.io/pod-security-admission/webhook/Makefile
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#106121 P&F fix watch tracker bug
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/watch_tracker.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/watch_tracker_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-triage

#105201 HostProcess e2e tests to validate command / workingDir parameters
  test/e2e/windows/host_process.go
Labels: area/test, kind/cleanup, lgtm, size/L, kind/feature, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#105819 Add more info to the ListAndWatch trace
  staging/src/k8s.io/client-go/tools/cache/reflector.go
Labels: sig/scalability, lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#106105 Add unit tests to cover scheduler's setup
  cmd/kube-scheduler/app/server_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#105997 Fixing how EndpointSlice Mirroring handles Service selector transitions
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  test/integration/endpointslice/endpointslicemirroring_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#104372 Fix `kubectl unlabel` response msg
  staging/src/k8s.io/kubectl/pkg/cmd/label/label.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#106106 PodSecurity: update webhook manifest for beta
  staging/src/k8s.io/pod-security-admission/webhook/manifests/10-namespace.yaml
  staging/src/k8s.io/pod-security-admission/webhook/manifests/20-configmap.yaml
  staging/src/k8s.io/pod-security-admission/webhook/manifests/50-deployment.yaml
  staging/src/k8s.io/pod-security-admission/webhook/manifests/60-service.yaml
Labels: priority/important-soon, lgtm, size/S, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#105983 Upgrade sigs.k8s.io/structured-merge-diff/v4 to v4.2.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  test/integration/client/client_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/merge.go
Labels: area/test, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/api-machinery, sig/cluster-lifecycle, release-note, size/S, kind/feature, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#106034 Create e2e delete service collection test - +1 endpoint
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, area/conformance, needs-priority, triage/accepted

#106091 [kube-up]: Bump coredns to 1.8.6
  build/dependencies.yaml
  cluster/addons/dns/coredns/coredns.yaml.base
  cluster/addons/dns/coredns/coredns.yaml.in
  cluster/addons/dns/coredns/coredns.yaml.sed
  cluster/gce/upgrade.sh
Labels: kind/bug, lgtm, area/provider/gcp, release-note, size/M, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#94986 drop managed fields from audit entries
  staging/src/k8s.io/apiserver/pkg/apis/audit/types.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/generated.pb.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/generated.proto
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/generated.pb.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/generated.proto
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/generated.pb.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/generated.proto
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/audit/evaluator.go
  staging/src/k8s.io/apiserver/pkg/audit/policy/checker.go
  staging/src/k8s.io/apiserver/pkg/audit/policy/checker_test.go
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/audit/request_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go
Labels: kind/bug, area/test, area/apiserver, lgtm, area/provider/gcp, sig/api-machinery, release-note, size/L, kind/api-change, sig/auth, approved, cncf-cla: yes, sig/testing, needs-ok-to-test, area/audit, sig/cloud-provider, needs-priority, triage/accepted

#105996 Adding e2e tests to validate volume mounts in HostProcessContainers on Windows
  test/e2e/windows/host_process.go
Labels: area/test, priority/important-soon, lgtm, sig/storage, size/L, kind/feature, release-note-none, approved, sig/windows, cncf-cla: yes, sig/instrumentation, sig/testing, needs-triage

#106020 Replace ioutil with io and os for hack
  hack/conformance/check_conformance_test_requirements.go
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-triage

#106108 Fixes for graceful node shutdown test
  test/e2e_node/node_shutdown_linux_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#106018 Replace ioutil with io and os for cluster/gce/gci
  cluster/gce/gci/apiserver_kms_test.go
  cluster/gce/gci/append_or_replace_prefixed_line_test.go
  cluster/gce/gci/audit_policy_test.go
  cluster/gce/gci/configure_helper_test.go
Labels: priority/backlog, kind/cleanup, lgtm, area/provider/gcp, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-triage

#106146 component-base: use stderr as default output stream for JSON
  staging/src/k8s.io/component-base/logs/example/cmd/logger.go
  staging/src/k8s.io/component-base/logs/json/json.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/XS, release-note-action-required, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-triage, wg/structured-logging

#106112 Automated cherry pick of #105734: Fix race condition in logging when request times out
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#106113 Automated cherry pick of #105734: Fix race condition in logging when request times out
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#106124 Automated cherry pick of #105734: Fix race condition in logging when request times out
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#105827 Automated cherry pick of #105511: Free APF seats for watches handled by an aggregated
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_context.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#105648 GET should be transformed to watch in kube-Apiserver
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted

#105788 Cherry pick of #104551: Run storage hostpath e2e test client pod as privileged
  test/e2e/framework/volume/fixtures.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, area/e2e-test-framework, triage/accepted

#105787 Cherry pick of #104551: Run storage hostpath e2e test client pod as privileged
  test/e2e/framework/volume/fixtures.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, area/e2e-test-framework, triage/accepted

#105786 Cherry pick of #104551: Run storage hostpath e2e test client pod as privileged
  test/e2e/framework/volume/fixtures.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, area/e2e-test-framework, triage/accepted

#105941 Make some scheduler metrics stable
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/metrics/profile_metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/testing, ok-to-test, needs-priority, triage/accepted

#106042 kubeadm: aggregate all the errors when the shared certs are validated
  cmd/kubeadm/app/cmd/phases/join/preflight.go
  cmd/kubeadm/app/phases/certs/certs.go
  cmd/kubeadm/app/phases/certs/certs_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#105541 component-base: avoid accumulating default labels
  staging/src/k8s.io/component-base/OWNERS
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/architecture, triage/accepted

#106090 component-base: move v/vmodule/log-flush-frequency into LoggingConfiguration
  cmd/kube-apiserver/app/options/validation.go
  cmd/kube-apiserver/app/server.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/server.go
  cmd/kubelet/app/options/globalflags.go
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/v1beta1/defaults_test.go
  staging/src/k8s.io/component-base/cli/globalflag/globalflags.go
  staging/src/k8s.io/component-base/config/types.go
  staging/src/k8s.io/component-base/config/types_test.go
  staging/src/k8s.io/component-base/config/v1alpha1/defaults.go
  staging/src/k8s.io/component-base/config/v1alpha1/types.go
  staging/src/k8s.io/component-base/config/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/component-base/config/v1alpha1/zz_generated.deepcopy.go
  staging/src/k8s.io/component-base/config/zz_generated.deepcopy.go
  staging/src/k8s.io/component-base/logs/config.go
  staging/src/k8s.io/component-base/logs/example/cmd/logger.go
  staging/src/k8s.io/component-base/logs/json/register/register_test.go
  staging/src/k8s.io/component-base/logs/logs.go
  staging/src/k8s.io/component-base/logs/options.go
  staging/src/k8s.io/component-base/logs/options_test.go
  staging/src/k8s.io/component-base/logs/validate.go
  staging/src/k8s.io/component-base/logs/validate_test.go
Labels: priority/important-soon, area/kubelet, sig/scheduling, area/apiserver, lgtm, sig/node, sig/api-machinery, sig/cluster-lifecycle, release-note, size/XL, kind/api-change, kind/feature, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, api-review, triage/accepted, wg/structured-logging

#106140 component-base: npe when renew hiddenCollectors
  staging/src/k8s.io/component-base/metrics/registry.go
Labels: kind/bug, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, ok-to-test, needs-priority, triage/accepted

#105960 test: Assert max unavailable for PDB test cases
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_pdb_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#106038 Changed code to improve output for files under test/e2e/node
  test/e2e/node/node_problem_detector.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#105990 Automated cherry pick of #105755: Support cgroupv2 in node problem detector test
  test/e2e/node/node_problem_detector.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#104481 e2e_node: Properly check for DynamicKubeletConfig
  test/e2e_node/util.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#104153 e2e node: provide static kubelet config
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/device_manager_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/dynamic_kubelet_config_test.go
  test/e2e_node/kubeletconfig/kubeletconfig.go
  test/e2e_node/memory_manager_test.go
  test/e2e_node/node_container_manager_test.go
  test/e2e_node/node_perf_test.go
  test/e2e_node/podresources_test.go
  test/e2e_node/topology_manager_test.go
  test/e2e_node/util.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XXL, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, triage/accepted

#105949 Initial Topology Hints e2e Tests
  test/e2e/network/topology_hints.go
Labels: area/test, priority/important-soon, sig/network, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#105991 Automated cherry pick of #105755: Support cgroupv2 in node problem detector test
  test/e2e/node/node_problem_detector.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#106126 Remove old cronjob controller
  pkg/controller/cronjob/cronjob_controller.go
  pkg/controller/cronjob/cronjob_controller_test.go
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/cronjob_controllerv2_test.go
  pkg/controller/cronjob/injection.go
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
Labels: kind/cleanup, lgtm, release-note, size/XXL, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#106136 Automated cherry pick of #105997: Fixing how EndpointSlice Mirroring handles Service selector
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  test/integration/endpointslice/endpointslicemirroring_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#105693 Automated cherry pick of #105673: support more than 100 disk mounts on Windows
  staging/src/k8s.io/mount-utils/mount_helper_windows.go
  staging/src/k8s.io/mount-utils/mount_helper_windows_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#106132 Automated cherry pick of #105997: Fixing how EndpointSlice Mirroring handles Service selector
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  test/integration/endpointslice/endpointslicemirroring_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#106150 kubemark: replace deprecated --log-file parameter with runner
  cluster/images/kubemark/Dockerfile
  hack/lib/golang.sh
  test/kubemark/resources/hollow-node_template.yaml
Labels: area/test, kind/cleanup, sig/scalability, lgtm, release-note, size/S, area/release-eng, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#105140 Add --override-type flag to kubectl run and kubectl expose
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose.go
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/override_options.go
Labels: priority/backlog, area/kubectl, lgtm, release-note, size/XL, kind/feature, approved, sig/cli, cncf-cla: yes, triage/accepted

#105692 Automated cherry pick of #105673: support more than 100 disk mounts on Windows
  staging/src/k8s.io/mount-utils/mount_helper_windows.go
  staging/src/k8s.io/mount-utils/mount_helper_windows_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#106135 Automated cherry pick of #105997: Fixing how EndpointSlice Mirroring handles Service selector
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  test/integration/endpointslice/endpointslicemirroring_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#104049 fix: 81134: fix unsafe json for ReleaseControllerRevision
  pkg/controller/controller_ref_manager.go
  pkg/controller/controller_ref_manager_test.go
  pkg/controller/garbagecollector/garbagecollector.go
  pkg/controller/garbagecollector/garbagecollector_test.go
  pkg/controller/garbagecollector/patch.go
  pkg/controller/history/controller_history.go
  pkg/controller/history/controller_history_test.go
Labels: kind/bug, priority/backlog, lgtm, sig/api-machinery, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#106177 client-go token source transport implement RoundTripperWrapper interface
  staging/src/k8s.io/client-go/transport/round_trippers.go
  staging/src/k8s.io/client-go/transport/token_source.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#102917 Use "Capacity" instead of "Allocatable" for an accurate node memory total size
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_node.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/S, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#106030 misc iptables proxy fixes
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, release-note, size/XXL, approved, cncf-cla: yes, needs-triage

#105421 Fix bug where using kubectl patch with $deleteFromPrimitiveList on an empty or nonexistent list adds the item to be removed
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch.go
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, needs-priority, triage/accepted

#105934 Don't guess SELinux support on error
  pkg/volume/csi/csi_mounter.go
  pkg/volume/util/hostutil/fake_hostutil.go
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/hostutil/hostutil_linux_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#105251 Update corefile-migration to v1.0.14 and update coredns to 1.8.6
  build/dependencies.yaml
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/images/images_test.go
  go.mod
  go.sum
  vendor/github.com/coredns/corefile-migration/migration/versions.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, area/dependency, triage/accepted

#106189 Update to latest kubedns and nodelocaldns images.
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#106158 kube-proxy iptables code clarity cleanups
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
Labels: sig/network, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#106102 Ensure deletion of pods in queues and cache
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, needs-priority, needs-triage

#106209 [go1.17] Update to go1.17.3
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  cluster/images/etcd/Makefile
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, area/security, lgtm, area/provider/gcp, sig/api-machinery, release-note, size/L, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#106213 Bump konnectivity to v0.0.25
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
Labels: area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, sig/api-machinery, size/S, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#106148 Update debian, debian-iptables images to pick up CVEs fixes
  build/common.sh
  build/dependencies.yaml
  build/workspace.bzl
  cluster/images/etcd/Makefile
  test/utils/image/manifest.go
Labels: area/test, area/security, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage

#106096 Automated cherry pick of #105946: Remove nodes with Cluster Autoscaler taint from LB backends.
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, area/cloudprovider, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#103095 Kubelet: implement support for podAndContainerStatsFromCRI
  pkg/features/kube_features.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  pkg/kubelet/stats/provider.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, triage/accepted

#106061 Automated cherry pick of #105946: Remove nodes with Cluster Autoscaler taint from LB backends.
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, area/cloudprovider, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#106143 Update debian, debian-iptables, setcap images to pick up CVEs fixes
  build/common.sh
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  test/utils/image/manifest.go
Labels: area/test, area/security, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage

#105138 Automated cherry pick of #105122: added keys for structured logging
  pkg/controller/volume/pvcprotection/pvc_protection_controller.go
Labels: kind/bug, lgtm, area/logging, size/XS, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage, wg/structured-logging

#106217 staging/publishing: fix go version for go1.16.10
  staging/publishing/rules.yaml
Labels: kind/bug, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#105137 Automated cherry pick of #105122: added keys for structured logging
  pkg/controller/volume/pvcprotection/pvc_protection_controller.go
Labels: kind/bug, lgtm, area/logging, size/XS, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage, wg/structured-logging

#106147 Update debian, debian-iptables, setcap images to pick up CVEs fixes
  build/common.sh
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  test/utils/image/manifest.go
Labels: area/test, area/security, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage

#103634 remove unnecessary function after PR #88885 merged
  staging/src/k8s.io/cli-runtime/pkg/resource/visitor.go
Labels: priority/backlog, kind/cleanup, lgtm, release-note, size/S, approved, sig/cli, cncf-cla: yes, lifecycle/stale, triage/accepted

#102240 Refactor Apply cmd to split flags from options
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#105794 --as-uid flag in kubectl and kubeconfigs.
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/zz_generated.conversion.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/overrides.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation_test.go
  test/cmd/authorization.sh
  test/cmd/kubeconfig.sh
Labels: area/test, lgtm, sig/api-machinery, release-note, size/L, kind/feature, sig/auth, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#105817 Fix edit command
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#105887 Cherry-pick of #101708: Fix log spam for du failure on pod etc-hosts metrics
  pkg/kubelet/stats/host_stats_provider.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#106122 making some apiserver metrics stable
  staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: area/test, priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/testing, ok-to-test, triage/accepted

#103626 Konnectivity Proxy: move proxy-agent cpu limit to request.
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
Labels: kind/bug, lgtm, area/provider/gcp, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#105406 Adding kubelet metrics for started and failed to start HostProcess containers
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/metrics/metrics.go
  test/e2e/windows/host_process.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, kind/feature, release-note-none, approved, sig/windows, cncf-cla: yes, sig/instrumentation, sig/testing, triage/accepted

#105854 Added non-serialized metrics for windows, for 3 pods
  test/e2e/windows/kubelet_stats.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#106163 kube-proxy consider endpoint readiness to delete UDP stale conntrack entries
  pkg/proxy/endpoints.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  test/e2e/network/conntrack.go
Labels: kind/bug, area/test, sig/network, area/kubelet, sig/scalability, sig/scheduling, area/apiserver, area/kubectl, lgtm, area/cloudprovider, area/provider/gcp, sig/storage, sig/node, sig/api-machinery, release-note, sig/autoscaling, size/L, kind/api-change, sig/contributor-experience, area/release-eng, sig/auth, sig/apps, approved, sig/windows, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/architecture, area/conformance, area/code-generation, area/ipvs, sig/cloud-provider, needs-priority, area/e2e-test-framework, area/dependency, kind/regression, needs-triage, area/network-policy, wg/structured-logging

#106196 Fix creation of the administrator_keys_file file with many users
  cluster/gce/windows/testonly/install-ssh.psm1
Labels: kind/bug, priority/important-soon, lgtm, area/provider/gcp, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, sig/cloud-provider, triage/accepted

#106210 e2e_node: fixes after dynamic configuration removal
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/memory_manager_test.go
  test/e2e_node/topology_manager_test.go
  test/e2e_node/util.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#104613 [kubelet]: Reconcile OS and arch labels periodically
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/lifecycle/predicate.go
  pkg/kubelet/lifecycle/predicate_test.go
  pkg/util/node/node.go
  test/e2e_node/os_label_rename_test.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, sig/windows, cncf-cla: yes, sig/testing, triage/accepted

#106214 Fix regression in kube-proxy
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
Labels: kind/bug, sig/network, lgtm, size/L, release-note-none, approved, cncf-cla: yes, area/ipvs, tide/merge-method-squash, needs-priority, kind/regression, needs-triage

#106162 Automated cherry pick of #105755: Support cgroupv2 in node problem detector test
  test/e2e/node/node_problem_detector.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#106058 Move WindowsHostProcessContainers feature-gate to Beta
  pkg/features/kube_features.go
Labels: lgtm, release-note, size/XS, kind/feature, approved, sig/windows, cncf-cla: yes, needs-priority, needs-triage

#105969 Migrated scheduler file `cache.go` to structured logging
  pkg/scheduler/internal/cache/cache.go
Labels: priority/important-soon, kind/cleanup, sig/scheduling, lgtm, area/logging, release-note, size/M, approved, cncf-cla: yes, sig/instrumentation, triage/accepted, wg/structured-logging

#106174 Make the docker buildx check call --help
  hack/lib/util.sh
Labels: lgtm, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, sig/release, ok-to-test, needs-priority, needs-triage

#105292 Pod os field kubelet
  pkg/kubelet/lifecycle/predicate.go
  pkg/kubelet/lifecycle/predicate_test.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/M, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#106236 Automated cherry pick of #94165: Use separate pathSpec for local and remote to properly handle
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/cp/filespec.go
Labels: kind/bug, area/kubectl, lgtm, size/XL, cherry-pick-approved, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#106235 Automated cherry pick of #94165: Use separate pathSpec for local and remote to properly handle
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/cp/filespec.go
Labels: kind/bug, area/kubectl, lgtm, size/XL, cherry-pick-approved, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#106237 Automated cherry pick of #94165: Use separate pathSpec for local and remote to properly handle
  staging/src/k8s.io/kubectl/pkg/cmd/cp/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/cp/filespec.go
Labels: kind/bug, area/kubectl, lgtm, size/XL, cherry-pick-approved, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#105874 fix some lint error
  pkg/controller/util/endpoint/controller_utils.go
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#102656 Automated cherry pick of #102059: Bump k8s.io/utils #101862: Retry detaching FibreChannel volume few times
  go.mod
  go.sum
  pkg/volume/fc/attacher.go
  pkg/volume/fc/fc.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/util/util.go
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/io/read.go
  vendor/k8s.io/utils/mount/README.md
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/api-machinery, sig/cluster-lifecycle, release-note, size/L, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, sig/instrumentation, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted

#105967 Migrated scheduler files `preemption.go`, `stateful.go`, `resource_allocation.go` to structured logging
  pkg/kubelet/preemption/preemption.go
  pkg/scheduler/framework/plugins/examples/stateful/stateful.go
  pkg/scheduler/framework/plugins/noderesources/resource_allocation.go
  pkg/scheduler/framework/preemption/preemption.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, sig/scheduling, lgtm, area/logging, sig/node, release-note, size/S, approved, cncf-cla: yes, sig/instrumentation, triage/accepted, wg/structured-logging

#106261 Automated cherry pick of #105934: Don't guess SELinux support on error
  pkg/volume/csi/csi_mounter.go
  pkg/volume/util/hostutil/BUILD
  pkg/volume/util/hostutil/fake_hostutil.go
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/hostutil/hostutil_linux_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#105741 kubeadm: introduce the UnversionedKubeletConfigMap feature gate
  cmd/kubeadm/app/componentconfigs/configset_test.go
  cmd/kubeadm/app/componentconfigs/fakeconfig_test.go
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/componentconfigs/kubelet_test.go
  cmd/kubeadm/app/componentconfigs/kubeproxy_test.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/features/features.go
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/phases/kubelet/config_test.go
  cmd/kubeadm/app/util/config/cluster_test.go
  test/e2e_kubeadm/kubelet_config_test.go
Labels: area/test, priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/L, kind/feature, approved, area/kubeadm, cncf-cla: yes, sig/testing, kind/deprecation, triage/accepted

#105904 Migrate assume_cache.go to structured logging
  pkg/scheduler/framework/plugins/volumebinding/assume_cache.go
Labels: priority/important-soon, kind/cleanup, sig/scheduling, lgtm, area/logging, sig/storage, release-note, size/S, approved, cncf-cla: yes, sig/instrumentation, triage/accepted, wg/structured-logging

#106228 Changed the Info type so that the config file can be displayed withou…
  cmd/kube-scheduler/app/options/configfile.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#106243 fix some kubeadm init phase constants
  cmd/kubeadm/app/phases/addons/proxy/proxy.go
  cmd/kubeadm/app/phases/bootstraptoken/node/tlsbootstrap.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#106260 Automated cherry pick of #105934: Don't guess SELinux support on error
  pkg/volume/csi/csi_mounter.go
  pkg/volume/util/hostutil/fake_hostutil.go
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/hostutil/hostutil_linux_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#106259 Automated cherry pick of #105934: Don't guess SELinux support on error
  pkg/volume/csi/csi_mounter.go
  pkg/volume/util/hostutil/fake_hostutil.go
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/hostutil/hostutil_linux_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#106156 Update sig-cli owners
  OWNERS_ALIASES
  staging/src/k8s.io/cli-runtime/OWNERS
  staging/src/k8s.io/sample-cli-plugin/OWNERS
Labels: priority/backlog, kind/cleanup, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#105968 Migrated scheduler files `comparer.go`, `dumper.go`, `node_tree.go` to structured logging
  pkg/scheduler/internal/cache/debugger/comparer.go
  pkg/scheduler/internal/cache/debugger/dumper.go
  pkg/scheduler/internal/cache/node_tree.go
Labels: priority/important-soon, kind/cleanup, sig/scheduling, lgtm, area/logging, release-note, size/S, approved, cncf-cla: yes, sig/instrumentation, triage/accepted, wg/structured-logging

#106116 E2E podresources: fix test checking esclusive cpus allocation
  test/e2e_node/podresources_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#106186 Improve wording for panic message
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#106190 Add periodic etcd scraping to integration tests
  hack/lib/etcd.sh
  hack/make-rules/test-integration.sh
  hack/run-prometheus-on-etcd-scrapes.sh
  hack/serve-prom-scrapes.sh
Labels: lgtm, sig/api-machinery, release-note, size/L, kind/flake, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#106245 Use simple match instead of regex match in GCE Windows OpenSSH startup script
  cluster/gce/windows/testonly/install-ssh.psm1
Labels: kind/bug, priority/important-soon, lgtm, area/provider/gcp, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/cloud-provider, triage/accepted

#106263 e2e_node: Skip dynamic config tests when the feature is disabled
  test/e2e_node/dynamic_kubelet_config_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#106181 Bump k8s.io/kube-openapi to commit ee342a809c29
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/kube-openapi/pkg/generators/enum.go
  vendor/k8s.io/kube-openapi/pkg/generators/extension.go
  vendor/k8s.io/kube-openapi/pkg/generators/openapi.go
  vendor/k8s.io/kube-openapi/pkg/handler/handler.go
  vendor/k8s.io/kube-openapi/pkg/validation/spec/info.go
  vendor/k8s.io/kube-openapi/pkg/validation/validate/schema.go
  vendor/k8s.io/kube-openapi/pkg/validation/validate/schema_option.go
  vendor/k8s.io/kube-openapi/pkg/validation/validate/validator.go
  vendor/modules.txt
Labels: kind/bug, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/api-machinery, sig/cluster-lifecycle, size/S, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, area/code-generation, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, triage/accepted

#106273 tests: Logs the stdout and stderr for network consistency Windows tests on error
  test/e2e/windows/hybrid_network.go
Labels: area/test, priority/important-soon, lgtm, size/XS, kind/flake, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-triage

#102393 Upgrade preparation to verify sysctl values containing forward slashes by regex
  pkg/api/pod/util.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/policy/validation/validation.go
  pkg/apis/policy/validation/validation_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  pkg/kubelet/sysctl/allowlist.go
  pkg/kubelet/sysctl/allowlist_test.go
  pkg/kubelet/sysctl/util.go
  pkg/kubelet/sysctl/util_test.go
Labels: kind/bug, area/test, area/kubelet, lgtm, sig/storage, sig/node, release-note, size/L, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#104921 Add mTLS as default HTTPConnect egress configuration for GCP.
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/gci/configure-helper.sh
  cluster/gce/util.sh
Labels: priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, size/L, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#106297 Don't write fake logs to the real test log
  pkg/registry/core/service/storage/storage_test.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#105873 More seat metrics for APF
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/testing/no-restraint.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/gen_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/match_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/sample_and_watermark.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/mutating_work_estimator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width_test.go
  test/integration/apiserver/flowcontrol/fight_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#106223 [go1.16] Update to go1.16.10
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, area/security, lgtm, area/provider/gcp, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, area/dependency, triage/accepted

#106251 e2e_node: does not rely on Kubelet automatic restart service under hugepages tests
  test/e2e_node/hugepages_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#105773 PV controller changes to support PV Deletion protection finalizer
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/controller/volume/persistentvolume/util/util.go
  pkg/features/kube_features.go
Labels: lgtm, sig/storage, size/L, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#106240 client-go: add jitter to flowcontrol.Backoff
  staging/src/k8s.io/client-go/util/flowcontrol/backoff.go
  staging/src/k8s.io/client-go/util/flowcontrol/backoff_test.go
Labels: lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted
