Repository kubernetes/kubernetes, pull requests merged in 2021-05, with the labels that each got.

#95396 webhooks,aggregation: add metrics to count certs missing SAN
  staging/src/k8s.io/apiserver/pkg/util/webhook/certs_test.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/client.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/gencerts.sh
  staging/src/k8s.io/apiserver/pkg/util/webhook/metrics.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
  staging/src/k8s.io/apiserver/pkg/util/x509metrics/missing_san.go
  staging/src/k8s.io/apiserver/pkg/util/x509metrics/missing_san_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/metrics.go
  vendor/modules.txt
Labels: approved, area/apiserver, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-longterm, release-note, sig/api-machinery, sig/auth, sig/instrumentation, size/XXL, triage/accepted

#101592 Register/Deregister Targets in chunks for AWS TargetGroup
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/cloud-provider, size/XL

#101670 Add myself as a dep reviewer
  OWNERS_ALIASES
  hack/update-vendor.sh
  vendor/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/api-machinery, size/XS, triage/accepted

#98955 Formatting and grammar fixes in 1.20 changelog
  CHANGELOG/CHANGELOG-1.20.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, release-note-none, sig/release, size/M, triage/accepted

#97399 Fix typo in comment
  cluster/gce/gci/configure-helper.sh
  test/kubemark/resources/start-kubemark-master.sh
Labels: approved, area/provider/gcp, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/cloud-provider, sig/scalability, sig/testing, size/XS, triage/accepted

#101689 Revert "Deflake startupProbe e2e test"
  test/e2e/common/node/container_probe.go
Labels: approved, area/test, cncf-cla: yes, kind/failing-test, kind/flake, lgtm, needs-triage, priority/critical-urgent, release-note-none, sig/node, sig/testing, size/S

#101654 Add marseel@ to sig-scalability-reviewers
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/scalability, size/XS

#101466 Drop IsScalarResourceName check in GetNonzeroRequestForResource
  pkg/scheduler/util/non_zero.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/S

#101693 update PodDisruptionBudget's Version to v1 in e2e testing manifests
  test/e2e/testing-manifests/statefulset/cassandra/pdb.yaml
  test/e2e/testing-manifests/statefulset/cassandra/tester.yaml
  test/e2e/testing-manifests/statefulset/etcd/pdb.yaml
  test/e2e/testing-manifests/statefulset/mysql-upgrade/statefulset.yaml
  test/e2e/testing-manifests/statefulset/mysql-upgrade/tester.yaml
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/testing, size/S

#101067 Fix mounting NFS resources in IPv6 bare-metal environment #101066
  pkg/volume/nfs/nfs.go
  pkg/volume/nfs/nfs_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/storage, size/M

#100324 client-go: NewSelfSignedCACert makes Go 1.15+ compatible cert
  staging/src/k8s.io/client-go/util/cert/cert.go
  staging/src/k8s.io/client-go/util/cert/cert_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, sig/auth, size/M, tide/merge-method-squash

#101643 Fix auth can-i provides potentially misleading output with impersonate
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani.go
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note-none, sig/auth, sig/cli, size/M, triage/accepted

#101198 Cherry-pick: Fix Job describe for completion mode
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/cli, size/XS

#101420 aggregator: add availability state transition logging
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/api-machinery, size/S, triage/accepted

#99748 kubelet: fix log files being overwritten on container state loss
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/node, size/M, triage/accepted

#101302 cleanup: fix errors in wrapped format and log capitalization in kubelet
  cmd/kubelet/app/server.go
  cmd/kubelet/app/server_windows.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/M, triage/accepted

#101364 Consistently use log.KObj to format pods in logs
  pkg/kubelet/lifecycle/predicate.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/XS, triage/accepted

#101369 pkg/kubelet: Simplify status string generation on probes
  pkg/kubelet/kubelet.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/S, triage/accepted

#101400 cleanup: use plain channel send or receive instead of single-case select
  pkg/kubelet/nodeshutdown/systemd/inhibit_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/node, size/S, triage/accepted

#101593 kubelet: change cgroup move message to log level 3
  pkg/kubelet/cm/container_manager_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/node, size/XS, triage/accepted

#101626 Add validation for names like '-'
  staging/src/k8s.io/apimachinery/pkg/api/validation/generic.go
  staging/src/k8s.io/apimachinery/pkg/api/validation/generic_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/api-machinery, size/M

#101704 Update testdata generation command
  hack/update-generated-api-compatibility-data.sh
  staging/src/k8s.io/api/testdata/README.md
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/architecture, size/S, triage/accepted

#101713 Update tests to use agnhost 2.32
  build/dependencies.yaml
  test/e2e/auth/service_accounts.go
  test/utils/image/manifest.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, needs-triage, priority/important-soon, release-note-none, sig/auth, sig/testing, size/XS, triage/accepted

#101412 feat: change partition style to GPT on Windows
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/storage, sig/windows, size/XS, triage/accepted

#101707 client-go transport: assert that final CA data is valid
  hack/.staticcheck_failures
  staging/src/k8s.io/apiserver/pkg/util/webhook/certs_test.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
  staging/src/k8s.io/client-go/transport/transport.go
  staging/src/k8s.io/client-go/transport/transport_test.go
  test/integration/apiserver/podlogs/podlogs_test.go
Labels: approved, area/apiserver, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note-none, sig/api-machinery, sig/auth, sig/testing, size/L, triage/accepted

#101725 Cherrypick: Update tests to use agnhost 2.32
  build/dependencies.yaml
  test/e2e/auth/service_accounts.go
  test/utils/image/manifest.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note, sig/auth, sig/testing, size/XS, triage/accepted

#101504 cherry pick of #100913: no watch endpointslice in userpace mode
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/network, size/S, triage/accepted

#101502 cherry pick of #100913: no watch endpointslice in userpace mode
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/network, size/S, triage/accepted

#101708 Fix log spam for du failure on pod etc-hosts metrics
  pkg/kubelet/stats/host_stats_provider.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-triage, priority/important-longterm, release-note-none, sig/node, size/XS

#101731 Set OWNERS of pkg/apis to api-(approvers/reviewers).
  pkg/apis/OWNERS
  pkg/apis/core/OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/apps, sig/architecture, size/M

#101503 cherry pick of #100913: no watch endpointslice in userpace mode
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/network, size/S, triage/accepted

#101454 code cleanup: omit redundant alias in import
  pkg/scheduler/apis/config/v1/conversion.go
  pkg/scheduler/apis/config/v1/conversion_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/XS

#100879 remove old ip checks.
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: approved, area/kubectl, area/kubelet, area/test, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/apps, sig/cli, sig/node, sig/testing, size/S, triage/accepted

#101389 Switch the order of adding SNICert and creating LoopbackClientConfig
  staging/src/k8s.io/apiserver/pkg/server/options/serving_with_loopback.go
  staging/src/k8s.io/apiserver/pkg/server/options/serving_with_loopback_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/auth, size/M, triage/accepted

#101722 Revert "Revert "cluster: Use python3 everywhere""
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, size/M

#101163 indexed job: remove pods with invalid index
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/indexed_job_utils_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/apps, size/L

#101358 Ref counting is only applicable to Remote endpoints
  pkg/proxy/winkernel/proxier.go
Labels: approved, area/kube-proxy, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/network, sig/windows, size/XS

#101652 Add jitter to lease controller
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/scalability, size/XS, triage/accepted

#100612 kubeadm: upgrade etcd to 3.4.13-3
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
Labels: approved, area/kubeadm, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/cloud-provider, sig/cluster-lifecycle, size/S, triage/accepted

#101107 fix hardcoding and format error log
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/XS, triage/accepted

#101560 Prevent scheduler crashing in default preemption plugin
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/M

#101747 GCE Windows: Do not install docker when containerd CRI is selected.
  cluster/gce/util.sh
  cluster/gce/windows/configure.ps1
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/windows, size/M, triage/accepted

#101732 Promote kube-addon-manager to v9.1.5
  cluster/gce/manifests/kube-addon-manager.yaml
  test/kubemark/resources/manifests/kube-addon-manager.yaml
Labels: approved, area/provider/gcp, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, sig/scalability, sig/testing, size/XS

#98629 Fix pull empty image URL
  test/e2e_node/image_list.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/flake, lgtm, priority/backlog, release-note-none, sig/node, sig/testing, size/M, triage/accepted

#96084 feat: masked secrets in kubectl diff output
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/cli, size/XL, tide/merge-method-squash

#98906 deflake a resource quota check for best-effort pods
  test/e2e/apimachinery/resource_quota.go
Labels: approved, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/testing, size/XS, triage/accepted

#101754 OWNERS(CHANGELOG): Add 1.22 release notes team
  CHANGELOG/OWNERS
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/XS, triage/accepted

#101709 conformance test for Services should validate behaviour
  test/e2e/network/service.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note, sig/network, sig/testing, size/M

#101542 sched: make CycleState's Read()/Write()/Delete() thread-safe
  pkg/scheduler/framework/cycle_state.go
  pkg/scheduler/framework/plugins/examples/multipoint/multipoint.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-action-required, sig/scheduling, sig/storage, size/M

#101115 cleanup: fix log capitalization in volume package
  pkg/volume/awsebs/attacher_test.go
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/awsebs/aws_util.go
  pkg/volume/azure_file/azure_file.go
  pkg/volume/azure_file/azure_provision.go
  pkg/volume/azure_file/azure_util.go
  pkg/volume/azuredd/azure_mounter.go
  pkg/volume/cephfs/cephfs.go
  pkg/volume/cinder/attacher.go
  pkg/volume/cinder/attacher_test.go
  pkg/volume/cinder/cinder.go
  pkg/volume/cinder/cinder_util.go
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_block_test.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/emptydir/empty_dir_test.go
  pkg/volume/fc/fc_util.go
  pkg/volume/flexvolume/detacher.go
  pkg/volume/flexvolume/driver-call.go
  pkg/volume/flexvolume/probe.go
  pkg/volume/flexvolume/unmounter.go
  pkg/volume/flexvolume/util.go
  pkg/volume/flocker/flocker.go
  pkg/volume/flocker/flocker_test.go
  pkg/volume/flocker/flocker_util_test.go
  pkg/volume/flocker/flocker_volume.go
  pkg/volume/gcepd/attacher_test.go
  pkg/volume/git_repo/git_repo_test.go
  pkg/volume/glusterfs/glusterfs_test.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/iscsi/iscsi_util.go
  pkg/volume/local/local_test.go
  pkg/volume/nfs/nfs.go
  pkg/volume/plugins.go
  pkg/volume/portworx/portworx_util.go
  pkg/volume/projected/projected.go
  pkg/volume/projected/projected_test.go
  pkg/volume/quobyte/quobyte.go
  pkg/volume/secret/secret.go
  pkg/volume/storageos/storageos.go
  pkg/volume/testing/testing.go
  pkg/volume/util/device_util_linux_test.go
  pkg/volume/util/fsquota/quota_linux_test.go
  pkg/volume/util/subpath/subpath_linux_test.go
  pkg/volume/util/util.go
  pkg/volume/vsphere_volume/attacher_test.go
  pkg/volume/vsphere_volume/vsphere_volume_util_linux.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/storage, size/L

#101545 Automated cherry pick of #101347: Extend pod start timeout to 5min for storage subpath
  test/e2e/storage/testsuites/subpath.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS, triage/accepted

#101546 Automated cherry pick of #101347: Extend pod start timeout to 5min for storage subpath
  test/e2e/storage/testsuites/subpath.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS, triage/accepted

#101544 Automated cherry pick of #101347: Extend pod start timeout to 5min for storage subpath
  test/e2e/storage/testsuites/subpath.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/failing-test, kind/flake, lgtm, priority/important-soon, release-note-none, sig/storage, sig/testing, size/XS, triage/accepted

#101632 Automated cherry pick of #101025: Fix EndpointSlice describe panic when an Endpoint doesn't
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cli, sig/network, size/XS, triage/accepted

#101703 use '_' in nodelabel plugin for unused parameters
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/XS

#100993 Fix staticcheck failures for vendor/k8s.io/apiserver/pkg/registry/rest/resttest
  hack/.staticcheck_failures
  staging/src/k8s.io/apiserver/pkg/registry/rest/resttest/resttest.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/S, triage/accepted

#101578 remove CRIContainerLogRotation feature gate
  pkg/features/kube_features.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/node, size/XS, triage/accepted

#101159 [1.19] add duration encoder to structured logger
  staging/src/k8s.io/component-base/logs/json/json.go
  staging/src/k8s.io/component-base/logs/json/json_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/S, triage/accepted

#100592 pause image: Uses kube-cross image to build Windows binaries
  build/dependencies.yaml
  build/pause/Makefile
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/release, sig/windows, size/S

#100690 azure: fix node public IP not able to fetch issues from IMDS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instance_metadata.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cloud-provider, size/L, triage/accepted

#101428 Automated cherry pick of #101377: Fix validation in kubectl create ingress
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cli, size/S, tide/merge-method-squash, triage/accepted

#101668 apimachinery: add context bound polling
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XL, triage/accepted

#101678 Remove remnants of basic auth from cluster bootstrap.
  cluster/gce/gci/configure-helper.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, sig/security, size/S

#101737 Use CSI driver to determine unique name for migrated in-tree plugins
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/apps, sig/storage, size/L, triage/accepted

#101158 [1.20] Add duration encoder to structured logger
  staging/src/k8s.io/component-base/logs/json/json.go
  staging/src/k8s.io/component-base/logs/json/json_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/S, triage/accepted

#101751 Recursive chown the /etc/srv/sshproxy if kube-apiserver is running as…
  cluster/gce/gci/configure-kubeapiserver.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/XS

#101763 Automated cherry pick of #100103: Updating EndpointSlice controllers to avoid duplicate
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/endpointslice_tracker.go
  pkg/controller/endpointslice/endpointslice_tracker_test.go
  pkg/controller/endpointslicemirroring/endpointslice_tracker.go
  pkg/controller/endpointslicemirroring/endpointslice_tracker_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/flake, lgtm, needs-priority, needs-triage, sig/apps, sig/network, size/L

#101310 Automated cherry pick of #101186: Fix RBAC of generic ephemeral volumes controller
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/auth, sig/storage, size/XS, triage/accepted

#100940 Implement a FakeClient interface
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/clientset_generated.go
  staging/src/k8s.io/client-go/dynamic/fake/simple.go
  staging/src/k8s.io/client-go/kubernetes/fake/clientset_generated.go
  staging/src/k8s.io/client-go/testing/interface.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_clientset.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/MixedCase/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/apiserver/clientset/internalversion/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/apiserver/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/fake/clientset_generated.go
  staging/src/k8s.io/metrics/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-controller/pkg/generated/clientset/versioned/fake/clientset_generated.go
Labels: approved, area/code-generation, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note, sig/api-machinery, sig/instrumentation, size/L, triage/accepted

#101164 Run control-plane as non root in kube-up.
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/util.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/cloud-provider, size/M

#101768 Add function to copy a single pod log in podlogs
  test/e2e/storage/podlogs/podlogs.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, sig/testing, size/S

#97663 remove unused variable of Code
  test/integration/utils.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, release-note-none, sig/testing, size/XS, triage/accepted

#100693 Cherry pick of #100694: Cherry pick #574 from Cloud Provider Azure: do not tag user created public IPs
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, size/L, triage/accepted

#101494 Automated cherry pick of #100944: Ensure service deleted when the Azure resource group has been deleted
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, sig/cloud-provider, size/M, triage/accepted

#101518 Automated cherry pick of #101398: fix: set "host is down" as corrupted mount
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/mount-utils/mount_helper_windows.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#101540 Automated cherry pick of #101495: Fix cleanupMountpoint issue for Windows
  staging/src/k8s.io/mount-utils/mount_helper_common.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, size/XS

#99705 Automated cherry pick of #99550: fix smb mount issue on Windows
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS, triage/accepted

#101757 compare the func with .Pointer() in scheduler registry-test
  pkg/scheduler/framework/runtime/registry_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, size/XS

#101426 Automated cherry pick of #101377: Fix validation in kubectl create ingress
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cli, size/S, tide/merge-method-squash, triage/accepted

#101549 Automated cherry pick of #100731: Normalize share name to not include capital letters
  pkg/volume/azure_file/azure_provision.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#101620 Automated cherry pick of #101005: Set namespace when using kubectl create service
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_service.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_service_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, sig/cli, size/M, triage/accepted

#101354 Automated cherry pick of #101235: fix: azure file namespace issue in csi translation
  pkg/controller/volume/attachdetach/util/util.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/volume/csimigration/plugin_manager.go
  pkg/volume/util/operationexecutor/operation_generator.go
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs.go
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/in_tree_volume.go
  staging/src/k8s.io/csi-translation-lib/plugins/openstack_cinder.go
  staging/src/k8s.io/csi-translation-lib/plugins/vsphere_volume.go
  staging/src/k8s.io/csi-translation-lib/plugins/vsphere_volume_test.go
  staging/src/k8s.io/csi-translation-lib/translate.go
  staging/src/k8s.io/csi-translation-lib/translate_test.go
Labels: approved, area/kubelet, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/apps, sig/cloud-provider, sig/node, sig/storage, size/L, triage/accepted

#101772 Update glbc image to v1.12.0
  cluster/gce/manifests/glbc.manifest
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, sig/network, size/XS

#101356 Automated cherry pick of #101235: fix: azure file namespace issue in csi translation
  pkg/controller/volume/attachdetach/util/util.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/volume/csimigration/plugin_manager.go
  pkg/volume/util/operationexecutor/operation_generator.go
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs.go
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/in_tree_volume.go
  staging/src/k8s.io/csi-translation-lib/plugins/openstack_cinder.go
  staging/src/k8s.io/csi-translation-lib/plugins/vsphere_volume.go
  staging/src/k8s.io/csi-translation-lib/plugins/vsphere_volume_test.go
  staging/src/k8s.io/csi-translation-lib/translate.go
  staging/src/k8s.io/csi-translation-lib/translate_test.go
Labels: approved, area/kubelet, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/apps, sig/cloud-provider, sig/node, sig/storage, size/L, triage/accepted

#101499 Automated cherry pick of #100944: Ensure service deleted when the Azure resource group has been deleted
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, sig/cloud-provider, size/M, triage/accepted

#101769 Automated cherry pick of #101005: Set namespace when using kubectl create service
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_service.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_service_test.go
Labels: approved, area/kubectl, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, sig/cli, size/M, triage/accepted

#101773 Add some soon-to-be-removed plugins to deprecated volume plugin list
  pkg/volume/plugins.go
Labels: approved, cncf-cla: yes, kind/deprecation, kind/documentation, lgtm, needs-priority, needs-triage, release-note, sig/storage, size/XS

#101551 Automated cherry pick of #100731: Normalize share name to not include capital letters
  pkg/volume/azure_file/azure_provision.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#100943 Cherry pick of #100690: azure: fix node public IP not able to fetch issues from IMDS
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instance_metadata.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/L, triage/accepted

#100216 Fix misspelling of condition.
  pkg/volume/util/resize_util_test.go
  staging/src/k8s.io/apiserver/pkg/storage/interfaces.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/storage, size/M, triage/accepted

#101764 Automated cherry pick of #101763: Updating EndpointSlice controllers to avoid duplicate
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/endpointslice_tracker.go
  pkg/controller/endpointslice/endpointslice_tracker_test.go
  pkg/controller/endpointslicemirroring/endpointslice_tracker.go
  pkg/controller/endpointslicemirroring/endpointslice_tracker_test.go
Labels: approved, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/flake, lgtm, needs-priority, needs-triage, release-note, sig/apps, sig/network, size/L

#101519 Automated cherry pick of #101398: fix: set "host is down" as corrupted mount
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/mount-utils/mount_helper_windows.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cloud-provider, size/XS, triage/accepted

#101523 Omit comparison with boolean constant
  staging/src/k8s.io/kubectl/pkg/explain/formatter.go
Labels: approved, area/cloudprovider, area/kubectl, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note, sig/cli, sig/cloud-provider, size/XS, triage/accepted

#101550 Automated cherry pick of #100731: Normalize share name to not include capital letters
  pkg/volume/azure_file/azure_provision.go
Labels: approved, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/cloud-provider, sig/storage, size/XS, triage/accepted

#97428 add more context to log after a request times out
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/finisher/finisher.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/finisher/finisher_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, sig/instrumentation, size/L, triage/accepted

#101390 minor change, move the comment to the right line
  staging/src/k8s.io/apiserver/pkg/server/config_selfclient.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XS, triage/accepted

#98028 add auto update for priority & fairness bootstrap configuration objects
  pkg/registry/flowcontrol/ensurer/flowschema.go
  pkg/registry/flowcontrol/ensurer/flowschema_test.go
  pkg/registry/flowcontrol/ensurer/prioritylevelconfiguration.go
  pkg/registry/flowcontrol/ensurer/prioritylevelconfiguration_test.go
  pkg/registry/flowcontrol/ensurer/strategy.go
  pkg/registry/flowcontrol/rest/storage_flowcontrol.go
  pkg/registry/flowcontrol/rest/storage_flowcontrol_test.go
  staging/src/k8s.io/api/flowcontrol/v1beta1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/flowcontrol/bootstrap/default.go
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, needs-priority, release-note-none, sig/api-machinery, size/XXL, triage/accepted

#100326 Fix watchForLockfileContention memory leak
  cmd/kubelet/app/server_linux.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/node, size/XS, triage/accepted

#100936 code cleanup for pkg/api and pkg/apis
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/certificates/validation/validation_test.go
  pkg/apis/core/validation/events.go
  pkg/apis/networking/validation/validation.go
  pkg/apis/policy/validation/validation.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-triage, ok-to-test, priority/backlog, release-note-none, sig/apps, sig/auth, sig/network, size/M

#101046 fix broken link in some files
  pkg/ssh/ssh.go
  pkg/volume/util/metrics.go
  staging/src/k8s.io/apiserver/pkg/audit/metrics.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/value/metrics.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/metrics.go
  staging/src/k8s.io/legacy-cloud-providers/gce/token_source.go
Labels: approved, area/apiserver, area/cloudprovider, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/auth, sig/cloud-provider, sig/instrumentation, sig/storage, size/S, triage/accepted

#101452 CHANGELOG: fix punctuation errors in 1.21
  CHANGELOG/CHANGELOG-1.21.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/release, size/XS

#101534 Use GA topology labels for Azuredisk
  pkg/volume/azuredd/azure_provision.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Labels: approved, area/cloudprovider, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, ok-to-test, release-note-action-required, sig/cloud-provider, sig/storage, size/M

#101800 [agnhost] Add a retry for apk operations
  test/images/agnhost/Dockerfile
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS, triage/accepted

#101498 Automated cherry pick of #100944: Ensure service deleted when the Azure resource group has been deleted
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, sig/cloud-provider, size/M, triage/accepted

#101684 test: retryable error in wait for ready nodes test
  test/e2e/framework/node/wait.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/testing, size/XS

#101752 fix: not tagging static public IP
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cloud-provider, size/XS, triage/accepted

#101793 Delete duplicate judgments
  pkg/scheduler/framework/plugins/nodevolumelimits/non_csi.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/scheduling, size/XS

#101809 [go1.16] Update to go1.16.4
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
  test/images/sample-apiserver/Makefile
Labels: approved, area/dependency, area/provider/gcp, area/release-eng, area/security, area/test, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/cloud-provider, sig/instrumentation, sig/release, sig/testing, size/S

#101811 [go1.16] Update to go1.16.4
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
  test/images/sample-apiserver/Makefile
Labels: approved, area/dependency, area/provider/gcp, area/release-eng, area/security, area/test, cherry-pick-approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/cloud-provider, sig/instrumentation, sig/release, sig/testing, size/S

#100948 Avoid caching the VMSS instances whose network profile is nil
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cloud-provider, size/M, triage/accepted

#101353 Automated cherry pick of #101235: fix: azure file namespace issue in csi translation
  pkg/controller/volume/attachdetach/util/util.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/volume/csimigration/plugin_manager.go
  pkg/volume/util/operationexecutor/operation_generator.go
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs.go
  staging/src/k8s.io/csi-translation-lib/plugins/aws_ebs_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go
  staging/src/k8s.io/csi-translation-lib/plugins/gce_pd_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/in_tree_volume.go
  staging/src/k8s.io/csi-translation-lib/plugins/openstack_cinder.go
  staging/src/k8s.io/csi-translation-lib/plugins/vsphere_volume.go
  staging/src/k8s.io/csi-translation-lib/plugins/vsphere_volume_test.go
  staging/src/k8s.io/csi-translation-lib/translate.go
  staging/src/k8s.io/csi-translation-lib/translate_test.go
Labels: approved, area/kubelet, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/apps, sig/cloud-provider, sig/node, sig/storage, size/L, triage/accepted

#100953 Automated cherry pick of #99839: Cleanup portforward streams after their usage
  pkg/kubelet/cri/streaming/portforward/httpstream.go
  pkg/kubelet/cri/streaming/portforward/httpstream_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection_test.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/api-machinery, sig/node, size/M, triage/accepted

#96702 Fix `kubectl wait --for=delete` ignore not found
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait_test.go
  test/e2e/kubectl/kubectl.go
Labels: approved, area/kubectl, area/test, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/cli, sig/testing, size/S

#98057 [jsonpath] fix wrong output when using jsonpath
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath.go
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/M, triage/accepted

#101395 no_proxy inherits the system settings to adapt to some special scenarios
  hack/lib/init.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, needs-triage, release-note-none, sig/contributor-experience, size/XS

#101810 Fix improperly formatted Calico CRD files
  cluster/addons/calico-policy-controller/bgpconfigurations-crd.yaml
  cluster/addons/calico-policy-controller/bgppeers-crd.yaml
  cluster/addons/calico-policy-controller/blockaffinity-crd.yaml
  cluster/addons/calico-policy-controller/clusterinformations-crd.yaml
  cluster/addons/calico-policy-controller/felixconfigurations-crd.yaml
  cluster/addons/calico-policy-controller/globalnetworkpolicy-crd.yaml
  cluster/addons/calico-policy-controller/globalnetworksets-crd.yaml
  cluster/addons/calico-policy-controller/hostendpoints-crd.yaml
  cluster/addons/calico-policy-controller/ipamblock-crd.yaml
  cluster/addons/calico-policy-controller/ipamconfig-crd.yaml
  cluster/addons/calico-policy-controller/ipamhandle-crd.yaml
  cluster/addons/calico-policy-controller/ippool-crd.yaml
  cluster/addons/calico-policy-controller/kubecontrollersconfigurations-crd.yaml
  cluster/addons/calico-policy-controller/networkpolicies-crd.yaml
  cluster/addons/calico-policy-controller/networkset-crd.yaml
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, size/L

#100954 Automated cherry pick of #99839: Cleanup portforward streams after their usage
  pkg/kubelet/server/portforward/httpstream.go
  pkg/kubelet/server/portforward/httpstream_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection_test.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/api-machinery, sig/node, size/M, triage/accepted

#100951 Automated cherry pick of #99839: Cleanup portforward streams after their usage
  pkg/kubelet/cri/streaming/portforward/httpstream.go
  pkg/kubelet/cri/streaming/portforward/httpstream_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection_test.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/api-machinery, sig/node, size/M, triage/accepted

#101818 Cherry pick of #101752: fix: not tagging static public IP
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
Labels: approved, area/cloudprovider, area/provider/azure, cherry-pick-approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cloud-provider, size/XS, triage/accepted

#101598 kubeadm: simplify fuzzing of ClusterConfiguration
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/conversion.go
  cmd/kubeadm/app/util/config/initconfiguration.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/cluster-lifecycle, size/M, triage/accepted

#101338 Remove Limits from scheduling e2e balanced pod resources
  test/e2e/scheduling/priorities.go
Labels: approved, area/test, cherry-pick-approved, cncf-cla: yes, kind/bug, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/scheduling, sig/testing, size/XS

#100952 Automated cherry pick of #99839: Cleanup portforward streams after their usage
  pkg/kubelet/cri/streaming/portforward/httpstream.go
  pkg/kubelet/cri/streaming/portforward/httpstream_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection_test.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
Labels: approved, area/kubelet, cherry-pick-approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/api-machinery, sig/node, size/M, triage/accepted

#101838 [agnhost and other images] Use tonistiigi/binfmt instead of our multi-arch register.sh
  test/images/agnhost/Dockerfile
  test/images/image-util.sh
Labels: approved, area/test, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/testing, size/XS, triage/accepted

#101615 fix removing pods from podTopologyHints mapping
  pkg/kubelet/cm/internal_container_lifecycle.go
  pkg/kubelet/cm/memorymanager/policy_static_test.go
  pkg/kubelet/cm/topologymanager/fake_topology_manager.go
  pkg/kubelet/cm/topologymanager/fake_topology_manager_test.go
  pkg/kubelet/cm/topologymanager/scope.go
  pkg/kubelet/cm/topologymanager/scope_container.go
  pkg/kubelet/cm/topologymanager/scope_pod.go
  pkg/kubelet/cm/topologymanager/scope_test.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/node, size/L

#101846 [1.19][go1.15] Update to go1.15.12
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  build/root/WORKSPACE
  build/workspace.bzl
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
  test/images/sample-apiserver/Dockerfile
Labels: approved, area/dependency, area/provider/gcp, area/release-eng, area/test, cherry-pick-approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, needs-triage, release-note, sig/cloud-provider, sig/instrumentation, sig/release, sig/testing, size/L

#101771 Add logic to only call CPUManager Update() if state different than last Update()
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
Labels: approved, area/kubelet, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/node, size/M

#101777 wait for poststarthook/max-in-flight-filter to be initialized
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/flake, lgtm, needs-priority, needs-triage, release-note-none, sig/api-machinery, size/S

#101833 upgrade nvidia-driver-installer to 2.0.5
  test/e2e/testing-manifests/scheduling/nvidia-driver-installer.yaml
Labels: approved, area/provider/gcp, area/test, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, sig/testing, size/XS

#101847 publishing: Use go1.15.12 for 1.20 and 1.19 release branches
  staging/publishing/rules.yaml
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/release, size/L

#100234 runtime/default Seccomp Profile in kubeadm control-plane components.
  cmd/kubeadm/app/util/staticpod/utils.go
  cmd/kubeadm/app/util/staticpod/utils_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, sig/cluster-lifecycle, size/S, triage/accepted

#96216 refactor: disable insecure serving in controller-manager
  cluster/gce/manifests/kube-controller-manager.manifest
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/options/options_test.go
  cmd/kube-controller-manager/app/testing/testserver.go
  pkg/cluster/ports/ports.go
  pkg/registry/core/rest/storage_core.go
  test/e2e/e2e.go
  test/e2e/framework/metrics/metrics_grabber.go
  test/e2e/framework/metrics/metrics_proxy.go
  test/e2e/framework/pod/resource.go
  test/e2e/framework/ports.go
  test/e2e/framework/providers/gce/firewall.go
  test/e2e/instrumentation/monitoring/metrics_grabber.go
  test/integration/serving/serving_test.go
Labels: approved, area/e2e-test-framework, area/provider/gcp, area/test, cncf-cla: yes, kind/cleanup, kind/deprecation, lgtm, priority/important-soon, release-note-action-required, sig/api-machinery, sig/cloud-provider, sig/instrumentation, sig/testing, size/L, triage/accepted

#101874 Remove tallclair for gce owners
  cluster/gce/manifests/OWNERS
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/cloud-provider, size/XS

#101739 fix: avoid nil-pointer panic when checking the frontend IP configuration
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
Labels: approved, area/cloudprovider, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/cloud-provider, size/S, triage/accepted

#101780 Fix error handling for kubectl create configmap
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_configmap.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/cli, size/XS

#101461 e2e node: fix the race condition under the memory manager test
  test/e2e_node/memory_manager_test.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-longterm, release-note-none, sig/node, sig/testing, size/XS, triage/accepted

#101857 fixed wrong warning in kube-proxy regarding topology aware hints
  pkg/proxy/topology.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note, sig/network, size/XS

#100894 Handle invalid `losetup' options
  pkg/volume/storageos/storageos_util.go
  pkg/volume/util/volumepathhandler/volume_path_handler_linux.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, needs-triage, ok-to-test, release-note-none, sig/storage, size/L

#101924 storage e2e: auto detect sector size
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/utils/utils.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, needs-priority, needs-triage, release-note-none, sig/storage, sig/testing, size/S

#101952 feat: set some auth flags for KCM and KS in local-up-cluster.sh
  hack/local-up-cluster.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/testing, size/XS, triage/accepted

#101156 Remove unused CreatePodsOnNode function
  pkg/controller/controller_utils.go
  pkg/controller/daemon/daemon_controller_test.go
  pkg/controller/replication/conversion.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, priority/important-longterm, release-note-none, sig/apps, size/M, triage/accepted

#101938 refactor(kubeadm): remove alpha command
  cmd/kubeadm/app/cmd/alpha/alpha.go
  cmd/kubeadm/app/cmd/cmd.go
  cmd/kubeadm/app/cmd/kubeconfig.go
  cmd/kubeadm/app/cmd/kubeconfig_test.go
Labels: approved, area/kubeadm, cncf-cla: yes, kind/cleanup, kind/deprecation, lgtm, priority/important-longterm, release-note, sig/cluster-lifecycle, size/M, triage/accepted

#101950 Make watch order conformance test reliable
  test/e2e/apimachinery/watch.go
Labels: approved, area/test, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, release-note, sig/api-machinery, sig/testing, size/S, triage/accepted

#101884 Gce curl cleanup
  cluster/common.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
  cluster/gce/gci/master.yaml
  cluster/gce/util.sh
Labels: approved, area/provider/gcp, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, release-note-none, sig/cloud-provider, size/L, triage/accepted

#100753 Clean up and make more image handling consistent
  build/dependencies.yaml
  test/utils/image/manifest.go
  test/utils/image/manifest_test.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, needs-triage, release-note-none, sig/testing, size/L

#101936 Remove two metrics that have been deprecated
  staging/src/k8s.io/component-base/metrics/testutil/promlint.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, sig/cluster-lifecycle, sig/instrumentation, size/XS, triage/accepted

#101669 fix kubectl set env or resources not working for initcontainers
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_resources.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_resources_test.go
Labels: approved, area/kubectl, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note, sig/cli, size/L, triage/accepted

#99899 Update dependencies in local node test runner
  test/e2e_node/runner/local/run_local.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, release-note-none, sig/node, sig/testing, size/XS, triage/accepted

#101931 Increase TerminationGracePeriodSeconds to 1 second
  test/e2e/apps/deployment.go
  test/e2e/common/node/pods.go
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, release-note-none, sig/apps, sig/node, sig/testing, size/S, triage/accepted

#101865 Structured Logging migration: for package staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/configmap_cafile_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_cafile_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_serving_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/named_certificates.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/tlsconfig.go
Labels: approved, area/apiserver, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, ok-to-test, release-note-none, sig/api-machinery, size/S, triage/accepted

#101895 e2e: waiting for scheduler pod to expose metrics once
  test/e2e/framework/metrics/metrics_grabber.go
Labels: approved, area/e2e-test-framework, area/test, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, priority/important-soon, release-note-none, sig/testing, size/S, triage/accepted
