Repository kubernetes/kubernetes, pull requests merged in 2022-04, with the labels that each got.

#108930 Add sync_proxy_rules_no_endpoints_total metric
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/metrics/metrics.go
Labels: area/test, sig/network, area/kubelet, sig/scheduling, area/apiserver, area/kubectl, lgtm, area/cloudprovider, area/provider/gcp, sig/storage, sig/node, sig/api-machinery, release-note, sig/autoscaling, size/L, kind/api-change, kind/feature, area/release-eng, sig/auth, sig/apps, approved, sig/windows, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/architecture, area/conformance, area/code-generation, area/ipvs, sig/cloud-provider, needs-priority, area/e2e-test-framework, area/dependency, triage/accepted, area/network-policy, wg/structured-logging

#109119 compact scheduling failure msg for taint/toleration mismatch
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration_test.go
Labels: area/kubelet, kind/cleanup, sig/scheduling, lgtm, sig/node, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#109239 set parallelism in integration tests using GOMAXPROCS
  hack/make-rules/test-integration.sh
Labels: priority/critical-urgent, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#109238 Flake fix: validate each expression once in primary CEL correctness suite
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
Labels: priority/critical-urgent, kind/cleanup, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, triage/accepted

#109170 Correctly attribute some data structures from gotestsum repository
  LICENSES/third_party/forked/gotestsum/LICENSE
  LICENSES/third_party/forked/gotestsum/NOTICE
  cmd/prune-junit-xml/prunexml.go
  third_party/forked/gotestsum/LICENSE
  third_party/forked/gotestsum/NOTICE
  third_party/forked/gotestsum/junitxml/report.go
Labels: kind/cleanup, lgtm, size/XL, release-note-none, approved, release-blocker, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#107178 kube-controller-manager: remove unused option deployment-controller-sync-period for deployment controller
  api/api-rules/violation_exceptions.list
  cmd/kube-controller-manager/app/options/deploymentcontroller.go
  cmd/kube-controller-manager/app/options/options_test.go
  pkg/controller/deployment/config/types.go
  pkg/controller/deployment/config/v1alpha1/defaults.go
  pkg/controller/deployment/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/deployment/config/zz_generated.deepcopy.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/types.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/zz_generated.deepcopy.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, release-note, size/S, kind/api-change, sig/apps, approved, cncf-cla: yes, area/code-generation, triage/accepted

#109222 use privileged enforce level for nfs test
  test/e2e/node/kubelet.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, kind/flake, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#105599 fix: pod workers test
  pkg/kubelet/pod_workers_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#109242 Add separate cost limit test.
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#109269 Fix local-up-cluster for running only an API server
  hack/local-up-cluster.sh
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#109272 Move cron job feature gate to correct file
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/cronjob_controllerv2_test.go
  pkg/features/kube_features.go
  pkg/registry/batch/cronjob/strategy.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: kind/bug, priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-triage

#109271 Revert "Enable ServerSideFieldValidation feature gate on by default in beta
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/e2e/kubectl/kubectl.go
Labels: kind/bug, area/test, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, sig/cli, cncf-cla: yes, sig/testing, kind/regression, needs-triage

#109050 rest: Ensure response body is fully read and closed before retry
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
Labels: priority/critical-urgent, kind/cleanup, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#109245 Fix: abort nominating a pod that was already scheduled to a node
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, triage/accepted

#108664 Add initial E2E tests for `AnyVolumeDatasource` feature
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/utils/create.go
  test/e2e/testing-manifests/storage-csi/any-volume-datasource/crd/hello-populator-crd.yaml
  test/e2e/testing-manifests/storage-csi/any-volume-datasource/crd/populator.storage.k8s.io_volumepopulators.yaml
  test/e2e/testing-manifests/storage-csi/any-volume-datasource/hello-populator-deploy.yaml
  test/e2e/testing-manifests/storage-csi/any-volume-datasource/volume-data-source-validator/rbac-data-source-validator.yaml
  test/e2e/testing-manifests/storage-csi/any-volume-datasource/volume-data-source-validator/setup-data-source-validator.yaml
  test/utils/image/csi_manifests_test.go
Labels: area/test, priority/important-soon, lgtm, area/provider/gcp, sig/storage, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, triage/accepted

#109290 Fix error for inline migrated volumes
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#109114 client-go: make retry in Request thread safe
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#109246 Automated cherry pick of #109245: Fix: abort nominating a pod that was already scheduled to a
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#109247 Automated cherry pick of #109245: Fix: abort nominating a pod that was already scheduled to a
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#109248 Automated cherry pick of #109245: Fix: abort nominating a pod that was already scheduled to a
  pkg/scheduler/factory.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#109154 Fix translation of Azure availability zones
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, approved, cncf-cla: yes, triage/accepted

#109020 Automated cherry pick of #108752: Fix: Clean job tracking finalizer from orphan pods
  pkg/controller/job/job_controller.go
  test/integration/job/job_test.go
Labels: kind/bug, area/test, priority/critical-urgent, priority/backlog, lgtm, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#109267 Promote Read, Replace, Patch BatchV1NamespacedJobStatus test - +3 endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/apps/job.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#109213 Feature flag change when moving from alpha to beta
  pkg/features/kube_features.go
Labels: sig/network, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#108867 storage capacity conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/storage/csistoragecapacity.go
Labels: area/test, kind/cleanup, sig/scheduling, area/apiserver, lgtm, sig/storage, size/S, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, area/code-generation, needs-priority, needs-triage

#109256 Fix the nil pointer dereference for comformance spec validation
  test/conformance/walk.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#109294 Add NetworkPolicyStatus to ineligible_endpoints.yaml
  test/conformance/testdata/ineligible_endpoints.yaml
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, needs-priority, triage/accepted

#109314 fix the retry logic in ssh in test framework
  test/e2e/framework/ssh/ssh.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#109212 apimachinery: remove implicit copy of a lock
  staging/src/k8s.io/apimachinery/pkg/util/managedfields/gvkparser.go
Labels: kind/bug, priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#109321 Disable newly enabled Conformance node->pod tests for Windows
  test/conformance/testdata/conformance.yaml
  test/e2e/common/network/networking.go
Labels: area/test, priority/critical-urgent, sig/network, lgtm, size/S, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, sig/architecture, area/conformance, needs-triage

#109216 Automated cherry pick of #109188 upstream release 1.23
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, kind/regression, triage/accepted

#109340 Revert generate name
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/util/dryrun/dryrun.go
  test/integration/dryrun/dryrun_test.go
Labels: kind/bug, area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#109205 Add or Remove PV deletion protection finalizer based on PV recalimPolicy
  pkg/controller/volume/persistentvolume/delete_test.go
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/provision_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/L, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#109362 Rollback HonorPVReclaimPolicy feature to Alpha
  pkg/features/kube_features.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#109365 Retry Job update on conflict
  test/e2e/apps/job.go
Labels: kind/bug, area/test, lgtm, size/S, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#109109 Add apf_execution_time log field.
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#109461 [GO] Update Go to 1.18.1
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#109462 [release-1.23] [go] Update Go to 1.17.9
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, area/provider/gcp, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, area/dependency, triage/accepted

#109465 Update publishing-bot rules for Go 1.17.9
  staging/publishing/rules.yaml
Labels: lgtm, size/M, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, needs-triage

#109470 etcd: Build 3.5.3-0 image
  build/common.sh
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
  test/conformance/image/Makefile
  test/utils/image/manifest.go
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, sig/api-machinery, size/M, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, needs-triage

#109471 etcd: Update to v3.5.3
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  pkg/credentialprovider/keyring.go
  staging/src/k8s.io/kube-aggregator/artifacts/self-contained/etcd-pod.yaml
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/nodes_util.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, kind/cleanup, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, approved, release-blocker, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, needs-triage

#109484 Update min golang version to 1.18.1
  hack/lib/golang.sh
Labels: priority/critical-urgent, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#109473 Fix crash in E2E Job lifecycle test when the job doesn't have annotations
  test/e2e/apps/job.go
Labels: area/test, priority/critical-urgent, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, triage/accepted

#109488 Ensure that not-exist and pattern error return different results
  staging/src/k8s.io/cli-runtime/pkg/resource/builder.go
  staging/src/k8s.io/cli-runtime/pkg/resource/builder_test.go
Labels: kind/bug, priority/backlog, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, kind/regression, triage/accepted

#109487 Disable JobTrackingWithFinalizers due to unresolved bug
  pkg/features/kube_features.go
  test/integration/job/job_test.go
Labels: kind/bug, area/test, priority/critical-urgent, area/batch, lgtm, release-note, size/XS, sig/apps, approved, cncf-cla: yes, sig/testing, kind/regression, needs-triage

#109567 [release-1.24] Update publishing-bot rules
  staging/publishing/rules.yaml
Labels: priority/critical-urgent, lgtm, size/XXL, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#109541 Disable Intree GCE PD tests by default
  test/e2e/storage/in_tree_volumes.go
Labels: kind/bug, area/test, priority/critical-urgent, kind/cleanup, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#109615 Automated cherry pick of #109541: Disable Intree GCE PD tests by default
  test/e2e/storage/in_tree_volumes.go
Labels: area/test, priority/critical-urgent, lgtm, sig/storage, size/XS, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#109592 windows GCE: Bumps containerd version to 1.6.2
  cluster/gce/windows/k8s-node-setup.psm1
Labels: area/test, priority/important-soon, lgtm, area/provider/gcp, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, sig/cloud-provider, triage/accepted

#109620 Automated cherry pick of #109592: windows GCE: Bumps containerd version to 1.6.2
  cluster/gce/windows/k8s-node-setup.psm1
Labels: area/test, priority/critical-urgent, lgtm, area/provider/gcp, size/XS, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, sig/cloud-provider, triage/accepted

#109658 Bump cAdvisor to v0.44.1
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/container/containerd/client.go
  vendor/github.com/google/cadvisor/container/containerd/handler.go
  vendor/modules.txt
Labels: kind/bug, priority/critical-urgent, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, area/dependency, triage/accepted

#108601 Automated cherry pick of #108000: azure_file: add namespace tests for InTree to CSI
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#108600 Automated cherry pick of #108000: azure_file: add namespace tests for InTree to CSI
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#108602 Automated cherry pick of #108000: azure_file: add namespace tests for InTree to CSI
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#108883 Automated cherry pick of #107845: kubelet: If the container status is created, we are waiting
  pkg/kubelet/kubelet_pods.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, kind/regression, triage/accepted

#108888 Automated cherry pick of #108496: iptables: remove port opener
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/L, cherry-pick-approved, approved, cncf-cla: yes, area/ipvs, needs-triage

#109447 Automated cherry pick of #109442: Correct event registration for multiple scheduler plugins.
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodename/node_name.go
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/testing/wrappers.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#108885 Automated cherry pick of #108496: iptables: remove port opener
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/L, cherry-pick-approved, approved, cncf-cla: yes, area/ipvs, needs-triage

#109446 Automated cherry pick of #109442: Correct event registration for multiple scheduler plugins.
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodename/node_name.go
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/testing/wrappers.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#108896 Automated cherry pick of #108496: iptables: remove port opener
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/L, cherry-pick-approved, approved, cncf-cla: yes, area/ipvs, needs-triage

#109206 Automated cherry pick of #108167: Fix nodes volumesAttached status not updated
  pkg/controller/volume/attachdetach/cache/actual_state_of_world.go
  pkg/controller/volume/attachdetach/cache/actual_state_of_world_test.go
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/statusupdater/fake_node_status_updater.go
  pkg/controller/volume/attachdetach/statusupdater/node_status_updater.go
  pkg/controller/volume/attachdetach/statusupdater/node_status_updater_test.go
Labels: kind/bug, lgtm, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#109076 Automated cherry pick of #109074: kubeadm: add etcd flag for member data consistency
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/etcd/local_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/M, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#109540 Automated cherry pick of #105676: Fix name for Pods of NonIndexed Jobs
  pkg/controller/controller_utils.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, lgtm, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, kind/regression, triage/accepted

#109075 Automated cherry pick of #109074: kubeadm: add etcd flag for member data consistency
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/etcd/local_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/M, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#109235 Automated cherry pick of #106969: kubectl: fix hard-coded value in zsh completion
  staging/src/k8s.io/kubectl/pkg/cmd/completion/completion.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/XS, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, kind/regression, triage/accepted

#109257 Automated cherry pick of #108553: fix: race detected in TestErrConnKilled
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#109512 Automated cherry pick of #108429: Allow KUBE_TEST_REPO_LIST to be a remote url as well
  cluster/gce/gci/configure.sh
  test/utils/image/manifest.go
Labels: area/test, lgtm, area/provider/gcp, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, kind/failing-test, sig/cloud-provider, needs-priority, needs-triage

#109466 Automated cherry pick of #109442: Correct event registration for multiple scheduler plugins.
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/testing/wrappers.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#108890 Automated cherry pick of #108613: Fix a bug that out-of-tree plugin is misplaced when using
  cmd/kube-scheduler/app/server_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#109675 Automated cherry pick of #109658: Bump cAdvisor to v0.44.1
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/container/containerd/client.go
  vendor/github.com/google/cadvisor/container/containerd/handler.go
  vendor/modules.txt
Labels: kind/bug, priority/critical-urgent, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, area/dependency, triage/accepted
