Repository kubernetes/kubernetes, pull requests merged in 2022-02, with the labels that each got.

#105954 extend sa token if audience is apiserver
  pkg/registry/core/serviceaccount/storage/storage.go
  pkg/registry/core/serviceaccount/storage/token.go
  test/integration/auth/svcaccttoken_test.go
Labels: kind/bug, area/test, lgtm, release-note, size/M, sig/auth, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, needs-triage

#100883 Add tests for LessThanOrEqual
  staging/src/k8s.io/apiserver/pkg/quota/v1/resources_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#107386 Fix kubetest errors when executing local provider
  cluster/kubectl.sh
  hack/lib/util.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#107470 Optimize cronjob controller status updates
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/cronjob_controllerv2_test.go
Labels: kind/bug, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#107639 Automated cherry pick of #99398: Fix DaemonSet status update retry
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#106883 kubeadm: move well-known system constants to constants.go
  cmd/kubeadm/app/apis/output/fuzzer/fuzzer.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/addons/proxy/proxy.go
  cmd/kubeadm/app/phases/bootstraptoken/node/tlsbootstrap.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#107904 Update azure auth plugin deprecation to warning
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go
Labels: priority/important-soon, kind/cleanup, lgtm, release-note, size/XS, sig/auth, approved, cncf-cla: yes, ok-to-test, kind/deprecation, triage/accepted

#105300 Allow cloud controller manager flags to be set in ./hack/local-up-cluster.sh
  hack/local-up-cluster.sh
Labels: lgtm, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#107902 Automated cherry pick of #107786: Revert "Fix comparison between FQDN and hostname"
  test/e2e/network/service.go
  test/e2e/network/util.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, lgtm, release-note, area/provider/openstack, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#107532 Add option to bootstrap kubeconfig for hollow-node
  cmd/kubemark/hollow-node.go
Labels: sig/scalability, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#107876 Fix concurrent usage issue of the same scheme
  pkg/controller/garbagecollector/garbagecollector_test.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter_test.go
  staging/src/k8s.io/client-go/metadata/fake/simple.go
  staging/src/k8s.io/client-go/metadata/fake/simple_test.go
  staging/src/k8s.io/client-go/metadata/metadatainformer/informer_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#107913 [Summary API [NodeConformance]] Increase timeout for initial /stats/summary validation
  test/e2e_node/summary_test.go
Labels: area/test, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#107915 E2E: {cpu,topology} manager: improve debuggability
  test/e2e_node/topology_manager_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#107900 kubelet: Pods that have terminated before starting should not block startup
  pkg/kubelet/pod_workers.go
  pkg/kubelet/pod_workers_test.go
  test/e2e_node/mirror_pod_grace_period_test.go
Labels: kind/bug, area/test, priority/critical-urgent, area/kubelet, lgtm, sig/node, release-note, size/XL, approved, cncf-cla: yes, sig/testing, triage/accepted

#107832 [CI Job failure] Fix job containerd-e2e-ubuntu
  cluster/gce/gci/configure.sh
Labels: priority/important-soon, lgtm, area/provider/gcp, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, triage/accepted

#107162 Add manually invalidate cache documentation into delete
  hack/testdata/CRD/example-crd-1-cluster-scoped-resource.yaml
  hack/testdata/CRD/example-crd-1-cluster-scoped.yaml
  hack/testdata/CRD/example-crd-1-namespaced-resource.yaml
  hack/testdata/CRD/example-crd-1-namespaced.yaml
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  test/cmd/discovery.sh
  test/cmd/legacy-script.sh
Labels: kind/bug, area/test, kind/cleanup, area/kubectl, lgtm, sig/api-machinery, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#107764 wrap error from RunCordonOrUncordon
  staging/src/k8s.io/kubectl/pkg/drain/default.go
Labels: kind/bug, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#107940 Update CHANGELOG OWNERS with 1.24 release note team members
  CHANGELOG/OWNERS
Labels: kind/documentation, kind/cleanup, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#105297 RunCordonOrUncordon error if drainer has nil Ctx or Client
  staging/src/k8s.io/kubectl/pkg/drain/default.go
  staging/src/k8s.io/kubectl/pkg/drain/default_test.go
Labels: kind/bug, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, lifecycle/stale, needs-priority, needs-triage

#107740 legacy-script.sh fixes - junit output and add missing record_command
  test/cmd/README.md
  test/cmd/legacy-script.sh
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#107666 dual-stack feature gate ga
  pkg/features/kube_features.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#107941 Fixed typo in hack/serve-prom-scrapes.sh
  hack/serve-prom-scrapes.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#107942 for ./OWNERS, ensure approvers are in reviewers and emeritus approver…
  OWNERS
Labels: kind/cleanup, lgtm, size/XS, sig/contributor-experience, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#107924 fix flake in detach tests
  pkg/volume/testing/testing.go
Labels: lgtm, sig/storage, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#107935 Wire contexts to Disruption controllers
  cmd/kube-controller-manager/app/policy.go
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
  test/integration/disruption/disruption_test.go
  test/integration/evictions/evictions_test.go
  test/integration/scheduler/util.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#107947 Make ShowManagedFields public so printers users can tweak the value
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/json_yaml_flags.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#106715 set secondary address on host-network pods
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, needs-priority, needs-triage

#107623 Optimize pod topology spread performance
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#107956 Deeply copy JSONSchemaProps.XValidations.
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/deepcopy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/deepcopy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/deepcopy.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/S, kind/api-change, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#107961 Add 1.23 release note for x509 commonname
  CHANGELOG/CHANGELOG-1.23.md
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#107348 release-note: Describe issues around node admission in 1.22
  CHANGELOG/CHANGELOG-1.22.md
Labels: kind/documentation, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#107656 Add labels when there sig aliases used in approvers/reviewers
  pkg/apis/policy/OWNERS
  staging/src/k8s.io/api/policy/OWNERS
  staging/src/k8s.io/component-base/OWNERS
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#107877 make test-e2e-node: default to containerd
  build/root/Makefile
  hack/make-rules/test-e2e-node.sh
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#107975 refactor: rename webhook duration tracker
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/plugin_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/plugin_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/webhook_duration.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/webhook_duration.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/webhook_duration_test.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, needs-triage

#107968 Automated cherry pick of #107956: Deeply copy JSONSchemaProps.XValidations.
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/deepcopy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/deepcopy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/deepcopy.go
Labels: priority/important-soon, lgtm, sig/api-machinery, size/S, kind/api-change, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#107971 Fix kubelet cri round trip test
  pkg/kubelet/cri/remote/conversion_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#107982 kubeadm: fix the bug that 'kubeadm certs generate-csr' command does not remove duplicated SANs
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#101028 Fixes zone/region labels setup and kubelet stucking on startup if credentials stored in secret for legacy vSphere cloudprovider.
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/L, release-note-action-required, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, triage/accepted

#107992 fix flake in TestTimeoutHeaders
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#106241 Added env variable for cloud-provider
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure-kubeapiserver.sh
  cluster/gce/util.sh
Labels: priority/important-soon, lgtm, area/provider/gcp, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-triage

#107995 Use zip instead of git-archive
  hack/jenkins/update-dockerized.sh
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#107618 FlushFrequency config type
  staging/src/k8s.io/component-base/config/types.go
  staging/src/k8s.io/component-base/config/v1alpha1/types.go
Labels: kind/bug, priority/important-soon, kind/documentation, sig/scheduling, lgtm, sig/api-machinery, release-note, size/S, kind/api-change, approved, cncf-cla: yes, sig/instrumentation, api-review, triage/accepted, wg/structured-logging

#103642 refactor unreserve test
  test/integration/scheduler/framework_test.go
Labels: area/test, sig/scheduling, lgtm, area/provider/gcp, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#105483 cacher: Use watchCacheInterval to reduce lock contention
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#107812 add fieldPath back to event logs
  staging/src/k8s.io/client-go/tools/record/event.go
Labels: lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, kind/regression, triage/accepted

#107785 kubeadm: warn only when config value is different with default value
  cmd/kubeadm/app/componentconfigs/kubelet.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#107236 GCEPD: fix incorrect return value in WaitForAttach
  pkg/volume/gcepd/attacher.go
Labels: kind/bug, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#107834 code-generator: fix the bug that ApplyConfiguration constructor missing WithKind/WithAPIVersion methods
  staging/src/k8s.io/client-go/applyconfigurations/apps/v1beta2/scale.go
  staging/src/k8s.io/client-go/applyconfigurations/autoscaling/v1/scale.go
  staging/src/k8s.io/client-go/applyconfigurations/extensions/v1beta1/scale.go
  staging/src/k8s.io/client-go/applyconfigurations/meta/v1/deleteoptions.go
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/applyconfiguration.go
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/types.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, area/code-generation, triage/accepted

#107096 Remove deprecated flag --non-masquerade-cidr in kubelet
  cluster/gce/util.sh
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, area/provider/gcp, sig/node, release-note, size/S, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#107983 Remove option 'T' from wget on Windows
  test/e2e/network/service.go
Labels: kind/bug, area/test, sig/network, lgtm, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, ok-to-test, triage/accepted

#107770 Fix wrong status code in unit test error messages and replace deprecated function call
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#107950 Verify that DeleteCollection respects context cancellation
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#107974 Add log for the error extender returns
  pkg/scheduler/generic_scheduler.go
Labels: sig/scheduling, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#108001 check activeQ.Len() before Pop()
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/bug, sig/scheduling, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#107296 GCE L4 load balancer: enable migration of Instance Group management out of K/K.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_alpha.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instancegroup.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Labels: kind/cleanup, lgtm, area/cloudprovider, size/M, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#107552 e2e test for CVE-2021-29923
  test/e2e/network/funny_ips.go
Labels: area/test, sig/network, kind/cleanup, lgtm, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#108002 kubeadm: fix the bug that 'kubeadm init --dry-run --upload-certs' command failed with 'secret not found' error
  cmd/kubeadm/app/util/apiclient/dryrunclient.go
  cmd/kubeadm/app/util/apiclient/init_dryrun.go
  cmd/kubeadm/app/util/apiclient/init_dryrun_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#107880 Add command to request a bound service account token
  pkg/registry/core/serviceaccount/storage/token.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/pkg/cmd/create/create.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_token.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_token_test.go
  test/integration/auth/svcaccttoken_test.go
Labels: area/test, priority/important-soon, area/kubectl, lgtm, release-note, size/XL, kind/feature, sig/auth, approved, sig/cli, cncf-cla: yes, sig/testing, area/dependency, triage/accepted

#107175 Fix examples of admission registration rules that contain wildcards
  pkg/apis/admissionregistration/validation/validation.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#103934 De-duplicate predicate (known as filter now) logic shared in kubelet and scheduler
  pkg/kubelet/lifecycle/predicate.go
  pkg/kubelet/lifecycle/predicate_test.go
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/testing/wrappers.go
  test/e2e/framework/.import-restrictions
Labels: area/test, priority/backlog, area/kubelet, kind/cleanup, sig/scheduling, lgtm, area/provider/gcp, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, ok-to-test, area/e2e-test-framework, triage/accepted

#107835 reuse InformerFactory in scheduler tests
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/internal/queue/testing.go
  pkg/scheduler/scheduler_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, needs-priority, needs-triage

#107112 Consider threads-max when deciding MaxPID.
  pkg/kubelet/stats/pidlimit/pidlimit_linux.go
  staging/src/k8s.io/kubelet/pkg/apis/stats/v1alpha1/types.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#107108 Read number of running processes from /proc/loadavg.
  pkg/kubelet/stats/pidlimit/pidlimit_linux.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#108007 cm: Remove legacy docker references
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/helpers_linux.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#107481 Remove dashboard cluster addon
  cluster/addons/dashboard/OWNERS
  cluster/addons/dashboard/README.md
  cluster/addons/dashboard/dashboard.yaml
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/util.sh
  hack/local-up-cluster.sh
  test/e2e/e2e_test.go
  test/e2e/ui/dashboard.go
  test/e2e/ui/framework.go
Labels: area/test, kind/documentation, lgtm, area/provider/gcp, release-note, size/L, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, kind/deprecation, needs-triage

#106279 Add note for the deprecated vSphere 6.5
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/connection.go
Labels: kind/cleanup, lgtm, area/cloudprovider, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#108039 resttest: Modify TestContext to have namespace in context
  staging/src/k8s.io/apiserver/pkg/registry/rest/resttest/resttest.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, needs-triage

#108029 update the --runtime-config handling to ensure that user preferences always take priority over hardcoded preferences
  cmd/kube-apiserver/app/aggregator.go
  pkg/controlplane/instance.go
  staging/src/k8s.io/apiserver/pkg/server/resourceconfig/helpers.go
  staging/src/k8s.io/apiserver/pkg/server/resourceconfig/helpers_test.go
  staging/src/k8s.io/apiserver/pkg/server/storage/resource_config.go
  staging/src/k8s.io/apiserver/pkg/server/storage/resource_config_test.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, triage/accepted

#107921 Add Ingress Class to kubectl describe ingress output
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: priority/backlog, area/kubectl, lgtm, release-note, size/M, kind/feature, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#107988 Automated cherry pick of #106715: set secondary address on host-network pods
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#107210 feat: add container name when violate quota constraints
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/pods_test.go
Labels: lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#108055 Catch unused API compatibility fixtures
  hack/update-generated-api-compatibility-data.sh
  staging/src/k8s.io/api/roundtrip_test.go
  staging/src/k8s.io/api/testdata/HEAD/autoscaling.v2.HorizontalPodAutoscaler.json
  staging/src/k8s.io/api/testdata/HEAD/autoscaling.v2.HorizontalPodAutoscaler.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.JobTemplate.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.JobTemplate.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.JobTemplate.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.CronJob.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.CronJob.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.CronJob.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.JobTemplate.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.JobTemplate.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v2alpha1.JobTemplate.yaml
  staging/src/k8s.io/api/testdata/HEAD/core.v1.EphemeralContainers.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.EphemeralContainers.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.EphemeralContainers.yaml
  staging/src/k8s.io/api/testdata/HEAD/core.v1.ExportOptions.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.ExportOptions.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.ExportOptions.yaml
  staging/src/k8s.io/api/testdata/HEAD/discovery.k8s.io.v1alpha1.EndpointSlice.json
  staging/src/k8s.io/api/testdata/HEAD/discovery.k8s.io.v1alpha1.EndpointSlice.pb
  staging/src/k8s.io/api/testdata/HEAD/discovery.k8s.io.v1alpha1.EndpointSlice.yaml
  staging/src/k8s.io/api/testdata/v1.23.0/autoscaling.v2.HorizontalPodAutoscaler.json
  staging/src/k8s.io/api/testdata/v1.23.0/autoscaling.v2.HorizontalPodAutoscaler.pb
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/compatibility.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XXL, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#108058 Remove verult from OWNERS files
  pkg/kubelet/volumemanager/OWNERS
  pkg/volume/gcepd/OWNERS
  test/e2e/testing-manifests/storage-csi/OWNERS
Labels: area/test, area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#107774 fix: data race when hijack klog
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, kind/failing-test, triage/accepted

#107851 Automated cherry pick of #107575: fix: azurefile volumeid conflict in csi migration
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#108053 Change level for klog.Fatal in kubectl
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Labels: kind/cleanup, area/kubectl, lgtm, release-note, size/XS, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#108020 Remove tolerate-unready-endpoints annotation
  pkg/controller/endpoint/endpoints_controller.go
Labels: sig/network, lgtm, release-note, size/S, sig/apps, approved, cncf-cla: yes, needs-priority, kind/deprecation, needs-triage

#107850 Automated cherry pick of #107575: fix: azurefile volumeid conflict in csi migration
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#107578 Automated cherry pick of #107406: fix: delete non existing disk issue
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/XS, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#107609 Automated cherry pick of #106581: Enabling kube-proxy metrics on windows kernel mode
  cmd/kube-proxy/app/server_windows.go
  pkg/proxy/winkernel/metrics.go
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, sig/instrumentation, triage/accepted

#108054 cluster/ - Configure containerd only if necessary
  cluster/gce/gci/configure-helper.sh
Labels: kind/bug, lgtm, area/provider/gcp, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, needs-priority, needs-triage

#108059 Vendor in k8s.io/utils Changes
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/modules.txt
Labels: priority/backlog, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, ok-to-test, area/dependency, needs-triage

#108038 Remove feature gate `SetHostnameAsFQDN`
  pkg/features/kube_features.go
Labels: priority/important-soon, lgtm, sig/node, release-note, size/S, kind/feature, approved, cncf-cla: yes, triage/accepted

#108052 Fix bug in TopologyManager with merging hints when NUM_NUMA > 2
  pkg/kubelet/cm/topologymanager/policy.go
  pkg/kubelet/cm/topologymanager/policy_best_effort_test.go
  pkg/kubelet/cm/topologymanager/policy_restricted_test.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node_test.go
  pkg/kubelet/cm/topologymanager/policy_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#107712 Update CHANGELOG-1.23.md to delete reverted change
  CHANGELOG/CHANGELOG-1.23.md
Labels: kind/documentation, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#108044 Improve test coverage: add unit tests `TestReadAtMost` in `pkg/util/tail`
  pkg/util/tail/tail_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#107594 Clean up logic for deprecated flag --container-runtime in kubelet
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/options/options_test.go
  cmd/kubelet/app/server.go
  pkg/kubelet/cadvisor/cadvisor_linux_test.go
  pkg/kubelet/cadvisor/helpers_linux.go
  pkg/kubelet/cadvisor/helpers_unsupported.go
  pkg/kubelet/cadvisor/util.go
  pkg/kubelet/cm/helpers_linux.go
  pkg/kubelet/cm/helpers_unsupported.go
  pkg/kubelet/config/flags.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/container/testing/runtime_mock.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_linux_test.go
  pkg/kubelet/kubelet_pods_windows_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/stats/host_stats_provider.go
  pkg/kubelet/stats/host_stats_provider_test.go
  pkg/kubemark/hollow_kubelet.go
Labels: area/test, priority/important-soon, area/kubelet, kind/cleanup, sig/scalability, lgtm, area/provider/gcp, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, area/e2e-test-framework, triage/accepted

#107737 Enable node restriction plugin by default for local clusters
  hack/local-up-cluster.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#107887 Fix panic in Kubelet
  pkg/volume/csi/csi_attacher.go
Labels: kind/bug, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#108070 Remove util/selinux package
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/util/selinux/doc.go
  pkg/util/selinux/selinux.go
  pkg/util/selinux/selinux_linux.go
  pkg/util/selinux/selinux_unsupported.go
  pkg/volume/util/hostutil/hostutil_linux.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, area/code-organization, triage/accepted

#107142 Completions for kubectl config delete-user
  staging/src/k8s.io/kubectl/pkg/cmd/config/delete_user.go
  staging/src/k8s.io/kubectl/pkg/util/completion.go
Labels: area/kubectl, lgtm, release-note, size/S, kind/feature, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#106082 container_manager: use oomScoreAdj instead of default when set
  cmd/kubelet/app/server.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#108090 endpointslice: don't try to update topology cache if node informer error
  pkg/controller/endpointslice/endpointslice_controller.go
Labels: kind/bug, sig/network, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#108091 [go] Update Go to 1.17.7
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#108047 Fix validation of event updates
  pkg/registry/core/event/strategy.go
  pkg/registry/core/event/strategy_test.go
  test/e2e/instrumentation/events.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, triage/accepted

#108101 [release-1.22] [go] Update Go to 1.16.14
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, area/provider/gcp, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#108102 [release-1.21] [go] Update Go to 1.16.14
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
  test/images/sample-apiserver/Makefile
Labels: area/test, priority/important-soon, lgtm, area/provider/gcp, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, area/dependency, triage/accepted

#108100 [release-1.23] [go] Update Go to 1.17.7
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, area/provider/gcp, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, area/dependency, triage/accepted

#108103 Update publishing-bot rules for Go 1.17.7 / 1.16.14
  staging/publishing/rules.yaml
Labels: lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, triage/accepted

#107701 perf:logic-optimiz-for-DetermineVolumeAction
  pkg/controller/volume/attachdetach/util/util.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#108093 Remove unused `--container-runtime` e2e.test flag
  test/e2e/framework/test_context.go
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/services/kubelet.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#107945 Add support for CRI `verbose` fields
  pkg/kubelet/cri/remote/conversion.go
  pkg/kubelet/cri/remote/conversion_test.go
  pkg/kubelet/cri/remote/fake/fake_image_service.go
  pkg/kubelet/cri/remote/fake/fake_runtime.go
  pkg/kubelet/cri/remote/remote_image.go
  pkg/kubelet/cri/remote/remote_runtime.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/instrumented_services.go
  pkg/kubelet/kuberuntime/instrumented_services_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  pkg/kubelet/kuberuntime/kuberuntime_gc.go
  pkg/kubelet/kuberuntime/kuberuntime_gc_test.go
  pkg/kubelet/kuberuntime/kuberuntime_image.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/logs/container_log_manager.go
  staging/src/k8s.io/cri-api/pkg/apis/services.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_image_service.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_runtime_service.go
  test/e2e_node/container_log_rotation_test.go
  test/e2e_node/image_list.go
Labels: area/test, priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#108111 test: bump nfs-provisioner to 3.0.1
  test/utils/image/manifest.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#104698 Add Windows node reboot
  test/e2e/windows/reboot_node.go
Labels: area/test, lgtm, size/L, kind/api-change, release-note-none, approved, sig/windows, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#108123 Fix incorrect parameters in EndpointsEqualBeyondHash
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
Labels: kind/bug, sig/network, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#107791 Automated cherry pick of #107789: Mark device as uncertain if unmount device succeeds
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/XS, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#108012 Automated cherry pick of #107789: Mark device as uncertain if unmount device succeeds
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/XS, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#107909 🤓 simple grammar fix
  pkg/apis/coordination/validation/validation.go
  pkg/volume/csi/csi_client.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/view.go
Labels: kind/cleanup, area/kubectl, lgtm, sig/storage, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#107792 Automated cherry pick of #107789: Mark device as uncertain if unmount device succeeds
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/XS, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#108045 Mark pod-infra-container-image flag as deprecated
  pkg/kubelet/config/flags.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, kind/deprecation, triage/accepted

#107810 Add v1.Secret to go-flow-levee analysis targets
  hack/testdata/levee/levee-config.yaml
Labels: lgtm, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, sig/security, needs-triage

#107533 kubeadm: apply "master" label/taint migration for 1.24
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/phases/markcontrolplane/markcontrolplane.go
  cmd/kubeadm/app/phases/markcontrolplane/markcontrolplane_test.go
  cmd/kubeadm/app/phases/upgrade/health.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/staticpod/utils.go
  test/e2e/framework/test_context.go
  test/e2e_kubeadm/controlplane_nodes_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, kind/feature, release-note-action-required, approved, area/kubeadm, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#107934 add warning when kubectl set env from secret leads to uppercase
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env_test.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, sig/api-machinery, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#108127 test/e2e_kubeadm: fix matching UnversionedKubeletConfigMap defaults
  test/e2e_kubeadm/kubelet_config_test.go
Labels: area/test, priority/important-soon, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#108057 log grabbing: obtain timestamps on extra services
  cluster/log-dump/log-dump.sh
Labels: kind/bug, priority/important-soon, sig/scalability, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#108094 Remove unused `--dockershim-checkpoint-dir` e2e.test flag
  test/e2e/framework/test_context.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#107670 Suppress container not found errors in container runtime getPodStatuses
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#108143 Forbid empty AppArmor localhost profile
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/policy/validation/validation.go
  pkg/security/apparmor/OWNERS
  pkg/security/apparmor/validate.go
  pkg/security/apparmor/validate_test.go
Labels: kind/bug, lgtm, sig/node, size/L, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#108162 Parse mount options with double quotes and commas correctly
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/mount-utils/mount_helper_unix_test.go
Labels: kind/bug, priority/backlog, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, needs-triage

#107610 Automated cherry pick of #106581: Enabling kube-proxy metrics on windows kernel mode
  cmd/kube-proxy/app/server_windows.go
  pkg/proxy/winkernel/metrics.go
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, sig/instrumentation, triage/accepted

#108171 storage: etcd: remove a duplicate test case
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#108147 Don't decorate admission for audit when audit is disabled
  staging/src/k8s.io/apiserver/pkg/admission/audit.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#108173 storage: etcd: use sub-tests
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#107705 Discard null values in complex objects in strategic patch
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch.go
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#107848 FieldValidation tests for endpoints apiserver and benchmarks for integration tests
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  test/integration/apiserver/field_validation_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, triage/accepted

#108165 Stop setting selfLink in kubectl
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_test.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: area/kubectl, lgtm, size/S, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, needs-triage

#106539 Replace url label in rest client latency metrics by host and path
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/S, approved, cncf-cla: yes, sig/instrumentation, triage/accepted

#108174 storage: transformers: pass a context.Context
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/aes/aes.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/aes/aes_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/envelope.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/envelope_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/identity/identity.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/secretbox/secretbox.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/secretbox/secretbox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer.go
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer_test.go
  test/integration/controlplane/kms_transformation_test.go
  test/integration/controlplane/secrets_transformation_test.go
  test/integration/controlplane/transformation_testcase.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#108164 Automated cherry pick of #107670: Ignore container notfound error while getPodstatuses
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#108122 Fix broken link for common.sh
  build/README.md
Labels: kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, needs-priority, needs-triage

#108179 Add serathius to etcd image owners
  cluster/images/etcd/OWNERS
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#108192 remove docker installation from startup scripts
  cluster/addons/node-problem-detector/npd.yaml
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
  test/e2e_node/jenkins/cos-init-docker.yaml
  test/e2e_node/jenkins/ubuntu-init-docker.yaml
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, needs-triage

#107684 kube-proxy: only set route_localnet if required
  pkg/proxy/iptables/proxier.go
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
Labels: sig/network, kind/cleanup, lgtm, release-note, size/L, approved, cncf-cla: yes, needs-priority, needs-triage

#107806 Env var for additional flags sent to the csi-proxy binary
  cluster/gce/config-common.sh
  cluster/gce/util.sh
  cluster/gce/windows/k8s-node-setup.psm1
Labels: lgtm, area/provider/gcp, release-note, size/XS, kind/feature, approved, sig/windows, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#104334 Revert #104308 to bring back LockContention tests
  test/e2e_node/lock_contention_linux_test.go
Labels: area/test, lgtm, sig/node, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#107697 Nested decoders handle strict decoding errors
  pkg/scheduler/apis/config/scheme/scheme_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/interfaces.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning_test.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta3/types.go
Labels: kind/bug, sig/scheduling, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#108034 Add crit-tools arm64 sha512 hash to configure.sh
  cluster/gce/gci/configure.sh
Labels: lgtm, area/provider/gcp, release-note, size/M, kind/feature, approved, cncf-cla: yes, priority/important-longterm, sig/cloud-provider, ok-to-test, triage/accepted

#108198 Make EndpointSlice strategy move node name from topology map to field instead of discarding when updating via v1
  pkg/registry/discovery/endpointslice/strategy.go
  pkg/registry/discovery/endpointslice/strategy_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, release-note, size/L, approved, cncf-cla: yes, kind/regression, triage/accepted

#108172 storage: etcd: pass contexts correctly in TestConsistentList
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#105070 feat: turn on CSIMigrationAzureFile by default on 1.24
  pkg/features/kube_features.go
Labels: priority/important-soon, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#106671 Fix flaky test - when gracefully shutting down with Pod priority should be able to gracefully shutdown pods with various grace periods
  test/e2e_node/node_shutdown_linux_test.go
Labels: area/test, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#108190 storage: etcd: TestList: improve RV choices
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#106948 Simplify storage interface
  pkg/controlplane/reconcilers/lease.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/dryrun.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/interfaces.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
  test/integration/apiserver/apiserver_test.go
Labels: area/test, priority/backlog, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#108110 Update our repository to incorporate project health best practices from clomonitor.io
  README.md
Labels: kind/documentation, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, ok-to-test, needs-priority, needs-triage

#108211 storage: etcd: misc Watch test cleanups
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#108251 iptables tests cleanup
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/util/iptables/save_restore_test.go
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, size/XXL, release-note-none, approved, cncf-cla: yes, triage/accepted

#108160 [Fix pull-local-node-e2e] Install CNI and Enable containerd for kubekins docker
  hack/local-up-cluster.sh
Labels: priority/important-soon, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#107393 kube-proxy endpoint filtering unit test refactoring
  pkg/proxy/topology_test.go
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#108189 Automated cherry pick of #108164: Ignore container notfound error while getPodstatuses
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#108263 migrate more rest handlers to select by resource enablement
  pkg/controlplane/instance.go
  pkg/controlplane/instance_test.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/discovery/rest/storage_discovery.go
  pkg/registry/events/rest/storage_events.go
  pkg/registry/flowcontrol/rest/storage_flowcontrol.go
  pkg/registry/networking/rest/storage_settings.go
  pkg/registry/node/rest/runtime_class.go
  pkg/registry/policy/rest/storage_policy.go
  pkg/registry/rbac/rest/storage_rbac.go
  pkg/registry/scheduling/rest/storage_scheduling.go
  pkg/registry/storage/rest/storage_storage.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/storage/resource_config.go
  staging/src/k8s.io/kube-aggregator/pkg/registry/apiservice/rest/storage_apiservice.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XL, release-note-none, sig/auth, approved, cncf-cla: yes, needs-triage
