Repository kubernetes/kubernetes, pull requests merged in 2022-09, with the labels that each got.

#112134 Validate segments with client-go/dynamic
  staging/src/k8s.io/client-go/dynamic/client_test.go
  staging/src/k8s.io/client-go/dynamic/simple.go
Labels: kind/bug, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112159 Update to use GA PodSecurity webhook image
  staging/src/k8s.io/pod-security-admission/webhook/manifests/50-deployment.yaml
Labels: lgtm, size/XS, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#112155 Automated cherry pick of #112150: Improve kubectl display of invalid errors
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers_test.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, size/M, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, triage/accepted

#112154 Automated cherry pick of #112150: Improve kubectl display of invalid errors
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers_test.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, size/M, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, kind/regression, triage/accepted

#112156 Automated cherry pick of #112150: Improve kubectl display of invalid errors
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers_test.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, size/M, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, kind/regression, triage/accepted

#112175 kubeadm: too early return for reset with dry-run or force mode
  cmd/kubeadm/app/cmd/phases/reset/preflight.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#111865 Add e2e HPA tests: Scale to zero, scale a CRD targetRef
  test/e2e/autoscaling/custom_metrics_stackdriver_autoscaling.go
  test/e2e/autoscaling/horizontal_pod_autoscaling.go
  test/e2e/framework/autoscaling/autoscaling_utils.go
  test/e2e/upgrades/autoscaling/horizontal_pod_autoscalers.go
Labels: area/test, priority/important-soon, lgtm, sig/autoscaling, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, area/e2e-test-framework, triage/accepted

#111951 vsphere in-tree driver test fixes
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/testsuites/multivolume.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, kind/regression, triage/accepted

#112089 Fix typo "sturct" to "struct"
  staging/src/k8s.io/apimachinery/pkg/runtime/converter_test.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#108460 Prevent host access on VIP addresses in proxy-mode=ipvs
  pkg/proxy/ipvs/ipset.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/util/ipset/ipset.go
  pkg/util/ipset/types.go
Labels: kind/bug, sig/network, lgtm, size/M, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#112146 Move constant schedulerError in scheduler to v1 package
  pkg/scheduler/schedule_one.go
  staging/src/k8s.io/api/core/v1/types.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, api-review, needs-triage

#112183 Tolerate sub-microsecond eventTime changes on update
  pkg/apis/core/validation/events.go
  pkg/apis/core/validation/events_test.go
Labels: kind/bug, lgtm, release-note, size/M, kind/api-change, sig/apps, approved, cncf-cla: yes, needs-priority, api-review, needs-triage

#110695 code optimization: deal with error first to prevent unnecessary computing
  pkg/controller/podautoscaler/replica_calculator.go
Labels: kind/cleanup, lgtm, sig/autoscaling, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#112145 fix: `Node not found` when testcases is executed
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112106 Changelog-1.25: add 1.25.0 known issues section
  CHANGELOG/CHANGELOG-1.25.md
Labels: kind/documentation, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, kind/regression, needs-triage

#112195 Remove race between kubelet startup and mounter rootfs
  cluster/gce/gci/configure-helper.sh
Labels: kind/bug, priority/backlog, lgtm, area/provider/gcp, sig/storage, release-note, size/XS, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#112182 pkg/util/ipset: add sig-network to reviewers/approvers
  pkg/util/ipset/OWNERS
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112188 Automated cherry pick of #112183: Tolerate sub-microsecond eventTime changes on update
  pkg/apis/core/validation/events.go
  pkg/apis/core/validation/events_test.go
Labels: kind/bug, priority/important-soon, lgtm, size/M, kind/api-change, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#112189 Automated cherry pick of #112183: Tolerate sub-microsecond eventTime changes on update
  pkg/apis/core/validation/events.go
  pkg/apis/core/validation/events_test.go
Labels: kind/bug, priority/important-soon, lgtm, size/M, kind/api-change, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#112186 Automated cherry pick of #112183: Tolerate sub-microsecond eventTime changes on update
  pkg/apis/core/validation/events.go
  pkg/apis/core/validation/events_test.go
Labels: kind/bug, priority/important-soon, lgtm, size/M, kind/api-change, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#112187 Automated cherry pick of #112183: Tolerate sub-microsecond eventTime changes on update
  pkg/apis/core/validation/events.go
  pkg/apis/core/validation/events_test.go
Labels: kind/bug, priority/important-soon, lgtm, size/M, kind/api-change, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#112172 kubeadm: Add the option to cleanup the `tmp` directory
  cmd/kubeadm/app/cmd/options/constant.go
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode_test.go
  cmd/kubeadm/app/cmd/phases/reset/data.go
  cmd/kubeadm/app/cmd/phases/reset/data_test.go
  cmd/kubeadm/app/cmd/reset.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#112157 Avoid propagating "search ." into containers /etc/resolv.conf
  pkg/kubelet/network/dns/dns.go
  pkg/kubelet/network/dns/dns_test.go
Labels: kind/bug, sig/network, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, ok-to-test, needs-priority, kind/regression, needs-triage

#111311 Changed code to improve output for files under test/e2e/storage
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/external/external.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/regional_pd.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/volumeperf.go
  test/e2e/storage/utils/pod.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/vsphere/persistent_volumes-vsphere.go
  test/e2e/storage/vsphere/pv_reclaimpolicy.go
  test/e2e/storage/vsphere/vsphere_scale.go
  test/e2e/storage/vsphere/vsphere_statefulsets.go
  test/e2e/storage/vsphere/vsphere_stress.go
  test/e2e/storage/vsphere/vsphere_utils.go
  test/e2e/storage/vsphere/vsphere_volume_diskformat.go
  test/e2e/storage/vsphere/vsphere_volume_fstype.go
  test/e2e/storage/vsphere/vsphere_volume_node_delete.go
  test/e2e/storage/vsphere/vsphere_volume_node_poweroff.go
  test/e2e/storage/vsphere/vsphere_volume_placement.go
  test/e2e/storage/vsphere/vsphere_volume_vsan_policy.go
Labels: area/test, sig/network, area/kubelet, kind/cleanup, sig/scheduling, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, release-note, size/L, area/release-eng, sig/auth, sig/apps, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/architecture, area/code-generation, area/ipvs, sig/cloud-provider, ok-to-test, needs-priority, area/e2e-test-framework, area/dependency, triage/accepted

#111936 Marshal MicroTime to json and proto at the same precision
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/micro_time_proto.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/micro_time_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, kind/api-change, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111544 fix pod created failed when resource request is 0
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
Labels: kind/bug, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110894 Consolidate PreFilter and Filter reason messages for scheduler
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112112 Aggregated Discovery: add feature gate
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#112208 kube-proxy: code optimization for readability
  pkg/proxy/service.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112243 Revert "Remove unused flags from kubectl run"
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run_test.go
Labels: area/kubectl, lgtm, release-note, size/L, approved, sig/cli, cncf-cla: yes, priority/important-longterm, kind/regression, triage/accepted

#111953 Automated cherry pick of #107025: Remove AttachID matching from Detach
  pkg/volume/csi/csi_attacher.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#112249 Automated cherry pick of #112243: Revert "Remove unused flags from kubectl run"
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run_test.go
Labels: area/kubectl, lgtm, release-note, size/L, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, priority/important-longterm, kind/regression, triage/accepted

#111952 Automated cherry pick of #107025: Remove AttachID matching from Detach
  pkg/volume/csi/csi_attacher.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#111935 kubelet: drop bitArray implementation
  pkg/kubelet/userns_manager.go
  pkg/kubelet/userns_manager_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#112181 Add DisableAnonymous to DelegatingAuthenticationOptions
  staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#108855 kubelet/stats: deduplicate makePodStorageStats
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/helper.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#112198 Call queueSet::boundNextDispatchLocked enough
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112093 test: use bytes.Buffer.String
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/errors_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#112140 Automated cherry pick of #111999: fix error type
  pkg/scheduler/scheduler.go
  test/integration/scheduler/framework_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/scheduling, lgtm, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-triage

#112139 Automated cherry pick of #111999: fix error type
  pkg/scheduler/schedule_one.go
  test/integration/scheduler/framework_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/scheduling, lgtm, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-triage

#112138 Automated cherry pick of #111999: fix error type
  pkg/scheduler/schedule_one.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/scheduling, lgtm, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-triage

#112204 Automated cherry pick of #112157: Avoid propagating `search .` into containers /etc/resolv.conf
  pkg/kubelet/network/dns/dns.go
  pkg/kubelet/network/dns/dns_test.go
Labels: priority/important-soon, sig/network, area/kubelet, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, kind/regression, needs-triage

#112056 Automated cherry pick of #111752: Revert "client-go: remove no longer used
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
Labels: kind/bug, kind/cleanup, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, triage/accepted

#112272 kubeadm: using the existing exported method to add config flag
  cmd/kubeadm/app/cmd/join.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#112257 Kube-scheduler: Deprecate Component config v1beta3
  cmd/kube-scheduler/app/options/configfile.go
Labels: kind/cleanup, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#112099 Automated cherry pick of #111912: regression test for exponential recursion bug on CRDs
  test/integration/apiserver/crd_regression_test.go
Labels: area/test, priority/important-soon, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#112241 Optimize: simplified regexp
  cmd/kubeadm/app/phases/copycerts/copycerts_test.go
  cmd/kubeadm/app/preflight/utils.go
  cmd/kubeadm/app/util/image/image.go
  cmd/kubeadm/app/util/pkiutil/testing/testing.go
  cmd/kubeadm/app/util/version.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, triage/accepted

#107515 Make TestApplyResetFields exhibit surprising object
  test/integration/apiserver/apply/reset_fields_test.go
Labels: kind/bug, area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#112107 Automated cherry pick of #111964: Fix of #111769 for 1.25 release branch
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  vendor/github.com/google/cel-go/checker/checker.go
  vendor/github.com/google/cel-go/checker/cost.go
  vendor/github.com/google/cel-go/checker/printer.go
  vendor/github.com/google/cel-go/checker/types.go
  vendor/github.com/google/cel-go/common/containers/container.go
  vendor/github.com/google/cel-go/common/debug/debug.go
  vendor/github.com/google/cel-go/interpreter/interpretable.go
  vendor/github.com/google/cel-go/interpreter/planner.go
  vendor/github.com/google/cel-go/interpreter/prune.go
  vendor/github.com/google/cel-go/parser/helper.go
  vendor/github.com/google/cel-go/parser/parser.go
  vendor/github.com/google/cel-go/parser/unparser.go
  vendor/modules.txt
Labels: kind/bug, lgtm, sig/api-machinery, size/M, kind/feature, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, area/dependency, triage/accepted

#112022 update lock getter of leaderelection
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/endpointslock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
Labels: kind/bug, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111122 support removal of event handlers from SharedIndexInformers
  pkg/controller/replication/conversion.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer_test.go
Labels: lgtm, sig/api-machinery, size/XL, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#111967 [client-go] add function to upgrade managedfields CSA to SSA
  staging/src/k8s.io/client-go/util/csaupgrade/upgrade.go
  staging/src/k8s.io/client-go/util/csaupgrade/upgrade_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#112212 Automated cherry pick of #111009: Windows: ensure runAsNonRoot does case-insensitive comparison
  pkg/kubelet/kuberuntime/security_context_windows.go
  pkg/kubelet/kuberuntime/security_context_windows_test.go
  test/e2e/windows/security_context.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, sig/testing, triage/accepted

#110579 Automated cherry pick of #110179: Prune defaults for CRD serving
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/controller.go
  test/integration/apiserver/openapi/main_test.go
  test/integration/apiserver/openapi/openapi_v2_merge_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/api-machinery, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#110582 Automated cherry pick of #110179: Prune defaults for CRD serving
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/controller.go
  test/integration/apiserver/openapi/openapi_v2_merge_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/api-machinery, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#112211 Automated cherry pick of #111009: Windows: ensure runAsNonRoot does case-insensitive comparison
  pkg/kubelet/kuberuntime/security_context_windows.go
  pkg/kubelet/kuberuntime/security_context_windows_test.go
  test/e2e/windows/security_context.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, sig/testing, triage/accepted

#112079 Automated cherry pick of #110951: fix nestedPendingOperations mount and umount parallel bug
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-triage

#112162 Automated cherry pick of #112159: Update to use GA PodSecurity webhook image
  staging/src/k8s.io/pod-security-admission/webhook/manifests/50-deployment.yaml
Labels: kind/cleanup, lgtm, size/XS, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#112299 Reduce default gzip compression level from 4 to 1 in apiserver
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#112213 Automated cherry pick of #111009: Windows: ensure runAsNonRoot does case-insensitive comparison
  pkg/kubelet/kuberuntime/security_context_windows.go
  pkg/kubelet/kuberuntime/security_context_windows_test.go
  test/e2e/windows/security_context.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, sig/testing, tide/merge-method-squash, triage/accepted

#111970 [1.24] Bump cel-go to v0.10.2 and add unit tests
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  vendor/github.com/google/cel-go/checker/cost.go
  vendor/modules.txt
Labels: kind/bug, lgtm, sig/api-machinery, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, area/dependency, triage/accepted

#112101 Automated cherry pick of #110951: fix nestedPendingOperations mount and umount parallel bug
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-triage

#110578 Automated cherry pick of #110179: Prune defaults for CRD serving
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/controller.go
  test/integration/apiserver/openapi/main_test.go
  test/integration/apiserver/openapi/openapi_v2_merge_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/api-machinery, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#112102 Automated cherry pick of #110951: fix nestedPendingOperations mount and umount parallel bug
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-triage

#112235 fix: modify declaration slice and map code style
  cmd/kubeadm/app/phases/upgrade/compute.go
  cmd/kubeadm/app/phases/upgrade/compute_test.go
  cmd/kubeadm/app/phases/upgrade/health.go
  cmd/kubeadm/app/phases/upgrade/policy.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/upgrade/versiongetter.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#112287 Update images, dependencies and version to Go 1.19.1
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage

#112320 [release-1.25] Update images, dependencies and version to Go 1.19.1
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#112322 [release-1.24] Update images, dependencies and version to Go 1.18.6
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#111986 kms: fix go routine leak in gRPC connection
  cmd/kube-apiserver/app/server.go
  pkg/kubeapiserver/default_storage_factory_builder.go
  pkg/registry/registrytest/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/grpc_service.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/grpc_service_unix_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/grpc_service.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/grpc_service_unix_test.go
  test/integration/framework/etcd.go
Labels: kind/bug, area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#112329 Update branch rules in publishing rules to Go 1.18.6
  staging/publishing/rules.yaml
Labels: lgtm, size/M, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, needs-triage

#112294 E2E import aliases
  cmd/preferredimports/preferredimports.go
  hack/.import-aliases
  test/e2e/windows/device_plugin.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#112308 Promote CoreV1NamespaceReplace Test +1 Endpoint
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/namespace.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#112017 exec auth: support TLS config caching
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec_cache_test.go
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cache_test.go
  staging/src/k8s.io/client-go/transport/config.go
  staging/src/k8s.io/client-go/transport/transport.go
  staging/src/k8s.io/client-go/transport/transport_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, sig/auth, approved, cncf-cla: yes, triage/accepted

#112193 Add an option for aggregator
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  test/integration/examples/apiserver_test.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#111768 add method symmetric difference in sets.String
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/pkg/util/sets/byte.go
  staging/src/k8s.io/apimachinery/pkg/util/sets/int.go
  staging/src/k8s.io/apimachinery/pkg/util/sets/int32.go
  staging/src/k8s.io/apimachinery/pkg/util/sets/int64.go
  staging/src/k8s.io/apimachinery/pkg/util/sets/set_test.go
  staging/src/k8s.io/apimachinery/pkg/util/sets/string.go
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/gengo/examples/set-gen/generators/sets.go
  vendor/k8s.io/gengo/examples/set-gen/sets/byte.go
  vendor/k8s.io/gengo/examples/set-gen/sets/int.go
  vendor/k8s.io/gengo/examples/set-gen/sets/int64.go
  vendor/k8s.io/gengo/examples/set-gen/sets/string.go
  vendor/k8s.io/gengo/parser/parse.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/api-machinery, size/L, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, triage/accepted

#112341 Remove in-tree credential plugins (again)
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/README.md
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure_stub.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure_test.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/OWNERS
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/gcp.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/gcp_stub.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/gcp_test.go
  staging/src/k8s.io/code-generator/examples/go.sum
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/XXL, sig/auth, approved, cncf-cla: yes, area/code-generation, area/dependency, kind/deprecation, triage/accepted

#112336 Automated cherry pick of #112017: exec auth: support TLS config caching
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec_cache_test.go
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cache_test.go
  staging/src/k8s.io/client-go/transport/config.go
  staging/src/k8s.io/client-go/transport/transport.go
  staging/src/k8s.io/client-go/transport/transport_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, triage/accepted

#112337 Automated cherry pick of #112017: exec auth: support TLS config caching
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec_cache_test.go
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cache_test.go
  staging/src/k8s.io/client-go/transport/config.go
  staging/src/k8s.io/client-go/transport/transport.go
  staging/src/k8s.io/client-go/transport/transport_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, triage/accepted

#112338 Automated cherry pick of #112017: exec auth: support TLS config caching
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec_cache_test.go
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cache_test.go
  staging/src/k8s.io/client-go/transport/config.go
  staging/src/k8s.io/client-go/transport/transport.go
  staging/src/k8s.io/client-go/transport/transport_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, triage/accepted

#112339 Automated cherry pick of #112017: exec auth: support TLS config caching
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec_cache_test.go
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cache_test.go
  staging/src/k8s.io/client-go/transport/config.go
  staging/src/k8s.io/client-go/transport/transport.go
  staging/src/k8s.io/client-go/transport/transport_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, triage/accepted

#111277 kubeadm: improve tips of incorrect input of kubedm subcommand
  cmd/kubeadm/app/cmd/certs.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/reset.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/token_test.go
  cmd/kubeadm/app/cmd/upgrade/upgrade.go
  cmd/kubeadm/app/cmd/util/cmdutil.go
  cmd/kubeadm/app/util/error.go
Labels: kind/bug, priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#112103 Unify the status handle in bindingCycle
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: area/test, sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, needs-triage

#112358 Automated cherry pick of #112193: Add an option for aggregator
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#112359 Automated cherry pick of #112193: Add an option for aggregator
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#112330 Automated cherry pick of #112193: Add an option for aggregator
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#112355 Fix the TestRoundTripTypes by adding default to the fuzzer
  pkg/apis/batch/fuzzer/fuzzer.go
Labels: lgtm, size/XS, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#112331 Automated cherry pick of #112193: Add an option for aggregator
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#112349 build: update to klog v2.80.1
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/klog/v2/klog.go
  vendor/modules.txt
Labels: kind/bug, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/api-machinery, sig/cluster-lifecycle, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#112302 Automated cherry pick of #111205: Fix problem in updating VolumeAttached in node status
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#112305 Automated cherry pick of #111205: Fix problem in updating VolumeAttached in node status
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#111998 e2e framework: replace custom cleanup support with Ginkgo v2 mechanisms
  test/e2e/e2e.go
  test/e2e/framework/cleanup.go
  test/e2e/framework/framework.go
  test/e2e/framework/internal/output/output.go
  test/e2e/framework/internal/unittests/cleanup/cleanup_test.go
  test/e2e/framework/test_context.go
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/testsuites/snapshottable_stress.go
  test/e2e/storage/testsuites/volume_stress.go
  test/e2e/storage/testsuites/volumeperf.go
  test/e2e/storage/vsphere/persistent_volumes-vsphere.go
  test/e2e/storage/vsphere/vsphere_scale.go
  test/e2e/storage/vsphere/vsphere_volume_diskformat.go
  test/e2e/storage/vsphere/vsphere_volume_placement.go
  test/e2e/suites.go
  test/utils/apiserver/kubeconfig.go
  test/utils/apiserver/testapiserver.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, release-note, size/XL, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#112303 Automated cherry pick of #111205: Fix problem in updating VolumeAttached in node status
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#112304 Automated cherry pick of #111205: Fix problem in updating VolumeAttached in node status
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#112366 Automated cherry pick of #112355: Fix the TestRoundTripTypes by adding default to the fuzzer
  pkg/apis/batch/fuzzer/fuzzer.go
Labels: priority/important-soon, lgtm, size/XS, kind/flake, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#112375 e2e: reduce built time for framework
  test/e2e/framework/test_context.go
  test/utils/apiserver/testapiserver.go
  test/utils/kubeconfig/kubeconfig.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#112203 Fix Flake: On TearDown script, delete all firewall-rules with a single gcloud run
  cluster/gce/util.sh
Labels: kind/bug, lgtm, area/provider/gcp, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#111959 Add marseel/mborsz to sig-scalability-approvers and move mm4tt to emeritus
  OWNERS_ALIASES
Labels: kind/cleanup, sig/scalability, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112123 clarify CPUCFSQuotaPeriod values, set the minimum to 1ms
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/helpers_linux.go
  pkg/kubelet/cm/helpers_linux_test.go
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  pkg/kubelet/kuberuntime/helpers_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: kind/bug, priority/backlog, area/kubelet, kind/documentation, lgtm, sig/node, sig/api-machinery, release-note, size/M, kind/api-change, approved, cncf-cla: yes, area/code-generation, ok-to-test, triage/accepted

#112251 e2e storage: close all pending streams when proxy listener gets closed
  test/e2e/storage/drivers/proxy/portproxy.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#112354 volumebinding: handle special delete event in AssumeCache
  pkg/scheduler/framework/plugins/volumebinding/assume_cache.go
Labels: kind/bug, sig/scheduling, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112390 e2e storage: update helpers
  test/e2e/storage/drivers/proxy/io.go
  test/e2e/storage/utils/create.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#112252 Add e2e HPA Tests: CPU and Memory Average with different aggregation methods: Average Value and Utilization
  test/e2e/autoscaling/autoscaling_timer.go
  test/e2e/autoscaling/horizontal_pod_autoscaling.go
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
  test/e2e/framework/autoscaling/autoscaling_utils.go
  test/e2e/upgrades/autoscaling/horizontal_pod_autoscalers.go
Labels: area/test, lgtm, sig/autoscaling, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#112391 Tiny comment cleanup in pkg/apis/apps/types.go
  pkg/apis/apps/types.go
Labels: kind/cleanup, lgtm, size/XS, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#112309 Add a "DisableCompression" option to kubeconfig
  api/api-rules/violation_exceptions.list
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/types.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1/types.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1/zz_generated.conversion.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1beta1/types.go
  staging/src/k8s.io/client-go/pkg/apis/clientauthentication/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/client-go/rest/exec.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/types_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/zz_generated.conversion.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/loader_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/overrides.go
Labels: lgtm, sig/api-machinery, release-note, size/M, kind/feature, sig/auth, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#112351 Fix flaky and failing HPA E2E Behavior tests
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
Labels: area/test, lgtm, sig/autoscaling, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#110267 update auto can-i error message
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani.go
Labels: kind/bug, kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#112003 feature(scheduler): add "goroutines" metric and deprecate the "scheduler_goroutines" metric
  pkg/scheduler/framework/parallelize/parallelism.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
  pkg/scheduler/framework/plugins/selectorspread/selector_spread_perf_test.go
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/schedule_one.go
Labels: sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted

#112046 rate limite etcd healthcheck request
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, area/dependency, triage/accepted

#112422 Prune unused root replace directives
  hack/update-vendor.sh
Labels: kind/bug, priority/important-soon, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, area/code-organization, triage/accepted

#112200 client-go: support waiting for SharedInformerFactory shutdown
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/client-go/informers/factory.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/factory.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/MixedCase/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/apiserver/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/apiserver/informers/internalversion/factory.go
  staging/src/k8s.io/code-generator/examples/crd/informers/externalversions/factory.go
  staging/src/k8s.io/kube-aggregator/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/informers/externalversions/factory.go
  staging/src/k8s.io/sample-controller/pkg/generated/informers/externalversions/factory.go
Labels: lgtm, sig/api-machinery, release-note, size/XL, kind/feature, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#112205 Ensure metric 'running_managed_controllers' is registered
  cmd/kube-controller-manager/app/controllermanager.go
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, sig/cloud-provider, triage/accepted

#112403 Call SetupDevice for Block Volume only if Volume is not globally Mounted
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, ok-to-test, triage/accepted

#112406 Update_ineligible_endpoints.yaml : add createCoreV1NamespacedBinding to the list
  test/conformance/testdata/ineligible_endpoints.yaml
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, needs-priority, triage/accepted

#112383 kubeadm: remove todo about retry function change
  cmd/kubeadm/app/util/apiclient/idempotency.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#112421 e2e: improve description of framework callbacks
  test/e2e/framework/framework.go
  test/e2e/framework/ginkgowrapper.go
  test/e2e/framework/internal/unittests/cleanup/cleanup_test.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#111381 Fix test order pkg/volume/azuredd/azure_common_test.go
  pkg/volume/azuredd/azure_common_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#112387 devicemanager: do not leak empty TopologyInfo to TopologyManager
  pkg/kubelet/cm/devicemanager/topology_hints.go
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#112353 Update endpointslice controller maximum sync backoff delay to match expected sequence of delays
  pkg/controller/endpointslice/endpointslice_controller.go
Labels: kind/bug, sig/network, lgtm, release-note, size/XS, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#111420 Fix test order staging/src/k8s.io/legacy-cloud-providers/azure/auth/azure_auth_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/auth/azure_auth_test.go
Labels: kind/cleanup, lgtm, area/cloudprovider, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#112178 FIX: HPAs scale down with target >= 100
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: kind/bug, lgtm, sig/autoscaling, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#112427 Add zone field to vsphere test cloudconfig
  test/e2e/storage/vsphere/config.go
Labels: kind/bug, area/test, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#112392 Remove 'DisabledForLargeClusters' tag for LB tests
  test/e2e/network/loadbalancer.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#112433 Reduce allocations in HasSchemas
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112446 Update kube-dns and nodelocaldns to 1.22.11
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#112222 Update some scheduler misc
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/profile/profile.go
  pkg/scheduler/schedule_one.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112458 Switch to release tag for antlr : v1.4.10
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  vendor/modules.txt
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#112350 Reduce kubeadm tls bootstrap wait
  cmd/kubeadm/app/constants/constants.go
Labels: lgtm, sig/cluster-lifecycle, size/XS, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-ok-to-test, needs-priority, needs-triage

#112437 cleanup useless check about CIDR
  pkg/proxy/apis/config/validation/validation.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112463 Corrects target in the KUBE-IPVS-FILTER chain
  pkg/proxy/ipvs/proxier.go
Labels: kind/bug, sig/network, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, kind/failing-test, area/ipvs, needs-priority, needs-triage

#112471 Fix WhoAmI flaky test
  staging/src/k8s.io/kubectl/pkg/cmd/auth/whoami.go
  staging/src/k8s.io/kubectl/pkg/cmd/auth/whoami_test.go
Labels: kind/bug, priority/critical-urgent, area/kubectl, lgtm, size/S, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, kind/failing-test, ok-to-test, needs-triage

#112091 kubectl: fix memory leaks in port forwarding client
  staging/src/k8s.io/client-go/tools/portforward/portforward.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#111866 added ratcheting validation for x-kubernetes-list-type
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/status_strategy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/status_strategy_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#112450 client-go/transport: drop Dial and GetCert fields in favor of Holders
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec_test.go
  staging/src/k8s.io/client-go/rest/transport.go
  staging/src/k8s.io/client-go/transport/cache.go
  staging/src/k8s.io/client-go/transport/cache_test.go
  staging/src/k8s.io/client-go/transport/config.go
  staging/src/k8s.io/client-go/transport/transport.go
  staging/src/k8s.io/client-go/transport/transport_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#112267 aws: skip health rules if they are a subnet of the client rule
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
Labels: kind/bug, lgtm, area/cloudprovider, release-note, size/S, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#112444 HPA E2E tests: Multiple Metrics
  test/e2e/autoscaling/custom_metrics_stackdriver_autoscaling.go
Labels: area/test, lgtm, sig/autoscaling, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#112448 Using simpler wrapper function capabilities.Setup instead of calling Initialize directly
  cmd/kube-apiserver/app/server.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#112476 Check for context cancellation on each buffered chunk
  staging/src/k8s.io/client-go/tools/pager/pager.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, triage/accepted

#111567 Remove ioutil from component-base
  staging/src/k8s.io/component-base/config/testing/helpers.go
  staging/src/k8s.io/component-base/config/testing/roundtrip.go
  staging/src/k8s.io/component-base/configz/configz_test.go
  staging/src/k8s.io/component-base/metrics/http_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, ok-to-test, triage/accepted

#112436 Remove unused functions in pkg/util/taints/
  pkg/util/taints/taints.go
  pkg/util/taints/taints_test.go
Labels: kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#112475 Fix Infelicities in TestRESTClientLimiter
  staging/src/k8s.io/client-go/rest/config_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#112485 etcd: Build image 3.5.5-0
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: priority/important-soon, lgtm, sig/api-machinery, size/S, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, needs-triage

#112487 Add compatibility fixtures for v1beta2 flowcontrol
  staging/src/k8s.io/api/roundtrip_test.go
  staging/src/k8s.io/api/testdata/HEAD/flowcontrol.apiserver.k8s.io.v1beta2.FlowSchema.json
  staging/src/k8s.io/api/testdata/HEAD/flowcontrol.apiserver.k8s.io.v1beta2.FlowSchema.pb
  staging/src/k8s.io/api/testdata/HEAD/flowcontrol.apiserver.k8s.io.v1beta2.FlowSchema.yaml
  staging/src/k8s.io/api/testdata/HEAD/flowcontrol.apiserver.k8s.io.v1beta2.PriorityLevelConfiguration.json
  staging/src/k8s.io/api/testdata/HEAD/flowcontrol.apiserver.k8s.io.v1beta2.PriorityLevelConfiguration.pb
  staging/src/k8s.io/api/testdata/HEAD/flowcontrol.apiserver.k8s.io.v1beta2.PriorityLevelConfiguration.yaml
  staging/src/k8s.io/api/testdata/v1.24.0/flowcontrol.apiserver.k8s.io.v1beta2.FlowSchema.json
  staging/src/k8s.io/api/testdata/v1.24.0/flowcontrol.apiserver.k8s.io.v1beta2.FlowSchema.pb
  staging/src/k8s.io/api/testdata/v1.24.0/flowcontrol.apiserver.k8s.io.v1beta2.FlowSchema.yaml
  staging/src/k8s.io/api/testdata/v1.24.0/flowcontrol.apiserver.k8s.io.v1beta2.PriorityLevelConfiguration.json
  staging/src/k8s.io/api/testdata/v1.24.0/flowcontrol.apiserver.k8s.io.v1beta2.PriorityLevelConfiguration.pb
  staging/src/k8s.io/api/testdata/v1.24.0/flowcontrol.apiserver.k8s.io.v1beta2.PriorityLevelConfiguration.yaml
  staging/src/k8s.io/api/testdata/v1.25.0/flowcontrol.apiserver.k8s.io.v1beta2.FlowSchema.json
  staging/src/k8s.io/api/testdata/v1.25.0/flowcontrol.apiserver.k8s.io.v1beta2.FlowSchema.pb
  staging/src/k8s.io/api/testdata/v1.25.0/flowcontrol.apiserver.k8s.io.v1beta2.FlowSchema.yaml
  staging/src/k8s.io/api/testdata/v1.25.0/flowcontrol.apiserver.k8s.io.v1beta2.PriorityLevelConfiguration.json
  staging/src/k8s.io/api/testdata/v1.25.0/flowcontrol.apiserver.k8s.io.v1beta2.PriorityLevelConfiguration.pb
  staging/src/k8s.io/api/testdata/v1.25.0/flowcontrol.apiserver.k8s.io.v1beta2.PriorityLevelConfiguration.yaml
Labels: lgtm, sig/api-machinery, size/XL, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112416 Don't run TestCleanup that requires etcd on non linux+amd64 platforms
  test/e2e/framework/internal/unittests/cleanup/cleanup_test.go
Labels: area/test, area/kubelet, sig/scheduling, area/apiserver, area/kubectl, lgtm, area/provider/gcp, sig/storage, sig/node, sig/api-machinery, sig/autoscaling, size/S, kind/api-change, kind/flake, release-note-none, sig/auth, sig/apps, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, area/code-generation, sig/cloud-provider, needs-priority, area/e2e-test-framework, area/dependency, triage/accepted

#112508 kubeadm: allow RSA and ECDSA format keys in preflight check
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#112227 fix linter errors
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: priority/backlog, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#112504 e2e framework: better error when service account creation times out
  test/e2e/framework/util.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#108332 Improve unit test coverage in `pkg/util/taints/`
  pkg/util/taints/taints.go
  pkg/util/taints/taints_test.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#111076 unittests: Fixes cmd unit tests for Windows
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server_test.go
  cmd/kubeadm/app/apis/kubeadm/validation/util_unix.go
  cmd/kubeadm/app/apis/kubeadm/validation/util_windows.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/constants/constants_test.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
  cmd/kubeadm/app/phases/controlplane/volumes.go
  cmd/kubeadm/app/phases/controlplane/volumes_test.go
  cmd/kubeadm/app/phases/etcd/local_test.go
  cmd/kubeadm/app/phases/upgrade/postupgrade_test.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers_test.go
Labels: priority/important-soon, sig/scheduling, lgtm, sig/cluster-lifecycle, size/XL, release-note-none, approved, sig/windows, area/kubeadm, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#112501 Cleanup WhoAmI table sorting code
  staging/src/k8s.io/kubectl/pkg/cmd/auth/whoami.go
Labels: kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#112511 add e2e test for hostNetwork pods with dnsPolicy: ClusterFirstWithHostNet
  test/e2e/network/dns.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage
