Repository kubernetes/kubernetes, pull requests merged in 2022-01, with the labels that each got.

#107081 Automated cherry pick of #106827: apf: ensure exempt request notes the classification
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#106875 cleanup(apiserver): Correct the error message to not use the "--max-resource-write-bytes" & "--json-patch-max-copy-bytes" string.
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, needs-priority, triage/accepted

#107217 Remove unused arg of kubeadm/WaitForKubeletAndFunc
  cmd/kubeadm/app/util/apiclient/wait.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#107295 kubeadm: ensure CRI endpoints are managed with URL schemes
  cmd/kubeadm/app/apis/kubeadm/v1beta2/defaults_unix.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/defaults_windows.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/defaults_unix.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/defaults_windows.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/doc.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/data.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/constants/constants_unix.go
  cmd/kubeadm/app/phases/kubelet/flags_test.go
  cmd/kubeadm/app/phases/patchnode/patchnode_test.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/upgrade/postupgrade_test.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/config/cluster_test.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubeadm/app/util/marshal_test.go
  cmd/kubeadm/app/util/runtime/runtime.go
  cmd/kubeadm/app/util/runtime/runtime_test.go
  cmd/kubeadm/app/util/runtime/runtime_unix.go
  cmd/kubeadm/app/util/runtime/runtime_windows.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/L, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#107177 set RemainingItemCount to ParitalObjectMetadataList
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#107168 Automated cherry pick of #107091: Improving performance of EndpointSlice controller metrics
  pkg/controller/endpointslice/metrics/cache.go
  pkg/controller/endpointslice/metrics/cache_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#107169 Automated cherry pick of #107091: Improving performance of EndpointSlice controller metrics
  pkg/controller/endpointslice/metrics/cache.go
  pkg/controller/endpointslice/metrics/cache_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#107064 Automated cherry pick of #105943: Check for failed sandbox and failed workload containers
  test/e2e/windows/security_context.go
Labels: area/test, priority/important-soon, lgtm, size/M, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#107167 Automated cherry pick of #107091: Improving performance of EndpointSlice controller metrics
  pkg/controller/endpointslice/metrics/cache.go
  pkg/controller/endpointslice/metrics/cache_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#105800 Use a lister for bootstrap flowcontrol config objects.
  pkg/controlplane/instance.go
  pkg/registry/flowcontrol/ensurer/flowschema.go
  pkg/registry/flowcontrol/ensurer/flowschema_test.go
  pkg/registry/flowcontrol/ensurer/prioritylevelconfiguration.go
  pkg/registry/flowcontrol/ensurer/prioritylevelconfiguration_test.go
  pkg/registry/flowcontrol/rest/storage_flowcontrol.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#107181 Automated cherry pick of #106683: add gce elb rbs opt-in annotation
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_annotations.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, area/cloudprovider, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, triage/accepted

#107072 Automated cherry pick of #106683: add gce elb rbs opt-in annotation
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_annotations.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, area/cloudprovider, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, triage/accepted

#103036 fix(*): display the diff as new-old
  pkg/apis/core/validation/validation.go
Labels: kind/bug, priority/backlog, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#105976 Fix the doc string of GetOldObject func
  staging/src/k8s.io/apiserver/pkg/admission/interfaces.go
Labels: priority/backlog, kind/documentation, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#99329 Fix link 404
  pkg/apis/flowcontrol/types.go
Labels: kind/cleanup, lgtm, size/S, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#105721 Optimize Cobra parameters of Controller Manager
  cmd/kube-controller-manager/app/controllermanager.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#105808 Fix function comment typo
  staging/src/k8s.io/apimachinery/pkg/runtime/interfaces.go
Labels: priority/backlog, kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#105955 Fix a typo in comment
  staging/src/k8s.io/controller-manager/pkg/clientbuilder/client_builder.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, triage/accepted

#106856 conformance: correct typo for cronjob forbidconcurrent
  test/conformance/testdata/conformance.yaml
  test/e2e/apps/cronjob.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, needs-triage

#107119 Remove dockerless build tag and DockerLegacyService interface
  hack/make-rules/verify.sh
  hack/verify-typecheck-dockerless.sh
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_dockerless_test.go
  pkg/kubelet/kubelet_dockershim_nodocker.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/legacy/logs.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#107145 Add comment on beta status for APIPriorityAndFairness feature gate
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#107189 Change default runtime to containerd for Windows cluster
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
Labels: priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#107311 client-go: Clear the ResourceVersionMatch on paged list calls
  staging/src/k8s.io/client-go/tools/pager/pager.go
  staging/src/k8s.io/client-go/tools/pager/pager_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#105449 k8s.io/apiserver/pkg/server: fix name in APIServerHandler description
  staging/src/k8s.io/apiserver/pkg/server/handler.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#106283 There are no more Feature:Performance tests any longer, removing the …
  test/kubemark/run-e2e-tests.sh
Labels: area/test, priority/backlog, kind/cleanup, sig/scalability, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#106340 remove crictl tar
  cluster/gce/gci/configure.sh
Labels: priority/backlog, kind/cleanup, lgtm, area/provider/gcp, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#107104 apf: use v1beta2 in registry package
  pkg/registry/flowcontrol/ensurer/strategy.go
Labels: kind/bug, kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#106619 Graduate `PreferNominatedNode` to GA
  pkg/features/kube_features.go
  pkg/scheduler/generic_scheduler.go
  pkg/scheduler/generic_scheduler_test.go
  test/integration/scheduler/preemption_test.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104846 Stop defaulting Service internalTrafficPolicy when type is ExternalName
  pkg/api/service/testing/make.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#97966 Remove AppArmor loaded profile validation
  pkg/security/apparmor/validate.go
  pkg/security/apparmor/validate_test.go
Labels: kind/bug, priority/important-soon, area/security, lgtm, sig/node, release-note, size/M, sig/auth, approved, cncf-cla: yes, sig/security, triage/accepted

#103136 Fix display of CHANGELOG-1.19.md by inserting newline
  CHANGELOG/CHANGELOG-1.19.md
Labels: kind/documentation, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, needs-priority, needs-triage

#105829 Fix and improve comments on kubelet metrics
  pkg/kubelet/kubelet.go
  pkg/kubelet/metrics/metrics.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, triage/accepted

#106294 fix duplicate webhook insert operation
  pkg/apis/admissionregistration/validation/validation.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#106375 fix commont of controller manager leadermigration filter
  staging/src/k8s.io/controller-manager/pkg/leadermigration/filter.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, triage/accepted

#106397 fix S1017 and S1002 in pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#106421 Fix the wrong log
  pkg/volume/volume_linux.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#106547 Fix log blank typo to avoid en/decode issues
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#106667 updated deprecation messages from 1.23 to 1.24
  cmd/kubelet/app/options/options.go
Labels: priority/important-soon, area/kubelet, kind/documentation, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#107166 Fix PV controller unit test 5-7
  pkg/controller/volume/persistentvolume/pv_controller_test.go
Labels: kind/bug, lgtm, sig/storage, size/S, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#107314 kubeadm: fix panic in runKubeletConfigPhase
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#107159 Improve test coverage: pkg/api/persistentvolume
  pkg/api/persistentvolume/util_test.go
Labels: area/test, lgtm, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#105765 changelog-1.22:Fix notes of PR 101151
  CHANGELOG/CHANGELOG-1.22.md
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#106203 add test cases for scheduler/PriorityQueue.Activate
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#107328 Delete .staticcheck_failures
  hack/.staticcheck_failures
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#93709 Make RetryWatcher sleep interruptible
  staging/src/k8s.io/client-go/tools/watch/retrywatcher.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority

#106085 P&F: enable mutating work estimator
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/mutating_work_estimator.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#106756 code cleanup for container/helpers.go
  pkg/kubelet/container/helpers.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#105389 Update sleep .5 ⇨ sleep 0.5
  cluster/addons/addon-manager/kube-addons-main.sh
Labels: kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#105598 break the pointless loop when group matched
  pkg/auth/authorizer/abac/abac.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#106215 fix "k8s.io/apimachinery/pkg/util/validation" is imported more than once
  pkg/apis/apiserverinternal/validation/validation.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#106688 fix obsolete comments in runtime/schema struct
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#107200 flake: remove the error handler for cronjob integration test
  test/integration/cronjob/cronjob_test.go
Labels: area/test, priority/critical-urgent, lgtm, size/XS, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#107302 assignQuota checks if the underlying medium supports quotas and if so setting it
  pkg/volume/emptydir/empty_dir.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, sig/node, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#103311 Build: improve documentation of build artifacts
  build/README.md
Labels: kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#104819 Use utils string-slice comparison
  staging/publishing/import-restrictions.yaml
  staging/src/k8s.io/apimachinery/pkg/labels/selector.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/release, lifecycle/stale, triage/accepted

#107221 Fix a panic when using invalid output format in kubectl create secret command
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, release-note, size/XS, approved, sig/cli, cncf-cla: yes, triage/accepted

#103078 kube-apiserver: use --api-audiences as --service-account-api-audiences is deprecated
  cluster/gce/gci/configure-kubeapiserver.sh
Labels: priority/backlog, kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-triage

#104822 Don't perform expensive go-cmp/cmp comparisons if unneeded
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
Labels: kind/cleanup, lgtm, area/cloudprovider, size/XS, release-note-none, approved, cncf-cla: yes, lifecycle/stale, sig/cloud-provider, needs-priority, needs-triage

#106969 Fix `kubectl completion zsh` to use any command name rather than hardcoded `kubectl`
  staging/src/k8s.io/kubectl/pkg/cmd/completion/completion.go
Labels: kind/bug, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, kind/regression, needs-triage

#107001 replace syscall with sys/unix pkg in pkg/util/ipvs
  pkg/util/ipvs/ipvs_linux.go
  pkg/util/ipvs/ipvs_linux_test.go
Labels: sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, area/ipvs, ok-to-test, needs-priority, needs-triage

#107179 Clean up dockershim in tests
  test/conformance/testdata/conformance.yaml
  test/e2e/auth/pod_security_policy.go
  test/e2e/common/node/containers.go
  test/e2e/common/node/runtime.go
  test/e2e/common/node/runtimeclass.go
  test/e2e/framework/node/runtimeclass.go
  test/e2e/framework/skipper/skipper.go
  test/e2e/framework/test_context.go
  test/e2e/node/runtimeclass.go
  test/e2e/scheduling/predicates.go
  test/e2e/storage/subpath.go
  test/e2e/windows/host_process.go
  test/e2e_node/container_log_rotation_test.go
  test/e2e_node/docker_test.go
  test/e2e_node/docker_util.go
  test/e2e_node/dockershim_checkpoint_test.go
  test/e2e_node/environment/conformance.go
  test/e2e_node/gcp/gke_environment_test.go
  test/e2e_node/image_list.go
  test/e2e_node/log_path_test.go
  test/e2e_node/restart_test.go
  test/e2e_node/runtimeclass_test.go
  test/e2e_node/security_context_test.go
  test/e2e_node/summary_test.go
Labels: area/test, priority/important-soon, kind/cleanup, sig/scheduling, lgtm, sig/storage, sig/node, size/XXL, release-note-none, sig/auth, approved, sig/windows, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, sig/cloud-provider, area/e2e-test-framework, triage/accepted

#107270 kubeadm: use build tags and split the Windows releated logic into separate files for kubelet component config
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/componentconfigs/kubelet_test.go
  cmd/kubeadm/app/componentconfigs/kubelet_unix.go
  cmd/kubeadm/app/componentconfigs/kubelet_windows.go
  cmd/kubeadm/app/componentconfigs/kubelet_windows_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, sig/windows, area/kubeadm, cncf-cla: yes, triage/accepted

#107337 Fix the leak of vSphere client sessions
  test/e2e/storage/drivers/in_tree.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, release-note, size/S, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-triage

#101856 fix static check of importing the same package multiple times
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_block_test.go
  pkg/volume/csi/csi_plugin_test.go
  plugin/pkg/admission/network/denyserviceexternalips/admission_test.go
  plugin/pkg/admission/priority/admission.go
  plugin/pkg/admission/runtimeclass/admission_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#106674 Fix logging resource-scoped watch requests as GET requests.
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, triage/accepted

#106915 Recommend SimpleIntervalClock instead of IntervalClock
  staging/src/k8s.io/apimachinery/pkg/util/clock/clock.go
Labels: kind/bug, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#107312 Execute sync before taking the snapshot
  test/e2e/storage/testsuites/snapshottable.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#106979 Fix comment out typo (from resolve.conf to resolv.conf) and change the content name (from maxResolveConfLength to maxResolvConfLength)
  pkg/kubelet/kubelet.go
  pkg/kubelet/network/dns/dns.go
Labels: priority/backlog, sig/network, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#107347 Automated cherry pick of #107221: fix nil pointer in create secret commands
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, release-note, size/XS, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, triage/accepted

#107345 Automated cherry pick of #107221: fix nil pointer in create secret commands
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, release-note, size/XS, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, triage/accepted

#107346 Automated cherry pick of #107221: fix nil pointer in create secret commands
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, release-note, size/XS, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, triage/accepted

#107335 Automated cherry pick of #107311: client-go: Clear the ResourceVersionMatch on paged list calls
  staging/src/k8s.io/client-go/tools/pager/pager.go
  staging/src/k8s.io/client-go/tools/pager/pager_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#107037 cherry pick of knp 0.0.27
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
Labels: kind/cleanup, area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, sig/api-machinery, release-note, size/S, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, triage/accepted

#104807 Add unit tests for pkg/registry/authorization/util
  pkg/registry/authorization/util/helpers_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#107188 Cherry pick of anp 0.0.27 for v1.21
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/proto/client/client.pb.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/proto/client/client.proto
Labels: kind/cleanup, area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#107341 Automated cherry pick of #107173: Fix order of commands in the snapshot tests for persistent
  test/e2e/storage/testsuites/snapshottable.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#105032 Remove --enable-swagger-ui since no effect from 1.14
  staging/src/k8s.io/apiserver/pkg/server/options/feature.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, lifecycle/stale, needs-priority, triage/accepted

#107327 kubeadm: remove the restriction that the ca.crt can only contain one certificate
  cmd/kubeadm/app/phases/certs/renewal/readwriter.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#107349 Update ineligible_endpoints.yaml to include HPA
  test/conformance/testdata/ineligible_endpoints.yaml
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, needs-priority, triage/accepted

#107039 Automated cherry pick of #106906: mount-utils: Detect potential stale file handle
  staging/src/k8s.io/mount-utils/mount_helper_common.go
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/mount-utils/mount_helper_windows.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#107040 Automated cherry pick of #106906: mount-utils: Detect potential stale file handle
  staging/src/k8s.io/mount-utils/mount_helper_common.go
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/mount-utils/mount_helper_windows.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#106988 Automated cherry pick of #106906: mount-utils: Detect potential stale file handle
  staging/src/k8s.io/mount-utils/mount_helper_common.go
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/mount-utils/mount_helper_windows.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#106966 Automated cherry pick of #106936: Skip creating HNS loadbalancer with empty endpoints
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, sig/network, lgtm, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#106970 Automated cherry pick of #106936: Skip creating HNS loadbalancer with empty endpoints
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, sig/network, lgtm, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#102636 fix a potential deadlock
  pkg/controller/serviceaccount/serviceaccounts_controller_test.go
Labels: kind/bug, lgtm, size/XS, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, needs-triage

#107336 Automated cherry pick of #107311: client-go: Clear the ResourceVersionMatch on paged list calls
  staging/src/k8s.io/client-go/tools/pager/pager.go
  staging/src/k8s.io/client-go/tools/pager/pager_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#107187 cherry pick of anp 0.0.27 for v1.22
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/proto/client/client.pb.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/proto/client/client.proto
Labels: kind/cleanup, area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, sig/api-machinery, release-note, size/S, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#107334 Automated cherry pick of #107311: client-go: Clear the ResourceVersionMatch on paged list calls
  staging/src/k8s.io/client-go/tools/pager/pager.go
  staging/src/k8s.io/client-go/tools/pager/pager_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#104429 Add unit tests for registry/apiserverinternal/storageversion
  pkg/registry/apiserverinternal/storageversion/storage/storage_test.go
  pkg/registry/apiserverinternal/storageversion/strategy_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#107350 Automated cherry pick of #107337: Fix the leak of vSphere client sessions
  test/e2e/storage/drivers/in_tree.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#107352 Automated cherry pick of #107337: Fix the leak of vSphere client sessions
  test/e2e/storage/drivers/in_tree.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#107351 Automated cherry pick of #107337: Fix the leak of vSphere client sessions
  test/e2e/storage/drivers/in_tree.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#101478 fix return code when request /logs with long file name
  pkg/routes/logs.go
  pkg/routes/logs_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#106644 Add more info when failing to call PdhAddEnglishCounter
  pkg/kubelet/winstats/perfcounters.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, ok-to-test, triage/accepted

#106975 support removal of files by the ./hack/update-openapi-spec.sh
  hack/update-openapi-spec.sh
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#103967 add probe warning message body for terminated redirect
  pkg/probe/http/http.go
  pkg/probe/http/http_test.go
  test/e2e/common/node/container_probe.go
Labels: kind/bug, area/test, priority/backlog, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#104143 Request: Add wzshiming as SIG Node reviewer
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#106624 test/e2e/common/storage: enhance assertions
  test/e2e/common/storage/configmap_volume.go
  test/e2e/common/storage/secrets_volume.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#106647 add unit tests for TestSetNestedStringSlice, TestSetNestedSlice etc.
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/helpers_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#106725 Update default PF flow schemas to avoid all endpoint/configmaps operations from controller-manager to match leader-election PL
  staging/src/k8s.io/apiserver/pkg/apis/flowcontrol/bootstrap/default.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/M, kind/api-change, approved, cncf-cla: yes

#106882 remove RuntimeClass feature gate
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, priority/important-longterm, needs-triage

#107034 Don't bypass ResponseWriter wrappers for apiserver healthz errors.
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#107116 add more message for no PodSandbox container
  pkg/kubelet/cm/container_manager_linux.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#107176 if the ok returned by RequestInfoFrom is false, the requestInfo is nil
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#104774 fix kubelet flushlogs not working together with exit
  cmd/kubelet/app/server.go
Labels: area/kubelet, sig/scheduling, lgtm, sig/node, release-note, size/M, kind/api-change, kind/feature, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#104228 [pkg/printers/internalversion/import_known_versions]: fixup typo
  pkg/printers/internalversion/import_known_versions.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#104837 fix(cpumanager): Do not release CPUs of init containers while they are being reused in app containers
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, ok-to-test, triage/accepted

#106472 Remove return value from MaybeResetRESTMapper()
  staging/src/k8s.io/apimachinery/pkg/api/meta/restmapper.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#106488 Improve the error message when trying to proxy an unsupported service type
  staging/src/k8s.io/apiserver/pkg/util/proxy/proxy.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#106796 kubelet: use newtimer instead in nodeshutdown manager
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
Labels: priority/backlog, area/kubelet, lgtm, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, triage/accepted

#103252 custom-metrics: do cleanup even if the creation is not full succeed
  test/e2e/autoscaling/custom_metrics_stackdriver_autoscaling.go
Labels: area/test, kind/cleanup, lgtm, sig/autoscaling, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104561 CHANGELOG: Reflect that lease manager object limit is 1k, not 10k
  CHANGELOG/CHANGELOG-1.21.md
Labels: kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#104671 kubectl: Document --for's Unicode case-folding condition-value comparison
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
Labels: kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#99758 Add label selector in 'kubectl rollout' commands
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_history.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_pause.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_pause_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_restart.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_restart_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_resume.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_status.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_undo.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Labels: area/kubectl, lgtm, release-note, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#105264 fix the log description
  pkg/controller/cronjob/cronjob_controllerv2.go
Labels: kind/bug, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, lifecycle/stale, ok-to-test, needs-priority, needs-triage

#105964 cmd/kubectl: make 'kubectl logs' default to the first container when default container cannot be determined or found by annotations
  staging/src/k8s.io/kubectl/pkg/cmd/util/podcmd/podcmd.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject_test.go
Labels: area/kubectl, lgtm, release-note, size/M, kind/feature, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage

#107338 Skip tests unless multizone
  test/e2e/storage/vsphere/vsphere_zone_support.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#107392 Support IPv6 in echoserver
  test/images/echoserver/README.md
  test/images/echoserver/VERSION
  test/images/echoserver/nginx.conf
Labels: area/test, lgtm, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#106578 refactor `recordSchedulingFailure` function name to more appropriate
  pkg/scheduler/scheduler.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#107365 Automated cherry pick of #107327: kubeadm: remove the restriction that the ca.crt can only
  cmd/kubeadm/app/phases/certs/renewal/readwriter.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Labels: kind/bug, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#107366 Automated cherry pick of #107327: kubeadm: remove the restriction that the ca.crt can only
  cmd/kubeadm/app/phases/certs/renewal/readwriter.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Labels: kind/bug, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#107367 Automated cherry pick of #107327: kubeadm: remove the restriction that the ca.crt can only
  cmd/kubeadm/app/phases/certs/renewal/readwriter.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Labels: kind/bug, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#103404 Automated cherry pick of #103385: Ensure proper resource creation
  test/e2e/framework/node/resource.go
  test/e2e/storage/ubernetes_lite_volumes.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#107014 Automated cherry pick of #100183: Mark volume as uncertain after Unmount* fails
  pkg/kubelet/kubelet_volumes.go
  pkg/kubelet/kubelet_volumes_test.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world_test.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/kubelet/volumemanager/volume_manager_fake.go
  pkg/volume/util/operationexecutor/operation_generator.go
  test/e2e/storage/csi_mock_volume.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/XL, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#107364 Automated cherry pick of #107327: kubeadm: remove the restriction that the ca.crt can only
  cmd/kubeadm/app/phases/certs/renewal/readwriter.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Labels: kind/bug, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#107171 add failopen metric
  staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/dispatcher.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/M, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted

#107353 Automated cherry pick of #107337: Fix the leak of vSphere client sessions
  test/e2e/storage/drivers/in_tree.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#107110 Automated cherry pick of #100567: Mark volume mount as uncertain in case of volume expansion
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#107006 Add metric for reporting total end-to-end mount time
  pkg/kubelet/volumemanager/cache/desired_state_of_world.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: area/kubelet, lgtm, sig/storage, sig/node, release-note, size/S, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#106073 Cleanup FindPluginByName() in VolumePluginMgr
  pkg/volume/plugins.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#107052 Cherry pick of #107033: Remove JSON logging performance regression
  staging/src/k8s.io/component-base/logs/json/json.go
Labels: kind/bug, priority/critical-urgent, lgtm, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, triage/accepted, wg/structured-logging

#106152 kubectl: remove unnecessary `fmt.Sprintf`
  staging/src/k8s.io/kubectl/pkg/cmd/version/version.go
Labels: kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#106865 [scheduler] cleanup: remove insecure flag
  cmd/kube-scheduler/app/options/deprecated.go
  cmd/kube-scheduler/app/options/options.go
Labels: sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#107152 Remove feature gate `ImmutableEphemeralVolumes`
  pkg/features/kube_features.go
Labels: lgtm, sig/storage, sig/node, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#107330 Slightly improve reliability of storage List tests.
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#106739 Add completion for `kubectl config set-context`
  staging/src/k8s.io/kubectl/pkg/cmd/config/create_context.go
Labels: area/kubectl, lgtm, release-note, size/XS, kind/feature, approved, sig/cli, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#107413 kube-proxy: fix duplicate port opening
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/S, approved, cncf-cla: yes, needs-priority, needs-triage

#106021 Replace ioutil with io and os for pkg/api
  pkg/api/testing/conversion_test.go
  pkg/api/testing/deep_copy_test.go
  pkg/api/testing/serialization_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#105870 kube-scheduler: log possible error
  cmd/kube-scheduler/app/server.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, sig/apps, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#106287 update cadvisor version in test
  build/dependencies.yaml
  test/e2e_node/image_list.go
  test/e2e_node/resource_collector.go
Labels: kind/bug, area/test, priority/backlog, lgtm, sig/node, size/S, approved, cncf-cla: yes, sig/testing, triage/accepted

#107427 removed unnecessary log line
  pkg/proxy/healthcheck/service_health.go
Labels: kind/bug, sig/network, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#107339 Add Service integration tests for internalTrafficPolicy when Type=ExternalName
  test/integration/service/service_test.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#107420 fix typos in comment
  pkg/kubelet/config/flags.go
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#107109 Automated cherry pick of #106816: clear pod's .status.nominatedNodeName when necessary
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/generic_scheduler_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/preemption_test.go
  test/integration/scheduler/util.go
Labels: kind/bug, area/test, priority/important-soon, sig/scheduling, lgtm, release-note, size/XL, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#105853 restore NumPDBViolations info of nodes, when HTTPExtender ProcessPree…
  pkg/scheduler/extender.go
  pkg/scheduler/extender_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#107384 Use `math.Round` when convert float to int in PodTopologySpread
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#107358 Automated cherry pick of #107200: flake fix: remove the error handler for cronjob integration
  test/integration/cronjob/cronjob_test.go
Labels: area/test, priority/critical-urgent, lgtm, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#107357 Automated cherry pick of #107200: flake fix: remove the error handler for cronjob integration
  test/integration/cronjob/cronjob_test.go
Labels: area/test, priority/critical-urgent, lgtm, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#106029 Add GC workqueue `Forget` to stop the rate limiter
  pkg/controller/garbagecollector/garbagecollector.go
  pkg/controller/garbagecollector/garbagecollector_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, triage/accepted

#105591 Close HTTP response body on failed GET attempts
  staging/src/k8s.io/cli-runtime/pkg/resource/builder.go
  staging/src/k8s.io/cli-runtime/pkg/resource/visitor.go
  staging/src/k8s.io/cli-runtime/pkg/resource/visitor_test.go
Labels: kind/bug, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, needs-priority, needs-triage
