Repository kubernetes/kubernetes, pull requests merged in 2022-10, with the labels that each got.

#112097 use copy() instead of a loop
  pkg/kubelet/kubelet_pods.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#112542 Add validation for runtime endpoint flag
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/options/options_test.go
  pkg/kubelet/cri/remote/remote_image.go
  pkg/kubelet/cri/remote/remote_runtime.go
Labels: priority/backlog, area/kubelet, lgtm, sig/node, release-note, size/S, kind/feature, approved, cncf-cla: yes, triage/accepted

#112807 Revert 109706 + 111691
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, sig/network, lgtm, area/cloudprovider, release-note, size/XXL, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, kind/regression, needs-triage

#112821 Avoid tainting with NoSchedule when DisableCloudProviders feature is on
  pkg/kubelet/kubelet_node_status.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-triage

#112658 cleanup: reuse code logic in NodeInfo.AddPod & NodeInfo.RemovePod
  pkg/scheduler/framework/types.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112430 Write List, Patch and Delete LimitRange test +3 Endpoints
  test/e2e/scheduling/limit_range.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#112832 apiserver: prerelease-lifecycle-gen for flowcontrol
  staging/src/k8s.io/api/flowcontrol/v1alpha1/types.go
  staging/src/k8s.io/api/flowcontrol/v1alpha1/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/api/flowcontrol/v1beta1/types.go
  staging/src/k8s.io/api/flowcontrol/v1beta1/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/api/flowcontrol/v1beta2/types.go
  staging/src/k8s.io/api/flowcontrol/v1beta2/zz_generated.prerelease-lifecycle.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112575 apf: don't omit flowschemas from reset fields test
  test/integration/apiserver/apply/reset_fields_test.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#112533 Automated cherry pick of #112357: kube-scheduler: add taints filtering logic consistent with
  pkg/scheduler/framework/plugins/helper/taint.go
  pkg/scheduler/framework/plugins/helper/taint_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/common.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  test/integration/scheduler/filters/filters_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/scheduling, lgtm, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#112823 Write e2e test for replaceCoreV1NamespacedServiceAccount - +1 Endpoint
  test/e2e/auth/service_accounts.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#112833 Revert "Avoid tainting with NoSchedule when DisableCloudProviders feature is on"
  pkg/kubelet/kubelet_node_status.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112853 update-vendor.sh tweaks
  hack/update-vendor.sh
Labels: priority/important-soon, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, triage/accepted

#111313 cleanup: use sets.Len() insead of len(sets.List())
  pkg/kubeapiserver/options/authorization.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#112819 Kill off makefile-driven code-generation
  .gitignore
  Makefile.generated_files
  api/api-rules/README.md
  build/build-image/rsyncd.sh
  build/common.sh
  build/root/Makefile
  build/root/Makefile.generated_files
  hack/jenkins/test-dockerized.sh
  hack/lib/util.sh
  hack/make-rules/helpers/cache_go_dirs.sh
  hack/make-rules/helpers/go2make/go2make.go
  hack/make-rules/helpers/go2make/pkgwalk.go
  hack/make-rules/helpers/go2make/pkgwalk_test.go
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/.dot/README
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/.dot/subsubdir/README
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/README
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/_underscore/README
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/_underscore/subsubdir/README
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/bar.go
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/skipme/README
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/skipme/subsubdir/README
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/subdir/README
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/testdata/README
  hack/make-rules/helpers/go2make/testdata/dir-with-gofiles/testdata/subsubdir/README
  hack/make-rules/helpers/go2make/testdata/dir-without-gofiles/README
  hack/make-rules/update.sh
  hack/make-rules/verify.sh
  hack/make-rules/vet.sh
  hack/update-codegen.sh
  hack/verify-codegen.sh
  hack/verify-flags-underscore.py
  hack/verify-generated-files-remake.sh
  hack/verify-generated-files.sh
  hack/verify-typecheck.sh
  hack/verify-yamlfmt.sh
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/hack/boilerplate.go.txt
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/hack/update-codegen.sh
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/main.go
  staging/src/k8s.io/code-generator/cmd/client-gen/main.go
  staging/src/k8s.io/code-generator/cmd/conversion-gen/main.go
  staging/src/k8s.io/code-generator/cmd/deepcopy-gen/main.go
  staging/src/k8s.io/code-generator/cmd/defaulter-gen/main.go
  staging/src/k8s.io/code-generator/cmd/go-to-protobuf/protobuf/cmd.go
  staging/src/k8s.io/code-generator/cmd/import-boss/main.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/main.go
  staging/src/k8s.io/code-generator/cmd/lister-gen/main.go
  staging/src/k8s.io/code-generator/cmd/prerelease-lifecycle-gen/main.go
  staging/src/k8s.io/code-generator/cmd/register-gen/main.go
  staging/src/k8s.io/code-generator/cmd/set-gen/main.go
  staging/src/k8s.io/code-generator/generate-groups.sh
  staging/src/k8s.io/code-generator/generate-internal-groups.sh
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/pkg/util/build.go
  staging/src/k8s.io/metrics/hack/update-codegen.sh
  test/conformance/gen-specsummaries.sh
  test/e2e_node/jenkins/conformance/conformance-jenkins.sh
  test/integration/ipamperf/README.md
  vendor/modules.txt
Labels: area/test, kind/cleanup, lgtm, sig/node, sig/api-machinery, size/XXL, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, priority/important-longterm, sig/release, sig/architecture, area/conformance, area/code-generation, area/dependency, triage/accepted

#112837 Fix winkernel proxier setting the wrong HNS loadbalancer ID for ingresss IP
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, priority/critical-urgent, priority/important-soon, sig/network, lgtm, release-note, size/XS, approved, sig/windows, cncf-cla: yes, kind/regression, triage/accepted

#112827 scheduler: cleanup the unused event types about Service
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/events.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112865 Clean up detritus from generated_files
  build/root/Makefile
  hack/verify-generated-files-remake.sh
  hack/verify-generated-files.sh
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#112864 remove more lingering bazel references
  .generated_files
  hack/boilerplate/boilerplate.py
  hack/lib/golang.sh
  hack/verify-flags-underscore.py
  hack/verify-readonly-packages.sh
  hack/verify-vendor.sh
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#112870 drop Gopkg.toml from publishing bot rules
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#112846 Add test for internal metric
  staging/src/k8s.io/component-base/metrics/collector_test.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, ok-to-test, needs-priority, triage/accepted

#112394 Automated cherry pick of #112067: client-go: make retry in Request thread safe
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#112866 emeritus fejta
  OWNERS_ALIASES
  build/OWNERS
  hack/OWNERS
  pkg/apis/core/validation/OWNERS
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#112872 Test startup: make staging bucket regional
  cluster/gce/util.sh
Labels: kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#112792 Add feature gate CelValidatingAdmission
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, kind/feature, approved, cncf-cla: yes, triage/accepted

#112892 Updating kube-proxy base impage to distroless-iptables:v0.1.2
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#112869 moved the downloading of the node_perf tensorflow test-data artifact …
  test/images/node-perf/tf-wide-deep/Dockerfile
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, triage/accepted

#112900 releng: Update images, dependencies and version to Go 1.19.2
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage

#112850 Adding flag for testing to ignore cloud provider taint.
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  hack/ginkgo-e2e.sh
Labels: kind/cleanup, lgtm, area/provider/gcp, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#112839 Automated cherry pick of #112837: Fix winkernel proxier setting the wrong HNS loadbalancer ID
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, sig/network, lgtm, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#112482 Automated cherry pick of #111549: Fixes kubelet log compression on Windows
  pkg/kubelet/logs/container_log_manager.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#112840 Automated cherry pick of #112837: Fix winkernel proxier setting the wrong HNS loadbalancer ID
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, sig/network, lgtm, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#112483 Automated cherry pick of #111549: Fixes kubelet log compression on Windows
  pkg/kubelet/logs/container_log_manager.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#109959 Move celopenapi/model to staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/cel_validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/urls.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/README.md
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/escaping.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/escaping_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/registry.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/schemas.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/schemas_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/types.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/types_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/url.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/value.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/value_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/values.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/LICENSE
  staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XL, kind/api-change, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, area/code-organization, triage/accepted

#112884 wire up feature-gate for component slis
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#112283 Automated cherry pick of #111109: Always log APF InitialSeats and FinalSeats values
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#112903 [release-1.24] Update images, dependencies and version to Go 1.18.7
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, triage/accepted

#112902 [release-1.25] Update images, dependencies and version to Go 1.19.2
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, triage/accepted

#112907 add meta-metrics for metrics framework
  staging/src/k8s.io/component-base/metrics/counter.go
  staging/src/k8s.io/component-base/metrics/gauge.go
  staging/src/k8s.io/component-base/metrics/histogram.go
  staging/src/k8s.io/component-base/metrics/legacyregistry/registry.go
  staging/src/k8s.io/component-base/metrics/metric.go
  staging/src/k8s.io/component-base/metrics/registry.go
  staging/src/k8s.io/component-base/metrics/summary.go
  staging/src/k8s.io/component-base/metrics/timing_histogram.go
Labels: lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage

#112904 Update publishing-bot rules to Go 1.19.2 and 1.18.7
  staging/publishing/rules.yaml
Labels: lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, triage/accepted

#112933 Cleanup CopyFile
  cmd/kubeadm/app/cmd/phases/util.go
Labels: kind/bug, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#112844 Update_ineligible_endpoints.yaml : add createAuthorizationV1SelfSubjectRulesReview to the list
  test/conformance/testdata/ineligible_endpoints.yaml
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, triage/accepted

#112946 kubeadm: fix typo for cmd reset's runner binding
  cmd/kubeadm/app/cmd/reset.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#112774 client-go: factor the dynamic client similarly to others
  staging/src/k8s.io/client-go/dynamic/simple.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, triage/accepted

#112952 Make root approvers list non-recursive, shift from individuals to sig/subproject aliases
  .github/OWNERS
  CHANGELOG/OWNERS
  LICENSES/OWNERS
  OWNERS
  OWNERS_ALIASES
  build/OWNERS
  cluster/OWNERS
  cmd/OWNERS
  docs/OWNERS
  hack/OWNERS
  hack/update-vendor.sh
  logo/OWNERS
  pkg/OWNERS
  plugin/OWNERS
  staging/OWNERS
  test/OWNERS
  third_party/OWNERS
  vendor/OWNERS
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, size/L, sig/contributor-experience, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#112956 remove in-tree volume limits test now that CSIMigration is GA
  test/e2e/storage/volume_limits.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#112945 kubeadm: Inherit `dry-run` flags for each sub-phases
  cmd/kubeadm/app/cmd/phases/init/addons.go
  cmd/kubeadm/app/cmd/phases/init/bootstraptoken.go
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/phases/init/etcd.go
  cmd/kubeadm/app/cmd/phases/init/kubeconfig.go
  cmd/kubeadm/app/cmd/phases/init/kubelet.go
  cmd/kubeadm/app/cmd/phases/init/kubeletfinalize.go
  cmd/kubeadm/app/cmd/phases/init/markcontrolplane.go
  cmd/kubeadm/app/cmd/phases/init/preflight.go
  cmd/kubeadm/app/cmd/phases/init/uploadcerts.go
  cmd/kubeadm/app/cmd/phases/init/uploadconfig.go
  cmd/kubeadm/app/cmd/phases/join/controlplanejoin.go
  cmd/kubeadm/app/cmd/phases/join/controlplaneprepare.go
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
  cmd/kubeadm/app/cmd/phases/join/preflight.go
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
  cmd/kubeadm/app/cmd/phases/reset/preflight.go
  cmd/kubeadm/app/cmd/phases/reset/removeetcdmember.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/S, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#112975 e2e storage: proxy workarounds
  test/e2e/storage/drivers/proxy/io.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#112563 Remove newScheduler for reducing complexity
  pkg/scheduler/extender_test.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112806 test: demote service ClientIP affinity timeout tests from conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/cleanup, lgtm, release-note, size/M, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, needs-triage

#112995 add support for timing histograms and const labels
  test/instrumentation/decode_metric.go
  test/instrumentation/metric.go
  test/instrumentation/testdata/pkg/kubelet/metrics/metrics.go
  test/instrumentation/testdata/test-stable-metrics-list.yaml
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage, area/stable-metrics

#112997 Add liggitt to dep-approvers alias
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/code-organization, needs-triage

#112978 add 'metrics/slis' to kcm health checks
  cmd/kube-controller-manager/app/controllermanager.go
Labels: lgtm, sig/api-machinery, release-note, size/XS, kind/feature, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#112944 Switch to assert.ErrorEquals from assert.Equal to check error equality
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_blobDiskController_test.go
Labels: lgtm, area/cloudprovider, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, kind/failing-test, sig/cloud-provider, ok-to-test, triage/accepted

#112785 CloudProvider: service update event should be triggered when appProtocol in port is changed
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, sig/network, lgtm, area/cloudprovider, release-note, size/M, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#113014 add support for parsing gauge func
  test/instrumentation/decode_metric.go
  test/instrumentation/find_stable_metric.go
  test/instrumentation/testdata/pkg/kubelet/metrics/metrics.go
  test/instrumentation/testdata/test-stable-metrics-list.yaml
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-triage, area/stable-metrics

#112991 add explicit stability levels for shared metrics
  staging/src/k8s.io/component-base/metrics/prometheus/clientgo/leaderelection/metrics.go
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
  staging/src/k8s.io/component-base/metrics/prometheus/workqueue/metrics.go
Labels: priority/backlog, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-triage

#112992 fix metric labels in cloud-provider metrics since it breaks static analysis
  staging/src/k8s.io/legacy-cloud-providers/azure/metrics/azure_metrics.go
  staging/src/k8s.io/legacy-cloud-providers/gce/metrics.go
Labels: kind/cleanup, lgtm, area/cloudprovider, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/cloud-provider, needs-priority, needs-triage

#112926 split and move CEL package
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/cel_validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/README.md
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/schemas.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/schemas_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/types_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/values.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/cel/errors.go
  staging/src/k8s.io/apiserver/pkg/cel/escaping.go
  staging/src/k8s.io/apiserver/pkg/cel/escaping_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/libraries.go
  staging/src/k8s.io/apiserver/pkg/cel/library/library_compatibility_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/lists.go
  staging/src/k8s.io/apiserver/pkg/cel/library/regex.go
  staging/src/k8s.io/apiserver/pkg/cel/library/urls.go
  staging/src/k8s.io/apiserver/pkg/cel/limits.go
  staging/src/k8s.io/apiserver/pkg/cel/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/cel/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/cel/registry.go
  staging/src/k8s.io/apiserver/pkg/cel/types.go
  staging/src/k8s.io/apiserver/pkg/cel/types_test.go
  staging/src/k8s.io/apiserver/pkg/cel/url.go
  staging/src/k8s.io/apiserver/pkg/cel/value.go
  staging/src/k8s.io/apiserver/pkg/cel/value_test.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, area/dependency, triage/accepted

#112219 Extract ParseError from PodInfo
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/plugins/queuesort/priority_sort_test.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler_test.go
Labels: area/kubelet, kind/cleanup, sig/scheduling, lgtm, sig/storage, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#113022 unparameterize 'webhook' from conversion metrics since it's the only one
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/metrics.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113027 account for timing ratio histogram function calls
  test/instrumentation/decode_metric.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage

#113011 Bumps cobra from 1.5.0 to 1.6.0
  LICENSES/vendor/github.com/inconshreveable/mousetrap/LICENSE
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  vendor/github.com/inconshreveable/mousetrap/LICENSE
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/Makefile
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/args.go
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/command_notwin.go
  vendor/github.com/spf13/cobra/command_win.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/doc/README.md
  vendor/github.com/spf13/cobra/doc/man_docs.go
  vendor/github.com/spf13/cobra/doc/md_docs.go
  vendor/github.com/spf13/cobra/doc/rest_docs.go
  vendor/github.com/spf13/cobra/doc/util.go
  vendor/github.com/spf13/cobra/doc/yaml_docs.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/flag_groups.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/projects_using_cobra.md
  vendor/github.com/spf13/cobra/shell_completions.go
  vendor/github.com/spf13/cobra/shell_completions.md
  vendor/github.com/spf13/cobra/user_guide.md
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/api-machinery, size/L, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/architecture, sig/cloud-provider, ok-to-test, area/dependency, triage/accepted

#112789 Load encryption config once (second approach)
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/apiextensions.go
  cmd/kube-apiserver/app/server.go
  pkg/controlplane/instance_test.go
  pkg/kubeapiserver/default_storage_factory_builder.go
  pkg/registry/registrytest/etcd.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/testing/testserver.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fixtures/server.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/pruning_test.go
  staging/src/k8s.io/apiserver/pkg/apis/config/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/recommended.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/identity/identity.go
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer.go
  test/integration/controlplane/transformation/kmsv2_transformation_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, size/XL, kind/api-change, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#112924 cleanup: Remove out-of-support Windows 20H2 images
  build/dependencies.yaml
  build/pause/CHANGELOG.md
  build/pause/Makefile
  cluster/images/etcd/Makefile
  test/images/README.md
  test/images/agnhost/BASEIMAGE
  test/images/agnhost/README.md
  test/images/agnhost/VERSION
  test/images/busybox/BASEIMAGE
  test/images/busybox/VERSION
  test/images/httpd-new/BASEIMAGE
  test/images/httpd-new/VERSION
  test/images/httpd/BASEIMAGE
  test/images/httpd/VERSION
  test/images/image-util.sh
  test/images/jessie-dnsutils/BASEIMAGE
  test/images/jessie-dnsutils/VERSION
  test/images/kitten/BASEIMAGE
  test/images/kitten/VERSION
  test/images/nautilus/BASEIMAGE
  test/images/nautilus/VERSION
  test/images/nginx-new/BASEIMAGE
  test/images/nginx-new/VERSION
  test/images/nginx/BASEIMAGE
  test/images/nginx/VERSION
  test/images/nonroot/BASEIMAGE
  test/images/nonroot/VERSION
  test/images/redis/BASEIMAGE
  test/images/redis/VERSION
  test/images/resource-consumer/BASEIMAGE
  test/images/resource-consumer/VERSION
  test/images/sample-apiserver/BASEIMAGE
  test/images/sample-apiserver/VERSION
  test/images/windows-nanoserver/BASEIMAGE
  test/images/windows-nanoserver/VERSION
  test/images/windows-servercore-cache/BASEIMAGE
  test/images/windows-servercore-cache/VERSION
Labels: area/test, kind/cleanup, lgtm, release-note, size/M, area/release-eng, approved, sig/windows, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#112153 kmsv2: enable logging for kmsv2 enc/dec operations
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/envelope.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#113049 update readme for instrumentation static analysis code
  test/instrumentation/README.md
Labels: area/test, kind/documentation, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage

#113048 kubeadm: optimize and make the usage consistent about apierrors.IsNotFound
  cmd/kubeadm/app/phases/addons/dns/dns.go
  cmd/kubeadm/app/util/apiclient/clientbacked_dryrun.go
  cmd/kubeadm/app/util/apiclient/wait.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#113052 add support for parsing buckets from variables of prom.Linear and prom.Expo helpers
  test/instrumentation/decode_metric.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage

#112939 feat: update preemption victims metric
  pkg/scheduler/metrics/metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: sig/scheduling, lgtm, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, needs-triage, area/stable-metrics

#112921 Cherry pick #112607 Make mount ref search more robust
  pkg/volume/util/util.go
  pkg/volume/util/util_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#113060 Promote List, Patch and Delete LimitRange test to Conformance - +3 Endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/scheduling/limit_range.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#113061 Promote replaceCoreV1NamespacedServiceAccount test to Conformance - +1 Endpoint
  test/conformance/testdata/conformance.yaml
  test/e2e/auth/service_accounts.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#113059 Promote Read, Replace ReplicationController scale endpoints Conformance - +2 Endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/apps/rc.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#112887 Cherry pick #112607 Make mount ref search more robust
  pkg/volume/util/util.go
  pkg/volume/util/util_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#112950 add rule to KUBE-SERVICES Chains to return early when source address match localhost
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/ipvs/testing/util.go
Labels: sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, triage/accepted

#112920 Cherry pick #112607 Make mount ref search more robust
  pkg/volume/util/util.go
  pkg/volume/util/util_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#112941 kubeadm: print out the solution if CA files do not exist
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#113039 kubeadm: fix the help msg for `kubeadm init phase upload-certs`
  cmd/kubeadm/app/cmd/phases/init/uploadcerts.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#113045 Update to latest kubedns and nodelocaldns images.
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: lgtm, area/provider/gcp, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#112700 Fix the bug that kubectl convert does not pick the right api version
  pkg/kubectl/cmd/convert/import_known_versions.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/XS, approved, sig/cli, cncf-cla: yes, triage/accepted

#110902 convert int32 to pointer using library function
  pkg/controller/controller_utils_test.go
  pkg/controller/deployment/deployment_controller_test.go
  pkg/controller/history/controller_history_test.go
  pkg/controller/replicaset/replica_set_test.go
  pkg/controller/statefulset/stateful_set_utils_test.go
Labels: priority/backlog, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, lifecycle/stale, ok-to-test, triage/accepted

#113026 add metrics/slis to kube-scheduler health checks
  cmd/kube-scheduler/app/server.go
Labels: sig/scheduling, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#112558 update sig-network reviewers/approvers on controller manager
  pkg/controller/endpoint/OWNERS
  pkg/controller/nodeipam/OWNERS
  pkg/controller/nodeipam/ipam/OWNERS
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#112824 Promote ExpandedDNSConfig feature to beta stage
  pkg/features/kube_features.go
  test/e2e/network/dns.go
Labels: area/test, sig/network, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#110498 CHANGELOG fix some format error of changelog1.24
  CHANGELOG/CHANGELOG-1.24.md
Labels: kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#109590 code check modify
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/server/hooks.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, lifecycle/stale, ok-to-test, needs-priority, triage/accepted

#111096 Add categories to kubectl api-resources wide output and add --categories flag
  staging/src/k8s.io/kubectl/pkg/cmd/apiresources/apiresources.go
  staging/src/k8s.io/kubectl/pkg/cmd/apiresources/apiresources_test.go
Labels: kind/cleanup, area/kubectl, lgtm, release-note, size/M, kind/feature, approved, sig/cli, cncf-cla: yes, needs-priority, triage/accepted

#112133 Remove kube-proxy userspace modes
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_test.go
  cmd/kube-proxy/app/server_windows.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubemark/hollow_proxy.go
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/after/v1alpha1.yaml
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/roundtrip/default/v1alpha1.yaml
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/defaults.go
  pkg/proxy/apis/config/v1alpha1/defaults_test.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/apis/config/validation/validation.go
  pkg/proxy/apis/config/validation/validation_test.go
  pkg/proxy/apis/config/zz_generated.deepcopy.go
  pkg/proxy/userspace/OWNERS
  pkg/proxy/userspace/loadbalancer.go
  pkg/proxy/userspace/port_allocator.go
  pkg/proxy/userspace/port_allocator_test.go
  pkg/proxy/userspace/proxier.go
  pkg/proxy/userspace/proxier_test.go
  pkg/proxy/userspace/proxysocket.go
  pkg/proxy/userspace/rlimit.go
  pkg/proxy/userspace/rlimit_windows.go
  pkg/proxy/userspace/roundrobin.go
  pkg/proxy/userspace/roundrobin_test.go
  pkg/proxy/winuserspace/loadbalancer.go
  pkg/proxy/winuserspace/proxier.go
  pkg/proxy/winuserspace/proxier_test.go
  pkg/proxy/winuserspace/proxysocket.go
  pkg/proxy/winuserspace/roundrobin.go
  pkg/proxy/winuserspace/roundrobin_test.go
  pkg/proxy/winuserspace/types.go
  pkg/util/netsh/OWNERS
  pkg/util/netsh/doc.go
  pkg/util/netsh/netsh.go
  pkg/util/netsh/netsh_test.go
  pkg/util/netsh/testing/fake.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/zz_generated.deepcopy.go
  test/e2e/framework/.import-restrictions
Labels: area/test, sig/network, kind/cleanup, sig/scalability, lgtm, sig/api-machinery, release-note, size/XXL, kind/api-change, approved, sig/windows, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, area/e2e-test-framework, triage/accepted

#112163 graduate ServiceIPStaticSubrange to GA
  pkg/features/kube_features.go
  pkg/registry/core/service/ipallocator/allocator.go
  pkg/registry/core/service/ipallocator/allocator_test.go
  pkg/registry/core/service/ipallocator/storage/storage_test.go
Labels: sig/network, lgtm, release-note, size/S, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#112374 do not print status stack in case of timeout from timeout handler
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/S, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#112587 fix a typo in test/conformance/walk.go
  test/conformance/walk.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, ok-to-test, needs-priority, triage/accepted

#112860 Remove log line from expiration cache
  staging/src/k8s.io/client-go/tools/cache/expiration_cache.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#112891 Write e2e test for replaceCoreV1NamespaceFinalize +1 Endpoints
  test/e2e/apimachinery/namespace.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#113057 add metrics/slis to kube-proxy health checks
  cmd/kube-proxy/app/server.go
Labels: sig/network, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111616 Move the Kubelet Credential Provider feature to GA and Update the Credential Provider API to GA
  api/api-rules/violation_exceptions.list
  hack/.import-aliases
  pkg/credentialprovider/plugin/config_test.go
  pkg/credentialprovider/plugin/plugin.go
  pkg/credentialprovider/plugin/plugin_test.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/scheme/scheme.go
  pkg/kubelet/apis/config/scheme/testdata/CredentialProviderConfig/after/v1.yaml
  pkg/kubelet/apis/config/scheme/testdata/CredentialProviderConfig/before/v1.yaml
  pkg/kubelet/apis/config/scheme/testdata/CredentialProviderConfig/roundtrip/default/v1.yaml
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1/doc.go
  pkg/kubelet/apis/config/v1/register.go
  pkg/kubelet/apis/config/v1/zz_generated.conversion.go
  pkg/kubelet/apis/config/v1/zz_generated.deepcopy.go
  pkg/kubelet/apis/config/v1/zz_generated.defaults.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  staging/src/k8s.io/component-base/config/testing/apigroup.go
  staging/src/k8s.io/kubelet/config/v1/doc.go
  staging/src/k8s.io/kubelet/config/v1/register.go
  staging/src/k8s.io/kubelet/config/v1/register_test.go
  staging/src/k8s.io/kubelet/config/v1/types.go
  staging/src/k8s.io/kubelet/config/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/install/install.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1/doc.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1/register.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1/types.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1/zz_generated.conversion.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1/zz_generated.defaults.go
  test/e2e_node/plugins/gcp-credential-provider/main.go
  test/e2e_node/plugins/gcp-credential-provider/main_test.go
  test/e2e_node/plugins/gcp-credential-provider/provider.go
  test/e2e_node/remote/utils.go
  vendor/modules.txt
Labels: area/test, priority/important-soon, area/kubelet, sig/scheduling, lgtm, sig/node, sig/api-machinery, release-note, size/XL, kind/api-change, approved, cncf-cla: yes, sig/testing, area/code-generation, ok-to-test, triage/accepted

#113033 Automated cherry pick of #112785: service update event should be triggered when appProtocol in
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, area/cloudprovider, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#113031 Automated cherry pick of #112785: service update event should be triggered when appProtocol in
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, area/cloudprovider, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#113032 Automated cherry pick of #112785: service update event should be triggered when appProtocol in
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, area/cloudprovider, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#112999 Fix NPE
  test/images/agnhost/VERSION
  test/images/agnhost/no-snat-test-proxy/main.go
Labels: kind/bug, area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, needs-triage

#113082 Fixing words in the comment
  pkg/proxy/apis/config/types.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112714 Refactors describe command to split flags from options
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go
Labels: kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#113094 kubeadm: fix the err msg if the token format is not match
  cmd/kubeadm/app/cmd/token.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#111339 e2e: Remove ginkgo option `output-interceptor-mode`
  hack/ginkgo-e2e.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113042 node: e2e: memorymgr: Fix test failure
  test/e2e_node/memory_manager_test.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#113005 kubeadm: Enable `dry-run` mode for phase of `control-plane-prepare certs`
  cmd/kubeadm/app/cmd/phases/join/controlplaneprepare.go
  cmd/kubeadm/app/phases/certs/certlist.go
  cmd/kubeadm/app/phases/copycerts/copycerts.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/S, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#113102 scheduler: remove unused constant DefaultBindTimeoutSeconds from VolumeBinding plugin
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112521 Add a scheduler profile level parameter percentageOfNodesToScore
  cmd/kube-scheduler/app/options/options_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1/defaults.go
  pkg/scheduler/apis/config/v1/defaults_test.go
  pkg/scheduler/apis/config/v1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1beta2/conversion.go
  pkg/scheduler/apis/config/v1beta2/defaults_test.go
  pkg/scheduler/apis/config/v1beta2/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1beta3/conversion.go
  pkg/scheduler/apis/config/v1beta3/defaults_test.go
  pkg/scheduler/apis/config/v1beta3/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  staging/src/k8s.io/kube-scheduler/config/v1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1/zz_generated.deepcopy.go
Labels: area/test, sig/scheduling, lgtm, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, api-review, triage/accepted

#113054 remove rate limiter metric as it is not in use
  cmd/kube-controller-manager/app/core.go
  pkg/controller/bootstrap/bootstrapsigner.go
  pkg/controller/bootstrap/tokencleaner.go
  pkg/controller/certificates/rootcacertpublisher/publisher.go
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/deployment/deployment_controller.go
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  pkg/controller/job/job_controller.go
  pkg/controller/namespace/namespace_controller.go
  pkg/controller/nodeipam/ipam/multi_cidr_range_allocator.go
  pkg/controller/nodeipam/node_ipam_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/podgc/gc_controller.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/serviceaccount/serviceaccounts_controller.go
  pkg/controller/serviceaccount/tokens_controller.go
  pkg/controller/ttlafterfinished/ttlafterfinished_controller.go
  pkg/controller/volume/pvcprotection/pvc_protection_controller.go
  pkg/controller/volume/pvprotection/pv_protection_controller.go
  staging/src/k8s.io/cloud-provider/controllers/route/route_controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/component-base/metrics/prometheus/ratelimiter/OWNERS
  staging/src/k8s.io/component-base/metrics/prometheus/ratelimiter/rate_limiter.go
  staging/src/k8s.io/component-base/metrics/prometheus/ratelimiter/rate_limiter_test.go
  vendor/modules.txt
Labels: sig/network, kind/cleanup, lgtm, area/cloudprovider, sig/api-machinery, size/L, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, sig/cloud-provider, needs-priority, needs-triage

#113106 dependencies: update to gomega v1.22.1 and ginkgo v2.3.1
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  test/e2e/framework/internal/unittests/cleanup/cleanup_test.go
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/RELEASING.md
  vendor/github.com/onsi/ginkgo/v2/core_dsl.go
  vendor/github.com/onsi/ginkgo/v2/decorator_dsl.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/build/build_command.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/internal/verify_version.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/outline/import.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/run/run_command.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/watch/watch_command.go
  vendor/github.com/onsi/ginkgo/v2/internal/group.go
  vendor/github.com/onsi/ginkgo/v2/internal/interrupt_handler/interrupt_handler.go
  vendor/github.com/onsi/ginkgo/v2/internal/node.go
  vendor/github.com/onsi/ginkgo/v2/internal/progress_report.go
  vendor/github.com/onsi/ginkgo/v2/internal/spec.go
  vendor/github.com/onsi/ginkgo/v2/internal/spec_context.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/reporters/default_reporter.go
  vendor/github.com/onsi/ginkgo/v2/reporters/junit_report.go
  vendor/github.com/onsi/ginkgo/v2/reporters/teamcity_report.go
  vendor/github.com/onsi/ginkgo/v2/table_dsl.go
  vendor/github.com/onsi/ginkgo/v2/types/code_location.go
  vendor/github.com/onsi/ginkgo/v2/types/config.go
  vendor/github.com/onsi/ginkgo/v2/types/errors.go
  vendor/github.com/onsi/ginkgo/v2/types/types.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/RELEASING.md
  vendor/github.com/onsi/gomega/gmeasure/experiment.go
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/internal/async_assertion.go
  vendor/github.com/onsi/gomega/internal/gomega.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/github.com/onsi/gomega/matchers/be_key_of_matcher.go
  vendor/github.com/onsi/gomega/types/types.go
  vendor/modules.txt
Labels: area/test, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/api-machinery, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/e2e-test-framework, area/dependency, needs-triage

#107278 Preserve metadata for fake dynamic client unstructured lists
  staging/src/k8s.io/client-go/dynamic/fake/simple.go
  staging/src/k8s.io/client-go/dynamic/fake/simple_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, lifecycle/stale, ok-to-test, needs-priority, triage/accepted

#112953 apiserver: fix typo in graceful termination test
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110173 apf: change controller to use SSA for patches
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/patch_test.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#112963 [1.24] Automated cherry pick of #110950: filter out terminated containers in cadvisor_stats_provider
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/provider_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#109924 Use sync in e2e storage provisioning tests
  test/e2e/framework/volume/fixtures.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#113062 client-go: raw data options for fetching openapiv3
  staging/src/k8s.io/client-go/discovery/cached/disk/cached_discovery_test.go
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache_test.go
  staging/src/k8s.io/client-go/discovery/discovery_client_test.go
  staging/src/k8s.io/client-go/openapi/cached/groupversion.go
  staging/src/k8s.io/client-go/openapi/groupversion.go
  staging/src/k8s.io/client-go/util/testing/fake_openapi_handler.go
Labels: priority/important-soon, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, triage/accepted

#113115 actually resolve the computations for buckets for static analysis
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go
Labels: priority/backlog, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, needs-triage

#113117 add support for merging calls to Linear/Exponential Buckets
  test/instrumentation/decode_metric.go
  test/instrumentation/testdata/pkg/kubelet/metrics/metrics.go
  test/instrumentation/testdata/test-stable-metrics-list.yaml
Labels: area/test, priority/important-soon, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-triage, area/stable-metrics

#112901 Fix 'ctr not found' error with gce kube-up for Ubuntu OS deployments
  cluster/gce/gci/configure.sh
Labels: kind/bug, lgtm, area/provider/gcp, size/M, release-note-none, approved, cncf-cla: yes, needs-ok-to-test, sig/cloud-provider, needs-priority, needs-triage

#113113 Fix metrics time durations in schedulerCycle and bindingCycle
  pkg/scheduler/schedule_one.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#113123 order the output for stable metrics since we're supporting more than just stable now
  test/instrumentation/metric.go
  test/instrumentation/testdata/pkg/kubelet/metrics/metrics.go
  test/instrumentation/testdata/test-stable-metrics-list.yaml
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-triage, area/stable-metrics

#113125 added daschott to proxier/winkernel owners
  pkg/proxy/winkernel/OWNERS
Labels: sig/network, kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112964 [1.23] Automated cherry pick of #110950: filter out terminated containers in cadvisor_stats_provider
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/provider_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#112966 Update GO address link
  README.md
  staging/src/k8s.io/kubectl/README.md
  staging/src/k8s.io/sample-apiserver/docs/minikube-walkthrough.md
Labels: kind/documentation, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, sig/docs, sig/architecture, ok-to-test, needs-priority, needs-triage

#113137 restart claim sync when PVC is updated
  pkg/controller/volume/persistentvolume/pv_controller.go
Labels: kind/bug, lgtm, sig/storage, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#113041 Sort kubelet pods by their creation time
  pkg/kubelet/container/runtime.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, triage/accepted

#113107 Bump log level for health check warning for missing components
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-triage

#113120 k8s.io/apiserver/pkg/storage/value: allow encryption-at-rest approval
  staging/src/k8s.io/apiserver/pkg/storage/value/OWNERS
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#113126 remove errant replace from code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, kind/regression, triage/accepted

#113135 Wait for pod not running or gone in storage tests
  test/e2e/framework/pod/wait.go
  test/e2e/storage/ubernetes_lite_volumes.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, area/e2e-test-framework, triage/accepted

#113132 fix typo in Makefile
  build/root/Makefile
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#109662 Replace `DeepEqual` to `Diff` compare on scheduler-binding
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  pkg/scheduler/framework/plugins/volumebinding/binder_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#111601 unit tests: Skip Windows-unrelated tests on Windows
  cmd/kube-proxy/app/server_others_test.go
  cmd/kube-proxy/app/server_test.go
  pkg/kubelet/kuberuntime/helpers_linux_test.go
  pkg/kubelet/kuberuntime/helpers_test.go
  pkg/proxy/ipvs/graceful_termination_test.go
  pkg/proxy/ipvs/ipset_test.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/volume/iscsi/iscsi_util_test.go
  pkg/volume/metrics_block_linux_test.go
Labels: priority/important-soon, sig/network, area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/XXL, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, area/ipvs, triage/accepted

#113118 prefixTransformers: allocate after transformation length is known
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#108959 Fix duplicate code block of `ListAll` function
  staging/src/k8s.io/client-go/tools/cache/listers.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#113087 (aws_credentials): update ecr url validation regex
  pkg/credentialprovider/aws/aws_credentials.go
  pkg/credentialprovider/aws/aws_credentials_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-triage

#111957 Write e2e test for ResourceQuota status +3 Endpoints
  test/e2e/apimachinery/resource_quota.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#113111 Fix SELinux PodSecurity message when only user or role are set
  staging/src/k8s.io/pod-security-admission/policy/check_seLinuxOptions.go
  staging/src/k8s.io/pod-security-admission/policy/check_seLinuxOptions_test.go
Labels: kind/bug, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#112972 print error message when fsck failed
  staging/src/k8s.io/mount-utils/mount_linux.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#112979 Fix bug in which APIServerTracing did not work with some egress selectors
  staging/src/k8s.io/apiserver/pkg/server/options/tracing.go
  test/integration/apiserver/tracing/tracing_test.go
Labels: kind/bug, area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, sig/instrumentation, sig/testing, triage/accepted

#111344 kube-proxy react on Node PodCIDR changes
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_others_test.go
  pkg/proxy/node.go
  pkg/proxy/node_test.go
  pkg/proxy/topology.go
  pkg/proxy/topology_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#113046 Add capability for tests with multiple PVs with the same VolumeHandle
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/framework/testdriver.go
  test/e2e/storage/testsuites/provisioning.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113148 move MergeBuckets into component-base so we can properly support it for static-analysis
  hack/verify-prometheus-imports.sh
  staging/src/k8s.io/component-base/metrics/buckets.go
  staging/src/k8s.io/component-base/metrics/histogram.go
  test/instrumentation/decode_metric.go
  test/instrumentation/testdata/pkg/kubelet/metrics/metrics.go
  test/instrumentation/testdata/test-stable-metrics-list.yaml
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, needs-priority, needs-triage, area/stable-metrics

#113024 kubectl explain openapiv3 template foundations
  staging/src/k8s.io/kubectl/pkg/cmd/explain/explain.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/explain.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/explain_test.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/generator.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/generator_test.go
  vendor/modules.txt
Labels: area/kubectl, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, triage/accepted

#113154 remove gopkg widget
  README.md
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, triage/accepted

#113089 fix typo
  staging/src/k8s.io/client-go/tools/auth/clientauth.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-ok-to-test, triage/accepted

#113158 kubectl-e2e: the event rendering may have 3 or 4 whitespaces
  test/e2e/kubectl/kubectl.go
Labels: area/test, priority/important-soon, lgtm, size/XS, kind/flake, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#113127 Do pod preemption in parallel.
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/cleanup, sig/scalability, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#113165 node: e2e: device plugins: Add more logs for clarity
  test/e2e_node/device_plugin_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#112546 grammar: replace all occurrences of "the the" with "the"
  CHANGELOG/CHANGELOG-1.21.md
  CHANGELOG/CHANGELOG-1.22.md
  CHANGELOG/CHANGELOG-1.23.md
  pkg/controller/endpoint/endpoints_controller.go
  pkg/kubelet/cm/topologymanager/policy.go
  pkg/kubelet/pod_workers.go
  pkg/volume/volume.go
  staging/src/k8s.io/apiserver/pkg/admission/plugins.go
  staging/src/k8s.io/apiserver/pkg/storage/names/generate.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/sorter.go
  test/e2e/framework/log.go
  test/e2e/network/network_tiers.go
  test/e2e/network/service.go
  test/e2e/windows/security_context.go
  test/integration/job/job_test.go
Labels: area/test, priority/backlog, sig/network, area/kubelet, kind/documentation, area/apiserver, area/kubectl, lgtm, sig/storage, sig/node, sig/api-machinery, size/M, area/release-eng, release-note-none, sig/apps, approved, sig/windows, sig/cli, cncf-cla: yes, sig/testing, sig/release, area/e2e-test-framework, triage/accepted

#113167 Add SIG Apps owners for job integration tests
  test/integration/job/OWNERS
Labels: area/test, kind/documentation, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted
