Repository kubernetes/kubernetes, pull requests merged in 2022-07, with the labels that each got.

#110615 Automated cherry pick of #109580: e2e: add storage capability for offline volume expansion
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/external/external.go
  test/e2e/storage/framework/testdriver.go
  test/e2e/storage/testsuites/volume_expand.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#110744 kubeadm: use non-serializable startup probe for etcd pods
  cmd/kubeadm/app/phases/etcd/local.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/XS, kind/feature, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#110791 kubeadm: fix the bug that configurable KubernetesVersion not respected during kubeadm join
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
  cmd/kubeadm/app/util/config/common.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#109853 Cleanup FindPluginBySpec() in VolumePluginMgr
  pkg/volume/plugins.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#110039 Remove side effects from e2e aggregator API service test
  test/e2e/apimachinery/aggregator.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#110922 Revert "Move kubectl wait to informers with a cache to avoid hanging due to objects disappearing from the cluster"
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait_test.go
Labels: kind/bug, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#110862 cleanup: delete same utils.go in pkg/apis/storage
  pkg/apis/storage/v1/util/helpers.go
  pkg/apis/storage/v1beta1/util/helpers.go
  test/e2e/storage/volume_provisioning.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#110925 Remove TTL for scheduler cache to resolve the race condition when Cac…
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/scheduler.go
Labels: kind/bug, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110952 scheduler: remove unused Equal function for HTTPExtender
  pkg/scheduler/extender.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#110768 Filter out unsatisfied nodes when calling AddPod in PodTopologySpread
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
Labels: kind/bug, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#110691 Execute the Run function of kubelet, Remove invalid comments and remove run function
  cmd/kubelet/kubelet.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#110901 Add failure handling of the desiredStateOfWorldPopulator start
  pkg/kubelet/pluginmanager/plugin_manager.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#110908 Automated cherry pick of #110791: kubeadm: fix the bug that configurable KubernetesVersion not
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
  cmd/kubeadm/app/util/config/common.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#110876 add unit test coverage for pkg/util/slice
  pkg/util/slice/slice_test.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, ok-to-test, needs-priority, needs-triage

#110556 Automated cherry pick of #110523: fix image pulling failure when IMDS is unavailalbe in kubelet
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/azure/azure_credentials_test.go
Labels: kind/bug, priority/important-soon, lgtm, size/M, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#110909 Automated cherry pick of #110791: kubeadm: fix the bug that configurable KubernetesVersion not
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
  cmd/kubeadm/app/util/config/common.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#110954 Fix pod's deadline to nil when cache ttl is set to zero
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/scheduler.go
Labels: kind/bug, priority/backlog, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, ¯\_(ツ)_/¯, needs-triage

#110555 Automated cherry pick of #110523: fix image pulling failure when IMDS is unavailalbe in kubelet
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/azure/azure_credentials_test.go
Labels: kind/bug, priority/important-soon, lgtm, size/M, cherry-pick-approved, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#110948 Re-enable JobTrackingWithFinalizers
  pkg/features/kube_features.go
Labels: area/batch, lgtm, release-note, size/XS, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage, wg/batch

#109359 Automated cherry pick of #107631: Avoid updating Services with stale specs Fix the bug that
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, area/cloudprovider, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#109358 Automated cherry pick of #107631: Avoid updating Services with stale specs Fix the bug that
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, area/cloudprovider, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#110910 Automated cherry pick of #110791: kubeadm: fix the bug that configurable KubernetesVersion not
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
  cmd/kubeadm/app/util/config/common.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#110290 Don't use KUBE-MARK-DROP for "no local endpoints"
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Labels: sig/network, kind/cleanup, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#110703 enable ServiceIPStaticSubrange beta by default
  pkg/features/kube_features.go
Labels: sig/network, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#110811 Update golangci-lint to 1.46.2 and fix errors
  .golangci.yaml
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/volume/storageos/storageos_util_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Labels: area/kubelet, kind/cleanup, lgtm, area/cloudprovider, sig/storage, sig/node, sig/autoscaling, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#110978 kubeadm: Don't ask for input if it's dry run mode
  cmd/kubeadm/app/cmd/phases/reset/preflight.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#110990 Rename IPFamilyPolicyType => IPFamilyPolicy
  pkg/api/service/testing/make.go
  pkg/apis/core/types.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/registry/core/service/storage/alloc.go
  pkg/registry/core/service/storage/storage_test.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/servicespec.go
  test/e2e/network/dual_stack.go
  test/integration/dualstack/dualstack_endpoints_test.go
  test/integration/dualstack/dualstack_test.go
Labels: area/test, sig/network, kind/cleanup, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#110543 Cherry pick of #110294 GIT-110239: fix activeDeadlineSeconds enforcement bug
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#110544 Cherry pick of #110294 GIT-110239: fix activeDeadlineSeconds enforcement bug
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#110920 Automated cherry pick of #110639: fix a bug on endpointslices tests comparing the wrong
  pkg/controller/endpointslice/metrics/cache.go
  pkg/controller/endpointslice/metrics/cache_test.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#109683 Write List, Patch & DeleteCollection ResourceQuota test - +3 endpoint coverage
  test/e2e/apimachinery/resource_quota.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#110237 Write APIService lifecycle test + 4 Endpoints
  test/e2e/apimachinery/aggregator.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#110923 Move kubectl wait to informers with a cache to avoid hanging due to objects disappearing from the cluster
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#111004 Remove SIG Scheduling approvers from reviewers
  OWNERS_ALIASES
Labels: kind/documentation, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#110998 kubeadm: De-dup the confirmation on the interactive cmds
  cmd/kubeadm/app/cmd/phases/reset/preflight.go
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/cmd/util/cmdutil.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#110853 Hotfix: filter out unsatisfied nodes when calling AddPod in PodTopologySpread
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#110122 Write ControllerRevisionLifecycleTest +7 Endpoints
  test/e2e/apps/controller_revision.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/architecture, area/conformance, triage/accepted

#110805 Graduate SeccompDefault feature to beta
  pkg/features/kube_features.go
  test/e2e_node/seccompdefault_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, triage/accepted

#111001 build: update to klog v2.70.1
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/klog/v2/internal/dbg/dbg.go
  vendor/k8s.io/klog/v2/klog.go
  vendor/k8s.io/klog/v2/ktesting/testinglogger.go
  vendor/modules.txt
Labels: kind/bug, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/cluster-lifecycle, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, kind/failing-test, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#110877 agnhost: Check symlink target's permissions for Windows
  test/images/agnhost/README.md
  test/images/agnhost/VERSION
  test/images/agnhost/mounttest/mt_utils_windows.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, triage/accepted

#110904 Computation of the StorageVersionHash use overridden storage versions in unit test
  pkg/controlplane/instance_test.go
  pkg/controlplane/storageversionhashdata/data.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110326 Validate dry-run and force flags can not be used same time in replace
  staging/src/k8s.io/kubectl/pkg/cmd/replace/replace.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/XS, approved, sig/cli, cncf-cla: yes, triage/accepted

#110683 add unit test coverage for pkg/kubelet/util/util_unix_test.go
  pkg/kubelet/util/util_unix_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#110774 pkg/kubelet: skip long test on short mode
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kubelet_volumes_linux_test.go
  pkg/kubelet/kubelet_volumes_test.go
  pkg/kubelet/pod_workers_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110860 cleanup: Removes duplicate utils code
  pkg/kubelet/cri/remote/fake/fake_runtime.go
  pkg/kubelet/cri/remote/remote_image.go
  pkg/kubelet/cri/remote/remote_runtime.go
  pkg/kubelet/cri/remote/remote_runtime_test.go
  pkg/kubelet/cri/remote/util/util_unix.go
  pkg/kubelet/cri/remote/util/util_unix_test.go
  pkg/kubelet/cri/remote/util/util_unsupported.go
  pkg/kubelet/cri/remote/util/util_windows.go
  pkg/kubelet/cri/remote/util/util_windows_test.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XL, release-note-none, approved, cncf-cla: yes, triage/accepted

#110916 Correct wrong syntax
  staging/src/k8s.io/apimachinery/pkg/util/intstr/intstr.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111011 Promote patchCoreV1NamespacedPodStatus test - +1 endpoint
  test/conformance/testdata/conformance.yaml
  test/e2e/common/node/pods.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, needs-triage

#111014 [release-1.22 cherrypick] Bump cAdvisor to v0.39.4
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/container/containerd/client.go
  vendor/github.com/google/cadvisor/container/containerd/handler.go
  vendor/modules.txt
Labels: kind/bug, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#111013 [release-1.23 cherrypick] Bump cAdvisor to v0.43.1
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/container/containerd/client.go
  vendor/github.com/google/cadvisor/container/containerd/handler.go
  vendor/modules.txt
Labels: kind/bug, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#111026 Do not skip job requeue in conflict error
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, release-note, size/S, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#111005 Add x-kubernetes-validations cost limit integration test
  test/integration/apiserver/crd_validation_expressions_test.go
Labels: area/test, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#111034 e2e: bump Azure Disk in-tree timeouts
  test/e2e/storage/drivers/in_tree.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#110899 Remove invalid comments in hack/lib/version.sh
  hack/lib/version.sh
  hack/print-workspace-status.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/docs, ok-to-test, needs-priority, needs-triage

#110975 clean up unused function 'GetServiceHealthCheckPathPort'
  pkg/api/v1/service/util.go
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#109394 Kubernetes 1.25: CSIStorageCapacity: use v1 as storage version
  pkg/controlplane/storageversionhashdata/data.go
  pkg/kubeapiserver/default_storage_factory_builder.go
  test/integration/etcd/data.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#110576 Add second set of additional CRD validation E2E tests
  test/e2e/apimachinery/crd_validation_rules.go
Labels: area/test, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#111048 fix pass []any as any in variadic function
  test/e2e/framework/flake_reporting_util.go
  test/e2e/framework/framework.go
Labels: kind/bug, area/test, lgtm, release-note, size/XS, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#110825 add unit test coverage for pkg/util/node and Remove duplicate testcases for func TestGetNodeHostIPs
  pkg/util/node/node_test.go
Labels: kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#108792 fix CustomArgs annotation, todo describe
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/args/args.go
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/main.go
  staging/src/k8s.io/code-generator/cmd/client-gen/args/args.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#109477 remove excluded staticcheck that were already fixed
  .golangci.yaml
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#111059 migrate deprecate flags from ginkgo v1 to v2
  hack/ginkgo-e2e.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, kind/deprecation, needs-triage

#111016 Improve the accuracy of error msg in /pkg/scheduler/internal/queue
  pkg/scheduler/internal/queue/scheduling_queue.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111015 Capture the Container Logs for a Flaky Test
  test/e2e_node/node_perf_test.go
Labels: area/test, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#111017 kubeadm: respect user specified image repository when using Kubernetes ci version
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/L, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#110980 Change snapshot-controller image to v4.2.1
  cluster/addons/volumesnapshots/volume-snapshot-controller/volume-snapshot-controller-deployment.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#110538 Update the Chinese translation of kubectl
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_CN/LC_MESSAGES/k8s.mo
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_CN/LC_MESSAGES/k8s.po
Labels: priority/backlog, kind/documentation, area/kubectl, lgtm, release-note, size/XL, approved, sig/cli, cncf-cla: yes, triage/accepted

#110879 Handle os.MkdirAll error
  pkg/volume/cephfs/cephfs.go
  pkg/volume/quobyte/quobyte.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#111037 Automated cherry pick of #111026: Do not skip job requeue in conflict error
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-triage

#111038 Automated cherry pick of #111026: Do not skip job requeue in conflict error
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-triage

#111032 Remove validation of removedPlugins in KubeSchedulerConfiguration
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#111087 Fix: import the same package multiple times
  staging/src/k8s.io/client-go/discovery/cached/disk/cached_discovery_test.go
  staging/src/k8s.io/client-go/rest/exec.go
  staging/src/k8s.io/client-go/rest/exec_test.go
  staging/src/k8s.io/client-go/util/certificate/csr/csr.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111021 kubeadm: fix the bug that configurable KubernetesVersion not respected during kubeadm join
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/config/common.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#111022 kubeadm: fix the bug that configurable KubernetesVersion not respected during kubeadm join
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/config/common.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#111063 Revert the workaround needed to cleanup for Ginkgo V1
  test/e2e/framework/framework.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#111024 kubeadm: fix the bug that configurable KubernetesVersion not respected during kubeadm join
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/config/common.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#103523 enabling CSIMigrationvSphere feature by default
  pkg/features/kube_features.go
Labels: lgtm, sig/storage, release-note, size/XS, kind/feature, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#108532 Use errors.As to detect wrapping in StatusCause
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111036 merge MakeDefaultErrorFunc into handleSchedulingFailure
  pkg/scheduler/extender_test.go
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/queue_test.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#111064 Update kube aggregator readme
  staging/src/k8s.io/kube-aggregator/README.md
Labels: kind/documentation, kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110974 Handle two or more default IngressClasses more cleanly
  plugin/pkg/admission/network/defaultingressclass/admission.go
  plugin/pkg/admission/network/defaultingressclass/admission_test.go
Labels: sig/network, kind/cleanup, lgtm, release-note, size/M, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111065 Stop using the deprecated `Measure` method
  test/e2e/autoscaling/autoscaling_timer.go
  vendor/github.com/onsi/gomega/gmeasure/cache.go
  vendor/github.com/onsi/gomega/gmeasure/enum_support.go
  vendor/github.com/onsi/gomega/gmeasure/experiment.go
  vendor/github.com/onsi/gomega/gmeasure/measurement.go
  vendor/github.com/onsi/gomega/gmeasure/rank.go
  vendor/github.com/onsi/gomega/gmeasure/stats.go
  vendor/github.com/onsi/gomega/gmeasure/stopwatch.go
  vendor/github.com/onsi/gomega/gmeasure/table/table.go
  vendor/modules.txt
Labels: area/test, kind/cleanup, lgtm, release-note, sig/autoscaling, size/S, approved, cncf-cla: yes, sig/testing, needs-priority, kind/deprecation, needs-triage

#111002 fix static-check for staging/src/k8s.io/client-go/
  staging/src/k8s.io/client-go/transport/round_trippers.go
  staging/src/k8s.io/client-go/util/connrotation/connrotation_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#110930 fix:remove Redundant type conversion
  test/e2e/apimachinery/apply.go
  test/e2e/apimachinery/garbage_collector.go
  test/e2e/apimachinery/namespace.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#111039 quota: add an update filter
  cmd/kube-controller-manager/app/core.go
  pkg/controller/resourcequota/resource_quota_controller.go
  pkg/controller/resourcequota/resource_quota_monitor.go
  pkg/quota/v1/install/update_filter.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#110104 Add timing ratio histograms
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/sample_and_watermark.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/sample_and_watermark_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/timing_ratio_histogram.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/timing_ratio_histogram_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#111097 fix: update the typo code comment
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  test/e2e/apimachinery/crd_validation_rules.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/testing, area/code-generation, ok-to-test, needs-priority, needs-triage

#110958 Pass context to pkg/scheduler/framework/plugins/volumebinding.
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  pkg/scheduler/framework/plugins/volumebinding/binder_test.go
  pkg/scheduler/framework/plugins/volumebinding/fake_binder.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111109 Always log APF WorkEstimate params in kube-apiserver http logs
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#109676 Skip mount point checks when possible during mount cleanup.
  staging/src/k8s.io/mount-utils/fake_mounter.go
  staging/src/k8s.io/mount-utils/mount.go
  staging/src/k8s.io/mount-utils/mount_helper_common.go
  staging/src/k8s.io/mount-utils/mount_helper_test.go
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
  staging/src/k8s.io/mount-utils/mount_unsupported.go
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/L, kind/api-change, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111070 Refactor gc_controller to do not use the deletePod stub
  pkg/controller/podgc/gc_controller.go
  pkg/controller/podgc/gc_controller_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#104907 Minimal checkpointing support
  pkg/features/kube_features.go
  pkg/kubelet/config/defaults.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/container/testing/runtime_mock.go
  pkg/kubelet/cri/remote/fake/fake_runtime.go
  pkg/kubelet/cri/remote/remote_runtime.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_getters.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/instrumented_services.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/server/auth_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/services.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_runtime_service.go
  test/e2e_node/checkpoint_container.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XXL, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#111083 mount-utils: only detect systemd when needed
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111127 fix: update comment for related updated func
  pkg/scheduler/framework/interface.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111130 Add comments around `go install`
  hack/lib/golang.sh
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#111141 Fix kubelet panic when accessing metrics/resource endpoint
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted

#110950 filter out terminated containers in cadvisor_stats_provider
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/provider_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#111035 metrics for CEL compilation and evaluation
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/metrics/metrics.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/metrics/metrics_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  vendor/modules.txt
Labels: priority/important-soon, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/instrumentation, triage/accepted

#111080 Correct wrong syntax
  staging/src/k8s.io/client-go/rest/request_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111128 gitignore __* - leave them for local use
  .gitignore
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#111146 kubeadm: UnversionedKubeletConfigMap is GAed in v1.25
  cmd/kubeadm/app/features/features.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#111129 Makefile: sort debug output by time
  build/root/Makefile.generated_files
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#111132 Remove unused `unset_platform_envs` func
  hack/lib/golang.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#111133 Add comment on build_binaries_for_platform
  hack/lib/golang.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#106834 Add support for slash as sysctl separator to Pod securityContext field and to PodSecurityPolicy
  pkg/api/pod/util.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/policy/validation/validation.go
  pkg/apis/policy/validation/validation_test.go
  pkg/kubelet/sysctl/allowlist.go
  test/e2e/common/node/sysctl.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/architecture, area/conformance, sig/security, triage/accepted

#110880 When metrics are counted, discard the wrong container StartTime metrics
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, sig/instrumentation, triage/accepted

#111131 Make coverage handle relative-path pkgs
  hack/lib/golang.sh
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#111135 Make yamlfmt tool print filenames
  cmd/yamlfmt/yamlfmt.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#111176 refactor the reflector to pave the way for streaming
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#111138 Fix failing e2e test: Handle two default IngressClasses more cleanly
  test/e2e/network/ingressclass.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#111169 Remove redundant variable definitions in apis/autoscaling
  pkg/apis/autoscaling/fuzzer/fuzzer.go
  pkg/apis/autoscaling/v1/defaults.go
  pkg/apis/autoscaling/v2/defaults.go
  pkg/apis/autoscaling/v2beta1/defaults.go
  pkg/apis/autoscaling/v2beta2/defaults.go
Labels: kind/cleanup, lgtm, sig/autoscaling, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111171 cacher: Use PodList type for use in GetList
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: priority/backlog, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-triage

#107042 Update etcdRequestLatency metrics bucket size
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, ok-to-test, needs-priority, triage/accepted, area/stable-metrics

#110706 Add rate limiting when calling STS assume role API
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_assumerole_provider.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_assumerole_provider_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, release-note, size/L, approved, cncf-cla: yes, area/provider/aws, sig/cloud-provider, ok-to-test, triage/accepted

#111134 Improve the accuracy of output msg in pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110569 Clean shutdown of controlplane integration tests
  test/integration/controlplane/synthetic_controlplane_test.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#111189 Add testcases for cmd/kubeadm/app/util/net.go and version.go
  cmd/kubeadm/app/util/net_test.go
  cmd/kubeadm/app/util/version_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, triage/accepted

#110813 Ensure the directory for the file in flag `--audit-log-path` exists
  staging/src/k8s.io/apiserver/pkg/server/options/audit.go
  staging/src/k8s.io/apiserver/pkg/server/options/audit_test.go
Labels: kind/bug, area/apiserver, lgtm, release-note, size/S, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110762 kube-proxy: kernelspace mode is announced to be default for windows
  cmd/kube-proxy/app/server.go
  pkg/proxy/apis/config/validation/validation.go
Labels: sig/network, kind/cleanup, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#111047 scheduler: improve the comment and add more unit test cases for DefaultNormalizeScore
  pkg/scheduler/framework/plugins/helper/normalize_score.go
  pkg/scheduler/framework/plugins/helper/normalize_score_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#111125 Delete dead audit code
  staging/src/k8s.io/apiserver/pkg/audit/policy/enforce.go
  staging/src/k8s.io/apiserver/pkg/audit/policy/enforce_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#111153 scheduler: remove useless null pointer check about nodeInfo for in-tree plugins
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#111199 Update error log to Error Wrapping
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111200 Format the code in pkg/scheduler/framework/plugins/noderesources
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111203 Remove redundant code in pkg/scheduler/framework/plugins/volumebinding
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111224 Revert "Move kubectl wait to informers with a cache to avoid hanging due to objects disappearing from the cluster"
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait_test.go
Labels: priority/critical-urgent, kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#111191 refactor controlplane to use just one client-go
  pkg/controlplane/controller.go
  pkg/controlplane/controller_test.go
  pkg/controlplane/instance.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#109832 Retry when it fails to update pods status on scheduling loop
  pkg/scheduler/util/utils.go
  pkg/scheduler/util/utils_test.go
Labels: kind/bug, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#110649 client-go: Modify FakeEvents to Work Event Sink started with `""` namespace
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_event_expansion.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110663 scheduler: framework: initialize indexers in scheduler core with non-nil map
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110633 Fix leaking goroutines in multiple integration tests
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
  test/integration/auth/rbac_test.go
  test/integration/volume/attach_detach_test.go
  test/integration/volume/persistent_volumes_test.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, needs-triage

#110680 Add audit-id to storage traces
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/helpers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/auditid.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111101 enable stylecheck check in golangci
  .golangci.yaml
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#111210 kubeadm: fix comment typo
  cmd/kubeadm/app/componentconfigs/utils.go
  cmd/kubeadm/app/constants/constants.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#111235 fix a possible panic because of taking the address of nil
  staging/src/k8s.io/client-go/tools/clientcmd/auth_loaders.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#110917 Execute the Run function of kubelet, no log output after failure
  cmd/kubelet/kubelet.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#111240 set ginkgo intercept mode to none to avoid hangs
  hack/ginkgo-e2e.sh
Labels: kind/bug, priority/critical-urgent, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, kind/regression, needs-triage

#111219 proxy: queue syncs on node events rather than syncing immediately
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/S, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-triage

#111242 Fix leaking goroutines in multiple integration tests
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/testing/testserver.go
  staging/src/k8s.io/client-go/transport/cache.go
  test/integration/apiserver/apiserver_test.go
  test/integration/auth/podsecurity_test.go
  test/integration/auth/svcaccttoken_test.go
  test/integration/client/cert_rotation_test.go
  test/integration/controlplane/transformation/kms_transformation_test.go
  test/integration/controlplane/transformation/transformation_testcase.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, needs-triage

#111244 cacher: indroduce expiredBookmarkWatchers
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#111084 Refactor taint_manager to do not use getPod and getNode stubs
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controller/nodelifecycle/scheduler/taint_manager_test.go
Labels: priority/backlog, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#108331 csi: validate the secretnames in CSI spec against NameIsDNSSubdomain
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, api-review, needs-triage

#109763 Write NamespaceStatus endpoints test +3 Endpoints
  test/e2e/apimachinery/namespace.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#111173 Re-Generate k8s.io/apimachinery/pkg/util/sets
  staging/src/k8s.io/apimachinery/pkg/util/sets/byte.go
  staging/src/k8s.io/apimachinery/pkg/util/sets/int.go
  staging/src/k8s.io/apimachinery/pkg/util/sets/int32.go
  staging/src/k8s.io/apimachinery/pkg/util/sets/int64.go
  staging/src/k8s.io/apimachinery/pkg/util/sets/string.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#111267 cleanup: use sets.Len() instead of len(sets.UnsortedList()) in the isEmpty function
  pkg/proxy/ipvs/ipset.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#110957 kube-proxy: windows: Removed hnsV1
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, release-note, size/L, approved, sig/windows, cncf-cla: yes, ok-to-test, kind/deprecation, triage/accepted

#111091 Add integration test for podgc
  pkg/controller/podgc/gc_controller.go
  test/integration/podgc/OWNERS
  test/integration/podgc/main_test.go
  test/integration/podgc/podgc_test.go
  test/integration/util/util.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, ok-to-test, needs-priority, needs-triage

#110914 Print pod.Spec.RuntimeClassName in kubectl describe
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: kind/bug, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111181 Introduce config for API Priority and Fairness
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/config.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/mutating_work_estimator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#111268 cleanup: use sets.Clone() to avoid interim slice
  pkg/scheduler/framework/interface.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#111071 Pick up major changes from cel-go latest release
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/library_compatibility_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/lists.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/regex.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/library/urls.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/schemas.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/schemas_test.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/types.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/types_test.go
  staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model/url.go
  vendor/github.com/google/cel-go/cel/decls.go
  vendor/modules.txt
Labels: priority/important-soon, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/node, sig/api-machinery, size/XL, kind/feature, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted
