Repository kubernetes/kubernetes, pull requests merged in 2022-12, with the labels that each got.

#114232 add etcd 3.5.6-0 to kuebadm supported etcd version
  cmd/kubeadm/app/constants/constants.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#113346 Automated cherry pick of #108997: kubelet: fix volume reconstruction for CSI ephemeral
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/operationexecutor/operation_executor.go
  test/e2e/storage/drivers/csi.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#113815 Cherry pick of #112074, #109342 : test/e2e/storage: replace hardcoded value with custom timeout in cleanup routine
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/framework/snapshot_resource.go
  test/e2e/storage/framework/volume_resource.go
  test/e2e/storage/utils/snapshot.go
Labels: kind/bug, area/test, kind/cleanup, lgtm, sig/storage, size/S, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#112568 Automated cherry pick of #112520: Do not return err if CSIdriver is not found
  pkg/volume/csi/csi_mounter_test.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csi/csi_util_test.go
Labels: kind/bug, lgtm, sig/storage, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113347 Automated cherry pick of #108997: kubelet: fix volume reconstruction for CSI ephemeral
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/operationexecutor/operation_executor.go
  test/e2e/storage/drivers/csi.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#113816 Cherry pick of #112074, #109342 : test/e2e/storage: replace hardcoded value with custom timeout in cleanup routine
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/framework/snapshot_resource.go
  test/e2e/storage/framework/volume_resource.go
  test/e2e/storage/utils/snapshot.go
Labels: kind/bug, area/test, kind/cleanup, lgtm, sig/storage, size/S, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#113817 Cherry pick of #112074: e2e: use custom timeouts in GetSnapshotContentFromSnapshot()
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/framework/snapshot_resource.go
  test/e2e/storage/utils/snapshot.go
Labels: kind/bug, area/test, kind/cleanup, lgtm, sig/storage, size/S, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#114012 egress_selector: prevent goroutines leak on connect() step.
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#114013 egress_selector: prevent goroutines leak on connect() step.
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#113558 Automated cherry pick of #113521: added backend hashing to winkernel proxier
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, priority/critical-urgent, sig/network, lgtm, release-note, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#114105 Automated cherry pick of #114093: use etcd 3.5.6-0 after promotion
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/nodes_util.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, size/S, cherry-pick-approved, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted

#111914 cherry pick pr #111557 to 1.23 :update smd to 4.2.3
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  test/integration/apiserver/crd_regression_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/merge/update.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/schema/elements.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/schema/equals.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/schema/schemaschema.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/helpers.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/merge.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/reconcile_schema.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/typed.go
Labels: kind/bug, area/test, priority/important-soon, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/api-machinery, sig/cluster-lifecycle, release-note, size/L, cherry-pick-approved, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, area/code-generation, sig/cloud-provider, area/dependency, kind/regression, triage/accepted

#114106 Automated cherry pick of #114093: use etcd 3.5.6-0 after promotion
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/nodes_util.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, size/S, cherry-pick-approved, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted

#114108 Automated cherry pick of #114093: use etcd 3.5.6-0 after promotion
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/nodes_util.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, size/S, cherry-pick-approved, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted

#114107 Automated cherry pick of #114093: use etcd 3.5.6-0 after promotion
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/nodes_util.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, size/S, cherry-pick-approved, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted

#114168 Automated cherry pick of #110721: Don't force detach volume from healthy nodes
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-triage

#113954 Automated cherry pick of #112158: allow noop-ignoring transformer to be configurable
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/equality.go
Labels: priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, kind/regression, triage/accepted

#114293 expose prometheus.Registerer so that we can hook into this from external sources
  staging/src/k8s.io/component-base/metrics/registry.go
Labels: priority/important-soon, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-triage

#114309 Revert "expose prometheus.Registerer so that we can hook into this from external sources"
  staging/src/k8s.io/component-base/metrics/registry.go
Labels: priority/critical-urgent, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, triage/accepted

#114335 staging/publishing: add kms to apiserver 1.26 rules
  staging/publishing/rules.yaml
Labels: priority/critical-urgent, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/release, triage/accepted

#114284 releng: Update images, dependencies and version to Go 1.19.4
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/L, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#114287 [release-1.24] releng: Update images, dependencies and version to Go 1.18.9
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#114286 [release-1.25] releng: Update images, dependencies and version to Go 1.19.4
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#114339 [1.22] Change kubelet pause default to registry.k8s.io
  build/dependencies.yaml
  cmd/kubelet/app/options/container_runtime.go
  pkg/kubelet/dockershim/docker_sandbox.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#114340 [1.23] change k8s.gcr.io/pause to registry.k8s.io/pause
  build/dependencies.yaml
  cmd/kubelet/app/options/container_runtime.go
  pkg/kubelet/dockershim/docker_sandbox.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#114288 Update publishing-bot rules to Go 1.18.9
  staging/publishing/rules.yaml
Labels: priority/critical-urgent, lgtm, size/M, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, area/dependency, triage/accepted

#114341 [1.24] change k8s.gcr.io/pause to registry.k8s.io/pause
  build/dependencies.yaml
  cmd/kubelet/app/options/container_runtime.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#114353 add kms as to 1.26 rules for multiple components
  staging/publishing/rules.yaml
Labels: kind/bug, priority/critical-urgent, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-triage

#113267 Remove unused RBAC rule from system:kubelet-api-admin
  cluster/addons/rbac/kubelet-api-auth/kubelet-api-admin-role.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, release-note, size/XS, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#113283 Fix SPDY proxy authentication with percent escaped characters
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#113284 kubectl displays seccomp profile for pod and container
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: priority/backlog, area/kubectl, lgtm, release-note, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, ok-to-test, sig/security, triage/accepted

#113564 Combine RequestAuditConfig with RequestAuditConfigWithLevel
  staging/src/k8s.io/apiserver/pkg/audit/evaluator.go
  staging/src/k8s.io/apiserver/pkg/audit/policy/checker.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go
  test/integration/examples/webhook_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113672 fix: Remove dependency on github.com/pkg/errors
  cmd/kubelet/app/init_windows.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#113768 cleanup:Omit comparison with boolean constant
  pkg/registry/core/pod/storage/eviction.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#113823 cmd/kube-apiserver/app/options: Improving test coverage
  cmd/kube-apiserver/app/options/validation_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#113870 Error Suppression in printer/internalversion/printers
  pkg/printers/internalversion/printers.go
Labels: lgtm, sig/api-machinery, size/L, kind/api-change, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#113874 kubeadm: remove unused command flag constants
  cmd/kubeadm/app/cmd/options/constant.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#113897 Add mpuckett159 to sig-cli reviewers
  OWNERS_ALIASES
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#113922 add alexzielenski to OWNERS
  staging/src/k8s.io/apiextensions-apiserver/OWNERS
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/OWNERS
  staging/src/k8s.io/kube-aggregator/OWNERS
  test/integration/apiserver/OWNERS
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#111207 Reduce indentation in daemonset controller code
  pkg/controller/daemon/daemon_controller.go
Labels: priority/backlog, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, lifecycle/rotten, ok-to-test, triage/accepted

#111403 kubectl: remove unnecessary TODO annotations
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go
Labels: priority/backlog, area/kubectl, lgtm, size/XS, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#111576 Remove ioutil from auth plugin
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy_test.go
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, lifecycle/rotten, ok-to-test, triage/accepted

#111583 kubelet: cleanup secretManager and configManager in podManager
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/pod/pod_manager.go
  pkg/kubelet/pod/pod_manager_test.go
  pkg/kubelet/prober/common_test.go
  pkg/kubelet/prober/worker_test.go
  pkg/kubelet/runonce_test.go
  pkg/kubelet/status/status_manager_test.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/volume_manager_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#111683 reorganize some logic of controller_utils.go
  pkg/controller/controller_utils.go
  pkg/controller/util/node/controller_utils.go
Labels: priority/backlog, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#111835 reportedVerb should get from `CleanVerb` to be consistent between metrics and logs
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted

#111839 pkg/controller: Replace deprecated func usage from the `k8s.io/utils/pointer` pkg
  pkg/controller/daemon/util/daemonset_util_test.go
  pkg/controller/disruption/disruption_test.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/metrics/cache_test.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/topologycache/sliceinfo_test.go
  pkg/controller/endpointslice/topologycache/topologycache_test.go
  pkg/controller/endpointslice/topologycache/utils_test.go
  pkg/controller/endpointslice/utils_test.go
  pkg/controller/endpointslicemirroring/reconciler_test.go
  pkg/controller/endpointslicemirroring/utils_test.go
  pkg/controller/garbagecollector/config/v1alpha1/defaults.go
  pkg/controller/garbagecollector/garbagecollector_test.go
  pkg/controller/job/indexed_job_utils_test.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/nodelifecycle/config/v1alpha1/defaults.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
  pkg/controller/podautoscaler/horizontal_test.go
  pkg/controller/ttlafterfinished/ttlafterfinished_controller_test.go
  pkg/controller/util/endpoint/controller_utils_test.go
  pkg/controller/volume/persistentvolume/config/v1alpha1/defaults.go
Labels: priority/backlog, sig/network, kind/cleanup, lgtm, sig/api-machinery, sig/autoscaling, size/XL, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#111898 Reflector: support logging Unstructured type
  staging/src/k8s.io/client-go/dynamic/dynamicinformer/informer.go
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Labels: kind/bug, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#112247 Wrong description for function ResolveEndpoint
  staging/src/k8s.io/apiserver/pkg/util/proxy/proxy.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#112260 Add metric for max no. of CIDRs available
  pkg/controller/nodeipam/ipam/cidrset/cidr_set.go
  pkg/controller/nodeipam/ipam/cidrset/cidr_set_test.go
  pkg/controller/nodeipam/ipam/cidrset/metrics.go
  pkg/controller/nodeipam/ipam/multicidrset/metrics.go
  pkg/controller/nodeipam/ipam/multicidrset/multi_cidr_set.go
  pkg/controller/nodeipam/ipam/multicidrset/multi_cidr_set_test.go
Labels: sig/network, lgtm, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted

#112627 Kubemark: fix typos to be HollowKubeletOptions
  cmd/kubemark/hollow-node.go
  pkg/kubemark/hollow_kubelet.go
Labels: kind/documentation, sig/scalability, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#112648 Optimize turning a Set into a Selector
  staging/src/k8s.io/apimachinery/pkg/labels/labels.go
  staging/src/k8s.io/apimachinery/pkg/labels/selector.go
  staging/src/k8s.io/apimachinery/pkg/labels/selector_test.go
Labels: sig/scheduling, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#112799 optimize testcases arrangement
  pkg/registry/core/pod/strategy_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#112817 Split options from flags for annotate command
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate.go
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, triage/accepted

#112955 wait for ingress admission to catch up to the cache during testing
  test/e2e/network/ingressclass.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#113083 fix OldReplicaSets in `kubectl describe deploy`
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/L, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#113138 unittests: Skip test if not on GCE
  pkg/credentialprovider/gcp/metadata_test.go
Labels: priority/important-soon, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#113255 Replaces path.Operation with filepath.Operation (kubelet)
  pkg/kubelet/cm/cpumanager/state/state_checkpoint.go
  pkg/kubelet/cm/devicemanager/endpoint_test.go
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/stub.go
  pkg/kubelet/cm/memorymanager/state/state_checkpoint.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/legacy.go
  pkg/kubelet/kuberuntime/legacy_test.go
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_common.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#113978 Guard against merging non-canonical replace directives
  hack/lint-dependencies.sh
Labels: kind/bug, lgtm, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/architecture, area/code-organization, triage/accepted

#113196 Self-nominate mimowo as a reviewer for pkg/controller/job & test/integration/job packages
  pkg/controller/job/OWNERS
  test/integration/job/OWNERS
Labels: area/test, priority/backlog, kind/documentation, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#113998 kubeadm: respect user provided kubeconfig during discovery process
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/util/join.go
  cmd/kubeadm/app/discovery/discovery.go
  cmd/kubeadm/app/discovery/file/file.go
  cmd/kubeadm/app/discovery/https/https.go
  cmd/kubeadm/app/util/kubeconfig/kubeconfig.go
Labels: kind/bug, priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#114015 Add test for staging/src/k8s.io/apimachinery/pkg/version/staging/helpers.go
  staging/src/k8s.io/apimachinery/pkg/version/helpers_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#114033 pkg/controller/deployment/util/deployment_util.go:Improving test cove…
  pkg/controller/deployment/util/deployment_util_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#114054 i18n: Fix bug where package-level variables are not translated.
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
  staging/src/k8s.io/kubectl/pkg/util/i18n/i18n.go
  staging/src/k8s.io/kubectl/pkg/util/i18n/i18n_test.go
  test/cmd/help.sh
  test/cmd/legacy-script.sh
Labels: kind/bug, area/test, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114055 kubernetes components using leader election to leases
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  staging/src/k8s.io/controller-manager/options/generic.go
Labels: kind/cleanup, sig/scheduling, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/M, kind/api-change, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, triage/accepted

#114071 Fix a potential goroutine leak
  cluster/images/etcd/migrate/migrate_server.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#114076 Remove unused `numExistingEndpoints` variable
  pkg/controller/endpointslice/reconciler.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#114085 Bump gcb-docker-gcloud to `v20221007-69e0da97ef`
  build/dependencies.yaml
  build/pause/cloudbuild.yaml
  cluster/images/etcd/cloudbuild.yaml
  test/images/cloudbuild.yaml
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#114149 Implement PreFilter for VolumeZone plugin for performance
  pkg/scheduler/apis/config/testing/defaults/defaults.go
  pkg/scheduler/apis/config/v1beta2/default_plugins.go
  pkg/scheduler/apis/config/v1beta2/default_plugins_test.go
  pkg/scheduler/apis/config/v1beta2/defaults_test.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
Labels: priority/important-soon, sig/scheduling, lgtm, size/L, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-triage

#114156 update ineligible_endpoints.yaml to include getResourceAPIGroup
  test/conformance/testdata/ineligible_endpoints.yaml
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, needs-priority, triage/accepted

#114158 staging/src/k8s.io/legacy-cloud-providers/azure: remove unnecessary `fmt.Sprintf`
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_blobDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storageaccount.go
Labels: kind/cleanup, lgtm, area/cloudprovider, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#114169 Improve error messages of flags that parse quantities and percentages
  cmd/kubelet/app/server.go
  pkg/kubelet/cm/container_manager.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#114172 Validate StatefulSet names as DNS Label
  pkg/apis/apps/validation/validation.go
  pkg/apis/apps/validation/validation_test.go
Labels: kind/bug, lgtm, release-note, size/M, kind/api-change, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#114176 Retry patch when then service is unavailable or timeout.
  cmd/kubeadm/app/util/apiclient/idempotency.go
  cmd/kubeadm/app/util/apiclient/idempotency_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#114178 pkg/kubelet/network/dns: omit unnecessary `fmt.Sprintf`
  pkg/kubelet/network/dns/dns.go
Labels: sig/network, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#114155 endpointslicemirroring handle endpoints with multiple subsets
  pkg/controller/endpointslicemirroring/reconciler.go
  pkg/controller/endpointslicemirroring/reconciler_test.go
  test/e2e/network/endpointslicemirroring.go
  test/integration/endpointslice/endpointslicemirroring_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, needs-triage

#114180 Tracing: sample always in `hack/local-up-cluster.sh`
  hack/local-up-cluster.sh
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#114181 Don't re-run EnsureChain/EnsureRules on partial syncs
  pkg/proxy/iptables/proxier.go
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-triage

#114194 Add more validation to rules.yaml
  hack/verify-publishing-bot.py
Labels: kind/bug, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#114196 fix spelling error in e2e upgrade apps daemonset test
  test/e2e/upgrades/apps/daemonsets.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#114216 Avoid serialization of maps when log level < 10
  pkg/scheduler/framework/plugins/noderesources/resource_allocation.go
  pkg/scheduler/schedule_one.go
Labels: kind/cleanup, sig/scalability, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114218 Re-factor FieldManager tests for better re-use
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/capmanagers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanagertest/testfieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/lastapplied.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/lastappliedmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/lastappliedupdater.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/lastappliedupdater_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/managedfieldsupdater_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/skipnonapplied_test.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, triage/accepted

#114220 fix the alpha phase version of LegacyServiceAccountTokenTracking
  pkg/features/kube_features.go
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#114228 Link `kubectl-convert` binary statically
  hack/lib/golang.sh
Labels: lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#114229 use kube-proxy defaults values for CI
  cluster/gce/gci/configure-helper.sh
Labels: sig/network, lgtm, area/provider/gcp, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, sig/cloud-provider, needs-priority, needs-triage

#114249 kubectl exec: return descriptive error message when multi resource passed
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec.go
  test/cmd/exec.sh
Labels: kind/bug, area/test, area/kubectl, lgtm, release-note, size/S, approved, sig/cli, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#114252 kubectl scale: Use visitor only once
  staging/src/k8s.io/kubectl/pkg/cmd/scale/scale.go
  test/cmd/core.sh
Labels: kind/bug, area/test, priority/backlog, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#114300 Fix table in sync controller comment
  staging/src/k8s.io/kube-aggregator/pkg/controllers/autoregister/autoregister_controller.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#114334 unittests: Fixes TestReplaceFile for Windows
  pkg/kubelet/kubeletconfig/util/files/files_test.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#114338 kubeadm: set priority for "system-node-critical" Pods
  cmd/kubeadm/app/util/staticpod/utils.go
  cmd/kubeadm/app/util/staticpod/utils_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, kind/api-change, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#114350 Deflake a preemption test that may patch Node incorrectly
  test/e2e/scheduling/preemption.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/XS, kind/flake, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#114356 remove enabled by default beta resources that have been removed
  pkg/controlplane/instance.go
  pkg/controlplane/storageversionhashdata/data.go
Labels: lgtm, sig/api-machinery, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#114374 Removes unused k8s.io/kubectl/pkg/apply files
  staging/src/k8s.io/kubectl/pkg/apply/doc.go
  staging/src/k8s.io/kubectl/pkg/apply/element.go
  staging/src/k8s.io/kubectl/pkg/apply/empty_element.go
  staging/src/k8s.io/kubectl/pkg/apply/error.go
  staging/src/k8s.io/kubectl/pkg/apply/list_element.go
  staging/src/k8s.io/kubectl/pkg/apply/map_element.go
  staging/src/k8s.io/kubectl/pkg/apply/parse/factory.go
  staging/src/k8s.io/kubectl/pkg/apply/parse/item.go
  staging/src/k8s.io/kubectl/pkg/apply/parse/list_element.go
  staging/src/k8s.io/kubectl/pkg/apply/parse/map_element.go
  staging/src/k8s.io/kubectl/pkg/apply/parse/openapi.go
  staging/src/k8s.io/kubectl/pkg/apply/parse/primitive_element.go
  staging/src/k8s.io/kubectl/pkg/apply/parse/suite_test.go
  staging/src/k8s.io/kubectl/pkg/apply/parse/type_element.go
  staging/src/k8s.io/kubectl/pkg/apply/parse/util.go
  staging/src/k8s.io/kubectl/pkg/apply/parse/visitor.go
  staging/src/k8s.io/kubectl/pkg/apply/primitive_element.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/doc.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/merge.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/merge_conflict_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/merge_map_list_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/merge_map_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/merge_primitive_list_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/merge_primitive_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/merge_visitor.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/replace_map_list_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/replace_map_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/replace_primitive_list_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/replace_visitor.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/retain_keys_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/retain_keys_visitor.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/strategic_visitor.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/suite_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/test_swagger.json
  staging/src/k8s.io/kubectl/pkg/apply/strategy/utils_test.go
  staging/src/k8s.io/kubectl/pkg/apply/type_element.go
  staging/src/k8s.io/kubectl/pkg/apply/visitor.go
Labels: kind/cleanup, area/kubectl, lgtm, size/XXL, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#114379 rotate-certificates is a GA feature now
  cmd/kubelet/app/options/options.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#114392 e2e apimachinery: simplify cleanup
  test/e2e/apimachinery/aggregator.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114294 Removes unnecessary dry run verifier
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier.go
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_set_last_applied.go
  staging/src/k8s.io/kubectl/pkg/cmd/autoscale/autoscale.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrole.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrolebinding.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_configmap.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_cronjob.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_deployment.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_namespace.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_pdb.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_priorityclass.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_quota.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_role.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_rolebinding.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_docker.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_service.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_serviceaccount.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label.go
  staging/src/k8s.io/kubectl/pkg/cmd/patch/patch.go
  staging/src/k8s.io/kubectl/pkg/cmd/replace/replace.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_undo.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
  staging/src/k8s.io/kubectl/pkg/cmd/scale/scale.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_image.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_resources.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_selector.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_serviceaccount.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_subject.go
  staging/src/k8s.io/kubectl/pkg/cmd/taint/taint.go
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
Labels: kind/cleanup, area/kubectl, lgtm, size/XL, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#113909 fix wrong statement in unittest of BoundedFrequencyRunner
  pkg/util/async/bounded_frequency_runner.go
  pkg/util/async/bounded_frequency_runner_test.go
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, ok-to-test, needs-priority, needs-triage

#114279 update coredns to v1.10.0
  build/dependencies.yaml
  cluster/addons/dns/coredns/coredns.yaml.base
  cluster/addons/dns/coredns/coredns.yaml.in
  cluster/addons/dns/coredns/coredns.yaml.sed
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/images/images_test.go
  go.mod
  go.sum
  vendor/github.com/coredns/corefile-migration/migration/migrate.go
  vendor/github.com/coredns/corefile-migration/migration/versions.go
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, sig/cluster-lifecycle, release-note, size/S, kind/feature, approved, area/kubeadm, cncf-cla: yes, sig/cloud-provider, area/dependency, triage/accepted

#113933 Fix client-go request retry race
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/client-go/rest/with_retry_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#114404 Check the correct error in d.downloadAPIs
  staging/src/k8s.io/client-go/discovery/discovery_client.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#114409 kubeadm: cleanup the temporary workaround about kubelet --container-runtime flag
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/upgrade/postupgrade_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#114358 Autoscaling: advance v2 as the preferred API version over v1
  pkg/apis/autoscaling/install/install.go
  pkg/controlplane/storageversionhashdata/data.go
  test/integration/etcd/data.go
Labels: area/test, lgtm, sig/api-machinery, release-note, sig/autoscaling, size/S, kind/api-change, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114408 Mark github.com/gorilla dependencies to avoid increasing use
  go.mod
  go.sum
  hack/unwanted-dependencies.json
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, lgtm, area/cloudprovider, sig/api-machinery, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, sig/architecture, sig/cloud-provider, needs-priority, area/dependency, area/code-organization, needs-triage

#114411 don't assert error inside goroutines
  test/e2e/network/ingress.go
Labels: kind/bug, area/test, sig/network, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113499 Fix: resourceToWeightMap will never be nil here
  pkg/scheduler/framework/plugins/noderesources/least_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/resource_allocation.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114361 Tune the error messages in scheduler cache
  pkg/scheduler/internal/cache/cache.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114027 e2e: make GetSubnetPrefix IP family agnostic
  test/e2e/framework/node/resource.go
  test/e2e/network/loadbalancer.go
Labels: kind/bug, area/test, sig/network, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#113742 Add a flag to HNS Load Balancer policy to hint HNS about the VIP being an External IP
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, sig/network, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#113456 use TotalScore summarized in NodePluginScores
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112295 Automated cherry pick of #112198: Call queueSet::boundNextDispatchLocked enough
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#112298 Automated cherry pick of #112198: Call queueSet::boundNextDispatchLocked enough
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#113988 [1.26.1] Automated cherry pick of #113933: Limit request retrying to []byte request bodies
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/client-go/rest/with_retry_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#114163 Update the godoc on the encryption config API on how to specify group…
  staging/src/k8s.io/apiserver/pkg/apis/config/types.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/types.go
Labels: priority/important-soon, lgtm, size/M, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#114204 add github.com/mindprince/gonvml to unwanted dependencies
  hack/unwanted-dependencies.json
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#114378 cleanup: add help information for apiserver cel metrics
  staging/src/k8s.io/apiserver/pkg/cel/metrics/metrics.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#113990 Automated cherry pick of #113933: Limit request retrying to []byte request bodies
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/client-go/rest/with_retry_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#112297 Automated cherry pick of #112198: Call queueSet::boundNextDispatchLocked enough
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#111261 Automated cherry pick of #110706: Add rate limiting when calling STS assume role API
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_assumerole_provider.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_assumerole_provider_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, triage/accepted

#113993 Automated cherry pick of #113933: Limit request retrying to []byte request bodies
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/client-go/rest/with_retry_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#114164 update API Change in release note
  CHANGELOG/CHANGELOG-1.26.md
Labels: kind/documentation, kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, needs-priority, needs-triage

#113991 Automated cherry pick of #113933: Limit request retrying to []byte request bodies
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/client-go/rest/with_retry_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#114191 Allow profiling information to be served on Unix-Domain Socket
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/options/feature.go
  staging/src/k8s.io/apiserver/pkg/server/routes/debugsocket.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, triage/accepted

#114413 Refactor to simplify factory Validator
  pkg/kubectl/cmd/convert/convert.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create.go
  staging/src/k8s.io/kubectl/pkg/cmd/replace/replace.go
  staging/src/k8s.io/kubectl/pkg/cmd/testing/fake.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/editor/editoptions.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/factory.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/factory_client_access.go
Labels: kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, needs-triage

#112497 update comment of annotation_key_constants.go
  staging/src/k8s.io/api/core/v1/annotation_key_constants.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#113156 Add link to `CHANGELOG.md`
  CHANGELOG.md
Labels: kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, needs-priority, needs-triage

#113040 rollout restart: Change error message to more descriptive
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_restart.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_restart_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, triage/accepted

#113947 Lower volume attached touch log level
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110991 Svc typenames star traffic policy type
  pkg/api/service/testing/make.go
  pkg/api/service/util.go
  pkg/api/service/util_test.go
  pkg/api/v1/service/util.go
  pkg/api/v1/service/util_test.go
  pkg/apis/core/fuzzer/fuzzer.go
  pkg/apis/core/types.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
  pkg/proxy/types.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/servicespec.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
  staging/src/k8s.io/cloud-provider/service/helpers/helper.go
  staging/src/k8s.io/cloud-provider/service/helpers/helper_test.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
  test/e2e/apps/deployment.go
  test/e2e/framework/service/jig.go
  test/e2e/network/firewall.go
  test/e2e/network/loadbalancer.go
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/cleanup, lgtm, area/cloudprovider, sig/api-machinery, size/XL, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, area/ipvs, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted

#111802 Validate labelSelector in topologySpreadConstraints
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: kind/bug, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, api-review, needs-triage

#114052 tests: Add DaemonSet with LB rolling update test
  test/e2e/network/loadbalancer.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#114273 scheduler/internal: Improving cache and heap test coverage
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/node_tree_test.go
  pkg/scheduler/internal/cache/snapshot_test.go
  pkg/scheduler/internal/heap/heap_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#113776 Windows Kube-Proxy implementation of ProxyTerminatingEndpoints feature
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, area/test, sig/network, lgtm, size/L, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#111262 Automated cherry pick of #110706: Add rate limiting when calling STS assume role API
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_assumerole_provider.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_assumerole_provider_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, triage/accepted

#114443 kubeadm: add missing --cri-socket flag for upload-certs phase
  cmd/kubeadm/app/cmd/phases/init/uploadcerts.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#110252 Noderesourcetopology- api: Repo Bootstrap
  go.mod
  staging/README.md
  staging/publishing/rules.yaml
  staging/src/k8s.io/noderesourcetopology-api/.github/PULL_REQUEST_TEMPLATE.md
  staging/src/k8s.io/noderesourcetopology-api/CONTRIBUTING.md
  staging/src/k8s.io/noderesourcetopology-api/LICENSE
  staging/src/k8s.io/noderesourcetopology-api/OWNERS
  staging/src/k8s.io/noderesourcetopology-api/README.md
  staging/src/k8s.io/noderesourcetopology-api/SECURITY_CONTACTS
  staging/src/k8s.io/noderesourcetopology-api/code-of-conduct.md
  staging/src/k8s.io/noderesourcetopology-api/doc.go
  staging/src/k8s.io/noderesourcetopology-api/go.mod
  staging/src/k8s.io/noderesourcetopology-api/go.sum
  staging/src/k8s.io/noderesourcetopology-api/hack/boilerplate.go.txt
  staging/src/k8s.io/noderesourcetopology-api/hack/tools.go
  staging/src/k8s.io/noderesourcetopology-api/hack/update-codegen.sh
  staging/src/k8s.io/noderesourcetopology-api/hack/verify-codegen.sh
  staging/src/k8s.io/noderesourcetopology-api/manifests/cr-instance-example.yaml
  staging/src/k8s.io/noderesourcetopology-api/manifests/crd.yaml
  vendor/k8s.io/noderesourcetopology-api
  vendor/modules.txt
Labels: kind/cleanup, lgtm, sig/node, size/XL, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, triage/accepted

#113285 update release-note for cherry-picks of #110255
  CHANGELOG/CHANGELOG-1.22.md
  CHANGELOG/CHANGELOG-1.23.md
  CHANGELOG/CHANGELOG-1.24.md
Labels: sig/network, kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#114415 Automated cherry pick of #114404: Check the correct error in d.downloadAPIs
  staging/src/k8s.io/client-go/discovery/discovery_client.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#114272 Automated cherry pick of #111772: kubelet: make the image pull time more accurate in event
  pkg/kubelet/images/puller.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114271 Automated cherry pick of #111772: kubelet: make the image pull time more accurate in event
  pkg/kubelet/images/image_manager.go
  pkg/kubelet/images/puller.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#114430 Automated cherry pick of #111772: kubelet: make the image pull time more accurate in event
  pkg/kubelet/images/image_manager.go
  pkg/kubelet/images/puller.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#114261 Reduce load of Job integration test
  test/integration/job/job_test.go
Labels: kind/bug, area/test, lgtm, size/XS, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114435 Unexport OpenAPIGetter factory method
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/explain/explain_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/testing/fake.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/factory.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/factory_client_access.go
Labels: kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, needs-triage

#113795 Add CRD integration tests for ValidatingAdmissionPolicy
  test/integration/apiserver/cel/validatingadmissionpolicy_test.go
Labels: area/test, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114407 Windows Kube-Proxy implementation for internal traffic policy
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, sig/network, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#114454 e2e framework: fix unit test flake
  test/e2e/framework/internal/output/output.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#110473 Skip tests if SSH not working
  test/e2e/storage/generic_persistent_volume-disruptive.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
  test/e2e/storage/testsuites/disruptive.go
  test/e2e/storage/testsuites/subpath.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, lifecycle/rotten, needs-priority, area/e2e-test-framework, triage/accepted

#114092 e2e: Update GetExternalIP and GetInternalIP method name to make them more explicit.
  test/e2e/framework/network/utils.go
  test/e2e/framework/node/resource.go
  test/e2e/storage/flexvolume.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#113151 Clean up CRD conversion code structure
  cmd/kube-apiserver/app/apiextensions.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/metrics.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/nop_converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/options/options.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#113508 Replace os.Exit in diff
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  test/cmd/diff.sh
Labels: kind/bug, area/test, priority/backlog, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#114459 fix double lock and excercise its codepath in tests
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, needs-priority, triage/accepted

#113930 Refactor mock tests in different files
  test/e2e/e2e_test.go
  test/e2e/storage/csi_mock/base.go
  test/e2e/storage/csi_mock/csi_attach_volume.go
  test/e2e/storage/csi_mock/csi_fsgroup_mount.go
  test/e2e/storage/csi_mock/csi_fsgroup_policy.go
  test/e2e/storage/csi_mock/csi_node_stage_error_cases.go
  test/e2e/storage/csi_mock/csi_selinux_mount.go
  test/e2e/storage/csi_mock/csi_service_account_token.go
  test/e2e/storage/csi_mock/csi_snapshot.go
  test/e2e/storage/csi_mock/csi_storage_capacity.go
  test/e2e/storage/csi_mock/csi_volume_expansion.go
  test/e2e/storage/csi_mock/csi_volume_limit.go
  test/e2e/storage/csi_mock/csi_workload.go
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/local_volume_resize.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage
