Repository kubernetes/kubernetes, pull requests merged in 2022-06, with the labels that each got.

#110313 fix the registry configuration
  cluster/gce/gci/configure-helper.sh
Labels: kind/bug, kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#110180 Enable volume expansion tests for generic ephemeral volumes
  test/e2e/storage/framework/testpattern.go
  test/e2e/storage/testsuites/ephemeral.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#108195 there is no need for gci-docker-version and gci-ensure-gke-docker - t…
  cluster/gce/gci/helper.sh
  cluster/gce/gci/master-helper.sh
  cluster/gce/gci/node-helper.sh
Labels: priority/backlog, kind/cleanup, lgtm, area/provider/gcp, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#109820 e2e: node: re-enable the device plugin tests
  test/e2e_node/device_plugin_test.go
  test/e2e_node/util.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#106441 create resultsDir if the folder not exists
  test/conformance/image/go-runner/main.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, ok-to-test, needs-priority, triage/accepted

#101997 Add unit tests for pvc quota
  pkg/quota/v1/evaluator/core/persistent_volume_claims_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#107872 Remove unused and un-enable-able apiserver multiple ports feature
  pkg/controlplane/controller.go
  pkg/controlplane/instance.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#107878 Clean up some EndpointSlice-related code in apiserver endpoint reconciler
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/helpers_test.go
  pkg/controlplane/reconcilers/instancecount_test.go
  pkg/controlplane/reconcilers/lease_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XXL, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110337 cleanup deprecated metrics and usages
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, sig/instrumentation, needs-priority, needs-triage

#110264 Fix leaking goroutines in multiple integration tests
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller_test.go
  test/integration/apiserver/apply/apply_test.go
  test/integration/cronjob/cronjob_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/defaulttolerationseconds/defaulttolerationseconds_test.go
  test/integration/dualstack/dualstack_endpoints_test.go
  test/integration/dualstack/dualstack_test.go
  test/integration/job/job_test.go
  test/integration/scheduler/extender/extender_test.go
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/preemption/preemption_test.go
  test/integration/scheduler/queue_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/scoring/priorities_test.go
  test/integration/statefulset/statefulset_test.go
  test/integration/statefulset/util.go
  test/integration/util/util.go
  test/integration/volumescheduling/util.go
  test/integration/volumescheduling/volume_binding_test.go
  test/integration/volumescheduling/volume_capacity_priority_test.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XL, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, needs-triage

#110343 kubeadm: mutate ClusterConfiguration.imageRepository to "registry.k8s.io"
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/cmd/upgrade/diff.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, kind/deprecation, triage/accepted

#110353 Drop unnecessary json.Marshal
  staging/src/k8s.io/cli-runtime/pkg/printers/yaml.go
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#105008 refactor(kubectl): add Debugger interface for kubectl-debug
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profile_applier.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles.go
Labels: priority/backlog, area/kubectl, lgtm, size/L, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#110033 etcd: Updated to v3.5.4
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/nodes_util.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, kind/cleanup, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, ok-to-test, needs-priority, area/e2e-test-framework, triage/accepted

#110360 fix defer in for loop, maybe resource leak
  pkg/client/tests/listwatch_test.go
Labels: kind/bug, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110260 Automated cherry pick of #110255: Endpoints and EndpointSlices should not publish IPs for terminal pods
  pkg/api/v1/pod/util.go
  pkg/api/v1/pod/util_test.go
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
  pkg/kubelet/status/status_manager.go
  test/e2e/network/service.go
  test/e2e/node/pods.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, area/kubelet, lgtm, sig/node, size/XL, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#110259 Automated cherry pick of #110255: Endpoints and EndpointSlices should not publish IPs for terminal pods
  pkg/api/v1/pod/util.go
  pkg/api/v1/pod/util_test.go
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
  pkg/kubelet/status/status_manager.go
  test/e2e/network/service.go
  test/e2e/node/pods.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, area/kubelet, lgtm, sig/node, size/XL, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#110258 Automated cherry pick of #110255: Endpoints and EndpointSlices should not publish IPs for terminal pods
  pkg/api/v1/pod/util.go
  pkg/api/v1/pod/util_test.go
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
  pkg/kubelet/status/status_manager.go
  test/e2e/network/service.go
  test/e2e/node/pods.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, area/kubelet, lgtm, sig/node, size/XL, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#109228 prevent the unit test name too long in report
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/celcoststability_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#109388 kubelet: Remove the deprecated `--experimental-kernel-memcg-notification` flag
  cmd/kubelet/app/options/options.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, ok-to-test, triage/accepted

#109516 refactor(hack): use ${BASH_SOURCE[0]} to get script name
  hack/update-all.sh
  hack/verify-all.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#109692 remove ioutil in kubelet
  pkg/kubelet/cm/pod_container_manager_linux.go
  pkg/kubelet/kubelet_getters.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_volumes.go
  pkg/kubelet/kubelet_volumes_linux_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/logs/container_log_manager_test.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#109709 Don't fail when OpenStack config contains unknown directives
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack.go
Labels: lgtm, area/cloudprovider, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#109813 Update cri-tools to v1.24.2
  build/dependencies.yaml
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
Labels: priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, sig/node, release-note, size/S, approved, cncf-cla: yes, sig/release, sig/cloud-provider, triage/accepted

#110184 Remove release note added twice
  CHANGELOG/CHANGELOG-1.24.md
Labels: kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, needs-priority, needs-triage

#109552 fix CVE-2022-27191: Bump golang.org/x/crypto to v0.0.0-20220315160706
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Labels: kind/bug, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/cluster-lifecycle, size/S, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, sig/security, triage/accepted

#110319 Remove `newlineReporter` custom report
  staging/src/k8s.io/kubectl/pkg/apply/parse/suite_test.go
  staging/src/k8s.io/kubectl/pkg/apply/strategy/suite_test.go
  staging/src/k8s.io/kubectl/pkg/apps/apps_suite_test.go
  staging/src/k8s.io/kubectl/pkg/util/openapi/openapi_suite_test.go
  staging/src/k8s.io/kubectl/pkg/util/openapi/validation/validation_suite_test.go
Labels: kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#110235 test: RunAsUser causes pods to not start on Windows
  test/e2e/framework/pod/utils.go
Labels: area/test, priority/critical-urgent, lgtm, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, area/e2e-test-framework, triage/accepted

#108997 Fix volume reconstruction for CSI ephemeral volumes
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/operationexecutor/operation_executor.go
  test/e2e/storage/drivers/csi.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, release-note, size/M, approved, cncf-cla: yes, sig/testing, triage/accepted

#109828 [E2E] enhance pod polling failures
  test/e2e/framework/expect.go
  test/e2e/framework/internal/output/output.go
  test/e2e/framework/log_test.go
  test/e2e/framework/pod/wait.go
  test/e2e/framework/pod/wait_test.go
Labels: area/test, kind/cleanup, lgtm, size/XL, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#109773 Include powershell in short description for kubectl completion
  staging/src/k8s.io/kubectl/pkg/cmd/completion/completion.go
Labels: kind/cleanup, area/kubectl, lgtm, release-note, size/XS, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#109594 Add fast build support for s390x
  hack/lib/golang.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#110404 correct the e2e framework flag description typos
  test/e2e/framework/test_context.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#110394 update kubectl api-resources help info
  staging/src/k8s.io/kubectl/pkg/cmd/apiresources/apiresources.go
Labels: kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#110191 Re-enable Kubelet Pod Readiness Probes on Termination and Pod probes should be handled by pod worker
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/prober/testing/fake_manager.go
  test/e2e/common/node/container_probe.go
  test/e2e/network/service.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#110361 Automated cherry pick of #107402: Reject proxy requests to 0.0.0.0 as well
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/XS, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#110363 Automated cherry pick of #107402: Reject proxy requests to 0.0.0.0 as well
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/XS, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#110421 [GO] Update Go to 1.18.3
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage

#110422 [release-1.24][GO] Update Go to 1.18.3
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage

#110423 [release-1.23][GO] Update Go to 1.17.11
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, area/provider/gcp, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#110327 kubeadm: graduate the UnversionedKubeletConfigMap FG to GA
  cmd/kubeadm/app/componentconfigs/configset_test.go
  cmd/kubeadm/app/componentconfigs/fakeconfig_test.go
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/componentconfigs/kubelet_test.go
  cmd/kubeadm/app/componentconfigs/kubeproxy_test.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/features/features.go
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/phases/kubelet/config_test.go
  cmd/kubeadm/app/util/config/cluster_test.go
  test/e2e_kubeadm/kubelet_config_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/L, kind/feature, approved, area/kubeadm, cncf-cla: yes, sig/testing, kind/deprecation, triage/accepted

#110405 kubeadm: add support for patching a "kubeletconfiguration" target
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
  cmd/kubeadm/app/cmd/options/generic.go
  cmd/kubeadm/app/cmd/phases/init/kubelet.go
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/data.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/cmd/upgrade/upgrade.go
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/util/patches/patches_test.go
Labels: area/test, priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, sig/testing, triage/accepted

#110362 Fix leaking goroutines in multiple integration tests
  pkg/controller/certificates/certificate_controller.go
  pkg/controller/disruption/disruption.go
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controlplane/instance.go
  test/integration/certificates/duration_test.go
  test/integration/disruption/disruption_test.go
  test/integration/events/events_test.go
  test/integration/network/services_test.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, needs-triage

#110395 Fix SCTP default-deny test
  test/e2e/network/netpol/network_legacy.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, area/network-policy

#110427 Update publishing-bot rules for Go 1.17.11
  staging/publishing/rules.yaml
Labels: lgtm, size/M, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, needs-triage

#110364 Automated cherry pick of #107402: Reject proxy requests to 0.0.0.0 as well
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/XS, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#110417 Automated cherry pick of #110191: kubelet: Pod probes should be handled by pod worker
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/prober/testing/fake_manager.go
  test/e2e/common/node/container_probe.go
  test/e2e/network/service.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#110418 Automated cherry pick of #110191: kubelet: Pod probes should be handled by pod worker
  build/dependencies.yaml
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/prober/testing/fake_manager.go
  test/e2e/common/node/container_probe.go
  test/e2e/network/service.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#110416 Automated cherry pick of #110191: kubelet: Pod probes should be handled by pod worker
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/prober/testing/fake_manager.go
  test/e2e/common/node/container_probe.go
  test/e2e/network/service.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#110408 Fix printer functions to use int64 and string explicitly
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110442 overwrite known targets in patch manager cache in case it changes
  cmd/kubeadm/app/util/patches/patches.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#110457 unit tests for Class E IP addresses
  cmd/kube-apiserver/app/options/validation_test.go
  pkg/apis/core/validation/validation_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#110446 remove bazel BUILD in EXCLUDE_TARGET in makefile
  build/root/Makefile
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, triage/accepted

#110321 ipvs: fix prevent concurrent map read and map write
  pkg/proxy/ipvs/graceful_termination.go
  pkg/proxy/ipvs/graceful_termination_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, area/ipvs, triage/accepted

#110256 kubelet: Mark ready condition as false explicitly for terminal pods
  pkg/api/v1/pod/util.go
  pkg/api/v1/pod/util_test.go
  pkg/kubelet/status/generate.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e_node/node_shutdown_linux_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, sig/testing, triage/accepted

#110118 Automated cherry pick of #109987: Fix resizing of ephemeral volumes
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#110322 ipvs: fix prevent concurrent map read and map write for 1.23
  pkg/proxy/ipvs/graceful_termination.go
  pkg/proxy/ipvs/graceful_termination_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, area/ipvs, triage/accepted

#109981 Automated cherry pick of #109124: Winkernel proxier cache HNS data to improve syncProxyRules
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#110117 Automated cherry pick of #109987: Fix resizing of ephemeral volumes
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#110275 Automated cherry pick of #110145: fix audit union loop variables in closures
  staging/src/k8s.io/apiserver/pkg/audit/union.go
  staging/src/k8s.io/apiserver/pkg/audit/union_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/M, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, triage/accepted

#110274 Automated cherry pick of #110145: fix audit union loop variables in closures
  staging/src/k8s.io/apiserver/pkg/audit/union.go
  staging/src/k8s.io/apiserver/pkg/audit/union_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/M, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, triage/accepted

#109974 Automated cherry pick of #109124: Winkernel proxier cache HNS data to improve syncProxyRules
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#110276 Automated cherry pick of #110145: fix audit union loop variables in closures
  staging/src/k8s.io/apiserver/pkg/audit/union.go
  staging/src/k8s.io/apiserver/pkg/audit/union_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/M, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, triage/accepted

#109985 Automated cherry pick of #109124: Winkernel proxier cache HNS data to improve syncProxyRules
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#109624 Ignore EndpointSlices that are marked for deletion
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/util/endpointslice/endpointslice_tracker.go
  pkg/controller/util/endpointslice/endpointslice_tracker_test.go
Labels: kind/bug, sig/network, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110474 kubeadm: use staticpod known tags for upgrade/init phases
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/util/patches/patches.go
  cmd/kubeadm/app/util/staticpod/utils.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#110488 [kube-up]: Bump coredns to v1.9.3
  build/dependencies.yaml
  cluster/addons/dns/coredns/coredns.yaml.base
  cluster/addons/dns/coredns/coredns.yaml.in
  cluster/addons/dns/coredns/coredns.yaml.sed
  cluster/gce/upgrade.sh
Labels: lgtm, area/provider/gcp, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#110355 Automated cherry pick of #105069: etcd-client starts retrying transient errors from the etcd
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#110356 Automated cherry pick of #105069: etcd-client starts retrying transient errors from the etcd
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#110419 graduate ServiceIPStaticSubrange to beta
  pkg/features/kube_features.go
Labels: sig/network, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#110484 Automated cherry pick of #109624: Ignore EndpointSlices that are already marked for deletion
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/util/endpointslice/endpointslice_tracker.go
  pkg/controller/util/endpointslice/endpointslice_tracker_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110245 restore endpoints topology fallback in kube-proxy 1.22
  pkg/proxy/endpointslicecache.go
  pkg/proxy/endpointslicecache_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#110482 Automated cherry pick of #109624: Ignore EndpointSlices that are already marked for deletion
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/util/endpointslice/endpointslice_tracker.go
  pkg/controller/util/endpointslice/endpointslice_tracker_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110292 Avoid duplicate Failed conditions in job status
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, priority/backlog, kind/cleanup, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#110372 code optimization: deal with error first to prevent unnecessary computing
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110491 lock CSIMigrationAzureDisk feature gate to default
  pkg/features/kube_features.go
Labels: priority/important-soon, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#110481 Automated cherry pick of #110256: kubelet: Mark ready condition as false explicitly for terminal pods
  pkg/api/v1/pod/util.go
  pkg/api/v1/pod/util_test.go
  pkg/kubelet/status/generate.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e_node/node_shutdown_linux_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#110483 Automated cherry pick of #109624: Ignore EndpointSlices that are already marked for deletion
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/util/endpointslice/endpointslice_tracker.go
  pkg/controller/util/endpointslice/endpointslice_tracker_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-triage

#109787 Automated cherry pick of #109657: GCE Windows: Copy the CNI binaries from the right folder
  cluster/gce/windows/k8s-node-setup.psm1
Labels: kind/bug, priority/important-soon, lgtm, area/provider/gcp, size/XS, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, kind/failing-test, sig/cloud-provider, needs-triage

#110479 Automated cherry pick of #110256: kubelet: Mark ready condition as false explicitly for terminal pods
  pkg/api/v1/pod/util.go
  pkg/api/v1/pod/util_test.go
  pkg/kubelet/status/generate.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e_node/node_shutdown_linux_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#109194 log tests
  hack/logcheck.conf
  staging/src/k8s.io/component-base/logs/example/cmd/logger.go
  staging/src/k8s.io/component-base/logs/json/json_test.go
  staging/src/k8s.io/component-base/logs/json/klog_test.go
  staging/src/k8s.io/component-base/logs/options_test.go
  test/integration/logs/benchmark/contextual-logging/benchmark_test.go
  test/integration/logs/functional/json/output_test.go
  vendor/k8s.io/klog/v2/test/output.go
  vendor/k8s.io/klog/v2/test/output_helper.go
  vendor/k8s.io/klog/v2/test/zapr.go
  vendor/modules.txt
Labels: area/test, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/api-machinery, sig/cluster-lifecycle, size/L, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, triage/accepted, wg/structured-logging

#110272 Fix e2e test failure
  test/e2e/kubectl/kubectl.go
Labels: area/test, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, triage/accepted

#110323 docs: add `ephemeral-storage` to `SystemReserved`/`KubeReserved` comment
  cmd/kubelet/app/options/options.go
  pkg/kubelet/apis/config/types.go
Labels: area/kubelet, kind/documentation, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110371 upgrade Azure/go-autorest/autorest to v0.11.27
  LICENSES/vendor/github.com/golang-jwt/jwt/v4/LICENSE
  go.mod
  go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  vendor/github.com/Azure/go-autorest/autorest/adal/README.md
  vendor/github.com/Azure/go-autorest/autorest/adal/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/autorest/adal/sender.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token_1.13.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token_legacy.go
  vendor/github.com/Azure/go-autorest/autorest/azure/async.go
  vendor/github.com/Azure/go-autorest/autorest/azure/azure.go
  vendor/github.com/Azure/go-autorest/autorest/azure/environments.go
  vendor/github.com/Azure/go-autorest/autorest/azure/rp.go
  vendor/github.com/Azure/go-autorest/autorest/client.go
  vendor/github.com/Azure/go-autorest/autorest/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/autorest/mocks/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/autorest/mocks/mocks.go
  vendor/github.com/Azure/go-autorest/autorest/preparer.go
  vendor/github.com/Azure/go-autorest/autorest/retriablerequest_1.7.go
  vendor/github.com/Azure/go-autorest/autorest/retriablerequest_1.8.go
  vendor/github.com/Azure/go-autorest/autorest/sender.go
  vendor/github.com/Azure/go-autorest/autorest/utility_1.13.go
  vendor/github.com/Azure/go-autorest/autorest/utility_legacy.go
  vendor/github.com/golang-jwt/jwt/v4/.gitignore
  vendor/github.com/golang-jwt/jwt/v4/LICENSE
  vendor/github.com/golang-jwt/jwt/v4/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/doc.go
  vendor/github.com/golang-jwt/jwt/v4/ecdsa.go
  vendor/github.com/golang-jwt/jwt/v4/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/v4/ed25519.go
  vendor/github.com/golang-jwt/jwt/v4/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/v4/errors.go
  vendor/github.com/golang-jwt/jwt/v4/hmac.go
  vendor/github.com/golang-jwt/jwt/v4/map_claims.go
  vendor/github.com/golang-jwt/jwt/v4/none.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/parser_option.go
  vendor/github.com/golang-jwt/jwt/v4/rsa.go
  vendor/github.com/golang-jwt/jwt/v4/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/v4/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/v4/signing_method.go
  vendor/github.com/golang-jwt/jwt/v4/staticcheck.conf
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/github.com/golang-jwt/jwt/v4/types.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, release-note, size/M, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, area/dependency, triage/accepted

#109844 improve parsing in iptables unit tests
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/util/iptables/testing/fake.go
  pkg/util/iptables/testing/fake_test.go
  pkg/util/iptables/testing/parse.go
  pkg/util/iptables/testing/parse_test.go
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, size/XXL, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-triage

#110508 Switch to release tag v0.5.0 of systemstat
  go.mod
  go.sum
  vendor/bitbucket.org/bertimus9/systemstat/systemstat_ex.go
  vendor/bitbucket.org/bertimus9/systemstat/systemstat_linux.go
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, area/dependency, triage/accepted

#110510 Switch to v1.0.0 of github.com/MakeNowJust/heredoc (avoid SHA)
  LICENSES/vendor/github.com/MakeNowJust/heredoc/LICENSE
  go.mod
  go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  vendor/github.com/MakeNowJust/heredoc/LICENSE
  vendor/github.com/MakeNowJust/heredoc/README.md
  vendor/github.com/MakeNowJust/heredoc/heredoc.go
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/architecture, area/dependency, triage/accepted

#110511 Switch to released tag v0.1.0 of github.com/pquerna/cachecontrol
  go.mod
  go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  vendor/github.com/pquerna/cachecontrol/.travis.yml
  vendor/github.com/pquerna/cachecontrol/README.md
  vendor/github.com/pquerna/cachecontrol/api.go
  vendor/github.com/pquerna/cachecontrol/cacheobject/directive.go
  vendor/github.com/pquerna/cachecontrol/cacheobject/object.go
  vendor/github.com/pquerna/cachecontrol/cacheobject/reasons.go
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, area/dependency, triage/accepted

#110512 Switch to released tag v1.0.0 for github.com/daviddengcn/go-colortext
  go.mod
  go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  vendor/github.com/daviddengcn/go-colortext/ct.go
  vendor/github.com/daviddengcn/go-colortext/ct_ansi.go
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/architecture, area/dependency, triage/accepted

#110502 services strategy no longer depends on IPFamilies
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
Labels: sig/network, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#110513 Switch to v1.0.2 of github.com/chai2010/gettext-go
  go.mod
  go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubectl/pkg/util/i18n/i18n.go
  vendor/github.com/chai2010/gettext-go/.travis.yml
  vendor/github.com/chai2010/gettext-go/README.md
  vendor/github.com/chai2010/gettext-go/doc.go
  vendor/github.com/chai2010/gettext-go/fs.go
  vendor/github.com/chai2010/gettext-go/fs_json.go
  vendor/github.com/chai2010/gettext-go/fs_os.go
  vendor/github.com/chai2010/gettext-go/fs_zip.go
  vendor/github.com/chai2010/gettext-go/gettext.go
  vendor/github.com/chai2010/gettext-go/gettext/caller.go
  vendor/github.com/chai2010/gettext-go/gettext/domain.go
  vendor/github.com/chai2010/gettext-go/gettext/domain_helper.go
  vendor/github.com/chai2010/gettext-go/gettext/fs.go
  vendor/github.com/chai2010/gettext-go/locale.go
  vendor/github.com/chai2010/gettext-go/mo/doc.go
  vendor/github.com/chai2010/gettext-go/mo/encoder.go
  vendor/github.com/chai2010/gettext-go/mo/file.go
  vendor/github.com/chai2010/gettext-go/mo/header.go
  vendor/github.com/chai2010/gettext-go/mo/message.go
  vendor/github.com/chai2010/gettext-go/mo/util.go
  vendor/github.com/chai2010/gettext-go/plural/doc.go
  vendor/github.com/chai2010/gettext-go/plural/formula.go
  vendor/github.com/chai2010/gettext-go/plural/table.go
  vendor/github.com/chai2010/gettext-go/po/comment.go
  vendor/github.com/chai2010/gettext-go/po/doc.go
  vendor/github.com/chai2010/gettext-go/po/file.go
  vendor/github.com/chai2010/gettext-go/po/header.go
  vendor/github.com/chai2010/gettext-go/po/line_reader.go
  vendor/github.com/chai2010/gettext-go/po/message.go
  vendor/github.com/chai2010/gettext-go/po/re.go
  vendor/github.com/chai2010/gettext-go/po/util.go
  vendor/github.com/chai2010/gettext-go/tr.go
  vendor/github.com/chai2010/gettext-go/util.go
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/architecture, area/dependency, triage/accepted

#108881 Automated cherry pick of #108078: Skip updating Endpoints and EndpointSlice if no relevant
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#108879 Automated cherry pick of #108078: Skip updating Endpoints and EndpointSlice if no relevant
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#110505 Clean shutdown of some auth integration tests
  test/integration/auth/auth_test.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, needs-triage

#108880 Automated cherry pick of #108078: Skip updating Endpoints and EndpointSlice if no relevant
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#110527 Remove BUILD from .spelling_failures
  hack/.spelling_failures
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#108825 Update staging/README.md
  staging/README.md
Labels: kind/documentation, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/docs, ok-to-test, needs-priority, needs-triage

#110523 fix image pulling failure when IMDS is unavailable in kubelet startup
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/azure/azure_credentials_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#110520 Update gopkg.in/yaml.v3 to v3.0.1
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted

#109850 Define NoOptDefVal for validate flag
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers_test.go
  test/cmd/create.sh
Labels: kind/bug, area/test, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#110515 Remove the PairVec types
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/gen_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/sample_and_watermark.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/vec_element_pair.go
  test/integration/apiserver/flowcontrol/fight_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage

#110110 Fix issue that Audit Server could not correctly encode metav1.DeleteOption
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#110540 minor ipvs fixes
  pkg/proxy/ipvs/ipset.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Labels: priority/backlog, sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-triage

#110489 kubeadm: upgrade coredns to v1.9.3
  build/dependencies.yaml
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/images/images_test.go
  go.mod
  go.sum
  vendor/github.com/coredns/corefile-migration/migration/plugins.go
  vendor/github.com/coredns/corefile-migration/migration/versions.go
  vendor/modules.txt
Labels: lgtm, sig/cluster-lifecycle, release-note, size/S, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, area/dependency, triage/accepted

#110546 Drop spurious replace
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, area/code-generation, needs-priority, area/dependency, needs-triage

#110509 Use namespace created by framework
  test/e2e/kubectl/kubectl.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#110525 Disable trimpath in debug mode
  hack/lib/golang.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#110542 Optimize code for SetDefaults_NodeResourcesBalancedAllocationArgs
  pkg/scheduler/apis/config/v1beta2/defaults.go
  pkg/scheduler/apis/config/v1beta3/defaults.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, kind/api-change, kind/flake, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110232 Pass context to client calls in scheduler/volumebinding tests
  pkg/scheduler/framework/plugins/volumebinding/binder_test.go
  pkg/scheduler/scheduler_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#110519 Update etcd packages to v3.5.4
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/go.etcd.io/etcd/api/v3/v3rpc/rpctypes/error.go
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/go.etcd.io/etcd/client/pkg/v3/logutil/zap.go
  vendor/go.etcd.io/etcd/client/v3/client.go
  vendor/go.etcd.io/etcd/client/v3/logger.go
  vendor/go.etcd.io/etcd/client/v3/op.go
  vendor/go.etcd.io/etcd/client/v3/retry_interceptor.go
  vendor/go.etcd.io/etcd/client/v3/utils.go
  vendor/go.etcd.io/etcd/pkg/v3/netutil/netutil.go
  vendor/go.etcd.io/etcd/server/v3/auth/range_perm_cache.go
  vendor/go.etcd.io/etcd/server/v3/auth/store.go
  vendor/go.etcd.io/etcd/server/v3/config/config.go
  vendor/go.etcd.io/etcd/server/v3/embed/config.go
  vendor/go.etcd.io/etcd/server/v3/embed/etcd.go
  vendor/go.etcd.io/etcd/server/v3/embed/serve.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/etcdhttp/metrics.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/membership/cluster.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/membership/store.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/v3alarm/alarms.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/v3rpc/grpc.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/v3rpc/util.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/backend.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/cindex/cindex.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/errors.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/server.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/v3_server.go
  vendor/go.etcd.io/etcd/server/v3/lease/lessor.go
  vendor/go.etcd.io/etcd/server/v3/mvcc/backend/backend.go
  vendor/go.etcd.io/etcd/server/v3/mvcc/backend/batch_tx.go
  vendor/go.etcd.io/etcd/server/v3/mvcc/backend/metrics.go
  vendor/go.etcd.io/etcd/server/v3/mvcc/backend/verify.go
  vendor/go.etcd.io/etcd/server/v3/mvcc/kvstore.go
  vendor/go.etcd.io/etcd/server/v3/mvcc/kvstore_compaction.go
  vendor/go.etcd.io/etcd/server/v3/mvcc/kvstore_txn.go
  vendor/go.etcd.io/etcd/server/v3/mvcc/util.go
  vendor/go.etcd.io/etcd/server/v3/mvcc/watchable_store.go
  vendor/go.etcd.io/etcd/server/v3/verify/verify.go
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/L, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted

#110385 Add e2e test for HPA behavior: scale up delay
  test/e2e/autoscaling/horizontal_pod_autoscaling.go
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
  test/e2e/framework/autoscaling/autoscaling_utils.go
Labels: area/test, lgtm, sig/autoscaling, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#110551 Fix example webhook cert generation
  staging/src/k8s.io/pod-security-admission/webhook/Makefile
Labels: kind/bug, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#110294 GIT-110239: fix activeDeadlineSeconds enforcement bug
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, priority/backlog, sig/scheduling, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#110553 Support more auth strategies in `kubeadm join` with discovery file
  cmd/kubeadm/app/util/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/util/kubeconfig/kubeconfig_test.go
Labels: priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#110202 Using inherited context in utils
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/util/utils.go
  pkg/scheduler/util/utils_test.go
Labels: priority/backlog, kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-triage

#110516 Bundle metrics registration into test server creation
  staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage

#110529 Fix leaking goroutines in multiple integration tests
  pkg/controller/garbagecollector/garbagecollector.go
  pkg/controller/resourcequota/resource_quota_controller.go
  pkg/controller/resourcequota/resource_quota_monitor.go
  test/integration/apimachinery/watch_restart_test.go
  test/integration/apimachinery/watch_timeout_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/apiserver/cve_2021_29923_test.go
  test/integration/apiserver/export_test.go
  test/integration/apiserver/no_new_betas_test.go
  test/integration/apiserver/patch_test.go
  test/integration/apiserver/print_test.go
  test/integration/apiserver/watchcache_test.go
  test/integration/auth/accessreview_test.go
  test/integration/auth/bootstraptoken_test.go
  test/integration/auth/rbac_test.go
  test/integration/quota/quota_test.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XL, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, needs-triage

#110469 add missing error handling steps
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/controllers/route/route_controller.go
Labels: kind/cleanup, lgtm, area/cloudprovider, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, triage/accepted

#110574 Using t.Run() in integration test TestApplyAlsoCreates
  test/integration/apiserver/apply/apply_test.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, needs-triage

#110365 Fix unnecessary recreation of placeholder EndpointSlice
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
Labels: kind/bug, sig/network, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110588 Fix typos
  test/e2e/apimachinery/webhook.go
  test/e2e/common/node/security_context.go
  test/e2e/common/storage/volumes.go
  test/e2e/storage/framework/volume_resource.go
  test/e2e/storage/vsphere/vsphere_stress.go
  test/e2e/storage/vsphere/vsphere_volume_fstype.go
  test/integration/examples/webhook_test.go
  test/integration/storageversion/gc_test.go
  test/soak/serve_hostnames/serve_hostnames.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, sig/node, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#110598 kubeadm: ensure kubelet config patch results are in YAML
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/phases/kubelet/config_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, kind/failing-test, triage/accepted

#110558 Update Debian base images to latest
  build/common.sh
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  test/conformance/image/Makefile
  test/utils/image/manifest.go
Labels: area/test, area/security, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, ok-to-test, needs-priority, area/dependency, needs-triage

#110436 client-go: fix panic in ConfirmUsable validation
  staging/src/k8s.io/client-go/tools/clientcmd/validation.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation_test.go
Labels: kind/bug, priority/backlog, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#110379 Updating base container image for pause image on Windows
  build/dependencies.yaml
  build/pause/CHANGELOG.md
  build/pause/Dockerfile_windows
  build/pause/Makefile
Labels: lgtm, release-note, size/S, kind/feature, approved, sig/windows, cncf-cla: yes, priority/important-longterm, triage/accepted

#110584 Revert "Automated cherry pick of #109124: Winkernel proxier cache HNS data to improve syncProxyRules"
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: kind/bug, priority/critical-urgent, sig/network, lgtm, size/L, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#110585 Revert "Automated cherry pick of #109124: Winkernel proxier cache HNS data to improve syncProxyRules"
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: kind/bug, priority/critical-urgent, sig/network, lgtm, size/L, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#110448 add some uts of group_version.go
  staging/src/k8s.io/apimachinery/pkg/runtime/schema/group_version_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110624 staging-readme: Document the need to add doc.go in a staging repo
  staging/README.md
Labels: kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#110506 Remove the description of the docker shim from the kubelet
  cmd/kubelet/app/server.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#110557 Fixing grammar in e2e Windows test logging
  test/e2e/windows/volumes.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#110583 Update ineligible_endpoints.yaml
  test/conformance/testdata/ineligible_endpoints.yaml
Labels: kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, needs-priority, triage/accepted

#110451 [e2e] Should spread Pods to schedulable cluster zones
  test/e2e/scheduling/ubernetes_lite.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#110616 Revert "filter out terminated containers in cadvisor_stats_provider"
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/provider_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#110204 remove deprecated label and update snapshot controller version
  cluster/addons/volumesnapshots/volume-snapshot-controller/rbac-volume-snapshot-controller.yaml
  cluster/addons/volumesnapshots/volume-snapshot-controller/volume-snapshot-controller-deployment.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#110108 Nit: Fix a typo
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/namespace/matcher.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#108823 kubelet: Update deprecation messages from 1.24 to 1.25
  cmd/kubelet/app/options/options.go
Labels: priority/important-soon, area/kubelet, kind/documentation, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#110640 test/e2e/network: fix a bug in the hostport e2e test
  test/e2e/network/hostport.go
  test/images/agnhost/netexec/netexec.go
Labels: kind/bug, area/test, sig/network, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#110635 kubeadm: fail faster when the version is not provided
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/phases/upgrade/health.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#110655 typo in comments pkg/kubelet/volumemanager/volume_manager.go
  pkg/kubelet/volumemanager/volume_manager.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110664 Revert "Add e2e test for HPA behavior: scale up delay"
  test/e2e/autoscaling/horizontal_pod_autoscaling.go
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
  test/e2e/framework/autoscaling/autoscaling_utils.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/autoscaling, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, area/e2e-test-framework, needs-triage

#109957 disruptioncontroller: check for scale subresource correctly
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
Labels: kind/bug, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110367 Cleanup: defer to close server in tests
  pkg/client/tests/portfoward_test.go
  pkg/client/tests/remotecommand_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, needs-priority, needs-triage

#110567 Remove redundant variable definitions in scheduler apis defaults.go
  pkg/scheduler/apis/config/v1beta2/defaults.go
  pkg/scheduler/apis/config/v1beta3/defaults.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, kind/api-change, kind/flake, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110531 fix the running of the kube-controller-manager
  cmd/kube-controller-manager/app/controllermanager.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#110707 fix "k8s.io/client-go/rest" is being imported more than once,optimize code
  test/e2e/framework/util.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, area/e2e-test-framework, triage/accepted

#109396 check for the test duraiton to make NodeProblemDetector test reliable
  test/e2e/node/node_problem_detector.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#110410 CSIMigration feature gate to GA
  pkg/apis/storage/validation/validation.go
  pkg/apis/storage/validation/validation_test.go
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
  pkg/controller/volume/attachdetach/util/util.go
  pkg/controller/volume/expand/expand_controller_test.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/features/kube_features.go
  pkg/registry/storage/volumeattachment/strategy.go
  pkg/registry/storage/volumeattachment/strategy_test.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
  pkg/scheduler/framework/plugins/nodevolumelimits/utils.go
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  pkg/scheduler/framework/plugins/volumebinding/binder_test.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csimigration/plugin_manager.go
  pkg/volume/csimigration/plugin_manager_test.go
  pkg/volume/portworx/portworx.go
  pkg/volume/rbd/rbd.go
  pkg/volume/vsphere_volume/vsphere_volume.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  test/integration/volume/attach_detach_test.go
Labels: area/test, sig/scheduling, lgtm, sig/storage, release-note, size/L, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, api-review, needs-triage

#110684 fix several typo
  cmd/kubeadm/app/cmd/kubeconfig.go
  cmd/kubeadm/app/cmd/util/join.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#109632 correct input params of ByIndex
  staging/src/k8s.io/client-go/tools/cache/index.go
  staging/src/k8s.io/client-go/tools/cache/store.go
  staging/src/k8s.io/client-go/tools/cache/thread_safe_store.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted
