Repository kubernetes/kubernetes, pull requests merged in 2022-11, with the labels that each got.

#113411 Fix SELinux context mount with unknown context
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_mounter_test.go
Labels: kind/bug, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113484 update documentation for stability framework
  test/instrumentation/README.md
  test/instrumentation/doc.go
  test/instrumentation/documentation/doc.go
  test/instrumentation/documentation/documentation.md
  test/instrumentation/documentation/main.go
  test/instrumentation/update-documentation.sh
Labels: area/test, kind/documentation, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#113320 kubeadm: simply struct of `joinOptions` by removing `joinControlPlane`
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/join_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#113406 Fix SELinux check of mounted volumes
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113354 Automated cherry pick of #108325: do not return err when PodSandbox not exist
  pkg/kubelet/cm/container_manager_linux.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#113431 kube-aggregator: remove redundant Scheme registration logic
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/scheme/scheme.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113358 StatefulSet: fix kube-controller-manager panic due to StatefulSetPersistentVolumeClaimRetentionPolicy being nil
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Labels: kind/bug, priority/critical-urgent, priority/important-soon, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#113490 Add Makefile target lint
  build/root/Makefile
Labels: lgtm, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#111220 kubelet: remove superfluous function
  pkg/kubelet/util/store/filestore.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#113021 kubelet: fix nil crash in allocateRemainingFrom
  pkg/kubelet/cm/devicemanager/manager.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, triage/accepted

#112373 Add unit tests for active_deadline.go
  pkg/kubelet/active_deadline_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#113420 Automated cherry pick of #112913: fix GetAllocatableCPUs in cpumanager
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/policy.go
  pkg/kubelet/cm/cpumanager/policy_static.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#113421 Automated cherry pick of #112913: fix GetAllocatableCPUs in cpumanager
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/policy.go
  pkg/kubelet/cm/cpumanager/policy_static.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#112796 kubelet: remove the unused constant AnnotationInvalidReason since sysctl annotations are deprecated and migrated to fields
  pkg/kubelet/sysctl/allowlist.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#113422 Automated cherry pick of #112913: fix GetAllocatableCPUs in cpumanager
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/policy.go
  pkg/kubelet/cm/cpumanager/policy_static.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#113206 Fix APF width estimate for creating service account's token
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/mutating_work_estimator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, needs-priority, triage/accepted

#110268 minimize iptables-restore input
  pkg/features/kube_features.go
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/metrics/metrics.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
  pkg/util/iptables/testing/fake.go
  pkg/util/iptables/testing/fake_test.go
Labels: sig/network, lgtm, release-note, size/XL, kind/feature, approved, cncf-cla: yes, sig/instrumentation, priority/important-longterm, area/ipvs, triage/accepted

#113282 Image Version Bump in Manifest for Node Perf Test tf-wide-deep
  test/e2e_node/perf/workloads/tf_wide_deep.go
  test/utils/image/manifest.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, triage/accepted

#113296 test images: Retrigger failing images
  test/images/jessie-dnsutils/fixup-apt-list.sh
  test/images/resource-consumer/README.md
Labels: area/test, priority/important-soon, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#113450 docs: Correct the log message for pv controller to make it more accurately descriptive
  pkg/controller/volume/persistentvolume/pv_controller.go
Labels: priority/important-soon, kind/documentation, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#113452 Allow DBG=1 to be used with make release-images and make quick-release-images
  build/release-images.sh
  build/root/Makefile
Labels: priority/important-soon, lgtm, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#113455 Promote test for ResourceQuota status to Conformance +3 Endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/resource_quota.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, triage/accepted

#113476 Promoting WindowsHostProcessContainers to stable
  pkg/api/pod/util.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/kuberuntime_container_windows.go
  pkg/kubelet/kuberuntime/kuberuntime_container_windows_test.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_test.go
  pkg/kubelet/metrics/metrics.go
  test/integration/auth/podsecurity_test.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, sig/apps, approved, sig/windows, cncf-cla: yes, sig/testing, triage/accepted

#113481 kubelet: fix pod log line corruption when using timestamps and long lines
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, needs-triage

#113518 add support for parsing custom collectors from the stability framework
  test/instrumentation/decode_metric.go
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
  test/instrumentation/find_stable_metric.go
  test/instrumentation/metric.go
  test/instrumentation/testdata/pkg/kubelet/metrics/metrics.go
  test/instrumentation/testdata/test-stable-metrics-list.yaml
Labels: area/test, kind/cleanup, lgtm, size/XL, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage, area/stable-metrics

#113523 Get response content-type
  staging/src/k8s.io/client-go/rest/request.go
Labels: priority/important-soon, lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, triage/accepted

#113185 test/images/agnhost: Adds a test user and group in the image for a E2E test case of SupplementalGroups with pre-defined group in the image
  test/images/agnhost/Dockerfile
  test/images/agnhost/VERSION
Labels: area/test, lgtm, sig/node, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113462 kubeadm: add testcases for `kubeadm reset`
  cmd/kubeadm/app/cmd/reset_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#113513 Fix sample-apiserver E2E image build failure
  test/images/sample-apiserver/Makefile
Labels: kind/bug, area/test, priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#113329 graduate RetroactiveDefaultStorageClass to beta
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  test/e2e/storage/pvc_storageclass.go
Labels: area/test, lgtm, sig/storage, release-note, size/S, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113419 scheduler: integration test for ReadWriteOncePod alpha
  pkg/scheduler/testing/wrappers.go
  test/integration/scheduler/filters/filters_test.go
  test/integration/util/util.go
Labels: area/test, sig/scheduling, lgtm, sig/storage, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113461 cleanup psp related rbac in cluster addons
  cluster/addons/calico-policy-controller/podsecuritypolicies/calico-node-psp-binding.yaml
  cluster/addons/ip-masq-agent/podsecuritypolicies/ip-masq-agent-psp-binding.yaml
  cluster/addons/metadata-agent/stackdriver/podsecuritypolicies/metadata-agent-psp-binding.yaml
  cluster/addons/metadata-proxy/gce/podsecuritypolicies/metadata-proxy-psp-binding.yaml
  cluster/addons/node-problem-detector/podsecuritypolicies/npd-psp-binding.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/cloud-provider, needs-priority, needs-triage

#113517 Automated cherry pick of #113515: kubelet: fix pod log line corruption when using timestamps
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#113515 Automated cherry pick of #113481: kubelet: fix pod log line corruption when using timestamps
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#113516 Automated cherry pick of #113515: kubelet: fix pod log line corruption when using timestamps
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#113020 resource-consumer windows image use leak-and-touch for memory allocations
  test/images/resource-consumer/VERSION
  test/images/resource-consumer/utils_windows.go
Labels: area/test, priority/important-soon, lgtm, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#113520 egress_selector.go: Add a dial starts metric.
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector_test.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/metrics/metrics.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113545 Shutdown tracerprovider when stopping the kube-apiserver
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/component-base/tracing/utils.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-triage

#112980 node: devicemgr: Graduate Kubelet DeviceManager to GA
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cmd/kubelet/app/server.go
  pkg/features/kube_features.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_unsupported.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/devicemanager/checkpoint/checkpoint.go
  pkg/kubelet/cm/devicemanager/checkpoint/checkpointv1.go
  pkg/kubelet/cm/devicemanager/endpoint.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_stub.go
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/api.go
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/client.go
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/server.go
  pkg/kubelet/cm/devicemanager/pod_devices.go
  pkg/kubelet/cm/devicemanager/pod_devices_test.go
Labels: priority/important-soon, area/kubelet, lgtm, area/provider/gcp, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#113550 releng: Update images, dependencies and version to Go 1.19.3
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/M, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#113018 node: kubelet: cpumgr: CPU Manager to GA
  cmd/kubelet/app/server.go
  pkg/features/kube_features.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/topology_hints_test.go
  pkg/kubelet/metrics/metrics.go
  test/e2e_node/cpu_manager_metrics_test.go
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/topology_manager_test.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, needs-triage

#113427 Reuse generic TestGet in cache tests
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/utils.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#112838 graduate LegacyServiceAccountTokenNoAutoGeneration to ga
  pkg/features/kube_features.go
Labels: area/test, priority/important-soon, lgtm, sig/api-machinery, release-note, size/XS, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#113478 Add benchmark for large indexed job
  pkg/controller/job/job_controller.go
  test/integration/framework/util.go
  test/integration/job/job_test.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#113521 resolve winkernel proxier treating stale VIPs as valid
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, approved, sig/windows, cncf-cla: yes, needs-priority, needs-triage

#113557 Replace brancz as feature approver for SIG Inst
  OWNERS_ALIASES
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, triage/accepted

#113233 Fix and extend APIServerTracing integration tests
  test/integration/apiserver/tracing/tracing_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/XL, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-triage

#113277 Cleanup: kube-proxy internal naming
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
  pkg/proxy/topology_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/XL, release-note-none, approved, cncf-cla: yes, area/ipvs, ok-to-test, needs-priority, needs-triage

#113363 promote ProxyTerminatingEndpoints feature to Beta
  pkg/features/kube_features.go
Labels: sig/network, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#103177 Support cancelable SPDY executor stream
  pkg/client/tests/remotecommand_test.go
  pkg/kubelet/cri/streaming/server_test.go
  staging/src/k8s.io/client-go/tools/remotecommand/remotecommand.go
  staging/src/k8s.io/client-go/tools/remotecommand/remotecommand_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/attach/attach.go
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec.go
  test/e2e/framework/pod/exec_util.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, area/kubectl, lgtm, sig/node, sig/api-machinery, release-note, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, area/e2e-test-framework, triage/accepted

#112053 sync website change
  cmd/kubelet/app/server.go
Labels: priority/backlog, area/kubelet, kind/documentation, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#112649 Optimize `Everything` and `Nothing` label selectors
  staging/src/k8s.io/apimachinery/pkg/labels/selector.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#113384 e2e: formatting enhancements
  test/e2e/e2e_test.go
  test/e2e/framework/test_context.go
  test/e2e_kubeadm/e2e_kubeadm_suite_test.go
  test/e2e_node/e2e_node_suite_test.go
  test/utils/format/format.go
  test/utils/format/format_test.go
Labels: area/test, priority/important-soon, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/cluster-lifecycle, size/L, release-note-none, sig/auth, approved, sig/cli, area/kubeadm, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/code-generation, sig/cloud-provider, area/e2e-test-framework, area/dependency, triage/accepted

#113505 chore(scheduler): cleanup some minor issues in testing
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio_test.go
  pkg/scheduler/framework/plugins/noderesources/test_util.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#109757 Add testcases for pkg/kubelet/cm/pod_container_manager_linux.go
  pkg/kubelet/cm/pod_container_manager_linux_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#113387 Refactor store index into its structure
  staging/src/k8s.io/client-go/tools/cache/thread_safe_store.go
  staging/src/k8s.io/client-go/tools/cache/thread_safe_store_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#110747 structured-logging: replace KObjs with KObjSlice for logging
  pkg/controller/replicaset/replica_set.go
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/kubelet/config/config.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/kubelet.go
  staging/src/k8s.io/component-base/logs/json/klog_test.go
Labels: area/kubelet, area/apiserver, lgtm, sig/node, size/M, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted, wg/structured-logging

#110618 Remove CRI v1alpha2
  hack/testdata/levee/levee-config.yaml
  hack/update-generated-runtime-dockerized.sh
  hack/verify-generated-runtime.sh
  pkg/kubelet/cri/remote/conversion.go
  pkg/kubelet/cri/remote/conversion_test.go
  pkg/kubelet/cri/remote/remote_image.go
  pkg/kubelet/cri/remote/remote_runtime.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/constants.go
  vendor/modules.txt
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/XXL, approved, cncf-cla: yes, sig/security, triage/accepted

#113519 Add metric deleting_pods_total
  pkg/controller/podgc/gc_controller.go
  pkg/controller/podgc/gc_controller_test.go
  pkg/controller/podgc/metrics.go
Labels: lgtm, release-note, size/M, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#113559 Clean shutdown of few more integration tests
  cmd/kube-scheduler/app/options/options.go
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/nodeipam/node_ipam_controller.go
  staging/src/k8s.io/cloud-provider/options/options.go
Labels: sig/network, kind/cleanup, sig/scheduling, lgtm, area/cloudprovider, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, sig/cloud-provider, needs-triage

#113560 refactor static analysis code for stability framework
  test/instrumentation/decode_metric.go
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#110754 CRI: Add Windows Podsandbox Stats
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, size/XXL, kind/feature, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#113535 Log a warning when dropping unknown fields from loading an audit policy
  staging/src/k8s.io/apiserver/pkg/audit/policy/reader.go
  staging/src/k8s.io/apiserver/pkg/audit/policy/reader_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#113511 Move non-graceful node shutdown to beta
  pkg/features/kube_features.go
Labels: lgtm, sig/storage, sig/node, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#109505 Do not raise an error proposing to use '--overwrite' when annotating with the same value
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate.go
  staging/src/k8s.io/kubectl/pkg/cmd/annotate/annotate_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#113496 Promote ServiceInternalTrafficPolicy to GA
  pkg/apis/core/types.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/service.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
Labels: sig/network, lgtm, release-note, size/L, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, area/ipvs, ok-to-test, needs-priority, needs-triage

#108250 kube-proxy: add a flag to disable nodePortOnLocalhost
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubemark/hollow_proxy.go
  pkg/proxy/apis/config/fuzzer/fuzzer.go
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/after/v1alpha1.yaml
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/roundtrip/default/v1alpha1.yaml
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/defaults.go
  pkg/proxy/apis/config/v1alpha1/defaults_test.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/apis/config/zz_generated.deepcopy.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/util/utils.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/zz_generated.deepcopy.go
Labels: area/test, sig/network, area/kubelet, sig/scalability, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, area/code-generation, sig/cloud-provider, needs-priority, triage/accepted

#113562 e2e loadbalancer remove after each cleanup
  test/e2e/network/loadbalancer.go
Labels: area/test, sig/network, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113580 Fix disruption controller permissions to allow patching pod's status
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
Labels: kind/bug, lgtm, release-note, size/M, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#113146 kubectl explain --output plaintext
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/pkg/cmd/explain/explain.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/explain.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/funcs.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/funcs_test.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/generator.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/template.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/template_test.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/templates/apiextensions.k8s.io_v1.json
  staging/src/k8s.io/kubectl/pkg/explain/v2/templates/plaintext.tmpl
  staging/src/k8s.io/kubectl/pkg/explain/v2/templates/plaintext_test.go
Labels: area/kubectl, lgtm, release-note, size/XXL, kind/feature, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#113216 Add container name in the `BackOff` event message
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Labels: area/kubelet, kind/documentation, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112261 kubectl run: deprecate unused / nonuseful flags
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Labels: kind/cleanup, area/kubectl, lgtm, release-note, size/S, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#113494 Handle nil case correctly in TimingHistogramVec::WithLabelValuesChecked
  staging/src/k8s.io/component-base/metrics/timing_histogram.go
  staging/src/k8s.io/component-base/metrics/timing_histogram_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted

#113598 apiserver: remove redundant field from seatDemandStats
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113592 [release-1.25] Update images, dependencies and version to Go 1.19.3
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#113593 [release-1.24] Update images, dependencies and version to Go 1.18.8
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#112805 Add enablement tests for feature gate nodeInclusionPolicyInPodTopologySpread
  pkg/registry/core/pod/strategy_test.go
Labels: sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113483 Define metrics for API Priority and Fairness borrowing
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/integrator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/testing/no-restraint.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/union_gauge.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#113273 test: Fix e2e_node restart_test flake
  test/e2e_node/restart_test.go
  test/utils/conditions.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#113620 Clean shutdown of nodeipam controller
  pkg/controller/nodeipam/ipam/adapter.go
  pkg/controller/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/controller/nodeipam/ipam/controller_legacyprovider.go
  pkg/controller/nodeipam/ipam/multi_cidr_range_allocator.go
  pkg/controller/nodeipam/ipam/range_allocator.go
  pkg/controller/nodeipam/legacyprovider.go
  pkg/controller/nodeipam/node_ipam_controller.go
  pkg/controller/nodeipam/nolegacyprovider.go
  test/integration/framework/etcd.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, needs-triage

#111930 New histogram: Pod start SLI duration
  cmd/kubelet/app/server.go
  pkg/kubelet/config/config.go
  pkg/kubelet/config/config_test.go
  pkg/kubelet/images/image_manager.go
  pkg/kubelet/images/image_manager_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/metrics/metrics.go
  pkg/kubelet/prober/common_test.go
  pkg/kubelet/prober/worker_test.go
  pkg/kubelet/runonce_test.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  pkg/kubelet/status/testing/mock_pod_status_provider.go
  pkg/kubelet/util/pod_startup_latency_tracker.go
  pkg/kubelet/util/pod_startup_latency_tracker_test.go
  test/e2e/framework/metrics/interesting_metrics.go
  test/e2e/framework/metrics/kubelet_metrics.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/XL, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, area/e2e-test-framework, triage/accepted

#113307 apiserver identity: use persistent names for lease objects
  pkg/controlplane/instance.go
  pkg/kubelet/kubelet.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller.go
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller_test.go
  test/integration/controlplane/apiserver_identity_test.go
Labels: area/test, area/kubelet, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#111607 Remove duplicate and unused index from PodIndexer
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#113008 Promote cronjob_job_creation_skew metric to stable
  pkg/controller/cronjob/metrics/metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: priority/backlog, kind/cleanup, lgtm, release-note, size/S, sig/apps, approved, cncf-cla: yes, sig/instrumentation, triage/accepted, area/stable-metrics

#113604 fix local-up-cluster.sh to run on other arch than amd64
  hack/local-up-cluster.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, ok-to-test, needs-priority, needs-triage

#113225 Promote DelegateFSGroupToCSIDriver feature to GA
  go.mod
  go.sum
  pkg/features/kube_features.go
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_mounter_test.go
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/modules.txt
Labels: area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/cluster-lifecycle, release-note, size/M, kind/feature, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#113336 Promote CSIMigrationvSphere to GA
  pkg/features/kube_features.go
  pkg/volume/csimigration/plugin_manager_test.go
Labels: lgtm, sig/storage, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#113601 e2e - use resource-consumer:1.13
  test/utils/image/manifest.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113613 kube-proxy ipatbles: update log message
  pkg/proxy/iptables/proxier.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113632 Switch to newer nvidia installer for m97
  test/e2e/testing-manifests/scheduling/nvidia-driver-installer.yaml
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#111707 remove const that's not used
  pkg/volume/csi/csi_attacher.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#113271 Turn on CCM in kube-up when cloudprovider=external
  build/lib/release.sh
  cluster/addons/cloud-controller-manager/cloud-node-controller-binding.yaml
  cluster/addons/cloud-controller-manager/cloud-node-controller-role.yaml
  cluster/addons/cloud-controller-manager/pvl-controller-role.yaml
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
  cluster/gce/manifests/cloud-controller-manager.manifest
  cluster/gce/util.sh
Labels: priority/important-soon, lgtm, area/provider/gcp, size/XL, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, triage/accepted

#113634 Stop creating three copies of admission plugins
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/apiextensions.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113640 cluster: fix cloud-controller-manager.manifest to use priorityClassName
  cluster/gce/manifests/cloud-controller-manager.manifest
Labels: kind/bug, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#113217 FilterLatency tracing for APIServerTracing
  staging/src/k8s.io/apiserver/pkg/endpoints/filterlatency/filterlatency.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filterlatency/filterlatency_test.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/M, kind/feature, approved, cncf-cla: yes, sig/instrumentation, triage/accepted

#113352 Correct some incorrect comments
  cmd/kube-controller-manager/app/options/options.go
  staging/src/k8s.io/cloud-provider/options/options.go
Labels: priority/backlog, kind/cleanup, lgtm, area/cloudprovider, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#112582 Clarify a few validation messages
  pkg/apis/admissionregistration/validation/validation_test.go
  pkg/apis/certificates/validation/validation.go
  pkg/apis/certificates/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/validation.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#113588 Reuse generic GetListNonRecursive test for watchcache
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/utils.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/watcher_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, needs-triage

#113199 test: Stop kubelet systemd service after node e2e
  test/e2e_node/services/kubelet.go
  test/e2e_node/services/server.go
  test/e2e_node/services/services.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#113491 [PSA] default warn to enforce level
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  staging/src/k8s.io/pod-security-admission/admission/admission_test.go
  staging/src/k8s.io/pod-security-admission/api/helpers.go
  staging/src/k8s.io/pod-security-admission/api/helpers_test.go
Labels: lgtm, release-note, size/L, kind/feature, sig/auth, approved, cncf-cla: yes, needs-priority, sig/security, needs-triage

#112011 Add ambiguous selector check to HPA
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/horizontal_test.go
  pkg/controller/util/selectors/bimultimap.go
  pkg/controller/util/selectors/bimultimap_test.go
Labels: lgtm, release-note, sig/autoscaling, size/XXL, kind/feature, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#113668 Update publishing-bot rules to Go 1.18.8
  staging/publishing/rules.yaml
Labels: priority/important-soon, lgtm, size/M, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, area/dependency, triage/accepted

#113528 scheduler/framework: remove useless SetFailedPlugin
  pkg/scheduler/framework/runtime/framework.go
Labels: priority/backlog, kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-triage

#113661 Fix formatting of API server diagram
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Labels: kind/documentation, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113503 Refactor scheduler_perf_test codes
  test/integration/scheduler_perf/scheduler_perf_test.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113648 kube-apiserver: print supported media types on failure to find a serializer
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_codec.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113160 make Azure File CSI migration as GA in 1.26
  pkg/features/kube_features.go
Labels: priority/important-soon, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#113615 Add nodeInclusionPolicy benchmark tests to scheduler_perf
  test/integration/framework/perf_utils.go
  test/integration/framework/util.go
  test/integration/scheduler_perf/config/node-with-taint.yaml
  test/integration/scheduler_perf/config/performance-config.yaml
  test/integration/scheduler_perf/config/pod-with-node-inclusion-policy.yaml
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/utils/create_resources.go
Labels: area/test, priority/important-soon, sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#113666 Standardize naming in generic storage tests
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/utils.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, needs-triage

#112223 Fix ownerRef controller validate err msg
  staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta.go
  staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#112877 Add ability to pass format options in mount-utils
  staging/src/k8s.io/mount-utils/mount.go
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_unsupported.go
  staging/src/k8s.io/mount-utils/mount_windows.go
  staging/src/k8s.io/mount-utils/safe_format_and_mount_test.go
Labels: lgtm, sig/storage, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113529 kms: add wiring to support automatic encryption config reload
  cmd/kube-apiserver/app/testing/testserver.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/encryption-configs/multiple-kms-providers-with-v2.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/encryption-configs/multiple-kms-v2-providers.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/encryption-configs/no-kms-provider.yaml
  test/integration/controlplane/transformation/all_transformation_test.go
  test/integration/controlplane/transformation/kms_transformation_test.go
  test/integration/controlplane/transformation/kmsv2_transformation_test.go
  test/integration/controlplane/transformation/secrets_transformation_test.go
  test/integration/controlplane/transformation/transformation_test.go
Labels: area/test, priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#113649 apiserver identity : use SHA256 hash in lease names
  staging/src/k8s.io/apiserver/pkg/server/config.go
  test/integration/controlplane/apiserver_identity_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113681 fix node address validation
  pkg/registry/core/node/storage/storage_test.go
  pkg/registry/core/node/strategy.go
Labels: kind/bug, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112961 Windows hostnetwork alpha
  pkg/features/kube_features.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_test.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
Labels: area/kubelet, lgtm, sig/node, release-note, size/XXL, kind/feature, approved, sig/windows, cncf-cla: yes, priority/important-longterm, triage/accepted

#113262 Rework volume reconstruction
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler_common.go
  pkg/kubelet/volumemanager/reconciler/reconciler_new.go
  pkg/kubelet/volumemanager/reconciler/reconstruct.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_common.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/azure_file/azure_file.go
  pkg/volume/azuredd/azure_dd.go
  pkg/volume/cephfs/cephfs.go
  pkg/volume/cephfs/cephfs_test.go
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csi/csi_plugin_test.go
  pkg/volume/csi/csi_test.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/fc.go
  pkg/volume/flexvolume/plugin.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/git_repo/git_repo.go
  pkg/volume/hostpath/host_path.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/local/local.go
  pkg/volume/local/local_test.go
  pkg/volume/nfs/nfs.go
  pkg/volume/noop_expandable_plugin.go
  pkg/volume/plugins.go
  pkg/volume/plugins_test.go
  pkg/volume/portworx/portworx.go
  pkg/volume/projected/projected.go
  pkg/volume/rbd/rbd.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/secret/secret.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/vsphere_volume/vsphere_volume.go
Labels: area/kubelet, lgtm, sig/storage, sig/node, size/XXL, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#113679 Add alculquicondor to test/integration/framework OWNERS
  test/integration/framework/OWNERS
Labels: area/test, kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#111772 kubelet: make the image pull time more accurate in event
  pkg/kubelet/images/image_manager.go
  pkg/kubelet/images/puller.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#111724 CSI Inline Volumes: promote API tests to conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/storage/csi_inline.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, triage/accepted

#112127 Update daemonSet status even if syncDaemonSet fails
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/daemonset/util.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#112360 Add pod disruption conditions for kubelet-initiated failures
  pkg/apis/core/types.go
  pkg/controller/disruption/disruption.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  pkg/kubelet/types/pod_status.go
  pkg/kubelet/types/pod_status_test.go
  pkg/util/pod/pod.go
  pkg/util/pod/pod_test.go
  staging/src/k8s.io/api/core/v1/types.go
  test/e2e/framework/pod/utils.go
  test/e2e_node/eviction_test.go
  test/e2e_node/node_shutdown_linux_test.go
  test/integration/disruption/disruption_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#112914 node: topologymanager: Improved multi-numa alignment in Topology Manager
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/policy_options_test.go
  pkg/kubelet/cm/topologymanager/bitmask/bitmask.go
  pkg/kubelet/cm/topologymanager/bitmask/bitmask_test.go
  pkg/kubelet/cm/topologymanager/numa_info.go
  pkg/kubelet/cm/topologymanager/numa_info_test.go
  pkg/kubelet/cm/topologymanager/policy.go
  pkg/kubelet/cm/topologymanager/policy_best_effort.go
  pkg/kubelet/cm/topologymanager/policy_best_effort_test.go
  pkg/kubelet/cm/topologymanager/policy_options.go
  pkg/kubelet/cm/topologymanager/policy_options_test.go
  pkg/kubelet/cm/topologymanager/policy_restricted.go
  pkg/kubelet/cm/topologymanager/policy_restricted_test.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node_test.go
  pkg/kubelet/cm/topologymanager/policy_test.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, approved, cncf-cla: yes, area/code-generation, ok-to-test, triage/accepted

#113544 Added: publishing events for topologyAwareHints changes
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/topologycache/event.go
  pkg/controller/endpointslice/topologycache/topologycache.go
  pkg/controller/endpointslice/topologycache/topologycache_test.go
  pkg/controller/endpointslice/topologycache/utils.go
Labels: priority/important-soon, sig/network, lgtm, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#113610 update documentation for metrics with deprecated version and k8s version
  test/instrumentation/README.md
  test/instrumentation/decode_metric.go
  test/instrumentation/documentation/documentation.md
  test/instrumentation/documentation/main.go
  test/instrumentation/stability-utils.sh
  test/instrumentation/update-documentation.sh
Labels: area/test, kind/cleanup, lgtm, size/XXL, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage

#113636 Enable shell completion descriptions for bash
  staging/src/k8s.io/kubectl/pkg/cmd/completion/completion.go
Labels: area/kubectl, lgtm, release-note, size/XS, kind/feature, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#113642 Additional integration test validations for apiserver tracing
  test/integration/apiserver/tracing/tracing_test.go
Labels: area/test, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113682 Add verb resource to api server tracing
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/helpers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/helpers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/trace_util.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113688 Update k8s.io/utils to fix util tracing panic
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/k8s.io/utils/trace/trace.go
  vendor/modules.txt
Labels: area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/api-machinery, sig/cluster-lifecycle, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, kind/failing-test, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#113697 [KMS]: add validation for duplicate kms config name when auto reload is enabled
  staging/src/k8s.io/apiserver/pkg/apis/config/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/config/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, sig/auth, approved, cncf-cla: yes, triage/accepted

#113684 Fix etcd path construction
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/linearized_read_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113687 Fix etcd path construction
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113690 Automated cherry pick of #113681: fix node address validation
  pkg/registry/core/node/storage/storage_test.go
  pkg/registry/core/node/strategy.go
Labels: kind/bug, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113691 Automated cherry pick of #113681: fix node address validation
  pkg/registry/core/node/storage/storage_test.go
  pkg/registry/core/node/strategy.go
Labels: kind/bug, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#112905 kubectl: `apply --server-side` managed fields migration
  staging/src/k8s.io/client-go/util/csaupgrade/OWNERS
  staging/src/k8s.io/client-go/util/csaupgrade/upgrade.go
  staging/src/k8s.io/client-go/util/csaupgrade/upgrade_test.go
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
  staging/src/k8s.io/kubectl/testdata/apply/rc-managedfields-lastapplied.yaml
  test/cmd/apply.sh
  vendor/modules.txt
Labels: kind/bug, area/test, priority/important-soon, area/kubectl, lgtm, sig/api-machinery, release-note, size/XXL, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#113696 Fix etcd path construction
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/linearized_read_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/utils.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/watcher_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113692 Automated cherry pick of #113681: fix node address validation
  pkg/registry/core/node/storage/storage_test.go
  pkg/registry/core/node/strategy.go
Labels: kind/bug, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113686 Fix etcd path construction
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113689 Automated cherry pick of #113681: fix node address validation
  pkg/registry/core/node/storage/storage_test.go
  pkg/registry/core/node/strategy.go
Labels: kind/bug, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113685 Fix etcd path construction
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#113291 Fix stats for podAndContainerStatsFromCRI
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, triage/accepted

#111597 make eviction message more clear
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/eviction/helpers.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#113699 Add extra value validation for matchExpression field in LabelSelector
  pkg/api/pod/util.go
  pkg/apis/admissionregistration/validation/validation.go
  pkg/apis/apps/validation/validation.go
  pkg/apis/batch/validation/validation.go
  pkg/apis/core/validation/validation.go
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
  pkg/apis/policy/validation/validation.go
  pkg/apis/policy/validation/validation_test.go
  pkg/apis/rbac/validation/validation.go
  pkg/apis/rbac/validation/validation_test.go
  pkg/apis/storage/validation/validation.go
  pkg/apis/storage/validation/validation_test.go
  pkg/registry/apps/daemonset/strategy.go
  pkg/registry/apps/daemonset/strategy_test.go
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
  pkg/registry/networking/networkpolicy/strategy.go
  pkg/registry/policy/poddisruptionbudget/strategy.go
  pkg/registry/rbac/clusterrole/strategy.go
  pkg/registry/storage/csistoragecapacity/strategy.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, sig/storage, sig/api-machinery, release-note, size/XL, kind/api-change, sig/auth, sig/apps, approved, cncf-cla: yes, triage/accepted

#113275 [KEP-3521] Part 2: Core scheduling implementation
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1/default_plugins.go
  pkg/scheduler/apis/config/v1/default_plugins_test.go
  pkg/scheduler/apis/config/v1/defaults.go
  pkg/scheduler/apis/config/v1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1beta2/conversion.go
  pkg/scheduler/apis/config/v1beta2/default_plugins.go
  pkg/scheduler/apis/config/v1beta2/default_plugins_test.go
  pkg/scheduler/apis/config/v1beta2/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1beta3/conversion.go
  pkg/scheduler/apis/config/v1beta3/default_plugins.go
  pkg/scheduler/apis/config/v1beta3/default_plugins_test.go
  pkg/scheduler/apis/config/v1beta3/zz_generated.conversion.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/feature/feature.go
  pkg/scheduler/framework/plugins/names/names.go
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/framework/plugins/schedulinggates/scheduling_gates.go
  pkg/scheduler/framework/plugins/schedulinggates/scheduling_gates_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/metrics/metric_recorder.go
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/testing/wrappers.go
  staging/src/k8s.io/kube-scheduler/config/v1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-scheduler/config/v1beta3/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta3/zz_generated.deepcopy.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: area/test, sig/scheduling, lgtm, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, area/code-generation, needs-priority, api-review, area/e2e-test-framework, triage/accepted, area/stable-metrics

#112137 Add solver for APF concurrency rebalancing
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/conc_alloc.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/conc_alloc_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/L, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#113664 Fix kubectl describe ingress when default backend is empty
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#112737 StatefulSet: Cleanup the complex defer function updating the status
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
Labels: kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#113010 Promote job metrics
  pkg/controller/job/metrics/metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: priority/backlog, kind/cleanup, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, sig/instrumentation, triage/accepted, area/stable-metrics

#113728 Added scope to api server tracing
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/helpers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/helpers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/trace_util.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#109189 Update redacting functionality to redact all sensitive info in config when printing with view
  staging/src/k8s.io/client-go/tools/clientcmd/api/helpers.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/helpers_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/view.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/view_test.go
Labels: area/test, priority/backlog, area/kubectl, lgtm, sig/api-machinery, release-note, size/L, kind/feature, sig/auth, approved, sig/cli, cncf-cla: yes, sig/testing, tide/merge-method-squash, ok-to-test, triage/accepted

#113719 upgrade runc to v1.1.4
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/common.go
  vendor/github.com/opencontainers/runc/libcontainer/rootfs_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/standard_init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, area/dependency, needs-triage
