Repository kubernetes/kubernetes, pull requests merged in 2022-08, with the labels that each got.

#111485 deprecate GlusterFS plugin from available in-tree drivers.
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
  pkg/volume/plugins.go
Labels: kind/cleanup, lgtm, sig/storage, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#111587 Update `k8s.io/utils` to `ee6ede2d64ed`
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/exec/testing/hello
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/api-machinery, sig/cluster-lifecycle, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, needs-triage

#110940 Disable AcceleratorUsage Metrics: ga
  pkg/features/kube_features.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/server.go
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  pkg/kubelet/stats/helper.go
  pkg/kubelet/stats/provider.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#111152 fix: refer to url of Node Allocatable
  pkg/kubelet/apis/config/types.go
Labels: kind/bug, kind/documentation, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111506 Correct event validation messages using the core/v1 field name `reportingComponent`
  pkg/apis/core/validation/events.go
Labels: kind/bug, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111492 add test for ValidatePort
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, triage/accepted

#109819 Partly remove support for seccomp annotations
  pkg/api/pod/util.go
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
  pkg/apis/core/validation/validation.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_test.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_test.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  test/e2e/node/security_context.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, kind/api-change, release-note-action-required, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, kind/deprecation, triage/accepted

#110291 Implement KEP-3178 "iptables cleanup" in kubelet
  pkg/features/kube_features.go
  pkg/kubelet/kubelet_network_linux.go
  test/e2e/network/networking.go
Labels: area/test, priority/important-soon, sig/network, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#111486 fix that beginning of help text is cut off for apply and replace --filename flag
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/replace/replace.go
Labels: kind/bug, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111411 Mark enable-taint-manager CLI flag as deprecated
  cmd/kube-controller-manager/app/options/nodelifecyclecontroller.go
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, size/XS, kind/api-change, approved, cncf-cla: yes, needs-priority, triage/accepted

#111218 mount-utils: add Linux specific non-systemd Mounter
  staging/src/k8s.io/mount-utils/mount_linux.go
Labels: kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111466 Enable 'running_managed_controllers' for KCM nodeipam controller
  cmd/kube-controller-manager/app/core.go
  pkg/controller/nodeipam/node_ipam_controller.go
Labels: sig/network, lgtm, sig/api-machinery, release-note, size/S, kind/feature, sig/apps, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#110888 feat: ignore all event resource for gc
  cmd/kube-controller-manager/app/options/options_test.go
  pkg/controller/garbagecollector/graph_builder.go
Labels: lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111502 add test for String
  cmd/kubeadm/app/apis/kubeadm/apiendpoint_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111479 Promote CSIMigrationAWS to GA
  pkg/controller/volume/expand/expand_controller_test.go
  pkg/features/kube_features.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
  pkg/volume/csimigration/plugin_manager_test.go
Labels: sig/scheduling, lgtm, sig/storage, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#111549 Fixes kubelet log compression on Windows
  pkg/kubelet/logs/container_log_manager.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#110399 unittests: Fixes unit tests for Windows (part 2)
  pkg/volume/awsebs/attacher_test.go
  pkg/volume/awsebs/aws_ebs_block.go
  pkg/volume/awsebs/aws_ebs_test.go
  pkg/volume/azure_file/azure_file_test.go
  pkg/volume/cinder/attacher_test.go
  pkg/volume/configmap/configmap_test.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_mounter_test.go
  pkg/volume/csi/csi_util_test.go
  pkg/volume/fc/fc_test.go
  pkg/volume/flexvolume/common_test.go
  pkg/volume/flexvolume/flexvolume_test.go
  pkg/volume/flexvolume/probe_test.go
  pkg/volume/gcepd/attacher_test.go
  pkg/volume/gcepd/gce_pd_test.go
  pkg/volume/git_repo/git_repo_test.go
  pkg/volume/glusterfs/glusterfs_test.go
  pkg/volume/iscsi/iscsi_test.go
  pkg/volume/nfs/nfs_test.go
  pkg/volume/projected/projected_test.go
  pkg/volume/quobyte/quobyte_test.go
  pkg/volume/rbd/rbd.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/secret/secret_test.go
  pkg/volume/testing/testing.go
  pkg/volume/vsphere_volume/attacher_test.go
Labels: priority/important-soon, area/kubelet, sig/scheduling, lgtm, sig/storage, sig/node, size/L, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, area/dependency, triage/accepted

#111265 Promote Event Lifecycle Test +1 Endpoint
  test/conformance/testdata/conformance.yaml
  test/e2e/instrumentation/core_events.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/conformance, triage/accepted

#111358 Introduce PodHasNetwork condition for pods
  pkg/features/kube_features.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/kuberuntime/security_context.go
  pkg/kubelet/kuberuntime/util/util.go
  pkg/kubelet/kuberuntime/util/util_test.go
  pkg/kubelet/status/generate.go
  pkg/kubelet/status/generate_test.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/types/constants.go
  pkg/kubelet/types/pod_status.go
  pkg/kubelet/types/pod_status_test.go
  test/e2e_node/pod_conditions_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/XL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#111449 Promote ControllerRevisionLifecycleTest +7 Endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/apps/controller_revision.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#111538 CCM [Service controller]: align function pointer variable with struct name
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
Labels: sig/network, kind/cleanup, lgtm, area/cloudprovider, size/L, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#111609 Hostprocess container test updates
  test/e2e/windows/host_process.go
  test/e2e/windows/utils.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#111477 Share a single etcd3 client logger across all clients
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111610 Add jpbetz as approver to pkg/registry/admissionregistration
  pkg/registry/admissionregistration/OWNERS
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#108696 Set zone label selector for preprovisioned AWS in-tree tests
  test/e2e/storage/drivers/in_tree.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#111615 kubeadm: make pre-release warning log less confusing
  cmd/kubeadm/app/util/config/common.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#111119 feat:(kms) encrypt data with DEK using AES-GCM instead of AES-CBC
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  test/integration/controlplane/transformation/kms_transformation_test.go
  test/integration/controlplane/transformation/transformation_testcase.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-action-required, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#111426 Update design-proposals URL
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/kuberuntime/kuberuntime_container_windows.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#111628 Remove some unused functions
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
Labels: kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#111555 Minor fixes to e2epod wait logic
  test/e2e/framework/pod/wait.go
Labels: kind/bug, area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#111623 add test for GetNodeNameAndHostname
  cmd/kubeadm/app/phases/kubelet/flags_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#110959 Append new pod conditions when deleting pods to indicate the reason for pod deletion
  pkg/apis/core/types.go
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controller/nodelifecycle/scheduler/taint_manager_test.go
  pkg/controller/podgc/gc_controller.go
  pkg/controller/podgc/gc_controller_test.go
  pkg/features/kube_features.go
  pkg/kubelet/status/status_manager.go
  pkg/registry/core/pod/storage/eviction.go
  pkg/registry/core/pod/storage/storage.go
  pkg/scheduler/framework/preemption/preemption.go
  pkg/util/pod/pod.go
  pkg/util/pod/pod_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  staging/src/k8s.io/api/core/v1/types.go
  test/integration/evictions/evictions_test.go
  test/integration/node/lifecycle_test.go
  test/integration/podgc/podgc_test.go
  test/integration/scheduler/preemption/preemption_test.go
Labels: area/test, priority/important-soon, area/kubelet, sig/scheduling, lgtm, sig/node, release-note, size/XXL, kind/api-change, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#111619 cleanup: Remove quobyte volume plugins from k8s codebase
  LICENSES/vendor/github.com/quobyte/api/LICENSE
  cmd/kube-controller-manager/app/plugins.go
  cmd/kubelet/app/plugins.go
  go.mod
  go.sum
  pkg/kubemark/hollow_kubelet.go
  pkg/volume/quobyte/OWNERS
  pkg/volume/quobyte/doc.go
  pkg/volume/quobyte/quobyte.go
  pkg/volume/quobyte/quobyte_test.go
  pkg/volume/quobyte/quobyte_util.go
  vendor/github.com/quobyte/api/LICENSE
  vendor/github.com/quobyte/api/README.md
  vendor/github.com/quobyte/api/quobyte.go
  vendor/github.com/quobyte/api/rpc_client.go
  vendor/github.com/quobyte/api/types.go
  vendor/modules.txt
Labels: area/kubelet, kind/cleanup, sig/scalability, lgtm, sig/storage, sig/node, sig/api-machinery, size/XL, release-note-action-required, approved, cncf-cla: yes, needs-priority, area/dependency, triage/accepted

#108624 apiserver: Remove the deprecated `--service-account-api-audiences` flag
  pkg/kubeapiserver/options/authentication.go
Labels: priority/backlog, kind/cleanup, area/apiserver, lgtm, size/XS, release-note-action-required, sig/auth, approved, cncf-cla: yes, ok-to-test, kind/deprecation, needs-triage

#110688 Fix iSCSI over ipv6
  pkg/volume/iscsi/iscsi_util.go
  pkg/volume/iscsi/iscsi_util_test.go
  pkg/volume/util/device_util_linux.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#111507 Add flag to disable compression for local traffic
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/disable_compression.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/disable_compression_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/disable_compression.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/disable_compression_test.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
  staging/src/k8s.io/apiserver/pkg/util/disablecompression/disablecompression.go
  staging/src/k8s.io/apiserver/pkg/util/disablecompression/disablecompression_test.go
  vendor/modules.txt
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#108554 add deprecated warning for node beta labels in pv/sc/rc/csi storage capacity
  pkg/api/node/util.go
  pkg/api/node/util_test.go
  pkg/api/persistentvolume/util.go
  pkg/api/persistentvolume/util_test.go
  pkg/api/pod/warnings.go
  pkg/api/storage/util.go
  pkg/api/storage/util_test.go
  pkg/registry/core/persistentvolume/strategy.go
  pkg/registry/node/runtimeclass/strategy.go
  pkg/registry/storage/csistoragecapacity/strategy.go
  pkg/registry/storage/storageclass/strategy.go
  test/e2e/framework/.import-restrictions
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, sig/node, size/XL, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/testing, api-review, area/e2e-test-framework, triage/accepted

#111523 Fix missing format string PVC namespace
  test/e2e/storage/testsuites/provisioning.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#104386 Add unit tests for registry/admissionregistration/validatingwebhookconfiguration
  pkg/registry/admissionregistration/validatingwebhookconfiguration/storage/storage_test.go
  pkg/registry/admissionregistration/validatingwebhookconfiguration/strategy_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#105126 kubelet tracing instrumentation
  LICENSES/vendor/go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful/LICENSE
  cmd/kube-apiserver/app/options/options_test.go
  cmd/kube-apiserver/app/server.go
  cmd/kubelet/app/server.go
  cmd/kubemark/hollow-node.go
  go.mod
  go.sum
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubeapiserver/admission/config.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/register_test.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  pkg/kubelet/cri/remote/remote_runtime.go
  pkg/kubelet/cri/remote/remote_runtime_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/options/options.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/traces.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/coreapi.go
  staging/src/k8s.io/apiserver/pkg/server/options/recommended.go
  staging/src/k8s.io/apiserver/pkg/server/options/tracing.go
  staging/src/k8s.io/apiserver/pkg/server/options/tracing_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/tls_test.go
  staging/src/k8s.io/apiserver/pkg/tracing/config_test.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/authentication.go
  staging/src/k8s.io/component-base/traces/utils.go
  staging/src/k8s.io/component-base/tracing/OWNERS
  staging/src/k8s.io/component-base/tracing/api/OWNERS
  staging/src/k8s.io/component-base/tracing/api/v1/config.go
  staging/src/k8s.io/component-base/tracing/api/v1/config_test.go
  staging/src/k8s.io/component-base/tracing/api/v1/doc.go
  staging/src/k8s.io/component-base/tracing/api/v1/types.go
  staging/src/k8s.io/component-base/tracing/api/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/component-base/tracing/utils.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
  test/e2e_node/util.go
  test/integration/apiserver/tracing/tracing_test.go
  vendor/go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful/LICENSE
  vendor/go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful/config.go
  vendor/go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful/doc.go
  vendor/go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful/restful.go
  vendor/go.opentelemetry.io/otel/sdk/trace/tracetest/test.go
  vendor/modules.txt
Labels: area/test, priority/important-soon, area/kubelet, sig/scheduling, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/XXL, kind/api-change, kind/feature, area/release-eng, release-note-none, sig/apps, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/architecture, area/code-generation, sig/cloud-provider, api-review, area/dependency, triage/accepted

#111475 Add worker to clean up stale DisruptionTarget condition
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
  staging/src/k8s.io/client-go/util/workqueue/rate_limiting_queue.go
  test/integration/disruption/disruption_test.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#111522 Promote NamespaceStatus endpoints test +3 Endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/namespace.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#111547 Deprecate kubescheduler ComponentConfig v1beta2
  cmd/kube-scheduler/app/options/configfile.go
Labels: priority/important-soon, kind/cleanup, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-triage

#111633 ginkgo: disable color escape sequences by default when not connected to a terminal
  hack/ginkgo-e2e.sh
Labels: priority/important-soon, lgtm, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/testing, triage/accepted

#111278 KEP-3327: Add CPUManager policy option to align CPUs by Socket instead of by NUMA node
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/cpumanager/policy_options_test.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
  pkg/kubelet/cm/cpumanager/topology_hints_test.go
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
  pkg/kubelet/cm/topologymanager/fake_topology_manager.go
  pkg/kubelet/cm/topologymanager/scope.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, ok-to-test, triage/accepted

#111301 Upgrade CSIMigrationGCE feature gate to GA
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
  pkg/controller/volume/attachdetach/metrics/metrics_test.go
  pkg/controller/volume/attachdetach/populator/desired_state_of_world_populator_test.go
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/features/kube_features.go
  pkg/kubelet/kubelet_volumes_test.go
  pkg/kubelet/volumemanager/volume_manager_test.go
  pkg/scheduler/framework/plugins/volumebinding/binder_test.go
  pkg/volume/csimigration/plugin_manager_test.go
  pkg/volume/testing/testing.go
Labels: area/kubelet, sig/scheduling, lgtm, sig/storage, sig/node, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#111462 Enable 'running_managed_controllers' for KCM/CCM controllers: routes, services and cloud-node
  cmd/kube-controller-manager/app/core.go
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
  staging/src/k8s.io/cloud-provider/app/core.go
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/controllers/route/route_controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  test/integration/service/loadbalancer_test.go
Labels: area/test, sig/network, lgtm, area/cloudprovider, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, triage/accepted

#111642 Update CRI API to support Evented PLEG
  pkg/kubelet/cri/remote/fake/fake_runtime.go
  pkg/kubelet/cri/remote/remote_runtime.go
  pkg/kubelet/kuberuntime/instrumented_services.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/services.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_runtime_service.go
Labels: area/kubelet, lgtm, sig/node, size/XXL, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#111448 Move e2e test from alpha with feature promoted to beta
  test/e2e/apimachinery/crd_validation_rules.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#111467 Allow retroactive storage class assigment to PVCs
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/features/kube_features.go
  pkg/volume/util/storageclass.go
  plugin/pkg/admission/storage/storageclass/setdefault/admission.go
  test/e2e/framework/pv/pv.go
Labels: area/test, priority/important-soon, lgtm, sig/storage, release-note, size/L, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, api-review, area/e2e-test-framework, triage/accepted

#111646 Fix JobTrackingWithFinalizers when a pod succeeds after the job fails
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  test/integration/job/job_test.go
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#111061 modify the signing/approving controller to tolerate either set of usages for kubelet client and serving certificates
  pkg/apis/certificates/helpers.go
  pkg/apis/certificates/v1beta1/defaults.go
  pkg/apis/certificates/v1beta1/defaults_test.go
  pkg/controller/certificates/approver/sarapprove.go
  pkg/controller/certificates/approver/sarapprove_test.go
  pkg/controller/certificates/signer/signer.go
  pkg/controller/certificates/signer/signer_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, sig/auth, sig/apps, approved, cncf-cla: yes, needs-triage

#111645 CRI changes to support in-place pod resize
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/memorymanager/memory_manager.go
  pkg/kubelet/cm/memorymanager/memory_manager_test.go
  pkg/kubelet/cri/remote/conversion.go
  pkg/kubelet/cri/remote/fake/fake_runtime.go
  pkg/kubelet/cri/remote/remote_runtime.go
  pkg/kubelet/kuberuntime/instrumented_services.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/services.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_runtime_service.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/XXL, kind/api-change, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111640 [release-1.23][GO] Update Go to 1.17.13
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, area/provider/gcp, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#111639 [release-1.24][GO] Update Go to 1.18.5
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage

#111627 e2e: Trim junit reporter to adapt with testgrid
  test/e2e/e2e_test.go
  test/e2e/framework/test_context.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#111613 Avoid hard coding Operating System and Architecture in hack/lib/etcd.sh
  hack/lib/etcd.sh
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#111668 Revert "e2e: Trim junit reporter to adapt with testgrid"
  test/e2e/e2e_test.go
  test/e2e/framework/test_context.go
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, needs-triage

#111647 vendor: Bump cAdvisor to v0.45.0
  LICENSES/vendor/github.com/google/cadvisor/third_party/containerd/LICENSE
  LICENSES/vendor/github.com/google/cadvisor/third_party/containerd/NOTICE
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/api/services/version/v1/version.proto
  vendor/github.com/containerd/containerd/api/types/metrics.proto
  vendor/github.com/containerd/containerd/api/types/platform.proto
  vendor/github.com/google/cadvisor/client/v2/client.go
  vendor/github.com/google/cadvisor/container/common/helpers.go
  vendor/github.com/google/cadvisor/container/containerd/client.go
  vendor/github.com/google/cadvisor/container/crio/client.go
  vendor/github.com/google/cadvisor/info/v2/container.go
  vendor/github.com/google/cadvisor/manager/manager.go
  vendor/github.com/google/cadvisor/third_party/containerd/LICENSE
  vendor/github.com/google/cadvisor/third_party/containerd/NOTICE
  vendor/github.com/google/cadvisor/third_party/containerd/api/services/containers/v1/containers.pb.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/services/containers/v1/containers.proto
  vendor/github.com/google/cadvisor/third_party/containerd/api/services/containers/v1/doc.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/services/tasks/v1/doc.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/services/tasks/v1/tasks.pb.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/services/tasks/v1/tasks.proto
  vendor/github.com/google/cadvisor/third_party/containerd/api/services/version/v1/doc.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/services/version/v1/version.pb.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/services/version/v1/version.proto
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/descriptor.pb.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/descriptor.proto
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/doc.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/metrics.pb.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/metrics.proto
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/mount.pb.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/mount.proto
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/platform.pb.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/platform.proto
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/task/doc.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/task/task.pb.go
  vendor/github.com/google/cadvisor/third_party/containerd/api/types/task/task.proto
  vendor/modules.txt
Labels: lgtm, sig/node, release-note, size/S, kind/feature, approved, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#111511 Fix: filter out unsatisfied nodes when calling AddPod in PodTopologyS…
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#111513 Promote Local storage capacity isolation feature to GA
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  hack/local-up-cluster.sh
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/api/v1/resource/helpers.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/apis/config/v1beta1/defaults_test.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/cadvisor/cadvisor_linux.go
  pkg/kubelet/cadvisor/cadvisor_unsupported.go
  pkg/kubelet/cadvisor/cadvisor_windows.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_linux_test.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_unsupported.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/fake_container_manager.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/helpers_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_pods_linux_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
  pkg/kubelet/runonce_test.go
  pkg/kubemark/hollow_kubelet.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/util/pod_resources.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
Labels: area/kubelet, sig/scalability, sig/scheduling, lgtm, sig/node, sig/api-machinery, release-note, size/XL, kind/api-change, approved, cncf-cla: yes, area/code-generation, needs-priority, api-review, needs-triage

#111665 Automated cherry pick of #111646: Fix JobTrackingWithFinalizers when a pod succeeds after the
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  test/integration/job/job_test.go
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#111664 Automated cherry pick of #111646: Fix JobTrackingWithFinalizers when a pod succeeds after the
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  test/integration/job/job_test.go
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#109706 Avoid re-syncing LBs for ETP=local services
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, area/test, sig/network, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/XXL, approved, cncf-cla: yes, sig/testing, area/ipvs, sig/cloud-provider, ok-to-test, needs-priority, triage/accepted

#110939 don't quota events.k8s.io events by default
  pkg/quota/v1/install/registry.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#111669 e2e: trim junit report for Spyglass
  test/e2e/framework/test_context.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#111685 Update publishing-bot rules for go1.17.13 and go1.18.5
  staging/publishing/rules.yaml
Labels: lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, needs-triage

#111596 add test for GetAPIServerVirtualIP
  cmd/kubeadm/app/constants/constants_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#111675 Revert "e2e: should manage the lifecycle of an APIService"
  test/e2e/apimachinery/aggregator.go
Labels: area/test, priority/critical-urgent, lgtm, sig/api-machinery, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#111679 [go] Bump images, dependencies and versions to go 1.19
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#111521 Clear ephemeral container resources field when creating one in volume test
  test/e2e/framework/volume/fixtures.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, triage/accepted

#111678 [golang] Fix things commented out in 1.19rc2
  .golangci.yaml
  build/dependencies.yaml
  cmd/kube-scheduler/app/options/configfile.go
  hack/lib/golang.sh
  hack/verify-golangci-lint.sh
Labels: priority/critical-urgent, kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#111696 Update go.mod to go1.19
  go.mod
  hack/tools/go.mod
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Labels: priority/critical-urgent, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted

#111691 [CCM - service controller] Remove schedulability predicate for LB set
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, sig/network, lgtm, area/cloudprovider, release-note, size/XL, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, kind/regression, needs-triage

#111227 Automated cherry pick of #110813: Ensure the dir of --audit-log-path exists
  staging/src/k8s.io/apiserver/pkg/server/options/audit.go
  staging/src/k8s.io/apiserver/pkg/server/options/audit_test.go
Labels: kind/bug, priority/critical-urgent, priority/important-soon, area/apiserver, lgtm, release-note, size/S, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-triage

#111702 Fix e2e network dns_configmap test
  test/e2e/network/dns_configmap.go
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#111225 Automated cherry pick of #110813: Ensure the dir of --audit-log-path exists
  staging/src/k8s.io/apiserver/pkg/server/options/audit.go
  staging/src/k8s.io/apiserver/pkg/server/options/audit_test.go
Labels: kind/bug, priority/critical-urgent, priority/important-soon, area/apiserver, lgtm, release-note, size/S, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-triage

#111226 Automated cherry pick of #110813: Ensure the dir of --audit-log-path exists
  staging/src/k8s.io/apiserver/pkg/server/options/audit.go
  staging/src/k8s.io/apiserver/pkg/server/options/audit_test.go
Labels: kind/bug, priority/critical-urgent, priority/important-soon, area/apiserver, lgtm, release-note, size/S, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-triage

#111693 volume: FeatureGate access to GetHostIDsForPod()
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#111721 Fix deleting UIDs tracking expectations
  pkg/controller/job/tracking_utils.go
  pkg/controller/job/tracking_utils_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, release-note, size/S, sig/apps, approved, cncf-cla: yes, kind/regression, needs-triage

#111258 KEP-596: Move CSIInlineVolume feature to GA
  cmd/kube-controller-manager/app/plugins.go
  pkg/api/pod/util.go
  pkg/api/podsecuritypolicy/util.go
  pkg/apis/core/types.go
  pkg/apis/policy/types.go
  pkg/apis/storage/v1/defaults.go
  pkg/apis/storage/v1/defaults_test.go
  pkg/apis/storage/v1beta1/defaults.go
  pkg/apis/storage/v1beta1/defaults_test.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/storage/csidriver/strategy.go
  pkg/registry/storage/csidriver/strategy_test.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_mounter_test.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csi/csi_plugin_test.go
  pkg/volume/csi/csi_test.go
  pkg/volume/csi/csi_util.go
  pkg/volume/util/metrics.go
  staging/src/k8s.io/api/policy/v1beta1/generated.proto
  staging/src/k8s.io/api/policy/v1beta1/types.go
  staging/src/k8s.io/api/policy/v1beta1/types_swagger_doc_generated.go
  test/e2e/storage/csi_inline.go
Labels: area/test, priority/important-soon, lgtm, sig/storage, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, area/code-generation, api-review, triage/accepted

#110182 Remove potential goroutine leak in testing framework
  pkg/scheduler/extender_test.go
  pkg/scheduler/framework/plugins/defaultbinder/default_binder_test.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/plugins/imagelocality/image_locality_test.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation_test.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
  pkg/scheduler/framework/plugins/selectorspread/selector_spread_perf_test.go
  pkg/scheduler/framework/plugins/selectorspread/selector_spread_test.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration_test.go
  pkg/scheduler/framework/preemption/preemption_test.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/testing/framework_helpers.go
Labels: priority/backlog, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#111749 node_e2e: add a dbus restart test
  test/e2e_node/restart_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#111440 Promote Ephemeral Containers e2e test to Conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/common/node/ephemeral_containers.go
Labels: area/test, lgtm, sig/node, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/architecture, area/conformance, triage/accepted

#111751 Fix flaky CSIInlineVolumes e2e test (issue 111740)
  test/e2e/storage/csi_inline.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#111346 Add e2e HPA Behavior tests: scale up/down limited by number of Pods / min, scale up/down limited by percentage / min
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
  test/e2e/framework/autoscaling/autoscaling_utils.go
Labels: area/test, lgtm, sig/autoscaling, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#111748 Prevent panic in cloud-provider
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller_test.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/L, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, ok-to-test, triage/accepted

#111722 Automated cherry pick of #111721: Fix deleting UIDs tracking expectations
  pkg/controller/job/tracking_utils.go
  pkg/controller/job/tracking_utils_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, release-note, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#111723 Automated cherry pick of #111721: Fix deleting UIDs tracking expectations
  pkg/controller/job/tracking_utils.go
  pkg/controller/job/tracking_utils_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, release-note, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#111770 [test] Remove feature to enable e2e tests
  test/e2e/apimachinery/crd_validation_rules.go
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#111650 Automated cherry pick of #111477: Share a single etcd3 client logger across all clients
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111648 Automated cherry pick of #111477: Share a single etcd3 client logger across all clients
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111649 Automated cherry pick of #111477: Share a single etcd3 client logger across all clients
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111784 Revert "enforce strict alpha handling for API serving"
  staging/src/k8s.io/apiserver/pkg/server/deleted_kinds.go
Labels: kind/bug, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#111746 Add integration test for Retroactive default StorageClass assignement
  test/integration/volume/persistent_volumes_test.go
Labels: area/test, priority/important-soon, lgtm, sig/storage, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#111786 staging/publishing: add release-1.25 branch
  staging/publishing/rules.yaml
Labels: kind/bug, priority/critical-urgent, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#111274 Automated cherry pick of #111235: fix a possible panic because of taking the address of nil
  staging/src/k8s.io/client-go/tools/clientcmd/auth_loaders.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#111430 fix `kubeadm upgrade plan` issue with FQDN nodes names
  cmd/kubeadm/app/cmd/upgrade/common.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, size/S, cherry-pick-approved, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, kind/regression, triage/accepted

#110934 Automated cherry pick of #110075: Add retry logic for Unix Domain sockets on Windows
  pkg/kubelet/util/util_windows.go
  pkg/kubelet/util/util_windows_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, triage/accepted

#111164 Automated cherry pick of #111141: Fix kubelet panic when accessing metrics/resource endpoint
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted

#110966 Automated cherry pick of #110140: Fixing issue in generatePodSandboxWindowsConfig for
  pkg/kubelet/container/helpers_test.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#111163 Automated cherry pick of #111141: Fix kubelet panic when accessing metrics/resource endpoint
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted

#111515 Automated cherry pick of #111472: allow namespace admins to use leases to encourage migration
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, triage/accepted

#111636 Automated cherry pick of #110670: Keep track of each pod that uses a volume during
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world_test.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/XL, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#109789 Automated cherry pick of #108593: tests: Updates the should delete a collection of pods test
  test/e2e/common/node/pods.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#108784 Automated cherry pick of #102523: rootcacertpublisher: drop the namespace label from metrics to
  pkg/controller/certificates/rootcacertpublisher/metrics.go
  pkg/controller/certificates/rootcacertpublisher/metrics_test.go
  pkg/controller/certificates/rootcacertpublisher/publisher.go
Labels: kind/bug, lgtm, size/S, cherry-pick-approved, sig/auth, sig/apps, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted

#111165 Automated cherry pick of #111141: Fix kubelet panic when accessing metrics/resource endpoint
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted

#110965 Automated cherry pick of #110140: Fixing issue in generatePodSandboxWindowsConfig for
  pkg/kubelet/container/helpers_test.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#106183 Automated cherry pick of #105273: tests: Wait for pod collection to enter a Running state
  test/e2e/common/node/pods.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, triage/accepted

#111272 Automated cherry pick of #111235: fix a possible panic because of taking the address of nil
  staging/src/k8s.io/client-go/tools/clientcmd/auth_loaders.go
Labels: kind/bug, priority/backlog, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#111273 Automated cherry pick of #111235: fix a possible panic because of taking the address of nil
  staging/src/k8s.io/client-go/tools/clientcmd/auth_loaders.go
Labels: kind/bug, priority/backlog, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#110935 Automated cherry pick of #110075: Add retry logic for Unix Domain sockets on Windows
  pkg/kubelet/util/util_windows.go
  pkg/kubelet/util/util_windows_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, triage/accepted

#111773 fix a memory leakage problem when calling DryRunPreemption
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#111803 Automated cherry pick of #111773: fix a memory leak problem when calling DryRunPreemption
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#111804 Automated cherry pick of #111773: fix a memory leak problem when calling DryRunPreemption
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#111805 Automated cherry pick of #111773: fix a memory leak problem when calling DryRunPreemption
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#111078 Automated cherry pick of #108146: Fixing logic for kubelet permissions check on windows
  cmd/kubelet/app/server_windows.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, priority/important-longterm, triage/accepted

#111079 Automated cherry pick of #108146: Fixing logic for kubelet permissions check on windows
  cmd/kubelet/app/server_windows.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, priority/important-longterm, triage/accepted

#111697 Docs: node-port-range should not overlap ephemeral
  cmd/kube-apiserver/app/options/options.go
Labels: sig/network, kind/documentation, area/apiserver, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#111846 Fix capture loop vars in parallel or ginkgo tests
  pkg/apis/core/v1/helper/helpers_test.go
  pkg/controller/volume/persistentvolume/framework_test.go
  test/e2e/cloud/gcp/kubelet_security.go
  test/e2e/node/kubelet.go
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/ephemeral_volume.go
  test/e2e/storage/pd.go
Labels: area/test, priority/important-soon, lgtm, sig/storage, sig/node, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, kind/failing-test, sig/cloud-provider, ok-to-test, triage/accepted

#111859 Fix failing `test/e2e/storage/csi_mock_volume.go` test
  test/e2e/storage/csi_mock_volume.go
Labels: area/test, priority/important-soon, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, triage/accepted

#111896 Revert "Add an option to conditionally disable compression based on client ip."
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/disable_compression.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/disable_compression_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/disable_compression.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/disable_compression_test.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
  staging/src/k8s.io/apiserver/pkg/util/disablecompression/disablecompression.go
  staging/src/k8s.io/apiserver/pkg/util/disablecompression/disablecompression_test.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, release-blocker, cncf-cla: yes, triage/accepted

#111918 Restore in-tree credential plugins for 1.25
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/README.md
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure_stub.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure_test.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/OWNERS
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/gcp.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/gcp_stub.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/gcp_test.go
  staging/src/k8s.io/code-generator/examples/go.sum
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/XXL, sig/auth, approved, cncf-cla: yes, area/code-generation, area/dependency, kind/regression, triage/accepted

#111428 Azure: Skip "instance not found" error for LB backend address pools
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
Labels: kind/bug, lgtm, area/cloudprovider, release-note, size/XS, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#108832 fix bugs of container cpu shares when cpu request set to zero
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_linux.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#109884 fix a broken link
  staging/src/k8s.io/code-generator/README.md
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#109945 Fix error message
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#110390 fix defer in loop and optimize test cases with explicit field name
  pkg/kubelet/kubelet_pods_test.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#110454 Use OpenAPI to determine patch type in kubectl apply patching
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/patcher.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_test.go
  staging/src/k8s.io/kubectl/pkg/util/openapi/openapi.go
  staging/src/k8s.io/kubectl/pkg/util/openapi/openapi_test.go
  staging/src/k8s.io/kubectl/pkg/util/openapi/testing/openapi.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#110717 Add Framework interface detectors in scheduler
  pkg/scheduler/framework/autoscaler_contract/OWNERS
  pkg/scheduler/framework/autoscaler_contract/framework_contract_test.go
  pkg/scheduler/framework/autoscaler_contract/lister_contract_test.go
Labels: priority/backlog, sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-triage

#111148 APF concurrency isolation integration test
  hack/verify-prometheus-imports.sh
  test/integration/apiserver/flowcontrol/concurrency_util_test.go
  vendor/modules.txt
Labels: area/test, lgtm, sig/api-machinery, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#111205 Fix problem in updating VolumeAttached in node status
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Labels: kind/bug, priority/important-soon, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, needs-triage

#111379 wrong description
  pkg/proxy/ipvs/proxier_test.go
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, area/ipvs, ok-to-test, needs-priority, triage/accepted

#111380 chore(e2e): add e2e test for non graceful node shutdown
  test/e2e/storage/non_graceful_node_shutdown.go
Labels: area/test, lgtm, sig/storage, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#111527 Cleanup: remove prometheus dependencies for volume
  hack/verify-prometheus-imports.sh
  pkg/volume/util/metrics.go
  pkg/volume/util/operationexecutor/operation_generator_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted

#111533 add unit test for /staging/src/k8s.io/kubectl/pkg/util/storage
  staging/src/k8s.io/kubectl/pkg/util/storage/storage_test.go
Labels: kind/cleanup, area/kubectl, lgtm, release-note, size/L, approved, sig/cli, cncf-cla: yes, priority/important-longterm, ok-to-test, needs-triage

#111551 clean-up apiserver metrics and use subsystem
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted, area/stable-metrics

#111564 Remove ioutil from client-go
  staging/src/k8s.io/client-go/discovery/cached/disk/cached_discovery.go
  staging/src/k8s.io/client-go/discovery/cached/disk/cached_discovery_test.go
  staging/src/k8s.io/client-go/discovery/cached/disk/round_tripper_test.go
  staging/src/k8s.io/client-go/discovery/helper_blackbox_test.go
  staging/src/k8s.io/client-go/dynamic/client_test.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_pod_expansion.go
  staging/src/k8s.io/client-go/kubernetes_test/timeout_test.go
  staging/src/k8s.io/client-go/metadata/metadata_test.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec_test.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/oidc/oidc.go
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/watch/encoder_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/client-go/scale/client_test.go
  staging/src/k8s.io/client-go/tools/auth/clientauth.go
  staging/src/k8s.io/client-go/tools/auth/clientauth_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/helpers.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/helpers_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/auth_loaders.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config.go
  staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/loader.go
  staging/src/k8s.io/client-go/tools/clientcmd/loader_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/main_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation_test.go
  staging/src/k8s.io/client-go/tools/portforward/portforward.go
  staging/src/k8s.io/client-go/tools/remotecommand/errorstream.go
  staging/src/k8s.io/client-go/tools/remotecommand/remotecommand_test.go
  staging/src/k8s.io/client-go/tools/remotecommand/v1.go
  staging/src/k8s.io/client-go/tools/remotecommand/v2.go
  staging/src/k8s.io/client-go/transport/token_source.go
  staging/src/k8s.io/client-go/transport/transport.go
  staging/src/k8s.io/client-go/util/cert/cert.go
  staging/src/k8s.io/client-go/util/cert/csr_test.go
  staging/src/k8s.io/client-go/util/cert/io.go
  staging/src/k8s.io/client-go/util/certificate/certificate_store_test.go
  staging/src/k8s.io/client-go/util/keyutil/key.go
  staging/src/k8s.io/client-go/util/keyutil/key_test.go
  staging/src/k8s.io/client-go/util/testing/fake_handler.go
  staging/src/k8s.io/client-go/util/testing/fake_openapi_handler.go
  staging/src/k8s.io/client-go/util/testing/tmpdir.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XL, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111566 Remove ioutil from code-generator
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/openapi.go
  staging/src/k8s.io/code-generator/cmd/go-to-protobuf/protobuf/parser.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#111568 Remove ioutil from component-helpers
  staging/src/k8s.io/component-helpers/node/util/sysctl/sysctl.go
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#111570 Remove ioutil from kube-aggregator
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_apis_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111571 Fix label output bug where dry run message was not printed
  staging/src/k8s.io/kubectl/pkg/cmd/label/label.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label_test.go
Labels: kind/bug, area/kubectl, lgtm, release-note, size/L, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#111598 Add e2e tests for node log viewer
  test/e2e/node/kubelet.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#111656 Add test for cmd/kubeadm/app/cmd/util/cmdutil.go
  cmd/kubeadm/app/cmd/util/cmdutil_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, triage/accepted

#111663 [CCM - service controller] Clean up node sync and fix re-sync of failed services.
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: sig/network, kind/cleanup, lgtm, area/cloudprovider, size/L, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#111670 Change cluster/gce/util to wait for firewall rule creation and fail on error
  cluster/gce/util.sh
Labels: lgtm, area/provider/gcp, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#111684 use constant NamespaceDefault instead of variable namespace
  staging/src/k8s.io/client-go/examples/dynamic-create-update-delete-deployment/main.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#111687 (kubectl certificate): Move towards restClientGetter instead cmdutil.Factory
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/certificates.go
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/certificates_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#111689 (kubectl cluster-info): Move towards RESTClientGetter instead cmdutil.Factory
  staging/src/k8s.io/kubectl/pkg/cmd/clusterinfo/clusterinfo.go
  staging/src/k8s.io/kubectl/pkg/cmd/clusterinfo/clusterinfo_dump.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#111690 Pv controller tests structs with names
  pkg/controller/volume/persistentvolume/binder_test.go
  pkg/controller/volume/persistentvolume/delete_test.go
  pkg/controller/volume/persistentvolume/provision_test.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/controller/volume/persistentvolume/recycle_test.go
Labels: lgtm, size/XXL, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage
