Repository kubernetes/kubernetes, pull requests merged in 2023-11, with the labels that each got.

#120715 Don't reuse memory of a restartable init container
  pkg/kubelet/cm/memorymanager/memory_manager.go
  pkg/kubelet/cm/memorymanager/policy_static.go
  pkg/kubelet/cm/memorymanager/policy_static_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XL, approved, cncf-cla: yes, triage/accepted

#121046 kube-proxy nftables backend
  LICENSES/vendor/github.com/danwinship/knftables/LICENSE
  api/api-rules/violation_exceptions.list
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_test.go
  cmd/kube-proxy/app/server_windows.go
  go.mod
  go.sum
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/apis/config/fuzzer/fuzzer.go
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/after/v1alpha1.yaml
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/roundtrip/default/v1alpha1.yaml
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/defaults.go
  pkg/proxy/apis/config/v1alpha1/defaults_test.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/apis/config/validation/validation.go
  pkg/proxy/apis/config/zz_generated.deepcopy.go
  pkg/proxy/nftables/helpers_test.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
  pkg/proxy/util/iptables/traffic.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/danwinship/knftables/LICENSE
  vendor/github.com/danwinship/knftables/README.md
  vendor/github.com/danwinship/knftables/error.go
  vendor/github.com/danwinship/knftables/exec.go
  vendor/github.com/danwinship/knftables/fake.go
  vendor/github.com/danwinship/knftables/nftables.go
  vendor/github.com/danwinship/knftables/objects.go
  vendor/github.com/danwinship/knftables/transaction.go
  vendor/github.com/danwinship/knftables/types.go
  vendor/github.com/danwinship/knftables/util.go
  vendor/modules.txt
Labels: sig/network, area/kube-proxy, lgtm, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, approved, cncf-cla: yes, priority/important-longterm, area/code-generation, area/dependency, triage/accepted

#121477 Promote KEP-2681 to beta in 1.29
  pkg/features/kube_features.go
Labels: area/test, priority/important-soon, sig/network, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, sig/testing, needs-triage

#121648 kubeadm: do not poll in TestEnsureAdminClusterRoleBindingImpl
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#121456 KEP 4216: Add changes for alpha version under RuntimeClassInImageCriApi feature gate
  pkg/features/kube_features.go
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/images/image_gc_manager.go
  pkg/kubelet/images/image_gc_manager_test.go
  pkg/kubelet/images/image_manager.go
  pkg/kubelet/images/image_manager_test.go
  pkg/kubelet/images/types.go
  pkg/kubelet/kuberuntime/convert.go
  pkg/kubelet/kuberuntime/convert_test.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_image.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XL, kind/feature, approved, sig/windows, cncf-cla: yes, triage/accepted

#121303 Promote CSINodeExpandSecret to GA
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1_openapi.json
  pkg/api/persistentvolume/util.go
  pkg/api/persistentvolume/util_test.go
  pkg/apis/core/types.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/core/persistentvolume/strategy.go
  pkg/volume/csi/expander.go
  pkg/volume/csi/expander_test.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: lgtm, sig/storage, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#120145 fix inplace VPA stuck in InProgress when custom resources are specified
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#121672 golangci-lint: tone down comment checking
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
Labels: kind/bug, lgtm, size/M, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/architecture, needs-priority, needs-triage

#121671 increase bounded limits for major page faults
  test/e2e_node/summary_test.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#121682 Make service-cidrs-controller role feature-gated
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Labels: kind/bug, priority/important-soon, sig/network, kind/cleanup, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-triage

#121686 update docs for v1.29 release (note this must be committed after code freeze)
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
Labels: area/test, kind/documentation, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage

#119762 wait.PollUntilContextCancel immediately executes condition once
  staging/src/k8s.io/apimachinery/pkg/util/wait/loop.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/loop_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#121393 Benchmark job with backoff limit per index
  test/integration/job/job_test.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121674 test/e2e_kubeadm: add test for the kubeadm:cluster-admins CRB
  test/e2e_kubeadm/admin_test.go
Labels: area/test, lgtm, sig/cluster-lifecycle, size/M, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#121653 Add conformance tests for flowcontrol APIs
  test/e2e/apimachinery/flowcontrol.go
Labels: area/test, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#121633 Add remaining e2e tests for Job BackoffLimitPerIndex based on KEP
  test/e2e/apps/job.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#121705 Add multi-webhook integration test
  pkg/kubeapiserver/authorizer/config.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/authorization/authorizerfactory/delegating.go
  staging/src/k8s.io/apiserver/pkg/authorization/cel/compile.go
  staging/src/k8s.io/apiserver/pkg/authorization/cel/matcher.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1beta1_test.go
  test/integration/auth/authz_config_test.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/api-machinery, size/L, kind/api-change, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121709 [StructuredAuthn] Ensure empty fields of user object are accessible by CEL
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#121583 Fix the e2e bug related to the Garbage collector in api-machinery
  test/e2e/apimachinery/garbage_collector.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, triage/accepted

#121679 Fix parameter passing error in function WaitForReady in file test/integration/apiserver/discovery
  test/integration/apiserver/discovery/service.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#121717 test/e2e_kubeadm/dns_addon_test.go: drop kube-dns tests
  test/e2e_kubeadm/dns_addon_test.go
Labels: area/test, kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#121715 scheduler: fix performance regression at -v3 + contextual logging
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/schedule_one.go
Labels: kind/bug, priority/important-soon, sig/scheduling, lgtm, area/logging, release-note, size/L, approved, cncf-cla: yes, sig/instrumentation, kind/regression, triage/accepted, wg/structured-logging

#121193 Retarget drop-in kubelet configuration dir feature to Alpha
  cmd/kubelet/app/server.go
  cmd/kubelet/app/server_test.go
  go.mod
  pkg/kubelet/kubeletconfig/configfiles/configfiles.go
  pkg/kubelet/kubeletconfig/util/codec/codec.go
  test/e2e/framework/test_context.go
  test/e2e/nodefeature/nodefeature.go
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/kubelet_config_dir_test.go
  test/e2e_node/services/kubelet.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, ok-to-test, area/e2e-test-framework, area/dependency, triage/accepted

#121034 KEP-4008: CRDValidationRatcheting: Add support for optional `oldSelf`
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__apiextensions.k8s.io__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/types_jsonschema.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/generated.pb.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/generated.proto
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/types_jsonschema.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/generated.pb.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/generated.proto
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types_jsonschema.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/zz_generated.deepcopy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/testdata/HEAD/apiextensions.k8s.io.v1.CustomResourceDefinition.json
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/testdata/HEAD/apiextensions.k8s.io.v1.CustomResourceDefinition.pb
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/testdata/HEAD/apiextensions.k8s.io.v1.CustomResourceDefinition.yaml
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/testdata/HEAD/apiextensions.k8s.io.v1beta1.CustomResourceDefinition.json
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/testdata/HEAD/apiextensions.k8s.io.v1beta1.CustomResourceDefinition.pb
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/testdata/HEAD/apiextensions.k8s.io.v1beta1.CustomResourceDefinition.yaml
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/defaulting/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/defaulting/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/validationrule.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/validationrule.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/strategy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/strategy_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/ratcheting_test.go
Labels: lgtm, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, approved, cncf-cla: yes, area/code-generation, needs-priority, api-review, triage/accepted

#121708 framework: add SSH support for Azure
  test/e2e/framework/ssh/ssh.go
  test/e2e/framework/util.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#121743 kubeadm: ensure the kubelet and kube-apiserver wait checks go first
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/phases/init/data.go
  cmd/kubeadm/app/cmd/phases/init/data_test.go
  cmd/kubeadm/app/cmd/phases/init/waitcontrolplane.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#121700 missed a few summary upper limits for major page faults
  test/e2e_node/summary_test.go
Labels: area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, triage/accepted

#121780 fix test store delete collection function failed
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, kind/failing-test, needs-triage

#121764 Fix API comment for the FailIndex Job pod failure policy action
  pkg/apis/batch/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/batch/v1/types.go
Labels: kind/documentation, lgtm, sig/api-machinery, release-note, size/XS, kind/api-change, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#121765 Fix API comment for the Job ready field
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/batch/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/batch/v1/generated.proto
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/api/batch/v1/types_swagger_doc_generated.go
Labels: kind/documentation, lgtm, sig/api-machinery, release-note, size/XS, kind/api-change, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#121768 test: introduce a Feature label for skipping KubeUp specific tests
  test/e2e/autoscaling/dns_autoscaling.go
  test/e2e/feature/feature.go
Labels: area/test, kind/cleanup, lgtm, sig/autoscaling, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#121818 Test authz config file with RBAC and anonymous auth
  hack/local-up-cluster.sh
  pkg/controlplane/apiserver/config.go
  pkg/controlplane/apiserver/options/options.go
  pkg/kubeapiserver/options/authorization.go
  test/integration/auth/authz_config_test.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121706 Skip OOMKilled Jobs if Swap is enabled.
  test/e2e_node/oomkiller_linux_test.go
Labels: area/test, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, triage/accepted

#121677 Unregister events in schedulingGates for performance
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/schedulinggates/scheduling_gates.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/util/util.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121837 kubeadm: change SystemPrivilegedGroup in apiserve-kubelet-client.crt
  cmd/kubeadm/app/phases/certs/certlist.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#121841 kubeadm: support updating certificate organization during 'kubeadm certs renew'
  cmd/kubeadm/app/phases/certs/renewal/manager.go
  cmd/kubeadm/app/phases/certs/renewal/manager_test.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter_test.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
  cmd/kubeadm/app/util/certs/util.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/L, kind/feature, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#121801 Fix "go test -count=2 ./pkg/proxy/iptables"
  pkg/proxy/iptables/proxier_test.go
Labels: priority/important-soon, sig/network, area/kube-proxy, lgtm, size/S, release-note-none, approved, cncf-cla: yes, kind/failing-test, triage/accepted

#121852 e2e: avoid redundant labels in JUnit file
  test/e2e/framework/internal/junit/junit.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#121808 [go] Bump images, dependencies and versions to go 1.21.4
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  go.mod
  staging/publishing/rules.yaml
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/internal/plugins/_mock/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  test/images/Makefile
  vendor/modules.txt
Labels: area/test, sig/network, area/kubelet, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, kind/feature, area/release-eng, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#119652 fix kubelet image gc
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/images/image_gc_manager.go
  pkg/kubelet/images/image_gc_manager_test.go
Labels: kind/bug, priority/backlog, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#121718 Promote flowcontrol tests to conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/flowcontrol.go
Labels: area/test, priority/important-soon, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, triage/accepted

#121779 self nominate aroradaman as sig-network-reviewer
  OWNERS_ALIASES
Labels: sig/network, kind/documentation, area/kube-proxy, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#121711 Fix buildx add --provenance=false for pause image build and windows servercore cache
  build/pause/Makefile
  cluster/images/etcd/Makefile
  test/images/windows/Makefile
Labels: area/test, kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#121782 Self nominate Kevin Hannon for reviewer for job controller
  pkg/controller/job/OWNERS
Labels: kind/documentation, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#121707 test: Fix NodeLogQuery tests
  test/e2e/node/kubelet.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#121811 [release-1.27] [go] Bump images, dependencies and versions to go 1.20.11
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121810 [release-1.26] [go] Bump images, dependencies and versions to go 1.20.11
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121812 [release-1.28] [go] Bump images, dependencies and versions to go 1.20.11
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121822 [StructuredAuthz] Webhookauthz benchmark
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#121091 KCCM: fix transient node addition + removal while syncing load balancers
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
Labels: kind/bug, area/test, sig/network, lgtm, area/cloudprovider, release-note, size/L, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, needs-triage

#121870 Update publishing-bot rules for active release branches that uses go120 to Go 1.20.11
  staging/publishing/rules.yaml
Labels: lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#121875 Use value(name) in gcloud compute instance-groups managed list-instances
  cluster/gce/upgrade.sh
  cluster/gce/util.sh
Labels: kind/bug, priority/critical-urgent, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-triage

#121881 Use golang library instead of mklink
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/storage, size/S, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#121880 Add kubeup label instead of a feature label
  test/e2e/autoscaling/dns_autoscaling.go
  test/e2e/cloud/gcp/restart.go
  test/e2e/feature/feature.go
Labels: area/test, kind/cleanup, lgtm, sig/autoscaling, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, needs-triage

#121519 Automated cherry pick of #118365: Fixing gmsa-webhook install steps for Windows GMSA full tests
  test/e2e/windows/gmsa_full.go
Labels: area/test, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#121520 Automated cherry pick of #118365: Fixing gmsa-webhook install steps for Windows GMSA full tests
  test/e2e/windows/gmsa_full.go
Labels: area/test, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#121655 Automated cherry pick of #120948: Fixing attempt to deploy past allocatable memory limits test
  test/e2e/windows/memory_limits.go
Labels: area/test, priority/important-soon, lgtm, size/S, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#121654 Automated cherry pick of #120948: Fixing attempt to deploy past allocatable memory limits test
  test/e2e/windows/memory_limits.go
Labels: area/test, priority/important-soon, lgtm, size/S, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#121656 Automated cherry pick of #120948: Fixing attempt to deploy past allocatable memory limits test
  test/e2e/windows/memory_limits.go
Labels: area/test, priority/important-soon, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#121878 improve default_servicecidr_controller startup
  pkg/controlplane/controller/defaultservicecidr/default_servicecidr_controller.go
  pkg/controlplane/controller/defaultservicecidr/default_servicecidr_controller_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121882 Automated cherry pick of #121881: Use golang library instead of mklink
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#121884 Automated cherry pick of #121881: Use golang library instead of mklink
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#121883 Automated cherry pick of #121881: Use golang library instead of mklink
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#121861 Fix issue with client rate limiter when polling
  test/e2e/framework/autoscaling/autoscaling_utils.go
Labels: area/test, lgtm, sig/autoscaling, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#121885 Automated cherry pick of #121881: Use golang library instead of mklink
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#121739 bump runc to v1.1.10
  go.mod
  go.sum
  vendor/github.com/mrunalp/fileutils/fileutils.go
  vendor/github.com/mrunalp/fileutils/idtools.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/seccomp/patchbpf/enosys_linux.go
  vendor/modules.txt
Labels: priority/critical-urgent, kind/cleanup, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, priority/important-longterm, sig/architecture, area/dependency, area/code-organization, triage/accepted

#121867 feat: Support score extension function in preemption.
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/framework/preemption/preemption_test.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#121851 fix: statle smb mount issue when smb file share is deleted and then unmount
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, triage/accepted

#121920 Automated cherry pick of #121389: Make StatefulSet restart pods with phase Succeeded
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
  test/integration/statefulset/statefulset_test.go
Labels: kind/bug, area/test, lgtm, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#121921 Automated cherry pick of #121389: Make StatefulSet restart pods with phase Succeeded
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
  test/integration/statefulset/statefulset_test.go
Labels: kind/bug, area/test, lgtm, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#121943 Replace -E with --setenv for systemd-run parameter
  test/e2e_node/services/kubelet.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#121948 fix(framework): remove the mention about what happens with nil from EventsToRegister
  pkg/scheduler/framework/interface.go
Labels: kind/documentation, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121667 Automated cherry pick of #121632: Fix panic when process RunScorePlugins for cap out of range
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#121951 fix flake on Conformance test should ResourceQuota apply changes to a…
  test/e2e/apimachinery/resource_quota.go
Labels: area/test, priority/critical-urgent, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#121666 Automated cherry pick of #121632: Fix panic when process RunScorePlugins for cap out of range
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#121963 code-generator: fix invalid replace of klog
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#121962 Bump distroless-iptables to 0.2.8 based on Go 1.20.11
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#121976 Bump distroless-iptables to 0.2.8 based on Go 1.20.11
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: area/test, kind/cleanup, lgtm, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121975 Bump distroless-iptables to 0.2.8 based on Go 1.20.11
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: area/test, kind/cleanup, lgtm, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122000 api: run hack/update-api-spec.sh
  api/discovery/aggregated_v2beta1.json
  api/discovery/apis.json
  api/discovery/apis__flowcontrol.apiserver.k8s.io.json
  api/discovery/apis__flowcontrol.apiserver.k8s.io__v1beta2.json
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__flowcontrol.apiserver.k8s.io__v1beta2_openapi.json
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/XXL, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/architecture, needs-triage

#121992 releng: update publishing bot rules for 1.29
  staging/publishing/rules.yaml
Labels: priority/critical-urgent, kind/cleanup, lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-triage

#122020 Fix verify target to not update env var if already set
  build/root/Makefile
Labels: kind/bug, priority/important-soon, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/architecture, needs-triage

#121927 `TestSlowNodeSync`: attempt fixing flake by allowing informer cache to get populated
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: sig/network, lgtm, area/cloudprovider, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#122074 Automated cherry pick of #119825: Move adding GroupVersion log until after an update is
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, triage/accepted

#122096 Automated cherry pick of #119825: Move adding GroupVersion log until after an update is
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#122095 Remove scrape_error from resource_metrics_test due to deprecation
  test/e2e_node/resource_metrics_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, kind/failing-test, triage/accepted

#122129 Remove conformance test calls to `/`
  test/e2e/apimachinery/aggregator.go
  test/integration/apiserver/discovery/discovery_test.go
  test/integration/apiserver/discovery/framework.go
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, sig/architecture, triage/accepted

#122077 Cherry pick handle #120279 GOTOOLCHAIN in kube::golang::verify_go_version onto 1.26
  build/common.sh
  hack/lib/golang.sh
Labels: priority/important-soon, kind/cleanup, lgtm, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#122075 Cherry pick handle #120279 GOTOOLCHAIN in kube::golang::verify_go_version onto 1.28
  build/common.sh
  hack/lib/golang.sh
Labels: priority/important-soon, kind/cleanup, lgtm, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted
