Repository kubernetes/kubernetes, pull requests merged in 2023-07, with the labels that each got.

#118941 kubeadm: restore and generalize the TestMigrateOldConfig test
  cmd/kubeadm/app/cmd/config_test.go
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XL, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#118972 Automated cherry pick of #117791: update serial number to a valid non-zero number in ca
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
  staging/src/k8s.io/client-go/util/cert/cert.go
  test/integration/apiserver/podlogs/podlogs_test.go
  test/integration/client/cert_rotation_test.go
  test/utils/pki_helpers.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/M, cherry-pick-approved, release-note-none, sig/auth, approved, area/kubeadm, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#118976 fix kubelet podWorkers.SyncKnownPods() typo
  pkg/kubelet/pod_workers.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#118845 update cri-api change in v1.27
  staging/src/k8s.io/cri-api/README.md
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#118936 DRA: for delayed allocation, deallocate when no longer used
  pkg/controller/resourceclaim/controller.go
  test/e2e/dra/deploy.go
  test/e2e/dra/dra.go
Labels: area/test, lgtm, sig/node, release-note, size/M, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118173 hpa: cleanup `currentReplicas` code
  pkg/controller/podautoscaler/horizontal.go
Labels: kind/cleanup, lgtm, sig/autoscaling, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#118680 move an apiserver helper function out of pkg/proxy
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
  pkg/registry/core/node/storage/storage_test.go
  pkg/registry/core/node/strategy.go
  pkg/registry/core/pod/strategy.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#117817 [refactor] refactoring flags and options in Expose cmd
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#119033 bump kube-dns to v1.22.23
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#118810 kubectl: Allow parallelizing diffing
  go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cli-runtime/pkg/resource/builder.go
  staging/src/k8s.io/cli-runtime/pkg/resource/visitor.go
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Labels: area/kubectl, lgtm, release-note, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, priority/important-longterm, area/dependency, triage/accepted

#118967 upgrade npd image version to v0.8.13 for kubemark
  build/dependencies.yaml
  test/kubemark/resources/hollow-node_template.yaml
Labels: area/test, kind/cleanup, sig/scalability, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#119044 test-e2e: Retrigger the RBD image post merge job
  test/images/volume/rbd/README.md
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113611 Initialize the AuditEvent with the AuditContext
  staging/src/k8s.io/apiserver/pkg/admission/audit_test.go
  staging/src/k8s.io/apiserver/pkg/audit/context.go
  staging/src/k8s.io/apiserver/pkg/audit/context_test.go
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authn_audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authorization_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/request_deadline.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  staging/src/k8s.io/apiserver/pkg/util/x509metrics/server_cert_deprecations_test.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, tide/merge-method-squash, triage/accepted

#118915 remove legacy NetworkPolicy tests
  test/e2e/network/netpol/network_legacy.go
Labels: area/test, sig/network, kind/cleanup, lgtm, release-note, size/XXL, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, area/network-policy

#117865 Parallel StatefulSet pod create & delete
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Labels: kind/bug, lgtm, release-note, size/XL, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#118905 Update template.pot with latest message IDs
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/template.pot
Labels: kind/documentation, area/kubectl, lgtm, size/XL, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#118867 kubeadm: Support custom env in control plane component
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.defaults.go
  cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/upgrade/diff.go
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/etcd/local_test.go
  cmd/kubeadm/app/util/env.go
  cmd/kubeadm/app/util/env_test.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, size/L, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#118160 Support JSONPath condition without value
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait_test.go
  test/cmd/wait.sh
Labels: area/test, priority/backlog, area/kubectl, lgtm, release-note, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#119003 do a better job of validating IP family of kube-proxy config
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_others_test.go
  cmd/kube-proxy/app/server_test.go
  cmd/kube-proxy/app/server_windows.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, release-note, size/XL, approved, cncf-cla: yes, needs-priority, needs-triage

#118955 Make QueueSet support exempt behavior; use it
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller_debug.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#118965 scheduler test: Use cmp.Diff instead of reflect.DeepEqual for pkg/scheduler/internal/queue/
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#119059 kubeadm: fix "migrate config --allow-experimental-api" to print v1beta4 kubeadm configurations instead of v1beta3
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
  cmd/kubeadm/app/util/config/common.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#119064 pkg/controlplane: move bootstrap controller to controllers/kubernetesservice
  pkg/controlplane/client_util.go
  pkg/controlplane/controller/kubernetesservice/controller.go
  pkg/controlplane/controller/kubernetesservice/controller_test.go
  pkg/controlplane/controller_test.go
  pkg/controlplane/instance.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/serviceaccount/storage/storage.go
  pkg/registry/core/serviceaccount/storage/token.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XXL, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#118707 update the unwanted-dependencies order
  cmd/dependencyverifier/dependencyverifier.go
  hack/lint-dependencies.sh
  hack/unwanted-dependencies.json
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119041 cmd/kube-apiserver: move back master count variable from generic controlplane
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  cmd/kube-apiserver/app/options/validation.go
  pkg/controlplane/apiserver/options/options.go
  pkg/controlplane/apiserver/options/options_test.go
  pkg/controlplane/apiserver/options/validation.go
  pkg/controlplane/apiserver/options/validation_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#119081 kube-apiserver: move "public IP matches IP family" check to option validation
  cmd/kube-apiserver/app/options/validation.go
  cmd/kube-apiserver/app/options/validation_test.go
  pkg/controlplane/controller_test.go
  pkg/controlplane/instance.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118874 kubeadm: increase ut coverage kubeadm/app/phases/dns
  cmd/kubeadm/app/phases/addons/dns/dns_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XL, release-note-none, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#119054 bump npd to v0.8.13
  build/dependencies.yaml
  cluster/addons/node-problem-detector/npd.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#119075 kubeadm: check the GV after the config migration
  cmd/kubeadm/app/util/config/common_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#118994 integration testing: configure gRPC logging during init
  test/integration/framework/etcd.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#118025 feature(scheduler): plugin_evaluation_total metric support preScore/score
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/instrumented_plugins.go
Labels: sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#118168 Automated cherry pick of #118150: kubeadm: remove function pointer comparison in phase test
  cmd/kubeadm/app/cmd/phases/workflow/runner_test.go
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
Labels: priority/backlog, area/kubectl, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/M, cherry-pick-approved, release-note-none, approved, sig/cli, area/kubeadm, cncf-cla: yes, sig/instrumentation, kind/failing-test, area/code-generation, area/dependency, triage/accepted

#119082 kube-apiserver/corerest: normalize service IP range plumbing
  pkg/controlplane/instance.go
  pkg/controlplane/instance_test.go
  pkg/registry/core/rest/storage_core.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-triage

#119083 run hack/update-vendor.sh to fix verify master
  go.sum
Labels: priority/important-soon, lgtm, size/L, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/architecture, area/dependency, needs-triage

#114061 testutil: use contextual logging
  hack/logcheck.conf
  pkg/controller/testutil/test_utils.go
Labels: priority/backlog, lgtm, area/logging, size/S, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, triage/accepted, wg/structured-logging

#118134 e2e: support admissionapi.LevelRestricted in test/e2e/framework/pod
  test/e2e/dra/dra.go
  test/e2e/framework/deployment/fixtures.go
  test/e2e/framework/pod/create.go
  test/e2e/framework/pod/utils.go
  test/e2e/framework/volume/fixtures.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
  test/e2e/storage/persistent_volumes.go
  test/e2e/storage/pvc_protection.go
  test/e2e/storage/subpath.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/subpath.go
  test/e2e/storage/ubernetes_lite_volumes.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/vsphere/vsphere_scale.go
  test/e2e/storage/vsphere/vsphere_stress.go
  test/e2e/storage/vsphere/vsphere_volume_fstype.go
  test/e2e/storage/vsphere/vsphere_volume_node_poweroff.go
  test/e2e/storage/vsphere/vsphere_volume_ops_storm.go
  test/e2e/storage/vsphere/vsphere_volume_perf.go
  test/e2e/storage/vsphere/vsphere_volume_vsan_policy.go
  test/e2e/storage/vsphere/vsphere_zone_support.go
  test/e2e/upgrades/storage/persistent_volumes.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#118969 Automated cherry pick of #117791: update serial number to a valid non-zero number in ca
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
  staging/src/k8s.io/client-go/util/cert/cert.go
  test/integration/apiserver/podlogs/podlogs_test.go
  test/integration/client/cert_rotation_test.go
  test/utils/pki_helpers.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/M, cherry-pick-approved, release-note-none, sig/auth, approved, area/kubeadm, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#118970 Automated cherry pick of #117791: update serial number to a valid non-zero number in ca
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
  staging/src/k8s.io/client-go/util/cert/cert.go
  test/integration/apiserver/podlogs/podlogs_test.go
  test/integration/client/cert_rotation_test.go
  test/utils/pki_helpers.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/M, cherry-pick-approved, release-note-none, sig/auth, approved, area/kubeadm, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#119104 e2e node: remove unused test/e2e_node/gcp
  test/e2e_node/gcp/OWNERS
  test/e2e_node/gcp/framework.go
  test/e2e_node/gcp/gke_environment_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, needs-triage

#118913 Automated cherry pick of #118805: test comment should match the code in podgc
  test/integration/podgc/podgc_test.go
Labels: kind/bug, area/test, priority/backlog, lgtm, size/XS, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, triage/accepted

#118914 Automated cherry pick of #118805: test comment should match the code in podgc
  test/integration/podgc/podgc_test.go
Labels: kind/bug, area/test, priority/backlog, lgtm, size/XS, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, triage/accepted

#118930 Automated cherry pick of #118876: kubectl explain should work for both cluster and namespace
  staging/src/k8s.io/kubectl/pkg/explain/v2/funcs.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/templates/batch.k8s.io_v1.json
  staging/src/k8s.io/kubectl/pkg/explain/v2/templates/plaintext.tmpl
  staging/src/k8s.io/kubectl/pkg/explain/v2/templates/plaintext_test.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, size/XXL, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, kind/regression, triage/accepted

#118199 Automated cherry pick of #118053: Updating the nodeAffinity of gated pods having nil affinity
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  test/integration/pods/pods_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/scheduling, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#118981 e2e: node: podresources: cooldown the rate limit
  test/e2e_node/podresources_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#119107 Stop using deprecated API
  test/e2e/scheduling/predicates.go
Labels: area/test, priority/backlog, kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#118881 fix openapi/v3 non local apiservices aggregation
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapiv3/aggregator/aggregator.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, kind/regression, triage/accepted

#118940 Hide numberOfMissedSchedules as an algorithm internal number
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
Labels: priority/backlog, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#119025 Remove conformance test for StorageV1CSIDriver Endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/storage/csi_inline.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#117936 Automated cherry pick of #117243: Add node check to vSphere cloud provider
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager_test.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, sig/storage, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#119031 Automated cherry pick of #116251: Fix deadlock in ready test
  staging/src/k8s.io/apiserver/pkg/storage/cacher/ready_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#119032 Automated cherry pick of #116251: Fix deadlock in ready test
  staging/src/k8s.io/apiserver/pkg/storage/cacher/ready_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#117937 Automated cherry pick of #117243: Add node check to vSphere cloud provider
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager_test.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, sig/storage, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#117938 Automated cherry pick of #117243: Add node check to vSphere cloud provider
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager_test.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, sig/storage, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#119030 Automated cherry pick of #116251: Fix deadlock in ready test
  staging/src/k8s.io/apiserver/pkg/storage/cacher/ready_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#117108 component-base/logs: improve handling of re-applying a configuration
  cmd/kube-apiserver/app/testing/testserver.go
  cmd/kube-controller-manager/app/testing/testserver.go
  cmd/kube-scheduler/app/testing/testserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/testing/testserver.go
  staging/src/k8s.io/cloud-provider/app/testing/testserver.go
  staging/src/k8s.io/component-base/logs/api/v1/options.go
  staging/src/k8s.io/component-base/logs/api/v1/options_test.go
  staging/src/k8s.io/component-base/logs/json/register/register_test.go
  staging/src/k8s.io/component-base/logs/logs_test.go
  test/integration/logs/benchmark/load_test.go
Labels: kind/bug, area/test, sig/scheduling, area/apiserver, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/L, kind/api-change, approved, cncf-cla: yes, sig/instrumentation, sig/testing, kind/failing-test, sig/architecture, sig/cloud-provider, needs-priority, triage/accepted, wg/structured-logging

#118960 Introduce apiserver_flowcontrol_current_executing_seats metric
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#119035 Fix `should be able to create and delete a critical pod` test
  test/e2e/framework/pod/pod_client.go
  test/e2e_node/critical_pod_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, area/e2e-test-framework, triage/accepted

#118855 Automated cherry pick of #118686: always execute condition for wait.PollUntilContextTimeout
  staging/src/k8s.io/apimachinery/pkg/util/wait/loop.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/loop_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#116930 contextual logging cleanup
  cmd/kube-controller-manager/app/core.go
  hack/logcheck.conf
  pkg/controller/deployment/deployment_controller.go
  pkg/controller/deployment/rollback.go
  pkg/controller/deployment/sync.go
  pkg/controller/deployment/util/deployment_util.go
  pkg/controller/garbagecollector/garbagecollector.go
  pkg/controller/garbagecollector/garbagecollector_test.go
  pkg/controller/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/controller/nodeipam/ipam/controller_legacyprovider.go
  pkg/controller/nodeipam/ipam/multi_cidr_range_allocator.go
  pkg/controller/nodeipam/ipam/range_allocator.go
  pkg/controller/nodeipam/ipam/sync/sync_test.go
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/replicaset/replica_set_test.go
  pkg/controller/replication/replication_controller.go
  pkg/controller/util/node/controller_utils.go
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
  pkg/controller/volume/expand/expand_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
  pkg/controller/volume/persistentvolume/volume_host.go
  test/integration/quota/quota_test.go
  test/integration/replicationcontroller/replicationcontroller_test.go
Labels: area/test, sig/network, lgtm, sig/storage, sig/node, sig/api-machinery, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted, wg/structured-logging

#118010 cleanup: duplicate request_test TestRequestAbsPathPreservesTrailingSlash
  staging/src/k8s.io/client-go/rest/request_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#119111 remove equalReady and replace with k8 util function
  pkg/controller/job/job_controller.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#118652 Add user specified image to CRI `ContainerConfig`
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XL, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#118817 DRA: improve handling of completed pods
  cmd/kube-controller-manager/app/core.go
  pkg/controller/resourceclaim/controller.go
  pkg/controller/resourceclaim/controller_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  test/e2e/dra/dra.go
  test/integration/util/util.go
Labels: area/test, lgtm, sig/node, sig/api-machinery, release-note, size/L, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#118289 Automated cherry pick of #118177: Fix the git-repo test error caused by the correct use of loop
  pkg/volume/git_repo/git_repo_test.go
Labels: lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, kind/failing-test, ok-to-test, needs-priority, needs-triage

#118364 AWS: fix code for picking region from zone
  test/e2e/framework/providers/aws/aws.go
Labels: kind/bug, area/test, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#118862 DRA controller: batch resource claims for Allocate
  staging/src/k8s.io/dynamic-resource-allocation/controller/controller.go
  staging/src/k8s.io/dynamic-resource-allocation/controller/controller_test.go
  test/e2e/dra/README.md
  test/e2e/dra/dra.go
  test/e2e/dra/test-driver/app/controller.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119007 [KMSv2] Mark KMS v1beta1 as deprecated with no further fixes
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/kms/apis/v1beta1/api.pb.go
  staging/src/k8s.io/kms/apis/v1beta1/api.proto
  staging/src/k8s.io/kms/apis/v1beta1/v1beta1.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, sig/auth, approved, cncf-cla: yes, tide/merge-method-squash, api-review, kind/deprecation, triage/accepted

#119077 clean up the implementation around QueueingHintFn
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118137 feat: Append job creation timestamp to cronjob annotations
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
  pkg/features/kube_features.go
  staging/src/k8s.io/api/batch/v1/types.go
Labels: lgtm, release-note, size/L, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, priority/important-longterm, tide/merge-method-squash, ok-to-test, api-review, triage/accepted

#118879 make apiservices.apiregistration.k8s.io discoverable in openapi/v3
  api/discovery/apis__apiregistration.k8s.io.json
  api/discovery/apis__apiregistration.k8s.io__v1.json
  api/openapi-spec/v3/apis__apiregistration.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__apiregistration.k8s.io_openapi.json
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapiv3/aggregator/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapiv3/aggregator/aggregator_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/XXL, approved, cncf-cla: yes, kind/regression, triage/accepted

#119127 use stopCh to avoid goroutine leak in tests
  staging/src/k8s.io/apiserver/pkg/admission/plugin/namespace/lifecycle/admission_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter_test.go
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller_test.go
Labels: kind/bug, area/apiserver, lgtm, area/cloudprovider, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-ok-to-test, sig/cloud-provider, needs-priority, triage/accepted

#119139 Update schedule logic to properly calculate missed schedules
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
Labels: kind/bug, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#119138 Update schedule logic to properly calculate missed schedules
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
Labels: kind/bug, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#119118 Automated cherry pick of #114338: kubeadm: set priority for "system-node-critical" Pods
  cmd/kubeadm/app/util/staticpod/utils.go
  cmd/kubeadm/app/util/staticpod/utils_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#119137 Update schedule logic to properly calculate missed schedules
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
Labels: kind/bug, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#118683 Automated cherry pick of #118460: Make etcd component status consistent with health probes
  pkg/registry/core/componentstatus/rest.go
  pkg/registry/core/componentstatus/rest_test.go
  pkg/registry/core/componentstatus/validator.go
  pkg/registry/core/componentstatus/validator_test.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/rest/storage_core_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/healthcheck.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#119065 Automated cherry pick of #118899: CHANGELOG-1.27: Add note for AWS in-tree provider removal
  CHANGELOG/CHANGELOG-1.27.md
Labels: priority/critical-urgent, kind/documentation, lgtm, size/S, area/release-eng, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#118912 Cherry pick of #118716 upstream release 1.26
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
  pkg/controller/daemon/update.go
  test/e2e/apps/daemon_set.go
  test/integration/daemonset/daemonset_test.go
  test/integration/podgc/podgc_test.go
  test/integration/util/util.go
Labels: kind/bug, area/test, priority/important-soon, priority/backlog, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, triage/accepted

#119038 Automated cherry pick of #118460: Make etcd component status consistent with health probes
  pkg/registry/core/componentstatus/rest.go
  pkg/registry/core/componentstatus/rest_test.go
  pkg/registry/core/componentstatus/validator.go
  pkg/registry/core/componentstatus/validator_test.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/rest/storage_core_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/healthcheck.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#119117 Automated cherry pick of #114338: kubeadm: set priority for "system-node-critical" Pods
  cmd/kubeadm/app/util/staticpod/utils.go
  cmd/kubeadm/app/util/staticpod/utils_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#118618 Automated cherry pick of #112029: Fix the wrong status returned from `RunPreFilterPlugins`
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Labels: kind/bug, sig/scheduling, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#119039 Automated cherry pick of #118460: Make etcd component status consistent with health probes
  pkg/registry/core/componentstatus/rest.go
  pkg/registry/core/componentstatus/rest_test.go
  pkg/registry/core/componentstatus/validator.go
  pkg/registry/core/componentstatus/validator_test.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/rest/storage_core_test.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/healthcheck.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#119046 Fix fitError in Permit plugin not handled perfectly
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
  pkg/scheduler/schedule_one.go
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/rescheduling_test.go
  test/integration/scheduler/util.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119103 e2e: detect unexpected command line arguments
  test/e2e/e2e_test.go
  test/e2e_kubeadm/e2e_kubeadm_suite_test.go
  test/e2e_node/e2e_node_suite_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#116739 kubelet dra: lock before getting claimInfo CDIDevices and annotations fields
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/dra/manager.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#118529 Record failed plugins in Reserver Plugin
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/types_test.go
  pkg/scheduler/schedule_one.go
  test/integration/scheduler/rescheduling_test.go
Labels: area/test, sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#119158 Skip GracefulNodeShutdown on older systemd versions
  test/e2e_node/node_shutdown_linux_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#118999 kube-proxy service health: add new header with number of local endpoints
  pkg/proxy/healthcheck/healthcheck_test.go
  pkg/proxy/healthcheck/service_health.go
Labels: sig/network, area/kube-proxy, lgtm, release-note, size/S, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#116669 Automated cherry pick of #115966: make MixedProtocolNotSupported public
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_util.go
Labels: kind/bug, sig/network, lgtm, area/cloudprovider, size/L, kind/api-change, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#116668 Automated cherry pick of #115966: make MixedProtocolNotSupported public
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_util.go
Labels: kind/bug, sig/network, lgtm, area/cloudprovider, size/L, kind/api-change, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#116879 [Dual-stack] Fix generateAPIPodStatus() of kubelet handling Secondary IP
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, triage/accepted

#117806 Remove gcp cloud-provider checks for kubelet version >= 1.7.2
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_healthchecks.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_healthchecks_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_utils_test.go
Labels: kind/bug, kind/cleanup, lgtm, area/cloudprovider, size/L, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#119170 Remove indirect reference to the util packages
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/queue_test.go
  test/integration/scheduler/rescheduling_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119159 Only declare job as finished after removing all finalizers
  pkg/controller/job/job_controller.go
  test/integration/job/job_test.go
Labels: kind/bug, area/test, lgtm, release-note, size/S, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118926 scheduler test: Use cmp.Diff instead of reflect.DeepEqual for pkg/scheduler/internal/cache
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/debugger/comparer_test.go
  pkg/scheduler/internal/cache/node_tree_test.go
  pkg/scheduler/internal/cache/snapshot_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#119048 scheduler-perf: metrics for perfdash
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/integration/scheduler_perf/util.go
Labels: kind/bug, area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#118271 feat(NodePorts): return Skip status in PreFilter
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
  pkg/scheduler/framework/plugins/nodeports/node_ports_test.go
Labels: sig/scheduling, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#116720 Remove long/golang version information making short the default
  hack/lib/test.sh
  staging/src/k8s.io/kubectl/pkg/cmd/version/version.go
  test/cmd/version.sh
  test/e2e/kubectl/kubectl.go
Labels: area/test, priority/backlog, kind/cleanup, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, sig/testing, kind/deprecation, triage/accepted

#119146 Use cmp diff in controller_util_test.go
  pkg/controller/controller_utils_test.go
Labels: priority/backlog, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#116755 Migrated `pkg/controller/endpoint` to contextual logging
  hack/logcheck.conf
  pkg/controller/endpoint/endpoints_controller.go
Labels: priority/backlog, sig/network, lgtm, area/logging, release-note, size/M, kind/feature, sig/apps, approved, cncf-cla: yes, sig/instrumentation, triage/accepted, wg/structured-logging

#118287 Automated cherry pick of #118177: Fix the git-repo test error caused by the correct use of loop
  pkg/volume/git_repo/git_repo_test.go
Labels: lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, kind/failing-test, ok-to-test, needs-priority, needs-triage

#119165 Automated cherry pick of #119164: Only declare job as finished after removing all finalizers
  pkg/controller/job/job_controller.go
  test/integration/job/job_test.go
Labels: kind/bug, area/test, lgtm, release-note, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118608 Return Skip in PodTopologySpread#PreScore under specific conditions
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#119164 Automated cherry pick of #119160: Only declare job as finished after removing all finalizers
  pkg/controller/job/job_controller.go
  test/integration/job/job_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, release-note, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, needs-triage

#119201 [release-1.26] releng/go: Update images, deps and version to go 1.20.5
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, needs-triage

#119203 [release-1.24] releng/go: Update images, deps and version to go 1.20.5
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, needs-triage

#119202 [release-1.25] releng/go: Update images, deps and version to go 1.20.5
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, needs-triage

#119130 Remove deprecated scheduler CLI flags
  cmd/kube-scheduler/app/options/deprecated.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/server_test.go
Labels: sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, needs-priority, kind/deprecation, needs-triage

#119185 Add reason to force detach metric
  pkg/controller/volume/attachdetach/metrics/metrics.go
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Labels: lgtm, sig/storage, release-note, size/M, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#115122 add integration tests for OIDC authenticator
  test/integration/apiserver/oidc/main_test.go
  test/integration/apiserver/oidc/oidc_test.go
  test/utils/oidc/handlers.go
  test/utils/oidc/handlers.mock.go
  test/utils/oidc/testserver.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/XL, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#119198 Document address family of listening INET sockets
  cmd/kubelet/app/options/options.go
  staging/src/k8s.io/apiserver/pkg/server/options/deprecated_insecure_serving.go
  staging/src/k8s.io/apiserver/pkg/server/options/serving.go
Labels: area/kubelet, kind/documentation, area/apiserver, lgtm, sig/node, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/docs, ok-to-test, needs-priority, needs-triage

#116738 When TopologyManagerPolicy is None, skip checks in NewManager.
  pkg/kubelet/cm/topologymanager/scope.go
  pkg/kubelet/cm/topologymanager/scope_container.go
  pkg/kubelet/cm/topologymanager/scope_none.go
  pkg/kubelet/cm/topologymanager/scope_pod.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
Labels: area/kubelet, lgtm, sig/node, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#116846 kubelet pod-resources: add e2e for KubeletPodResourcesGet feature
  test/e2e_node/podresources_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#114530 kubectl delete: Introduce new interactive flag for interactive deletion
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_flags.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  test/cmd/delete.sh
  test/cmd/legacy-script.sh
Labels: area/test, priority/backlog, area/kubectl, lgtm, release-note, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, sig/testing, tide/merge-method-squash, triage/accepted

#119207 Implement conditionalProgressRequester that allows requesting watch progress notification if watch cache is not fresh
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_interval_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_progress.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_progress_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
  staging/src/k8s.io/apiserver/pkg/storage/interfaces.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#119179 node-e2e: Add container lifecycle e2e tests for preStop hook
  test/e2e_node/container_lifecycle_pod_construction.go
  test/e2e_node/container_lifecycle_test.go
Labels: area/test, lgtm, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119193 Introduce syncJobContext to limit the number of function parameters
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#116443 Cache authz decisions within the scope of validating policy admission.
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/admission_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/caching_authorizer.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/caching_authorizer_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller_reconcile.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/interface.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/validator.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/validator_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/accessors.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/matchconditions/interface.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/matchconditions/matcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/matchconditions/matcher_test.go
  test/integration/apiserver/cel/validatingadmissionpolicy_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#118540 add support for authorizer to type checking.
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/typechecking.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/typechecking_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#119209 ValidatingAdmissionPolicy: expended type checking to messageExpression
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/typechecking.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/typechecking_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#119160 Automated cherry pick of #119159: Only declare job as finished after removing all finalizers
  pkg/controller/job/job_controller.go
  test/integration/job/job_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, release-note, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, needs-triage

#119225 Bump cadvisor version to v0.47.3
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/info/v1/machine.go
  vendor/modules.txt
Labels: kind/bug, area/test, kind/cleanup, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/dependency, needs-triage

#117225 Automated cherry pick of #116749: Adding additional validations to queried endpoint
  pkg/proxy/winkernel/hns.go
Labels: priority/important-soon, sig/network, lgtm, release-note, size/XS, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, kind/regression, triage/accepted

#117011 Add e2e tests for feature NodeLogQuery
  test/e2e/node/kubelet.go
Labels: area/test, lgtm, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#119237 Add jpbetz as approver of apiserver integration tests
  test/integration/apiserver/OWNERS
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#117224 Automated cherry pick of #116749: Adding additional validations to queried endpoint
  pkg/proxy/winkernel/hns.go
Labels: priority/important-soon, sig/network, lgtm, release-note, size/XS, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, kind/regression, triage/accepted

#118408 kube-proxy local traffic detector single-vs-dual-stack cleanup
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_others_test.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/util/iptables/traffic.go
  pkg/proxy/util/iptables/traffic_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#117226 Automated cherry pick of #116749: Adding additional validations to queried endpoint
  pkg/proxy/winkernel/hns.go
Labels: priority/important-soon, sig/network, lgtm, release-note, size/XS, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, kind/regression, triage/accepted

#119229 Fix the converts an empty string to nil.
  staging/src/k8s.io/apimachinery/pkg/runtime/converter.go
  staging/src/k8s.io/apimachinery/pkg/runtime/converter_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#119247 setcap: update to debian bookworm v1.0.0
  build/common.sh
  build/dependencies.yaml
Labels: kind/cleanup, lgtm, release-note, size/XS, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#119042 cmd/kube-apiserver: turn core (legacy) rest storage into standard RESTStorageProvider
  pkg/controlplane/controller/kubernetesservice/controller.go
  pkg/controlplane/controller/kubernetesservice/controller_test.go
  pkg/controlplane/instance.go
  pkg/controlplane/instance_test.go
  pkg/registry/core/rest/storage_core.go
  test/e2e/apimachinery/health_handlers.go
Labels: area/test, priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XL, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#119147 Migrate /pkg/controller/disruption to structured and contextual logging
  cmd/kube-controller-manager/app/policy.go
  hack/logcheck.conf
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
  test/integration/disruption/disruption_test.go
  test/integration/evictions/evictions_test.go
  test/integration/util/util.go
Labels: area/test, kind/cleanup, lgtm, area/logging, sig/api-machinery, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, priority/important-longterm, triage/accepted, wg/structured-logging

#119251 Match both old and new kubectl version for a while in e2e
  test/e2e/kubectl/kubectl.go
Labels: area/test, lgtm, size/XS, kind/flake, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, triage/accepted

#119058 dynamic resource allocation: Improve code coverage of state checkpoint
  pkg/kubelet/cm/dra/state/state_checkpoint.go
  pkg/kubelet/cm/dra/state/state_checkpoint_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#119252 Fix TestConditionalProgressRequester and TestWaitUntilFreshAndListTimeout flakes
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_progress.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_progress_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118508 Implement Alpha state for KEP #2340
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#117804 Fix reconstruction of CSI volumes
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world_test.go
  pkg/kubelet/volumemanager/reconciler/reconciler_common.go
  pkg/kubelet/volumemanager/reconciler/reconciler_new.go
  pkg/kubelet/volumemanager/reconciler/reconciler_new_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_common.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#118812 Improve apiserver storage size metric
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
  test/integration/metrics/metrics_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#119012 kubelet: support batched prepare/unprepare in v1alpha3 DRA plugin API
  pkg/kubelet/cm/dra/manager.go
  pkg/kubelet/cm/dra/plugin/client.go
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/draplugin.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1alpha3/api.pb.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1alpha3/api.proto
  test/e2e/dra/deploy.go
  test/e2e/dra/dra.go
  test/e2e/dra/test-driver/app/gomega.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
  test/e2e_node/dra_test.go
  vendor/modules.txt
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/XXL, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119108 kube-apiserver/corerest: split apart generic code
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/rest/storage_core_generic.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119226 Add enj to apiserver options approver
  staging/src/k8s.io/apiserver/pkg/server/options/OWNERS
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#119154 fix: Add "metav1.CauseType" to "field.ErrorType" map
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#119242 change the QueueingHintFn to pass a logger
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/rescheduling_test.go
Labels: area/test, sig/scheduling, lgtm, sig/node, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage, wg/structured-logging

#118252 Automated cherry pick of #115966: make MixedProtocolNotSupported public
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_util.go
Labels: kind/bug, lgtm, area/cloudprovider, size/L, kind/api-change, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#119224 Automated cherry pick of #117865: Parallel StatefulSet pod create & delete
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/XL, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#119223 Automated cherry pick of #117865: Parallel StatefulSet pod create & delete
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/XL, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#119096 Automated cherry pick of #117865: Parallel StatefulSet pod create & delete
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/XL, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#116922 Improve the performance of map usage
  pkg/kubelet/cm/cpumanager/state/state.go
  pkg/kubelet/cm/cpumanager/state/state_checkpoint.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#117731 Use early return pattern to avoid nested conditions
  pkg/kubelet/config/file_linux.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#119250 kube-controller-manager: finish conversion to contextual logging
  cmd/cloud-controller-manager/.import-restrictions
  cmd/kube-controller-manager/app/discovery.go
  hack/logcheck.conf
  pkg/controller/controller_ref_manager.go
  pkg/controller/controller_utils.go
  pkg/controller/controller_utils_test.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/podgc/gc_controller.go
  pkg/controller/podgc/gc_controller_test.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/replicaset/replica_set_test.go
  pkg/controller/volume/pvcprotection/pvc_protection_controller_test.go
  pkg/controller/volume/pvprotection/pv_protection_controller_test.go
  test/integration/endpointslice/endpointslicemirroring_test.go
Labels: area/test, sig/network, kind/cleanup, lgtm, area/logging, sig/storage, sig/api-machinery, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, priority/important-longterm, sig/cloud-provider, triage/accepted, wg/structured-logging
