Repository kubernetes/kubernetes, pull requests merged in 2023-01, with the labels that each got.

#114237 Retry when recording an EventSerie results in an AlreadyExist error
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
  staging/src/k8s.io/client-go/tools/events/event_broadcaster_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#114734 use klog.InfoS instead of klog.V(0).InfoS-proxy part
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114236 Fix data race when emitting similar Events consecutively
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
  staging/src/k8s.io/client-go/tools/events/eventseries_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, needs-priority, triage/accepted

#114528 Fix installDriverToCSINode(): do not skip CSINode update if Allocatable.Count changed
  pkg/volume/csi/nodeinfomanager/nodeinfomanager.go
  pkg/volume/csi/nodeinfomanager/nodeinfomanager_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-triage

#114754 CHANGELOG-1.26: move OpenStack in-tree provider removal to urgent notes
  CHANGELOG/CHANGELOG-1.26.md
Labels: priority/important-soon, kind/documentation, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#114750 refactor current ipallocator
  pkg/registry/core/service/ipallocator/bitmap.go
  pkg/registry/core/service/ipallocator/bitmap_test.go
  pkg/registry/core/service/ipallocator/interfaces.go
Labels: sig/network, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114761 e2e storage: define local PersistentVolume tests in deterministic order
  test/e2e/storage/persistent_volumes-local.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#114719 kubeadm: return the output from stdout and stderr
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/util/copy_unix.go
  cmd/kubeadm/app/util/copy_windows.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#114736 fix: tryUnmount should respect mounter.withSafeNotMountedBehavior
  staging/src/k8s.io/mount-utils/mount_linux.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, triage/accepted

#114770 Fix clearing of rate-limiter for the queue of checks for cleaning stale pod disruption conditions
  pkg/controller/disruption/disruption.go
Labels: kind/bug, priority/critical-urgent, lgtm, release-note, size/XS, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#112136 kubelet: migrate container runtime endpoint flag to config
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/options/options_test.go
  cmd/kubelet/app/server.go
  cmd/kubemark/hollow-node.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/apis/config/v1beta1/defaults_test.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubemark/hollow_kubelet.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: priority/important-soon, area/kubelet, sig/scalability, lgtm, sig/node, sig/api-machinery, release-note, size/M, kind/api-change, kind/feature, approved, cncf-cla: yes, area/code-generation, triage/accepted

#114757 Drop unused Endpoints-tracking code from pkg/proxy/
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/service_test.go
Labels: priority/backlog, sig/network, kind/cleanup, lgtm, size/XXL, release-note-none, approved, cncf-cla: yes, needs-triage

#114782 Licensing: skip modules with fewer subdirs than mods
  hack/update-vendor-licenses.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, needs-triage, sig/k8s-infra

#114646 expose prometheus.Registerer so that we can hook into this from exter…
  staging/src/k8s.io/component-base/metrics/registry.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage

#114629 Modify the return type of RunFilterPlugins to *Status
  pkg/scheduler/framework/autoscaler_contract/framework_contract_test.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114570 fix test order in controller/openapi/builder/builderst.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder/builder_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#114738 Remove duplicate fmt.Sprintf for logging
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#112719 fix: kubelet event about unattached volumes is incorrect
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/kubelet/volumemanager/volume_manager_test.go
  pkg/volume/testing/testing.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#114429 Automated cherry pick of #114350: Deflake a preemption test that may patch Node incorrectly
  test/e2e/scheduling/preemption.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/XS, kind/flake, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114803 pkg/registry: Replace deprecated pointer function
  pkg/registry/core/service/strategy_test.go
  pkg/registry/discovery/endpointslice/strategy_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#114774 Fix normal request metric verb correctly
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#114801 Remove heapster rule from system:controller:horizontal-pod-autoscaler clusterrole
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#114822 bump golang.org/x/oauth2
  LICENSES/vendor/cloud.google.com/go/compute/metadata/LICENSE
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/golang.org/x/oauth2/AUTHORS
  vendor/golang.org/x/oauth2/CONTRIBUTORS
  vendor/golang.org/x/oauth2/authhandler/authhandler.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/error.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/impersonate.go
  vendor/golang.org/x/oauth2/google/jwt.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/node, sig/api-machinery, size/L, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#113348 Disallow prune for server-side applied objects
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#114790 Automated cherry pick of #114217: Fix issues in volumesnapshot test for ephemeral storage
  test/e2e/storage/testsuites/snapshottable.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#113581 Verify that the key matches the cert
  pkg/apis/core/validation/validation.go
  pkg/registry/core/secret/strategy.go
Labels: kind/bug, lgtm, release-note, size/S, kind/feature, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#114789 Bump konnectivity-client to v0.0.35
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/metrics/metrics.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/common/metrics/metrics.go
Labels: area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, sig/api-machinery, size/S, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, sig/architecture, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#114792 Hide OpenAPI details behind the NewTypeConverter
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiserver/pkg/endpoints/groupversion.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanagertest/testfieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/typeconverter.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/typeconverter_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/versionconverter_test.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#114796 cleanup(scheduler_perf): remove all removed feature gates
  test/integration/scheduler_perf/config/performance-config.yaml
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#114817 plugin/pkg/admission: Replace deprecated pointer function
  plugin/pkg/admission/network/defaultingressclass/admission_test.go
  plugin/pkg/admission/noderestriction/admission_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, needs-triage

#114592 Automated cherry pick of #114217: Fix issues in volumesnapshot test for ephemeral storage
  test/e2e/storage/testsuites/snapshottable.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114780 Automated cherry pick of #114770: Fix clearing rate limiter in disruption controller
  pkg/controller/disruption/disruption.go
Labels: priority/critical-urgent, lgtm, release-note, size/XS, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#114791 Automated cherry pick of #114217: Fix issues in volumesnapshot test for ephemeral storage
  test/e2e/storage/testsuites/snapshottable.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#111660 Key encipherment usage v1.27
  pkg/apis/certificates/helpers.go
  pkg/apis/certificates/v1beta1/defaults.go
  pkg/apis/certificates/v1beta1/defaults_test.go
  pkg/controller/certificates/approver/sarapprove.go
  pkg/controller/certificates/signer/signer.go
  pkg/kubelet/certificate/bootstrap/bootstrap.go
  pkg/kubelet/certificate/kubelet.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/L, sig/auth, sig/apps, approved, cncf-cla: yes, triage/accepted

#114829 Revert "bump golang.org/x/oauth2"
  LICENSES/vendor/cloud.google.com/go/compute/metadata/LICENSE
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/golang.org/x/oauth2/AUTHORS
  vendor/golang.org/x/oauth2/CONTRIBUTORS
  vendor/golang.org/x/oauth2/authhandler/authhandler.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/error.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/impersonate.go
  vendor/golang.org/x/oauth2/google/jwt.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/modules.txt
Labels: kind/bug, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/node, sig/api-machinery, size/L, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#114826 Fix verify-licenses script
  hack/verify-licenses.sh
Labels: kind/bug, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114834 kubeadm: unittest might run as non-root
  cmd/kubeadm/app/cmd/upgrade/common_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#108912 Fix:[Flake] [sig-node] Restart [Serial] [Slow] [Disruptive] Kubelet hould correctly account for terminated pods after restart
  test/e2e_node/container_manager_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#114749 Drop unused EndpointsHandler / EndpointsConfig from pkg/proxy/config
  pkg/kubemark/hollow_proxy.go
  pkg/proxy/config/api_test.go
  pkg/proxy/config/config.go
  pkg/proxy/config/config_test.go
Labels: priority/backlog, sig/network, kind/cleanup, sig/scalability, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-triage

#110931 tests: Ports volume unit tests to Windows
  pkg/volume/metrics_du_test.go
  pkg/volume/metrics_du_unix_test.go
  pkg/volume/metrics_du_windows_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/hostutil/hostutil_linux_test.go
  pkg/volume/util/hostutil/hostutil_test.go
  pkg/volume/util/hostutil/hostutil_windows_test.go
Labels: kind/design, priority/important-soon, lgtm, sig/storage, size/XL, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#114840 Revert "Add link to to file"
  CHANGELOG.md
Labels: kind/bug, priority/important-soon, kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#114842 kubeadm: fix the nil pointer dereference in testcase
  cmd/kubeadm/app/cmd/certs_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#114653 Stop Cache in scheduler when tests tear down
  pkg/scheduler/extender_test.go
  pkg/scheduler/schedule_one_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114786 Update doc about json tag is needed to generate informer externalversion package
  staging/src/k8s.io/sample-controller/README.md
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#114460 portforward: return error on lost connection to pod
  staging/src/k8s.io/client-go/tools/portforward/portforward.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, needs-priority, triage/accepted

#114784 pkg/apis: Replace deprecated pointer function
  pkg/apis/core/validation/validation_test.go
  pkg/apis/discovery/v1beta1/conversion_test.go
  pkg/apis/discovery/validation/validation_test.go
  pkg/apis/networking/fuzzer/fuzzer.go
  pkg/apis/networking/v1/defaults.go
  pkg/apis/networking/v1/defaults_test.go
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
  pkg/apis/policy/validation/validation_test.go
Labels: sig/network, kind/cleanup, lgtm, size/XL, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, needs-triage

#114835 Give TypeConverter to TestFieldManager
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/capmanagers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanagertest/testfieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/lastappliedmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/lastappliedupdater_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/managedfieldsupdater_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/skipnonapplied_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/typeconverter_test.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#114850 staging/publishing: open up kms package for sub packages and utils
  staging/publishing/import-restrictions.yaml
Labels: kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, needs-priority, triage/accepted

#114699 Distinguish between Unschedulable and UnschedulableAndUnresolvable in scheduler's PostFilter
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/interface_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#114848 test/e2e: Replace deprecated pointer function
  test/e2e/apimachinery/crd_conversion_webhook.go
  test/e2e/common/node/lease.go
  test/e2e/framework/pod/utils.go
  test/e2e/network/ingressclass.go
Labels: area/test, sig/network, kind/cleanup, lgtm, sig/node, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#114851 Fix verify-license cleanup
  hack/verify-licenses.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#114725 (minor) kube-proxy startup cleanup
  cmd/kube-proxy/app/server_others.go
  pkg/kubemark/hollow_proxy.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Labels: priority/backlog, sig/network, kind/cleanup, sig/scalability, lgtm, size/M, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-triage

#114820 test/integration: Replace deprecated pointer function
  test/integration/auth/node_test.go
  test/integration/controlplane/apiserver_identity_test.go
  test/integration/service/loadbalancer_test.go
  test/integration/storageversion/gc_test.go
  test/integration/util/util.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#114388 gitattributes: all files LF line endings
  .gitattributes
Labels: priority/important-soon, lgtm, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, kind/failing-test, needs-triage

#114857 Bump cel-go bump to 0.12.6 to fix bug in cel-go
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/google/cel-go/cel/program.go
  vendor/modules.txt
Labels: kind/bug, area/apiserver, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/S, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#114832 egress_selector.go: register konnectivity-client metrics.
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114540 remove deprecated Kubeadm v1beta2 API
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/scheme/scheme.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/bootstraptokenstring.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/bootstraptokenstring_test.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/defaults.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/defaults_unix.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/defaults_windows.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/register.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.defaults.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/cmd/config_test.go
  cmd/kubeadm/app/images/images.go
  cmd/kubeadm/app/images/images_test.go
  cmd/kubeadm/app/util/config/cluster_test.go
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/config/joinconfiguration_test.go
  cmd/kubeadm/app/util/config/strict/testdata/invalid_casesensitive_field.yaml
  cmd/kubeadm/app/util/config/strict/testdata/invalid_duplicate_field_clustercfg.yaml
  cmd/kubeadm/app/util/config/strict/testdata/invalid_duplicate_field_initcfg.yaml
  cmd/kubeadm/app/util/config/strict/testdata/invalid_duplicate_field_joincfg.yaml
  cmd/kubeadm/app/util/config/strict/testdata/invalid_unknown_field_clustercfg.yaml
  cmd/kubeadm/app/util/config/strict/testdata/invalid_unknown_field_initcfg.yaml
  cmd/kubeadm/app/util/config/strict/testdata/invalid_unknown_field_joincfg.yaml
  cmd/kubeadm/app/util/config/strict/testdata/valid_clustercfg.yaml
  cmd/kubeadm/app/util/config/strict/testdata/valid_initcfg.yaml
  cmd/kubeadm/app/util/config/strict/testdata/valid_joincfg.yaml
  cmd/kubeadm/test/cmd/init_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/XXL, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#114867 add deads2k to approvers for code-generator and sample-controller
  staging/src/k8s.io/code-generator/OWNERS
  staging/src/k8s.io/sample-controller/OWNERS
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-triage

#114858 fix path for not approved licenses
  hack/verify-licenses.sh
Labels: kind/bug, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/release, ok-to-test, needs-priority, needs-triage

#114870 Avoid mutation of PVC in stateful set controller shared cache
  pkg/controller/statefulset/stateful_pod_control.go
  pkg/controller/statefulset/stateful_pod_control_test.go
Labels: kind/bug, lgtm, sig/storage, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#114623 Enhanced logic to identify eligible preemption node
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/plugins/feature/feature.go
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/framework/preemption/preemption.go
  staging/src/k8s.io/api/core/v1/types.go
Labels: sig/scheduling, lgtm, release-note, size/M, kind/api-change, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#114125 feature(scheduler): won't run Filter if PreFilter returned a Skip status
  pkg/scheduler/framework/cycle_state.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/testing/fake_plugins.go
Labels: area/test, sig/scheduling, lgtm, sig/storage, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114078 Fix TestJitterWithNegativeMaxFactor flaky test
  staging/src/k8s.io/legacy-cloud-providers/azure/retry/azure_retry_test.go
Labels: lgtm, area/cloudprovider, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#113959 Update OWNERS for jefftree
  staging/src/k8s.io/apiextensions-apiserver/OWNERS
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/OWNERS
  staging/src/k8s.io/kube-aggregator/OWNERS
  test/integration/apiserver/OWNERS
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#114678 kmsv2: add grpc service
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kms/service/grpc_service.go
  staging/src/k8s.io/kms/service/grpc_service_test.go
  staging/src/k8s.io/kms/service/interface.go
Labels: lgtm, size/L, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#114633 Add atiratree as sig-apps reviewer
  OWNERS_ALIASES
Labels: kind/documentation, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#114860 cmd/kubeapiserver: Clean code, avoid unnecessary condition, avoid non-nil but zero-length slice
  cmd/kube-apiserver/app/server.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, needs-triage

#114881 kms gRPC test: wait until server is healthy
  staging/publishing/rules.yaml
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kms/service/grpc_service_test.go
Labels: kind/bug, lgtm, size/S, kind/flake, area/release-eng, release-note-none, sig/auth, approved, cncf-cla: yes, kind/failing-test, sig/release, needs-priority, triage/accepted

#113744 Prepare cpuset for import into kubernets/utils
  cmd/kubelet/app/server.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/policy_none.go
  pkg/kubelet/cm/cpumanager/policy_none_test.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
  pkg/kubelet/cm/cpumanager/state/state_checkpoint_test.go
  pkg/kubelet/cm/cpumanager/state/state_mem.go
  pkg/kubelet/cm/cpumanager/state/state_test.go
  pkg/kubelet/cm/cpumanager/topology/topology.go
  pkg/kubelet/cm/cpumanager/topology/topology_test.go
  pkg/kubelet/cm/cpumanager/topology_hints_test.go
  pkg/kubelet/cm/cpuset/cpuset.go
  pkg/kubelet/cm/cpuset/cpuset_test.go
  test/e2e_node/cpu_manager_metrics_test.go
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/memory_manager_test.go
  test/e2e_node/numa_alignment.go
  test/e2e_node/podresources_test.go
Labels: area/test, area/kubelet, kind/cleanup, lgtm, sig/node, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#114885 Enable all features during etcd storage path test
  test/integration/etcd/etcd_storage_path_test.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#114892 staging/publishing: remove rules for 1.22
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#114899 kubeadm: update .import-restrictions
  cmd/kubeadm/.import-restrictions
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#114906 Promote e2e test for SubjectAccessReview & createAuthorizationV1NamespacedLocalSubjectAccessReview +2 Endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/auth/subjectreviews.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#114912 add archived dependencies into unwanted-dependencies.json
  hack/unwanted-dependencies.json
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/code-organization, needs-triage

#114548 update cri-tools to 1.26.0
  build/dependencies.yaml
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
Labels: priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, size/S, release-note-none, approved, cncf-cla: yes, sig/release, sig/cloud-provider, needs-triage

#114891 cleanup(nodeaffinity): remove impossible scenario from test cases
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114876 Ensure job is up to date in informer cache in test
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, priority/important-soon, lgtm, size/S, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, needs-triage

#112934 Close body when Report non-OK status code
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#114914 Adjust DisruptionTarget condition message to do not include preemptor pod metadata
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#114905 Fix SyncPastDeadlineJobFinished for enabling finalizer path
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, lgtm, size/XS, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#114907 fix a typo in pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, area/ipvs, ok-to-test, needs-priority, needs-triage

#114769 test/OWNERS: add pohly as approver
  OWNERS_ALIASES
  hack/jenkins/OWNERS
  test/OWNERS
  test/e2e/framework/OWNERS
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#114846 Remove support for seccomp annotations when determining whether a container update should trigger a policy evaluation
  staging/src/k8s.io/pod-security-admission/admission/admission.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#114798 Code refactor for readability in `RunFilterPlugins`
  pkg/scheduler/framework/runtime/framework.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114863 Use label selector for filtering out resources when pruning for kubectl diff.
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  staging/src/k8s.io/kubectl/pkg/cmd/diff/prune.go
Labels: kind/bug, area/test, area/kubectl, lgtm, release-note, size/XS, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#114933 Disable multiple pv mount tests for vsphere intree driver
  test/e2e/storage/drivers/in_tree.go
Labels: area/test, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#114929 Bump Konnectivity to v0.0.35 in release-1.25
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/metrics/metrics.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/common/metrics/metrics.go
Labels: priority/important-soon, area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, sig/api-machinery, size/S, kind/feature, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, sig/instrumentation, sig/cloud-provider, area/dependency, needs-triage, triage/accepted

#114931 Bump Konnectivity to v0.0.35 in release-1.24
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/metrics/metrics.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/common/metrics/metrics.go
Labels: priority/important-soon, area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, sig/api-machinery, size/S, kind/feature, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, sig/instrumentation, sig/cloud-provider, area/dependency, triage/accepted

#114937 Exports WarningPrinter field in DeleteOptions
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani.go
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env.go
Labels: priority/important-soon, kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, needs-triage

#114952 Improve vendor verification works for each staging repo
  hack/verify-vendor.sh
Labels: kind/bug, priority/important-soon, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, area/code-organization, triage/accepted

#114953 Prevent CSIMigrationAzureFile gate from being disabled
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#114693 Fix this e2e failure causes subsequent e2e failures altogether
  test/e2e/storage/non_graceful_node_shutdown.go
Labels: area/test, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#114742 Changed remaining code to improve output for files under test/e2e/autoscaling
  test/e2e/autoscaling/cluster_size_autoscaling.go
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
Labels: area/test, lgtm, sig/autoscaling, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-ok-to-test, needs-priority, needs-triage

#114940 Fixes the issue #114145
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114954 Include head and tail of clipped test messages
  cmd/prune-junit-xml/prunexml.go
  cmd/prune-junit-xml/prunexml_test.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114959 CR conversion: protect from converter input edits
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114677 Generate warning for EndpointSlice AddressType FQDN
  pkg/apis/discovery/types.go
  pkg/registry/discovery/endpointslice/strategy.go
  pkg/registry/discovery/endpointslice/strategy_test.go
Labels: sig/network, lgtm, release-note, size/M, kind/api-change, approved, cncf-cla: yes, needs-priority, kind/deprecation, needs-triage

#114691 Make the warning about pod name clearer
  pkg/registry/core/pod/strategy.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#114187 Refactors kubelet's plugin watcher
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher.go
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher_others.go
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher_others_test.go
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher_windows.go
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher_windows_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, sig/windows, cncf-cla: yes, priority/important-longterm, triage/accepted

#114859 dependencies: update ginkgo to v2.7.0
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  test/e2e/storage/persistent_volumes-local.go
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/decorator_dsl.go
  vendor/github.com/onsi/ginkgo/v2/formatter/formatter.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/generators/bootstrap_command.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/generators/generate_command.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/generators/generators_common.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/internal/run.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/outline/ginkgo.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/outline/outline.go
  vendor/github.com/onsi/ginkgo/v2/internal/group.go
  vendor/github.com/onsi/ginkgo/v2/internal/node.go
  vendor/github.com/onsi/ginkgo/v2/internal/ordering.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/types/errors.go
  vendor/github.com/onsi/ginkgo/v2/types/types.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
Labels: area/test, priority/important-soon, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, size/S, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted

#114970 apiserver: refactor WithWaitGroup handler
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/waitgroup.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#114868 fieldmanager: Make internal managers private
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/admission.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanagertest/testfieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/buildmanagerinfo.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/capmanagers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/capmanagers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/lastappliedmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/lastappliedmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/lastappliedupdater.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/lastappliedupdater_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfieldsupdater.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfieldsupdater_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/manager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/skipnonapplied.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/skipnonapplied_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/stripmeta.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/structuredmerge.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/testdata/swagger.json
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/typeconverter.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/typeconverter_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/versionconverter.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/versionconverter_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/scalehandler.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/typeconverter.go
  test/integration/apiserver/admissionwebhook/invalid_managedFields_test.go
  test/integration/apiserver/timestamp_transformer_test.go
Labels: area/test, priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#114910 Update staging README.md
  staging/README.md
Labels: kind/documentation, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#114938 Removes kube-openapi dependency from Patcher
  staging/src/k8s.io/kubectl/pkg/cmd/apply/patcher.go
Labels: kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, needs-triage

#112365 Update isomorphic event definition in the events/v1 client to match aggregation logic from core/v1
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted

#114972 Removes deprecated kubectl openapi column printing
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_flags.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get_test.go
  staging/src/k8s.io/kubectl/pkg/util/openapi/extensions.go
Labels: kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, needs-triage

#109944 Changed code to improve output messages on error for files under test/e2e/apps
  test/e2e/apps/cronjob.go
  test/e2e/apps/daemon_set.go
  test/e2e/apps/deployment.go
  test/e2e/apps/disruption.go
  test/e2e/apps/job.go
  test/e2e/apps/rc.go
  test/e2e/apps/ttl_after_finished.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage

#114957 unit tests: Fixes kubeadm enforce requirements test
  cmd/kubeadm/app/cmd/upgrade/common_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, sig/windows, area/kubeadm, cncf-cla: yes, sig/testing, triage/accepted

#114802 kubelet podresource: fix GetAllocatableResources metrics
  pkg/kubelet/apis/podresources/server_v1.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#114980 Do not include scheduler name in the preemption event message
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#114773 fix a small log error about proxy
  cmd/kube-proxy/app/server_others.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114968 Automated cherry pick of #114937: Exports WarningPrinter field in DeleteOptions
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani.go
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env.go
Labels: priority/important-soon, kind/cleanup, area/kubectl, lgtm, size/M, cherry-pick-approved, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#114969 Automated cherry pick of #114937: Exports WarningPrinter field in DeleteOptions
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani.go
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env.go
Labels: priority/important-soon, kind/cleanup, area/kubectl, lgtm, size/M, cherry-pick-approved, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#114962 Automated cherry pick of #114952: Improve vendor verification works for each staging repo
  hack/verify-vendor.sh
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/architecture, triage/accepted

#114963 Automated cherry pick of #114952: Improve vendor verification works for each staging repo
  hack/verify-vendor.sh
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/architecture, triage/accepted

#114724 Do not log errors when ServiceHealthServer is closed normally
  pkg/proxy/healthcheck/common.go
  pkg/proxy/healthcheck/healthcheck_test.go
  pkg/proxy/healthcheck/service_health.go
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114977 fieldmanagertest: Reduce API surface of the test package
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanagertest/testfieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/capmanagers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/lastappliedmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/lastappliedupdater_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfieldsupdater_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/skipnonapplied_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/testing/testfieldmanager.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114960 Automated cherry pick of #114952: Improve vendor verification works for each staging repo
  hack/verify-vendor.sh
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/architecture, triage/accepted

#114732 Automated cherry pick of #114326: Add pod to dsw if termination is not completed during
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#114961 Automated cherry pick of #114952: Improve vendor verification works for each staging repo
  hack/verify-vendor.sh
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/architecture, triage/accepted

#112083 Automated cherry pick of #109694: Be sure to update the status of StatefulSet even if the new
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  test/integration/statefulset/statefulset_test.go
  test/integration/statefulset/util.go
Labels: kind/bug, area/test, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#114733 Automated cherry pick of #114326: Add pod to dsw if termination is not completed during
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#114818 Automated cherry pick of #113787: Update daemonSet status even if syncDaemonSet fails
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/daemonset/util.go
  test/integration/statefulset/util.go
Labels: kind/bug, area/test, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#114730 Automated cherry pick of #114326: Add pod to dsw if termination is not completed during
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#112084 Automated cherry pick of #109694: Be sure to update the status of StatefulSet even if the new
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  test/integration/statefulset/statefulset_test.go
  test/integration/statefulset/util.go
Labels: kind/bug, area/test, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#114521 Automated cherry pick of #113283: Fix SPDY proxy authentication with special chars
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#114519 Automated cherry pick of #113283: Fix SPDY proxy authentication with special chars
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#114370 encryption-at-rest: clean up context usage and duplicated code
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/controller/controller.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/controller/controller_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#114520 Automated cherry pick of #113283: Fix SPDY proxy authentication with special chars
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#114864 Cherry pick 114857 to release-1.25
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  vendor/github.com/google/cel-go/cel/program.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, area/dependency, triage/accepted

#114810 Automated cherry pick of #114782: Licensing: skip modules with fewer subdirs than mods
  hack/update-vendor-licenses.sh
Labels: kind/bug, kind/cleanup, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/release, ok-to-test, needs-triage, sig/k8s-infra

#114812 Automated cherry pick of #114782: Licensing: skip modules with fewer subdirs than mods
  hack/update-vendor-licenses.sh
Labels: kind/bug, kind/cleanup, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/release, ok-to-test, needs-triage, sig/k8s-infra

#114861 Cherry pick 114857 to release-1.26
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/google/cel-go/cel/program.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/S, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, area/dependency, triage/accepted

#114865 Cherry pick 114857 to release-1.24
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  vendor/github.com/google/cel-go/cel/program.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, area/dependency, triage/accepted

#114517 Automated cherry pick of #113283: Fix SPDY proxy authentication with special chars
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#114811 Automated cherry pick of #114782: Licensing: skip modules with fewer subdirs than mods
  hack/update-vendor-licenses.sh
Labels: kind/bug, kind/cleanup, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/release, ok-to-test, needs-triage, sig/k8s-infra

#114809 Automated cherry pick of #114782: Licensing: skip modules with fewer subdirs than mods
  hack/update-vendor-licenses.sh
Labels: kind/bug, kind/cleanup, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/release, ok-to-test, needs-triage, sig/k8s-infra

#114966 Bump Konnectivity to v0.0.35 in release-1.23
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/metrics/metrics.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/common/metrics/metrics.go
Labels: area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, size/S, kind/feature, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, sig/instrumentation, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#115002 kubeadm: remove the unused variable DefaultAuditPolicyLogMaxAge
  cmd/kubeadm/app/apis/kubeadm/v1beta3/defaults.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#114417 e2e: bring back total test spec for Ginkgo v2
  test/e2e/e2e_test.go
  test/e2e/reporters/progress.go
Labels: kind/bug, area/test, priority/important-soon, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/node, release-note, size/S, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/code-generation, sig/cloud-provider, area/e2e-test-framework, triage/accepted

#114783 e2e framework: consolidate timeouts and intervals
  test/e2e/cloud/gcp/resize_nodes.go
  test/e2e/e2e.go
  test/e2e/framework/framework.go
  test/e2e/framework/internal/unittests/framework_test.go
  test/e2e/framework/pod/wait.go
  test/e2e/framework/test_context.go
  test/e2e/framework/timeouts.go
  test/e2e/network/dns_scale_records.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/external/external.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
  test/e2e/storage/flexvolume_online_resize.go
  test/e2e/storage/framework/testdriver.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/pv_protection.go
  test/e2e/storage/pvc_protection.go
  test/e2e/storage/regional_pd.go
  test/e2e/storage/vsphere/pv_reclaimpolicy.go
  test/e2e/storage/vsphere/pvc_label_selector.go
  test/e2e/storage/vsphere/vsphere_volume_master_restart.go
  test/e2e/storage/vsphere/vsphere_volume_node_delete.go
  test/e2e/storage/vsphere/vsphere_volume_node_poweroff.go
  test/e2e/storage/vsphere/vsphere_volume_placement.go
  test/e2e/storage/vsphere/vsphere_volume_vpxd_restart.go
Labels: area/test, sig/network, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, needs-triage

#114647 Removing Legacy Job Tracking Code
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/indexed_job_utils_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  test/integration/job/job_test.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/XL, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#115010 releng: Update images, dependencies and version to Go 1.19.5
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage

#115011 [release-1.23] releng: Update images, dependencies and version to Go 1.19.5
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, area/provider/gcp, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#114883 deps: Bump cAdvisor to v0.47.1
  LICENSES/vendor/github.com/mindprince/gonvml/LICENSE
  go.mod
  go.sum
  hack/unwanted-dependencies.json
  pkg/kubelet/cadvisor/cadvisor_linux.go
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  vendor/github.com/google/cadvisor/accelerators/nvidia.go
  vendor/github.com/google/cadvisor/container/common/helpers.go
  vendor/github.com/google/cadvisor/container/factory.go
  vendor/github.com/google/cadvisor/info/v1/machine.go
  vendor/github.com/google/cadvisor/machine/info.go
  vendor/github.com/google/cadvisor/manager/container.go
  vendor/github.com/google/cadvisor/manager/manager.go
  vendor/github.com/google/cadvisor/metrics/prometheus.go
  vendor/github.com/mindprince/gonvml/.travis.gofmt.sh
  vendor/github.com/mindprince/gonvml/.travis.yml
  vendor/github.com/mindprince/gonvml/LICENSE
  vendor/github.com/mindprince/gonvml/Makefile
  vendor/github.com/mindprince/gonvml/NVML_NOTICE
  vendor/github.com/mindprince/gonvml/README.md
  vendor/github.com/mindprince/gonvml/bindings.go
  vendor/github.com/mindprince/gonvml/bindings_nocgo.go
  vendor/github.com/mindprince/gonvml/nvml.h
  vendor/github.com/moby/term/tc.go
  vendor/github.com/moby/term/term.go
  vendor/github.com/moby/term/termios.go
  vendor/github.com/moby/term/termios_bsd.go
  vendor/github.com/moby/term/termios_nonbsd.go
  vendor/github.com/moby/term/windows/ansi_reader.go
  vendor/github.com/moby/term/windows/ansi_writer.go
  vendor/github.com/moby/term/windows/console.go
  vendor/github.com/moby/term/winsize.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/config.go
  vendor/modules.txt
Labels: area/kubelet, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/cluster-lifecycle, release-note, size/L, kind/feature, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#114901 Fix gocritic lint errors for cmd/kubeadm/*
  .golangci.yaml
  cmd/kubeadm/app/cmd/util/cmdutil.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#114945 Automated cherry pick of #114914: Adjust DisruptionTarget condition message to do not include
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#114296 controller/nodelifecycle: Make monitorNodeHealth process nodes concurrently
  pkg/controller/nodelifecycle/metrics.go
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
Labels: kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#115029 update publishing rules to use go1.19.5
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#114947 Make seccomp annotations non-functional
  pkg/api/pod/util.go
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
Labels: lgtm, size/L, approved, cncf-cla: yes, kind/deprecation
