Repository kubernetes/kubernetes, pull requests merged in 2023-06, with the labels that each got.

#117930 kubectl: optimize usage message of commands which have subcommands.
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret.go
  staging/src/k8s.io/kubectl/pkg/util/templates/templater.go
  staging/src/k8s.io/kubectl/pkg/util/templates/templates.go
  test/cmd/help.sh
Labels: area/test, area/kubectl, lgtm, release-note, size/M, kind/feature, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#118279 Automated cherry pick of #118200: e2e: apply timeout for CSI Storage Capacity test only to node
  test/e2e/storage/csi_mock/csi_storage_capacity.go
Labels: area/test, lgtm, sig/storage, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118351 DRA test driver: GRPC calls
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/draplugin.go
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/noderegistrar.go
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/nonblockinggrpcserver.go
  test/e2e/dra/deploy.go
  test/e2e/dra/test-driver/app/gomega.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#118341 add pacoxu to kubeadm approvers
  cmd/kubeadm/OWNERS
  test/e2e/lifecycle/OWNERS
  test/e2e_kubeadm/OWNERS
Labels: area/test, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118219 Automated cherry pick of #117586: Add DisruptionTarget condition when preempting for critical
  pkg/kubelet/preemption/preemption.go
  test/e2e_node/critical_pod_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#118380 kubeadm: add deprecation message for UpgradeAddonsBeforeControlPlane feature gate
  cmd/kubeadm/app/features/features.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#117870 informer: fix race against Run and SetTransform/SetWatchErrorHandler
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, needs-priority, triage/accepted

#118388 Reinstate the azureFile in-tree storage plugin (revert removal)
  cmd/kube-controller-manager/app/plugins_providers.go
  cmd/kubelet/app/plugins_providers.go
  pkg/features/kube_features.go
  pkg/volume/azure_file/OWNERS
  pkg/volume/azure_file/azure_file.go
  pkg/volume/azure_file/azure_file_test.go
  pkg/volume/azure_file/azure_provision.go
  pkg/volume/azure_file/azure_util.go
  pkg/volume/azure_file/doc.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csimigration/plugin_manager.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, sig/api-machinery, size/XXL, release-note-none, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#118353 kubeadm: add command-line integration test to ensure that the supported etcd version is always available for the stable Kubernetes version
  cmd/kubeadm/test/cmd/config_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#118414 Fix errant debugging code in codegen
  staging/src/k8s.io/code-generator/kube_codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#118356 Add ephemeralcontainer to imagepolicy securityaccount admission plugin
  plugin/pkg/admission/imagepolicy/admission.go
  plugin/pkg/admission/imagepolicy/admission_test.go
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: kind/bug, lgtm, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#118433 chore: should use buf.String() instead of string(buf.Bytes())
  pkg/proxy/ipvs/proxier_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, area/ipvs, ok-to-test, needs-priority, needs-triage

#118442 Scheduler: fix code style issues for pkg/scheduler
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
  pkg/scheduler/framework/plugins/volumebinding/assume_cache.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/testing/wrappers.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118264 minor fix comments in netpol so its easy to understand the tests for newcomers, remove one misleading comment
  test/e2e/network/netpol/network_policy.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, needs-triage, area/network-policy

#118413 Adjust the algorithm for computing the pod finish time
  pkg/controller/job/backoff_utils.go
  pkg/controller/job/backoff_utils_test.go
  pkg/controller/job/job_controller.go
Labels: kind/bug, kind/cleanup, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#118443 kubectl: use bytes.Buffer.String
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrole_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/label/label_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_env_test.go
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/history.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#118404 better JUnit failure messages for golangci-lint and verify in general
  hack/make-rules/verify.sh
  hack/verify-golangci-lint-pr.sh
  hack/verify-golangci-lint.sh
  third_party/forked/shell2junit/sh2ju.sh
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#118451 Add mininumKubelet tag into ReadWriteOncePod test
  test/e2e/storage/testsuites/readwriteoncepod.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118282 Follow up from dynamic retryAfter
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/dropped_requests_tracker.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/dropped_requests_tracker_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#118467 Rename scheduler queue variables for consistency
  pkg/scheduler/internal/queue/scheduling_queue.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118330 storage: Implement TestWatchFromZero for cacher
  staging/src/k8s.io/apiserver/pkg/storage/testing/watcher_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#118486 chore: use strings.Contains instead
  test/e2e/framework/providers/gce/util.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, triage/accepted

#118281 Automated cherry pick of #118256: e2e framework retry on Service unavailable errors
  test/e2e/framework/get.go
Labels: area/test, priority/important-soon, lgtm, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#117948 Automated cherry pick of #117792: kubeadm: Use internal etcd client through an interface #117724: kubeadm: Make etcd member removal idempotent
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/util/etcd/etcd.go
  cmd/kubeadm/app/util/etcd/etcd_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/L, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#117916 Automated cherry pick of #117792: kubeadm: Use internal etcd client through an interface #117724: kubeadm: Make etcd member removal idempotent
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/util/etcd/etcd.go
  cmd/kubeadm/app/util/etcd/etcd_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/L, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#118192 Automated cherry pick of #117792: kubeadm: Use internal etcd client through an interface #117724: kubeadm: Make etcd member removal idempotent
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/util/etcd/etcd.go
  cmd/kubeadm/app/util/etcd/etcd_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/L, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#118362 Do not copy bytes for cached serializations
  staging/src/k8s.io/apimachinery/pkg/runtime/splice.go
  staging/src/k8s.io/apimachinery/pkg/runtime/splice_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/caching_object.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#118057 Automated cherry pick of #117792: kubeadm: Use internal etcd client through an interface #117724: kubeadm: Make etcd member removal idempotent
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/util/etcd/etcd.go
  cmd/kubeadm/app/util/etcd/etcd_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/L, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#118416 k8s.io/apiserver: remove skewed completion from EtcdOptions
  cmd/kube-apiserver/app/apiextensions.go
  cmd/kube-apiserver/app/server.go
  pkg/controlplane/instance_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/options/options.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/conversion/conversion_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/defaulting_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fixtures/server.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/objectmeta_test.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/recommended.go
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, needs-triage

#117423 Replace os.Setenv with testing.T.Setenv in tests
  test/conformance/image/go-runner/env_test.go
  test/integration/serving/serving_test.go
  test/integration/volumescheduling/volume_binding_test.go
  test/typecheck/main_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, ok-to-test, needs-priority, needs-triage

#118411 Remove enabled by default beta resources that have been removed
  test/integration/apiserver/no_new_betas_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114394 Document versioning of CRI API
  staging/src/k8s.io/cri-api/README.md
Labels: priority/important-soon, kind/documentation, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, lifecycle/stale, triage/accepted

#114760 kubelet/cm/containermap: Improving test coverage
  pkg/kubelet/cm/containermap/container_map_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#116742 kubelet PodResources API: follow-up review comments
  pkg/kubelet/apis/podresources/server_v1.go
  pkg/kubelet/apis/podresources/server_v1_test.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#118444 pkg/util/iptables: use buf.String() instead of string(buf.Bytes())
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
  pkg/util/iptables/testing/fake_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/S, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#118504 Fix SELinux contexts used in e2e tests
  test/e2e/storage/csi_mock/csi_selinux_mount.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#118510 e2e-framework: remove node-role.kubernetes.io/master taint from non-blocking-taints
  test/e2e/framework/test_context.go
Labels: area/test, kind/cleanup, lgtm, release-note, size/XS, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#118499 kube-proxy avoid race condition using LocalModeNodeCIDR
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_others_test.go
  pkg/proxy/node.go
  pkg/proxy/node_test.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#118253 Move `cri/streaming` to `k8s.io/kubelet` staging repository
  hack/testdata/levee/levee-config.yaml
  pkg/client/tests/portfoward_test.go
  pkg/client/tests/remotecommand_test.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  pkg/kubelet/server/server_websocket_test.go
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/kubelet/pkg/cri/streaming/.import-restrictions
  staging/src/k8s.io/kubelet/pkg/cri/streaming/errors.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/constants.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/httpstream.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/httpstream_test.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/portforward.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/websocket.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/portforward/websocket_test.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/attach.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/doc.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/exec.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/httpstream.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/websocket.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/request_cache.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/request_cache_test.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/server.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/server_test.go
  vendor/modules.txt
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/L, area/release-eng, approved, cncf-cla: yes, priority/important-longterm, sig/release, area/dependency, area/code-organization, sig/security, triage/accepted

#118471 Automated cherry pick of #118356: Add ephemeralcontainer to imagepolicy securityaccount
  plugin/pkg/admission/imagepolicy/admission.go
  plugin/pkg/admission/imagepolicy/admission_test.go
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: kind/bug, lgtm, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#118473 Automated cherry pick of #118356: Add ephemeralcontainer to imagepolicy securityaccount
  plugin/pkg/admission/imagepolicy/admission.go
  plugin/pkg/admission/imagepolicy/admission_test.go
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: kind/bug, lgtm, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#118474 Automated cherry pick of #118356: Add ephemeralcontainer to imagepolicy securityaccount
  plugin/pkg/admission/imagepolicy/admission.go
  plugin/pkg/admission/imagepolicy/admission_test.go
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: kind/bug, lgtm, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#118237 Delete CRDs created during field validation tests.
  test/e2e/apimachinery/field_validation.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#118489 chore: os.SEEK_END os.SEEK_SET and use b.Logf(...) instead of b.Log(f…
  test/integration/logs/benchmark/benchmark_test.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, ok-to-test, needs-priority, needs-triage, wg/structured-logging

#113050 [1.25] kubelet/stats: deduplicate makePodStorageStats
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/helper.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#118518 Automated cherry pick of #118515: kube-proxy avoid race condition using LocalModeNodeCIDR
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  pkg/proxy/node.go
  pkg/proxy/node_test.go
Labels: kind/bug, sig/network, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118515 Automated cherry pick of #118499: kube-proxy avoid race condition using LocalModeNodeCIDR
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  pkg/proxy/node.go
  pkg/proxy/node_test.go
Labels: kind/bug, sig/network, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118516 Automated cherry pick of #118515: kube-proxy avoid race condition using LocalModeNodeCIDR
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  pkg/proxy/node.go
  pkg/proxy/node_test.go
Labels: kind/bug, sig/network, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118517 Automated cherry pick of #118515: kube-proxy avoid race condition using LocalModeNodeCIDR
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  pkg/proxy/node.go
  pkg/proxy/node_test.go
Labels: kind/bug, sig/network, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118379 kube-apiserver/cmd: stratify construction to follow options/config/server pattern
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/config.go
  cmd/kube-apiserver/app/server.go
  cmd/kube-apiserver/app/testing/testserver.go
  pkg/controlplane/apiserver/.import-restrictions
  pkg/controlplane/apiserver/apiextensions.go
  pkg/controlplane/apiserver/config.go
  test/integration/etcd/server.go
  test/integration/examples/apiserver_test.go
  test/integration/framework/test_server.go
Labels: area/test, area/kubelet, kind/cleanup, area/apiserver, lgtm, sig/node, sig/api-machinery, size/XL, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/release, sig/security, triage/accepted

#114771 feature(scheduler_perf): distinguish result in scheduler_scheduling_attempt_duration_seconds metric result
  pkg/scheduler/metrics/profile_metrics.go
  test/integration/scheduler_perf/scheduler_perf_test.go
Labels: area/test, sig/scheduling, lgtm, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#117029 Add flag to prune PASSED subtests in junit xml and have top level tests
  cmd/prune-junit-xml/prunexml.go
  cmd/prune-junit-xml/prunexml_test.go
Labels: lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118531 storage: Add MadhavJivrajani as reviewer
  staging/src/k8s.io/apiserver/pkg/storage/OWNERS
Labels: priority/backlog, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-triage

#118524 Fix flaky persistent volumes e2e test
  test/e2e/storage/persistent_volumes-local.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#118498 re-send the shutdown signal in case the dbus restart is not done
  test/e2e_node/node_shutdown_linux_test.go
Labels: area/test, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#118507 [go] Bump images, versions and deps to use Go 1.20.5
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  go.sum
  staging/publishing/rules.yaml
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  test/images/Makefile
Labels: area/test, sig/network, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, release-note, size/L, kind/feature, area/release-eng, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#118541 bump distroless-iptables to v0.2.5
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118512 Automated cherry pick of #118356: Add ephemeralcontainer to imagepolicy securityaccount
  plugin/pkg/admission/imagepolicy/admission.go
  plugin/pkg/admission/imagepolicy/admission_test.go
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: kind/bug, lgtm, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#118143 deprecate CephFS plugin from available in-tree drivers.
  pkg/api/persistentvolume/util.go
  pkg/api/persistentvolume/util_test.go
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
Labels: priority/important-soon, lgtm, sig/storage, size/M, release-note-action-required, approved, cncf-cla: yes, kind/deprecation, triage/accepted

#118422 dryrun: Don't reuse current object for conversion
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/dryrun.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#118478 Promote test for StorageV1CSIDriver Endpoints + 3 Endpoints
  test/conformance/testdata/conformance.yaml
  test/e2e/storage/csi_inline.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, triage/accepted

#117079 kubelet/volumemanager: sort unmounted volumes in error message
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/kubelet/volumemanager/volume_manager_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, triage/accepted

#118547 Fix warnings on "duplicate" env vars
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118563 Return deprecation warning for storageOS,PhotonPD,ScaleIO..etc
  pkg/api/persistentvolume/util.go
  pkg/api/persistentvolume/util_test.go
Labels: kind/bug, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, api-review, triage/accepted

#114688 feature(schedule_one): use heap to find the highest score node
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
Labels: sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118115 kube-proxy: remove log warning about not using config file
  cmd/kube-proxy/app/server.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#118513 kube-proxy startup node IP detection
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_others_test.go
  cmd/kube-proxy/app/server_test.go
  cmd/kube-proxy/app/server_windows.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/winkernel/proxier.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, sig/windows, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#118548 Remove unreachable warning on volume name dup
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
  pkg/registry/batch/cronjob/strategy_test.go
  pkg/registry/batch/job/strategy_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118307 Automated cherry pick of #117169: supported version of etcd 3.5.7-0 for Kubernetes v1.27.0-rc.0
  cmd/kubeadm/app/constants/constants.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/cluster-lifecycle, release-note, size/XS, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-triage

#118338 move pkg/util/ipset inside pkg/proxy/ipvs
  cmd/kube-proxy/app/server_others.go
  pkg/proxy/ipvs/ipset.go
  pkg/proxy/ipvs/ipset/ipset.go
  pkg/proxy/ipvs/ipset/ipset_test.go
  pkg/proxy/ipvs/ipset/testing/fake.go
  pkg/proxy/ipvs/ipset/testing/fake_test.go
  pkg/proxy/ipvs/ipset/types.go
  pkg/proxy/ipvs/ipset_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/ipvs/safe_ipset.go
  pkg/proxy/ipvs/testing/util.go
  pkg/util/ipset/OWNERS
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/M, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#118591 Add SataQiu as a test/e2e/lifecycle approver
  test/e2e/lifecycle/OWNERS
Labels: area/test, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118595 Updates chairs, tech leads for sig cloud provider
  staging/src/k8s.io/legacy-cloud-providers/OWNERS
Labels: kind/cleanup, lgtm, area/cloudprovider, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#117702 feat: rename PodHasNetwork to PodReadyToStartContainers
  pkg/features/kube_features.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/status/generate.go
  pkg/kubelet/status/generate_test.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/types/constants.go
  pkg/kubelet/types/pod_status.go
  pkg/kubelet/types/pod_status_test.go
  test/e2e_node/pod_conditions_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#118095 remove unused pv informer from expand_controller
  cmd/kube-controller-manager/app/core.go
  pkg/controller/volume/expand/expand_controller.go
  pkg/controller/volume/expand/expand_controller_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#118329 Set the node-ips annotation correctly with CloudDualStackNodeIPs
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Labels: kind/bug, priority/important-soon, sig/network, area/kubelet, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, triage/accepted

#118481 Replace os.Setenv with testing.T.Setenv in tests
  staging/src/k8s.io/client-go/tools/clientcmd/loader_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#116530 undeprecate kubelet --provider-id flag
  cmd/kubelet/app/options/options.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/XS, kind/feature, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#116933 fix a typo in test/e2e/apimachinery/resource_quota.go
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/resource_quota.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, ok-to-test, needs-priority, triage/accepted

#117550 add --concurrent-cron-job-syncs flag for kube-controller-manager
  cmd/kube-controller-manager/app/options/cronjobcontroller.go
  cmd/kube-controller-manager/app/options/options_test.go
Labels: lgtm, release-note, size/S, kind/feature, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117964 Update --image-gc-low-threshold option's description
  cmd/kubelet/app/options/options.go
Labels: area/kubelet, kind/documentation, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#118055 Export DefaultServerUrlFor utility function
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/rest/url_utils.go
Labels: lgtm, sig/api-machinery, release-note, size/S, kind/api-change, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#118096 Remove undesired verbose fields from log
  pkg/kubelet/pleg/evented.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#118278 Update podFailurePolicy comment from alpha-level to beta
  pkg/apis/batch/types.go
Labels: kind/bug, priority/backlog, kind/documentation, lgtm, release-note, size/XS, kind/api-change, sig/apps, approved, cncf-cla: yes, api-review, triage/accepted, wg/batch

#118373 Remove unused `getSeccompProfilePath` helper function
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_linux_test.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#117793 use the cgroup aware OOM killer if available
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  test/e2e_node/oomkiller_linux_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/M, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, triage/accepted

#111992 cleanup: delete unused AuditDynamicOptions in apiserver
  staging/src/k8s.io/apiserver/pkg/server/options/audit.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#118157 Update typo in k8s.po in line 2170
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/it_IT/LC_MESSAGES/k8s.po
Labels: kind/bug, priority/backlog, kind/documentation, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#118342 Fix the flaky legacy_service_account_token_clean_up_test.
  test/integration/serviceaccount/legacy_service_account_token_clean_up_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#118629 Update publishing-bot rules for release branches to Go 1.19.10
  staging/publishing/rules.yaml
Labels: lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, needs-triage

#118620 Update Kind details for DRA e2e
  test/e2e/dra/README.md
  test/e2e/dra/kind-build-image.sh
Labels: area/test, kind/documentation, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#118460 Make etcd component status consistent with health probes
  pkg/registry/core/componentstatus/rest.go
  pkg/registry/core/componentstatus/rest_test.go
  pkg/registry/core/componentstatus/validator.go
  pkg/registry/core/componentstatus/validator_test.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/rest/storage_core_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/healthcheck.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#118574 DRA: E2E Node: test GRPC timeout
  test/e2e/dra/test-driver/app/gomega.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
  test/e2e_node/dra_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#118597 apf: refactor bootstrap ensure strategy
  pkg/registry/flowcontrol/ensurer/strategy.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118530 fix Cronjob status.lastSuccessfulTime not populated by a manually triggered job
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/S, approved, sig/cli, cncf-cla: yes, triage/accepted

#118479 Remove csidriver endpoints from pending_eligible_endpoints.yaml
  test/conformance/testdata/pending_eligible_endpoints.yaml
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, triage/accepted

#118606 refactor: simplify RunScorePlugins for readability + performance
  pkg/scheduler/framework/runtime/framework.go
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/scoring/priorities_test.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118128 remove helper function for unused storage feature in pkg/proxy/util
  cmd/kube-controller-manager/app/core.go
  cmd/kube-controller-manager/app/options/options_test.go
  cmd/kube-controller-manager/app/options/persistentvolumebindercontroller.go
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
  pkg/controller/volume/expand/expand_controller.go
  pkg/controller/volume/expand/expand_controller_test.go
  pkg/controller/volume/persistentvolume/config/types.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
  pkg/controller/volume/persistentvolume/volume_host.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/volume_host.go
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
  pkg/volume/plugins.go
  pkg/volume/testing/volume_host.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/types.go
  test/integration/volume/attach_detach_test.go
Labels: area/test, sig/network, area/kubelet, kind/cleanup, area/kube-proxy, lgtm, sig/storage, sig/node, sig/api-machinery, release-note, size/L, kind/api-change, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, kind/deprecation, triage/accepted

#118639 Update CLI help text for grammar and consistency
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/auth/auth.go
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/certificates.go
  staging/src/k8s.io/kubectl/pkg/cmd/completion/completion.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/config.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/set_cluster.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/set_credentials.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/view.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_ingress.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_docker.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_token.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/cmd/edit/edit.go
  staging/src/k8s.io/kubectl/pkg/cmd/events/events.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
  staging/src/k8s.io/kubectl/pkg/cmd/patch/patch.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout.go
  staging/src/k8s.io/kubectl/pkg/cmd/scale/scale.go
  staging/src/k8s.io/kubectl/pkg/cmd/taint/taint.go
  staging/src/k8s.io/kubectl/pkg/cmd/top/top.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#116910 Migrated pkg/controller/job to contextual logging
  cmd/kube-controller-manager/app/batch.go
  hack/logcheck.conf
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/indexed_job_utils_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/job/tracking_utils.go
  pkg/controller/job/tracking_utils_test.go
  test/integration/cronjob/cronjob_test.go
  test/integration/job/job_test.go
Labels: area/test, lgtm, sig/api-machinery, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted, wg/structured-logging

#116091 cleanup: remove ProbeTerminationGracePeriod feature tag on test
  test/e2e/common/node/container_probe.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, triage/accepted

#118603 e2e: deflake a HPA CPU test by stabilizing cpu consumption
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
Labels: area/test, lgtm, sig/autoscaling, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#115835 fix terminationGracePeriod blocked by preStop
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  test/e2e_node/container_lifecycle_test.go
Labels: kind/bug, area/test, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#117597 Added e2e_node test for sigkilled pods exit code and exit reason check
  test/e2e_node/pods_lifecycle_termination_test.go
Labels: area/test, kind/documentation, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#116894 kmsv2: add sanity checks and refine probing logic
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#118655 use ingress-gce-glbc v1.23.1 image for CI
  cluster/gce/manifests/glbc.manifest
Labels: lgtm, area/provider/gcp, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#118628 check before you sudo on AWS EC2 instances
  hack/make-rules/test-e2e-node.sh
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118665 DRA Node E2E: remove NodeFeature label
  test/e2e_node/dra_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#118666 Update container runtime flags to use containerd instead of docker
  test/e2e/framework/test_context.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#118668 Update pending_eligible_endpoints.yaml to match APISnoop
  test/conformance/testdata/pending_eligible_endpoints.yaml
Labels: priority/important-soon, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, triage/accepted

#117896 Mount utils spring cleaning and optimization
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/mount_helper_test.go
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/mount-utils/mount_helper_unix_test.go
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
  staging/src/k8s.io/mount-utils/mount_test.go
  staging/src/k8s.io/mount-utils/mount_windows.go
  staging/src/k8s.io/mount-utils/mount_windows_test.go
  staging/src/k8s.io/mount-utils/resizefs_linux.go
  staging/src/k8s.io/mount-utils/resizefs_linux_test.go
  staging/src/k8s.io/mount-utils/safe_format_and_mount_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#116746 Return name instead whole volume when error occurred in csi-translation
  staging/src/k8s.io/csi-translation-lib/translate.go
Labels: kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118585 Fix ginkgo noColor deprecation warning
  test/conformance/image/go-runner/cmd.go
  test/conformance/image/go-runner/cmd_test.go
  test/conformance/image/run_e2e.sh
  test/e2e/windows/README.md
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/S, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, ok-to-test, triage/accepted

#118420 Add warnings for big number of completions and parallelism
  pkg/api/job/warnings.go
  pkg/api/job/warnings_test.go
  pkg/registry/batch/cronjob/strategy.go
  pkg/registry/batch/cronjob/strategy_test.go
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
Labels: kind/bug, lgtm, release-note, size/L, kind/api-change, sig/apps, approved, cncf-cla: yes, needs-priority, api-review, needs-triage

#113504 AddOrUpdateTaintOnNode: if node does not exists, return an error
  pkg/controller/controller_utils_test.go
  pkg/controller/testutil/test_utils.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-triage

#116863 added known issue for 1.27 release
  CHANGELOG/CHANGELOG-1.27.md
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/docs, sig/release, triage/accepted

#117522 Added support for image credential provider for windows and arm64 on gce
  cluster/gce/config-common.sh
  cluster/gce/gci/configure.sh
  cluster/gce/util.sh
  cluster/gce/windows/configure.ps1
  cluster/gce/windows/k8s-node-setup.psm1
Labels: lgtm, area/provider/gcp, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/cloud-provider, triage/accepted

#118615 Cleanup job controller handling of backoff
  pkg/controller/job/backoff_utils.go
  pkg/controller/job/backoff_utils_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  test/integration/job/job_test.go
Labels: area/test, kind/cleanup, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118542 Updating names from webhookconversion to conversionwebhook for apiserver
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/metrics.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/metrics_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#118733 kubeadm: drop older etcd versions from kubeadm support
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/images/images_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#115982 Update toplogy keyset initialization
  pkg/volume/csi/nodeinfomanager/nodeinfomanager.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, lifecycle/stale, ok-to-test, needs-priority, needs-triage

#108075 Make use of `k8s.io/utils/pointer.Duration`
  pkg/controller/ttlafterfinished/ttlafterfinished_controller_test.go
  test/integration/certificates/duration_test.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#118743 Replace deprecated sets.Int with sets.Set[int] in Job integration tests
  test/integration/job/job_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118744 Set small DefaultJobPodFailureBackOff in Job integration tests
  test/integration/job/job_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118745 Fix race in logging expectations
  pkg/controller/controller_utils.go
  test/integration/daemonset/daemonset_test.go
Labels: kind/bug, area/test, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#118747 Do not prepull images for e2e-node jobs
  hack/make-rules/test-e2e-node.sh
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-triage

#114849 handle event errors caused due to terminating namespaces
  staging/src/k8s.io/client-go/tools/record/event.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#118721 DRA Node E2E: add NodeAlphaFeature to fix CI
  test/e2e_node/dra_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#118730 [UT] increase coverage ut for kubeadm/app/features
  cmd/kubeadm/app/features/features.go
  cmd/kubeadm/app/features/features_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#118759 Do not bump API requests backoff in the Job controller due to pod failures
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/cleanup, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#118552 deprecate RBD plugin from available in-tree drivers
  pkg/api/persistentvolume/util.go
  pkg/api/persistentvolume/util_test.go
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
Labels: lgtm, sig/storage, size/M, release-note-action-required, approved, cncf-cla: yes, priority/important-longterm, api-review, kind/deprecation, triage/accepted

#117903 feature(DynamicResources): return Skip in PreFilter
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
Labels: sig/scheduling, lgtm, sig/node, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#118763 Remove AdvancedAuditing feature gate.
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, kind/feature, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#118779 Add a connection backoff to talk to CRI impls
  pkg/kubelet/cri/remote/remote_image.go
  pkg/kubelet/cri/remote/remote_runtime.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, needs-triage

#118794 Refactor WithRequireLeader to make it part of the etcd store
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118774 deps: Bump to cAdvisor v0.47.2
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/container/crio/handler.go
  vendor/modules.txt
Labels: priority/important-soon, lgtm, sig/node, release-note, size/XS, kind/feature, approved, cncf-cla: yes, area/dependency, triage/accepted

#113994 certificate controller: use contextual logging
  cmd/kube-controller-manager/app/certificates.go
  hack/logcheck.conf
  pkg/controller/certificates/approver/sarapprove.go
  pkg/controller/certificates/certificate_controller.go
  pkg/controller/certificates/certificate_controller_test.go
  pkg/controller/certificates/cleaner/cleaner.go
  pkg/controller/certificates/rootcacertpublisher/publisher.go
  pkg/controller/certificates/signer/signer.go
  test/integration/certificates/controller_approval_test.go
  test/integration/certificates/duration_test.go
Labels: area/test, lgtm, area/logging, sig/api-machinery, release-note, size/L, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, priority/important-longterm, triage/accepted, wg/structured-logging

#118793 Test all cases for LIST request cache bypass
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#118403 storage: stop using deprecated io/ioutil
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_mounter_test.go
  pkg/volume/csi/csi_util_test.go
  pkg/volume/csi/fake/fake_client.go
  pkg/volume/metrics_du_test.go
  pkg/volume/projected/projected_test.go
  pkg/volume/util/atomic_writer.go
  pkg/volume/util/atomic_writer_test.go
  pkg/volume/util/fs/fs_windows_test.go
  pkg/volume/util/fsquota/common/quota_common_linux_impl.go
  pkg/volume/util/fsquota/project.go
  pkg/volume/util/fsquota/quota_linux_test.go
  pkg/volume/util/hostutil/hostutil_linux_test.go
  pkg/volume/util/io_util.go
  pkg/volume/util/nested_volumes_test.go
  pkg/volume/util/util.go
  pkg/volume/util/util_test.go
  pkg/volume/util/volumepathhandler/volume_path_handler.go
  pkg/volume/util/volumepathhandler/volume_path_handler_linux.go
Labels: kind/bug, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#118781 upgrade image addon-manager/kube-addon-manager:v9.1.6 to v9.1.7
  cluster/gce/manifests/kube-addon-manager.yaml
  test/kubemark/resources/manifests/kube-addon-manager.yaml
Labels: area/test, kind/cleanup, sig/scalability, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#118049 Unset gated podinfo InitialAttemptTimestamp in addToActiveQ
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/schedule_one.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#118754 fix metrics test with 1.16.0 prometheus client
  test/e2e_node/cpu_manager_metrics_test.go
  test/e2e_node/podresources_test.go
  test/e2e_node/resource_metrics_test.go
  test/e2e_node/topology_manager_metrics_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, triage/accepted

#118485 Use generics to simplify pkg/registry/flowcontrol/ensurer
  pkg/registry/flowcontrol/ensurer/flowschema.go
  pkg/registry/flowcontrol/ensurer/flowschema_test.go
  pkg/registry/flowcontrol/ensurer/prioritylevelconfiguration.go
  pkg/registry/flowcontrol/ensurer/prioritylevelconfiguration_test.go
  pkg/registry/flowcontrol/ensurer/strategy.go
  pkg/registry/flowcontrol/rest/storage_flowcontrol.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#115813 Introduce controller aliases for KCM and CCM
  cmd/cloud-controller-manager/.import-restrictions
  cmd/cloud-controller-manager/main.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/controllermanager_test.go
  cmd/kube-controller-manager/app/options/endpointslicemirroringcontroller.go
  cmd/kube-controller-manager/app/options/nodelifecyclecontroller.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/options/options_test.go
  cmd/kube-controller-manager/app/options/ttlafterfinishedcontroller.go
  cmd/kube-controller-manager/app/testing/testserver.go
  cmd/kube-controller-manager/names/controller_names.go
  staging/src/k8s.io/cloud-provider/app/builder.go
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
  staging/src/k8s.io/cloud-provider/app/controllermanager_test.go
  staging/src/k8s.io/cloud-provider/app/testing/testserver.go
  staging/src/k8s.io/cloud-provider/config/types.go
  staging/src/k8s.io/cloud-provider/names/controller_names.go
  staging/src/k8s.io/cloud-provider/options/kubecloudshared.go
  staging/src/k8s.io/cloud-provider/options/options.go
  staging/src/k8s.io/cloud-provider/options/options_test.go
  staging/src/k8s.io/cloud-provider/sample/basic_main.go
  staging/src/k8s.io/controller-manager/options/generic.go
  staging/src/k8s.io/controller-manager/options/generic_test.go
  staging/src/k8s.io/controller-manager/pkg/leadermigration/config/default.go
  staging/src/k8s.io/controller-manager/pkg/leadermigration/migrator_test.go
  staging/src/k8s.io/controller-manager/pkg/leadermigration/options/options_test.go
  vendor/modules.txt
Labels: priority/backlog, kind/cleanup, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/XXL, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#118765 Do not set jm.syncJobBatchPeriod=0 if not needed
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#117064 storage class assignment should not ignore errors
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/volume/util/storageclass.go
Labels: kind/bug, lgtm, sig/storage, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#118825 Update metric documentation
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
Labels: area/test, kind/cleanup, lgtm, size/XL, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#118827 Fix stable metric finder for NewDesc with custom import name
  test/instrumentation/decode_metric.go
  test/instrumentation/find_stable_metric.go
  test/instrumentation/main_test.go
Labels: kind/bug, area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage

#118497 Proceed with deletion of rejected pods after Kubelet restart
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/status/status_manager.go
  test/e2e_node/restart_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#118821 Automated cherry pick of #118049: Unset gated pod info timestamp in addToActiveQ
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/schedule_one.go
Labels: kind/bug, priority/important-soon, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#118637 Details added in kubectl explain help
  staging/src/k8s.io/kubectl/pkg/cmd/explain/explain.go
Labels: kind/bug, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage
