Repository kubernetes/kubernetes, pull requests merged in 2023-10, with the labels that each got.

#119303 fixes the issue in the documentation of kubectl events
  staging/src/k8s.io/kubectl/pkg/cmd/events/events.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#120829 iptables proxy test cleanups, moving away from assertIPTablesRulesEqual
  pkg/proxy/iptables/proxier_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/XXL, release-note-none, approved, cncf-cla: yes, priority/important-longterm, needs-triage

#120843 Add metrics to the allocators repair loops
  pkg/registry/core/service/ipallocator/controller/metrics.go
  pkg/registry/core/service/ipallocator/controller/repair.go
  pkg/registry/core/service/ipallocator/controller/repair_test.go
  pkg/registry/core/service/portallocator/controller/metrics.go
  pkg/registry/core/service/portallocator/controller/repair.go
  pkg/registry/core/service/portallocator/controller/repair_test.go
Labels: sig/network, kind/documentation, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/instrumentation, needs-priority, needs-triage

#120935 bump etcd cluster image to 3.5.9
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, area/release-eng, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#120335 scheduler_perf: show name of one pending pod in log
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/integration/scheduler_perf/util.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#120339 scheduler_perf: use different log names for different DRA drivers
  test/integration/scheduler_perf/dra_test.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119485 e2e_apps: stop using deprecated framework.ExpectEqual
  test/e2e/apps/controller_revision.go
  test/e2e/apps/cronjob.go
  test/e2e/apps/daemon_set.go
  test/e2e/apps/deployment.go
  test/e2e/apps/disruption.go
  test/e2e/apps/job.go
  test/e2e/apps/rc.go
  test/e2e/apps/replica_set.go
  test/e2e/apps/statefulset.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#120222 apf: manage request queue wait with context in APF Filter
  pkg/controlplane/apiserver/config.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/recommended.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/borrowing_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/gen_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/max_seats_test.go
  test/integration/apiserver/flowcontrol/fight_test.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#120980 reflector: close an established watcher when the StopCh was closed
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#120542 Apimeta Set/RemoveStatusCondition: Indicate change
  staging/src/k8s.io/apimachinery/pkg/api/meta/conditions.go
  staging/src/k8s.io/apimachinery/pkg/api/meta/conditions_test.go
Labels: lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#120971 integration/apimachinery: add TestReflectorWatchListFallback integration test
  test/integration/apimachinery/watchlist_test.go
Labels: area/test, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#118299 KEP-2305: introduce allow-metric-labels-manifest
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/metrics/metric.go
  staging/src/k8s.io/component-base/metrics/options.go
  staging/src/k8s.io/component-base/metrics/opts.go
  staging/src/k8s.io/component-base/metrics/registry.go
Labels: lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, area/dependency, triage/accepted

#120984 reflector: fallback to the previous mode on any error
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_watchlist_test.go
Labels: lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#120822 update rules to switch from deprecated dir field
  hack/verify-publishing-bot.py
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#120958 Automated cherry pick of #120935: bump etcd cluster image to 3.5.9
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: kind/cleanup, area/etcd, lgtm, sig/api-machinery, size/XS, area/release-eng, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#120729 k8s.io/client-go/tools/[events|record]: support context
  hack/logcheck.conf
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
  staging/src/k8s.io/client-go/tools/events/event_broadcaster_test.go
  staging/src/k8s.io/client-go/tools/events/event_recorder.go
  staging/src/k8s.io/client-go/tools/events/eventseries_test.go
  staging/src/k8s.io/client-go/tools/events/fake.go
  staging/src/k8s.io/client-go/tools/events/interfaces.go
  staging/src/k8s.io/client-go/tools/internal/events/interfaces.go
  staging/src/k8s.io/client-go/tools/record/event.go
  staging/src/k8s.io/client-go/tools/record/event_test.go
  staging/src/k8s.io/client-go/tools/record/fake.go
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/instrumentation, triage/accepted

#120985 [StructuredAuthorizationConfiguration] Fix the level at which authorizer name is surfaced
  pkg/kubeapiserver/options/authorization.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, kind/api-change, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, needs-triage

#120959 e2e: remove redundant spaces in test names
  hack/conformance/check_conformance_test_requirements.go
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/custom_resource_definition.go
  test/e2e/apps/rc.go
  test/e2e/apps/replica_set.go
  test/e2e/auth/service_accounts.go
  test/e2e/common/node/runtimeclass.go
  test/e2e/kubectl/kubectl.go
  test/e2e/kubectl/logs.go
  test/e2e/network/dns.go
  test/e2e/network/ingressclass.go
  test/e2e/network/proxy.go
  test/e2e/network/service.go
  test/e2e/network/service_latency.go
  test/e2e/node/pre_stop.go
  test/e2e/scheduling/predicates.go
  test/e2e/storage/csistoragecapacity.go
  test/e2e/storage/local_volume_resize.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/vsphere/vsphere_scale.go
  test/e2e/windows/volumes.go
  test/e2e_node/container_lifecycle_test.go
  test/e2e_node/standalone_test.go
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, sig/scheduling, lgtm, sig/storage, sig/node, sig/api-machinery, size/L, release-note-none, sig/auth, sig/apps, approved, sig/windows, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, sig/architecture, area/conformance, triage/accepted

#120998 convert pointer to ptr for job controller
  pkg/controller/job/backoff_utils.go
  pkg/controller/job/backoff_utils_test.go
  pkg/controller/job/indexed_job_utils_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/job/pod_failure_policy_test.go
Labels: kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#120713 Add package-level godoc to pkg/kubelet/cm
  pkg/kubelet/cm/doc.go
Labels: priority/backlog, area/kubelet, kind/documentation, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#121008 Make a certain ipv4-vs-ipv6 config error non-fatal, for backward compat
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_test.go
Labels: kind/bug, priority/important-soon, sig/network, area/kube-proxy, lgtm, release-note, size/M, approved, cncf-cla: yes, kind/regression, needs-triage

#120975 Close websocket heartbeat explicitly when unexpected closure received
  staging/src/k8s.io/client-go/tools/remotecommand/websocket.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#120400 cluster-bootstrap: address constant-time problems as in NCC-E003660-TTV
  staging/src/k8s.io/cluster-bootstrap/token/util/helpers.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, cncf-cla: yes, priority/important-longterm, sig/security, triage/accepted

#120956 kubeadm: increase ut converage for bootstraptoken/clusterinfo
  cmd/kubeadm/app/phases/bootstraptoken/clusterinfo/clusterinfo_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#120968 Remove an e2e test specific to kubeup clusters - Part One
  test/e2e/framework/providers/gce/firewall.go
  test/e2e/network/firewall.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#121015 Add nil checks for hpa object target type values
  pkg/controller/podautoscaler/horizontal.go
Labels: kind/bug, lgtm, sig/autoscaling, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#120814 Fix AddUpdateAPIService for openapiv2
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator_test.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/downloader.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go
  test/integration/apiserver/openapi/openapi_apiservice_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, kind/regression, triage/accepted

#121021 [go] Bump images, dependencies and versions to go 1.21.2
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121028 kubelet: cloud-provider external addresses
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, kind/documentation, lgtm, sig/node, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/cloud-provider, needs-triage

#120828 kubeadm: fix the bug that kubeadm always do CRI detection when --config is passed even if it is not required by the subcommand
  cmd/kubeadm/app/cmd/certs.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/kubeconfig.go
  cmd/kubeadm/app/cmd/reset.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/cmd/upgrade/diff.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/preflight/checks_test.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/config/joinconfiguration.go
  cmd/kubeadm/app/util/config/joinconfiguration_test.go
  cmd/kubeadm/app/util/config/resetconfiguration.go
  cmd/kubeadm/app/util/config/resetconfiguration_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/L, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#121020 kubeadm: Optimize the logic to override the arguments
  cmd/kubeadm/app/util/arguments.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#120925 use generic sets in scheduler
  pkg/scheduler/apis/config/v1/default_plugins.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
Labels: priority/backlog, kind/cleanup, sig/scheduling, lgtm, sig/node, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#119735 Do not fail volume attach or publish operation at kubelet if target path directory already exists on the node.
  pkg/util/filesystem/defaultfs.go
  pkg/volume/csi/csi_attacher.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, approved, cncf-cla: yes, ok-to-test, needs-triage

#120595 Mark a volume as uncertain-attached after detach error
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/S, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#120819 e2e: set liveness probe timeout seconds for conformance test
  test/e2e/common/node/container_probe.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#121045 kubeadm: fix wrong ut for util/etcd
  cmd/kubeadm/app/util/etcd/etcd_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#121051 fix incorrect Consistently due to missing assignment when create a newAsyncAssertion
  test/e2e/framework/expect.go
Labels: kind/bug, area/test, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#119915 Add a kubectl rollout undo e2e test
  test/e2e/kubectl/rollout.go
  test/e2e/testing-manifests/kubectl/httpd-deployment1.yaml.in
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121025 [release-1.28] [go] Bump images, versions and deps to use Go 1.20.9
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121022 [release-1.25] [go] Bump images, versions and deps to use Go 1.20.9
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121024 [release-1.27] [go] Bump images, versions and deps to use Go 1.20.9
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, kind/cleanup, lgtm, release-note, size/M, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121023 [release-1.26] [go] Bump images, versions and deps to use Go 1.20.9
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121071 Update publishing-bot rules for active release branches that uses go1.20 to Go 1.20.9
  staging/publishing/rules.yaml
Labels: lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#121054 kubeadm: clean up unnecessary references to UnknownCRISocket
  cmd/kubeadm/app/cmd/certs.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/config_test.go
  cmd/kubeadm/app/cmd/kubeconfig.go
  cmd/kubeadm/app/cmd/kubeconfig_test.go
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/token_test.go
  cmd/kubeadm/app/cmd/util/cmdutil.go
  cmd/kubeadm/app/preflight/checks_test.go
  cmd/kubeadm/app/util/config/cluster_test.go
  cmd/kubeadm/app/util/config/initconfiguration_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#116885 Migrated `pkg/scheduler/framework/plugins/examples/` to use contextual logging
  pkg/scheduler/framework/plugins/examples/multipoint/multipoint.go
  pkg/scheduler/framework/plugins/examples/prebind/prebind.go
  pkg/scheduler/framework/plugins/examples/stateful/stateful.go
Labels: kind/cleanup, sig/scheduling, lgtm, area/logging, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-kind, needs-priority, triage/accepted, wg/structured-logging

#121029 Automated cherry pick of #121008: Make a certain ipv4-vs-ipv6 config error non-fatal, for
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_test.go
Labels: kind/bug, priority/critical-urgent, priority/important-soon, sig/network, area/kube-proxy, lgtm, size/M, cherry-pick-approved, approved, cncf-cla: yes, kind/regression, triage/accepted

#119443 kubectl: ensure '--duration' must be positive for 'kubectl create token' command
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_token.go
Labels: kind/bug, kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#120046 Optimize test for scalability by using `GetBoundedReadySchedulableNodes()`
  test/e2e/network/dual_stack.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#121101 hack: fix update of golangci-lint verify scripts
  hack/make-rules/verify.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#121064 e2e_apimachinery: stop using deprecated framework.ExpectEqual
  test/e2e/apimachinery/webhook.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#120871 k8s.io/dynamic-resource-allocation: fix potential scheduling deadlock
  staging/src/k8s.io/dynamic-resource-allocation/controller/controller.go
  staging/src/k8s.io/dynamic-resource-allocation/controller/controller_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, triage/accepted

#120868 k8s.io/dynamic-resource-allocation: fix compatibility with Kubernetes 1.27
  staging/src/k8s.io/dynamic-resource-allocation/controller/controller.go
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/resourceclaim/resourceclaim.go
Labels: kind/bug, priority/important-soon, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, kind/failing-test, triage/accepted

#119176 nodeports: scheduler queueing hints
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
  pkg/scheduler/framework/plugins/nodeports/node_ports_test.go
Labels: sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121072 Fix regression in cmd/kube-proxy/app unit test speed
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_test.go
Labels: kind/bug, priority/important-soon, sig/network, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-triage

#121109 Update SECURITY_CONTACTS
  SECURITY_CONTACTS
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#121110 kube-apiserver: use only one client in apiserver controllers
  pkg/controlplane/instance.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#120460 skip the reason check for OOM reason test if it will fail
  test/e2e_node/oomkiller_linux_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#120147 Move mount warnings to info logs for normal expected paths
  staging/src/k8s.io/mount-utils/mount_helper_common.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#120788 kubeadm: Remove the support of configurable component configs
  cmd/kubeadm/app/cmd/upgrade/plan.go
  cmd/kubeadm/app/componentconfigs/configset.go
  cmd/kubeadm/app/componentconfigs/fakeconfig_test.go
Labels: lgtm, sig/cluster-lifecycle, size/L, release-note-action-required, approved, area/kubeadm, cncf-cla: yes, needs-priority, kind/deprecation, needs-triage

#119791 Hardening LB SourceRanges filtering for IPVS proxier
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, size/M, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#121149 [go] Bump images, dependencies and versions to go 1.21.3
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121044 [KEP-3085]: check PodReadyToStartContainers condition after gracefulshutdown
  test/e2e_node/node_shutdown_linux_test.go
Labels: area/test, lgtm, sig/node, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#120206 cleanup: add defaulting for job manual selector
  pkg/apis/batch/fuzzer/fuzzer.go
  pkg/apis/batch/v1/defaults.go
  pkg/apis/batch/v1/defaults_test.go
  pkg/registry/batch/job/storage/storage_test.go
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage

#120666 AttachDetachControllerConfiguration.ReconcilerSyncLoopPeriod default value comment fix
  pkg/controller/volume/attachdetach/config/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/types.go
Labels: lgtm, sig/storage, size/XS, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, needs-triage

#119479 implement secret empty string value integration test
  test/integration/secrets/secrets_test.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121116 KCCM: fix GCP ILB by reintroducing readiness predicate for eTP:Local
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, sig/network, lgtm, area/cloudprovider, release-note, size/XS, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#120808 Adding option to configure UDP timeouts for conntrack
  cmd/kube-proxy/app/conntrack.go
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/after/v1alpha1.yaml
  pkg/proxy/apis/config/scheme/testdata/KubeProxyConfiguration/roundtrip/default/v1alpha1.yaml
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/apis/config/validation/validation.go
  pkg/proxy/apis/config/validation/validation_test.go
  pkg/proxy/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/zz_generated.deepcopy.go
Labels: sig/network, area/kube-proxy, lgtm, sig/api-machinery, release-note, size/M, kind/api-change, kind/feature, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#118729 Fix endpoint-related names to use consistent singular/plural
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/service_test.go
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, sig/windows, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#119665 Perf optimization: GetPodQOS() returns persisted value of PodStatus.QOSClass, if set.
  pkg/apis/core/helper/qos/qos.go
  pkg/apis/core/v1/helper/qos/qos.go
  pkg/apis/core/v1/helper/qos/qos_test.go
  pkg/apis/core/validation/validation.go
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/util/qos/qos.go
Labels: area/test, area/kubelet, kind/cleanup, sig/scheduling, area/kubectl, lgtm, sig/node, sig/api-machinery, release-note, size/M, sig/apps, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#121170 Switch to newer cos-gpu-installer - v2.1.9
  test/e2e/testing-manifests/scheduling/nvidia-driver-installer.yaml
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121037 Automated cherry pick of #121015: Add nil checks for hpa object target type values
  pkg/controller/podautoscaler/horizontal.go
Labels: kind/bug, lgtm, sig/autoscaling, size/XS, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#121038 Automated cherry pick of #121015: Add nil checks for hpa object target type values
  pkg/controller/podautoscaler/horizontal.go
Labels: kind/bug, lgtm, sig/autoscaling, size/XS, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#121172 kubeadm: remove AlphaDisclaimer for certs phases
  cmd/kubeadm/app/cmd/phases/init/certs.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#121150 [release-1.25] [go] Bump images, dependencies and versions to go 1.20.10
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121087 Automated cherry pick of #120595: Mark a volume as uncertain-attached after detach error
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, lgtm, sig/storage, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#121151 [release-1.26] [go] Bump images, dependencies and versions to go 1.20.10
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121080 Automated cherry pick of #120595: Mark a volume as uncertain-attached after detach error
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, lgtm, sig/storage, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#121152 [release-1.27] [go] Bump images, dependencies and versions to go 1.20.10
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121079 Automated cherry pick of #120595: Mark a volume as uncertain-attached after detach error
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, lgtm, sig/storage, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#121153 [release-1.28] [go] Bump images, dependencies and versions to go 1.20.10
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#121175 Switch to newer cos-gpu-installer - v2.1.9
  test/e2e/testing-manifests/scheduling/nvidia-driver-installer.yaml
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119882 podresources: e2e: force eager connection
  pkg/kubelet/apis/podresources/client.go
  test/e2e_node/device_manager_test.go
  test/e2e_node/memory_manager_test.go
  test/e2e_node/podresources_test.go
  test/e2e_node/util.go
Labels: area/test, area/kubelet, kind/cleanup, lgtm, sig/node, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#120825 kubeadm: adjust kubeadm skew policy for upgrades
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/upgrade/policy.go
  cmd/kubeadm/app/phases/upgrade/policy_test.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#121040 Automated cherry pick of #120814: Fix 120758 - prevent cache Load on uninitialized spec
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator_test.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/downloader.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go
  test/integration/apiserver/openapi/openapi_apiservice_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, kind/regression, triage/accepted

#121112 Automated cherry pick of #121015: Add nil checks for hpa object target type values
  pkg/controller/podautoscaler/horizontal.go
Labels: kind/bug, lgtm, sig/autoscaling, size/XS, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#121142 Fix concurrent map writes on missing PVC creation in StatefulSet controller
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Labels: kind/bug, lgtm, release-note, size/XS, sig/apps, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#120562 Add govulncheck script to expose go vulnerabilities
  hack/verify-govulncheck.sh
Labels: lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, sig/security, needs-triage

#120892 Write e2e test for PersistentVolumeStatus & PersistentVolumeClaimStatus Endpoints +6 Endpoints
  test/e2e/storage/persistent_volumes.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#120976 Fix API docs for audit APIs
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/types.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/generated.proto
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/types.go
Labels: priority/backlog, kind/documentation, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, sig/docs, area/code-generation, api-review, triage/accepted

#119877 cleanup: extract generateSelector from Validate method in job strategy
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
Labels: kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#121159 k8s.io/apiserver/storage/etcd: refactor getCurrentState.
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, triage/accepted

#119659 [KEP-3085] Promote PodReadyToStartContainers to beta in 1.29
  pkg/features/kube_features.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/status/generate.go
  pkg/kubelet/status/generate_test.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/types/constants.go
  pkg/kubelet/types/pod_status.go
  pkg/kubelet/types/pod_status_test.go
  staging/src/k8s.io/api/core/v1/types.go
  test/e2e_node/pod_conditions_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/M, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, priority/important-longterm, api-review, triage/accepted

#121189 [KMSv2] chore: updates api doc
  staging/src/k8s.io/kms/apis/v2/api.pb.go
  staging/src/k8s.io/kms/apis/v2/api.proto
Labels: kind/documentation, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#121191 Update busybox SHA based image to match tag - 1.36.1-1
  test/e2e_node/image_id_test.go
  test/e2e_node/image_list.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121120 Prevent rapid reset http2 DOS on API server
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#121196 Prevent rapid reset http2 DOS on API server (disabled by default)
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#121199 Automated cherry pick of #121196: Prevent rapid reset http2 DOS on API server
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#121201 Automated cherry pick of #121196: Prevent rapid reset http2 DOS on API server
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#121204 Automated cherry pick of #121203: Skip TestUnauthenticatedHTTP2ClientConnectionClose http1
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121195 Add rundir folder to gitignore
  .gitignore
Labels: kind/bug, priority/critical-urgent, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#121203 Skip TestUnauthenticatedHTTP2ClientConnectionClose http1 tests
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121200 Automated cherry pick of #121196: Prevent rapid reset http2 DOS on API server
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#121136 kubeadm: using struct option rather than a long list of parameters
  cmd/kubeadm/app/cmd/certs.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/kubeconfig.go
  cmd/kubeadm/app/cmd/reset.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/upgrade/diff.go
  cmd/kubeadm/app/preflight/checks_test.go
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/config/joinconfiguration.go
  cmd/kubeadm/app/util/config/joinconfiguration_test.go
  cmd/kubeadm/app/util/config/resetconfiguration.go
  cmd/kubeadm/app/util/config/resetconfiguration_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#120990 APF: fix data race in unit tests
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#121216 Bump distroless-iptables to v0.4.1
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121158 k8s.io/apiserver/storage: add some ResourceVersion validation in GetList unit tests.
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#121096 add rest of accessors to common.Schema
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/adaptor.go
  staging/src/k8s.io/apiserver/pkg/cel/common/adaptor.go
  staging/src/k8s.io/apiserver/pkg/cel/openapi/adaptor.go
  staging/src/k8s.io/apiserver/pkg/cel/openapi/extensions.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#121001 ValidatingAdmissionPolicy: typed variables support.
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/composition.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/composition_test.go
  test/e2e/apimachinery/validatingadmissionpolicy.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#121224 Register UnauthenticatedHTTP2DOSMitigation into kube components
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#121228 Automated cherry pick of #121224: Register UnauthenticatedHTTP2DOSMitigation into kube
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121225 Automated cherry pick of #121224: Register UnauthenticatedHTTP2DOSMitigation into kube
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#115702 Fix: kubelet will not output logs after log file is rotated
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#119566 cri-api: add CRI implementation maintainers as approvers
  OWNERS_ALIASES
  staging/src/k8s.io/cri-api/OWNERS
Labels: kind/documentation, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#100448 Do not error log CRI stats for not cached partitions
  pkg/kubelet/stats/cri_stats_provider.go
Labels: kind/bug, priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, triage/accepted

#117411 quantity: Add multiplication methods
  staging/src/k8s.io/apimachinery/pkg/api/resource/amount.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/amount_test.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go
  staging/src/k8s.io/apimachinery/pkg/api/resource/quantity_test.go
Labels: lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, help wanted, cncf-cla: yes, needs-priority, triage/accepted, wg/batch

#118121 fixed typo in get-kube.sh
  cluster/get-kube.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#118806 Error Typofix
  staging/src/k8s.io/csi-translation-lib/translate_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#119063 Remove reference to `RUNTIME` variable in `build/root/Makefile`
  build/root/Makefile
Labels: kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#119100 Remove GA featuregate about JobTrackingWithFinalizers in 1.28
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, release-note, size/S, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#120192 Remove GAed feature gates CronJobTimeZone, JobMutableNodeSchedulingDirectives and LegacyServiceAccountTokenNoAutoGeneration
  pkg/features/kube_features.go
Labels: kind/cleanup, sig/scheduling, lgtm, release-note, size/M, sig/auth, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#120874 fix DevicePluginProbe node-e2e: pod and kubelet restarts
  test/e2e_node/device_plugin_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#121129 remove deprecated framework.ExpectEqual
  test/e2e/framework/expect.go
  test/e2e/framework/log_test.go
  test/e2e/framework/node/helper.go
  test/e2e/framework/security/apparmor.go
  test/e2e/framework/timer/timer_test.go
  test/e2e/framework/util.go
  test/e2e/framework/volume/fixtures.go
  test/e2e_node/container_manager_test.go
  test/e2e_node/density_test.go
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/memory_manager_test.go
  test/e2e_node/node_shutdown_linux_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#121182 Update publishing-bot rules for active release branches that uses go120 to Go 1.20.10
  staging/publishing/rules.yaml
Labels: lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#120274 kube-proxy config/CLI doc fixups
  cmd/kube-proxy/app/server.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/zz_generated.deepcopy.go
Labels: sig/network, kind/documentation, kind/cleanup, area/kube-proxy, lgtm, release-note, size/L, kind/api-change, approved, cncf-cla: yes, priority/important-longterm, area/code-generation, needs-triage

#118768 Fail validation if container restart policy is 'Never' and resource resize restart policy isn't 'NotRequired'
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/node, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, api-review, triage/accepted

#120503 Rename request body size metric to conform with Prometheus best practices
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, needs-priority, triage/accepted

#120606 replace hardcode with exists variable
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/validatingadmissionpolicystatus.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#117859 bump dependencies: github.com/godbus/dbus/v5 to v5.1.0
  go.mod
  go.sum
  vendor/github.com/godbus/dbus/v5/auth.go
  vendor/github.com/godbus/dbus/v5/conn.go
  vendor/github.com/godbus/dbus/v5/conn_other.go
  vendor/github.com/godbus/dbus/v5/dbus.go
  vendor/github.com/godbus/dbus/v5/doc.go
  vendor/github.com/godbus/dbus/v5/escape.go
  vendor/github.com/godbus/dbus/v5/export.go
  vendor/github.com/godbus/dbus/v5/homedir.go
  vendor/github.com/godbus/dbus/v5/homedir_dynamic.go
  vendor/github.com/godbus/dbus/v5/homedir_static.go
  vendor/github.com/godbus/dbus/v5/message.go
  vendor/github.com/godbus/dbus/v5/server_interfaces.go
  vendor/github.com/godbus/dbus/v5/sig.go
  vendor/github.com/godbus/dbus/v5/transport_unix.go
  vendor/github.com/godbus/dbus/v5/transport_zos.go
  vendor/github.com/godbus/dbus/v5/variant.go
  vendor/modules.txt
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, ok-to-test, needs-priority, area/dependency, needs-triage

#118006 dependencies: update github.com/ishidawataru/sctp
  go.mod
  go.sum
  vendor/github.com/ishidawataru/sctp/.travis.yml
  vendor/github.com/ishidawataru/sctp/NOTICE
  vendor/github.com/ishidawataru/sctp/ipsock_linux.go
  vendor/github.com/ishidawataru/sctp/sctp.go
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/github.com/ishidawataru/sctp/sctp_unsupported.go
  vendor/modules.txt
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, ok-to-test, needs-priority, area/dependency, needs-triage

#120518 kubelet: fix metric `container_start_time_seconds` timestamp
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
  test/e2e_node/resource_metrics_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, sig/instrumentation, sig/testing, triage/accepted

#120861 remove RetroactiveDefaultStorageClass feature gate
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/storage, release-note, size/S, approved, cncf-cla: yes, needs-priority, needs-triage

#120978 Fixs a validation error in teh admission registration API
  pkg/apis/admissionregistration/validation/validation.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#121242 Work around bug in gcloud when downloading logs
  cluster/log-dump/log-dump.sh
Labels: kind/bug, sig/scalability, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121237 fixed miscalled function in addon-manager `kube-addons.sh`
  cluster/addons/addon-manager/kube-addons.sh
Labels: kind/bug, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#121239 kubeadm: fix unnecessary namespace field for clusterrole
  cmd/kubeadm/app/phases/bootstraptoken/node/tlsbootstrap.go
Labels: kind/bug, priority/backlog, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#121230 kubeadm: fill with the DefaultCRISocket when CRI socket detection is not required
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubeadm/app/util/config/resetconfiguration.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#121249 fix invalid log calls
  cmd/kubeadm/app/features/features.go
  staging/src/k8s.io/code-generator/cmd/prerelease-lifecycle-gen/prerelease-lifecycle-generators/status.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
  test/images/sample-device-plugin/sampledeviceplugin.go
Labels: kind/bug, area/test, lgtm, area/cloudprovider, sig/api-machinery, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, sig/testing, area/code-generation, sig/cloud-provider, needs-priority, needs-triage

#121227 Automated cherry pick of #121224: Register UnauthenticatedHTTP2DOSMitigation into kube
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121226 Automated cherry pick of #121224: Register UnauthenticatedHTTP2DOSMitigation into kube
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#119946 kubeadm: FeatureGate MergeCLIArgumentsWithConfig is added for ignorePreflightErrors
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/init_test.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/join_test.go
  cmd/kubeadm/app/cmd/reset.go
  cmd/kubeadm/app/cmd/reset_test.go
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/features/features.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/L, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#121186 Automated cherry pick of #121142: Modify test PVC to detect concurrent map write bug
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Labels: kind/bug, priority/critical-urgent, lgtm, release-note, size/XS, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#121131 Automated cherry pick of #119732: Fix to honor PDB with an empty selector `{}`
  pkg/registry/core/pod/storage/eviction.go
  pkg/registry/core/pod/storage/eviction_test.go
Labels: kind/bug, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#121187 Automated cherry pick of #121142: Modify test PVC to detect concurrent map write bug
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Labels: kind/bug, priority/critical-urgent, lgtm, release-note, size/XS, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#121185 Automated cherry pick of #121142: Modify test PVC to detect concurrent map write bug
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
Labels: kind/bug, priority/critical-urgent, lgtm, release-note, size/XS, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, kind/regression, needs-triage

#120911 pkg/kubelet/cm: Remove deprecated sets.String and sets.Int
  cmd/kubelet/app/server.go
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/devicemanager/checkpoint/checkpoint.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_test.go
  pkg/kubelet/cm/devicemanager/pod_devices.go
  pkg/kubelet/cm/devicemanager/pod_devices_test.go
  pkg/kubelet/cm/devicemanager/topology_hints.go
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
  pkg/kubelet/cm/devicemanager/types.go
  pkg/kubelet/cm/helpers.go
  pkg/kubelet/cm/internal_container_lifecycle_linux.go
  pkg/kubelet/cm/memorymanager/fake_memory_manager.go
  pkg/kubelet/cm/memorymanager/memory_manager.go
  pkg/kubelet/cm/topologymanager/policy_options.go
  pkg/kubelet/cm/topologymanager/policy_options_test.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#121059 Improve error message in Kubelet CPU assignment logic
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
Labels: priority/backlog, area/kubelet, kind/documentation, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, ok-to-test, triage/accepted

#121132 Automated cherry pick of #119732: Fix to honor PDB with an empty selector `{}`
  pkg/registry/core/pod/storage/eviction.go
  pkg/registry/core/pod/storage/eviction_test.go
Labels: kind/bug, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#120485 fix: typo in staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#120740 kubelet: fix log when using --reserved-cpus
  cmd/kubelet/app/server.go
Labels: kind/bug, priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#121243 Fix PersistentVolumeStatus & PersistentVolumeClaimStatus e2e test flake
  test/e2e/storage/persistent_volumes.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted
