Repository kubernetes/kubernetes, pull requests merged in 2023-12, with the labels that each got.

#120961 Automated cherry pick of #120817: e2e: bootstrap vsphere tests earlier
  test/e2e/storage/drivers/in_tree.go
Labels: area/test, lgtm, sig/storage, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#122188 add beta comment for terminating pods and pod replacement policy
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/batch/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/batch/v1/generated.proto
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/api/batch/v1/types_swagger_doc_generated.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/S, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#122201 [go] Bump images, dependencies and versions to go 1.21.5
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/M, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#122206 Bump distroless-iptables to v0.4.2
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#122218 [release-1.26] [go] Bump images, dependencies and versions to go 1.20.12
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#122216 [release-1.28] [go] Bump images, dependencies and versions to go 1.20.12
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#122289 fix: disable SchedulerQueueingHints feature flag by default
  pkg/features/kube_features.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/queue_test.go
Labels: kind/bug, area/test, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#122299 Update publishing-bot rules to Go 1.20.12
  staging/publishing/rules.yaml
Labels: priority/critical-urgent, kind/cleanup, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#115768 feature(volumebinding): Implement PreScore for VolumeBinding plugin to skip score
  cmd/kube-scheduler/app/server_test.go
  pkg/scheduler/apis/config/testing/defaults/defaults.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
Labels: area/test, sig/scheduling, lgtm, sig/storage, release-note, size/M, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#116209 Allow FSGroupPolicy and PodInfoOnMount to be mutable in CSIDriver.Spec
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1_openapi.json
  pkg/apis/storage/types.go
  pkg/apis/storage/validation/validation.go
  pkg/apis/storage/validation/validation_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/storage/csidriver/strategy.go
  pkg/registry/storage/csidriver/strategy_test.go
  staging/src/k8s.io/api/storage/v1/generated.proto
  staging/src/k8s.io/api/storage/v1/types.go
  staging/src/k8s.io/api/storage/v1/types_swagger_doc_generated.go
  test/e2e/storage/csi_mock/base.go
  test/e2e/storage/csi_mock/csi_fsgroup_policy.go
  test/e2e/storage/csi_mock/csi_workload.go
Labels: area/test, lgtm, sig/storage, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, ok-to-test, api-review, triage/accepted

#117667 Remove ability to re-enable serving deprecated storage APIs
  pkg/registry/storage/rest/storage_storage.go
  test/integration/etcd/data.go
  test/integration/metrics/metrics_test.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, sig/api-machinery, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#118431 chore: loop optimization
  pkg/credentialprovider/plugin/plugin.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#119539 remove unregistered event code
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#119764 Fix error message for invalid resource reservation
  pkg/kubelet/cm/node_container_manager_linux.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#119923 fix: Mount point may become local without calling `NodePublishVolume` after node rebooting
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, release-note, size/M, approved, cncf-cla: yes, triage/accepted

#121043 cli: cleanup the retrun style for cp execute function
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#121387 move SidecarContainers featureGate checking
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#121411 Fix kube_codegen for some uncovered external cases
  staging/src/k8s.io/code-generator/kube_codegen.sh
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#121413 snapshot controller version bump to v6.3.1
  cluster/addons/volumesnapshots/volume-snapshot-controller/volume-snapshot-controller-deployment.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#121422 Fix dns autoscaling test to run with coredns
  test/e2e/autoscaling/dns_autoscaling.go
Labels: kind/bug, area/test, lgtm, sig/autoscaling, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#121478 verify-golangci-lint.sh: clarify intended usage of warnings
  hack/verify-golangci-lint.sh
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121493 automatically setup etcd when running {verify,update}-openapi-spec.sh
  hack/lib/etcd.sh
  hack/update-openapi-spec.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted, sig/etcd

#115502 Reduce running time of TestAutodeleteOwnerRefs StatefulSet Integration Tests
  test/integration/statefulset/statefulset_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, lifecycle/rotten, needs-priority, needs-triage

#121572 Added Logging for all the enabled plugins in each extension point
  pkg/scheduler/framework/runtime/framework.go
Labels: sig/scheduling, lgtm, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-kind, ok-to-test, needs-priority, needs-triage

#121624 CEL lazy map: use context for lazy evaluation.
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/composition.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#121625 k8s.io/apiserver/storage/etcd: refactor etcd GetList.
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#121663 remove EventRecorder from ControllerParameters of pv base controller
  pkg/controller/volume/persistentvolume/framework_test.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
Labels: kind/cleanup, lgtm, sig/storage, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#121669 node labels and taints do not change, node events shoule be ignored in daemonset controller.
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
Labels: kind/bug, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#121670 Fix empty status message in logging
  pkg/scheduler/framework/interface.go
  pkg/scheduler/internal/queue/scheduling_queue.go
Labels: kind/bug, kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121697 add comments for switch case of syncUnboundClaim
  pkg/controller/volume/persistentvolume/pv_controller.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#121703 cluster/gce: add match conditions to PersistentVolume labeling webhook
  cluster/gce/addons/cloud-pvl-admission/mutating-webhook-configuration.yaml
Labels: lgtm, area/provider/gcp, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#121722 Make verify-typecheck.sh only check valid targets for a platform
  hack/verify-typecheck-providerless.sh
  hack/verify-typecheck.sh
  test/typecheck/main.go
Labels: kind/bug, area/test, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#121727 kubeadm: increase ut coverage app/upgrade/versiongetter
  cmd/kubeadm/app/phases/upgrade/versiongetter_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#121736 bump kube-dns to v1.22.27
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, release-note, size/S, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#121741 update util/sets to use standard package cmp
  staging/src/k8s.io/apimachinery/pkg/util/sets/ordered.go
  staging/src/k8s.io/apimachinery/pkg/util/sets/set.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#121744 Remove unnecessary sort in kube-proxy ipvs
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/util/testing/fake.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/S, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#121755 Fix nodeUpdate event missing some potential changes
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/testing/wrappers.go
  test/integration/scheduler/eventhandler/eventhandler_test.go
  test/integration/scheduler/eventhandler/main_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121622 add `StructuredAuthenticationConfiguration` feature to kube feature gates file
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#121761 Update sig-auth aliases
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#121767 Add comment in noderestriction on Node-bound-tokens
  plugin/pkg/admission/noderestriction/admission.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#121771 encoding: avoid setting GVK unnecessarily
  staging/src/k8s.io/apimachinery/pkg/runtime/helper.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#121795 cleanup todo after feature.BlockVolume gate was removed
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#121813 fix: use generic set in pkg/util/iptables
  pkg/util/iptables/iptables.go
  pkg/util/iptables/iptables_test.go
  pkg/util/iptables/monitor_test.go
  pkg/util/iptables/testing/fake.go
Labels: sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#121814 Remove --use-real-proxier support from kubemark
  cmd/kubemark/app/hollow_node.go
  pkg/proxy/kubemark/hollow_proxy.go
  vendor/modules.txt
Labels: sig/network, kind/cleanup, sig/scalability, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121815 make the decode function respect the timeout context
  staging/src/k8s.io/apiserver/pkg/storage/errors.go
  staging/src/k8s.io/apiserver/pkg/storage/errors/storage.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#121846 Set the initial length of set[T] in sets.KeySet
  staging/src/k8s.io/apimachinery/pkg/util/sets/set.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#121856 fix: Refactor TestFinalizerCleanup unit test by asserting job and pod informer state
  pkg/controller/job/job_controller_test.go
Labels: lgtm, size/S, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, kind/failing-test, tide/merge-method-squash, triage/accepted

#121877 e2e: pass context into pod helper functions
  test/e2e/framework/pod/wait.go
  test/e2e/scheduling/predicates.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#121906 support namespace indexer for namespaced resources like pods
  pkg/features/kube_features.go
  pkg/registry/core/pod/strategy.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/selection_predicate.go
  staging/src/k8s.io/apiserver/pkg/storage/selection_predicate_test.go
Labels: area/apiserver, lgtm, sig/node, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#121913 Drop testing dependency from shipped binaries
  pkg/kubelet/container/testing/fake_runtime.go
  staging/src/k8s.io/component-base/metrics/testutil/testutil.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/code-organization, triage/accepted

#121914 k8s.io/apiserver: refactor GenericAPIServer healthz code.
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#122193 CEL library: set presence check cost back to zero after cel-go upgrade.
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/celcoststability_test.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
Labels: kind/bug, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#121935 Job: Use built-in min function instead of integer package
  pkg/controller/job/job_controller.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#121953 return not-found errors properly from fake listers
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
  pkg/scheduler/framework/plugins/nodevolumelimits/non_csi_test.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
  pkg/scheduler/testing/framework/fake_listers.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#121964 drop alpha comment on ephemeral storage
  pkg/apis/core/types.go
  staging/src/k8s.io/api/core/v1/types.go
Labels: kind/documentation, kind/cleanup, lgtm, sig/storage, size/XS, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, api-review, needs-triage

#121965 kubeadm: fix flaky test TestRetrieveValidatedConfigInfo
  cmd/kubeadm/app/discovery/token/token_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#121981 Remove unnecessary error catch in scheduling failure
  pkg/scheduler/schedule_one.go
  pkg/scheduler/scheduler_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage

#121983 cleanup: remove getStorageAccountName warning messages
  staging/src/k8s.io/csi-translation-lib/plugins/azure_file.go
Labels: kind/cleanup, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, priority/important-longterm, area/provider/azure, sig/cloud-provider, triage/accepted

#122001 report scheduling_algorithm_duration_seconds metric when pods is unschedulable
  pkg/scheduler/schedule_one.go
Labels: kind/bug, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122013 Fix: modify a flag doc of pod-max-in-unschedulable-pods-duration
  cmd/kube-scheduler/app/options/deprecated.go
Labels: kind/documentation, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#122014 put storage related plugins under SIG-Storage reviewing
  pkg/scheduler/framework/plugins/nodevolumelimits/OWNERS
  pkg/scheduler/framework/plugins/volumerestrictions/OWNERS
  pkg/scheduler/framework/plugins/volumezone/OWNERS
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122017 fix(doc): elaborate the documentation of SnapshotSharedLister
  pkg/scheduler/framework/interface.go
Labels: kind/documentation, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122022 fix: requeue pods rejected by Extenders properly
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#122041 remove unnecessary fmt.Sprintf call
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122058 Scheduler first fit
  pkg/scheduler/extender.go
  pkg/scheduler/extender_test.go
  pkg/scheduler/framework/extender.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/testing/framework/fake_extender.go
Labels: kind/bug, priority/important-soon, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, needs-triage

#122061 kubeadm: remove outdated notes during upgrade
  cmd/kubeadm/app/cmd/upgrade/common.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#122068 fix(scheduler): fix incorrect loop logic in MultiPoint to avoid a plugin being loaded multiple times
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Labels: kind/bug, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122069 Optimistically update leader lock
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/metrics.go
  staging/src/k8s.io/component-base/metrics/prometheus/clientgo/leaderelection/metrics.go
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted

#122073 uncomment ktesting.AnyToString
  test/utils/ktesting/ktesting.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122080 clean up unused parameters for volume zone unit test
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122081 fix incorrect function comment
  pkg/scheduler/internal/queue/scheduling_queue.go
Labels: kind/documentation, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122085 dynamic-resource-allocation: Update helper code API comments
  staging/src/k8s.io/dynamic-resource-allocation/controller/controller.go
Labels: kind/documentation, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122093 Fix error check in GetChainsFromTables
  pkg/util/iptables/save_restore.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122111 proxy chain creation cleanup
  pkg/proxy/iptables/proxier.go
  pkg/util/iptables/save_restore.go
  pkg/util/iptables/save_restore_test.go
Labels: priority/backlog, sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-triage

#122115 Minor cleanups in watch handler toward unification between http and websockets
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122127 e2e/openapi: fix test panic when OpenAPI CRD doesn't show up within timeout
  test/e2e/apimachinery/openapiv3.go
Labels: area/test, priority/backlog, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#122128 kubeadm: increase ut coverage of util/config
  cmd/kubeadm/app/util/config/resetconfiguration_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#122133 Remove unnecessary case when calculating request in scheduler
  pkg/scheduler/util/pod_resources.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122134 Remove GA featuregate about ProxyTerminatingEndpoints in 1.30
  pkg/features/kube_features.go
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122136 Remove GA featuregate about MinimizeIPTablesRestore in 1.30
  pkg/features/kube_features.go
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122143 Fix typos: update registerCidrsetMetrics to registerCIDRSetMetrics
  pkg/controller/nodeipam/ipam/multicidrset/metrics.go
  pkg/controller/nodeipam/ipam/multicidrset/multi_cidr_set.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122144 kubeadm: update func CreateJoinControlPlaneKubeConfigFiles variable name
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, triage/accepted

#122162 belated updates to feature-approvers for SIG Network leads changes
  OWNERS_ALIASES
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-triage

#122168 Fix etcd storage_events_received_total metric not being registered
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted, sig/etcd

#122173 change func WithTracing parameter naming, serviceName to spanName
  staging/src/k8s.io/component-base/tracing/utils.go
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, ok-to-test, needs-priority, needs-triage

#122181 kubeadm: cleanup unused CreateCSR and associated functions
  cmd/kubeadm/app/phases/certs/certs.go
  cmd/kubeadm/app/phases/certs/certs_test.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#122213 kubeadm: update the help msg for `kubeadm upgrade plan`
  cmd/kubeadm/app/cmd/upgrade/plan.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#122225 Migrate client-go/metadata to contextual logging
  hack/logcheck.conf
  staging/src/k8s.io/client-go/metadata/metadata.go
  staging/src/k8s.io/client-go/metadata/metadata_test.go
Labels: kind/cleanup, lgtm, area/logging, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, priority/important-longterm, tide/merge-method-squash, ok-to-test, triage/accepted, wg/structured-logging

#122229 Fix prerelease codegen log string
  staging/src/k8s.io/code-generator/cmd/prerelease-lifecycle-gen/prerelease-lifecycle-generators/status.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, triage/accepted

#122232 e2e framework: provide more guidance to developers
  test/e2e/framework/ginkgowrapper.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#122250 Fix verify-licenses.sh
  hack/verify-licenses.sh
Labels: kind/bug, priority/important-soon, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#122261 Add unit test for Job Controller for panic when PodFailurePolicy is used on 1.28
  pkg/controller/job/job_controller_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#120393 Improvements added in kubectl create deployment help
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_deployment.go
Labels: priority/backlog, area/kubectl, lgtm, size/XS, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#121919 kube-proxy: Fix etp:Local for externalIPs
  pkg/proxy/ipvs/proxier.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#122267 Automated cherry pick of #121147: Fix panic if there are more terminating pods than active pods
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, lgtm, release-note, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#122027 Don't sort in the critical section
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122137 Remove GA featuregate about IPTablesOwnershipCleanup in 1.30
  pkg/features/kube_features.go
Labels: sig/network, kind/cleanup, lgtm, release-note, size/S, approved, cncf-cla: yes, needs-priority, needs-triage

#122288 Revert "scheduler/NodeUnschedulable: reduce pod scheduling latency"
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable.go
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable_test.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#121006 Automated cherry pick of #119385: apiserver: add flow control metric current_inqueue_seats #120222: apf: use context for queue wait
  pkg/controlplane/apiserver/config.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/recommended.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/borrowing_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/gen_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/max_seats_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
  test/integration/apiserver/flowcontrol/fight_test.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#121748 Automated cherry pick of #120550: DRA: call plugins for claims even if exist in cache
  pkg/kubelet/cm/dra/claiminfo.go
  pkg/kubelet/cm/dra/manager.go
  pkg/kubelet/cm/dra/manager_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#122045 Automated cherry pick of #122022: fix: requeue pods rejected by Extenders properly
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#122146 DRA helper: enhance context support
  staging/src/k8s.io/dynamic-resource-allocation/controller/controller.go
  staging/src/k8s.io/dynamic-resource-allocation/leaderelection/leaderelection.go
Labels: kind/cleanup, lgtm, sig/node, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122317 Revert "Scheduler first fit"
  pkg/scheduler/extender.go
  pkg/scheduler/extender_test.go
  pkg/scheduler/framework/extender.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/testing/framework/fake_extender.go
Labels: priority/important-soon, sig/scheduling, lgtm, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, needs-triage

#122088 Remove GA featuregate about ExperimentalHostUserNamespaceDefaultingGate in 1.30
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122285 Revert "scheduler/nodeaffinity: reduce pod scheduling latency"
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
Labels: kind/bug, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#122291 Automated cherry pick of #122289: fix: disable SchedulerQueueingHints feature flag by default
  pkg/features/kube_features.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: priority/important-soon, sig/scheduling, lgtm, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, kind/regression, needs-triage

#122321 Drop publishing-bot rules for the release-1.25 branch
  staging/publishing/rules.yaml
Labels: priority/important-soon, kind/cleanup, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#121908 Update kubedns and nodelocaldns to v1.22.28
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: lgtm, area/provider/gcp, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#121601 fix wrong condition description in PVC
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/cleanup, lgtm, sig/storage, sig/api-machinery, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#121259 Skip deploying gce-pd csi driver if it is already installed
  test/e2e/storage/drivers/csi.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#121757 golangci-lint + logcheck 0.7.0
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
  hack/logcheck.conf
  hack/tools/go.mod
  hack/tools/go.sum
  hack/verify-golangci-lint.sh
Labels: kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/dependency, needs-triage

#120246 remove PruneWhitelist, use prune-allowlist instead
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/de_DE/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/default/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/en_US/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/it_IT/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ja_JP/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/pt_BR/LC_MESSAGES/k8s.po
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/zh_CN/LC_MESSAGES/k8s.po
  test/cmd/apply.sh
  test/cmd/crd.sh
Labels: area/test, priority/important-soon, kind/cleanup, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, sig/testing, kind/deprecation, triage/accepted

#122079 refactor healthCheck's CreateJob with TTLSecondsAfterFinished
  cmd/kubeadm/app/phases/upgrade/health.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#122210 Explicitly stop/start docker to fix local-up-cluster.sh
  hack/local-up-cluster.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#122211 Fix device uncertain errors on reboot
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#119177 noderesourcefit: scheduler queueing hints
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#122309 nodeaffinity: scheduler queueing hints
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#122341 Fix CSI migration for vSphere volumes
  pkg/volume/csi/csi_plugin.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, triage/accepted

#122329 Bug fix: Enable CRD field dropping for validation ratcheting
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/strategy.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/ratcheting_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/api-machinery, release-note, size/M, kind/api-change, approved, cncf-cla: yes, triage/accepted

#122311 add unit test for the scheduling queue for QueueingHint disabled
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121912 CEL library extensions for IP Address and CIDR network parsing
  staging/src/k8s.io/apiserver/pkg/cel/cidr.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
  staging/src/k8s.io/apiserver/pkg/cel/ip.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cidr.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cidr_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/ip.go
  staging/src/k8s.io/apiserver/pkg/cel/library/ip_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/library_compatibility_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122330 Remove unused code in kubelet - DockerContainer / ContainerInfo / SubcontainerInfo / WatchEvents
  pkg/kubelet/cadvisor/cadvisor_linux.go
  pkg/kubelet/cadvisor/cadvisor_unsupported.go
  pkg/kubelet/cadvisor/cadvisor_windows.go
  pkg/kubelet/cadvisor/testing/cadvisor_fake.go
  pkg/kubelet/cadvisor/testing/cadvisor_mock.go
  pkg/kubelet/cadvisor/types.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/server/server_test.go
  pkg/kubelet/server/stats/handler.go
  pkg/kubelet/server/stats/testing/mock_stats_provider.go
  pkg/kubelet/stats/provider.go
  pkg/kubelet/stats/provider_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XL, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122358 Add extra locations to check for release-tars
  cluster/common.sh
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted, sig/k8s-infra

#122359 cluster/gce: upgrade cos-97-lts -> cos-109-lts
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
Labels: kind/cleanup, lgtm, area/provider/gcp, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, sig/cloud-provider, needs-priority, needs-triage

#121891 Automated cherry pick of #120870: update filepath-securejoin dependency to 0.2.4 to fix
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/modules.txt
Labels: kind/bug, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/architecture, ok-to-test, needs-priority, area/dependency, needs-triage

#122011 fix falky test pkg/registry/core/persistentvolume/storage TestUpdateStatus
  pkg/registry/core/persistentvolume/storage/storage_test.go
Labels: priority/important-soon, lgtm, sig/storage, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, needs-triage

#122083 Clean up unused type `HealthcheckType`.
  staging/src/k8s.io/component-base/metrics/prometheus/slis/metrics.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted

#121684 Fix etcd repository path to prevent redirects
  cluster/images/etcd-version-monitor/etcd-version-monitor.go
  cluster/images/etcd/Makefile
  cmd/kubeadm/app/phases/certs/certlist.go
  hack/lib/etcd.sh
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/testing/testingcert/certificates.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/S, area/release-eng, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted, sig/etcd

#122036 Minor cleanup for handlers/watch
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#121890 Automated cherry pick of #120870: update filepath-securejoin dependency to 0.2.4 to fix
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/modules.txt
Labels: kind/bug, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/S, cherry-pick-approved, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/architecture, area/code-generation, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, triage/accepted

#121939 Automated cherry pick of #121851: fix: smb file share unavailable issue when it's deleted
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/XS, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#122043 Automated cherry pick of #122022: fix: requeue pods rejected by Extenders properly
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#122195 podtopologyspread: scheduler queueing hints
  pkg/scheduler/framework/plugins/podtopologyspread/common.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin_test.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#121936 Automated cherry pick of #121851: fix: smb file share unavailable issue when it's deleted
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/XS, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#122334 NodeUnschedulable: scheduler queueing hints
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable.go
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable_test.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#122310 use build-in max and min func to instead of k8s.io/utils/integer funcs
  pkg/controller/controller_utils.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/deployment/rolling.go
  pkg/controller/deployment/util/deployment_util.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controlplane/apiserver/options/options.go
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/kubelet.go
  pkg/scheduler/framework/types.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/util.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/client-go/util/flowcontrol/backoff.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/sorter.go
  staging/src/k8s.io/kubectl/pkg/util/podutils/podutils.go
Labels: priority/backlog, area/kubelet, kind/cleanup, sig/scheduling, area/apiserver, area/kubectl, lgtm, sig/node, sig/api-machinery, size/M, release-note-none, sig/apps, approved, sig/cli, cncf-cla: yes, triage/accepted

#121833 Look for the ingress-uid cm after the Loadbalancer is created
  test/e2e/framework/providers/gce/firewall.go
  test/e2e/network/firewall.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#122044 Automated cherry pick of #122022: fix: requeue pods rejected by Extenders properly
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#122126 Update duplicate env var warning
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
Labels: kind/documentation, kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#122233 etcd: Build image 3.5.11
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: lgtm, sig/api-machinery, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, needs-priority, triage/accepted

#121576 ad controller: optimize populateActualStateOfWorld
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
Labels: kind/cleanup, lgtm, sig/storage, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#122372 k8s.io/code-generator: include all metav1 applyconfigs
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/args/args.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#122386 Add more testcases when setting up scheduler
  cmd/kube-scheduler/app/server_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122265 kubeadm: add supported etcd version for v1.30
  cmd/kubeadm/app/constants/constants.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#122387 More understandable error for scheduler configuration validation
  pkg/scheduler/apis/config/validation/validation.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122032 remove feature-gate APISelfSubjectReview in 1.30
  pkg/features/kube_features.go
  test/integration/apiserver/admissionwebhook/admission_test.go
  test/integration/apiserver/cel/admission_policy_test.go
  test/integration/auth/selfsubjectreview_test.go
Labels: area/test, kind/cleanup, lgtm, release-note, size/S, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122204 Fix race condition in iptables partial sync handling
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
Labels: kind/bug, priority/important-soon, sig/network, area/kube-proxy, lgtm, release-note, size/L, approved, cncf-cla: yes, kind/regression, needs-triage

#122385 kubeadm: hide unwanted global klog flags
  cmd/kubeadm/app/kubeadm.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#122393 etcd: Update to version 3.5.11
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/providers/gcp.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, needs-triage, sig/etcd

#122401 Correct typo from 'gingko' to 'ginkgo'
  test/e2e/framework/framework.go
  test/e2e/framework/ginkgowrapper.go
  test/e2e/framework/internal/unittests/bugs/bugs.go
  test/e2e/framework/test_context.go
  test/e2e/storage/persistent_volumes-local.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage
