Repository kubernetes/kubernetes, pull requests merged in 2023-04, with the labels that each got.

#116396 Automated cherry pick of #116342: Unlock CSIMigrationvSphere feature gate
  pkg/features/kube_features.go
  pkg/volume/csimigration/plugin_manager_test.go
Labels: lgtm, sig/storage, release-note, size/M, kind/feature, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#115901 Automated cherry pick of #115620: client-go/cache: fix missing delete event on replace (+ #116623)
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo_test.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#116795 Automated cherry pick of #112624: fsquota: only generate pod uuid is nil #115314: kubelet: Fix fs quota monitoring on volumes
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/util/fsquota/common/quota_common.go
  pkg/volume/util/fsquota/common/quota_common_linux.go
  pkg/volume/util/fsquota/common/quota_common_linux_impl.go
  pkg/volume/util/fsquota/project.go
  pkg/volume/util/fsquota/quota.go
  pkg/volume/util/fsquota/quota_linux.go
  pkg/volume/util/fsquota/quota_unsupported.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#115899 Automated cherry pick of #115620: client-go/cache: fix missing delete event on replace (+ #116623)
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo_test.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes

#116793 Automated cherry pick of #112624: fsquota: only generate pod uuid is nil #115314: kubelet: Fix fs quota monitoring on volumes
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/util/fsquota/common/quota_common.go
  pkg/volume/util/fsquota/common/quota_common_linux.go
  pkg/volume/util/fsquota/common/quota_common_linux_impl.go
  pkg/volume/util/fsquota/project.go
  pkg/volume/util/fsquota/quota.go
  pkg/volume/util/fsquota/quota_linux.go
  pkg/volume/util/fsquota/quota_unsupported.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#115900 Automated cherry pick of #115620: client-go/cache: fix missing delete event on replace (+ #116623)
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo_test.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#116794 Automated cherry pick of #112624: fsquota: only generate pod uuid is nil #115314: kubelet: Fix fs quota monitoring on volumes
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/util/fsquota/common/quota_common.go
  pkg/volume/util/fsquota/common/quota_common_linux.go
  pkg/volume/util/fsquota/common/quota_common_linux_impl.go
  pkg/volume/util/fsquota/project.go
  pkg/volume/util/fsquota/quota.go
  pkg/volume/util/fsquota/quota_linux.go
  pkg/volume/util/fsquota/quota_unsupported.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#115510 Automated cherry pick of #112806: test: demote service ClientIP affinity timeout tests from
  test/conformance/testdata/conformance.yaml
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, ok-to-test, needs-priority, needs-triage

#112990 Automated cherry pick of #112806: test: demote service ClientIP affinity timeout tests from
  test/conformance/testdata/conformance.yaml
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#117073 Fix: Recreate DaemonSet pods completed with Succeeded phase
  pkg/controller/daemon/daemon_controller.go
  test/integration/daemonset/daemonset_test.go
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, release-note, size/M, sig/apps, approved, release-blocker, cncf-cla: yes, sig/testing, priority/important-longterm, kind/regression, triage/accepted

#117088 Export WebhookHandler struct because some CCMs use Run directly
  staging/src/k8s.io/cloud-provider/app/builder.go
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
  staging/src/k8s.io/cloud-provider/app/webhooks.go
  staging/src/k8s.io/cloud-provider/app/webhooks_test.go
Labels: kind/bug, lgtm, area/cloudprovider, size/M, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#117125 [go] Bump images, dependencies and versions to go 1.20.3
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, approved, release-blocker, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#117126 Update distroless-iptables to v0.2.3
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/XS, kind/feature, approved, release-blocker, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#115036 Do not log entire pod struct while attaching the volume
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
Labels: kind/bug, lgtm, sig/node, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#117131 [release-1.25] releng/go: Update images, dependencies and version to Go 1.19.8
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#117132 [release-1.24] releng/go: Update images, dependencies and version to Go 1.19.8
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#117133 [release-1.26] releng/go: Update images, dependencies and version to Go 1.19.8
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, area/dependency, triage/accepted

#117134 Update publishing-bot rules for release branches to Go 1.19.8
  staging/publishing/rules.yaml
Labels: priority/important-soon, lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, area/dependency, triage/accepted

#116280 Codegen: streamline code for subproject generation
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/hack/update-codegen.sh
  staging/src/k8s.io/apiextensions-apiserver/hack/update-codegen.sh
  staging/src/k8s.io/code-generator/generate-groups.sh
  staging/src/k8s.io/code-generator/generate-internal-groups.sh
  staging/src/k8s.io/code-generator/hack/update-codegen.sh
  staging/src/k8s.io/kube-aggregator/hack/update-codegen.sh
  staging/src/k8s.io/metrics/hack/update-codegen.sh
  staging/src/k8s.io/sample-apiserver/hack/update-codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, area/code-generation, needs-priority, triage/accepted

#113800 add sig/storage label for pkg/controller/volume package PR
  pkg/controller/volume/OWNERS
Labels: priority/backlog, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-triage

#114471 Migrated `pod-security-admission` to contextual logging
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  staging/src/k8s.io/pod-security-admission/admission/admission_test.go
  staging/src/k8s.io/pod-security-admission/cmd/webhook/server/server.go
Labels: lgtm, area/logging, release-note, size/M, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, priority/important-longterm, tide/merge-method-squash, triage/accepted, wg/structured-logging

#114800 Capture spew.Sprintf() with all our favorite config into a util func
  pkg/api/v1/endpoints/util_test.go
  pkg/apis/apps/validation/validation_test.go
  pkg/kubelet/cm/cpumanager/state/checkpoint.go
  pkg/kubelet/cm/devicemanager/checkpoint/checkpointv1.go
  pkg/util/hash/hash.go
  pkg/util/hash/hash_test.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/roundtrip.go
  staging/src/k8s.io/apimachinery/pkg/util/diff/diff.go
  staging/src/k8s.io/apimachinery/pkg/util/dump/dump.go
  staging/src/k8s.io/apimachinery/pkg/util/dump/dump_test.go
  staging/src/k8s.io/apimachinery/pkg/util/mergepatch/util.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/tools/watch/retrywatcher.go
  test/e2e/apps/deployment.go
  test/e2e/storage/testsuites/volumeperf.go
  test/integration/client/exec_test.go
  test/utils/deployment.go
  vendor/modules.txt
Labels: area/test, area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, sig/api-machinery, size/L, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/cloud-provider, ok-to-test, area/e2e-test-framework, triage/accepted

#114898 feature(volume_restrictions): return Skip in PreFilter
  pkg/scheduler/framework/plugins/volumerestrictions/volume_restrictions.go
  pkg/scheduler/framework/plugins/volumerestrictions/volume_restrictions_test.go
Labels: sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#115100 delete unused functions in pkg/controller directory
  pkg/controller/lookup_cache.go
  pkg/controller/replication/replication_controller_utils.go
  pkg/controller/resourcequota/resource_quota_monitor.go
  pkg/controller/statefulset/stateful_set_utils.go
Labels: kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#115133 node: create podresources endpoint also on windows
  cluster/gce/util.sh
  cluster/gce/windows/README-GCE-Windows-kube-up.md
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/server.go
  pkg/kubelet/util/util_windows.go
  pkg/kubelet/util/util_windows_test.go
Labels: area/test, area/kubelet, kind/cleanup, lgtm, area/provider/gcp, sig/node, release-note, size/M, approved, sig/windows, cncf-cla: yes, sig/testing, priority/important-longterm, sig/cloud-provider, triage/accepted

#115399 Add note about TLS 1.3 cipher suites
  cmd/kubelet/app/server.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: area/kubelet, kind/documentation, lgtm, sig/node, sig/api-machinery, release-note, size/XS, kind/api-change, approved, cncf-cla: yes, priority/important-longterm, area/code-generation, ok-to-test, triage/accepted

#115729 hack/OWNERS: add pohly as reviewer and approver
  hack/OWNERS
Labels: kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#116134 fix: After a Node is down and take some time to get back to up again, the mount point of the evicted Pods cannot be cleaned up successfully.
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_common.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
Labels: kind/bug, area/kubelet, lgtm, sig/storage, sig/node, release-note, size/L, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#116138 fix: the volume is not detached after the pod and PVC objects are deleted
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_util.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, approved, cncf-cla: yes, ok-to-test, triage/accepted

#116283 Codegen: fix full (burn it to the ground) regen
  hack/update-codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#116327 optimize watch-cache getlist
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, needs-priority, triage/accepted

#116348 Bump Konnectivity to 0.1.2
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/metrics/metrics.go
Labels: kind/bug, area/apiserver, area/kubectl, lgtm, area/cloudprovider, area/provider/gcp, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/S, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#116374 ftr(etcd): add benchmarks for getlist
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/testserver/test_server.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#116681 don't ignore UID impersonation in webhook clients
  staging/src/k8s.io/apiserver/pkg/util/webhook/authentication.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/authentication_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#116690 kubelet: HandlePodCleanups takes an extra sync to restart pods
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#116721 Wire bootstrap token authn secret lister only when it is enabled
  pkg/kubeapiserver/authenticator/config.go
  pkg/kubeapiserver/options/authentication.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#116730 sig-network OWNERS fixups
  OWNERS_ALIASES
  cmd/kube-proxy/OWNERS
  pkg/kubelet/network/OWNERS
  pkg/proxy/OWNERS
  pkg/proxy/winkernel/OWNERS
  pkg/util/iptables/OWNERS
  pkg/util/ipvs/OWNERS
  staging/src/k8s.io/kube-proxy/OWNERS
Labels: sig/network, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/ipvs, triage/accepted

#116845 fix GetPodVolumeClaims in comments
  pkg/scheduler/framework/plugins/volumebinding/binder.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#116869 Add structured alternatives to strings in client-go/tools/cache
  staging/src/k8s.io/client-go/tools/cache/object-names.go
  staging/src/k8s.io/client-go/tools/cache/object-names_test.go
  staging/src/k8s.io/client-go/tools/cache/store.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#116881 kmsv2: test cleanup
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/grpc_service_unix_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/grpc_service_unix_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/testing/v1beta1/kms_plugin_mock.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/testing/v2/kms_plugin_mock.go
  test/integration/controlplane/transformation/kms_transformation_test.go
  test/integration/controlplane/transformation/kmsv2_transformation_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#116916 Fix sample-controller docs after moving to context-based cancellation
  staging/src/k8s.io/sample-controller/pkg/signals/signal.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#116918 Add API approvers
  OWNERS_ALIASES
Labels: lgtm, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#116940 Use the generic Set in scheduler
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1/default_plugins.go
  pkg/scheduler/apis/config/v1/defaults.go
  pkg/scheduler/apis/config/v1beta2/default_plugins.go
  pkg/scheduler/apis/config/v1beta2/defaults.go
  pkg/scheduler/apis/config/v1beta3/default_plugins.go
  pkg/scheduler/apis/config/v1beta3/defaults.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_pluginargs.go
  pkg/scheduler/extender.go
  pkg/scheduler/extender_test.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/interface_test.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
  pkg/scheduler/framework/plugins/nodevolumelimits/non_csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/utils.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  pkg/scheduler/framework/plugins/volumebinding/binder_test.go
  pkg/scheduler/framework/plugins/volumebinding/fake_binder.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/preemption/preemption_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/interface.go
  pkg/scheduler/internal/cache/snapshot.go
  pkg/scheduler/internal/cache/snapshot_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/e2e/framework/node/resource.go
  test/e2e/scheduling/framework.go
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/preemption.go
  test/e2e/scheduling/ubernetes_lite.go
  test/e2e/storage/ubernetes_lite_volumes.go
  test/integration/scheduler_perf/util.go
Labels: area/test, kind/cleanup, sig/scheduling, area/kubectl, lgtm, sig/storage, size/XL, kind/api-change, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#116950 Do not look at VPC-related resources outside the cluster's network
  cluster/gce/list-resources.sh
Labels: kind/bug, kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#116987 Deflake TestGetListNonRecursive
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#117000 test: Fix flake in node e2e mirror pod tests
  test/e2e_node/mirror_pod_grace_period_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#117002 Kubectl convert - warn users with NotRegisteredError and Fail on all other errors
  pkg/kubectl/cmd/convert/convert.go
  pkg/kubectl/cmd/convert/convert_test.go
  test/fixtures/pkg/kubectl/cmd/convert/serviceandingress.yaml
Labels: kind/bug, area/test, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, sig/testing, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage

#117009 fix doc mismatch
  staging/src/k8s.io/apimachinery/pkg/runtime/schema/group_version.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#117016 Set GOMAXPROCS explicitly
  hack/lib/golang.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/ncpu/main.go
  hack/tools/tools.go
Labels: kind/bug, priority/important-soon, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#117020 Fix seccomp localhost error handling
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_linux_test.go
  pkg/kubelet/kuberuntime/security_context.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/L, kind/api-change, approved, cncf-cla: yes, area/code-generation, triage/accepted

#117022 Fix directory mismatch for `volume.SetVolumeOwnership()`
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/disk_manager.go
  pkg/volume/flexvolume/mounter.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/git_repo/git_repo.go
  pkg/volume/iscsi/disk_manager.go
  pkg/volume/local/local.go
  pkg/volume/portworx/portworx.go
  pkg/volume/projected/projected.go
  pkg/volume/rbd/disk_manager.go
  pkg/volume/secret/secret.go
  pkg/volume/volume_linux.go
  pkg/volume/volume_linux_test.go
  pkg/volume/volume_unsupported.go
  pkg/volume/vsphere_volume/vsphere_volume.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117033 remove reuse buf todo
  staging/src/k8s.io/apimachinery/pkg/runtime/codec.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#117034 kubectl events: Support fully qualified names for --for flag
  staging/src/k8s.io/kubectl/pkg/cmd/events/events.go
  test/cmd/events.sh
Labels: kind/bug, area/test, priority/backlog, area/kubectl, lgtm, release-note, size/S, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#117053 Refactor remote runners to allow pluggable cloud specific extensions
  test/e2e_node/remote/gce/gce_runner.go
  test/e2e_node/remote/remote.go
  test/e2e_node/remote/run_remote_suite.go
  test/e2e_node/remote/ssh_runner.go
  test/e2e_node/remote/types.go
  test/e2e_node/runner/remote/run_remote.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#117095 CVE-2023-27561 CVE-2023-25809 CVE-2023-28642: Bump runc go module v1.1.4 -> v1.1.5
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/common.go
  vendor/github.com/opencontainers/runc/libcontainer/init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/rootfs_linux.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, sig/architecture, area/dependency, sig/security, triage/accepted

#117120 Bump metrics-server to v0.6.3
  cluster/addons/metrics-server/metrics-server-deployment.yaml
  cluster/addons/metrics-server/resource-reader.yaml
Labels: lgtm, area/provider/gcp, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/cloud-provider, needs-priority, triage/accepted

#117121 Set metrics-server's metric-resolution to 15s
  cluster/addons/metrics-server/metrics-server-deployment.yaml
Labels: lgtm, area/provider/gcp, release-note, size/XS, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/cloud-provider, needs-priority, triage/accepted

#117140 Remove endpoint related RBAC from scheduler cluster role
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#117143 wait: fix incorrect suggested method
  staging/src/k8s.io/apimachinery/pkg/util/wait/poll.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#116442 Remove vestigal err check from CEL admission controller.
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#116560 DRA: get rid of unneeded loops over pod containers
  pkg/kubelet/cm/dra/manager.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#116723 deprecate ExperimentalHostUserNamespaceDefaulting
  pkg/features/kube_features.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#116953 Add CecileRobertMichon to sig-cluster-lifecycle-leads
  OWNERS_ALIASES
Labels: kind/documentation, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#117169 supported version of etcd 3.5.7-0 for Kubernetes v1.27.0-rc.0
  cmd/kubeadm/app/constants/constants.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, triage/accepted

#117170 Fix typo at job_test.go
  test/integration/job/job_test.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#117171 Add unit tests showing the effect of unlimited containers when calculating pod limits
  pkg/api/v1/resource/helpers_test.go
Labels: kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#117178 HPA Controller - Update Owners
  pkg/controller/podautoscaler/OWNERS
Labels: kind/cleanup, lgtm, sig/autoscaling, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#117187 Add new contribex leads to sig-contribex-approvers
  .github/OWNERS
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, size/XS, sig/contributor-experience, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#117197 scheduler perf: remove cleanup func
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/integration/scheduler_perf/util.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#117199 scheduler_perf: fix race condition
  test/integration/scheduler_perf/scheduler_perf_test.go
Labels: kind/bug, area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#117201 test/integration: create nodes directly with kubernetes.io/hostname label
  test/integration/framework/perf_utils.go
  test/integration/scheduler_perf/config/performance-config.yaml
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#117202 scheduler perf: allow creating 0 items
  test/integration/scheduler_perf/scheduler_perf_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#116503 [fix][typing] startResourceClaimController errrorf message has typos
  cmd/kube-controller-manager/app/core.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, triage/accepted

#116865 move check for noop managed field timestamp updates
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  test/integration/apiserver/apply/apply_test.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#117137 cacher: prevent a potential deadlock
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#116687 node-lifecycle-controller: improve monitorNodeHealth test-coverage
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
Labels: priority/backlog, kind/cleanup, lgtm, size/XXL, release-note-none, sig/apps, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#117222 apiserver/etcd: add request and request_error metrics
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage

#116281 Codegen: subproject cleanups and chdir
  hack/update-codegen.sh
  staging/src/k8s.io/code-generator/examples/hack/boilerplate.go.txt
  staging/src/k8s.io/code-generator/examples/hack/update-codegen.sh
  staging/src/k8s.io/code-generator/examples/hack/verify-codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, area/code-generation, needs-priority, triage/accepted

#117138 Add `--concurrent-job-syncs` flag to kube-controller-manager
  cmd/kube-controller-manager/app/options/jobcontroller.go
  cmd/kube-controller-manager/app/options/options_test.go
Labels: lgtm, sig/api-machinery, release-note, size/S, kind/feature, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#116996 [KMSv2] cleanup comments in v2 proto api
  staging/src/k8s.io/kms/apis/v2/api.pb.go
  staging/src/k8s.io/kms/apis/v2/api.proto
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#117245 Fix TopologyAwareHint not working when zone label is added after Node creation
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#116282 Codegen: subprojects: nuke old files
  staging/src/k8s.io/code-generator/generate-internal-groups.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, area/code-generation, needs-priority, triage/accepted

#116593 remove some dead code in cmd/kube-proxy
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
  pkg/proxy/kubemark/hollow_proxy.go
  pkg/proxy/winkernel/proxier.go
Labels: priority/backlog, sig/network, kind/cleanup, sig/scalability, area/kube-proxy, lgtm, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#117249 Fix a data race in TopologyCache
  pkg/controller/endpointslice/topologycache/topologycache.go
  pkg/controller/endpointslice/topologycache/topologycache_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#117261 Codegen: use openapi-gen via k8s.io/code-generator
  hack/update-codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#117254 Automated cherry pick of #116482: kubelet: Do not mutate pods in the pod manager
  pkg/kubelet/kubelet_getters.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#117255 Automated cherry pick of #116482: kubelet: Do not mutate pods in the pod manager
  pkg/kubelet/kubelet_getters.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#117256 Automated cherry pick of #116482: kubelet: Do not mutate pods in the pod manager
  pkg/kubelet/kubelet_getters.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#117257 Automated cherry pick of #116482: kubelet: Do not mutate pods in the pod manager
  pkg/kubelet/kubelet_getters.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#116385 hack/local-up-cluster.sh: Always sudo chown the certs dir
  hack/local-up-cluster.sh
Labels: kind/bug, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#117238 encode NamespacedName with lower case in JSON
  staging/src/k8s.io/apimachinery/pkg/types/namespacedname.go
  staging/src/k8s.io/component-base/logs/json/json_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage, wg/structured-logging

#117279 dependencies: update container storage interface spec to v1.8.0
  go.mod
  go.sum
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/modules.txt
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#117301 Revert conversion refactoring
  cmd/kube-apiserver/app/apiextensions.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/metrics.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/nop_converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/options/options.go
Labels: kind/bug, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, approved, cncf-cla: yes, kind/regression, triage/accepted

#117305 Automated cherry pick of #117301: Revert "CR conversion: protect from converter input
  cmd/kube-apiserver/app/apiextensions.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/metrics.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/nop_converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/conversion/webhook_converter_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/options/options.go
Labels: kind/bug, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, cherry-pick-approved, approved, cncf-cla: yes, kind/regression, triage/accepted

#117214 add log includes pod preemption details
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/cleanup, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117258 kube-aggregator: correctly use client-go TLS cache with custom dialer
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#117194 Revert "Optimization on running prePreEnqueuePlugins before adding pods into activeQ"
  CHANGELOG/CHANGELOG-1.27.md
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, area/release-eng, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#117308 Automated cherry pick of #117194: Revert "Optimization on running prePreEnqueuePlugins
  CHANGELOG/CHANGELOG-1.27.md
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/bug, priority/important-soon, sig/scheduling, lgtm, size/M, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/release, kind/regression, needs-triage

#116602 Simplify statefulset fuzzer
  pkg/apis/apps/fuzzer/fuzzer.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#117307 Clarify kubelet/kube-proxy iptables rule skew constraints
  pkg/kubelet/kubelet_network_linux.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
Labels: priority/important-soon, sig/network, area/kubelet, kind/documentation, kind/cleanup, area/kube-proxy, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-triage

#117278 replace spew methods with dump methods
  go.mod
  pkg/controller/bootstrap/bootstrapsigner_test.go
  pkg/controller/bootstrap/common_test.go
  pkg/controller/bootstrap/tokencleaner_test.go
  pkg/controller/garbagecollector/dump_test.go
  pkg/controller/serviceaccount/tokens_controller_test.go
  pkg/controller/volume/pvcprotection/pvc_protection_controller_test.go
  pkg/controller/volume/pvprotection/pv_protection_controller_test.go
  pkg/controlplane/controller/clusterauthenticationtrust/cluster_authentication_trust_controller_test.go
  pkg/proxy/healthcheck/healthcheck_test.go
  pkg/proxy/service_test.go
  plugin/pkg/admission/storage/storageobjectinuseprotection/admission_test.go
  staging/src/k8s.io/apimachinery/pkg/util/jsonmergepatch/patch_test.go
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch_test.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/pkg/server/deleted_kinds_test.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/tlsconfig_test.go
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/pkg/resource/builder_test.go
  staging/src/k8s.io/cli-runtime/pkg/resource/kustomizevisitor_test.go
  staging/src/k8s.io/cli-runtime/pkg/resource/visitor_test.go
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/kubernetes_test/timeout_test.go
  staging/src/k8s.io/client-go/restmapper/discovery_test.go
  staging/src/k8s.io/client-go/tools/watch/informerwatcher_test.go
  staging/src/k8s.io/client-go/tools/watch/retrywatcher_test.go
  staging/src/k8s.io/cloud-provider/app/webhooks_test.go
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
  test/e2e_node/apparmor_test.go
  test/e2e_node/image_id_test.go
  test/integration/namespace/ns_conditions_test.go
Labels: area/test, sig/network, kind/cleanup, area/kube-proxy, area/apiserver, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, size/L, release-note-none, sig/auth, sig/apps, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, sig/cloud-provider, ok-to-test, area/dependency, triage/accepted

#117296 dependencies: update {uuid,sortorder}
  go.mod
  go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  vendor/github.com/fvbommel/sortorder/README.md
  vendor/github.com/fvbommel/sortorder/doc.go
  vendor/github.com/fvbommel/sortorder/natsort.go
  vendor/github.com/gofrs/uuid/.travis.yml
  vendor/github.com/gofrs/uuid/README.md
  vendor/github.com/gofrs/uuid/codec.go
  vendor/github.com/gofrs/uuid/fuzz.go
  vendor/github.com/gofrs/uuid/generator.go
  vendor/github.com/gofrs/uuid/sql.go
  vendor/github.com/gofrs/uuid/uuid.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/node, sig/api-machinery, size/S, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#117277 e2e/apimachinery: Add an e2e test for the API Streaming feature
  test/e2e/apimachinery/watchlist.go
Labels: area/test, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#117275 dependencies: update coreos dependencies
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/coreos/go-oidc/.travis.yml
  vendor/github.com/coreos/go-oidc/oidc.go
  vendor/github.com/coreos/go-oidc/verify.go
  vendor/github.com/coreos/go-semver/semver/semver.go
  vendor/github.com/coreos/go-systemd/v22/internal/dlopen/dlopen_example.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_windows.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, lgtm, area/cloudprovider, sig/api-machinery, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#117361 Move kubelet config API to e2e_node
  test/e2e/framework/kubelet/config.go
  test/e2e_node/kubeletconfig/kubeletconfig.go
  test/e2e_node/util.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#117043 remove unnecessary check
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
Labels: sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117370 e2e framework: remove last dependency to k/k/pkg/kubelet
  test/e2e/common/node/ephemeral_containers.go
  test/e2e/framework/pod/pod_client.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#117220 fix the mistake in the release note
  CHANGELOG/CHANGELOG-1.27.md
Labels: kind/bug, kind/documentation, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#117117 [1.25] Automated cherry pick of #117020: Return error for localhost seccomp type with no localhost
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_test.go
  pkg/kubelet/kuberuntime/security_context.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#117118 [1.24] Automated cherry pick of #117020: Return error for localhost seccomp type with no localhost
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  pkg/kubelet/kuberuntime/security_context.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#117116 [1.26] Automated cherry pick of #117020: Return error for localhost seccomp type with no localhost
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_linux_test.go
  pkg/kubelet/kuberuntime/security_context.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#116408 skip pod resource check when request is zero
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/S, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117252 Add SIG ownership to controller/nodelifecycle
  pkg/controller/nodelifecycle/OWNERS
  pkg/controller/nodelifecycle/scheduler/OWNERS
Labels: kind/documentation, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#117412 kubelet: pass context to VolumeManager.WaitFor*
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kubelet_volumes_test.go
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/kubelet/volumemanager/volume_manager_fake.go
  pkg/kubelet/volumemanager/volume_manager_test.go
  test/e2e_node/terminate_pods_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, sig/testing, triage/accepted

#117019 kubelet: Mark new terminal pods as non-finished in pod worker
  pkg/kubelet/pod_workers.go
  pkg/kubelet/pod_workers_test.go
  test/e2e_node/restart_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, sig/testing, triage/accepted

#117388 [KCCM] service controller: add `providerID` Node predicate
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, sig/network, lgtm, area/cloudprovider, release-note, size/L, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#117416 Document gomega.Equal() instead of gomega.BeEqual()
  test/e2e/framework/expect.go
Labels: area/test, kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#117077 skip clear quota if FSQuotaMonitoring is disabled
  pkg/volume/emptydir/empty_dir.go
Labels: kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#117453 Fix stomping os env in kubectl e2e tests
  test/e2e/framework/kubectl/builder.go
  test/e2e/kubectl/kubectl.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, area/e2e-test-framework, needs-triage

#116104 Unified Conntrack Cleaning
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/conntrack/conntrack.go
  pkg/proxy/conntrack/conntrack_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/util/conntrack/OWNERS
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#117399 dependencies : Update golang.org/x/time v0.3.0
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kms/internal/plugins/mock/go.mod
  staging/src/k8s.io/kms/internal/plugins/mock/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/golang.org/x/time/AUTHORS
  vendor/golang.org/x/time/CONTRIBUTORS
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/node, sig/api-machinery, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, priority/important-longterm, sig/architecture, area/code-generation, sig/cloud-provider, ok-to-test, area/dependency, triage/accepted

#117408 dependencies: update github.com/cenkalti/backoff/v4 to v4.2.1
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/cenkalti/backoff/v4/.travis.yml
  vendor/github.com/cenkalti/backoff/v4/retry.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, lgtm, area/cloudprovider, sig/api-machinery, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, sig/architecture, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, triage/accepted

#117410 cacher avoid double locking
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cache_watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, needs-priority, triage/accepted

#117014 cacher: do not simply popExpiredWatchers when the cacher hasn't dispatched any event
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#117449 e2e: fix flaky test 'should contain OpenAPI V3 for Aggregated APIServer'
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/openapiv3.go
Labels: area/test, lgtm, sig/api-machinery, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#117484 remove defunct interactive tutorial
  README.md
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/docs, triage/accepted

#117508 drop linux/arm build warning, now that 1.27 is released, this is cove…
  hack/lib/golang.sh
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#117276 kubelet: truncate the precision at a millisecond for image pull event message
  pkg/kubelet/images/image_manager.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#116902 Remove unnecessary int type conversion
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#117510 ensure we can remove _output
  build/common.sh
Labels: kind/bug, priority/important-soon, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#116972 openapi: Make file client more easy to re-use
  staging/src/k8s.io/cli-runtime/pkg/resource/fallback_query_param_verifier_test.go
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3_test.go
  staging/src/k8s.io/client-go/openapi/openapitest/fileclient.go
  staging/src/k8s.io/client-go/openapi/openapitest/fileclient_test.go
  staging/src/k8s.io/client-go/openapi3/root_test.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/explain_test.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/generator_test.go
Labels: priority/important-soon, kind/cleanup, area/kubectl, lgtm, sig/api-machinery, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#117424 Replace os.Setenv with testing.T.Setenv in tests
  cmd/kubeadm/app/cmd/token_test.go
  cmd/kubeadm/app/preflight/checks_test.go
  cmd/kubeadm/test/cmd/init_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117332 etcd: Build image 3.5.8-0
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#117526 call kube::golang::setup_env before setting up worktree, cleanup update-mocks.sh
  hack/lib/golang.sh
  hack/update-mocks.sh
  hack/update-yamlfmt.sh
  hack/verify-internal-modules.sh
  hack/verify-licenses.sh
  hack/verify-mocks.sh
  hack/verify-yamlfmt.sh
Labels: priority/important-soon, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, triage/accepted

#110477 support fieldSelector spec.hostNetwork
  pkg/apis/core/v1/conversion.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
Labels: priority/backlog, lgtm, sig/node, release-note, size/M, kind/feature, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#117530 kubeadm: fix unit test panic for TestNewResetData
  cmd/kubeadm/app/cmd/reset_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#117390 enhancemanet: reduce calculation calls
  pkg/scheduler/util/utils.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117229 Delete duplicate code in schedule.go
  pkg/scheduler/scheduler.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#116520 service controller trigger update when service ipfamilies changes
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, sig/network, lgtm, area/cloudprovider, size/M, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#117110 test/integration/auth: fix data race
  test/integration/auth/accessreview_test.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#117414 Remove endpoints (old leader election) related RBAC from kube-controller-manager ClusterRole
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#117415 Generalize few watch tests from cacher
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/watcher_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#117413 Refactor watch bookmark tests to allow sharing between etcd3 and watchcache
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/watcher_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#117241 vendor: bump runc to 1.1.6
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/common.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/cpuset.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/v1.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/v2.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/validate/validator.go
  vendor/github.com/opencontainers/runc/libcontainer/container_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/eaccess_go119.go
  vendor/github.com/opencontainers/runc/libcontainer/eaccess_stub.go
  vendor/github.com/opencontainers/runc/libcontainer/factory_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/standard_init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/sync.go
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/dependency, triage/accepted

#117521 remove nodes resource from CoreDNS RBAC manifest
  cluster/addons/dns/coredns/coredns.yaml.base
  cluster/addons/dns/coredns/coredns.yaml.in
  cluster/addons/dns/coredns/coredns.yaml.sed
  cmd/kubeadm/app/phases/addons/dns/manifests.go
Labels: kind/cleanup, lgtm, area/provider/gcp, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#116277 Cleanup service controller unit test
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: sig/network, kind/cleanup, lgtm, area/cloudprovider, size/XXL, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#114875 Fixed typo kind/documentation
  README.md
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, lifecycle/stale, ok-to-test, needs-triage

#117242 [1.27] Bump runc to 1.1.6
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/common.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/cpuset.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/v1.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/v2.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/validate/validator.go
  vendor/github.com/opencontainers/runc/libcontainer/container_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/eaccess_go119.go
  vendor/github.com/opencontainers/runc/libcontainer/eaccess_stub.go
  vendor/github.com/opencontainers/runc/libcontainer/factory_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/rootfs_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/standard_init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/sync.go
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, area/dependency, triage/accepted

#117582 Enable a bunch of generic storage tests for watchcache.
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/watcher_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/tests/cacher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, needs-triage

#116937 Ensure version "*" is passed instead of "" for all authz checks
  pkg/controller/certificates/approver/sarapprove.go
  pkg/registry/authorization/subjectaccessreview/rest_test.go
  pkg/registry/authorization/util/helpers.go
  pkg/registry/authorization/util/helpers_test.go
Labels: lgtm, release-note, size/M, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, tide/merge-method-squash, needs-priority, triage/accepted
