Repository kubernetes/kubernetes, pull requests merged in 2023-02, with the labels that each got.

#115383 Cleanup: improve some note for code
  staging/src/k8s.io/apimachinery/pkg/util/duration/duration.go
  staging/src/k8s.io/apimachinery/pkg/util/errors/errors.go
  staging/src/k8s.io/apimachinery/pkg/util/framer/framer.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#115437 test: Update runtime class detection logic
  test/e2e/framework/node/runtimeclass/runtimeclass.go
Labels: area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#114179 improve performance
  pkg/kubelet/server/server.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#114759 chore: add k8s node-role.kubernetes.io/control-plane taint
  pkg/printers/internalversion/printers_test.go
  test/e2e_node/testing-manifests/sriovdp-ds.yaml
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#115445 test: Fix node e2e device plugin flake
  test/e2e_node/device_plugin_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#115423 scheduler perf: goroutine leak
  test/integration/util/util.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114605 Fix: Pod terminating stuck because of trying to umount not actual mounted dir
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, sig/node, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#115424 Make docs more accurate for the contention-profiling flag
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/types.go
  staging/src/k8s.io/component-base/config/types.go
  staging/src/k8s.io/component-base/config/v1alpha1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: priority/backlog, kind/cleanup, sig/scheduling, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, triage/accepted

#115441 test: Use preloaded busybox image in mirror pod test
  test/e2e_node/mirror_pod_grace_period_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#115453 Add integration tests for MultiCIDRRangeAllocator
  pkg/controller/nodeipam/ipam/multi_cidr_range_allocator.go
  pkg/controller/nodeipam/ipam/multi_cidr_range_allocator_test.go
  test/integration/clustercidr/ipam_test.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#114439 add direct construction of TypeConverter from OpenAPI
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder/builder.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/typeconverter.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/typeconverter_test.go
Labels: kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/L, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#115412 make CEL admission controller code consumable
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/admission_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/interface.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/policy_decision.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/validator.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/validator_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, triage/accepted

#113104 Added workerCount flag to node controller in cloud controller manager
  api/api-rules/violation_exceptions.list
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/cloud-provider/app/core.go
  staging/src/k8s.io/cloud-provider/config/types.go
  staging/src/k8s.io/cloud-provider/config/v1alpha1/defaults.go
  staging/src/k8s.io/cloud-provider/config/v1alpha1/types.go
  staging/src/k8s.io/cloud-provider/config/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/cloud-provider/config/v1alpha1/zz_generated.deepcopy.go
  staging/src/k8s.io/cloud-provider/config/zz_generated.deepcopy.go
  staging/src/k8s.io/cloud-provider/controllers/node/config/types.go
  staging/src/k8s.io/cloud-provider/controllers/node/config/v1alpha1/conversion.go
  staging/src/k8s.io/cloud-provider/controllers/node/config/v1alpha1/defaults.go
  staging/src/k8s.io/cloud-provider/controllers/node/config/v1alpha1/doc.go
  staging/src/k8s.io/cloud-provider/controllers/node/config/v1alpha1/register.go
  staging/src/k8s.io/cloud-provider/controllers/node/config/v1alpha1/types.go
  staging/src/k8s.io/cloud-provider/controllers/node/config/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/cloud-provider/controllers/node/config/v1alpha1/zz_generated.deepcopy.go
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/options/nodecontroller.go
  staging/src/k8s.io/cloud-provider/options/nodecontroller_test.go
  staging/src/k8s.io/cloud-provider/options/options.go
  staging/src/k8s.io/cloud-provider/options/options_test.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, sig/scalability, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, area/code-generation, sig/cloud-provider, triage/accepted

#115455 Rename "method" label to "verb" in rest_client_requests_total
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
Labels: kind/cleanup, lgtm, release-note, size/XS, kind/api-change, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage

#115111 increasing coverage from 78% to 94% for strategy.go for batch/job
  pkg/registry/batch/job/strategy_test.go
Labels: kind/cleanup, lgtm, size/XXL, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#115377 Fetch go version using gimme if needed
  LICENSES/third_party/gimme/LICENSE
  build/common.sh
  hack/.spelling_failures
  hack/jenkins/test-dockerized.sh
  hack/lib/golang.sh
  third_party/gimme/LICENSE
  third_party/gimme/README.md
  third_party/gimme/gimme
Labels: area/test, priority/important-soon, lgtm, release-note, size/XXL, kind/feature, approved, cncf-cla: yes, sig/testing, triage/accepted

#114351 [Evented PLEG] Ignore container events with nil PodSandboxStatus
  pkg/kubelet/pleg/evented.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#115484 Don't explicitly set image version in tests
  test/e2e/node/security_context.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#115488 Add golang.org/x/lint to unwanted dependencies
  hack/unwanted-dependencies.json
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/code-organization, needs-triage

#115503 [#115501] Fix for issue with missing Loadbalancer policies for IPV6 endpoints in Dualstack mode.
  pkg/proxy/winkernel/hns.go
Labels: kind/bug, sig/network, lgtm, release-note, size/S, approved, sig/windows, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#115388 Automated cherry pick of #115382: Avoid typechecking stdlib
  test/typecheck/main.go
Labels: kind/bug, area/test, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#115386 Automated cherry pick of #115382: Avoid typechecking stdlib
  test/typecheck/main.go
Labels: kind/bug, area/test, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#115387 Automated cherry pick of #115382: Avoid typechecking stdlib
  test/typecheck/main.go
Labels: kind/bug, area/test, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#115466 Add integration tests for StatefulSetStartOrdinal feature
  test/integration/statefulset/statefulset_test.go
  test/integration/statefulset/util.go
Labels: area/test, priority/backlog, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, triage/accepted

#115485 small comment the ephemeral containers are not accounted for the QoS …
  pkg/apis/core/helper/qos/qos.go
  staging/src/k8s.io/kubectl/pkg/util/qos/qos.go
Labels: kind/documentation, kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, sig/apps, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#114894 Added error handling in ValidateAdmissionPolicy
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/admission_test.go
Labels: kind/bug, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#115515 Add wrapper around ScrapeAndCompare
  staging/src/k8s.io/component-base/metrics/testutil/testutil.go
Labels: lgtm, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage

#114502 [go] Bump images, dependencies and versions to go 1.20
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  hack/lib/golang.sh
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#115490 Add cici37 as API reviewer
  OWNERS_ALIASES
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#115403 apiextensions: Benchmark escaping in SchemaHas and pool Schemas
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, triage/accepted

#115038 kubeadm: fix etcd learner join
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/etcd/etcd.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/L, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#115521 Improve performance on the cloud provider node-controller
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller_test.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
Labels: priority/important-soon, kind/cleanup, sig/scalability, lgtm, area/cloudprovider, size/L, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-triage

#108984 cloud-provider: add log options, allow setting logging-format via CLI option
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cloud-provider/sample/basic_main.go
Labels: lgtm, area/cloudprovider, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, triage/accepted

#115542 Using BuildOpenAPISpecFromRoutes instead of deprecated BuildOpenAPISpec
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder/builder.go
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#108396 client-go: add a metric to count request retries
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/client-go/tools/metrics/metrics.go
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics_test.go
Labels: lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted

#115443 Add windows nodeSelector to e2e storage testing pods
  test/e2e/storage/external/external.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/topology.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#114695 kubeadm: backup kubelet config for "upgrade node" and "upgrade apply"
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeletconfig.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/upgrade/postupgrade_test.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/L, kind/feature, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#115529 replace nodeipam custom logic by a workqueue
  pkg/controller/nodeipam/ipam/multi_cidr_range_allocator.go
Labels: sig/network, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#115536 Add enablement/disablement unit test for StatefulSetStartOrdinal feature
  pkg/registry/apps/statefulset/strategy_test.go
Labels: lgtm, size/M, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#115537 *: Bump golangci-lint version and adapt to new linters
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/kubelet/stats/provider.go
  staging/src/k8s.io/component-base/metrics/metric.go
  test/e2e/storage/vsphere/pvc_label_selector.go
  test/integration/apiserver/discovery/discovery_test.go
Labels: area/test, priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, triage/accepted

#112662 sample-apiserver: create the client cert with SHA256
  staging/src/k8s.io/sample-apiserver/README.md
Labels: kind/bug, kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#115315 kubelet/client: collapse transport wiring onto standard approach
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  pkg/kubelet/client/kubelet_client.go
  pkg/kubelet/client/kubelet_client_test.go
  staging/src/k8s.io/client-go/transport/cache.go
  test/integration/apiserver/podlogs/podlogs_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/L, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#114364 kubelet: prepare DRA resources before CNI setup
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/dra/manager.go
  pkg/kubelet/cm/dra/types.go
  pkg/kubelet/cm/fake_container_manager.go
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/testing/fake_runtime_helper.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#115577 [#115501] Unit testcase for the fix for issue with missing Loadbalancer policies for IPV6 endpoints in Dualstack mode.
  pkg/proxy/winkernel/hns_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/M, approved, sig/windows, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#114376 Added serialization from etcd error metric
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, triage/accepted

#115597 Remove 4 CSIDriver endpoints with conformance test from the Ineligible endpoint list
  test/conformance/testdata/ineligible_endpoints.yaml
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, needs-priority, triage/accepted

#115601 Remove obsolete GKE local SSD test
  test/e2e/storage/gke_local_ssd.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#115557 Simplify construction of /metrics request
  test/e2e/apimachinery/flowcontrol.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#115569 Enforce nodeName cannot be set along with non-empty schedulingGates
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/registry/core/pod/storage/storage.go
  pkg/registry/core/pod/storage/storage_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#114472 update IPTablesOwnershipCleanup to beta
  pkg/features/kube_features.go
Labels: priority/important-soon, sig/network, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-triage

#115482 Automated cherry pick of #115341: apiserver: remove 34s from DELETECOLLECTION rest handler
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#115481 Automated cherry pick of #115341: apiserver: remove 34s from DELETECOLLECTION rest handler
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#115185 Automated cherry pick of #115147: fix bug with param controllers being removed if used by more
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/admission_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller_reconcile.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#115479 Automated cherry pick of #115341: apiserver: remove 34s from DELETECOLLECTION rest handler
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#115337 Automated cherry pick of #114886: kubectl: use v2 for hpa
  staging/src/k8s.io/kubectl/pkg/cmd/testing/fake.go
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
  staging/src/k8s.io/kubectl/pkg/scheme/install.go
Labels: area/kubectl, lgtm, size/XL, kind/feature, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#110953 cleanup kubectl describe cronjob v1beta1 in 1.26
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#115607 [Cherrypick #115537][1.24]*: Bump golangci-lint version and adapt to new linters
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/kubelet/stats/provider.go
  staging/src/k8s.io/component-base/metrics/metric.go
  test/e2e/storage/vsphere/pvc_label_selector.go
Labels: area/test, priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/XL, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, priority/important-longterm, sig/architecture, area/dependency, needs-triage, triage/accepted

#115611 [Cherrypick #115537][1.26]*: Bump golangci-lint version and adapt to new linters
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/kubelet/stats/provider.go
  staging/src/k8s.io/component-base/metrics/metric.go
  test/e2e/storage/vsphere/pvc_label_selector.go
  test/integration/apiserver/discovery/discovery_test.go
Labels: area/test, priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, priority/important-longterm, sig/architecture, needs-triage, triage/accepted

#115608 [Cherrypick #115537][1.25]*: Bump golangci-lint version and adapt to new linters
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/kubelet/stats/provider.go
  staging/src/k8s.io/component-base/metrics/metric.go
  test/e2e/storage/vsphere/pvc_label_selector.go
Labels: area/test, priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/XL, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, priority/important-longterm, sig/architecture, area/dependency, triage/accepted

#115645 Updated the change in registry
  test/e2e/dra/test-driver/deploy/example/pod-inline-multiple.yaml
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#114280 Implement kubectl debug profiles: general, baseline, and restricted
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profile_applier.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles_test.go
  staging/src/k8s.io/kubectl/pkg/util/podutils/podutils.go
Labels: priority/backlog, area/kubectl, lgtm, release-note, size/XL, kind/feature, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#114046 Automated cherry pick of #112516: fix endpoint slice controller logging format error
  pkg/controller/endpointslice/topologycache/topologycache.go
Labels: sig/network, kind/cleanup, lgtm, size/XS, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#115454 Promote pod resource metrics to stable
  pkg/scheduler/metrics/resources/resources.go
  pkg/scheduler/metrics/resources/resources_test.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: kind/cleanup, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted, area/stable-metrics

#115350 [KMSv2] store hash of encrypted DEK as key in cache
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/cache.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/cache_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#115657 Allow SSH e2e node base64 key injection
  test/e2e_node/runner/remote/run_remote.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#115649 [KMSv2] Add metrics for grpc service
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/grpc_service.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/grpc_service_unix_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/metrics/metrics_test.go
  test/integration/controlplane/transformation/kmsv2_transformation_test.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#115665 Update k8s.io/utils to `a36077c30491`
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/lru/lru.go
  vendor/modules.txt
Labels: kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#115667 [KMS] Use structured logging in value/encrypt
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/grpc_service.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/grpc_service.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/testing/v1beta1/kms_plugin_mock.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/testing/v2alpha1/kms_plugin_mock.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#115635 test: Simplify NPD start timestamp calculation
  test/e2e/node/node_problem_detector.go
Labels: area/test, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, triage/accepted

#113794 Simplify case conditions
  pkg/controller/statefulset/stateful_pod_control.go
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, lifecycle/stale, ok-to-test, triage/accepted

#115669 logcheck.conf: ensure that kms and value/encrypt uses structured logging
  hack/logcheck.conf
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/testing/v2alpha1/kms_plugin_mock.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#115638 Pin golang.org/x/net to v0.4.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/cluster-lifecycle, size/M, cherry-pick-approved, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted

#115348 Automated cherry pick of #115179: Fix nil pointer error in nodevolumelimits csi logging
  pkg/scheduler/framework/fake/listers.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#115460 Automated cherry pick of #115349: update prev succeeded indexes for indexed jobs
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#115457 Automated cherry pick of #115349: update prev succeeded indexes for indexed jobs
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#115640 Pin golang.org/x/net to v0.4.0 in 1.24
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/M, cherry-pick-approved, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted

#115347 Automated cherry pick of #115179: Fix nil pointer error in nodevolumelimits csi logging
  pkg/scheduler/framework/fake/listers.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#115642 Pin golang.org/x/net to v0.4.0 in 1.26
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/M, cherry-pick-approved, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted

#113726 Automated cherry pick of #112737: StatefulSet: Cleanup the complex defer function updating the
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
Labels: kind/bug, kind/cleanup, lgtm, size/L, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#115641 Pin golang.org/x/net to v0.4.0 in 1.25
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/M, cherry-pick-approved, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted

#115462 Automated cherry pick of #115349: update prev succeeded indexes for indexed jobs
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#115552 Automated cherry pick of #114351: Ignore container events with nil PodSandboxStatus
  pkg/kubelet/pleg/evented.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#115229 Automated cherry pick of #114680: k8s.io/component-base/logs: fix usage through Go flag
  staging/src/k8s.io/component-base/logs/api/v1/options_test.go
  staging/src/k8s.io/component-base/logs/api/v1/pflags.go
Labels: priority/important-soon, lgtm, size/M, kind/api-change, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, triage/accepted

#111453 (kubectl debug): Support debugging via files
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  test/cmd/debug.sh
Labels: area/test, priority/backlog, area/kubectl, lgtm, release-note, size/M, kind/feature, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#115617 close grpc server in test file to avoid goroutine leak
  pkg/kubelet/pluginmanager/reconciler/reconciler_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#115566 Automated cherry pick of #115315: kubelet/client: collapse transport wiring onto standard
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  pkg/kubelet/client/kubelet_client.go
  pkg/kubelet/client/kubelet_client_test.go
  staging/src/k8s.io/client-go/transport/cache.go
  test/integration/apiserver/podlogs/podlogs_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#115580 Automated cherry pick of #115315: kubelet/client: collapse transport wiring onto standard
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  pkg/kubelet/client/kubelet_client.go
  pkg/kubelet/client/kubelet_client_test.go
  staging/src/k8s.io/client-go/transport/cache.go
  test/integration/apiserver/podlogs/podlogs_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#115567 Automated cherry pick of #115315: kubelet/client: collapse transport wiring onto standard
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  pkg/kubelet/client/kubelet_client.go
  pkg/kubelet/client/kubelet_client_test.go
  staging/src/k8s.io/client-go/transport/cache.go
  test/integration/apiserver/podlogs/podlogs_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#115369 apiserver cluster egress metrics: backport to release-1.26
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector_test.go
  staging/src/k8s.io/component-base/metrics/legacyregistry/registry.go
Labels: kind/bug, area/apiserver, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted

#115636 Automated cherry pick of #115569: Enforce nodeName cannot be set along with non-empty schedulingGates
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/registry/core/pod/storage/storage.go
  pkg/registry/core/pod/storage/storage_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#115579 flaky test wait.sh: Add deployment assertion before running wait
  test/cmd/wait.sh
Labels: area/test, priority/backlog, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#115678 e2e: revise complete report creation
  hack/ginkgo-e2e.sh
  test/e2e/e2e.go
  test/e2e/framework/internal/junit/junit.go
  test/e2e/framework/test_context.go
Labels: area/test, kind/cleanup, lgtm, release-note, size/M, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#115677 [KMSv2] implement local KEK service
  staging/src/k8s.io/kms/encryption/service.go
  staging/src/k8s.io/kms/encryption/service_test.go
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/pkg/encrypt/aes/aes.go
  staging/src/k8s.io/kms/pkg/value/interface.go
Labels: priority/important-soon, lgtm, size/XL, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#115692 Disable unified build and static init optimization for tests
  hack/lib/golang.sh
Labels: kind/bug, lgtm, size/S, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/release, needs-priority, needs-triage

#115690 fix docker buildx check
  hack/lib/util.sh
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#115594 kubectl/pkg/drain: Include namespace in evictPods return error
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#115584 [HPA e2e] Calculate more precise consumed CPU usage for N replicas
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
Labels: area/test, lgtm, sig/autoscaling, size/M, kind/flake, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#115697 don't run loadbalancer tests on large environments
  test/e2e/network/loadbalancer.go
Labels: area/test, sig/network, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#115714 [KMSv2] Add kind cluster and encryption config for e2e
  test/e2e/testing-manifests/auth/encrypt/OWNERS
  test/e2e/testing-manifests/auth/encrypt/encryption-config.yaml
  test/e2e/testing-manifests/auth/encrypt/kind.yaml
Labels: area/test, priority/important-soon, lgtm, size/M, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#114920 fix: applyconfiguration-gen fails for types with non-builtin map fields
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/refgraph.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#115723 Revert "use kube-proxy defaults values for CI"
  cluster/gce/gci/configure-helper.sh
Labels: kind/cleanup, sig/scalability, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#115588 Add ctx logging involved in KS startup
  cmd/kube-scheduler/app/options/configfile.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server.go
  hack/logcheck.conf
  pkg/scheduler/apis/config/v1/default_plugins.go
  pkg/scheduler/apis/config/v1/default_plugins_test.go
  pkg/scheduler/apis/config/v1/defaults.go
  pkg/scheduler/util/utils.go
Labels: area/test, sig/scheduling, lgtm, size/L, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, needs-triage

#115722 kubectl debug: Use restClientGetter instead cmd.Factory
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#115464 Remove check for CSI driver running on node for CSI migration attach operations
  pkg/controller/volume/attachdetach/util/util.go
  pkg/controller/volume/attachdetach/util/util_test.go
  pkg/volume/testing/volume_host.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/L, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#115730 Remove cgo dependency
  test/e2e_node/os_label_rename_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#115652 feature(scheduler): won't run Score if PreScore returned a Skip status
  pkg/scheduler/framework/cycle_state.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/testing/fake_plugins.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage

#115685 client-go: add an Error() function on Request
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#115709 Use predefined variable instead of duplicated string
  pkg/scheduler/framework/plugins/defaultbinder/default_binder_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#115732 Revert #114605: its unit test requires root permission
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, needs-triage

#115737 Add uablrek in pkg/util/ipvs/OWNERS
  pkg/util/ipvs/OWNERS
Labels: sig/network, lgtm, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#115717 update node-local-dns to v1.22.17
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#114987 Add applyconfiguration generator to code-generator script
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/applyconfiguration/cr/v1/example.go
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/applyconfiguration/cr/v1/examplespec.go
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/applyconfiguration/cr/v1/examplestatus.go
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/applyconfiguration/internal/internal.go
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/applyconfiguration/utils.go
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/clientset/versioned/typed/cr/v1/example.go
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/clientset/versioned/typed/cr/v1/fake/fake_example.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/applyconfiguration/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/applyconfiguration/example/v1/testtype.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/applyconfiguration/internal/internal.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/applyconfiguration/utils.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/clientset/versioned/typed/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/clientset/versioned/typed/example/v1/fake/fake_clustertesttype.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/clientset/versioned/typed/example/v1/fake/fake_testtype.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/clientset/versioned/typed/example/v1/testtype.go
  staging/src/k8s.io/code-generator/examples/MixedCase/applyconfiguration/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/examples/MixedCase/applyconfiguration/example/v1/testtype.go
  staging/src/k8s.io/code-generator/examples/MixedCase/applyconfiguration/internal/internal.go
  staging/src/k8s.io/code-generator/examples/MixedCase/applyconfiguration/utils.go
  staging/src/k8s.io/code-generator/examples/MixedCase/clientset/versioned/typed/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/examples/MixedCase/clientset/versioned/typed/example/v1/fake/fake_clustertesttype.go
  staging/src/k8s.io/code-generator/examples/MixedCase/clientset/versioned/typed/example/v1/fake/fake_testtype.go
  staging/src/k8s.io/code-generator/examples/MixedCase/clientset/versioned/typed/example/v1/testtype.go
  staging/src/k8s.io/code-generator/examples/crd/applyconfiguration/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/examples/crd/applyconfiguration/example/v1/testtype.go
  staging/src/k8s.io/code-generator/examples/crd/applyconfiguration/example2/v1/testtype.go
  staging/src/k8s.io/code-generator/examples/crd/applyconfiguration/internal/internal.go
  staging/src/k8s.io/code-generator/examples/crd/applyconfiguration/utils.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/typed/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/typed/example/v1/fake/fake_clustertesttype.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/typed/example/v1/fake/fake_testtype.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/typed/example/v1/testtype.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/typed/example2/v1/fake/fake_testtype.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/typed/example2/v1/testtype.go
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/generate-groups.sh
  staging/src/k8s.io/code-generator/generate-internal-groups.sh
  staging/src/k8s.io/code-generator/tools.go
  staging/src/k8s.io/noderesourcetopology-api/go.mod
  staging/src/k8s.io/noderesourcetopology-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/pkg/generated/applyconfiguration/internal/internal.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/applyconfiguration/utils.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/applyconfiguration/wardle/v1alpha1/fischer.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/applyconfiguration/wardle/v1alpha1/flunder.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/applyconfiguration/wardle/v1alpha1/flunderspec.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/applyconfiguration/wardle/v1beta1/flunder.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/applyconfiguration/wardle/v1beta1/flunderspec.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1alpha1/fake/fake_fischer.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1alpha1/fake/fake_flunder.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1alpha1/fischer.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1alpha1/flunder.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1beta1/fake/fake_flunder.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/typed/wardle/v1beta1/flunder.go
  vendor/modules.txt
Labels: lgtm, sig/api-machinery, release-note, size/XXL, kind/feature, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#113315 resourcequota: use contextual logging
  cmd/kube-controller-manager/app/core.go
  pkg/controller/resourcequota/resource_quota_controller.go
  pkg/controller/resourcequota/resource_quota_controller_test.go
  pkg/controller/resourcequota/resource_quota_monitor.go
  test/integration/quota/quota_test.go
Labels: area/test, lgtm, sig/api-machinery, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, tide/merge-method-squash, triage/accepted

#115456 test/integration: goroutine leak check
  LICENSES/vendor/go.uber.org/goleak/LICENSE
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  test/integration/framework/etcd.go
  test/integration/framework/goleak.go
  vendor/go.uber.org/goleak/.gitignore
  vendor/go.uber.org/goleak/CHANGELOG.md
  vendor/go.uber.org/goleak/LICENSE
  vendor/go.uber.org/goleak/Makefile
  vendor/go.uber.org/goleak/README.md
  vendor/go.uber.org/goleak/doc.go
  vendor/go.uber.org/goleak/glide.yaml
  vendor/go.uber.org/goleak/internal/stack/doc.go
  vendor/go.uber.org/goleak/internal/stack/stacks.go
  vendor/go.uber.org/goleak/leaks.go
  vendor/go.uber.org/goleak/options.go
  vendor/go.uber.org/goleak/testmain.go
  vendor/go.uber.org/goleak/tracestack_new.go
  vendor/modules.txt
Labels: area/test, kind/cleanup, area/apiserver, lgtm, area/cloudprovider, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, sig/architecture, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#111982 cleanup: delete useless code from kubelet volumemanager
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/volume_manager.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#115670 Document risk of HTTP response body in probe failure msg
  pkg/probe/http/http.go
Labels: priority/important-soon, kind/documentation, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#115384 Add test for pkg/kubelet/sysctl/allowlist_test.go
  pkg/kubelet/sysctl/allowlist_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#115739 Update ineligible endpoints yaml to include debug endpoints
  test/conformance/testdata/ineligible_endpoints.yaml
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, triage/accepted

#114887 cleanup: simplify pickOneNodeForPreemption in preemption
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#115758 Remove unused code
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/storageversionhash.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#114494 Graduate ReadWriteOncePod to beta, updated e2e test
  pkg/features/kube_features.go
  test/e2e/storage/testsuites/readwriteoncepod.go
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
Labels: area/test, sig/scheduling, lgtm, sig/storage, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#115465 Refactor fake versions of openapi client into testing subdir
  staging/src/k8s.io/client-go/openapi/openapitest/fake.go
  staging/src/k8s.io/client-go/openapi/openapitest/fake_test.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/explain_test.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/generator_test.go
Labels: kind/cleanup, area/kubectl, lgtm, sig/api-machinery, size/XL, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#115610 kubeadm: show a warning message when detecting that the sandbox image of the container runtime is inconsistent with that used by kubeadm
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/util/runtime/runtime.go
  cmd/kubeadm/app/util/runtime/runtime_test.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#115626 Migrate apiserver tracing_test.go to registry.k8s.io
  staging/src/k8s.io/apiserver/pkg/server/options/tracing_test.go
Labels: kind/cleanup, area/apiserver, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted, sig/k8s-infra

#115785 Revert "Refactor fake versions of openapi client into testing subdir"
  staging/src/k8s.io/client-go/openapi/openapitest/fake.go
  staging/src/k8s.io/client-go/openapi/openapitest/fake_test.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/explain_test.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/generator_test.go
Labels: priority/critical-urgent, kind/cleanup, area/kubectl, lgtm, sig/api-machinery, size/XL, release-note-none, approved, sig/cli, cncf-cla: yes, kind/failing-test, triage/accepted

#112037 Move /proc/asound from defaultReadonlyPaths to defaultMaskedPaths
  pkg/securitycontext/util.go
Labels: kind/bug, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#115590 node: topology-mgr: Add metric to measure topology manager admission latency
  pkg/kubelet/cm/topologymanager/topology_manager.go
  pkg/kubelet/metrics/metrics.go
  test/e2e_node/topology_manager_metrics_test.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, triage/accepted

#115797 e2e dra: fix resource limits in a mixed cluster
  test/e2e/dra/test-driver/app/controller.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#115798 dra: avoid goroutine leaks from event broadcaster
  pkg/controller/resourceclaim/controller.go
  staging/src/k8s.io/dynamic-resource-allocation/controller/controller.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#115808 Revert "restclient: rename "method" label to "verb""
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics_test.go
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage

#115583 Optimization on running prePreEnqueuePlugins before adding pods into activeQ
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: sig/scheduling, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#115802 webhook metrics top out at 2.5s but default timeout is 10s
  staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, sig/instrumentation, needs-priority, needs-triage, area/stable-metrics

#115394 kmsv2: add metrics
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/envelope.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/envelope_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/value/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/transformer.go
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, kind/feature, sig/auth, approved, cncf-cla: yes, sig/instrumentation, sig/testing, triage/accepted

#115811 Remove checks for userspace proxy mode in e2e tests
  test/e2e/network/service.go
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#115712 kubectl debug: add netadmin profile
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles_test.go
Labels: area/kubectl, lgtm, release-note, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#115575 kubeadm: fix a bug where the uploaded kubelet configuration in kube-system/kubelet-config ConfigMap does not respect user patch
  cmd/kubeadm/app/cmd/phases/init/uploadconfig.go
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/phases/kubelet/config_test.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, needs-triage

#115799 test/utils: avoid data race during parallel create
  test/utils/runners.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#115519 cleanup(scheduler): move metricRecorder to metrics package
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/runtime/metrics_recorder.go
  pkg/scheduler/metrics/metric_recorder.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114201 change unnecessary `switch` to `if` in metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/value/metrics.go
Labels: area/test, sig/network, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#115713 cleanup: using const systemNodeRoleName instead of string "system:node"
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#114447 fix:Optimize code for else logic
  test/images/apparmor-loader/loader.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#115821 Validating the scheduling gate name qualified
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: sig/scheduling, lgtm, release-note, size/S, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#115828 [go] Bump images, dependencies and versions to go 1.20.1
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  hack/lib/golang.sh
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#115837 kubectl: use pointer.Bool instead of deprecated pointer.BoolPtr
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#113263 [Flaky test] fix floating point precision error in TestDifferentWidths
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#115620 client-go/cache: fix missing delete event on replace
  staging/src/k8s.io/client-go/tools/cache/delta_fifo.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#112393 APF: two improvements when dumping priority levels
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller_debug.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/debug/dump.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#115830 [release-1.23] releng: Update images, dependencies and version to Go 1.19.6
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  hack/lib/golang.sh
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, area/provider/gcp, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/cloud-provider, needs-priority, area/dependency, needs-triage

#115832 [release-1.25] releng: Update images, dependencies and version to Go 1.19.6
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage

#115833 [release-1.26] releng: Update images, dependencies and version to Go 1.19.6
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, needs-triage
