Repository kubernetes/kubernetes, pull requests merged in 2023-05, with the labels that each got.

#116665 intstr: add constructor from int32, deprecate int constructor
  staging/src/k8s.io/apimachinery/pkg/util/intstr/intstr.go
  staging/src/k8s.io/apimachinery/pkg/util/intstr/intstr_test.go
Labels: area/test, sig/network, area/kubelet, kind/cleanup, sig/scheduling, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, sig/autoscaling, size/S, kind/api-change, release-note-none, sig/auth, sig/apps, approved, sig/windows, sig/cli, area/kubeadm, cncf-cla: yes, sig/testing, priority/important-longterm, area/ipvs, sig/cloud-provider, ok-to-test, area/e2e-test-framework, triage/accepted

#117684 Automated cherry pick of #115019: proxy/ipvs: add a GetAllLocalAddressesExcept() function
  pkg/proxy/ipvs/netlink.go
  pkg/proxy/ipvs/netlink_linux.go
  pkg/proxy/ipvs/netlink_unsupported.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/testing/fake.go
  pkg/proxy/ipvs/testing/fake_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, area/ipvs, triage/accepted

#117576 Fix LocationOfOrigin shows up unexpectedly
  staging/src/k8s.io/client-go/tools/clientcmd/api/helpers_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/types_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#117629 Registry: use new intstr functions
  pkg/registry/apps/deployment/storage/storage_test.go
  pkg/registry/apps/deployment/strategy_test.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/core/service/strategy_test.go
  pkg/registry/networking/ingress/storage/storage_test.go
  pkg/registry/policy/poddisruptionbudget/storage/storage_test.go
  pkg/registry/policy/poddisruptionbudget/strategy_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#117622 API: use new intstr functions
  pkg/api/service/testing/make.go
  pkg/api/v1/pod/util_test.go
  pkg/apis/apps/fuzzer/fuzzer.go
  pkg/apis/apps/v1/conversion_test.go
  pkg/apis/apps/v1/defaults.go
  pkg/apis/apps/v1/defaults_test.go
  pkg/apis/apps/v1beta1/defaults.go
  pkg/apis/apps/v1beta1/defaults_test.go
  pkg/apis/apps/v1beta2/conversion_test.go
  pkg/apis/apps/v1beta2/defaults.go
  pkg/apis/apps/v1beta2/defaults_test.go
  pkg/apis/apps/validation/validation_test.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/extensions/v1beta1/conversion.go
  pkg/apis/extensions/v1beta1/conversion_test.go
  pkg/apis/extensions/v1beta1/defaults.go
  pkg/apis/extensions/v1beta1/defaults_test.go
  pkg/apis/networking/v1beta1/conversion.go
  pkg/apis/networking/v1beta1/conversion_test.go
  pkg/apis/networking/validation/validation_test.go
  pkg/apis/policy/validation/validation_test.go
Labels: sig/network, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, triage/accepted

#117623 API machinery: use new intstr functions
  pkg/controlplane/controller_test.go
  staging/src/k8s.io/apiserver/pkg/util/proxy/proxy_test.go
  staging/src/k8s.io/client-go/rest/request_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#117624 Apps: use new intstr functions
  pkg/controller/daemon/daemon_controller_test.go
  pkg/controller/daemon/update_test.go
  pkg/controller/deployment/deployment_controller_test.go
  pkg/controller/deployment/rolling_test.go
  pkg/controller/deployment/util/deployment_util.go
  pkg/controller/deployment/util/deployment_util_test.go
  pkg/controller/disruption/disruption_test.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_utils.go
  pkg/controller/statefulset/stateful_set_utils_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#110472 Fix strategic merge patch $deleteFromPrimitiveList bug
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch.go
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, triage/accepted

#117705 Update kube-openapi to fix race
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/kube-openapi/pkg/handler/handler.go
  vendor/modules.txt
Labels: kind/bug, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/node, sig/api-machinery, release-note, size/M, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, kind/regression, triage/accepted

#117433 Automated cherry pick of #117019: kubelet: Mark new terminal pods as non-finished in pod worker
  pkg/kubelet/pod_workers.go
  pkg/kubelet/pod_workers_test.go
  test/e2e_node/restart_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#114998 Fix SSA being silently disabled by lack of OpenAPI config
  api/api-rules/apiextensions_violation_exceptions.list
  cmd/kube-apiserver/app/server.go
  hack/update-codegen.sh
  pkg/controlplane/instance_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/options/options.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder/builder.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apimachinery/pkg/util/managedfields/internal/structuredmerge.go
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_test.go
Labels: kind/cleanup, area/apiserver, area/kubectl, lgtm, sig/api-machinery, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, triage/accepted

#117568 Fix Strategic Merge merging leaving patch directives in objects when field doesn't exist
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch.go
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch_test.go
  test/integration/apiserver/patch_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#116376 node: device-mgr: Handle recovery flow by checking if healthy devices exist- attempt 2
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_test.go
  test/e2e_node/device_manager_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/image_list.go
Labels: kind/bug, area/test, area/kubelet, lgtm, sig/node, release-note, size/XL, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#117612 Fix image pull error type `ErrRegistryUnavailable`
  pkg/kubelet/cri/remote/remote_image.go
  pkg/kubelet/images/image_manager.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, triage/accepted

#117050 remove seccomp profile path on security context
  pkg/kubelet/kuberuntime/security_context.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#117105 Swap assert.Equal parameters oders to follow convention
  pkg/kubelet/cm/memorymanager/memory_manager_test.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#117394 Remove unnecessary if judgments
  pkg/kubelet/sysctl/allowlist.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#117430 remove Mkdirtemp func to reduce util pkg for testing
  staging/src/k8s.io/cli-runtime/pkg/resource/builder_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls_test.go
Labels: kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117627 kubelet: use new intstr functions
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/labels_test.go
  pkg/kubelet/lifecycle/handlers_test.go
  pkg/kubelet/prober/prober_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#94021 Support specifying custom LB retry period from cloud provider
  staging/src/k8s.io/cloud-provider/api/retry_error.go
  staging/src/k8s.io/cloud-provider/cloud.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: priority/important-soon, sig/network, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test

#117669 Fix flaky HPA e2e tests by not failing on context cancelled
  test/e2e/framework/autoscaling/autoscaling_utils.go
Labels: area/test, lgtm, sig/autoscaling, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, area/e2e-test-framework, triage/accepted

#117198 replace ioutil with os, update doc in kubelet
  pkg/kubeapiserver/admission/config.go
  pkg/kubelet/kubeletconfig/util/files/files.go
  pkg/kubelet/kuberuntime/kuberuntime_gc.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
  pkg/kubelet/prober/common_test.go
  pkg/kubelet/prober/scale_test.go
  pkg/kubelet/prober/worker_test.go
  pkg/kubelet/status/status_manager_test.go
  pkg/util/filesystem/defaultfs.go
  pkg/util/filesystem/filesystem.go
Labels: priority/backlog, area/kubelet, kind/cleanup, area/apiserver, lgtm, sig/node, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#117327 dependencies: update {vishvananda/netns,xlab/treeprint}
  go.mod
  go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  vendor/github.com/vishvananda/netns/.golangci.yml
  vendor/github.com/vishvananda/netns/README.md
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/nshandle_linux.go
  vendor/github.com/vishvananda/netns/nshandle_others.go
  vendor/github.com/xlab/treeprint/.gitignore
  vendor/github.com/xlab/treeprint/treeprint.go
  vendor/modules.txt
Labels: kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, area/dependency, triage/accepted

#117330 dependencies: udpate seccomp/libseccomp-golang to v0.10.0
  go.mod
  go.sum
  vendor/github.com/seccomp/libseccomp-golang/CHANGELOG
  vendor/github.com/seccomp/libseccomp-golang/README.md
  vendor/github.com/seccomp/libseccomp-golang/SECURITY.md
  vendor/github.com/seccomp/libseccomp-golang/seccomp.go
  vendor/github.com/seccomp/libseccomp-golang/seccomp_internal.go
  vendor/modules.txt
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/dependency, triage/accepted

#117545 Update cri-tools to v1.27.0
  build/dependencies.yaml
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
Labels: priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, sig/node, release-note, size/S, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#117611 Write e2e test for APIResources endpoints + 12 Endpoints
  test/e2e/apimachinery/discovery.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, triage/accepted

#117626 Network: use new intstr functions
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/utils_test.go
  pkg/controller/util/endpoint/trigger_time_tracker_test.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/winkernel/proxier_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, sig/apps, approved, sig/windows, cncf-cla: yes, ¯\_(ツ)_/¯, area/ipvs, ok-to-test, needs-priority, needs-triage

#117716 Clean up brace whitespace in **/validation_test.go
  pkg/apis/admissionregistration/validation/validation_test.go
  pkg/apis/apiserverinternal/validation/validation_test.go
  pkg/apis/apps/validation/validation_test.go
  pkg/apis/authorization/validation/validation_test.go
  pkg/apis/autoscaling/validation/validation_test.go
  pkg/apis/batch/validation/validation_test.go
  pkg/apis/certificates/validation/validation_test.go
  pkg/apis/core/v1/validation/validation_test.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/flowcontrol/validation/validation_test.go
  pkg/apis/networking/validation/validation_test.go
  pkg/apis/node/validation/validation_test.go
  pkg/apis/policy/validation/validation_test.go
  pkg/apis/rbac/validation/validation_test.go
  pkg/apis/storage/validation/validation_test.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/proxy/apis/config/validation/validation_test.go
  pkg/scheduler/apis/config/validation/validation_test.go
  plugin/pkg/admission/eventratelimit/apis/eventratelimit/validation/validation_test.go
  plugin/pkg/admission/podtolerationrestriction/apis/podtolerationrestriction/validation/validation_test.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/validation/validation_test.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation_test.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/apis/resourcequota/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/apis/config/validation/validation_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation_test.go
Labels: sig/network, kind/cleanup, sig/scheduling, area/kube-proxy, area/apiserver, lgtm, sig/storage, sig/api-machinery, size/XXL, kind/api-change, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#117721 windows-tests: Update connectivity check util function
  test/e2e/windows/hybrid_network.go
Labels: area/test, lgtm, size/XS, kind/flake, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#117723 Kube-proxy/ipvs: accept access to healthCheckNodePort on LbIP
  pkg/proxy/ipvs/proxier.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#117727 Remove old metric scheduler_goroutines
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/schedule_one.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, kind/feature, release-note-action-required, approved, cncf-cla: yes, needs-priority, needs-triage

#117711 Move glusterfs 1.25 deprecation notice to the deprecation section.
  CHANGELOG/CHANGELOG-1.25.md
Labels: kind/documentation, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#117736 Automated cherry pick of #117711: Move glusterfs 1.25 deprecation notice to the deprecation
  CHANGELOG/CHANGELOG-1.25.md
Labels: kind/documentation, lgtm, size/XS, area/release-eng, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#117090 Upgrades spf13/cobra to v1.7.0
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  vendor/github.com/inconshreveable/mousetrap/trap_others.go
  vendor/github.com/inconshreveable/mousetrap/trap_windows.go
  vendor/github.com/inconshreveable/mousetrap/trap_windows_1.4.go
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/Makefile
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/args.go
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/command_notwin.go
  vendor/github.com/spf13/cobra/command_win.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/doc/man_docs.go
  vendor/github.com/spf13/cobra/doc/md_docs.go
  vendor/github.com/spf13/cobra/doc/rest_docs.go
  vendor/github.com/spf13/cobra/doc/util.go
  vendor/github.com/spf13/cobra/doc/yaml_docs.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/flag_groups.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/projects_using_cobra.md
  vendor/github.com/spf13/cobra/shell_completions.go
  vendor/github.com/spf13/cobra/shell_completions.md
  vendor/github.com/spf13/cobra/user_guide.md
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/api-machinery, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/architecture, sig/cloud-provider, area/dependency, triage/accepted

#117744 [go] Bump images, dependencies and versions to go 1.20.4
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/M, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#117369 Automated cherry pick of #116995: kubelet: Ensure pods that have not started track a
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/pod_workers.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/M, cherry-pick-approved, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#117396 endpointslice: reduce visibility of vars/funcs
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/topologycache/sliceinfo.go
  pkg/controller/endpointslice/topologycache/topologycache.go
  pkg/controller/endpointslice/topologycache/utils.go
  pkg/controller/endpointslice/topologycache/utils_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
Labels: sig/network, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117683 Add check to skip PodTopologySpread PreFilter if no constraints are specified
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
Labels: sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#115043 cluster/gce: Fetch image from image family
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/util.sh
Labels: priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, size/M, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#117232 scheduler_perf: code cleanups
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/integration/scheduler_perf/util.go
  test/integration/util/util.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#117325 fix typo annotation key notes.
  staging/src/k8s.io/api/core/v1/annotation_key_constants.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#117448 Include stderr in cred provider plugin errors
  pkg/credentialprovider/plugin/plugin.go
Labels: priority/important-soon, lgtm, sig/node, release-note, size/XS, kind/feature, approved, cncf-cla: yes, ok-to-test, triage/accepted

#117649 scheduler: remove deprecated v1beta2 KubeSchedulerConfiguration component config
  api/api-rules/violation_exceptions.list
  cmd/kube-scheduler/app/options/configfile.go
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server_test.go
  hack/.import-aliases
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/scheduler/apis/config/scheme/scheme.go
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/testing/config.go
  pkg/scheduler/apis/config/v1beta2/conversion.go
  pkg/scheduler/apis/config/v1beta2/default_plugins.go
  pkg/scheduler/apis/config/v1beta2/default_plugins_test.go
  pkg/scheduler/apis/config/v1beta2/defaults.go
  pkg/scheduler/apis/config/v1beta2/defaults_test.go
  pkg/scheduler/apis/config/v1beta2/doc.go
  pkg/scheduler/apis/config/v1beta2/register.go
  pkg/scheduler/apis/config/v1beta2/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1beta2/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/v1beta2/zz_generated.defaults.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/testing/framework_helpers.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/doc.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/register.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/types_pluginargs.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/zz_generated.deepcopy.go
  test/integration/scheduler_perf/util.go
  vendor/modules.txt
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, sig/api-machinery, release-note, size/XXL, kind/api-change, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, api-review, needs-triage

#117599 Automated cherry pick of #117022: Fix directory mismatch for `volume.SetVolumeOwnership()`
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/azuredd/azure_mounter.go
  pkg/volume/cinder/cinder.go
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/disk_manager.go
  pkg/volume/flexvolume/mounter.go
  pkg/volume/flocker/flocker.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/git_repo/git_repo.go
  pkg/volume/iscsi/disk_manager.go
  pkg/volume/local/local.go
  pkg/volume/portworx/portworx.go
  pkg/volume/projected/projected.go
  pkg/volume/rbd/disk_manager.go
  pkg/volume/secret/secret.go
  pkg/volume/storageos/storageos.go
  pkg/volume/volume_linux.go
  pkg/volume/volume_linux_test.go
  pkg/volume/volume_unsupported.go
  pkg/volume/vsphere_volume/vsphere_volume.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#117136 unittests: Fixes server journal unit test on Windows
  pkg/kubelet/kubelet_server_journal_test.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#117468 Replace the deprecated ioutil methods in the test directory
  test/e2e_node/plugins/gcp-credential-provider/main.go
  test/e2e_node/plugins/gcp-credential-provider/provider.go
  test/integration/scheduler_perf/scheduler_perf_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#117618 Add jpbetz to approvers of apiextensions-apiserver
  staging/src/k8s.io/apiextensions-apiserver/OWNERS
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#117710 test/e2e_node: move getSampleDevicePluginPod to a test-only source file
  test/e2e_node/device_plugin_test.go
  test/e2e_node/image_list.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#117746 Update distroless-iptables to v0.2.4
  build/common.sh
  build/dependencies.yaml
  test/utils/image/manifest.go
Labels: area/test, priority/important-soon, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, sig/testing, triage/accepted

#117292 Automated cherry pick of #116950: Do not look at VPC-related resources outside the cluster's
  cluster/gce/list-resources.sh
Labels: kind/bug, lgtm, area/provider/gcp, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#117291 Automated cherry pick of #116950: Do not look at VPC-related resources outside the cluster's
  cluster/gce/list-resources.sh
Labels: kind/bug, lgtm, area/provider/gcp, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#117289 Automated cherry pick of #116950: Do not look at VPC-related resources outside the cluster's
  cluster/gce/list-resources.sh
Labels: kind/bug, area/test, priority/important-soon, lgtm, area/provider/gcp, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-triage

#117290 Automated cherry pick of #116950: Do not look at VPC-related resources outside the cluster's
  cluster/gce/list-resources.sh
Labels: kind/bug, lgtm, area/provider/gcp, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#117575 Automated cherry pick of #117022: Fix directory mismatch for `volume.SetVolumeOwnership()`
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/azuredd/azure_mounter.go
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/disk_manager.go
  pkg/volume/flexvolume/mounter.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/git_repo/git_repo.go
  pkg/volume/iscsi/disk_manager.go
  pkg/volume/local/local.go
  pkg/volume/portworx/portworx.go
  pkg/volume/projected/projected.go
  pkg/volume/rbd/disk_manager.go
  pkg/volume/secret/secret.go
  pkg/volume/volume_linux.go
  pkg/volume/volume_linux_test.go
  pkg/volume/volume_unsupported.go
  pkg/volume/vsphere_volume/vsphere_volume.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#116575 unit tests: Fixes kuberuntime unittests for Windows
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#117768 QueryParamVerifierV3 resilient to minimal OpenAPI V3 documents
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3.go
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, kind/regression, triage/accepted

#117380 Remove GA feature gates in 1.28 about DryRun
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/integration/dryrun/dryrun_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#117421 Replace os.Setenv with testing.T.Setenv in tests
  cmd/kube-scheduler/app/options/options_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#116634 Improve integration test performance in scheduler
  pkg/controller/daemon/daemon_controller_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/apiserver/certreload/certreload_test.go
  test/integration/apiserver/export_test.go
  test/integration/apiserver/flowcontrol/concurrency_test.go
  test/integration/apiserver/flowcontrol/concurrency_util_test.go
  test/integration/apiserver/flowcontrol/fight_test.go
  test/integration/apiserver/flowcontrol/fs_condition_test.go
  test/integration/apiserver/max_json_patch_operations_test.go
  test/integration/apiserver/max_request_body_bytes_test.go
  test/integration/apiserver/no_new_betas_test.go
  test/integration/apiserver/openapi/openapi_enum_test.go
  test/integration/apiserver/openapi/openapiv3_test.go
  test/integration/apiserver/patch_test.go
  test/integration/apiserver/podlogs/podlogs_test.go
  test/integration/apiserver/print_test.go
  test/integration/apiserver/watchcache_test.go
  test/integration/auth/accessreview_test.go
  test/integration/auth/auth_test.go
  test/integration/auth/bootstraptoken_test.go
  test/integration/auth/dynamic_client_test.go
  test/integration/auth/rbac_test.go
  test/integration/auth/selfsubjectreview_test.go
  test/integration/auth/svcaccttoken_test.go
  test/integration/clustercidr/ipam_test.go
  test/integration/controlplane/synthetic_controlplane_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/defaulttolerationseconds/defaulttolerationseconds_test.go
  test/integration/dualstack/dualstack_endpoints_test.go
  test/integration/dualstack/dualstack_test.go
  test/integration/examples/webhook_test.go
  test/integration/framework/test_server.go
  test/integration/ipamperf/ipam_test.go
  test/integration/network/services_test.go
  test/integration/node/lifecycle_test.go
  test/integration/podgc/podgc_test.go
  test/integration/quota/quota_test.go
  test/integration/scheduler/bind/bind_test.go
  test/integration/scheduler/extender/extender_test.go
  test/integration/scheduler/filters/filters_test.go
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/preemption/preemption_test.go
  test/integration/scheduler/queue_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/scoring/priorities_test.go
  test/integration/scheduler/taint/taint_test.go
  test/integration/scheduler_perf/util.go
  test/integration/serviceaccount/service_account_test.go
  test/integration/servicecidr/allocator_test.go
  test/integration/statefulset/statefulset_test.go
  test/integration/util/util.go
  test/integration/volumescheduling/volume_binding_test.go
  test/integration/volumescheduling/volume_capacity_priority_test.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/XXL, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#117358 Automated cherry pick of #116138: fix: the volume is not detached after the pod and PVC objects
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_util.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#117340 Automated cherry pick of #116138: fix: the volume is not detached after the pod and PVC objects
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_util.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#117452 Automated cherry pick of #117388: Re-work logic in shouldSyncUpdatedNode
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, sig/network, lgtm, area/cloudprovider, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#117759 Automated cherry pick of #117723: Kube-proxy/ipvs: accept access to healthCheckNodePort on LbIP
  pkg/proxy/ipvs/proxier.go
Labels: kind/bug, sig/network, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#117755 Automated cherry pick of #117723: Kube-proxy/ipvs: accept access to healthCheckNodePort on LbIP
  pkg/proxy/ipvs/proxier.go
Labels: kind/bug, sig/network, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#117382 Automated cherry pick of #117214: add log includes pod preemption details
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117384 Automated cherry pick of #117214: add log includes pod preemption details
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117298 Automated cherry pick of #117238: api: encode NamespacedName with lower case in JSON
  staging/src/k8s.io/apimachinery/pkg/types/namespacedname.go
  staging/src/k8s.io/component-base/logs/json/json_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted, wg/structured-logging

#117445 Automated cherry pick of #117214: add log includes pod preemption details
  pkg/scheduler/framework/preemption/preemption.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117450 Automated cherry pick of #117388: Re-work logic in shouldSyncUpdatedNode
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, sig/network, lgtm, area/cloudprovider, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#117764 e2e agnhost functionality to RST TCP connections
  test/images/agnhost/README.md
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
  test/images/agnhost/tcp-reset/tcp_reset.go
Labels: area/test, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#117766 [local-up-cluster] Use the kubectl we built and wait for node to be ready
  hack/local-up-cluster.sh
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, needs-triage

#117774 [release-1.26] releng/go: Update images, dependencies and version to Go 1.19.9
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, area/dependency, triage/accepted

#117785 [E2E] Don't use Nodes.ExternalIPs to verify the NodePorts connectivity
  test/e2e/network/service.go
Labels: area/test, sig/network, lgtm, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#117633 remove tracking annotation from validation and webhooks
  pkg/apis/batch/validation/validation.go
  pkg/apis/batch/validation/validation_test.go
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
Labels: kind/cleanup, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, needs-priority, api-review, kind/deprecation, needs-triage

#117778 Update publishing-bot rules for release branches to Go 1.19.9
  staging/publishing/rules.yaml
Labels: priority/important-soon, lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, area/dependency, triage/accepted

#117718 promote ProxyTerminatingEndpoints to GA
  pkg/features/kube_features.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/topology.go
  pkg/proxy/topology_test.go
  pkg/proxy/winkernel/proxier.go
  test/e2e/network/service.go
Labels: area/test, sig/network, area/kube-proxy, lgtm, release-note, size/XL, kind/feature, approved, sig/windows, cncf-cla: yes, sig/testing, area/ipvs, needs-priority, needs-triage

#117236 Automated cherry pick of #116138: fix: the volume is not detached after the pod and PVC objects
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_util.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#117243 Add node check to vSphere cloud provider
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager_test.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, release-note, size/L, approved, cncf-cla: yes, sig/cloud-provider, needs-triage

#117747 proxy startup-time config handling cleanup (take 2)
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_others_test.go
  cmd/kube-proxy/app/server_windows.go
  pkg/proxy/apis/config/validation/validation.go
  pkg/proxy/apis/config/validation/validation_test.go
  pkg/proxy/kubemark/hollow_proxy.go
Labels: sig/network, kind/cleanup, sig/scalability, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#117735 [KMSv2] fix: fixes flake in TestKMSv2Healthz
  test/integration/controlplane/transformation/transformation_test.go
Labels: area/test, lgtm, size/XS, kind/flake, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#117751 Disable NewVolumeManagerReconstruction and SELinuxMountReadWriteOncePod feature gate
  pkg/apis/storage/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/registry/storage/csidriver/strategy_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/storage, release-note, size/M, approved, cncf-cla: yes, kind/regression, triage/accepted

#117677 🐛 Fix incorrect calculation for ResourceQuota with PriorityClass as its scope
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/pods_test.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/generic/evaluator.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#116208 support short name for flowschema and prioritylevelconfiguration
  pkg/registry/flowcontrol/flowschema/storage/storage.go
  pkg/registry/flowcontrol/prioritylevelconfiguration/storage/storage.go
Labels: lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#117107 pkg/registry/flowcontrol: avoid race condition during Create
  pkg/registry/flowcontrol/ensurer/flowschema.go
  pkg/registry/flowcontrol/ensurer/prioritylevelconfiguration.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, triage/accepted

#117422 Replace os.Setenv with testing.T.Setenv in tests
  staging/src/k8s.io/client-go/rest/client_test.go
  staging/src/k8s.io/client-go/rest/connection_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/loader_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#117211 add Authorization tracking request/error counts and latency metrics
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authorization.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/metrics_test.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, sig/auth, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, triage/accepted

#117438 Automated cherry pick of #116675 upstream release 1.27
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Labels: area/test, lgtm, sig/storage, size/M, kind/flake, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, area/deflake, needs-triage

#117808 Make resize of hollow objects more verbose in start-kubemark
  test/kubemark/start-kubemark.sh
Labels: kind/bug, area/test, sig/scalability, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#111422 Improve and simplify maintenance of APF bootstrap objects without type assertions
  pkg/registry/flowcontrol/ensurer/flowschema.go
  pkg/registry/flowcontrol/ensurer/flowschema_test.go
  pkg/registry/flowcontrol/ensurer/prioritylevelconfiguration.go
  pkg/registry/flowcontrol/ensurer/prioritylevelconfiguration_test.go
  pkg/registry/flowcontrol/ensurer/strategy.go
  pkg/registry/flowcontrol/rest/storage_flowcontrol.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XXL, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#117386 pkg/proxy: use generic sets
  pkg/proxy/apis/config/validation/validation.go
  pkg/proxy/apis/config/validation/validation_test.go
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/healthcheck/healthcheck_test.go
  pkg/proxy/healthcheck/service_health.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
  pkg/proxy/topology_test.go
  pkg/proxy/types.go
  pkg/proxy/util/nodeport_addresses.go
  pkg/proxy/util/nodeport_addresses_test.go
  pkg/proxy/winkernel/proxier.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, sig/windows, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#117535 add shortnames for mutatingwebhookconfigurations and validatingwebhookconfigurations
  pkg/registry/admissionregistration/mutatingwebhookconfiguration/storage/storage.go
  pkg/registry/admissionregistration/mutatingwebhookconfiguration/storage/storage_test.go
  pkg/registry/admissionregistration/validatingwebhookconfiguration/storage/storage.go
  pkg/registry/admissionregistration/validatingwebhookconfiguration/storage/storage_test.go
Labels: lgtm, sig/api-machinery, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, triage/accepted

#117655 remove DelegateFSGroupToCSIDriver featuregate
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/storage, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#117717 Add support for CRI `ErrSignatureValidationFailed`
  pkg/kubelet/images/image_manager.go
  pkg/kubelet/images/image_manager_test.go
  pkg/kubelet/images/types.go
  staging/src/k8s.io/cri-api/pkg/errors/errors.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, triage/accepted

#117752 Automated cherry pick of #117751: Disable NewVolumeManagerReconstruction / SELinuxMountReadWriteOncePod feature gates
  pkg/apis/storage/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/registry/storage/csidriver/strategy_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#117811 Add go.work and go.work.sum to .gitignore
  .gitignore
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, triage/accepted

#117636 OWNERS_ALIASES: add self to sig-node-reviewers
  OWNERS_ALIASES
Labels: priority/important-soon, kind/documentation, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#117820 Use the right command for ss/netstat when we log the usage message
  hack/lib/etcd.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#117830 e2e services: retry if healthcheck nodeport is not available
  test/e2e/network/service.go
Labels: area/test, sig/network, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#117426 Replace os.Setenv with testing.T.Setenv in tests
  staging/src/k8s.io/kubectl/pkg/cmd/cmd_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_configmap_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/edit/edit_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/env_file_test.go
  staging/src/k8s.io/kubectl/pkg/util/i18n/i18n_test.go
Labels: kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#117523 Fix potential mutex usage bug
  pkg/kubelet/pleg/evented.go
Labels: kind/bug, priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#117538 kubelet/kuberuntime: Fix flaky test 'TestGeneratePodSandboxConfig'
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_linux_test.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_test.go
Labels: area/kubelet, lgtm, sig/node, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#117391 fix doc mismatch
  cmd/kube-apiserver/app/server.go
  cmd/kubeadm/app/phases/upgrade/health.go
  cmd/kubeadm/app/util/apiclient/clientbacked_dryrun.go
Labels: priority/backlog, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, triage/accepted

#117839 respect local GOPROXY setting in build/common.sh
  build/common.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#117835 kubeadm: fix crictl pull using wrong flag, use -i and -r
  cmd/kubeadm/app/util/runtime/runtime.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#111730 Remove default annotations from copied storage class
  test/e2e/storage/framework/driver_operations.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#115452 Cleanup: modify some sentences about statefulset
  test/e2e/apps/statefulset.go
  test/integration/statefulset/statefulset_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#110779 Add parameter to set SecurityContext for containers in tests
  test/utils/runners.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#117354 Fix CHANGELOG-1.27 cronjob correctly
  CHANGELOG/CHANGELOG-1.27.md
Labels: kind/documentation, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, needs-priority, needs-triage

#117787 Add new partial/full sync time metrics for iptables kube-proxy
  pkg/proxy/iptables/proxier.go
  pkg/proxy/metrics/metrics.go
Labels: priority/important-soon, sig/network, area/kube-proxy, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-triage

#117855 Job: Use generic Set in controller
  pkg/controller/job/indexed_job_utils.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/job/tracking_utils.go
  pkg/controller/job/tracking_utils_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#114873 Fix unknown field error in deployment lifecycle e2e
  test/e2e/apps/deployment.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#116901 remove GAed KubeletCredentialProviders （1.28）
  cluster/gce/config-default.sh
  cluster/gce/gci/configure.sh
  pkg/features/kube_features.go
  test/e2e_node/image_credential_provider.go
  test/e2e_node/plugins/gcp-credential-provider/README.md
  test/e2e_node/remote/node_e2e.go
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/node, release-note, size/S, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/cloud-provider, triage/accepted

#117864 remove ServiceInternalTrafficPolicy e2e feature tag
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#116779 Controlled rollout of CEL libraries and language feautres
  pkg/apis/admissionregistration/validation/validation.go
  pkg/apis/admissionregistration/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/model/types_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/strategy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/strategy_test.go
  staging/src/k8s.io/apimachinery/pkg/util/version/version.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/filter.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/filter_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/interface.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/admission_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller_reconcile.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/typechecking.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/validator_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/accessors.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook.go
  staging/src/k8s.io/apiserver/pkg/cel/composited.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base_test.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/environment.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/environment_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/libraries.go
  staging/src/k8s.io/apiserver/pkg/cel/library/library_compatibility_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/regex.go
  staging/src/k8s.io/apiserver/pkg/cel/library/test.go
  staging/src/k8s.io/apiserver/pkg/cel/openapi/compiling_test.go
  staging/src/k8s.io/apiserver/pkg/cel/registry.go
  staging/src/k8s.io/apiserver/pkg/cel/types.go
  test/integration/apiserver/cel/typeresolution_test.go
  vendor/modules.txt
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, size/XXL, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#114764 unittests: Fixes unit tests for Windows (part 7)
  pkg/volume/local/local_test.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/rbd/rbd_unix_test.go
  pkg/volume/rbd/rbd_windows_test.go
  pkg/volume/vsphere_volume/vsphere_volume_util_windows.go
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-triage

#117861 kubeadm: fix a bug where file copy(backup) could not be executed correctly on Windows platform during upgrade
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/phases/init/kubeconfig.go
  cmd/kubeadm/app/cmd/phases/util.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/util/copy.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#117741 Chore: clarify need update test cases
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: sig/network, kind/cleanup, lgtm, area/cloudprovider, size/M, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#117858 Tweak annotating kubemark nodes on startup
  test/kubemark/start-kubemark.sh
Labels: area/test, priority/important-soon, sig/scalability, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#117879 Fix make etcd image failed
  cluster/images/etcd/Makefile
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-triage

#117688 Allow override of prerelease/buildID portions of version at runtime
  staging/src/k8s.io/component-base/version/dynamic.go
  staging/src/k8s.io/component-base/version/verflag/verflag.go
  staging/src/k8s.io/component-base/version/verflag/verflag_test.go
  staging/src/k8s.io/component-base/version/version.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Labels: lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/release, sig/architecture, needs-priority, triage/accepted

#117642 remove ability to re-enable serving deprecated node.k8s.io/v1beta1 types
  pkg/controlplane/instance.go
  pkg/registry/node/rest/runtime_class.go
  test/integration/etcd/data.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#117885 Export GOMAXPROCS environment variable
  hack/lib/golang.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#116506 generate ReportingInstance and ReportingController in Event
  staging/src/k8s.io/client-go/tools/record/event.go
  staging/src/k8s.io/client-go/tools/record/event_test.go
  staging/src/k8s.io/client-go/tools/record/events_cache_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted

#117262 Codegen: a new script for subprojects to use
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/hack/update-codegen.sh
  staging/src/k8s.io/apiextensions-apiserver/hack/update-codegen.sh
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/clientset.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/register.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/scheme/register.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/apiextensions/interface.go
  staging/src/k8s.io/code-generator/examples/hack/update-codegen.sh
  staging/src/k8s.io/code-generator/kube_codegen.sh
  staging/src/k8s.io/kube-aggregator/hack/update-codegen.sh
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/clientset.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/fake/clientset_generated.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/fake/register.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/scheme/register.go
  staging/src/k8s.io/kube-aggregator/pkg/client/informers/externalversions/apiregistration/interface.go
  staging/src/k8s.io/metrics/hack/update-codegen.sh
  staging/src/k8s.io/sample-apiserver/hack/update-codegen.sh
  staging/src/k8s.io/sample-controller/hack/update-codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, size/XL, approved, cncf-cla: yes, sig/instrumentation, area/code-generation, needs-priority, triage/accepted

#117792 kubeadm: Add etcd client unit tests
  cmd/kubeadm/app/util/etcd/etcd.go
  cmd/kubeadm/app/util/etcd/etcd_test.go
Labels: area/test, sig/network, kind/cleanup, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/L, kind/api-change, release-note-none, sig/apps, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, area/code-generation, needs-priority, needs-triage, area/network-policy

#117365 changelog: fix formatting issue with v1.27 change log
  CHANGELOG/CHANGELOG-1.27.md
Labels: kind/documentation, kind/cleanup, lgtm, size/S, area/release-eng, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#115704 cri-api: fix comment lines about PROPAGATION_PRIVATE
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
Labels: area/kubelet, kind/documentation, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#117114 component-base: avoid data race in log format registry
  staging/src/k8s.io/component-base/logs/api/v1/registry.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, triage/accepted

#117696 Do hostNet Pod-ports -> hostPorts in Pod defaults
  pkg/apis/apps/validation/validation_test.go
  pkg/apis/batch/validation/validation_test.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/registry/core/pod/strategy.go
Labels: kind/bug, kind/cleanup, lgtm, release-note, size/L, kind/api-change, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#117836 Passing podUID in AddReference and DeleteReference
  pkg/kubelet/util/manager/cache_based_manager.go
  pkg/kubelet/util/manager/cache_based_manager_test.go
  pkg/kubelet/util/manager/manager.go
  pkg/kubelet/util/manager/watch_based_manager.go
  pkg/kubelet/util/manager/watch_based_manager_test.go
  test/integration/kubelet/watch_manager_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#117872 MinimizeIPTablesRestore to GA
  pkg/features/kube_features.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/metrics/metrics.go
Labels: priority/important-soon, sig/network, area/kube-proxy, lgtm, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, needs-triage

#117860 automated-cherry-pick-of-#117354-upstream-release-1.27
  CHANGELOG/CHANGELOG-1.27.md
Labels: priority/important-soon, kind/documentation, lgtm, size/XS, area/release-eng, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, triage/accepted

#117335 etcd: Update version to 3.5.8
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/providers/gcp.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, ok-to-test, area/e2e-test-framework, triage/accepted

#117884 add no resources found message to rollout-status command
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_status.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_status_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#115950 Fix a bug where the KubeletConfiguration is not printed correctly in the log
  cmd/kubelet/app/server.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, priority/important-longterm, triage/accepted

#117794 Return Skip in InterPodAffinity#PreScore under specific conditions
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring_test.go
Labels: sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117899 Simpler openapi gen - subprojects do themselves
  hack/update-codegen.sh
  staging/src/k8s.io/apiextensions-apiserver/hack/update-codegen.sh
  staging/src/k8s.io/code-generator/examples/hack/update-codegen.sh
  staging/src/k8s.io/code-generator/kube_codegen.sh
  staging/src/k8s.io/kube-aggregator/hack/update-codegen.sh
  staging/src/k8s.io/sample-apiserver/hack/update-codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#117900 apimachinery/util: stop using deprecated io/ioutil
  staging/src/k8s.io/apimachinery/pkg/util/framer/framer_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  staging/src/k8s.io/apimachinery/pkg/util/managedfields/fieldmanager_test.go
  staging/src/k8s.io/apimachinery/pkg/util/managedfields/internal/fieldmanager_test.go
  staging/src/k8s.io/apimachinery/pkg/util/managedfields/internal/versionconverter_test.go
  staging/src/k8s.io/apimachinery/pkg/util/net/interface_test.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/transport.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/transport_test.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
  staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/testing/openapi.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#117724 kubeadm: Make etcd member removal idempotent
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/util/etcd/etcd.go
  cmd/kubeadm/app/util/etcd/etcd_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#117913 using --max-time instead of --connect-timeout for e2e/network/service tests.
  test/e2e/network/service.go
  test/e2e/network/util.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#116526 upgrade cluster-autoscaler v1.26.1 to fix ci warnings
  cluster/gce/manifests/cluster-autoscaler.manifest
Labels: kind/cleanup, lgtm, area/provider/gcp, release-note, sig/autoscaling, size/XS, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#117796 QueryParamVerifier falls back on invalid v3 document
  staging/src/k8s.io/cli-runtime/pkg/resource/fallback_query_param_verifier.go
  staging/src/k8s.io/cli-runtime/pkg/resource/fallback_query_param_verifier_test.go
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3.go
  staging/src/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3_test.go
Labels: kind/bug, priority/important-soon, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, kind/regression, triage/accepted

#117912 DRA: fix image build on Mac
  test/e2e/dra/kind-build-image.sh
Labels: area/test, kind/cleanup, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#117616 unit tests: Fixes kubelet util unit tests for Windows
  pkg/kubelet/util/util_windows.go
  pkg/kubelet/util/util_windows_test.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#117902 test/e2e/dra: update README
  test/e2e/dra/README.md
Labels: area/test, kind/documentation, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#117932 DRA: use containerd 1.7 in kind image
  test/e2e/dra/kind-build-image.sh
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#117905 Automated cherry pick of #117861: kubeadm: fix a bug where file copy(backup) could not be
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/cmd/phases/init/kubeconfig.go
  cmd/kubeadm/app/cmd/phases/util.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/util/copy.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/M, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#117826 Automated cherry pick of #117677: Fix incorrect calculation for ResourceQuota with
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/pods_test.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/generic/evaluator.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-sig, needs-priority, needs-triage

#117828 Automated cherry pick of #117677: Fix incorrect calculation for ResourceQuota with
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/pods_test.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/generic/evaluator.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-sig, needs-priority, needs-triage

#117891 Automated cherry pick of #117677: Fix incorrect calculation for ResourceQuota with
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/pods_test.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/generic/evaluator.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-sig, needs-priority, needs-triage
