Repository kubernetes/kubernetes, pull requests merged in 2023-08, with the labels that each got.

#119696 Update CHANGELOG OWNERS to reflect 1.28 Release Notes team
  CHANGELOG/OWNERS
Labels: kind/cleanup, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, triage/accepted

#119693 Update CHANGELOG-1.28.md for KMSv2KDF
  CHANGELOG/CHANGELOG-1.28.md
Labels: kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, sig/auth, approved, cncf-cla: yes, sig/release, needs-priority, triage/accepted

#119115 Automated cherry pick of #118922: kubeadm: backdate generated CAs
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
  staging/src/k8s.io/client-go/util/cert/cert.go
Labels: lgtm, sig/api-machinery, sig/cluster-lifecycle, release-note, size/S, kind/feature, cherry-pick-approved, sig/auth, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#119114 Automated cherry pick of #118922: kubeadm: backdate generated CAs
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
  staging/src/k8s.io/client-go/util/cert/cert.go
Labels: lgtm, sig/api-machinery, sig/cluster-lifecycle, release-note, size/S, kind/feature, cherry-pick-approved, sig/auth, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#119113 Automated cherry pick of #118922: kubeadm: backdate generated CAs
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
  staging/src/k8s.io/client-go/util/cert/cert.go
Labels: lgtm, sig/api-machinery, sig/cluster-lifecycle, release-note, size/S, kind/feature, cherry-pick-approved, sig/auth, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#119466 Automated cherry pick of #119434: Include ignored pods when computing backoff delay for Job pod
  pkg/controller/job/backoff_utils.go
  pkg/controller/job/backoff_utils_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#119376 Automated cherry pick of #114237: tools/events: retry on AlreadyExist for Series #114236: tools/events: fix data race when emitting series #112334: events: fix EventSeries starting count discrepancy
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
  staging/src/k8s.io/client-go/tools/events/event_broadcaster_test.go
  staging/src/k8s.io/client-go/tools/events/eventseries_test.go
  test/integration/events/events_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#119375 Automated cherry pick of #114237: tools/events: retry on AlreadyExist for Series #114236: tools/events: fix data race when emitting series #112334: events: fix EventSeries starting count discrepancy
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
  staging/src/k8s.io/client-go/tools/events/event_broadcaster_test.go
  staging/src/k8s.io/client-go/tools/events/eventseries_test.go
  test/integration/events/events_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#117235 Automated cherry pick of #116134: fix: After a Node is down and take some time to get back to up again, the mount point of the evicted Pods cannot be cleaned up successfully.
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_common.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#119622 Automated cherry pick of #117710: e2e_node: move getSampleDevicePluginPod to
  test/e2e_node/device_plugin_test.go
  test/e2e_node/image_list.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#119128 [Azure] Issue 4230: remove readiness check for cache exclusion
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, release-note, size/M, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#119620 Automated cherry pick of #117710: e2e_node: move getSampleDevicePluginPod to
  test/e2e_node/device_plugin_test.go
  test/e2e_node/image_list.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#119363 Automated cherry pick of #117804: Refactor FindAttachablePluginBySpec out of CSI code path
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world_test.go
  pkg/kubelet/volumemanager/reconciler/reconciler_common.go
  pkg/kubelet/volumemanager/reconciler/reconciler_new.go
  pkg/kubelet/volumemanager/reconciler/reconciler_new_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_common.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#117269 Automated cherry pick of #117245: Fix TopologyAwareHint not working when zone label is added #117249: Fix a data race in TopologyCache
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/topologycache/topologycache.go
  pkg/controller/endpointslice/topologycache/topologycache_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#117267 Automated cherry pick of #117245: Fix TopologyAwareHint not working when zone label is added #117249: Fix a data race in TopologyCache
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/topologycache/topologycache.go
  pkg/controller/endpointslice/topologycache/topologycache_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#117268 Automated cherry pick of #117245: Fix TopologyAwareHint not working when zone label is added #117249: Fix a data race in TopologyCache
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/topologycache/topologycache.go
  pkg/controller/endpointslice/topologycache/topologycache_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#119621 Automated cherry pick of #117710: e2e_node: move getSampleDevicePluginPod to
  test/e2e_node/device_plugin_test.go
  test/e2e_node/image_list.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#119804 [go] Bump images, versions and deps to use Go 1.20.7
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  hack/lib/protoc.sh
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/important-soon, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#119798 Fix flaky test depending on EndpointSlices to be ready
  test/e2e/framework/util.go
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, needs-triage

#119828 [release-1.27] releng/go: Bump images, versions and deps to use Go 1.…
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  hack/lib/protoc.sh
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#119830 [release-1.26] releng/go: Bump images, versions and deps to use Go 1.20.7
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  hack/lib/protoc.sh
  hack/update-generated-protobuf-dockerized.sh
  hack/update-generated-runtime-dockerized.sh
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#119836 [release-1.25] releng/go: Bump images, versions and deps to use Go 1.20.7 and newer protoc
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  hack/lib/protoc.sh
  hack/update-generated-protobuf-dockerized.sh
  hack/update-generated-runtime-dockerized.sh
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, lgtm, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#119847 [releng] Update publishing-bot rules for release branches to Go 1.20.7
  staging/publishing/rules.yaml
Labels: lgtm, size/L, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#119784 fix: broadcast when pod is pushed back to activeQ directly in AddUnschedulableIfNotPresent
  pkg/scheduler/internal/queue/scheduling_queue.go
  test/integration/scheduler/queue_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, sig/testing, needs-priority, kind/regression, needs-triage

#119837 [release-1.24] releng/go: Bump images, versions and deps to use Go 1.20.7 and newer protoc
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  hack/lib/protoc.sh
  hack/update-generated-kms-dockerized.sh
  hack/update-generated-protobuf-dockerized.sh
  hack/update-generated-runtime-dockerized.sh
  pkg/apis/core/v1/helper/helpers_test.go
  pkg/controller/volume/persistentvolume/framework_test.go
  staging/publishing/rules.yaml
  test/e2e/cloud/gcp/kubelet_security.go
  test/e2e/node/kubelet.go
  test/e2e/storage/csi_mock_volume.go
  test/e2e/storage/ephemeral_volume.go
  test/e2e/storage/pd.go
  test/images/Makefile
Labels: area/test, lgtm, sig/storage, sig/node, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, sig/release, sig/cloud-provider, needs-priority, needs-triage

#119835 Avoid returning nil responseKind in v1beta1 aggregated discovery
  pkg/apis/apidiscovery/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/apidiscovery/v2beta1/generated.proto
  staging/src/k8s.io/api/apidiscovery/v2beta1/types.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer_test.go
  staging/src/k8s.io/client-go/discovery/aggregated_discovery.go
  staging/src/k8s.io/client-go/discovery/aggregated_discovery_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery_test.go
  test/integration/apiserver/discovery/discovery_test.go
Labels: kind/bug, area/test, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, approved, cncf-cla: yes, sig/testing, area/code-generation, kind/regression, triage/accepted

#119876 Revert "Merge pull request #118895 from RyanAoh/kep-1860"
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/apis/core/types.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
  pkg/proxy/types.go
  pkg/proxy/util/utils.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Service.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Service.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Service.yaml
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/loadbalanceringress.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/cloud-provider/service/helpers/helper.go
  test/integration/service/loadbalancer_test.go
Labels: area/test, sig/network, kind/cleanup, area/kube-proxy, lgtm, area/cloudprovider, sig/api-machinery, size/XXL, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, sig/release, area/code-generation, area/ipvs, sig/cloud-provider, needs-priority, needs-triage

#119869 Remove `matchConditions` flaky test
  test/e2e/apimachinery/webhook.go
Labels: area/test, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119867 kube-proxy: fix combination of --config and logging command line flags
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others_test.go
  cmd/kube-proxy/app/server_test.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/L, kind/api-change, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#119868 Automated cherry pick of #119835: Avoid returning nil responseKind in v1beta1 aggregated
  pkg/apis/apidiscovery/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/apidiscovery/v2beta1/generated.proto
  staging/src/k8s.io/api/apidiscovery/v2beta1/types.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer_test.go
  staging/src/k8s.io/client-go/discovery/aggregated_discovery.go
  staging/src/k8s.io/client-go/discovery/aggregated_discovery_test.go
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery_test.go
  test/integration/apiserver/discovery/discovery_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, size/L, kind/api-change, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, needs-triage

#119871 Automated cherry pick of #119835: Avoid returning nil responseKind in v1beta1 aggregated
  pkg/apis/apidiscovery/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/apidiscovery/v2beta1/generated.proto
  staging/src/k8s.io/api/apidiscovery/v2beta1/types.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer_test.go
  staging/src/k8s.io/client-go/discovery/aggregated_discovery.go
  staging/src/k8s.io/client-go/discovery/aggregated_discovery_test.go
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery_test.go
  test/integration/apiserver/discovery/discovery_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, size/L, kind/api-change, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, needs-triage

#119387 kmsv1: attempt AES-GCM before AES-CBC on reads
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, triage/accepted

#119888 Fix segfault during storage size metric collection
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, kind/regression, triage/accepted

#119899 Remove release-notes for the reverted PR#118895
  CHANGELOG/CHANGELOG-1.28.md
Labels: kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#117631 Test: use new intstr functions
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/crd_conversion_webhook.go
  test/e2e/apimachinery/generated_clientset.go
  test/e2e/apimachinery/namespace.go
  test/e2e/apimachinery/resource_quota.go
  test/e2e/apimachinery/webhook.go
  test/e2e/apps/daemon_set.go
  test/e2e/apps/disruption.go
  test/e2e/common/node/container_probe.go
  test/e2e/common/node/lifecycle_hook.go
  test/e2e/common/node/pods.go
  test/e2e/framework/service/jig.go
  test/e2e/network/conntrack.go
  test/e2e/network/endpointslice.go
  test/e2e/network/fixture.go
  test/e2e/network/funny_ips.go
  test/e2e/network/loadbalancer.go
  test/e2e/network/proxy.go
  test/e2e/network/scale/ingress.go
  test/e2e/network/service.go
  test/e2e/network/topology_hints.go
  test/e2e/scheduling/ubernetes_lite.go
  test/e2e/storage/empty_dir_wrapper.go
  test/integration/daemonset/daemonset_test.go
  test/integration/disruption/disruption_test.go
  test/integration/dualstack/dualstack_test.go
  test/integration/endpoints/endpoints_test.go
  test/integration/endpointslice/endpointsliceterminating_test.go
  test/integration/network/services_test.go
  test/integration/quota/quota_test.go
  test/integration/scheduler/scoring/priorities_test.go
  test/soak/serve_hostnames/serve_hostnames.go
Labels: area/test, sig/network, kind/cleanup, sig/scheduling, lgtm, sig/storage, sig/node, sig/api-machinery, sig/autoscaling, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, area/e2e-test-framework, triage/accepted

#117977 Drop AvailableResources from controller context
  cmd/kube-controller-manager/app/autoscaling.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/rbac.go
  cmd/kube-controller-manager/app/validatingadmissionpolicystatus.go
  staging/src/k8s.io/cloud-provider/app/controllermanager.go
  staging/src/k8s.io/controller-manager/app/controllercontext.go
Labels: kind/cleanup, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#117992 Fix duplicate GC event handlers getting added if discovery flutters
  pkg/controller/garbagecollector/garbagecollector.go
  pkg/controller/garbagecollector/garbagecollector_test.go
  pkg/controller/garbagecollector/graph_builder.go
  pkg/controller/resourcequota/resource_quota_controller.go
  pkg/controller/resourcequota/resource_quota_controller_test.go
  staging/src/k8s.io/client-go/discovery/discovery_client.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/L, sig/apps, approved, cncf-cla: yes, triage/accepted

#118189 TopologyAwareHints: Take lock in HasPopulatedHints
  staging/src/k8s.io/endpointslice/topologycache/topologycache.go
  staging/src/k8s.io/endpointslice/topologycache/topologycache_test.go
Labels: kind/bug, priority/important-soon, sig/network, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-triage

#118399 api-machinery: stop using deprecated io/ioutil
  pkg/controlplane/instance_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/conn_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/stream_test.go
  staging/src/k8s.io/apiserver/pkg/admission/config.go
  staging/src/k8s.io/apiserver/pkg/admission/config_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/config.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/config/kubeconfig.go
  staging/src/k8s.io/apiserver/pkg/admission/plugins.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_cafile_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_serving_content.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/config.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_test.go
  staging/src/k8s.io/apiserver/pkg/server/graceful_shutdown_test.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/authentication.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
  staging/src/k8s.io/client-go/tools/remotecommand/remotecommand_test.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#118455 Trim managedFields in controller-manager
  cmd/kube-controller-manager/app/controllermanager.go
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/client-go/informers/factory.go
  staging/src/k8s.io/client-go/metadata/metadatainformer/informer.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/factory.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/types.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/MixedCase/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/apiserver/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/crd/informers/externalversions/factory.go
  staging/src/k8s.io/kube-aggregator/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/informers/externalversions/factory.go
  staging/src/k8s.io/sample-controller/pkg/generated/informers/externalversions/factory.go
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, area/code-generation, sig/cloud-provider, ok-to-test, needs-priority, triage/accepted

#118598 Add audit annotations and metrics to track secret-based long-lived tokens
  pkg/serviceaccount/legacy.go
  pkg/serviceaccount/metrics.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, sig/auth, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#118748 Kubectl: Improve conditionFuncFor expression parsing for wait --for jsonpath
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait_test.go
  test/cmd/wait.sh
Labels: kind/bug, area/test, priority/important-soon, area/kubectl, lgtm, release-note, size/L, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, needs-triage

#118989 chore: improve error message for unstructured helper method
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/helpers.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, api-review, triage/accepted

#119049 feat: Add Pod Scheduling SLI Duration metric
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/schedule_one.go
  test/instrumentation/testdata/stable-metrics-list.yaml
  test/integration/scheduler_perf/scheduler_perf_test.go
Labels: area/test, priority/important-soon, sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/testing, tide/merge-method-squash, ok-to-test, triage/accepted, area/stable-metrics

#119212 Added oomkill test for init container and fix typos
  test/e2e_node/oomkiller_linux_test.go
  test/e2e_node/pods_lifecycle_termination_test.go
Labels: area/test, lgtm, sig/node, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#119214 Rewrite the tests to be table driven
  pkg/controller/controller_utils_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XL, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#119279 kubeadm: Make dry-run is configurable in initConfiguration and joinConfiguration
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.conversion.go
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
Labels: lgtm, sig/cluster-lifecycle, size/M, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#119344 add endpointslice repo to staging README
  staging/README.md
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#119385 Add apiserver flowcontrol metric `current_inqueue_seats`
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#119399 Optimize the code of NodeUnschedulable to reduce TolerationsTolerateT…
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable.go
Labels: kind/cleanup, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#119490 e2e_dra: stop using deprecated framework.ExpectEqual
  test/e2e/dra/deploy.go
  test/e2e/dra/dra.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#119492 e2e_instrumentation: stop using deprecated framework.ExpectEqual
  test/e2e/instrumentation/core_events.go
  test/e2e/instrumentation/events.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#119502 e2e_scheduling: stop using deprecated framework.ExpectEqual
  test/e2e/scheduling/limit_range.go
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/preemption.go
  test/e2e/scheduling/priorities.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#119515 adjust order and fix typo for kube upgrade
  cmd/kubeadm/app/cmd/upgrade/apply.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-triage

#119554 client-go workqueue: fix shutdown race / test flake
  staging/src/k8s.io/client-go/util/workqueue/queue.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#119577 CEL lazy map: add test for boolean short-circuiting
  staging/src/k8s.io/apiserver/pkg/cel/lazy/lazy_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#119579 Fix the flaky legacy_service_account_token_clean_up_test.
  test/integration/serviceaccount/legacy_service_account_token_clean_up_test.go
Labels: kind/bug, area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#119618 Use intstr.Parse instead of reimplementing it
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose.go
Labels: kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#119636 update the busybox test image to 1.36.1
  test/images/busybox/BASEIMAGE
  test/images/busybox/VERSION
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#119643 Fix Non Constant-Time Comparison of Service Account Token Secrets
  pkg/serviceaccount/legacy.go
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-triage

#119670 fix OOM killer
  test/e2e_node/oomkiller_linux_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#119705 remove makefile:generated_files in v1.29.
  build/root/Makefile
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, ok-to-test, needs-priority, needs-triage

#119715 add support for ExponentialBucketsRange
  staging/src/k8s.io/component-base/metrics/buckets.go
  test/instrumentation/decode_metric.go
  test/instrumentation/testdata/pkg/kubelet/metrics/metrics.go
  test/instrumentation/testdata/test-stable-metrics-list.yaml
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, triage/accepted, area/stable-metrics

#119732 Fix to honor PDB with an empty selector `{}`
  pkg/registry/core/pod/storage/eviction.go
  pkg/registry/core/pod/storage/eviction_test.go
Labels: kind/bug, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#119741 Update the container images used in cloudbuild to their latest version
  build/dependencies.yaml
  build/pause/cloudbuild.yaml
  cluster/images/etcd/cloudbuild.yaml
  test/images/cloudbuild.yaml
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#119742 Catch direct references to unwanted dependencies in kubernetes modules
  cmd/dependencyverifier/dependencyverifier.go
  hack/unwanted-dependencies.json
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/code-organization, needs-triage

#119753 kubeadm: fix nil pointer when etcd member is already removed
  cmd/kubeadm/app/util/etcd/etcd.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#119761 Statefulset should wait for new replicas when removing .start.ordinal
  test/e2e/apps/statefulset.go
  test/e2e/apps/wait.go
Labels: area/test, lgtm, size/M, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#119765 fix mirror pod nfs test failure due to differing NFS versions
  test/e2e_node/mirror_pod_test.go
Labels: area/test, lgtm, sig/storage, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, triage/accepted

#119769 Fix a bug that PostFilter plugin may don't function if previous PreFilter plugins return Skip
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  test/integration/scheduler/preemption/preemption_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, sig/testing, needs-priority, kind/regression, needs-triage

#119778 fix: when PreFilter returns UnschedulableAndUnresolvable, copy the state in all nodes in statusmap
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
Labels: kind/bug, area/test, priority/important-soon, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, sig/testing, triage/accepted

#119785 fix: register the plugin rejects Pods in WaitOnPermit to UnschedulablePlugins
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/schedule_one.go
  test/integration/scheduler/queue_test.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119794 implement Stringer for podActions
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Labels: kind/bug, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#119795 apiserver/httplog: pretty up impersonation output
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, triage/accepted

#119796 client-go: log proper 'caches populated' message, with type and source and only once
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, triage/accepted

#119825 Move adding GroupVersion log until after an update is confirmed
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, needs-priority, triage/accepted

#119844 wsstream: use a single approach to detect connection upgrade
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/conn.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/websocket/protocol_test.go
Labels: priority/backlog, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#119890 crio: increase test buffer to eliminate test flakes
  test/e2e_node/container_lifecycle_test.go
Labels: area/test, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119904 Job: Replace deprecated workqueue function with supported one
  pkg/controller/job/job_controller.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#119907 Fixing the "Service Account Token" link in the readme
  staging/src/k8s.io/client-go/examples/in-cluster-client-configuration/README.md
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#119914 Job: Change job controller methods receiver to pointer
  pkg/controller/job/job_controller.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#119928 e2e WaitForServiceEndpointsNum take into account the address family
  test/e2e/framework/util.go
Labels: kind/bug, area/test, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, kind/regression, needs-triage

#119859 kubeadm: remove 'system:masters' organization from etcd/healthcheck-client certificate
  cmd/kubeadm/app/phases/certs/certlist.go
Labels: kind/bug, kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#119938 kubeadm: increase ut for certs/certlist
  cmd/kubeadm/app/phases/certs/certlist_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#118619 dynamic resource allocation: reuse gRPC connection
  pkg/kubelet/cm/dra/plugin/client.go
  pkg/kubelet/cm/dra/plugin/client_test.go
  pkg/kubelet/cm/dra/plugin/plugin.go
  pkg/kubelet/cm/dra/plugin/plugins_store.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, triage/accepted

#119509 kubectl: fix describe node output when sidecars are present
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
  staging/src/k8s.io/kubectl/pkg/util/resource/resource.go
Labels: kind/bug, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#119654 e2e/apimachinery/watchlist: stop panicking when run against unsupported cluster/environment
  test/e2e/apimachinery/watchlist.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#119745 Local PV Stress test: don't fail on deleting missing PV
  test/e2e/storage/persistent_volumes-local.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119966 e2e framework util subtle bug checking endpoints
  test/e2e/framework/util.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#119860 golangci-lint update and support for Go 1.21
  hack/tools/go.mod
  hack/tools/go.sum
  hack/verify-golangci-lint.sh
Labels: kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119880 Make seccomp status checks in e2e tests more robust
  test/e2e/node/security_context.go
  test/e2e_node/seccompdefault_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#119939 [kubectl] Lookup Host from kubeconfig when needed
  test/e2e/kubectl/kubectl.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119974 bump the busybox test version to resolve test failures
  test/e2e_node/pods_lifecycle_termination_test.go
  test/utils/image/manifest.go
Labels: area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#119197 Check dbus error on container runtime start/stop
  test/e2e_node/util.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#119800 Fixes CEL estimated cost to propagate result sizes correctly
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/celcoststability_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/cel/library/cost_test.go
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/google/cel-go/checker/cost.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/M, kind/api-change, sig/auth, approved, cncf-cla: yes, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted

#119097 PIDPressure condition is triggered slow on CRI-O with large PID pressure/heavy load
  test/e2e_node/eviction_test.go
Labels: area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, triage/accepted

#119501 e2e_node: stop using deprecated framework.ExpectEqual
  test/e2e/node/events.go
  test/e2e/node/mount_propagation.go
  test/e2e/node/node_problem_detector.go
  test/e2e/node/pod_resize.go
  test/e2e/node/pods.go
  test/e2e/node/runtimeclass.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#119562 kubeadm: increase ut for cmd/kubeadm/app/phases/addons/proxy
  cmd/kubeadm/app/phases/addons/proxy/proxy_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#119982 Automated cherry pick of #119977: Make gomaxprocs install optional, limit to tests
  hack/lib/golang.sh
  hack/make-rules/test-e2e-node.sh
  hack/make-rules/test.sh
Labels: kind/cleanup, lgtm, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119489 e2e_common: stop using deprecated framework.ExpectEqual
  test/e2e/common/node/configmap.go
  test/e2e/common/node/container_probe.go
  test/e2e/common/node/init_container.go
  test/e2e/common/node/kubelet.go
  test/e2e/common/node/lease.go
  test/e2e/common/node/node_lease.go
  test/e2e/common/node/pods.go
  test/e2e/common/node/podtemplates.go
  test/e2e/common/node/runtime.go
  test/e2e/common/node/runtimeclass.go
  test/e2e/common/node/secrets.go
  test/e2e/common/node/security_context.go
  test/e2e/common/node/sysctl.go
  test/e2e/common/storage/empty_dir.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#119728 SSA: prevent usage of Extract calls via forbidigo
  hack/golangci-strict.yaml
  hack/golangci.yaml
  staging/src/k8s.io/client-go/applyconfigurations/meta/v1/unstructured.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#119746 using wait.PollUntilContextTimeout instead of deprecated wait.Poll for scheduler
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  pkg/scheduler/framework/plugins/volumebinding/binder_test.go
  test/e2e/scheduling/limit_range.go
  test/e2e/scheduling/preemption.go
  test/integration/node/lifecycle_test.go
  test/integration/podgc/podgc_test.go
  test/integration/scheduler/extender/extender_test.go
  test/integration/scheduler/filters/filters_test.go
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/preemption/preemption_test.go
  test/integration/scheduler/queue_test.go
  test/integration/scheduler/rescheduling_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/scoring/priorities_test.go
  test/integration/util/util.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, sig/storage, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119027 [prep for go1.21]: use -e in `go list`
  hack/update-vendor.sh
Labels: priority/important-soon, kind/cleanup, lgtm, area/cloudprovider, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, sig/architecture, sig/cloud-provider, needs-triage

#119806 Delete PSP API types and generated clients
  api/api-rules/violation_exceptions.list
  pkg/api/testing/defaulting_test.go
  pkg/apis/policy/fuzzer/fuzzer.go
  pkg/apis/policy/register.go
  pkg/apis/policy/types.go
  pkg/apis/policy/v1beta1/defaults.go
  pkg/apis/policy/v1beta1/doc.go
  pkg/apis/policy/v1beta1/zz_generated.conversion.go
  pkg/apis/policy/v1beta1/zz_generated.defaults.go
  pkg/apis/policy/validation/validation.go
  pkg/apis/policy/validation/validation_test.go
  pkg/apis/policy/zz_generated.deepcopy.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/policy/v1/doc.go
  staging/src/k8s.io/api/policy/v1beta1/doc.go
  staging/src/k8s.io/api/policy/v1beta1/generated.pb.go
  staging/src/k8s.io/api/policy/v1beta1/generated.proto
  staging/src/k8s.io/api/policy/v1beta1/register.go
  staging/src/k8s.io/api/policy/v1beta1/types.go
  staging/src/k8s.io/api/policy/v1beta1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/policy/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/policy/v1beta1/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/api/testdata/HEAD/policy.v1beta1.PodSecurityPolicy.json
  staging/src/k8s.io/api/testdata/HEAD/policy.v1beta1.PodSecurityPolicy.pb
  staging/src/k8s.io/api/testdata/HEAD/policy.v1beta1.PodSecurityPolicy.yaml
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/allowedcsidriver.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/allowedflexvolume.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/allowedhostpath.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/fsgroupstrategyoptions.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/hostportrange.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/idrange.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/podsecuritypolicy.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/podsecuritypolicyspec.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/runasgroupstrategyoptions.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/runasuserstrategyoptions.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/runtimeclassstrategyoptions.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/selinuxstrategyoptions.go
  staging/src/k8s.io/client-go/applyconfigurations/policy/v1beta1/supplementalgroupsstrategyoptions.go
  staging/src/k8s.io/client-go/applyconfigurations/utils.go
  staging/src/k8s.io/client-go/informers/generic.go
  staging/src/k8s.io/client-go/informers/policy/v1beta1/interface.go
  staging/src/k8s.io/client-go/informers/policy/v1beta1/podsecuritypolicy.go
  staging/src/k8s.io/client-go/kubernetes/typed/policy/v1beta1/fake/fake_podsecuritypolicy.go
  staging/src/k8s.io/client-go/kubernetes/typed/policy/v1beta1/fake/fake_policy_client.go
  staging/src/k8s.io/client-go/kubernetes/typed/policy/v1beta1/generated_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/policy/v1beta1/podsecuritypolicy.go
  staging/src/k8s.io/client-go/kubernetes/typed/policy/v1beta1/policy_client.go
  staging/src/k8s.io/client-go/listers/policy/v1beta1/expansion_generated.go
  staging/src/k8s.io/client-go/listers/policy/v1beta1/podsecuritypolicy.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/XXL, kind/api-change, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, area/code-generation, api-review, triage/accepted

#119874 fix typos for pod replacement policy
  pkg/apis/batch/validation/validation.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#120025 remove the legacy test dependency
  test/e2e_node/seccompdefault_test.go
Labels: area/test, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#119937 Make Kubernetes aware of the LoadBalancer behaviour
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/apis/core/types.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/service.go
  pkg/proxy/service_test.go
  pkg/proxy/types.go
  pkg/proxy/util/utils.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Service.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Service.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Service.yaml
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/loadbalanceringress.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/cloud-provider/service/helpers/helper.go
  test/integration/service/loadbalancer_test.go
Labels: area/test, sig/network, area/kube-proxy, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, area/ipvs, sig/cloud-provider, needs-priority, triage/accepted

#120028 add aramase to sig-auth-encryption-at-rest-reviewers
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#118923 [Scheduler]Translate beta label to ga in volume_zone
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
Labels: sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#119986 Pass Pinned field to kubecontainer.Image
  pkg/kubelet/kuberuntime/kuberuntime_image.go
  pkg/kubelet/kuberuntime/kuberuntime_image_test.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_image_service.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#119984 kubeadm: increase ut coverage for util/kubeconfig
  cmd/kubeadm/app/util/kubeconfig/kubeconfig_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#119494 e2e_network: stop using deprecated framework.ExpectEqual
  test/e2e/network/dns_common.go
  test/e2e/network/dual_stack.go
  test/e2e/network/endpointslice.go
  test/e2e/network/ingress.go
  test/e2e/network/ingressclass.go
  test/e2e/network/loadbalancer.go
  test/e2e/network/netpol/network_policy_api.go
  test/e2e/network/network_tiers.go
  test/e2e/network/no_snat.go
  test/e2e/network/proxy.go
  test/e2e/network/service.go
  test/e2e/network/util.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, area/network-policy

#120040 kubeadm: Cleanup the unused input parameters
  cmd/kubeadm/app/componentconfigs/kubelet.go
  cmd/kubeadm/app/phases/upgrade/health.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#120039 kubeadm: Move the method used only in the test to `postupgrade_test.go`
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/phases/upgrade/postupgrade_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#116897 Graduate kubelet resource metrics to GA
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
  test/e2e/framework/metrics/metrics_grabber.go
  test/e2e/instrumentation/metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/testing, priority/important-longterm, sig/architecture, area/conformance, area/e2e-test-framework, triage/accepted, area/stable-metrics

#119883 Fix: null jsonpath serialization
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath.go
  staging/src/k8s.io/client-go/util/jsonpath/jsonpath_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#120059 mark the OOM killer as serial to reduce flakes
  test/e2e_node/oomkiller_linux_test.go
Labels: area/test, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119454 use LoadBalancer type service for e2e service test to patch ingress status
  test/e2e/network/service.go
Labels: area/test, priority/important-soon, sig/network, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#119714 kmsv2 test feature enablement unit test
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  test/integration/controlplane/transformation/kmsv2_transformation_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#120042 kubeadm: Fix typo where API group is not correct
  cmd/kubeadm/app/cmd/upgrade/common.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#120064 kubeadm: add validation to verify that the CertificateKey is a valid hex encoded AES key
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#120073 kubeadm: fix the field path for JoinControlPlane.CertificateKey validation
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
Labels: kind/bug, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#120077 Revert "mark the OOM killer as serial to reduce flakes"
  test/e2e_node/oomkiller_linux_test.go
Labels: area/test, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#120072 kubeadm: fix the bug that `--image-repository` flag is missing for some init phase sub-commands
  cmd/kubeadm/app/cmd/phases/init/kubelet.go
  cmd/kubeadm/app/cmd/phases/init/preflight.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#119156 kubeadm add support for structured ExtraArgs
  cmd/kubeadm/app/apis/kubeadm/argument.go
  cmd/kubeadm/app/apis/kubeadm/argument_test.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/conversion_test.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/options/generic.go
  cmd/kubeadm/app/cmd/phases/init/kubeletfinalize.go
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
  cmd/kubeadm/app/phases/controlplane/volumes.go
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/etcd/local_test.go
  cmd/kubeadm/app/phases/kubelet/flags.go
  cmd/kubeadm/app/phases/kubelet/flags_test.go
  cmd/kubeadm/app/util/arguments.go
  cmd/kubeadm/app/util/arguments_test.go
  cmd/kubeadm/app/util/staticpod/utils.go
  cmd/kubeadm/app/util/staticpod/utils_test.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, size/XXL, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#119824 fix race creating etcd client for healthchecks
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#119972 storage/etcd: no-op, refactor watcher.Watch method signature
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#119975 storage/util: move GetCurrentResourceVersionFromStorage
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/util.go
  staging/src/k8s.io/apiserver/pkg/storage/util_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#119971 chore: attach pod UID to event log
  pkg/scheduler/framework/preemption/preemption.go
Labels: sig/scheduling, lgtm, release-note, size/XS, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#120078 expect the new resource_scape_error metric
  test/e2e_node/resource_metrics_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, kind/failing-test, triage/accepted

#120081 storage/etcd: no-op, simplify watcher construction
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#114095 scheduler: Fix field apiVersion is missing from events reported from taint manager
  pkg/controller/nodelifecycle/scheduler/taint_manager.go
  pkg/controller/nodelifecycle/scheduler/taint_manager_test.go
Labels: kind/bug, sig/scheduling, lgtm, sig/node, release-note, size/M, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#119556 Trim managedFields in pod informer
  pkg/scheduler/scheduler.go
Labels: sig/scheduling, lgtm, release-note, size/S, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#120038 e2e: stoping using deprecated framework.ExpectEmpty
  test/e2e/apps/disruption.go
  test/e2e/auth/service_accounts.go
  test/e2e/storage/csi_mock/csi_fsgroup_mount.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#119661 Handle errors when preparing lease for update
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller.go
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/node, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#119790 added comment for clarifying steps related to kubernetes mutual (2-wa…
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go
  staging/src/k8s.io/apiserver/pkg/server/options/serving.go
  staging/src/k8s.io/client-go/transport/transport.go
Labels: kind/documentation, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#120089 Restrict what imports get into code within test/e2e_node
  hack/verify-import-boss.sh
  test/e2e_node/.import-restrictions
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#120068 follow up on " Merged Make Kubernetes aware of the LoadBalancer behaviour"
  pkg/proxy/service.go
  pkg/proxy/service_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#119789 Gate: disallow .status.loadBalancer on non-LB svc
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/registry/core/service/strategy_test.go
  test/integration/apiserver/apply/reset_fields_test.go
  test/integration/etcd/data.go
Labels: kind/bug, area/test, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119948 add UT for storageclass
  pkg/volume/util/storageclass_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#118950 Adding coverage for OOM Kill scenario due to node allocatable memory …
  test/e2e_node/oomkiller_linux_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#120097 Fix CEL cost handling of zero length replacement strings
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#120100 Support multiarch/platfrom in find-release-tars
  cluster/common.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#119879 Fix receiver names in legacyProvider
  pkg/registry/core/rest/storage_core.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#119962 api: change list type for node lists in PodSchedulingContext
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1alpha2_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/resource/v1alpha2/generated.proto
  staging/src/k8s.io/api/resource/v1alpha2/types.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#119503 Graduate APIListChunking to GA
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cmd/kube-apiserver/app/aggregator.go
  pkg/controlplane/apiserver/apiextensions.go
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
  staging/src/k8s.io/sample-apiserver/pkg/cmd/server/start.go
  test/e2e/apimachinery/chunking.go
  test/integration/apiserver/apiserver_test.go
Labels: area/test, area/apiserver, lgtm, area/provider/gcp, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/cloud-provider, triage/accepted

#119875 [releng] Update publishing-bot rules for release-1.24 to Go 1.20.7
  staging/publishing/rules.yaml
Labels: lgtm, size/M, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#120109 Add wait for cache sync to OpenAPI controller test
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/controller_test.go
Labels: lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, triage/accepted

#120127 Use env variables for passing path and subpath to Powershell
  pkg/volume/util/subpath/subpath_windows.go
Labels: kind/bug, lgtm, sig/storage, size/S, release-note-none, approved, sig/windows, cncf-cla: yes, needs-priority, triage/accepted

#120128 Use environment variables for parameters in Powershell
  pkg/volume/util/util.go
  staging/src/k8s.io/mount-utils/mount_windows.go
  staging/src/k8s.io/mount-utils/mount_windows_test.go
Labels: kind/bug, lgtm, sig/storage, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, needs-priority, triage/accepted
