Repository kubernetes/kubernetes, pull requests merged in 2024-01, with the labels that each got.

#122540 kubeadm: increase ut coverage fo phases/kubeconfig
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#122545 kubeadm: fix flaky test TestRunRenewCommands
  cmd/kubeadm/app/cmd/certs_test.go
  cmd/kubeadm/test/cmd/util.go
Labels: lgtm, sig/cluster-lifecycle, size/XS, kind/flake, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#121836 verify-no-vendor-cycles: set up Go environment
  hack/verify-no-vendor-cycles.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122416 e2e: forbid usage of gomega.BeTrue/False
  hack/golangci-hints.yaml
  hack/golangci.yaml.in
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122307 nominate self (carlory) as sig storage reviewer
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122409 Remove GA feature gate LegacyServiceAccountTokenTracking in 1.30
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, release-note, size/S, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122139 Remove GA featuregate about KubeletPodResources in 1.30
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122560 [StructuredAuthnConfig] add comment for extra keys unique requirement
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/types.go
Labels: priority/important-soon, kind/cleanup, lgtm, size/XS, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#122556 Remove unused csi-hostpath-testing.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-testing.yaml
  test/utils/image/csi_manifests_test.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122564 Removing Windows image from e2e test image utils
  test/e2e/windows/device_plugin.go
  test/utils/image/manifest.go
  test/utils/image/manifest_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122449 ValidateVolumeAttributesClassUpdate also validates new vac object.
  pkg/apis/storage/validation/validation.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#119779 run all PreFilter when the preemption will happen later in the same scheduling cycle
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler.go
Labels: priority/important-soon, sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, triage/accepted

#122347 kmsv2: move encryption config types to standard API server config location
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/register.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/types_encryption.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/defaults_test.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/register.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/types_encryption.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/zz_generated.defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_encryption.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_encryption_test.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/config/doc.go
  staging/src/k8s.io/apiserver/pkg/apis/config/register.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/doc.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/register.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  test/integration/controlplane/transformation/secrets_transformation_test.go
  test/integration/controlplane/transformation/transformation_test.go
  vendor/modules.txt
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XL, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#122468 remove GA featuregate RemoveSelfLink
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#122023 kubectl config set-credentials: Add InteractiveMode and ProvideClusterInfo flags
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/set_credentials.go
Labels: priority/backlog, area/kubectl, lgtm, release-note, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, triage/accepted

#122240 e2e: only select linux nodes for NodeLogQuery tests
  test/e2e/node/kubelet.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#122576 removed the deprecated azureFile in-tree storage plugin
  cmd/kube-controller-manager/app/plugins_providers.go
  cmd/kubelet/app/plugins_providers.go
  pkg/features/kube_features.go
  pkg/volume/azure_file/OWNERS
  pkg/volume/azure_file/azure_file.go
  pkg/volume/azure_file/azure_file_test.go
  pkg/volume/azure_file/azure_provision.go
  pkg/volume/azure_file/azure_util.go
  pkg/volume/azure_file/doc.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csimigration/plugin_manager.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, sig/api-machinery, release-note, size/XXL, approved, cncf-cla: yes, priority/important-longterm, area/provider/azure, sig/cloud-provider, triage/accepted

#122086 Remove GA featuregate about ExpandedDNSConfig in 1.30
  pkg/features/kube_features.go
Labels: sig/network, kind/cleanup, lgtm, release-note, size/S, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122508 remove wrong warning event (FileSystemResizeFailed) for pod
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/S, approved, cncf-cla: yes, needs-priority, needs-triage

#118626 Switch to e2 machine types
  cluster/gce/config-common.sh
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  hack/make-rules/test-e2e-node.sh
  test/e2e/autoscaling/cluster_size_autoscaling.go
  test/e2e_node/remote/gce/gce_runner.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, sig/node, sig/autoscaling, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, lifecycle/rotten, sig/cloud-provider, triage/accepted, sig/k8s-infra

#121565 [FLAKE] Fixed UT pkg/kubelet/kuberuntime/logs/TestReadRotatedLog caused due to data race
  pkg/kubelet/kuberuntime/logs/logs_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#118756 namespace-controller: Correctly cascade ctx when making API calls
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/controller/namespace/deletion/namespaced_resources_deleter_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#120291 Fix Windows credential provider cannot find binary
  pkg/credentialprovider/plugin/plugin.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/XS, approved, cncf-cla: yes, area/provider/azure, sig/cloud-provider, triage/accepted

#121729 Remove NodeAlphaFeature label from sidecar e2e tests
  test/e2e/common/node/container_probe.go
  test/e2e/common/node/lifecycle_hook.go
  test/e2e/nodefeature/nodefeature.go
  test/e2e_node/container_lifecycle_test.go
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/device_plugin_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#121774 increase timeout in fakeDraDriverGrpcServer to fix flake
  pkg/kubelet/cm/dra/manager_test.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, triage/accepted

#121917 Remove import hack about k8s.io/utils/clock/testing
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
Labels: priority/backlog, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-organization, triage/accepted

#121924 Remove `leaky` package and move `PodInfraContainerName` to staging
  pkg/kubelet/leaky/leaky.go
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  staging/src/k8s.io/kubelet/pkg/types/labels.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/code-organization, triage/accepted

#122087 fix kubelet trace broke in 1.28
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, kind/documentation, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#122135 Add SidecarContainers feature beta version
  pkg/features/kube_features.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#122138 Remove GA featuregate about KubeletPodResourcesGetAllocatable in 1.30
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#122178 Update cni-plugins to v1.4.0
  build/dependencies.yaml
  cluster/gce/config-common.sh
  cluster/gce/gci/configure.sh
  hack/local-up-cluster.sh
  test/e2e_node/remote/utils.go
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/node, release-note, size/M, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/cloud-provider, triage/accepted

#122271 Update cri-tools to v1.29.0
  build/dependencies.yaml
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
Labels: kind/cleanup, lgtm, area/provider/gcp, release-note, size/S, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#122290 cluster: bump cloud-provider-gcp image verison to v28.2.1
  cluster/gce/manifests/cloud-controller-manager.manifest
Labels: kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#122373 Properly build-tag the Linux kube-proxy backend code
  cmd/kube-proxy/app/init_linux.go
  cmd/kube-proxy/app/init_others.go
  cmd/kube-proxy/app/server_linux.go
  cmd/kube-proxy/app/server_linux_test.go
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/conntrack/conntrack.go
  pkg/proxy/conntrack/conntrack_test.go
  pkg/proxy/iptables/number_generated_rules_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/graceful_termination.go
  pkg/proxy/ipvs/graceful_termination_test.go
  pkg/proxy/ipvs/ipset.go
  pkg/proxy/ipvs/ipset/ipset.go
  pkg/proxy/ipvs/ipset/ipset_test.go
  pkg/proxy/ipvs/ipset/testing/fake.go
  pkg/proxy/ipvs/ipset/testing/fake_test.go
  pkg/proxy/ipvs/ipset/types.go
  pkg/proxy/ipvs/ipset_test.go
  pkg/proxy/ipvs/netlink_unsupported.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/ipvs/safe_ipset.go
  pkg/proxy/ipvs/testing/fake.go
  pkg/proxy/ipvs/testing/fake_test.go
  pkg/proxy/ipvs/testing/util.go
  pkg/proxy/ipvs/util/ipvs.go
  pkg/proxy/ipvs/util/ipvs_test.go
  pkg/proxy/ipvs/util/ipvs_unsupported.go
  pkg/proxy/ipvs/util/testing/fake.go
  pkg/proxy/ipvs/util/testing/fake_test.go
  pkg/proxy/nftables/helpers_test.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
  pkg/util/iptables/iptables.go
  pkg/util/iptables/save_restore.go
  pkg/util/iptables/save_restore_test.go
  pkg/util/iptables/testing/fake.go
  pkg/util/iptables/testing/fake_test.go
  pkg/util/iptables/testing/parse.go
  pkg/util/iptables/testing/parse_test.go
Labels: priority/backlog, sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-triage

#122475 fix nil pointer dereference when EventedPLEG is enabled
  pkg/kubelet/pleg/generic.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, triage/accepted

#122578 lock GA feature-gate ConsistentHTTPGetHandlers to default
  pkg/features/kube_features.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/lifecycle/handlers.go
  pkg/kubelet/lifecycle/handlers_test.go
  pkg/kubelet/metrics/metrics.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, needs-priority, needs-triage

#122558 Use http/2 for localhost webhook
  staging/src/k8s.io/apiserver/pkg/util/webhook/client.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/client_test.go
  test/integration/apiserver/admissionwebhook/admission_test.go
  test/integration/apiserver/admissionwebhook/load_balance_test.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, approved, cncf-cla: yes, sig/testing, needs-priority, area/dependency, triage/accepted

#122570 KEP-1880 Add ut for pkg/registry/networking/servicecidr
  pkg/registry/networking/servicecidr/strategy_test.go
Labels: sig/network, kind/cleanup, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122530 kubeadm: more verbose unmount logic on "reset"
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
  cmd/kubeadm/app/cmd/phases/reset/unmount.go
  cmd/kubeadm/app/cmd/phases/reset/unmount_linux.go
  cmd/kubeadm/app/cmd/phases/reset/unmount_linux_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/L, kind/feature, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#120159 fix(kubectl): delete pod declare no controllor note
  staging/src/k8s.io/kubectl/pkg/drain/filters.go
Labels: priority/backlog, kind/documentation, area/kubectl, lgtm, release-note, size/XS, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#121825 remove duplicated check in operator_generator.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122090 remove the deprecated in-tree vsphere volume's code
  pkg/volume/vsphere_volume/OWNERS
  pkg/volume/vsphere_volume/attacher.go
  pkg/volume/vsphere_volume/attacher_test.go
  pkg/volume/vsphere_volume/doc.go
  pkg/volume/vsphere_volume/vsphere_volume.go
  pkg/volume/vsphere_volume/vsphere_volume_block.go
  pkg/volume/vsphere_volume/vsphere_volume_block_test.go
  pkg/volume/vsphere_volume/vsphere_volume_test.go
  pkg/volume/vsphere_volume/vsphere_volume_util.go
  pkg/volume/vsphere_volume/vsphere_volume_util_linux.go
  pkg/volume/vsphere_volume/vsphere_volume_util_unsupported.go
  pkg/volume/vsphere_volume/vsphere_volume_util_windows.go
  pkg/volume/vsphere_volume/vsphere_volume_util_windows_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/XXL, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122596 Drop hack/verify-govet-levee
  hack/testdata/levee/OWNERS
  hack/testdata/levee/levee-config.yaml
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  hack/verify-govet-levee.sh
Labels: kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/dependency, sig/security, needs-triage

#122600 Use errors.Is() to handle err returned by LookPath()
  pkg/credentialprovider/plugin/plugin.go
Labels: kind/bug, lgtm, release-note, size/XS, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#122606 Make EndpointSlice API e2e test faster
  test/e2e/network/endpointslice.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122622 swap originalPod and modifiedPod to match the comments
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#119079 make scheduler_perf usable from other repositories
  test/integration/scheduler_perf/create.go
  test/integration/scheduler_perf/dra.go
  test/integration/scheduler_perf/scheduler_perf.go
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/integration/scheduler_perf/scheduler_test.go
  test/integration/scheduler_perf/util.go
  test/integration/util/util.go
Labels: area/test, lgtm, size/XXL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122633 e2e/endpointslice: Add Ready Conditions
  test/e2e/network/endpointslice.go
Labels: kind/bug, area/test, sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#122619 kubeadm: skip unmount on missing /var/lib/kubelet
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#122643 Add a new neverTerminate job behavior just for upgrade
  test/e2e/framework/job/fixtures.go
  test/e2e/upgrades/apps/job.go
Labels: area/test, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, area/e2e-test-framework, kind/regression, triage/accepted

#121734 add test for the registered feature gates
  hack/verify-test-featuregates.sh
  pkg/features/kube_features.go
  pkg/features/kube_features_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, ok-to-test, needs-priority, needs-triage

#122645 remove dead code
  pkg/controller/nodeipam/ipam/multicidrset/metrics.go
  pkg/controller/nodeipam/ipam/multicidrset/multi_cidr_set.go
  pkg/controller/nodeipam/ipam/multicidrset/multi_cidr_set_test.go
Labels: sig/network, kind/cleanup, lgtm, size/XXL, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#121916 E2E - Sig-autoscaling: Refactor the Autoscaling utils
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
  test/e2e/framework/autoscaling/autoscaling_utils.go
Labels: area/test, kind/cleanup, lgtm, sig/autoscaling, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#122197 Migrate cmd/kube-proxy to contextual logging
  cmd/kube-proxy/app/conntrack.go
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_linux.go
  cmd/kube-proxy/app/server_linux_test.go
  cmd/kube-proxy/app/server_test.go
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/logcheck.conf
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, area/logging, release-note, size/L, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, triage/accepted, wg/structured-logging

#122296 kube-proxy: change implementation of LoadBalancerSourceRanges for wider kernel support
  pkg/proxy/nftables/helpers_test.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, release-note, size/L, approved, cncf-cla: yes, needs-priority, needs-triage

#122498 Allow framework plugins to be closed
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/profile/profile.go
  pkg/scheduler/scheduler.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#122503 Support ignore scheduler extender error when binding
  pkg/scheduler/framework/extender.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
Labels: sig/scheduling, lgtm, release-note, size/S, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122605 kube-proxy: do not delete previously stale but currently active chains
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122552 Bump runc to v1.1.11
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/validate/rootless.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/validate/validator.go
  vendor/github.com/opencontainers/runc/libcontainer/container_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps.c
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps_linux.go
  vendor/modules.txt
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/dependency, triage/accepted

#119968 Replace stat syscall with statx
  staging/src/k8s.io/mount-utils/mount_linux.go
Labels: kind/bug, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122652 Fix compiling e2e.test on macOS
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/userns/inuserns/inuserns_linux.go
  pkg/kubelet/userns/inuserns/inuserns_others.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#122574 Fix kubectl drain error handling bug.
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/drain/drain_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, triage/accepted

#122655 kube-proxy: don't use invalid cidrs in unit test
  cmd/kube-proxy/app/server_linux_test.go
  pkg/proxy/util/iptables/traffic_test.go
  pkg/proxy/util/utils_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121834 Added Imagefs inodes in default Eviction Hard
  pkg/kubelet/eviction/defaults_linux.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122583 Fix SELinux e2e tests: add label to observed metrics
  test/e2e/storage/csi_mock/csi_selinux_mount.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#122614 kube-proxy: fix LoadBalancerSourceRanges not working for nftables mode
  pkg/proxy/nftables/helpers_test.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#122524 [Scheduler] refactor TestPriorityQueue_Update
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122642 kubeadm: increase ut coverage app/componentconfigs
  cmd/kubeadm/app/componentconfigs/utils_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#122559 Automated cherry pick of #122346: Make OpenAPIGetter tolerant of nil
  staging/src/k8s.io/kubectl/pkg/cmd/apply/patcher.go
Labels: area/kubectl, lgtm, release-note, size/XS, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, needs-priority, kind/regression, triage/accepted

#122581 Automated cherry pick of #120750: e2e framework: adapt unit test to Go 1.22
  test/e2e/framework/internal/output/output.go
Labels: area/test, kind/cleanup, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#122371 Automated cherry pick of #122068: fix(scheduler): fix incorrect loop logic in MultiPoint to avoid a plugin being loaded multiple times
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122476 Support annotation in nodewrapper
  pkg/scheduler/testing/wrappers.go
Labels: sig/scheduling, lgtm, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122403 Automated cherry pick of #119923: fix: 119921
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#122397 Automated cherry pick of #122211: Fix device uncertain errors on reboot
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#122404 Automated cherry pick of #119923: fix: 119921
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#121803 Automated cherry pick of #121566: etcd: Update to version 3.5.10
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/providers/gcp.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, area/release-eng, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted, sig/etcd

#122398 Automated cherry pick of #122211: Fix device uncertain errors on reboot
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#122402 Automated cherry pick of #119923: fix: 119921
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#122478 Automated cherry pick of #121624: use context for lazy evaluation.
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/composition.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/feature, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#121805 Automated cherry pick of #121566: etcd: Update to version 3.5.10
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/providers/gcp.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, area/release-eng, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted, sig/etcd

#122368 Automated cherry pick of #122068: fix(scheduler): fix incorrect loop logic in MultiPoint to avoid a plugin being loaded multiple times
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122396 Automated cherry pick of #122211: Fix device uncertain errors on reboot
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#122580 Automated cherry pick of #120750: e2e framework: adapt unit test to Go 1.22
  test/e2e/framework/internal/output/output.go
Labels: area/test, kind/cleanup, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#121804 Automated cherry pick of #121566: etcd: Update to version 3.5.10
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/providers/gcp.go
  test/utils/image/manifest.go
Labels: kind/bug, area/test, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, area/release-eng, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted, sig/etcd

#122370 Automated cherry pick of #122068: fix(scheduler): fix incorrect loop logic in MultiPoint to avoid a plugin being loaded multiple times
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122683 Use v1beta1 endpoints when cleaning up ValidatingAdmissionPolicies
  test/e2e/apimachinery/validatingadmissionpolicy.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#122684 Add missing string formatting directive
  test/e2e/storage/volume_metrics.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#122345 Automated cherry pick of #122211: Fix device uncertain errors on reboot
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_new_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#122366 Automated cherry pick of #122068: fix(scheduler): fix incorrect loop logic in MultiPoint to avoid a plugin being loaded multiple times
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122452 Automated cherry pick of #122447: Initialize default attach func regardless of the value of
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
Labels: priority/important-soon, area/kubectl, lgtm, size/S, cherry-pick-approved, release-note-none, approved, sig/cli, cncf-cla: yes, kind/regression, triage/accepted

#121956 Fixed `remotePath` in mount_windows.go
  staging/src/k8s.io/mount-utils/mount_windows.go
Labels: kind/bug, priority/important-soon, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#122555 client-go/features: introduce feature gates
  staging/src/k8s.io/client-go/features/envvar.go
  staging/src/k8s.io/client-go/features/envvar_test.go
  staging/src/k8s.io/client-go/features/features.go
  staging/src/k8s.io/client-go/features/features_test.go
  staging/src/k8s.io/client-go/features/testing/features_init_test.go
Labels: lgtm, sig/api-machinery, release-note, size/XL, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#122689 Clean up encryption config reading and hashing logic
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/controller/controller_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#122405 Automated cherry pick of #119923: fix: 119921
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#122514 Automated cherry pick of #120090: Handle edge cases in seat demand stats
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#122705 [go] Bump images, dependencies and versions to go 1.21.6 and distroless iptables to 0.4.4
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/conformance/testdata/repo_list_images.txt
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, needs-priority, needs-triage

#122714 [release-1.26] [go] Bump images, dependencies and versions to go 1.20.13 and distroless iptables to 0.2.9
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#122713 [release-1.27] [go] Bump images, dependencies and versions to go 1.20.13 and distroless iptables to 0.2.9
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#122711 [release-1.29] [go] Bump images, dependencies and versions to go 1.21.6 and distroless iptables to 0.4.4
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#122712 [release-1.28] [go] Bump images, dependencies and versions to go 1.20.13 and distroless iptables to 0.2.9
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#122710 local-up-cluster: use the newly built library always
  hack/local-up-cluster.sh
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122697 Revert "Graduate Evented PLEG to Beta"
  pkg/features/kube_features.go
Labels: kind/bug, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122702 component-base/featuregate: store atomic.Value fields as value not reference
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
Labels: kind/cleanup, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#122687 Document the nftables kube-proxy packet flow
  pkg/proxy/nftables/README.md
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, needs-triage

#122718 Automated cherry pick of #122697: Revert "Graduate Evented PLEG to Beta"
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122719 Automated cherry pick of #122697: Revert "Graduate Evented PLEG to Beta"
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122733 hack/tools: bump logcheck to v0.8.1
  hack/tools/go.mod
  hack/tools/go.sum
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, area/dependency, needs-triage

#122647 Support overrides for registered feature defaults.
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
  staging/src/k8s.io/component-base/featuregate/feature_gate_test.go
Labels: lgtm, sig/api-machinery, sig/cluster-lifecycle, release-note, size/L, kind/api-change, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#122747 Revert "Save a list of images used by e2e.test"
  hack/update-conformance-yaml.sh
  hack/verify-conformance-yaml.sh
  test/conformance/gen-test-image-list.sh
  test/conformance/testdata/repo_list_images.txt
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, needs-triage

#122516 Automated cherry pick of #121624: use context for lazy evaluation.
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/composition.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/feature, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#122663 pkg/proxy/nftables: drop conntrack state invalid rule
  pkg/proxy/nftables/helpers_test.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
  test/e2e/network/conntrack.go
Labels: area/test, sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122774 codegen: don't use xargs w/ maybe-empty input
  hack/update-codegen.sh
  staging/src/k8s.io/code-generator/kube_codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, area/code-generation, needs-priority, needs-triage

#122771 Make verify-fieldname-docs actually error
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  cmd/fieldnamedocscheck/field_name_docs_check.go
  hack/make-rules/verify.sh
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, needs-triage

#122773 Sync code-generator/examples json-patch ver to the same as everyone else
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, area/code-generation, needs-priority, needs-triage

#122770 Run test/instrumentation/update-*
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
Labels: area/test, kind/cleanup, lgtm, size/XL, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage

#122775 update-codegen: rename "base"->"file" for clarity
  hack/update-codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#122776 codegen: Use long flag names for clarity
  hack/update-codegen.sh
  staging/src/k8s.io/code-generator/kube_codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#122640 kubectl: vac support ResourceDescriber
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
  staging/src/k8s.io/kubectl/pkg/scheme/install.go
Labels: priority/backlog, area/kubectl, lgtm, release-note, size/M, kind/feature, approved, sig/cli, cncf-cla: yes, triage/accepted

#118389 support nodeAnnotationsChanged event to trigger rescheduling
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/internal/queue/events.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: sig/scheduling, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122764 doc(scheduler_perf): enrich the documentation
  test/integration/scheduler_perf/README.md
Labels: area/test, kind/documentation, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121716 Add more logs to scheduler event handler
  pkg/scheduler/eventhandlers.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122732 fix version typo of pod namespace indexer
  pkg/features/kube_features.go
Labels: kind/documentation, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122571 client-go/features: introduce WatchListClient feature gate
  staging/src/k8s.io/client-go/features/features.go
  staging/src/k8s.io/client-go/features/known_features.go
Labels: lgtm, sig/api-machinery, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#122735 kubeadm: fix a regression in "kubeadm init" where --kubeconfig is ignored
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/init_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, ok-to-test, kind/regression, triage/accepted

#122529 kubeadm: add a Timeouts struct to v1beta4
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/timeoututils.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/defaults.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/defaults.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.defaults.go
  cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/init_test.go
  cmd/kubeadm/app/cmd/join_test.go
  cmd/kubeadm/app/cmd/phases/init/waitcontrolplane.go
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
  cmd/kubeadm/app/cmd/reset_test.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/discovery/discovery.go
  cmd/kubeadm/app/discovery/discovery_test.go
  cmd/kubeadm/app/discovery/file/file.go
  cmd/kubeadm/app/discovery/token/token.go
  cmd/kubeadm/app/discovery/token/token_test.go
  cmd/kubeadm/app/phases/bootstraptoken/node/token.go
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/util/apiclient/idempotency.go
  cmd/kubeadm/app/util/apiclient/idempotency_test.go
  cmd/kubeadm/app/util/apiclient/wait.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/config/cluster_test.go
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubeadm/app/util/config/joinconfiguration.go
  cmd/kubeadm/app/util/config/resetconfiguration.go
  cmd/kubeadm/app/util/etcd/etcd.go
  cmd/kubeadm/app/util/etcd/etcd_test.go
  cmd/kubeadm/app/util/staticpod/utils.go
Labels: lgtm, sig/cluster-lifecycle, size/XXL, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#122768 conntrack cleanup cleanup
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/conntrack/cleanup_test.go
  pkg/proxy/conntrack/conntrack.go
  pkg/proxy/conntrack/conntrack_test.go
  pkg/proxy/conntrack/fake.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/XXL, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#122772 code-gen: Use the passed FlagSet, not hardcoded
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/args/args.go
  staging/src/k8s.io/code-generator/cmd/client-gen/args/args.go
  staging/src/k8s.io/code-generator/cmd/conversion-gen/args/args.go
  staging/src/k8s.io/code-generator/cmd/deepcopy-gen/args/args.go
  staging/src/k8s.io/code-generator/cmd/defaulter-gen/args/args.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#122231 Add timezone column in cronjob get command
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Labels: priority/backlog, lgtm, release-note, size/M, kind/feature, approved, sig/cli, cncf-cla: yes, triage/accepted

#122729 Kube codegen tool now ignore the vendor folder by default on code generation
  staging/src/k8s.io/code-generator/kube_codegen.sh
Labels: lgtm, sig/api-machinery, sig/cluster-lifecycle, release-note, size/XS, kind/api-change, kind/feature, approved, cncf-cla: yes, needs-ok-to-test, area/code-generation, needs-priority, needs-triage

#120254 windows-tests: Add retries to Windows `assertConsistentConnectivity` …
  test/e2e/windows/hybrid_network.go
  test/e2e/windows/reboot_node.go
  test/e2e/windows/service.go
Labels: area/test, lgtm, size/M, kind/flake, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#122762 Fix type assertion error in init and join commands for kubeadm
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#122811 kubeadm: keep a function with short timeout in idempotency.go
  cmd/kubeadm/app/componentconfigs/configset.go
  cmd/kubeadm/app/util/apiclient/idempotency.go
  cmd/kubeadm/app/util/config/cluster.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, kind/failing-test, triage/accepted

#116627 unittests: Fixes unit tests for Windows (part 8)
  pkg/volume/flexvolume/probe.go
  pkg/volume/flexvolume/probe_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, triage/accepted

#122788 kubeadm: increase ut coverage for certs/renewal/manager
  cmd/kubeadm/app/phases/certs/renewal/manager_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#121783 Add tests for ignoring scheduler processing
  test/e2e/autoscaling/cluster_size_autoscaling.go
  test/e2e/feature/feature.go
  test/utils/runners.go
Labels: area/test, kind/cleanup, lgtm, sig/autoscaling, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#122738 Inject feature gate instance into client-go for kube components.
  pkg/features/client_adapter.go
  pkg/features/client_adapter_test.go
  pkg/features/kube_features.go
  pkg/features/kube_features_test.go
  vendor/modules.txt
Labels: lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#122823 e2e: remove dead code
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/framework/pod/wait.go
  test/e2e/framework/skipper/skipper.go
  test/e2e/network/scale/localrun/ingress_scale.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#122701 Fix resource deletion failure caused by quota calculation error when InPlacePodVerticalScaling is turned on
  plugin/pkg/admission/resourcequota/admission_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/controller.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#122142 client-go events: also support context for NewEventBroadcasterAdapter
  cmd/kube-scheduler/app/options/options.go
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/api-machinery, release-note, size/S, kind/api-change, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted

#122625 Negative index regression test for json-patch
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers_test.go
Labels: kind/cleanup, area/apiserver, area/kubectl, lgtm, sig/api-machinery, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, triage/accepted

#122523 fix: create tls secret cert to crt for --cert flag
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls.go
Labels: kind/bug, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122608 kube-controller-manager: unit tests WatchListClient feature for client-go
  cmd/kube-controller-manager/app/options/options_test.go
Labels: lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122841 kubeadm: special case context errors in GetConfigMapWithShortRetry
  cmd/kubeadm/app/util/apiclient/idempotency.go
  cmd/kubeadm/app/util/apiclient/idempotency_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#122833 mark density tests as flaky
  test/e2e/framework/ginkgowrapper.go
  test/e2e_node/density_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#122837 Remove unneeded permissions of node-controller role
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#122704 If a pvc has an empty storageclass name, don't try to assign a default StorageClass
  pkg/controller/volume/persistentvolume/pv_controller.go
  staging/src/k8s.io/component-helpers/storage/volume/helpers.go
  staging/src/k8s.io/component-helpers/storage/volume/helpers_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#122839 dependencies: ginkgo v2.15.0, gomega v1.31.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/endpointslice/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/ginkgo/internal/profiles_and_reports.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/outline/ginkgo.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/outline/import.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo_t_dsl.go
  vendor/github.com/onsi/ginkgo/v2/internal/output_interceptor_wasm.go
  vendor/github.com/onsi/ginkgo/v2/internal/progress_report_wasm.go
  vendor/github.com/onsi/ginkgo/v2/internal/spec_context.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/reporters/junit_report.go
  vendor/github.com/onsi/ginkgo/v2/table_dsl.go
  vendor/github.com/onsi/ginkgo/v2/types/errors.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/internal/async_assertion.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/modules.txt
Labels: sig/network, kind/cleanup, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/S, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#122850 kubeadm: use separate context in GetConfigMapWithShortRetry
  cmd/kubeadm/app/util/apiclient/idempotency.go
  cmd/kubeadm/app/util/apiclient/idempotency_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#122030 fix issue with using feature HonorPVReclaimPolicy in csi-provisioner
  pkg/controller/volume/persistentvolume/delete_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#122869 e2e: enforce usage of WithFlaky instead of [Flaky]
  test/e2e/apimachinery/crd_publish_openapi.go
  test/e2e/framework/ginkgowrapper.go
  test/e2e/node/kubelet.go
  test/e2e/node/security_context.go
  test/e2e/storage/nfs_persistent_volume-disruptive.go
  test/e2e/storage/persistent_volumes-local.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, sig/node, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage
