Repository kubernetes/kubernetes, pull requests merged in 2024-07, with the labels that each got.

#125691 fix flaky integration test about multi profiles
  pkg/scheduler/scheduler_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#125794 Use PollUntilContextTimeout to replace PollImmediateWithContext
  test/e2e/framework/node/helper.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#125591 Promote WatchList feature to Beta
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/options/options_test.go
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/e2e/apimachinery/watchlist.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#125822 Log the error margin to avoid failures in schedule_perf
  test/integration/scheduler_perf/util.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125823 Fix typos and error messages in scheduling queue tests
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#125483 Implement resilient watchcache initialization post-start-hook
  cmd/kube-apiserver/app/options/options_test.go
  pkg/controlplane/apiserver/options/options_test.go
  pkg/controlplane/apiserver/server.go
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/rest.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
  staging/src/k8s.io/apiserver/pkg/server/storage_readiness_hook.go
  staging/src/k8s.io/apiserver/pkg/server/storage_readiness_hook_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/errors.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/interfaces.go
  test/e2e/apimachinery/health_handlers.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, needs-triage, sig/etcd

#125498 kubelet: Surface description for predicate failed Events
  pkg/kubelet/lifecycle/predicate.go
Labels: area/kubelet, lgtm, sig/node, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#125687 kube_features: DevicePluginCDIDevices: LockToDefault
  pkg/features/kube_features.go
  pkg/kubelet/cm/devicemanager/pod_devices_test.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#125690 Fixed metrics missing issue for metrics reference page
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
  test/instrumentation/main.go
Labels: kind/bug, area/test, lgtm, size/XXL, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#125626 Fix httplog not logging watch duration
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap_test.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
  staging/src/k8s.io/apiserver/pkg/server/routine/routine.go
  staging/src/k8s.io/apiserver/pkg/server/routine/routine_test.go
Labels: kind/bug, area/kubelet, sig/scheduling, area/apiserver, lgtm, sig/node, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#125832 fix readiness flake in UnhealthyPodEvictionPolicy
  test/e2e/apps/disruption.go
Labels: kind/bug, area/test, priority/backlog, lgtm, size/XS, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#125151 pkg/controller: drop pointer wrapper functions
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/job/job_controller_test.go
Labels: sig/network, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#125468 Use `sig-node-approvers` alias in `pkg/kubelet/OWNERS`
  pkg/kubelet/OWNERS
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#125847 Increasing limit margin to 8% on pod cpu limit test
  test/e2e/windows/cpu_limits.go
Labels: area/test, lgtm, size/XS, kind/flake, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125675 Fix endpoints status out-of-sync when the pod state changes rapidly
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpoint/endpoints_tracker.go
  pkg/controller/endpoint/endpoints_tracker_test.go
  test/integration/endpoints/endpoints_test.go
Labels: kind/bug, area/test, sig/network, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125853 Remove impossible error check controlplane/apiserver/server.go
  pkg/controlplane/apiserver/server.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#125846 Remove APF feature gate APIPriorityAndFairness
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, triage/accepted

#125860 Fix kubelet AppArmor rejection test
  test/e2e_node/apparmor_test.go
Labels: area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#125871 Fix for Merged kubelet config does not match the expected configuration in cgroupv1 based jobs
  test/e2e_node/kubelet_config_dir_test.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125872 e2e/network/lb: fix url formatting for ipv6
  test/e2e/framework/network/utils.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#122751 restrict permitted e2e images to known images list
  hack/verify-e2e-images.sh
  test/images/.permitted-images
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ¯\_(ツ)_/¯, triage/accepted

#125659 [KEP-4639] Add OCI VolumeSource CRI API
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XXL, kind/feature, approved, cncf-cla: yes, triage/accepted

#125848 Drop removed APIs from etcd data tests, remove special case logic for binaryVersion=0.0 and all usages
  staging/src/k8s.io/apiserver/pkg/server/deleted_kinds.go
  test/integration/controlplane/transformation/transformation_test.go
  test/integration/etcd/data.go
  test/integration/etcd/etcd_cross_group_test.go
  test/integration/etcd/etcd_storage_path_test.go
Labels: area/test, sig/scheduling, area/apiserver, lgtm, sig/node, sig/api-machinery, size/M, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, triage/accepted, sig/etcd

#125875 remove unused prometheus exporter images from e2e image list
  test/images/.permitted-images
  test/utils/image/manifest.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#125842 Remove deprecated kubectl run and drain flags
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run.go
Labels: kind/cleanup, area/kubectl, lgtm, release-note, size/S, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#125894 [go] Bump images, dependencies and versions to go 1.22.5 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#125898 [release-1.27] [go] Bump images, dependencies and versions to go 1.22.5 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#125897 [release-1.28] [go] Bump images, dependencies and versions to go 1.22.5 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#125895 [release-1.30] [go] Bump images, dependencies and versions to go 1.22.5 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#125850 Fix for typecheck doesn't notice compile errors in test files
  hack/verify-typecheck.sh
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/celcoststability_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/envelope_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/grpc_service_unix_test.go
  staging/src/k8s.io/component-base/logs/api/v1/types_test.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
Labels: kind/bug, area/test, priority/important-soon, area/apiserver, lgtm, sig/storage, sig/api-machinery, size/M, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#125838 Promote ServiceTrafficDistribution feature-gate to beta and enable by default. Also add missing integration tests.
  pkg/features/kube_features.go
  test/integration/service/service_test.go
Labels: area/test, priority/important-soon, sig/network, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, needs-triage

#125896 [release-1.29] [go] Bump images, dependencies and versions to go 1.22.5 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#125864 Bump govulncheck to 1.1.2
  hack/verify-govulncheck.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, sig/architecture, needs-priority, sig/security, needs-triage

#122025 fix(cronjob): lastSuccessfullTime not set when successfulJobsHistoryLimit equal to zero
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/cronjob_controllerv2_test.go
Labels: kind/bug, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, priority/important-longterm, tide/merge-method-squash, ok-to-test, triage/accepted

#122251 register unschedulable plugin for those plugins that PreFilter's PreFilterResult filter out some nodes
  pkg/scheduler/framework/autoscaler_contract/framework_contract_test.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/preemption/preemption_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  test/integration/scheduler/queue_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#125873 Add integration test for rejecting non-JSON RawExtensions.
  test/integration/apiserver/unstructured_test.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125920 fix lock bug for componentGlobalsRegistry
  staging/src/k8s.io/apiserver/pkg/util/version/registry.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#125914 Cleanup Job tests: align error messages, no TODO ctx, no unused params
  pkg/controller/job/job_controller_test.go
  test/integration/job/job_test.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125835 Fix fmt verbs for strings in roundtrip test errors
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/roundtrip.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#125772 [Backport] Fix verify target to not update env var if already set
  build/root/Makefile
Labels: kind/bug, priority/important-soon, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/release, sig/architecture, sig/security, triage/accepted

#123099 Update the sample controller
  staging/src/k8s.io/sample-controller/controller.go
  staging/src/k8s.io/sample-controller/controller_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#125887 [client-go] Enable FakeDiscovery client to simulate errors by fixing error handling
  staging/src/k8s.io/client-go/discovery/fake/discovery.go
  staging/src/k8s.io/client-go/discovery/fake/discovery_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#124994 fix: add namespace autocompletion for kubectl config set-context command
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/config.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/set_context.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/set_context_test.go
Labels: priority/backlog, area/kubectl, lgtm, release-note, size/M, kind/feature, approved, sig/cli, cncf-cla: yes, triage/accepted

#125615 Copy input to UnmarshalJSON on the apiextensions JSON types.
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/marshal.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/marshal_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/marshal.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/marshal_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, api-review, triage/accepted

#125743 Extract RoundtripToUnstructured to apimachinery apitesting library.
  pkg/api/testing/unstructured_test.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/unstructured.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#124152 update client/kernel version requirements for nftables kube-proxy
  pkg/proxy/nftables/proxier.go
  pkg/util/kernel/constants.go
Labels: priority/important-soon, sig/network, kind/cleanup, area/kube-proxy, lgtm, release-note, size/M, kind/api-change, approved, cncf-cla: yes, area/code-generation, area/dependency, needs-triage

#125841 cri: allow `GetContainerEvents` to pass a context
  pkg/kubelet/kuberuntime/instrumented_services.go
  pkg/kubelet/pleg/evented.go
  staging/src/k8s.io/cri-api/pkg/apis/services.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_runtime_service.go
  staging/src/k8s.io/cri-client/pkg/remote_runtime.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#125930 cleanup: remove non-necessary `if`s
  pkg/scheduler/internal/queue/scheduling_queue.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122627 take PodTopologySpread into consideration when requeueing Pods based on Pod related events
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/queue_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124730 Add test to document request timeout behavior
  staging/src/k8s.io/apiserver/pkg/server/read_write_deadline_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#125557 Increase noise margin for TestConcurrencyIsolation
  test/integration/apiserver/flowcontrol/concurrency_util_test.go
Labels: kind/bug, area/test, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125908 fix race on integration test for portforward
  test/integration/apiserver/portforward/portforward_test.go
Labels: area/test, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125949 Fix `should complete a service status lifecycle` test
  test/e2e/network/service.go
Labels: area/test, sig/network, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#125945 Add missing RBAC permissions to the sample-apiserver
  staging/src/k8s.io/sample-apiserver/artifacts/example/rbac.yaml
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#125966 e2e framework: don't add default skip when --label-filter is used
  test/e2e/framework/test_context.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#125973 Mark test cases which set up a sample-apiserver as serial
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/openapiv3.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, sig/architecture, area/conformance, ok-to-test, needs-priority, needs-triage

#125970 defaultMaskedPaths must be kept in sync with moby/moby
  pkg/securitycontext/util.go
Labels: kind/bug, area/security, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#125461 Graduate PodDisruptionConditions to stable
  pkg/controller/job/job_controller_test.go
  pkg/controller/podgc/gc_controller_test.go
  pkg/controller/tainteviction/taint_eviction_test.go
  pkg/features/kube_features.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
  pkg/kubelet/status/status_manager_test.go
  pkg/kubelet/types/pod_status_test.go
  pkg/registry/core/pod/storage/eviction_test.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  test/e2e/nodefeature/nodefeature.go
  test/e2e_node/critical_pod_test.go
  test/e2e_node/eviction_test.go
  test/e2e_node/node_shutdown_linux_test.go
  test/integration/evictions/evictions_test.go
  test/integration/node/lifecycle_test.go
  test/integration/podgc/podgc_test.go
  test/integration/scheduler/preemption/preemption_test.go
Labels: area/test, area/kubelet, sig/scheduling, lgtm, sig/node, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#125981 [e2e-node] Cleanup pods after the test runs
  test/e2e_node/container_lifecycle_test.go
  test/e2e_node/pids_test.go
  test/e2e_node/pod_conditions_test.go
  test/e2e_node/quota_lsci_test.go
  test/e2e_node/swap_test.go
  test/e2e_node/util.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#125097 volumebinding: scheduler queueing hints - CSINode
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
Labels: sig/scheduling, lgtm, sig/storage, release-note, size/L, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#125202 [FG:InPlacePodVerticalScaling] Roll back resize patches in doPodResizeTests
  test/e2e/node/pod_resize.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#125971 chore: use testCtx instead of context.TODO() for scheduler integration
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/preemption/preemption_test.go
  test/integration/scheduler/scheduler_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125986 Fix typo in error message for anonymous field in AuthenticationConfig…
  pkg/kubeapiserver/options/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#125944 Fix typo in type name of watch decode error
  staging/src/k8s.io/client-go/rest/watch/decoder.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#125985 job_controller: Ignore FailureTarget JobCondition with Status != True
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#125997 Cleanup TODO comment in the Job controller
  pkg/controller/job/job_controller.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#125629 KEP-4222: Automatically transcode RawExtension between unstructured protocols.
  pkg/api/testing/unstructured_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/extension.go
  staging/src/k8s.io/apimachinery/pkg/runtime/extension_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/cbor.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/cbor_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/raw.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/raw_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/types.go
Labels: lgtm, sig/api-machinery, size/XL, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#126010 Kube-Proxy options refactor
  cmd/kube-proxy/app/options.go
  cmd/kube-proxy/app/options_test.go
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/XXL, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#125676 KEP-4222: Don't pool large CBOR encode buffers
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/cbor.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/buffers.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/buffers_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/encode.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/encode_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/modes_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/roundtrip_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#125866 nfacct: conditionally ensure counters and register metrics
  pkg/proxy/iptables/proxier.go
  pkg/proxy/metrics/metrics.go
  pkg/proxy/util/nfacct/nfacct_linux.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#125328 [KEP-4569] Add a warning log, an event for cgroup v1 usage and a metric for cgroup version
  pkg/kubelet/cm/cgroup_manager_unsupported.go
  pkg/kubelet/cm/cgroup_v1_manager_linux.go
  pkg/kubelet/cm/cgroup_v2_manager_linux.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/types.go
  pkg/kubelet/events/event.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/metrics/metrics.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#126000 Automated cherry pick of #125970: defaultMaskedPaths must be kept in sync with moby/moby.
  pkg/securitycontext/util.go
Labels: kind/bug, area/security, lgtm, sig/node, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#125999 Automated cherry pick of #125970: defaultMaskedPaths must be kept in sync with moby/moby.
  pkg/securitycontext/util.go
Labels: kind/bug, area/security, lgtm, sig/node, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#125998 Automated cherry pick of #125970: defaultMaskedPaths must be kept in sync with moby/moby.
  pkg/securitycontext/util.go
Labels: kind/bug, area/security, lgtm, sig/node, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#125868 Add --for=create option to kubectl wait
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/builder_flags_fake.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/condition.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/create.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/json.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait_test.go
  test/cmd/wait.sh
Labels: area/test, area/kubectl, lgtm, release-note, size/XXL, kind/feature, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#125643 Automated cherry pick of #125527: fix: skip isPodWorthRequeuing only when SchedulingGates
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, kind/regression, needs-triage

#125000 volumezone: scheduler queueing hints: pvc
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
Labels: sig/scheduling, lgtm, sig/storage, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#125644 Automated cherry pick of #125527: fix: skip isPodWorthRequeuing only when SchedulingGates
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, kind/regression, needs-triage

#125858 Automated cherry pick of #125675: Fix endpoints status out-of-sync when the pod state changes
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpoint/endpoints_tracker.go
  pkg/controller/endpoint/endpoints_tracker_test.go
  test/integration/endpoints/endpoints_test.go
Labels: kind/bug, area/test, sig/network, lgtm, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125645 Automated cherry pick of #125527: fix: skip isPodWorthRequeuing only when SchedulingGates
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#125859 Automated cherry pick of #125675: Fix endpoints status out-of-sync when the pod state changes
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpoint/endpoints_tracker.go
  pkg/controller/endpoint/endpoints_tracker_test.go
  test/integration/endpoints/endpoints_test.go
Labels: kind/bug, area/test, sig/network, lgtm, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#126030 job_controller: Add test for SuccessCriteriaMet=False
  pkg/controller/job/job_controller_test.go
Labels: priority/backlog, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#125751 Graduate ElasticIndexedJob to GA
  pkg/apis/batch/validation/validation.go
  pkg/apis/batch/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/registry/batch/job/strategy.go
  test/integration/job/job_test.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, api-review, needs-triage

#126035 kubeadm: fix a bug that ImageExists check returns true when the image isn't in the local storage
  cmd/kubeadm/app/util/runtime/runtime.go
  cmd/kubeadm/app/util/runtime/runtime_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#125692 Improve lock utilization in scheduling queue to increase scheduling throughput while many gated pods
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#126011 securitycontext: add support for HostUsers
  pkg/securitycontext/accessors.go
  pkg/securitycontext/accessors_test.go
Labels: kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#125857 Automated cherry pick of #125675: Fix endpoints status out-of-sync when the pod state changes
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpoint/endpoints_tracker.go
  pkg/controller/endpoint/endpoints_tracker_test.go
  test/integration/endpoints/endpoints_test.go
Labels: kind/bug, area/test, sig/network, lgtm, size/L, cherry-pick-approved, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, needs-triage

#126012 Updating kubelet on Windows to query uuid from registry
  pkg/kubelet/winstats/perfcounter_nodestats.go
  pkg/kubelet/winstats/perfcounter_nodestats_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/M, approved, sig/windows, cncf-cla: yes, needs-priority, needs-triage

#124969 graduate PersistentVolumeLastPhaseTransitionTime to GA in 1.31
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/api/persistentvolume/util.go
  pkg/apis/core/types.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/core/persistentvolume/storage/storage_test.go
  pkg/registry/core/persistentvolume/strategy.go
  pkg/registry/core/persistentvolume/strategy_test.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  test/e2e/feature/feature.go
  test/e2e/storage/persistent_volumes.go
Labels: area/test, lgtm, sig/storage, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, api-review, triage/accepted

#125990 Automated cherry pick of #124531: gitRepo volume: directory must be max 1 level deep
  pkg/volume/git_repo/git_repo.go
  pkg/volume/git_repo/git_repo_test.go
Labels: kind/bug, lgtm, sig/storage, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#125988 Automated cherry pick of #124531: gitRepo volume: directory must be max 1 level deep
  pkg/volume/git_repo/git_repo.go
  pkg/volume/git_repo/git_repo_test.go
Labels: kind/bug, lgtm, sig/storage, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#125989 Automated cherry pick of #124531: gitRepo volume: directory must be max 1 level deep
  pkg/volume/git_repo/git_repo.go
  pkg/volume/git_repo/git_repo_test.go
Labels: kind/bug, lgtm, sig/storage, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#125991 fix panic when watching ReplicationController with Bookmark enabled
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Labels: kind/bug, priority/backlog, lgtm, size/S, release-note-none, sig/apps, approved, sig/cli, cncf-cla: yes, triage/accepted

#124996 volumezone: scheduler queueing hints: storageclass
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
Labels: sig/scheduling, lgtm, sig/storage, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#125802 fix: enable empty and len rules from testifylint on pkg and staging package
  hack/golangci.yaml
  hack/golangci.yaml.in
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/garbagecollector/garbagecollector_test.go
  pkg/controller/podautoscaler/horizontal_test.go
  pkg/controller/ttl/ttl_controller_test.go
  pkg/kubelet/cm/devicemanager/manager_test.go
  pkg/kubelet/cm/dra/manager_test.go
  pkg/kubelet/images/image_gc_manager_test.go
  pkg/kubelet/images/image_manager_test.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kubelet_volumes_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_image_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_test.go
  pkg/kubelet/oom/oom_watcher_linux_test.go
  pkg/kubelet/pleg/generic_test.go
  pkg/kubelet/server/stats/summary_test.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  pkg/kubelet/stats/provider_test.go
  pkg/kubelet/status/status_manager_test.go
  pkg/kubelet/util/manager/cache_based_manager_test.go
  pkg/kubelet/util/manager/watch_based_manager_test.go
  pkg/kubelet/util/store/filestore_test.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/probe/grpc/grpc_test.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/util/nfacct/nfacct_linux_test.go
  pkg/registry/core/pod/strategy_test.go
  pkg/scheduler/util/queue/fifo_test.go
  pkg/volume/flexvolume/probe_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/validating/admission_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/root_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/util/proxy/streamtunnel_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/audit/truncate/truncate_test.go
  staging/src/k8s.io/client-go/discovery/cached/disk/cached_discovery_test.go
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache_test.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
  staging/src/k8s.io/client-go/util/consistencydetector/list_data_consistency_detector_test.go
  staging/src/k8s.io/component-base/metrics/counter_test.go
  staging/src/k8s.io/component-base/metrics/gauge_test.go
  staging/src/k8s.io/component-base/metrics/histogram_test.go
  staging/src/k8s.io/component-base/metrics/registry_test.go
  staging/src/k8s.io/component-base/metrics/summary_test.go
  staging/src/k8s.io/component-base/metrics/timing_histogram_test.go
  staging/src/k8s.io/endpointslice/reconciler_test.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapiv3/aggregator/downloader_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
Labels: priority/backlog, sig/network, area/kubelet, kind/cleanup, sig/scheduling, area/kube-proxy, area/apiserver, area/kubectl, lgtm, sig/storage, sig/node, sig/api-machinery, sig/autoscaling, size/L, release-note-none, sig/auth, sig/apps, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/ipvs, ok-to-test, triage/accepted

#126048 Remove static PV topology test
  test/e2e/storage/ubernetes_lite_volumes.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, sig/cloud-provider, needs-priority, needs-triage

#125001 volumezone: scheduler queueing hints: pv
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
Labels: sig/scheduling, lgtm, sig/storage, release-note, size/L, kind/feature, approved, cncf-cla: yes, tide/merge-method-squash, needs-priority, needs-triage

#125855 chore: call close framework when finishing
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/extender_test.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/defaultbinder/default_binder_test.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
  pkg/scheduler/framework/plugins/testing/testing.go
  pkg/scheduler/framework/preemption/preemption_test.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/internal/queue/testing.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/util/utils_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#126045 Automated cherry pick of #122030: fix issue with using feature HonorPVReclaimPolicy in #125767: Fix pv reclaim failed due to its phase is wrongly updated to
  pkg/controller/volume/persistentvolume/delete_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#126044 Automated cherry pick of #122030: fix issue with using feature HonorPVReclaimPolicy in #125767: Fix pv reclaim failed due to its phase is wrongly updated to
  pkg/controller/volume/persistentvolume/delete_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#126043 Automated cherry pick of #125767: Fix pv reclaim failed due to its phase is wrongly updated to
  pkg/controller/volume/persistentvolume/pv_controller.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/S, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#125510 Delay setting terminal Job conditions until all pods are terminal
  pkg/apis/batch/validation/validation.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/job/success_policy.go
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
  test/e2e/apps/job.go
  test/e2e/framework/job/wait.go
  test/integration/job/job_test.go
Labels: area/test, lgtm, release-note, size/XXL, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#126046 Use omitempty for optional fields in Job Pod Failure Policy
  staging/src/k8s.io/api/batch/v1/types.go
Labels: kind/bug, lgtm, release-note, size/XS, kind/api-change, sig/apps, approved, cncf-cla: yes, needs-priority, api-review, needs-triage

#126050 cleanup: refactor the way extracting Node smaller events
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/internal/queue/events.go
  pkg/scheduler/internal/queue/events_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XL, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#125280 Add QueueingHintFn for pvc events in VolumeRestriction plugin
  pkg/scheduler/framework/plugins/volumerestrictions/volume_restrictions.go
  pkg/scheduler/framework/plugins/volumerestrictions/volume_restrictions_test.go
Labels: sig/scheduling, lgtm, sig/storage, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#125442 Graduate JobPodFailurePolicy to stable
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/batch/types.go
  pkg/controller/job/indexed_job_utils_test.go
  pkg/controller/job/job_controller_test.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/batch/job/strategy_test.go
  staging/src/k8s.io/api/batch/v1/generated.proto
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  test/integration/job/job_test.go
Labels: area/test, sig/scheduling, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, triage/accepted

#125780 kubeadm: consider feature gate ControlPlaneKubeletLocalMode on init and upgrade
  cmd/kubeadm/app/cmd/phases/init/kubeconfig.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, size/M, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#125925 fix: enable testifylint on `pkg/controller`
  pkg/controller/controller_utils_test.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/podautoscaler/horizontal_test.go
  pkg/controller/podautoscaler/metrics/client_test.go
  pkg/controller/podautoscaler/metrics/utilization_test.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: sig/network, kind/cleanup, lgtm, sig/autoscaling, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#126055 Set ginkgo time if not specified explicitly
  test/e2e_node/remote/remote.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#125821 Automated cherry pick of #122901: kubeadm: don't fail post upgrade in
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
Labels: kind/bug, priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#125748 KEP-4222: Check for and reject unsupported custom marshalers and unmarshalers.
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/cbor.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/cbor_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/custom.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/custom_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#126057 make PodIP.IP and HostIP.IP required.
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/S, kind/api-change, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#125458 Automated cherry pick of #124883: kubectl create cronjobs: Manually set OwnerReferences
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job_test.go
Labels: priority/important-soon, area/kubectl, lgtm, size/M, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, kind/regression, triage/accepted

#126024 Automated cherry pick of #125973: Mark a test case which sets up a sample-apiserver as serial
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/openapiv3.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, triage/accepted

#125455 Automated cherry pick of #125429: Job: Fix a bug that the SuccessCriteriaMet condition is added
  pkg/controller/job/job_controller_test.go
  pkg/controller/job/success_policy.go
  pkg/controller/job/success_policy_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, kind/regression, triage/accepted

#126023 Automated cherry pick of #125973: Mark a test case which sets up a sample-apiserver as serial
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/openapiv3.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, triage/accepted

#126066 Fix for OOMKiller test consistently failing in EC2 cgroupv1 serial jobs
  test/e2e_node/oomkiller_linux_test.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#126088 use node.status.addresses to obtain hostnetwork pods hostnames
  test/e2e/framework/network/utils.go
Labels: kind/bug, area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#126025 Automated cherry pick of #125973: Mark a test case which sets up a sample-apiserver as serial
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/openapiv3.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, triage/accepted

#123733 KEP-4176: Add a new static policy SpreadPhysicalCPUsPreferredOption
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/cpumanager/policy_options_test.go
  pkg/kubelet/cm/cpumanager/policy_static.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/L, kind/api-change, kind/feature, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#126098 kubeadm: use separate phase for changing the kubelet's kubeconfig on upgrade for ControlPlaneKubeletLocalMode
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/kubeconfig.go
  cmd/kubeadm/app/cmd/upgrade/node.go
Labels: lgtm, sig/cluster-lifecycle, size/M, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, triage/accepted

#125769 add emulated-version flag to kube-scheduler to control the feature gate.
  cmd/kube-apiserver/app/options/validation.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server.go
  cmd/kube-scheduler/app/server_test.go
  cmd/kube-scheduler/app/testing/testserver.go
  staging/src/k8s.io/apiserver/pkg/util/version/version.go
Labels: sig/scheduling, area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#125926 [go1.23] hack: bump go-tools and exclude SA1006
  hack/golangci.yaml
  hack/golangci.yaml.in
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/go.work
  pkg/util/procfs/procfs_linux_test.go
  staging/src/k8s.io/component-base/logs/example/test/logger_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, needs-priority, area/dependency, needs-triage, wg/structured-logging

#125867 Fix the bug related to cleaning up density test pods
  test/e2e_node/density_test.go
Labels: kind/bug, area/test, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#126105 KEP-4222: Implement runtime.Framer for CBOR Sequences.
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/framer.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/framer_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#125828 KEP-4033: fulfill beta criteria
  pkg/features/kube_features.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XS, kind/feature, approved, cncf-cla: yes, triage/accepted

#125404 Fix that PodIP field is temporarily removed for a terminal pod
  pkg/kubelet/kubelet.go
  test/e2e_node/pod_ips.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#126034 api: add user namespaces field to NodeRuntimeHandlerFeatures
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/apis/core/types.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/nodestatus/setters.go
  pkg/registry/core/node/strategy.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Node.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Node.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Node.yaml
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/noderuntimehandlerfeatures.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
Labels: area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/M, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, api-review, needs-triage

#125967 KEP-4633: Add intgration tests for Anonymous Auth Configurable Endpoints
  test/integration/apiserver/anonymous/anonymous_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#123137 kubelet: warn instead of error for unsupported options on Windows
  pkg/kubelet/apis/config/validation/validation_windows.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/S, kind/feature, approved, sig/windows, cncf-cla: yes, priority/important-longterm, triage/accepted

#124148 kubelet: Add a TopologyManager policy option: max-allowable-numa-nodes
  cmd/kubelet/app/options/options.go
  pkg/kubelet/cm/topologymanager/policy_options.go
  pkg/kubelet/cm/topologymanager/policy_options_test.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
  test/e2e_node/topology_manager_metrics_test.go
  test/e2e_node/topology_manager_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#124296 Add Pod Resize Node E2E test using framework in test/e2e_node
  test/e2e_node/pod_resize_test.go
Labels: area/test, lgtm, sig/node, size/XXL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, area/e2e-test-framework, triage/accepted

#125961 Chore: fix scheduler code comment typos
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  staging/src/k8s.io/kube-scheduler/config/v1/types.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, needs-triage

#104519 MOTD: Remove '-gke.*' in link to source version
  cluster/gce/gci/configure-helper.sh
Labels: kind/bug, priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, triage/accepted

#125753 device plugin failure tests
  test/e2e_node/device_plugin_failures_test.go
  test/e2e_node/testdeviceplugin/device-plugin.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XL, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#125993 Increase API server timeout in scheduler_perf integration tests
  cmd/kube-apiserver/app/testing/testserver.go
  test/integration/scheduler_perf/util.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#126121 Update the set of reasons in comment for JobFinishedNum metric
  pkg/controller/job/metrics/metrics.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#124268 kubelet: adjust the validation logic to treat [none] as the EnforceNodeAllocatable is disabled
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/apis/config/validation/validation_windows.go
Labels: kind/bug, area/kubelet, kind/cleanup, lgtm, sig/node, needs-rebase, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#124568 api: fix ValidatingAdmissionPolicyList json tag
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1beta1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/admissionregistration/v1/types.go
  staging/src/k8s.io/api/admissionregistration/v1alpha1/types.go
  staging/src/k8s.io/api/admissionregistration/v1beta1/types.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, kind/api-change, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#126110 add some notes for e2e preserve source pod ip test
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#126104 Add funcs in pkg/filesystem/util to set file permissions on Windows and update container log dir perms
  pkg/kubelet/kubelet.go
  pkg/util/filesystem/defaultfs.go
  pkg/util/filesystem/util_unix.go
  pkg/util/filesystem/util_windows.go
  pkg/util/filesystem/util_windows_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#126126 Cherry pick of #126104 Add funcs in pkg/filesystem/util that can actually set file permissiosn
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/util/filesystem/defaultfs.go
  pkg/util/filesystem/util_unix.go
  pkg/util/filesystem/util_windows.go
  pkg/util/filesystem/util_windows_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#126127 Cherry pick of #126104 Add funcs in pkg/filesystem/util that can actually set file permissiosn
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/util/filesystem/defaultfs.go
  pkg/util/filesystem/util_unix.go
  pkg/util/filesystem/util_windows.go
  pkg/util/filesystem/util_windows_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, needs-priority, needs-triage

#126129 Cherry pick of #126104 Add funcs in pkg/filesystem/util that can actually set file permissiosn
  pkg/kubelet/kubelet.go
  pkg/util/filesystem/defaultfs.go
  pkg/util/filesystem/util_unix.go
  pkg/util/filesystem/util_windows.go
  pkg/util/filesystem/util_windows_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, needs-priority, needs-triage

#126128 Cherry pick of #126104 Add funcs in pkg/filesystem/util that can actually set file permissiosn
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/util/filesystem/defaultfs.go
  pkg/util/filesystem/util_unix.go
  pkg/util/filesystem/util_windows.go
  pkg/util/filesystem/util_windows_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, triage/accepted

#125470 KEP-3619: Add NodeStatus.Features.SupplementalGroupsPolicy API and e2e
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/apis/core/types.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/runtime.go
  pkg/registry/core/node/strategy.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Node.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Node.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Node.yaml
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/nodefeatures.go
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/nodestatus.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/client-go/applyconfigurations/utils.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  test/e2e/feature/feature.go
  test/e2e/node/security_context.go
Labels: area/test, area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, triage/accepted

#123303 KEP-4265: add e2e tests for ProcMountType
  test/e2e/nodefeature/nodefeature.go
  test/e2e/windows/security_context.go
  test/e2e_node/proc_mount_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, sig/api-machinery, size/L, kind/api-change, kind/feature, release-note-none, sig/auth, sig/apps, approved, sig/windows, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, lifecycle/rotten, triage/accepted

#126072 kube-proxy: internal config: add Linux and Windows section
  cmd/kube-proxy/app/init_windows.go
  cmd/kube-proxy/app/options.go
  cmd/kube-proxy/app/options_test.go
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_linux.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/apis/config/fuzzer/fuzzer.go
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/conversion.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/apis/config/validation/validation.go
  pkg/proxy/apis/config/validation/validation_test.go
  pkg/proxy/apis/config/zz_generated.deepcopy.go
  pkg/proxy/kubemark/hollow_proxy.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
Labels: sig/network, sig/scalability, area/kube-proxy, lgtm, release-note, size/L, kind/api-change, kind/feature, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#124959 volumebinding: scheduler queueing hints - PersistentVolumeClaim
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
Labels: sig/scheduling, lgtm, sig/storage, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#126036 Allow to set scheduling throughput thresholds in scheduler_perf tests
  test/integration/scheduler_perf/scheduler_perf.go
Labels: area/test, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage
