Repository kubernetes/kubernetes, pull requests merged in 2024-12, with the labels that each got.

#129004 Automated cherry pick of #128286: fix isLikelyNotMountPointStatx relative path issue
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#129005 Automated cherry pick of #128286: fix isLikelyNotMountPointStatx relative path issue
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#129083 Revert to go1.22 windows filesystem stdlib behavior
  go.mod
  go.work
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/externaljwt/go.mod
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
Labels: kind/bug, priority/critical-urgent, sig/network, area/kubelet, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, release-note, size/L, sig/auth, approved, sig/windows, release-blocker, sig/cli, cncf-cla: yes, sig/instrumentation, sig/release, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted, wg/device-management

#129081 featuregate UID in RequestHeader authenticator
  pkg/controlplane/controller/clusterauthenticationtrust/cluster_authentication_trust_controller.go
  pkg/controlplane/controller/clusterauthenticationtrust/cluster_authentication_trust_controller_test.go
  pkg/features/versioned_kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
  staging/src/k8s.io/component-base/featuregate/testing/feature_gate.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
  staging/src/k8s.io/sample-apiserver/main.go
  staging/src/k8s.io/sample-apiserver/pkg/cmd/server/start.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
  test/integration/auth/requestheader_test.go
  test/integration/examples/apiserver_test.go
Labels: area/test, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, sig/cluster-lifecycle, release-note, size/L, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, kind/regression, triage/accepted

#129103 Drop use of winreadlinkvolume godebug option
  go.mod
  go.work
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/externaljwt/go.mod
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
Labels: priority/critical-urgent, sig/network, area/kubelet, kind/cleanup, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, sig/auth, approved, sig/windows, release-blocker, sig/cli, cncf-cla: yes, sig/instrumentation, sig/release, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted, wg/device-management

#128954 fix(e2e): retry on conflict when deleting extended resource
  test/e2e/framework/node/helper.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#129126 changelog: scheduler plugins changes are API changes, not upgrade action required
  CHANGELOG/CHANGELOG-1.32.md
Labels: kind/cleanup, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#122170 add warning for duplicate port name definition
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
Labels: sig/network, kind/cleanup, lgtm, sig/api-machinery, size/L, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#125132 fix: fix miss makezero bug
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_role.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_role_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, lifecycle/stale, tide/merge-method-squash, ok-to-test, triage/accepted

#127369 Adds more flexible version of test ccm server
  staging/src/k8s.io/cloud-provider/app/testing/testserver.go
Labels: kind/cleanup, lgtm, area/cloudprovider, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#127470 feature(scheduler): more fine-grained QHints for interpodaffinity plugin
  pkg/scheduler/framework/plugins/interpodaffinity/plugin.go
  pkg/scheduler/framework/plugins/interpodaffinity/plugin_test.go
  test/integration/scheduler/queueing/queue.go
Labels: area/test, sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#127897 Set User.UID from x509 cert
  pkg/features/versioned_kube_features.go
  staging/src/k8s.io/apimachinery/pkg/apis/asn1/oid.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, api-review, triage/accepted

#127906 Re-introduce 126599: fix: preserve options after remount for bind mounting
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/utils/local.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#128086 prevent unnecessary resolving of iscsi/fc devices to dm
  pkg/volume/util/device_util_linux.go
  pkg/volume/util/device_util_linux_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#128621 update the github.com/golang-jwt/jwt/v4 dependency
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, area/cloudprovider, sig/node, release-note, size/S, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, area/dependency, triage/accepted, wg/device-management

#128662 kubectl: fix wait --for=create to work correctly with label selectors
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  test/cmd/wait.sh
Labels: kind/bug, area/test, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, tide/merge-method-squash, triage/accepted

#128690 csi: update snapshot controller to the v8.1.0
  cluster/addons/volumesnapshots/volume-snapshot-controller/volume-snapshot-controller-deployment.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/cloud-provider, triage/accepted

#128698 Document the existence of nftables as a kube-proxy mode.
  cmd/kube-proxy/app/options.go
  pkg/proxy/apis/config/types.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
Labels: priority/important-soon, sig/network, kind/documentation, area/kube-proxy, lgtm, size/S, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, triage/accepted

#128737 Fix potential nil pointer dereference in selectable fields check
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder/builder.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder/builder_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#128746 Improve validation for missing storedVersion
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, triage/accepted

#128753 Add myself to client-go reviewers
  staging/src/k8s.io/client-go/OWNERS
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128796 Fix a bug in framework.IgnoreNotFound
  test/e2e/framework/ginkgowrapper.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#128799 Remove user privilege checks from preflight tests
  cmd/kubeadm/app/cmd/phases/init/preflight.go
  cmd/kubeadm/app/cmd/phases/join/preflight.go
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/preflight/checks_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#128810 chore: remove repeated scheduler prefix metrics for CacheSizeMetrics
  pkg/scheduler/backend/cache/cache.go
  pkg/scheduler/metrics/metrics.go
Labels: kind/cleanup, sig/scheduling, lgtm, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#128833 proxy/util: remove unused function
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#128856 Fix linting issue in TestNodeDeletionReleaseCIDR
  pkg/controller/nodeipam/ipam/range_allocator_test.go
Labels: sig/network, kind/cleanup, lgtm, release-note, size/XS, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#128862 fix: remove duplicated unit tests in JSONPatch and ApplyConfiguration
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/mutating/patch/json_patch_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/mutating/patch/smd_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#128887 Don't allow to tolerate flakes
  hack/ginkgo-e2e.sh
Labels: kind/bug, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#128890 📝 output log when server shutdown is failed
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#128898 Test EndpointSlice in dual-stack e2e tests
  test/e2e/network/dual_stack.go
Labels: area/test, priority/backlog, sig/network, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#128906 cleanup: remove `pod_scheduling_duration_seconds`
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/schedule_one.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: kind/cleanup, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, sig/instrumentation, needs-priority, needs-triage, area/stable-metrics

#128909 Use generic sets rather than deprecated sets.String
  staging/src/k8s.io/cli-runtime/pkg/printers/jsonpath_test.go
  staging/src/k8s.io/cli-runtime/pkg/resource/builder.go
  staging/src/k8s.io/cli-runtime/pkg/resource/result.go
  staging/src/k8s.io/kubectl/pkg/cmd/apiresources/apiresources.go
  staging/src/k8s.io/kubectl/pkg/cmd/auth/cani.go
  staging/src/k8s.io/kubectl/pkg/cmd/auth/whoami.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/get_contexts.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/navigation_step_parser.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_role.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_token.go
  staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go
  staging/src/k8s.io/kubectl/pkg/cmd/edit/edit_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/events/events.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
  staging/src/k8s.io/kubectl/pkg/cmd/patch/patch.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/env/env_parse.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/env/env_resolve.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/helper.go
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_subject.go
  staging/src/k8s.io/kubectl/pkg/cmd/taint/utils.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/util/fieldpath/fieldpath.go
  staging/src/k8s.io/kubectl/pkg/util/qos/qos.go
  staging/src/k8s.io/kubectl/pkg/util/rbac/rbac.go
  staging/src/k8s.io/kubectl/pkg/util/resource/resource.go
  staging/src/k8s.io/kubectl/pkg/util/slice/slice.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, triage/accepted

#128915 Add modern-go libraries to unwanted dependencies
  hack/unwanted-dependencies.json
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/code-organization, needs-triage

#128929 fix: kube-proxy EndpointSliceCache memory is leaked
  pkg/proxy/endpointslicecache.go
  pkg/proxy/endpointslicecache_test.go
  pkg/proxy/servicechangetracker_test.go
Labels: kind/bug, area/test, sig/network, area/kube-proxy, lgtm, release-note, size/L, area/release-eng, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#128943 e2e: wrap DRA ResourceQuota Forbidden claim check in gomega.Eventually
  test/e2e/dra/dra.go
Labels: kind/bug, area/test, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#128967 Record dataTimestamp as float
  pkg/serviceaccount/externaljwt/metrics/metrics.go
  pkg/serviceaccount/externaljwt/metrics/metrics_test.go
  pkg/serviceaccount/externaljwt/plugin/keycache.go
  pkg/serviceaccount/externaljwt/plugin/testing/v1alpha1/externalsigner_mock.go
Labels: lgtm, size/S, kind/feature, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#128968 Adjust performance test throughput threshold limits
  test/integration/scheduler_perf/affinity/performance-config.yaml
  test/integration/scheduler_perf/misc/performance-config.yaml
Labels: area/test, lgtm, size/S, kind/flake, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128985 feat: Add flagz endpoint for kube-proxy
  cmd/kube-proxy/app/options.go
  cmd/kube-proxy/app/server.go
Labels: sig/network, area/kube-proxy, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/instrumentation, needs-priority, needs-triage

#128992 make test-cmd: use kube::util::find-binary to get kubeadm binary
  hack/make-rules/test-cmd.sh
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#129006 kubeadm: Do not read kubeconfig from disk repeatedly in the init phase
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/phases/init/bootstraptoken.go
  cmd/kubeadm/app/cmd/phases/init/data.go
  cmd/kubeadm/app/cmd/phases/init/data_test.go
  cmd/kubeadm/app/phases/bootstraptoken/clusterinfo/clusterinfo.go
  cmd/kubeadm/app/phases/bootstraptoken/clusterinfo/clusterinfo_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129021 apidiff support internal go modules
  hack/apidiff.sh
Labels: kind/bug, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#129023 scheduler: Rename UpdatePodTolerations for code style consistency
  pkg/scheduler/framework/events.go
  pkg/scheduler/framework/events_test.go
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/queueing/queue.go
  test/integration/scheduler_perf/event_handling/performance-config.yaml
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/M, release-note-action-required, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#129027 Fix: typos for volume package
  pkg/volume/metrics_block.go
  pkg/volume/metrics_errors.go
  pkg/volume/metrics_statfs.go
  pkg/volume/plugins.go
  pkg/volume/volume_unsupported.go
Labels: kind/documentation, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129035 prune-junit-xml: join stdout when merging tests
  cmd/prune-junit-xml/prunexml.go
  cmd/prune-junit-xml/prunexml_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#129040 chore: ignore dat files generated by scheduler-perf
  test/integration/scheduler_perf/.gitignore
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129047 Fix node e2e tests incorrect error message
  test/e2e_node/container_lifecycle_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129049 [e2e, service] Add total timeout for affinity check curl command.
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129052 test/e2e/apimachinery/watchlist: select only well-known secrets
  test/e2e/apimachinery/watchlist.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#129057 Remove unnecessary log msg.
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
Labels: kind/cleanup, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129068 storage e2e tests: add feature-gate label when these tests depend feature-gate
  test/e2e/storage/csimock/csi_volume_expansion.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129085 Fix volume expansion offline e2e
  test/e2e/storage/testsuites/volume_expand.go
Labels: area/test, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, triage/accepted

#129099 Add Podresize endpoints to pending_eligible_endpoints.yaml
  test/conformance/testdata/pending_eligible_endpoints.yaml
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, needs-priority, triage/accepted

#129105 scheduling e2e tests: add feature-gate label when these tests depend feature-gate
  test/e2e/feature/feature.go
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/preemption.go
  test/e2e_node/eviction_test.go
Labels: area/test, priority/important-soon, kind/cleanup, sig/scheduling, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#129106 docs: `-l/--selector` example for set-based requirements
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Labels: kind/documentation, area/kubectl, lgtm, release-note, size/XS, approved, sig/cli, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#129107 local-up-cluster: only wait for coredns if enabled
  hack/local-up-cluster.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129132 network e2e tests: add feature-gate label when these tests depend feature-gate
  test/e2e/network/dns.go
  test/e2e/network/traffic_distribution.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129134 add comment for features.BootstrapTokens
  test/e2e/feature/feature.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129141 Fix grammar mistake in kubeadm config v1beta4
  cmd/kubeadm/app/apis/kubeadm/v1beta4/doc.go
Labels: kind/documentation, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129151 kubelet: only emit one reboot event
  pkg/kubelet/nodestatus/setters.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, triage/accepted

#129155 e2e: don't panic asserting inside wait.Poll
  test/e2e/network/dns_common.go
Labels: kind/bug, area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128212 Add validation for NodeSelectorRequirement's values
  pkg/api/node/util.go
  pkg/api/persistentvolume/util.go
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/L, kind/api-change, sig/apps, approved, cncf-cla: yes, needs-priority, api-review, needs-triage, wg/device-management

#128667 Add integration tests for event handling cases in scheduler_perf
  test/integration/scheduler_perf/event_handling/performance-config.yaml
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129059 Isolate mock signer for externaljwt tests
  pkg/controlplane/apiserver/options/options_test.go
  pkg/serviceaccount/externaljwt/plugin/testing/v1alpha1/externalsigner_mock.go
Labels: lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#129072 add kubelet validation for containerLogMaxFiles
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/S, kind/feature, approved, cncf-cla: yes, priority/important-longterm, api-review, triage/accepted

#129172 remove release-notes of reverted PRs
  CHANGELOG/CHANGELOG-1.32.md
Labels: kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#129191 OWNERS: Update SIG Release aliases
  CHANGELOG/OWNERS
  OWNERS_ALIASES
Labels: priority/important-soon, kind/documentation, kind/cleanup, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#129188 apidiff: default from prowjob env if available, default before doing anything else
  hack/apidiff.sh
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129173 kube-proxy implement dual stack metrics
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/metrics/metrics.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
  pkg/proxy/winkernel/proxier.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, release-note, size/L, approved, sig/windows, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#129174 Remove the limitation on exposing port 10250 externally
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/S, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#128846 Add self to sig-instrumentation leads
  OWNERS_ALIASES
Labels: kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, needs-triage

#128848 test: Add integration test for apiserver flagz endpoint
  test/integration/controlplane/kube_apiserver_test.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#128844 Bump konnectivity-client to v0.31.1
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/manifests/konnectivity-server.yaml
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, sig/node, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, area/dependency, needs-triage

#129192 TestSelectableFields flake: Shut down webhook after apiserver
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fieldselector_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129070 e2e_node: Simplify the code logic
  test/e2e/framework/pod/wait.go
  test/e2e_node/util.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, area/e2e-test-framework, triage/accepted

#129041 flowcontrol: remove test dependencies from go binaries
  staging/src/k8s.io/client-go/util/flowcontrol/backoff.go
Labels: kind/bug, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, area/code-organization, triage/accepted

#127193 allow ContainerResource calculations to continue with missing metrics like Resource calculations
  pkg/controller/podautoscaler/metrics/client.go
  pkg/controller/podautoscaler/metrics/client_test.go
  pkg/controller/podautoscaler/metrics/interfaces.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: kind/bug, lgtm, release-note, sig/autoscaling, size/M, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, needs-triage

#128659 Replace `github.com/golang/protobuf` with `google.golang.org/protobuf`
  go.mod
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/roundtrip.go
  staging/src/k8s.io/client-go/discovery/discovery_client.go
  staging/src/k8s.io/client-go/go.mod
  test/e2e/storage/drivers/csi-test/mock/service/identity.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/dependency, needs-triage

#128719 [FG:InPlacePodVerticalScaling] reduce container resources in tests
  test/e2e/common/node/pod_resize.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128343 Add tests for InMemoryResponseWriter
  staging/src/k8s.io/apiserver/pkg/util/responsewriter/inmemoryresponsewriter_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128703 Remove shouldServeBeta parameter in apiservice storage
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129214 Change default filestore permissions to 0700
  pkg/kubelet/util/store/filestore.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#128920 [FG:InPlacePodVerticalScaling] Remove ResizePolicy defaulting
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  test/e2e/common/node/pod_resize.go
  test/e2e/framework/pod/resize.go
  test/e2e/node/pod_resize.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#128886 kube-proxy,nftables: add debug logging for failed transactions.
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129131 kubeadm: remove iptables/ip/tc/ethtool binary preflight check
  cmd/kubeadm/app/preflight/checks_linux.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129217 Revert "Change default filestore permissions to 0700"
  pkg/kubelet/util/store/filestore.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, kind/regression, triage/accepted

#128819 cleanups to proxy change trackers
  pkg/proxy/conntrack/cleanup_test.go
  pkg/proxy/endpointschangetracker.go
  pkg/proxy/endpointschangetracker_test.go
  pkg/proxy/endpointslicecache.go
  pkg/proxy/endpointslicecache_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
  pkg/proxy/servicechangetracker.go
  pkg/proxy/servicechangetracker_test.go
  pkg/proxy/serviceport.go
  pkg/proxy/util/utils.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, sig/windows, cncf-cla: yes, area/ipvs, needs-priority, triage/accepted

#129212 Add client-go README
  staging/src/k8s.io/client-go/README.md
Labels: kind/documentation, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#125334 Remove provider specific operations from the autoscaling tests and fix the ones that were previously failing.
  cluster/gce/manifests/cluster-autoscaler.manifest
  test/e2e/autoscaling/autoscaling_timer.go
  test/e2e/autoscaling/cluster_size_autoscaling.go
  test/e2e/autoscaling/dns_autoscaling.go
  test/e2e/feature/feature.go
  vendor/github.com/onsi/gomega/gmeasure/cache.go
  vendor/github.com/onsi/gomega/gmeasure/enum_support.go
  vendor/github.com/onsi/gomega/gmeasure/experiment.go
  vendor/github.com/onsi/gomega/gmeasure/measurement.go
  vendor/github.com/onsi/gomega/gmeasure/rank.go
  vendor/github.com/onsi/gomega/gmeasure/stats.go
  vendor/github.com/onsi/gomega/gmeasure/stopwatch.go
  vendor/github.com/onsi/gomega/gmeasure/table/table.go
  vendor/modules.txt
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/autoscaling, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, needs-triage

#128759 chore: update deprecated polling methods in apiextensions-apiserver
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_discovery_controller.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/finalizer/crd_finalizer.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/apiapproval_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/conversion/conversion_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/conversion/webhook.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/defaulting_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fixtures/resources.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/listtype_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/versioning_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129231 Revert "Bump kubedns and nodelocaldns to 1.24.0"
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: lgtm, area/provider/gcp, size/S, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, needs-priority, needs-triage

#129153 dra e2e tests: add feature-gate label when these tests depend feature-gate
  test/e2e/dra/dra.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted, wg/device-management

#129227 Add `github.com/golang/protobuf` to unwanted dependencies
  hack/unwanted-dependencies.json
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129241 chore: Update apidiff.sh script description
  hack/apidiff.sh
Labels: kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129202 kubectl: add test coverage for cordon command
  staging/src/k8s.io/kubectl/pkg/drain/cordon_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, triage/accepted

#129186 Clean up v1alpha1 serving for authentication APIs
  pkg/registry/authentication/rest/storage_authentication.go
  test/integration/auth/selfsubjectreview_test.go
Labels: area/test, kind/cleanup, lgtm, release-note, size/L, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129207 Remove v1alpha1 admissionregistration APIs (ValidatingAdmissionPolicies & ValidatingAdmissionPolicyBindings)
  pkg/registry/admissionregistration/rest/storage_apiserver.go
  test/integration/apiserver/cel/admission_policy_test.go
  test/integration/apiserver/cel/admission_test_util.go
  test/integration/etcd/data.go
Labels: area/test, kind/cleanup, lgtm, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, sig/etcd

#128923 [KEP-3041]: Drop NodeSpecialFeature and NodeAlphaFeature from e2e-node
  test/e2e/common/node/pod_level_resources.go
  test/e2e/common/node/pod_resize.go
  test/e2e/feature/feature.go
  test/e2e_node/density_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/dra_test.go
  test/e2e_node/hugepages_test.go
  test/e2e_node/lock_contention_linux_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#128705 cleanup todo comment in node restriction integration tests
  test/integration/auth/node_test.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#129250 kubeadm: update owners for v1.33
  cmd/kubeadm/OWNERS
  test/e2e_kubeadm/OWNERS
Labels: area/test, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129257 Coerce null label and annotation values to empty string
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/helpers.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/helpers_test.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/unstructured.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, approved, cncf-cla: yes, needs-priority, triage/accepted

#129074 Add Validation to versioned feature specs.
  cmd/kube-controller-manager/app/options/options_test.go
  cmd/kube-scheduler/app/server_test.go
  pkg/features/versioned_kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
  staging/src/k8s.io/component-base/featuregate/feature_gate_test.go
  staging/src/k8s.io/component-base/featuregate/registry_test.go
  staging/src/k8s.io/component-base/featuregate/testing/feature_gate_test.go
  staging/src/k8s.io/sample-apiserver/pkg/cmd/server/start.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: sig/scheduling, area/apiserver, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/L, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129232 Bump kubedns and nodelocaldns to 1.24.0 (fixed)
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
  cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, release-note, size/S, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#129095 fetch cni plugins from GitHub releases
  test/e2e_node/remote/utils.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted, sig/k8s-infra

#128950 feature(kubectl): use autoscalingv2 in kubectl autoscale
  staging/src/k8s.io/kubectl/pkg/cmd/autoscale/autoscale.go
  staging/src/k8s.io/kubectl/pkg/cmd/autoscale/autoscale_test.go
Labels: area/kubectl, lgtm, release-note, sig/autoscaling, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#129246 fix incorrect variable reference in handleUpdateEndpointSlice
  pkg/proxy/config/config.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#126387 client-go/tools/cache: add APIs with context parameter
  cmd/kube-controller-manager/app/controllermanager.go
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  pkg/controller/resourceclaim/controller.go
  pkg/controller/serviceaccount/tokens_controller.go
  pkg/controller/serviceaccount/tokens_controller_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/status/naming_controller.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/status/naming_controller_test.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/client-go/examples/workqueue/main.go
  staging/src/k8s.io/client-go/tools/cache/cache_test.go
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo.go
  staging/src/k8s.io/client-go/tools/cache/listers.go
  staging/src/k8s.io/client-go/tools/cache/main_test.go
  staging/src/k8s.io/client-go/tools/cache/mutation_cache.go
  staging/src/k8s.io/client-go/tools/cache/mutation_detector.go
  staging/src/k8s.io/client-go/tools/cache/processor_listener_test.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
  staging/src/k8s.io/client-go/tools/cache/reflector_watchlist_test.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer_test.go
  staging/src/k8s.io/client-go/tools/cache/util_test.go
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/resourceslice/resourceslicecontroller.go
  test/integration/serviceaccount/service_account_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, area/logging, sig/node, sig/api-machinery, size/XXL, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, area/dependency, triage/accepted, wg/structured-logging, wg/device-management

#128650 kubeadm: generalise CreateOrUpdate etc.
  cmd/kubeadm/app/util/apiclient/idempotency.go
  cmd/kubeadm/app/util/apiclient/idempotency_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XXL, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129302 kubeadm: fix idempotency retain, address deprecation
  cmd/kubeadm/app/discovery/token/token_test.go
  cmd/kubeadm/app/phases/addons/dns/dns.go
  cmd/kubeadm/app/phases/addons/proxy/proxy.go
  cmd/kubeadm/app/phases/bootstraptoken/clusterinfo/clusterinfo.go
  cmd/kubeadm/app/phases/bootstraptoken/node/tlsbootstrap.go
  cmd/kubeadm/app/phases/bootstraptoken/node/token.go
  cmd/kubeadm/app/phases/copycerts/copycerts.go
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
  cmd/kubeadm/app/util/apiclient/idempotency.go
  cmd/kubeadm/app/util/apiclient/idempotency_test.go
  cmd/kubeadm/test/resources/configmap.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129301 Do not attempt to truncate revision history if revisionHistoryLimit is negative
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, triage/accepted

#129234 Automated cherry pick of #129085: Fix volume expansion offline e2e
  test/e2e/storage/testsuites/volume_expand.go
Labels: area/test, lgtm, sig/storage, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#129235 Automated cherry pick of #129085: Fix volume expansion offline e2e
  test/e2e/storage/testsuites/volume_expand.go
Labels: area/test, lgtm, sig/storage, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#129236 Automated cherry pick of #129085: Fix volume expansion offline e2e
  test/e2e/storage/testsuites/volume_expand.go
Labels: area/test, lgtm, sig/storage, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#129142 fix(dra): support multiple resource in PublishResources
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/draplugin.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
Labels: kind/bug, area/test, kind/cleanup, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#129278 [NodeLocalCRISocket]: Remove `container-runtime-endpoint` flag when kubeadm upgrade
  cmd/kubeadm/app/phases/kubelet/flags.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/S, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#128818 feat: Add flagz endpoint for kube-scheduler
  cmd/kube-scheduler/app/config/config.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/server.go
  staging/src/k8s.io/component-base/zpages/flagz/flagreader.go
  test/integration/scheduler/serving/endpoints_test.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, ok-to-test, needs-priority, needs-triage

#128279 Bump DefaultKubeBinaryVersion to 1.33
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options_test.go
  staging/src/k8s.io/component-base/featuregate/registry_test.go
  staging/src/k8s.io/component-base/version/base.go
  staging/src/k8s.io/component-base/version/version.go
  staging/src/k8s.io/component-base/version/version_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/controlplane/transformation/kms_transformation_test.go
  test/integration/etcd/data.go
  test/integration/etcd/etcd_storage_path_test.go
  test/integration/etcd/server.go
  test/integration/metrics/metrics_test.go
Labels: area/test, priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/L, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/architecture, triage/accepted, sig/etcd

#129317 kubeadm: remove preflight check for `touch` on Linux nodes.
  cmd/kubeadm/app/preflight/checks_linux.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129353 remove node special feature typos
  test/e2e_node/density_test.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#129279 [NodeLocalCRISocket]: remove kubeadm.alpha.kubernetes.io/cri-socket annotation when kubeadm upgrade
  cmd/kubeadm/app/cmd/phases/upgrade/apply/uploadconfig.go
  cmd/kubeadm/app/cmd/phases/upgrade/kubeletconfig.go
  cmd/kubeadm/app/phases/patchnode/patchnode.go
  cmd/kubeadm/app/util/apiclient/dryrun.go
  test/e2e_kubeadm/nodes_test.go
Labels: area/test, lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128811 add statusz endpoint for kubelet
  cmd/kubelet/app/server.go
  pkg/kubelet/server/auth.go
  pkg/kubelet/server/auth_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  staging/src/k8s.io/component-base/zpages/statusz/statusz.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, ok-to-test, needs-priority, triage/accepted

#129215 accept GINKGO_FLAGS for test-e2e-node.sh
  build/root/Makefile
  hack/make-rules/test-e2e-node.sh
Labels: priority/important-soon, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, kind/failing-test, tide/merge-method-squash, ok-to-test, triage/accepted

#129380 fix: enable len rule from testifylint in module component-base
  staging/src/k8s.io/component-base/logs/json/json_test.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-ok-to-test, sig/architecture, needs-priority, needs-triage, wg/structured-logging

#129420 client-go cache: fix TestHammerController
  staging/src/k8s.io/client-go/tools/cache/controller_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, needs-triage

#129388 Add tests for kubectl qos
  staging/src/k8s.io/kubectl/pkg/util/qos/qos_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#129418 kubeadm: skip disabled addons in clusterconfig on upgrade
  cmd/kubeadm/app/cmd/phases/upgrade/addons.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129423 [release-1.32][go] Bump images, dependencies and versions to go 1.23.4 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#129424 [release-1.31][go] Bump images, dependencies and versions to go 1.22.10 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#129425 [release-1.30][go] Bump images, dependencies and versions to go 1.22.10 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#129426 [release-1.29][go] Bump images, dependencies and versions to go 1.22.10 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#129422 [go] Bump images, dependencies and versions to go 1.23.4 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#129365 Fix Borg pub link in README
  README.md
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, ok-to-test, needs-priority, needs-triage

#129432 kubeadm: bump supported etcd version
  cmd/kubeadm/app/constants/constants.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129360 Make it possible to pass a scheduler profile to RuntTestCoreResourceEnqueue
  test/integration/scheduler/queueing/queue.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage
