Repository kubernetes/kubernetes, pull requests merged in 2024-04, with the labels that each got.

#124124 fix panic with SIGSEGV in kubeadm certs check-expiration
  cmd/kubeadm/app/phases/certs/renewal/manager.go
  cmd/kubeadm/app/phases/certs/renewal/manager_test.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#124143 svm test: wait after updating CRD to avoid flakes
  test/integration/storageversionmigrator/util.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, triage/accepted

#124019 fix test flake caused by not waiting for CRD schema update
  staging/src/k8s.io/apiextensions-apiserver/test/integration/ratcheting_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, triage/accepted

#124099 update setcap/debian-base to bookworm-v1.0.2
  build/common.sh
  build/dependencies.yaml
  cluster/gce/gci/configure-helper.sh
  cluster/images/etcd/Makefile
  pkg/volume/plugins.go
  test/conformance/image/Makefile
  test/images/nonroot/BASEIMAGE
  test/images/pets/peer-finder/BASEIMAGE
  test/images/pets/redis-installer/BASEIMAGE
  test/images/pets/zookeeper-installer/BASEIMAGE
  test/images/regression-issue-74839/BASEIMAGE
  test/images/resource-consumer/BASEIMAGE
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/storage, sig/api-machinery, release-note, size/M, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, sig/cloud-provider, needs-priority, needs-triage

#124129 Automated cherry pick of #124124: fix panic with SIGSEGV in kubeadm certs check-expiration
  cmd/kubeadm/app/phases/certs/renewal/manager.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/L, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#124142 Automated cherry pick of #124048: Use the right feature gate when updating uncertain volumes
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#124126 Automated cherry pick of #124124: fix panic with SIGSEGV in kubeadm certs check-expiration
  cmd/kubeadm/app/phases/certs/renewal/manager.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/L, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#124140 Automated cherry pick of #124048: Use the right feature gate when updating uncertain volumes
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#124128 Automated cherry pick of #124124: fix panic with SIGSEGV in kubeadm certs check-expiration
  cmd/kubeadm/app/phases/certs/renewal/manager.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/L, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#124141 Automated cherry pick of #124048: Use the right feature gate when updating uncertain volumes
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#123769 release-1.27: hack/tools: bump honnef.co/go/tools to v0.4.6
  hack/tools/go.mod
  hack/tools/go.sum
Labels: kind/cleanup, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, needs-triage

#123625 Automated cherry pick of #123570: Filter aggregated apiservice gv
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator_test.go
  test/integration/apiserver/openapi/openapi_apiservice_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#123768 release 1.28: hack/tools: bump honnef.co/go/tools to v0.4.6
  hack/tools/go.mod
  hack/tools/go.sum
Labels: kind/cleanup, lgtm, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, area/dependency, needs-triage

#123624 Automated cherry pick of #123570: Filter aggregated apiservice gv
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator_test.go
  test/integration/apiserver/openapi/openapi_apiservice_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#124110 Automated cherry pick of #123873: retry policy creation for CRD type checking E2E test
  test/e2e/apimachinery/validatingadmissionpolicy.go
Labels: area/test, lgtm, sig/api-machinery, size/S, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#124172 Automated cherry pick of #123598: Remotecommand test flake cleanup
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/conn.go
  staging/src/k8s.io/client-go/tools/remotecommand/websocket.go
  staging/src/k8s.io/client-go/tools/remotecommand/websocket_test.go
Labels: lgtm, sig/api-machinery, size/M, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#124196 [go] Bump images, dependencies and versions to go 1.22.2 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/M, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#124197 [release-1.29] [go] Bump images, dependencies and versions to go 1.21.9 and distroless iptables and debian-base
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/gce/gci/configure-helper.sh
  cluster/images/etcd/Makefile
  pkg/volume/plugins.go
  staging/publishing/rules.yaml
  test/conformance/image/Makefile
  test/images/Makefile
  test/images/nonroot/BASEIMAGE
  test/images/pets/peer-finder/BASEIMAGE
  test/images/pets/redis-installer/BASEIMAGE
  test/images/pets/zookeeper-installer/BASEIMAGE
  test/images/regression-issue-74839/BASEIMAGE
  test/images/resource-consumer/BASEIMAGE
  test/utils/image/manifest.go
Labels: area/test, lgtm, area/provider/gcp, sig/storage, sig/api-machinery, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, sig/cloud-provider, needs-priority, needs-triage

#124199 [release-1.27] [go] Bump images, dependencies and versions to go 1.21.9 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#124198 [release-1.28] [go] Bump images, dependencies and versions to go 1.21.9 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  staging/publishing/rules.yaml
  test/conformance/image/Makefile
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, sig/api-machinery, release-note, size/L, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/conformance, needs-priority, needs-triage

#124206 Update publishing-bot rules to Go 1.21.9
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#122679 Automated cherry pick of #121894: build: use -trimpath in non-DBG mode
  hack/lib/golang.sh
  test/conformance/gen-specsummaries.sh
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, ok-to-test, needs-triage

#122678 Automated cherry pick of #121894: build: use -trimpath in non-DBG mode
  hack/lib/golang.sh
  test/conformance/gen-specsummaries.sh
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, ok-to-test, needs-triage

#122680 Automated cherry pick of #121894: build: use -trimpath in non-DBG mode
  hack/lib/golang.sh
  test/conformance/gen-specsummaries.sh
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, ok-to-test, needs-triage

#122682 Automated cherry pick of #121894: build: use -trimpath in non-DBG mode
  hack/lib/golang.sh
  test/conformance/gen-specsummaries.sh
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, ok-to-test, needs-triage

#124283 Rename Label `cluster` to `storage_cluster_id` for apiserver_storage_size_bytes metric
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics_test.go
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: area/test, priority/critical-urgent, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-triage, area/stable-metrics

#124322 Add envFrom to serviceaccount admission plugin
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: kind/bug, lgtm, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#124325 Automated cherry pick of #124322: Add envFrom to serviceaccount admission plugin
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: kind/bug, lgtm, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#124327 Automated cherry pick of #124322: Add envFrom to serviceaccount admission plugin
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: kind/bug, lgtm, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#124326 Automated cherry pick of #124322: Add envFrom to serviceaccount admission plugin
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
Labels: kind/bug, lgtm, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#118457 Fix bind mounts of filesystems with specific mount options set
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
Labels: kind/bug, sig/network, area/kubelet, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/cluster-lifecycle, size/L, area/release-eng, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, priority/important-longterm, sig/release, sig/architecture, area/code-generation, sig/cloud-provider, ok-to-test, area/dependency, triage/accepted

#119436 unittests: Fixes unit tests for Windows (part 9)
  cmd/kubeadm/app/cmd/reset_test.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Labels: sig/scheduling, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/M, release-note-none, approved, sig/windows, area/kubeadm, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, triage/accepted

#120969 Switch from golang/mock to uber-go/mock
  LICENSES/vendor/go.uber.org/mock/LICENSE
  go.mod
  go.sum
  go.work.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  hack/unwanted-dependencies.json
  hack/update-mocks.sh
  pkg/kubelet/apis/podresources/server_v1_test.go
  pkg/kubelet/apis/podresources/server_v1alpha1_test.go
  pkg/kubelet/apis/podresources/testing/provider_mock.go
  pkg/kubelet/cadvisor/testing/cadvisor_mock.go
  pkg/kubelet/cm/container_manager_linux_test.go
  pkg/kubelet/container/testing/mock_runtime_cache.go
  pkg/kubelet/container/testing/mockdirentry.go
  pkg/kubelet/container/testing/runtime_mock.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/eviction/memory_threshold_notifier_test.go
  pkg/kubelet/eviction/mock_threshold_notifier_test.go
  pkg/kubelet/images/image_gc_manager_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/kuberuntime_gc_test.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
  pkg/kubelet/metrics/collectors/volume_stats_test.go
  pkg/kubelet/pleg/generic_test.go
  pkg/kubelet/pod/testing/mock_manager.go
  pkg/kubelet/runonce_test.go
  pkg/kubelet/server/stats/summary_test.go
  pkg/kubelet/server/stats/summary_windows_test.go
  pkg/kubelet/server/stats/testing/mock_stats_provider.go
  pkg/kubelet/server/stats/testing/mock_summary_provider.go
  pkg/kubelet/server/stats/volume_stat_calculator_test.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  pkg/kubelet/stats/provider_test.go
  pkg/kubelet/status/testing/mock_pod_status_provider.go
  test/e2e/storage/drivers/csi-test/driver/driver.mock.go
  test/utils/oidc/handlers.mock.go
  test/utils/oidc/testserver.go
  vendor/github.com/golang/mock/CONTRIBUTORS
  vendor/go.uber.org/mock/AUTHORS
  vendor/go.uber.org/mock/LICENSE
  vendor/go.uber.org/mock/gomock/call.go
  vendor/go.uber.org/mock/gomock/callset.go
  vendor/go.uber.org/mock/gomock/controller.go
  vendor/go.uber.org/mock/gomock/doc.go
  vendor/go.uber.org/mock/gomock/matchers.go
  vendor/modules.txt
Labels: area/test, area/kubelet, kind/cleanup, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, sig/architecture, area/code-generation, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, needs-triage

#121770 pass tracerprovider to kublet-readonly server
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#121898 ingress registry: add unit test for UpdateStatus
  pkg/registry/networking/ingress/storage/storage_test.go
Labels: sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#121970 apimachinery runtime: support contextual logging
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_stack_test.go
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime_test.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
  staging/src/k8s.io/apiserver/pkg/util/proxy/websocket.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, approved, cncf-cla: yes, sig/instrumentation, lifecycle/rotten, needs-priority, area/dependency, triage/accepted, wg/structured-logging

#122363 remove deprecated kubelet command-line flags
  cmd/kubelet/app/options/options.go
Labels: sig/network, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#122411 ad controller: lift nodeAttachedTo.mountedByNode
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
  pkg/controller/volume/attachdetach/cache/actual_state_of_world.go
  pkg/controller/volume/attachdetach/cache/actual_state_of_world_test.go
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122471 interpodaffinity: scheduler queueing hints
  pkg/scheduler/framework/plugins/interpodaffinity/plugin.go
  pkg/scheduler/framework/plugins/interpodaffinity/plugin_test.go
  pkg/scheduler/framework/types.go
  test/integration/scheduler/queue_test.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#122631 DisableServiceLinks admission controller
  pkg/kubeapiserver/options/plugins.go
  plugin/pkg/admission/disableservicelinks/admission.go
  plugin/pkg/admission/disableservicelinks/admission_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#123316 Describe NetworkPolicy port ranges
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: kind/bug, area/kubectl, lgtm, release-note, size/L, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#123347 workqueue: make queue as configurable
  staging/src/k8s.io/client-go/util/workqueue/metrics_test.go
  staging/src/k8s.io/client-go/util/workqueue/queue.go
  staging/src/k8s.io/client-go/util/workqueue/queue_test.go
Labels: lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#123386 mark flaky jobs as flaky and move them to a different job
  test/e2e_node/device_manager_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/node_shutdown_linux_test.go
  test/e2e_node/podresources_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#123389 Ensure nftables unit test parity with iptables
  go.mod
  go.sum
  go.work.sum
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/nftables/helpers_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/knftables/.gitignore
  vendor/sigs.k8s.io/knftables/CHANGELOG.md
  vendor/sigs.k8s.io/knftables/Makefile
  vendor/sigs.k8s.io/knftables/README.md
  vendor/sigs.k8s.io/knftables/error.go
  vendor/sigs.k8s.io/knftables/exec.go
  vendor/sigs.k8s.io/knftables/fake.go
  vendor/sigs.k8s.io/knftables/nftables.go
  vendor/sigs.k8s.io/knftables/objects.go
  vendor/sigs.k8s.io/knftables/types.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, area/code-generation, needs-priority, area/dependency, needs-triage

#123545 fix:When the --bind-address parameter of kube-proxy is configured as ipv6, the ip address of metrics listens to 127.0.0.1 by default, instead of::1
  cmd/kube-proxy/app/server.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#123548 Delete a stale code comment
  pkg/kubelet/volumemanager/reconciler/reconstruct.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#123584 Rename APIServer trace span name to conform to http server guidelines
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/traces.go
  test/integration/apiserver/tracing/tracing_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#123597 Improving legibility of kubectl describe configmap output
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/XS, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#123669 cel: fix conversion of quantity to quantity
  staging/src/k8s.io/apiserver/pkg/cel/quantity.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, needs-priority, triage/accepted

#123736 Cleanup manual conversions
  pkg/apis/admissionregistration/v1/conversion.go
  pkg/apis/admissionregistration/v1/zz_generated.conversion.go
  pkg/apis/authentication/v1/conversion.go
  pkg/apis/core/v1/conversion.go
  pkg/apis/core/v1/zz_generated.conversion.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#123757 self nominate ffromani to be a sig-node reviewer
  OWNERS_ALIASES
Labels: lgtm, sig/node, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#123809 fix stateful set pod recreation and event spam
  pkg/controller/statefulset/stateful_set.go
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_test.go
  test/e2e/framework/statefulset/rest.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, area/e2e-test-framework, triage/accepted

#123822 Fix field path on CustomResource status update validations
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/validator.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/subresources_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, needs-priority, triage/accepted

#123834 Nodelifecycle: Emit event when deletion failed
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller.go
Labels: kind/cleanup, lgtm, area/cloudprovider, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#123860 apiserver/pkg/storage/utils: remove unused EverythingFunc
  staging/src/k8s.io/apiserver/pkg/storage/util.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#123893 kube_codegen: expose applyconfig-openapi-schema flag for client generatio
  staging/src/k8s.io/code-generator/kube_codegen.sh
Labels: lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/code-generation, triage/accepted

#123894 Update cni-plugins to v1.4.1
  build/dependencies.yaml
  cluster/gce/config-common.sh
  cluster/gce/gci/configure.sh
  hack/local-up-cluster.sh
  test/e2e_node/remote/utils.go
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/node, release-note, size/S, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, triage/accepted

#123902 Update aggregated discovery fixture to v2
  api/discovery/aggregated_v2.json
  hack/update-openapi-spec.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XXL, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#123929 build/rsyncd: replace newlines with spaces when generating ALLOW_HOST list
  build/common.sh
Labels: kind/bug, priority/backlog, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#123937 use metav1.InitialEventsAnnotationKey const
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cache_watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/watcher_tests.go
  staging/src/k8s.io/apiserver/pkg/storage/util.go
  staging/src/k8s.io/apiserver/pkg/storage/util_test.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_watchlist_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#123938 DRA: test for structured parameters
  pkg/controller/resourceclaim/controller_test.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
  pkg/scheduler/framework/plugins/dynamicresources/structured/namedresources/namedresourcesmodel_test.go
  pkg/scheduler/framework/plugins/dynamicresources/structuredparameters.go
  pkg/scheduler/framework/plugins/dynamicresources/structuredparameters_test.go
  pkg/scheduler/testing/wrappers.go
  test/e2e/dra/deploy.go
  test/e2e/dra/dra.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, kind/cleanup, sig/scheduling, lgtm, sig/node, size/XXL, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, triage/accepted

#123950 move system node critical test to eviction test lane
  test/e2e_node/system_node_critical_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#123969 cleanup: delete rand.Seed(time.Now().UnixNano()) and using global number generator.
  pkg/util/filesystem/util_windows_test.go
  staging/src/k8s.io/client-go/tools/cache/main_test.go
  staging/src/k8s.io/client-go/tools/record/main_test.go
  staging/src/k8s.io/client-go/util/workqueue/main_test.go
  staging/src/k8s.io/component-base/cli/run.go
  test/e2e/e2e_test.go
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/remote/run_remote_suite.go
  test/integration/volume/main_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, sig/api-machinery, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, sig/architecture, ok-to-test, triage/accepted

#123972 Remove k8s.io/apiserver ability to bind insecure ports
  staging/src/k8s.io/apiserver/pkg/server/options/deprecated_insecure_serving.go
  staging/src/k8s.io/pod-security-admission/cmd/webhook/server/options/options.go
  staging/src/k8s.io/pod-security-admission/cmd/webhook/server/server.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#123988 code-generator: use cases.Title instead of strings.Title
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_type.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/generator_for_type.go
  staging/src/k8s.io/code-generator/go.mod
  vendor/golang.org/x/text/cases/cases.go
  vendor/golang.org/x/text/cases/context.go
  vendor/golang.org/x/text/cases/fold.go
  vendor/golang.org/x/text/cases/icu.go
  vendor/golang.org/x/text/cases/info.go
  vendor/golang.org/x/text/cases/map.go
  vendor/golang.org/x/text/cases/tables10.0.0.go
  vendor/golang.org/x/text/cases/tables11.0.0.go
  vendor/golang.org/x/text/cases/tables12.0.0.go
  vendor/golang.org/x/text/cases/tables13.0.0.go
  vendor/golang.org/x/text/cases/tables15.0.0.go
  vendor/golang.org/x/text/cases/tables9.0.0.go
  vendor/golang.org/x/text/cases/trieval.go
  vendor/modules.txt
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#123997 Relax WatchSemanticsTest to make it faster
  staging/src/k8s.io/apiserver/pkg/storage/testing/utils.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, triage/accepted

#124004 Fixed flake test due to data race in while accessing dummyStorage in cacher-test
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#124015 Visit ephemeral containers when calculating fs user
  pkg/volume/util/util.go
  pkg/volume/util/util_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124045 Fix: correct dryRunStratergy typo in kubectl expose cmd
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose.go
Labels: kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#124055 Optimize klog output(Use klog.KObj(pod) instead of pod)
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124062 Update API comment for nodeName to match system behavior
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/core/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/S, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, api-review, triage/accepted

#124068 test: fix shutdown of test/integration/servicecidr.TestMigrateServiceCIDR
  test/integration/servicecidr/migration_test.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#124100 cloud/gcp/cluster_upgrade should only run on GCE
  test/e2e/cloud/gcp/cluster_upgrade.go
  test/e2e/cloud/gcp/gke_node_pools.go
  test/e2e/cloud/gcp/kubelet_security.go
  test/e2e/cloud/gcp/node_lease.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, sig/cloud-provider, needs-priority, needs-triage

#124113 nodeipam: poll nodes immediately
  pkg/controller/nodeipam/ipam/cidr_allocator.go
  pkg/controller/nodeipam/ipam/controller_legacyprovider.go
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#124116 Fix Deep Copy issue in getting controller reference
  staging/publishing/import-restrictions.yaml
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/controller_ref.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/controller_ref_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, release-note, size/S, kind/api-change, area/release-eng, approved, cncf-cla: yes, sig/release, needs-sig, ok-to-test, api-review, triage/accepted

#124123 kubectl: fix plugin lookup with positional arguments
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
  staging/src/k8s.io/kubectl/pkg/cmd/cmd_test.go
Labels: kind/bug, area/kubectl, lgtm, release-note, size/S, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#124163 resourcequota: use singleflight.Group to reduce apiserver load
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/resource_access.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/resource_access_test.go
Labels: kind/bug, kind/cleanup, sig/scalability, area/apiserver, lgtm, sig/api-machinery, size/L, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#124165 Add tnqn to sig-network-reviewers
  OWNERS_ALIASES
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124181 fix: close tmp file
  test/e2e_node/remote/gce/gce_runner.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#124193 Update applyconfiguration generator for packages where paths differ in name
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/applyconfiguration.go
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/targets.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/code-generation, kind/regression, triage/accepted

#124195 hacks: build main target without go in the PATH
  hack/lib/golang.sh
  hack/make-rules/build.sh
Labels: lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, sig/release, triage/accepted

#124214 fix wrong comments of dra
  pkg/controller/resourceclaim/controller.go
Labels: priority/backlog, kind/documentation, lgtm, sig/node, size/XS, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#124215 fix: add delay to log message when enqueueing a job
  pkg/controller/job/job_controller.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#124235 Use WaitForPodCondition instead of sleep
  test/e2e/dra/dra.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#124242 remove unneeded func SyncReconstructedVolume from ActualStateOfWorld
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_common.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#124245 Allow for configuring MinWatchTimeout in reflector
  pkg/kubelet/util/manager/watch_based_manager.go
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#124247 Adds apiserver proxy doc.go
  staging/src/k8s.io/apiserver/pkg/util/proxy/doc.go
Labels: kind/documentation, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#124249 Move 3 get*APIGroup endpoints to ineligible_endpoints.yaml
  test/conformance/testdata/ineligible_endpoints.yaml
  test/conformance/testdata/pending_eligible_endpoints.yaml
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, area/conformance, needs-priority, triage/accepted

#124289 e2e node: fix -v support
  test/e2e/framework/ginkgologger.go
  test/e2e_node/e2e_node_suite_test.go
Labels: kind/bug, area/test, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, area/e2e-test-framework, triage/accepted

#124320 pkg/registry: drop pointer wrapper functions.
  pkg/registry/batch/cronjob/strategy_test.go
  pkg/registry/batch/job/storage/storage_test.go
  pkg/registry/batch/job/strategy_test.go
  pkg/registry/certificates/certificates/storage/metrics_test.go
  pkg/registry/certificates/certificates/strategy_test.go
  pkg/registry/core/pod/strategy_test.go
  pkg/registry/core/service/strategy_test.go
  pkg/registry/discovery/endpointslice/strategy_test.go
  pkg/registry/flowcontrol/ensurer/prioritylevelconfiguration_test.go
  pkg/registry/storage/csinode/strategy_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/storage, sig/node, size/XL, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, triage/accepted

#124324 KEP-4222: Group CBOR decode tests by the kind of their inputs.
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/decode_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124103 Fix typos in rbac api.
  staging/src/k8s.io/api/rbac/v1/types.go
  staging/src/k8s.io/api/rbac/v1alpha1/types.go
  staging/src/k8s.io/api/rbac/v1beta1/types.go
Labels: kind/cleanup, lgtm, size/XS, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#113257 Replaces path.Operation with filepath.Operation (staging)
  staging/src/k8s.io/client-go/tools/clientcmd/api/helpers.go
  staging/src/k8s.io/client-go/tools/clientcmd/config.go
  staging/src/k8s.io/client-go/tools/clientcmd/loader_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/clusterinfo/clusterinfo_dump.go
  staging/src/k8s.io/kubectl/pkg/cmd/clusterinfo/clusterinfo_dump_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_configmap.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_tls_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff_test.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, area/cloudprovider, sig/api-machinery, size/M, release-note-none, approved, sig/windows, sig/cli, cncf-cla: yes, sig/cloud-provider, triage/accepted

#124186 [kubeadm]: remove kubeadm unused function
  cmd/kubeadm/app/componentconfigs/configset.go
  cmd/kubeadm/app/componentconfigs/fakeconfig_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#124210 Remove the gate "SkipReadOnlyValidationGCE"
  pkg/apis/apps/validation/validation.go
  pkg/apis/apps/validation/validation_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#124373 kubeadm: remove the deprecated "update-status" phase of "join"
  cmd/kubeadm/app/cmd/phases/join/controlplanejoin.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#123105 Add `--nodeport-addresses primary`, warn on empty `--nodeport-addresses`
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_linux.go
  cmd/kube-proxy/app/server_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/validation/validation.go
  pkg/proxy/apis/config/validation/validation_test.go
  pkg/proxy/apis/config/zz_generated.deepcopy.go
  pkg/proxy/healthcheck/healthcheck_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
  pkg/proxy/util/nodeport_addresses.go
  pkg/proxy/util/nodeport_addresses_test.go
  pkg/proxy/util/utils.go
  pkg/proxy/winkernel/proxier.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
Labels: kind/bug, sig/network, kind/cleanup, area/kube-proxy, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, approved, sig/windows, cncf-cla: yes, priority/important-longterm, area/code-generation, area/ipvs, triage/accepted

#124374 kubeadm: remove the EXPERIMENTAL tag of the download-certs phase
  cmd/kubeadm/app/cmd/phases/join/controlplaneprepare.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#124091 kubelet: add nil check for Node(Un)PrepareResources.
  pkg/kubelet/cm/dra/manager.go
  pkg/kubelet/cm/dra/manager_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, ok-to-test, triage/accepted

#124221 scheduler: fix typo in metric pod_scheduling_sli_duration_seconds help
  pkg/scheduler/metrics/metrics.go
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, sig/instrumentation, sig/testing, ok-to-test, needs-priority, triage/accepted, area/stable-metrics

#124375 kubeadm: remove the EXPERIMENTAL description from --rootfs
  cmd/kubeadm/app/cmd/options/generic.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#123238 Fix infinite loop and replace channel with queue
  pkg/controller/nodeipam/ipam/cidr_allocator.go
  pkg/controller/nodeipam/ipam/range_allocator.go
Labels: sig/network, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#124383 KEP-3866 kube-proxy nftables to beta
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
  pkg/features/kube_features.go
  pkg/proxy/apis/config/validation/validation_test.go
Labels: priority/important-soon, sig/network, area/kube-proxy, lgtm, area/provider/gcp, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/cloud-provider, needs-triage

#124223 Fix: EtcdOptions.StorageObjectCountTracker is nil, APF estimator got ObjectCountNotFoundErr
  pkg/controlplane/apiserver/config.go
  pkg/controlplane/apiserver/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#124371 Automated cherry pick of #123893: kube_codegen: expose applyconfig-openapi-schema flag for #124193: Update applyconfig-gen for pacakges where group and dir
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/applyconfiguration.go
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/targets.go
  staging/src/k8s.io/code-generator/kube_codegen.sh
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, priority/important-longterm, area/code-generation, kind/regression, triage/accepted

#124393 Graduate the flag for structural output --experimental-output to just --output
  cmd/kubeadm/app/util/output/output.go
Labels: priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/XS, kind/feature, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#123970 remove VolumePluginWithAttachLimits interface
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
  pkg/volume/plugins.go
  pkg/volume/testing/testing.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#119589 fix unusable secret manifest for type docker-registry
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_docker.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_secret_docker_test.go
Labels: kind/bug, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#120696 slog support
  staging/src/k8s.io/component-base/logs/api/v1/options.go
  staging/src/k8s.io/component-base/logs/api/v1/options_no_slog.go
  staging/src/k8s.io/component-base/logs/api/v1/options_slog.go
  staging/src/k8s.io/component-base/logs/example/README.md
  staging/src/k8s.io/component-base/logs/example/k8s2slog/k8s2slog.go
  staging/src/k8s.io/component-base/logs/example/slog2k8s/slog2k8s.go
  test/integration/logs/benchmark/benchmark_test.go
Labels: area/test, sig/network, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/api-machinery, sig/cluster-lifecycle, release-note, size/L, kind/api-change, kind/feature, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, triage/accepted, wg/structured-logging

#124316 DRA: remove support for v1alpha2 kubelet gRPC API
  pkg/kubelet/cm/dra/plugin/client.go
  pkg/kubelet/cm/dra/plugin/client_test.go
  pkg/kubelet/cm/dra/plugin/plugin.go
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/draplugin.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1alpha2/api.pb.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1alpha2/api.proto
  test/e2e/dra/deploy.go
  test/e2e/dra/dra.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
Labels: area/test, priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/XXL, approved, cncf-cla: yes, sig/testing, triage/accepted

#123905 Field selector for Services based on ClusterIP and Type
  pkg/apis/core/v1/conversion.go
  pkg/kubelet/kubelet.go
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
  test/integration/service/service_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/XL, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#124156 [hack/verify-file-sizes.sh] Support Mac OS X
  hack/verify-file-sizes.sh
Labels: kind/bug, priority/backlog, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#124416 Update sig-cli leads
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#123749 [KEP2400] Avoid logging that swap cgroup controller is missing for every container
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
Labels: priority/backlog, area/kubelet, lgtm, sig/node, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#124117 allow to use kube-network-policies on CI
  cluster/addons/kube-network-policies/OWNERS
  cluster/addons/kube-network-policies/kube-network-policies-rbac.yaml
  cluster/addons/kube-network-policies/kube-network-policies.yaml
  cluster/gce/gci/configure-helper.sh
  cluster/log-dump/log-dump.sh
Labels: area/test, sig/network, kind/cleanup, sig/scalability, lgtm, area/provider/gcp, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, needs-triage, area/network-policy

#124423 document (and fixup) sig-network e2e features
  test/e2e/feature/feature.go
  test/e2e/network/netpol/network_policy.go
Labels: area/test, sig/network, kind/documentation, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, area/network-policy

#124104 allow agnhost to set TLS gRPC
  test/images/agnhost/README.md
  test/images/agnhost/VERSION
  test/images/agnhost/grpc-health-checking/grpc-health-checking.go
Labels: kind/bug, area/test, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#124417 Remove gate DefaultHostNetworkHostPortsInPodTemplates
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#124422 Fix networking feature tags in Windows hybrid network e2e
  test/e2e/windows/hybrid_network.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124421 Fix up pod hostIPs e2e
  test/e2e/feature/feature.go
  test/e2e/nodefeature/nodefeature.go
  test/e2e_node/pod_host_ips.go
Labels: area/test, sig/network, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123927 apiserver/storage/cacher: decrease running time of TestCacheWatcherDrainingNoBookmarkAfterResourceVersionReceived
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cache_watcher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#124205 chore/refactor(e2e tests): Solidify Contract for and Cleanup WaitForPodsRunningReady
  test/e2e/cloud/gcp/node_lease.go
  test/e2e/cloud/gcp/resize_nodes.go
  test/e2e/common/node/container_probe.go
  test/e2e/common/node/pods.go
  test/e2e/e2e.go
  test/e2e/framework/pod/wait.go
  test/e2e/scheduling/priorities.go
  test/e2e/windows/host_process.go
  test/e2e/windows/hyperv.go
  test/e2e/windows/kubelet_stats.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, sig/node, size/L, kind/flake, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, sig/cloud-provider, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#123900 [ja]fix typo in "kubectl config delete-context -h"
  staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ja_JP/LC_MESSAGES/k8s.po
Labels: kind/bug, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, needs-ok-to-test, needs-priority, triage/accepted

#124409 dra scheduler: fix data race in unit test
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
Labels: kind/bug, priority/important-soon, sig/scheduling, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-triage

#124414 Promote Filip as sig-apps approver
  OWNERS_ALIASES
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#124026 etcd: build etcd image of v3.5.13
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, size/S, area/release-eng, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted, sig/etcd

#124288 e2e node: debugger support
  build/root/Makefile
  hack/make-rules/test-e2e-node.sh
  test/e2e_node/runner/local/run_local.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#124364 Update cri-tools to v1.30.0
  build/dependencies.yaml
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
Labels: priority/important-soon, kind/cleanup, lgtm, area/provider/gcp, sig/node, release-note, size/S, approved, cncf-cla: yes, sig/release, sig/cloud-provider, triage/accepted

#124425 Fix agnhost sctp
  test/images/agnhost/VERSION
  test/images/agnhost/connect/connect.go
  test/images/agnhost/netexec/netexec.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#124250 Run `controlplane/transformation` integration tests in parallel
  test/integration/controlplane/transformation/kms_transformation_test.go
  test/integration/controlplane/transformation/kmsv2_transformation_test.go
  test/integration/controlplane/transformation/secrets_transformation_test.go
  test/integration/controlplane/transformation/transformation_test.go
Labels: area/test, kind/cleanup, lgtm, size/L, kind/flake, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#123626 KEP-4222: Add tests for CBOR encoder handling of duplicate field names/tags.
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/encode_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#124340 Add test to detect unintentional changes in dynamic client requests.
  staging/src/k8s.io/client-go/dynamic/golden_test.go
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/.gitattributes
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/apply
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/applystatus
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/create
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/delete
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/deletecollection
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/get
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/list
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/patch
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/update
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/updatestatus
  staging/src/k8s.io/client-go/dynamic/testdata/TestGoldenRequest/watch
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124396 Make e2e node tests more resiliant by ensuring the SIGTERM trap is registered
  test/e2e_node/deleted_pods_test.go
  test/e2e_node/restart_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#124097 e2e_node: clean cpu_manager test
  test/e2e_node/cpu_manager_test.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#124449 added init to image-utils.sh
  test/images/image-util.sh
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#122979 Migrate `pkg/proxy` to contextual logging: Part 1
  cmd/kube-proxy/app/conntrack.go
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_linux.go
  cmd/kube-proxy/app/server_linux_test.go
  cmd/kube-proxy/app/server_other.go
  cmd/kube-proxy/app/server_test.go
  cmd/kube-proxy/app/server_windows.go
  pkg/proxy/config/api_test.go
  pkg/proxy/config/config.go
  pkg/proxy/config/config_test.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/ipvs/util/ipvs_linux.go
  pkg/proxy/kubemark/hollow_proxy.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/node.go
  pkg/proxy/util/linebuffer.go
Labels: sig/network, kind/cleanup, sig/scalability, area/kube-proxy, lgtm, release-note, size/XL, approved, cncf-cla: yes, area/ipvs, ok-to-test, needs-priority, needs-triage, wg/structured-logging

#124351 hack/verify-e2e-suites.sh: non-zero exit code when there were errors
  hack/verify-e2e-suites.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#124464 kubeadm use output/v1alpha3 version to print objects
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/config_test.go
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/token_test.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/S, kind/feature, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#124467 Update cloud provider gcp to with the new version
  cluster/OWNERS
  cluster/gce/manifests/cloud-controller-manager.manifest
Labels: kind/cleanup, lgtm, area/provider/gcp, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, needs-priority, needs-triage

#122657 add watchlist to client-go rest client
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_watchlist_test.go
Labels: lgtm, sig/api-machinery, release-note, size/XL, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#124027 etcd: update to v3.5.13
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/utils/image/manifest.go
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, ok-to-test, needs-priority, needs-triage, sig/etcd

#124474 Allow bookmark events in between delete/modify in testSimpleCRUD
  staging/src/k8s.io/apiextensions-apiserver/test/integration/basic_test.go
Labels: lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124161 fix e2e loadbalancer test timeouts and assumptions
  test/e2e/network/loadbalancer.go
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124471 don't force delete pods on e2e tests
  test/e2e/framework/network/utils.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#124487 Automated cherry pick of #122359: cluster/gce: upgrade cos-97-lts -> cos-109-lts
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
Labels: priority/critical-urgent, lgtm, area/provider/gcp, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, needs-triage

#124486 Automated cherry pick of #122359: cluster/gce: upgrade cos-97-lts -> cos-109-lts
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
Labels: priority/critical-urgent, lgtm, area/provider/gcp, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, needs-triage

#124485 Automated cherry pick of #122359: cluster/gce: upgrade cos-97-lts -> cos-109-lts
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
Labels: priority/critical-urgent, lgtm, area/provider/gcp, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, needs-triage

#124484 use latest stable version of kube-network-policies for CI
  cluster/addons/kube-network-policies/kube-network-policies.yaml
Labels: lgtm, area/provider/gcp, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, needs-priority, needs-triage

#124488 Add wangzhen127 back to approvers and reviewers for NPD
  cluster/addons/node-problem-detector/OWNERS
Labels: kind/cleanup, lgtm, area/provider/gcp, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#124075 DRA: API cleanup + fix
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1alpha2_openapi.json
  pkg/apis/core/types.go
  pkg/apis/resource/namedresources.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/resource/v1alpha2/generated.proto
  staging/src/k8s.io/api/resource/v1alpha2/namedresources.go
  staging/src/k8s.io/api/resource/v1alpha2/types.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
Labels: kind/bug, lgtm, release-note, size/M, kind/api-change, sig/apps, approved, cncf-cla: yes, needs-sig, area/code-generation, needs-priority, needs-triage
