Repository kubernetes/kubernetes, pull requests merged in 2024-03, with the labels that each got.

#123603 fix UT failure TestPrintIPAddressList
  pkg/printers/internalversion/printers_test.go
Labels: priority/critical-urgent, sig/network, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, kind/failing-test, needs-triage

#123565 Implement to accept zero as a default value for kubectl create token duration
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_token.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_token_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, release-note, size/S, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#123599 Bump cAdvisor to v0.49.0
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/container/crio/client.go
  vendor/github.com/google/cadvisor/container/crio/factory.go
  vendor/github.com/google/cadvisor/container/crio/plugin.go
  vendor/github.com/google/cadvisor/fs/fs.go
  vendor/github.com/google/cadvisor/fs/types.go
  vendor/github.com/google/cadvisor/perf/collector_libpfm.go
  vendor/github.com/google/cadvisor/stats/types.go
  vendor/modules.txt
Labels: lgtm, sig/node, release-note, size/S, kind/feature, approved, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#123534 uid is also supported in field ref for downward api
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/documentation, kind/cleanup, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#123560 kep-3716 GA, remove feature gate
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1_openapi.json
  pkg/apis/admissionregistration/types.go
  pkg/apis/admissionregistration/util.go
  pkg/apis/admissionregistration/util_test.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/admissionregistration/mutatingwebhookconfiguration/strategy.go
  pkg/registry/admissionregistration/validatingwebhookconfiguration/strategy.go
  staging/src/k8s.io/api/admissionregistration/v1/generated.proto
  staging/src/k8s.io/api/admissionregistration/v1/types.go
  staging/src/k8s.io/api/admissionregistration/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/admissionregistration/v1beta1/generated.proto
  staging/src/k8s.io/api/admissionregistration/v1beta1/types.go
  staging/src/k8s.io/api/admissionregistration/v1beta1/types_swagger_doc_generated.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/integration/apiserver/admissionwebhook/match_conditions_test.go
  test/integration/apiserver/admissionwebhook/mutating_webhook_gvk_conversion_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, needs-triage

#120111 Add namespace to NotFound error for kubectl logs command
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs.go
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, lifecycle/stale, tide/merge-method-squash, ok-to-test, triage/accepted

#123606 Automated cherry pick of #123603: fix UT failure TestPrintIPAddressList
  pkg/printers/internalversion/printers_test.go
Labels: priority/critical-urgent, sig/network, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, kind/failing-test, triage/accepted

#123605 Automated cherry pick of #123603: fix UT failure TestPrintIPAddressList
  pkg/printers/internalversion/printers_test.go
Labels: priority/critical-urgent, sig/network, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, kind/failing-test, triage/accepted

#123399 test: use cancellation from ktesting
  pkg/controller/disruption/disruption_test.go
  pkg/kubelet/config/config_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/apiserver/certreload/certreload_test.go
  test/integration/apiserver/flowcontrol/concurrency_test.go
  test/integration/apiserver/flowcontrol/concurrency_util_test.go
  test/integration/apiserver/max_json_patch_operations_test.go
  test/integration/apiserver/max_request_body_bytes_test.go
  test/integration/apiserver/openapi/openapi_enum_test.go
  test/integration/apiserver/openapi/openapiv3_test.go
  test/integration/apiserver/podlogs/podlogs_test.go
  test/integration/apiserver/watchcache_test.go
  test/integration/auth/accessreview_test.go
  test/integration/auth/auth_test.go
  test/integration/auth/bootstraptoken_test.go
  test/integration/auth/dynamic_client_test.go
  test/integration/auth/rbac_test.go
  test/integration/auth/selfsubjectreview_test.go
  test/integration/auth/svcaccttoken_test.go
  test/integration/controlplane/synthetic_controlplane_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/defaulttolerationseconds/defaulttolerationseconds_test.go
  test/integration/disruption/disruption_test.go
  test/integration/dualstack/dualstack_test.go
  test/integration/evictions/evictions_test.go
  test/integration/examples/webhook_test.go
  test/integration/framework/test_server.go
  test/integration/garbagecollector/garbage_collector_test.go
  test/integration/network/services_test.go
  test/integration/quota/quota_test.go
  test/integration/serviceaccount/service_account_test.go
  test/integration/servicecidr/allocator_test.go
  test/integration/util/util.go
  test/utils/ktesting/ktesting.go
Labels: area/test, area/kubelet, kind/cleanup, lgtm, sig/node, size/XXL, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#123239 Automated cherry pick of #123052: Fix cleanup of file subpaths
  pkg/kubelet/kubelet_volumes.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/XS, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#123312 Automated cherry pick of #122703: dra: increase timeout in setupFakeDRADriverGRPCServer to
  pkg/kubelet/cm/dra/manager_test.go
Labels: area/kubelet, lgtm, sig/node, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123522 Automated cherry pick of #123055: Fix race condition between external-resizer and kubelet
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/csi/expander.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/types/types.go
Labels: kind/bug, area/kubelet, lgtm, sig/storage, sig/node, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#123198 Automated cherry pick of #123069: build etcd image v3.5.12 #123150: etcd: Update to version 3.5.12
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/providers/gcp.go
  test/utils/image/manifest.go
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, size/M, area/release-eng, cherry-pick-approved, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted

#123241 Automated cherry pick of #123052: Fix cleanup of file subpaths
  pkg/kubelet/kubelet_volumes.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/XS, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#123188 Automated cherry pick of #123069: build etcd image v3.5.12 #123150: etcd: Update to version 3.5.12
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/providers/gcp.go
  test/utils/image/manifest.go
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, area/release-eng, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted

#123376 Automated cherry pick of #123261: codegen: don't nuke files if only verifying
  staging/src/k8s.io/code-generator/generate-internal-groups.sh
Labels: kind/bug, lgtm, sig/api-machinery, size/L, cherry-pick-approved, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#123196 Automated cherry pick of #123069: build etcd image v3.5.12 #123150: etcd: Update to version 3.5.12
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/e2e/framework/providers/gcp.go
  test/utils/image/manifest.go
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/api-machinery, sig/cluster-lifecycle, size/M, area/release-eng, cherry-pick-approved, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, triage/accepted

#123311 Automated cherry pick of #122703: dra: increase timeout in setupFakeDRADriverGRPCServer to
  pkg/kubelet/cm/dra/manager_test.go
Labels: area/kubelet, lgtm, sig/node, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123377 Automated cherry pick of #123261: codegen: don't nuke files if only verifying
  staging/src/k8s.io/code-generator/generate-internal-groups.sh
Labels: kind/bug, lgtm, sig/api-machinery, size/L, cherry-pick-approved, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#123523 Automated cherry pick of #123055: Fix race condition between external-resizer and kubelet
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/csi/expander.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/types/types.go
Labels: kind/bug, area/kubelet, lgtm, sig/storage, sig/node, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, triage/accepted

#123259 Configure cpumanager policy options in local-up-cluster
  hack/local-up-cluster.sh
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#123240 Automated cherry pick of #123052: Fix cleanup of file subpaths
  pkg/kubelet/kubelet_volumes.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/XS, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#123613 Revert "[cloud-provider] require providerID to initialize node"
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller_test.go
  staging/src/k8s.io/controller-manager/pkg/features/kube_features.go
Labels: kind/bug, kind/cleanup, lgtm, area/cloudprovider, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#123554 Add tests for SELinuxMount feature
  test/e2e/feature/feature.go
  test/e2e/storage/csi_mock/csi_selinux_mount.go
Labels: area/test, lgtm, sig/storage, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123615 Fx scalability tests
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
Labels: sig/scalability, lgtm, area/provider/gcp, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, needs-priority, needs-triage

#122438 [KEP - 4191]: Use Cadvisor labels rather than hard coding them into kubelet
  pkg/kubelet/cadvisor/cadvisor_linux_test.go
  pkg/kubelet/cadvisor/helpers_linux.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#123564 promote match conditions e2e tests to conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/webhook.go
Labels: area/test, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, needs-triage

#123570 Filter aggregated apiservice gv filter for OpenAPI
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, needs-triage

#122882 Use Aggregated Discovery v2 types and promote to GA
  pkg/features/kube_features.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_discovery_controller.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_discovery_controller_test.go
  staging/src/k8s.io/apiserver/pkg/apis/apidiscovery/v2/conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apidiscovery/v2/doc.go
  staging/src/k8s.io/apiserver/pkg/apis/apidiscovery/v2/fuzzer_test.go
  staging/src/k8s.io/apiserver/pkg/apis/apidiscovery/v2/register.go
  staging/src/k8s.io/apiserver/pkg/apis/apidiscovery/v2beta1/doc.go
  staging/src/k8s.io/apiserver/pkg/apis/apidiscovery/v2beta1/register.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/etag.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/fake.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/negotiation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/wrapper.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/wrapper_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/groupversion.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/client-go/discovery/aggregated_discovery.go
  staging/src/k8s.io/client-go/discovery/aggregated_discovery_test.go
  staging/src/k8s.io/client-go/discovery/cached/disk/cached_discovery_test.go
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache_test.go
  staging/src/k8s.io/client-go/discovery/discovery_client.go
  staging/src/k8s.io/client-go/discovery/discovery_client_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery_test.go
  test/e2e/apimachinery/aggregated_discovery.go
  test/integration/apiserver/discovery/discovery_test.go
  test/integration/apiserver/discovery/framework.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, triage/accepted

#123436 KEP-4222: Add duplicate key and field case-sensitivity CBOR decode tests.
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/decode_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/modes_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#123215 Switch 'ContainerCheckpoint' from Alpha to Beta
  pkg/features/kube_features.go
  pkg/kubelet/server/auth.go
  pkg/kubelet/server/auth_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  test/e2e_node/checkpoint_container.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#123536 KEP-4222: Make CBOR roundtrip tests pass through interface{}.
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/decode_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/roundtrip_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123245 Automated cherry pick of #122999: fixing issue with GetCPUUsageNanoCores on Windows
  pkg/kubelet/winstats/perfcounter_nodestats.go
  pkg/kubelet/winstats/perfcounter_nodestats_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#123246 Automated cherry pick of #122999: fixing issue with GetCPUUsageNanoCores on Windows
  pkg/kubelet/winstats/perfcounter_nodestats.go
  pkg/kubelet/winstats/perfcounter_nodestats_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#122693 Fix kubelet_server_journal --until parms.
  pkg/kubelet/kubelet_server_journal_linux.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#122975 cleanup structured authn/authz error logic
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
Labels: kind/cleanup, lgtm, size/S, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#123622 e2e/service.go: remove same node nodeport test
  test/e2e/network/service.go
Labels: kind/bug, area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#123244 Automated cherry pick of #122999: fixing issue with GetCPUUsageNanoCores on Windows
  pkg/kubelet/winstats/perfcounter_nodestats.go
  pkg/kubelet/winstats/perfcounter_nodestats_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, triage/accepted

#123484 Add option to upgrade subresource from CSA to SSA
  staging/src/k8s.io/client-go/util/csaupgrade/options.go
  staging/src/k8s.io/client-go/util/csaupgrade/upgrade.go
  staging/src/k8s.io/client-go/util/csaupgrade/upgrade_test.go
Labels: lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#123611 Add authz webhook matchcondition metrics
  pkg/kubeapiserver/authorizer/reload.go
  staging/src/k8s.io/apiserver/pkg/authorization/authorizerfactory/delegating.go
  staging/src/k8s.io/apiserver/pkg/authorization/authorizerfactory/metrics.go
  staging/src/k8s.io/apiserver/pkg/authorization/cel/matcher.go
  staging/src/k8s.io/apiserver/pkg/authorization/cel/metrics.go
  staging/src/k8s.io/apiserver/pkg/authorization/cel/metrics_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/metrics/metrics.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/metrics_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1beta1_test.go
  test/integration/auth/authz_config_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123135 KEP-4193: promote ServiceAccountTokenJTI, ServiceAccountTokenPodNodeInfo and ServiceAccountTokenNodeBindingValidation to beta
  pkg/features/kube_features.go
  pkg/kubeapiserver/options/authentication.go
  pkg/kubeapiserver/options/authentication_test.go
  test/integration/auth/svcaccttoken_test.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#123630 Add a header to go.work
  go.work
  hack/update-go-workspace.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123634 Fix discovery v2 conversion registration data race
  staging/src/k8s.io/apiserver/pkg/apis/apidiscovery/v2/fuzzer_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery.go
Labels: kind/bug, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, size/S, kind/api-change, kind/flake, release-note-none, approved, cncf-cla: yes, needs-triage

#123635 Increase client-side websocket write deadline
  staging/src/k8s.io/client-go/tools/remotecommand/websocket.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#123636 Rely only on `source` cli parameter in conformance/walk
  test/conformance/walk.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, needs-triage

#123646 Fix publish openapi conformance tests to ignore x-kubernetes-selectable-fields
  test/e2e/apimachinery/crd_publish_openapi.go
Labels: area/test, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#123623 hack: re-enable protobindings which use k8s.io/api
  hack/lib/protoc.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123640 Duplicate v1alpha1 AuthorizationConfiguration to v1beta1
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/load/load_test.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/register.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/zz_generated.defaults.go
  test/integration/auth/authz_config_test.go
Labels: area/test, lgtm, release-note, size/L, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123629 Get rid of unused API type NodeResources
  api/api-rules/violation_exceptions.list
  pkg/apis/core/types.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/lifecycle/predicate_test.go
  pkg/registry/registrytest/node.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
Labels: area/kubelet, kind/cleanup, sig/scheduling, lgtm, area/cloudprovider, sig/node, sig/api-machinery, size/M, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, sig/cloud-provider, needs-priority, needs-triage

#123437 Job: Fix test case names for the validations
  pkg/apis/batch/validation/validation_test.go
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#123648 Use go.work to auto-find internal modules
  hack/update-internal-modules.sh
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123614 test: Bump CUDA images
  test/images/cuda-vector-add/BASEIMAGE
  test/images/cuda-vector-add/Dockerfile
  test/images/cuda-vector-add/VERSION
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#123578 kubeadm: print all the kubelets and nodes that need to be upgraded on "upgrade plan"
  cmd/kubeadm/app/apis/output/types.go
  cmd/kubeadm/app/apis/output/v1alpha2/conversion.go
  cmd/kubeadm/app/apis/output/v1alpha2/zz_generated.conversion.go
  cmd/kubeadm/app/apis/output/v1alpha3/types.go
  cmd/kubeadm/app/apis/output/v1alpha3/zz_generated.conversion.go
  cmd/kubeadm/app/cmd/upgrade/plan.go
  cmd/kubeadm/app/cmd/upgrade/plan_test.go
  cmd/kubeadm/app/phases/upgrade/compute.go
  cmd/kubeadm/app/phases/upgrade/compute_test.go
  cmd/kubeadm/app/phases/upgrade/policy.go
  cmd/kubeadm/app/phases/upgrade/versiongetter.go
  cmd/kubeadm/app/phases/upgrade/versiongetter_test.go
Labels: priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/XXL, kind/feature, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#123654 [structured authz][kubeadam] avoid setting default authorization-mode when structured authz is wanted
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/L, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#123652 Ensure GCP instance names are a max of 63 characters
  test/e2e_node/remote/gce/gce_runner.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123657 Switch to newer cos-gpu-installer - v2.1.10
  test/e2e/testing-manifests/scheduling/nvidia-driver-installer.yaml
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#123225 Add `apiserver_authentication_jwt_authenticator_latency_seconds` metric
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/metrics.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/metrics_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, sig/auth, approved, cncf-cla: yes, triage/accepted

#123527 Add `DiscoveryURL` to Authentication Configuration
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
  test/integration/apiserver/oidc/oidc_test.go
  test/utils/oidc/testserver.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#123659 Check length of instance name before truncating
  test/e2e_node/remote/gce/gce_runner.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123575 Graduate PodSchedulingReadiness to stable
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  cmd/kube-scheduler/app/server_test.go
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/types.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/core/pod/storage/storage_test.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
  pkg/scheduler/apis/config/testing/defaults/defaults.go
  pkg/scheduler/apis/config/v1/default_plugins.go
  pkg/scheduler/apis/config/v1/default_plugins_test.go
  pkg/scheduler/apis/config/v1/defaults_test.go
  pkg/scheduler/framework/plugins/feature/feature.go
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/framework/plugins/schedulinggates/scheduling_gates.go
  pkg/scheduler/framework/plugins/schedulinggates/scheduling_gates_test.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  test/integration/pods/pods_test.go
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/queue_test.go
Labels: area/test, sig/scheduling, lgtm, sig/node, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, needs-triage

#123655 agnhost/mounttest: add new line to output
  test/images/agnhost/VERSION
  test/images/agnhost/mounttest/mt.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#123656 e2e pod: fail fast on failed pod
  test/e2e/framework/pod/wait.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#123595 kubeadm: add timeouts to v1beta4.UpgradeConfiguration
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/timeoututils.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/defaults.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.defaults.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/cmd/upgrade/diff.go
  cmd/kubeadm/app/cmd/upgrade/diff_test.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/upgradeconfiguration.go
  cmd/kubeadm/app/util/config/upgradeconfiguration_test.go
  cmd/kubeadm/app/util/etcd/etcd.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#123660 cleanup: if triggerValue has a value fast break
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, needs-triage

#123588 scheduler_perf: automatically delete created objects
  test/integration/scheduler_perf/create.go
  test/integration/scheduler_perf/scheduler_perf.go
  test/integration/scheduler_perf/scheduler_test.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123667 Add label with access mode to SELinux metrics
  pkg/kubelet/volumemanager/cache/desired_state_of_wold_selinux_metrics.go
  pkg/kubelet/volumemanager/cache/desired_state_of_world.go
  test/e2e/storage/csi_mock/csi_selinux_mount.go
Labels: area/test, area/kubelet, lgtm, sig/storage, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123446 Hit APIServer cache when testing healthiness
  pkg/volume/csi/csi_plugin.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123583 Add `image_id` to CRI `ContainerStatus` message
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XL, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#123609 [kubernetes/scheduler] use lockless diagnosis collection in findNodes…
  pkg/scheduler/schedule_one.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122422 core/v1: remove note about hostAliases not working with hostNetwork
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/core/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/documentation, kind/cleanup, lgtm, sig/api-machinery, release-note, size/S, kind/api-change, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#123323 Validate restartable init container state transition
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/node, release-note, size/L, sig/apps, approved, cncf-cla: yes, triage/accepted

#123413 PortForward: Tunnel SPDY through WebSockets
  pkg/features/kube_features.go
  pkg/registry/core/pod/rest/subresources.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/conn.go
  staging/src/k8s.io/apimachinery/pkg/util/portforward/constants.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/pkg/util/proxy/streamtunnel.go
  staging/src/k8s.io/apiserver/pkg/util/proxy/streamtunnel_test.go
  staging/src/k8s.io/client-go/tools/portforward/fallback_dialer.go
  staging/src/k8s.io/client-go/tools/portforward/fallback_dialer_test.go
  staging/src/k8s.io/client-go/tools/portforward/portforward.go
  staging/src/k8s.io/client-go/tools/portforward/portforward_test.go
  staging/src/k8s.io/client-go/tools/portforward/tunneling_connection.go
  staging/src/k8s.io/client-go/tools/portforward/tunneling_connection_test.go
  staging/src/k8s.io/client-go/tools/portforward/tunneling_dialer.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  test/integration/apiserver/portforward/main_test.go
  test/integration/apiserver/portforward/portforward_test.go
Labels: area/test, priority/important-soon, area/apiserver, area/kubectl, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/feature, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#123481 graduate MinDomainsInPodTopologySpread to stable
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/types.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/scheduler/framework/plugins/feature/feature.go
  pkg/scheduler/framework/plugins/podtopologyspread/common.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
  pkg/scheduler/framework/plugins/registry.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  test/integration/scheduler/filters/filters_test.go
Labels: area/test, sig/scheduling, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, api-review, needs-triage

#122320 allow service NodePort to be updated to 0 in case AllocateLoadBalance…
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
  test/integration/service/loadbalancer_test.go
Labels: kind/bug, area/test, sig/network, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#123532 Move cacher watch to separate rpc preventing starvation
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/lister_watcher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/lister_watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_progress.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_progress_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, needs-triage

#123641 Promote StructuredAuthorizationConfiguration feature gate to beta
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, kind/feature, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#123679 Extend deadlines to one minute
  staging/src/k8s.io/client-go/tools/remotecommand/websocket.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#123487 Introduce trafficDistribution field for Kubernetes Services
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/apis/core/types.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/topology.go
  pkg/proxy/topology_test.go
  pkg/registry/core/service/strategy.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Service.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Service.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Service.yaml
  staging/src/k8s.io/client-go/applyconfigurations/core/v1/servicespec.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/endpointslice/metrics/cache.go
  staging/src/k8s.io/endpointslice/metrics/cache_test.go
  staging/src/k8s.io/endpointslice/metrics/metrics.go
  staging/src/k8s.io/endpointslice/reconciler.go
  staging/src/k8s.io/endpointslice/reconciler_test.go
  staging/src/k8s.io/endpointslice/trafficdist/trafficdist.go
  staging/src/k8s.io/endpointslice/trafficdist/trafficdist_test.go
Labels: priority/important-soon, sig/network, area/kube-proxy, lgtm, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, area/code-generation, triage/accepted

#123561 Prevent conflicts between service account and jwt issuers
  pkg/kubeapiserver/authenticator/config.go
  pkg/kubeapiserver/options/authentication.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, triage/accepted

#123568 jwt: fail on empty username via CEL expression
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
  test/integration/apiserver/oidc/oidc_test.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#112957 Allow changing pod log directory
  cmd/kubelet/app/server.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/apis/config/v1beta1/defaults_test.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_getters.go
  pkg/kubelet/kubelet_getters_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_gc.go
  pkg/kubelet/kuberuntime/kuberuntime_gc_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_test.go
  pkg/kubelet/runonce_test.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  pkg/kubelet/stats/cri_stats_provider_windows_test.go
  pkg/kubelet/stats/host_stats_provider.go
  pkg/kubelet/stats/host_stats_provider_fake.go
  pkg/kubemark/hollow_kubelet.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: area/test, area/kubelet, sig/scalability, lgtm, sig/node, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, ok-to-test, api-review, triage/accepted

#120346 kubectl debug: Add custom debug profiles on top of static profiles
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Labels: area/kubectl, lgtm, release-note, size/XL, kind/feature, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#122653 Add e2e test for kubectl interactive delete
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  test/e2e/kubectl/delete.go
Labels: area/test, priority/backlog, area/kubectl, lgtm, size/L, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#123686 [Scheduler] Fix flaky test on multi profiles waitingPods
  pkg/scheduler/scheduler_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123702 storage/cacher: mark the addition of a metric for waitUntilFreshAndBlock as completed
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#122259 use e2e f.Timeouts.PodDelete instead of 1 minute
  test/e2e/common/node/pods.go
Labels: area/test, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123114 Bump npd from v0.8.13 to v0.8.16
  build/dependencies.yaml
  cluster/addons/node-problem-detector/npd.yaml
  cluster/gce/gci/configure.sh
  test/e2e_node/image_list.go
  test/kubemark/resources/hollow-node_template.yaml
Labels: area/test, kind/cleanup, sig/scalability, lgtm, area/provider/gcp, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, needs-triage

#122489 storage e2e: update hostpath and mock images
  test/e2e/storage/utils/create.go
  test/e2e/testing-manifests/storage-csi/external-attacher/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-health-monitor/external-health-monitor-controller/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-provisioner/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-resizer/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/csi-snapshotter/rbac-csi-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/README.md
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-driverinfo.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-testing.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
  test/e2e/testing-manifests/storage-csi/update-hostpath.sh
Labels: area/test, lgtm, sig/storage, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#123366 Consider initContainer images in pod scheduling
  pkg/scheduler/framework/plugins/imagelocality/image_locality.go
  pkg/scheduler/framework/plugins/imagelocality/image_locality_test.go
Labels: sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#123684 Addd negative case for the fix in #123570
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123226 printers: Add Job status to jobs table
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Labels: priority/backlog, lgtm, release-note, size/L, kind/feature, sig/apps, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted, wg/batch

#123273 Support for the Job managedBy field (alpha)
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/batch/fuzzer/fuzzer.go
  pkg/apis/batch/types.go
  pkg/apis/batch/v1/zz_generated.conversion.go
  pkg/apis/batch/validation/validation.go
  pkg/apis/batch/validation/validation_test.go
  pkg/apis/batch/zz_generated.deepcopy.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/job/metrics/metrics.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
  staging/src/k8s.io/api/batch/v1/generated.pb.go
  staging/src/k8s.io/api/batch/v1/generated.proto
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/batch/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.CronJob.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.CronJob.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.CronJob.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.Job.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.Job.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.Job.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v1beta1.CronJob.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v1beta1.CronJob.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v1beta1.CronJob.yaml
  staging/src/k8s.io/client-go/applyconfigurations/batch/v1/jobspec.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  test/integration/job/job_test.go
Labels: area/test, lgtm, sig/api-machinery, release-note, size/XXL, kind/api-change, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, tide/merge-method-squash, api-review, area/e2e-test-framework, triage/accepted

#122056 keep existing PDB conditions when updating status
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
Labels: kind/bug, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#123708 apimachinery/meta/types.go: define InitialEventsAnnotationKey const
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123721 Fix AuthenticationConfiguration docs around nested claims via CEL
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/types.go
Labels: kind/cleanup, lgtm, size/XS, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#123543 ValidatingAdmissionPolicy: exclude brink-able resources.
  pkg/kubeapiserver/admission/config.go
  pkg/kubeapiserver/admission/exclusion/resources.go
  pkg/kubeapiserver/admission/initializer.go
  pkg/kubeapiserver/admission/initializer_test.go
  plugin/pkg/admission/gc/gc_admission_test.go
  plugin/pkg/admission/resourcequota/admission_test.go
  staging/src/k8s.io/apiserver/pkg/admission/initializer/interfaces.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/generic/plugin.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/validating/plugin.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/validating/validator.go
  test/integration/apiserver/cel/admission_test_util.go
  test/integration/apiserver/cel/excludedresources_test.go
  test/integration/apiserver/cel/validatingadmissionpolicy_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123722 fix e2e test for kubectl interactive delete
  test/e2e/kubectl/delete.go
Labels: kind/bug, area/test, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, triage/accepted

#122907 [KEP-4419]: promote KubeletConfigDropInDir feature to beta
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  test/e2e_node/kubelet_config_dir_test.go
  test/e2e_node/services/kubelet.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#123713 node-controller require providerID to initialize a node
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller_test.go
Labels: kind/bug, lgtm, area/cloudprovider, release-note, size/L, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#123729 Adds OWNERS files to client-go streaming dirs
  staging/src/k8s.io/client-go/tools/portforward/OWNERS
  staging/src/k8s.io/client-go/tools/remotecommand/OWNERS
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#122745 [KEP-2400] add no swap as the default option for swap
  cmd/kubelet/app/server.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/defaults_test.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux_test.go
  pkg/kubelet/types/constants.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  test/e2e_node/oomkiller_linux_test.go
  test/e2e_node/swap_test.go
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, area/code-generation, api-review, triage/accepted

#122541 Implement a field selector for ClusterIP on Services
  pkg/apis/core/v1/conversion.go
  pkg/kubelet/kubelet.go
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
  test/integration/service/service_test.go
Labels: area/test, sig/network, area/kubelet, area/kube-proxy, lgtm, sig/node, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123385 Allow almost all printable ASCII characters in environment variables
  pkg/api/pod/util.go
  pkg/apis/core/types.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/validation_test.go
  test/e2e/common/node/configmap.go
  test/e2e/common/node/expansion.go
  test/e2e/common/node/secrets.go
  test/e2e/feature/feature.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123730 dra api: fix status updates
  pkg/registry/resource/podschedulingcontext/strategy.go
  pkg/registry/resource/resourceclaim/strategy.go
Labels: kind/bug, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, needs-priority, api-review, needs-triage

#121725 fix: code style untidy and update version.sh
  test/cmd/version.sh
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#123738 [KEP-2400]: Fail limited swap cgroup v1
  cmd/kubelet/app/server.go
Labels: area/test, area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/XS, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, needs-triage

#123759 Avoid clearing go version in go.work update script
  hack/update-go-workspace.sh
Labels: kind/bug, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#123750 [go] Bump images, dependencies and versions to go 1.22.1 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, area/security, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#123696 Duplicate v1alpha1 AuthenticationConfiguration to v1beta1
  pkg/kubeapiserver/options/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/register.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/zz_generated.deepcopy.go
  test/integration/apiserver/oidc/oidc_test.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#123431 Support multiple JWT authenticators with structured authn config
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_test.go
  test/integration/apiserver/oidc/oidc_test.go
Labels: area/test, priority/important-soon, lgtm, release-note, size/L, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#123482 graduate HPAContainerMetrics to stable
  cmd/kube-controller-manager/app/autoscaling.go
  pkg/apis/autoscaling/validation/validation.go
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/horizontal_test.go
  pkg/features/kube_features.go
  pkg/registry/autoscaling/horizontalpodautoscaler/strategy.go
  pkg/registry/autoscaling/horizontalpodautoscaler/strategy_test.go
Labels: lgtm, sig/api-machinery, release-note, sig/autoscaling, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, api-review, needs-triage

#123771 [release-1.27] [go] Bump images, dependencies and versions to go 1.21.8 / distroless-iptables to v0.4.6
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#123773 [release-1.29] [go] Bump images, dependencies and versions to go 1.21.8 / distroless-iptables to v0.4.6
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#123762 [release-1.26] [go] Bump images, dependencies and versions to go 1.21.8 / distroless-iptables to v0.4.6
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#123772 [release-1.28] [go] Bump images, dependencies and versions to go 1.21.8 / distroless-iptables to v0.4.6
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#123735 Don't embed plural exceptions in tools
  hack/update-codegen.sh
  staging/src/k8s.io/code-generator/cmd/client-gen/args/args.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/args/args.go
  staging/src/k8s.io/code-generator/cmd/lister-gen/args/args.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#123798 Update publishing-bot rules to Go 1.21.8
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#123710 Automated cherry pick of #123323: Validate restartable init container state transition
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: kind/bug, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#123780 Automated cherry pick of #123251: ci: bump kind to latest for kms jobs
  test/e2e/testing-manifests/auth/encrypt/run-e2e.sh
Labels: area/test, lgtm, size/XS, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, triage/accepted

#123774 Enabled conformance test for GA feature.
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/validatingadmissionpolicy.go
Labels: area/test, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, needs-triage

#123776 Adjust GPU test to work with latest nvidia daemonset on AWS/ec2
  test/e2e/scheduling/nvidia-gpus.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#123709 Automated cherry pick of #123323: Validate restartable init container state transition
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: kind/bug, lgtm, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#123751 Update Job conformance test for job status updates
  test/e2e/apps/job.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#123770 fix aggregator path filtering to include /
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator_test.go
  test/integration/apiserver/openapi/openapi_apiservice_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123789 Warn on deprecated AppArmor annotation use
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
Labels: lgtm, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123412 Job: Support for the SuccessPolicy
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/batch/types.go
  pkg/apis/batch/v1/zz_generated.conversion.go
  pkg/apis/batch/validation/validation.go
  pkg/apis/batch/validation/validation_test.go
  pkg/apis/batch/zz_generated.deepcopy.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/job/success_policy.go
  pkg/controller/job/success_policy_test.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
  staging/src/k8s.io/api/batch/v1/generated.pb.go
  staging/src/k8s.io/api/batch/v1/generated.proto
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/batch/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.CronJob.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.CronJob.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.CronJob.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.Job.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.Job.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v1.Job.yaml
  staging/src/k8s.io/api/testdata/HEAD/batch.v1beta1.CronJob.json
  staging/src/k8s.io/api/testdata/HEAD/batch.v1beta1.CronJob.pb
  staging/src/k8s.io/api/testdata/HEAD/batch.v1beta1.CronJob.yaml
  staging/src/k8s.io/client-go/applyconfigurations/batch/v1/jobspec.go
  staging/src/k8s.io/client-go/applyconfigurations/batch/v1/successpolicy.go
  staging/src/k8s.io/client-go/applyconfigurations/batch/v1/successpolicyrule.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/client-go/applyconfigurations/utils.go
  test/integration/job/job_test.go
Labels: area/test, priority/important-soon, lgtm, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, api-review, triage/accepted

#123811 Keep providing the deprecated AppArmor CRI API for runtimes that haven't migrated
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_test.go
  pkg/kubelet/kuberuntime/security_context.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123803 Revert portion of the GPU testcase
  test/e2e/scheduling/nvidia-gpus.go
Labels: kind/bug, area/test, kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#123694 Automated cherry pick of #123532: Prevent watch cache starvation, by moving its watch to
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/lister_watcher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/lister_watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_progress.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_progress_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#123753 Automated cherry pick of #122056: keep existing PDB conditions when updating status
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
Labels: kind/bug, lgtm, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#123693 Automated cherry pick of #123532: Prevent watch cache starvation, by moving its watch to
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/lister_watcher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/lister_watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_progress.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_progress_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#123752 Automated cherry pick of #122056: keep existing PDB conditions when updating status
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
Labels: kind/bug, lgtm, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#123754 Automated cherry pick of #122056: keep existing PDB conditions when updating status
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
Labels: kind/bug, lgtm, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#123723 Integration test for change in syncOrphanPod for managedBy jobs
  test/integration/job/job_test.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#123815 Follow up fix to the job status update test
  test/conformance/testdata/conformance.yaml
  test/e2e/apps/job.go
Labels: kind/bug, area/test, kind/documentation, lgtm, size/S, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, sig/architecture, area/conformance, triage/accepted

#123737 Require email_verified to be used when email is set as username via CEL
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/authentication/cel/compile.go
  staging/src/k8s.io/apiserver/pkg/authentication/cel/interface.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#123826 Job: Use the fake clock in TestTrackJobStatusAndRemoveFinalizers
  pkg/controller/job/job_controller_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#123525 Add dynamic reload support for authentication configuration
  pkg/controlplane/apiserver/config.go
  pkg/kubeapiserver/authenticator/config.go
  pkg/kubeapiserver/options/authentication.go
  pkg/kubeapiserver/options/authentication_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/metrics.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/metrics_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
  test/integration/apiserver/oidc/oidc_test.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#123793 Add metrics for authentication config reload
  pkg/controlplane/apiserver/config.go
  pkg/kubeapiserver/options/authentication.go
  staging/src/k8s.io/apiserver/pkg/server/options/authenticationconfig/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/server/options/authenticationconfig/metrics/metrics_test.go
  test/integration/apiserver/oidc/oidc_test.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#123719 Mark StructuredAuthenticationConfiguration feature gate as beta
  pkg/features/kube_features.go
  pkg/kubeapiserver/options/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#123846 Fix the dirname command in macOS does not have a -z option
  hack/update-go-workspace.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#123742 Cleanup _tmp usage
  hack/lib/golang.sh
  hack/pin-dependency.sh
  hack/verify-openapi-docs-urls.sh
  hack/verify-openapi-spec.sh
  hack/verify-vendor-licenses.sh
  hack/verify-vendor.sh
  test/images/image-util.sh
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, needs-priority, needs-triage

#122790 Fix flaky test: Test_Run_OneVolumeDetachFailNodeWithReadWriteOnce
  pkg/controller/volume/attachdetach/reconciler/reconciler_test.go
Labels: lgtm, sig/storage, size/M, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#123847 Support fetching NPD from github releases in standalone mode
  cluster/gce/gci/configure.sh
Labels: kind/cleanup, area/apiserver, lgtm, area/provider/gcp, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#123856 fix test flake in TestStructuredAuthenticationConfigReload
  test/integration/apiserver/oidc/oidc_test.go
Labels: area/test, priority/important-soon, lgtm, size/S, kind/flake, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#123831 Add StructuredResourceModel to UnprepareResources call
  pkg/kubelet/cm/dra/manager.go
Labels: kind/bug, area/kubelet, sig/scheduling, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123849 e2e_node: mount_rro: skip if feature gate is disabled; fix error string comparison
  test/e2e_node/mount_rro_linux_test.go
Labels: area/test, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#123792 Adjust the Job field API comments and validation to the current state
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/batch/types.go
  pkg/apis/batch/validation/validation.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
  staging/src/k8s.io/api/batch/v1/generated.proto
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/api/batch/v1/types_swagger_doc_generated.go
Labels: kind/bug, kind/documentation, kind/cleanup, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#123732 Fix SetFeatureGateDuringTest handling of Parallel tests
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fieldselector_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_test.go
  staging/src/k8s.io/component-base/featuregate/testing/feature_gate.go
  staging/src/k8s.io/component-base/featuregate/testing/feature_gate_test.go
Labels: kind/bug, area/test, sig/network, area/kubelet, sig/scheduling, area/kube-proxy, area/apiserver, lgtm, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/L, kind/api-change, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, sig/architecture, area/ipvs, needs-priority, needs-triage

#123828 dra scheduler: ensure that we never have nil claim/class parameters
  pkg/kubelet/cm/dra/manager.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/plugins/dynamicresources/structuredparameters.go
Labels: kind/bug, area/kubelet, sig/scheduling, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage
