Repository kubernetes/kubernetes, pull requests merged in 2024-05, with the labels that each got.

#124287 implement QueueingHint in TaintToleration
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration_test.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124644 e2e/network: stream pod logs for debugging
  test/e2e/network/networking.go
Labels: area/test, sig/network, lgtm, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#123756 Sync `cri-api` approvers with kubelet `cri` package
  pkg/kubelet/cri/remote/OWNERS
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#124080 Skip failing Windows tests
  cmd/import-boss/main_test.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter_test.go
  pkg/controller/podautoscaler/horizontal_test.go
  pkg/controller/tainteviction/taint_eviction_test.go
  pkg/kubelet/kubelet_pods_windows_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container_windows_test.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  pkg/kubelet/userns/userns_manager_test.go
  pkg/kubelet/winstats/perfcounters_test.go
  pkg/proxy/apis/config/validation/validation_test.go
  pkg/proxy/winkernel/hns_test.go
  pkg/scheduler/schedule_one_test.go
Labels: priority/important-soon, sig/network, area/kubelet, kind/cleanup, sig/scheduling, area/kube-proxy, lgtm, sig/node, sig/cluster-lifecycle, sig/autoscaling, size/L, release-note-none, sig/apps, approved, sig/windows, area/kubeadm, cncf-cla: yes, priority/important-longterm, kind/failing-test, triage/accepted

#124463 remove feature-gate ConsistentHTTPGetHandlers
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#124619 Remove unused NewSecure function in requestheader.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/requestheader.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#124654 Step 9 – aggregator: move construction to generic controlplane
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/config.go
  cmd/kube-apiserver/app/server.go
  pkg/controlplane/apiserver/aggregator.go
  pkg/controlplane/apiserver/apiextensions.go
  pkg/controlplane/apiserver/config.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, needs-triage

#124645 e2e lifecycle: reduce test flackiness
  test/e2e_node/container_lifecycle_pod_construction.go
  test/e2e_node/container_lifecycle_test.go
Labels: area/test, lgtm, sig/node, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#124663 Fix `cri-api` `SECURITY_CONTACTS` by removing a duplicate
  staging/src/k8s.io/cri-api/SECURITY_CONTACTS
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124665 kubeadm: update the IsPriviligedUser preflight check on Windows
  cmd/kubeadm/app/preflight/checks_windows.go
Labels: kind/bug, priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#124662 Updated & added visibility to apiserver x509 test certificates expiring this year
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#124684 kubeadm: remove unused CreateKubeConfigFileFunc type
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#121496 Deduplicate set expression values in metav1.LabelSelector fuzzer.
  staging/src/k8s.io/apimachinery/pkg/apis/meta/fuzzer/fuzzer.go
Labels: lgtm, sig/api-machinery, size/XS, kind/api-change, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#124553 fix(api): make LocalObjectReference.Name and HostAlias.IP required
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, approved, cncf-cla: yes, needs-sig, area/code-generation, tide/merge-method-squash, needs-priority, kind/regression, needs-triage

#124531 gitRepo volume: directory must be max 1 level deep
  pkg/volume/git_repo/git_repo.go
  pkg/volume/git_repo/git_repo_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/S, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#124189 Add tracing to kube-aggregator proxyHandler
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#123886 Handle containerd "CRIU not found" error message
  test/e2e_node/checkpoint_container.go
Labels: kind/bug, area/test, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#124281 Allow request parameter and proto file path
  staging/src/k8s.io/code-generator/cmd/go-to-protobuf/protoc-gen-gogo/main.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#124578 support `scheduler_plugin_execution_duration_seconds` in scheduler_perf
  pkg/scheduler/metrics/metrics.go
  test/integration/scheduler_perf/scheduler_perf.go
  test/integration/scheduler_perf/util.go
  test/integration/scheduler_perf/util_test.go
Labels: area/test, sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124131 Correct variable names in EndpointSliceMirroring controller
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
Labels: kind/bug, sig/network, lgtm, release-note, size/XS, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#124693 chore: fix invalid package name by golint
  test/e2e/e2e_test.go
  test/e2e/storage/csimock/base.go
  test/e2e/storage/csimock/csi_attach_volume.go
  test/e2e/storage/csimock/csi_fsgroup_mount.go
  test/e2e/storage/csimock/csi_fsgroup_policy.go
  test/e2e/storage/csimock/csi_node_stage_error_cases.go
  test/e2e/storage/csimock/csi_selinux_mount.go
  test/e2e/storage/csimock/csi_service_account_token.go
  test/e2e/storage/csimock/csi_snapshot.go
  test/e2e/storage/csimock/csi_storage_capacity.go
  test/e2e/storage/csimock/csi_volume_expansion.go
  test/e2e/storage/csimock/csi_volume_limit.go
  test/e2e/storage/csimock/csi_workload.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#119781 fix link failure for changelog
  CHANGELOG/CHANGELOG-1.25.md
Labels: priority/backlog, kind/documentation, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, lifecycle/rotten, triage/accepted

#124590 Fix +optional in comment for persistentVolumeClaimRetentionPolicy
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/apps/v1/generated.proto
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1/types_swagger_doc_generated.go
Labels: kind/cleanup, lgtm, size/XS, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#124500 scheduler deprecates non-csi volumelimit plugins
  pkg/scheduler/apis/config/testing/defaults/defaults.go
  pkg/scheduler/apis/config/v1/default_plugins.go
  pkg/scheduler/apis/config/v1/default_plugins_test.go
  pkg/scheduler/apis/config/v1/defaults_test.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
Labels: sig/scheduling, lgtm, sig/storage, release-note, size/M, kind/api-change, approved, cncf-cla: yes, needs-priority, kind/deprecation, needs-triage

#124598 Use endpointSlices for describing service endpoints
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: priority/backlog, sig/network, kind/cleanup, area/kubectl, lgtm, release-note, size/L, approved, sig/cli, cncf-cla: yes, triage/accepted

#124668 node_e2e: refactor RunTogether function
  test/e2e_node/container_lifecycle_pod_construction.go
  test/e2e_node/container_lifecycle_test.go
Labels: kind/bug, area/test, kind/cleanup, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#124673 Promote RetryGenerateName to beta
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#124592 Add completion for kubectl set image
  staging/src/k8s.io/kubectl/pkg/cmd/set/set_image.go
Labels: priority/backlog, area/kubectl, lgtm, release-note, size/XS, kind/feature, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#124714 scheduler: preallocation for NodeToStatusMap
  pkg/scheduler/schedule_one.go
Labels: kind/bug, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#122184 Automated cherry pick of #120615: cloud-node-lifecycle controller: add fallback for empty
  staging/src/k8s.io/cloud-provider/cloud.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller_test.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instances_test.go
Labels: kind/bug, lgtm, area/cloudprovider, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#122185 Automated cherry pick of #120615: cloud-node-lifecycle controller: add fallback for empty
  staging/src/k8s.io/cloud-provider/cloud.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller_test.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instances_test.go
Labels: kind/bug, lgtm, area/cloudprovider, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#124726 Sync `go.work.sum` of kms mock plugin
  staging/src/k8s.io/kms/internal/plugins/_mock/go.work.sum
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#124652 kubeadm: add support for custom cert validity period in v1beta4
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/defaults.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/certs.go
  cmd/kubeadm/app/cmd/kubeconfig.go
  cmd/kubeadm/app/cmd/kubeconfig_test.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/certs/certlist.go
  cmd/kubeadm/app/phases/certs/certlist_test.go
  cmd/kubeadm/app/phases/certs/renewal/manager.go
  cmd/kubeadm/app/phases/certs/renewal/manager_test.go
  cmd/kubeadm/app/phases/certs/renewal/readwriter_test.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
  cmd/kubeadm/app/util/certs/util.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
  cmd/kubeadm/app/util/starttime.go
  cmd/kubeadm/test/kubeconfig/util.go
Labels: lgtm, sig/cluster-lifecycle, size/XL, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#124681 Promote custom resource field selectors to beta
  pkg/features/kube_features.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fieldselector_test.go
  test/e2e/apimachinery/crd_selectable_fields.go
Labels: area/test, lgtm, sig/api-machinery, release-note, size/L, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124514 Change non-quantity strings to sort alphanumerically, instead of using "Natural Sort"
  LICENSES/vendor/github.com/fvbommel/sortorder/LICENSE
  go.mod
  go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubectl/pkg/cmd/get/sorter.go
  vendor/github.com/fvbommel/sortorder/.gitignore
  vendor/github.com/fvbommel/sortorder/LICENSE
  vendor/github.com/fvbommel/sortorder/README.md
  vendor/github.com/fvbommel/sortorder/doc.go
  vendor/github.com/fvbommel/sortorder/natsort.go
  vendor/modules.txt
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, area/dependency, triage/accepted

#124715 kubeadm: remove deprecated UpgradeAddonsBeforeControlPlane featuregate
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
  cmd/kubeadm/app/features/features.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/M, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#124718 add coverage tests for probes behavior
  test/e2e_node/container_lifecycle_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123537 Add the util pkg to commonize job util functions
  pkg/controller/cronjob/cronjob_controllerv2.go
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
  pkg/controller/job/job_controller.go
  pkg/controller/job/util/utils.go
  pkg/controller/job/util/utils_test.go
  pkg/controller/job/utils_test.go
  pkg/controller/ttlafterfinished/ttlafterfinished_controller.go
  test/e2e/apps/cronjob.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124626 simplify EndpointSliceCache caching
  pkg/proxy/endpointslicecache.go
  pkg/proxy/endpointslicecache_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124731 Enforce the Minimum Kernel Version 6.3 for UserNamespacesSupport feature
  pkg/kubelet/kubelet_pods.go
  pkg/util/kernel/constants.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123619 show warning message only when running `kubectl get --watch-only`
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
Labels: kind/bug, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#124428 Added a testcase to check hostname and hostNetwork
  test/e2e/network/dns.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, needs-triage

#124723 Drop typecheck-providerless verification
  hack/make-rules/verify.sh
  hack/verify-typecheck-providerless.sh
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#123370 Update cri-api Readme
  staging/src/k8s.io/cri-api/README.md
Labels: area/kubelet, kind/documentation, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#124742 bump zeitgeist to release v0.5.3
  build/dependencies.yaml
  hack/verify-external-dependencies-version.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#124653 admission-control: fix error message formatting
  pkg/registry/admissionregistration/validatingadmissionpolicybinding/authz.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, needs-priority, triage/accepted

#123845 promote DisableNodeKubeProxyVersion feature gate to beta
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/kubelet_node_status_test.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  test/e2e/cloud/gcp/common/upgrade_mechanics.go
Labels: area/test, sig/network, area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/S, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, area/code-generation, sig/cloud-provider, needs-priority, triage/accepted

#124738 Remove GA ServiceNodePortStaticSubrange feature gate
  pkg/features/kube_features.go
  pkg/registry/core/service/portallocator/allocator.go
  pkg/registry/core/service/portallocator/allocator_test.go
  pkg/registry/core/service/portallocator/storage/storage_test.go
Labels: sig/network, kind/cleanup, lgtm, release-note, size/M, approved, cncf-cla: yes, needs-priority, triage/accepted

#124462 remove feature-gate CSINodeExpandSecret
  pkg/features/kube_features.go
Labels: kind/cleanup, lgtm, sig/storage, release-note, size/S, approved, cncf-cla: yes, needs-priority, needs-triage

#108349 optimize dedupCurHistories func in DaemonSetsController
  pkg/controller/daemon/update.go
Labels: kind/bug, priority/backlog, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#121900 rc registry: add unit test for UpdateStatus
  pkg/registry/core/replicationcontroller/storage/storage_test.go
Labels: priority/backlog, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#124588 fix: Hang when canceling leader election information
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#124678 kubeadm: increase ut coverage for addon/dns
  cmd/kubeadm/app/phases/addons/dns/dns_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#124660 Fix LoadBalancer tests to be provider-agnostic
  test/e2e/feature/feature.go
  test/e2e/network/loadbalancer.go
  test/e2e/network/service.go
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, lgtm, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage

#124717 Revert kubelet volume plugin files
  cmd/kubelet/app/plugins.go
  cmd/kubelet/app/plugins_providers.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/storage, sig/node, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#124767 remove legacycloudproviders from staging
  go.mod
  go.work
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  staging/README.md
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/legacy-cloud-providers/.github/PULL_REQUEST_TEMPLATE.md
  staging/src/k8s.io/legacy-cloud-providers/LICENSE
  staging/src/k8s.io/legacy-cloud-providers/OWNERS
  staging/src/k8s.io/legacy-cloud-providers/README.md
  staging/src/k8s.io/legacy-cloud-providers/SECURITY_CONTACTS
  staging/src/k8s.io/legacy-cloud-providers/code-of-conduct.md
  staging/src/k8s.io/legacy-cloud-providers/doc.go
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
Labels: kind/cleanup, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/L, area/release-eng, approved, cncf-cla: yes, sig/release, sig/cloud-provider, needs-priority, area/dependency, kind/deprecation, needs-triage

#122176 Expose DisableHTTP2 flag in SecureServingOptions
  staging/src/k8s.io/apiserver/pkg/server/options/serving.go
  staging/src/k8s.io/apiserver/pkg/server/options/serving_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#123620 Remove shared ref to underlying array of JSONFrameReader's Read arg.
  staging/src/k8s.io/apimachinery/pkg/util/framer/framer.go
  staging/src/k8s.io/apimachinery/pkg/util/framer/framer_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, needs-priority, triage/accepted

#124618 Filter gated pods before calling isPodWorthRequeueing
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/queue_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#124546 CephRBD volume plugin and its csi migration support are removed
  cmd/kube-controller-manager/app/plugins_providers.go
  cmd/kubelet/app/plugins_providers.go
  pkg/features/kube_features.go
  pkg/kubemark/hollow_kubelet.go
  pkg/scheduler/framework/plugins/nodevolumelimits/utils.go
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/csimigration/plugin_manager.go
  pkg/volume/csimigration/plugin_manager_test.go
  pkg/volume/rbd/OWNERS
  pkg/volume/rbd/attacher.go
  pkg/volume/rbd/disk_manager.go
  pkg/volume/rbd/doc.go
  pkg/volume/rbd/rbd.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/rbd/rbd_unix_test.go
  pkg/volume/rbd/rbd_util.go
  pkg/volume/rbd/rbd_windows_test.go
  staging/src/k8s.io/csi-translation-lib/plugins/rbd.go
  staging/src/k8s.io/csi-translation-lib/plugins/rbd_test.go
  staging/src/k8s.io/csi-translation-lib/translate.go
  staging/src/k8s.io/csi-translation-lib/translate_test.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/in_tree_volumes.go
Labels: area/test, area/kubelet, kind/cleanup, sig/scalability, sig/scheduling, lgtm, sig/storage, sig/node, size/XXL, kind/api-change, release-note-action-required, approved, cncf-cla: yes, sig/testing, needs-priority, kind/deprecation, needs-triage

#124735 Change EvaluatedNodes to count Nodes that reach Filter phase only
  pkg/scheduler/framework/types.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
Labels: sig/scheduling, lgtm, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#124694 [backport release-1.30]: fix(api): make LocalObjectReference.Name and HostAlias.IP required (#124553)
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, cherry-pick-approved, approved, cncf-cla: yes, area/code-generation, needs-priority, kind/regression, needs-triage

#124682 Manual cherry pick: kubeadm: fix upgrading external CA cluster to 1.29
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#124293 Automated cherry pick of #124283: Rename `cluster` to `storage_cluster_id` for
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics_test.go
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#124497 Automated cherry pick of #124480: kubeadm: fix bug of kubeletconfig not being downloaded on
  cmd/kubeadm/app/cmd/upgrade/common.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, kind/regression, triage/accepted

#124570 Automated cherry pick of #124503: kubeadm: check for available nodes during 'CreateJob'
  cmd/kubeadm/app/phases/upgrade/health.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/M, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, kind/regression, triage/accepted

#124753 Automated cherry pick of #124714: scheduler: preallocation for NodeToStatusMap
  pkg/scheduler/schedule_one.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#124294 Automated cherry pick of #124283: Rename `cluster` to `storage_cluster_id` for
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics_test.go
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, triage/accepted

#124789 remove pkg/cloudprovider
  cmd/kube-apiserver/app/options/globalflags.go
  cmd/kube-controller-manager/app/plugins.go
  cmd/kubelet/app/plugins.go
  pkg/cloudprovider/OWNERS
  pkg/cloudprovider/README.md
  pkg/cloudprovider/doc.go
  pkg/cloudprovider/providers/.import-restrictions
  pkg/cloudprovider/providers/doc.go
Labels: area/kubelet, kind/cleanup, area/apiserver, lgtm, area/cloudprovider, sig/node, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#124362 remove ScopeSelectors e2e feature label
  test/e2e/apimachinery/resource_quota.go
  test/e2e/feature/feature.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#124624 [test] statefulset controller: fix requests tracker concurrency
  pkg/controller/statefulset/stateful_set_control_test.go
Labels: kind/bug, lgtm, size/L, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#124612 Feat: warn user if etcd version is not supported for RequestWatchProgress feature.
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/feature/feature_support_checker.go
  staging/src/k8s.io/apiserver/pkg/storage/feature/feature_support_checker_test.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#124765 Manual cherry pick of #124559 upstream release 1.27
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/testing/wrappers.go
  test/e2e/scheduling/predicates.go
  test/integration/scheduler/filters/filters_test.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, sig/testing, do-not-merge/cherry-pick-not-approved, ok-to-test, needs-priority, kind/regression

#124402 Automated cherry pick of #122489: storage e2e: update hostpath and mock images
  test/e2e/storage/utils/create.go
  test/e2e/testing-manifests/storage-csi/external-attacher/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-health-monitor/external-health-monitor-controller/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-provisioner/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-resizer/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/csi-snapshotter/rbac-csi-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/README.md
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-driverinfo.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-testing.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
  test/e2e/testing-manifests/storage-csi/update-hostpath.sh
  test/utils/image/csi_manifests_test.go
Labels: area/test, lgtm, sig/storage, size/L, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124764 Manual cherry pick of #124559 upstream release 1.28
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/testing/wrappers.go
  test/e2e/scheduling/predicates.go
  test/integration/scheduler/filters/filters_test.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, kind/regression

#124799 KEP-4222: Add CBOR decoder unit test that accepts tag 55799.
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/cbor_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124401 Automated cherry pick of #122489: storage e2e: update hostpath and mock images
  test/e2e/storage/utils/create.go
  test/e2e/testing-manifests/storage-csi/external-attacher/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-health-monitor/external-health-monitor-controller/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-provisioner/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-resizer/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/csi-snapshotter/rbac-csi-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/README.md
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-driverinfo.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-testing.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
  test/e2e/testing-manifests/storage-csi/update-hostpath.sh
  test/utils/image/csi_manifests_test.go
Labels: area/test, lgtm, sig/storage, size/L, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124415 Automated cherry pick of #124289: e2e node: fix -v support
  test/e2e/framework/ginkgologger.go
  test/e2e_node/e2e_node_suite_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#124559 hotfix when a plugin (in-tree or out-of-tree) return non-existent/illegal nodes, the pod scheduling flow will abort immediately.
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/testing/wrappers.go
  test/e2e/scheduling/predicates.go
  test/integration/scheduler/filters/filters_test.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, kind/regression, needs-triage

#124403 Automated cherry pick of #122489: storage e2e: update hostpath and mock images
  test/e2e/storage/utils/create.go
  test/e2e/testing-manifests/storage-csi/external-attacher/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-health-monitor/external-health-monitor-controller/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-provisioner/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-resizer/rbac.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/csi-snapshotter/rbac-csi-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/README.md
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-driverinfo.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-testing.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
  test/e2e/testing-manifests/storage-csi/update-hostpath.sh
  test/utils/image/csi_manifests_test.go
Labels: area/test, lgtm, sig/storage, size/L, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124822 cleanup: eliminate unncessary NodeToStatusMap creation
  pkg/scheduler/schedule_one.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124823 Scheduling: Remove unnecessary string casting
  staging/src/k8s.io/component-helpers/scheduling/corev1/nodeaffinity/nodeaffinity.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124794 1.30: Clean up PersistentVolumeLabel admission plugin
  plugin/pkg/admission/storage/persistentvolume/label/admission.go
  plugin/pkg/admission/storage/persistentvolume/label/admission_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, kind/regression, triage/accepted

#124639 Automated cherry pick of #124528: Fix PersistentVolumeLabel admission plugin on Azure
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#124637 Automated cherry pick of #124528: Fix PersistentVolumeLabel admission plugin on Azure
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController_test.go
Labels: kind/bug, priority/important-soon, lgtm, area/cloudprovider, size/M, cherry-pick-approved, approved, cncf-cla: yes, sig/cloud-provider, triage/accepted

#124828 [go] Bump images, dependencies and versions to go 1.22.2 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#124835 Switch hard error to a WARNING for kernel version check
  pkg/kubelet/kubelet_pods.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#123151 add e2e test for HonorPVReclaimPolicy
  test/e2e/feature/feature.go
  test/e2e/framework/pv/pv.go
  test/e2e/storage/csimock/base.go
  test/e2e/storage/csimock/csi_honor_pv_reclaim_policy.go
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/testsuites/provisioning.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#124795 e2e: DaemonSet maxSurge test should account for terminated pods that are terminated by the test
  test/e2e/apps/daemon_set.go
Labels: kind/bug, area/test, priority/backlog, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, kind/failing-test, area/code-generation, triage/accepted

#124846 Fix assertion for host network hostname e2e test
  test/e2e/network/dns.go
Labels: kind/bug, area/test, sig/network, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#123638 graduate MatchLabelKeysInPodAffinity to Beta
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/core/types.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  test/integration/scheduler/filters/filters_test.go
Labels: area/test, sig/scheduling, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, api-review, needs-triage

#124675 Adding a deprecating featurer gate to fix cost
  pkg/apis/admissionregistration/validation/validation.go
  pkg/apis/admissionregistration/validation/validation_test.go
  pkg/features/kube_features.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/composition_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/filter_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/interface.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/validating/plugin.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/validating/typechecking.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/validating/validator_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/accessors.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/authentication/cel/compile_test.go
  staging/src/k8s.io/apiserver/pkg/authorization/cel/compile_test.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base_test.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/environment_test.go
  staging/src/k8s.io/apiserver/pkg/cel/lazy/lazy_test.go
  staging/src/k8s.io/apiserver/pkg/cel/mutation/env_test.go
  staging/src/k8s.io/apiserver/pkg/cel/mutation/unstructured/typeresolver_test.go
  staging/src/k8s.io/apiserver/pkg/cel/openapi/compiling_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/namedresources/cel/compile.go
  test/integration/apiserver/admissionwebhook/match_conditions_test.go
  test/integration/apiserver/cel/typeresolution_test.go
  test/integration/apiserver/cel/validatingadmissionpolicy_test.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/api-change, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, kind/regression, triage/accepted

#124683 feat: add ports autocompletion for kubectl port-forward command
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
  staging/src/k8s.io/kubectl/pkg/util/completion/completion.go
  staging/src/k8s.io/kubectl/pkg/util/completion/completion_test.go
Labels: priority/backlog, area/kubectl, lgtm, release-note, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, triage/accepted

#124739 Remove CRI `TimeoutError` type
  pkg/kubelet/cri/remote/remote_runtime.go
  pkg/probe/exec/errors.go
  pkg/probe/exec/errors_test.go
  pkg/probe/exec/exec.go
  pkg/probe/exec/exec_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#124741 Make remote runtime and image service logging independent
  cmd/kubemark/app/hollow_node.go
  pkg/kubelet/cri/remote/remote_image.go
  pkg/kubelet/cri/remote/remote_image_test.go
  pkg/kubelet/cri/remote/remote_runtime.go
  pkg/kubelet/cri/remote/remote_runtime_test.go
  pkg/kubelet/cri/remote/utils.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  test/e2e_node/util.go
Labels: area/test, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#123233 Fix daemonset to ensure old unhealthy pods are counted towards max unavailable budget.
  pkg/controller/daemon/update.go
  pkg/controller/daemon/update_test.go
Labels: kind/bug, lgtm, release-note, size/M, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#124850 Cleanup unused test functions
  test/utils/runners.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#124544 remove the support for in-tree volume plugin cephfs
  cmd/kubelet/app/plugins.go
  pkg/kubemark/hollow_kubelet.go
  pkg/volume/cephfs/OWNERS
  pkg/volume/cephfs/cephfs.go
  pkg/volume/cephfs/cephfs_test.go
  pkg/volume/cephfs/doc.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/in_tree_volumes.go
  test/utils/image/manifest.go
Labels: area/test, area/kubelet, kind/cleanup, sig/scalability, lgtm, sig/storage, sig/node, size/XL, kind/api-change, release-note-action-required, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/deprecation, triage/accepted

#124826 Move to generics for sets in kubeapiserver plugins
  pkg/kubeapiserver/options/plugins.go
  staging/src/k8s.io/apiserver/pkg/server/options/admission.go
  staging/src/k8s.io/apiserver/pkg/server/options/admission_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124838 kubeadm: remove outdate todo
  cmd/kubeadm/app/cmd/upgrade/diff_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#124864 Revert "remove legacycloudproviders from staging"
  go.mod
  go.work
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  staging/README.md
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/legacy-cloud-providers/.github/PULL_REQUEST_TEMPLATE.md
  staging/src/k8s.io/legacy-cloud-providers/LICENSE
  staging/src/k8s.io/legacy-cloud-providers/OWNERS
  staging/src/k8s.io/legacy-cloud-providers/README.md
  staging/src/k8s.io/legacy-cloud-providers/SECURITY_CONTACTS
  staging/src/k8s.io/legacy-cloud-providers/code-of-conduct.md
  staging/src/k8s.io/legacy-cloud-providers/doc.go
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
Labels: kind/bug, lgtm, release-note, size/L, area/release-eng, approved, cncf-cla: yes, kind/failing-test, sig/release, needs-priority, area/dependency, kind/regression, needs-triage

#124732 feat: add all-pods log flag to kubectl
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs.go
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs_test.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/helpers.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/helpers_test.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/interface.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject_test.go
  test/e2e/kubectl/logs.go
Labels: area/test, area/kubectl, lgtm, release-note, size/L, kind/feature, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#124813 remove BulkVolumeVerifier interface from volume
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/fc.go
  pkg/volume/flexvolume/plugin.go
  pkg/volume/git_repo/git_repo.go
  pkg/volume/hostpath/host_path.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/local/local.go
  pkg/volume/nfs/nfs.go
  pkg/volume/noop_expandable_plugin.go
  pkg/volume/plugins.go
  pkg/volume/plugins_test.go
  pkg/volume/portworx/portworx.go
  pkg/volume/projected/projected.go
  pkg/volume/secret/secret.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/fakegenerator.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/volume.go
Labels: kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#121508 QueueingHint for CSILimit when deleting pods
  pkg/scheduler/framework/plugins/nodevolumelimits/csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
Labels: sig/scheduling, lgtm, sig/storage, release-note, size/M, kind/feature, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage

#124865 e2e/network: dump iptables and conntrack flows for debugging
  test/e2e/framework/network/utils.go
Labels: area/test, sig/network, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#124798 Do not clean Job tracking finalizer for Pods owned by non-batch/Job
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Labels: kind/bug, area/test, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124874 kms mock: gitignore go.work.sum
  staging/src/k8s.io/kms/internal/plugins/_mock/.gitignore
  staging/src/k8s.io/kms/internal/plugins/_mock/go.work.sum
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#124883 kubectl create cronjobs: Manually set OwnerReferences
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_job_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, triage/accepted

#124831 [relase-1.28] [go] Bump images, dependencies and versions to go 1.21.10 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#124830 [release-1.29] [go] Bump images, dependencies and versions to go 1.21.10 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#124829 [release-1.30] [go] Bump images, dependencies and versions to go 1.22.2 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#124832 [release-1.27] [go] Bump images, dependencies and versions to go 1.21.10 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#124876 e2e-kind-cloud-provider-loadbalancer fixes, part 1
  test/e2e/network/loadbalancer.go
  test/e2e/network/service.go
Labels: area/test, priority/important-soon, sig/network, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#124888 Update publishing-bot rules to Go 1.21.10/1.22.3
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#124886 Revert "Revert "remove legacycloudproviders from staging""
  go.mod
  go.work
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  staging/README.md
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/legacy-cloud-providers/.github/PULL_REQUEST_TEMPLATE.md
  staging/src/k8s.io/legacy-cloud-providers/LICENSE
  staging/src/k8s.io/legacy-cloud-providers/OWNERS
  staging/src/k8s.io/legacy-cloud-providers/README.md
  staging/src/k8s.io/legacy-cloud-providers/SECURITY_CONTACTS
  staging/src/k8s.io/legacy-cloud-providers/code-of-conduct.md
  staging/src/k8s.io/legacy-cloud-providers/doc.go
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
Labels: kind/cleanup, lgtm, area/cloudprovider, release-note, size/L, area/release-eng, approved, cncf-cla: yes, sig/release, sig/cloud-provider, needs-priority, area/dependency, kind/deprecation, needs-triage

#124063 fix grace period used for immediate evictions
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/eviction/helpers_test.go
  pkg/kubelet/pod_workers.go
  pkg/kubelet/pod_workers_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#124790 Remove clusterName from VolumeOptions
  cmd/kube-controller-manager/app/core.go
  pkg/controller/volume/persistentvolume/pv_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
  pkg/volume/plugins.go
  pkg/volume/util/util.go
  pkg/volume/util/util_test.go
  test/integration/volume/attach_detach_test.go
  test/integration/volumescheduling/volume_binding_test.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124896 Update sig-cli owners
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#124657 chore: updates the release note to add behaviour change
  CHANGELOG/CHANGELOG-1.29.md
Labels: kind/cleanup, lgtm, size/XS, area/release-eng, release-note-none, sig/auth, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#120301 e2e_storage:stop using deprecated framework.ExpectError
  test/e2e/framework/expect.go
  test/e2e/storage/csimock/csi_attach_volume.go
  test/e2e/storage/csimock/csi_snapshot.go
  test/e2e/storage/csimock/csi_volume_expansion.go
  test/e2e/storage/persistent_volumes-local.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/snapshottable.go
  test/e2e/storage/testsuites/volume_expand.go
  test/e2e/storage/utils/utils.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/volume_provisioning.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#124820 kubeadm: add support for patching a corednsdeployment target
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/cmd/options/generic.go
  cmd/kubeadm/app/cmd/phases/init/addons.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
  cmd/kubeadm/app/phases/addons/dns/dns.go
  cmd/kubeadm/app/phases/addons/dns/dns_test.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
  cmd/kubeadm/app/util/patches/patches.go
Labels: priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#124906 Fix printPod panic with spurious container statuses
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, kind/regression, needs-triage

#123149 kubectl debug: Add --keep-* flag to control the removal of probes, labels, annotations, and initContainers from copy pod
  hack/testdata/pod-with-metadata-and-probes.yaml
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles_test.go
  test/cmd/debug.sh
Labels: area/test, priority/backlog, area/kubectl, lgtm, release-note, size/XXL, kind/feature, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#124442 kubeadm: support image pull mode and policy in UpgradeConfiguration
  cmd/kubeadm/app/apis/kubeadm/fuzzer/fuzzer.go
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/defaults.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.conversion.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/zz_generated.deepcopy.go
  cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/preflight.go
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/util/config/upgradeconfiguration_test.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, size/L, kind/feature, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#124824 Export PokeUDP helper function
  test/e2e/network/service.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#124920 Update an incorrect comment in kubeadm controlplane join phase
  cmd/kubeadm/app/cmd/phases/join/controlplanejoin.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, triage/accepted

#124909 Automated cherry pick of #124906: Fix printPod panic with spurious container statuses
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#124910 Automated cherry pick of #124906: Fix printPod panic with spurious container statuses
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, kind/regression, triage/accepted

#124614 client-go/reflector: warns when the bookmark event for initial events hasn't been received
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_watchlist_test.go
Labels: lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#124602 fix the version order of 'discovery.k8s.io'
  api/discovery/apis__discovery.k8s.io__v1.json
  pkg/apis/discovery/install/install.go
  pkg/controlplane/storageversionhashdata/data.go
  test/integration/etcd/data.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#124867 storage/cacher: waitUntilWatchCacheFreshAndForceAllEvents checks if storage.RequestWatchProgress is supported
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#124929 [kube-proxy]: Remove unused util functions
  pkg/proxy/util/endpoints.go
  pkg/proxy/util/endpoints_test.go
  pkg/proxy/util/utils.go
  pkg/proxy/util/utils_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#124912 encryptionconfig: detect typos
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/invalid-typo.yaml
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, kind/api-change, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#125005 Use ptr.To instead of deprecated pointer functions
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_token.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_token_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/sorter_test.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#125008 Update sig-cli owners
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#125009 define BRANCH to silence undefined variable warning
  build/root/Makefile
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#124802 Automated cherry pick of #124662: Updated & added visibility to apiserver x509 test
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, kind/failing-test, ok-to-test, triage/accepted

#124805 Automated cherry pick of #124662: Updated & added visibility to apiserver x509 test
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, kind/failing-test, ok-to-test, triage/accepted

#124803 Automated cherry pick of #124662: Updated & added visibility to apiserver x509 test
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, kind/failing-test, ok-to-test, triage/accepted

#124804 Automated cherry pick of #124662: Updated & added visibility to apiserver x509 test
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/L, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, kind/failing-test, ok-to-test, triage/accepted

#122791 cleanup: replace ENABLE_CLIENT_GO_WATCH_LIST_ALPHA with WatchListClient gate
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  test/e2e/apimachinery/watchlist.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#124926 enhancement(scheduler): share waitingPods among profiles
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/runtime/waiting_pods_map.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#124465 kubeadm: use etcd 3.5.11's /livez and /readyz endpoints for probes
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/constants/constants_test.go
  cmd/kubeadm/app/phases/etcd/local.go
  cmd/kubeadm/app/phases/etcd/local_test.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#124506 Fix kubectl explain bug when additionalProperties in schema defines as boolean.
  staging/src/k8s.io/kubectl/pkg/explain/v2/templates/plaintext.tmpl
  staging/src/k8s.io/kubectl/pkg/explain/v2/templates/plaintext_test.go
  test/cmd/discovery.sh
  test/cmd/legacy-script.sh
Labels: kind/bug, area/test, priority/backlog, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, tide/merge-method-squash, ok-to-test, triage/accepted

#124933 [Scheduler] Use allNodes when calculating nextStartNodeIndex
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  test/integration/scheduler/scheduler_test.go
Labels: kind/bug, area/test, priority/critical-urgent, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, sig/testing, kind/regression, needs-triage

#125019 Reduce critical section for watchcache.lock
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#125006 increase memory limit for e2e test containers
  test/e2e_node/container_lifecycle_pod_construction.go
Labels: area/test, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125037 [Flake] Fix test in kubectl logs all pods
  test/e2e/kubectl/logs.go
Labels: area/test, priority/important-soon, lgtm, size/S, kind/flake, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#125035 log-dump.sh: dump containerd by default, not docker
  cluster/log-dump/log-dump.sh
Labels: kind/cleanup, sig/scalability, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#125024 Automated cherry pick of #122027: Don't sort under lock
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/S, cherry-pick-approved, approved, cncf-cla: yes, kind/regression, triage/accepted
