Repository kubernetes/kubernetes, pull requests merged in 2024-11, with the labels that each got.

#127928 Automated cherry pick of #127902: server/config: assing system:apiserver user to system:authenticated group
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128399 Refactor the dynamicResources struct to DynamicResources
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#128293 Fix typo for `kubeadm`
  CHANGELOG/CHANGELOG-1.16.md
  CHANGELOG/CHANGELOG-1.28.md
  CHANGELOG/CHANGELOG-1.29.md
  CHANGELOG/CHANGELOG-1.30.md
  CHANGELOG/CHANGELOG-1.31.md
  CHANGELOG/CHANGELOG-1.32.md
Labels: kind/documentation, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, needs-priority, needs-triage

#128439 clustertrustbundle, token_manager: migrate to contextual logging
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  pkg/kubelet/clustertrustbundle/clustertrustbundle_manager.go
  pkg/kubelet/clustertrustbundle/clustertrustbundle_manager_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/token/token_manager.go
  pkg/kubelet/token/token_manager_test.go
Labels: area/kubelet, kind/cleanup, lgtm, area/logging, sig/node, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted, wg/structured-logging

#128487 kubeadm: ensure proper parsing of SSR username
  cmd/kubeadm/app/cmd/upgrade/common.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/config/cluster_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, kind/failing-test, needs-triage

#128491 KEP-4222: Add integration test for CBOR-enabled dynamic client watches.
  test/integration/client/dynamic_client_test.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#127743 chore(leader-election): modify leader-election comment to OnStoppedLeading callback is always called when the LeaderElector exits, even if it did not start leading.
  staging/src/k8s.io/client-go/examples/leader-election/main.go
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128219 kubelet: Fix the volume manager didn't check the device mount state in the actual state of the world before marking the volume as detached
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_common.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, kind/regression, needs-triage

#128344 Allow for container fs and image fs to be on the same drive but in a different partition
  pkg/kubelet/container/container_gc.go
  pkg/kubelet/container/container_gc_test.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/eviction/types.go
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/provider.go
  pkg/kubelet/stats/provider_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#128497 KEP-4222: Fall back to JSON request encoding after CBOR 415.
  staging/src/k8s.io/client-go/rest/client.go
  staging/src/k8s.io/client-go/rest/request.go
  test/integration/client/client_test.go
  test/integration/client/dynamic_client_test.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128490 Remove incorrect usage of golang.org/x/net/context
  test/e2e/storage/drivers/csi-test/mock/service/controller.go
  test/e2e/storage/drivers/csi-test/mock/service/identity.go
  test/e2e/storage/drivers/csi-test/mock/service/node.go
  test/e2e/storage/drivers/csi-test/mock/service/service.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#127744 Tighten validation on the qosClass field of pod status
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/registry/core/pod/strategy.go
Labels: kind/bug, area/test, priority/backlog, lgtm, sig/storage, sig/node, release-note, size/M, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, api-review, triage/accepted

#126620 [InPlacePodVerticalScaling] fix restore checkpoint bug: failed to verify pod status checkpoint checksum because of different behaviors of func Quantity.Marshal and Quantity.Unmarshal
  pkg/kubelet/status/state/checkpoint.go
  pkg/kubelet/status/state/state_checkpoint.go
  pkg/kubelet/status/state/state_checkpoint_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, release-note-action-required, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#128508 Don't stop the next poll when it fails to grab logs
  test/e2e/network/dns_common.go
Labels: area/test, sig/network, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128511 Revert "Don't stop the next poll when it fails to grab logs"
  test/e2e/network/dns_common.go
Labels: area/test, sig/network, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128474 kubeadm: use actual addresses/ports for WaitForAllControlPlaneComponents
  cmd/kubeadm/app/util/apiclient/wait.go
  cmd/kubeadm/app/util/apiclient/wait_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#128484 improve error message format for WaitForPodSuccessInNamespaceTimeout
  test/e2e/framework/pod/wait.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#127074 memorymanager: fix checkpoint file comparison
  pkg/kubelet/cm/memorymanager/policy_static.go
  pkg/kubelet/cm/memorymanager/policy_static_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#128470 kubectl: add test coverage for autoscale command
  staging/src/k8s.io/kubectl/pkg/cmd/autoscale/autoscale_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#128526 simplify ScalingReplicaSet event building in the deployment controller
  pkg/controller/deployment/sync.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#128494 Drop go-colortext and its usage
  LICENSES/vendor/github.com/daviddengcn/go-colortext/LICENSE
  go.mod
  go.sum
  go.work.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubectl/pkg/cmd/clusterinfo/clusterinfo.go
  vendor/github.com/daviddengcn/go-colortext/.gitignore
  vendor/github.com/daviddengcn/go-colortext/LICENSE
  vendor/github.com/daviddengcn/go-colortext/README.md
  vendor/github.com/daviddengcn/go-colortext/ct.go
  vendor/github.com/daviddengcn/go-colortext/ct_ansi.go
  vendor/github.com/daviddengcn/go-colortext/ct_win.go
  vendor/modules.txt
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, area/dependency, triage/accepted

#128533 vendor: update system-validators to v1.9.1
  go.mod
  go.sum
  hack/unwanted-dependencies.json
  vendor/k8s.io/system-validators/validators/cgroup_validator_linux.go
  vendor/k8s.io/system-validators/validators/docker_validator.go
  vendor/k8s.io/system-validators/validators/kernel_validator.go
  vendor/k8s.io/system-validators/validators/os_validator_unix.go
  vendor/k8s.io/system-validators/validators/os_validator_windows.go
  vendor/k8s.io/system-validators/validators/package_validator_linux.go
  vendor/k8s.io/system-validators/validators/report.go
  vendor/k8s.io/system-validators/validators/types.go
  vendor/k8s.io/system-validators/validators/types_unix.go
  vendor/k8s.io/system-validators/validators/types_windows.go
  vendor/modules.txt
Labels: lgtm, sig/node, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#126894 remove generally available feature-gate ZeroLimitedNominalConcurrencyShares
  pkg/apis/flowcontrol/validation/validation.go
  pkg/apis/flowcontrol/validation/validation_test.go
  pkg/features/versioned_kube_features.go
  pkg/registry/flowcontrol/prioritylevelconfiguration/strategy.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#128517 node: kubelet: memmgr: Memory Manager to GA
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/metrics/metrics.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, ok-to-test, triage/accepted

#128387 Promote PodIndexLabel for Statefulset and IndexedJob stable
  pkg/controller/job/job_controller_test.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/features/versioned_kube_features.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: lgtm, release-note, size/M, kind/feature, sig/apps, approved, cncf-cla: yes, priority/important-longterm, tide/merge-method-squash, triage/accepted

#128535 add tests for getReplicaSetFraction in the deployment controller
  pkg/controller/deployment/sync.go
  pkg/controller/deployment/util/deployment_util.go
  pkg/controller/deployment/util/deployment_util_test.go
Labels: kind/bug, kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, tide/merge-method-squash, triage/accepted

#124216 [FG:InPlacePodVerticalScaling] Handle systemd cgroup driver by using libcontainer for updating pod cgroup values
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/cgroup_manager_unsupported.go
  pkg/kubelet/cm/cgroup_v1_manager_linux.go
  pkg/kubelet/cm/cgroup_v2_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/fake_pod_container_manager.go
  pkg/kubelet/cm/pod_container_manager_linux.go
  pkg/kubelet/cm/types.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#128430 do not install handler for '/metrics/slis' endpoint using sync.Once
  pkg/kubelet/server/auth_test.go
  pkg/kubelet/server/server_test.go
  staging/src/k8s.io/component-base/metrics/prometheus/slis/routes.go
  staging/src/k8s.io/component-base/metrics/prometheus/slis/routes_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted

#128523 clean up tmp kubelet dir after run tests
  pkg/volume/testing/testing.go
Labels: kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#128046 Graduate PodLifecycleSleepAction to GA
  pkg/api/pod/util_test.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/lifecycle/handlers_test.go
  pkg/registry/core/pod/strategy_test.go
  test/e2e/common/node/lifecycle_hook.go
  test/e2e/feature/feature.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, triage/accepted

#127910 fix node start time inconsistency in kubelet
  pkg/kubelet/util/boottime_util_linux.go
  pkg/kubelet/util/boottime_util_linux_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#128342 Move RecoverVolumeExpansionFailure feature to beta
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/volume/util/operationexecutor/node_expander.go
  pkg/volume/util/operationexecutor/node_expander_test.go
  pkg/volume/util/operationexecutor/operation_generator_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: lgtm, sig/storage, release-note, size/M, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#128514 e2e_node: Pass e2eCriProxy instead of updating global.
  test/e2e_node/criproxy_test.go
  test/e2e_node/image_pull_test.go
  test/e2e_node/utils_linux.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#128547 rest client watch: use same name for package as folder
  staging/src/k8s.io/client-go/rest/watch/decoder.go
  staging/src/k8s.io/client-go/rest/watch/decoder_test.go
  staging/src/k8s.io/client-go/rest/watch/encoder.go
  staging/src/k8s.io/client-go/rest/watch/encoder_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#125296 Support CPU and Topology manager on Windows
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_others.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/cpu_manager_windows.go
  pkg/kubelet/cm/internal_container_lifecycle_windows.go
  pkg/kubelet/winstats/cpu_topology.go
  pkg/kubelet/winstats/cpu_topology_test.go
  pkg/kubelet/winstats/perfcounter_nodestats_windows.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XL, kind/feature, approved, sig/windows, cncf-cla: yes, triage/accepted

#128096 e2e_node: consolidated NFSServer APIs.
  test/e2e/framework/volume/fixtures.go
  test/e2e/node/kubelet.go
  test/e2e_node/mirror_pod_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#127874 Cleanup unused images or containers first when eviction manager detects ContainerFsInodesFree signal
  pkg/kubelet/eviction/helpers.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XS, kind/flake, approved, cncf-cla: yes, triage/accepted

#128369 KEP-4603: Refactor various hardcoded backoffs into separate constants
  pkg/kubelet/kubelet.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, triage/accepted

#127277 kube-scheduler: enhance performance for DRA structured parameters
  pkg/scheduler/framework/plugins/dynamicresources/allocateddevices.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  staging/src/k8s.io/dynamic-resource-allocation/api/conversion.go
  staging/src/k8s.io/dynamic-resource-allocation/api/doc.go
  staging/src/k8s.io/dynamic-resource-allocation/api/types.go
  staging/src/k8s.io/dynamic-resource-allocation/api/uniquestring.go
  staging/src/k8s.io/dynamic-resource-allocation/api/zz_generated.conversion.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/cache.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/cache_test.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator_test.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/pools.go
  test/integration/scheduler_perf/dra.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/api-change, sig/auth, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/code-generation, needs-priority, triage/accepted, sig/etcd, wg/device-management

#128352 port-forward: fixed error handling for empty remote port
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#128482 fix: register QHint metrics only when available
  test/integration/scheduler_perf/scheduler_perf.go
Labels: kind/bug, area/test, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128566 Run scheduler_perf with QueueingHints both enabled and disabled
  test/integration/scheduler_perf/affinity/performance-config.yaml
  test/integration/scheduler_perf/dra/performance-config.yaml
  test/integration/scheduler_perf/misc/performance-config.yaml
  test/integration/scheduler_perf/volumes/performance-config.yaml
Labels: area/test, kind/cleanup, lgtm, size/XL, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#126862 Remove generally available feature gate HPAContainerMetrics
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__autoscaling__v2_openapi.json
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/autoscaling/v1/generated.proto
  staging/src/k8s.io/api/autoscaling/v1/types.go
  staging/src/k8s.io/api/autoscaling/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/autoscaling/v2/generated.proto
  staging/src/k8s.io/api/autoscaling/v2/types.go
  staging/src/k8s.io/api/autoscaling/v2/types_swagger_doc_generated.go
  staging/src/k8s.io/api/autoscaling/v2beta1/generated.proto
  staging/src/k8s.io/api/autoscaling/v2beta1/types.go
  staging/src/k8s.io/api/autoscaling/v2beta1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/autoscaling/v2beta2/generated.proto
  staging/src/k8s.io/api/autoscaling/v2beta2/types.go
  staging/src/k8s.io/api/autoscaling/v2beta2/types_swagger_doc_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, sig/autoscaling, size/M, kind/api-change, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#128574 Drop remnants in hack/unwanted-dependencies.json as we switched hcsshim->hnslib
  hack/unwanted-dependencies.json
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/code-organization, needs-triage

#126533 Realign line breaks in kubectl explain wrap method
  staging/src/k8s.io/kubectl/pkg/explain/v2/funcs.go
  staging/src/k8s.io/kubectl/pkg/explain/v2/funcs_test.go
Labels: area/kubectl, lgtm, release-note, size/S, kind/feature, approved, sig/cli, cncf-cla: yes, priority/important-longterm, lifecycle/stale, triage/accepted

#126870 Ensure mirror pods are created as soon as node is registered
  pkg/kubelet/kubelet.go
  pkg/kubelet/pod/pod_manager.go
  pkg/kubelet/pod/pod_manager_test.go
  pkg/kubelet/pod/testing/mock_manager.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128415 Use btree for watch cache storage to serve LIST more efficiently
  pkg/features/versioned_kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/store.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/store_btree_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/apiserver, lgtm, area/cloudprovider, sig/api-machinery, release-note, size/L, kind/feature, sig/auth, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, area/dependency, triage/accepted

#128462 KEP-4222: Reject custom marshalers from direct CBOR Marshal and Unmarshal.
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/direct/direct.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/direct/direct_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128581 e2e: ctb: run the tests as Serial for now
  test/e2e/auth/projected_clustertrustbundle.go
Labels: area/test, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#123549 A new controller adds/removes finalizer to VAC for protection
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/controllermanager_test.go
  cmd/kube-controller-manager/app/core.go
  cmd/kube-controller-manager/names/controller_names.go
  pkg/controller/volume/protectionutil/wrappers.go
  pkg/controller/volume/vacprotection/vac_protection_controller.go
  pkg/controller/volume/vacprotection/vac_protection_controller_test.go
  pkg/volume/util/finalizer.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
Labels: lgtm, sig/storage, sig/api-machinery, release-note, size/XXL, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#126605 Fix storage E2E VolumeAttributesClass tests
  test/e2e/framework/pv/wait.go
  test/e2e/storage/testsuites/volume_modify.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#126806 Kubelet should honour the VolumeAttributes which are reported by the volume plugin
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_linux_test.go
  pkg/kubelet/kubelet_volumes_test.go
  pkg/volume/image/image.go
Labels: kind/bug, area/kubelet, lgtm, sig/storage, sig/node, release-note, size/L, approved, cncf-cla: yes, needs-priority, needs-triage

#127404 Windows node graceful shutdown
  cmd/kubelet/app/init_windows.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_others.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_windows.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_windows_test.go
  pkg/windows/service/OWNERS
  pkg/windows/service/service.go
  test/e2e/windows/node_shutdown.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XXL, kind/feature, approved, sig/windows, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#128377 [FG:InPlacePodVerticalScaling] Implement AllocatedResources status changes for Beta
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/cm/helpers_linux.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/pods_test.go
  pkg/scheduler/framework/events.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/resource_allocation.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
  plugin/pkg/admission/limitranger/admission.go
  staging/src/k8s.io/component-helpers/resource/helpers.go
  staging/src/k8s.io/component-helpers/resource/helpers_test.go
  staging/src/k8s.io/kubectl/pkg/util/resource/resource.go
  test/e2e/common/node/pod_resize.go
  test/e2e/framework/pod/resize.go
  test/e2e/node/pod_resize.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, priority/important-soon, area/kubelet, sig/scheduling, area/kubectl, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, approved, sig/cli, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#121206 Stop StartupProbe explicity when successThrethold is reached
  pkg/kubelet/prober/common_test.go
  pkg/kubelet/prober/worker.go
  pkg/kubelet/prober/worker_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, ok-to-test, triage/accepted

#126525 Restart sidecar container when the image has changed
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  test/e2e_node/container_lifecycle_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, size/XXL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#128505 Fix CLE leader lock acquisition
  pkg/controlplane/controller/leaderelection/run_with_leaderelection.go
  test/integration/apiserver/coordinatedleaderelection/leaderelection_test.go
  test/integration/apiserver/coordinatedleaderelection/main_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#128189 Fix the incorrect metrics setting/naming in nodeshutdown manager
  pkg/kubelet/metrics/metrics.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#128403 Fix failing test: PodRejectionStatus Kubelet should reject pod when the node didn't have enough resource
  test/e2e/common/node/pod_admission.go
  test/e2e/node/pod_admission.go
Labels: area/test, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#128432 Integrate device plugin registration gRPC server health checks.
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_stub.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/server.go
  pkg/kubelet/cm/devicemanager/types.go
  pkg/kubelet/cm/fake_container_manager.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  pkg/kubelet/watchdog/watchdog_linux.go
  pkg/kubelet/watchdog/watchdog_unsupported.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, ok-to-test, triage/accepted

#128551 [FG:InPlacePodVerticalScaling] Don't checkpoint ResizeStatus
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/status/fake_status_manager.go
  pkg/kubelet/status/state/checkpoint.go
  pkg/kubelet/status/state/state.go
  pkg/kubelet/status/state/state_checkpoint.go
  pkg/kubelet/status/state/state_checkpoint_test.go
  pkg/kubelet/status/state/state_mem.go
  pkg/kubelet/status/status_manager.go
Labels: area/test, priority/important-soon, area/kubelet, sig/scheduling, area/kubectl, lgtm, sig/node, sig/api-machinery, size/L, kind/api-change, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#128553 Validation: merge TooLong and TooLongMaxLen
  pkg/apis/batch/validation/validation.go
  pkg/apis/batch/validation/validation_test.go
  pkg/apis/certificates/validation/validation.go
  pkg/apis/certificates/validation/validation_test.go
  pkg/apis/core/validation/names.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  pkg/apis/storage/validation/validation.go
  pkg/apis/storagemigration/validation/validation.go
  pkg/controlplane/controller/clusterauthenticationtrust/cluster_authentication_trust_controller_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation_test.go
  staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/errors.go
  test/integration/controlplane/synthetic_controlplane_test.go
Labels: area/test, sig/network, kind/cleanup, lgtm, sig/storage, sig/api-machinery, size/L, kind/api-change, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted, wg/device-management

#128584 Compartmentalize spew more
  staging/publishing/import-restrictions.yaml
  staging/src/k8s.io/code-generator/cmd/deepcopy-gen/output_tests/output_test.go
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/endpointslice/util/controller_utils.go
Labels: sig/network, kind/cleanup, lgtm, sig/api-machinery, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, area/code-generation, needs-priority, triage/accepted

#128266 [FG:InPlacePodVerticalScaling] Introduce /resize subresource to request pod resource resizing
  api/discovery/api__v1.json
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/api/pod/testing/make.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/quota/v1/evaluator/core/persistent_volume_claims.go
  pkg/quota/v1/evaluator/core/persistent_volume_claims_test.go
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/pods_test.go
  pkg/quota/v1/evaluator/core/resource_claims.go
  pkg/quota/v1/evaluator/core/resource_claims_test.go
  pkg/quota/v1/evaluator/core/services.go
  pkg/quota/v1/evaluator/core/services_test.go
  pkg/registry/core/pod/storage/storage.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
  pkg/registry/core/rest/storage_core.go
  plugin/pkg/admission/limitranger/admission.go
  plugin/pkg/admission/limitranger/admission_test.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/admission.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/admission_test.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/generic/evaluator.go
  staging/src/k8s.io/apiserver/pkg/quota/v1/generic/evaluator_test.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_pod.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/pod.go
  test/e2e/common/node/pod_resize.go
  test/e2e/node/pod_resize.go
  test/integration/apiserver/cel/validatingadmissionpolicy_test.go
  test/integration/authutil/authutil.go
  test/integration/pods/pods_test.go
  test/integration/scheduler/queue_test.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, api-review, triage/accepted

#128453 Cleanup unused cacheless PLEG code
  pkg/kubelet/pleg/generic.go
  pkg/kubelet/pleg/generic_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128532 kubeadm: use advertise address for WaitForAllControlPlaneComponents
  cmd/kubeadm/app/cmd/phases/init/waitcontrolplane.go
  cmd/kubeadm/app/cmd/phases/join/waitcontrolplane.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/apiclient/wait.go
  cmd/kubeadm/app/util/apiclient/wait_test.go
  cmd/kubeadm/app/util/dryrun/dryrun.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#128582 DRA resource slice controller: fix unit test flake
  staging/src/k8s.io/dynamic-resource-allocation/resourceslice/resourceslicecontroller_test.go
Labels: kind/bug, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, needs-triage, wg/device-management

#128590 Add integration test for per-resource storage encoding.
  test/integration/apiserver/apiserver_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted, sig/etcd

#127904 DRA: allow Cluster Autoscaler to integrate with DRA scheduler plugin
  pkg/scheduler/framework/autoscaler_contract/framework_contract_test.go
  pkg/scheduler/framework/autoscaler_contract/lister_contract_test.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/listers.go
  pkg/scheduler/framework/plugins/dynamicresources/dra_manager.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/scheduler.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator_test.go
  test/integration/scheduler_perf/dra.go
Labels: area/test, sig/scheduling, lgtm, sig/node, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#128194 test: refactor logic to add/remove extended resources
  test/e2e/common/node/pod_resize.go
  test/e2e/framework/node/helper.go
  test/e2e/scheduling/preemption.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#128296 [FG:InPlacePodVerticalScaling] Remove restrictions on subresource flag in kubectl commands
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/edit/edit.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
  staging/src/k8s.io/kubectl/pkg/cmd/patch/patch.go
  staging/src/k8s.io/kubectl/pkg/cmd/replace/replace.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/editor/editoptions.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Labels: area/kubectl, lgtm, release-note, size/M, kind/api-change, kind/feature, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#126750 Split L3 Cache Topology Awareness in CPU Manager
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_test.go
  pkg/kubelet/cm/cpumanager/topology/topology.go
  pkg/kubelet/cm/cpumanager/topology/topology_test.go
  pkg/kubelet/cm/cpumanager/topology_hints_test.go
Labels: area/kubelet, lgtm, sig/node, size/XXL, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#128530 Automated cherry pick of #128468: Fix TestCacherDontMissEventsOnReinitialization test
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/S, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#128615 update openapi spec after v1.32 beta release
  api/discovery/aggregated_v2.json
  api/discovery/apis.json
  api/discovery/apis__admissionregistration.k8s.io__v1alpha1.json
  api/discovery/apis__authentication.k8s.io.json
  api/discovery/apis__authentication.k8s.io__v1alpha1.json
  api/discovery/apis__certificates.k8s.io.json
  api/discovery/apis__certificates.k8s.io__v1alpha1.json
  api/discovery/apis__flowcontrol.apiserver.k8s.io.json
  api/discovery/apis__flowcontrol.apiserver.k8s.io__v1beta3.json
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__authentication.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__certificates.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__flowcontrol.apiserver.k8s.io__v1beta3_openapi.json
Labels: kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#128380 apiserver: avoid TODO in public docs
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted, wg/structured-logging

#128394 add randomness to nodeStatusReportFrequency for kubelet
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#128447 kubelet: Migrate CAdvisor to contextual logging
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  pkg/kubelet/cadvisor/cadvisor_linux.go
  pkg/kubelet/cadvisor/cadvisor_unsupported.go
  pkg/kubelet/cadvisor/cadvisor_windows.go
  pkg/kubelet/cadvisor/testing/cadvisor_fake.go
  pkg/kubelet/cadvisor/testing/cadvisor_mock.go
  pkg/kubelet/cadvisor/types.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/runonce_test.go
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/provider.go
Labels: area/kubelet, kind/cleanup, lgtm, area/logging, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted, wg/structured-logging

#128501 KEP-4222: Use cbor-seq content-type for CBOR watch responses.
  staging/src/k8s.io/apimachinery/pkg/runtime/types.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/negotiation/negotiate.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/client-go/rest/client.go
  test/integration/client/client_test.go
  test/integration/client/dynamic_client_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted, sig/etcd

#128554 Add WebhookMatchCondition doc comment
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1beta1/types.go
Labels: kind/documentation, lgtm, size/S, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#128556 Introduce a metric to track kubelet admission failure.
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/lifecycle/handlers.go
  pkg/kubelet/lifecycle/predicate.go
  pkg/kubelet/metrics/metrics.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_windows.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, triage/accepted

#128576 e2e_node: refactor Kubelet stopping and restarting
  test/e2e_node/container_lifecycle_test.go
  test/e2e_node/device_manager_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/dra_test.go
  test/e2e_node/hugepages_test.go
  test/e2e_node/image_gc_test.go
  test/e2e_node/kubelet_config_dir_test.go
  test/e2e_node/node_container_manager_test.go
  test/e2e_node/node_perf_test.go
  test/e2e_node/os_label_rename_test.go
  test/e2e_node/podresources_test.go
  test/e2e_node/restart_test.go
  test/e2e_node/unknown_pods_test.go
  test/e2e_node/util.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#128598 [FG:InPlacePodVerticalScaling] fix InPlacePodVerticalScaling e2e tests
  test/e2e/node/pod_resize.go
Labels: area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#124074 fix description for PersistentVolumeSource and VolumeSource
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1_openapi.json
  pkg/apis/core/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: lgtm, sig/storage, sig/api-machinery, size/L, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#128521 improve the code in test/e2e/framework/job/wait.go
  test/e2e/framework/job/wait.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#128077 Enforce service account node audience restriction
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
  test/integration/auth/main_test.go
  test/integration/auth/node_test.go
Labels: area/test, priority/important-soon, lgtm, sig/storage, release-note, size/XL, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#128503 KEP-4222: Wire serving codecs to CBOR feature gate.
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__apiextensions.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__apiregistration.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__authentication.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__authentication.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__authorization.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__autoscaling__v1_openapi.json
  api/openapi-spec/v3/apis__autoscaling__v2_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  api/openapi-spec/v3/apis__certificates.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__coordination.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__coordination.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__discovery.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__events.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__flowcontrol.apiserver.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__internal.apiserver.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__networking.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__networking.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__node.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__policy__v1_openapi.json
  api/openapi-spec/v3/apis__rbac.authorization.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1alpha3_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__scheduling.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__storagemigration.k8s.io__v1alpha1_openapi.json
  pkg/registry/core/rest/storage_core_generic.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/cbor.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/util/apihelpers/helpers.go
  staging/src/k8s.io/client-go/rest/config.go
  test/integration/apiserver/admissionwebhook/admission_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/apiserver/apply/apply_test.go
  test/integration/apiserver/apply/status_test.go
  test/integration/apiserver/cbor_test.go
  test/integration/client/client_test.go
  test/integration/client/dynamic_client_test.go
  test/integration/controlplane/transformation/kms_transformation_test.go
  test/integration/etcd/etcd_storage_path_test.go
  test/integration/etcd/server.go
  test/integration/framework/cbor.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted, sig/etcd

#128623 [FG:InPlacePodVerticalScaling] Drop InPlacePodVerticalScaling support in windows
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/M, sig/apps, approved, cncf-cla: yes, triage/accepted

#128627 Revert "Graduate PodLifecycleSleepAction to GA"
  pkg/api/pod/util_test.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/lifecycle/handlers_test.go
  pkg/registry/core/pod/strategy_test.go
  test/e2e/common/node/lifecycle_hook.go
  test/e2e/feature/feature.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#128522 Cleanups about kubelet/volumemanager
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/desired_state_of_world.go
  pkg/kubelet/volumemanager/cache/desired_state_of_world_test.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/kubelet/volumemanager/reconciler/reconstruct.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_common.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_test.go
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#128601 DRA API: opaque parameters length limit
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1alpha3_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1beta1_openapi.json
  pkg/apis/resource/types.go
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_deviceclass_test.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/resource/v1alpha3/generated.proto
  staging/src/k8s.io/api/resource/v1alpha3/types.go
  staging/src/k8s.io/api/resource/v1alpha3/types_swagger_doc_generated.go
  staging/src/k8s.io/api/resource/v1beta1/generated.proto
  staging/src/k8s.io/api/resource/v1beta1/types.go
  staging/src/k8s.io/api/resource/v1beta1/types_swagger_doc_generated.go
Labels: area/test, area/kubelet, sig/scheduling, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/L, kind/api-change, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, needs-triage, sig/etcd, wg/device-management

#128629 Revert "Add random interval to nodeStatusReport interval every time after an actual node status change
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
Labels: priority/critical-urgent, area/kubelet, lgtm, sig/node, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, needs-triage

#128166 test: add integration test for allow-metric-label
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  test/integration/metrics/metrics_test.go
Labels: kind/bug, area/test, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, ok-to-test, needs-priority, needs-triage

#121897 daemonset registry: add unit test for UpdateStatus
  pkg/registry/apps/daemonset/storage/storage_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#128639 Fix flake in CEL cost stability tests
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/celcoststability_test.go
Labels: priority/important-soon, lgtm, sig/api-machinery, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, needs-triage

#124952 [Sidecar Containers] Pods comparison by maxContainerRestarts should account for sidecar containers
  pkg/controller/controller_utils.go
  pkg/controller/controller_utils_test.go
  staging/src/k8s.io/kubectl/pkg/util/podutils/podutils.go
  staging/src/k8s.io/kubectl/pkg/util/podutils/podutils_test.go
Labels: priority/important-soon, area/kubectl, lgtm, release-note, size/L, kind/feature, sig/apps, approved, sig/cli, cncf-cla: yes, triage/accepted

#128630 call cancel on plugin that is replaced by another plugin with the same name
  pkg/kubelet/cm/dra/plugin/plugins_store.go
  pkg/kubelet/cm/dra/plugin/plugins_store_test.go
  pkg/kubelet/cm/dra/plugin/registration.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#128637 Bug fix: MutatingAdmissionPolicy should default builtin types after each mutation
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/mutating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/mutating/dispatcher_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#128648 scheduler_perf: fix steady-state pod creation/deletion
  test/integration/scheduler_perf/scheduler_perf.go
Labels: area/test, kind/cleanup, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage, wg/device-management

#127224 Add integration test for NodeVolumeLimits in requeueing scenarios
  pkg/scheduler/testing/wrappers.go
  test/integration/scheduler/queue_test.go
Labels: area/test, sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128148 Dependences: update opencontainers/selinux to v1.11.1
  go.mod
  go.sum
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs_linux.go
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/README.md
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
  vendor/modules.txt
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/dependency, triage/accepted

#128383 remove csi translator from volume operation generator
  pkg/volume/util/operationexecutor/fakegenerator.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#128634 Remove PodHostIPs feature gates
  pkg/api/pod/util.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/kubelet_pods.go
  test/conformance/testdata/conformance.yaml
  test/e2e/common/node/downwardapi.go
  test/e2e_node/pod_host_ips.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, needs-triage

#128640 Add random interval to nodeStatusReport interval every time after an actual node status change
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#128147 Replace PollImmediate with PollUntilContextTimeout
  staging/src/k8s.io/kubectl/pkg/cmd/apply/patcher.go
  staging/src/k8s.io/kubectl/pkg/cmd/replace/replace.go
  staging/src/k8s.io/kubectl/pkg/scale/scale.go
  staging/src/k8s.io/kubectl/pkg/scale/scale_test.go
  test/utils/update_resources.go
Labels: area/test, priority/backlog, kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, tide/merge-method-squash, triage/accepted

#128495 refresh probed plugins on init to avoid probe race/erroneous unmounts
  pkg/volume/plugins.go
  pkg/volume/plugins_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#124817 remove loggedDeprecationWarnings from VolumePluginMgr
  pkg/volume/plugins.go
Labels: kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#128472 feat: graduate SchedulerQueueingHints to beta
  pkg/features/versioned_kube_features.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: sig/scheduling, lgtm, release-note, size/S, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#128498 flake(TestReconcilerAPIServerLeaseMultiCombined): fix TestReconcilerAPIServerLeaseMultiCombined flake
  test/integration/controlplane/kube_apiserver_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#128664 mark the status of fake node as NotReady
  test/e2e/node/node_lifecycle.go
Labels: area/test, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128569 Job: Add evaluation step comments in the syncJob
  pkg/controller/job/job_controller.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#128641 KEP-4222: Fix JSON fallback for clients using default content-type and add E2E client test.
  staging/src/k8s.io/client-go/rest/client.go
  staging/src/k8s.io/client-go/rest/request.go
  test/e2e/apimachinery/protocol.go
  test/e2e/feature/feature.go
  test/integration/client/client_test.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#128658 clustertrustbundles: extend alpha for 2 more releases
  api/discovery/aggregated_v2.json
  api/discovery/apis.json
  api/discovery/apis__certificates.k8s.io.json
  api/discovery/apis__certificates.k8s.io__v1alpha1.json
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__certificates.k8s.io__v1alpha1_openapi.json
  staging/src/k8s.io/api/certificates/v1alpha1/types.go
  staging/src/k8s.io/api/certificates/v1alpha1/zz_generated.prerelease-lifecycle.go
Labels: area/test, priority/critical-urgent, lgtm, size/M, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, triage/accepted

#127360 API: add a new `Stream` field to `PodLogOptions`
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/apis/core/types.go
  pkg/apis/core/v1/conversion.go
  pkg/apis/core/v1/conversion_test.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/v1/validation/validation.go
  pkg/apis/core/v1/validation/validation_test.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/v1/zz_generated.defaults.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  pkg/registry/core/pod/rest/log.go
  pkg/registry/core/pod/strategy.go
  staging/publishing/import-restrictions.yaml
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/core/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/core.v1.PodLogOptions.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.PodLogOptions.pb
  staging/src/k8s.io/api/testdata/HEAD/core.v1.PodLogOptions.yaml
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  staging/src/k8s.io/cri-client/pkg/logs/logs.go
  staging/src/k8s.io/cri-client/pkg/logs/logs_test.go
  test/e2e/feature/feature.go
  test/e2e/node/kubelet.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, priority/important-soon, area/kubelet, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, area/release-eng, sig/apps, approved, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/code-generation, api-review, triage/accepted

#128170 feature(KEP-4832): asynchronous preemption
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/scheduler/apis/config/testing/defaults/defaults.go
  pkg/scheduler/backend/queue/scheduling_queue.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
  pkg/scheduler/framework/events.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/plugins/feature/feature.go
  pkg/scheduler/framework/plugins/registry.go
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/framework/preemption/preemption_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/testing/wrappers.go
  test/e2e/feature/feature.go
  test/e2e/scheduling/preemption.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
  test/integration/scheduler/preemption/preemption_test.go
  test/integration/scheduler_perf/misc/performance-config.yaml
  test/integration/scheduler_perf/templates/pod-high-priority.yaml
Labels: area/test, sig/scheduling, lgtm, release-note, size/XXL, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128518 [FG:InPlacePodVerticalScaling] PLEG watch conditions: rapid polling for expected changes
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/testing/fake_runtime_helper.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/pleg/evented.go
  pkg/kubelet/pleg/generic.go
  pkg/kubelet/pleg/generic_test.go
  pkg/kubelet/pleg/pleg.go
Labels: area/test, area/kubelet, lgtm, sig/node, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/e2e-test-framework, triage/accepted

#128644 kubelet: don't check for mounted before update dsw PV size
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128657 node: cm: don't share containerMap instances between managers
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/containermap/container_map.go
  pkg/kubelet/cm/containermap/container_map_test.go
Labels: kind/bug, priority/critical-urgent, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, kind/failing-test, kind/regression, triage/accepted

#126336 Kubelet: Remove runonce mode
  cmd/kubelet/app/server.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/runonce.go
  pkg/kubelet/runonce_test.go
  pkg/kubemark/hollow_kubelet.go
Labels: area/kubelet, kind/cleanup, sig/scalability, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#126653 fix the issue of losing the pending phase after a node restart.
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  test/e2e/framework/pod/wait.go
  test/e2e_node/pod_status_test.go
Labels: kind/bug, area/test, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#128661 fix: move the queueing integration tests to another package to address the timeout issue
  test/integration/scheduler/queueing/main_test.go
  test/integration/scheduler/queueing/queue_test.go
Labels: area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#128668 Update staging docs to add externaljwt
  staging/README.md
Labels: kind/documentation, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#128247 Promote StatefulSetAutoDeletePVC to stable in 1.32
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  pkg/apis/apps/v1/defaults_test.go
  pkg/apis/apps/v1beta1/defaults_test.go
  pkg/apis/apps/v1beta2/defaults_test.go
  pkg/apis/apps/validation/validation_test.go
  pkg/controller/statefulset/stateful_pod_control_test.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_test.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/apps/v1/generated.proto
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/apps/v1beta1/generated.proto
  staging/src/k8s.io/api/apps/v1beta1/types.go
  staging/src/k8s.io/api/apps/v1beta1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/apps/v1beta2/generated.proto
  staging/src/k8s.io/api/apps/v1beta2/types.go
  staging/src/k8s.io/api/apps/v1beta2/types_swagger_doc_generated.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, lgtm, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, api-review, triage/accepted

#128356 KEP-4603: Maintain current 10 minute recovery threshold for container backoff regardless of changes to the maximum duration
  pkg/kubelet/kubelet.go
  staging/src/k8s.io/client-go/util/flowcontrol/backoff.go
  staging/src/k8s.io/client-go/util/flowcontrol/backoff_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128670 Move broadcast of key updates into sync, fixup of externaljwt generation / test
  pkg/serviceaccount/externaljwt/plugin/keycache.go
  pkg/serviceaccount/externaljwt/plugin/keycache_test.go
  pkg/serviceaccount/externaljwt/plugin/plugin_test.go
  pkg/serviceaccount/externaljwt/plugin/testing/v1alpha1/externalsigner_mock.go
  test/integration/serviceaccount/external_jwt_signer_test.go
  third_party/protobuf/google/protobuf/timestamp.proto
Labels: kind/bug, area/test, priority/important-soon, lgtm, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#125757 [FG:InPlacePodVerticalScaling] Fix backoff problem when quickly reverting resize patch
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#128560 Memory manager support for Windows nodes
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/internal_container_lifecycle_windows.go
  pkg/kubelet/cm/internal_container_lifecycle_windows_test.go
  pkg/kubelet/cm/memorymanager/memory_manager.go
  pkg/kubelet/cm/memorymanager/policy_best_effort.go
  pkg/kubelet/winstats/cpu_topology.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/L, kind/feature, approved, sig/windows, cncf-cla: yes, tide/merge-method-squash, api-review, triage/accepted

#128674 Fix OIDC flags
  pkg/kubeapiserver/options/authentication.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128681 Client go port forward reset, error handling and tests
  staging/src/k8s.io/client-go/tools/portforward/portforward.go
  test/e2e/kubectl/portforward.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, release-note, size/L, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#121968 add warnings for cases one of projected volume types get overwritten by service account token
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
Labels: kind/bug, lgtm, release-note, size/XL, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#127275 [FG:InPlacePodVerticalScaling] bug(quota): handle resources changed on resource quota filter
  pkg/quota/v1/install/update_filter.go
  pkg/quota/v1/install/update_filter_test.go
Labels: kind/bug, lgtm, sig/node, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, needs-sig, ok-to-test, triage/accepted

#127300 [FG:InPlacePodVerticalScaling] kubelet: Propagate error in doPodResizeAction() to the caller
  pkg/kubelet/container/sync_result.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#128186 Updated version skew strategy for InPlacePodVerticalScaling
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Labels: priority/important-soon, lgtm, release-note, size/M, kind/feature, sig/apps, approved, cncf-cla: yes, triage/accepted

#128240 DRA: Implementation of ResourceClaim.Status.Devices (KEP-4817)
  api/api-rules/violation_exceptions.list
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1alpha3_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1beta1_openapi.json
  pkg/apis/resource/fuzzer/fuzzer.go
  pkg/apis/resource/types.go
  pkg/apis/resource/v1alpha3/zz_generated.conversion.go
  pkg/apis/resource/v1beta1/zz_generated.conversion.go
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  pkg/apis/resource/zz_generated.deepcopy.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/resource/resourceclaim/strategy.go
  pkg/registry/resource/resourceclaim/strategy_test.go
  staging/src/k8s.io/api/resource/v1alpha3/generated.pb.go
  staging/src/k8s.io/api/resource/v1alpha3/generated.proto
  staging/src/k8s.io/api/resource/v1alpha3/types.go
  staging/src/k8s.io/api/resource/v1alpha3/types_swagger_doc_generated.go
  staging/src/k8s.io/api/resource/v1alpha3/zz_generated.deepcopy.go
  staging/src/k8s.io/api/resource/v1beta1/generated.pb.go
  staging/src/k8s.io/api/resource/v1beta1/generated.proto
  staging/src/k8s.io/api/resource/v1beta1/types.go
  staging/src/k8s.io/api/resource/v1beta1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/resource/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1alpha3.ResourceClaim.json
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1alpha3.ResourceClaim.pb
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1alpha3.ResourceClaim.yaml
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1beta1.ResourceClaim.json
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1beta1.ResourceClaim.pb
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1beta1.ResourceClaim.yaml
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1alpha3/allocateddevicestatus.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1alpha3/networkdevicedata.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1alpha3/resourceclaimstatus.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1beta1/allocateddevicestatus.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1beta1/networkdevicedata.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1beta1/resourceclaimstatus.go
  staging/src/k8s.io/client-go/applyconfigurations/utils.go
  test/e2e/dra/dra.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
  test/e2e/dra/test-driver/deploy/example/plugin-permissions.yaml
  test/e2e/feature/feature.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
  test/integration/resourceclaim/feature_enable_disable_test.go
  test/integration/resourceclaim/main_test.go
Labels: area/test, sig/network, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, area/code-generation, ok-to-test, needs-priority, triage/accepted, wg/device-management

#128506 kubelet/kuberuntime: switch to runc/libct
  LICENSES/third_party/forked/cgroups/LICENSE
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  third_party/forked/cgroups/LICENSE
  third_party/forked/cgroups/parse.go
  third_party/forked/cgroups/parse_test.go
Labels: area/kubelet, kind/documentation, kind/cleanup, lgtm, sig/node, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128618 Fix error check
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/mutating/dispatcher.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#128676 Refactor: Move IsRestartableInitContainer to common utility package
  pkg/api/pod/util.go
  pkg/api/v1/pod/util.go
  pkg/kubelet/apis/podresources/server_v1.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/memorymanager/memory_manager.go
  pkg/kubelet/cm/memorymanager/policy_static.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_termination_order.go
  pkg/kubelet/lifecycle/predicate.go
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/status/generate.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/types/pod_update.go
  pkg/printers/internalversion/printers.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#127581 Add flagz endpoint for apiserver
  cmd/kube-apiserver/app/options/completion.go
  pkg/controlplane/apiserver/config.go
  pkg/controlplane/apiserver/config_test.go
  pkg/controlplane/apiserver/options/options.go
  pkg/controlplane/apiserver/samples/generic/server/server.go
  pkg/controlplane/apiserver/samples/generic/server/testing/testserver.go
  pkg/controlplane/apiserver/server.go
  pkg/features/versioned_kube_features.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/component-base/zpages/features/kube_features.go
  staging/src/k8s.io/component-base/zpages/flagz/flagreader.go
  staging/src/k8s.io/component-base/zpages/flagz/flagreader_test.go
  staging/src/k8s.io/component-base/zpages/flagz/flagz.go
  staging/src/k8s.io/component-base/zpages/flagz/flagz_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/api-change, sig/auth, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted

#128687 [FG:InPlacePodVerticalScaling] Fix AllocatedResources feature gate annotation
  pkg/apis/core/types.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#128287 [FG:InPlacePodVerticalScaling] Gate Disallow in-place resize for guaranteed pods on nodes with a static topology policy
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/kubelet.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/M, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, area/e2e-test-framework, triage/accepted

#128680 [FG:InPlacePodVerticalScaling] Handle edge cases around CPU MinShares
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  test/e2e/common/node/pod_resize.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#128686 Add missing comments in k8s.io/api/core/v1
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  hack/.descriptions_failures
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/architecture, area/code-generation, needs-priority, needs-triage

#128683 [FG:InPlacePodVerticalScaling] Disallow removing requests & limits for Burstable pods.
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  test/e2e/common/node/pod_resize.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#126621 Remove deadcode in pkg/util/node
  pkg/util/node/node.go
  pkg/util/node/node_test.go
Labels: priority/backlog, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#128692 Remove deprecated extra-dirs flag
  staging/src/k8s.io/code-generator/cmd/conversion-gen/args/args.go
Labels: kind/bug, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, needs-triage

#128701 prune-junit-xml: avoid appending semicolon
  cmd/prune-junit-xml/prunexml.go
  cmd/prune-junit-xml/prunexml_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128694 Revert "[FG:InPlacePodVerticalScaling] kubelet: Propagate error in doPodResizeAction() to the caller"
  pkg/kubelet/container/sync_result.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
Labels: priority/critical-urgent, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, kind/regression, triage/accepted

#128374 KEP-4603: Node specific kubelet config for maximum backoff down to 1 second
  cmd/kubelet/app/options/options_test.go
  cmd/kubelet/app/server.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/apis/config/v1beta1/defaults_test.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  pkg/kubelet/kubelet.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/kubelet, lgtm, sig/node, sig/api-machinery, size/XL, kind/api-change, kind/feature, release-note-action-required, approved, cncf-cla: yes, area/code-generation, tide/merge-method-squash, needs-priority, triage/accepted

#128712 fix PodLogsQuerySplitStream if feature is enabled and using defaults
  pkg/registry/core/pod/rest/log.go
  pkg/registry/core/pod/rest/log_test.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-triage

#128722 Fix for alpha CI jobs failing with AllowUnsafeMalformedObjectDeletion switched on
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
Labels: kind/bug, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-triage

#128691 fix: flaky TestPrepareCandidate
  pkg/scheduler/framework/preemption/preemption_test.go
Labels: sig/scheduling, lgtm, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage
