Repository kubernetes/kubernetes, pull requests merged in 2025-09, with the labels that each got.

#133811 DRA e2e node: skipping resource health disabled test
  test/e2e_node/dra_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#133708 fix(controller/podautoscaler): do not print panic when .status.lastScaleTime is not set
  pkg/controller/podautoscaler/horizontal.go
Labels: kind/bug, lgtm, sig/autoscaling, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#132478 verify-e2e-images.sh enhancements
  hack/verify-e2e-images.sh
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#133742 Remove GA feature gate ComponentSLIs
  staging/src/k8s.io/component-base/metrics/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Labels: kind/cleanup, lgtm, release-note, size/M, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage

#133647 Add doc.go and ARCHITECTURE.md to apiserver
  staging/src/k8s.io/apiserver/ARCHITECTURE.md
  staging/src/k8s.io/apiserver/doc.go
Labels: kind/documentation, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#132960 Configure JSON content type for generic webhook RESTClient.
  cmd/kubelet/app/auth_test.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
Labels: kind/bug, area/kubelet, area/apiserver, lgtm, sig/node, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#133720 Drop SizeMemoryBackedVolumes after the feature GA-ed in 1.32
  pkg/features/kube_features.go
  pkg/volume/emptydir/empty_dir.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  test/e2e_node/eviction_test.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, sig/node, release-note, size/M, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#133229 fix up types for 1.34 release - remove GA feature gates
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/core/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/cleanup, lgtm, size/M, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#133799 Update volume/nfs base image from centos:7 to centos:stream9
  test/images/volume/nfs/BASEIMAGE
  test/images/volume/nfs/Dockerfile
  test/images/volume/nfs/VERSION
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#133753 Automated cherry pick of #133513: Add missing conversion for timeoutForControlPlane
  cmd/kubeadm/app/util/config/initconfiguration.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#133754 Automated cherry pick of #133513: Add missing conversion for timeoutForControlPlane
  cmd/kubeadm/app/util/config/initconfiguration.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#133755 Automated cherry pick of #133513: Add missing conversion for timeoutForControlPlane
  cmd/kubeadm/app/util/config/initconfiguration.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#133776 Automated cherry pick of #133513: Add missing conversion for timeoutForControlPlane
  cmd/kubeadm/app/util/config/initconfiguration.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#133834 build: support -race in binaries
  build/common.sh
  build/lib/release.sh
  hack/lib/golang.sh
  staging/src/k8s.io/component-base/cli/run.go
  staging/src/k8s.io/component-base/cli/withoutrace.go
  staging/src/k8s.io/component-base/cli/withrace.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, sig/architecture, needs-priority, needs-triage, wg/device-management

#132987 Automated cherry pick of #131018: Mask Linux thermal interrupt info in /proc and /sys.
  pkg/securitycontext/util.go
  pkg/securitycontext/util_darwin.go
  pkg/securitycontext/util_linux.go
  pkg/securitycontext/util_test.go
  pkg/securitycontext/util_windows.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#132986 Automated cherry pick of #131018: Mask Linux thermal interrupt info in /proc and /sys.
  pkg/securitycontext/util.go
  pkg/securitycontext/util_darwin.go
  pkg/securitycontext/util_linux.go
  pkg/securitycontext/util_test.go
  pkg/securitycontext/util_windows.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/node, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#133642 Automated cherry pick of #133625: Remove patch/update from ServiceCIDR API conformance test
  test/e2e/network/service_cidrs.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, kind/cleanup, lgtm, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, triage/accepted

#130551 order sandbox by attempt or create time
  pkg/kubelet/kuberuntime/helpers.go
Labels: area/kubelet, lgtm, sig/node, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#133740 add events.events.k8s.io to clusterrole view/edit default
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles-featuregates.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Labels: kind/bug, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#133138 kubelet: poll after reloading logind conf
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#133473 PSI test: add a CPU limit of 500m to cpu-stress-pod
  test/e2e_node/summary_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#133357 Add Kubelet stress test for pod cleanup when rejection due to `VolumeAttachmentLimitExceeded`
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_windows_test.go
  pkg/kubelet/volumemanager/volume_manager_fake.go
Labels: area/test, area/kubelet, lgtm, sig/storage, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, needs-priority, needs-triage

#133879 Automated cherry pick of #133873: Disable estimating resource size for resources with watch cache disabled
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/stats.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage, sig/etcd

#133122 Automated cherry pick of #132891: Added NodeSelectors field to external DriverDefinition
  test/e2e/storage/external/external.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-triage

#133746 Automated cherry pick of #133425: Fix SELinux label comparison
  pkg/controller/volume/selinuxwarning/cache/volumecache_test.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator_test.go
  test/e2e/storage/csimock/base.go
  test/e2e/storage/csimock/csi_selinux_mount.go
Labels: kind/bug, area/test, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#133575 [BUG] [Selectors]: Return an error in case nil selectors are passed to the matcher functions
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/generic/policy_matcher.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#133729 Self nominate HirazawaUi as sig-node reviewer
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#133894 Add k8s-long-name and k8s-short-name format validation tags
  staging/src/k8s.io/apimachinery/pkg/api/validate/content/dns.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/content/dns_test.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/content/errors.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/strfmt.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-long-name/k8s-long-name/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-long-name/k8s-long-name/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-long-name/k8s-long-name/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-short-name/k8s-short-name/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-short-name/k8s-short-name/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-short-name/k8s-short-name/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/format.go
Labels: lgtm, sig/api-machinery, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, needs-triage

#133356 Replace usage of deprecated ErrWaitTimeout with recommended method across all Pkgs
  pkg/registry/core/pod/storage/eviction.go
  pkg/volume/util/util.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiservice_controller.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/condition.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
  test/e2e_node/node_shutdown_linux_test.go
  test/integration/apiserver/apply/apply_test.go
  test/integration/apiserver/watchcache_test.go
  test/integration/certificates/controller_approval_test.go
  test/integration/controlplane/transformation/kms_transformation_test.go
  test/integration/garbagecollector/garbage_collector_test.go
Labels: area/test, kind/cleanup, area/apiserver, area/kubectl, lgtm, sig/storage, sig/node, sig/api-machinery, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/code-organization, triage/accepted

#130487 chore(kubelet): migrate prober to contextual logging
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/prober/prober.go
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/prober/prober_manager_test.go
  pkg/kubelet/prober/prober_test.go
  pkg/kubelet/prober/scale_test.go
  pkg/kubelet/prober/testing/fake_manager.go
  pkg/kubelet/prober/worker.go
  pkg/kubelet/prober/worker_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#133907 Remove redundant experimental prefix in wait command
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
Labels: kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#133888 hpa: prevent integer overflow in external metrics sum
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: kind/bug, lgtm, sig/autoscaling, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#133901 Automated cherry pick of #133896: fix: Only warn for unrecognized formats on type=string
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/formats.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/formats_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/strategy.go
Labels: lgtm, sig/api-machinery, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#130154 chore(kubelet): migrate watchdog to contextual logging
  cmd/kubelet/app/server.go
  pkg/kubelet/watchdog/watchdog_linux.go
  pkg/kubelet/watchdog/watchdog_linux_test.go
  pkg/kubelet/watchdog/watchdog_unsupported.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, lifecycle/rotten, triage/accepted

#133217 Kubelet: Migrate util/ and logs/ to contextual logging
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  pkg/kubelet/kubelet.go
  pkg/kubelet/logs/container_log_manager.go
  pkg/kubelet/logs/container_log_manager_stub.go
  pkg/kubelet/logs/container_log_manager_test.go
  pkg/kubelet/util/boottime_util_linux.go
  pkg/kubelet/util/manager/cache_based_manager_test.go
  pkg/kubelet/util/manager/watch_based_manager.go
  pkg/kubelet/util/manager/watch_based_manager_test.go
  pkg/kubelet/util/nodelease.go
  pkg/kubelet/util/pod_startup_latency_tracker.go
  pkg/kubelet/util/swap/swap_util.go
  pkg/kubelet/util/swap/swap_util_test.go
Labels: area/test, area/kubelet, kind/cleanup, sig/scalability, lgtm, area/logging, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted, wg/structured-logging

#133440 deflake e2e test: Services should implement NodePort and HealthCheckNodePort correctly when ExternalTrafficPolicy changes
  test/e2e/framework/service/jig.go
  test/e2e/network/service.go
Labels: area/test, sig/network, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#130213 chore(kubelet): migrate container to contextual logging
  pkg/kubelet/container/container_gc.go
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/helpers_test.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/container/runtime_cache_fake.go
  pkg/kubelet/container/runtime_cache_test.go
  pkg/kubelet/container/testing/fake_cache.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#133838 Fix race in movePodsToActiveOrBackoffQueue
  pkg/scheduler/backend/queue/active_queue.go
  pkg/scheduler/backend/queue/active_queue_test.go
  pkg/scheduler/backend/queue/backoff_queue.go
  pkg/scheduler/backend/queue/scheduling_queue.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, needs-triage

#133893 Kubeadm: Close container runtime connections after use
  cmd/kubeadm/app/cmd/config.go
  cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/util/runtime/runtime.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#133910 Fix GracefulNodeShutdown perma failing test
  test/e2e_node/util_kubeletconfig.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#133947 Validate kubelet serving cert in local-up-cluster
  hack/local-up-cluster.sh
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#133883 Fix incorrect description of feature PodObservedGenerationTracking
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/apis/core/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/bug, lgtm, release-note, size/XS, kind/api-change, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#133941 scheduler_perf: treat ResourceSlice publishing as workload startup
  test/integration/scheduler_perf/dra.go
  test/integration/scheduler_perf/dra/performance-config.yaml
  test/integration/scheduler_perf/scheduler_perf.go
  test/integration/scheduler_perf/util.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#133979 Revert "protect against race between deletion and adding finalizers"
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/errors.go
  staging/src/k8s.io/apiserver/pkg/storage/errors_test.go
  staging/src/k8s.io/apiserver/pkg/storage/interfaces.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, needs-triage

#133971 Put the nfacct e2e test back under the "KubeProxy" label
  test/e2e/network/kube_proxy.go
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#131324 Fix negative pod startup duration values
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/images/image_manager.go
  pkg/kubelet/images/image_manager_test.go
  pkg/kubelet/util/pod_startup_latency_tracker.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#133632 Add doc.go, ARCHITECTURE.md, and example_test.go to client-go
  staging/src/k8s.io/client-go/ARCHITECTURE.md
  staging/src/k8s.io/client-go/doc.go
  staging/src/k8s.io/client-go/example_test.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#129240 E2e test for cleaning of terminated containers
  test/e2e_node/eviction_test.go
Labels: kind/bug, area/test, area/kubelet, area/apiserver, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#131430 remove v1beta3 flowcontrol from rest storage
  pkg/registry/flowcontrol/rest/storage_flowcontrol.go
  test/integration/apiserver/apiserver_test.go
  test/integration/etcd/data.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted, sig/etcd

#133218 adds a list of available HTTP endpoints for the kube-controller-manag…
  cmd/kube-controller-manager/app/controllermanager.go
  test/integration/serving/serving_test.go
Labels: area/test, kind/documentation, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#133324 Replace deprecated WaitForServiceEndpointsNum with WaitForEndpointCount
  test/e2e/apimachinery/crd_conversion_webhook.go
  test/e2e/apimachinery/webhook.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#133949 Revert "Add retries to node's crictl test"
  test/e2e/node/crictl.go
Labels: area/test, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#133978 kmsv2: run `TestKMSv2ProviderKeyIDStaleness` tests in parallel
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/envelope.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/kmsv2/grpc_service.go
  test/integration/controlplane/transformation/kmsv2_transformation_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, triage/accepted

#130548 Bump addon manager image to v9.1.8
  cluster/gce/manifests/kube-addon-manager.yaml
  test/kubemark/resources/manifests/kube-addon-manager.yaml
Labels: area/test, kind/cleanup, sig/scalability, lgtm, area/provider/gcp, release-note, size/XS, approved, cncf-cla: yes, sig/testing, lifecycle/rotten, sig/cloud-provider, needs-priority, needs-triage

#133948 Add support for UUID format.
  staging/src/k8s.io/apimachinery/pkg/api/validate/strfmt.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/strfmt_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-uuid/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-uuid/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-uuid/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/format.go
Labels: lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#133955 e2e_node kubelet configuration: merge feature gates and system-reserved items
  test/e2e_node/kubelet_config_dir_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#133800 Update volume/iscsi base image from fedora:38 to fedora:42
  test/images/volume/iscsi/BASEIMAGE
  test/images/volume/iscsi/VERSION
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#134028 Set the deprecated version=1.34.0 for apiserver_storage_objects metric
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, sig/instrumentation, needs-priority, needs-triage, area/stable-metrics, sig/etcd

#134047 DRA E2E node: fix test cleanup
  test/e2e_node/dra_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#131483 Clean up pkg/kubelet/config
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/options/options_test.go
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_getters.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kubeletconfig/defaults.go
  pkg/kubelet/kubeletconfig/types.go
  pkg/kubelet/volumemanager/reconciler/reconstruct_common.go
  pkg/volume/hostpath/host_path.go
  pkg/volume/iscsi/iscsi_util.go
  pkg/volume/iscsi/iscsi_util_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, needs-triage

#134020 Add support for k8s-label-key and k8s-label-value for Declarative validations
  pkg/scheduler/apis/config/validation/validation_pluginargs_test.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/content/errors.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/content/kube.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/content/kube_test.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/strfmt.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/strfmt_test.go
  staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta_test.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation_test.go
  staging/src/k8s.io/apimachinery/pkg/labels/selector.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-label-key/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-label-key/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-label-key/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-label-value/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-label-value/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-label-value/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/format.go
Labels: sig/scheduling, lgtm, sig/api-machinery, size/XL, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#133988 migrate kubelet/certificate to contextual logging
  cmd/kubelet/app/server.go
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  pkg/kubelet/certificate/bootstrap/bootstrap.go
  pkg/kubelet/certificate/bootstrap/bootstrap_test.go
  pkg/kubelet/certificate/kubelet.go
  pkg/kubelet/certificate/transport.go
  pkg/kubelet/certificate/transport_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#134071 Wait for quota to report used before creating pvc
  test/e2e/storage/csimock/base.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#134065 Unify directory protection for recursive requests in storage
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, sig/etcd

#134054 fix incorrect warning whenever headless service is created/updated
  pkg/api/service/warnings.go
  pkg/api/service/warnings_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/S, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#133985 Replace WaitForNamedCacheSync with WaitForNamedCacheSyncWithContext in pkg/controller/
  pkg/controller/garbagecollector/graph_builder.go
  pkg/controller/job/job_controller.go
  pkg/controller/namespace/namespace_controller.go
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podgc/gc_controller.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/resourceclaim/controller.go
  pkg/controller/resourcequota/resource_quota_controller.go
  pkg/controller/serviceaccount/legacy_serviceaccount_token_cleaner.go
  pkg/controller/serviceaccount/serviceaccounts_controller.go
  pkg/controller/serviceaccount/tokens_controller.go
  pkg/controller/servicecidrs/servicecidrs_controller.go
  pkg/controller/statefulset/stateful_set.go
  pkg/controller/storageversionmigrator/resourceversion.go
  pkg/controller/storageversionmigrator/storageversionmigrator.go
  pkg/controller/tainteviction/taint_eviction.go
  pkg/controller/ttl/ttl_controller.go
  pkg/controller/ttlafterfinished/ttlafterfinished_controller.go
  pkg/controller/validatingadmissionpolicystatus/controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller.go
  pkg/controller/volume/attachdetach/attach_detach_controller_test.go
  pkg/controller/volume/ephemeral/controller.go
  pkg/controller/volume/expand/expand_controller.go
  pkg/controller/volume/persistentvolume/pv_controller_base.go
  pkg/controller/volume/pvcprotection/pvc_protection_controller.go
  pkg/controller/volume/pvprotection/pv_protection_controller.go
  pkg/controller/volume/selinuxwarning/selinux_warning_controller.go
  pkg/controller/volume/vacprotection/vac_protection_controller.go
Labels: priority/backlog, sig/network, sig/scheduling, lgtm, sig/storage, sig/node, sig/api-machinery, sig/autoscaling, size/M, kind/feature, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted, wg/device-management

#134067 Ensure consistent key schema requirements between cacher and etcd3
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted, sig/etcd

#133728 Fix the spelling error of grpc in the log
  pkg/kubelet/cm/devicemanager/plugin/v1beta1/client.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#130951 Adding metrics for Maxunavailable feature in StatefulSet
  pkg/controller/statefulset/metrics/metrics.go
  pkg/controller/statefulset/stateful_set.go
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
  pkg/controller/statefulset/stateful_set_test.go
Labels: lgtm, release-note, size/L, kind/feature, sig/apps, approved, cncf-cla: yes, sig/instrumentation, priority/important-longterm, tide/merge-method-squash, triage/accepted, area/stable-metrics

#133401 e2e_node: test DRA plugin gRPC connection reuse
  test/e2e_node/dra_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#133715 Update MAP storage version to use v1beta1
  api/discovery/apis__admissionregistration.k8s.io__v1alpha1.json
  api/discovery/apis__admissionregistration.k8s.io__v1beta1.json
  pkg/kubeapiserver/default_storage_factory_builder.go
  test/integration/etcd/data.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, api-review, triage/accepted, sig/etcd

#134121 add go.work, go.work.sum to dep-approvers file list
  OWNERS
  staging/OWNERS
  staging/src/k8s.io/api/OWNERS
  staging/src/k8s.io/cri-api/OWNERS
  staging/src/k8s.io/cri-client/OWNERS
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, area/code-organization, triage/accepted

#132259 Test requests send to etcd for all LIST requests
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted, sig/etcd

#134120 Upgrade go language version to 1.25
  go.mod
  go.work
  hack/tools/go.mod
  hack/tools/go.work
  hack/tools/golangci-lint/go.mod
  hack/tools/golangci-lint/go.work
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.work
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/externaljwt/go.mod
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/internal/plugins/_mock/go.mod
  staging/src/k8s.io/kms/internal/plugins/_mock/go.work
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Labels: sig/network, area/kubelet, sig/scheduling, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, release-note, size/L, kind/feature, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/release, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, needs-triage, wg/device-management

#133992 Automated cherry pick of #132477: Fix DaemonSet misscheduled status not updating on node taint changes
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
Labels: kind/bug, lgtm, size/M, cherry-pick-approved, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#134030 Update metrics docs list for v1.34
  pkg/controller/resourceclaim/metrics/metrics.go
  pkg/kubelet/metrics/metrics.go
  test/instrumentation/documentation/documentation-list.yaml
  test/instrumentation/documentation/documentation.md
Labels: area/test, area/kubelet, kind/documentation, lgtm, sig/node, size/XXL, release-note-none, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage, wg/device-management

#134130 Remove KUBECTL_OPENAPIV3_PATCH feature gate as the feature is stable
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go
  staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
Labels: kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#134061 feat(apiextensions-apiserver): Add WithContext variant to EstablishingController
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/establish/establishing_controller.go
Labels: lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#134132 Bump golangci-lint to 2.4.0
  hack/tools/golangci-lint/go.mod
  hack/tools/golangci-lint/go.sum
Labels: kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/dependency, needs-triage

#134078 feat(validation-gen) enable declarative validation for resource.k8s.io DeviceClass
  pkg/registry/resource/deviceclass/declarative_validation_test.go
  pkg/registry/resource/deviceclass/strategy.go
Labels: lgtm, size/L, kind/feature, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#133931 Wait the readiness of pods for all the containers generate logs
  test/e2e/kubectl/logs.go
Labels: area/test, priority/backlog, lgtm, size/XS, kind/flake, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#134117 Automated cherry pick of #134024: fix: use iifname for input interface name matches
  pkg/proxy/util/localdetector.go
  pkg/proxy/util/localdetector_test.go
Labels: kind/bug, priority/important-soon, sig/network, area/kube-proxy, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#134118 Automated cherry pick of #134024: fix: use iifname for input interface name matches
  pkg/proxy/util/localdetector.go
  pkg/proxy/util/localdetector_test.go
Labels: kind/bug, priority/important-soon, sig/network, area/kube-proxy, lgtm, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, triage/accepted

#134106 kubeadm: graduate ControlPlaneKubeletLocalMode to GA
  cmd/kubeadm/app/cmd/phases/init/kubeconfig.go
  cmd/kubeadm/app/cmd/phases/join/controlplanejoin.go
  cmd/kubeadm/app/cmd/phases/join/data.go
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
  cmd/kubeadm/app/features/features.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/L, kind/feature, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#134176 Remove deprecated WaitForServiceEndpointsNum
  test/e2e/framework/autoscaling/autoscaling_utils.go
  test/e2e/framework/util.go
Labels: area/test, kind/cleanup, lgtm, sig/autoscaling, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#134164 Track connection using IP+port in server to fix conntrack test flakes
  test/images/regression-issue-74839/VERSION
  test/images/regression-issue-74839/main.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#134156 Enable SSATags linter to enforce +listType on lists in APIs
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__certificates.k8s.io__v1_openapi.json
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/kube-api-linter/kube-api-linter.yaml
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/admission/v1/generated.proto
  staging/src/k8s.io/api/admission/v1/types.go
  staging/src/k8s.io/api/admission/v1beta1/generated.proto
  staging/src/k8s.io/api/admission/v1beta1/types.go
  staging/src/k8s.io/api/certificates/v1/generated.proto
  staging/src/k8s.io/api/certificates/v1/types.go
  staging/src/k8s.io/api/certificates/v1beta1/generated.proto
  staging/src/k8s.io/api/certificates/v1beta1/types.go
Labels: lgtm, size/S, kind/api-change, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/architecture, area/code-generation, needs-priority, api-review, needs-triage

#134209 Bump gengo
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/gengo/v2/generator/execute.go
  vendor/modules.txt
Labels: kind/cleanup, area/kubectl, lgtm, sig/api-machinery, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/instrumentation, area/code-generation, needs-priority, area/dependency, triage/accepted

#134102 Replace HandleError with HandleErrorWithContext
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/controller/namespace/namespace_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
Labels: kind/cleanup, lgtm, sig/node, sig/api-machinery, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#134225 Fix SELinux e2e tests waiting for "container created" event
  test/e2e/storage/csimock/csi_selinux_mount.go
Labels: area/test, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#134155 Improve BenchmarkSerializeObject benchmark
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#134245 Revert "fix: handle corner cases in the async preemption"
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/framework/preemption/preemption_test.go
  test/integration/scheduler/preemption/nominatednodename/nominatednodename_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#134260 update publishing rules for 1.33/1.34 to set go1.24.7
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#133190 kube-proxy: list available endpoints in /statusz
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_test.go
Labels: sig/network, area/kubelet, kind/cleanup, area/kube-proxy, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#134274 kubeadm: use JoinHostPort for Waiter functions
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/util/apiclient/wait.go
  cmd/kubeadm/app/util/dryrun/dryrun.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, triage/accepted

#134271 Add nil scheme check in GetReference
  staging/src/k8s.io/client-go/tools/reference/ref.go
  staging/src/k8s.io/client-go/tools/reference/ref_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#134034 Automated cherry pick of #133953: Fix ClusterIP load balancer disappearing when InternalTrafficPolicy: Local is set.
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#134087 release-1.34: pin system-validators to v1.10.2
  go.mod
  go.sum
  vendor/k8s.io/system-validators/validators/types_unix.go
  vendor/modules.txt
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#133628 Automated cherry pick of #133562: DRA: wait for stats to converge in "creates slices" e2e test
  test/e2e/dra/dra.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/XS, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-triage, wg/device-management

#134032 Automated cherry pick of #133953: Fix ClusterIP load balancer disappearing when InternalTrafficPolicy: Local is set.
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#134086 release-1.33: pin system-validators to v1.9.2
  go.mod
  go.sum
  vendor/k8s.io/system-validators/validators/types_unix.go
  vendor/modules.txt
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#134254 containerd download should be more robust to remove flakiness
  cluster/gce/gci/configure.sh
Labels: kind/bug, priority/important-soon, lgtm, area/provider/gcp, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, triage/accepted

#134088 Automated cherry pick of #134071: Wait for quota to report used before creating pvc
  test/e2e/storage/csimock/base.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#134275 Fix error messages in volume path handler
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/volumepathhandler/volume_path_handler.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#134113 Enable Declarative Validation Pool status field of ResourceClaim
  pkg/apis/resource/v1/zz_generated.validations.go
  pkg/apis/resource/v1beta1/zz_generated.validations.go
  pkg/apis/resource/v1beta2/zz_generated.validations.go
  pkg/apis/resource/validation/validation.go
  pkg/registry/resource/resourceclaim/declarative_validation_test.go
  pkg/registry/resource/resourceclaim/strategy.go
  staging/src/k8s.io/api/resource/v1/generated.proto
  staging/src/k8s.io/api/resource/v1/types.go
  staging/src/k8s.io/api/resource/v1beta1/generated.proto
  staging/src/k8s.io/api/resource/v1beta1/types.go
  staging/src/k8s.io/api/resource/v1beta2/generated.proto
  staging/src/k8s.io/api/resource/v1beta2/types.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/strfmt.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/strfmt_test.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/errors.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-resource-pool-name/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-resource-pool-name/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/format/k8s-resource-pool-name/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/format.go
Labels: lgtm, sig/api-machinery, size/L, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage, wg/device-management

#134309 Update NPD to v1.34.0
  build/dependencies.yaml
  cluster/addons/node-problem-detector/npd.yaml
  cluster/gce/gci/configure.sh
  test/e2e_node/image_list.go
  test/kubemark/resources/hollow-node_template.yaml
Labels: area/test, kind/cleanup, sig/scalability, lgtm, area/provider/gcp, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, needs-triage

#134240 Refactor: Centralize declarative validation logic
  pkg/api/testing/validation.go
  pkg/apis/autoscaling/validation/declarative_validation_test.go
  pkg/features/kube_features.go
  pkg/registry/certificates/certificates/strategy.go
  pkg/registry/core/replicationcontroller/storage/scale_declarative_validation_test.go
  pkg/registry/core/replicationcontroller/storage/storage.go
  pkg/registry/core/replicationcontroller/strategy.go
  pkg/registry/resource/deviceclass/strategy.go
  pkg/registry/resource/resourceclaim/strategy.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate_test.go
Labels: area/apiserver, lgtm, sig/storage, sig/api-machinery, size/XL, kind/api-change, kind/feature, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted, wg/device-management

#134314 node_lifecycle_controller: fix ComputeZoneState method comment
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#134233 refactor(DRA validation): Add granular controls to ValidateCSIDriverName for declarative validation migration
  pkg/apis/core/validation/validation.go
  pkg/apis/resource/validation/validation_deviceclass_test.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
Labels: lgtm, size/M, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#133697 Codify feature gate dependencies
  cmd/kube-controller-manager/app/controllermanager_test.go
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/validation/validation.go
  staging/src/k8s.io/component-base/featuregate/feature_gate.go
  staging/src/k8s.io/component-base/featuregate/feature_gate_test.go
Labels: area/kubelet, lgtm, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/L, kind/api-change, kind/feature, release-note-action-required, approved, cncf-cla: yes, sig/architecture, needs-priority, triage/accepted

#134276 fix: add +enum tag to resource DeviceAllocationMode
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/resource/v1/types.go
  staging/src/k8s.io/api/resource/v1beta1/types.go
  staging/src/k8s.io/api/resource/v1beta2/types.go
Labels: sig/scheduling, lgtm, sig/node, size/XS, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#134297 Remove configmaps related rules from the kube-controller-manager and kube-scheduler leader election roles
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/namespace_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/namespace-roles.yaml
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#133339 ServiceCIDR ValidationAdmissionPolicy for implementing previous behavior
  test/integration/servicecidr/servicecidr_test.go
Labels: area/test, sig/network, kind/documentation, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage
