Repository kubernetes/kubernetes, pull requests merged in 2025-08, with the labels that each got.

#133331 Remove integration-test labels from long running scheduler_perf workloads
  test/integration/scheduler_perf/dra/extendedresource/performance-config.yaml
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage, wg/device-management

#133334 Fix potential race in PodStatusPatchCall implementation
  pkg/scheduler/framework/api_calls/pod_status_patch.go
Labels: kind/bug, sig/scheduling, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#133350 Fix prerelease lifecycle for PodCertificateRequest
  staging/src/k8s.io/api/certificates/v1alpha1/types.go
  staging/src/k8s.io/api/certificates/v1alpha1/zz_generated.prerelease-lifecycle.go
Labels: kind/bug, lgtm, release-note, size/XS, kind/api-change, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#133349 always pull pause image for eviction tests
  test/e2e_node/eviction_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#133344 Fix memory limit decrease test on cri-o
  test/e2e/common/node/pod_resize.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#133409 Make podcertificaterequestcleaner role feature-gated
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Labels: kind/bug, lgtm, release-note, size/M, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#133397 reduced numPods to 5 from 10 to fix flaky test (supports reusing resources) due to timeout
  test/e2e/dra/dra.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted, wg/device-management

#133447 Add release-1.34 configuration publishing bot rules for v1.34
  staging/publishing/rules.yaml
Labels: kind/bug, priority/important-soon, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-triage

#133431 Remove DeprecatedVersion for apiserver_storage_objects, adjust help text
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics_test.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted, area/stable-metrics, sig/etcd

#133467 Update NodeRestriction to prevent nodes from updating their OwnerReferences
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, sig/auth, approved, cncf-cla: yes, triage/accepted

#133468 Update NodeRestriction to prevent nodes from updating their OwnerReferences
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, triage/accepted

#133517 [release-1.31][go] Bump images, dependencies and versions to go 1.23.12 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#133521 [release-1.32][go] Bump images, dependencies and versions to go 1.23.12 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#133522 [release-1.33][go] Bump images, dependencies and versions to go 1.24.6 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#133126 improve CRD handling in VolumePopulator test
  test/e2e/storage/testsuites/provisioning.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#133570 Clarify staging repository READMEs
  staging/src/k8s.io/api/README.md
  staging/src/k8s.io/apiextensions-apiserver/README.md
  staging/src/k8s.io/apimachinery/README.md
  staging/src/k8s.io/apiserver/README.md
  staging/src/k8s.io/cli-runtime/README.md
  staging/src/k8s.io/client-go/README.md
  staging/src/k8s.io/cloud-provider/README.md
  staging/src/k8s.io/cluster-bootstrap/README.md
  staging/src/k8s.io/code-generator/README.md
  staging/src/k8s.io/component-base/README.md
  staging/src/k8s.io/component-helpers/README.md
  staging/src/k8s.io/controller-manager/README.md
  staging/src/k8s.io/cri-api/README.md
  staging/src/k8s.io/cri-client/README.md
  staging/src/k8s.io/csi-translation-lib/README.md
  staging/src/k8s.io/dynamic-resource-allocation/README.md
  staging/src/k8s.io/endpointslice/README.md
  staging/src/k8s.io/externaljwt/README.md
  staging/src/k8s.io/kms/README.md
  staging/src/k8s.io/kube-aggregator/README.md
  staging/src/k8s.io/kube-controller-manager/README.md
  staging/src/k8s.io/kube-proxy/README.md
  staging/src/k8s.io/kube-scheduler/README.md
  staging/src/k8s.io/kubectl/README.md
  staging/src/k8s.io/kubelet/README.md
  staging/src/k8s.io/metrics/README.md
  staging/src/k8s.io/mount-utils/README.md
  staging/src/k8s.io/pod-security-admission/README.md
  staging/src/k8s.io/sample-apiserver/README.md
  staging/src/k8s.io/sample-cli-plugin/README.md
  staging/src/k8s.io/sample-controller/README.md
Labels: sig/network, area/kubelet, kind/documentation, sig/scheduling, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, release-note, size/L, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, triage/accepted, wg/device-management

#133286 added WithFlaky to the device plugin test case: supports extended resources together with ResourceClaim
  test/e2e/dra/dra.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#133562 DRA: wait for stats to converge in "creates slices" e2e test
  test/e2e/dra/dra.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted, wg/device-management

#133625 Remove patch/update from ServiceCIDR API conformance test
  test/e2e/network/service_cidrs.go
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, area/conformance, triage/accepted

#126979 Fix replicaCount calculation exceeding max int32
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: kind/bug, lgtm, sig/autoscaling, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, tide/merge-method-squash, ok-to-test, triage/accepted

#130270 chore(kubelet): migrate nodestatus to contextual logging
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Labels: area/kubelet, kind/cleanup, lgtm, area/logging, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted, wg/structured-logging

#131301 Fix kubectl writing current-context to the wrong kubeconfig file when using multiple kubeconfig files.
  staging/src/k8s.io/client-go/tools/clientcmd/config_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/loader.go
Labels: kind/bug, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#131479 gocritic: simplify bool expression
  staging/src/k8s.io/endpointslice/reconciler_test.go
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#132060 Bump BinaryVersion to 1.35
  staging/src/k8s.io/component-base/version/base.go
  test/integration/metrics/metrics_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/architecture, needs-priority, triage/accepted, sig/etcd

#132477 Fix DaemonSet misscheduled status not updating on node taint changes
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
Labels: kind/bug, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#132505 added changelog for CRI API 1.33
  staging/src/k8s.io/cri-api/README.md
Labels: area/kubelet, kind/documentation, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#132578 Report actionable error when GC fails due to disk pressure
  pkg/kubelet/images/image_gc_manager.go
  pkg/kubelet/images/image_gc_manager_test.go
  pkg/kubelet/kubelet.go
Labels: kind/bug, priority/backlog, area/kubelet, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, ok-to-test, triage/accepted

#132825 API: extending validations with WithOrigins for pkg/apis/core
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
Labels: kind/cleanup, lgtm, release-note, size/M, kind/api-change, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage, wg/device-management

#133080 scheduler_perf: remove outdated TODO comments
  pkg/scheduler/metrics/metrics.go
  test/integration/scheduler_perf/label_selector.go
  test/integration/scheduler_perf/scheduler_perf.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#133116 Fix: Add garbage collection to handle Approved-Unissued CSRs
  pkg/controller/certificates/cleaner/cleaner.go
  pkg/controller/certificates/cleaner/cleaner_test.go
Labels: kind/bug, lgtm, size/M, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#133206 Fix gocritic issues - test/e2e_node
  test/e2e_node/device_plugin_test.go
  test/e2e_node/remote/gce/gce_runner.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#133251 Fix sidecar containers flaky tests
  test/e2e_node/container_lifecycle_test.go
Labels: area/test, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#133268 Pod Certs: Fix flaking integration test
  pkg/kubelet/podcertificate/podcertificatemanager_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/S, kind/flake, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#133287 golangci: Disable staticcheck QF1008 in hints
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#133307 component-base/metrics: store WithContext ctx in a wrapper to avoid race
  staging/src/k8s.io/component-base/metrics/counter.go
  staging/src/k8s.io/component-base/metrics/counter_test.go
  staging/src/k8s.io/component-base/metrics/histogram.go
  staging/src/k8s.io/component-base/metrics/histogram_test.go
  staging/src/k8s.io/component-base/metrics/metric.go
Labels: kind/bug, priority/important-soon, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, triage/accepted

#133310 authz tests: delay response in context cancelled scenario
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/metrics_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/S, kind/flake, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#133319 Migrate tracing tests to use the new otelhttp semantic conventions
  test/integration/apiserver/tracing/tracing_test.go
Labels: area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#133322 Add helper command for comparing protobuf files
  hack/diff-protobuf.sh
Labels: priority/important-soon, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#133338 defaultservicecidr controller no shutdown eventbroadcaster on start
  pkg/controlplane/controller/defaultservicecidr/default_servicecidr_controller.go
Labels: kind/bug, sig/network, lgtm, release-note, size/XS, approved, cncf-cla: yes, needs-priority, needs-triage

#133347 kubeadm: simplify error handling in getAPIEndpointWithRetry
  cmd/kubeadm/app/util/config/cluster.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#133358 Bugfix: DeleteOptions decode errors should return 400 instead of 500
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#133360 fix: parsing the patch directly
  pkg/scheduler/schedule_one_test.go
Labels: sig/scheduling, lgtm, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#133398 Split preemption integration tests to mitigate the timeout
  test/integration/scheduler/preemption/misc/main_test.go
  test/integration/scheduler/preemption/misc/miscpreemption_test.go
  test/integration/scheduler/preemption/preemption_test.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/XXL, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#133419 Fix label selector parsing for consecutive commas
  staging/src/k8s.io/apimachinery/pkg/labels/selector.go
  staging/src/k8s.io/apimachinery/pkg/labels/selector_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#133425 Fix SELinux label comparison
  pkg/controller/volume/selinuxwarning/cache/volumecache_test.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator_test.go
  test/e2e/storage/csimock/base.go
  test/e2e/storage/csimock/csi_selinux_mount.go
Labels: kind/bug, area/test, lgtm, sig/storage, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#133426 Add e2e test for SELinuxMount to CSI drivers
  test/e2e/framework/pod/create.go
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/framework/testdriver.go
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/testsuites/selinuxmount.go
Labels: area/test, lgtm, sig/storage, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#133432 test: Standardize labels for ResourceHealthStatus e2e tests
  test/e2e_node/device_plugin_failures_pod_status_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#133436 Align metric deprecation and hiding with metrics deprecation policy
  staging/src/k8s.io/component-base/metrics/collector_test.go
  staging/src/k8s.io/component-base/metrics/counter_test.go
  staging/src/k8s.io/component-base/metrics/desc.go
  staging/src/k8s.io/component-base/metrics/desc_test.go
  staging/src/k8s.io/component-base/metrics/gauge_test.go
  staging/src/k8s.io/component-base/metrics/histogram_test.go
  staging/src/k8s.io/component-base/metrics/metric.go
  staging/src/k8s.io/component-base/metrics/registry.go
  staging/src/k8s.io/component-base/metrics/registry_test.go
  staging/src/k8s.io/component-base/metrics/summary_test.go
  staging/src/k8s.io/component-base/metrics/testutil/testutil_test.go
  staging/src/k8s.io/component-base/metrics/timing_histogram_test.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/XXL, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted

#133449 Add sig-instrumentation as OWNERS for etcd3/metrics
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/OWNERS
Labels: kind/cleanup, area/apiserver, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, sig/etcd

#133476 Add retries to node's crictl test
  test/e2e/node/crictl.go
Labels: area/test, lgtm, sig/node, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#133479 feat(apis/batch): PodFailurePolicyOnPodConditionsPattern.Status can be omitted
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/batch/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/batch/v1/generated.proto
  staging/src/k8s.io/api/batch/v1/types.go
Labels: lgtm, size/XS, kind/api-change, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, tide/merge-method-squash, ok-to-test, needs-priority, api-review, needs-triage

#133500 cache: do not allocate chan for nothing
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, triage/accepted

#133513 Add missing conversion for timeoutForControlPlane
  cmd/kubeadm/app/util/config/initconfiguration.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#133518 Don't run PreEnqueue when pod is activated from backoffQ
  pkg/scheduler/backend/queue/scheduling_queue.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
Labels: sig/scheduling, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#133571 fix many incorrect deprecation warnings in godoc, enable deprecatedComment linter
  hack/golangci.yaml
  hack/golangci.yaml.in
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go
  staging/src/k8s.io/client-go/informers/factory.go
  staging/src/k8s.io/client-go/kubernetes/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_clientset.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/factory.go
  staging/src/k8s.io/code-generator/cmd/register-gen/generators/register_external.go
  staging/src/k8s.io/code-generator/cmd/register-gen/output_tests/simpletype/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/apis/example/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/MixedCase/apis/example/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/MixedCase/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/MixedCase/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/core/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/example/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/example2/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/example3.io/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/apiserver/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/apiserver/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/crd/apis/conflicting/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/crd/apis/example/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/crd/apis/example2/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/crd/apis/extensions/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/crd/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/single/api/v1/zz_generated.register.go
  staging/src/k8s.io/code-generator/examples/single/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/single/informers/externalversions/factory.go
  staging/src/k8s.io/component-base/metrics/summary.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/fake/clientset_generated.go
  staging/src/k8s.io/kube-aggregator/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/set_credentials.go
  staging/src/k8s.io/metrics/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/informers/externalversions/factory.go
  staging/src/k8s.io/sample-controller/pkg/generated/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-controller/pkg/generated/informers/externalversions/factory.go
  test/e2e/framework/util.go
Labels: area/test, priority/backlog, kind/cleanup, area/kubectl, lgtm, sig/api-machinery, release-note, size/M, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/testing, sig/architecture, area/code-generation, area/e2e-test-framework, triage/accepted

#133573 fix: Update unit test to catch actual nil Labels case and fix functionality to handle nil Labels
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#133585 DRA: Fix flake in dra BindingConditions integration test
  test/integration/dra/dra_test.go
Labels: area/test, lgtm, sig/node, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted, wg/device-management

#133596 Require Storage Version Migrator to be Gated Behind RealFIFO
  cmd/kube-controller-manager/app/storageversionmigrator.go
Labels: lgtm, sig/api-machinery, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#133598 kubectl expose --help: change --selector help text for clarity
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose.go
Labels: kind/documentation, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#133603 Fix nfacct test cases on s390x
  pkg/proxy/util/nfacct/nfacct_linux_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#133621 scheduler_perf: fix data race warning around klog flush
  test/integration/scheduler_perf/scheduler_perf.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#133636 Update cri-tools to v1.34.0
  build/dependencies.yaml
  cluster/gce/gci/configure.sh
  cluster/gce/windows/k8s-node-setup.psm1
Labels: kind/cleanup, lgtm, area/provider/gcp, release-note, size/S, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#133655 DRA E2E: clean up class creation for extended resource tests
  test/e2e/dra/dra.go
  test/e2e/dra/utils/builder.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#133667 kubeadm: clarify the comments for a few API fields
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
Labels: priority/backlog, kind/documentation, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#133686 Drop CronJobsScheduledAnnotation after the feature GA-ed in 1.32
  pkg/controller/cronjob/utils.go
  pkg/controller/cronjob/utils_test.go
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#133731 Drop experimental prefix from kubectl wait command
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
Labels: kind/cleanup, area/kubectl, lgtm, release-note, size/XS, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#128649 kubelet/volume: remove OuterVolumeSpecName from ASW
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kubelet_volumes.go
  pkg/kubelet/kubelet_volumes_test.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/desired_state_of_world.go
  pkg/kubelet/volumemanager/cache/desired_state_of_world_test.go
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/kubelet/volumemanager/volume_manager_fake.go
  pkg/kubelet/volumemanager/volume_manager_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#133327 Change KYAML gate to on-by-default
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/json_yaml_flags.go
  staging/src/k8s.io/kubectl/pkg/cmd/apiresources/apiresources_test.go
Labels: area/kubectl, lgtm, release-note, size/XS, kind/api-change, kind/feature, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#133572 Update `sharedInformerFactoryInterface` context initialization example
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/client-go/informers/factory.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/factory.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/MixedCase/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/apiserver/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/crd/informers/externalversions/factory.go
  staging/src/k8s.io/code-generator/examples/single/informers/externalversions/factory.go
  staging/src/k8s.io/kube-aggregator/pkg/client/informers/externalversions/factory.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/informers/externalversions/factory.go
  staging/src/k8s.io/sample-controller/pkg/generated/informers/externalversions/factory.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#131639 pull mounter from dl.k8s.io
  cluster/gce/gci/configure.sh
Labels: kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#133325 Fix conversion-gen handling of unexported fields and custom conversions of pointers
  api/api-rules/codegen_violation_exceptions.list
  staging/src/k8s.io/code-generator/cmd/conversion-gen/generators/conversion.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/example/types.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/example/v1/conversion.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/example/v1/conversion_test.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/example/v1/types.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/example/v1/zz_generated.conversion.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/example/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/code-generator/examples/apiserver/apis/example/zz_generated.deepcopy.go
  staging/src/k8s.io/code-generator/examples/apiserver/openapi/zz_generated.openapi.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#133682 Increase port-forward broken connection detection client timeout
  test/e2e/kubectl/portforward.go
Labels: area/test, lgtm, size/S, kind/flake, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#133760 drop spammy xtrace from hack/test scripts
  hack/jenkins/test-cmd-dockerized.sh
  hack/jenkins/test-dockerized.sh
  hack/jenkins/test-integration-dockerized.sh
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#133716 api: Remove +listType marker for non-list field
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__apiextensions.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__apiregistration.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__autoscaling__v1_openapi.json
  api/openapi-spec/v3/apis__autoscaling__v2_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  api/openapi-spec/v3/apis__certificates.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__certificates.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__certificates.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__coordination.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__coordination.k8s.io__v1alpha2_openapi.json
  api/openapi-spec/v3/apis__coordination.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__discovery.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__events.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__flowcontrol.apiserver.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__internal.apiserver.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__networking.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__networking.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__node.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__policy__v1_openapi.json
  api/openapi-spec/v3/apis__rbac.authorization.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1alpha3_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1beta2_openapi.json
  api/openapi-spec/v3/apis__scheduling.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__storagemigration.k8s.io__v1alpha1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  staging/src/k8s.io/code-generator/examples/apiserver/openapi/zz_generated.openapi.go
  staging/src/k8s.io/kube-aggregator/pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/openapi/zz_generated.openapi.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#133771 Fix completion of resource names
  staging/src/k8s.io/kubectl/pkg/util/completion/completion.go
  staging/src/k8s.io/kubectl/pkg/util/completion/completion_test.go
Labels: kind/bug, priority/critical-urgent, area/kubectl, lgtm, release-note, size/L, approved, sig/cli, cncf-cla: yes, triage/accepted

#133699 hack/logcheck.conf: add several converted packages
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/logcheck.conf
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/instrumentation, needs-priority, needs-triage

#133786 Use consistent documentation of aliases in the API
  pkg/apis/admissionregistration/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/admissionregistration/v1/types.go
  staging/src/k8s.io/api/admissionregistration/v1alpha1/types.go
  staging/src/k8s.io/api/admissionregistration/v1beta1/types.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1beta1/types.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#133608 added resourceClaimModified to bindClaim to decide whether to update assume cache
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
Labels: kind/bug, sig/scheduling, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#133428 kubelet: remove allocationManager's reference to containerManager
  pkg/kubelet/allocation/allocation_manager.go
  pkg/kubelet/allocation/allocation_manager_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  pkg/kubelet/pod_workers_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#133630 [FG:InPlacePodVerticalScaling] Clean up outdated TODO about CPU MinShares edge case
  pkg/kubelet/kuberuntime/helpers_linux.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, triage/accepted

#133430 bump gopkg.in/evanphx/json-patch.v4
  go.mod
  go.sum
  hack/unwanted-dependencies.json
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-client/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/endpointslice/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
  vendor/gopkg.in/evanphx/json-patch.v4/README.md
  vendor/gopkg.in/evanphx/json-patch.v4/patch.go
  vendor/modules.txt
Labels: sig/network, area/kubelet, kind/cleanup, sig/scheduling, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, area/code-organization, needs-triage, wg/device-management

#132451 Fix race in scheduler integration tests
  pkg/scheduler/backend/queue/active_queue.go
  pkg/scheduler/backend/queue/active_queue_test.go
  pkg/scheduler/backend/queue/nominator.go
  pkg/scheduler/backend/queue/scheduling_queue.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
  pkg/scheduler/backend/queue/testing.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/preemption/preemption_test.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage
