Repository kubernetes/kubernetes, pull requests merged in 2025-03, with the labels that each got.

#130388 Add an error matcher, convert 2 tests
  pkg/apis/apps/validation/validation_test.go
  pkg/apis/batch/validation/validation_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/proxy/apis/config/validation/validation_test.go
  staging/src/k8s.io/apimachinery/pkg/api/validation/generic.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/errors.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/testing/match.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#130450 Fix implementation of ContainsCIDR to allow non-equal addresses
  staging/src/k8s.io/apiserver/pkg/cel/library/cidr.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cidr_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#130476 Do not look for SSH external IP for NFSPersistentVolumes tests
  test/e2e/storage/nfs_persistent_volume-disruptive.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#130506 Clarify ordering requirements of client-gen --input
  staging/src/k8s.io/code-generator/cmd/client-gen/args/args.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#129435 chore: add more error info for validateResourceSliceSpec
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceslice_test.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#130512 Clarify the behavior when the host_port value is set to 0 in CRI
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
Labels: sig/network, area/kubelet, kind/documentation, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130484 conntrack reconciler must check the dst port
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/conntrack/cleanup_test.go
  pkg/proxy/conntrack/fake.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/L, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#130515 Revert "LeaseCandidate v1beta1 API"
  api/discovery/aggregated_v2.json
  api/discovery/apis.json
  api/discovery/apis__coordination.k8s.io.json
  api/discovery/apis__coordination.k8s.io__v1alpha2.json
  api/discovery/apis__coordination.k8s.io__v1beta1.json
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__coordination.k8s.io__v1beta1_openapi.json
  pkg/apis/coordination/types.go
  pkg/apis/coordination/v1beta1/zz_generated.conversion.go
  pkg/controlplane/apiserver/aggregator.go
  pkg/controlplane/apiserver/server.go
  pkg/controlplane/controller/leaderelection/election.go
  pkg/controlplane/controller/leaderelection/election_test.go
  pkg/controlplane/controller/leaderelection/leaderelection_controller.go
  pkg/controlplane/controller/leaderelection/leaderelection_controller_test.go
  pkg/controlplane/controller/leaderelection/leasecandidategc_controller.go
  pkg/controlplane/controller/leaderelection/leasecandidategc_controller_test.go
  pkg/controlplane/instance.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubeapiserver/default_storage_factory_builder.go
  pkg/registry/coordination/rest/storage_coordination.go
  staging/src/k8s.io/api/coordination/v1beta1/generated.pb.go
  staging/src/k8s.io/api/coordination/v1beta1/generated.proto
  staging/src/k8s.io/api/coordination/v1beta1/register.go
  staging/src/k8s.io/api/coordination/v1beta1/types.go
  staging/src/k8s.io/api/coordination/v1beta1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/coordination/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/coordination/v1beta1/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1beta1.LeaseCandidate.json
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1beta1.LeaseCandidate.pb
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1beta1.LeaseCandidate.yaml
  staging/src/k8s.io/client-go/applyconfigurations/coordination/v1beta1/leasecandidate.go
  staging/src/k8s.io/client-go/applyconfigurations/coordination/v1beta1/leasecandidatespec.go
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/client-go/applyconfigurations/utils.go
  staging/src/k8s.io/client-go/informers/coordination/v1beta1/interface.go
  staging/src/k8s.io/client-go/informers/coordination/v1beta1/leasecandidate.go
  staging/src/k8s.io/client-go/informers/generic.go
  staging/src/k8s.io/client-go/kubernetes/typed/coordination/v1beta1/coordination_client.go
  staging/src/k8s.io/client-go/kubernetes/typed/coordination/v1beta1/fake/fake_coordination_client.go
  staging/src/k8s.io/client-go/kubernetes/typed/coordination/v1beta1/fake/fake_leasecandidate.go
  staging/src/k8s.io/client-go/kubernetes/typed/coordination/v1beta1/generated_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/coordination/v1beta1/leasecandidate.go
  staging/src/k8s.io/client-go/listers/coordination/v1beta1/expansion_generated.go
  staging/src/k8s.io/client-go/listers/coordination/v1beta1/leasecandidate.go
  staging/src/k8s.io/client-go/tools/leaderelection/leasecandidate.go
  staging/src/k8s.io/client-go/tools/leaderelection/leasecandidate_test.go
  test/integration/apiserver/coordinated_leader_election_test.go
  test/integration/etcd/data.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, size/XXL, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, area/code-generation, needs-priority, triage/accepted, sig/etcd

#129375 Remove general available feature-gate AppArmor
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  staging/src/k8s.io/pod-security-admission/test/fixtures_appArmorProfile.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: kind/cleanup, lgtm, sig/node, release-note, size/S, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#130097 Modify how to check the status in PodRejectionStatus test
  test/e2e/node/pod_admission.go
Labels: area/test, priority/backlog, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, triage/accepted

#130493 test: sched: replace `pointer` use with `ptr`
  test/integration/scheduler/filters/filters_test.go
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/preemption/preemption_test.go
  test/integration/scheduler/queueing/queue_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/scoring/priorities_test.go
  test/integration/scheduler/util.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#130505 Automated cherry pick of #130484: conntrack reconciler must check the dst port
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/conntrack/cleanup_test.go
  pkg/proxy/conntrack/fake.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#129690 Automated cherry pick of #129661: DRA CEL: add missing size estimator
  pkg/apis/resource/types.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  staging/src/k8s.io/api/resource/v1alpha3/types.go
  staging/src/k8s.io/api/resource/v1beta1/types.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/cache.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/cache_test.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/compile.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/compile_test.go
Labels: priority/important-soon, lgtm, sig/node, release-note, size/L, kind/api-change, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted, wg/device-management

#130519 Reduce number of (versions of!) images we pull in our e2e tests
  test/e2e/dra/test-driver/deploy/example/pod-external.yaml
  test/e2e/dra/test-driver/deploy/example/pod-inline.yaml
  test/e2e/dra/test-driver/deploy/example/pod-shared.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/gce-pd/node_ds.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#130526 e2e network policies test support network policies with finalizers
  test/e2e/network/netpol/network_policy_api.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage, area/network-policy

#130539 EndpointSlice cleanups
  staging/src/k8s.io/endpointslice/metrics/cache.go
  staging/src/k8s.io/endpointslice/metrics/cache_test.go
  staging/src/k8s.io/endpointslice/metrics/metrics.go
  staging/src/k8s.io/endpointslice/reconciler_test.go
  staging/src/k8s.io/endpointslice/topologycache/sliceinfo_test.go
  staging/src/k8s.io/endpointslice/topologycache/topologycache_test.go
  staging/src/k8s.io/endpointslice/topologycache/utils_test.go
  staging/src/k8s.io/endpointslice/trafficdist/trafficdist_test.go
  staging/src/k8s.io/endpointslice/util/controller_utils_test.go
  staging/src/k8s.io/endpointslice/util/endpointslice_tracker_test.go
  staging/src/k8s.io/endpointslice/utils.go
  staging/src/k8s.io/endpointslice/utils_test.go
Labels: sig/network, kind/cleanup, lgtm, size/XL, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130109 Automated cherry pick of #129114: kubelet: fix DRA registration test
  pkg/kubelet/cm/dra/plugin/registration_test.go
Labels: area/kubelet, lgtm, sig/node, size/S, kind/flake, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted, wg/device-management

#130329 Fix the node reboot validation failure
  test/e2e/windows/reboot_node.go
Labels: kind/bug, area/test, lgtm, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#130413 chore(kubelet): Use ptr.To to replace the custom function unit64Ptr
  pkg/kubelet/images/image_gc_manager_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130472 selinux: Ignore pods with Recursive policy
  pkg/controller/volume/selinuxwarning/cache/volumecache_test.go
  pkg/controller/volume/selinuxwarning/selinux_warning_controller.go
  pkg/controller/volume/selinuxwarning/selinux_warning_controller_test.go
  test/e2e/storage/csimock/csi_selinux_mount.go
Labels: area/test, lgtm, sig/storage, size/L, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#130478 feat: add DeclarativeValidation and DeclarativeValidationMismatchMetric feature gates
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#130245 Fixing k8s.io/kubernetes/pkg/util/filesystem unit tests for Windows
  pkg/util/filesystem/util_windows_test.go
Labels: lgtm, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, kind/failing-test, needs-priority, needs-triage

#130345 kubeadm: Replace the yaml in the log/comments with a generic term.
  cmd/kubeadm/app/cmd/config_test.go
  cmd/kubeadm/app/componentconfigs/configset.go
  cmd/kubeadm/app/componentconfigs/configset_test.go
  cmd/kubeadm/app/componentconfigs/fakeconfig_test.go
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/util/config/cluster.go
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/config/joinconfiguration.go
  cmd/kubeadm/app/util/config/joinconfiguration_test.go
  cmd/kubeadm/app/util/config/resetconfiguration.go
  cmd/kubeadm/app/util/config/resetconfiguration_test.go
  cmd/kubeadm/app/util/config/upgradeconfiguration.go
  cmd/kubeadm/app/util/config/upgradeconfiguration_test.go
  cmd/kubeadm/app/util/marshal.go
  cmd/kubeadm/app/util/marshal_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, release-note, size/XL, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#130477 Add e2e test for MutatingAdmissionPolicy.
  test/e2e/apimachinery/mutatingadmissionpolicy.go
  test/e2e/feature/feature.go
Labels: area/test, lgtm, sig/api-machinery, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#130546 Bump addon manager kubectl version to 1.32.2
  cluster/addons/addon-manager/CHANGELOG.md
  cluster/addons/addon-manager/Makefile
Labels: kind/cleanup, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#130000 Fix pod worker and prober log message typos
  pkg/kubelet/pod_workers.go
  pkg/kubelet/prober/worker.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130116 KEP-3857: Recursive Read-only (RRO) mounts: promote to GA
  pkg/features/versioned_kube_features.go
  test/e2e/feature/feature.go
  test/e2e_node/mount_rro_linux_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#130244 Topology Manager logging improvements
  pkg/kubelet/cm/topologymanager/fake_topology_manager.go
  pkg/kubelet/cm/topologymanager/policy_options.go
  pkg/kubelet/cm/topologymanager/policy_options_test.go
  pkg/kubelet/cm/topologymanager/scope_container.go
  pkg/kubelet/cm/topologymanager/scope_pod.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#129887 Change volume affinity scheduling error message to be more intuitive
  pkg/scheduler/framework/plugins/volumebinding/binder.go
  pkg/scheduler/schedule_one_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, release-note, size/XS, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#130119 [kube-proxy: nftables] Optimize kube-proxy restart time
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
Labels: sig/network, area/kube-proxy, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130499 Prevent node-problem-detector from being scheduled on Windows nodes.
  cluster/addons/node-problem-detector/npd.yaml
Labels: kind/bug, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#130090 nominate myself as an approver for storage e2e tests
  test/e2e/storage/OWNERS
Labels: area/test, kind/documentation, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#130122 unit tests - fixing k8s.io/kubernetes/pkg/kubelet/apis/config/validation unit test failures on Windows
  pkg/kubelet/apis/config/validation/validation_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, needs-priority, needs-triage

#129411 chore: migrate logging featuregates to versioned
  staging/src/k8s.io/component-base/logs/api/v1/kube_features.go
  staging/src/k8s.io/component-base/logs/api/v1/options.go
  test/featuregates_linter/test_data/unversioned_feature_list.yaml
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: lgtm, sig/api-machinery, sig/cluster-lifecycle, size/M, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted, wg/structured-logging

#129973 Add third party strategy to the coordinate leader election integratio…
  pkg/controlplane/controller/leaderelection/leaderelection_controller.go
  test/integration/apiserver/coordinated_leader_election_test.go
Labels: area/test, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#130507 Update OrderedNamespaceDeletion feature gate on by default
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/features/versioned_kube_features.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: lgtm, sig/api-machinery, release-note, size/S, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#130566 Update base image for addon-manager to fix a build failure.
  cluster/addons/addon-manager/CHANGELOG.md
  cluster/addons/addon-manager/Makefile
Labels: kind/bug, lgtm, area/provider/gcp, size/XS, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#130576 Change allocation manager pod UID to types.UID
  pkg/kubelet/allocation/allocation_manager.go
  pkg/kubelet/allocation/allocation_manager_test.go
  pkg/kubelet/allocation/state/checkpoint.go
  pkg/kubelet/allocation/state/state.go
  pkg/kubelet/allocation/state/state_checkpoint.go
  pkg/kubelet/allocation/state/state_checkpoint_test.go
  pkg/kubelet/allocation/state/state_mem.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_test.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#130317 Add missing increments of queue_incoming_pods_total metric in scheduling queue
  pkg/scheduler/backend/queue/active_queue.go
  pkg/scheduler/backend/queue/active_queue_test.go
  pkg/scheduler/backend/queue/backoff_queue.go
  pkg/scheduler/backend/queue/backoff_queue_test.go
  pkg/scheduler/backend/queue/scheduling_queue.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130587 Run lists tests in subtests
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#130511 Implement tests for encoding collections in Proto
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/collections_test.go
Labels: lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130571 Help debug latencies in authn and authz phase of Request
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authorization.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/webhook_duration.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/M, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#130564 Add "endpoints.kubernetes.io/managed-by" label to Endpoints
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
Labels: sig/network, lgtm, size/M, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#130314 Automated cherry pick of #130202: kubeadm: fix panic when no UpgradeConfiguration was found in the config file
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
  cmd/kubeadm/app/util/config/upgradeconfiguration.go
  cmd/kubeadm/app/util/config/upgradeconfiguration_test.go
Labels: kind/bug, priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/L, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#130320 Relax OpenAPI Verification to pass for both strict and non-strict alpha enforcement
  api/discovery/aggregated_v2.json
  api/discovery/apis.json
  api/discovery/apis__authentication.k8s.io.json
  api/discovery/apis__authentication.k8s.io__v1beta1.json
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__authentication.k8s.io__v1beta1_openapi.json
  hack/update-openapi-spec.sh
  hack/verify-openapi-spec.sh
  staging/src/k8s.io/apiserver/pkg/server/deleted_kinds.go
  staging/src/k8s.io/apiserver/pkg/server/deleted_kinds_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, triage/accepted

#130601 [DNM] Show that not updating the OpenAPI doesn't lead to failures in verify
  hack/update-openapi-spec.sh
  hack/verify-openapi-spec.sh
  staging/src/k8s.io/apiserver/pkg/server/deleted_kinds.go
  staging/src/k8s.io/apiserver/pkg/server/deleted_kinds_test.go
Labels: area/apiserver, sig/api-machinery, size/M, cncf-cla: yes, do-not-merge/release-note-label-needed, needs-priority, needs-triage, do-not-merge/needs-kind

#130582 Job: Use jobSuspended util for suspended detection
  pkg/controller/job/job_controller.go
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#130312 Automated cherry pick of #130202: kubeadm: fix panic when no UpgradeConfiguration was found in the config file
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
  cmd/kubeadm/app/util/config/upgradeconfiguration.go
  cmd/kubeadm/app/util/config/upgradeconfiguration_test.go
Labels: kind/bug, priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/L, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#130313 Automated cherry pick of #130202: kubeadm: fix panic when no UpgradeConfiguration was found in the config file
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
  cmd/kubeadm/app/util/config/upgradeconfiguration.go
  cmd/kubeadm/app/util/config/upgradeconfiguration_test.go
Labels: kind/bug, priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/L, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#129535 feature(scheduler): add more requeue case for CSI NodeVolumeLimits plugin when the VolumeAttachment is deleted
  test/integration/scheduler/queueing/queue.go
Labels: area/test, sig/scheduling, lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129971 chore(scheduler): add filter integration tests for missing part plugins: NodePorts plugin
  test/integration/scheduler/filters/filters_test.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#130422 Propagate error when creating CustomResourceStorage instead of panic'ing
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#130589 Pass storage.ListOptions to WaitUntilFreshAndList
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#130461 Automated cherry pick of #130405: Add Watch to controller roles
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Labels: kind/bug, lgtm, release-note, size/M, cherry-pick-approved, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#130496 Automated cherry pick of #129946: fix(pod/util): fix typo in getting pod validation options
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#130563 Automated cherry pick of #130097: Modify how to check the status in PodRejectionStatus test
  test/e2e/node/pod_admission.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/S, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#130426 Automated cherry pick of #128097: [sig-windows] Update kubectl exec to use correct format
  test/e2e/windows/gmsa_full.go
Labels: area/test, priority/important-soon, lgtm, size/XS, cherry-pick-approved, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#130416 Store Pod backoff expiration time in QueuedPodInfo
  pkg/scheduler/backend/queue/active_queue.go
  pkg/scheduler/backend/queue/backoff_queue.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
  pkg/scheduler/framework/types.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130537 Expose NodeInfo to the ScorePlugin
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/imagelocality/image_locality.go
  pkg/scheduler/framework/plugins/imagelocality/image_locality_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring.go
  pkg/scheduler/framework/plugins/interpodaffinity/scoring_test.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation_test.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/requested_to_capacity_ratio_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration_test.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/runtime/instrumented_plugins.go
  pkg/scheduler/schedule_one_test.go
  pkg/scheduler/testing/framework/fake_extender.go
  pkg/scheduler/testing/framework/fake_plugins.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: area/test, sig/scheduling, lgtm, sig/storage, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#130616 Fix unit tests for volume ownership
  pkg/volume/volume_linux_test.go
Labels: kind/bug, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130453 kms-e2e: use setup_env / respect GOTOOLCHAIN / use kube-cross image
  build/dependencies.yaml
  staging/src/k8s.io/kms/internal/plugins/_mock/Dockerfile
  test/e2e/testing-manifests/auth/encrypt/run-e2e.sh
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#130618 call dropDisabledPodFields from pod status strategy
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/node, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-triage

#130604 Always report pod status resources consistent with the current pod sync
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#130617 Update status before returning err
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  test/e2e/apimachinery/namespace.go
Labels: area/test, lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#130627 Add all extra_pkgs needed by main API types to validation-gen
  hack/update-codegen.sh
  staging/src/k8s.io/code-generator/cmd/validation-gen/validation.go
Labels: lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#129909 Refactor scheduler_perf runWorkload
  test/integration/scheduler_perf/scheduler_perf.go
Labels: area/test, kind/cleanup, lgtm, size/XL, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#130243 Revert userns kernel check
  pkg/kubelet/kubelet_pods.go
  pkg/util/kernel/constants.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, needs-priority, needs-triage

#130522 chore(scheduler): add filter integration tests for missing part plugins: TaintToleration plugin
  pkg/scheduler/testing/wrappers.go
  test/integration/scheduler/filters/filters_test.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#130612 Fix non-portable use of "sleep infinity"
  test/e2e/framework/pod/utils.go
  test/e2e/framework/pod/wait.go
  test/e2e/storage/testsuites/subpath.go
Labels: area/test, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#130396 e2e_node: remote: fix getting pod logs
  test/e2e_node/remote/remote.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#130470 client-go/gentype/fake: sets opts.Watch true
  staging/src/k8s.io/client-go/gentype/fake.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#130489 client-gen/fake: pass ListOptions to Watch method
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/clientset_generated.go
  staging/src/k8s.io/client-go/kubernetes/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_clientset.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/MixedCase/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/apiserver/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/examples/single/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/fake/clientset_generated.go
  staging/src/k8s.io/metrics/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-controller/pkg/generated/clientset/versioned/fake/clientset_generated.go
Labels: kind/bug, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/instrumentation, area/code-generation, needs-priority, triage/accepted

#130153 node: cpumanager: prefer-align-cpus-by-uncorecache: add test cases and CPU topologies
  pkg/kubelet/cm/cpumanager/policy_static_test.go
  pkg/kubelet/cm/cpumanager/policy_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XXL, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#130635 Return correct error upon websocket message read failure
  staging/src/k8s.io/client-go/tools/remotecommand/websocket.go
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#130623 Fixing unit tests in k8s.io/kubernetes/pkg/volume/util/subpath on Win…
  pkg/volume/util/subpath/subpath_windows_test.go
Labels: lgtm, sig/storage, size/XS, release-note-none, approved, sig/windows, cncf-cla: yes, kind/failing-test, needs-priority, needs-triage

#130125 fixing k8s.io/kubernetes/pkg/kubelet/eviction unit tests on Windows
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/eviction/helpers_windows.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, sig/windows, cncf-cla: yes, kind/failing-test, triage/accepted

#130651 Build etcd v3.6.0-rc.2 image
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: lgtm, size/XS, kind/feature, area/release-eng, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, sig/etcd

#130485 Enable dynamic configuration of service account names and audiences for token requests in node audience restriction
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
  test/integration/auth/node_test.go
Labels: area/test, priority/important-soon, lgtm, release-note, size/XL, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#130561 more misc proxy cleanup
  cmd/kube-proxy/app/server_linux.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/graceful_termination_test.go
  pkg/proxy/ipvs/ipset.go
  pkg/proxy/ipvs/ipset/ipset.go
  pkg/proxy/ipvs/ipset/ipset_test.go
  pkg/proxy/ipvs/netlink_linux.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/ipvs/testing/fake.go
  pkg/proxy/ipvs/util/ipvs_linux.go
  pkg/proxy/ipvs/util/ipvs_linux_test.go
  pkg/proxy/metaproxier/meta_proxier.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/nftables/proxier_test.go
  pkg/proxy/winkernel/hcnutils.go
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, sig/windows, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#130508 Automated cherry pick of #130035: [KEP-5080]Ordered Namespace Deletion
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  test/e2e/apimachinery/namespace.go
  test/e2e/feature/feature.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#130509 Automated cherry pick of #130035: [KEP-5080]Ordered Namespace Deletion
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/features/kube_features.go
  test/e2e/apimachinery/namespace.go
  test/e2e/feature/feature.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#130510 Automated cherry pick of #130035: Add the feature gate `OrderedNamespaceDeletion` for
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/features/kube_features.go
  test/e2e/apimachinery/namespace.go
  test/e2e/feature/feature.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/L, cherry-pick-approved, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, triage/accepted

#130664 Add time to extra-pkgs for validation-gen
  hack/update-codegen.sh
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#130637 Unify ListOptions validation between cache and etcd
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/interfaces.go
  staging/src/k8s.io/apiserver/pkg/storage/interfaces_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted, sig/etcd

#130622 DRA: Prioritized Alternatives in Device Requests, II
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator_test.go
  test/integration/dra/dra_test.go
  test/integration/scheduler_perf/dra/performance-config.yaml
  test/integration/scheduler_perf/dra/templates/resourceclaimtemplate-first-available.yaml
Labels: area/test, priority/important-soon, kind/cleanup, sig/scheduling, lgtm, sig/node, sig/api-machinery, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-triage, wg/device-management

#130391 e2e_node: fix ImageGCNoEviction test for kubetest2
  test/e2e_node/eviction_test.go
Labels: area/test, priority/backlog, lgtm, sig/node, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#130603 Mark VAC recovery e2e test flaky
  test/e2e/storage/testsuites/volume_modify.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#130666 Better handling of YAML that tastes like JSON
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder_test.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/stream_reader.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/stream_reader_test.go
Labels: kind/bug, kind/cleanup, lgtm, sig/api-machinery, release-note, size/XL, approved, cncf-cla: yes, needs-priority, needs-triage

#130675 fix a flake of TestRoundTripTypes: for FirstAvailable[].AllocationMode
  pkg/apis/resource/fuzzer/fuzzer.go
Labels: priority/important-soon, sig/scheduling, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, triage/accepted, wg/device-management

#130655 Set [Feature:OffByDefault] when WithFeatureGate receives an off-by-default feature gate
  test/e2e/auth/projected_clustertrustbundle.go
  test/e2e/feature/feature.go
  test/e2e/framework/ginkgowrapper.go
  test/e2e/framework/internal/unittests/bugs/bugs.go
Labels: area/test, kind/cleanup, lgtm, release-note, size/M, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#130559 [FG:InPlacePodVerticalScaling] Fix use CamelCase for memory manager policy in InPlacePodVerticalScalingExclusiveCPUs
  pkg/kubelet/kubelet.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XS, approved, cncf-cla: yes, triage/accepted

#130695 [Declarative Validation] Add CoveredByDeclarative to field error struct
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/errors.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/errors_test.go
Labels: lgtm, size/L, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, triage/accepted

#130599 [FG:InPlacePodVerticalScaling] Track actuated resources to trigger resizes
  pkg/kubelet/allocation/allocation_manager.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
Labels: priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/XXL, kind/feature, approved, cncf-cla: yes, needs-triage

#130703 [Declarative Validation] update Declarative Validation featuregate
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130530 v1.33 feature gate cleanup
  pkg/controlplane/apiserver/config.go
  pkg/features/versioned_kube_features.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/wrapper.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/wrapper_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
  test/integration/apiserver/discovery/discovery_test.go
Labels: area/test, priority/backlog, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted

#128786 warn on bad IPs in objects
  pkg/api/pod/warnings.go
  pkg/api/pod/warnings_test.go
  pkg/api/service/warnings.go
  pkg/api/service/warnings_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpoint/endpoints_controller_test.go
  pkg/controller/endpointslice/endpointslice_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller.go
  pkg/controller/endpointslicemirroring/endpointslicemirroring_controller_test.go
  pkg/controller/endpointslicemirroring/reconciler_test.go
  pkg/controller/endpointslicemirroring/utils.go
  pkg/controller/endpointslicemirroring/utils_test.go
  pkg/registry/core/endpoint/strategy.go
  pkg/registry/core/endpoint/strategy_test.go
  pkg/registry/core/node/strategy.go
  pkg/registry/core/node/strategy_test.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
  pkg/registry/discovery/endpointslice/strategy.go
  pkg/registry/discovery/endpointslice/strategy_test.go
  pkg/registry/networking/ingress/strategy.go
  pkg/registry/networking/ingress/strategy_test.go
  pkg/registry/networking/networkpolicy/strategy.go
  pkg/registry/networking/networkpolicy/strategy_test.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/ip.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/ip_test.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/validation_test.go
Labels: sig/network, lgtm, sig/node, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#130706 Declarative validation: Add default + optional handling
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/nonzero_defaults/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/nonzero_defaults/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/nonzero_defaults/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/zero_defaults/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/zero_defaults/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/zero_defaults/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validation.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/required.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/validators.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#129826 fix up iptables construction, kubelet iptables startup messages
  cmd/kube-proxy/app/server_linux.go
  pkg/kubelet/kubelet_network_linux.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/util/iptables/iptables.go
  pkg/util/iptables/iptables_test.go
  pkg/util/iptables/monitor_test.go
Labels: sig/network, area/kubelet, kind/cleanup, area/kube-proxy, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, area/ipvs, needs-priority, triage/accepted

#130322 Delete todo comment to ignore update where 'old' is equivalent to 'cur'
  pkg/controller/disruption/disruption.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, tide/merge-method-squash, ok-to-test, triage/accepted

#130574 [FG:InPlacePodVerticalScaling] Drop `Proposed` resize status
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/types.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
  staging/src/k8s.io/api/core/v1/types.go
  test/e2e/common/node/pod_resize.go
  test/e2e/framework/pod/resize.go
  test/e2e/node/pod_resize.go
Labels: kind/bug, area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, release-note, size/XL, kind/api-change, sig/apps, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#130626 sort client-gen output
  staging/src/k8s.io/code-generator/cmd/client-gen/args/args.go
  staging/src/k8s.io/code-generator/cmd/client-gen/main.go
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, size/XS, approved, cncf-cla: yes, priority/important-longterm, area/code-generation, triage/accepted

#130650 [FG:PodObservedGenerationTracking] controller sets observedGeneration on pod conditions
  pkg/api/v1/pod/util.go
  pkg/controller/disruption/disruption.go
  pkg/controller/podgc/gc_controller.go
  pkg/controller/tainteviction/taint_eviction.go
Labels: area/test, area/kubelet, sig/scheduling, lgtm, sig/storage, sig/node, sig/api-machinery, release-note, size/M, kind/api-change, kind/feature, sig/apps, approved, sig/windows, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, area/e2e-test-framework, needs-triage

#130716 use diff port for TestCreateConfigWithoutWebHooks from TestCreateConfig
  staging/src/k8s.io/cloud-provider/options/options_test.go
Labels: lgtm, area/cloudprovider, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#130730 Add +k8s:minimum validation tag
  staging/src/k8s.io/apimachinery/pkg/api/validate/constraints/constraints.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/content/errors.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/limits.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/limits_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/minimum/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/minimum/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/minimum/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/common.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/each.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/limits.go
Labels: lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#130731 Fix context usage in CLE integration test
  test/integration/apiserver/coordinated_leader_election_test.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#129407 Implement streaming proto list encoder
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/registry/core/rest/storage_core_generic.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/codec_factory.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/collections.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/collections_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/protobuf.go
  staging/src/k8s.io/apimachinery/pkg/runtime/types_proto.go
  staging/src/k8s.io/apimachinery/pkg/runtime/types_proto_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, sig/network, sig/scheduling, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/provider/gcp, sig/storage, sig/node, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, sig/auth, sig/apps, approved, sig/cli, cncf-cla: yes, sig/testing, sig/release, sig/architecture, area/code-generation, sig/cloud-provider, needs-priority, area/dependency, triage/accepted, wg/device-management

#130734 util/pointer->ptr for core v1 fuzzer and validation tests
  pkg/apis/core/fuzzer/fuzzer.go
  pkg/apis/core/validation/validation_test.go
Labels: kind/cleanup, lgtm, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#130575 Add E2E tests for CLE
  test/e2e/apimachinery/coordinatedleaderelection.go
  test/e2e/feature/feature.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#130647 hack: fix settings for forbidigo linter
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
  hack/verify-golangci-lint.sh
Labels: priority/important-soon, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#130735 CLE: Remove invalid emulated version and add lexographical order test
  pkg/controlplane/controller/leaderelection/election_test.go
  test/integration/apiserver/coordinated_leader_election_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#130736 Add approver permission for jpbetz in component-base/compatibility
  staging/src/k8s.io/component-base/compatibility/OWNERS
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#130737 [Declarative Validation] chore(validation-gen): rename flag --extra-pkg -> --readonly-pkg in validation-gen
  hack/update-codegen.sh
  staging/src/k8s.io/code-generator/cmd/validation-gen/main.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/targets.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validation.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/opaque.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#130708 *: reduce tracing events during streaming JSON objects
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#130739 Introduce versioned validation test utilitizes and add fuzz tester
  pkg/api/testing/validation.go
  pkg/api/testing/validation_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/testing/validation.go
Labels: lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#125102 Add unit tests to client-go/tools/cache/listers.go
  staging/src/k8s.io/client-go/tools/cache/listers_test.go
Labels: area/test, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#128372 KSA token for Kubelet image credential providers alpha
  pkg/credentialprovider/plugin/config.go
  pkg/credentialprovider/plugin/config_test.go
  pkg/credentialprovider/plugin/plugin.go
  pkg/credentialprovider/plugin/plugin_test.go
  pkg/credentialprovider/plugin/plugins.go
  pkg/credentialprovider/plugins.go
  pkg/credentialprovider/provider.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1/zz_generated.conversion.go
  pkg/kubelet/apis/config/v1alpha1/conversion.go
  pkg/kubelet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/kubelet/apis/config/v1beta1/conversion.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/container/testing/runtime_mock.go
  pkg/kubelet/images/helpers.go
  pkg/kubelet/images/image_manager.go
  pkg/kubelet/images/puller.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/kuberuntime_image.go
  pkg/kubelet/kuberuntime/kuberuntime_image_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  plugin/pkg/auth/authorizer/node/node_authorizer.go
  plugin/pkg/auth/authorizer/node/node_authorizer_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  staging/src/k8s.io/kubelet/config/v1/types.go
  staging/src/k8s.io/kubelet/config/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/types.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1/types.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1/zz_generated.conversion.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1alpha1/conversion.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1alpha1/zz_generated.conversion.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1beta1/conversion.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/kubelet/pkg/apis/credentialprovider/zz_generated.deepcopy.go
  test/e2e/common/node/image_credential_provider.go
  test/e2e_node/plugins/gcp-credential-provider/main.go
  test/e2e_node/remote/node_e2e.go
  test/e2e_node/remote/utils.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, area/code-generation, api-review, triage/accepted

#130591 Refine logging levels in job, IPAM, and replicaSet
  pkg/controller/job/job_controller.go
  pkg/controller/nodeipam/ipam/range_allocator.go
  pkg/controller/replicaset/replica_set.go
Labels: priority/backlog, sig/network, kind/cleanup, lgtm, release-note, size/XS, sig/apps, approved, cncf-cla: yes, triage/accepted

#130673 Promote ServiceTrafficDistribution feature-gate to GA and update docs with latest descriptions
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/apis/core/types.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/proxy/topology.go
  pkg/proxy/topology_test.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
  test/integration/service/service_test.go
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, area/kube-proxy, lgtm, release-note, size/L, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-triage

#130748 Revert PR 125102: Add unit tests to client-go/tools/cache/listers.go
  staging/src/k8s.io/client-go/tools/cache/listers_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130544 selinux: Promote SELinuxChangePolicy and SELinuxMount to beta
  pkg/api/pod/util_test.go
  pkg/features/versioned_kube_features.go
  pkg/volume/util/selinux_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: lgtm, sig/storage, sig/node, release-note, size/M, kind/feature, sig/auth, approved, cncf-cla: yes, needs-priority, api-review, needs-triage

#130705 [Declarative Validation] feat: add declarative validation metrics and associated runtime verification tests
  pkg/apis/core/validation/validation_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme_test.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/error_matcher.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate_test.go
  staging/src/k8s.io/apiserver/pkg/validation/metrics.go
  staging/src/k8s.io/apiserver/pkg/validation/metrics_test.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: area/apiserver, lgtm, sig/api-machinery, size/XXL, kind/api-change, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted, area/stable-metrics

#128824 feat: Add flagz endpoint for kube-controller-manager
  cmd/kube-controller-manager/app/config/config.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/testing/testserver.go
Labels: lgtm, sig/api-machinery, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted

#130636 Move setup in TestListOptions before we start API server
  test/integration/apiserver/apiserver_test.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#130648 Enable Semver CEL library, add normalization support
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/library_compatibility_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/semver_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/semverlib.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/compile.go
Labels: area/apiserver, lgtm, sig/node, sig/api-machinery, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted, wg/device-management

#130747 kubectl: expose context parameter in DefaultRemoteExecutor
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec.go
  staging/src/k8s.io/kubectl/pkg/cmd/exec/exec_test.go
Labels: area/kubectl, lgtm, size/S, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#130758 stop overriding max concurrency in CI, let automax procs handle it
  hack/jenkins/test-dockerized.sh
  hack/jenkins/test-integration-dockerized.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#122550 Tighten IP/CIDR validation
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/discovery/validation/validation.go
  pkg/apis/discovery/validation/validation_test.go
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/registry/core/service/storage/alloc.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/ip.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/ip_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, sig/scheduling, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted, area/network-policy, wg/device-management

#129950 node: metrics for alignment failures
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/topologymanager/scope_container.go
  pkg/kubelet/cm/topologymanager/scope_pod.go
  pkg/kubelet/cm/topologymanager/topology_manager.go
  pkg/kubelet/metrics/metrics.go
  test/e2e_node/cpu_manager_metrics_test.go
  test/e2e_node/topology_manager_metrics_test.go
Labels: area/test, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#130135 [KEP-4639] Graduate image volume sources to beta
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/core/types.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  pkg/kubelet/metrics/metrics.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  staging/src/k8s.io/cri-api/pkg/errors/errors.go
  test/e2e_node/image_volume.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, priority/important-soon, area/kubelet, lgtm, sig/node, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, api-review, triage/accepted

#130138 features: Enable user namespaces by default
  pkg/features/versioned_kube_features.go
  pkg/kubelet/kubelet_test.go
  test/e2e_node/proc_mount_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#130757 delete hack/test-integration.sh
  hack/test-integration.sh
Labels: priority/backlog, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#129714 testing: Skip test if cri proxy is disabled or undefined
  test/e2e_node/container_restart_test.go
  test/e2e_node/criproxy_test.go
  test/e2e_node/image_pull_test.go
Labels: area/test, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, triage/accepted

#129886 Try to clarify EndpointSlice semantics some more
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__discovery.k8s.io__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/discovery/v1/generated.proto
  staging/src/k8s.io/api/discovery/v1/types.go
  staging/src/k8s.io/api/discovery/v1/types_swagger_doc_generated.go
Labels: sig/network, kind/documentation, lgtm, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#130602 Allocation checkpoint cleanup
  pkg/kubelet/allocation/allocation_manager.go
  pkg/kubelet/allocation/state/state.go
  pkg/kubelet/allocation/state/state_checkpoint.go
  pkg/kubelet/allocation/state/state_checkpoint_test.go
  pkg/kubelet/allocation/state/state_mem.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, triage/accepted

#127612 make each scheduler test independent
  pkg/scheduler/backend/cache/cache_test.go
  pkg/scheduler/backend/queue/active_queue_test.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/filtering_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/preemption/preemption_test.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/scheduler_test.go
Labels: kind/bug, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#128857 feat: Add flagz endpoint for kubelet
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/server/auth.go
  pkg/kubelet/server/auth_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
  staging/src/k8s.io/component-base/zpages/flagz/flagz.go
  staging/src/k8s.io/component-base/zpages/flagz/flagz_test.go
Labels: area/kubelet, lgtm, sig/node, release-note, size/M, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, ok-to-test, needs-priority, triage/accepted

#130693 Fix test cases that may potentially cause a panic.
  pkg/client/tests/remotecommand_test.go
  staging/src/k8s.io/apiserver/pkg/admission/audit_test.go
  staging/src/k8s.io/apiserver/pkg/util/proxy/streamtunnel_test.go
  staging/src/k8s.io/client-go/discovery/cached/disk/cached_discovery_test.go
  staging/src/k8s.io/client-go/discovery/cached/memory/memcache_test.go
  staging/src/k8s.io/client-go/discovery/discovery_client_test.go
  staging/src/k8s.io/client-go/tools/portforward/tunneling_connection_test.go
  staging/src/k8s.io/client-go/transport/websocket/roundtripper_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_discovery_test.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/server_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#124360 Add quota support for PVC with VolumeAttributesClass
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/quota/v1/evaluator/core/persistent_volume_claims.go
  pkg/quota/v1/evaluator/core/persistent_volume_claims_test.go
  plugin/pkg/admission/resourcequota/admission_test.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/controller.go
  test/e2e/apimachinery/resource_quota.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/XXL, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, triage/accepted

#130662 chore: Fix incorrect AppArmorProfile.Type marker
  pkg/apis/core/types.go
Labels: kind/cleanup, lgtm, size/XS, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, api-review, needs-triage

#130777 Fix typo and pass the environment variable required to enable watchcache consistency checking in GCE tests
  cluster/gce/gci/configure-kubeapiserver.sh
  cluster/gce/util.sh
  staging/src/k8s.io/apiserver/pkg/storage/cacher/delegator.go
Labels: area/apiserver, lgtm, area/provider/gcp, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#130783 Support emulation versioning of custom resource formats
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/formats.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/formats_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/ratcheting_test.go
  test/e2e/apimachinery/crd_publish_openapi.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#130233 StatefulSet: add explicit validation for .spec.serviceName and mark the field optional
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  pkg/apis/apps/types.go
  pkg/apis/apps/validation/validation.go
  pkg/apis/apps/validation/validation_test.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/apps/v1/generated.proto
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1beta1/generated.proto
  staging/src/k8s.io/api/apps/v1beta1/types.go
  staging/src/k8s.io/api/apps/v1beta2/generated.proto
  staging/src/k8s.io/api/apps/v1beta2/types.go
  test/integration/statefulset/statefulset_test.go
Labels: kind/bug, area/test, lgtm, sig/api-machinery, release-note, size/M, kind/api-change, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, api-review, triage/accepted

#130536 KEP-3998: Promote JobSuccessPolicy to Stable
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/batch/types.go
  pkg/controller/job/job_controller_test.go
  pkg/controller/job/success_policy_test.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/batch/job/strategy_test.go
  staging/src/k8s.io/api/batch/v1/generated.proto
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  test/e2e/apps/job.go
  test/e2e/framework/job/wait.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
  test/integration/job/job_test.go
Labels: area/test, lgtm, sig/api-machinery, release-note, size/M, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/architecture, area/conformance, area/code-generation, api-review, area/e2e-test-framework, triage/accepted

#130754 [Declarative Validation] chore: change Info->Error log level related to declarative validation runtime tests and refactor panic wrapper names
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#130711 KEP-4603: Add ReduceDefaultCrashLoopBackoffDecay featuregate, feature and unit and e2e tests
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_test.go
  test/e2e/common/node/pods.go
  test/e2e_node/container_restart_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: area/test, area/kubelet, lgtm, sig/node, size/L, kind/feature, release-note-action-required, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#130775 Fix detecting consistent read when watchcache starts handling continue
  staging/src/k8s.io/apiserver/pkg/storage/cacher/delegator.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#130778 Sync `pkg/credentialprovider/OWNERS` with `k8s.io/client-go/tools/auth/OWNERS`
  pkg/credentialprovider/OWNERS
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#130788 Fix subresource parsing for declarative validation
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate_test.go
Labels: kind/bug, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#130790 remove kubelet fake status manager
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/status/fake_status_manager.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#130732 Change internal-version RC.Spec.Relicas to a ptr
  pkg/apis/core/fuzzer/fuzzer.go
  pkg/apis/core/types.go
  pkg/apis/core/v1/conversion.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
  pkg/registry/core/replicationcontroller/declarative_validation_test.go
  pkg/registry/core/replicationcontroller/storage/storage.go
  pkg/registry/core/replicationcontroller/storage/storage_test.go
  pkg/registry/core/replicationcontroller/strategy_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, sig/instrumentation, needs-priority, triage/accepted, area/stable-metrics
