Repository kubernetes/kubernetes, pull requests merged in 2025-06, with the labels that each got.

#131961 proxy: remove iptables wait interval flag
  pkg/util/iptables/iptables.go
  pkg/util/iptables/iptables_test.go
  pkg/util/iptables/monitor_test.go
Labels: kind/bug, sig/network, lgtm, release-note, size/L, approved, cncf-cla: yes, needs-priority, needs-triage

#132036 KEP-4427: Promote Relaxed DNS search string validation to GA
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  test/e2e/network/dns.go
Labels: area/test, priority/important-soon, sig/network, lgtm, release-note, size/S, kind/feature, approved, cncf-cla: yes, sig/testing, triage/accepted

#131801 move pod admission and resize logic into the allocation manager
  pkg/kubelet/allocation/allocation_manager.go
  pkg/kubelet/allocation/features_linux.go
  pkg/kubelet/allocation/features_unsupported.go
  pkg/kubelet/allocation/features_windows.go
  pkg/kubelet/cm/fake_container_manager.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kubelet_volumes_test.go
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  test/e2e/node/pod_resize.go
Labels: area/test, priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/XL, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#132039 FieldManagedObjectTracker: Fix to work with unstructured
  staging/src/k8s.io/apimachinery/pkg/util/managedfields/internal/skipnonapplied.go
  staging/src/k8s.io/client-go/testing/fixture.go
  staging/src/k8s.io/client-go/testing/fixture_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#131907 Do not expand non expnadable volumes
  pkg/volume/util/operationexecutor/node_expander.go
  pkg/volume/util/operationexecutor/node_expander_test.go
  pkg/volume/util/operationexecutor/operation_generator_test.go
  pkg/volume/util/types/types.go
Labels: kind/bug, area/test, area/kubelet, area/apiserver, lgtm, sig/storage, sig/node, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, sig/etcd

#132031 add orphanedPods parameter to getRSPods and improve code flow in syncReplicaSet
  pkg/controller/replicaset/replica_set.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#132077 e2e: node: cpumanager: require cgroup v2
  test/e2e_node/cpumanager_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#131980 Fix typo in the `--anonymous-auth` flag name
  pkg/kubeapiserver/options/authentication.go
  pkg/kubeapiserver/options/authentication_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#132082 KEP-3331: Add test to simulate revocation via user validation rule using unique identifier (jti)
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#131811 Automated cherry pick of #130800: Fix unit tests on windows
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/userns/types.go
  pkg/kubelet/userns/userns_manager.go
  pkg/kubelet/userns/userns_manager_disabled_test.go
  pkg/kubelet/userns/userns_manager_switch_test.go
  pkg/kubelet/userns/userns_manager_test.go
  pkg/kubelet/userns/userns_manager_windows.go
Labels: area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#131996 DRAAdminAccess: update label key
  pkg/apis/resource/types.go
  pkg/registry/resource/resourceclaim/strategy_test.go
  pkg/registry/resource/resourceclaimtemplate/strategy_test.go
  staging/src/k8s.io/api/resource/v1alpha3/types.go
  staging/src/k8s.io/api/resource/v1beta1/types.go
  staging/src/k8s.io/api/resource/v1beta2/types.go
  test/e2e/dra/dra.go
  test/integration/dra/dra_test.go
Labels: area/test, lgtm, sig/node, release-note, size/S, kind/api-change, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted, wg/device-management

#132095 Remove unecessary comment since podResizeMutex no longer exist.
  pkg/kubelet/kubelet_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#132101 e2e_node: verify restart looping container correctly
  test/e2e_node/garbage_collector_test.go
Labels: area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#132063 fix(metric): prevent data race in metric LabelValueAllowList initialization
  staging/src/k8s.io/component-base/metrics/counter.go
  staging/src/k8s.io/component-base/metrics/gauge.go
  staging/src/k8s.io/component-base/metrics/histogram.go
  staging/src/k8s.io/component-base/metrics/summary.go
  staging/src/k8s.io/component-base/metrics/timing_histogram.go
Labels: lgtm, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage

#132102 Only set pod allocation if admission succeeds
  pkg/kubelet/allocation/allocation_manager.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-triage

#131786 Automated cherry pick of #130800: Fix unit tests on windows
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/userns/types.go
  pkg/kubelet/userns/userns_manager.go
  pkg/kubelet/userns/userns_manager_disabled_test.go
  pkg/kubelet/userns/userns_manager_switch_test.go
  pkg/kubelet/userns/userns_manager_test.go
  pkg/kubelet/userns/userns_manager_windows.go
Labels: area/kubelet, lgtm, sig/node, size/L, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#132105 Preempt based based on allocated resources rather than desired
  pkg/kubelet/kubelet.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-triage

#131783 Automated cherry pick of #131623: kubelet: userns: Improve errors returned to the user
  pkg/kubelet/kubelet_getters.go
  pkg/kubelet/userns/userns_manager.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#131979 Gradute ResilientWatchCacheInitialization to GA
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/XS, kind/feature, approved, cncf-cla: yes, needs-priority, triage/accepted

#131785 Automated cherry pick of #130243: Revert userns kernel check
  pkg/kubelet/kubelet_pods.go
  pkg/util/kernel/constants.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#131813 Automated cherry pick of #123678: kubelet: Add logs for userns custom mappings parsing
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, triage/accepted

#131784 Automated cherry pick of #130243: Revert userns kernel check
  pkg/kubelet/kubelet_pods.go
  pkg/util/kernel/constants.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#132117 promote agnhost to v2.56
  test/utils/image/manifest.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#131649 Automated cherry pick of #131506: Update hnslib version in Windows KubeProxy.
  go.mod
  go.sum
  vendor/github.com/Microsoft/hnslib/hcn/hcnglobals.go
  vendor/modules.txt
Labels: kind/bug, lgtm, release-note, size/XS, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, needs-priority, area/dependency, triage/accepted

#132067 Update npd from v0.8.20 to v0.8.21
  build/dependencies.yaml
  cluster/addons/node-problem-detector/npd.yaml
  cluster/gce/gci/configure.sh
  test/e2e_node/image_list.go
  test/kubemark/resources/hollow-node_template.yaml
Labels: area/test, kind/cleanup, sig/scalability, lgtm, area/provider/gcp, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, needs-triage

#132125 kubeadm: fix one missed pkg/errors location; drop pkg/errors from go.mod
  cmd/kubeadm/app/cmd/phases/upgrade/apply/preflight.go
  go.mod
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
  hack/unwanted-dependencies.json
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#132098 Automated cherry pick of #131408: Remove warning about resizing failed for unknown reason
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#132010 Automated cherry pick of #131987: Automated cherry pick of #131868: Remove superflous expansion calls if controller finished expansion
  pkg/volume/util/operationexecutor/node_expander.go
  pkg/volume/util/operationexecutor/node_expander_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#131632 feat: Allow leases to have custom labels set when a new holder takes the lease
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock_test.go
Labels: lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#132130 Use named params and structured tags in declarative validation
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/ordering/structs/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/ordering/typedefs/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/type_args/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validation.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/each.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/immutable.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/limits.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/opaque.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/registry.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/required.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/subfield.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/testing.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/validators.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/validators_test.go
Labels: area/kubectl, lgtm, sig/api-machinery, size/XL, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, sig/instrumentation, area/code-generation, needs-priority, area/dependency, needs-triage

#132099 Automated cherry pick of #131408: Remove warning about resizing failed for unknown reason
  pkg/volume/util/operationexecutor/operation_generator.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/XS, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#131767 Automated cherry pick of #131742: [sig-scheduling] SchedulerPreemption [Serial] validates various priority Pods preempt expectedly with the async preemption: replace finalizers with preStop hook and TerminationGracePeriodSeconds
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/preemption.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131258 Fix `windows-pause-image-base:<tag>@<digest>` invalid reference format
  build/pause/Makefile
Labels: kind/bug, priority/important-soon, lgtm, size/M, release-note-none, approved, sig/windows, cncf-cla: yes, sig/release, triage/accepted

#132147 KEP-3715: drop ElasticIndexedJob feature gate
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  test/integration/job/job_test.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted, wg/batch

#129460 kubelet: add coverage for identical kubelet config and drop-in config content
  cmd/kubelet/app/server_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#132111 Update PR template with more guidance around issue links
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/cleanup, lgtm, size/S, sig/contributor-experience, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#132109 Clean backoff record earlier
  pkg/controller/job/job_controller.go
  test/integration/job/job_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, release-note, size/L, sig/apps, approved, cncf-cla: yes, sig/testing, triage/accepted

#132148 KEP-3329: drop PodDisruptionConditions feature gate
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted, wg/batch

#132139 kuberuntime_manager: don't log entire container spec.
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#131534 kube-proxy: log iptables errors in platformCheckSupported
  cmd/kube-proxy/app/server_linux.go
  pkg/kubelet/kubelet_network_linux.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/util/iptables/iptables.go
  pkg/util/iptables/iptables_test.go
  pkg/util/iptables/testing/fake.go
Labels: sig/network, area/kubelet, kind/cleanup, area/kube-proxy, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#132170 Fix kubelet iptables startup, clarify semantics of utiliptables calls.
  pkg/kubelet/kubelet_network_linux.go
  pkg/util/iptables/iptables.go
  pkg/util/iptables/iptables_test.go
Labels: kind/bug, priority/important-soon, sig/network, area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-triage

#132180 Iperf output parsing for v2.2.0+
  test/e2e/network/util_iperf.go
Labels: area/test, priority/important-soon, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#132176 tolerate newer golang/oauth2 version in TestTokenSourceTransportRoundTrip
  staging/src/k8s.io/client-go/transport/token_source_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#132149 metadata client: remove support for API streaming
  staging/src/k8s.io/client-go/metadata/metadata.go
  test/e2e/apimachinery/watchlist.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131547 fix incorrect comments
  pkg/kubelet/volumemanager/cache/desired_state_of_world.go
  pkg/volume/plugins.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#132203 Drop unused testing manifest
  test/e2e/testing-manifests/statefulset/nginx/service.yaml
  test/e2e/testing-manifests/statefulset/nginx/statefulset.yaml
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131514 Promote feature OrderedNamespaceDeletion to GA.
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  test/e2e/apimachinery/namespace.go
Labels: area/test, lgtm, sig/api-machinery, release-note, size/XS, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#132054 [KEP-4369]: Graduate RelaxedEnvironmentVariableValidation to GA
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/core/types.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/kubelet_pods_test.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  test/e2e/common/node/configmap.go
  test/e2e/common/node/expansion.go
  test/e2e/common/node/secrets.go
  test/e2e/feature/feature.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/L, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, area/code-generation, needs-priority, needs-triage

#132209 update github.com/spf13/cobra v1.9.1
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-client/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/endpointslice/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/debug.go
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/md2man.go
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/modules.txt
Labels: priority/important-soon, sig/network, area/kubelet, kind/cleanup, sig/scheduling, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/cloudprovider, sig/node, sig/api-machinery, size/M, release-note-none, sig/auth, approved, sig/cli, cncf-cla: yes, sig/architecture, sig/cloud-provider, area/dependency, area/code-organization, needs-triage, wg/device-management

#131890 Add accessors for fsgroup change policy
  pkg/securitycontext/accessors.go
  pkg/securitycontext/accessors_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#132040 Make nodeports scheduling plugin restartable initContainer aware
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
  pkg/scheduler/framework/plugins/nodeports/node_ports_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
  pkg/scheduler/testing/wrappers.go
  pkg/scheduler/util/utils.go
  pkg/scheduler/util/utils_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/util/util.go
Labels: kind/bug, area/test, priority/important-soon, sig/scheduling, lgtm, release-note, size/XXL, kind/api-change, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#132138 Remove unsupported map of slice validation for non-byte elements in validation-gen
  staging/src/k8s.io/code-generator/cmd/validation-gen/validation.go
Labels: lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#132217 feat(validation-gen): Improve validation test helpers for validation-gen
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/error_matcher.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/subfield/nonincluded/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/testscheme/testscheme.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#132215 e2e: node: serial: fix cgroup path with crio
  test/e2e_node/cpumanager_test.go
Labels: kind/bug, area/test, priority/important-soon, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#132168 reduce logspam when calculating sandbox resources
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_linux.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#132178 Allow system:monitoring role to access kubelet metrics endpoints
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles-featuregates.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Labels: lgtm, release-note, size/S, kind/feature, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#131607 test: Add test case for createNodesOp
  test/integration/scheduler_perf/scheduler_perf_test.go
  test/integration/scheduler_perf/util.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#132239 Update to etcd v3.6.1 in vendor/
  go.mod
  go.sum
  hack/unwanted-dependencies.json
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/go.etcd.io/etcd/server/v3/embed/config.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/membership/cluster.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/api/v3rpc/grpc.go
  vendor/go.etcd.io/etcd/server/v3/etcdserver/bootstrap.go
  vendor/go.etcd.io/etcd/server/v3/storage/mvcc/watchable_store.go
  vendor/modules.txt
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, area/cloudprovider, sig/node, sig/api-machinery, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, sig/architecture, sig/cloud-provider, area/dependency, area/code-organization, needs-triage, wg/device-management

#128642 Adjust durations for PodLifecycleSleepAction e2e tests.
  test/e2e/common/node/lifecycle_hook.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#132200 Build etcd image v3.6.1
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, area/cloudprovider, area/provider/gcp, sig/node, sig/cluster-lifecycle, size/S, area/release-eng, release-note-none, sig/auth, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/dependency, needs-triage, sig/etcd, wg/device-management

#132135 Simplify options in declarative validation
  pkg/api/testing/validation.go
  staging/src/k8s.io/apimachinery/pkg/api/operation/operation.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/testing/validation.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/testscheme/testscheme.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validation.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#132229 dynamic client: remove support for API streaming
  staging/src/k8s.io/client-go/dynamic/client_test.go
  staging/src/k8s.io/client-go/dynamic/simple.go
  staging/src/k8s.io/sample-cli-plugin/go.mod
  test/e2e/apimachinery/watchlist.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, release-note, size/L, approved, sig/cli, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#132242 bump to alpine 3.22 and bump apparmor-loader to 1.6
  test/images/apparmor-loader/BASEIMAGE
  test/images/apparmor-loader/VERSION
Labels: kind/bug, area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-ok-to-test, needs-priority, needs-triage

#132222 [go] Bump dependencies, images and versions used to Go 1.24.4 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#132249 Bump perl base image to perl:5.40
  test/images/perl/BASEIMAGE
  test/images/perl/VERSION
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#132247 Bump ipc-utils base image to alpine:3.22
  test/images/ipc-utils/BASEIMAGE
  test/images/ipc-utils/VERSION
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#132208 Rate-limit the LoadBalancer rolling update test
  test/e2e/network/loadbalancer.go
Labels: area/test, sig/network, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#132251 kubectl delete: update interactive delete to break on new line
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_test.go
Labels: kind/cleanup, area/kubectl, lgtm, release-note, size/S, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#131214 cleanup unneeded code
  pkg/apis/storage/util/helpers.go
  pkg/printers/internalversion/printers.go
Labels: kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#132165 bug: Fix misleading response codes in admission control metrics
  staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/plugin_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/testing/testcase.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/testing/webhook_server.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/plugin_test.go
  staging/src/k8s.io/component-base/metrics/testutil/promlint.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, ok-to-test, needs-priority, triage/accepted

#132258 Correct error message to print `ResetConfigurationKind`
  cmd/kubeadm/app/util/config/resetconfiguration.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#130107 fix getPodMatches should call /runningpods endpoint
  test/e2e/node/kubelet.go
Labels: area/test, priority/backlog, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#122634 Promote SeparateTaintEvictionController to stable
  cmd/kube-controller-manager/app/controllermanager_test.go
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  test/integration/node/lifecycle_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, sig/api-machinery, release-note, size/S, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#132270 DRA E2E: label tests which need a certain minimum kubelet
  test/e2e/dra/dra.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#132223 [release-1.30] [go] Bump images, dependencies and versions to go 1.23.10 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#132224 [release-1.31] [go] Bump images, dependencies and versions to go 1.23.10 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#132225 [release-1.32] [go]Bump images, dependencies and versions to go 1.23.10 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#132226 [release-1.33] [go] Bump images, dependencies and versions to go 1.24.4 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, needs-priority, needs-triage

#132096 DRA kubelet: refactoring
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/dra/manager.go
  pkg/kubelet/cm/dra/manager_test.go
  pkg/kubelet/cm/dra/plugin/dra_plugin.go
  pkg/kubelet/cm/dra/plugin/dra_plugin_manager.go
  pkg/kubelet/cm/dra/plugin/dra_plugin_manager_test.go
  pkg/kubelet/cm/dra/plugin/dra_plugin_test.go
  pkg/kubelet/cm/dra/plugin/plugins_store.go
  pkg/kubelet/cm/dra/plugin/registration.go
  pkg/kubelet/cm/dra/plugin/registration_test.go
  pkg/kubelet/cm/dra/types.go
  test/e2e_node/dra_test.go
Labels: area/test, priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/XXL, approved, cncf-cla: yes, sig/testing, needs-triage, wg/device-management

#132285 rest client: remove support for API streaming
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_watchlist_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, size/XL, approved, cncf-cla: yes, needs-priority, needs-triage

#132177 Remove use of html/template in apiserver to avoid disabling dead code elimination
  cmd/kubeadm/app/cmd/util/join.go
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
  staging/src/k8s.io/apiserver/pkg/server/routes/flags.go
  staging/src/k8s.io/component-base/zpages/statusz/statusz.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/L, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/instrumentation, sig/architecture, ok-to-test, triage/accepted

#132307 conformance servicecidr read status endpoint
  test/e2e/network/service_cidrs.go
Labels: area/test, sig/network, kind/cleanup, lgtm, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#132313 Use "Invalid" errors rather than "TypeInvalid"
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  pkg/apis/resource/validation/validation_resourceslice_test.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#132297 Fix CRI fake_runtime RemovePodSandbox
  staging/src/k8s.io/cri-client/pkg/fake/fake_runtime.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-ok-to-test, needs-priority, needs-triage

#132322 DRA: wrap e2e finalizer update in retry
  test/e2e/dra/dra.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#132317 DRA E2E: label tests which need a certain minimum kubelet, II
  test/e2e/dra/dra.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage, wg/device-management

#132316 Automated cherry pick of #132308: Kubeadm: fix failing e2e tests
  test/e2e_kubeadm/nodes_test.go
Labels: kind/bug, area/test, priority/critical-urgent, lgtm, sig/cluster-lifecycle, size/XS, cherry-pick-approved, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, triage/accepted

#132326 apiserver/handlers/watch: stop encoding initialEventsListBlueprint
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, tide/merge-method-squash, needs-priority, needs-triage

#132122 calculateStatus should use the same now time point for each pod
  pkg/api/v1/pod/util.go
  pkg/api/v1/pod/util_test.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/replicaset/replica_set_utils.go
  pkg/controller/replicaset/replica_set_utils_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#131354 Fix: Clarify optional podSelector in NetworkPolicy docs and schema
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__networking.k8s.io__v1_openapi.json
  pkg/apis/networking/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/networking/v1/generated.proto
  staging/src/k8s.io/api/networking/v1/types.go
  staging/src/k8s.io/api/networking/v1/types_swagger_doc_generated.go
Labels: kind/bug, sig/network, lgtm, release-note, size/S, kind/api-change, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#132171 Fix the issue of slow startup of the systemd watchdog
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/watchdog/types.go
  pkg/kubelet/watchdog/watchdog_linux.go
  pkg/kubelet/watchdog/watchdog_linux_test.go
  pkg/kubelet/watchdog/watchdog_unsupported.go
Labels: kind/bug, area/kubelet, sig/scalability, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#132347 kuberc: additional tests
  test/cmd/kuberc.sh
  test/e2e/kubectl/kuberc.go
Labels: area/test, kind/cleanup, lgtm, size/S, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#131281 chore: add miss Shutdown call for selinux_warning controller
  pkg/controller/volume/selinuxwarning/selinux_warning_controller.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#132328 clean: use correct pod template
  test/integration/scheduler_perf/affinity/performance-config.yaml
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#132350 client-go/util/consistencydetector: remove CheckListFromCacheDataConsistencyIfRequested
  staging/src/k8s.io/client-go/util/consistencydetector/data_consistency_detector.go
  staging/src/k8s.io/client-go/util/consistencydetector/list_data_consistency_detector.go
  staging/src/k8s.io/client-go/util/consistencydetector/list_data_consistency_detector_test.go
  staging/src/k8s.io/client-go/util/consistencydetector/watch_list_data_consistency_detector.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#132352 Removed the variable WaitIntervalString from iptables.go
  pkg/util/iptables/iptables.go
Labels: kind/bug, sig/network, lgtm, release-note, size/XS, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#132290 add script for verifying dead code elimination
  hack/verify-deadcode-elimination.sh
Labels: lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/code-organization, needs-triage

#132363 Use `jq` docker image for pause windows build
  build/pause/Makefile
Labels: kind/bug, priority/important-soon, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, triage/accepted

#131542 e2e tests: fix in-tree plugin volume limit
  pkg/volume/util/attach_limit.go
  test/e2e/storage/testsuites/volumelimits.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124319 pkg/volume: use utils/ptr package instead of utils/pointer
  pkg/volume/csi/nodeinfomanager/nodeinfomanager_test.go
  pkg/volume/projected/projected_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#122384 kubelet: remove --register-schedulable flag
  cluster/gce/util.sh
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubemark/hollow_kubelet.go
Labels: area/kubelet, kind/cleanup, sig/scalability, lgtm, area/provider/gcp, sig/node, release-note, size/M, approved, cncf-cla: yes, priority/important-longterm, sig/cloud-provider, triage/accepted

#132369 cluster/gce: rm KUBE_LIST_FROM_CACHE_INCONSISTENCY_DETECTOR
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure-kubeapiserver.sh
  cluster/gce/manifests/kube-proxy.manifest
  cluster/gce/util.sh
Labels: kind/cleanup, lgtm, area/provider/gcp, size/M, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#132346 Remove the dependency of the volume manager on the container runtime
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/kubelet/volumemanager/volume_manager_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#132410 Fixing syntax issue for etcd image builds
  cluster/images/etcd/Makefile
Labels: kind/bug, lgtm, size/XS, area/release-eng, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage, sig/etcd

#132406 cleanup shellcheck for temporary HOME directory
  hack/lib/golang.sh
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#132400 Add namespace-aware orphan pod indexing for improved controller performance
  pkg/controller/controller_utils.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/job/job_controller.go
  pkg/controller/replicaset/replica_set.go
  pkg/controller/statefulset/stateful_set.go
Labels: kind/cleanup, lgtm, size/S, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#130542 Conntrack reconciler now considers service's target port during cleanup of stale flow entries
  pkg/proxy/conntrack/cleanup.go
  pkg/proxy/conntrack/cleanup_test.go
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, release-note, size/L, approved, cncf-cla: yes, lifecycle/stale, needs-priority, needs-triage

#132409 DRA: add e2e test with initContainer using external claim
  test/e2e/dra/dra.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#126619 show namespace on delete
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_test.go
Labels: area/kubectl, lgtm, release-note, size/M, kind/feature, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage

#132442 ci: update test image base: nginx, nginx-new
  test/images/nginx-new/BASEIMAGE
  test/images/nginx-new/VERSION
  test/images/nginx/BASEIMAGE
  test/images/nginx/VERSION
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-ok-to-test, needs-priority, needs-triage

#132399 Fix [Failing test] [sig-node] [Feature:GPUDevicePlugin] [Serial]-related tests
  test/e2e/node/gpu.go
Labels: area/test, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#132173 KEP-3939: Job Pod Replacement Policy; promote to GA
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/batch/types.go
  pkg/apis/batch/v1/defaults_test.go
  pkg/controller/job/job_controller_test.go
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/registry/batch/job/strategy_test.go
  staging/src/k8s.io/api/batch/v1/generated.proto
  staging/src/k8s.io/api/batch/v1/types.go
  staging/src/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  test/e2e/apps/job.go
  test/integration/job/job_test.go
  test/integration/podgc/podgc_test.go
Labels: area/test, lgtm, release-note, size/M, kind/api-change, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, area/code-generation, api-review, triage/accepted

#132499 Add json-patch v4 compatibility test
  hack/unwanted-dependencies.json
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
Labels: kind/bug, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#132467 fix: prevent SSA from creating CR while CRD terminating
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/finalization_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#132497 apiserver/storage/cacher/listwatcher: error when the WatchList FG is disabled
  staging/src/k8s.io/apiserver/pkg/storage/cacher/lister_watcher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/lister_watcher_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, sig/etcd

#132374 Fixed large resourceversion and limit for storages
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage, sig/etcd

#132453 client-go/reflector: stop exposing UseWatchList
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
  staging/src/k8s.io/client-go/tools/cache/reflector_watchlist_test.go
  test/integration/apimachinery/watchlist_test.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, needs-triage

#132480 kubectl: avoid logging during init
  staging/src/k8s.io/kubectl/pkg/util/i18n/i18n.go
Labels: kind/cleanup, area/kubectl, lgtm, size/XS, release-note-none, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#129373 feature(kubectl): support --cpu, --memory flag to kubectl autoscale
  staging/src/k8s.io/kubectl/pkg/cmd/autoscale/autoscale.go
  staging/src/k8s.io/kubectl/pkg/cmd/autoscale/autoscale_test.go
Labels: area/kubectl, lgtm, release-note, size/XL, kind/feature, approved, sig/cli, cncf-cla: yes, priority/important-longterm, triage/accepted

#132502 Fix flake caused by invalid detection of active policies in VAP integration tests
  test/integration/apiserver/cel/validatingadmissionpolicy_test.go
Labels: area/test, lgtm, sig/api-machinery, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#132065 Fix pod and container level swap metrics for CRI
  pkg/kubelet/stats/cri_stats_provider.go
  test/e2e_node/resource_metrics_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, sig/testing, ok-to-test, triage/accepted

#132484 test: code coverage increase for kubelet_client
  pkg/kubelet/client/kubelet_client_test.go
  pkg/kubelet/client/testdata/OWNERS
  pkg/kubelet/client/testdata/README.md
  pkg/kubelet/client/testdata/myCA.cer
  pkg/kubelet/client/testdata/myCA.key
  pkg/kubelet/client/testdata/mycertvalid.cer
  pkg/kubelet/client/testdata/mycertvalid.key
  pkg/kubelet/client/testdata/mycertvalid.req
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#132521 cleanup: Migrate more usages of deprecated function ExtractCommentTags
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/client_generator.go
  staging/src/k8s.io/code-generator/cmd/deepcopy-gen/generators/deepcopy.go
  staging/src/k8s.io/code-generator/cmd/defaulter-gen/generators/defaulter.go
  staging/src/k8s.io/code-generator/cmd/go-to-protobuf/protobuf/generator.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/targets.go
  staging/src/k8s.io/code-generator/cmd/lister-gen/generators/lister.go
  staging/src/k8s.io/code-generator/cmd/prerelease-lifecycle-gen/prerelease-lifecycle-generators/status.go
  staging/src/k8s.io/code-generator/cmd/register-gen/generators/targets.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, needs-triage

#132509 chore: Remove vet target and associated script from Makefile and hack directory
  build/root/Makefile
  hack/make-rules/vet.sh
Labels: kind/bug, lgtm, release-note, size/M, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#132058 DRA kubelet: connection monitoring
  pkg/kubelet/cm/dra/plugin/dra_plugin.go
  pkg/kubelet/cm/dra/plugin/dra_plugin_manager.go
  pkg/kubelet/cm/dra/plugin/dra_plugin_manager_test.go
  pkg/kubelet/cm/dra/plugin/dra_plugin_test.go
  pkg/kubelet/cm/dra/plugin/registration_test.go
  pkg/kubelet/pluginmanager/pluginwatcher/README.md
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/draplugin.go
  test/e2e_node/dra_test.go
Labels: area/test, area/kubelet, lgtm, sig/node, release-note, size/XXL, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#132150 Handle consistent LIST in watch cache to avoid incorrect semantics while setting ResourceVersion on options
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/delegator.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_tests.go
Labels: kind/bug, priority/critical-urgent, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, kind/regression, triage/accepted, sig/etcd

#132190 Move ClusterEvent type to staging repo, leaving some functions (that contain logic internal to scheduler) in kubernetes/kubernetes
  pkg/scheduler/backend/queue/active_queue.go
  pkg/scheduler/backend/queue/scheduling_queue.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/eventhandlers_test.go
  pkg/scheduler/framework/events.go
  pkg/scheduler/framework/events_test.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/plugin.go
  pkg/scheduler/framework/plugins/interpodaffinity/plugin_test.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
  pkg/scheduler/framework/plugins/nodename/node_name.go
  pkg/scheduler/framework/plugins/nodeports/node_ports.go
  pkg/scheduler/framework/plugins/nodeports/node_ports_test.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable.go
  pkg/scheduler/framework/plugins/nodeunschedulable/node_unschedulable_test.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin.go
  pkg/scheduler/framework/plugins/podtopologyspread/plugin_test.go
  pkg/scheduler/framework/plugins/schedulinggates/scheduling_gates.go
  pkg/scheduler/framework/plugins/schedulinggates/scheduling_gates_test.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration_test.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
  pkg/scheduler/framework/plugins/volumerestrictions/volume_restrictions.go
  pkg/scheduler/framework/plugins/volumerestrictions/volume_restrictions_test.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone.go
  pkg/scheduler/framework/plugins/volumezone/volume_zone_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  staging/src/k8s.io/kube-scheduler/framework/types.go
  staging/src/k8s.io/kube-scheduler/go.mod
  test/integration/scheduler/eventhandler/eventhandler_test.go
  test/integration/scheduler/plugins/plugins_test.go
  test/integration/scheduler/queueing/queue.go
  test/integration/scheduler/queueing/queue_test.go
  test/integration/scheduler/rescheduling_test.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, sig/storage, sig/node, release-note, size/XXL, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage, wg/device-management

#132231 Fix outdated links in VolumeSource godocs
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/documentation, lgtm, sig/storage, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/code-generation, ok-to-test, api-review, triage/accepted

#132351 bugfix(hpa): introduce buildQuantity helper for consistent resource quantity
  pkg/controller/podautoscaler/horizontal.go
  pkg/controller/podautoscaler/horizontal_test.go
Labels: kind/bug, priority/backlog, lgtm, release-note, sig/autoscaling, size/M, sig/apps, approved, cncf-cla: yes, triage/accepted

#132557 Avoid killing kops etcd-manager
  test/e2e/apimachinery/etcd_failure.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#132580 E2E framework: sort tests in JUnit report
  test/e2e/framework/test_context.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#132438 golangci plugin for sorting feature gates
  cmd/kubeadm/app/features/features.go
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
  hack/tools/golangci-lint/go.mod
  hack/tools/golangci-lint/go.sum
  hack/tools/golangci-lint/sortedfeatures/README.md
  hack/tools/golangci-lint/sortedfeatures/config.yaml
  hack/tools/golangci-lint/sortedfeatures/example.golangci.yml
  hack/tools/golangci-lint/sortedfeatures/main.go
  hack/tools/golangci-lint/sortedfeatures/pkg/sortedfeatures.go
  hack/tools/golangci-lint/sortedfeatures/pkg/sortedfeatures_test.go
  hack/tools/golangci-lint/sortedfeatures/plugin/plugin.go
  hack/tools/golangci-lint/sortedfeatures/testdata/src/testdata/sorted.go
  hack/tools/golangci-lint/sortedfeatures/testdata/src/testdata/unsorted.go
  hack/verify-golangci-lint.sh
  hack/verify-test-featuregates.sh
  pkg/features/kube_features.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/client-go/features/known_features.go
  staging/src/k8s.io/controller-manager/pkg/features/kube_features.go
  test/e2e/environment/environment.go
  test/e2e/feature/feature.go
Labels: area/test, priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, sig/cluster-lifecycle, size/XXL, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, area/dependency, area/code-organization, triage/accepted

#132545 Fix gRPC listener error message and some minor (subjective) renaming
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/noderegistrar.go
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/nonblockinggrpcserver.go
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/registrationserver.go
Labels: kind/bug, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#132560 fix: Truncate too long Deployment name in RS name
  pkg/controller/deployment/sync.go
  pkg/controller/deployment/sync_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, sig/apps, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, triage/accepted

#132555 scheduler_perf: Set version emulation only when QueueingHints is disabled
  test/integration/scheduler_perf/scheduler_perf.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/XS, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#132594 kubeadm: graduate WaitForAllControlPlaneComponents to GA
  cmd/kubeadm/app/cmd/phases/init/waitcontrolplane.go
  cmd/kubeadm/app/cmd/phases/join/waitcontrolplane.go
  cmd/kubeadm/app/features/features.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
  cmd/kubeadm/app/util/apiclient/wait.go
  cmd/kubeadm/app/util/dryrun/dryrun.go
Labels: priority/important-soon, lgtm, sig/cluster-lifecycle, release-note, size/M, kind/feature, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#132574 DRA kubelet: remove v1alpha4
  pkg/kubelet/cm/dra/plugin/dra_plugin.go
  pkg/kubelet/cm/dra/plugin/dra_plugin_manager.go
  pkg/kubelet/cm/dra/plugin/dra_plugin_test.go
  pkg/kubelet/cm/dra/plugin/registration_test.go
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/draplugin.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1alpha4/api.pb.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1alpha4/api.proto
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1alpha4/conversion.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1alpha4/doc.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1alpha4/types.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1alpha4/zz_generated.conversion.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1beta1/api.pb.go
  staging/src/k8s.io/kubelet/pkg/apis/dra/v1beta1/api.proto
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/XXL, kind/api-change, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#132567 Enhance help text for the 'top' command
  staging/src/k8s.io/kubectl/pkg/cmd/top/top.go
Labels: kind/cleanup, area/kubectl, lgtm, size/S, release-note-none, approved, sig/cli, cncf-cla: yes, sig/instrumentation, needs-priority, needs-triage

#132433 feat: make CLE timers configurable
  cmd/kube-apiserver/app/options/options_test.go
  pkg/controlplane/apiserver/config.go
  pkg/controlplane/apiserver/options/options.go
  pkg/controlplane/apiserver/options/options_test.go
  pkg/controlplane/apiserver/options/validation.go
  pkg/controlplane/apiserver/options/validation_test.go
  pkg/controlplane/apiserver/server.go
  pkg/controlplane/controller/leaderelection/run_with_leaderelection.go
  test/integration/apiserver/coordinatedleaderelection/leaderelection_test.go
Labels: area/test, area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted
