Repository kubernetes/kubernetes, pull requests merged in 2025-05, with the labels that each got.

#130381 Bumps up prober_probe_total from alpha to beta
  pkg/kubelet/prober/prober_manager.go
  test/instrumentation/testdata/stable-metrics-list.yaml
Labels: area/kubelet, kind/documentation, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/instrumentation, ok-to-test, needs-priority, triage/accepted, area/stable-metrics

#131564 Add missing space in string concatenation (kubeapiserver)
  pkg/kubeapiserver/options/authentication.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#131573 jwt: add unit tests for using CEL with deeply nested claims
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#131581 Introduce special handling for updates involving a single resource slice.
  staging/src/k8s.io/dynamic-resource-allocation/resourceslice/resourceslicecontroller.go
  staging/src/k8s.io/dynamic-resource-allocation/resourceslice/resourceslicecontroller_test.go
Labels: lgtm, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#130179 Updates chairs for SIG ContribEx
  .github/OWNERS
  OWNERS_ALIASES
Labels: kind/cleanup, lgtm, size/XS, sig/contributor-experience, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#131431 api: Fix typo in word "immediately"
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/apps/v1/generated.proto
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/api/apps/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/apps/v1beta2/generated.proto
  staging/src/k8s.io/api/apps/v1beta2/types.go
  staging/src/k8s.io/api/apps/v1beta2/types_swagger_doc_generated.go
  staging/src/k8s.io/api/extensions/v1beta1/generated.proto
  staging/src/k8s.io/api/extensions/v1beta1/types.go
  staging/src/k8s.io/api/extensions/v1beta1/types_swagger_doc_generated.go
Labels: kind/documentation, lgtm, size/XS, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, needs-triage

#131029 Make ToUnstructured match stdlib omitempty and anonymous behavior
  staging/src/k8s.io/apimachinery/pkg/runtime/converter.go
  staging/src/k8s.io/apimachinery/pkg/runtime/converter_test.go
  staging/src/k8s.io/client-go/dynamic/golden_test.go
Labels: kind/bug, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#131584 Remove redundant Required validation for IngressRules
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
Labels: sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#131574 jwt: support CEL expressions with escaped names
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, release-note, size/L, kind/feature, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#131588 agnhost pause: report signal, support termination message
  test/images/agnhost/VERSION
  test/images/agnhost/pause/pause.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131477 golangci-lint v2
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/golangci-lint/go.mod
  hack/tools/golangci-lint/go.sum
  hack/tools/golangci-lint/go.work
  hack/tools/tools.go
  hack/verify-golangci-lint.sh
  pkg/apis/autoscaling/v2beta2/conversion.go
  pkg/controller/disruption/disruption.go
  pkg/kubelet/certificate/bootstrap/bootstrap_test.go
  pkg/proxy/nftables/proxier.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/conversion.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/conversion.go
  staging/src/k8s.io/code-generator/cmd/conversion-gen/generators/conversion.go
  staging/src/k8s.io/mount-utils/mount.go
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  test/e2e_node/dra_test.go
Labels: kind/bug, area/test, sig/network, area/kubelet, kind/cleanup, area/kube-proxy, lgtm, sig/storage, sig/node, sig/api-machinery, size/XXL, kind/api-change, release-note-none, sig/auth, sig/apps, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, area/dependency, triage/accepted

#131085 [cloud-provider] respect the "exclude-from-external-load-balancers=false" label
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Labels: kind/bug, sig/network, kind/documentation, lgtm, area/cloudprovider, release-note, size/S, kind/flake, approved, cncf-cla: yes, kind/failing-test, sig/cloud-provider, needs-priority, kind/deprecation, kind/regression, triage/accepted

#131170 Fix goroutine leak
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/httpstream.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/httpstream_test.go
Labels: kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, area/dependency, triage/accepted

#131420 Fix flake in test when run with stress on pkg/kubelet/kuberuntime TestTerminationOrderingSidecarsInReverseOrder.
  pkg/kubelet/kuberuntime/kuberuntime_termination_order_test.go
Labels: area/kubelet, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#131378 fix: Fix non-constant format string in framework.Logf call
  test/e2e/node/mount_propagation.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted

#131586 Continue alias creation when __completion is used to enable completion
  staging/src/k8s.io/kubectl/pkg/kuberc/kuberc.go
Labels: area/kubectl, lgtm, release-note, size/XS, kind/feature, approved, sig/cli, cncf-cla: yes, needs-priority, needs-triage

#131603 test: bump agnhost image to 2.54
  test/e2e/dra/test-driver/deploy/example/pod-inline.yaml
  test/e2e/testing-manifests/ingress/gce/static-ip-2/rc.yaml
  test/e2e/testing-manifests/ingress/http/rc.yaml
  test/e2e/testing-manifests/ingress/http2/rc.yaml
  test/e2e/testing-manifests/ingress/multiple-certs/rc.yaml
  test/e2e/testing-manifests/ingress/neg-clusterip/rc.yaml
  test/e2e/testing-manifests/ingress/neg-exposed/rc.yaml
  test/e2e/testing-manifests/ingress/neg/rc.yaml
  test/e2e/testing-manifests/ingress/pre-shared-cert/rc.yaml
  test/e2e/testing-manifests/ingress/static-ip/rc.yaml
  test/e2e/testing-manifests/kubectl/agnhost-primary-pod.yaml
  test/e2e/testing-manifests/serviceloadbalancer/netexecrc.yaml
  test/fixtures/doc-yaml/user-guide/multi-pod.yaml
  test/fixtures/pkg/kubectl/cmd/auth/rbac-resource-plus.yaml
  test/utils/image/manifest.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#131602 Update CNI plugins to v1.7.1
  build/dependencies.yaml
  cluster/gce/config-common.sh
  cluster/gce/gci/configure.sh
  hack/local-up-cluster.sh
  test/e2e_node/remote/utils.go
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/node, release-note, size/S, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, needs-triage

#131264 Add ContainerIter utility for ranging over pod containers
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/api/v1/pod/util.go
  pkg/api/v1/pod/util_test.go
Labels: kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#131399 Fixes for bad handling of pointers and aliases in validation
  staging/src/k8s.io/apimachinery/pkg/api/validate/immutable.go
  staging/src/k8s.io/apimachinery/pkg/api/validate/immutable_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/immutable/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/immutable/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/immutable/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/listmap/multiple_keys/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/listmap/single_key/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/doc.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/doc_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/update_validations/primitive_pointers/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/update_validations/primitives/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validation.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/common.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/each.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/immutable.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/limits.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/required.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/subfield.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validators/validators.go
Labels: kind/bug, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#131559 Fix UnstructuredToVal map equality to respect nil fields
  staging/src/k8s.io/apiserver/pkg/cel/common/values_test.go
  staging/src/k8s.io/apiserver/pkg/cel/common/valuesunstructured.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, needs-priority, triage/accepted

#131593 Check for newer resizing related fields after expansion is successful
  test/e2e/storage/testsuites/volume_expand.go
Labels: kind/bug, area/test, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131487 e2e: Deduplicate cgroup verification
  test/e2e/common/node/framework/cgroups/cgroups.go
  test/e2e/common/node/framework/cgroups/cgroups_test.go
  test/e2e/common/node/framework/podresize/resize.go
  test/e2e/common/node/pod_level_resources.go
  test/e2e/common/node/pod_resize.go
  test/e2e/framework/pod/utils.go
  test/e2e/node/pod_resize.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, needs-triage

#130806 Optimize Statefulset Controller Performance: Reduce Work Duration Time & Minimize Cache Locking.
  pkg/controller/statefulset/stateful_set.go
Labels: priority/important-soon, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#131609 fix(scheduler): node pre-check logic to consider NoExecute taint effect
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/eventhandlers_test.go
Labels: kind/bug, sig/scheduling, lgtm, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#131627 [Attempt #2] apiserver: Treat error decoding a mutating webhook patch as error calling the webhook
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/testing/testcase.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/testing/webhook_server.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, triage/accepted

#131243 Improve `kube-proxy --cleanup` / cleanup on kube-proxy mode switch
  cmd/kube-proxy/app/server_linux.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/nftables/proxier.go
Labels: kind/bug, sig/network, kind/cleanup, area/kube-proxy, lgtm, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/ipvs, triage/accepted

#131560 Declarative validation: Simplify handling of subresources
  pkg/apis/core/v1/zz_generated.validations.go
  staging/src/k8s.io/apimachinery/pkg/api/operation/operation.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go
  staging/src/k8s.io/apimachinery/pkg/runtime/scheme_test.go
  staging/src/k8s.io/apiserver/pkg/registry/rest/validate_test.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/all_types_match/with_field_validations/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/all_types_match/with_type_validations/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/cross_pkg/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/elide_no_validations/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/maps/keys/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/maps/map_of_primitive/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/maps/map_of_struct/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/maps/multiple_validations/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/maps/typedef_to_map/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/multiple_tags/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/one_type_match/with_field_validations/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/one_type_match/with_type_validations/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/ordering/structs/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/ordering/typedefs/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/pointers/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/primitives/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/public_private/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/recursive/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/slices/multiple_validations/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/slices/slice_of_primitive/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/slices/slice_of_struct/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/slices/typedef_to_slice/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/eachkey/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/eachval/map_of_primitive/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/eachval/map_of_struct/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/eachval/slice_of_primitive/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/eachval/slice_of_struct/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/eachval/typedef_to_map/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/eachval/typedef_to_slice/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/immutable/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/listmap/multiple_keys/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/listmap/single_key/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/minimum/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/opaque/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/nonzero_defaults/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/zero_defaults/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/optional/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/subfield/deep/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/subfield/nonincluded/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/subfield/shallow/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/validate_false/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/tags/validate_true/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/type_args/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/typedefs/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/update_validations/lists/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/update_validations/maps/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/update_validations/primitive_pointers/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/output_tests/update_validations/primitives/zz_generated.validations.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/testscheme/testscheme.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validation.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/L, kind/feature, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#131165 Make Request#RequestURI honor configured context root
  staging/src/k8s.io/client-go/openapi/client.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/M, approved, cncf-cla: yes, needs-priority, triage/accepted

#131596 Expand CEL UnstructuredToVal and TypedToVal has() tests
  staging/src/k8s.io/apiserver/pkg/cel/common/values_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129150 remove out-of-date comments about version
  staging/src/k8s.io/client-go/pkg/version/base.go
  staging/src/k8s.io/component-base/version/base.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, sig/release, sig/architecture, needs-priority, triage/accepted

#131575 pkg/storage/cacher/cacher_whitebox_test: deflake TestWatchNotHangingOnStartupFailure when ResilientWatchCacheInitialization is on
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#131611 Remove alculquicondor who is stepping down from sig-scheduling-api-reviewers
  OWNERS_ALIASES
  pkg/scheduler/apis/config/OWNERS
  staging/src/k8s.io/kube-scheduler/config/OWNERS
Labels: kind/documentation, sig/scheduling, lgtm, size/S, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#131443 Avoid lock contention for error backoff
  staging/src/k8s.io/apimachinery/pkg/util/runtime/runtime.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#131618 remove hwdef from hack reviewer
  hack/OWNERS
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, needs-triage

#131631 Update sig-network-approvers/reviewers
  OWNERS_ALIASES
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#131246 DRA: improve resource slice publishing
  staging/src/k8s.io/dynamic-resource-allocation/api/v1beta1/conversion.go
  staging/src/k8s.io/dynamic-resource-allocation/api/v1beta1/conversion_test.go
  staging/src/k8s.io/dynamic-resource-allocation/api/v1beta1/doc.go
  staging/src/k8s.io/dynamic-resource-allocation/api/v1beta1/register.go
  staging/src/k8s.io/dynamic-resource-allocation/api/v1beta1/zz_generated.conversion.go
  staging/src/k8s.io/dynamic-resource-allocation/client/client.go
  staging/src/k8s.io/dynamic-resource-allocation/client/doc.go
  staging/src/k8s.io/dynamic-resource-allocation/client/generic.go
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/draplugin.go
  staging/src/k8s.io/dynamic-resource-allocation/resourceclaim/resourceclaim.go
  staging/src/k8s.io/dynamic-resource-allocation/resourceclaim/resourceclaim_test.go
  staging/src/k8s.io/dynamic-resource-allocation/resourceslice/resourceslicecontroller.go
  staging/src/k8s.io/dynamic-resource-allocation/resourceslice/resourceslicecontroller_test.go
  staging/src/k8s.io/dynamic-resource-allocation/resourceslice/zz_generated.deepcopy.go
  test/e2e/dra/deploy.go
  test/e2e/dra/dra.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
  test/integration/dra/dra_test.go
Labels: area/test, lgtm, sig/node, size/XXL, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#131296 e2e: stabilize Windows memory pressure eviction test
  test/e2e/windows/eviction.go
Labels: kind/bug, area/test, lgtm, size/L, kind/flake, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, priority/important-longterm, ok-to-test, area/e2e-test-framework, triage/accepted

#131427 Automated cherry pick of #131138: Fix for HNS local endpoint was being deleted instead of the remote endpoint.
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#131428 Automated cherry pick of #131138: Fix for HNS local endpoint was being deleted instead of the remote endpoint.
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#131429 Automated cherry pick of #131138: Fix for HNS local endpoint was being deleted instead of the remote endpoint.
  pkg/proxy/winkernel/hns.go
  pkg/proxy/winkernel/hns_test.go
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Labels: kind/bug, sig/network, area/kube-proxy, lgtm, release-note, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#131249 Kubelet: Randomize ClusterRole name in e2e
  test/e2e/framework/auth/helpers.go
  test/e2e/kubectl/kubectl.go
  test/e2e/node/kubelet_authz.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/volume_provisioning.go
Labels: kind/bug, area/test, lgtm, sig/storage, sig/node, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#131647 kubeadm: Remove deprecated klog flags
  cmd/kubeadm/app/kubeadm.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, kind/deprecation, needs-triage

#131606 golangci-lint: some fixes after migration to v2
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
  hack/verify-golangci-lint.sh
Labels: kind/bug, priority/critical-urgent, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#131635 Accumulated cleanups of validation-gen
  staging/src/k8s.io/apimachinery/pkg/api/validate/immutable.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/targets.go
  staging/src/k8s.io/code-generator/cmd/validation-gen/validation.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/code-generation, triage/accepted

#129874 Change the implementation design of matchLabelKeys in PodTopologySpread to be aligned with PodAffinity
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Labels: area/test, sig/scheduling, lgtm, sig/node, release-note, size/XXL, kind/feature, sig/apps, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, needs-triage

#131633 [FG:InPlacePodVerticalScaling] add retries to exec command in cgroup verification
  test/e2e/common/node/framework/cgroups/cgroups.go
Labels: area/test, lgtm, sig/node, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131656 refactor: Add request method constants
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/wrapper_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authn_audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authorization_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/read_write_deadline_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/helpers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/errors_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/patchhandler_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/methods.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/requestinfo.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/requestinfo_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/responsewriter/wrapper_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#131660 DRA: Fix incorrect behavior for AllocationMode: All in ResourceClaim when used in subrequests
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator_test.go
Labels: kind/bug, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#131668 Manually read verbosity before kubectl command construction
  cmd/kubectl/kubectl.go
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
  test/cmd/kuberc.sh
Labels: kind/bug, area/test, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#131662 DRA: Fix failure to allocate large number of devices
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator_test.go
Labels: kind/bug, lgtm, sig/node, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#131672 Kubectl FeatureGate cleanups
  staging/src/k8s.io/kubectl/pkg/cmd/cmd.go
  staging/src/k8s.io/kubectl/pkg/cmd/cmd_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go
  test/cmd/results.sh
Labels: area/test, kind/documentation, kind/cleanup, area/kubectl, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#131674 add HirazawaUi to kubeadm approvers
  cmd/kubeadm/OWNERS
  test/e2e/lifecycle/OWNERS
  test/e2e_kubeadm/OWNERS
Labels: area/test, kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131409 e2e: set appropriate groups in SAR of kubelet authz test
  test/e2e/framework/auth/helpers.go
  test/e2e/node/kubelet_authz.go
Labels: kind/bug, area/test, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, triage/accepted

#131673 etcd: fix kubeadm unit tests
  cmd/kubeadm/app/images/images_test.go
  cmd/kubeadm/app/phases/etcd/local_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/M, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129472 Fix API server crash on concurrent map iteration and write
  pkg/registry/core/serviceaccount/storage/storage_test.go
  staging/src/k8s.io/apiserver/pkg/admission/audit.go
  staging/src/k8s.io/apiserver/pkg/admission/audit_test.go
  staging/src/k8s.io/apiserver/pkg/audit/context.go
  staging/src/k8s.io/apiserver/pkg/audit/context_test.go
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authn_audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authorization_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/request_deadline.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/request_deadline_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  staging/src/k8s.io/apiserver/pkg/util/x509metrics/server_cert_deprecations_test.go
Labels: kind/bug, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, size/XL, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#131681 Add container resources to crashloop backoff key
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/helpers_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, needs-triage

#131676 refactor: Stop using ioutil in apiserver
  staging/src/k8s.io/apiserver/pkg/audit/policy/reader.go
  staging/src/k8s.io/apiserver/pkg/audit/policy/reader_test.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/tokenfile/tokenfile_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/root_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/bench_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/rest/response_checker.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/rest/response_checker_test.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/rest/streamer_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/goaway_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/audit_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/serving_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/tracing.go
  staging/src/k8s.io/apiserver/pkg/server/options/tracing_test.go
  staging/src/k8s.io/apiserver/pkg/server/routes/flags.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/tls_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/audit/webhook/webhook_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook_v1_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook_v1beta1_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1_test.go
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1beta1_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted, sig/etcd

#131678 refactor: Use http method constants in apimachinery
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/compatibility.go
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go
  staging/src/k8s.io/apimachinery/pkg/api/errors/errors_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/upgrade_test.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/wsstream/conn_test.go
  staging/src/k8s.io/apimachinery/pkg/util/net/http_test.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/transport_test.go
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#131680 test: Pass test context to http requests
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/discovery/root_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filterlatency/filterlatency_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit_init_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authn_audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authorization_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/cachecontrol_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/metrics_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/read_write_deadline_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/request_deadline_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/request_received_time_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/patchhandler_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/request/requestinfo_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/responsewriter/wrapper_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#131643 DRA: E2E test flake and failure fixes
  test/e2e/dra/dra.go
Labels: kind/bug, area/test, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, triage/accepted, wg/device-management

#131685 Build etcd v3.6.0-rc.5 image
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: kind/cleanup, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, sig/etcd

#131650 Add hpa reviewers
  pkg/controller/podautoscaler/OWNERS
Labels: kind/cleanup, lgtm, sig/autoscaling, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#131686 Move test cases from mounted_volume_resize into testsuites/volume_expand.go
  test/e2e/storage/mounted_volume_resize.go
  test/e2e/storage/testsuites/volume_expand.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#127050 HPA: Fix int overflow in GetExternalPerPodMetricReplicas
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: kind/bug, lgtm, sig/autoscaling, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#130274 e2e: node: rewrite cpumanager tests
  test/e2e_node/cpu_manager_metrics_test.go
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/cpumanager_test.go
  test/e2e_node/topology_manager_metrics_test.go
  test/e2e_node/topology_manager_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#131702 Panic in `NewYAMLToJSONDecoder`
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, kind/regression, triage/accepted

#131694 Eliminate AuditContext`s SetEventLevel
  staging/src/k8s.io/apiserver/pkg/admission/audit_test.go
  staging/src/k8s.io/apiserver/pkg/audit/context.go
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
  staging/src/k8s.io/apiserver/pkg/util/x509metrics/server_cert_deprecations_test.go
Labels: priority/important-soon, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, needs-triage

#131709 kubeadm: bump supported etcd version
  cmd/kubeadm/app/constants/constants.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#131469 Service cidr default controller
  pkg/controlplane/controller/defaultservicecidr/OWNERS
  pkg/controlplane/controller/defaultservicecidr/default_servicecidr_controller.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#131689 use framework.ExpectNoError instead
  test/e2e/framework/pod/delete.go
  test/e2e/framework/pod/resource.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#131691 DRA E2E: revise test labeling
  test/e2e/apimachinery/resource_quota.go
  test/e2e/dra/dra.go
  test/e2e/feature/feature.go
  test/e2e_node/dra_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#131727 Fix comments on ginkgo label functions
  test/e2e/framework/ginkgowrapper.go
Labels: area/test, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/e2e-test-framework, needs-triage

#131725 Avoid encoding in LogResponseObject when we are not going to use it
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/audit/request_log_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, triage/accepted

#131715 Account consumed newlines properly in YAML decoder
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go
Labels: kind/bug, kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#131697 Self nominate adrianmoisey as sig-network reviewer
  OWNERS_ALIASES
Labels: sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#131683 [release-1.30][go] Bump images, dependencies and versions to go 1.23.8 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#131679 Automated cherry pick of #131662: DRA: Fix failure to allocate large number of devices
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator_test.go
Labels: priority/critical-urgent, lgtm, sig/node, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, kind/regression, triage/accepted, wg/device-management

#131537 [release-1.31][go] Bump images, dependencies and versions to go 1.23.8 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#131528 [release-1.32][go] Bump images, dependencies and versions to go 1.23.8 and distroless iptables
  .go-version
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  staging/publishing/rules.yaml
  test/images/Makefile
  test/utils/image/manifest.go
Labels: area/test, priority/critical-urgent, lgtm, release-note, size/S, kind/feature, area/release-eng, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, sig/release, triage/accepted

#131708 Automated cherry pick of #131702: Panic in `NewYAMLToJSONDecoder`
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go
  staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, ok-to-test, kind/regression, triage/accepted

#130927 E2e tests for Partitionable Devices
  test/e2e/dra/deploy.go
  test/e2e/dra/dra.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
  test/e2e/dra/test-driver/app/server.go
  test/e2e_node/dra_test.go
Labels: area/test, sig/scheduling, lgtm, sig/node, size/XL, kind/api-change, release-note-none, approved, cncf-cla: yes, sig/testing, area/code-generation, needs-priority, needs-triage, wg/device-management

#131608 Migrate ExtractCommentTags to ExtractFunctionStyleCommentTags
  staging/src/k8s.io/code-generator/cmd/conversion-gen/generators/conversion.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#130961 Optimize RS Controller Performance: Reduce Work Duration Time & Minimize Cache Locking
  pkg/controller/replicaset/replica_set.go
Labels: priority/important-soon, kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#131743 update publishing rules for rel 1.30/31/32 to use go1.23.8 and drop release-1.29 config
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/XL, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, triage/accepted

#131279 Run all permutations of input events in ResourceSlice tracker tests
  staging/src/k8s.io/dynamic-resource-allocation/resourceslice/tracker/tracker_test.go
Labels: kind/cleanup, lgtm, sig/node, size/XXL, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#131644 Remove misleading comment from NodeTaint TimeAdded field
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/apis/core/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/cleanup, lgtm, size/XS, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, needs-triage

#131439 Automated cherry pick of #131418: Check for newer fields when deciding expansion recovery feature status
  pkg/volume/util/operationexecutor/node_expander.go
  pkg/volume/util/operationexecutor/node_expander_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/operationexecutor/operation_generator_test.go
  pkg/volume/util/resize_util.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#131438 Automated cherry pick of #131418: Check for newer fields when deciding expansion recovery feature status
  pkg/volume/util/operationexecutor/node_expander.go
  pkg/volume/util/operationexecutor/node_expander_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/operationexecutor/operation_generator_test.go
  pkg/volume/util/resize_util.go
Labels: kind/bug, priority/critical-urgent, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#131524 Automated cherry pick of #131495: Handle unsupported node expansion for RWX volumes
  pkg/volume/util/operationexecutor/node_expander.go
  pkg/volume/util/operationexecutor/node_expander_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#131523 Automated cherry pick of #131495: Handle unsupported node expansion for RWX volumes
  pkg/volume/util/operationexecutor/node_expander.go
  pkg/volume/util/operationexecutor/node_expander_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#131496 Automated cherry pick of #130503: Unhandled panic crash on rollout_history printer.PrintObj
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_history.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_history_test.go
Labels: kind/bug, priority/important-soon, area/kubectl, lgtm, release-note, size/M, cherry-pick-approved, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#131732 Fix two conformance tests to use EndpointSlices rather than Endpoints
  test/e2e/network/service_latency.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, area/conformance, triage/accepted

#131710 test: wait for nodes to be in scheduler's cache
  test/integration/scheduler/scoring/priorities_test.go
Labels: area/test, sig/scheduling, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#131714 feat: improve the backoff calculation to O(1)
  pkg/scheduler/backend/queue/backoff_queue.go
  pkg/scheduler/backend/queue/backoff_queue_test.go
Labels: sig/scheduling, lgtm, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#127180 feat: introduce pInfo.GatingPlugin to filter out events more generally
  pkg/scheduler/backend/queue/active_queue.go
  pkg/scheduler/backend/queue/scheduling_queue.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/scheduler.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131345 scheduler: return UnschedulableAndUnresolvable when node capacity is insufficient
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/fit_test.go
  pkg/scheduler/schedule_one_test.go
Labels: sig/scheduling, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#131299 DRA: prevent admin access claims from getting duplicate devices
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator_test.go
Labels: kind/bug, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted, wg/device-management

#131742 [sig-scheduling] SchedulerPreemption [Serial] validates various priority Pods preempt expectedly with the async preemption: replace finalizers with preStop hook and TerminationGracePeriodSeconds
  test/e2e/scheduling/predicates.go
  test/e2e/scheduling/preemption.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#131445 update godoc for and rename observedGeneration helpers
  pkg/api/v1/pod/util.go
  pkg/controller/disruption/disruption.go
  pkg/controller/podgc/gc_controller.go
  pkg/controller/tainteviction/taint_eviction.go
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager.go
  pkg/kubelet/preemption/preemption.go
  pkg/kubelet/status/generate.go
  pkg/kubelet/status/status_manager.go
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/schedule_one.go
Labels: area/kubelet, kind/cleanup, sig/scheduling, lgtm, sig/node, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#131623 kubelet: userns: Improve errors returned to the user
  pkg/kubelet/kubelet_getters.go
  pkg/kubelet/userns/userns_manager.go
Labels: kind/bug, priority/important-soon, priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, release-note, size/S, approved, cncf-cla: yes, triage/accepted

#131753 Remove unused GetHostname method
  pkg/kubelet/kubelet_getters.go
  pkg/kubelet/kubelet_getters_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#131762 e2e pod readiness gate network flake
  test/e2e/network/pod_lifecycle.go
Labels: area/test, sig/network, lgtm, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#127667 Add log file rotation
  staging/src/k8s.io/component-base/logs/kube-log-runner/README.md
  staging/src/k8s.io/component-base/logs/kube-log-runner/internal/logrotation/logrotation.go
  staging/src/k8s.io/component-base/logs/kube-log-runner/internal/logrotation/logrotation_test.go
  staging/src/k8s.io/component-base/logs/kube-log-runner/internal/logrotation/logrotationstub.go
  staging/src/k8s.io/component-base/logs/kube-log-runner/kube-log-runner.go
  staging/src/k8s.io/component-base/logs/kube-log-runner/kube-log-runner_test.go
Labels: kind/bug, sig/network, area/kubelet, sig/scheduling, area/kube-proxy, area/apiserver, area/kubectl, lgtm, area/provider/gcp, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, release-note, sig/autoscaling, size/XL, kind/api-change, area/release-eng, sig/auth, sig/apps, approved, sig/windows, sig/cli, area/kubeadm, cncf-cla: yes, sig/instrumentation, sig/testing, sig/release, sig/architecture, area/code-generation, area/ipvs, sig/cloud-provider, ok-to-test, needs-priority, area/dependency, triage/accepted, wg/structured-logging, sig/etcd, wg/device-management

#131763 Add sig/scheduling label to scheduler_perf and staging repo OWNERS
  staging/src/k8s.io/kube-scheduler/OWNERS
  test/integration/scheduler/OWNERS
  test/integration/scheduler_perf/OWNERS
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131757 Add e2e tests for kuberc
  test/e2e/kubectl/kuberc.go
Labels: area/test, lgtm, size/L, kind/feature, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#130949 Removed unused function UncompressLog.
  pkg/kubelet/logs/container_log_manager.go
  pkg/kubelet/logs/container_log_manager_test.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#131780 fix e2e network test flake because of network programming latency
  test/e2e/network/pod_lifecycle.go
Labels: area/test, sig/network, lgtm, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131792 rename package bootstrap to match dir
  cmd/kubeadm/app/discovery/token/token.go
  staging/src/k8s.io/cluster-bootstrap/token/jws/jws.go
  staging/src/k8s.io/cluster-bootstrap/token/jws/jws_test.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, area/code-organization, needs-triage

#131772 fix: add BackoffExpiration field to DeepCopy()
  pkg/scheduler/framework/types.go
Labels: kind/bug, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#131166 [Compatibility Version] suggestChangeEmulationVersion if setting locked feature.
  staging/src/k8s.io/component-base/featuregate/testing/feature_gate.go
Labels: area/test, sig/network, area/kubelet, kind/cleanup, area/kube-proxy, area/apiserver, lgtm, sig/storage, sig/node, sig/api-machinery, sig/cluster-lifecycle, size/S, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, area/ipvs, ok-to-test, needs-priority, triage/accepted

#131440 Update go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful to v0.44.0
  go.mod
  go.sum
  vendor/go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful/internal/semconvutil/gen.go
  vendor/go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful/internal/semconvutil/httpconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful/internal/semconvutil/netconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful/restful.go
  vendor/go.opentelemetry.io/contrib/instrumentation/github.com/emicklei/go-restful/otelrestful/version.go
  vendor/go.opentelemetry.io/otel/semconv/internal/v2/http.go
  vendor/go.opentelemetry.io/otel/semconv/v1.17.0/httpconv/README.md
  vendor/go.opentelemetry.io/otel/semconv/v1.17.0/httpconv/http.go
  vendor/modules.txt
Labels: kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/dependency, needs-triage

#131789 tests: userns: Add framework.WithFeatureGate()
  test/e2e/common/node/security_context.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131778 test: Fix cURL download of Windows busybox test image
  test/images/busybox/Dockerfile_windows
Labels: area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#131808 Bump the busybox image
  test/utils/image/manifest.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#131795 fix scheme import
  pkg/.import-restrictions
  pkg/controller/ttlafterfinished/ttlafterfinished_controller.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#131804 ResourceQuota E2E: more informative failure message
  test/e2e/apimachinery/resource_quota.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#131816 etcd: Build etcd image v3.6.0
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Labels: priority/important-soon, kind/cleanup, lgtm, size/S, area/release-eng, release-note-none, approved, cncf-cla: yes, triage/accepted, sig/etcd

#131800 kubelet: don't import testing dependency in non-test code
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/stats/cadvisor_stats_provider_test.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  pkg/kubelet/stats/host_stats_provider_fake.go
Labels: kind/bug, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, sig/windows, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131820 Drop dependency on x/exp package in mount_linux_test.go
  hack/unwanted-dependencies.json
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/mount-utils/mount_linux_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/architecture, area/code-organization, needs-triage

#129758 Fix LC_CTYPE for kubemark start scripts
  test/kubemark/resources/start-kubemark-master.sh
  test/kubemark/start-kubemark.sh
Labels: kind/bug, area/test, sig/scalability, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#130161 kubelet: clean up cloud provider code because cloud provider only supports empty or external and cloud is nil
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/server.go
  pkg/kubelet/cloudresource/cloud_request_manager.go
  pkg/kubelet/cloudresource/cloud_request_manager_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_network.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
  pkg/kubemark/hollow_kubelet.go
  staging/src/k8s.io/cloud-provider/node/helpers/address.go
  staging/src/k8s.io/cloud-provider/node/helpers/address_test.go
Labels: area/kubelet, kind/cleanup, sig/scalability, lgtm, area/cloudprovider, sig/node, size/XXL, release-note-action-required, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, triage/accepted

#131760 DRA: test plugin re-registration after failed GetInfo call
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/draplugin.go
  staging/src/k8s.io/dynamic-resource-allocation/kubeletplugin/registrationserver.go
  test/e2e/dra/deploy.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
  test/e2e/dra/test-driver/gomega/matchers.go
  test/e2e_node/.import-restrictions
  test/e2e_node/dra_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#131832 Remove --config option from suggest kubeadm command
  cmd/kubeadm/app/cmd/upgrade/apply.go
  cmd/kubeadm/app/util/config/cluster.go
Labels: kind/cleanup, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#128748 feat: introduce pInfo.UnschedulableCount to make the backoff calculation more appropriate
  pkg/scheduler/backend/queue/active_queue.go
  pkg/scheduler/backend/queue/backoff_queue.go
  pkg/scheduler/backend/queue/backoff_queue_test.go
  pkg/scheduler/backend/queue/scheduling_queue.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/plugins/plugins_test.go
Labels: area/test, sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#131841 hack/local-up-cluster.sh: remove kubelet --cloud-config
  hack/local-up-cluster.sh
Labels: kind/bug, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#131830 future-proof csi test mocks
  test/e2e/storage/drivers/csi-test/driver/mock.go
  test/e2e/storage/drivers/csi-test/mock/service/service.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, area/dependency, area/code-organization, needs-triage

#131704 test: Use sub-tests in watch tests
  staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XXL, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#131843 ResourceQuota: partial fix "should verify ResourceQuota with terminating scopes through scope selectors" flake
  test/e2e/apimachinery/resource_quota.go
Labels: area/test, kind/cleanup, lgtm, sig/api-machinery, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage

#131628 applyconfig-gen: handle non-pointer types
  staging/src/k8s.io/code-generator/cmd/applyconfiguration-gen/generators/applyconfiguration.go
  staging/src/k8s.io/code-generator/examples/crd/apis/conflicting/v1/types.go
  staging/src/k8s.io/code-generator/examples/crd/apis/conflicting/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/code-generator/examples/crd/apis/gateway-api/v1/shared_types.go
  staging/src/k8s.io/code-generator/examples/crd/apis/gateway-api/v1alpha2/policy_types.go
  staging/src/k8s.io/code-generator/examples/crd/applyconfiguration/conflicting/v1/testtypestatus.go
Labels: kind/bug, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#131855 DRA: Clean up allocator tests
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator_test.go
Labels: kind/cleanup, lgtm, sig/node, size/XL, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#129983 feature(scheduler): Customizable pod selection and ordering in DefaultPreemption plugin
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/runtime/registry.go
  pkg/scheduler/util/utils.go
Labels: sig/scheduling, lgtm, size/XL, kind/feature, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#131844 DRA node: reject static pods which reference ResourceClaims
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/kubelet/config/common.go
  pkg/kubelet/config/common_test.go
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, release-note, size/M, sig/auth, sig/apps, approved, cncf-cla: yes, needs-priority, triage/accepted

#131741 Deprecate kubeconfig's preference field in favor of kuberc
  cmd/kubeadm/app/cmd/token_test.go
  cmd/kubeadm/app/cmd/upgrade/common_test.go
  cmd/kubeadm/app/discovery/token/token_test.go
  cmd/kubeadm/app/phases/bootstraptoken/clusterinfo/clusterinfo_test.go
  cmd/kubeadm/app/util/apiclient/dryrun.go
  cmd/kubeadm/app/util/config/cluster_test.go
  cmd/kubeadm/app/util/kubeconfig/kubeconfig_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/helpers_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/types_test.go
  staging/src/k8s.io/client-go/tools/clientcmd/api/v1/types.go
  staging/src/k8s.io/client-go/tools/clientcmd/loader_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/view_test.go
  test/cmd/authentication.sh
Labels: area/test, kind/documentation, kind/cleanup, area/kubectl, lgtm, sig/api-machinery, sig/cluster-lifecycle, release-note, size/M, kind/api-change, kind/feature, approved, sig/cli, area/kubeadm, cncf-cla: yes, sig/testing, priority/important-longterm, kind/deprecation, triage/accepted

#131771 DRA: Add scheduler perf test for partitionable devices
  test/integration/scheduler_perf/dra.go
  test/integration/scheduler_perf/dra/performance-config.yaml
  test/integration/scheduler_perf/dra/templates/node-with-dra-test-driver.yaml
  test/integration/scheduler_perf/dra/templates/resourceclaim-with-selector.yaml
  test/integration/scheduler_perf/dra/templates/resourceclaimtemplate-backtracking.yaml
  test/integration/scheduler_perf/dra/templates/resourceclaimtemplate-for-two-devices.yaml
  test/integration/scheduler_perf/dra/templates/resourceslice-partitionable-backtracking.yaml
  test/integration/scheduler_perf/dra/templates/resourceslice-partitionable.yaml
Labels: area/test, kind/cleanup, sig/scheduling, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, tide/merge-method-squash, needs-priority, needs-triage, wg/device-management

#131849 DRA: Add an allocator test that uses an attribute selector
  staging/src/k8s.io/dynamic-resource-allocation/structured/allocator_test.go
Labels: kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#131561 Add kube-api-linter verify scripts
  hack/golangci-hints.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
  hack/kube-api-linter/OWNERS
  hack/kube-api-linter/exceptions.yaml
  hack/kube-api-linter/kube-api-linter.yaml
  hack/tools/golangci-lint/go.mod
  hack/tools/golangci-lint/go.sum
  hack/verify-golangci-lint.sh
Labels: lgtm, size/L, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, priority/important-longterm, area/dependency, triage/accepted

#131860 Fix incorrect URL in build/dependencies.yaml file
  build/dependencies.yaml
Labels: kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/release, ok-to-test, needs-priority, needs-triage

#131871 Add a list of modules that should be pinned at current versions
  cmd/dependencyverifier/dependencyverifier.go
  hack/unwanted-dependencies.json
Labels: kind/cleanup, lgtm, size/M, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/code-organization, needs-triage

#131677 [Kubeadm]: Add support for ECDSA-P384 encryption algorithm
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/doc.go
  cmd/kubeadm/app/apis/kubeadm/v1beta4/types.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/phases/certs/certlist_test.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers_test.go
  cmd/kubeadm/app/util/pkiutil/testing/testdata/24.rsa.key
  cmd/kubeadm/app/util/pkiutil/testing/testdata/25.rsa.key
  cmd/kubeadm/app/util/pkiutil/testing/testing.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/L, kind/feature, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#131827 docs: avoid broken link
  staging/src/k8s.io/sample-apiserver/README.md
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#131825 cleanup: remove error comment of AddIndexers func
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#131752 Duplicate v1beta1 AuthenticationConfiguration to v1
  pkg/kubeapiserver/options/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/register.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1/zz_generated.deepcopy.go
  test/integration/apiserver/oidc/oidc_test.go
Labels: area/test, priority/important-soon, area/apiserver, lgtm, sig/api-machinery, release-note, size/XL, kind/api-change, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#131880 kubeadm: fix dryrun-latest e2e by updating cluster-info fixture
  cmd/kubeadm/app/util/apiclient/dryrun.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, priority/important-longterm, kind/failing-test, triage/accepted

#131883 Bump github.com/vishvananda/netlink to v1.3.1
  go.mod
  go.sum
  vendor/github.com/vishvananda/netlink/addr_linux.go
  vendor/github.com/vishvananda/netlink/bridge_linux.go
  vendor/github.com/vishvananda/netlink/filter.go
  vendor/github.com/vishvananda/netlink/filter_linux.go
  vendor/github.com/vishvananda/netlink/handle_unspecified.go
  vendor/github.com/vishvananda/netlink/ioctl_linux.go
  vendor/github.com/vishvananda/netlink/ipset_linux.go
  vendor/github.com/vishvananda/netlink/link.go
  vendor/github.com/vishvananda/netlink/link_linux.go
  vendor/github.com/vishvananda/netlink/link_tuntap_linux.go
  vendor/github.com/vishvananda/netlink/neigh.go
  vendor/github.com/vishvananda/netlink/neigh_linux.go
  vendor/github.com/vishvananda/netlink/netlink_unspecified.go
  vendor/github.com/vishvananda/netlink/nl/bridge_linux.go
  vendor/github.com/vishvananda/netlink/nl/link_linux.go
  vendor/github.com/vishvananda/netlink/nl/nl_linux.go
  vendor/github.com/vishvananda/netlink/nl/parse_attr_linux.go
  vendor/github.com/vishvananda/netlink/nl/rdma_link_linux.go
  vendor/github.com/vishvananda/netlink/nl/seg6local_linux.go
  vendor/github.com/vishvananda/netlink/nl/tc_linux.go
  vendor/github.com/vishvananda/netlink/nl/xfrm_linux.go
  vendor/github.com/vishvananda/netlink/protinfo.go
  vendor/github.com/vishvananda/netlink/protinfo_linux.go
  vendor/github.com/vishvananda/netlink/qdisc.go
  vendor/github.com/vishvananda/netlink/qdisc_linux.go
  vendor/github.com/vishvananda/netlink/rdma_link_linux.go
  vendor/github.com/vishvananda/netlink/route.go
  vendor/github.com/vishvananda/netlink/route_linux.go
  vendor/github.com/vishvananda/netlink/socket_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_state_linux.go
  vendor/github.com/vishvananda/netns/.golangci.yml
  vendor/github.com/vishvananda/netns/.yamllint.yml
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/netns_others.go
  vendor/modules.txt
Labels: sig/network, kind/cleanup, lgtm, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, area/dependency, triage/accepted

#131868 Remove superflous expansion calls if controller finished expansion
  pkg/volume/util/operationexecutor/node_expander.go
  pkg/volume/util/operationexecutor/node_expander_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/storage, release-note, size/M, approved, cncf-cla: yes, triage/accepted

#131881 vendor: update system-validators to v1.10.0
  go.mod
  go.sum
  vendor/k8s.io/system-validators/validators/cgroup_validator_linux.go
  vendor/k8s.io/system-validators/validators/kernel_validator.go
  vendor/k8s.io/system-validators/validators/os_validator_unix.go
  vendor/k8s.io/system-validators/validators/package_validator_linux.go
  vendor/k8s.io/system-validators/validators/types_unix.go
  vendor/modules.txt
Labels: lgtm, sig/node, sig/cluster-lifecycle, size/XS, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, area/dependency, needs-triage

#131746 e2e: add corresponding featuregate label to node features
  test/e2e/common/node/container_probe.go
  test/e2e/common/node/lifecycle_hook.go
  test/e2e/common/node/pod_level_resources.go
  test/e2e/common/node/security_context.go
  test/e2e/node/kubelet.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#131749 fix(kubelet): update lease duration when config changes
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller.go
  staging/src/k8s.io/component-helpers/apimachinery/lease/controller_test.go
Labels: kind/bug, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#131891 renamed SIG Node google groups
  staging/src/k8s.io/cri-api/README.md
  staging/src/k8s.io/cri-client/README.md
Labels: area/kubelet, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage
