Repository kubernetes/kubernetes, pull requests merged in 2025-01, with the labels that each got.

#129119 Fix PodTopologySpread matching pods counts for constraints with the same topologyKey
  pkg/scheduler/framework/plugins/podtopologyspread/common.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  pkg/scheduler/framework/plugins/podtopologyspread/filtering_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring.go
  pkg/scheduler/framework/plugins/podtopologyspread/scoring_test.go
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/XXL, approved, cncf-cla: yes, needs-priority, needs-triage

#129401 kubeadm: add kernel version check for upgrade
  cmd/kubeadm/app/cmd/phases/upgrade/apply/preflight.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/preflight.go
  cmd/kubeadm/app/preflight/checks.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129452 kubeadm: fix a bug where the 'node.skipPhases' in UpgradeConfiguration is not respected by 'kubeadm upgrade node' command
  cmd/kubeadm/app/cmd/upgrade/node.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129419 chore(printers): add miss unit test for resourcequota
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Labels: priority/backlog, kind/cleanup, lgtm, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#127153 Add a static NodePort allocator for e2e tests
  test/e2e/framework/service/jig.go
  test/e2e/network/service.go
Labels: kind/bug, area/test, sig/network, lgtm, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, area/e2e-test-framework, needs-triage

#128972 Add crd from external snapshotter
  test/e2e/storage/framework/volume_group_snapshot_resource.go
  test/e2e/storage/testsuites/volume_group_snapshottable.go
  test/e2e/storage/utils/volume_group_snapshot.go
  test/e2e/testing-manifests/storage-csi/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/run_group_snapshot_e2e.sh
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
Labels: area/test, lgtm, area/provider/gcp, sig/storage, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#129275 Automated cherry pick of #129095: fetch cni plugins from GitHub releases
  test/e2e_node/remote/utils.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#129285 Automated cherry pick of #129095: fetch cni plugins from GitHub releases
  test/e2e_node/remote/utils.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#129286 Automated cherry pick of #129095: fetch cni plugins from GitHub releases
  test/e2e_node/remote/utils.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#129272 Automated cherry pick of #129095: fetch cni plugins from GitHub releases
  test/e2e_node/remote/utils.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#129457 [kubectl] Enhance describe output for projected volume sources to indicate optional Secret/ConfigMap
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, release-note, size/M, approved, sig/cli, cncf-cla: yes, tide/merge-method-squash, ok-to-test, triage/accepted

#129430 [go1.24] webhook: alter regex to account for x509sha1 GODEBUG removal
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#128256 [e2e][webhook] Retry update ValidatingWebhookConfigurations
  test/e2e/apimachinery/webhook.go
Labels: area/test, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-kind, needs-priority, triage/accepted

#129483 kubeadm: should not warn on non-detect sandbox image
  cmd/kubeadm/app/util/runtime/runtime.go
Labels: kind/bug, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#128398 Job: Remove JobTrackingFinalizer annotation specific testings
  pkg/registry/batch/job/strategy_test.go
Labels: kind/cleanup, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#129500 Remove general available feature-gate PDBUnhealthyPodEvictionPolicy
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__policy__v1_openapi.json
  pkg/apis/policy/types.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/policy/v1/generated.proto
  staging/src/k8s.io/api/policy/v1/types.go
  staging/src/k8s.io/api/policy/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/policy/v1beta1/generated.proto
  staging/src/k8s.io/api/policy/v1beta1/types.go
  staging/src/k8s.io/api/policy/v1beta1/types_swagger_doc_generated.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: kind/cleanup, lgtm, sig/api-machinery, release-note, size/M, kind/api-change, sig/auth, sig/apps, approved, cncf-cla: yes, area/code-generation, needs-priority, needs-triage

#129507 Automated cherry pick of #125040: Fix kubelet on Windows fails if a pod has SecurityContext with RunAsUser
  pkg/volume/util/atomic_writer.go
  pkg/volume/util/atomic_writer_linux.go
  pkg/volume/util/atomic_writer_unsupported.go
  test/e2e/windows/security_context.go
Labels: kind/bug, area/test, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129508 Automated cherry pick of #125040: Fix kubelet on Windows fails if a pod has SecurityContext with RunAsUser
  pkg/volume/util/atomic_writer.go
  pkg/volume/util/atomic_writer_linux.go
  pkg/volume/util/atomic_writer_unsupported.go
  test/e2e/windows/security_context.go
Labels: kind/bug, area/test, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, approved, sig/windows, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129113 updated bootstrap-discovery link
  staging/src/k8s.io/cluster-bootstrap/README.md
Labels: kind/documentation, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129440 Extract list response struct to manage all the response fields
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129062 Automated cherry pick of #128219: kubelet: Fix the volume manager didn't check the device mount state in the actual state of the world before marking the volume as detached
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_common.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#129063 Automated cherry pick of #128219: kubelet: Fix the volume manager didn't check the device mount state in the actual state of the world before marking the volume as detached
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_common.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#129434 refactor: simplify boolean expressions in CRD handler
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#129064 Automated cherry pick of #128219: kubelet: Fix the volume manager didn't check the device mount state in the actual state of the world before marking the volume as detached
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_common.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, release-note, size/S, cherry-pick-approved, approved, cncf-cla: yes, triage/accepted

#129359 test: fix pv deletion timeout
  test/e2e/storage/framework/volume_resource.go
  test/e2e/storage/testsuites/provisioning.go
Labels: area/test, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, priority/important-longterm, kind/failing-test, triage/accepted

#129369 e2e: deflake volume tests
  test/e2e/storage/drivers/csi.go
Labels: area/test, lgtm, sig/storage, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129517 feature(scheduler): remove dra plugin resourceslice QueueingHintFn
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/node, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#129201 Add watch permission to namespace-controller for WatchListClient feature
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Labels: kind/bug, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#129343 client-go event: add WithContext expansion methods
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/event_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_event_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/events/v1beta1/event_expansion.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted, wg/structured-logging

#129525 update publishing rules to use go1.22.10 for some active release branches
  staging/publishing/rules.yaml
Labels: kind/cleanup, lgtm, size/L, area/release-eng, release-note-none, approved, cncf-cla: yes, sig/release, needs-priority, needs-triage

#129181 Automated cherry pick of #128086: prevent unnecessary resolving of iscsi/fc devices to dm
  pkg/volume/util/device_util_linux.go
  pkg/volume/util/device_util_linux_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#129454 Automated cherry pick of #129452 kubeadm: fix a bug where the node.skipPhases in UpgradeNodeConfigurat…
  cmd/kubeadm/app/cmd/upgrade/node.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#129530 Add namespace to DRA adminAccess ValidatingAdmissionPolicy message
  test/e2e/dra/dra.go
  test/e2e/dra/test-driver/deploy/example/admin-access-policy.yaml
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage, wg/device-management

#129182 Automated cherry pick of #128086: prevent unnecessary resolving of iscsi/fc devices to dm
  pkg/volume/util/device_util_linux.go
  pkg/volume/util/device_util_linux_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#129180 Automated cherry pick of #128086: prevent unnecessary resolving of iscsi/fc devices to dm
  pkg/volume/util/device_util_linux.go
  pkg/volume/util/device_util_linux_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#129455 Automated cherry pick of #129452 kubeadm: fix a bug where the node.skipPhases in UpgradeNodeConfigurat…
  cmd/kubeadm/app/cmd/upgrade/node.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/XS, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#129183 Automated cherry pick of #128086: prevent unnecessary resolving of iscsi/fc devices to dm
  pkg/volume/util/device_util_linux.go
  pkg/volume/util/device_util_linux_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/M, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, needs-triage

#129512 Lower verbosity for topologycache messages
  staging/src/k8s.io/endpointslice/topologycache/topologycache.go
Labels: priority/important-soon, sig/network, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-triage

#129536 fix dra test lint
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go
Labels: sig/scheduling, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, needs-triage, wg/device-management

#129542 Add benchmarking of namespace index
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/testing/store_benchmarks.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129324 Automated cherry pick of #129301: Do not attempt to truncate revision history if revisionHistoryLimit is negative
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#129323 Automated cherry pick of #129301: Do not attempt to truncate revision history if revisionHistoryLimit is negative
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#129322 Automated cherry pick of #129301: Do not attempt to truncate revision history if revisionHistoryLimit is negative
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#129495 [go1.24][1.32] webhook: alter regex to account for x509sha1 GODEBUG removal
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#125901 Report event for the cases when probe returned Unknown result
  pkg/kubelet/prober/prober.go
  pkg/kubelet/prober/prober_test.go
Labels: kind/bug, priority/backlog, area/kubelet, lgtm, sig/node, release-note, size/L, approved, cncf-cla: yes, ok-to-test, triage/accepted

#129540 Test all possible combinations of input for shouldDelegateList
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129493 [go1.24][1.30] webhook: alter regex to account for x509sha1 GODEBUG removal
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129325 Automated cherry pick of #129301: Do not attempt to truncate revision history if revisionHistoryLimit is negative
  pkg/controller/statefulset/stateful_set_control.go
  pkg/controller/statefulset/stateful_set_control_test.go
Labels: kind/bug, priority/important-soon, lgtm, release-note, size/M, cherry-pick-approved, sig/apps, approved, cncf-cla: yes, triage/accepted

#129492 [go1.24][1.29] webhook: alter regex to account for x509sha1 GODEBUG removal
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129522 Fix service's nodePort already allocated
  test/e2e/network/service.go
Labels: area/test, sig/network, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129494 [go1.24][1.31] webhook: alter regex to account for x509sha1 GODEBUG removal
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129298 apiextensions: replace panic with error handling in DiscoveryController
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_discovery_controller.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129429 Automated cherry pick of #129418 kubeadm: skip disabled addons in clusterconfig on upgrade
  cmd/kubeadm/app/cmd/phases/upgrade/addons.go
Labels: kind/bug, priority/important-soon, lgtm, sig/cluster-lifecycle, size/S, cherry-pick-approved, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#129377 e2e: deflake subpath tests
  test/e2e/storage/drivers/in_tree.go
Labels: area/test, lgtm, sig/storage, size/M, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129528 Automated cherry pick of #129201: Add watch permission to namespace-controller for WatchListClient feature
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Labels: kind/bug, lgtm, size/XS, cherry-pick-approved, release-note-none, sig/auth, approved, cncf-cla: yes, needs-priority, needs-triage

#129439 Refactor shouldDelegateList
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129443 Watchcache proxy
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/storage_factory.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_testing_utils_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/proxy.go
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XL, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#129427 Improve topologyToMatchedTermCount map in InterPodAffinity PreFilter
  pkg/scheduler/framework/plugins/interpodaffinity/filtering.go
Labels: sig/scheduling, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129444 Remove use of deprecated functions
  pkg/controller/podautoscaler/horizontal_test.go
  pkg/controller/podautoscaler/replica_calculator.go
  pkg/controller/podautoscaler/replica_calculator_test.go
Labels: priority/backlog, kind/cleanup, lgtm, sig/autoscaling, size/L, release-note-none, sig/apps, approved, cncf-cla: yes, triage/accepted

#129544 Automated cherry pick of #129543: DRA API: bump maximum size of ReservedFor to 256
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1alpha3_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1beta1_openapi.json
  pkg/apis/resource/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/resource/v1alpha3/generated.proto
  staging/src/k8s.io/api/resource/v1alpha3/types.go
  staging/src/k8s.io/api/resource/v1alpha3/types_swagger_doc_generated.go
  staging/src/k8s.io/api/resource/v1beta1/generated.proto
  staging/src/k8s.io/api/resource/v1beta1/types.go
  staging/src/k8s.io/api/resource/v1beta1/types_swagger_doc_generated.go
  test/e2e/dra/deploy.go
  test/e2e/dra/dra.go
  test/e2e/dra/kind.yaml
Labels: area/test, priority/important-soon, lgtm, sig/node, sig/api-machinery, release-note, size/L, kind/api-change, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, area/code-generation, triage/accepted, wg/device-management

#129570 bump kube-network-policies to v0.7.0
  cluster/addons/kube-network-policies/kube-network-policies.yaml
Labels: kind/cleanup, lgtm, area/provider/gcp, size/S, release-note-none, approved, cncf-cla: yes, sig/cloud-provider, needs-priority, needs-triage

#129053 e2e: ctb: make it possible to run the tests in parallel
  test/e2e/auth/projected_clustertrustbundle.go
Labels: area/test, kind/cleanup, lgtm, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#124087 apiserver: decrease timeout for TestKMSHealthzEndpoint
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/encryption-configs/multiple-kms-providers-with-v2.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/testdata/encryption-configs/multiple-kms-v2-providers.yaml
Labels: area/test, kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#129582 e2e services: avoid panic on service creation retry
  test/e2e/network/service.go
Labels: area/test, sig/network, lgtm, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129586 e2e: expand error conditions when test-ing port-forward
  test/e2e/kubectl/portforward.go
Labels: area/test, lgtm, size/XS, kind/flake, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#129506 Fix CRD status subresource ratcheting
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/status_strategy.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/validator.go
  staging/src/k8s.io/apiextensions-apiserver/test/integration/ratcheting_test.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/L, approved, cncf-cla: yes, needs-priority, triage/accepted

#129488 Update snapshot CRDs to v1 in cluster addons
  cluster/addons/volumesnapshots/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  cluster/addons/volumesnapshots/crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  cluster/addons/volumesnapshots/crd/snapshot.storage.k8s.io_volumesnapshots.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/run_group_snapshot_e2e.sh
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/storage, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, sig/cloud-provider, ok-to-test, needs-priority, needs-triage

#129101 Adjust the log level of the FilterActivePods method
  pkg/controller/controller_utils.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129589 kubeadm: remove the GA EtcdLearnerMode FG
  cmd/kubeadm/app/features/features.go
  cmd/kubeadm/app/phases/etcd/local.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/S, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129594 kubeadm: remove misplaced error during image pull
  cmd/kubeadm/app/preflight/checks.go
Labels: kind/bug, priority/backlog, lgtm, sig/cluster-lifecycle, release-note, size/XS, approved, area/kubeadm, cncf-cla: yes, triage/accepted

#129590 Remove WatchBookmark feature gate
  pkg/features/versioned_kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, needs-triage

#129591 KEP-4193: Promote ServiceAccountTokenNodeBinding to GA
  pkg/features/versioned_kube_features.go
  pkg/serviceaccount/claims_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
  test/integration/auth/svcaccttoken_test.go
Labels: area/test, lgtm, release-note, size/M, kind/feature, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129595 kubelet: use env vars in node log query PS command
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_others.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: kind/bug, priority/important-soon, area/kubelet, lgtm, sig/node, sig/api-machinery, size/L, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, triage/accepted

#129615 client-go/tools/cache: fix TestAddWhileActive
  staging/src/k8s.io/client-go/tools/cache/shared_informer_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/api-machinery, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-triage

#127375 Add test for CEL reserved symbols without double underscore
  staging/src/k8s.io/apiserver/pkg/cel/escaping_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, lifecycle/stale, needs-kind, ok-to-test, needs-priority, triage/accepted

#129329 kube-proxy full sync iptables one hour even though nothing changes
  pkg/proxy/iptables/proxier.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/util/utils.go
Labels: sig/network, sig/scalability, area/kube-proxy, lgtm, size/M, kind/feature, release-note-none, approved, sig/windows, cncf-cla: yes, area/ipvs, ok-to-test, needs-priority, needs-triage

#129618 Bump CSI sidecars to fix CI issues and such
  test/e2e/storage/csimock/csi_volume_expansion.go
  test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#129624 Add introduced and removed version information in etcd fixtures
  test/integration/etcd/data.go
  test/integration/etcd/etcd_storage_path_test.go
Labels: area/test, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted, sig/etcd

#129166 [KEP-3041]: deprecate nodefeature for feature labels
  test/e2e/auth/service_accounts.go
  test/e2e/common/node/downwardapi.go
  test/e2e/common/node/runtimeclass.go
  test/e2e/common/node/security_context.go
  test/e2e/common/storage/configmap_volume.go
  test/e2e/common/storage/downwardapi_volume.go
  test/e2e/common/storage/empty_dir.go
  test/e2e/common/storage/projected_configmap.go
  test/e2e/common/storage/projected_downwardapi.go
  test/e2e/feature/feature.go
  test/e2e/node/node_problem_detector.go
  test/e2e/nodefeature/nodefeature.go
  test/e2e_node/checkpoint_container.go
  test/e2e_node/container_lifecycle_test.go
  test/e2e_node/container_manager_test.go
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/critical_pod_test.go
  test/e2e_node/device_manager_test.go
  test/e2e_node/device_plugin_failures_pod_status_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/eviction_test.go
  test/e2e_node/garbage_collector_test.go
  test/e2e_node/image_gc_test.go
  test/e2e_node/image_id_test.go
  test/e2e_node/image_volume.go
  test/e2e_node/kubelet_config_dir_test.go
  test/e2e_node/mount_rro_linux_test.go
  test/e2e_node/node_container_manager_test.go
  test/e2e_node/node_problem_detector_linux.go
  test/e2e_node/node_shutdown_linux_test.go
  test/e2e_node/podresources_test.go
  test/e2e_node/proc_mount_test.go
  test/e2e_node/quota_lsci_test.go
  test/e2e_node/resource_metrics_test.go
  test/e2e_node/security_context_test.go
  test/e2e_node/split_disk_test.go
  test/e2e_node/swap_test.go
  test/e2e_node/system_node_critical_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, sig/node, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, triage/accepted

#129547 Only test requests that pass validation
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129643 Prevent alpha feature gates from being enabled by default
  pkg/features/kube_features_test.go
Labels: priority/important-soon, kind/cleanup, lgtm, size/S, release-note-none, approved, sig/windows, cncf-cla: yes, sig/architecture, needs-triage

#129650 add missing KEP link for AuthorizeNodeWithSelectors feature gate
  pkg/features/kube_features.go
Labels: priority/backlog, kind/documentation, lgtm, size/XS, release-note-none, sig/auth, approved, cncf-cla: yes, triage/accepted

#129628 remove duplicate getAttrsFunc calls to reduce temporary memory allocations
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cache_watcher_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_interval.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_interval_test.go
Labels: kind/bug, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129297 Promote Portworx CSI migration to GA
  pkg/features/versioned_kube_features.go
  pkg/volume/csimigration/plugin_manager_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: lgtm, sig/storage, release-note, size/S, kind/feature, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129303 apiserver/admission/cel: add unit tests for JSONPatch expressions
  staging/src/k8s.io/apiserver/pkg/cel/mutation/typeresolver_test.go
Labels: area/apiserver, lgtm, sig/api-machinery, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129346 apimachinery wait: support contextual logging
  staging/src/k8s.io/apimachinery/pkg/util/wait/backoff.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/loop.go
  staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted, wg/structured-logging

#129549 add documentation that 0s duration will be overwritten for 5m
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: kind/documentation, lgtm, sig/node, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, area/code-generation, needs-priority, api-review, needs-triage

#129631 Update compatibility matrix and maintenance status upto release-1.32
  staging/src/k8s.io/client-go/README.md
Labels: kind/documentation, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129667 Update VERSION to 1.32.1 for sample-apiserver
  test/images/sample-apiserver/Makefile
  test/images/sample-apiserver/VERSION
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#129661 DRA CEL: add missing size estimator
  pkg/apis/resource/types.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  staging/src/k8s.io/api/resource/v1alpha3/types.go
  staging/src/k8s.io/api/resource/v1beta1/types.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/compile.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/compile_test.go
Labels: kind/bug, priority/important-soon, lgtm, sig/node, release-note, size/L, kind/api-change, approved, cncf-cla: yes, api-review, needs-triage, wg/device-management

#129629 Fix: touch /dev/null permission denied on macos
  staging/src/k8s.io/code-generator/kube_codegen.sh
Labels: kind/bug, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, triage/accepted

#129611 remove WatchBookmark feature-gate comment from types.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/types.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129630 Fix Portworx plugin's CSI translation to copy secret name & namespace
  staging/src/k8s.io/csi-translation-lib/plugins/portworx.go
  staging/src/k8s.io/csi-translation-lib/plugins/portworx_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/L, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#128773 Update etcd from v3.5.16 to v3.5.17
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/utils/image/manifest.go
Labels: area/test, kind/cleanup, lgtm, area/provider/gcp, sig/cluster-lifecycle, size/S, release-note-none, approved, area/kubeadm, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, triage/accepted, sig/etcd

#129679 remove APIListChunking which was GAed since v1.29
  pkg/features/versioned_kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#128997 Replaced util.NewIOHandler() with fakeIOHandler to make UT pass on different host envs
  pkg/volume/fc/fc_util_linux_test.go
  pkg/volume/fc/fc_util_test.go
Labels: kind/bug, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, kind/failing-test, needs-priority, needs-triage

#129637 Fix incorrect function name in comment
  pkg/controller/cronjob/utils.go
Labels: priority/backlog, kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, triage/accepted

#124300 Update EnvFromSource.Prefix doc to mention Secret as well as ConfigMap
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  pkg/apis/core/types.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Labels: kind/documentation, lgtm, sig/api-machinery, size/XS, kind/api-change, release-note-none, sig/apps, approved, cncf-cla: yes, area/code-generation, ok-to-test, needs-priority, needs-triage

#122016 removed the dependency on `k8s.io/util/nsenter`
  pkg/volume/util/hostutil/hostutil_linux.go
  pkg/volume/util/subpath/subpath_linux.go
  pkg/volume/util/subpath/subpath_unsupported.go
  pkg/volume/util/subpath/subpath_windows.go
  staging/src/k8s.io/mount-utils/mount_linux.go
  vendor/k8s.io/utils/nsenter/OWNERS
  vendor/k8s.io/utils/nsenter/README.md
  vendor/k8s.io/utils/nsenter/nsenter.go
  vendor/k8s.io/utils/nsenter/nsenter_unsupported.go
  vendor/modules.txt
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#128700 selinux: Add e2e tests for SElinuxChangePolicy
  test/e2e/storage/csimock/base.go
  test/e2e/storage/csimock/csi_selinux_mount.go
Labels: area/test, lgtm, sig/storage, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#128905 fix flaky behavior due to the test ordering between DynamicProvisioner and Retroactive StorageClass Assignment
  test/e2e/storage/pvc_storageclass.go
Labels: area/test, priority/important-soon, lgtm, sig/storage, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-triage

#128809 Change way to create a pod in test
  test/e2e/common/node/pods.go
Labels: area/test, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, ok-to-test, needs-priority, needs-triage

#129545 hack/ginkgo-e2e.sh: forward TERM/INT to Ginkgo
  hack/ginkgo-e2e.sh
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, triage/accepted, wg/device-management

#129581 storage e2e tests: add more tests for pv relaim policy
  test/e2e/storage/csimock/csi_honor_pv_reclaim_policy.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129669 credential provider config: validate duplicate names early and preserve provider order
  pkg/credentialprovider/plugin/config.go
  pkg/credentialprovider/plugin/config_test.go
  pkg/credentialprovider/plugins.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/types.go
  staging/src/k8s.io/kubelet/config/v1/types.go
  staging/src/k8s.io/kubelet/config/v1alpha1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, sig/api-machinery, size/L, kind/api-change, release-note-none, sig/auth, approved, cncf-cla: yes, area/code-generation, needs-priority, triage/accepted

#129692 KEP-3836: 1.33 - remove feature gate KubeProxyDrainingTerminatingNodes
  cmd/kube-proxy/app/server.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Labels: sig/network, kind/cleanup, area/kube-proxy, lgtm, release-note, size/M, approved, cncf-cla: yes, needs-priority, needs-triage

#129450 kubeadm: update preflight check
  cmd/kubeadm/app/preflight/checks_linux.go
Labels: lgtm, sig/cluster-lifecycle, release-note, size/XS, kind/feature, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129644 kubeadm: improve message in 'reset'
  cmd/kubeadm/app/cmd/reset.go
Labels: kind/documentation, lgtm, sig/cluster-lifecycle, release-note, size/S, approved, area/kubeadm, cncf-cla: yes, needs-priority, needs-triage

#129672 add a comment to features.Flexvolumes
  test/e2e/feature/feature.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129258 Bump filepath-securejoin to 0.3.5
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/mkdir_linux.go
  vendor/modules.txt
Labels: kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/architecture, needs-priority, area/dependency, needs-triage

#129662 Put the target plugin names in the Qhint integration test cases
  test/integration/scheduler/queueing/former/queue_test.go
  test/integration/scheduler/queueing/queueinghint/queue_test.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129681 Remove unnecessary feature label Recreate
  test/e2e/feature/feature.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129538 Cleanup: only initiate http2 server options when http2 is not disabled
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#129577 Only set worker to nil when the key exists.
  pkg/controller/tainteviction/timed_workers.go
  pkg/controller/tainteviction/timed_workers_test.go
Labels: kind/bug, sig/scheduling, lgtm, size/M, release-note-none, sig/apps, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129678 remove feature label FSGroup
  test/e2e/auth/service_accounts.go
  test/e2e/common/storage/configmap_volume.go
  test/e2e/common/storage/downwardapi_volume.go
  test/e2e/common/storage/empty_dir.go
  test/e2e/common/storage/projected_configmap.go
  test/e2e/common/storage/projected_downwardapi.go
  test/e2e/feature/feature.go
  test/e2e/nodefeature/nodefeature.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, sig/node, size/M, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129707 e2e: expand error conditions when test-ing port-forward
  test/e2e/kubectl/portforward.go
Labels: area/test, lgtm, size/XS, kind/flake, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, priority/important-longterm, triage/accepted

#128850 Fix named ports of restartable init containers don't propagate to EndpointSlice
  staging/src/k8s.io/endpointslice/utils.go
  staging/src/k8s.io/endpointslice/utils_test.go
  test/e2e/network/service.go
Labels: kind/bug, area/test, priority/important-soon, sig/network, lgtm, release-note, size/L, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-triage

#129271 Dual stack healthz server
  cmd/kube-proxy/app/server.go
  pkg/proxy/healthcheck/common.go
  pkg/proxy/healthcheck/healthcheck_test.go
  pkg/proxy/healthcheck/proxy_health.go
  pkg/proxy/healthcheck/service_health.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/nftables/proxier.go
  pkg/proxy/node.go
  pkg/proxy/winkernel/proxier.go
Labels: sig/network, area/kube-proxy, lgtm, release-note, size/XL, kind/feature, approved, sig/windows, cncf-cla: yes, area/ipvs, needs-priority, needs-triage

#129687 remove gke
  test/e2e/apps/deployment.go
  test/e2e/apps/rc.go
  test/e2e/apps/replica_set.go
  test/e2e/cloud/gcp/cluster_upgrade.go
  test/e2e/cloud/gcp/common/upgrade_mechanics.go
  test/e2e/cloud/gcp/gke_node_pools.go
  test/e2e/cloud/gcp/kubelet_security.go
  test/e2e/cloud/gcp/node_lease.go
  test/e2e/cloud/gcp/reboot.go
  test/e2e/cloud/gcp/resize_nodes.go
  test/e2e/cloud/gcp/restart.go
  test/e2e/cloud/nodes.go
  test/e2e/e2e.go
  test/e2e/framework/ssh/ssh.go
  test/e2e/framework/util.go
  test/e2e/kubectl/kubectl.go
  test/e2e/network/dns.go
  test/e2e/network/service.go
  test/e2e/node/crictl.go
  test/e2e/node/node_problem_detector.go
  test/e2e/storage/csimock/base.go
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/helpers.go
  test/e2e/storage/testsuites/base.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/volume_provisioning.go
  test/e2e/upgrades/storage/persistent_volumes.go
  test/e2e/upgrades/storage/volume_mode.go
Labels: area/test, sig/network, kind/cleanup, sig/scalability, lgtm, area/provider/gcp, sig/storage, sig/node, size/L, release-note-none, sig/apps, approved, sig/cli, cncf-cla: yes, sig/testing, sig/cloud-provider, needs-priority, area/e2e-test-framework, needs-triage

#129200 Remove GetDeviceNameFromMount from HostUtils
  pkg/volume/util/hostutil/hostutil.go
  pkg/volume/util/hostutil/hostutil_test.go
Labels: kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#128896 Remove all references to v1.Endpoints from non-network e2e tests
  test/e2e/apimachinery/aggregator.go
  test/e2e/framework/endpoints/.import-restrictions
  test/e2e/framework/network/utils.go
  test/e2e/framework/service/jig.go
  test/e2e/framework/util.go
  test/e2e/kubectl/kubectl.go
  test/e2e/network/endpoints.go
  test/e2e/network/service.go
Labels: area/test, priority/backlog, sig/network, kind/cleanup, lgtm, sig/api-machinery, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#129635 Use cached calculateResource result when removing pod from NodeInfo in preemption
  pkg/scheduler/backend/cache/cache_test.go
  pkg/scheduler/backend/cache/snapshot_test.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
Labels: sig/scheduling, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, needs-priority, needs-triage

#129675 Automated cherry pick of #129630: Fix Portworx plugin's CSI translation to copy secret name & namespace
  staging/src/k8s.io/csi-translation-lib/plugins/portworx.go
  staging/src/k8s.io/csi-translation-lib/plugins/portworx_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129674 Automated cherry pick of #129630: Fix Portworx plugin's CSI translation to copy secret name & namespace
  staging/src/k8s.io/csi-translation-lib/plugins/portworx.go
  staging/src/k8s.io/csi-translation-lib/plugins/portworx_test.go
Labels: kind/bug, lgtm, sig/storage, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129619 Self-nominating ffromani as approver for sig-node container and resource managers
  pkg/kubelet/cm/OWNERS
  test/e2e/node/OWNERS
  test/e2e_node/OWNERS
Labels: area/test, priority/backlog, area/kubelet, kind/documentation, lgtm, sig/node, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#129717 testing: Fix pod delete timeout failures after InPlacePodVerticalScaling Graduate to Beta commit
  test/e2e/common/node/lifecycle_hook.go
  test/e2e/common/node/pod_resize.go
  test/e2e/common/node/pods.go
  test/e2e/common/node/security_context.go
  test/e2e/framework/pod/output/output.go
  test/e2e/kubectl/portforward.go
  test/e2e/network/conntrack.go
  test/e2e/network/loadbalancer.go
  test/e2e_node/container_log_rotation_test.go
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/critical_pod_test.go
  test/e2e_node/device_manager_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/garbage_collector_test.go
  test/e2e_node/hugepages_test.go
  test/e2e_node/image_gc_test.go
  test/e2e_node/memory_manager_test.go
  test/e2e_node/node_perf_test.go
  test/e2e_node/pod_hostnamefqdn_test.go
  test/e2e_node/podresources_test.go
  test/e2e_node/resource_collector.go
  test/e2e_node/util.go
Labels: kind/bug, area/test, sig/network, lgtm, sig/node, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#129739 Kubelet server handler cleanup
  pkg/kubelet/server/server.go
Labels: priority/important-soon, area/kubelet, kind/cleanup, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, triage/accepted

#129720 Nominate macsko to SIG Scheduling approvers
  OWNERS_ALIASES
Labels: kind/documentation, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129658 Adding support for providing version for functions in kube_codegen.sh
  staging/src/k8s.io/code-generator/kube_codegen.sh
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/S, approved, cncf-cla: yes, area/code-generation, tide/merge-method-squash, ok-to-test, needs-priority, triage/accepted

#129746 kubeadm: fix a wrong log message
  cmd/kubeadm/app/discovery/file/file.go
Labels: kind/documentation, lgtm, sig/cluster-lifecycle, size/XS, release-note-none, approved, area/kubeadm, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129754 Fix dual stack tests after moving the e2e test to use Endpoint Slices
  test/e2e/framework/network/utils.go
Labels: area/test, lgtm, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, area/e2e-test-framework, needs-triage

#127709 client-go/rest: finish context support
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/client-go/rest/.mockery.yaml
  staging/src/k8s.io/client-go/rest/client.go
  staging/src/k8s.io/client-go/rest/client_test.go
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/rest/config_test.go
  staging/src/k8s.io/client-go/rest/exec_test.go
  staging/src/k8s.io/client-go/rest/mock_backoff_manager_test.go
  staging/src/k8s.io/client-go/rest/plugin.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
  staging/src/k8s.io/client-go/rest/urlbackoff.go
  staging/src/k8s.io/client-go/rest/urlbackoff_test.go
  staging/src/k8s.io/client-go/rest/warnings.go
  staging/src/k8s.io/client-go/rest/warnings_test.go
  staging/src/k8s.io/client-go/rest/with_retry.go
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/endpointslice/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-controller/go.sum
Labels: priority/important-soon, sig/network, area/apiserver, lgtm, area/cloudprovider, sig/node, sig/api-machinery, release-note, size/XL, kind/feature, sig/auth, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, area/code-generation, sig/cloud-provider, area/dependency, triage/accepted, wg/structured-logging, wg/device-management

#129769 Revert "tests: include stdout of failed commands in JUnit"
  third_party/forked/shell2junit/sh2ju.sh
Labels: lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, triage/accepted

#128466 feature: Make Unschedulable scheduler performance test parametrized with the number of initial nodes.
  test/integration/scheduler_perf/misc/performance-config.yaml
Labels: area/test, lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129775 Blame allocator
  test/e2e/network/service.go
Labels: area/test, sig/network, lgtm, size/S, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129782 hack: backport apidiff.sh
  hack/apidiff.sh
Labels: priority/important-soon, kind/cleanup, lgtm, size/M, cherry-pick-approved, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#129786 Drop declaration of IP/CDIR type CEL variables
  staging/src/k8s.io/apiserver/pkg/cel/library/cidr.go
  staging/src/k8s.io/apiserver/pkg/cel/library/ip.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129010 node: e2e: fix device plugin reboot test
  test/e2e_node/device_plugin_test.go
Labels: kind/bug, area/test, priority/important-soon, area/kubelet, lgtm, sig/node, size/S, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, triage/accepted

#129168 [KEP-3041] - remove nodefeatures from k/k repo
  test/e2e/common/node/container_probe.go
  test/e2e/common/node/downwardapi.go
  test/e2e/common/node/lifecycle_hook.go
  test/e2e/common/node/runtimeclass.go
  test/e2e/common/node/security_context.go
  test/e2e/e2e_test.go
  test/e2e/framework/ginkgowrapper.go
  test/e2e/framework/internal/unittests/bugs/bugs.go
  test/e2e/node/node_problem_detector.go
  test/e2e/nodefeature/OWNERS
  test/e2e/nodefeature/nodefeature.go
  test/e2e_node/.import-restrictions
  test/e2e_node/checkpoint_container.go
  test/e2e_node/container_lifecycle_test.go
  test/e2e_node/container_manager_test.go
  test/e2e_node/cpu_manager_test.go
  test/e2e_node/critical_pod_test.go
  test/e2e_node/device_manager_test.go
  test/e2e_node/device_plugin_failures_pod_status_test.go
  test/e2e_node/device_plugin_test.go
  test/e2e_node/e2e_node_suite_test.go
  test/e2e_node/eviction_test.go
  test/e2e_node/garbage_collector_test.go
  test/e2e_node/image_gc_test.go
  test/e2e_node/image_id_test.go
  test/e2e_node/image_volume.go
  test/e2e_node/kubelet_config_dir_test.go
  test/e2e_node/mount_rro_linux_test.go
  test/e2e_node/node_container_manager_test.go
  test/e2e_node/node_problem_detector_linux.go
  test/e2e_node/node_shutdown_linux_test.go
  test/e2e_node/podresources_test.go
  test/e2e_node/proc_mount_test.go
  test/e2e_node/quota_lsci_test.go
  test/e2e_node/resource_metrics_test.go
  test/e2e_node/security_context_test.go
  test/e2e_node/split_disk_test.go
  test/e2e_node/swap_test.go
  test/e2e_node/system_node_critical_test.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/storage, sig/node, size/L, release-note-none, sig/auth, approved, cncf-cla: yes, sig/testing, area/e2e-test-framework, triage/accepted

#129765 `client-go`: transform `watchErrorStream` to wrap the underlying error
  staging/src/k8s.io/client-go/tools/remotecommand/errorstream.go
  staging/src/k8s.io/client-go/tools/remotecommand/v2_test.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/M, release-note-none, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test, needs-priority, needs-triage

#128727 memmanager:cleanup: drop `Experimental` prefix
  cmd/kubelet/app/server.go
  pkg/kubelet/cm/container_manager.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/kubelet.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, ok-to-test, triage/accepted

#129110 test: deployment patch status test should check the modified fields
  test/e2e/apps/deployment.go
Labels: kind/bug, area/test, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, sig/testing, priority/important-longterm, sig/architecture, triage/accepted

#129670 Fix ephemeral container secret references
  plugin/pkg/auth/authorizer/node/graph_populator.go
  plugin/pkg/auth/authorizer/node/node_authorizer_test.go
Labels: kind/bug, lgtm, release-note, size/L, sig/auth, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129749 DRA: CEL cost estimate during validation
  staging/src/k8s.io/dynamic-resource-allocation/cel/cache.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/cache_test.go
  staging/src/k8s.io/dynamic-resource-allocation/cel/compile.go
Labels: kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted, wg/device-management

#129784 Refactors explain command to split flags from options
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_token.go
  staging/src/k8s.io/kubectl/pkg/cmd/explain/explain.go
  staging/src/k8s.io/kubectl/pkg/cmd/explain/explain_test.go
Labels: priority/backlog, kind/cleanup, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, triage/accepted

#129793 chore(scheduler): improve log output for podtopologyspread filter plugin
  pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
Labels: kind/cleanup, sig/scheduling, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129700 Update in-tree gcePersistentDisk tests
  test/e2e/storage/drivers/in_tree.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/M, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#129703 add a comment to InTreePluginPortworxUnregister
  pkg/features/versioned_kube_features.go
Labels: kind/cleanup, lgtm, sig/storage, size/XS, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#129697 chore: remove duplicated test case of `pvc not found`
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
Labels: kind/cleanup, sig/scheduling, lgtm, sig/storage, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage

#129723 remove unrunnable tests from NFSPersistentVolumes
  test/e2e/storage/nfs_persistent_volume-disruptive.go
Labels: area/test, kind/cleanup, lgtm, sig/storage, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, kind/failing-test, needs-priority, needs-triage
