Repository kubernetes/kubernetes, pull requests merged in 2025-10, with the labels that each got.

#134208 [126379] [client-go] chore: use WithContext functions inside old functions to remove code duplication
  staging/src/k8s.io/client-go/rest/urlbackoff.go
  staging/src/k8s.io/client-go/rest/warnings.go
Labels: kind/cleanup, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, triage/accepted

#134330 Add resource version comparison function in client-go along with conformance
  staging/src/k8s.io/apimachinery/pkg/util/resourceversion/resourceversion.go
  staging/src/k8s.io/apimachinery/pkg/util/resourceversion/resourceversion_test.go
  test/e2e/apimachinery/aggregator.go
  test/e2e/apimachinery/crd_publish_openapi.go
  test/e2e/apimachinery/custom_resource_definition.go
  test/e2e/apimachinery/flowcontrol.go
  test/e2e/apimachinery/namespace.go
  test/e2e/apimachinery/resource_quota.go
  test/e2e/apimachinery/validatingadmissionpolicy.go
  test/e2e/apimachinery/webhook.go
  test/e2e/apps/controller_revision.go
  test/e2e/apps/cronjob.go
  test/e2e/apps/daemon_set.go
  test/e2e/apps/deployment.go
  test/e2e/apps/disruption.go
  test/e2e/apps/job.go
  test/e2e/apps/rc.go
  test/e2e/apps/replica_set.go
  test/e2e/apps/statefulset.go
  test/e2e/auth/certificates.go
  test/e2e/auth/service_accounts.go
  test/e2e/common/apimachinery/resourceversion_matchers.go
  test/e2e/common/apimachinery/resourceversion_matchers_test.go
  test/e2e/common/node/configmap.go
  test/e2e/common/node/lease.go
  test/e2e/common/node/pods.go
  test/e2e/common/node/podtemplates.go
  test/e2e/common/node/runtimeclass.go
  test/e2e/common/node/secrets.go
  test/e2e/instrumentation/events.go
  test/e2e/network/endpointslice.go
  test/e2e/network/ingress.go
  test/e2e/network/ingressclass.go
  test/e2e/network/service.go
  test/e2e/network/service_cidrs.go
  test/e2e/node/node_lifecycle.go
  test/e2e/scheduling/limit_range.go
  test/e2e/scheduling/preemption.go
  test/e2e/storage/csi_inline.go
  test/e2e/storage/csi_node.go
  test/e2e/storage/csistoragecapacity.go
  test/e2e/storage/persistent_volumes.go
  test/e2e/storage/storageclass.go
  test/e2e/storage/volume_attachment.go
Labels: area/test, sig/network, sig/scheduling, lgtm, sig/storage, sig/node, sig/api-machinery, release-note, size/XL, kind/feature, sig/auth, sig/apps, approved, cncf-cla: yes, sig/instrumentation, sig/testing, needs-priority, needs-triage

#134308 fix(cordonhelper): Avoid mutating local node before API call
  staging/src/k8s.io/kubectl/pkg/drain/cordon.go
  staging/src/k8s.io/kubectl/pkg/drain/cordon_test.go
Labels: kind/bug, priority/backlog, area/kubectl, lgtm, size/L, release-note-none, approved, sig/cli, cncf-cla: yes, ok-to-test, triage/accepted

#134139 improve httpstream handshake error logging
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  staging/src/k8s.io/apimachinery/pkg/util/httpstream/httpstream_test.go
  staging/src/k8s.io/kubelet/pkg/cri/streaming/remotecommand/httpstream.go
Labels: lgtm, sig/api-machinery, size/L, kind/flake, release-note-none, approved, cncf-cla: yes, needs-priority, triage/accepted

#134318 disruption: remove unused pdb parameter from getExpectedScale method
  pkg/controller/disruption/disruption.go
  pkg/controller/disruption/disruption_test.go
Labels: kind/cleanup, lgtm, size/XS, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, ok-to-test, triage/accepted

#134340 DRA: ResourceSlice tracker cleanup
  staging/src/k8s.io/dynamic-resource-allocation/api/uniquestring.go
  staging/src/k8s.io/dynamic-resource-allocation/resourceslice/tracker/tracker.go
  staging/src/k8s.io/dynamic-resource-allocation/resourceslice/tracker/tracker_test.go
Labels: kind/cleanup, lgtm, sig/node, size/L, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#134352 Move metrics calculations to getList
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Labels: kind/cleanup, area/apiserver, lgtm, sig/api-machinery, size/S, release-note-none, approved, cncf-cla: yes, ok-to-test, needs-priority, needs-triage, sig/etcd

#134052 Rename CLE test files
  test/integration/apiserver/coordinatedleaderelection/cle_lease_test.go
  test/integration/apiserver/coordinatedleaderelection/cle_managed_lease_test.go
Labels: area/test, kind/cleanup, lgtm, size/XS, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, triage/accepted

#134379 Lock all mutable fields when printing gc node
  pkg/controller/garbagecollector/graph.go
Labels: kind/bug, lgtm, sig/api-machinery, release-note, size/XS, sig/apps, approved, cncf-cla: yes, needs-priority, needs-triage

#133394 check invariant metrics after e2e tests
  test/e2e/e2e_test.go
  test/e2e/invariants/OWNERS
  test/e2e/invariants/README.md
  test/e2e/invariants/metrics.go
  test/e2e/invariants/metrics_test.go
  test/e2e/suites.go
Labels: area/test, priority/important-soon, lgtm, release-note, size/L, kind/feature, approved, cncf-cla: yes, sig/testing, triage/accepted

#134283 [InPlacePodVerticalScaling] refactor and increase coverage for pod resize tests
  test/e2e/common/node/framework/podresize/resize.go
  test/e2e/common/node/pod_resize.go
Labels: area/test, priority/important-soon, kind/cleanup, lgtm, sig/node, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#133747 DRA: CRUD conformance tests
  go.mod
  test/e2e/dra/dra.go
  test/e2e/dra/utils/deploy.go
  test/e2e/framework/conformance/.import-restrictions
  test/e2e/framework/conformance/compare.go
  test/e2e/framework/conformance/compare_test.go
  test/e2e/framework/conformance/conformance.go
  test/e2e/framework/conformance/failures.go
  test/e2e/framework/conformance/informerevents.go
  test/e2e/framework/conformance/objectmatcher.go
  test/e2e/framework/gomega.go
  test/utils/format/format.go
  test/utils/format/format_test.go
Labels: area/test, kind/cleanup, lgtm, sig/node, size/XXL, release-note-none, approved, cncf-cla: yes, sig/testing, sig/architecture, area/conformance, needs-priority, area/e2e-test-framework, area/dependency, needs-triage, wg/device-management

#134390 Use lock-free for unguarded isHidden/isDeprecated fields
  staging/src/k8s.io/component-base/metrics/metric.go
Labels: kind/bug, lgtm, release-note, size/S, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, needs-triage

#134294 Fix for incorrect activation of preemptor pod waiting for deletion of victim, plus integration test verifying the fix
  pkg/scheduler/framework/preemption/preemption.go
  test/integration/scheduler/preemption/preemption_test.go
Labels: kind/bug, area/test, sig/scheduling, lgtm, release-note, size/L, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#134387 Use a dedicated delete channel in HPA test
  pkg/controller/podautoscaler/horizontal_test.go
Labels: lgtm, sig/autoscaling, size/XS, kind/flake, release-note-none, sig/apps, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#134262 Automated cherry pick of #132328: clean: use correct pod template
  test/integration/scheduler_perf/affinity/performance-config.yaml
Labels: area/test, kind/cleanup, lgtm, release-note, size/XS, kind/flake, cherry-pick-approved, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, needs-triage

#134360 Fix: Correct timestamp for node swap metrics
  pkg/kubelet/metrics/collectors/resource_metrics.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
Labels: kind/bug, area/kubelet, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#134398 correct metrics function comments
  pkg/kubelet/metrics/metrics.go
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_block.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/volume.go
  pkg/volume/volume_linux.go
Labels: area/kubelet, kind/cleanup, lgtm, sig/storage, sig/node, size/S, release-note-none, approved, cncf-cla: yes, priority/important-longterm, triage/accepted

#134400 Disable SchedulerAsyncAPICalls feature gate due to a known regression in v1.34
  pkg/features/kube_features.go
  pkg/scheduler/backend/api_dispatcher/api_dispatcher_test.go
  pkg/scheduler/backend/api_dispatcher/call_queue_test.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Labels: kind/bug, sig/scheduling, lgtm, release-note, size/M, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage

#134368 feat: add path normalization support to error matcher
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/error_matcher.go
  staging/src/k8s.io/apimachinery/pkg/util/validation/field/error_matcher_test.go
Labels: lgtm, sig/api-machinery, size/L, kind/api-change, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#134409 remove cpuSharesToCPUWeight that is not used any longer
  pkg/kubelet/cm/cgroup_manager_linux_test.go
  pkg/kubelet/cm/cgroup_v2_manager_linux.go
Labels: priority/backlog, area/kubelet, kind/cleanup, lgtm, sig/node, size/M, release-note-none, approved, cncf-cla: yes, triage/accepted

#134173 deflake e2e: ensure pod with sidecars restarts in correct order after node reboot
  test/e2e_node/container_lifecycle_test.go
Labels: area/test, priority/important-soon, lgtm, sig/node, size/XS, kind/flake, release-note-none, approved, cncf-cla: yes, sig/testing, triage/accepted

#134391 Add DV for uids in resourceClaim Status
  pkg/apis/resource/v1/zz_generated.validations.go
  pkg/apis/resource/v1beta1/zz_generated.validations.go
  pkg/apis/resource/v1beta2/zz_generated.validations.go
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  pkg/registry/resource/resourceclaim/declarative_validation_test.go
  staging/src/k8s.io/api/resource/v1/generated.proto
  staging/src/k8s.io/api/resource/v1/types.go
  staging/src/k8s.io/api/resource/v1beta1/generated.proto
  staging/src/k8s.io/api/resource/v1beta1/types.go
  staging/src/k8s.io/api/resource/v1beta2/generated.proto
  staging/src/k8s.io/api/resource/v1beta2/types.go
Labels: lgtm, size/L, kind/api-change, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#133876 make v1 resource version first priority in resource
  api/discovery/apis__resource.k8s.io__v1.json
  api/discovery/apis__resource.k8s.io__v1beta1.json
  api/discovery/apis__resource.k8s.io__v1beta2.json
  pkg/apis/resource/install/install.go
  pkg/controlplane/storageversionhashdata/data.go
  test/integration/etcd/data.go
Labels: area/test, lgtm, sig/api-machinery, release-note, size/M, kind/feature, approved, cncf-cla: yes, sig/testing, ok-to-test, needs-priority, triage/accepted, sig/etcd, wg/device-management

#134284 fix: update pkg/apis/resource validateDeviceRequest to short-circuit on the oneOf check
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
Labels: lgtm, size/M, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage, wg/device-management

#134399 add integration test for endpoint and endpointslice controller labels propagation and headless services
  test/integration/endpointslice/endpointslice_test.go
Labels: area/test, kind/documentation, kind/cleanup, lgtm, size/L, release-note-none, approved, cncf-cla: yes, sig/testing, needs-priority, needs-triage

#134449 refactor(apiextensions-apiserver): Make APIApproval controller context-aware
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/apiapproval/apiapproval_controller.go
Labels: lgtm, sig/api-machinery, size/S, kind/feature, release-note-none, approved, cncf-cla: yes, needs-priority, needs-triage

#133410 Wrapper for prom client's DeleteLabelValues()
  staging/src/k8s.io/component-base/metrics/gauge.go
  staging/src/k8s.io/component-base/metrics/gauge_test.go
Labels: lgtm, size/L, kind/feature, release-note-none, approved, cncf-cla: yes, sig/instrumentation, sig/architecture, needs-priority, triage/accepted

#133954 Automated cherry pick of #132906: service-ip-alloc: delay ip processing on service recreate
  pkg/registry/core/service/ipallocator/controller/repairip.go
  pkg/registry/core/service/ipallocator/controller/repairip_test.go
Labels: sig/network, lgtm, release-note, size/L, cherry-pick-approved, approved, cncf-cla: yes, needs-priority, kind/regression, needs-triage
